[2016-09-16 16:14] barbara-sfx commented on #2771
I know nothing, but I'm wondering why you aren't including widgets/ in any of your refs.

But in any case, the OP was pointing to a label, not a filename, so maybe that's what you are missing. So if you had a label .. _select-columns: at the top of your file,  then if I am reading the thread correctly, orange3:select-columns should work.

[2016-09-17 05:49] #2949 closed, assigned to nobody

[2016-09-17 07:18] tk0miya commented on #326
I updated `numref` role at #2963. It allows to refer sections if numbered.
Please try it out.
After reviewing, I will merge it.

[2016-09-17 07:18] tk0miya commented on #2850
I updated `numref` role at #2963. It allows to refer sections if numbered.
Please try it out.
After reviewing, I will merge it.

[2016-09-17 07:20] tk0miya commented on #2916
I updated `numref` role at #2963. It allows to use both numfigs and titles at the same time

[code]

Please try it out.
After reviewing, I will merge it.

[2016-09-17 07:23] usaturn opened #2964 "Indication of sphinx-quickstart is abnormal on windows"
I am troubled.
The environment is Windows 10.
I carry out sphinx-quickstart.
As for the part which should be colored, escape sequence is displayed.

![2016-09-17_15h58_08](https://cloud.githubusercontent.com/assets/1503215/18606753/94b04df6-7cf3-11e6-87d2-61e9e3de47e3.png)

[2016-09-17 09:13] #2931 closed, assigned to nobody

[2016-09-17 09:31] tk0miya commented on #2931
Fixed at 82c153f (stable).
It will be released as 1.4.7.

Thank you for reporting!

[2016-09-17 10:42] tk0miya commented on #2687
I fixed this in #2965.
Could you check it please?
If it's okay, I will merge it.

[2016-09-17 12:03] tk0miya commented on #2435
@lehmannro @shimizukawa
As a starting point, I posted a new PR #2960.
Could you review this please?

[2016-09-18 06:18] #2703 closed, assigned to RobRuana

[2016-09-18 07:12] fanyer commented on #1119
same problem here

[2016-09-18 08:29] #2550 closed, assigned to nobody

[2016-09-18 08:29] tk0miya commented on #2550
Fixed at 5f63aac.
Thank you for reporting and confirmation.

[2016-09-18 22:28] luc2 opened #2968 "language fr + show-inheritance = Constructor parameters bug"
I get this:

![bug](https://cloud.githubusercontent.com/assets/2410567/18619548/b45e9f7e-7dff-11e6-90b9-96cda5db73e4.png)

Instead of that:

![expected](https://cloud.githubusercontent.com/assets/2410567/18619550/bdff74fe-7dff-11e6-900c-d348522d4d30.png)

I tried on Windows and CentOS, same bug.

**How to reproduce it on CentOS:**

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-09-18 22:40] samuel-phan commented on #2968
Which version of Sphinx do you use?

[2016-09-18 22:52] luc2 commented on #2968
[code]

[2016-09-19 06:25] ajdapretnar commented on #2771
@barbara-sfx None of these worked. :disappointed:
I wasn't including widgets/ in my refs since my core documentation was built this way (e.g. ../data/selectcolumns worked internally completely fine). I guess that's the magic of '..'.

Also I wasn't quite sure where should I add the label - to the top of the original file or in the file where the reference was made. I tried both and it didn't work.

[2016-09-19 11:04] nikicc commented on #2039
+1. This would come really handy for those of us who use autodocs.

[2016-09-19 12:49] TimKam commented on #2891
@tk0miya Is anybody working on a fix for this?
If not, I might have a look.

[2016-09-20 14:52] birkenfeld opened #2969 "inheritance_diagram: allow inverse arrow direction"
Currently arrows go from parent class to base class; this is usually the other way around and there should be an option to allow this.

[2016-09-21 01:45] #326 closed, assigned to tk0miya

[2016-09-21 01:46] #2916 closed, assigned to nobody

[2016-09-21 01:46] tk0miya commented on #2850
Now I merged #2963 to master.
This might be resolved.

[2016-09-21 01:46] #2850 closed, assigned to nobody

[2016-09-21 01:48] #2877 closed, assigned to nobody

[2016-09-21 02:16] #2687 closed, assigned to nobody

[2016-09-21 07:05] tk0miya commented on #2891
@TimKam Maybe nobody works about this.
And I don't have enough time for Sphinx.

It would be great if you could help me :-)

[2016-09-21 07:08] tk0miya commented on #2771
@ajdapretnar
This issue is already closed. and it seems your situation is not related with this.
Could you file a new issue please?

If possible, it would be nice if you have minimal reproducible projects.
I will check it later.

[2016-09-21 07:13] ajdapretnar commented on #2771
I will open a new issue. Sorry and thanks for the reply.

[2016-09-21 07:34] ajdapretnar opened #2970 "Intersphinx doesn't recognize external projects' plain .rst"
I am trying to use intersphinx to link to our core project. The core project has documentation for both GUI and scripting. I'm trying to link to documentation for GUI, which is in plain .rst.

Here's the structure:

[code]

So in my `sisterdocumentation.rst` I'm trying to point to `somedocumentation.rst`. How do I do it?

I've set my conf.py to include:

[code]

Sphinx build doesn't complain about

[2016-09-21 08:19] alfred82santa commented on #2570
Hi, I had the same problem. I solved it creating section with title, and removing title after toctree creation.

It creates a section and title nodes:
https://github.com/alfred82santa/dirty-models-sphinx/blob/master/dirty_models_sphinx/__init__.py#L57

But, they will be removed with 'doctree-read' event:
https://github.com/alfred82santa/dirty-models-sphinx/blob/master/dirty_models_sphinx/__init__.

[2016-09-21 08:57] tk0miya commented on #2970
Thank you for filing :-)

I investigated. objects.inv also includes docnames. So you can refer them by `:doc:` role.
`:ref:` role is used to refer labels. so it could not find docnames.

Thanks,

[2016-09-21 08:57] tk0miya commented on #2970
MEMO: It was implmented at #1909

[2016-09-21 09:01] tk0miya commented on #2969
Do you have any opinion to the name of option?
I will update the extension later.

[2016-09-21 09:09] ajdapretnar commented on #2970
Thanks for the quick reply @tk0miya! However, I still don't know well how to link properly.
Now I've tried many combinations of:

[code]

and none seem to work.
Sphinx is still complaining it cannot find this file. If you can please tell me what I'm doing wrong, I'd appreciate it very much. It would be a life saver for our project!

[2016-09-21 16:18] xoorath commented on #2954
I'm not sure what you're trying to suggest I look at in there, @shibukawa. I don't see anything related to anchors or internal links in that document. Maybe I'm missing it, or not describing the suggestion very well?

[2016-09-22 13:02] pchampin opened #2972 "Order of occurences in index is not consistent with toctree"
Consider the following toctree:

[code]

All files introduction.rst, argument.rst and conclusion.rst contain an index entry for the term "test".

The index will look like:

[code]

with three links (one on "test" itself, and one on each number).

**I would expect** that the order of the links correspond to the "normal" flow of the document, that is:
- the link on "test" points to introduction.rst

[2016-09-22 14:08] mgielda opened #2973 "autosectionlabel extension generates warnings"
Hi! The autosectionlabel extension is really awesome and we would like to use it extensively. However, it typically generates quite a number of warnings in larger documentations when sections have names like "prerequisites" or "example" several times throughout the document.

In https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/autosectionlabel.py#L26 a warning is issued on finding a dup

[2016-09-23 06:39] shimizukawa commented on #2435
commented at #2960. Thanks for your work!

[2016-09-23 23:23] mpacer opened #2974 "If you search for "url", you get 400 Bad Request"
It looks like something is happening when parsing the json you get back from readthedocs because it's transforming

http://www.sphinx-doc.org/en/stable/search.html?q=url

to http://www.sphinx-doc.org/en/stable/%3Cem%3Eurl%3C/em%3E=%20%(toc)s

which seems like something is wrong…

[2016-09-25 23:24] ncarandini opened #2975 "Change make.bat to hide undesired help message"
When executing the make batch command, a fake call to Sphinx-build is made to check for Sphinx installation. This produce an undesired help message:

[code]

This change to the `make.bat` file will solve the issue:

[code]

please note the **_> nul 2> nul_** change, that will redirect also **_stdout_** to **_nul_**.

[2016-09-26 11:12] NormanDunbar opened #2976 "Make latexpdf fails with Embarcadero supplied make utility."
I'm using:
- Sphinx version 1.4.6
- Python 3.5.1 (32 bit)
- MikTek 2.9

all on Windows 7 64 bit.

I recently installed the Free C++ Compiler, version 10.1 as given away free by Embarcadero. This includes a version of the "make" utility. With the latter on my path, attempting to run `make latexpdf` - obviously, make here is `make.bat` and not the make utility itself, fails with the following:

[cod

[2016-09-26 12:44] diego-plan9 opened #2977 "sphinx-build: usage of `-D` with list of tuples"
Hello,

I'm wondering if it is possible to use the `-D setting=value` command line argument of `sphinx-build` to override a setting that is defined as a _list of tuples_, for example the `man_pages` of the manual page builder?

I have started trying a naive approach (passing a list separated by commands, as per the documentation for regular lists introduced on 1.3):

[code]

And went on trying dif

[2016-09-27 02:39] tk0miya commented on #2976
Unfortunately Sphinx expects GNU make to build documents.
The generated Makefiles uses some functions provided by GNU make.

https://www.gnu.org/software/make/manual/html_node/Wildcard-Function.html

Could you use GNU make instead?

[2016-09-27 02:41] tk0miya commented on #2975
@shimizukawa Could you check this please?

[2016-09-27 04:07] tk0miya commented on #2974
In my local environment, I can search sphinx-doc with "url". I think this is a bug of readthedocs. It seems they overrides search features by their custom javascripts.
Could you report this to their project?

[2016-09-27 09:17] NormanDunbar commented on #2976
Good Morning.

Thanks for your quick response. I am unable to use GNU make, unfortunately, on this PC, however, I can workaround the problem by  writing a batch file to run something like the following:

[code]

My docs are also on readthedocs.io so I can easily get a PDF generated there if necessary.

I am happy to close this issue.

Cheers,
Norm.

[2016-09-27 09:17] #2976 closed, assigned to nobody

[2016-09-27 12:02] tk0miya commented on #2977
AFAIK Sphinx could not accept list of tuples through `-D` option.
Sphinx only supports string, list and integer types.
https://github.com/sphinx-doc/sphinx/blob/1.4.6/sphinx/config.py#L354

We need to improve this conversion to support list of tuples.

[2016-09-27 13:11] diego-plan9 commented on #2977
Thanks for the quick feedback, tk0miya! I'm ok with the alternative option of modifying the settings directly on `conf.py` in the meantime, but thanks for the information and looking into the issue.

[2016-09-27 16:54] barbara-sfx opened #2978 "Problem with ..only:: and heading levels"
I have this in conf.py (I was planning to delete the tags.remove when the feature is released):

tags.add('show_muted')

tags.remove('show_muted')

If I have the ..only directive above an h2, the first label following the end of the ..only is not found.  If I remove the h2 indicator, everything works as expected.

Attached are files with and without the h2 indicator to illustrate the problem. (cou

[2016-09-28 04:23] tk0miya commented on #2978
Thank you for reporting.
I close this because it seems this is duplicated with #2306.

[2016-09-28 04:23] #2978 closed, assigned to nobody

[2016-09-28 05:53] tk0miya commented on #2973
This is same behavior as you defined labels::

[code]

I feel prefixing is much simpler.

[2016-09-28 08:00] jkrueger1 commented on #2969
The arrows for the class inheritance should follow the UML definitions, therefore I propose something
like

inheritance_uml_inheritance

The default value should be False, to not break existing usages. To get a UML conform drawing of the arrows I use the following options:

inheritance_edge_attrs = {
    'arrowsize': 1.0,
    'arrowtail': '"empty"',
    'arrowhead': '"none"',
    'dir': '"both"',

[2016-09-28 09:33] TimKam commented on #2891
@tk0miya Could you have a look at my PR? :-)

[2016-09-28 10:10] christinaweyher commented on #2832
+1

(Also especially regarding the the table header \textsf )

[2016-09-28 15:24] #2968 closed, assigned to nobody

[2016-09-28 15:40] tk0miya commented on #2968
Thank you for reporting.
Fixed at    83d6ec1.

[2016-09-28 20:15] AWhetter opened #2979 "Sphinx and Napoleon do not link property types"
There's no official way of documenting the type of a property currently. Using `:var:` and `:vartype:` is for attributes only. `:type:` is for parameters although I've seen it used to document property types also in the past.

The example for Google Style docstrings shows that the type of a property is documented with `"""type: Summary."""`. This does not get linked properly with intersphinx thoug

[2016-09-29 00:25] RobRuana commented on #2979
Distinguishing a property from an attribute in documentation has definitely been an issue. I don't see a huge problem with using `:var:` and `:vartype:` for properties, because from an external perspective they have the same usage.

An attribute could be refactored into a property, and the docs wouldn't have to change, right? I may be missing something.

[2016-09-29 01:39] AWhetter commented on #2979
An attribute could definitely be refactored into a property. In fact I think it is weird to have them shown differently in the documentation when they have the same usage, as you say.

If we did that and used `:vartype:` for property types then I think you're right the the docs wouldn't need to change. I say `:vartype:` only because I would prefer to keep the docstrings for properties inside the p

[2016-09-29 18:22] RobRuana commented on #2979
Napoleon supports documenting attributes in the class docstring like so:

[code]

or on the property directly like so:

[code]

Is this what you are looking for? Or do you have any suggestions for changes or improvements to the current style?

[2016-09-29 19:29] AWhetter commented on #2979
I think that style is great.
It's maybe a little annoying to have the property type take up space in the summary line but I think it would be worse to need a separate header just to define the type. So I say keep it as is.

[2016-09-29 23:40] psifertex opened #2981 "autosummary creates files with module in name"
I'm using autosummary to automatically generate `.rst` files but they're generating with the name of the module plus the class when I'd prefer just the name of the class. See http://api.binary.ninja/ (way too many duplicate details listing the module in both the ToC and main index).

My config is: https://github.com/Vector35/binaryninja-api/blob/master/api-docs/source/conf.py

Any help would be ap

[2016-09-30 02:01] tk0miya opened #2982 "Sphinx-1.4.7 release plan"
Hi developers,

I'm going to release 1.4.7 in the end of next week.
This is tasks for 1.4.7:
https://github.com/sphinx-doc/sphinx/milestones/1.4.7

Regards,

[2016-09-30 02:28] tk0miya commented on #2872
It't time to 1.5a2, but unfortunately there are no updates from 1.5a1.
So I determined to postpone or cancel 1.5a2 release.

At this moment, I can't say the effect to due date of beta and final release.
But we still have many issues for 1.5, so we have to discuss about the date.
Thanks,

[2016-09-30 02:53] tk0miya opened #2983 "rename epub3_* config variables to epub_*"
Since 1.5, epub3 builder becomes as default "epub" builder.
To be simple, `epub3_*` config variables should be rename to `epub_` suffix.

[2016-09-30 03:45] hhsprings opened #2984 "Invalid html at themes/basic/genindex-single.html"
[genindex-single.html#L39](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/genindex-single.html#L39):

[code]

[2016-09-30 04:23] hhsprings opened #2985 "epub 3 validation error regarding to entity reference (this issue is also of html5 builder)"
For now, [EpubCheck 4.0.1](https://github.com/IDPF/epubcheck/releases/tag/v4.0.1) complains sphinx epub(3) builder's output is invalid for entity references (even if [PR#2805](https://github.com/sphinx-doc/sphinx/pull/2805) was applied):

Currently, in the sphinx code tree, there are many embeded entity references (in locales and themes), so, we can take two approaches:
1.  change all embeded enti

[2016-09-30 04:40] hhsprings opened #2986 "themes/basic/defindex.html should be changed for html5 friendly"
[themes/basic/defindex.html](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/defindex.html#L21) uses `align` attribute for `table` and `width` attribute for `td`, but these are invalid as html5.

[2016-09-30 04:58] hhsprings opened #2987 "epub 3 validation error `Error while parsing file 'element "span" not allowed here`"
In CPython document, there is following `.. index::` usage:

[code]

Sphinx builder writes (x)html like this:

[code]

This is invalid as html5, so [EpubCheck 4.0.1](https://github.com/IDPF/epubcheck/releases/tag/v4.0.1) complains it is error:

[2016-09-30 05:29] hhsprings commented on #2985
update:

[code]

[2016-09-30 12:01] HFriberg opened #2988 "Linkcheck url to linkedin.com"
The following is a valid link:
https://www.linkedin.com/company/mosek-aps
But I get "WARNING: broken link" from sphinx/builders/linkcheck.py?

Note:
W3C also has issues with this page as seen by https://validator.w3.org/checklink?uri=https://www.linkedin.com/company/mosek-aps which returns::
    Error: 403 Forbidden by robots.txt

Nevertheless, W3C use the user-agent "W3C-checklink", while Sphinx

[2016-09-30 12:55] tk0miya commented on #2987
Thank you for reporting.
I'll take a look.

memo: following is reproducible example:

[code]

[2016-09-30 14:40] tk0miya commented on #2987
Note: This bug comes from docutils:

[code]

The span element is generated by `HTMLTranslator.starttag()`.
We need to output hyperlink target manually before calling starttag.

[2016-09-30 15:17] #2983 closed, assigned to nobody

[2016-09-30 17:32] ThomasWaldmann opened #2989 "search results incomplete"
See there: https://github.com/borgbackup/borg/issues/1485

Note: there is a bounty for solving this.

[2016-09-30 17:53] hhsprings opened #2990 "linkcheck.py is broken?"
Regarding to #2988: in the first place, linkcheck.py is broken now?

There are at least two problems.
1. for Python 3.x (for me, it is 3.5.2), linkcheck.py is likely to have a unicode problem.
2. for both 3.x and 2.7, [#L167](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/linkcheck.py#L167) may raise `UnboundLocalError` (`local variable 'code' referenced before assignment`).

For

[2016-09-30 19:27] diego-plan9 commented on #2977
After looking a bit more into the issue, I'm wondering if a solution based on [ast.literal_eval()](https://docs.python.org/2/library/ast.html#ast.literal_eval) would be acceptable?

In particular, I'm playing with the idea of replacing the [`value.split(',')`](https://github.com/sphinx-doc/sphinx/blob/1.4.6/sphinx/config.py#L364) inside `Config.convert_overrides()`, which in turn would allow the u

[2016-09-30 20:25] hhsprings commented on #2990
- TypeError (`Can't convert 'bytes' object to str implicitly`): at [#L65](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/linkcheck.py#L65) (called from [#L133](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/linkcheck.py#L133)). (type of `chunk`  is bytes.)
- Using `response.iter_content()` is likely not to behave as your intent in Python 3.5.

[2016-09-30 21:06] martin-ueding opened #2991 "Meta data is only read when it is in front of the title"
I found that the document meta data is only interpreted correctly as such when it appears in front of the title. This leads me to the situation where I have an abstract appearing in front of the title or having it not recognized.

Please take a look at my [Stack Overflow question](https://stackoverflow.com/questions/39799161/restructuredtext-abstract-appears-in-front-of-title-otherwise-not-recogni

[2016-10-01 01:37] hhsprings commented on #2990
I got it.
Need to be changed: `response.iter_content(decode_unicode=True)`.

[2016-10-01 01:53] hhsprings commented on #2990
<s>
- from `https://packaging.python.org/distributing/`
- to     `https://packaging.python.org/en/latest/distributing/`
  </s>
- <s>When requesting the same url multiple times</s>somtimes:
  - response.history == []
  - status code: 200

[2016-10-01 07:06] hhsprings commented on #2988
memo:
- requests.get without user-agent: 999 (Request Denied)
- requests.get with user-agent: 200 OK
- session.get: 200 OK (session has already user-agent header)
- session.head: 404

[2016-10-01 07:22] liminkai520520 commented on #2920
use this .. tabularcolumns:: directive

[2016-10-01 07:27] hhsprings commented on #2988
workaround:

[code]

[2016-10-01 07:31] liminkai520520 opened #2993 "pdf font size and color"
now I use sphinx to generate pdf ,I have some problems I do not know how to change the charper font size and color? how to change the conf.py?  could you give me an example?

[2016-10-01 07:36] liminkai520520 opened #2994 "logo is not in the header"
In sphinx to generate pdf ,The logo can be set in the header？？？ I want to set logo in the header

[2016-10-01 09:23] hhsprings commented on #2988
I noticed similar but different problem. [Practical Programming in Tcl and Tk](http://www.beedub.com/book/) is surely valid link, but linkcheck.py reports it is 403 (`403 Client Error: Forbidden for url:`).

[2016-10-01 09:36] hhsprings commented on #2988
[Practical Programming in Tcl and Tk](http://www.beedub.com/book/) respond with 403 if user-agent is set, and if not set, 200 OK...?? んなアホな。If it is true, why normal browser can browse?

workaround (updated):

[code]

[2016-10-01 10:01] hhsprings commented on #2988
In CPython document, even if above workarounds (and #2992) were applied followings are reported as `broken`:

[code]

In these, valid links are included. (for example https://www.microsoft.com/com/.)

[2016-10-01 10:53] hhsprings opened #2995 "latex_paper_size in Makefile for sphinx 1.5"
In sphinx 1.5, how can we write `latex_elements['papersize']` in Makefile?

In CPython documentation:

[code]

[2016-10-01 13:37] tk0miya commented on #2982
Just released. Enjoy Sphinx!
https://pypi.python.org/pypi/Sphinx

[2016-10-01 13:37] #2982 closed, assigned to tk0miya

[2016-10-01 14:01] jfbu commented on #2832
side note, in fact on master branch since b3d8961c, it is not `\textsf{` but `\sphinxstylethead{` hence this can be customized from the `'preamble'` key. Thus this sub-issue may be already closed (on master branch).

[2016-10-01 14:17] untitaker opened #2996 "Latest sphinx version crashes with ImportError"
[code]

This is version 1.4.7 uploaded one hour ago, installed from PyPI. Installing from git works fine.

[2016-10-01 14:22] quentinus95 commented on #2996
Same issue here.

"Error: The utils module cannot be found. Did you install Sphinx and its dependencies correctly?"

[2016-10-01 14:36] quentinus95 commented on #2996
Sphinx official website is describing the 1.4.8 as current version, maybe only the tag is missing on the repository ?

[2016-10-01 15:30] tk0miya commented on #2996
Sorry for inconvenience. It might be a bug of wheel package of Sphinx-1.4.7.
I will repackage it later. Please wait a while.

[2016-10-01 15:31] jfbu commented on #2810
This is a LaTeX problem. I tried it with 2012 TeX installation and it worked, but it fails with TL2013 and TL2016. Possibly the Italian language module of Babel changed at some point. Its current documentation contains:

[code]

As Sphinx does not insert this `\setactivedoublequote`, compilation fails with error:

`Package babel Error: I cannot switch `"' on or off--not a shorthand.`

Thus, to sum

[2016-10-01 15:46] tk0miya commented on #2996
I just released new package as v1.4.8
Please try it out.
Sorry for inconvenience and Thank you for quick reporting.
Thanks,

[2016-10-01 15:46] #2996 closed, assigned to nobody

[2016-10-01 15:48] untitaker commented on #2996
No problem, thanks for the quick response!

On Sat, Oct 01, 2016 at 08:46:31AM -0700, Takeshi KOMIYA wrote:

[2016-10-01 16:19] quentinus95 commented on #2996
Thx !

[2016-10-01 17:17] tohojo opened #2998 "Search index fails if index names start with -"
Bug #2902 still exists for search index items that start with a dash. Which is kinda unfortunate when one tries to document command line arguments by using `.. option:: --my-parameter` :)

[2016-10-01 18:29] lsaffre commented on #2336
What a pity, this problem is still open in Sphinx 1.5a2. Is there any problem with my patch?

[2016-10-01 18:53] Jenselme opened #2999 "image:: causes sphinx to raise TypeError: _warn_node() got an unexpected keyword argument 'type'"
While building the documentation for [this project](https://github.com/crossbario/txaio) with sphinx 1.4.8 (`cd docs && make html`) I get this output:

[code]

It comes from the "image" links declared like:

[code]

If I remove this link, the doc builds as expected.

Here is the full log:

[code]

[2016-10-01 19:27] lsaffre commented on #2336
Here is a slightly modified patch which fixes a failure in the Sphinx test suite caused by my first patch.

[20160218_autosummary.txt](https://github.com/sphinx-doc/sphinx/files/504606/20160218_autosummary.txt)

[2016-10-01 22:49] tk0miya commented on #2999
It looks Sphinx.environment.warn_node is customized on your conf.py.
It's not a bug of Sphinx.
In detail, please refer #2429.

Thanks,

[2016-10-01 22:49] #2999 closed, assigned to nobody

[2016-10-02 00:25] hhsprings opened #3000 "html anchor parts should be encoded (:option:`-?`, etc) - html5, epub 3 validation issue"
using/cmdline.rst:

[code]

whatsnew/2.5.rst:

[code]

In this example `make epub` produces:

[code]

This is invalid as html5/epub3, so [EpubCheck 4.0.1](https://github.com/IDPF/epubcheck/releases/tag/v4.0.1) complains it is error:

[code]

In this case, `?` should be encoded to `%63`(etc.).

[2016-10-02 01:19] hhsprings opened #3001 "incremental build issue (especially of epub)"
1. re-running `make epub` after removing generated epub doesn't re-generate epub.
2. re-running `make epub` after editing rst generates invalid epub. EPubCheck complains:

[code]

[2016-10-02 01:33] hhsprings opened #3002 "epub 3 validation error `'Duplicate ID 'idN''`, with sphinx i18n"
rst:

[code]

If we don't use locale, it's okey:

[code]

But when we use locale, sphinx i18n generates like this:

[code]

[EpubCheck 4.0.1](https://github.com/IDPF/epubcheck/releases/tag/v4.0.1) complains it is error:

[code]

[2016-10-02 06:37] itfanr opened #3003 "literal blocks in footnotes are not supported by Latex"
During converting rst to tex, I got the error.

https://github.com/gotgit/gotgithub/issues/24

[2016-10-02 07:28] #2810 closed, assigned to nobody

[2016-10-02 07:52] jfbu commented on #2810
@Znni thanks for reporting the issue. The Sphinx code was adapted to older version of the Italian module for LaTeX Babel system. Around TeXLive 2013, the Italian module changed and Sphinx code became invalid due to behaviour of Babel `\shorthandoff` which rather than silently failing aborts LaTeX run with an error.

[2016-10-02 08:08] Jenselme commented on #2999
Thanks for the quick answer and the link to the solution.

[2016-10-02 08:21] jfbu commented on #3003
This issue is part of #2616.

Memo: currently already Sphinx uses package LaTeX `footnote.sty` but not its `footnote` environment which allows verbatim material. However `footnote.sty` is old and has bugs (incompatibility with `xcolor` and unawareness of `hyperref` in particular). Package [footnotehyper](http://www.ctan.org/pkg/footnotehyper) fixes some such issues. It could be shipped with Sphinx

[2016-10-02 09:40] hhsprings opened #3004 "html output W3C Validation issue ('Bad value “top” for attribute “rel” on element “link”)"
themes/basic/layout.html has wrong `link rel` usage:

[code]

The value `top` and `up` is invalid for `rel` attribute. Please see [W3CSchools](http://www.w3schools.com/tags/att_link_rel.asp), etc.

[2016-10-02 10:17] hhsprings commented on #3004
W3C Validation also reports:

[code]

Maybe it means verbose, so we can remove it simply, I think.

[2016-10-02 13:07] hhsprings commented on #3002
Note.
The fact that `[1]_` appears twice is not essential. <s>For example, genindex-all will always have duplication id=`記号` (`msdid: Symbols`) if we use i18n.</s>

[2016-10-02 22:14] jfbu commented on #3003
@tk0miya I have a branch at https://github.com/jfbu/sphinx/tree/improvefootnotes which now allows code-blocks within footnotes. I need to do some testing, it is not mature enough for a PR. Initially the branch was about improving footnotes inside table. It was stale for some months, now I have renamed and revived it. From the point of view of hyperlinks, the problem is that LaTeX's hyperref does n

[2016-10-03 01:08] hhsprings opened #3006 "Improve genindex for CJK (`Symbols` issue)"
When using 18n, genindex has two problems.

１. id duplication for `記号` (`Symbols` in English), so [EpubCheck 4.0.1](https://github.com/IDPF/epubcheck/releases/tag/v4.0.1) reports it as error:

[code]

２.  If `object` is translated to `オブジェクト`, for now it would be categorized as `_('Symbols')`, but it is not symbol.

Please improve [keyfunc2](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/

[2016-10-03 02:32] hhsprings commented on #3006
Note:
`Non Alphabet` is invalid as `id`:

[code]

so #3000 should be applied to this case.

[2016-10-03 07:06] MaximeBaudette opened #3007 "Prevent sub-section nesting when using sub-toctrees"
Trying to build a documents using subtrees, I faced an issue when aggregating the toctrees.

I originally wanted to build the documentation with the following structure:
- `index.rst`
- `chap1.rst` (with chapter heading and introductory sections)
  - `chap1-1.rst` (another section)
  - `chap1-2.rst` (another section)
- `chap2.rst` (with chapter heading and introductory sections)
  - `chap2-1.rst`

[2016-10-03 14:26] tk0miya commented on #2998
I can't reproduce the bug. Could you tell me in detail?

[code]

[2016-10-03 14:28] tk0miya commented on #2995
Please use `-D latex_elements.papersize` instead.
Thanks,

[2016-10-03 14:28] #2995 closed, assigned to nobody

[2016-10-03 14:51] tohojo commented on #2998
Takeshi KOMIYA notifications@github.com writes:

Hmm, not sure what's missing when compared with my repo. You're welcome
to try that:

git clone https://github.com/tohojo/flent.git
cd flent/doc
make html

-Toke

[2016-10-03 16:57] elisawyer commented on #2920
Thanks, I am using the .. tabular columns:: directive. It appears to me
that it works fine for cell content up to specific widths and that text
wrapping breaks in two types of cases, one for long strings of
non-hyphenated text and one for long blocks of text. If you prefer, I can
take a screen capture and send it to you within a couple of days.

On Sat, Oct 1, 2016 at 12:22 AM, liminkai520520 noti

[2016-10-04 02:02] tk0miya commented on #2988
Hmm... linkedin returns 404 to our HEAD request. I feel that is very strange. but, in fact, some HTTP servers does not support HEAD request...

[code]

[2016-10-04 02:54] tk0miya commented on #2988
it seems linkedin publishes invalid cookies.
If we use requests.session, even GET request fails. How much they hates HEAD requests...

[code]

[code]

[2016-10-04 03:48] #2988 closed, assigned to nobody

[2016-10-04 03:51] tk0miya commented on #2988
I fixed this at ce7fea9.
It will be fixed at next major release (v1.5).

With the fix, it seems @hhsprings 's problem is also fixed.
Could you check this please?
If not, please file a new issue.

Thank you for reporting

[2016-10-04 04:11] hhsprings commented on #2988
Thanks, I'll check it. Please wait.

[2016-10-04 04:40] hhsprings commented on #2988
With merging my #2992 to your fix, newer linkcheck reports these:
- [x] http://csrc.nist.gov/publications/fips/fips180-2/fips180-2.pdf: `('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',))`
- [x] http://greenteapress.com/semaphores/downey08semaphores.pdf: `404 Client Error: Not Found for url: http://greenteapress.com/semaphores/downey08semaphores.pdf`
- [x

[2016-10-04 05:31] hhsprings opened #3008 "(Low Prio)linkcheck to website with self-signed certificate"
#2988 will be fiexed except for website with self-signed certificate.

Though this case is not good, but I think it is not `broken`. My proposal is to categorize this case as `not secure`, etc.

[2016-10-04 05:38] tk0miya commented on #2990
I reproduce the unicode problem with `linkcheck_anchors` option.
Indeed, `response.iter_content(decode_unicode=True)` resolves it.

But, on the other hand, I could not reproduce `UnboundLocalError` problem.
Could you show me an example URLs?

[2016-10-04 05:43] hhsprings commented on #2990
Please clone [CPython repo (mirror)](https://github.com/python/cpython), and run `make linkcheck`. This will reproduce this case immediately.

[2016-10-04 05:45] hhsprings commented on #2990
Ah, wait, wait. Your previous fix might fix this case...I'll try it.

[2016-10-04 05:54] hhsprings commented on #2990
YES. `UnboundLocalError` problem had gone :)

I'll rebase and revert this fix from #2992 .

[2016-10-04 08:22] fbauzac commented on #956
I'm hitting a problem (using sphinx-build 1.4.6), maybe the same:

[code]

[2016-10-05 00:17] KhaledTo commented on #2915
This seems to be fixed in v1.5a2. At least i couldn't reproduce this issue.

[2016-10-05 04:34] b1naryth1ef commented on #2549
Bump, also having this issue.

[2016-10-05 06:50] RobertoBagnara opened #3009 "Bad rendering of parsed-literals in LaTeX: regression introduced in Sphinx 1.4.4 and still present"
[bug.zip](https://github.com/sphinx-doc/sphinx/files/510217/bug.zip)

$ unzip bug.zip
$ cd bug
$ make latexpdf
$ evince ./_build/latex/bug.pdf

With Sphinx 1.4.x for x = 4, 5, 6, 7, 8, you will see in the last page of the created PDF

  command -opt1=  ARG1 -opt2=  ARG2/@MOD@.ext -opt3

where there are spurious spaces after the two equal signs; moreover, ARG1 and ARG2 are not in italics as they sh

[2016-10-05 07:52] jfbu commented on #3009
You can reproduce the problem directly with this LaTeX file:

[code]

Compare rendering of first and second line:

![capture d ecran 2016-10-05 a 09 45 53](https://cloud.githubusercontent.com/assets/2589111/19105119/9f2ea110-8ae0-11e6-98d9-45577e338931.png)

Starting with Sphinx 1.4.4, there is a `\scantokens` used inside `\code` (aka `\sphinxcode` macro). Besides Sphinx uses the `alltt` for parse

[2016-10-05 09:02] liminkai520520 commented on #2305
please use csv-tables

[2016-10-05 09:05] liminkai520520 commented on #2109
How to deal with this question??

[2016-10-05 09:14] jfbu commented on #3009
Commit https://github.com/jfbu/sphinx/commit/a55b51f18b800102abf31a8bcb2b90a0544be213 on jfbu/sphinx was based on stable, commit https://github.com/jfbu/sphinx/commit/7af5f5d79a5ae4d59dc3e09bf389f7e542be3405 is based on master. (and moved the `\@noligs` location). This is PR https://github.com/sphinx-doc/sphinx/pull/3010.

[2016-10-05 09:23] liminkai520520 commented on #1986
and how to change the font(such as  chapter,index,contents ) size and color??

[2016-10-05 09:30] liminkai520520 commented on #1986
@tk0miya  how to change the font(such as chapter,index,contents ) size and color??

[2016-10-05 10:45] jfbu commented on #3009
The explanation for LaTeX-experts: `\scantokens` works by simulating writing to a file and parsing again. When TeX writes verbatim to a file something like `\write\outstream{\the\toks0}`, the control sequences such as  `\emph{foo}` in `\toks0` are written `\emph<space>{foo}`. Then `\scantokens` parses, but the `alltt` environment has made the space "active". Thus `\emph` does not see the `{foo}`

[2016-10-05 11:50] wheerd commented on #1059
There is an extension that does pretty much that: [sphinx-autodoc-typehints](https://github.com/agronholm/sphinx-autodoc-typehints)

[2016-10-05 13:59] jfbu commented on #1986
In my short investigation:
1. the `\ChNameVar` and `\ChNumVar` decides how the word "chapter" and its numbered are rendered on the first page of the chapter.
2. the `\ChTitleVar` decides the chapter name itself. But its use in `sphinx.sty`:

[code]

   is completely buggy as `\Huge` is without effect, being served as argument of `\textrm`.
   Furthermore I have tested that changes in `\ChNumVar` "

[2016-10-05 16:26] gitbenji opened #3011 "toctree depth comparison - Sphinx 1.4.8 - Python 3.5"
Received error when running:
`sphinx-build app/docs/source app/docs/build/html`

Here's the full traceback:

[code]

May have to do with Python3.5 and interpreting the input of maxdepth as a string?

[2016-10-05 17:53] jfbu opened #3012 "undefined label error since Sphinx 1.4.7 with numref to a code-block caption"
Consider these

[code]

with `numfig=True` in `conf.py`.

Then

[code]

error arises on `make html` (or  `make latex`).

Does not happen with Sphinx 1.4.6. First bad commit is 82c153ffd2965fd56f1e51fd4b960014c5e4621b which fixed https://github.com/sphinx-doc/sphinx/issues/2931

[2016-10-05 17:55] jfbu commented on #3012
I forgot to attach the zip archive of the test project.
[testnumref.zip](https://github.com/sphinx-doc/sphinx/files/511943/testnumref.zip)

[2016-10-06 03:16] tk0miya commented on #3011
The string formatted `maxdepth` comes from sphinx_rtd_theme. But sphinx expects the value is integer.

[code]

I think this is a bug of sphinx_rtd_theme. And the `navigation_depth` option is not released, in develop feature. Please report this to their team.

[2016-10-06 03:16] #3011 closed, assigned to nobody

[2016-10-06 03:29] tk0miya commented on #3008
Memo: https://quimby.gnus.org/notes/BABYL

[2016-10-06 03:46] #3008 closed, assigned to nobody

[2016-10-06 03:50] tk0miya commented on #2109
we; Sphinx maintainers does not know about Chinese (language, TeX environment and so on).
So we always need all your help.

[2016-10-06 07:10] hhsprings opened #3013 "should be https friendly"
It is potentially the case. Please see [SSL site, but has warnings](stackoverflow.com/questions/7382747/ssl-site-but-has-warnings), etc.

If the site is supporting both http:// and https://, the link should be replaced with 'https://' (even if it is in comment, I think.), or should be replaced with schemeless url (`//www.w3.org/1999/xhtml`, etc.)

I don't know wihich it is the case or not in embed

[2016-10-06 09:59] #2990 closed, assigned to nobody

[2016-10-06 10:01] wheerd opened #3014 "New hook to customize base list"
I would like to change the formatting of the base list for classes. Specifially I would like to provide information about parameterized types (e.g. `Dict[str, int`]). See agronholm/sphinx-autodoc-typehints#8 for how I want to use it.

For that I need a new hook/event similar to the existing `autodoc-process-signature`. I propose the signature `autodoc-process-bases(app, what, name, obj, options, f

[2016-10-06 10:30] tk0miya commented on #3012
Sphinx usually uses label to refer sections, tables, figures, code-blocks and so on.
But e2a921ff allows to refer code-blocks using its caption instead. That is inconsistent feature for cross reference feature of Sphinx.
Before fixing #2931, I and @shimizukawa discussed about it. And, finally he admitted his mistake in e2a921ff. And then I disabled it on #2931.

Could you use instead label to refe

[2016-10-06 11:26] tk0miya commented on #3004
Memo:
Indeed, `top` and `up` is no longer needed in HTML specification.

| Tag | HTML4 | HTML5 |
| --- | --- | --- |
| author | X | O |
| index | O | X |
| search | X | O |
| copyright | O | O (basically uses `license` instead) |
| top | X | X |
| up | X | X |
| next | O | O |
| prev | O | O |

refs:
- https://www.w3.org/TR/html4/types.html#h-6.12
- https://www.w3.org/TR/html5/links.html

[2016-10-06 14:31] tk0miya commented on #3004
About "document" role, WAI-ARIA says:

[code]

https://www.w3.org/TR/wai-aria/roles#document

It seems setting the role to the body element is good way. So I will keep it.

[2016-10-06 14:31] #3004 closed, assigned to nobody

[2016-10-06 15:11] jfbu commented on #3012
I have no issues using the `:name:` option to `code-block` directive, to define reference. It is only that I had grown used to use the possibility to use the `:caption:` for that, and the feature was available when I started using Sphinx in this way, I didn't know it had been an addition from https://github.com/sphinx-doc/sphinx/commit/e2a921ff07e87a5b157f3241f6d1fca432bd04f3. Thus I am happy to c

[2016-10-06 16:27] jfbu commented on #3012
I am closing this issue as the documentation at http://www.sphinx-doc.org/en/stable/markup/code.html#caption-and-name does explain to use `:name:` option of `code-block`  to create reference target for `:ref:` role and possibility to use `:caption:` was only temporarily in existence.

[2016-10-06 16:27] #3012 closed, assigned to nobody

[2016-10-06 17:27] #3009 closed, assigned to jfbu

[2016-10-06 17:46] RobertoBagnara commented on #3009
On 10/06/2016 07:27 PM, Jean-François B. wrote:

Great, thanks!

[2016-10-06 17:57] jfbu commented on #3009
@RobertoBagnara sorry for inconvenience caused by my commit in Sphinx 1.4.4 which caused this... (I wasn't aware and didn't test that the modified code could end up in an `alltt` LaTeX environment.) hopefully things will be ok now. (the aim in Sphinx 1.4.4 was to let Sphinx use straight quotes in LaTeX rendering of inline code)

[2016-10-06 18:06] hhsprings opened #3015 "(Not a bug) "test_build.test_image_glob" fails on Windows"
This is simply path separator problem.

[code]

[code]

<s>
I don't think this should be fixed, but if it was fixed, maybe contributors working on Windows would be happier.
</s>
If this result is affecting to html output, it is the case, if not it's okey. I'll check it.

<hr/>

No problem. The output html doesn't have `\` as url separator. So again,

[2016-10-06 18:14] hhsprings commented on #3015
Maybe `test_build_html.test_html_warnings`, `test_build_latex.test_latex_warnings`, and `test_build_texinfo.test_texinfo_warnings` has the same problem.

`test_ext_intersphinx.test_missing_reference` also fails on my environment, but I can't say it is the same issue or not, yet. (I'm going to investigate it.)

[2016-10-06 19:22] hhsprings commented on #3015
The error of `test_build_html.test_html_warnings` (and also `test_build_latex.test_latex_warnings`, `test_build_texinfo.test_texinfo_warnings`) is not the same as of `test_build.test_image_glob` though it is also path separator problem. See:

[code]

So, I'll separate this into another ticket. -> #3016

[2016-10-06 19:29] hhsprings commented on #3015
`test_ext_intersphinx.test_missing_reference`  is the same as of `test_build.test_image_glob`.

[code]

[2016-10-06 19:40] hhsprings opened #3016 "(Trivial) test_build_html.test_html_warnings (etc.) fails on Windows"
`test_build_html.test_html_warnings`, `test_build_latex.test_latex_warnings`, and `test_build_texinfo.test_texinfo_warnings` fails on Windows because `Encoding 'utf-8-sig'` warnings is actually generated like this:

[code]

(`//`, not `/`)

This might be the problem for some kind of IDE which gives you the ability to jump to the location, so I can't say that `I don't think this should be fixed` li

[2016-10-06 22:02] jfbu commented on #3003
I have rebased and updated https://github.com/jfbu/sphinx/tree/improvefootnotes at https://github.com/jfbu/sphinx/commit/b5a96853cbbd4fe15dfc59f877487a73bde82ae7. This version updates the root tests. It allows code-blocks in footnotes, even with captions ! Also hyperlinking of footnotes is improved.

Further needed improvements: modify `latex.py` so that the footnotes will use `\footnotemark[N]` i

[2016-10-06 22:18] jfbu commented on #2616
also the issue that sometimes there is a space token before the footnote in the LaTeX file, sometimes (in particular for automatically generated footnotes from using `latex_show_urls = 'footnote'`) there is none.

edit: this was fixed at 828c96ec (#3057) (Sphinx 1.5)

[2016-10-07 02:11] liminkai520520 commented on #2832
how to set the table header colour?

[2016-10-07 02:43] hhsprings commented on #3016
In `directives/code.py`:

[code]

`repr(filename)` &rarr; `'c:\\Users\\hhsprings\\...`., this would be `'c://Users//hhsprings//...` with `replace(os.sep, '/')`.

[2016-10-07 02:46] liminkai520520 commented on #147
it seems to work fine

[2016-10-07 02:48] hhsprings commented on #3016
Of course, this can be fixed:

[code]

[2016-10-07 03:01] hhsprings commented on #3016
This case is potentially not only in `read_with_encoding`.

[code]

[code]

[2016-10-07 03:09] liminkai520520 commented on #1986
thanks @jfbu .your are right. I want to ask you a question , How do you know the `\ChTitleVar` directive. I want to know more directives like this , for instance : I want to definecolour with my tableheader. How can I do?

[2016-10-07 03:11] #3000 closed, assigned to nobody

[2016-10-07 03:20] tk0miya commented on #3013
It seems your list includes some non-problematic items. For example, xmlns, external links and so on.
Could you investigate it please?

[2016-10-07 03:48] #2984 closed, assigned to nobody

[2016-10-07 03:48] tk0miya commented on #2984
Fixed.
Thank you for reporting!

[2016-10-07 04:01] tk0miya commented on #2986
Fixed.
Thank you for reporting

[2016-10-07 04:35] RobertoBagnara commented on #3009
No problem. I look forward to the release of Sphinx 1.4.9. Thanks a lot for your work and support.

[2016-10-07 05:38] tk0miya commented on #2986
After fixed, I investigated about `defindex.html`.
It was used to keep compatibility to before Sphinx-0.2.
And no longer used in current source code.

So finally, I removed it.
Thanks,

[2016-10-07 08:12] jfbu commented on #1986
@liminkai520520 regarding `\ChTitleVar` I checked the documentation of package `fncychap` via the command `texdoc fncychap`. It was already indicated in this thread by @tk0miya that `\ChTitleVar` was a command of package `fnchchap`.

Regarding generally speaking styling LaTeX with Sphinx, it is improved on master branch. On the specific question of table headers there will  be in release `1.5` `\s

[2016-10-07 08:16] jfbu commented on #3009
@tk0miya I pushed the commit to master branch hence I guess for 1.5 but should have I rather done it on stable branch for 1.4.9 ? (if there will be one ?)

[2016-10-07 08:41] jfbu commented on #147
I am reopening because indeed the `'fncychap'` key does not work as expected. With:

[code]

we obtain

![capture d ecran 2016-10-07 a 10 36 17](https://cloud.githubusercontent.com/assets/2589111/19183719/ef6ebcba-8c79-11e6-8ea7-7fc2f5cd09e7.png)

whereas the correct result should be

![capture d ecran 2016-10-07 a 10 37 27](https://cloud.githubusercontent.com/assets/2589111/19183742/13d43daa-8c7a

[2016-10-07 09:20] jfbu commented on #147
@shimizukawa @tk0miya Sphinx should not ship `fncychap` anymore, the shipped version is the latest one `2007/07/30 v1.34` and the upstream has not been updated since. If we do ship it then we should patch it, for example some of its options use `OT1` encoded TeX fonts which is very inappropriate for Sphinx use. If we did that we could incorporate the code from `sphinx.sty` directly in patched `fnc

[2016-10-07 10:36] jfbu opened #3018 "LaTeX problem with page layout dimensions and chapter titles"
The LaTeX package `fncychap.sty` is loaded before `sphinx.sty`. But it uses `\textwidth` value and this value is modified later by `sphinx.sty`. As a result with `'fncychap':``\\usepackage[Bjornstrup]{fncychap}``'` for example, the result is not good:

![capture d ecran 2016-10-07 a 12 31 21](https://cloud.githubusercontent.com/assets/2589111/19187116/fb772686-8c89-11e6-9e9b-d00fb4dffe85.png)

(th

[2016-10-07 10:39] jfbu commented on #3018
Related to #147 and #1986.

[2016-10-07 11:13] tk0miya commented on #2987
refs:
- https://www.w3.org/TR/html401/struct/lists.html
- https://www.w3.org/TR/html-markup/ul.html

[2016-10-07 11:15] tk0miya commented on #2987
Note: I posted a patch to docutils project:
https://sourceforge.net/p/docutils/patches/134/

[2016-10-07 11:21] #2987 closed, assigned to nobody

[2016-10-07 11:22] tk0miya commented on #2987
To support docutils-0.12, I added the same fix to HTML writer of Sphinx as a ad-hoc fix.
I will remove this if fixed docutils package is released.

Thank you for reporting.

[2016-10-07 15:55] bunder opened #3019 "LaTeX fails on description of С function with arguments"
Sphinx 1.4.8. Compilation of LaTeX fails when using `c:function` for function with arguments.
In ReST:

[code]

In LaTeX file:

[code]

Upon compilation:

[code]

[2016-10-07 16:23] jfbu commented on #3019
I can not reproduce the error with Sphinx 1.4.8 or the master branch. In the former case the LaTeX file does contain

[code]

and there is no error on LaTeX compilation. The master branch has slightly different LaTeX code but no error either.

[2016-10-07 16:37] hhsprings commented on #2998
Do you mean this?

[code]

If so, it occurs only when you build incrementaly, doesn't it? After editting your `options.rst`, I saw above warnings "sometimes" (unpredictably).

[2016-10-07 16:45] tohojo commented on #2998
Hiroaki Itoh notifications@github.com writes:

Yes, exactly.

That may very well be. That was what I was doing when I got the error,
at least. Adding a - to the end of the _name_re in util/jsdump.py fixed
it. I.e. same change as in this commit:
https://github.com/sphinx-doc/sphinx/commit/acd4d9f2ba42baec9e538b6f16f18efe2e595286
but with an added dash.

-Toke

[2016-10-07 16:47] hhsprings commented on #3013
I'll investigate it, but it seems that there are not problematic case, I think so...(sorry), if so, I'll withdraw this issue. (But checking redirect is easy (by using `linkcheck.py`), so I'm going to report it.)

[2016-10-07 20:20] jfbu commented on #2832
@liminkai520520 it is not clear if you mean the background colour or the text colour. Anyway, you can insert commands in a redefinition of `\sphinxstylethead`. That is, starting with future release `1.5`.

[2016-10-08 00:56] itfanr commented on #3003
@jfbu  Thank you for your answer.

[2016-10-08 03:03] hhsprings commented on #2998
Dash is irrelevant to this issue:

[code]

`_name_re` is for control quoting key (like `"-foo"`) <s>as valid json</s> or not (like `foo`).

[2016-10-08 03:15] liminkai520520 commented on #1986
OK, @jfbu excuse me sir , Now I find a new problem, in my documention, I set my font via `'fontpkg':'\\usepackage{YaHei Consolas Hybrid}',`But I hope englisn and number in the text  use `Arial` font ,such as `chapter 1` `contents` and others in the text, And the chinese in the text use `YaHei Consolas Hybrid` font ,How can I set?

[2016-10-08 03:25] hhsprings commented on #2998
I suspect that your case is similar to #3001.

To reproduce:
1. remove `_build`
2. `make html`
3. edit `options.rst`
4. `make html`
5. revert `options.rst`
6. `make html`  (error occurs unpredictably)

I'm noticing step 4 is also broken. (The warning `unkown option` may occur or not on a whim.)

[2016-10-08 04:48] hhsprings commented on #2998
Ah...maybe I understood.

#2902 was reported to sphinx-v1.4.5, and the fix had done to v1.4.7 (actually released as v1.4.8). I can reproduce above, but it was v1.4.6 which has no underscore fix.

You are using sphinx v1.4.6, aren't you? If so, updating to latest v1.4.8 is answer to your issue.

[2016-10-08 09:16] ghost opened #3021 "Using Sphinx with DBus Introspection"
Hello,

dbus introspection uses docstring xml in the class, like:

[code]

Trying to build the docs here seems to freeze sphinx or something after reading the sources. Is there a way to still document such classes with Sphinx?

[2016-10-08 14:28] jfbu commented on #3019
can you reproduce the error with  a minimal project ?

[2016-10-08 14:29] jfbu commented on #3003
PR #3022

[2016-10-09 00:56] itfanr commented on #3003
@jfbu  What I know  about  sphinx is less . I will look into it when I  am free .  Thank you .

[2016-10-09 11:52] tohojo commented on #2998
Yeah, seems you're right. Can't reproduce with 1.4.8. Thanks :)

[2016-10-09 11:52] #2998 closed, assigned to nobody

[2016-10-10 01:16] hhsprings opened #3024 "application.Sphinx#_log fails in Python 3.x if the message causes UnicodeEncodeError"
To reproduce is easy on Windows 7 (Japanese Edition):

[code]

`_log` should be changed (maybe...):

[code]

Note: If you uses `colorama`, the error might occur in other location.

[2016-10-10 01:33] hhsprings commented on #3024
update:

[code]

[2016-10-10 15:27] asr opened #3027 "Is 1.4.9 the current version?"
[This](http://www.sphinx-doc.org/en/stable/) url shows that the current version is 1.4.9. Is it correct? If so, I couldn't find that version on the [releases](https://github.com/sphinx-doc/sphinx/releases).

[2016-10-10 15:44] tk0miya commented on #2891
Now #2971 is merged. Thank you for reporting.

[2016-10-10 15:44] #2891 closed, assigned to nobody

[2016-10-10 15:47] tk0miya commented on #3027
Hmm, It's strange. 1.4.9 is not released yet. It is still under developing.
current release is 1.4.8.

@shimizukawa could you check this please?
I think this comes from version definition in `sphinx/__init__.py` of stable HEAD.

[2016-10-10 15:59] tk0miya commented on #3024
I want to know why the first try has been failed.
Could you show me the full stacktrace?

[2016-10-10 16:34] tk0miya commented on #2998
Thank you for your help @hhsprings  :-)

[2016-10-10 18:49] #147 closed, assigned to nobody

[2016-10-10 18:49] #1986 closed, assigned to nobody

[2016-10-10 18:58] #3018 closed, assigned to nobody

[2016-10-11 00:17] shimizukawa commented on #3027
Yes.

`stable` means "stable branch in development". It doesn't mean "latest stable released version."

[2016-10-11 01:23] tk0miya commented on #3027
I understand. But that confuses users accessed to sphinx-doc.org.
They will see the following notation at right column:

[code]

I think we should change the behavior of the documentation or release operations.
Could you check them please?

[2016-10-11 01:35] shimizukawa commented on #3027
Current sphinx documentation on RTD has: latest, stable, 1.4.8, 1.3.6, 1.2.3, 1.1.3, 1.0.8, 1.0, master.
For now, stable is pointing 1.4.9(in development). After releasing 1.4.9, "1.4.8" will be disabled (permalink to 1.4.8 page will be vanished) and new 1.4.9 link will be appeared. This procedure is strongly related to branching and tagging of  sphinx code repository because RTD using them as a d

[2016-10-11 02:01] tk0miya commented on #2872
This weekend is due date for beta release at first.
But we still have 38 issues for v1.5.
In addition, I don't have enough time for Sphinx since Sept. (maybe, to end of Oct).

So I propose a reschedule of the plan.
IMO, it is needed postponement of a month.
- Sphinx-1.5a2: end of Oct.
- Sphinx-1.5b1: middle of Nov.
- Sphinx-1.5-final: end of Nov. or middle of Dec.

At same time, we should move som

[2016-10-11 02:11] tk0miya commented on #3021
What did you mean "freeze"?
At my local, I can build the docs including the class.

[code]

But sphinx expects that the docstrings are written by reST. So the docstring of TestClass is recognized as definition list (`<dl>` in HTML).
I don't know good way to do that. The adhoc way only I know is writting an extension to wrap the XML by code-block directive.

[2016-10-11 02:12] doctorlard opened #3028 "The `figure_language_filename` not actually that useful"
This option should allow us to have a naming scheme for our translated images, e.g. the default is:

[code]

But there's no practical way to have this option any other way than the default, since (at least on Linux) the `{root}` part is the entire filename, minus the extension, which means the only place you can put the `{language}` bit is between `{root}` and `{ext}`, unless (for example with Ger

[2016-10-11 02:16] doctorlard commented on #3028
I think the sensible solution here is to split `{root}` into `{path}` and `{filename}` parts, so that we can go something like:

[code]

so that we can collect translated images into directories by language, which I suspect is probably more easily managed and maintained by owners of (especially large) projects than having all of the images floating around together in the same directory.

[2016-10-11 04:30] tk0miya commented on #2991
In my short investigation:
- Sphinx disabled `doctitle_xform`
- Then docutils ignores field_list after document title even if there is one
- The setting is appeared at first commit of Sphinx (d60ca8d4)

I don't know this is intended or bug. But some features (eg. cross reference) depends on the setting.
So I think it might be a bit hard to change this behavior.

[2016-10-11 06:52] ghost commented on #3021
With freeze i mean, after generating everything with sphinx-quickstart and sphinx-apidoc -f -o source/ ../mypackage/, when i try to build the docs with a mingw console, following output is generated :

[code]

From there nothing happens anymore and there is no htmls generated. I have to abort with ctrl+C.
BUT I found the cause. These lines which are also in the python module seem to make trouble (

[2016-10-11 13:32] jfbu commented on #147
@shimizukawa @tk0miya I have tested the Sphinx PDF documentation using

[code]

in `doc/conf.py`, and result is not bad now. Perhaps we can do it for next release of Sphinx ?

![capture du 2016-10-11 15-28-36](https://cloud.githubusercontent.com/assets/2589111/19272196/f15034a4-8fc7-11e6-98bb-5f00f9c70c60.png)

[2016-10-11 17:07] Henry0422 commented on #2390
@gvdb Your comment is really useful. As a rookie of sphinx, I had the similar problem this morning. Now, I figured it out. Thx!

[2016-10-11 18:28] jfbu opened #3031 "incompatibility with LaTeX package ``tocloft``"
Using `tocloft` package to customize the table of contents (for example to increase the size for the page numbers, which is not big enough for some fonts and page numbers exceeding 100) leads to an error with the `manual`  type of document.

The reason is that `tocloft` redefines `\tableofcontents` at the location of `\begin{document}`, and the `\pagenumbering` which is modified by `sphinxmanual.c

[2016-10-11 18:52] kassbohm opened #3033 "Classic theme: Support for modifying background colors of "sidebar"- or "note"-boxes."
Hi,

customizing the classic-theme can be done by setting colors, such as: "codebgcolor", "relbarbgcolor" etc.

For some reason, "sidebarboxbgcolor" or "noteboxbgcolor" does not exist.

How can I set background colors for sidebar-box and/or note-box?

Which files would I have to modify? I have had a short look into http://www.sphinx-doc.org/en/stable/theming.html... but... is there an easy solutio

[2016-10-11 20:41] kassbohm commented on #3033
one way to modify those colors is to edit the color definitions in:

/dist-packages/sphinx/themes/classic/static/classic.css_t
/dist-packages/sphinx/themes/basic/static/basic.css_t

But what's the proper way to do this?

Kai

[2016-10-12 06:28] kassbohm commented on #3033
what I have done now is:

1) **copy** the "classic" theme into my docs-dir and point to it from withing conf.py
2) modify this copy, i.e. the color definitions in "classic.css_t"
3) overwrite a color definition of "basic.css_t" inside my copy of "classic.css_t"
I have no idea, if this is a proper solution - but it works. Comments are appreciated.

Kai

[2016-10-12 06:28] jfbu opened #3035 "is the documentation of ``documentclass`` element from ``latex_documents`` correct ?"
It says:

But it seems  `\usepackage{sphinx}` is always included.

For example if if I use `'memoir'` as fifth element to `latex_documents`, the produced LaTeX will use `memoir` as document class but also will do `\usepackage{sphinx}`.

[2016-10-12 07:58] simonyangcj opened #3036 "got an unexpected keyword argument 'align'"
hi guys,I got an error it says  " an unexpected keyword argument 'align' " when I run following command:

`sphinx-build -E -W -d doc/install-guide/build-obs/html.doctrees -b html -t obs doc/install-guide/source doc/install-guide/build-obs/html`
1. system: Mac OS
2. sphinx version: 1.4.8

Following is the error log:

Please help.
Many thx :)

[2016-10-12 10:55] #2435 closed, assigned to nobody

[2016-10-12 12:42] tk0miya commented on #3015
Did you mean `refuri` includes `os.path.sep` character?
AFAIK, `refuri` and `uri` should use `/` as path separators. It might be a bug of building the `refuri`.

@shimizukawa Could you check this please?

[2016-10-12 14:49] fluboe opened #3037 "Sphinx crash copying images"
[code]
My build doesn't finish so I can't publish this document.
[sphinx-err-uykmfht7.zip](https://github.com/sphinx-doc/sphinx/files/524842/sphinx-err-uykmfht7.zip)

[2016-10-12 15:11] DancingQuanta opened #3038 "TypeError: 'UserWarning' object is not subscriptable - label duplicate"
f I tried to use same label for an equation in two different files, I will get an error as expected.
However I get two errors, the first about the label duplicate (UserWarning) and the second about the first error handing having TypeError bad syntax.

Here is the full traceback

[code]

[2016-10-12 15:11] tk0miya commented on #1026
@shimizukawa Could you tell us your opinion?
The first `sphinx-intl` was released after this discussion (at 2013).

[2016-10-12 15:32] #3038 closed, assigned to nobody

[2016-10-12 15:33] tk0miya commented on #3038
Fixed.
Thank you for reporting.

[2016-10-12 15:51] tk0miya commented on #3037
Thank you for reporting.

This is similar to #3024.

[code]

[2016-10-12 15:58] tk0miya commented on #3036
It seems the error log you pasted is not full version.
It does not include most important part...
Could you paste it again please?

[2016-10-12 17:17] abulhol commented on #2821
+1 I have the same issue.

[2016-10-12 17:27] abulhol opened #3039 "Missing words in search"
This may be related to #2891:
I am using Sphinx 1.5a1 and noticed that some words are completely missing in the search index.
E.g. I have a sentence that starts with
"Disable System Integrity Protection (SIP)....."

If I search for "system integrity", there is no match, but if I look for "SIP", there is.
I checked the searchindex.js, and the word "integrity" is not there.

I use quite a lot of "in

[2016-10-12 17:38] abulhol commented on #3039
and btw, there is a (long) URL in the same sentence:
developer.apple.com/library/mac/documentation/Security/ConceptualSystem_Integrity_Protection_Guide/ConfiguringSystemIntegrityProtection/ConfiguringSystemIntegrityProtection.html
and in searchindex.js I find an entry for:
"configuringsystemintegrityprotect"

strange, isn't it?

[2016-10-12 19:37] RobRuana commented on #2979
Ok, sorry for the delay! I'm not entirely clear what this issue is asking for. Can you describe specifically what the issue to be resolved is?

[2016-10-12 20:40] #3031 closed, assigned to nobody

[2016-10-12 21:10] AWhetter commented on #2979
For napoleon docstrings, using the syntax in the examples (`"""type: Summary"""`) renders the docstring as it appears. The type doesn't get put into it's own field and it doesn't get linked automatically by intersphinx either.

For rst docstrings, there's no way to mark the type of a property and have it link automatically. `type` is often used but isn't an official field for properties so intersp

[2016-10-12 21:18] RobRuana commented on #2979
Can you post some example code demonstrating the behavior you're interested in changing? Also, can you post your conf.py settings?

[2016-10-12 21:41] jputrino commented on #1605
I just got the same error, which seems to be related to the absolute path.

[code]

Here's how I have it set up in docs/conf.py:

[code]

Full traceback is below

[code]

thanks!

[2016-10-12 23:31] shimizukawa commented on #1605
Please file a new issue and attach your small sphinx project files. thanks.

2016年10月13日(木) 6:41 Jodie Putrino notifications@github.com:

[2016-10-13 01:38] MMKrell opened #3041 "Enable one-folder built for html-pages"
As long as #2193 was not active, it was possible to have source file and html file in the same folder which I found very convenient. Obvisously for large projects it is insane and I am well aware of the large number of documents that would mess up in this case. But for small projects as my CV, I think it should be possible to use the same folder. Shouldn't it? For github the main directory should

[2016-10-13 03:30] AWhetter commented on #2979
I've uploaded an example here: https://files.awhetter.co.uk/sphinx_issue_2979_example.tar.gz

It demonstrates how variables and properties are rendered with sphinx and Napoleon, and comments on what ideally would be different about them. Let me know if they don't make sense.

[2016-10-13 03:35] tk0miya opened #3042 "LaTeX renders a table as collapsed by default"
It seems LaTeX renders a table as collapsed.

Input:

[code]

Result: (with Sphinx-1.4.8, MacTeX 2016, PDFLaTeX)
![2016-10-13 11 51 06](https://cloud.githubusercontent.com/assets/748828/19335081/7071512c-913b-11e6-9b65-8044f07d65ec.png)

Originally, this is reported at sphinx-users list:
https://groups.google.com/forum/#!topic/sphinx-users/7-T1y1Y5JJM

[2016-10-13 03:53] tk0miya opened #3043 "Table overflows if tabularcolumn specified"
To avoid #3042, I specified column width using `tabularcolumn`.
But it seems the table has been rendered as overflowed.

Input:

[code]

Result: (with Sphinx-1.4.8, MacTeX 2016, PDFLaTeX)
![2016-10-13 12 50 22](https://cloud.githubusercontent.com/assets/748828/19336105/a8482bae-9143-11e6-8ba3-585d9b5f9c5b.png)

Is there any way to fit the table to paper size?
I usually use `tabularx` package to do

[2016-10-13 05:38] jfbu commented on #3043
According to `tabulary` manual, one should not use `L`, `R`, `C` specifiers  for columns which are known to be very narrow compared to other ones. Thus, solution here is:

[code]

produces

![capture d ecran 2016-10-13 a 07 37 17](https://cloud.githubusercontent.com/assets/2589111/19337726/ebe69142-9117-11e6-8406-4dc5649f7751.png)

Alternative is to insert `\setlength{\tymin}{1.5cm}` in LaTeX docu

[2016-10-13 05:42] jfbu commented on #3042
According to tabulary manual, user can issue in LaTeX document

[code]

for example to avoid narrow columns being squeezd this way. This can be inserted globally via `'preamble'` key or locally using

[code]

See https://github.com/sphinx-doc/sphinx/issues/3043#issuecomment-253419012 for more convenient way, via specification of tabular columns.

[2016-10-13 06:44] daym opened #3044 "Sphinx 1.4.8 fails to build python-matplotlib docs"
Hi,

Sphinx 1.4.8 fails to build matplotlib 1.4.3 docs due to latex complaining about "\footnote[*]" at Matplotlib.tex:171. If I manually change it to "\footnote[1]" it works. The file Matplotlib.tex was generated by Sphinx LaTeX writer.

Is this a problem in LaTeX or Sphinx? Should "\footnote[*]" work?

[2016-10-13 06:53] jfbu commented on #3044
`\footnote[*]` is not expected and it is normal LaTeX complains about it. Do you have `latex_show_urls = 'footnote'` in conf.py ? (asking to restrict scope...)

[2016-10-13 06:55] jfbu commented on #3044
do you mean matplotlib 1.4.3 or 1.5.3 ? I see on http://matplotlib.org/contents.html that current is 1.5.3. Which version of Sphinx compiled it successfully ?

[2016-10-13 06:56] jfbu commented on #3044
ah ok I see Sphinx 1.4.6 at bottom of page.

[2016-10-13 07:04] jfbu commented on #3044
not much has changed between 1.4.6 and 1.4.8 which could be relevant. The `sphinx.sty`has a single change unrelated to footnotes and the `latex.py` also a single change not immediately related to footnotes.

[2016-10-13 07:11] daym commented on #3044
No, there's no latex_show_urls in conf.py .

matplotlib built successfully using sphinx 1.2.3.

I'm trying to update the sphinx package in the Guix distribution (I'm writing the package definition) and rebuilding the world brought up matplotlib.

(I'll try the github release https://github.com/matplotlib/matplotlib/archive/v1.5.3.tar.gz next)

[2016-10-13 07:24] TimKam opened #3045 "HTML search index creator should ignore "raw" content if now html"
For example, the following markup is considered by the search index creator:

[code]

[2016-10-13 07:30] simonyangcj commented on #3036
thanks @tk0miya please see below:

[2016-10-13 07:53] jfbu commented on #3044
I will git clone matplotlib but it takes time ;-) I will see later but README says there is a dependency on colorspacious and

[code]

proposes only win-64 packages, I guess I need to pip install then.

[2016-10-13 07:59] abulhol commented on #3039
I now tried out other Sphinx releases (1.4.6, 1.4.8), but the results are the same.
Here are some more strange findings:

If I search for "integrity", I get some results which all do NOT contain the word "integrity", but e.g. "integration".

Search index looks like:

[code]

Why does it contain "integriti"? There is no word in my documents that starts with these letters.

[2016-10-13 08:23] jfbu commented on #3044
I have git clone matplotlib, installed dependencies, move to doc/ repertory and run `python make latex` in an environment with Sphinx 1.4.8. There are many warnings from the build but the tex file is produced. Then the pdflatex produces only errors of the following type:

[code]

and the tex file contains no `\footnote[*` or `\footnote [*`.

Done with latest matplotlib, not with 1.5.3. I will laun

[2016-10-13 08:29] jfbu commented on #3044
Full log at https://gist.github.com/jfbu/fe934ac50565ed28144f6f59c11da528

[2016-10-13 08:47] jfbu commented on #3044
ok I confirm there issue with 1.5.3 and Sphinx 1.4.8.

[code]

I will investigate later, I don't have much time today. Good news is that more recent matplotlib doc doesn't have that error anymore.

[2016-10-13 08:50] jfbu commented on #3044
File `doc/users/intro.rst` has

[code]

I guess

[code]

was meant for auto-numbered footnotes. This is an reST markup error.

[2016-10-13 08:56] jfbu commented on #3044
I confirm after fixing the `[*]` in the matplotlib doc sources that make latex works

[code]

But matplotlib developers should be alerted about the problem with asiatic characters in current master branch.

[2016-10-13 09:10] jfbu commented on #3044
forgot to say that if using `[#]_` then the

[code]

at bottom of document must be corrected to

[code]

[2016-10-13 09:22] jfbu opened #3047 "spacing before footnote in pdf output is not coherent"
when a footnote is inserted by user

[code]

the footnote marker in output PDF will be separated by a space from foo.

But in case of an auto-numbered footnote when using

[code]

there is no such space.

It is possible to correct this at LaTeX level by having the LaTeX writer always insert `\sphinxBeforeFootnote` for example before any `\footnote` command. The default definition of `\sphinxBefore

[2016-10-13 11:20] anjos opened #3048 "Cross referencing breaks for inherited objects imported and documented in a parent module"
I'm trying to get my Sphinx documentation build correctly and have cross-references (including those from inherited relations) work right.

In my project, I have a situation which is depicted in the example below, which I replicated for convenience on [this github repo](https://github.com/anjos/sphinx-broken-xref):

[code]

In `a.b.__init__`, I declare classes `A` and `B`. `B` inherits from `A`. I

[2016-10-13 12:31] tk0miya commented on #2912
I added `-t` and `-d` option to quickstart at 2981664178c17cfcbd46ee5af6f3329529490b60.
Could you check this please?

[2016-10-13 15:31] virtualritz opened #3049 "Exceptions with types in environment.py"
[code]

[code]

[2016-10-13 15:38] jputrino opened #3050 "AttributeError: 'list' object has no attribute 'rfind' breaks build"
(moved from #1605)

When I run `sphinx-build docs/ docs/_build/`, I get the following error:

[code]

I'm working on Mac OSX Yosemite. Full traceback is below and conf.py is attached. This has happened when I run both v1.4.8 and v1.4.5. Let me know if you need any of the other files. I can't provide access to the repo because it's a private project.

Thanks!

[code]

[conf-py.txt](https://github.c

[2016-10-13 20:36] daym commented on #3044
Thanks for the investigation! I'm not really knowledgeable in texinfo. What exactly should I patch? The bottom of the document to .. [#] MATLAB is a registered trademark of The MathWorks, Inc. - okay.

What do I write instead of MATLAB |reg| [*]_ ?

[2016-10-13 20:49] jfbu commented on #3044
[code]

The `[#]_` tell Sphinx to auto-number the footnote. To match the `[#]_` you need the corresponding `.. [#]` at bottom of  `doc/users/intro.rst`.

Thus the patch consists exactly in replacing the two `*` by two `#` in file `doc/users/intro.rst`. I will now close this issue as it is not a Sphinx problem. Thanks for reporting !

[2016-10-13 20:49] #3044 closed, assigned to nobody

[2016-10-13 21:17] jfbu commented on #2739
I have mentioned `\\footnotesize\\raggedright\\printindex` as alternative value for `'printindex'`key at 613b80d in `LaTeX customization` chapter of Sphinx 1.5 docs.

[2016-10-14 02:58] #3028 closed, assigned to nobody

[2016-10-14 03:13] tk0miya commented on #3050
It seems your `html_logo` setting is list value. But it expects a string value.
Please update your conf.py

[code]

[2016-10-14 03:13] #3050 closed, assigned to nobody

[2016-10-14 03:19] tk0miya commented on #3049
Did you use alpha version of sphinx_rtd_theme?
It is a bug of the theme.
https://github.com/snide/sphinx_rtd_theme/issues/323

Please check the version of the theme you used.

[2016-10-14 04:37] tk0miya commented on #3036
It seems the error comes from sphinxmark extension.
Please report this to their project.

[2016-10-14 04:37] #3036 closed, assigned to nobody

[2016-10-14 07:57] HFriberg-mosek opened #3053 "Explicit comment markup"
Currently in Sphinx:
"Every explicit markup block which isn’t a valid markup construct is regarded as a comment", from the reStructuredText Primer.

This leaves me vulnerable to a long range of typos which goes undetected as being comments, such as
.. incude:: inclusion.txt
.. include: inclusion.txt

Can we please get an explicit syntax for making comments, such as:
.. comment:: This is a comment

[2016-10-14 08:11] anjos commented on #3048
Apparently, the solution is to reset the value of `__module__` on the affected classes. So, in `a/__init__.py`, you can do the following to fix the issue:

[code]

Closing this issue now.

[2016-10-14 08:11] #3048 closed, assigned to nobody

[2016-10-14 08:15] 183amir commented on #3048
Is that a solution or a workaround?

[2016-10-14 08:21] anjos commented on #3048
I don't think Sphinx can do any better that asking the object where it is and trying to cross-reference from there. So, IMO this is a solution to this issue. Another solution would be if `py:foo` clauses accepted a `:alias:` parameter that allowed us to specify this class is an alias from another one, making sphinx also look in there for a resolution. I'll leave to this community to debate and dec

[2016-10-14 11:00] riddle911 opened #3054 "document isn't included in any toctree"
The Problem comes with this warning when making, and the code is as follows:

[code]

The warning shows that
`../source/docs/common-advanced-configuration.rst:: WARNING: document isn't included in any toctree`
you can see my page at here `http://wiki.osdrone.net/copter/docs/common-advanced-configuration.html`

I did Google it for the whole night, but it doesn't work. May you guys could help me wit

[2016-10-14 15:30] jputrino commented on #3050
thanks!

[2016-10-14 23:12] dietmarw commented on #1452
Just tested this again with sphinx-build v1.4.8 and the switch seems now to work as expected. So this issue can be closed.

[2016-10-15 07:53] shimizukawa commented on #2975
This issue has been fixed by sphinx-1.3.2 (issue #1989)

However, the issue is in 'make.bat' that is generated by sphinx-quickstart version 1.3 or 1.3.1.
So please recreate or tweak your 'make.bat' to fix this issue.
Diff for make.bat is here: https://github.com/sphinx-doc/sphinx/commit/fdfdfaccff8b75ca076b009272b9500dced72c25

Please feel free to re-open at any time if you catch a problem. Thanks

[2016-10-15 07:53] #2975 closed, assigned to shimizukawa

[2016-10-15 07:56] #1702 closed, assigned to shimizukawa

[2016-10-15 07:59] shimizukawa commented on #1026
Please use sphinx-intl.
- http://www.sphinx-doc.org/en/stable/intl.html#translating-with-sphinx-intl
- https://pypi.python.org/pypi/sphinx-intl

[2016-10-15 07:59] #1026 closed, assigned to shimizukawa

[2016-10-15 08:25] shimizukawa commented on #539
Now I re-confirmed. the WARNING has gone.
[539.zip](https://github.com/sphinx-doc/sphinx/files/531039/539.zip)

[2016-10-15 08:25] #539 closed, assigned to nobody

[2016-10-15 09:15] shimizukawa commented on #1119
Some Chinese developer there ?

[2016-10-15 09:39] tk0miya commented on #2872
Today, I and @shimizukawa discussed about release plan for 1.5.

As a result, we rescheduled as below:
- Sphinx-1.5a2: in this weekend (Oct. 16)
- Sphinx-1.5b1: Nov. 5th or 6th
- Sphinx-1.5-final: end of Nov.

So all our work in develop should finished until Nov. 5th. After that, no new features should not be implemented. Only bug fixes are allowed.

Thank you always for everything

[2016-10-15 09:40] jfbu commented on #2727
@kpym some of what I said above is obsolete. The `iftex` package is not automatically loaded anymore, as the new `latex_engine` config for `conf.py` has been added at ead753e (PR #2774, merged into 1.5a1). You can check its documentation at http://www.sphinx-doc.org/en/master/config.html#options-for-latex-output and there is an example at http://www.sphinx-doc.org/en/master/latex.html

[2016-10-15 09:43] tk0miya commented on #2872
@jfbu Be careful to the date for feature freeze.

[2016-10-15 10:21] jfbu commented on #3003
fixed at b8e0e93 for 1.5a2 pre-release. Thanks for reporting !

[2016-10-15 10:21] #3003 closed, assigned to nobody

[2016-10-15 10:25] tk0miya commented on #3054
Surely, it seems `common-advanced-configuration` is not included the toctree.
If not intended, please add it to your toctree.

Thanks,

[2016-10-15 10:35] tk0miya commented on #3053
It seems this is expansion of reST syntax.  Please report this to docutils project.

Now sphinx uses docutils as a parser of reST.
So to expand syntax is very hard from sphinx side.

BTW, you can write a comment linter as a Sphinx extension.
It might help you.

[2016-10-16 08:47] itfanr commented on #3003
@jfbu Thank you .

[2016-10-16 14:07] jfbu commented on #3019
@bunder do you still have this issue or can we close the ticket ?

[2016-10-16 15:40] #3047 closed, assigned to nobody

[2016-10-16 15:54] jfbu commented on #3047
fixed at 828c96ec, the `\sphinxBeforeFootnote` is not explicitely written by LaTeX writer to produced latex output, but it is inserted in the `footnote` environment and the `\sphinxfootnotemark` command.

[2016-10-17 00:15] stefanseefeld opened #3058 "Using the same 'caption' attribute in multiple 'toctree' directives results in warning / error"
In a document hierarchy I'm writing I have multiple 'index.rst' files (one per subdirectory). Each contains a toctree like

[code]

The toplevel one includes the nested ones as

[code]

This results in the warning

`.../reference/index.rst:None: WARNING: duplicate label table of contents, other instance in .../index.rst`

The reason appears to be that the ":caption:" option is translated into an "

[2016-10-17 00:31] riddle911 commented on #3054
Yeah I know the toctree need contain those missing files, and I checked I have put the files in the toctree. But it seems that sphinx cannot recognize it which really make me confused.

[2016-10-17 07:08] #3045 closed, assigned to nobody

[2016-10-17 07:18] tk0miya commented on #3058
Thank you for reporting. completely I agree with you.
Fixed at 4411f67.

[2016-10-17 07:18] #3058 closed, assigned to nobody

[2016-10-17 07:28] TimKam commented on #3039
Could you create a [minimal, complete and verifiable example](http://stackoverflow.com/help/mcve) that reproduces your issue?

[2016-10-17 07:31] tk0miya commented on #3035
Right. The `sphinx` package is always loaded even if other documentclasses are used.
The description should be updated...

[2016-10-17 07:48] jfbu commented on #3035
ok, donc at daee1fc, thanks!

[2016-10-17 07:48] #3035 closed, assigned to nobody

[2016-10-17 07:52] tk0miya commented on #3035
good!

[2016-10-17 10:15] simonyangcj commented on #3036
@tk0miya thx :) I guess I will do a upgrade first.

[2016-10-17 10:55] tk0miya commented on #3054
Could you give me a reproducible example?
I can't understand your problem yet.

[2016-10-17 11:42] bunder commented on #3019
Sorry for being silent for a while, I'll try to reproduce the problem on a minimal project.

[2016-10-17 12:06] tk0miya commented on #3039
Thank you for reporting.
The result of stemming is changed for capital words:

[code]

I think this is a bug of the index builder for English.

[2016-10-17 12:10] #3039 closed, assigned to nobody

[2016-10-17 12:10] tk0miya commented on #3039
Fixed at e04fe84.

[2016-10-17 12:11] #3053 closed, assigned to nobody

[2016-10-17 14:02] tk0miya commented on #3027
As a adhoc work, I changed the setting of readthedocs. Now sphinx-doc.org refers 1.4.8 branch.

[2016-10-17 14:25] tk0miya commented on #3041
As I said at #2193, Sphinx is not designed to support same folder.
AFAIK, many changes are needed to do that.
So we need to discuss about advantage of that.
At this moment, it seems not important to me.

[2016-10-17 14:28] tk0miya commented on #3019
I can't reproduce the problem too.

[2016-10-17 17:55] MMKrell commented on #3041
For me the advantage is that if you use gh-pages, the index.html has to be in the main folder. If you have a very small project like the CV, you can have all relevant files in one folder and nothing will mess up.

[2016-10-18 05:33] tk0miya commented on #3041
Now gh-pages support `/docs` directory on master branch.
I recommend it instead.

Anyway, PRs are always welcomed. If you interest to support that, please send us PRs.

[2016-10-18 05:40] tk0miya commented on #2920
I feel this is already resolved. So I close this now.
Please reopen if you feel as not resolved.

Thanks,

[2016-10-18 05:40] #2920 closed, assigned to nobody

[2016-10-18 05:42] tk0miya commented on #2939
It seems resolved. So I close this now.
Please reopen if you still have the problem.

[2016-10-18 05:42] #2939 closed, assigned to nobody

[2016-10-18 05:44] tk0miya commented on #2974
I close this now because this isn't a bug of Sphinx.

[2016-10-18 05:44] #2974 closed, assigned to nobody

[2016-10-18 07:19] bunder commented on #3019
Ok, I can not reproduce the problem with minimal project. However, I've found the problem origin in my environment.
We are using `xelatex` with following preamble (this snippet [can be found all over internet](https://www.google.com/search?q=setTransitionsForLatin))

[code]

to produce PDF. With these settings code `{int\emph{ a}}` (generated by `c:function`, space is a non-breaking space) rises a

[2016-10-18 13:57] shimizukawa commented on #1609
Confirmed. It works fine to me too.
- Sphinx-1.5a2
- Python-3.5.2
- Windows 10

foo.py:

[code]

index.rst:

[code]

Result:
![image](https://cloud.githubusercontent.com/assets/151623/19480645/248da7c0-9586-11e6-9338-e06a9974472c.png)

[2016-10-18 14:01] shimizukawa commented on #1609
Actually, I don't know which sphinx versions are not good. Anyway, it works with sphinx-1.4 and 1.5.

[2016-10-18 14:01] #1609 closed, assigned to shimizukawa

[2016-10-18 14:02] shimizukawa commented on #1609
Sphinx project I tested with: [1609.zip](https://github.com/sphinx-doc/sphinx/files/536458/1609.zip)

[2016-10-18 14:15] rossengeorgiev commented on #1609
Would it be possible to display just the value? Enum will create this verbose repr `<Animal.ant: 1>`, which can get pretty difficult to read when class and property names are long. Especially when there are a dozen or more properties.

[2016-10-18 14:40] shimizukawa commented on #2249
Confirmed. It works fine as well as #1609
- Sphinx-1.5a2
- Python-2.7.12
- Windows 10

foo.py:

[code]

index.rst:

[code]

Result:
![image](https://cloud.githubusercontent.com/assets/151623/19482467/2e478dac-958c-11e6-891a-0b7784acc6c4.png)

[2016-10-18 14:42] shimizukawa commented on #2249
Sphinx project I tested with: [2249.zip](https://github.com/sphinx-doc/sphinx/files/536552/2249.zip)

[2016-10-18 14:44] shimizukawa commented on #1609
@rossengeorgiev It might be possible. However it is another feature request. Can you create new feature request issue please?

[2016-10-18 14:44] #2249 closed, assigned to shimizukawa

[2016-10-18 15:07] rossengeorgiev opened #3060 "Render just the value of Enum properties"
[code]

sphinx will then generate the following

[code]

sphinx will need to access the actual value and render that instead

[code]

_sorry for camel case :)_

[2016-10-18 15:18] shimizukawa commented on #3060
Thanks, I'll take a look.

[2016-10-18 15:33] shimizukawa commented on #1369
I guess these are information sources of Argument Clinic:
- https://docs.python.org/3/howto/clinic.html
- https://www.python.org/dev/peps/pep-0436/

However I can't find any `sig=(...)`.
@birkenfeld this sphinx feature ticket was created by you. Please let me know the detail what we should support.

[2016-10-18 20:01] jfbu commented on #3019
Ok, thanks for the added explanations. I had not paid attention to the non-breaking space.

It originates in file https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/c.py#L165, and was introduced at 0aa953848.

I agree with your 2 and 3, and I trust 1 also makes sense, but not being much a practitioner I can't tell.

 @birkenfeld what do you think ?

[2016-10-18 20:05] jfbu commented on #3019
I forgot to comment that yes `~` is standard in LaTeX, but as you use `xetex`,  using a non-breaking space should work too.

And more importantly, the nodes here at examined at earlier time than writer output. Putting a `~` is only good for LaTeX and it is probably not an option for [c.py](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/c.py).

[2016-10-18 20:45] jfbu commented on #3019
It appears that there is either some bug in `ucharclasses` package or in the way it is used. The code:

[code]

(I use Babel above because I was doing tests related to `\hyphenrules`, but same with polyglossia)

fails to compile on both TL2015 and TL2016. But if I comment the BAD line
and un-comment the OK line it compiles.

Are you sure this `\setTransitionsForLatin{\begingroup}{\endgroup}` is li

[2016-10-18 20:48] jfbu commented on #3019
actually now that I have removed the `\emph` the error message is clearer

[code]

it does look like opening and closing groups in `setTransitionsForLatin` is either illegal or it is legal and `ucharclasses` has a bug.

[2016-10-19 02:40] tk0miya commented on #3019
For pdftex, non-breaking space was supported at 9cfdf9b13eaf5cc70e1f83f11e8d9155b2677671.
It was replaced to `\nobreakspace` macro using `\DeclareUnicodeCharacter`.

Is it needed to move the replacement to latex writer?

[2016-10-19 03:08] doctorlard opened #3061 "Bug: Image translation code uses full filename incorrectly"
The `process_images` function in `environment/__init__.py` calls `search_image_for_language` in `sphinx/util/i18n.py` with the full image filename instead of the relative filename. `search_image_for_language` will always return the original file, since it will try to append the full filename to the `env.srcdir` directory, which doesn't exist.

For example, passing in `/usr/share/my-user-manual/ima

[2016-10-19 04:31] shkumagai opened #3062 "Failed to build PDF using 1.5a2"
I failed to build PDF using 1.5a2 though I success to build from same source using 1.4.8.

added settings:
- language = 'ja'
- latex_docclass = {'manual': 'jsbook'}

When I tried it, got these message:

[code]

It said 'undefined control sequence'.

[2016-10-19 05:59] aqing1987 opened #3063 "UnpicklingError: NEWOBJ class argument isn't a type object"
when I do
 /usr/ports/editors/vim# make WITHOUT_X11=yes install clean
# issue below occur:

Exception occurred:
  File "/usr/local/lib/python2.7/site-packages/sphinx/environment.py", line 1261, in get_doctree
    doctree = pickle.load(f)
UnpicklingError: NEWOBJ class argument isn't a type object
# The full traceback has been saved in /tmp/sphinx-err-Znb2Nz.log, if you want to report the issue to t

[2016-10-19 06:08] jfbu commented on #3062
Thank you for reporting and apologies for this!

The cause is at https://github.com/sphinx-doc/sphinx/blob/master/sphinx/texinputs/sphinx.sty#L895, because `hyperref` loading has been moved to later at PR #3030, but this line was overlooked. Sorry about that.

To temporarily fix this issue in your projects you can use in the  `conf.py`:

[code]

A fix will be pushed later today to master branch.

[2016-10-19 06:50] shkumagai commented on #3062
Thank you for quick reply.
Above way worked fine in my project, so I got a PDF file ;-)
Thanks!

[2016-10-19 06:55] #3062 closed, assigned to nobody

[2016-10-19 06:57] jfbu commented on #3062
@shkumagai Thanks again for reporting, the issue was closed automatically due to commit  039c68d fixing it. Please re-open if you have further issues.

[2016-10-19 07:32] shimizukawa commented on #3063
@aqing1987 please try redo "make ...".
Actually, I don't know what is the "NEWOBJ". I think it relates to target document. Please let us know what sphinx document are you building?

[2016-10-19 08:17] leplatrem commented on #2986
@tk0miya, removing this `defindex.html` is a breaking change IMO ;) Our documentation suddenly broke with Sphinx 1.5a2

I thought we were the only ones inheriting that internal file, but apparently thousands of projects rely on it too: https://github.com/search?q=defindex.html&type=Code&utf8=%E2%9C%93

[2016-10-19 09:33] jfbu commented on #3019
@tk0miya no I think replacement should not be moved to latex writer, because currently since 83da5df, the `\DeclareUnicodeCharacter` is correctly wrapped into a conditional to not interfere with `xelatex` and `lualatex` which handle natively the Unicode no-break space, _assuming fontspec+OpenType fonts are used_ .

<strike>There are I think some issues with other Unicode space characters, such as

[2016-10-19 09:39] jfbu commented on #3019
a precision: my conf.py extract to define narrow no-break space was not needed for intrinsic reasons but only to redefine what it does. Without any definition, assuming you use LuaLaTeX or XeLaTeX with an OpenType font which has the character, it does work out of the box.

[2016-10-19 09:53] jfbu commented on #3019
Thus, the issue here is not one of Sphinx per se as it produces correct LaTeX code.

There remains the matter of making `c:function::` and `cpp:function::`  generate more similar code. I am afraid however that examination of this may lead to more Unicode nobreak space characters being inserted ;-)

[2016-10-19 10:07] jfbu commented on #3019
@bunder Can you try to use the `'utf8extra'` key  in your conf.py like this ?

[code]

This seems to go around the problem created by `ucharclasses` and may hep you compile your documents to PDF with minimal change.

**addendum:** if your environment loads explicitly old package `xunicode` (which is not recommended nowadays) at some point, an extra step is needed to circumvent it. You should add `

[2016-10-19 10:46] jakobandersen commented on #3019
I'm (slowly) working on a new version of the C domain based on the C++ domain, so equivalent declarations should then generate equivalent code.

[2016-10-19 13:37] riddle911 commented on #3054
I'm sorry that I am on a business trip that I cannot reply your message immediately.
Well my example is in my repo of riddle911/ardupilot_wiki. When I run the make, It always comes up with the above mistake.
I don't mean to offend you, but I wonder if you can log on my vps to have a try and see what's go ing on with the toctree.

[2016-10-19 16:15] obskyr opened #3065 "Nested classes break contextual qualifying"
If you nest one class inside another (which is something that occurs fairly frequently in code), all subsequent members of the parent class will be superfluously qualified.

Using this input:

[code]

The output looks like this:
![wrong](https://cloud.githubusercontent.com/assets/4363779/19526915/4767131c-9626-11e6-8187-0b6a636771b7.png)

When it should look like this:
![right](https://cloud.githu

[2016-10-19 17:21] jfbu opened #3069 "Even if ``'babel'`` key is set to empty string, LaTeX output contains one `\addto\captions...`"
On the other hand it does only `\renewcommand` on `\figurename` etc...

Perhaps https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/latex.py#L434 is the culprit, I don't know why https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/latex.py#L542 doesn't have the intended effect.

Typical output in latex with `'babel': ''`, in `latex_elements`

[code]

and with no change to `

[2016-10-19 17:46] tk0miya opened #3070 "Migrate to TeXLive 2013"
In next spring, Apr 2017, Ubuntu 12.04LTS reaches its EOL.
So it's time to migrate the support version of TeXLive.

As a quick look, Ubuntu 14.04 LTS has TeXLive-2013.
So I propose Sphinx-1.6 supports TeXLive 2013 or above.

[2016-10-19 19:29] jfbu commented on #3019
@tk0miya in this thread I have said that Unicode nobreak space works out of the box in xetex/luatex with OpenType fonts. But this leaves possibly erroneous impression:
- yes indeed, a nobreak space character does act as a space which prevents breaks,
- but it is not like LaTeX's standard `~` because the latter has some stretch/shrink which the Unicode nobreak space character does **not** have.

It

[2016-10-20 01:33] shimizukawa commented on #3070
+1

[2016-10-20 02:27] tk0miya commented on #2513
Now I propose the default settings for LuaLaTeX and XeLaTeX at #3064.
Please review it :-)

[2016-10-20 07:45] jfbu commented on #3070
according to https://www.tug.org/texlive/debian.html, the versions of TeXLive shipped are

  Ubuntu: hardy: 2007, lucid: 2009, natty: 2009, oneiric: 2009, precise (12.04LTS): 2009, raring (13.04): 2012, saucy (13.10): 2013, trusty (14.04LTS): 2013, utopic, vivia: 2014, wily: 2015, xenial (current stable): 2015, yakkety (dev): 2016.

PR#3064 starts using "fontspec" for XeTeX/LuaLaTeX by default, bu

[2016-10-20 07:52] jfbu commented on #3070
PR #3064 make test succeeds on TeXLive 2013 but not TeXLive 2012 on my Mac. Hence I amend for my previous comment. But could Sphinx-1.5 say: "for LuaLaTeX/XeLaTeX, you need at least TeXLive 2013" without waiting Sphinx-1.6 ?

One would need a test on a pristine TL2013, because mine has all the updates before TL2014 release.

[2016-10-20 10:41] tk0miya commented on #3070
I have no strong opinion to support precise and TeXLive 2009 at Sphinx-1.5.
I heard this support policy from @birkenfeld when I try to add a LaTeX package which is not belong to precise.
So we can change it if he agreed.

If not, I will revert the default settings for LuaLaTeX from #3064.
It only means Sphinx-1.5 does not give a default settings for LuaLaTeX. Nothing are changed from 1.4.

[2016-10-20 11:37] MonkeyDad commented on #1711
Here is an example of a custom decorator to solve the same issue:

##### my_project/somefile.py

[code]

#### source/conf.py

[code]

[2016-10-20 11:45] tk0miya commented on #3069
Really? That's strange.
Can you reproduce that again?

[2016-10-20 13:20] jfbu commented on #3069
Yes, I can reproduce. Please find the conf.py and index.rst at https://gist.github.com/jfbu/3ef13b9c0848a1a0222c0f2bb9bf877a

With the empty `'babel': '',` in `latex_elements` compilation (on master branch) of  make latexpdf aborts with

[code]

illustrating the present issue. The produced tex file contains:

[code]

This is tested on current master.

Secondly, if don't use empty `'babel'` key,  i

[2016-10-20 13:28] tk0miya commented on #3043
Thank you for advice.
It would be nice if we add the your advice to the docs as a hint.

[2016-10-20 13:32] tk0miya commented on #3042
Thanks,
It seems there are no better setting to adjust size of columns automatically. (at least, while we use tabulary)

[2016-10-20 13:50] jfbu commented on #3043
done at 54dbd38

[2016-10-20 13:58] jfbu commented on #3042
the matter with tables in LaTeX is complicated. I will not have time to review the situation in time for Sphinx-1.5.

[2016-10-20 14:20] jfbu opened #3073 "warning directive puts contents below title in html but not in LaTeX"
I won't pretend that this is real issue but with

[code]

the html looks like this

![capture du 2016-10-20 16-15-16](https://cloud.githubusercontent.com/assets/2589111/19563550/ad29d53a-96e0-11e6-82cc-5b8d9fc451d9.png)

and the pdf like this

![capture du 2016-10-20 16-14-48](https://cloud.githubusercontent.com/assets/2589111/19563556/b3edd4fc-96e0-11e6-983d-2a438d05cde0.png)

Naturally the styli

[2016-10-20 15:05] tk0miya commented on #3069
Thanks, I can reproduce that!

[2016-10-20 15:29] tk0miya commented on #3069
I found the reason.

At master branch, the renewcommand macro for `\contentsname` is generated before recognize `latex_elements`.
So your empty `babel` key does not effect to the macro.
It's a bug of latex writer.

I will refactor the writer later.
Thanks, I've overlooked this ever...

[2016-10-20 15:30] tk0miya commented on #3043
Thank. LGTM!

[2016-10-20 15:30] #3043 closed, assigned to nobody

[2016-10-21 07:36] abulhol commented on #3039
Thanks for fixing this so quickly! :-)

[2016-10-21 11:44] madydady opened #3075 "Bug. ValueError: too many values to unpack"
I have updated Sphinx to version 1.4.8. I used version 1.3 before that and everything was ok while generating HTML output.

Now, when i run "make.bat html" in a Windows console i got an exeption:

File "D:\Git\DocsJob_themes\basicplus\genindex.html", line 39, in block "body"
    {%- for entryname, (links, subitems) in entries -%}
ValueError: too many values to unpack

Above it is an entry from a l

[2016-10-21 12:36] natemwilson opened #3076 "bug with adding multiple .rst files to source"
When I only have a single .rst file, index.rst, everything works fine.

But, when I add any other file, while I am using Sphinx 1.4.8 and Python 3.5.2, and try and run a make html, I get the following error:

[code]

What is weird though is that I can solve this issue and get successful builds by simply using an environment with Sphinx 1.3.1 and Python 3.3.5, so it leads me to believe that the new

[2016-10-22 03:10] aqing1987 commented on #3063
hi, i am building vim in freebsd ports style, as mentioned above:
/usr/ports/editors/vim# make WITHOUT_X11=yes install clean

[2016-10-22 04:32] shimizukawa commented on #3063
@aqing1987 thanks. I think there is nothing to do from Sphinx side because it might be a issue of vim ports. Please report to maintainer of FreeBSD vim ports.

[2016-10-22 04:32] #3063 closed, assigned to nobody

[2016-10-22 13:54] jfbu commented on #2865
I have amended my PR #3059 in order to maintain earlier behaviour in case the `:width:` or `:height:` attribute was used.

in case of merge, the commit message should possibly be amended toread "make latex image inclusion scale ..." as in the one I pushed it is not clear if the sentence refers to what is done or to what is changed.

[2016-10-22 15:21] abathur opened #3077 "productionlist doesn't appear to do anything with "name" argument"
The productionlist definition (`.. productionlist:: [name]`) in doc/markup/para.rst cites an optional name argument which `serves to distinguish different sets of production lists that belong to different grammars`

To me, at least, this statement suggests that the [name] argument creates namespaces so that multiple productionlists can define the same tokens as long as they are in a different prod

[2016-10-22 21:23] mantepse opened #3079 "texinfo Makefile not installing images into infodir"
I am trying to produce texinfo documentation for sagemath, which uses sphinx, see  https://trac.sagemath.org/ticket/21734.

The `Makefile` in `texinfo.py` has the following target:

[code]

It appears to me, that this doesn't copy the supported images, as initialized here:

[code]

Is my expectation wrong, or is this a bug?  In either case, how do I fix it?  (because, indeed, the info reader canno

[2016-10-23 09:27] mantepse opened #3080 "texinfo indentation bug?"
when producing texinfo documentation from

[code]

I obtain

[code]

Is this a bug in sphinx or is there too little indentation after before `symbolic expressions`?

[2016-10-23 09:56] mantepse commented on #3080
Sorry, I should have been more precise: the expected output for texinfo is

[code]

(it must be on one line)

[2016-10-23 13:19] mantepse commented on #3080
I would like to ask yet another question in the same spirit.  The sphinx source is

[code]

which in texinfo becomes

[code]

which in turn is the following mess in the final info-manual:

[code]

The same thing looks OK in html (each reference on one line, all decorated by a vertical bar on the left).  So, the question is as above: is the sphinx source bad, or does the texinfo-builder need improv

[2016-10-23 13:47] jfbu commented on #3080
for info: it looks also ok in latex PDF output

[2016-10-23 13:50] jfbu opened #3086 "1.5a2 has changed the way bibliographic references are indented"
A change from PR #3032 (at 749a6a0) has changed the looks of bibliographic references.

Before:

![capture d ecran 2016-10-23 a 15 41 19](https://cloud.githubusercontent.com/assets/2589111/19626763/4a77d6e4-9938-11e6-9931-1b7116dab7cd.png)

After:

![capture d ecran 2016-10-23 a 15 26 25](https://cloud.githubusercontent.com/assets/2589111/19626761/42274510-9938-11e6-9749-ae4105f8227a.png)

The new

[2016-10-23 13:51] jfbu commented on #3086
Forgot to say this is a latex issue.

[2016-10-23 19:12] mantepse commented on #3080
I found out how to solve the first problem.  In `writers/texinfo.py`, one has to use `escape_newlines`:

[code]

I think one should do the same also for `visit_title`, but I didn't encounter such a case yet.

[2016-10-23 20:23] mantepse commented on #3080
Hm, not quite, because now there are to few newlines elsewhere :-(
(in the `example` blocks)

[2016-10-23 21:17] mantepse commented on #3080
there is a patch at https://trac.sagemath.org/ticket/21734 now.  However, it still needs work.

[2016-10-24 03:23] other-mickk opened #3088 "Overly eager "Highlighting skipped" with Pygments"
This is for HTML output with Pygments in charge of the highlighting.

I sometimes like to write pseudo-code examples in my documentation, e.g. for C++:

[code]

In this instance Pygments correctly identifies the ellipsis ('…') as invalid C++. Because Sphinx sets the [`raiseonerror` filter](https://github.com/sphinx-doc/sphinx/blob/d0dbd60d94d825d4c92c3e42e2ea0cf49b5b0f70/sphinx/highlighting.py#L12

[2016-10-24 06:47] mindw commented on #777
got hit by this issue while building sqlalchemy PDF doc. The following worked for me:

[code]

[2016-10-24 07:04] mantepse opened #3089 "texinfo external references"
when compiling a texinfo reference manual for sagemath, I have many references of the form

[code]

which are translated into a node of the form

[code]

Since they are really part of the same project, I'd like to turn them into proper references.  In `builders/texinfo.py` I found the note:

[code]

Is this what I would have to do?  It's not quite clear to me yet what an internal and what an exter

[2016-10-24 11:35] jakobandersen opened #3090 "Handle warnings in Texinfo builder for multiline signatures."
See also #3072. The new node type `desc_signature_line` should be handled. It currently generates warnings.

[2016-10-24 11:37] jakobandersen opened #3091 "Implement multiline signatures in man pages"
See also #3072. Multiline signatures are currently rendered on a single line. Is it possible to render them properly on multiple lines?

[2016-10-24 13:58] #3086 closed, assigned to nobody

[2016-10-24 16:22] dstromberg commented on #642
We'd also really like the ability to specify tab width in "Source code for <module>".  Is that the same feature request?

[2016-10-24 16:30] dstromberg opened #3092 "Specify number of columns?"
It'd be really nice to be able to specify the number of columns in "Source code for <module>" - we use 120 columns.  I know it's a pep8 violation, but our (substantial amount of) code uses 120, and even an old physical vt220 could do 132 columns.  Plus monitors have been getting wider.

We can scroll around to see our 120 columns, but if you combine that with the 8 column tabstops (we use 4), it's

[2016-10-25 02:42] doctorlard opened #3093 "gettext build broken on substituted strings"
When running:

[code]

In `sphinx/builders/gettext.py` MessageCatalogBuilder.finish() calls canon_path() which throws an AttributeError when its argument is None, which seems to happen in situations with lots of `.. image::` directives with `:alt:` messages. This has been broken since at least October last year (commit 281bf2a).
I could fix the functions, but this will probably just hide the possi

[2016-10-25 03:05] doctorlard commented on #3093
It appears that using substitution strings causes the gettext builder to lose track of the source file and line number, which results in canon_path being sent None instead of a string.

[2016-10-25 05:31] tk0miya commented on #3070
Note: The `fontspec` package in TeXLive 2009 does not support LuaTeX. We could not give a good default settings for LuaTeX (ref: #3064).
So we should improve it after migrating to TeXLive 2013.

[2016-10-25 10:30] jfbu commented on #777
@mindw

Thanks for the tip. Loading `enumitem` and using `\setlistdepth` allows to ease up the cap on maximal depths, but one must also, as you do in your code, `\renewlist` explicitely the `itemize`, `enumerate` and `description` to reset the cap on listdepth for them.

I wanted to test this and I have an issue, I can't get it to work:

[code]

Does your document really have 5 or more nested `ite

[2016-10-25 12:40] tk0miya commented on #2513
Now #3064 is merged into master branch.
Unfortunately, to support TeXLive 2009, we could not give a better default settings to LuaTeX at next release.
But we will improve it later (maybe in 1.6).

Thank you for comments!

[2016-10-25 12:40] #2513 closed, assigned to tk0miya

[2016-10-25 13:12] jfbu commented on #777
@mindw

I see your code snippet also [here](http://tex.stackexchange.com/a/304515/4686). However notice that the [accepted answer](http://tex.stackexchange.com/q/126879/4686) explicitely sets the label at each level (in the case of enumerate). I checked the [enumitem manual](http://www.ctan.org/pkg/enumitem) and the fact that my code snippet is not working does seem to contradict the manual. This

[2016-10-25 13:24] jfbu commented on #777
@mindw

I got it just before posting  a bug report to enumitem's author !

Your code should be with

[code]

and not with

[code]

It appears that the second use of `\setlist` upsets the first one. I have no idea if this is clear from the `enumitem` doc. But this does complicate matters for incorporating use of enumuitem in Sphinx.

[2016-10-25 14:57] OlivierDescout opened #3094 "[Not a bug] "UndefinedError: 'sourcename' is undefined" while generating indices"
I get an exception "`jinja2.exceptions.UndefinedError: 'sourcename' is undefined`" while Sphinx is processing my `layout.html` file, where I added the line:
`<a class="uplink" href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow">{{ _('Source page') }}</a>`

Exception is thrown while generating _genindex_, after the step "_writing output..._", and prevents Sphinx from copying static

[2016-10-25 15:18] dstromberg commented on #3092
It turns out we can _kind_of_ do this with CSS in _build/html/_static/custom.css:
pre {tab-size: 4;width: 80em;}
div.document {width: 100em; margin-top: 0px; margin-bottom: 0px; margin-right: 0px; margin-left: 0px;}

However, it's proportionate to the font's height, not its width, so it's a little weird.  I want a width of 120 columns, so I specified 80em.  As long as the ratio of the font's heigh

[2016-10-25 15:21] dstromberg commented on #642
It turns out you can do this with CSS in _build/html/_static/custom.css

The line to add is:
pre {tab-size: 4;}

[2016-10-25 16:53] hoefling opened #3095 "Regression 1.4.8 -> 1.5a2: intersphinx not honoring ssl certs anymore"
I have a local PyPI repo (devpi server) hosting wheels and docs for two projects `my-project` and `another-project`, the apidocs of `another-project` reference API of `my-project`. A local SSL certificate for the repo domain is installed correctly.

Building with `Sphinx==1.4.8`:

[code]

When testing out `Sphinx==1.5a2`:

[code]

Something has changed since v1.4.8 so the local ssl cert is not acc

[2016-10-25 18:43] jfbu commented on #777
PR #3096 addresses this without resorting to package `enumitem`. Of course `enumitem` has much to recommend it, but its version in TeXLive 2009 which Sphinx supports was at 2.x, and later it reached 3.5.2, with some important changes. Once Sphinx will support only TeXLive 2013 or later, we can more easily consider using `enumitem`  which had no changes since.

[2016-10-25 20:14] mgeier opened #3097 "URL-decodable paths don't seem to work"
This is not something I would do in a "normal" Sphinx project, but it came up while using auto-generated files as input to Sphinx. See https://github.com/spatialaudio/nbsphinx/issues/67.

When using a sequence like `%AB` (where `A` and `B` are any hexadecimal digits) in a source file or directory name, the link to the resulting page in the HTML output will not work.

For example, try using a sourc

[2016-10-25 20:53] mihaic commented on #2390
This should be closed as "not a bug" according to the comment of the bug reporter:
https://github.com/sphinx-doc/sphinx/issues/2390#issuecomment-200600938

[2016-10-25 23:32] #2390 closed, assigned to nobody

[2016-10-26 02:59] cblegare commented on #1500
Bump @shimizukawa :
This is fixed, see #2949 : expected in the [1.5 release](https://github.com/sphinx-doc/sphinx/milestone/16) (by the end of 2016)

Please add to milestone and/or close.  Good job!

[2016-10-26 03:52] tk0miya commented on #3097
IMO, this is not an intended behavior. So it's a bug.
But I believe this is not a standard usecase. so I marked this as low priority.

[2016-10-26 03:55] tk0miya commented on #3095
Thank you for reporting.

Since 1.5, we rewrite `sphinx.ext.intersphinx` using requests package.
This might be come from the changes.
I will take a look later.

[2016-10-26 04:26] tk0miya commented on #3094
The `sourcename` means "The name of the copied source file for the current document". So it has empty value when Sphinx generates the file does not related with document (.rst) like genindex.
Could you check your layout.html?
It is needed to skip process if `sourcename` is empty.

For example, in `basic/sourcelink.html`, the `sourcename` is handled as following:

[code]

Did you check the variable

[2016-10-26 04:32] tk0miya commented on #1500
Thanks. I'd overlooked this issue.
Indeed, this is already fixed!

[2016-10-26 04:32] #1500 closed, assigned to nobody

[2016-10-26 07:58] OlivierDescout commented on #3094
My mistake, you are totally right. Checking `show_source and has_source and sourcename` solved it. So I close the issue.

May I suggest the documentation should be supplemented with this useful information?
My suggestion would be to add something like what follows to the `.. data:: sourcename` section of the "templating" documentation file:

[2016-10-26 07:58] #3094 closed, assigned to nobody

[2016-10-26 12:30] petsuter opened #3099 "literalinclude xml: TeX capacity exceeded, sorry [main memory size=3000000]."
A document with just the following fails:

[code]

where `large.xml` is about 1000 lines of this:

[code]

(for some reason the 16 spaces indentation are important to trigger this)

The error is:

[code]

[2016-10-26 14:13] jfbu commented on #3099
I have tested it on 1.4.8 (and on master branch), and I can go up to 1487 lines, there is an error starting with 1488 lines, but it is not one on main memory and it is slightly different (and more depressing):

[code]

This comes from use of package `framed`. This package works by first piling up all contents in a big virtual TeX box, then it splits it into smaller pieces. The maximal dimension wh

[2016-10-26 16:19] jfbu commented on #3099
For info, I tested tcolorbox and could typeset, replacing in the tex file thesphinxVerbatim environment by  (this example had no special characters in need of being escaped from TeX)

[code]

up to about `5950` lines, i.e. about `105 usletter pages`. I added

[code]

 in the preamble.

The problem is that this LaTeX package needs TL2012 at least, has had quite active development since and needs Ti

[2016-10-26 18:07] petsuter commented on #3099
Thanks for investigating.

I installed both Sphinx 1.4.8 (`pip install Sphinx`) and MikTeX 2.9 today, so should be up-to-date.

Is TL referring to TeX Live? Is that recommended for Sphinx over MikTeX? I don't know much about LaTeX, I just want a way to create a PDF.

[2016-10-26 18:25] jfbu commented on #3099
Yes, TL refers to TeX Live. No, it is not especially recommended over MikTeX, you should be fine with MikTeX. It happens that TeX Live has a higher default memory setting for TeX it seems, but you can increase it in MikTeX too, as explained in the link I referred too (I don't have any experience with Windows, hence don't know about MikTeX).

Sorry for having put much information in my two posts ab

[2016-10-26 18:37] jfbu commented on #3099
I have reproduced your issue with Sphinx 1.4.8, after having re-configured TeXLive 2016 to use a  reduced TeX memory setting at 3000000. Maybe I should have started with that !

The good news is that if you find the way to tell MikTeX to regenerate the format files with  a memory setting increased at 5000000 words of memory, your problem will be solved !

(because you have a literalinclude of only

[2016-10-26 18:40] jfbu commented on #3099
The second good news is that there is no problem with the master branch of Sphinx (but there is on the stable branch). Hence even if you don't manage to increase the TeX main memory, you have another escape which would be use the current master branch.

[2016-10-26 18:44] jfbu commented on #3099
ah sorry no, it worked on master branch because I had conf.py configured to use  `xetex` (whose memory setting had not been reduced), due to some remnant of other test. With `pdflatex` there is still the problem also on master branch (I was wondering what had changed).

Well, to sum up you must increase the memory of TeX, and as long as your literal includes do not exceed about 1500 lines (about 2

[2016-10-27 01:46] tk0miya commented on #3093
Could you show me some reproducible example?

[2016-10-27 05:09] tk0miya commented on #3092
Now I proposed `viewcode_tab_width` configuration at #3100.
If accepted, it would help you.

Thanks,

[2016-10-27 07:54] jfbu commented on #3073
closing this because the LaTeX style is actually fine if contents of the warning type admonition is one-paragraph only, which is usually the case.

[2016-10-27 07:54] #3073 closed, assigned to nobody

[2016-10-27 07:58] #777 closed, assigned to jfbu

[2016-10-27 12:39] tk0miya commented on #3073
Note: With `classic` theme, the contents start at right of `Warning:` title.
It's representation of each theme.
![2016-10-27 21 01 12](https://cloud.githubusercontent.com/assets/748828/19766510/47f79e3c-9c89-11e6-8f06-07de0f8a90c0.png)

[2016-10-27 15:02] #3060 closed, assigned to shimizukawa

[2016-10-27 16:46] slavkoja opened #3102 "No link to download current stable"
text at home page tells : "Current version: 1.4.8", it is followed by the link to pypi, but it is redirected to Sphinx 1.5a2 page. The "Installing Sphinx" page point to the same pypi page and to the github's master .zip and .tar.gz files. Of course, i found the 1.4.8 version on github's releases page, but i found no link to it on the home page.

Please, add link to download current stable.

[2016-10-27 16:50] Kadelka opened #3103 "SQLAlchemy-1.1.3 make doc breaks"
Error in /tmp/sphinx-err-5lYSL9.log:
[code]

[2016-10-28 12:22] chadyred opened #3105 "Graphistz"
I test this exemple in the doc here http://www.sphinx-doc.org/en/stable/ext/graphviz.html#module-sphinx.ext.graphviz but not work and this return litlle errors

[code]

[2016-10-28 12:25] lehmannro commented on #3105
Hi Florian, please note that this is the official bug tracker for the Sphinx project.  If you have questions, please use the [sphinx-users@](http://groups.google.com/group/sphinx-users) mailing list instead.

My stab at your problem:  Did you activate the `sphinx.ext.graphviz` [extension](http://www.sphinx-doc.org/en/stable/config.html#confval-extensions)?

[2016-10-28 12:25] #3105 closed, assigned to nobody

[2016-10-31 07:57] HFriberg-mosek commented on #2876
If anyone have a go with this enhancement request, it would also be nice to allow markup in the copyright statement such that external links would work across builders.

[2016-10-31 10:34] HFriberg-mosek opened #3106 "Link to custom module index?"
I am using the Domain API and generate a custom index using:
http://www.sphinx-doc.org/en/1.4.8/extdev/domainapi.html#sphinx.domains.Index.generate

1)
:ref:`modindex` seems hardcoded to "py-modindex.html" whether or not this page exists or not..

2)
A custom Domain (name='msk') and Index (name='mskindex') does not seem to create a label. I have not inspected the rather huge doctree, but simply tr

[2016-10-31 21:06] grommit007 opened #3107 "rst2pdf seems to be broken"
Hi
I have just installed Sphinx, installed with the latest version of python. Everything worked fine so tried to get rst2pdf working as well.
Ran pip install rst2pdf, everything seemed to install correctly
When I ran make html I got the following errors

Running Sphinx v1.4.8

Exception occurred:
  File "c:\users\dave\appdata\local\programs\python\python35-32\lib\site-packages\sphinx\application.p

[2016-10-31 22:20] ojwb opened #3108 "literaltext silent if :start-after: doesn't match"
If I typo the start marker, sphinx quietly includes no text, which seems unhelpful - for example:

[code]

If I correct `Being` to `Begin` in `literal.txt` it works as expected.

I think sphinx should issue a warning for this case.

[2016-11-01 00:37] tk0miya commented on #3092
Finally, I withdrew #3100 because expanding tabs modifies the source codes.
It had better use CSS to change tab width on HTML.
So the custom.css is good idea for me.

I think there is nothing to do from sphinx side. So I would like to close this issue.
@shimizukawa what do you think?

[2016-11-01 05:15] shimizukawa commented on #3092
+1 for closing.

[2016-11-01 09:01] tk0miya commented on #3092
Thank you for reporting.

[2016-11-01 09:01] #3092 closed, assigned to nobody

[2016-11-01 11:23] tk0miya commented on #3108
+1

[2016-11-01 11:26] tk0miya commented on #3107
It seems rst2pdf does not support python3. So please report that them.
https://github.com/rst2pdf/rst2pdf

Thanks,

[2016-11-01 11:26] #3107 closed, assigned to nobody

[2016-11-01 12:24] tk0miya commented on #3103
It seems zzzeeksphinx or Mako raises the error.
Anyway this is not a bug of Sphinx.

[2016-11-01 12:24] #3103 closed, assigned to nobody

[2016-11-01 13:25] #2912 closed, assigned to tk0miya

[2016-11-01 14:17] avylove opened #3109 "Issues building against TexLive 2016 in Fedora Rawhide"
I'm trying to update the RPM packages for Fedora, but TexLive was updated in Fedora Rawhide to 2016. I had a number of problems and was able to work through most of them, but I still have two tests failing. It could be a missing dependency or a problem with the new TexLive packages, but I don't know enough about Tex to figure it out.

The test output is attached. Any ideas what I should try?

[Raw

[2016-11-01 15:09] jfbu commented on #3109
Most probably you are lacking the `luatex85` package. With the luatex of TL2016 the package is needed to have some `\pdf...` named control sequences, and is automatically loaded by the `sphinxmanual`  class, but only if it is found.

There is curious bit of  legacy code in `sphinx.sty` which results in `\py@NormalColor`  and `\py@TitleColor` remaining undefined if `\pdfoutput` itself is undefined.

[2016-11-01 15:17] jfbu commented on #3109
@tk0miya maybe in sphinxmanual.cls :

[code]

we should test the `luatex` version in the false branch and if it is something like 0.85 or higher we should issue a message of the sort

[code]

;-)

More seriously: I think the luatex85 thing must be done also from sphinx.sty itself, in case the document class is special, or better, add it to the tex template at very start of produced LaTeX file, rat

[2016-11-01 15:18] jfbu commented on #3109
ref: 5c823a770ce9807abc769b074ed09329099f5277, 5833dfc60fe347ee6f6dda3fdb070ad06822149f

[2016-11-01 15:31] mgielda commented on #1534
This doesn't work with long lines between double backticks (like long path/to/file/with/long/filename sequences)... Is there any way to get a similar result with inline verbatim text?

[2016-11-01 17:29] mikepurvis commented on #701
+1

Is the issue here primarily technical or philosophical?

[2016-11-01 18:04] jfbu commented on #1534
There are some partially satisfying ways. But can you open new issue, because this one is closed.

[2016-11-01 18:40] mgielda opened #3110 "Word wrap in inline verbatim text"
Similar to #1534, words do not wrap in Latex output in inline verbatim text (in double backticks). Unfortunately quite often there is a need to supply e.g. /a/very/long/path/to/a/file-with-a-long-filename.tar.gz which either results in horrible spacing when justified (better scenario) or just overflows into outer space (worse case, as this produces unprintable output) ;)

@jfbu suggested that I op

[2016-11-01 18:50] avylove commented on #3109
That was exactly the problem. Added tex(luatex85.sty) as a dependency, new package built fine, and I pushed it out to rawhide.

[2016-11-01 19:13] jfbu commented on #3110
LaTeX is very picky about breaking long things at line breaks and in particular will not by default break at the slash `/`. However you may try this

[code]

If your Sphinx version is too old, you may need to replace `sphinxcode` by simply `code` in the above. Also you may take this opportunity to color the thing to your liking ;-)

Here is a second way:

[code]

but this uses un-documented privat

[2016-11-01 19:32] jfbu commented on #3110
probably better with `\nolinkurl` (I had forgotten about it) rather than `\url`

[code]

[2016-11-01 21:10] mgielda commented on #3110
Thank you! The "second way" works for me (the other ones don't, they produce latex commands inside the resulting document). But in the working solution there is no space after the resulting verbatim block. If I can get the space in there, I'm very happy.

Can't this behaviour be made default, or at least enabled with a flag? I think it's quite handy...

[2016-11-01 22:42] jfbu commented on #3110
thanks for reporting back. I can't reproduce your "there is no space after the resulting verbatim block".

![capture d ecran 2016-11-01 a 23 39 50](https://cloud.githubusercontent.com/assets/2589111/19910325/88583502-a08c-11e6-9842-723409a14b5e.png)

Do you mean a horizontal or a vertical space ? A minimal example would be handy.

About making the behaviour default, or accessible via a flag, thank

[2016-11-02 02:58] tk0miya commented on #701
Now we have two pull requests to improve this; #1800 and #2354.
And I can understand all your request and I agree with that.
But before merging them, we have to discuss the behavior on non HTML builders.

If we add relative links or internal references to toctree, how should they be represented in PDF? How about epub and other formats?

Now we can use URLs in toctree directive like following:

[co

[2016-11-02 03:34] tk0miya opened #3111 "CI raises error with nightly builds"
CI raises error with nightly builds:
[code]

[2016-11-02 03:55] tk0miya commented on #3111
The target function is defined as following:

[code]

It seems nightly python returns invalid result. I believe this is a bug of py36.

[2016-11-02 05:57] nyarbin opened #3112 "Dropped latex builder enhancement"
https://github.com/sphinx-doc/sphinx/issues/2512 is closed by a commit that describes https://github.com/sphinx-doc/sphinx/issues/2521 (but references #2512). This looks suspiciously like a typo. #2512 was an enhancement target for version 1.5; has it been dropped intentionally? If so, why? If not ... it's a pretty good idea.

[2016-11-02 06:05] tk0miya commented on #3111
In my short investigation:

I execute following script in py3.5.2 and py3.6b3

[code]

[code]

It seems the `typing.Callable.__args__` contains not only arguments but also return-value.
I don't know this is an intended changes or not. But I can't find collect way to obtain the arguments only.

[2016-11-02 07:45] shimizukawa commented on #3111
This is the cause. I think it is intended.
https://github.com/python/typing/pull/308

[2016-11-02 08:01] mgielda commented on #3110
Thanks for debugging this with me :) I mean horizontal space, i.e. a space character. For me, the output with the fix (for any verbatim block, not only the word-wrapped ones) is right next to the next word.

i.e. the output of:

[code]

becomes:

[code]

which renders as:

into the `~/Downloads`directory. [notice no space between s is Downloads and d in directory]

Sphinx version is 1.4.6.

My pre

[2016-11-02 08:38] ppasler opened #3113 "How to remove top folder from documentation path?"
I have a python project and a structure like this
[code]
I used `sphinx-apidoc` to create my documentation and the path to my submodules look like this

[code]
Now I wonder, if there is a way to remove the src prefix? To make the path look like this
[code]
Thanks for any answer!
Regards, paul

[2016-11-02 08:42] jfbu commented on #3110
ah! if you omit the percent sign, this means to TeX: "fetch one argument + one space token". This explains the disappearing of space.

But I don't understand how  the presence of `%` breaks your document. LaTeX error message would be needed to debug this, or the full log rather. I am not good at Python, perhaps the `%` is interpreted specially. I use Python 3.

[code]

is an alternative without `%

[2016-11-02 09:17] shimizukawa commented on #3113
I guess `src/__init__.py` file exists in your environment.
Please remove the file and try again.

[2016-11-02 09:49] ppasler commented on #3113
Hey @shimizukawa,
thanks for the fast response. You guessed right :) But after deleting the `__init__.py` in the src folder. Only one module `test` is shown in the module index. This is my [conf.py](https://github.com/ppasler/current-adas/blob/master/project/code/doc/conf.py) (the other files can be found as well), Maybe I made som other mistakes there?

[2016-11-02 10:52] mgielda commented on #3110
Perfect! It worked when I put it in one line. The percent sign error (`TypeError: not enough arguments for format string`) is related to Python interpreting % as a string format indicator, using %% instead works as well, silly me.

Now I need to go and learn some TeX ;)

As for supporting this in Sphinx out of the box, I don't know about other people's experiences, but this has been an issue sever

[2016-11-02 11:08] #3111 closed, assigned to nobody

[2016-11-02 11:56] tk0miya opened #3114 "Some tests failed with py27"
At master branch, I got following errors since a5bdf1fdae99869e3e0e6beab532d62b1df19a3e
[code]

But it seems Travis CI does not get same errors.
@shimizukawa Do you know such a case?

[2016-11-02 12:24] tk0miya commented on #3114
As a trial, I installed `enum34` package. It resolves the problem.
It seems test requirements are needed.

[2016-11-02 12:36] #3114 closed, assigned to nobody

[2016-11-02 12:54] tk0miya commented on #2872
Hi developers,
I will release 1.5b1 in this weekend; Nov 6th (maybe at 18-20 pm JST, 9-11 am UTC).
Do you have any issues that does not end until the due date?
If so, please let me know.

After the release, feature freeze will start. All we should not introduce any new features to Sphinx-1.5. Only bug fixes are allowed.

[2016-11-02 13:01] tk0miya commented on #2872
@shimizukawa @jfbu
Please let me know if you need any helps, advices, reviews and so on.
I will work to resolve them with my best.
Thank you always, and thank you for your support!

[2016-11-02 13:01] shimizukawa commented on #2872
Woo Hoo!

[2016-11-02 13:24] jfbu commented on #2872
exciting times ;-) I will check tomorrow afternoon (European time) Nov 3rd the status of open issues and PRs related to LaTeX ...

[2016-11-02 13:32] jfbu commented on #3110
Glad it worked. I knew about `%` as operator in Python strings and even already once used `%%` ;-) but somehow it worked for me (and I just tested with Python 2.7.1 in an interactive session and don't manage to create error)...

Thanks for the suggestion perhaps we can cook up something just in time for 1.5 beta release.

[2016-11-02 13:39] jfbu commented on #3110
about learning TeX, http://www.eijkhout.net/texbytopic/texbytopic.html is freely available, and is a very good reference for learning Knuth's TeX at the technical level... but it has nothing directly relevant to LaTeX ;-) it is the layer underneath it. In future years there might be LaTeX3, which will re-name all TeX primitives, thus hasten to become a TeX guru before the genre disappears ;-)

[2016-11-02 13:45] #2461 closed, assigned to nobody

[2016-11-02 13:50] #2865 closed, assigned to nobody

[2016-11-02 14:02] jfbu commented on #3109
@tk0miya now that `latex_engine` exists for 1.5 since #2513 I propose to move the check and loading of latex package `luatex85` to a new template variable which will be inserted into build tex document only if `latex_engine`  is `lualatex`. Also, if it doesn't find file `luatex85.sty` it should write some informative message to the latex log. Will do PR tomorrow.

[2016-11-02 14:03] jfbu commented on #3109
@avylove thanks for your report and feedback !

[2016-11-02 14:58] tk0miya commented on #3112
Oh, it's my mistake. Thank you for letting me know.
But LaTeX builder already uses jinja templates now (customized to JSP/eRuby like syntax):
https://github.com/sphinx-doc/sphinx/blob/1.5a2/sphinx/templates/latex/content.tex_t

[2016-11-02 14:58] #3112 closed, assigned to nobody

[2016-11-02 14:58] tk0miya commented on #2512
Note:
For now, LaTeX builder uses jinja templates (customized to JSP/eRuby like syntax):
https://github.com/sphinx-doc/sphinx/blob/1.5a2/sphinx/templates/latex/content.tex_t

[2016-11-02 15:30] tk0miya commented on #3109
Okay, I will review ASAP :-)

[2016-11-02 15:36] tk0miya commented on #2839
Now I close this again.
Thanks,

[2016-11-02 15:36] #2839 closed, assigned to nobody

[2016-11-02 15:39] tk0miya commented on #3049
Now I close this because this is not a bug of Sphinx.
Thank you for reporting.

[2016-11-02 15:39] #3049 closed, assigned to nobody

[2016-11-02 16:04] tk0miya commented on #1369
ping. any updates?
If none, I will postpone this to 1.6.

[2016-11-03 06:45] numberoverzero commented on #741
I'm also running into this.  For now I'm manually duplicating docstrings, but it would be nice if `:inherited-members:` worked.

I'm not familiar with the code base at all, but if anyone's willing to point me in a direction I can try to write a fix.

[2016-11-03 18:41] jfbu commented on #2739
Closing because at least the trick with `\footnotesize\raggedright` is there in the documentation.

[2016-11-03 18:41] #2739 closed, assigned to nobody

[2016-11-03 19:28] jfbu commented on #1846
@bialix I have `git clone`'d  your project and tested it with master branch of future Sphinx 1.5 (the beta will be released soon).

I can confirm the error you got on PDF build. But adding this:

[code]

to the `conf.py`,  the PDF builds without error report and the output looks ok (the problem came from the nested lists in Appendix A).

I am thus closing the issue, please re-open if the above doe

[2016-11-03 19:28] #1846 closed, assigned to nobody

[2016-11-03 19:33] jfbu commented on #1574
@Jellby

I tested your input

[code]

on current master branch (soon Sphinx 1.5 beta) and the PDF builds ok.

[2016-11-03 19:34] jfbu commented on #1574
ah, sorry @tk0miya already said he had fixed it at ee7e3cc, sorry.

[2016-11-03 20:32] bialix commented on #1846
@jfbu I hope your new release will be used on readthedocs web site, cause I did not convert to pdf directly on my machine. Thanks anyway.

[2016-11-03 20:43] jfbu commented on #1846
@bialix

When Sphinx 1.5 will be released via the usual channels, you should add a readthedocs.yml file to your project (if it does not already contain one) with a line like this one

[code]

and the file "requirements/doc.txt" should contain

[code]

At least that's the kind of settings which worked for me in my single experience with readthedocs.

And your conf.py should contain the

[code]

[2016-11-04 05:16] nwf commented on #701
#2354 internally uses a generic Node object and builds a compact_paragraph when constructing the TOC structure.  There's nothing builder-specific about it and I should hope that the builders continue to render compact_paragraphs as they usually do.

#1800 explicitly constructs a reference object, as it is limited to such.

The URL issue is orthogonal and happens with the _existing_ implementation;

[2016-11-04 07:23] tk0miya commented on #3013
Any updates?
It seems no problematic case for me too.
So I close this once.
Please reopen if you find any problematic cases.

Thank you.

[2016-11-04 07:23] #3013 closed, assigned to nobody

[2016-11-04 09:07] shimizukawa commented on #3113
I guess (again), `sphinx-apidoc -o doc/ .` in `project` directory you invoked.
Please do `sphinx-apidoc -o doc/ src/`

[2016-11-04 10:17] ppasler commented on #3113
@shimizukawa same result. The `module.html` only show the `test` module.

[2016-11-04 10:58] shimizukawa commented on #3113
I tried with https://github.com/ppasler/current-adas:

[code]

It seems ok.

[2016-11-04 11:22] ppasler commented on #3113
Yeah, up to this point it looks fine to me too.
But after calling `make html` the `modules.html` does not contain the modules.

[2016-11-04 14:28] tk0miya commented on #701
Did you try to build latex, singlehtml or others?
On building these formats, the toctree nodes are removed to concatenate documents to single file.
Then no `:ref:`s are appeared in table of contents on these formats.

In addition, these builders does not call `BuildEnvironment.resolve_toctree`. so toctree nodes never be expanded to compact_paragraph.

[2016-11-04 14:41] tk0miya commented on #642
We discussed this in #3092 and #3100, and we decided not to implement this.
Please put custom CSS to your project.
Thanks,

[2016-11-04 14:41] #642 closed, assigned to nobody

[2016-11-04 16:06] tk0miya commented on #2986
Hmm... that's strange situation.
Okay, I will restore it again.
But, the status is still not changed. `defindex.html` is no longer used by default. so I will emit deprecation warning to `defindex.html`.

[2016-11-04 20:24] rexut opened #3117 "Sphinx 1.4.8: LaTeX writer produce wrong notice block?"
File [texinputs/sphinx.sty](https://github.com/sphinx-doc/sphinx/blob/1.4.8/sphinx/texinputs/sphinx.sty#L640) provides the LaTeX environment 'notice' that expect exactly 2 parameters. But the generator in file [writers/latex.py](https://github.com/sphinx-doc/sphinx/blob/1.4.8/sphinx/writers/latex.py#L1516) omit the second parameter completely when there is now special admonition label (ex. 'error'

[2016-11-04 20:59] #3019 closed, assigned to jfbu

[2016-11-04 21:38] jfbu commented on #3110
Thank you for suggestion. Done at https://github.com/sphinx-doc/sphinx/pull/3116/commits/097967ed253776fbad6b98df8275d51c1839e61a (#3116).

[2016-11-04 21:38] #3110 closed, assigned to nobody

[2016-11-04 22:01] jfbu commented on #3117
Thanks for the report!

But the admonition directive requires a title.

[code]

and if I try

[code]

with a literal title I get (master branch)

[code]

or (1.4.8):

[code]

as latex code which has no issue. For info, not much has changed here since Sphinx 1.0 (the sphinx.sty handling of notice environment has changed recently but number of parameters has always been 2, the latex writer has almos

[2016-11-04 22:24] jfbu opened #3118 "numfig-format does not seem to honor ``{number}`` and ``{name}``"
I tried things like

[code]

but never managed it to work. But the documentation says at http://www.sphinx-doc.org/en/master/config.html#confval-numfig_format :

[code]

[2016-11-04 23:04] deserat commented on #944
was this ever done?

[2016-11-05 08:45] tk0miya commented on #3089
Really the class you referred is defined in same project?
In sage project, the document sets up `intersphinx` to reference.
https://github.com/sagemath/sage/blob/master/src/doc/common/conf.py#L119

Anyway, the reference of sagemath is too complicated for me.
Could you give me a simple project?

[2016-11-05 10:28] jfbu commented on #3110
MEMO: the #3116 adds breakpoints only after characters `. , ; ? ! /`. Characters which are especially escaped in LaTeX (like `\$`, `\#`, ...) will not permit breaks but it is always possible to LaTeX user to redefine them to allow breaks. The situation is different inside code-blocks or literal includes, because there #2343 exploits the Pygments highlighting to handle these further characters. The

[2016-11-05 11:37] mantepse commented on #3089
Thanks for looking into this!

Yes, the same project but a different module, in a different directory.  As far as I know (but my knowledge is incomplete :-), the documentation of sage is structured by the directory tree below `src/sage/doc`.  In each sub(sub...sub)directory there is a `conf.py`, and there is also a `common/conf.py` which seems to provide defaults for everything.

For each sub(sub.

[2016-11-05 11:40] rexut commented on #3117
Yes, the admonition directive will block without a title. But I was running into this issue through the sphinxcontrib-traceables extension and it doesn't generate rst syntax. As far as I can see it right in the extension code base, it renders the admonition block for it self:
- [TraceableDisplayAdmonitionFormatter::format()](https://github.com/t4ngo/sphinxcontrib-traceables/blob/master/sphinxcontr

[2016-11-05 12:00] jfbu commented on #3069
@tk0miya it seems there is even more serious problem with `contentsname`. Using:

[code]

I get in TeX file:

[code]

i.e. the "table of contents" is not in German. Same with italian. Tested on master, stable, and... ok:

It seems this is problem ever since 20d992cdf52c45a447947373e150b7d9f183084f which closed #1990 and is in 1.3.2 release. Maybe I open other issue ?

[2016-11-05 12:32] jfbu commented on #3069
@tk0miya oh sorry, it appears I got terribly confused due to use of a `:caption:` option which I had forgotten. Please disregard previous message. I will delete it.

[2016-11-05 12:39] tk0miya commented on #3089
Sorry, I can't understand the structure of sagemath project yet.
Why does it use intersphinx to resolve references?
It is not needed if all modules are in same project as you said.

BTW, `intersphinx` extension generates "external" reference node like following:

[code]

I feel the reference node which you reported first is very similar to the node intersphinx generates (for example, format of ref

[2016-11-05 12:44] tk0miya commented on #3069
Okay, never mind :-)

[2016-11-05 12:45] jfbu commented on #3117
I don't think there is a bug. The admonition directive requires a title argument. The title ends up braced in the tex document. The notice environment is always equipped with its two mandatory arguments. The situation has been like this since Sphinx 1.0.

[code]

gives

[code]

incidentally: as you see 1.5 will use "sphinxadmonition". But for backwards compatibility this is just a wrapper of "noti

[2016-11-05 13:22] jfbu commented on #3117
Consider this input:

[code]

using `pseudoxml` output we get

[code]

confirming the empty title and the latex writer produces:

[code]

The empty title was correctly passed with a `{}` to the sphinxadmonition (aka notice) environment. The issue should be raised at the https://github.com/t4ngo/sphinxcontrib-traceables site because imho it is not a Sphinx issue.

[2016-11-05 13:22] rexut commented on #3117
Again, on RST level I'm completely with you, but not on level of the LaTeX writer. Almost no one has had seen this issue because of the admonition directive requires a title argument. But since Sphinx 1.0 there is a code fragment inside the LaTeX writer that will produce wrong LaTeX syntax:

Only in rarely cases this (wrong) code will execute:

[code]

In most of all cases (proper admonition direc

[2016-11-05 13:23] jfbu commented on #3117
No the `visit_admonition` code will get executed each time a user correctly uses the generic adminition directive.

[2016-11-05 13:24] rexut commented on #3117
Why it will be defined separately inside of _make_visit_admonition() ?

[2016-11-05 13:28] jfbu commented on #3117
replace in latex.py "note" by "ZOUZOU" as below

[code]

the do make latex on rst input like

[code]

and you will see that the `visit_admonition` that you say is buggy is executed and does note create problematic output.

[2016-11-05 13:32] jfbu commented on #3117
by the way when I say it is like this since Sphinx 1.0 I do not mean to induce the feature was introduced then. It just means I did git checkout 1.0 and looked into latex.py and sphinx.sty.

[2016-11-05 13:59] rexut commented on #3117
Now I'm completely confused. I'm using Sphinx (1.4.8) with following test rst:

[code]

Then I call `sphinx-build -W -v -b latex -d build/doctrees . build/latex && cat build/latex/*.tex` and get this:

[code]

The second one is right but the first one is buggy, why this?

After this I've replaced `visit_admonition()` in `writers/latex.py` to this:

[code]

... and run Sphinx again:

[code]

again

[2016-11-05 14:36] rexut commented on #3117
To reproduce the wrong LaTeX output from https://github.com/sphinx-doc/sphinx/issues/3117#issuecomment-258613364 I'll provide this test repo:

https://github.com/rexut/sphinx-admonition-test

Now I'll investigate the issue with some older and latest Sphinx releases.

[2016-11-05 14:39] jfbu commented on #3117
Yes thank you for report I confirm it, but the `index.rst` (I copied your rst exactly) is missing sectioning (and toctree directive). Adding

[code]

on top of file removes the problem.

@tk0miya  what do you think ? is it legal to have rst source with no sectioning ?

[2016-11-05 14:51] jfbu commented on #3117
actually  I copied-pasted from above (I had not seen your message about github repo) hence I don't even have the inline literal. We have two exactly identical generic admonitions. The latex output is wrong for the first one. There is no problem if the rst source contains a section title.

[2016-11-05 14:56] jfbu commented on #3117
pseudoxml, html, texinfo, epub have no issue. Hence perhaps indeed there is a latex writer or builder problem. But I don't know enough the internals to judge.

[2016-11-05 14:58] rexut commented on #3117
Same to me :-)

[2016-11-05 15:20] mantepse commented on #3089
I don't understand it either :-(

I think because the documentation is built separately for each subdirectory.  (note that sage is huge)

So, for sphinx, what is "one project"?

[2016-11-05 16:21] jfbu commented on #3109
@avylove, thanks for report, now closing.

Many documents break with the lualatex of TL2016 if they don't load `luatex85`. Hence no TeX distribution of TL2016 should be without `luatex85`, this is vital dependency. Sphinx had anticipated this and tex documents it produces do require `luatex85` if compiled with lualatex. Now that 1.5 will have `latex_engine` config variable, the whole conditional f

[2016-11-05 16:21] #3109 closed, assigned to jfbu

[2016-11-05 16:48] mgielda commented on #3110
Awesome! Thank you so much. Looking forward to Sphinx 1.5.

[2016-11-05 17:30] jfbu opened #3123 "user ``'babel'`` key setting is not obeyed anymore at Sphinx 1.5a3"
Indeed the ``'multilingual'`` key has replaced it in the latex template. But the setting of  ``'multilingual'`` is decided before user options in ``latex_elements`` are read. Hence anything the user puts into ``'babel'`` key (for example loading it with additional languages) is simply ignored. Tested with this conf.py

[code]

Another issue of ordering is in #3069.

[2016-11-05 22:32] shimizukawa commented on #3113
After tweaking your code as https://github.com/ppasler/current-adas/pull/1 I got another error that caused by environment because my environment doesn't have necessary packages to run your program. Now you can get a result as you expected (maybe).

[2016-11-05 22:42] shimizukawa commented on #944
Yeah, excluding feature has been provided since sphinx-1.1 by #98.

[code]

and do

[code]

[2016-11-05 22:42] #944 closed, assigned to nobody

[2016-11-05 22:45] shimizukawa commented on #930
I closed #944.
I salvaged attached patch on BB.
[wildcard_excludes.diff.zip](https://github.com/sphinx-doc/sphinx/files/573547/wildcard_excludes.diff.zip)

[2016-11-05 23:01] shimizukawa commented on #979
Memo: `sphinx-apidoc -o docs . tests/*` works fine because shell expands `tests/*` before sphinx is invoked.
So, on Windows environment, shell doesn't expand wildcard. On unix environment, `sphinx-apidoc -o docs . "tests/*"` doesn't work too.
#930 is for this.

[2016-11-06 00:39] #930 closed, assigned to nobody

[2016-11-06 06:47] ppasler commented on #3113
@shimizukawa thank you very much! This did the trick - sometimes it's only a line :)

[2016-11-06 06:47] #3113 closed, assigned to nobody

[2016-11-06 07:49] jfbu commented on #3019
@tk0miya unbeknown to me the `C` in the issue title was a Unicode letter, it made its way to CHANGES at 5caa6c3, breaking build of pdf doc, and I fixed it later at 04e1e7d.

[2016-11-06 10:28] tk0miya commented on #2872
I will release 1.5b1 later (maybe at 2-3 hours later).

[2016-11-06 10:32] jfbu commented on #2872
good ;-) : I profited to push typo fixing commit ...

[2016-11-06 10:41] jfbu commented on #2872
this may not the best place to report, but whenever I build the latex docs I get (this is not new):

[code]

[2016-11-06 11:21] tk0miya commented on #3117
It seems latex writer handles first title node.
https://github.com/sphinx-doc/sphinx/blob/1.4.8/sphinx/writers/latex.py#L768

I don't know what is expected here. But from admonition side, this is not unexpected.
So I marked this as a bug.

Sorry, I don't know that.
But latex writer skips the first section title. So the writer gives it special treatment.
In other words, it is implicit expectation.

[2016-11-06 11:40] tk0miya commented on #2872
Thanks, fixed at https://github.com/sphinx-doc/sphinx/commit/4250052eda05717d8069b0c4820d3978c3760fe5

[2016-11-06 11:59] jfbu commented on #2872
I edited again at c94f3b7, because output looked weird (two identical code samples).

![capture d ecran 2016-11-06 a 12 53 40](https://cloud.githubusercontent.com/assets/2589111/20037509/bb30a030-a420-11e6-97ad-72bdfb8c322f.png)

[2016-11-06 12:38] tk0miya commented on #2872
Okay, it's time to release. Do you have any task for 1.5b1?

[2016-11-06 12:38] tk0miya commented on #2872
@jfbu Do you have any task for 1.5b1?

[2016-11-06 12:41] jfbu commented on #2872
@tk0miya there is one thing, I just realized that in inline literals, LaTeX will gobble a space if it comes after `-`. This is not new. I can fix it immediately or wait.

[2016-11-06 12:44] tk0miya commented on #2872
Okay. Please let me know after your work finished.
I will start packaging.
It's not hurry. Do it at your own pace :-)

[2016-11-06 12:58] jfbu commented on #2872
thanks for patience @tk0miya. I am done now, pushed commit.

[2016-11-06 13:00] tk0miya commented on #2872
@jfbu Thanks!

I will start packaging after travis says ok.
https://travis-ci.org/sphinx-doc/sphinx/builds/173660250

[2016-11-06 13:34] shimizukawa commented on #625
Now I close this issue because #2843 provides `:start-at:` and `:end-at:` options.
If somebody need `:block:` option, please open another issue. Thanks.

[2016-11-06 13:34] #625 closed, assigned to nobody

[2016-11-06 14:07] tk0miya commented on #2872
Hi developers,

I just released 1.5b1.
From now on, we use "1.5-release" branch to fix bugs only.
Please add new features to master branch (It will be released as 1.6).

Thank you for all your support!

[2016-11-06 14:47] shimizukawa commented on #2872
Congratulation!! 🎉  Thanks for your contribution and leading!

[2016-11-07 09:42] xavierhardy opened #3127 "Pickle load slows down documentation generation"
Hi Sphinx team,

I was trying to figure why building documentation was taking more than 2 minutes. Profiling with cProfile, it turns out most of the time is spent for loading Sphinx-generated doctree files in Pickle format. _pickle.load has been called 615 times with a total of 138 seconds spent inside this function (out of 166, for the whole doc generation process).

[code]

Note that generating

[2016-11-07 10:06] nowox opened #3128 "svgz not recognized in html output"
I have my include as `.. figure:: foo.*` which I want to be expanded to "svgz", but it does not.  I got the error:

[code]

However on `visit_image` in `sphinx/writers/html.py` I have this:

[code]

From the mime_suffixes in `sphinx/util/images.py` the `svgz` extension is missing:

[code]

[2016-11-07 11:05] jfbu opened #3129 "latex does not implement ``:emphasize-lines:`` option to ``code-block`` directive"
This (from http://www.sphinx-doc.org/en/stable/markup/code.html#line-numbers)

[code]
does not produce any special effect (beyond the line numbers), contrarily to html build. The feature appears never to have been implemented in the latex builder or writer.

[2016-11-07 11:15] jfbu opened #3130 "the Sphinx own documentation in html has rendering problems in latex page (1.5b1)"
See the big Note at http://www.sphinx-doc.org/en/master/latex.html#the-sphinx-latex-style-package-options

Same with the Hint  a bit lower in the page.

There seems to be an issue with the used theme, as I tested with other themes such as classic and alabaster and have no issue.

[2016-11-07 14:37] arigo opened #3131 "Infinite recursion when building project with a self-referencial toctree entry"
I'm trying to build a project where the file index.rst has got the following toctree:

[code]

This gives an infinite recursion error in ``sphinx-build``.  What I would like is for the TOC to include the index.rst too, so that index.rst appears like a normal entry on my readthedocs pages.  For reference: the readthedocs page is http://cffi.readthedocs.io/en/latest/, and the source repository with

[2016-11-07 15:14] davidcarroll commented on #3075
Just wanted to report, that I have this same issue too.

[2016-11-07 15:41] rweickelt opened #3132 "Specify multiple source folder in the conf.py file"
**Current state:** Only one source directory is possible and must be provided as a command-line argument.

**Suggestion:**

- Introduce a conf file parameter ``source_paths``. This parameter can be a list of directories where Sphinx looks for source files.

**Use case**

- Documentation for a family of slightly different products in a product family.
- The product family is made of multiple module

[2016-11-07 15:49] rweickelt opened #3133 "Add possibility to specify a config file"
**Current state:**
The name ``conf.py`` is hard coded and it's impossible to rename it.

**Problem:**
One cannot have multiple conf files in one project folder, i.e. to build two different documentation variants. I work around that problem by setting an environment variable in the makefile and conditionally setting some parameters in ``conf.py`` based on that variable.

**Suggestion:**
Change the

[2016-11-07 16:14] jfbu commented on #3133
What about having `conf-A.py`, `conf-B.py`, etc.., and dynamically create a symlink `conf.py->conf-whatever.py` from your Makefile before calling `sphinx-build` ?  (depending on a Makefile variable for example, or the contents of a a file `confpy.txt` containing the path to the actual `conf.py`  to use).

[2016-11-07 16:29] jfbu commented on #3133
This seems to work for me:

[code]

 (sorry I don't recall offhand if a  Makefile like this was already in Sphinx 1.4.8, will check later)

the file `confpy.txt` is one-line file containing `conf-A.py`, or `conf-B.py`, etc...

tested on a unix-like system (mac os x)

edit: better `ln -fs "`cat confpy.txt`" conf.py`

[2016-11-07 16:39] jfbu commented on #3133
yes a Makefile like the above is available in Sphinx 1.4.8 and created via `sphinx-quickstart -m`. The Makefile in my previous post is based on the Sphinx 1.5 one (which fixes an issue) and it works with Sphinx 1.4.8.

[2016-11-07 17:00] rweickelt commented on #3133
Thanks, but that's a workaround as well. What happens with symlinks in the windows file system? Unfortunately, most of my team members check the repo out in Windows and build using Vagrant.

[2016-11-07 17:04] jfbu commented on #3133
I am a no-ob in Windows, but I see that `sphinx-quickstart -m` created a make.bat file. This make.bat could be enriched with a new recipe for conf.py, if symlinks are impossible, then just a copy of conf-A.py, etc... however no idea about the syntax.

This being said, yes it is a work-around, but it does realize separate conf.py files: you don't have to clutter a single conf.py with complicated co

[2016-11-07 18:39] dstromberg commented on #3092
The solution I described previously can be improved by using 120ch and 140ch, instead of 80em and 100em.  ch is a measure of width, em is a measure of height.

However, the hook for adding custom css appears to have changed in the latest pip'able version of sphinx?  Anyway, the things I'm putting in _build/html/_static/custom.css are now ignored.

What's the new way of adding custom CSS?

[2016-11-07 18:41] dstromberg commented on #642
Where does the custom CSS go now?  I was able to put it in _build/html/_static/custom.css , but now that file appears to be ignored.

[2016-11-07 20:30] rexut commented on #3117
This is also my observations. I would prefer to rearrange the priority in the if-elif-sequence. Before play with this idea, I've create (and pulled) a unit test that raise this issue.

For clarification of this issue: The origin of this discussion was a problem with the [sphinxcontrib-traceables](https://github.com/t4ngo/sphinxcontrib-traceables) extension. That will be fixed there by a separate P

[2016-11-07 21:19] dstromberg commented on #642
It turns out this is part of recent versions of the alabaster theme.  In alabaster 0.7.6, custom.css does not work.  In alabaster 0.7.9, custom.css does work.

[2016-11-07 21:19] dstromberg commented on #3092
It turns out this is part of recent versions of the alabaster theme.  In alabaster 0.7.6, custom.css does not work.  In alabaster 0.7.9, custom.css does work.

[2016-11-07 23:55] doctorlard commented on #3093
Our manual code is here: https://git.mahara.org/user-manual/manual/tree/16.10_STABLE
Results are generated here: http://manual.mahara.org/en/16.10/

[2016-11-08 10:09] lehmannro commented on #3133
You can also already do "complicated conditionals" and then just use plain Python imports.

[2016-11-08 11:17] jfbu commented on #3133
Just to say that my symlink suggestion was indeed purely a work-around, and I was not meaning to  imply anything against @rweickelt's suggestion about `-c` accepting a filepath.

[2016-11-08 18:42] yoongu opened #3135 "Autodoc's format_annotation() failing for plain Callable"
Autodoc fails on a function that takes in a plain Callable annotation (an example shown below). It fails with the message: `error while formatting arguments for...: 'NoneType' object is not iterable`

[code]

This fails in the autodoc()'s `format_annotation()` function, which expects a Callable annotation to have arguments: e.g., Callable[int, str].

But according to Python documentation [1], a pl

[2016-11-08 23:15] arximboldi commented on #2103
Workaround: add the index page explicitly to the TOC. E.g. If your master document is called `index`, do something like:

[code]

Note that without :maxdepth: the TOC entries itself are shown inside the TOC itself recursively once. Also, there are warnings on the console:

[code]

[2016-11-08 23:30] arximboldi commented on #2103
Oh no! My workaround has one mayor drawback: in the sidebar TOC, when you are in a page other than the index, the Index page entry itself is "opened" and the part of the document where the toc is included is highlighted. Example:

![screenshot from 2016-11-09 00-30-03](https://cloud.githubusercontent.com/assets/4521138/20121803/b4efec36-a613-11e6-86b2-a975a76f38b2.png)

[2016-11-09 00:19] punsoong opened #3136 "can you reference a graphviz with numref?"
Is it possible to reference a graphviz directive using numref or even ref?
e.g.
[code]

This fails since the graphviz doesn't support the :name: option.

Thanks

[2016-11-09 09:02] brechtm opened #3137 "referencing a function parameter"
It would be useful to be able to directly reference function parameters. The [sphinx-paramlinks](https://pypi.python.org/pypi/sphinx-paramlinks/) adds this functionality, but it does not work with docstrings in Google format.

I agree with the author that this [should be built-in functionality](http://stackoverflow.com/a/20845306/438249). Is there any particular reason this is not the case, or is

[2016-11-09 14:05] brechtm opened #3138 "the type of an attribute is not hyperlinked (napoleon)"
For parameters listed in docstrings ("Parameters" section) using the Google docstring format, the parameter's type is hyperlinked to the autoclass documentation of the type.

For attributes ("Attributes" section), these links are not created. They *are* created if the `napoleon_use_ivar` is set to True.

I suspect the reason for this is that the napoleon extension handles the types included in the

[2016-11-09 15:19] Ben2022 opened #3139 "Error in parsing.py"
Hello,

I am trying to run Sphinx but I get the following error:

[code]
Do you have any idea about how to solve this please?

Here is the log content:
[code]
Thanks!

[2016-11-09 19:49] RobRuana commented on #3138
That is correct, there is no way to add hyperlinks using the `.. attribute::` directive.

If you need your attribute types hyperlinked, then set `napoleon_use_ivar` to `True`.

I suspect this issue is getting at the same thing presented in issue #2979.

[2016-11-09 23:04] alexvorndran opened #3140 "Use method docstring from abstract base class if derived class has none"
Let's say I have the following two classes

[code]
Is it possible to instruct Sphinx (or even better sphinx-apidoc) to use the docstring of `Superclass.give(...)` for `Derived.give(...)` without copying it manually?

The Help widget of Spyder IDE does something similar but as far as I understand, fetching the parent's docstring is not handled by Sphinx there.

[2016-11-10 03:07] shimizukawa commented on #3140
For now, sphinx doesn't fetch docstring from superclass.
This is a _ugly_ workaround..

[code]

[2016-11-10 08:06] brechtm commented on #3138
ivars are different from class attributes, so I'd rather not set `napoleon_use_ivar`.

I was able to work around the issue by entering the attribute's type using a `:class:` reference, which does create links (but is styled differently).

[2016-11-10 09:39] brechtm commented on #1881
I'm having the same problem but with `.. autoattribute::` (to set `:annotation:`).

I'm using `:exclude-members:` for now to exclude the attribute.

[2016-11-10 09:46] brechtm commented on #3137
Oops. I think this is a duplicate of #538.

[2016-11-10 09:59] brechtm opened #3141 "confusion between class attributes and instance attributes"
Sphinx doesn't seem to make a clear distinction between these two types of attributes.

The autodoc extension handles the docstrings for these two in the same way, mapping them both to `.. attribute::` directives AFAICS. There is however `:ivar:` to document instance variables. For this reason, I was under the impression that `.. attribute::` was only for class attributes. Is that assumption wrong

[2016-11-10 11:23] brechtm commented on #3140
You could make this a little more automatic by employing a metaclass for the abstract base class. The following is a very basic implementation of such a metaclass. It needs to be extended to properly handle multiple base classes and corner cases.

[code]

This may be a better solution than having Sphinx do this, because this will also work when calling `help()` on the derived classes.

[2016-11-10 13:03] Znni opened #3142 "A file named home.rst in a numbered toctree does not get a number in HTML"
I have an index.rst with a toctree:

.. toctree::
   :glob:
   :numbered:
   :maxdepth: 2

   some/thing
   something/else
   userguide/userguide

Then in my userguide/userguide.rst I have another toctree:

.. toctree::
   :glob:
   :numbered:

   home/home
   other/things

I build the project with sphinx and the resulting toctree in HTML contains something like this:

...
5. Fifth header

- Home

[2016-11-10 14:33] alexvorndran commented on #3140
After playing a little bit with @brechtm's solution, I came up with the following:

[code]

**Note:** Some changes were necessary to get it working in Python 2.7.

This works for my use case, but I would nevertheless like to help to find a solution to that problem using Sphinx.

[2016-11-10 22:19] alexvorndran commented on #3140
After having a more or less thorough look at how this problem is handled in Spyder, I found that [Rope](https://github.com/python-rope/rope/) (especially `rope.contrib.codeassist.get_doc`) does most of the heavy lifting when it comes to finding docstrings.
A little drawback of rope is (in my opinion) that it will always fetch the documentation from base classes even if the derived classes provide

[2016-11-11 01:58] alexvorndran commented on #3140
Some playing around with code lead me to the following two functions. Especially the Python 3 parts could need a second pair of eyes as I'm normally coding for Python 2. From what I could see the code should be fairly robust and should fail gracefully.

[code]

Replacing

[code]

with

[code]

in `sphinx.ext.autodoc.Documenter.get_doc` brought me the result I wanted for my project. I'm aware that

[2016-11-11 03:10] RobRuana commented on #2979
Okay, I think I fully understand this issue now. Your comments make perfect sense. I initially thought Napoleon was doing something wrong, but this issue must be fixed at a deeper level, probably in autodoc.

As you stated, the real heart of the issue is that there's no way to define a  type for a `@property` using reStructuredText. I'd be okay with something like the following:

[code]

I don't h

[2016-11-11 16:31] Paebbels commented on #2215
What's the current status?
How can users update their existing make.bat?

[2016-11-11 16:49] Paebbels opened #3145 "How about a PowerShell based 'make' file?"
Hello,

the generated `make.bat` is kind of outdated on modern Windows machines. At first batch files are called command files (`*.cmd`) since more than 15 years (Windows 2000). Second, the old Windows command line  (`cmd.exe`) is also outdated. Windows is shipped with PowerShell since Windows Vista.

So how about a PowerShell based `make.ps1` file with self-documentation (integrated help page)?

[2016-11-11 21:01] rweickelt commented on #3133
Implementing the functionality was quite easy, but the filename conf.py is so deeply hard-coded into the Sphinx documentation that an update is cumbersome. Before I proceed, I want to know, whether such a change would be accepted at all. May I kindly ask for suggestions regarding the documentation?

Further do I think that it would make sense to change the default behavior (without -c) into "Searc

[2016-11-12 01:58] tk0miya commented on #3145
I'm not a Windows user, so I don't have strong opinion for this.
It's okay to move to powershell if anyone sends pull request to us.

@shimizukawa what do you think?

[2016-11-12 02:02] tk0miya commented on #3142
No, "home" is not a reserved and special keyword.
Could you show me small and reproducible example?

[2016-11-12 02:04] Paebbels commented on #3145
I just found out that the next PowerShell version (6.0) will be released for "all" operating system (incl. Linux). The project is hosted on [GitHub](https://github.com/PowerShell/PowerShell?ts=2). I'll check how good this port is and if it supports Windows PowerShell files also on Linux (e.g. the path separator problem ...).

[2016-11-12 02:08] tk0miya commented on #3141
There is only one notation to mark up the attribute of object in python domain.
So we need to improve the domain to represent them.
http://www.sphinx-doc.org/en/stable/domains.html#the-python-domain

[2016-11-12 02:15] tk0miya commented on #3139
Thank you for reporting.
But it seems the error comes from `sphinxcontrib.doxylink`.

[code]

So could you report this to their project?
Thanks,

[2016-11-12 02:15] #3139 closed, assigned to nobody

[2016-11-12 02:19] tk0miya commented on #2215
Nothing changed. I'm only waiting pull request.

Unfortunately, sphinx does not provide the way to update existing project.
Any other hacks are needed to do that.

[2016-11-12 02:40] shimizukawa commented on #3145
Now Makefile/make.bat become simpler than earlier. So I'm OK to have PowerShell based one.

Memo: CPython venv module also includes Activate.ps1 https://github.com/python/cpython/tree/master/Lib/venv/scripts/nt for PowerShell users.

[2016-11-12 02:53] tk0miya commented on #3133
You can switch multiple configurations using `-c` option. With `-c foo`, sphinx refers `foo/conf.py`, and with `-c bar` will refer `bar/conf.py`.
What about this?

I don't opposite your proposal strongly. But we can do that using existing feature. So I feel no implementation is needed.

[2016-11-12 03:36] tk0miya commented on #3137
Thank you for proposal.
Let's discuss it in #538.

[2016-11-12 03:36] #3137 closed, assigned to nobody

[2016-11-12 13:58] tk0miya commented on #3136
Indeed, `graphviz` directive does not support `:name:` option yet.
But you can do it with following notation:

[code]

[2016-11-12 14:07] tk0miya commented on #3136
Now I added `:name:` option to graphviz directives.
It will be released as Sphinx-1.6.

Thanks!

[2016-11-12 14:07] #3136 closed, assigned to nobody

[2016-11-12 15:02] tk0miya commented on #3135
Fixed at 4ca84ab.
Thank you for reporting!

[2016-11-12 15:02] #3135 closed, assigned to nobody

[2016-11-12 16:01] tk0miya commented on #3132
Is this really useful for everyone? I don't know your case is general or not.

[2016-11-13 02:21] #3130 closed, assigned to nobody

[2016-11-13 02:27] tk0miya commented on #3130
Fixed!

Note: at my PC, I have to force reload the page to clear CSS cache.

[2016-11-13 02:31] tk0miya commented on #3131
What version did you use?
It was fixed at Sphinx-1.4.2
https://github.com/sphinx-doc/sphinx/blob/1.4.2/CHANGES#L41

Please update your Sphinx.
Thanks,

[2016-11-13 02:31] #3131 closed, assigned to nobody

[2016-11-13 07:24] pangxiezhou opened #3147 "html search not work for Chinese?"
I use sphinx 1.4.8 to write Chinese doc, but html search do not work。

deep into searchtool.js，I found this code in `query` method

` var tmp = query.split(/\W+/);`

So I test:
`test_str = "呵呵" //chinese word`
`test_str.split(/\W+/)`

The result is:
`["", ""]`

so this code is only work for English ?

now I changed the code to：
`var tmp = query.split(/\s+/);`

just work fine for English and Chines

[2016-11-13 08:27] jfbu commented on #3130
confirmed, 👍  ;-)

I always configure on all computers Firefox to use "private browsing mode" with "zero Ko" for the cache (plus of course AdBlockPlus), to try to limit a bit the spying done via web sites, and perhaps related to that the improvement was immediately visible.

[2016-11-13 09:28] arigo commented on #3131
Ah, sorry!  readthedocs.org is still using v1.3.5.  Thanks!

[2016-11-13 17:56] brechtm commented on #3141
There's two, no? `.. attribute::` and `:ivar:`?

[2016-11-14 02:25] tk0miya commented on #3141
Sorry. I'd overlooked.
Indeed, you can use `:ivar:` keyword in info field list.
http://www.sphinx-doc.org/en/stable/domains.html#info-field-lists

Anyway, Sphinx does not provide way to represent class and instance attributes distinctly.
(We can also use `:cvar:` keyword in info field list. But it is combined to `:ivar:` keyword and becomes `Variable` field.)

[2016-11-14 07:28] tk0miya opened #3148 "Sphinx-1.4.9 release plan"
Hi developers,

I'm going to release 1.4.9 in the end of this week.
Here is tasks for 1.4.9:
https://github.com/sphinx-doc/sphinx/milestones/1.4.9

If the task is hard to fix, let's postpone it to 1.5.
@shimizukawa could you check the tasks assigned to you?

Regards,

[2016-11-14 07:30] tk0miya commented on #3148
It would be final release of 1.4 series.
The next release is 1.5!

[2016-11-14 11:22] tk0miya commented on #3001
To support this, we have to change the structure of builders.
Now packaging EPUB document is invoked after writing HTML files.
But Sphinx exists if no HTML are updated.

We have to invoke such post processes always even if no documents are updated.
I think this is a bug, but the restructure is not stable change. So I postpone this to 1.6 release.
Sorry for inconvenience. Please use `make clean epu

[2016-11-14 12:10] tk0miya commented on #1393
Attach file salvaged from bitbucket: [1393.zip](https://github.com/sphinx-doc/sphinx/files/589154/1393.zip)

[2016-11-14 12:30] tk0miya commented on #1393
Note: It seems the problem originally reported is fixed at 1.2.1

[2016-11-14 13:44] shimizukawa commented on #3148
OK, I'll take a look in this week.

[2016-11-14 15:21] tk0miya commented on #1393
@noirbizarre @pronobis Could you tell me your case in detail?
I think your case is different from first report.

[2016-11-14 15:28] tk0miya commented on #3093
Thanks! I can reproduce the problem. I will check it!

[code]

[2016-11-14 15:52] rweickelt opened #3149 "Do not build and include source files not referenced in the TOC tree"
Sphinx warns about source files not being included into the TOC tree. But it still builds them and puts them into the output directory. Is there an option to automatically exclude files that are:

1. not referenced from any toctree
2. not included by `.. include::`
3. not marked by `:orphan:`

from the build and disable the warning? If not, shouldn't there be one?

**Proposal:**

Add an option `ex

[2016-11-14 16:24] tk0miya commented on #3093
@shimizukawa It seems both source and line are None value. Is this correct?

[2016-11-15 02:34] scaret opened #3150 "BugFix to support CJK search"
https://github.com/sphinx-doc/sphinx/commit/4ff5cbfaf920700382f809abe5def23e07bd0553

This change will break the CJK search. For Chinese:

[code]
Former one:
[code]

I suggest to revert the commit.

[2016-11-15 03:06] shibukawa commented on #3150
Thank you for reporting. #2856 needs to split "PIN-code" into `["PIN", "code"]`, but this regexp doesn't work on Chinese characters. We have to create new JS regexp that compatible with Python's `r'\W+'`.

[2016-11-15 03:43] tk0miya commented on #3150
refs: #3147

[2016-11-15 08:36] wdoekes opened #3151 "Substitutions are not replaced in emphasized text"
Similar to #941 (Substitutions not replaced in generated index), substitutions aren't replaced in emphasized text either.

IN: `*Not-working replacement of |OSSO|.*`
OUT: `<p><em>Not-working replacement of |OSSO|.</em></p>`

pandoc does what one would expect. It appears to me that this is a bug in Sphinx. And I can't come up with any rst-trick to work around the problem.

Test case:
[code]
[code]

[2016-11-15 14:49] alexvorndran commented on #3140
@brechtm I asked the same question on Stack Overflow ([link](http://stackoverflow.com/q/40508492/5682996)) before posting it here. If you also contribute to Stack Overflow, I would really like to honor your idea there. Please consider to add it as an answer which I will be happy to accept.

[2016-11-15 15:29] tk0miya commented on #3151
It comes from the specification of reStructured Text.
The docutils; a library for reST parser also does not replace the text inside emphasis element:

[code]

Please request that to docutils project.
Thanks,

[2016-11-15 15:29] #3151 closed, assigned to nobody

[2016-11-15 16:01] wdoekes commented on #3151
Filed: https://sourceforge.net/p/docutils/feature-requests/53/

Thanks!

[2016-11-15 20:04] mihaic commented on #3076
@natemwilson You should probably close this issue considering our email discussion.

[2016-11-15 20:08] #3076 closed, assigned to nobody

[2016-11-15 21:00] Paebbels commented on #2822
Any updates on this issue?

I have a similar problem to reference command line option in an another repository called `ghdl`. The inventory file was downloaded and looks fine, but Sphinx creates an unknown option warning.

Documentation URL: http://ghdl.readthedocs.io/en/latest/
Example option: `--ieee`

---

Related issues:
* tgingold/ghdl#200
* sphinx-doc/sphinx#3487

[2016-11-15 21:03] Paebbels opened #3152 "How can I document multiple scripts with overlapping command line options?"
I want to document several helper scripts in my documentation. All scripts share for example the `-v` and `-d` option to enable verbosity and debug modes. Unfortunately, the index refers only to one `.. option:: -v` directive.

Is there a way to differentiate these options?
Can I define a prefix for the internal name?

[2016-11-15 22:03] Paebbels commented on #3145
What for is the configuration option `make_mode` in [`quickstart.py:446`](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/quickstart.py?ts=2#L446)? Why are there two template files?

According to [`quickstart.py:611`](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/quickstart.py?ts=2#L611) this option applies only to Windows batch files, but in  [`quickstart.py:446`](https://github

[2016-11-16 00:28] Paebbels commented on #3145
Pull request #3153 should implement a first version of a new build script written in PowerShell.

[2016-11-16 02:58] tk0miya commented on #3095
@hoefling Did you ever set up for local ssl certs on 1.4.8?
At my local, 1.4.8 also failed for self-signed host.

[code]

AFAIK, there are no ssl options for sphinx. so I want to know how to set up certification on 1.4.8 to fix it on 1.5 release.

[2016-11-16 11:24] TimKam opened #3155 "The search function on master doesn't work in Internet Explorer, Opera"
[The JS code introduced with this commit](https://github.com/sphinx-doc/sphinx/commit/71e1aaf3770831df1b5b7f36aaadb789176a2927) uses `String.prototype.endsWith.endsWith`, which [doesn't work in Internet Explorer, Opera](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith).

Instead we should use (in this context, not tested):

`item[5].indexOf(.txt, item[5

[2016-11-16 14:37] tk0miya commented on #3155
Thank you for reporting!
I will fix it later.

[2016-11-16 15:09] shibukawa commented on #3155
`item[5].slice(-4) === '.txt'` This is the easiest and compatible with ECMAScript 3.

[2016-11-16 15:10] tk0miya commented on #3152
At my local, it works fine. Each hyperlink points correct position.
![2016-11-16 23 44 29](https://cloud.githubusercontent.com/assets/748828/20352301/128b83b8-ac5a-11e6-9809-1f43e3b4ed9a.png)

Could you show me any reproducible example?

[2016-11-16 15:21] Paebbels commented on #3152
Sorry, I figured what was wrong. I need one `.. program::` directive per script, which I'm describing.

Maybe the documentation should be a bit more clear here. The grouping directive (`program`) is explained after the item directive (`option`) and the description for `option` contains no hint to the `program` directive.

This brings me to another problem with `program`. My current ReST looks like

[2016-11-17 08:11] cjw296 opened #3157 "attribute documentation ignored by sphinx.ext.autodoc"
The following attribute documentation is being ignored:

https://github.com/cjw296/chide/blob/2.0.1/chide/set.py#L29

...as you can see here:

http://chide.readthedocs.io/en/latest/api.html#chide.Set

Here's the directive that builds the page:

https://raw.githubusercontent.com/cjw296/chide/2.0.1/docs/api.rst

I'm assuming this is a bug, but is there any way I can work around it until it's fixed?

[2016-11-17 09:57] jfbu opened #3158 "too much space after ``Fig.`` in PDF output"
With for example English language, we get this in latex file:

    \addto\captionsenglish{\renewcommand{\figurename}{Fig.\@ }}

But ``\figurename`` is used by LaTeX in this context:

    \figurename \nobreakspace \thefigure

Thus we have _two_ spaces: the one from after ``\@`` and the one from ``\nobreakspace``.

Note: after control sequences ``\foo`` TeX usually ignores a space immediately follow

[2016-11-17 14:38] tk0miya commented on #3123
Fixed at #3124

[2016-11-17 14:38] #3123 closed, assigned to tk0miya, jfbu

[2016-11-17 14:39] tk0miya commented on #3069
Fixed at #3124

[2016-11-17 14:39] #3069 closed, assigned to tk0miya, jfbu

[2016-11-17 15:51] tk0miya commented on #3157
In my short investigate:
With `.. automodule:: chide`, autodoc analyzes the file located `chide/__init__.py`.
But `Set.identify` and its comment are defined at `chide/set.py`.
So autodoc could not find the comment.

As a work around, you can do it with following notation:

[code]

I don't know this is a bug or not. But I agree that this behavior is hard to understand.

[2016-11-17 16:01] tk0miya commented on #3152
Unfortunately, there are no way to define shorter program name.

[2016-11-17 16:54] Paebbels commented on #3152
Where are the directives `program` and `option` defined?

Could we (or I?) add an option like `label` or `prefix`?

[code]

[2016-11-17 17:39] terepaii commented on #3132
This seems like it would be useful. Say you have a directory structure like the following:

Project/
----Product1/
--------Docs1/
----Product2/
--------Docs2/
----Product3/
--------Docs3/

Where you want to document multiple products separately for a customer rather than having all docs for all products in one directory.

[2016-11-17 21:45] rweickelt commented on #3132
@terepaii: exactly. I have updated the proposal above.

[2016-11-18 02:39] tk0miya commented on #3155
Fixed at 1250738.
Thank you for reporting!

[2016-11-18 02:39] #3155 closed, assigned to nobody

[2016-11-18 03:16] tk0miya commented on #2986
I restored `defindex.html` and add deprecation warning.
Thanks,

[2016-11-18 03:16] #2986 closed, assigned to tk0miya

[2016-11-18 05:41] tk0miya commented on #3152
They are defined at `sphinx/domains/std.py`.

I still could not understand your proposal is really needed or not.
Is alias commonly useful feature?
I don't have strong objection for it, but I don't feel it is helpful.

[2016-11-18 06:24] shimizukawa commented on #3132
-1 IMO the feature will complicate the specification and implementation of Sphinx.
In such situation, I usually use symlink or intersphinx or git/hg submodule feature.

[2016-11-18 07:58] trasher opened #3159 "Add ro_RO language?"
Hello,

For a doc I wrote and put on an translation online system, someone requested the ro_RO language, we've added it and the translation has begin...

But I did not pay attention this is not part of supported languages! Would it be possible to get it added?

Thank you very much!

[2016-11-18 08:11] shimizukawa commented on #3159
To be clarify, please let me know a URL of the `translation online system`.
I have two or three possibility which document you mentioned: Sphinx itself, Sphinx reference, Some doc written by sphinx, ..

[2016-11-18 08:23] trasher commented on #3159
OK, let me clarify :)

I wrote a doc using sphinx:
https://github.com/pluginsGLPI/doc

I've used sphinx-intl and publish my pot files on transifex:
https://www.transifex.com/teclib/glpi-plugins-documentation

And finally, I used rtfd to put that online. Note that "romanian" is available on rtfd languages list (I've just seen it).

Maybe there is something I misunderstood regarding to supported lan

[2016-11-18 09:08] TimKam commented on #3147
For the same reason, search doesn't work with terms containing umlauts (ö, ä ü, ø, etc.).

[2016-11-18 09:10] tk0miya commented on #3147
@TimKam could you try or review #3154 if possible?

[2016-11-18 11:06] cjw296 commented on #3157
So, the problem is that, conceptually, I want `Set` to be imported from chide, not `chide.set`, so I want the docs to reflect that. However, trying your suggested workaround on another project does not improve things:

https://github.com/Simplistix/mush/blob/master/docs/api.txt#L18

...still doesn't result in the attribute documentation being rendered:

http://mush.readthedocs.io/en/latest/api.htm

[2016-11-18 13:16] Paebbels commented on #3133
Windows supports symbolic links, hard links, sparse points, ... on NTFS file systems since years.

[2016-11-18 17:25] TimKam commented on #3147
@tk0miya I built a comprehensive set of German Docs with https://github.com/sphinx-doc/sphinx/pull/3154 and the search works fine as far as I can tell. I added some comments (nits).

[2016-11-18 19:07] rouge8 commented on #2549
I'm getting this same error with `:param:`

[2016-11-18 22:22] Paebbels opened #3160 "Why doesn't Sphinx translate :kbd: roles to HTML's <kbd> tags?"
I want to mark keyboard keys and inputs as key "icons". Sphinx provides a `:kbd:` role to markup single characters or words, but the resulting HTML contains `<code class="kbd ......">` tags.

So why doesn't Sphinx translate :kbd: roles to HTML's \<kbd> tags?
Or is this a Read-The-Docs issue? - I'm using their theme

My question on StackOverflow: http://stackoverflow.com/questions/40686837/why-does

[2016-11-18 22:45] jfbu commented on #2994
is this a query only for title page? or for all pages?

[2016-11-18 23:02] jfbu commented on #2535
Thus, this has more to do with TeX layout that is has to do with Sphinx. Have you tried above advice, to use `'preamble'` key like this:

[code]

I replaced  `\DeclareRobustCommand` as in https://github.com/sphinx-doc/sphinx/issues/2535#issuecomment-222625445 by `\protected\def` which is more modern syntax. The definition itself differs from the standard LaTeX one for `\_` only by addition of an `

[2016-11-18 23:15] jfbu commented on #2078
Sphinx does not know where LaTeX will break pages. Hence the only way I see is to try to use TeX's own facilities (`\widowpenalty`, `\clubpenalty`, ...) which are related to this issue. For this one can insert some settings via `'preamble'` key to `latex_elements` or even via a `.. raw:: latex` directive in the document body. You may start from

  http://tex.stackexchange.com/questions/4152/how-do

[2016-11-19 01:03] shimizukawa commented on #3159
First of all, there is no limit to the language that Sphinx can handle. Of course, Sphinx itself has a [limited language catalog](https://github.com/sphinx-doc/sphinx/tree/master/sphinx/locale), but users' documents and their translations are fine in any language(even country codes not included in ISO-639).

Transifex seems to be able to select both `ro` and `ro_RO`, but ReadTheDocs does not seem

[2016-11-19 03:55] tk0miya commented on #1393
At this moment, some problem could not be reproduced.
So I postpone this to 1.5 milestone.

[2016-11-19 05:46] tk0miya commented on #3118
Ah, it's my mistake.
Only `:numref:` role allows both `{number}` and `{name}`. But `numfig_format` disallows.

`numfig_format` is used for the default link caption of `:numref:`. And it is also used for the prefix of captions of sections, figures, tables and code-blocks.
#2916 only modifies the format of link captions. It is not related with `numfig_format`.

I will fix it later. Thank you for let

[2016-11-19 06:15] trasher commented on #3159
Hi @shimizukawa,

All of that is much more clear in my mind now! I was a bit lost! I did think readthedocs limitations were sphinx limitations...

Thank your very very much for your explanations; ad sorry for the noise :)

[2016-11-19 06:15] #3159 closed, assigned to shimizukawa

[2016-11-19 14:14] miketheman opened #3163 ":numref: with intersphinx possible?"
Hello!
Very excited to see some of the changes in 1.5 coming up, in particular `:numref:`.

Was curious to know if there is intent in making numref function with intersphinx extension, if that's even possible?

Here's an example I worked up using Sphinx 1.5b1 that produces a warning during build:

[code]

Build-time warning:
[code]

Rendered output:
<img width="247" alt="screenshot 2016-11-19 09 0

[2016-11-19 15:05] tk0miya commented on #3150
#3154 is merged now.

[2016-11-19 15:05] #3150 closed, assigned to nobody

[2016-11-19 15:05] tk0miya commented on #3150
Thank you for reporting!

[2016-11-19 15:06] tk0miya commented on #3147
#3154 is merged now.
Thank you for reporting!

[2016-11-19 15:06] #3147 closed, assigned to nobody

[2016-11-19 15:21] tk0miya commented on #3095
#3156 is merged now
Thank you for reporting

[2016-11-19 15:21] #3095 closed, assigned to tk0miya

[2016-11-20 03:46] tk0miya commented on #3118
Fixed at 7c19a2f

[2016-11-20 03:46] #3118 closed, assigned to tk0miya

[2016-11-20 05:46] tk0miya commented on #2985
Sorry, I can't reproduce the problem.
Could you show me any reproducible example?

[2016-11-20 05:48] tk0miya commented on #1575
Hmm... this is an enhancement. not a bug.
So I postpone this to 1.6.

[2016-11-20 05:53] Paebbels opened #3164 "In some cases no inheritance diagram is drawn."
I'm reviewing the automatically generated documentation and found that sometime the inheritance diagram is missing:
![image](https://cloud.githubusercontent.com/assets/956109/20460694/b6391730-aeeb-11e6-83f4-c66e1726065d.png)

The base class `Base.Shared.Shared` is imported via: `from Base.Shared import Shared` and documented in the same way. It has a inheritance diagram:
![image](https://cloud.gi

[2016-11-20 06:20] tk0miya commented on #3164
Both autodoc and inheritance_diagram use `sphinx.pycode` module to analyze the python codes.
So it might been related.

Anyway, to investigate your problem, we have to reproduce the problem at first. So could you share your documentation. Of course, it would be nice if there is any small reproducible project :-)

[2016-11-20 06:34] Paebbels commented on #3164
As I saw, the current online version of the documentation shows already this behavior:

Compiler class: [Base.Compiler.Compiler](http://poc-library.readthedocs.io/en/release/PyInfrastructure/Base.Compiler.html#Base.Compiler.Compiler)
Shared class: [Base.Shared.Shared](http://poc-library.readthedocs.io/en/release/PyInfrastructure/Base.Shared.html#Base.Shared.Shared)

The repository is: https://gith

[2016-11-20 06:54] shimizukawa commented on #3093
To reproduce the issue:
- conf.py: `gettext_additional_targets = ['image']`
- some.rst: `.. |picture file| image:: foo.*`

It's a bug of Sphinx.

[2016-11-20 07:22] tk0miya commented on #3163
Good point!
But inventory data of intersphinx does not have section numbers and figure numbers.
So it could not work in 1.5.

Thank you for good hint :-)

[2016-11-20 07:52] tk0miya commented on #3160
Maybe no reason. Now sphinx represents a `:kbd:` role as a literal. And HTML writers simply convert it to `<span>` element.

+1 for `<kdb>` tag.

[2016-11-20 07:55] Paebbels commented on #3160
Does the HTML writer belong to Sphinx or are we in another scope like docutils?

[2016-11-20 08:08] tk0miya commented on #3149
+0; reasonable, but not important.

[2016-11-20 08:15] tk0miya commented on #3160
HTML writer belongs to both docutils and Sphinx.
docutils provides basic feature of HTML writer. and Sphinx customize it.

Anyway, this behavior came from `:kbd:` role. It is provided by Sphinx.
So this is a issue of Sphinx.

[2016-11-20 08:41] shimizukawa commented on #3093
I found another bug:
- conf.py: `gettext_additional_targets = ['image']`
- some.rst:

[code]

[2016-11-20 08:57] Paebbels commented on #3164
I just found these warnings/errors:

[code]

These classes are inheriting again from `Compiler`, but where processed in another autoapi run.

What does:

mean?

[2016-11-20 09:38] tk0miya commented on #3157
What variable did you mean?
If you mean `mush.plug.Plug.ignore`, it seems the variable does not have any comment. So it is correct result, I think.

[2016-11-20 10:36] tk0miya commented on #3093
Fixed at #3165
Thank you for reporting!

[2016-11-20 10:36] #3093 closed, assigned to shimizukawa

[2016-11-20 11:42] tk0miya commented on #3164
Thanks, I reproduced. I will take a look later.

transition is a element of docutils like separator.
http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#transitions

The message says the first element of document or section may not be a transition.

[2016-11-20 15:36] Paebbels commented on #3164
Thanks, I found the "transition" problem. I altered the autoapi template and introduced lines. If some sections where not generated, lone standing transitions could appear... => fixed.

I also found this warning:

... which matches the missing inheritance diagram. This file contains the class `Base.Compiler.Compiler`, which has no inheritance diagram.

[2016-11-20 15:50] tk0miya commented on #3148
Hi developers,
I decided to postpone the release for a few days.
I think #3164 is a blocker for this release.
And more, if possible, I would like to fix #3117 in 1.4.9.
1.4.9 might be a final release of 1.4 series. so I would like to clear all known bugs from the package.

Note: If it is hard to fix in a few days, I will give up to fix them and change the milestone to 1.5.

[2016-11-20 18:22] cjw296 commented on #3157
Sorry, I was referring to `Plug.explicit`, which has docs here:

https://github.com/Simplistix/mush/blob/master/mush/plug.py#L58

...but even when I move them to L41, those comment lines are ignored.

[2016-11-21 01:28] pangxiezhou commented on #3147
👍

[2016-11-21 02:23] tk0miya commented on #3164
Finally I found this is a bug of `sphinx.ext.inheritance_diagram`.

In your case, reST is marked up like following:
[code]
The `inherintance-diagram` searches the class definitions with following order:
1. `Compiler`
2. `Base.Compiler.Compiler`

As a result, the directive ignores `currentmodule` settings if there is `Compile` module on root namespace.

This message says `inheritance-diagram` loade

[2016-11-21 03:22] tk0miya commented on #3128
I don't know this is a bug or feature enhancement.
But certainly it is very inconvenience if we can't use `.svgz` files to images.

So I'd like to add `.svgz` support into 1.5-release branch as a bug.
@shimizukawa how do you think?

Note:
W3C says mime-type for `.svgz` is "image/svg+xml".
https://www.w3.org/TR/SVG/intro.html#MIMEType

And the our documentation also says HTML builders supports "ima

[2016-11-21 15:43] Paebbels opened #3167 "Document metadata like :orphan: is rendered as text if the ReST file is included."
I have a include file called `Authors.rst`, which is included into another document. The file is not referenced by a toctree directive. To suppress the "not referenced" warning, I added the metadata `:orphan:` to the `Authors.rst` file. Unfortunately, the text `orphan:` is displayed in the HTML output. (Not there is no leading colon in the text.)

**Authors.rst:**
[code]

**index.rst:**
[code]

**

[2016-11-22 01:40] Paebbels opened #3169 "The caption of a toctree is not translated into latex "parts""
My documentation is on a good way (maybe you noticed a bunch of issue reports written while using Sphinx for a big project :) ), so I checked the LaTeX backend.

The online documentation at ReadTheDocs has "parts", created by by multiple toctree directives, each with its own caption. I would expect (with `latex_use_parts = True`) that `caption` gets translated to a `\part{...}` in LaTeX.

**ReadTh

[2016-11-22 02:17] Paebbels opened #3170 "Enabling and disabling a horizontal rule with 'only' causes an AssertionError"
I want to enabled / disable a horizontal rule with the `only` directive.

This results in a `assertionerror`:
[code]

**Example code:**
[code]

Sparing the second `.. only:: html` didn't work.

**Whereas this compiles:**
[code]

**BUT**, it creates the horizontal line (twice):
![image](https://cloud.githubusercontent.com/assets/956109/20508428/e40db1a8-b061-11e6-9cbb-579857c9ea6c.png)

-----------

[2016-11-22 08:17] jfbu commented on #3169
Here is a way, perhaps there is a better Sphinxesque method.

master ``index.rst`` file:

[code]

produces:

**edit**: the image below shows that the first section What is PoC? did not make it to document, but this is fixed by adding a sectioning like

[code]

to the master toctree content file above.

![capture d ecran 2016-11-22 a 09 08 04](https://cloud.githubusercontent.com/assets/2589111/2051

[2016-11-22 10:18] Paebbels commented on #3169
Hello, that seems to work on my local machine too.
I'll test this workaround on RTFD.

[2016-11-22 12:20] tk0miya commented on #3164
I put #3171 to fix this.
I will merge this tomorrow.
Please comment if you still have problem with this.

[2016-11-22 12:51] Paebbels commented on #3164
Is there any easy way to test it?
Currently all packages are controlled by PIP.
I could:
* overwrite the file in my site-package folder with your new version
* copy this file into my `_extensions` folder and use `inheritance_diagram` instead of `sphinx.ext.inheritance_diagram`

right?

[2016-11-22 13:14] tk0miya commented on #3164
Please install it using following command:
[code]

[2016-11-22 14:39] tk0miya commented on #3117
In my short investigation:
The condition `elif self.this_is_the_title:` appeared first is in 3d74adea; the first version of LaTeX writer.
At this era, LaTeX writer had only handled title nodes under sections.

BTW, the first node is used for `\title{...}` macro of the document.
I think title node under section is befitting to the usage.

So I decided to move the condition into `elif isinstance(nod

[2016-11-22 15:15] Paebbels commented on #3164
So the inheritance diagram is drawn and looks like this:
![image](https://cloud.githubusercontent.com/assets/956109/20528798/e409ae2a-b0cd-11e6-8d5e-72251134543f.png)

I noticed two things:
1. If the diagram gets bigger, it should have get a scrollbar. I'm using another Sphinx extension called wavedrom, which solved this job by adding a &lt;div style="overflow-x:auto"&gt; - box.

   ![image](https

[2016-11-22 15:36] shimizukawa commented on #3128
+1 for including to 1.5-release

[2016-11-22 15:43] tk0miya commented on #3117
Fixed at 	43197de.
Thank you for reporting!

[2016-11-22 15:43] #3117 closed, assigned to nobody

[2016-11-22 15:54] tk0miya commented on #3164
Thank you for quick reviewing.

The first problem is not related with this issue.
Could you file it as new issue please?

I will take a look the second one later.
But I fixed `sphinx.ext.inheritance_diagram` only in the PR.
So the case of the list of classes might be not related with it.

[2016-11-22 16:02] tk0miya commented on #3170
Duplicated with #2409.

Note: As a adhoc way, you can use following notation instead.
[code]

[2016-11-22 16:02] #3170 closed, assigned to nobody

[2016-11-22 16:13] Paebbels opened #3172 "Missing scrollbars for long inheritance diagrams"
Issue #3164 and its related PR improved the inheritance diagrams. The new diagram is shown in its correct size and number of ancestors:
![image](https://cloud.githubusercontent.com/assets/956109/20528798/e409ae2a-b0cd-11e6-8d5e-72251134543f.png)

Unfortunately, a long list of ancestors brakes the design.

I suggest to wrap inheritance diagrams in a &lt;div style="overflow-x:auto"&gt; - box, so tha

[2016-11-22 16:15] Paebbels commented on #3164
The first problem is filed as #3172.

[2016-11-22 16:15] tk0miya commented on #3169
The `:caption:` option of `toctree` directive means a caption of table of contents. So LaTeX writer only uses it for the caption of ToC.
(In LaTeX writer, all toctree are combined to single toctree. so the first `:caption:` is used for the caption of ToC)

It does not mean document structure. so it is not used for "part". So please avoid it with adhoc way like `raw` and `only` directive.

[2016-11-22 16:15] #3169 closed, assigned to nobody

[2016-11-22 16:19] tk0miya commented on #3167
You should not mark `:orphan:` for included files.
At current release, Sphinx does not warn for included files as orphaned.
So please remove them and upgrade your sphinx (if still warned).

[2016-11-22 16:19] #3167 closed, assigned to nobody

[2016-11-22 16:34] tk0miya commented on #3164
Thanks!

[2016-11-22 16:52] tk0miya commented on #3157
Really? At this moment, `Plug.explicit` appeared in RTD.

If you commented on L.58, the comment is not used for a description of `Plug.explicit`. Because  `if self.explit:` is not a definition of `Plug.explicit`.

[2016-11-23 02:53] shimizukawa commented on #2408
`-m` is `--use-make-mode`: http://www.sphinx-doc.org/en/1.4.8/invocation.html#cmdoption-sphinx-quickstart--use-make-mode
You can use the option since sphinx-1.3.

[2016-11-23 02:58] tk0miya commented on #3164
It seems your documents on RTD already can't be clicked.
The problem really came from my PR?
http://poc-library.readthedocs.io/en/release/PyInfrastructure/Base.Compiler.html

This is same as above.
Current your documentation is already not clickable.
http://poc-library.readthedocs.io/en/release/PyInfrastructure/Base.Simulator.html

It seems some python objects are defined as `:noindex:`
[code]
Act

[2016-11-23 03:07] tk0miya commented on #3164
Now I merged #3171.
It will be released as Sphinx-1.4.9
Thank you for reporting

[2016-11-23 03:07] #3164 closed, assigned to nobody

[2016-11-23 03:11] tk0miya commented on #3148
Now I resolved both #3164 and #3117.
If nothing anymore, I will release 1.4.9 tonight (JST; maybe 8-10 hours later).
Thank you for your help :-)

[2016-11-23 03:12] shimizukawa commented on #3148
Thanks @tk0miya !

[2016-11-23 05:51] tk0miya commented on #1393
Note:
Both messages came from docstring of `int` and `list`:
[code]
We need to know why autodata digs the docstring of such types if it still happened.

[2016-11-23 07:22] kanchansrivastava commented on #944
If I am trying to exclude `__init__.py`, it is throwing **AssertionError**.
I executed following command:
[code]

[2016-11-23 07:22] Paebbels commented on #3164
Thank you for fixing this reported issue.
I added `:noindex:` because the Python documentation is only a subpart of the complete documentation and I didn't want the Python stuff to pollute the index, so I set this option. I'll investigate when this behavior changed and try a smaller example.

So just one last question to understand your note:
Are the inheritance diagram links based on indexing or