[2016-01-24 09:14] birkenfeld commented on #2264
The second block would have been unhighlighted in previous Sphinx versions too. Only the warning is new to make you aware of it.

[2016-01-24 09:26] stevepiercy commented on #2264
@birkenfeld is this a change in Pygments or Sphinx? Either way, it's a good change that helped me catch a couple of other mistakes.

[2016-01-24 09:41] birkenfeld commented on #2264
This was added to Sphinx in #1565.

[2016-01-24 09:56] stevepiercy commented on #1565
Just wanted to say thank you for this change, because it helped me catch a couple of mistakes in our docs.

[2016-01-24 10:06] birkenfeld commented on #1565
Nice, thanks for the feedback!

[2016-01-24 10:11] tk0miya commented on #1565
:smile:

[2016-01-24 10:28] tk0miya commented on #2246
Sorry, no docs for testing extensions yet.
But we have `sphinx-testing` package to do that.
https://github.com/sphinx-doc/sphinx-testing

I usually use it for testing extensions.

[2016-01-24 10:40] #2022 closed, assigned to tk0miya

[2016-01-24 10:41] tk0miya commented on #2022
Just merged #2237 into master branch now.
Thank you for all your help!

[2016-01-24 11:56] tk0miya commented on #2245
Now, there is no appropriate pages for customization of LaTeX output.

It would be better if you send any pull requests for these docs.
Thanks,

[2016-01-24 16:34] tk0miya commented on #1201
The warning was introduced since 1.3.5.
More details, see #1565.

Thanks,

[2016-01-24 16:34] #1201 closed, assigned to nobody

[2016-01-24 20:01] stevepiercy commented on #2264
Would it be helpful to add to the change log something like this?

Reasoning: When searching the change log, I could not find anything relevant to "literal_block". This would link the error message to a specific change log entry and provide a clue for what changed in 1.3.5 and how to fix it.

Alternatively, the warning message could refer to the specific directive that literal_block refers to, e.g

[2016-01-24 20:59] vlotorev opened #2265 "\addto\caption... is added when babel is disabled"
I'd like to use xelatex to generate PDF.

I've added make target which calls xelatex instead of latexpdf.

My latex_elements at conf.py looks like following:

[code]

But the generated output tex file still contains reference to _captionsrussian_
which causes an error during call of xelatex:

[code]

As far as I understand captionrussian is babel macro, right?

Checked on sphinx 1.3.5

[2016-01-25 03:55] QuLogic commented on #2227
Setting that option to `False` does appear to fix that issue, though it seems to introduce several new warnings. Also, the old documentation suggested placing `**kwargs` in double-backticks, but that no longer works correctly (It does work with the current doc's suggestion of escaping the asterisks.)

[2016-01-25 04:41] RobRuana commented on #2227
Can you post the warnings it introduces? I'll take a look and see if I can resolve them.

Thanks!

[2016-01-25 12:23] stroeder opened #2268 "1.3.5 - make test fails with Python 2.7.10"
Tried to package 1.3.5 for Python 2.7.10.

But "make test" fails:
https://build.opensuse.org/build/home:stroeder:branches:devel:languages:python/openSUSE_Tumbleweed/x86_64/python-Sphinx/_log

[2016-01-25 12:24] petsuter commented on #1825
OK thanks. So if I understand correctly I have to use this to get the plugin items to appear normal again:

[code]

Is there a way to keep warnings red? Or to specify the color as "like normal text" without hardcoding `#FFFFFF`?

Would you say the root problem is with the plugin, and it shouldn't subclass `nodes.Admonition` for things that should look like normal text? If yes, what should it do in

[2016-01-25 12:44] shimizukawa commented on #2268
Thanks for your reporting, I'll take a look.

BTW, the link you pasted indicate `anonymous_user(Anonymous user is not allowed here - please login):`

[2016-01-25 12:50] shimizukawa commented on #2268
Memo:
- Sphinx-1.3.5 + Python-2.7.9 is fine: https://travis-ci.org/sphinx-doc/sphinx/jobs/104384116
- It might be caused by differently of UCS2 and UCS4.
  https://github.com/travis-ci/travis-ci/issues/5107

[2016-01-25 13:42] tk0miya commented on #2268
FYI:
I try to reproduce with MacOSX 10.9.5 and Sphinx-1.3.5 and Python-2.7.10.
But `make test` works fine:

[code]

[2016-01-25 14:05] shimizukawa commented on #2268
[code]

[2016-01-25 14:06] shimizukawa commented on #2268
@stroeder please let me know the detail of error.

[2016-01-25 14:10] tk0miya commented on #2025
I object to this proposal.
Because Sphinx should not extend syntax of reStructuredText, I think.

If we want to introduce new feature, use directives or roles instead. It's reST way.
So it would be better that adding new directive to wrap block and caption it::

[code]

BTW The syntax you shown is already defined in reST. It's called as "indirect hyperlink targets".
It works as alias of existing l

[2016-01-25 14:12] mitya57 commented on #2268
@shimizukawa I'm getting failures now too (when trying to package Sphinx 1.3.5), here are the errors: https://gist.github.com/mitya57/06fdea89516262eae831

This is with Python 2.7.11, however I built Sphinx 1.3.4 with the same Python previously. So the regression is somewhere else (maybe in Sphinx itself)?

[2016-01-25 14:20] stroeder commented on #2268
Find failure log attached.

[Sphinx-1.3.5-test.zip](https://github.com/sphinx-doc/sphinx/files/103319/Sphinx-1.3.5-test.zip)

[2016-01-25 14:33] shimizukawa commented on #2268
@stroeder @mitya57 It seems it depends on https://github.com/sphinx-doc/sphinx/commit/5574aba60ed76f2bae947722122ac4d71ab8ed5a
Please update your Pygments version 2.1 and re-testing.

[2016-01-25 14:37] mitya57 commented on #2268
@shimizukawa Right, that's what I have just figured out myself. With 2.1 it works fine. Thanks!

[2016-01-25 14:40] tk0miya commented on #2043
It is stored in `env.metadata[docname]` and `doctree[0]` (as nodes.docinfo node).
Does this help you?

[2016-01-25 14:45] tk0miya commented on #2043
`env.metadata` is already mentioned on our docs:
http://www.sphinx-doc.org/en/stable/extdev/envapi.html#sphinx.environment.BuildEnvironment.metadata

Thanks,

[2016-01-25 14:45] #2043 closed, assigned to nobody

[2016-01-25 15:47] josephcslater commented on #2022
You guys did all the work. All I did is (gently) complain about software I get to use with no investment on my part not quite behaving the way I had hoped. Then a bunch of people jumped in to help me out, all without knowing me. This is precisely why I explain to my students they should:
- use open source
- support open source by contributing time/money
  You guys rock! Now I need to get back to m

[2016-01-25 15:57] tk0miya commented on #2264
OK, I'll update it later.

[2016-01-25 16:02] stroeder commented on #2268
I confirm that updating to Pygments 2.1 fixed the issue.

[2016-01-25 16:41] birkenfeld commented on #2268
Hm, this is not optimal - Sphinx tests should not depend on specific Pygments versions since we do not require 2.1.

I probably wrote these tests, so I'm not blaming anyone else. But it would be nice to rewrite them anyway.

[2016-01-25 21:41] QuLogic commented on #2227
Here are the warnings:

[code]

but matplotlib's docstrings are a bit of a mishmash of styles, so it may be from this side.

[2016-01-26 01:58] tk0miya commented on #2264
@stevepiercy This change also effects to other directives (cf. `literalinclude`, `parsed-literal` and so on).

So I rewrite changelog as follows:

Thanks,

[2016-01-26 01:58] #2264 closed, assigned to tk0miya

[2016-01-26 02:05] tk0miya commented on #2268
+1 for rewriting. It makes testcases robust :-)

[2016-01-26 04:25] stevepiercy commented on #2264
Thank you!

[2016-01-26 08:35] kukgini commented on #2256
result is same as what you expected :

[code]

[2016-01-26 09:01] emmanuelmathot opened #2269 "\begin{flushNone} with uml without :align: attribute"
When generating latex with `uml` directive and no `:align:` attribute, the generated latex creates an environment `flushNone` which is incorrect.

[code]

I dont know if the error comes from the uml code generation that should align include a `:align:` attribute when none are provided or if this case should be taken into account here:

https://github.com/sphinx-doc/sphinx/blob/b1a23817fc6e880fb7ed

[2016-01-26 16:02] donjan opened #2270 "[fix] sphinx-build doesn't honor current Python environment"
Sphinx (sphinx-build) 1.3.5 on a Ubuntu 14.04 system.

I need to run sphinx-build in both Python2 and Python3 environments, installed in parallel.
Boost Python requires the scripts to be run with the same version the shared objects have been built with.

Everything in the project works fine by setting up a virtualenv, except when building the Python part of the documentation: `/usr/bin/sphinx-buil

[2016-01-26 18:01] fkromer commented on #2246
Thank you for the hint. I found some good inspiration which also uses `sphinx-testing` for testing .png and .svg output here: https://github.com/blockdiag/sphinxcontrib-blockdiag/blob/master/tests/test_html.py

[2016-01-26 18:01] #2246 closed, assigned to nobody

[2016-01-26 22:25] shimizukawa commented on #2270
The sphinx-build script and its shebang are generated by pip/setuptools instead of sphinx. There is nothing to do from sphinx side.
In you case, I propose that please install sphinx in each virtualenv.

[2016-01-27 03:17] tk0miya commented on #2246
Good to know. Please let us know if you get any problems using the package.

Thanks,

[2016-01-27 04:42] tk0miya commented on #2269
I think this is not a bug of Sphinx.
Please report it to the extension author (`sphinxcontrib-plantuml`?).
Sphinx does not expect the `node.attributes['align']` equals to None.

Thanks,

[2016-01-27 04:42] #2269 closed, assigned to nobody

[2016-01-27 07:33] RobRuana commented on #2227
Cool, I see the matplotlib docstrings are doing things that we don't have tests for. I'll add some tests and see if I can't fix these errors.

[2016-01-27 10:25] ngladitz opened #2271 "Exception in C++ domain"
I currently don't have a reduced test case for this but on one of my systems I get the following exception with the current master branch:

[code]

I am hoping this is something obvious (perhaps specific to my system since I think it might be working on other systems).

[2016-01-27 10:45] tk0miya commented on #2265
Fixed at 9b21115.

Thank you for reporting

[2016-01-27 10:45] #2265 closed, assigned to nobody

[2016-01-27 10:47] tk0miya commented on #2190
MEMO: related with #2250

[2016-01-27 11:26] kukgini commented on #2256
I published my environment on github.com. check this out : https://github.com/kukgini/bigglesworth.git
./build.sh will build src/ to target/

[2016-01-27 12:54] jakobandersen commented on #2271
I can't reproduce it at the moment. It's somehow related to a reference that resolves to a function. It would be great if you have time make a small test case.
(Note: Line 4060 with the exception was introduced in connection with #2178.)

[2016-01-27 13:13] ngladitz commented on #2271
I reduced it to:

[code]

What seems to trigger it in this case is the function and the return type having the same name.

[2016-01-27 13:39] tk0miya commented on #2256
In my environment, It works fine.

[code]

[2016-01-27 13:43] jakobandersen commented on #2271
Great, I'll look into it. Though I'm curious, in which context is that declaration meaningful? (Sphinx should of course not crash no matter what.)

[2016-01-27 13:49] ngladitz commented on #2271
e.g. in boost filesystem directory_entry has a member [1]:

[code]

[1] http://www.boost.org/doc/libs/1_60_0/libs/filesystem/doc/reference.html#directory_entry-observers

[2016-01-27 14:14] jakobandersen commented on #2271
It looks like this a simplification of the Boost documentation, as the real code seems to be (`boost/filesystem/operations.hpp:701`):

[code]

It would be nice with a compilable example to make sure the lookups are correct in the end. My attempt with GCC doesn't compile:

[code]

`test.cpp`:

[code]

[2016-01-27 14:30] ngladitz commented on #2271
Hm yes I see what you mean.
My documentation generator performs the same simplification (it removes the namespace from the return type if there has been a matching "cpp:namespace::" directive before).

Your example does seem to compile with clang ... I don't know which compiler is right though.

[2016-01-27 14:39] kottkrig opened #2272 "Feature request: GIF support in latexpdf builder"
## Repro Steps
1. Refence a GIF image in source files
2. Run `make latexpdf`

**Expected:** The GIF should be visible in the generated PDF. If it's an animated GIF, show the first frame.
**Actual:** `make latex` produces an error `! LaTeX Error: Unknown graphics extension: .gif.` and the image is not visible in the generated pdf.

[2016-01-27 14:41] kottkrig opened #2273 "Feature request: SVG support in latexpdf builder"
## Repro Steps
1. Refence a SVG in source files
2. Run `make latexpdf`

**Expected:** The SVG should be visible in the generated PDF. Preferably in vector form.
**Actual:** `make latex` produces an error `! LaTeX Error: Unknown graphics extension: .svg.` and the svg is not visible in the generated pdf.

[2016-01-27 14:49] #2271 closed, assigned to jakobandersen

[2016-01-27 14:55] jakobandersen commented on #2271
The crash has been fixed, but the link for the return type will target the function itself. I will wait with changing the lookup rules until we find out which compiler is right. Thanks again for finding the bug.

[2016-01-27 15:02] ngladitz commented on #2271
Thanks for the quick fix!

I tried the example in VS2015 too now where it works as well but I am aware that standard conformance is not a question of majority :)

[2016-01-27 16:35] lehmannro commented on #2273
Duplicate of #1907 (fix pending in #2166).

Please use [Github search](https://help.github.com/articles/searching-issues/) ([relevant example](https://github.com/sphinx-doc/sphinx/issues?q=svg+latex)) to find related issues.

[2016-01-27 16:35] #2273 closed, assigned to nobody

[2016-01-27 18:16] #2227 closed, assigned to RobRuana

[2016-01-27 18:20] RobRuana commented on #2227
Okay, I think I've fixed the issue you're seeing with the matplotlib docs.

[2016-01-27 20:27] #2270 closed, assigned to nobody

[2016-01-28 11:46] andreacassioli commented on #2262
Hi,
I am experiencing the same issue on Sphinx 1.3.5.

[2016-01-28 13:47] andreacassioli commented on #2025
Hi,
thank you for the comment.

I know understand better how sphinx works and I agree with you, well partially.

My point is I think that Sphinx should provide a clean and simple way to create links to arbitrary positions in a document, with an arbitrary label, not necessary a caption.

I have taken a look to the rest link you provide, but to me is still very unclear and few test I have done leade

[2016-01-28 13:47] #2025 closed, assigned to nobody

[2016-01-28 16:00] brianjking opened #2274 "Use Paymentfont.io icons with ReadTheDocs Theme with Sphinx"
Hello,

I'm using Sphinx with the ReadTheDocs Theme and building/hosting on readthedocs.org. I'm wondering how I can implement icons from https://github.com/vendocrat/PaymentFont in my Sphinx docs?

As per http://paymentfont.io/#icons I just simply enter `<span class="pf pf-paypal"></span>` as long as I've uploaded the `css` and `font` folders into my site. However, I'm not sure what modifications

[2016-01-28 21:00] ngoldbaum opened #2275 "Parallel builder fails to unpack certain exceptions under python2"
This is a weird one.

I've created a repository that constitutes a minimal example to trigger this behavior. It's located here:

https://github.com/ngoldbaum/sphinx-bug

To trigger the error just do `make html`, you'll get back the following error:

[code]

The full traceback is here:

https://gist.github.com/ngoldbaum/7c09582f94ac94bb740d

This happens in the example when the extension (see `exte

[2016-01-28 21:11] ngoldbaum commented on #2275
I can't find a bug for this on the python issue tracker, but I gather that multiprocessing was completely rewritten for Python3.3

[2016-01-28 22:22] shimizukawa commented on #2274
Please try
1. locate `css` and `fonts` directories under `_static` directory of your sphinx project.
2. append this snippet to your conf.py

[code]

Now you can use several way to use icons like:

[code]

[2016-01-29 01:54] tk0miya commented on #2025
We can do it with following code::

[code]

In this case, we can put arbitary label before bullet list and create links to it.
But the bullet list does not have any captions and titles, so we have to specify the link title on `:ref:` role.

I think captions are required to resolve your request.

Sorry if i misread your comments.

[2016-01-29 04:18] brianjking commented on #2274
@shimizukawa This works if I execute `make html` locally, however, the icons do not show when using readthedocs.org.

Any tips there?

Thanks!

[2016-01-29 04:20] brianjking commented on #2274
@shimizukawa Sorry, I'm an idiot. I just missed pushing the commit to the remote repository for the addition of the css & font folders inside of _static.

This works great, thank you!

[2016-01-29 04:20] #2274 closed, assigned to nobody

[2016-01-29 04:22] shimizukawa commented on #2274
Good to know!

[2016-01-29 07:49] andreacassioli commented on #2025
Hi again,
thank you for the clarification. Now I see.

However, I definitely want to avoid being forced to write the label on the link. That is very annoying and breaks the way one work. It is also boring when a link is repeated may times. I want the target to know the label, as we do for sections.

[2016-01-29 11:55] andreacassioli commented on #1723
+1

[2016-01-29 11:56] andreacassioli commented on #1303
+1

[2016-01-29 14:37] tk0miya commented on #2025
I created sample implementation to resolve this::

[code]

It works fine for me. (but I do not test this)
Have a fun :-)

Thanks,

[2016-01-29 17:36] fkromer opened #2277 "sphinx extension/sphinxcontrib testing"
I would like to test my [extension for sphinx-doc which i have under version control in my sphinx-doc project](https://github.com/fkromer/eswp3/tree/master/exts/sphinxcontrib-p3). Running `make html` over the project results in the expected behaviour and the results of my first low-level unit tests (_tests/test_p3.py_) are fine. However if i try to run the acceptance tests (_tests/test_html.py_) u

[2016-01-29 18:54] ericholscher opened #2278 "page_source_suffix not in 1.3.5"
I added a a while ago adding page_source_suffix to HTML context, so you can tell if you're working on markdown or rst files. It isn't included in 1.3.5:

https://github.com/sphinx-doc/sphinx/blob/1.3.5/sphinx/builders/html.py#L427

It however has been in master for a long time:

https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/html.py#L431

How is it not included in any of the rele

[2016-01-29 18:56] ericholscher commented on #2278
Seems like it isn't included in the `stable` branch, so it isn't being included in releases. How do I get this included in stable?

[2016-01-29 22:14] ericholscher commented on #2278
This is the commit -- should be backwards compat, and included in releases, I think: https://github.com/sphinx-doc/sphinx/commit/5f6503c905e67c12b6050e1f49682feab0389126

[2016-01-30 02:17] tk0miya commented on #2278
At this moment, the milestone for v1.4 is put on Feb. 8th.
So I think next major release is coming within a month (maybe beta releases are needed before proper one)

@shimizukawa Let us know about the release plan.

[2016-01-30 09:38] tk0miya commented on #2090
In my short investigation:
- `Sphinx.add_javascript()` has same issue.
- Could not use `env.note_dependency()` to register them to dependencies.
  - The dependency is used for arbitary docname. but these files are used in whole of document.
  - The function is able to call in reading phase. It could not use in initialization phase...
- HTML builder copies these static files after building document

[2016-01-30 10:05] tk0miya commented on #2277
Could you install `sphinx_testing` package? It is not included in Sphinx package.
https://pypi.python.org/pypi/sphinx-testing/

BTW, Sphinx does not use `sphinx_testing` for its testing. So `sphinx_testing.with_app` and `util.with_app` are different.

[2016-01-30 16:16] kevin-keraudren opened #2279 "About Python 3, utf8, sphinx, pygments, re and regex (and also tokenize)"
For simplicity, I copied and pasted below the `README.md`of this git repository: https://github.com/kevin-keraudren/sphinx-python3-utf8-demo

The first bug reported is a real-case scenario which happened as soon as we considered using greek letters in our code. The other two came up while experimenting with utf8 and `sphinx`.
# About Python 3, utf8, `sphinx`, `pygments`, `re` and `regex` (and also

[2016-01-30 16:41] tk0miya commented on #2240
In my short investigation:

Now, Sphinx uses `<img>` tag for embed SVG images.
It disables hyperlinks in SVG images.
To resolve this, use `<object>` tag instead.
But it causes new issues.
1. Sphinx generates hyperlink to original image like `<a><img /></a>` if image is resized. but after replacing with `<object>`, it does not work correctly.
2. In `.svg` file, The `target` parameter is required at

[2016-01-31 00:28] prattmic opened #2280 "Highlighting of one block can affect another"
Here is the simple reproducer: https://gist.github.com/prattmic/74d997aebb067facf99b

Both `01works.rst` and `02broken.rst` contain the same `sourcecode` blocks, just in a different order. `01works.rst` builds just fine, but `02broken.rst` emits the warning `02broken.rst:15: WARNING: Could not parse literal_block as "http". highlighting skipped.` This warning is new (#2264), which has helped make

[2016-01-31 03:15] radarhere opened #2281 "Version mismatch"
Hi.

As described in python-pillow/Pillow#1494, the `title` tag for https://pillow.readthedocs.org/en/3.1.x/ lists the Pillow version as 2.6.1, where one would expect it to be 3.1.0.
- https://github.com/python-pillow/Pillow/blob/3.1.x/docs/conf.py#L126-L128 shows that `html_title` is not defined.
- https://github.com/python-pillow/Pillow/blob/3.1.x/docs/conf.py#L62 shows that `release` is the Pil

[2016-01-31 03:15] ruslo commented on #2240
Sorry, HTML stuff not my specialization, have very poor knowledge about peculiarities.
I've asked SO question, it has a few links that may be helpful:
- http://stackoverflow.com/questions/34777943

[2016-01-31 09:58] frougon commented on #2229
Hello,

Warning about unknown options is very nice, but how is one supposed to mention options of other software that are not defined in the document one is writing (where "defined" means having an "option" directive)? My library had a nice documentation, but now the build generates tons of warnings because the doc mentions options of an external program in many places. What am I supposed to do?

[2016-01-31 11:52] lehmannro commented on #2281
I clicked _Build version: `3.1.x`_ on ReadTheDocs, and now it seems fixed.  Sphinx gets this value straight from `conf.py`, so I'm going to defer this to RTD failure.

[2016-01-31 11:52] #2281 closed, assigned to nobody

[2016-01-31 11:53] radarhere commented on #2281
Thanks very much.

[2016-01-31 14:31] shimizukawa commented on #2278
I'm going to release 1.4 alpha 1 around Feb 14th. I'll send my 1.4 release schedule to sphinx dev ML later.

[2016-01-31 16:23] kevin-keraudren commented on #2279
If you wonder why `pygments` does not need to be patched with `regex`, that's because they ship their [own alphabet](https://bitbucket.org/birkenfeld/pygments-main/src/b483ad23e36e79d51700f995b622a066371de814/pygments/unistring.py?at=default&fileviewer=file-view-default) and use `re` to match against it instead of using `\w`. This is another approach that `sphinx` could take instead of using `rege

[2016-01-31 17:48] fkromer commented on #2277
@tk0miya Thanks for the hint. I could install `sphinx-testing`. My directory structure should be the same as in [sphinxcontrib-blockkdiag](https://github.com/blockdiag/sphinxcontrib-blockdiag/tree/master) expect from the fact that i do not have separate subdirs _basic_ and _subdir_ in _tests/docs/_ but only _tests/docs_. But if i try to run the acceptance tests with `python -m unittest test_html.p

[2016-02-01 02:12] tk0miya commented on #2277
In first case, `with_app` accepts `srcdir` as relative path from current directory or absolute path. So it is better to use absolute path (or always execute test script in same directory).

Second case is a problem of python. Can your test script import `sphinxcontrib.p3`?
Maybe, it had better to add the path to root directory of the extension to your `sys.path`.

BTW, In my case (in sphinxcontrib

[2016-02-01 10:44] keimlink commented on #1099
Great idea! Testing documentation on CI is an important task.

[2016-02-01 17:03] ericholscher commented on #2278
Great -- I guess my question is what I would have done differently to get that patch into the 1.3.x release? It's arguably a bug fix for the suffix support, as pages can't tell what markup they were rendered from.

[2016-02-02 01:32] kukgini commented on #2256
sorry for confusing. it is only the engine part of my document generator.
some kind of src contents (src/*.rst) can raise error.
I can't share the contents because it's come from my customer who don't want to publish it.

[2016-02-02 02:00] shimizukawa commented on #2256
If you have a chance, please provide smallest sphinx project to reproduce the issue.
In theory, when `reprunicode` class is delivered from `unicode` class, `__str__` method in `sphinx/locale/__init__.py, line 77` is never called.

[2016-02-02 06:28] xxfaxy opened #2286 "symfony-docs Exception occurred"
File "/home/test/symfony-docs/_theme/_templates/layout.html", line 6, in <module>
    {% set isIndex = pagename is index %}
TemplateAssertionError: no test named 'index'
The full traceback has been saved in /tmp/sphinx-err-ng9Bu_.log, if you want to report the issue to the developers.
Please also report this if it was a user error, so that a better error message can be provided next time.
A bug re

[2016-02-02 08:50] xuhdev commented on #63
I think this has been solved by [sphinxcontrib-bibtex](https://sphinxcontrib-bibtex.readthedocs.org/)...

[2016-02-02 10:04] birkenfeld commented on #2278
I assume there was a PR made against the master branch.  Bugfix releases are made from the stable branch.

[2016-02-02 10:05] birkenfeld commented on #2278
That said, it is also our responsibility as maintainers to check whether a PR against master should go to stable instead.

[2016-02-02 12:36] Bjwebb opened #2287 "Locale transform always uses rst parser"
https://github.com/sphinx-doc/sphinx/blob/6b7b51a55aa0dc419d9fd8dae17bbec197bd2724/sphinx/transforms.py#L247

This causes a problem when trying to internationalize content intended for other parsers.

[2016-02-02 18:53] nelsonam commented on #825
+1

I'm with @camlorn it's really difficult to figure out why there's an error when it turns out there's one extra space or something.

[2016-02-02 19:53] lehmannro commented on #2286
In our templating engine Jinja2, `is` is the _test operator,_ eg. `pagename is lower`.  This is definitely an user error.

I'm going to leave this bug open to fix the error message;  it seems there is currently no handling for `jinja2.TemplateError` (bonus points if we detect if the file is a Sphinx asset or not.)

[2016-02-02 21:18] birkenfeld commented on #2280
Hm, I rather consider that broken behavior of the lexer.  I fixed it in Pygments, it will be part of its next bugfix release.

Thanks for the report!

[2016-02-02 21:18] #2280 closed, assigned to nobody

[2016-02-03 16:29] jfbu opened #2290 "LaTeX builder use of amsfonts may break user choice of math fonts"
Commit 3543caf2140f25ceefccc7c6fb4b9fa6dce180db which Merge pull request #2186 from @xuhdev for support of `\mathbb` may break user choices made via the `latex_elements` dictionary.

Indeed `\usepackage{amsfonts}` end up after the user customizable `'fontpkg'` key to `latex_elements`. But this is where the user may wish to specify some math font packages; this will be at best overwritten by `\usep

[2016-02-03 18:07] fkromer commented on #2277
I did definitely have an import issue: I separated the extension from my sphinx-doc project into a [separate github project](https://github.com/fkromer/sphinxcontrib-p3) and set up travis-ci. (I used sphinxcontrib-blockdiag as template, thanks by the way for this great extension!) All travis builds [like this one](https://travis-ci.org/fkromer/sphinxcontrib-p3/jobs/106338745) state an import error

[2016-02-03 18:24] jfbu opened #2291 "LaTeX builder: pdflatex "Counter too large" error from footnotes inside tables of contents"
With

[code]

issues arise when URLs make their ways in tables of contents. Indeed currently the `\footnote` command ends up as `\footnote[xx]` with some number `xx`. When `xx>26` an error arise, because LaTeX inside minipages wants to use alphabetical footnotes. And tables of contents are done inside such minipages.

To create the problem (zip archive attached, without `build/` to make it smaller

[2016-02-03 19:36] jfbu commented on #2291
@tk0miya I have identified commit
9fec96d32742bf753cad0a9b1f9ddff9e24f2a06 as the first "bad" commit on master branch.

[2016-02-03 22:24] xuhdev commented on #2290
@tk0miya We can either revert my commit and advice users to add the package in `latex_elements` in the doc for math extension, or add a boolean conf option for the math extension to not load this package. Which one do you think is better? I prefer the second solution as it is so common.

[2016-02-03 22:56] jfbu opened #2292 "Some footnotes disappear from LaTeX output"
This issue is caused by commit 9fec96d32742bf753cad0a9b1f9ddff9e24f2a06

Consider the following file `aaa.rst`:

[code]

and file `uuu.rst`:

[code]

and file `index.rst`

[code]

and standard  `conf.py` with

[code]

added.

Then on `make latex` one gets in the produced file:

[code]

Notice that the first footnote has disappeared. This does not happen with Sphinx 1.3.3 or the parent commit 885b9

[2016-02-04 00:54] kukgini commented on #2256
I made a smallest project. Can i send it to you by email?

[2016-02-04 01:43] shimizukawa commented on #2256
@kukgini sure! please send it to `shimizukawa @ gmail.com` OR upload somewhere (like Dropbox or, ...)

[2016-02-04 02:58] kukgini commented on #2256
I send it to you by email. :-)

[2016-02-04 05:00] jakobandersen opened #2293 "Configuration variables for built-in domains"
I would like to add some configuration options for the C++ domain, but I can't find any way to do it without modifying the central Config class. It seems this has already happened with two config variables, `add_module_names` and `modindex_common_prefix`, that "belong" to the Python domain.
I would however prefer to keep C++ specific stuff in a single file.
Would it be possible to have an optional

[2016-02-04 06:01] hamishwillee commented on #1628
+1

[2016-02-04 15:42] hyperbolicTom opened #2294 "haiku theme math centering doesn't work"
I'm using Sphinx 1.2.3 on Fedora 23. I'm using the Haiku theme.
It doesn't center .. math:: properly. The bug is a clash with basic.css. That uses div.body. This is the fix to Haiku, but maybe the bug is in basic.css?

[code]

[2016-02-04 17:51] NucleaPeon opened #2295 "RuntimeError: dictionary changed size during iteration while building with autodoc.py"
I encountered a RuntimeError while building python documentation due to the directory size changing while I built the files.

Traceback:

[code]

The command I was using to generate the documentation was this:

[code]

The fix was to modify line `609` in `venv/lib/python3.4/site-packages/sphinx/ext/autodoc.py`:

[code]

**became:**

[code]

I got the idea for the fix from here:
https://bitbucket.o

[2016-02-04 18:28] ostrokach opened #2296 "Unicode characters corrupt searchindex.js"
If you have words with unicode characters in your *_.rst_ files, those words get inserted into the `searchindex.js` file, which makes javascript throw an error when searching: _"SyntaxError: Unexpected token ILLEGAL"_.

To reproduce, create an _index.rst_ file with a single line:

[code]

Run `make html` to create the following _searchindex.js_ file:

[code]

Load the docs and attempt to search, c

[2016-02-04 18:53] birkenfeld commented on #2295
That fix certainly makes sense. Thanks for the report!

[2016-02-04 20:42] #2295 closed, assigned to nobody

[2016-02-04 21:51] lsbardel commented on #825
Please please please,
let's get markdown working on sphinx/docutils.
restructuredText is not a great syntax (being polite),
and I've used it for quite some time :cry:
How can we speed up this ticket @birkenfeld? :pray:

[2016-02-04 22:05] jnaulty commented on #1534
I found this helpful as to what direction to go towards:
http://comments.gmane.org/gmane.comp.python.sphinx.devel/5961

[2016-02-04 22:59] jfbu commented on #2272
Citation from pdftex manual: "pdfTEX supports inclusion of pictures in png, jpeg, jbig2, and pdf formats."

Hence, the gif format is not supported. What you can do is convert the gif `foo.gif` to `foo.png`, then, according to

http://www.sphinx-doc.org/en/stable/rest.html#images

code in your `.rst` file:

[code]

The LaTeX builder will then select the `foo.png` file and create the latex source to

[2016-02-05 04:49] shimizukawa commented on #825
Actually, sphinx can build Markdown document by using:

[code]

conf.py

[code]

It's still limited, but usable.

---

Now I lock this issue. If there are any problem, please file another ticket. Thanks.

[2016-02-05 07:58] jfbu commented on #2245
@tk0miya

The `preamble` key allows only to insert material after the `\usepackage{sphinx}`. As global class options in LaTeX may sometimes cause problems (same option name used by different packages, ony one was targeted), there would be a need for a `latex_elements` key allowing also to inject material before  the `\usepackage{sphinx}`.

Indeed the issue reported here could have been fixed by in

[2016-02-05 08:13] birkenfeld commented on #825
Well, what is missing is more documentation and "publicizing" of this :)

[2016-02-05 09:49] lehmannro commented on #2272
It _seems_ [media9](https://www.ctan.org/pkg/media9) is the LaTeX way to include GIFs into PDFs.  Until somebody builds support for that, I'd agree that removing `image/png` from LaTeXBuilder seems sensible.

[2016-02-05 09:55] lehmannro commented on #2293
It should be easy to pass `app` to the domain's `__init__` method (see `sphinx.application.Sphinx._init_env` for where domains are currently intialized.)

(You could, in theory, access the configuration values through `domain.env.config`, but that doesn't give you the nice Sphinx API.)

[2016-02-05 16:40] akruis opened #2298 "automodule fails to document a class attribute"
The directive automodule:: fails to document a class attribute under the following conditions:

Module mod1 defines a class C:

[code]

Module mod2 imports C from mod1:

[code]

Now document module mod2 using automodule:

[code]

The resulting documentation won't contain the doc string for the class attribute class_attr.

The bug is caused by a call of  class_documenter.generate() with the optiona

[2016-02-05 17:21] jfbu commented on #2262
Here are some images to illustrate the effect of the PR #2297 on the provided test files

![capture d ecran 2016-02-05 a 18 13 18](https://cloud.githubusercontent.com/assets/2589111/12853542/ef335306-cc34-11e5-81cc-c932cda3c71d.png)

After removing one item, no change, after removing two items, one gets
![capture d ecran 2016-02-05 a 18 15 43](https://cloud.githubusercontent.com/assets/2589111/128

[2016-02-05 17:32] jfbu commented on #2262
If one suppresses two `\item`'s from the produced `test.tex` file, and then adds

[code]

immediately after the itemize environment,
the frame starts like in the second picture of last comment (with `SPHINXOPTS  =` moved to next page). But with a slightly bigger skip

[code]

it starts like in the first picture, the whole thing inclusive of caption being moved to next page. This shows the PR does

[2016-02-05 21:02] ostrokach commented on #2296
Also, this is only an issue in Python 3.

In Python 2, `MÃ¼ller` gets converted into `m\u00e3\u00bcller` in the `searchindex.js` file, and everything works as expected.

[2016-02-06 10:46] acsr commented on #2086
For me having this error the issue was that sphinx-quickstart failed to write a proper working default path to the sphinx-build executable in the variable SPHINXBUILD in the makefile. It assumes that the local sphinx-build is already in the current path.

In my case the make command used a wrong sphinx-build command from another path (here: system Python).

### Steps to reproduce

I created a virt

[2016-02-07 03:16] shimizukawa commented on #2287
@Bjwebb please try sphinx `intl-supports-parsers` branch  with https://github.com/shimizukawa/recommonmark fork (that is already requested to merge by https://github.com/rtfd/recommonmark/pull/32 )

[2016-02-07 05:36] tk0miya commented on #1805
Now I close this issue.
please reopen and tell us details if you still get the problem.

Thanks,

[2016-02-07 05:36] #1805 closed, assigned to nobody

[2016-02-07 05:47] tk0miya commented on #2277
Now, it looks fine to me. Maybe this commit works https://github.com/fkromer/sphinxcontrib-p3/commit/9d862a4c4034b3b92846d4aa4d105f72a30a28c8 :-)

It seems there are no problems for testing the extension.
May I close this issue?

[2016-02-07 05:55] tk0miya commented on #2245
@jfbu I agree with you.
Do you have any suggestion about the new key name?
I'll think about it later.

[2016-02-07 08:17] tk0miya commented on #2290
@xuhdev What about loading `amsfonts` at earlier step?
If good enough for pdflatex, lualatex and xelatex, it looks good solution for me.

Or not, it should not load it by default. because the dependencies between latex package is very difficult for me...

[2016-02-07 08:46] xuhdev commented on #2290
@tk0miya It should work if loading it at an earlier step, but I think the original poster of this issue also points out that luatex does not need `amsfonts`---it can use OpenType math fonts.

[2016-02-07 08:59] usaturn commented on #1151
I confirmed that a problem did not appear in a problem being given in an old version and the latest version.
This problem seemed to be revised in #998.

A problem is over this pattern.

Python 3.3.3
Sphinx==1.1.3
docutils==0.10
Jinja2==2.6

Pattern without a problem

Python 3.3.3
Sphinx==1.3.5
docutils==0.12
Jinja2==2.8

[2016-02-07 09:16] shimizukawa commented on #1151
Thanks @usaturn.
I agree that this issue is same as #998 and it is fixed.

Now I close this issue as fixed.
Feel free to reopen if you still have this issue.

[2016-02-07 09:16] #1151 closed, assigned to nobody

[2016-02-07 09:20] tk0miya commented on #1334
I salvaged attached files from bitbucket:
[sphinx-err-ddXyw0.log](https://files.zenhub.io/56b70c38c7438c6402f46463)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)
[sphinx-err-H5zcFY.log](https://files.zenhub.io/56b70c3dc7438c6402f46464)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-02-07 09:23] tk0miya commented on #1334
MEMO: related with #1370 (maybe)

[2016-02-07 11:08] tk0miya commented on #2291
Fixed at 9b958b6.
After that, `latex_show_urls` ignores references inside contents block.

Thank you for reporting!

[2016-02-07 11:08] #2291 closed, assigned to nobody

[2016-02-07 11:13] tk0miya commented on #1334
It is same as #1370.
The problem was fixed at 1.2.2.

Thank you for reporting.

[2016-02-07 11:13] #1334 closed, assigned to nobody

[2016-02-07 12:37] jfbu commented on #2291
@tk0miya This has solved the problem also for the original project where I first encountered it. Thanks.

[2016-02-07 13:00] jfbu commented on #2290
Users of lualatex/xelatex will wish to use package `unicode-math`.

Its documentation says it is better if `amsmath` is loaded before it; regarding `amsfonts` however I tested and it seems that `unicode-math` undoes `amsfonts` dealings, even if `amsfonts` is loaded after it.

[code]

LaTeX log contains:

[code]

if document is compiled with lualatex, independently of whether `amsfonts` is loaded b

[2016-02-07 13:12] jfbu commented on #2245
@tk0miya hmm... tough call, as it depends if the material will be inserted immediately after `\documentclass` or later, right before `\usepackage{sphinx}`. Perhaps `earlypreamble` ?

documentation:

[code]

[2016-02-07 21:39] fkromer commented on #2277
Sure, you can close this issue. Thank you a lot.

[2016-02-08 00:24] xuhdev commented on #2290
OK, then I agree to put amsfonts to an earlier part.

[2016-02-08 01:32] tk0miya commented on #2277
OK. Have fun for hacking!
Please post a mail to [sphinx-devel group](https://groups.google.com/forum/#!forum/sphinx-dev) if you have any problems on developing extensions :-)

[2016-02-08 01:32] #2277 closed, assigned to nobody

[2016-02-08 01:53] tk0miya commented on #2278
+1 for stable.

Surely, `page_source_suffix` is a new template variable.
But it is a bug of multiple parsers support.
And it seems the commits is not a breaking change.

[2016-02-08 02:24] jakobandersen commented on #2293
I would indeed be nice to use the normal API for extensions. It seems that `_init_env` is called after all configuration values has been initialised and checked. Isn't it too late to add new variables then?

[2016-02-08 02:24] tk0miya commented on #2292
Fixed at 9ba7cc8.

Thank you for reporting.

[2016-02-08 02:24] #2292 closed, assigned to tk0miya

[2016-02-08 02:25] #1970 closed, assigned to nobody

[2016-02-08 02:35] tk0miya commented on #2199
Now, @shibukawa released a package to obtain image size in pure python:
https://pypi.python.org/pypi/imagesize
It enables `:scale:` option without installing Pillow.

Or, we have to warn scaling is disabled if Pillow not found.

[2016-02-08 02:40] shimizukawa commented on #2199
+1 for depending to `imagesize` package since Sphinx-1.4 if Sphinx just use PIL(Pillow) for image size recognition.

[2016-02-08 02:55] tk0miya commented on #2293
+1

I'd like to make the bundled modules (builders, domains and so on) as extension in future version. And they set up itself.
It gives loose coupling to Sphinx and Sphinx becomes more robust, I believe.

BTW, I think initializing them is good for before loading any user-given extensions instead of `_init_env`.

[2016-02-08 06:38] bitprophet commented on #1825
@petsuter Oh, I see - is the issue that you've got a plugin adding additional admonition types besides the default (which I think is just `.. warn::` and nothing else)? Yea, that could be problematic. The CSS stylesheet won't know to style these other admonitions differently, offhand.

I checked your zipfile real briefly and it does just look like your sources end up generating `<div class="admoni

[2016-02-08 06:45] bitprophet commented on #1825
_points up at the link github handily inserted there_

[2016-02-08 08:15] jfbu commented on #2292
This solves it in my real use case, too. Thanks.

[2016-02-08 13:56] brianjking opened #2303 "Sample of what markdown is valid for use in Sphinx & which isn't?"

[2016-02-08 14:15] shimizukawa commented on #2303
Actually it depends on commonmark spec and recommonmark implementation.
If any commonmark notation are not supported by recommonmark, please report it to https://github.com/rtfd/recommonmark/

[2016-02-08 14:22] birkenfeld commented on #2303
Can we add this info to the docs somewhere?

[2016-02-08 15:01] Bjwebb commented on #2287
@shimizukawa Thanks, looks like it works for me.

[2016-02-08 15:14] shimizukawa commented on #2287
@Bjwebb Thanks for your confirmation! I'll merge the branch into stable that will be shipped as sphinx-1.3.6.

[2016-02-08 15:19] shimizukawa commented on #2287
Merged.

[2016-02-08 15:19] #2287 closed, assigned to shimizukawa

[2016-02-08 15:23] ericholscher commented on #2278
:+1: -- would love to see this get merged into a stable release as soon as possible. Should I open a PR against `stable` for this?

[2016-02-09 01:17] xuhdev opened #2304 "Auto line break of code blocks in latexpdf output"
Currently, if one line of code is too long, it simply goes out of the margin.

[2016-02-09 08:41] birkenfeld commented on #2278
Yes, please. I don't know when @shimizukawa has planned the next 1.3.x release.

[2016-02-09 08:51] shimizukawa commented on #2278
Ah, ok, I'll cherry-pick the commit by #1876 to avoid merge conflict.
BTW, I'm planning to release 1.3.6 around the end of this month (Feb, 2016).

[2016-02-09 09:11] shimizukawa commented on #2278
Now stable branch contains a 5f6503c905e6 change for page_source_suffix.

[2016-02-09 09:11] #2278 closed, assigned to shimizukawa

[2016-02-09 09:38] andreacassioli commented on #2094
Hi it seems the issue is still there in Sphinx 1.3.5.

I have a line that looks like:

[code]

the generated Latex is

[code]

still with no link, despite the section number is correct.

[2016-02-09 18:03] andreacassioli opened #2305 "table position in Latex"
Hi,
I have a bunch of tables that are very nicely aligned in HTML, but got positioned all the way left in Latex. I cannot find a way to tell the Latex writer to put the table in the center, the same we do with images. For instance

[code]

is rendered

[code]

Am I missing some options? In particular it seems he Latex code is not using a `table` environment to which such placement options could be

[2016-02-09 19:07] fladrinar opened #2306 "only directive and label before section title - broken with undefined label"
Harder to explain than to show.

If I have a section, followed by a section inside a true `.. only::` block, and follow that block with another section to which I've added my own label `.. _MyLinkName:`, I then get the warning

first.rst: breaks with warning

[code]

second.rst file: Leaving off the leading section (before the `only` block), then it works with no problems referencing  `MyLinkNameT

[2016-02-09 21:33] jfbu commented on #2304
fancyvrb which is used by LaTeX builder puts every line in an unbreakable box. In https://github.com/jfbu/sphinx/tree/codeautolinebreak, I have tried a hack which wraps first the contents of the line in a paragraph building "vertical" box. This allows breaks at spaces. Another patch to the Verbatim environment  allows breaks at hyphens or at hyphenation points.

Allowing (from the TeX programming

[2016-02-10 03:10] #2199 closed, assigned to tk0miya

[2016-02-10 04:54] ericholscher commented on #2278
Thanks!

[2016-02-10 15:43] ghost opened #2307 "miss code-block lineno-start option in sphinx/doc/markup/code.rst"
There is no mention of "lineno-start" in the code-block examples.

It could be here :

.. code-block:: python
   :caption: this.py
   :name: this-py
   :lineno-start: 42

   print 'Explicit is better than implicit.'

[2016-02-10 16:45] jfbu commented on #2307
I am not sure if it is intentional in file `doc/markup/code.rst` that there is no `::` after the sentence ending as  _automatically activated as well._

[code]

Other examples have it. This one doesn't and as a result the thing is evaluated, not displayed as source (http://www.sphinx-doc.org/en/stable/markup/code.html#line-numbers)

[2016-02-10 16:56] jfbu commented on #2305
The `threeparttable` environment from the LaTeX package of the same name creates a "box" which can be used "inline" if one wishes (like a very big letter; turns out it has small height and big depth compared to the baseline), or as a "vertical block", but for this, as the documentation of the LaTeX package shows,  the user has to wrap it e.g. in a  `center` or `table` environment.

Perhaps indeed

[2016-02-10 20:43] vlotorev commented on #2305
I was just going to file the similar issue :)
Actually the issue with tables is more general. A few more examples that are currently cannot be 'styled'  for tables:
- cells background color can't be changed, this is especially useful for changing background color of table header
- header text colour can't be changed
- cells text font can't be changed
- sphinx wrap table header with '\textsf{' (as

[2016-02-10 21:07] vlotorev opened #2308 "'\tablename - continued from previous page' is wrapped with textsf in LaTeX"
![git-local-commit3](https://cloud.githubusercontent.com/assets/5903498/12990260/88388690-d11a-11e5-98ba-d6a09033cb84.png)
as per https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/latex.py#L1005
'\tablename - continued from previous page' is wrapped with textsf which gives different look for table caption and 'continued from previous page'.
IMHO they should look in a similar way, bec

[2016-02-11 01:45] shimizukawa commented on #2306
It depends to "section header under only directive" problem (that relates to #1488)

For now, it's difficult to fix soon by implementation.
As a workaround, `only` directive shouldn't have any sections.

---

For the record, let's see the internal.
This is a internal doctree output by pseudoxml before resolving only directive:

[code]

In this case, `only` node is hanging under "First one" section

[2016-02-11 03:34] tk0miya opened #2309 "Could not refer "indirect hyperlink targets" by ref-role"
In [reStructuredText Markup Specification](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#hyperlink-targets), "indirect hyperlink targets" is introduced.
It can define an alias of hyperlink targets.

It works fine with Sphinx. But, it could not refer them by `:ref:` role.

Example::

[code]

It warns like following:

[code]

[2016-02-11 04:12] shimizukawa commented on #2309
I hope this patch solve the issue.

[code]

[2016-02-11 04:29] tk0miya commented on #2294
In my short investigation:
`haiku` theme overrides the style by following declaration:

[code]

And more, `haiku` theme do not generates `<div class="body">`, so original defintion in basic.css do not effect if not overrided.

So we should redefine new style for `haiku` theme in `haiku.css_t` like suggested above.

In addition, I found some themes do not do centering the equations:
- agogo
- scrol

[2016-02-11 04:42] tk0miya commented on #2294
Fixed at 18c6a6a.
Please try it :-)

[2016-02-11 04:42] #2294 closed, assigned to nobody

[2016-02-11 04:59] tk0miya commented on #2309
@shimizukawa It does not work following case:

[code]

`node.next_node()` is not good to resolve indirect hyperlink target. we have to trace the references recursively.

[2016-02-11 05:16] tk0miya commented on #973
Now I close this issue.
Please feel free to reopen if you get same error.

Thanks,

[2016-02-11 05:16] #973 closed, assigned to nobody

[2016-02-11 05:17] tk0miya commented on #2041
Now I close this issue.
Please feel free to repoen if you get the same error.

Thanks,

[2016-02-11 05:17] #2041 closed, assigned to nobody

[2016-02-11 13:36] andreacassioli commented on #2305
IMHO a minimal setting would need:

1- to wrap a table in a table environment

2-to provide an option, say `:position:`, for the `table` directive in order to specify the table position.

Cell level fine tuning seems to me a step even further and may require a different table package.

[2016-02-11 20:57] vlotorev commented on #2305
Is it worth upstreaming bug to docutils/ReST syntax to provide `:align:` option in the same way `image` directive has?

[2016-02-11 22:04] RNAer commented on #1061
It seems this problem is still not fixed?

[2016-02-11 22:57] andreacassioli commented on #2025
I finally find the time to try it.....it works like a charm! I hope one day it will go upstream and be available as standard tool.

Thank you a lot.

[2016-02-12 00:47] shimizukawa commented on #1061
PR #1663 closes this issue. @birkenfeld please take a look if you have chance.

[2016-02-12 15:54] ghost commented on #2307
jfbu is right more than I was, this should be explicitly show after the sentence ending "as automatically activated as well."

[2016-02-13 01:09] alex commented on #1099
If I turned the linked gist into a PR, would this be of interest to the sphinx maintainers?

[2016-02-13 07:07] birkenfeld commented on #1099
Sure!

[2016-02-13 13:52] tk0miya commented on #1099
@alex Have you already started the work?
Or, I will merge the gist manually. We have hackday tomorrow :-)

[2016-02-13 13:54] alex commented on #1099
I'm sending a PR as we speak :-)

[2016-02-13 13:54] alex commented on #1099
#2312

[2016-02-13 14:51] #1099 closed, assigned to nobody

[2016-02-13 19:11] maxbane opened #2316 "Domain API: document how to refer to custom indices"
The documentation for `sphinx.domains.Index` should be updated to describe how to reference the custom index once it's generated. This is currently not documented anywhere, and not obvious. See this stackoverflow question:
http://stackoverflow.com/questions/26672918/how-do-i-reference-a-custom-index-generated-in-my-own-sphinx-extension

[2016-02-14 01:09] tk0miya commented on #2305
MEMO: related with #1303

[2016-02-14 05:14] tk0miya opened #2319 "Table counter is overrided by code-block's in LaTeX"
In Sphinx-1.3.5, the counter of tables is overrided by code-block's in latex output.
You can see the caption of table starts with 'Listings ...' in following screenshot:
![2016-02-14 14 06 36](https://cloud.githubusercontent.com/assets/748828/13031963/31eac3b4-d324-11e5-923e-dd2d0b2f08c0.png)

The screenshot above is generated from following reST:

[code]

This behavior comes from the combination

[2016-02-14 06:46] #2251 closed, assigned to shimizukawa

[2016-02-14 07:36] tk0miya commented on #1286
Now, I add `sphinx.ext.autosectionlabel` into master branch.
Sphinx-1.4a1 will be released soon. Please try it :-)

[2016-02-14 07:37] shimizukawa commented on #2251
@anfelor Please try master/HEAD  or sphinx-1.4a1 (I'll release it in few hours).

[2016-02-14 08:51] birkenfeld commented on #1672
Since I couldn't reproduce this, I'll close it now.

[2016-02-14 09:12] jfbu commented on #2319
Screenshot if using https://github.com/jfbu/sphinx/commit/59de4bf71763cf20dfe86ce8c5185f99af4ea2b5
(commit branch on top of 1.3.5 Sphinx release)

![capture d ecran 2016-02-14 a 10 08 24](https://cloud.githubusercontent.com/assets/2589111/13032844/52a27686-d303-11e5-9fe0-6419ddbae504.png)

[2016-02-14 09:14] birkenfeld commented on #1061
It looks like 1.3.2 already restored the desired behavior.

[2016-02-14 09:19] jfbu commented on #2319
This does not change the fact that indeed `threeparttable` environment should better be used from inside a `table` environment with suitable caption therein.

[2016-02-14 10:24] #1853 closed, assigned to shimizukawa

[2016-02-14 13:01] #794 closed, assigned to tk0miya

[2016-02-14 16:08] tk0miya commented on #1392
In my short investigation:

I try to reproduce this, but I got too many exceptions on building like following:

[code]

I tested with following commands:

[code]

In addition, the error message is similar to #905. It come from combination with Sphinx-1.1.3 and pygments-1.5 or older.
Could you try it with newest Sphinx and pygments.

If you got same errors, please let us know in details.

Thanks,

[2016-02-14 23:57] xuhdev commented on #2304
I don't think we should allow hyphenation break... space break is good enough

[2016-02-15 00:38] shimizukawa commented on #1853
For now, all splitters 'tinysegmenter', 'mecab' and 'janome' for Japanese search index still in there. However I implemented a pluggable interface for custom splitters. Please check 0992ce5 or http://www.sphinx-doc.org/en/master/config.html#confval-html_search_options 'type' parameter.

[2016-02-15 01:19] xuhdev commented on #2304
This seems has broken the syntax highlighting...

[code]

[2016-02-15 03:00] xuhdev commented on #2304
Now I have a simple solution, which make use of `minted` package. The `minted` environment is not needed, we just need its extension to `fancyvrb`.

Add the following to the preamble:

[code]

Make sure you have minted version 2.1+.

[2016-02-15 07:49] jfbu commented on #2304
@xuhdev can you post example of `.rst` with `bash` block-code generating the error ? I thought maybe your error was coming from `make test` in `sphinx`, and tried with my patch on top of more recent tag, but currently `make test` fails already on master with many errors, and on `1.3b3` with a dozen failed tests. Thus I kept my patch on 1.3.5, and tried with  adding `bash` block-code and it compile

[2016-02-15 07:54] birkenfeld commented on #2304
Re `minted` - I don't know how recent this latex package is, but please keep compatibility with older TeX installations in mind.

[2016-02-15 08:34] jfbu commented on #2304
`minted` is currently maintained at https://github.com/gpoore/minted and apparently first came out in 2009. It is based on `pygmentize` ;-). But Sphinx, afaik, already produces the LaTeX source with pygments mark-up, hence `minted` would end up working on LaTeX source which is already `pygmentized` in a way.

[2016-02-15 08:38] jfbu commented on #2304
I have looked at `minted` source, and its addition of line breaking to fancyverb requires at least 300 lines of LaTeX coding. As I sort of commented above already, underneath that is a token per token scan of line contents (much TeX processing there). I will try to see if something in the spirit of my more down-to-earth hack of fancyverb use (a dozen lines at most) can emulate.

[2016-02-15 08:39] birkenfeld commented on #2304
The devil is in the detail, as always. :pensive:

[2016-02-15 08:42] tk0miya commented on #2290
@jfbu @xuhdev
I fixed the order of usepackages at 532e99c (stable).
If you find any problems, please let me know.

Thanks,

[2016-02-15 08:42] #2290 closed, assigned to tk0miya

[2016-02-15 09:45] xuhdev commented on #2304
You don't need shell-escaped --- that is only for the minted env, which we do not use. We only use its addition to fancyvrb. The author has also stated that the fancyvrb extension part will be separated to another package eventually, but for now we can just use the minted package.

[2016-02-15 09:50] xuhdev commented on #2304
Maybe I didn't explain it well---all you need to do is to put the following in `conf.py` in the latex preamble option:

[code]

No code change needed. Make sure you have minted 2.1 before testing. Under this circumtance, I don't encourage changing Sphinx code base for this. Adding a note in the doc is probably better.

[2016-02-15 09:56] jfbu commented on #2304
I had manually added to the `.tex` file, I now use `preamble` key in `conf.py` but `make latexpdf` fails:

[code]

This is minted v2.1 from 2015/09/09.

[2016-02-15 10:03] jfbu commented on #2304
Commit https://github.com/jfbu/sphinx/commit/aebc1fc98a08c6f618579e472b7eb5ee6e62beea on top of 1.3.5 tries again a poor man's way of line-breaks in literal code blocks (pdf output).

[2016-02-15 10:13] jfbu commented on #2304
Here is a sample output:

![capture d ecran 2016-02-15 a 11 10 34](https://cloud.githubusercontent.com/assets/2589111/13045644/d8b78e9c-d3d4-11e5-86ee-76b8f8d58f6c.png)

(in a favorable case).

But here is a not favorable case:

![capture d ecran 2016-02-15 a 11 12 13](https://cloud.githubusercontent.com/assets/2589111/13045670/06ced394-d3d5-11e5-8fcc-afb400712d11.png)

[2016-02-15 10:25] xuhdev commented on #2304
@jfbu Sorry for the bothering: yes you are right about it---the minted package requires `--shell-escaped`, I happened to set the flag without noticing it.

I've tested your example and it works for me, however, making the following change to your example makes a whole code block disappear:

[code]

I think the looking you designed is better than minted in some sense (the right bar). But if we real

[2016-02-15 10:33] jfbu commented on #2304
@xuhdev I confirm the disappearing, but this happens already on a 1.3.5 checkout. (if I am not mistaken).

Possibly indeed the `minted` extension to `fancyvrb` could work without the `--shell-escape`, which is used to run `pygmentize`.

[2016-02-15 11:29] jfbu commented on #2290
looks good to me.

[2016-02-15 13:29] jfbu commented on #2304
@xuhdev About the disappearing, I am not sure but the sphinx documentation http://www.sphinx-doc.org/en/stable/markup/code.html seems to indicate that correct usage of `highlight` is something like this:

[code]

The `code-block` directive seems to _require_ a language name, or `none` for no highlighting. Am I wrong ?

[code]

[2016-02-15 16:41] tk0miya commented on #2304
MEMO: related with #1534

[2016-02-16 03:42] #2308 closed, assigned to nobody

[2016-02-16 03:45] tk0miya commented on #2308
Now, I defined `\tablecontinued` macro to decorate continued labels at d9be95a.

So, you can change the style like following settings::

[code]

[2016-02-16 03:58] tk0miya commented on #2272
I removed `image/gif` rom supported_image_types of LaTeX writer.

Now, pdflatex does not support GIF format. So we cannot support it at this present.
Please let me know if pdflatex supports it or commonly used package to do that appears.

Thanks,

[2016-02-16 03:58] #2272 closed, assigned to nobody

[2016-02-16 04:59] xuhdev commented on #2304
The docis a bit ambiguious, but the code block should not disappear anyway. Anyway, the issue I mentioned seems unrelevant here, so let's foeget it. Do you like the idea to make a PR for this, or work on the minted side? What is your opinion?

[2016-02-16 05:00] xuhdev commented on #2304
I prefer to work on the minted side, as it is more mature and provides more options

[2016-02-16 06:12] tk0miya commented on #2304
Is the disapearing behavior a bug of sphinx?
And if so, could you file it as a new issue?
(Sorry, I have no time follow this issue)

[2016-02-16 10:20] jfbu commented on #2304
@tk0miya @xuhdev can you please check https://github.com/jfbu/sphinx/commit/f020f3e0e125a1f8f52156717d1def99aa568910 (top of branch https://github.com/jfbu/sphinx/tree/codeautolinebreakV3, based on 1.3.5).

Here is a file `index.rst` (remove `.txt` extension) to try with:

[index.rst.txt](https://github.com/sphinx-doc/sphinx/files/132239/index.rst.txt)

Here is what I get from `make latexpdf`:
[te

[2016-02-16 16:13] timgraham opened #2324 "Building docs is non-determinstic and sometimes fails with "RuntimeError: maximum recursion depth exceeded while pickling an object""
Sometimes building the Django docs fails like this:

[code]

The problematic file is a long one: `docs/ref/settings.txt`. [Here's a link](https://github.com/timgraham/bug-files/tree/master/sphinx-2324) to a doctree file where the build worked (734kB) and one where it failed with the above error (803kB) -- I dropped into a pdb shell on failure and set `sys.setrecursionlimit(1137)` to allow myself t

[2016-02-16 17:24] timgraham commented on #2084
Here's a report with more details: https://github.com/sphinx-doc/sphinx/issues/2324
In the meantime, see if the solution suggested by https://github.com/sphinx-doc/sphinx/pull/2325 helps.

[2016-02-16 18:20] #2324 closed, assigned to nobody

[2016-02-16 18:22] timgraham commented on #2324
Does the non-deterministic portion of this issue merit any investigation?

[2016-02-16 18:59] birkenfeld commented on #2324
I suppose it's the usual: hash randomization. You could try with `PYTHONHASHSEED=x` and different x to see if makes it deterministic.

[2016-02-16 19:14] lehmannro opened #2326 "Unicode literals interfere with config type checking"
The configuration type checker will complain if using `unicode` in place of `str`.  This is exacerbated by using `from  __future__ import unicode_literals`, which will turn all strings into `unicode`.

Just replacing all explicit `str` type hints with `basestring` (or the `six` equivalent of it) won't do enough:  The inferred type hints would still be `str` only.

The best course of action is to t

[2016-02-16 23:19] samwilson opened #2327 "'article' documentclass doesn't have blue titlepage"
When using the `article` documentclass (as the 5th argument to the `latex_documents` config variable), the title, author, and date lines are not rendered in the same blue sans-serif font as subsequent headers in the document body.

For example:
https://media.readthedocs.org/pdf/assetmanager/latest/assetmanager.pdf

Does anyone know how I might fix this?

(This issue previously raised as https://gi

[2016-02-17 00:19] xuhdev opened #2328 "`code-block` disappear if no parameter is given after a `highlight` directive"
Example:

[code]

[2016-02-17 06:37] xxks-kkk opened #2329 ""Copy downloadable files" is not adjustable to the environmenent change during building process"
**Problem Description**:
copying downloadable files... [100%] /home/zeyuan_hu/Documents/zeyuan-s-doc/source/project/db2fedsvrcfg/db2fedsvrcfg-debug-loWARNING: cannot copy downloadable file u'/home/zeyuan_hu/Documents/zeyuan-s-doc/source/project/db2fedsvrcfg/db2fedsvrcfg-debug-log-impala.html': [Errno 2] No such file or directory: u'/home/zeyuan_hu/Documents/zeyuan-s-doc/source/project/db2fedsvrcfg

[2016-02-17 08:57] jfbu commented on #2327
Could you try adding this to `conf.py` and report aftereffects:

[code]

By the way, when I tried `article` as fifth element of `latex_documents` I noticed the problem that `make latex` still produces a file with `\chapter` commands. I am curious how you configured Sphinx to produce `\section`'s rather than `\chapter`'s as top level sectioning units, can you explain? (I am still new to Sphinx).

[2016-02-17 09:56] xavfernandez opened #2330 "Possible regression with sphinx==1.4a1"
Hello,

we had failing docs build on the pip project with sphinx==1.4a1:

[code]

Pinning sphinx to 1.3.5 (or in our case, removing `--pre` option to disable prereleases) fixed it for us.

To reproduce:

[code]

[2016-02-17 10:07] birkenfeld commented on #2330
Well, as you can see this is a new warning in 1.4 that indicates that a code block is likely not Python code and therefore should not use Python highlighting.

I wouldn't call it a regression; the warning was added because it's preferable to know beforehand that highlighting of a block will be wonky.

[2016-02-17 10:16] xavfernandez commented on #2330
Mmmh ok, but I don't think we wish for any highlighting here.
https://raw.githubusercontent.com/pypa/pip/develop/docs/development.rst corresponds to https://pip.pypa.io/en/stable/development/

Why does it think it is python3 code ?

[2016-02-17 10:41] birkenfeld commented on #2330
The default highlighting language is (and has always been) Python.

You can either set different highlighting for the entire docs in conf.py (`highlight_language = "xxx"`), or in individual documents (`.. highlight:: xxx`), or in individual code blocks (`.. code-block:: xxx` instead of just `::`). `none` works for no highlighting.

[2016-02-17 10:47] jfbu opened #2331 "Is LaTeX builder use of xcdraw option for xcolor really needed ? (confuses xdvi)"
Commit 454a4b9c655380dbcb50409127ff98932fc61653 introduces the use of

[code]

The `xcdraw` option causes `dvi` output from latex run to confuse `xdvi`  viewer. Only postscript file obtained via `dvips` is then OK. This can be tested with

[code]

After `make latex` and then `latex` on the `.tex` file, the `dvi` does not display correctly:

![capture d ecran 2016-02-17 a 11 41 13](https://cloud.gi

[2016-02-17 12:14] tk0miya commented on #2330
This problem came from the difference between each `highlight_language` types.
The `python` (used at Sphinx-1.3.x or older) skips highlighting without any warnings if the code-blocks could not highlight by python2. In other words, it fallbacks `none` to language automatically.
But the `python3` (used at Sphinx-1.4a1) don't do that.

So if you wrote code-blocks without any `highlight_language` sett

[2016-02-17 12:26] birkenfeld commented on #2330
I'm not too happy with that change, but I'll open a new issue to discuss.

[2016-02-17 12:31] birkenfeld opened #2332 "Parsing strategy for code to highlight"
With the change to default "python3" highlighting in 1.4, I intentionally didn't add the try-parse step for code blocks with "python3" language. 423bf7b added it back, but when Sphinx is running under Python 2, it will fail to highlight blocks with Python 3 syntax.

We'll need a lenient parser for Python code (basically py3 plus print statement, `except Exc, e` and other py2-isms) if we want to co

[2016-02-17 12:31] birkenfeld commented on #2332
/cc @tk0miya @shimizukawa

[2016-02-17 12:40] xavfernandez commented on #2330
Ok, thanks for the clarification.
I'll stick with latest stable and will certainly add `highlight_language = "none"` to `conf.py` if this becomes mandatory.

[2016-02-17 12:40] #2330 closed, assigned to nobody

[2016-02-17 13:06] birkenfeld commented on #2330
It's a good idea in any case.

For the snippets in the file in question, you might want to try `.. highlight:: console` though.

[2016-02-17 13:13] jfbu commented on #2331
See http://tex.stackexchange.com/questions/294409/does-option-xcdraw-to-package-xcolor-do-any-good-nowadays, and current answer http://tex.stackexchange.com/a/294428/4686 which says this option `xcdraw` was _only for special cases, years ago._

[2016-02-17 14:10] xavfernandez commented on #2330
Well I tried it but the result was not that great.
For https://pip.pypa.io/en/stable/development/, in the first block, only `cd` was colored and in the `Running tests` first block, only `test` from `$ python setup.py test  # Using the setuptools test plugin` was highlighted, so `highlight_language = "none"` will certainly have my preference.

[2016-02-17 14:20] birkenfeld commented on #2330
I understand. Highlighting console sessions is always a bit of a pain :)

[2016-02-17 16:11] jfbu commented on #2327
Ah sorry, there is a better way, customize not `'preamble'` but `'maketitle'` key from `latex_elements` dictionary in `conf.py`.

[code]

does this work for you? Perhaps one shoud also add `\\normalfont` after that, but anyhow the Table of contents will reset the font, and the first sectioning unit too.

[2016-02-17 18:22] simone-hochgreb opened #2334 "sphinx Anaconda problem ?"
The code was running fine with sphinx before installing Anaconda.
Installed package, but after editing the conf.py file, the result seems to show that the theme is no longer found. Possibly wrong directories being searched ? Not sure how to fix this.

---

[code]

---

Here is the log file:

[code]

[2016-02-17 23:56] samwilson commented on #2327
Yep, that's fixed the title colour.... but now the whole document is blue! E.g. https://media.readthedocs.org/pdf/tabulate/master/tabulate.pdf

And the top-level headings _are_ still `\chapter{}`; not sure why they're formatted to look like normal sections... maybe something to do with `\def\sphinxdocclass{report}`?

I must admit, despite being reasonably familiar with normal LaTeX the code genera

[2016-02-18 01:23] tk0miya commented on #2332
I understand. Sorry, I didn't check the what the try_parse() does.
Sure, my change breaks the python3 highlighting on python2 environment.

BTW, what do you think about the fallbacks?
I think it is needed if the python3 language become as default settings.

[2016-02-18 07:40] jnaulty commented on #2304
@xuhdev How do you set the `--shell-escaped` flag?

[2016-02-18 08:50] jfbu commented on #2327
I am not much familiar with it either :-)

The expected thing if you want sections as top level is to use `howto` as fifth argument to `latex_documents`. Using `article` does not seem to be the expected thing...

If the produced `tex` source has `\chapter` commands, and the class is `article`, then `\chapter` is like  `\relax`, it does nothing: the headings will be typeset as is. No entry will app

[2016-02-18 09:10] xuhdev commented on #2304
@jnaulty You can add the following to your `latexpdf` target in your Makefile

[code]

[2016-02-18 09:27] polwel commented on #1491
I also just hit this problem. I need Qt's `linksForIdentifier` to work, yet the `id` field is not populated in the `qhp` files. I see that I can manually add an index entry in the `.rst` files like so

[code]

However, this will generate `name="NAME (ID)" id="NAME.ID"`, so there are two things I don't like.
1. I cannot specify an entry that does not have a `name`, so it will always show in the ind

[2016-02-18 11:09] sevaader opened #2335 "UnicodeDecodeError during make html"

[2016-02-18 13:35] lsaffre opened #2336 "autosummary with toctree always lists imported members"
I continue to have the problem which I tried to describe in #2144. At that time there was some hassle because my patch caused problems elsewjere. Opening a new ticket, this time with a (hopefully) clean patch. It is inspired by
http://stackoverflow.com/questions/25405110/sphinx-autosummary-with-toctree-also-lists-imported-members and the solution described there. The patch is against today's maste

[2016-02-18 17:01] timgraham commented on #2326
Milestone should be 1.4 -- this doesn't affect the 1.3.x series.

[2016-02-18 19:27] vlotorev opened #2337 "use \url{URL} macro instead of \href{URL}{URL}"
simple rst text

[code]

is written to LaTex using href macro like:

[code]

In case link is long and doesn't have dashes there is no way to hyphenate or wrap it
and it's overflowing the page margin.

All the solutions I googled was for 'url' macro and not for 'href'
(e.g breakurl package, \PassOptionsToPackage{hyphens}{url}\usepackage{hyperref}, etc.)

So with 'href' macro user has almost no conr

[2016-02-18 19:47] vlotorev opened #2338 "LaTex Internal link style inconsistency"
LaTex writer creates  emphasized with 'emph' links to internal chapters[1]. And it can't be overwritten
by user.
While link to internal table and figures are not emphasized.

My request is to generate macro for internal references which could be easily redefined from user's preamble.

[1] - https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/latex.py#L1700

[2016-02-18 23:58] jnaulty commented on #2304
@xuhdev
Hmm, I get `! Package keyval Error: breaklines undefined.`
also, I believe the correct option for shell escape is `-shell-escape`
http://tex.stackexchange.com/questions/99475/how-to-invoke-latex-with-the-shell-escape-flag-in-texmakerx

[2016-02-19 00:27] xuhdev commented on #2304
@jnaulty Sorry for the typo. Yes, it should be `-shell-escape` or `--shell-escape`.

Your minted might be too old. You need to install a later version of [minted](https://github.com/gpoore/minted/blob/master/source/minted.sty) (at least 2.1).

[2016-02-19 00:51] jnaulty commented on #2304
@xuhdev
I just copied `minted.sty` into `/usr/share/texlive/texmf-dist/tex/latex/minted/minted.sty`

That doesn't seem like the right way to do things though. Do you have any better suggestions for installing the updated minted?

[2016-02-19 01:39] xuhdev commented on #2304
@jnaulty I think it's fine if you only have this single package upgraded---in next release, minted is gonna be upgraded by the distribution anyway. I won't bother with it if it's just for one machine, since, at least for me, it is often more troublesome to install a parallel version of texlive on a Linux distro.

If you want to keep the system package untouched, you can also put the new `minted.st

[2016-02-19 04:31] tk0miya commented on #2326
`check_type()` tries to compare user inputs with default value using common base classes.
It seems this check is ok to str and unicode.

[code]

So we have to take care of explicit type hinting.
I think it is simple to add both str and unicode to type hints.

[code]

[2016-02-19 06:45] slavkoja opened #2341 "sphinx-quickstart not translated"
Hi,

i am sphinx's Slovak translator, and i see that the default `index.rst` generated by the `sphinx-quickstart` is not translated. On the first build, the items as "next", "previous", etc are translated, but in page the English `Welcome to projectXY's documentation!`, `Contents` and `Indices and tables` appears. I understand that this is example only, but i consider this as something what doesn'

[2016-02-19 14:37] tk0miya commented on #2326
I created new pull request #2342 to fix this.
could you review it please?

[2016-02-19 16:27] tk0miya commented on #2332
I merged #2339 into master branch. So this issue might be meaningless now.
Can I close this issue?

[2016-02-19 16:43] tk0miya commented on #2334
Could you check `html_theme` in your `conf.py`?

Sphinx warns it is assigned list value, but it expects string value.

[code]

More details, see http://www.sphinx-doc.org/en/stable/theming.html#using-a-theme

[2016-02-19 16:58] tk0miya commented on #2335
It looks like encoding problem of your python code.
Could you show me your sphinx project including python scripts or reproducible minimal project?

[2016-02-19 17:37] birkenfeld commented on #2332
Sure!

[2016-02-19 18:41] simone-hochgreb commented on #2334
Thanks. Now solved.

Sent from my iPhone

[2016-02-19 18:52] #2334 closed, assigned to nobody

[2016-02-19 23:36] #2332 closed, assigned to nobody

[2016-02-20 03:15] tk0miya commented on #2331
The option comes from #1906.
And it still looks fine to me if the `xcdraw` option removed.

@kieranh5511 Are there any reason to use `xcdraw` option?

[2016-02-20 06:26] tk0miya commented on #2328
Thank you for reporiting. But this is not a bug.
The `code-block` directive requires an argument. You'd have seen following error message on building docs.

[code]

Sphinx skips processing the code-block because of error.
Then it looks like the code-block disappears.

Thanks,

[2016-02-20 06:26] #2328 closed, assigned to nobody

[2016-02-20 08:13] #2329 closed, assigned to nobody

[2016-02-20 08:13] tk0miya commented on #2329
Thank you for reporting

[2016-02-20 08:16] xxks-kkk commented on #2329
My pleasure :smile:

[2016-02-20 10:45] tk0miya commented on #2229
Sorry for inconvinience.
I reverted this feature from stable release (1.3.x).
And I will reimplement it for next major release. of course it will support warnings supression.

[2016-02-20 10:48] xuhdev opened #2344 "LaTeXPDF output: add "This page intentionally left blank" for empty pages"
One solution is [available](https://gist.github.com/philipptempel/5220000). Shall we incorporate this?

[2016-02-20 14:05] fkrull opened #2345 "Support 'lang_COUNTRY' language codes"
Sphinx should better support using 'lang_COUNTRY' language codes (preferably, also even more specific formats) for translations, f.ex. 'de_DE', 'de_AT', 'en_GB' etc.

By way of example, with Sphinx 1.3.5, if you set `language='de_AT'`, the following happens:
- For (most of) its own translated strings and the document text, Sphinx falls back to 'de' (going by `sphinx.locale`, that's a feature of th

[2016-02-20 21:46] xuhdev commented on #2344
This may be important, since many new users may get confused by the blank pages for the first time they generate a PDF file.

[2016-02-20 22:01] jfbu commented on #2344
But this means an option must be added to not do that ? there will be no blank page if `howto` type of document is used. A `manual` is like a book and chapter open on odd pages, this is normal. Which empty pages are you referring to ? Apart from page 2 of the document, all have a header/footer in class `manual` in my brief test.

Perhaps there should be a way to pass option `openany` to the `manua

[2016-02-20 23:07] xuhdev commented on #2344
@jfbu Sorry I didn't make it clear. I was talking about the empty page before the starting of a new chapter in a double sided format. This is normal if it is printed; however, it does not look normal if you look at the PDF file, without being informed about this "double sided".

It is possible to pass `openany` to the manual class in Sphinx currently, but it is not obvious---it is only available i

[2016-02-20 23:17] jfbu commented on #2337
In this context, there is `\urlstyle`. Indeed, by default `\url` will use monospace font. This is not the case for `\href` thus, switching to `\url` will change the look of all documents. But one can use `\urlstyle{rm}`,  `\urlstyle{sf}`, or perhaps simpler `\renewcommand*\UrlFont{\normalfont}` or replace `\normalfont` by `\sffamily` or `\rmfamily`...

As an aside although `\url` does help in brea

[2016-02-20 23:22] jfbu commented on #2344
I am not too much in favor of making `openany` default. In using the `manual` document type, I see it is structured with chapters. As a LaTeX user I am used to see chapters open on odd pages even on screen. But making it easier to pass the option to the document class is surely worthwile, if it makes for better reading experience on screen. (I guess some people have big enough screens to display s

[2016-02-21 08:33] jfbu commented on #2337
I am adding this for reference.

In particular `\urlstyle{same}` allows to keep for URLs typeset with `\url` the current text font, rather than switching to mono-space family.

Also one finds in the code comments which characters will allow linebreaks. Notice though that linebreaks happen _after_ said characters. Package `url` has no facility to allow breaks _before_ given characters.

[code]

![u

[2016-02-22 00:16] xuhdev commented on #2304
According to gpoore/minted#107, the way I now solve it is as follows, without using `-shell-escape`.
1. Upgrade minted to v2.1+.
2. Add the following to the LaTeX preamble.

[code]

Note the `draft` option. You can also replace `breaklines` with `breakanywhere` if you want to break the line anywhere. I think this is a really neat solution, without too much interferences in Sphinx. After minted v2.

[2016-02-22 02:40] kieranh5511 commented on #2331
I should confess that I more or less use `xcdraw` with `xcolor` out of habit.  I'll dig out the files that were causing problems to check but I'm pretty sure that it can be dropped.

[2016-02-22 07:27] jfbu commented on #2304
This is good to know. I tested briefly again, and it breaks only at spaces.

And with (by the way, it should not replace, but be added to `breaklines`) :

[code]

I observed:
1. it breaks at spaces with high priority.
2. it does not seem possible to tell it not to break before a `>` for example.
3. anyway, the breakanywhere does not work for pygmentized stuff. For example if I have in my latex fil

[2016-02-22 07:43] jfbu commented on #2304
Sorry, in my previous comment I should rather have tested from modifications in `rst` sources.

Thus, say with

[code]

then the `latex` file will contain rather things like:

[code]

The conclusions are the same. `breakanywhere` has no effect.

[2016-02-22 09:18] jfbu commented on #2304
Again with `\usepackage[draft]{minted}\fvset{breaklines=true}`. Here is a sample output:

![capture d ecran 2016-02-22 a 09 53 17](https://cloud.githubusercontent.com/assets/2589111/13213707/132de7bc-d94b-11e5-913a-f8b15cd4c0f8.png)

Thus, the problem which is also confronting  https://github.com/jfbu/sphinx/tree/codeautolinebreakV2 (superseded by  https://github.com/jfbu/sphinx/tree/codeautolineb

[2016-02-22 15:14] #2245 closed, assigned to nobody

[2016-02-22 15:16] tk0miya commented on #2245
I added `latex_elements["passoptionstopackages"]` in 84fb1b7.
The variable is embeded next of `documentclass`.

Thanks,

[2016-02-22 15:18] #2331 closed, assigned to nobody

[2016-02-22 15:19] tk0miya commented on #2331
Now, I remove the `xcdraw` option at 84fb1b7.

Thanks!

[2016-02-22 16:32] jfbu commented on #2331
@tk0miya @kieranh5511  Thanks, I will keep an eye on any additional information I may come across relative to `xcdraw`.

[2016-02-22 16:34] jfbu commented on #2245
looks good ;-)

[2016-02-22 18:04] jfbu commented on #2304
For comparison. With `rst` source:

[code]

and Sphinx 1.3.5 plus

[code]

one gets (notice that it is impossible to tell how many spaces actually were in the source at the location of the breaks; this doesn't matter for this source example but could for others):

![capture d ecran 2016-02-22 a 18 55 40](https://cloud.githubusercontent.com/assets/2589111/13227300/3b6f718c-d996-11e5-9838-2f1571b6a4

[2016-02-22 19:08] lelit commented on #2316
This is expecially true after commit e6a5a3a92e938fcd75866b4227db9e0524d58f7c that introduced a backward incompatibility, adding a slot to the `addnodes.index()` entries, without updating the documentation of that class, that still says "4-tuples".

[2016-02-22 20:18] mb21 commented on #2240
I don't think there's a lot that Sphinx can do here—it's really [quite complicated](http://stackoverflow.com/questions/11374059/make-an-html-svg-object-also-a-clickable-link). Although you could consider adding an option to the `.. image` directive that lets the user specify whether to render as an `img` or `object` tag.

In the meantime, people can write raw HTML as a workaround I guess:

[code]

[2016-02-22 21:44] ruslo commented on #2240
Thanks for suggestion, I've created simple project for testing:
- https://github.com/forexample/test-sphinx-svg-image

problem I've found so far is that when you resize windows browser there is no slider appear, so some svg nodes are not accessible:

![screen](https://cloud.githubusercontent.com/assets/4346993/13233790/06190136-d9e8-11e5-8a1e-3fc6c5e6009d.png)

Is there any simple solutions/workar

[2016-02-22 22:12] mb21 commented on #2240
@ruslo, the following CSS should work:

[code]

[2016-02-22 22:48] frougon commented on #2229
Apart from the fact that commit messages and documentation use the incorrect spelling "supress" instead of "suppress", I think what you implemented here should solve the problem I reported. Thank you!

[2016-02-22 23:06] ruslo commented on #2240
@mb21 Have no idea what does it mean and how it can be applied, can you explain patch in terms of RST code, thanks and sorry :)

[2016-02-22 23:12] ruslo commented on #2240
Here is page with SVG image that works well for me:
- http://en.cppreference.com/w/cpp/io

As far as I understand it uses `<img src="*.svg"></img>`

[2016-02-23 03:09] tk0miya commented on #2326
I fixed this at #2342.

Thanks,

[2016-02-23 03:09] #2326 closed, assigned to nobody

[2016-02-23 03:47] tk0miya commented on #2229
Thanks, I fixed the typos :-)
After the reviewing, it will be merged. Please wait a moment.

[2016-02-23 08:27] mb21 commented on #2240
Well, they use an `img` and a `<map>`... instead of clickable svg.

About adding CSS: put the above code snipped in `_static/style.css` and follow http://stackoverflow.com/questions/23462494/how-to-add-custom-css-file

[2016-02-23 09:21] ruslo commented on #2240
@mb21 Here is the change: https://github.com/forexample/test-sphinx-svg-image/commit/65674884d06c893c46b53aaa0e35aee594e600c5

Result of the rendering on local machine:

![screen](https://cloud.githubusercontent.com/assets/4346993/13246945/5892e25e-da49-11e5-9e4b-0fd4a1ff00f9.png)

See no effects on rtfd.org: http://test-sphinx-svg-image.rtfd.org/en/latest/clickable-image.html

[2016-02-23 12:10] jfbu opened #2348 "amssymb require in sphinx.sty may break use of math font packages"
This is similar to #2290 which was fixed in 532e99c96bfc8c9b24525681df56304a268f3ceb (stable)

Commit 19a7dfd348d7fdc30f19034e1d420e3a7bc49a7a added `\RequirePackage{amssymb}` to `sphinx.sty`. This commit is in master branch but not in 1.3.5 (hence I did not realize impact on a project of mine until trying it on master branch).

The problem is if one uses `'fontpkg'` key to `latex_elements` to loa

[2016-02-23 13:04] mb21 commented on #2240
yeah, doesn't seem like the CSS was included... not sure why (I'm no sphinx expert :P)

[2016-02-23 13:11] ruslo commented on #2240
@mb21 Well to be honest even if it will be included somehow I will not say I really enjoy how it's rendered (see screenshot from my local machine).

[2016-02-23 16:08] jfbu commented on #2304
I am adding one more info. Both

[code]

or the use of either one of https://github.com/jfbu/sphinx/tree/codeautolinebreakV3 or https://github.com/jfbu/sphinx/tree/codeautolinebreakV2bis give a better spacing for the first line or last line of source code in pdf output.

Here is an example without:

![sansv3](https://cloud.githubusercontent.com/assets/2589111/13257542/8606f81e-da4f-11e5-9289-7bdc1

[2016-02-23 21:27] vlotorev commented on #2337
Hi jfbu. Yes, switching from `href{URL}{URL}` to `url{URL}` most definitely will require `sphinx.sty` to be updated to redefine `url` macro so that old documents looked in the same way as previously with `href`.

[2016-02-24 02:25] tk0miya commented on #2327
Now, Sphinx provides the following ways to change the sectioning unit:
(1) Specify `howto` to docclass; the fifth argument of `latex_documents`, then `section` is used
(2) Use `latex_use_parts=True` to use `part`

There is no way to change the sectioning unit arbitrarily in current Sphinx.
So I'll add a new config value named `latex_toplevel_sectioning`.
In details, please see #2349. It's under re

[2016-02-24 08:42] jfbu commented on #2337
Issuing in `sphinx.sty` `\urlstyle{same}` after `\RequirePackage[...]{hyperref}` promises that the font used for `\url{URL}` will be the same as current text font at the location of `\url`, hence with the same looks as from `\href{URL}{URL}`.

However, this replacement should not be done inside arguments to sectioning units. Try:

[code]

and you will see that it raises an error on second LaTeX ru

[2016-02-24 09:47] jfbu opened #2351 "is the extra space at the start of LaTeX footnotes intentional ? (may stretch and give bad result)"
Consider the following `index.rst`:

[code]

and in conf.py::

[code]

I get from `make latexpdf`

![capture d ecran 2016-02-24 a 10 32 12](https://cloud.githubusercontent.com/assets/2589111/13281205/b13d88f2-dae2-11e5-9a2f-60202bc94786.png)

This may seem a contrived example, but it occurred to me in real life from auto-generated links via intersphinx, and the use of `12pt` font size, and a font

[2016-02-24 16:40] karlnapf commented on #726
at @shogun-toolbox we would love to use latex preamples with mathjax

[2016-02-25 00:41] fkrull opened #2352 "qthelp builder should have `search=False`"
As per title; the qthelp builder doesn't include the necessary Javascript for the search anyway, so it may as well not even generate the search page.

[2016-02-25 07:17] linlinlinlin opened #2353 "Cyclic dependencies issue"
I am using `pipdeptree` to check my package dependency.

I found the output has

[code]

[2016-02-25 07:53] shimizukawa commented on #2353
Thanks for your reporting. The issue is fixed by #2087 and it will be shipped on sphinx-1.4 (alpha-1 has been released).

[2016-02-25 07:53] #2353 closed, assigned to nobody

[2016-02-25 13:13] #2338 closed, assigned to tk0miya

[2016-02-25 13:14] tk0miya commented on #2338
I added the style macros
- `\menuselection`
- `\accelerator`
- `\internalreference`

Please refer new sphinx.sty to customize these macros.

Thanks,

[2016-02-25 13:55] tk0miya commented on #2348
MEMO: the `amssymb` package came from #1971

[2016-02-25 23:40] sergiocallegari commented on #1681
Just a quick note to record that a new version of tabu has still not arrived.

Since the issue with tables in latex that generate bad boxes is still there, I think that we may want to consider tabu as is, rather than waiting for the new version (or use ltablex).

Should the tabu way be preferred, to be protected from the author changing tabu in an incompatible way retaining the name (bad), could s

[2016-02-26 13:46] fladrinar opened #2355 "customize style of :term:"
I would like to be able to customize the rendered style of `:term:` words in both latex and html.

As it is, the styling is buried in the cross reference code and in latex, at least, uses the same `\emph` style as cross references, making it impossible for the reader to tell that it's a different type of entry.

Ideally, I'd like to be able to set both font style and color to greatly distinguish a

[2016-02-26 22:04] vlotorev commented on #2338
Thanks a lot.

[2016-02-26 22:06] vlotorev commented on #2308
Thanks.

[2016-02-26 23:28] jnaulty commented on #2304
:) :+1:

[2016-02-27 07:58] fredrik-johansson opened #2356 "LaTeX writer should generate breaking URLs"
URLs in latexpdf output mess things up. The standard LaTeX solution is to use the breakurl package and wrap URLs in \url{}. Since Sphinx doesn't use \url{...}, it's not enough for the user to insert \usepackage{breakurl} in the preamble.

This patch to Sphinx almost does the job:

[code]

Compare this excerpt of a bibliography listing, before:

![nonbreaking](http://imgur.com/DUr4YkM.png)

After:

[2016-02-27 08:05] jfbu commented on #2356
Package `breakurl` is only for `dvips` compilation route ( `latex+dvips+ps2pdf`). Excerpt from package `breakurl` documentation:

[code]

For the issue of breaking URLs see earlier ticket #2337

[2016-02-27 08:10] fredrik-johansson commented on #2356
Thanks for the hint; closing this as duplicate.

[2016-02-27 08:10] #2356 closed, assigned to nobody

[2016-02-27 08:13] fredrik-johansson commented on #2337
+1 for using \url{}

I would also like an easy way to use tt font style for URLs.

[2016-02-27 17:41] natzei opened #2357 ":download: command should generate an ancor with 'download' attribute to force the download"
Hi everybody,
It's an improvement and the effort is 0,1 seconds.
Under writers/html.py, IMHO the following function should create the link with the 'download' attribute, in order to force the browser to download the file (and not to view it).

[code]

thanks a lot

Nicola

[2016-02-28 20:55] fredrik-johansson opened #2358 "Setting LaTeX tocdepth"
A footnote on the doc page for "The TOC tree" says:

This is not correct; Sphinx inserts its own \setcounter{tocdepth} after the preamble. In particular, this overrides the user-defined preamble, which is a problem if the user wants different settings for the LaTeX version.

A further confusing detail is that Sphinx seems to set tocdepth to the index page's toctree maxdepth - 1. In my case, I want

[2016-02-28 21:11] andreacassioli commented on #2357
I guess you are right

+1

[2016-02-28 22:34] birkenfeld commented on #2357
Merged :)

[2016-02-28 22:34] #2357 closed, assigned to nobody

[2016-02-28 22:39] natzei commented on #2357
Thanks :)

[2016-02-29 01:56] tk0miya commented on #2019
Fixed at d5a2073a07ef40f63607ba2edc0e493015fd8ea7.
This issue is caused from any domain objects are not escaped. Other entries (like section titles) are surely escaped.
So I escape them on building index.

It will be released in next stable release; v1.3.6

Thank you for reporting and sending pull request!

[2016-02-29 01:56] #2019 closed, assigned to nobody

[2016-02-29 03:34] xuhdev opened #2360 "numref in LaTeX output is broken"
See [this generated pdf file](https://github.com/sphinx-doc/sphinx/files/150323/test.pdf). It should refer Fig 1.1 but it refers Fig 1.

You can view a small example [here](https://github.com/sphinx-doc/sphinx/files/150326/tmp.tar.gz).

Bisecting shows the culprit commit is 279ac7c23fe2f35025514d64c96f839bd518c786

@tk0miya

[2016-03-01 04:05] tk0miya commented on #2358
Thank you for reporting.
I will move the tocdepth defintion to above of user-defined preambles.

BTW, what docclass do you use; the 5th element of `latex_document`?
If you use `howto` to the docclass, Sphinx uses the value of `maxdepth` to tocdepth.
Otherwise, `maxdepth - 1` is used for the tocdepth. Because Sphinx also uses `chapter` as toplevel sectioning unit if docclass is not `howto` (cf. `ma

[2016-03-01 10:01] Jellby commented on #1728
If it helps, I'm using this custom extension, which seems to work for me:

[code]

Then use it as:

[code]

Any chance something like this could be included? Should I create a pull request? Modifications?

[2016-03-01 12:51] Jellby opened #2361 "LaTeX: additional paragraphs inside the "compound" directive should have \noindent"
In a case like:

[code]

the last paragraph ("you will...") should have \noindent in the LaTeX output.

[2016-03-01 15:28] #2360 closed, assigned to tk0miya

[2016-03-01 15:33] tk0miya commented on #2360
Thank you for letting me know. I fixed now :-)

[2016-03-01 16:41] ymoisan opened #2362 "No such file or directory: '.../french-stemmer.js'"
Hi All,

I tried to build a project I haven't built in a while with Sphinx 1.3.1+.  It used to be built on another machine with Sphinx 1.2.x.  I get that error :

[code]

Ubuntu 14.04.  Full trace :
[sphinx-err-ugLxfI.log.txt](https://github.com/sphinx-doc/sphinx/files/152982/sphinx-err-ugLxfI.log.txt)

I don't get the problem when I set

[code]

instead of

[code]

in conf.py and I still get the

[2016-03-01 20:56] ymoisan commented on #2362
[code]

...
Sphinx (Current: 1.2.2 Latest: 1.3.6)

Re-installed with

[code]

and now everything is OK.

[code]

still mentions 1.2.2 but pip did download 1.3.6 and I can see in my generated docs.  Weird, but it works.

[2016-03-02 00:23] shimizukawa commented on #2362
The issue was appeared since 1.3 release and it has been fixed at 1.3.3.
https://github.com/sphinx-doc/sphinx/commit/f09ca2c18693686a1f3ab8096eaec16b4fd7213f

Anyhow, thanks for you reporting!

[2016-03-02 00:23] #2362 closed, assigned to nobody

[2016-03-02 01:55] #2361 closed, assigned to nobody

[2016-03-02 01:57] tk0miya commented on #2361
Thank you for reporting. I fixed now.

MEMO:

http://docutils.sourceforge.net/docs/ref/rst/directives.html#compound-paragraph

[2016-03-02 03:24] tk0miya commented on #2351
Thank you for reporting. I fixed at 6efdd07. (I used `mbox` for spacing)

[2016-03-02 03:25] #2351 closed, assigned to nobody

[2016-03-02 07:08] jfbu commented on #2351
@tk0miya Thanks. I should have pointed out perhaps that arguably leaving the LaTeX default (no special spacing) was to be advised. Indeed some language modules for (LaTeX) babel customize this: I know in particular of French http://mirrors.ctan.org/macros/latex/contrib/babel-contrib/french/frenchb.pdf, which modifies footnotes to look like `"1.<space>text"` (see its default option FrenchFootnotes)

[2016-03-02 12:31] bigbes opened #2363 "Double anchor problem with 'singlehtml' Builder"
Firstly appeared in https://github.com/sphinx-doc/sphinx/issues/151#issuecomment-68528760 this comment.

There's a function [`SingleFileHTMLBuilder.fix_refuris`](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/html.py#L936) that must fix this issue, but it doesn't work on TOC directive:

[code]

We've reproduced it in Tarantool project [documentation](http://tarantool.org/doc/sing

[2016-03-02 13:31] jfbu commented on #2351
A possibility would be for the latex builder to insert `\sphinxAtStartFootnote`  macro rather than `\mbox{ }`. The `sphinx.sty`  would then have `\newcommand*\sphinxAtStartFootnote{\mbox{ }}`, and this could be overwritten by user in `conf.py` using `'preamble'` key.

As a general remark all macros defined in `sphinx.sty`  should have a unique distinctive prefix, I used `sphinx` above. In LaTeX us

[2016-03-02 13:41] bigbes commented on #2363
Problem was in function [`toctree()`](http://www.sphinx-doc.org/en/stable/templating.html#toctree) in my templates. I've replaced it with `{{ toc }}` and double anchors have disappeared.

[2016-03-02 13:59] bigbes commented on #2363
Test case is here: https://github.com/bigbes/sphinx-testcase

To repeat:

[code]

and try to click on any link on level 2

[2016-03-02 14:01] #2355 closed, assigned to nobody

[2016-03-02 14:02] tk0miya commented on #2355
Now, I defined `\termref` macro for style of `term` roles.
Thank you for reporting!

[2016-03-02 15:20] tk0miya commented on #2351
@jfbu Thank you for advice. I added the `\sphinxAtStartFootnote` macro now :-)

[2016-03-02 17:43] jfbu commented on #2351
@tk0miya Works great, thank you !

[2016-03-02 23:49] fredrik-johansson commented on #2358
The docclass is 'manual'.

[2016-03-02 23:53] fredrik-johansson opened #2364 "KeyError: 'rootSymbol'"
I get the following error when trying to build https://github.com/fredrik-johansson/arb/tree/master/doc/source/ with the latest git checkout of sphinx:

[code]

[2016-03-02 23:56] fredrik-johansson commented on #2364
Sorry for the noise. It went away with "make clean"!

[2016-03-02 23:57] fredrik-johansson commented on #2358
Setting the tocdepth with the preamble works as expected now.

[2016-03-02 23:57] #2358 closed, assigned to nobody

[2016-03-03 03:04] tk0miya commented on #2358
Glad to hear that.
Thank you for reporting!

[2016-03-03 03:11] tk0miya commented on #1392
Now I close this. Please reopen if you got same error.

Thanks,

[2016-03-03 03:11] #1392 closed, assigned to nobody

[2016-03-03 03:19] jakobandersen commented on #2364
Thanks for reminding me about this issue. While it can be circumvented by doing a full rebuild it would be nice to fix the problem anyway.
Unfortunately I haven't had time to find a nice small test case with reproducible steps.

[2016-03-03 03:42] tk0miya commented on #2348
In my environment, it must load the `amsmath` package earlier too.

So I would move both `amsmath` and `amssymb` to the position of `amsfonts` key.
And then, rename it to `amsmath` and assigns `\usepackage{amsmath,amssymb}` by default.
Of course, I will remove `amsfonts` installation hack from sphinx.ext.math*. It is already replaced by `amssymb`.

@xuhdev What do you think?

[2016-03-03 03:46] xuhdev commented on #2348
It looks good to me :)

[2016-03-03 03:52] tk0miya commented on #2364
Thank you for reporting. I fixed it at 04219fa.
It comes from incompatibility of internal database (environment.pickle) between 1.3.x and 1.4.x.
I increments the version of it to let know sphinx about incompatibility.

It will full-build automatically if old internal database found.

[2016-03-03 03:52] #2364 closed, assigned to jakobandersen

[2016-03-03 03:57] fredrik-johansson commented on #2364
Great! It was not a big deal, but it's always nice when things just work automatically without mysterious errors that you have to work around.

[2016-03-03 04:44] tk0miya commented on #2348
Ok, I will modify it later.

[2016-03-03 06:56] yianjiajia opened #2365 "AttributeError: 'datetime.date' object has no attribute 'minute'"
[code]

[2016-03-03 07:15] tk0miya commented on #2365
Thank you for reporting.
Please let me know about your configurations:
- language
- today_fmt
- html_last_updated_fmt

[2016-03-03 11:39] TimKam opened #2366 "Internet Explorer: Invalid links in ToC panel"
In the ToC panel, `.current reference internal` elements have empty `href` attributes.

Clicking these elements in Internet Explorer can cause a 404 error, see:

https://msdn.microsoft.com/en-us/library/cc848861(v=vs.85).aspx

Perhaps it's better to set the `href`value to `#`?

[2016-03-03 12:17] #2229 closed, assigned to tk0miya

[2016-03-03 12:17] #2327 closed, assigned to nobody

[2016-03-03 12:17] #2348 closed, assigned to tk0miya

[2016-03-03 12:18] tk0miya commented on #2348
Modified.
Thank you always :-)

[2016-03-03 14:01] #1785 closed, assigned to lehmannro

[2016-03-03 15:15] tk0miya commented on #2363
Thank you for reporting. Fixed at f8c08c6.

[2016-03-03 15:16] #2363 closed, assigned to nobody

[2016-03-04 02:14] tk0miya opened #2367 "Moving to standard logging/warning module"
Sphinx now provides logging and emitting warnings feature through `Application.warn()`.
It would be nice if we are moving to standard logging/warning module in future version.

[2016-03-04 02:45] tk0miya commented on #2366
What does "the ToC panel" refer to? How reproduce that?
Please let me know the situation in detail. I'm glad if you have small example project.

Thanks,

[2016-03-04 03:14] shimizukawa commented on #2367
+1 for removing custom logging mechanism. Please note that we should keep current useful functionality after moving standard logging mechanism.

BTW, I propose structlog package for logging that is  better solution than standard logging.
- Package: https://structlog.readthedocs.org/en/stable/
- Talk https://hynek.me/talks/beyond-grep/  at EuroPython2015 (he also talked at PyCon JP 2015 as a keynot

[2016-03-04 03:20] tk0miya commented on #2367
This comes from #2346.
Since 1.4, we can suppress the warnings by types and subtypes.

[2016-03-04 03:21] lehmannro commented on #2367
Structured logging is really if you want to run (large-scale) data analysis on your logs, usually traffic logs.  For Sphinx' purposes, standard (unstructured, text) logging should be enough.

[2016-03-04 06:47] #2337 closed, assigned to nobody

[2016-03-04 06:55] tk0miya commented on #2337
Thank you for comment, all :-)
I replaced it with `\url` macro now.

But I do not pass to `hyphens` option to url package.
The documentation of url package says about the option:

I think this is not good for the default settings of Sphinx.
if you want to give the option, please configure it on your conf.py:

[code]

Thanks,

[2016-03-04 08:18] jfbu commented on #2337
@tk0miya I tried it on some real life project of mine and it works fine. Also I checked with

[code]

to see what happened inside headings but anyhow even before the new commit, it seems no link is generated by the Sphinx latex writer in such locations, hence the switch to `\url` causes no problems there.

[2016-03-04 08:36] jfbu commented on #2337
@fredrik-johansson to use `tt` font style for URLs now after 0211e19ae6d303f6c814fc6753c1e0024ce5bf6d, you only need to include `\urlstyle{tt}` in `'preamble'` key for example. Something like

[code]

[2016-03-04 10:36] tk0miya commented on #2337
Ah, sorry, I fogget to comment that.
Sphinx does not generate any hyperlinks inside headings now.
It comes from this line:
https://github.com/sphinx-doc/sphinx/blob/0211e19ae6d303f6c814fc6753c1e0024ce5bf6d/sphinx/writers/latex.py#L1599

In this fix, I don't touch the behavior.

[2016-03-04 12:06] fredrik-johansson commented on #2337
Awesome, thanks for fixing this!

[2016-03-04 22:14] vlotorev commented on #2337
Thanks.

[2016-03-05 02:04] tk0miya commented on #2256
@shimizukawa could you share the file please?

[2016-03-05 12:56] xxks-kkk opened #2368 "build fails when there is a file looks like ".#foo""
I use emacs as my editor and it will generate files start with ".#" (ie. ".#foo"). Then, for some reason, this will make the whole building process fail and generate the error message looks  like this:

`Exception occurred:
  File "/usr/local/lib/python2.7/dist-packages/docutils/io.py", line 238, in __init__
    raise InputError(error.errno, error.strerror, source_path)
InputError: [Errno 2] No su

[2016-03-05 13:01] jfbu commented on #2368
These files (in my experience) are there only when you have unsaved Emacs buffers: that is when the buffer contents do not match the file contents. Do you really need to launch the build process in such configurations ?

[2016-03-05 13:01] xxks-kkk commented on #2368
The following is the log file:

[code]

[2016-03-05 13:05] xxks-kkk commented on #2368
Well, just curious why those unsaved buffer tmp files can make the build process fail. Sometimes my system crashed with emacs left open and sometimes I forgot to clean up directory before build process and it leads to build process crash. If multiple tmp files exist and I have to run some shell script to clean up and this annoys me.

[2016-03-05 17:28] TimKam commented on #2366
With "the ToC panel" I mean the "global" table of contents (side bar).
[Here](https://github.com/TimKam/sphinx-ie-toc-bug-example) you can find an example project.
Opening `.../newlevel/bug.html` and then clicking the ToC item that I labelled "_here, the issue should appear_" will cause a 404 when the files are hosted somewhere (e.g. some server on localhost).
(When opening the file via the Window

[2016-03-05 22:27] ivankravets opened #2369 "Broken search results for internal includes"
### Description of problem

We have received report from our @PlatformIO community that search result for the some pages are broken in our documentation. I tried to look into the source code and found that issue is related with the documents which have internal `.. include::`.
#### Steps to Reproduce
1. Open our documentation: http://docs.platformio.org
2. Enter into search form `OTA`
3. Borken re

[2016-03-06 03:20] #2368 closed, assigned to nobody

[2016-03-06 03:22] tk0miya commented on #2368
It was fixed at #637 once. But it was not perfect.
So I fixed it again at 5df6d09.

Thank you for reporting!

[2016-03-06 04:32] tk0miya commented on #2369
What did you mean "broken"?
It looks fine for me. each documents includes the keyword `OTA`.

[2016-03-06 06:01] #2262 closed, assigned to nobody

[2016-03-06 06:06] tk0miya commented on #2319
Fixed by #2297.

[2016-03-06 06:06] #2319 closed, assigned to nobody

[2016-03-06 07:12] tk0miya commented on #2366
I understand and fix it now.
Thank you for reporting!

[2016-03-06 07:12] #2366 closed, assigned to nobody

[2016-03-06 07:16] shimizukawa commented on #1604
Recovering attached file: [epub_sphinx.diff.txt](https://github.com/sphinx-doc/sphinx/files/160215/epub_sphinx.diff.txt)

[2016-03-06 08:13] shimizukawa commented on #1730
I can't decide whether file doesn't referred from toctree is intended or not.

For such case, I recommend `-W` option for sphinx-build that turn WARNING into ERROR.
Now I close this issue. Please feel free to reopen if you have any comments. Thanks.

[2016-03-06 08:13] #1730 closed, assigned to nobody

[2016-03-06 08:30] shimizukawa commented on #582
@birkenfeld do you have any ideas for usage message of search box?

[2016-03-06 08:32] shimizukawa commented on #319
I salvaged a attached file on BB. [ModuleDocumenter_members_include_submodules.diff.txt](https://github.com/sphinx-doc/sphinx/files/160238/ModuleDocumenter_members_include_submodules.diff.txt)

[2016-03-06 08:50] #1498 closed, assigned to nobody

[2016-03-06 08:50] tk0miya commented on #1498
Fixed at 549b6e2.
Thank you for reporting

[2016-03-06 09:15] tk0miya commented on #1336
I salvaged the patch file from bitbucket:
[latexContainer.patch](https://files.zenhub.io/56dbf51d7b8f2ce302239543)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-03-06 09:49] birkenfeld commented on #582
Actually I think the hint isn't really needed anymore.

[2016-03-06 10:34] xxks-kkk commented on #2368
my pleasure :smile:

[2016-03-06 10:37] juh2 commented on #1730
I think Sphinx should not include anything that is not intended to be included.

[2016-03-06 11:04] ivankravets commented on #2369
Take a look at the search results

## ![screen shot 2016-03-06 at 13 02 07](https://cloud.githubusercontent.com/assets/1760209/13553748/b8a3b67c-e39b-11e5-918c-88e0a46755b9.png)

Here are results from the pages which not contain internal `.. include::`
http://docs.platformio.org/en/latest/search.html?q=MBED+&check_keywords=yes&area=default
![screen shot 2016-03-06 at 13 03 32](https://cloud.github

[2016-03-06 11:05] ivankravets commented on #2369
Hm... Could you provide me the search output where do you see "OTA"? Thanks.

[2016-03-06 12:08] shimizukawa commented on #582
OK, I'm going to remove the hint for version 1.4 ;)

[2016-03-06 12:21] #582 closed, assigned to birkenfeld

[2016-03-06 22:08] fredrik-johansson opened #2370 "Toggle old alignment behavior for equations"
Previously, if you put two equations inside one math block

[code]

both would show up centered. Due to recent changes in sphinx (which puts them in an align environment), they now render right-aligned. I can get back to two centered equations using

[code]

but this is less convenient. Is there any way to restore the old behavior?

[2016-03-06 22:23] fredrik-johansson commented on #2370
BTW, the workaround to get two centered equations is not perfect. Although it gives similar output to the old behavior with HTML+MathJax, it creates an extra vertical space in latexpdf output.

[2016-03-07 16:24] juh2 opened #2371 "epub3 validation error"
I created a epub3 from the project that quickstart creates.

It throws the following validation errors while validating agains epubcheck.

Epubcheck Version 3.0.1

[code]

In an old real world project I get tons of errors. Error file is attached.

[errors.zip](https://github.com/sphinx-doc/sphinx/files/161647/errors.zip)

[2016-03-08 12:43] tk0miya commented on #2369
Thank you for explanation. I understand what you said "broken".
Indeed, it does not work well.

At this present, Sphinx uses the source file (*.rst) to display contents around the keyword. So it fails to highlight the keywords if the keyword does not exist in the document directly.
it might be happen when the document is generated by autodoc extension.

I think big change is needed to fix this. It

[2016-03-08 23:35] SylvainCorlay opened #2372 "Autodoc: Wrong formatting of signature in presence of return annotations"
While the `py_sig_re` regular expression successfully extracts the return annotations from signatures of the form

[code]

when such a return annotation is present in the signature string, the generated description of the signature incorrectly adds parentheses when listing the functions of a module with their one-line summary with autodoc.

<img width="685" alt="screen shot 2016-03-08 at 6 31 49 p

[2016-03-08 23:35] SylvainCorlay commented on #2372
cc @wjakob

[2016-03-09 02:18] tk0miya commented on #1153
Fixed at f875059.
Thank you for reporting

[2016-03-09 02:18] #1153 closed, assigned to nobody

[2016-03-09 02:42] tk0miya commented on #2103
Since the appearance of `self` in 38e766c2, it always only includes the title of the current file. not whole of ToC of the file.

@birkenfeld What is the purpose of the keyword? It seems not enough to use as "sitemap". So I don't know how to use this feature.
Could you tell me your idea?

[2016-03-09 07:29] birkenfeld commented on #2103
TBH, I don't know anymore :)

[2016-03-09 18:50] peastman opened #2373 "Cannot generate PDF on Windows"
On Windows, when I try to generate PDF output with the command `make.bat latexpdf`, it fails with the following error:

[code]

Looking through `make.bat`, I see that in the section for `latexpdf` it includes the command

[code]

How is that supposed to work?  Is there a special make program for Windows I'm supposed to have installed?

[2016-03-10 00:55] tk0miya commented on #2373
Sorry for inconvinience.
Please install the `make` command to use latexpdf.
https://sourceforge.net/projects/gnuwin32/files/make/3.81/

MEMO: relates wtih #1867

[2016-03-10 00:55] #2373 closed, assigned to nobody

[2016-03-10 10:59] cjerdonek commented on #996
@shimizukawa Can my patch submission be found somewhere?

[2016-03-10 16:03] tk0miya commented on #996
Here is salvaged file:
[issue-996-1.patch](https://files.zenhub.io/56e19a9eae7df7e0046c8f46)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-03-10 20:33] mausr opened #2374 "Documenting __init__ function with napoleon"
Maybe it is due to the lack of my proper googling skills but I could not figure out how I could document the **init** methods of my classes. Thus, I rewrote napoleon a little bit by adding a new option (napoleon_include_init_with_doc ) alongside the existing napoleon_include_private_with_doc and napoleon_include_special_with_doc.

Would this functionality made sense to you to be included with a ne

[2016-03-10 20:47] RobRuana commented on #2374
Here are some examples of how to document `__init__` using [Google style](https://sphinxcontrib-napoleon.readthedocs.org/en/latest/example_google.html) or [NumPy style](https://sphinxcontrib-napoleon.readthedocs.org/en/latest/example_numpy.html).

In particular:

[code]

For an example class level docstring see `ExampleError`. For an example docstring on the `__init__` method itself see `ExampleCl

[2016-03-11 03:15] ishitatsuyuki opened #2375 "Support for multiple source directories"
Hello,
I want to request support for multiple source directories.

Things like sphinx-apidoc generates files currently in source directories.
I'm not sure with the practices in Python, but we don't add generated files in version control for C/C++ repositories. Doxygen is exactly the example. Doxygen also support multiple source directories (in an other meaning).

I'm currently porting sphinx-apido

[2016-03-11 04:21] tk0miya commented on #1401
I added `:caption:` option to the `inheritance-diagram` directive. It works like figure directive and make the diagram as float.

Thanks,

[2016-03-11 04:21] #1401 closed, assigned to nobody

[2016-03-11 05:18] jfinkels opened #2376 "Sphinx does not produce HTML5 output"
This seems to be because Sphinx uses docutils to translate ReST to HTML, and docutils doesn't provide an HTML5 writer until version 0.13 (see http://docutils.sourceforge.net/docs/user/html.html). Version 0.13 doesn't seem to be released yet (see https://sourceforge.net/projects/docutils/files/docutils/).

[2016-03-11 09:00] mausr commented on #2374
Hi Rob,
thanks for the quick answer!

I have tried the linked NumPy style and saw the following:
- in line 5, the underscore at the end of `Documentation HOWTO`_` raised an error -> I deleted that underscore
- warnings were given for lines 86 and 88 because of the missing escape char before the stars in *args and **kwargs -> I left them untouched due to the comment line line 65 and 66 (i.e.: If \*

[2016-03-11 16:43] davidcharkowsky commented on #1453
I think I am seeing the same issue, _intermittently_, in a more recent component versions, running on Jython2.7.0.

[code]

[2016-03-11 20:09] ppopoff opened #2377 "Using regular expressions for c function prototypes"
The regular expressions [here](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/c.py#L30), are not correct for C programming language. They won't parse some POSIX-compatible functions, like the following:

`// valid function prototype`
`void (*signal(int sig, void (*func)(int)))(int);`

In general, using regular expressions to parse programming languages is not good idea. For this p

[2016-03-12 05:40] birkenfeld opened #2378 "newfloat.sty is very new"
I noticed that newfloat.sty (which is used in newer 1.3.x releases) is not present in the texlive packages of Ubuntu 12.04. This is unfortunate.

If we really need this package, can we include it?

[2016-03-12 16:43] dahpgjgamgan opened #2379 "type recognition of keyword arguments in ext.napoleon"
Hello,

Right now, following code:

[code]

with napoleon extension on, would generate a description of arguments, with working links to argument types for arg2, but for keyword arguments, the same method (specifying type of keyword in parentheses does not work - the closest way to achieve that is to yse `:class:` as in kwarg2, but that yields a slightly different formatting.

I though this would

[2016-03-12 20:39] RobRuana commented on #2379
Yes, `Keyword Args` should use the same formatting as `Args` for the output. I'll look into this, thanks for reporting it!

[2016-03-12 22:52] RobRuana commented on #2379
Okay, your two suggestions are both good.
1. Suggestion 1. is easier to implement, but like you said, the keywords end up merged with the other params
2. Suggestion 2. would produce the output you want, but would be a more in-depth change. The napoleon extension would need to add an override to the [PyObject.doc_field_types](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/python.py

[2016-03-14 02:09] ideasman42 commented on #2025
Is this closed because its a **feature-request**?
Or because the functionality isn't being considered for inclusion?

The ability to define the label text on the target would be very useful when linking to bullet-points and definition lists.

Note, I asked about this functionality on SE: http://stackoverflow.com/questions/35347170

[2016-03-14 12:23] andreacassioli commented on #2025
Hi,
the solution proposed by @tk0miya works well and can help you I guess.

Of course, it would be great to get the upstream

[2016-03-15 13:40] bigbes commented on #2363
Thank you!

[2016-03-15 20:07] danbrees commented on #2174
I am running into the same type of issue.  I am trying to mock the import of a third party submodule of a submodule of a module (mod.Submod.subsubmod).  When Submod has a capitalized first letter, I get:
 AttributeError: type object 'Submod' has no attribute 'subsubmod'

I don't get the error if Submod is submod.  I think Sphinx is interpreting Submod as a class, not a submodule. Unfortunately, I

[2016-03-17 08:04] kukgini commented on #2256
@tk0miya could you share your e-mail address? then I will send it to you.

[2016-03-17 08:53] xuhdev opened #2382 "The default spacing for "Fig." is incorrect in LaTeX output"
By default, the following line is in the LaTeX output:

[code]

However, by default, LaTeX sees `.` as the end of a sentence, thus the spacing after `Fig.` is significantly larger, while `Fig.` should really indicate abbreviation for `Figure`. The solution is to either set it to be `Fig.~` or `Fig.\` (see [here](https://tex.stackexchange.com/questions/2229/is-a-period-after-an-abbreviation-the-sam

[2016-03-17 08:58] xuhdev commented on #2382
Or maybe we can just change the default to `Figure`.

[2016-03-17 09:05] xuhdev opened #2383 "URL in LaTeX output should be wrapped with `\nolinkurl{}`"
Currently the URL in the LaTeX output is not wrapped with `\nolinkurl{}`. As a result, the line breaking is not optimized: they may be hyphenated, which is very confusing for URLs.

[2016-03-17 09:18] jfbu commented on #2383
Which kind of URLs ? recently there was commit 0211e19a, Fix #2337: Use `\url{URL}` macro instead of `\href{URL}{URL}` in LaTeX writer.

[2016-03-17 09:21] xuhdev commented on #2383
You can have URLs in footnotes, if `latex_show_urls = 'footnote'`. The URLs in footnotes are not supposed to be clickable.

[2016-03-17 11:54] jfbu commented on #2383
ok. I had not encountered the problem because the URLs in footnotes were not long enough for  hyphenation to occur frequently enough for me to realize it.

[2016-03-17 13:08] mickours opened #2384 "Numfig do works for latex"
The doc says in `config.html#confval-numfig` that numfig is only supported for HTML.
This is not true and I tried several unmaintained plugin before I realize that it actually working for LateX too!

I would like to replace the `For now, it works only with the HTML builder.` sentence by a list of supported builders but I really don't know.

Any developer of this module could update this please?

[2016-03-17 16:59] rdegges opened #2385 "Nesting Chapters Inside of `only` Directive Doesn't Work as Expected"
I'm working on a large documentation project for a a multi-language tech project, and have code that looks something like this:

[code]

What I would expect to happen here, is that if I've properly set the `python` or `java` variables (which I have on the CLI by modifying the Makefile), then I would see something specific outputted for each language. So if I built my project for `python`, I should

[2016-03-17 16:59] rdegges commented on #2385
Also, I should mention, I'm using latest Sphinx from PyPI: `Sphinx==1.3.6`

[2016-03-18 17:50] brianjking opened #2386 "Help with removing "Edit on Github" option with ReadTheDocs theme"
Hello,

When using http://readthedocs.org with the ReadTheDocs theme is it possible to remove the following elements? If so, how? I couldn't find anything in the documentation about this, if I overlooked it, please point me in the right direction.
- Edit on Github link in header
- In footer there's a "Revision #######" after the copyright message. Is there a way to remove this?

Thanks!

[2016-03-19 04:21] tk0miya commented on #2378
Of course, Yes. I'll bundle it later.
It comes from #2147. and I think it is important to insert page breaks into literal_block.

BTW, newfloat.sty is included ubuntu-trusty (14.04). When will we remove bundled styles from our package? At the EOL of 12.04?

[2016-03-19 05:33] shimizukawa commented on #2386
Sorry, I donkt know how to disable it because the feature is provided by readthedocs building system. So, please contact to https://github.com/rtfd/readthedocs.org or https://github.com/snide/sphinx_rtd_theme.

[2016-03-19 06:28] birkenfeld commented on #2378
I don't want to give any concrete date, but 4 years is not very long in terms of TeX progress :)
Something between 5-6 years seems acceptable.

[2016-03-19 13:39] andreacassioli commented on #2167
Am I the only one experiencing this?

[2016-03-19 20:32] xcriptus opened #2387 "autosummary complains when identifiers ends with _"
Hi
It seems that there is a bug in the autosummary extension: when a parameter ends with an underscore (e.g. `_a`), then autosummary raises the following error:

[code]

Fortunately, sphinx continues, so this is not a major problem. I've looked in already reported bug but have not found it, so ... (the closest one might be #1462(?)).

BTW thanks for this wonderful documentation generator !!!

[2016-03-19 20:46] xcriptus commented on #2386
Hi,
you should try to put the following line in your conf.py file

[code]

I've no revision ### after the copyright. If you want to remove the revision in the title bar you can do

[code]

You can also have some fun with creating a `_templates` directory, look at the [layout.html](file) and create a file called `_templates/layout.html` with your modification. This is not too complex if you have so

[2016-03-20 03:35] brianjking commented on #2386
@escribis

I had already tried `html_show_sourcelink = False` and it does remove the `view page source` message when using `make html` locally on my machine. However, it doesn't do anything about the `Edit on Github` display when using readthedocs.org.

The suggestion of using the details below works great when using Sphinx only, but once again, not on readthedocs.org.

`html_theme_options = {

[2016-03-20 03:56] brianjking commented on #2386
@escribis This is the template I'm using, are you saying I'd copy the source of it, remove the "edit on github" option, which I'm not even sure where it is based on a quick read of it, add this to my local repo and push for RTD to re-build it?

https://github.com/snide/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/layout.html

Thanks!

(If I had to guess the line I'd remove it would be this https:

[2016-03-20 04:33] brianjking commented on #2386
@escribis actually, found it in breadcrumbs.html, but using `display_github` with False doesn't seem to make it work, so please try and explain what all I would need to modify in `breadcrumbs.html` to get this working.

Thank you so much!

https://github.com/snide/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/breadcrumbs.html#L16-L19

[2016-03-21 10:24] andreacassioli commented on #1210
Hi,
I am kind of thinking that maybe we just need to store the full link of the equation. Indeed, the generated link is just local, with no file information. What about change this line

https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/mathbase.py#L103

to include the full path? Would it be a quick and dirty hack?

[2016-03-21 19:12] dahpgjgamgan commented on #2379
hi, did you have a moment to take a look at the PR?

[2016-03-21 19:13] brianjking opened #2388 "Adding Jira Issue Collector to Sphinx Doc - Help, Please!"
I'm attempting to add an Issue Reporter/Collector from Jira to my Sphinx docs and am having trouble. Jira provides two ways of doing this -- either HTML or Javascript.

`
// Requires jQuery!
jQuery.ajax({
            url: "http://domain.com/s/83ddc972c3081d22fffbf8446fbc64db-T/en_US-kq69xc/71006/b6b48b2829824b869586ac216d119363/2.0.11/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue

[2016-03-22 02:55] tk0miya commented on #2388
It might be resolved by adding following code to your `conf.py`::

[code]

It inserts script tags into all HTML files. Maybe it works.

[2016-03-22 13:04] brianjking commented on #2388
Thanks @tk0miya for the reply. I ended up solving this by grabbing the Javascript method and creating a file which I named `jira.js` to the `_static` directory.

Then inside of my `conf.py` file I added the following:

`def setup(app):
        app.add_javascript('jira.js')`

[2016-03-22 13:04] #2388 closed, assigned to nobody

[2016-03-22 14:28] tk0miya commented on #2256
I received it from shimizukawa in this weekend.
Please wait a moment, I'll take a look.

[2016-03-23 13:04] tk0miya commented on #2378
Okay.
Now I added `newfloat.sty` into `stable` and `1.4-release` branch.

[2016-03-23 13:04] #2378 closed, assigned to tk0miya

[2016-03-23 21:32] #2379 closed, assigned to RobRuana

[2016-03-24 00:16] gvdb opened #2390 "Sphinx unable to import modules"
I've spent days trying to fix this to no avail. I've tried a few fixes mentioned on [StackOverflow](http://stackoverflow.com/questions/23531825/sphinx-is-not-able-to-import-anything) and issues mentioned here on [GitHub](https://github.com/sphinx-doc/sphinx/issues/2046) and none of the solutions have worked for me.

I've tried all the obvious things of appending to the PYTHONPATH and sys.path in t

[2016-03-24 00:52] gvdb commented on #2390
Of course, shortly after posting this, I found the solution to my problem.

The problem was what I was appending to my PYTHONPATH. I incorrectly thought adding `/home/gvdb/ATB/` would fix it. What I needed to add was `/home/gvdb/` so that it could "see" `ATB/`.

Sorry for clogging up the Issues list with something that isn't a bug.

[2016-03-25 10:42] mikethebeer opened #2391 "`toctree` directive leads to multi-selected entries in sidebar-toc"
Hi,

I'm using the `toctree` element in a sidebar to list all available pages and mark the current page as **bold**. In one of the pages (`site_a.txt`) I use the `.. toctree::` directive to refer and link on a toc of an other site (`site_b.txt`).

[code]

So far so good. However, when the current page is `site_b` it highlights also `site_a` in the sidebar-toctree because `site_a` is containing a `

[2016-03-25 13:06] tk0miya commented on #2370
Indeed. It comes from #2254. I reproduce this with following code:

[code]

Indeed, the equations are slightly misaligned.
![2016-03-24 21 55 02](https://cloud.githubusercontent.com/assets/748828/14017704/a2fc4e68-f20c-11e5-9d48-3eec5e45e068.png)

[2016-03-25 16:07] jfbu commented on #2370
Perhaps there is some more up-to-date info but I have already found this : http://tex.stackexchange.com/a/8142/4686, which says

Anyway, things are produced like

[code]

and I am not sure about `split` inside `aligned` inside `align*`. The `split` environment is designed for use in full-width environments `align`, `gather`,  or `equation`. The amsmath documentation doesn't have a single example o

[2016-03-25 16:18] jfbu commented on #2370
I obtain centered results with

[code]

![capture d ecran 2016-03-25 a 17 16 08](https://cloud.githubusercontent.com/assets/2589111/14048244/5281b382-f2ad-11e5-86f2-d3ff0da4718a.png)

The recipe appears to be to use `\!\begin{aligned}.....\\\end{aligned}`, hence an extra `\!` before `\begin{aligned}` and an extra `\\` before `\end{aligned}`. Not tested apart from the above.

(and I still don't und

[2016-03-25 16:23] jfbu commented on #2370
In my previous comment notice that the bottom boxed B is not centered but I forgot the `\!` before `\begin{aligned}` for the last one. If one adds it, the bottom boxed B is centered.

[2016-03-25 23:02] xuhdev commented on #2304
@jnaulty In case you are still interested, [properly install a texlive package on Debian](https://tex.stackexchange.com/questions/137428/tlmgr-cannot-setup-tlpdb).

[2016-03-26 08:59] daoiqi opened #2392 "sphinx support ditaa plugin"
https://github.com/baloo/sphinx-ditaa

Does sphinx support ditaa idea?

usage:

[code]

[2016-03-26 12:30] lehmannro commented on #2392
What's the problem with the external extension?

[2016-03-26 15:26] thiagobrunoms opened #2393 "Getting errno on mscgen"
File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/sphinxcontrib/mscgen.py", line 77, in run_cmd
    if err.errno != getattr(errno, 'ENOEXEC', 0):
NameError: global name 'errno' is not defined

Does it seem to be a bug?

[2016-03-27 03:24] shimizukawa commented on #2393
Yup, it seems a bug.
`errno` is used unless `import errno` in mscgen.py:
https://bitbucket.org/birkenfeld/sphinx-contrib/src/6d1c958ca7bd2a3095763d51c8547ff1ab0ae5ec/mscgen/sphinxcontrib/mscgen.py?at=default&fileviewer=file-view-default#mscgen.py-77

Please report the issue to author Leandro Lucarella on https://bitbucket.org/birkenfeld/sphinx-contrib/issues/new

[2016-03-27 03:24] #2393 closed, assigned to nobody

[2016-03-28 03:15] tk0miya commented on #2370
Thank you for comment. It looks very nice!

The `aligned` also comes from #2254 . It is used to wrap whole of equations and give only one equation-number label.
But I don't know why `aligned` and `split` is used at same time. I did not care that.
@xuhdev Do you remember the reason?

[2016-03-28 03:53] xuhdev commented on #2370
I think it's OK to remove `split` inside `aligned`. I don't remember the exact reason, but I feel like that I added `split` inside `aligned` for semantic purpose only: `split` splits single equations. If it causes any issues, we can remove it.

According to @jfbu 's comments, we should use different environments for single equations (`split` inside `equation`) and multiple equations (`align`).

[2016-03-28 14:29] dhellmann opened #2394 "Sphinx 1.4 and Babel==2.2.0 incompatible?"
The new release of Sphinx 1.4 is causing a problem in my doc build. I'm not sure if it's a change in Sphinx, or something else in the chain, but downgrading to the previous release of Sphinx resolves the problem.

[code]

[2016-03-28 14:59] shimizukawa commented on #2394
I'm sorry for your inconvenience.
Maybe your problem is same as #2365.
Please let me know which document you are building.

[2016-03-28 15:25] dhellmann commented on #2394
Yes, it looks similar to #2365. I am building http://git.openstack.org/cgit/openstack/releases by checking that repository out and running "tox -e docs". You'll need a recent tox and virtualenv for that to work properly if you want to try yourself.

[2016-03-28 15:37] shimizukawa commented on #2394
Thanks. I'll try it.

[2016-03-28 16:21] shimizukawa commented on #2394
`html_last_updated_fmt` in conf.py has `'Mon Mar 28 12:37:08 2016, commit 4367aef'` instead of FORMAT is the cause of the problem. It causes unexpected behavior with datetime formatting of babel (a.k.a. Unicode LDML).
- Babel Date and Time: http://babel.pocoo.org/en/latest/dates.html#date-fields
- LDML Date Time Patterns: http://unicode.org/reports/tr35/tr35-dates.html#Date_Format_Patterns

As a w

[2016-03-28 16:22] shimizukawa commented on #2394
@tk0miya please take a look. I think there is no simple solution...

[2016-03-28 17:41] Konfuz opened #2395 "Unicode character in image filename makes sphinx crash"
## How to reproduce

Take an image, name it, for example, `testimäge.jpg` and include it to your documentation using the `.. image::` directive.

The following will happen when you build the documentation:

[code]

This used to work in Sphinx 1.3 but is broken in 1.4
## Error location

The Error is related to **line 203** in **sphinx.util.i18n**

[code]

where both an ASCII and unicode string are

[2016-03-28 20:55] katyhuff commented on #956
I'm affected by this. @MagSec-Arts ... are you planning to PR your suggested fix?

[2016-03-28 21:00] ScottABrown commented on #2374
I'm experiencing a similar issue, unable to get `__init__()` to document, as described in [this stackoverflow question](http://stackoverflow.com/questions/36270358/sphinx-autodoc-skip-member-handler-cant-show-init-when-using-napoleon). I can get other special methods to show up in my documentation, but not `__init__()`.

[2016-03-28 21:33] RobRuana commented on #2374
Sorry for the delay, for some reason github did not send me a notification about your reply until @ScottABrown commented :(

I think you need to check your autodoc settings in conf.py. In particular, make sure [autoclass_content](http://www.sphinx-doc.org/en/stable/ext/autodoc.html#confval-autoclass_content) is set to either `init` or `both`.

[2016-03-28 21:50] ScottABrown commented on #2374
Thanks for the quick reply, Rob.

I'm pretty sure `autoclass_content` isn't the difference.

What I was trying to do is put the class documentation under the class, and then have `__init__()` appear as a method just like `__repr__()` or `__str__()` or any other method, with its own documentation.
- `autoclass_content = 'both'` just adds the `__init__()` documentation to the class documentation wit

[2016-03-28 22:07] RobRuana commented on #2374
Ah, I didn't realize you wanted `__init__` to appear as a separate method. The standard Python docs document the `__init__` method along with the class documentation (here's the [first example](https://docs.python.org/3/library/argparse.html#argparse.ArgumentParser) I dug up, but I don't think you'll find `__init__` documented separately anywhere in the stdlib). That's _probably_ why there isn't a

[2016-03-28 22:31] ScottABrown commented on #2374
Hmm, any idea what interaction is happening that prevents the autodoc-skip-member handler approach to stop working with napoleon?

[2016-03-28 23:09] shimizukawa commented on #2395
Sorry for your inconvenience. Thanks for the inspection, I got a point. I'll fix it ASAP.

[2016-03-29 06:17] Znni opened #2397 "Problems with pdflatex in a Turkish document built with sphinx"
I have a project where, among other things, I try to convert a Turkish tex file built with sphinx to PDF. The conversion works with several other languages, but there are problems with Turkish. Trying to run pdflatex with the file gives errors starting with these:

[code]

etc. "Improper alphabetic constant" etc. There are also other similar error from other rows.

Row 143 in EEM4FSensors.tex read

[2016-03-29 06:26] RobRuana commented on #2374
Napoleon _also_ hooks the `"autodoc-skip-member"` event.

If two extensions both hook the `"autodoc-skip-member"` event, then autodoc simply uses the result from the first one to respond. The event listeners are stored in a python `dict`, so the order in which they are called is not deterministic :(

We can't guarantee that the custom `__init__` handler will run first :(

[2016-03-29 16:08] asottile opened #2400 "Failure to build python3.5 docs - ValueEror: too many values to unpack"
I could probably find a smaller testcase but for now I thought I'd report it:
## Version info

[code]

[code]
## Acquiring the source

[code]
## Building

[code]

Last bits of comandline output:

[code]
## Log output

[code]
## Workaround

[code]

[2016-03-29 16:29] mausr commented on #2374
No problem for the delay.:)

I will create a pull request until the end of this week.

I've just seen your last comment: very useful indeed.

[2016-03-29 16:43] ScottABrown commented on #2374
Rob, thanks, that's  useful piece of knowledge to add to my mental library. :)

[2016-03-29 17:47] andy-maier opened #2401 "autodoc: :members: list causes :special-members: not to be shown"
In a `autoclass` statement, when its `:members:` option specifies a list of members to show, the special members are no longer shown.

This fragment in index.rst will show all public non-special members and the two listed special members in the output:

[code]

While this one produces the failure by showing the specified public members but no more special members in the output:

[code]

I am using

[2016-03-29 18:14] roqnosis commented on #2042
Not a sphinx/autodoc expert, but I spent a few hours today tracking down what I imagine is fundamentally an expression of the same issue.  Or at least the same symptom and a similar cause.

python 2.7.6 and sphinx 1.3.6

I have a script that is using `from __future__ import print_function`

and later in the file I have a line like `print("foo", file=stderr)`

This causes the python language parser

[2016-03-30 10:06] jfbu commented on #2397
As a side note, there is a list of shorthands per language in the current Babel (latex package) documentation. Particularly regarding `"`,

[code]

and then one finds also

[code]

as the other languages with `"` among shorthands. Thus the current list in Sphinx appears to be  incomplete.

As per `=` sign as shorthand, it is only for `Latin` and  `Turkish`. Hence indeed `Turkish` is special.

I do

[2016-03-30 10:40] kohr-h opened #2403 "Glossary terms are not case sensitive"
The closest issue I could find is #167, but other than that I don't get any good hits just by searching the issue tracker.

My issue is the following: I have an `Operator` class and a glossary entry `operator` which does not explain the class, but rather the abstract concept. Two different things. Unfortunately, Sphinx thinks they are the same and gives heaps of warnings

[code]

What's bad about

[2016-03-30 11:38] cdeil opened #2404 "Note new dependencies prominently in release notes"
My package manager, Macports, just updated to Sphinx 1.4 and now it fails like this:

[code]

From the changelog
https://github.com/sphinx-doc/sphinx/blob/55a991e24198b7f10c3ff75a6f937bdcf2e3b408/CHANGES#L100
and
https://github.com/sphinx-doc/sphinx/blob/master/setup.py#L51
I was able to figure out that in Sphinx 1.4 [imagesize](https://pypi.python.org/pypi/imagesize) was added as a required depen

[2016-03-30 11:47] jfbu commented on #2397
The documentation of Turkish language for LaTeX Babel says

[code]

Thisway of loading Babel activates only the `:` and `!` shorthands.

[2016-03-30 12:43] andreacassioli opened #2405 "numref link in PDF jumps to the wrong location"
Hi,
I use numref to generate links to code listing. For instance I have

[code]

The listing is quite long and occupies 2 and half pdf pages. The link I get seems correct, but if I click I jump to the end of the listing instead the beginning, where even the caption is. This is not right!

[2016-03-30 21:45] jfbu commented on #2405
Thus, this is LaTeX builder issue. Indeed, generated tex source has

[code]

_after_  the Verbatim environment. It should be moved earlier.

Brief testing shows that if the produced latex file contains rather

[code]

then the link works fine. Also when the caption just barely made it to start of a page, the link goes to right page.

[2016-03-31 05:12] jakobandersen opened #2406 "Id generation warnings in C++ declarations with expressions"
(See also michaeljones/breathe#218)
Declarations that contain expressions, e.g.,

[code]

may issue warnings about failed id generation, e.g.,

[code]

This is because expressions are parsed in a very naive way, such that the expressions them self are used as part of the id. Two different declarations may therefore incidentally get the same id.

What characters are actually allowed in ids? Are wri

[2016-03-31 09:30] erikalfthan opened #2407 "Embedded images may cause build to crash"
I am in process of converting a file / docx based documentation into sphinx. A step in this is to use PyDocX and pandoc (pandoc unfortunatly dies on a table with property labels (i.e `<title>` included in the docx-template, PyDocX manages.

This creates rst-files with large embedded images (base64 encoded). This in turn causes sphinx build html to crash

Im using Windows 10, WinPython3.4 (standalo

[2016-03-31 09:33] erikalfthan commented on #2407
Comment: My post looks like a mess, a mix of raw html and text with no line breaks. Please feel free to highlight my mistake.

EDIT: Strange - now when I got some time to look into my previous post, it looks fine.

[2016-03-31 13:08] astrojuanlu opened #2408 "dummy builder not available in Makefile"
I downloaded Sphinx 1.4 to try the new dummy builder but it does not feature a dedicated entry in the Makefile. Instead, the `sphinx-build` command has to be used. It would be nice to have it in the Makefile, since it's a fast way to check for syntax errors.

[2016-04-01 03:35] tk0miya commented on #2394
I handled the exception at 8ab0653. But it is not a fundamental fix.

This comes from that LDML uses single ASCII characters to specify the date format. For example, `e` means weekday as a number, and `a` means AM or PM. Likewise `s`, `r` and `k` are also used.
As a result, it is difficult to represent almost English words. I think LDML is format to represent only dates. But it is not good for non

[2016-04-01 05:21] lehmannro commented on #2407
(The raw `<title>` tag in your first paragraph caused the Markdown parser to trip up, it seems.)

[2016-04-01 09:13] bootc commented on #1641
The workaround posted for me also doesn't work, so I had to resort to something altogether more nasty. As soon as I use `print([...], file=sys.stderr)` the Sphinx parser keels over and barfs at _any_ use of `print` anywhere in the file: very strange.

So I resorted to defining a `print_()` function and using that throughout my code:

[code]

Then where necessary: `print_("something", file=sys.stde

[2016-04-01 09:16] andreacassioli opened #2409 "crash using only directive"
Hi,
the following code

[code]

generate the following crash:

[code]

I am running the latest 1.4 on linux.

[2016-04-01 15:11] shimizukawa commented on #2404
Sphinx (and all other python packages) defines dependencies in setup.py and the information is provided to other programs. For instance, https://pypi.python.org/pypi/pipdeptree read the dependency information and display a dependency tree as a human readable format.

In my opinion, package system maintainers (include for MacPorts) can/should detect "new dependencies" automatically. This is the inf

[2016-04-01 15:11] #2404 closed, assigned to nobody

[2016-04-01 18:08] vitaut opened #2410 "Keep parentheses in a zero-argument function-like macro in c:macro"
It would be useful if `c:macro` preserved parentheses in

[code]

Currently it is rendered as

[code]

rather than

[code]

which makes it impossible to distinguish

[code]

from

[code]

and inconsistent with macros with multiple arguments.

https://github.com/michaeljones/breathe/issues/233

[2016-04-02 02:03] shimizukawa commented on #2408
OK, I'll add it to Makefile/make.bat.

BTW, current style Makefile/make.bat will be replaced with new style Makefile/make.bat that are already provided by `sphinx-quickstart -m` option. Please try it.

[2016-04-02 13:44] shimizukawa commented on #2408
Fixed.

[2016-04-02 13:44] #2408 closed, assigned to shimizukawa

[2016-04-02 13:46] shimizukawa commented on #2394
@tk0miya I agree for your proposal.

[2016-04-03 01:55] tk0miya commented on #2394
Thanks. I fixed it at d35ccb9.

[2016-04-03 01:55] #2394 closed, assigned to tk0miya

[2016-04-03 01:55] tk0miya commented on #2365
Maybe this fixed at d35ccb9.
If you have a trouble again please reopen.

Thanks,

[2016-04-03 01:55] #2365 closed, assigned to tk0miya

[2016-04-03 06:54] ccanepa commented on #2400
Same problem with python 2.7.11 64bits on Windows.
Sphinx 1.4 installed from pypi with pip:

[code]

Running the documentation build for https://github.com/los-cocos/cocos.git  (master, current tip, ie at commit  3b410f3) , pyglet 1.2.x from pypi needs to be installed,

Building with

[code]

gives

[code]

The log:

[code]

Workaround sugested by  asottile worked [pip picked sphinx-1.3.6 sphinx-r

[2016-04-03 11:14] jfbu commented on #2405
@andreacassioli could you try the patch  to `latex.py` at https://github.com/jfbu/sphinx/commit/083d8f8e0e0f2e149ebf0723b584445764f24c69 on a real life project. I am not familiar enough with Sphinx to evaluate if it can impact something else. The test suite (on master branch at 55a991e) ran ok, apart from an error which is completely unrelated:

[code]

ah ok, this is because I ran test suite on m

[2016-04-03 11:36] astrojuanlu commented on #2408
Thanks @shimizukawa - Regarding `sphinx-quickstart -m`, I found no references in the official docs http://www.sphinx-doc.org/es/stable/invocation.html would you please provide some more information so I can try it?

[2016-04-03 12:36] andreacassioli commented on #2405
@jfbu I have tried on a dummy project made from scratch and it seems to work well. Good job! It would be nie to have it as bug fixing in 1.4.1.

[2016-04-03 13:19] jfbu commented on #2405
@andreacassioli Thanks for testing; good to know it seems to work. I can make a PR but I feel my modifications first need some review by people who understand globally `latex.py`.

In the meantime I have put the patch on top of stable (modified minor things related to location of `\n` in the strings) there https://github.com/jfbu/sphinx/commit/6123ea49e53b57e200138744dc618a797633d4d6

[2016-04-03 13:50] jfbu commented on #2405
@andreacassioli  hmm, examining more closely the situation from the `index.rst` at top of thread, I see that although the hyperlink works, the LaTeX situation is not ideal: the tex file contains:

[code]

But the `\ref{index:toolbox-code-sdo1}` does not work, because this is a LaTeX mechanism which needs a  `\refstepcounter{foo}` somewhere. And there is none. One sees `Listing<space>` and not `Lis

[2016-04-03 14:44] jfbu commented on #2405
@andreacassioli Sorry to ask again, but is it possible you test https://github.com/jfbu/sphinx/tree/jumptorightplace-onstable on a real project? (this is a branch based on stable commit d35ccb9b4c3b15dbfd81e8349f0a1464f2e423d8, there are currently two commits and the tip is at https://github.com/jfbu/sphinx/commit/a1647b6bb9f89141a9ba5b3579cc1bce8d4b18c2, the first commit is equivalent to the one

[2016-04-03 15:16] jfbu commented on #2405
I added a commit to https://github.com/jfbu/sphinx/tree/jumptorightplace-onstable to take out a test I did before a `context.append(ids)`. The context of my hesitation is that I am not sure  whether the move of `context.pop()`  to `visit_caption`  could cause a problem if there is no caption, is it possible that the code doing `context.append(ids)` is executed also in situations without caption, h

[2016-04-03 17:01] arafune opened #2412 ":numref: in latexpdf generetes very buggy labels"
Hello,

While the numref function works for html generation, it does not work well.
Here is the test rst.

------------from below--------
######

TEST
######

:numref:`test1` should be Fig. 1.1.  And :numref:`test2` should be Fig. 1.2.  But th
e generated pdf is not.

.. _test1:

.. figure:: image/test1.png

[code]

.. _test2:

.. figure:: image/test2.png

[code]

----------------to above---------

[2016-04-03 19:51] jfbu commented on #2412
I can't for lack of knowledge comment if what you observe is a bug, but can you try the following way which seems to work ok:

[code]

[2016-04-03 19:57] andreacassioli commented on #2405
Hi, you are right. Your fix works well if a caption is available, otherwise
- the code has no caption, not even `List 1` or the like
- there is no link at all, just a verbatim `list`

The Tex code I see is

[code]

I think this is the way `numref` works, in the sense that i my understanding only if a title is availble a link is generated. I think the fix should be in the numref role itself.

[2016-04-03 20:09] jfbu commented on #2405
Agreed about what you observe in absence of a caption. But just to be clear this is already the situation on stable branch of Sphinx, it is not related to my fix of the original issue in this thread.

[2016-04-03 20:17] jfbu commented on #2405
Also, when testing a `numref:`foo`` in the situation with no caption, I do get a Sphinx warning on `make latex`.

[code]

Tested on stable branch. My fix in https://github.com/jfbu/sphinx/tree/jumptorightplace-onstable has no impact on this, it is about making sure, when `:caption:` is made use of, that `numref` will generate not only correct link but also correct numbering of literal block for th

[2016-04-04 00:13] arafune commented on #2412
Thanks for good suggestion.

But in the practical use, I cannot use this technique, because I prepared
two format png and pdf, the former is for html the latter for latex-pdf.
Bests,

Ryuichi Arafune

2016-04-04 4:51 GMT+09:00 jfbu notifications@github.com:

[2016-04-04 02:05] tk0miya commented on #2412
Sorry for inconvenience.
Fixed at 1313726

Thank you for reporting.

[2016-04-04 02:05] #2412 closed, assigned to nobody

[2016-04-04 03:17] mouse07410 opened #2413 "Crash when building Botan documentation"
Mac OS X 10.11.4, Xcode-7.3, Python-2.7.11, [Botan-1.11.29](https://github.com/randombit/botan) (dev):

[code]

[2016-04-04 03:43] jakobandersen commented on #2413
Thank you very much for the bug report! I think I know what is going wrong, and will fix it as soon as possible.

[2016-04-04 07:55] jfbu opened #2414 "Missing number in PDF hyperlinks to code listings"
Consider this `index.rst`:

[code]

with files `sdo1.m` and `sdo2.m` of random contents.

[code]

and

[code]

Then the pdf shows as:

![capture d ecran 2016-04-04 a 09 49 16](https://cloud.githubusercontent.com/assets/2589111/14241304/0e78a57e-fa4b-11e5-87e4-dac48e24bfb9.png)

The https://github.com/jfbu/sphinx/tree/jumptorightplace-onstable fixes this issue, but needs reviewing because I don't k

[2016-04-04 08:32] jfbu commented on #2414
Fixed by PR #2415 which needs reviewing.

[2016-04-04 08:32] jfbu commented on #2405
Both this and #2414 are addressed by PR #2415

[2016-04-04 10:40] rpluem opened #2418 "Time formats no longer allowed in today_fmt"
Sphinx 1.3.x allowed to specify time formatters in today_fmt like %H and %M.

Can we please allow these time formatters again? Time cannot even be displayed with babel formatters.
See my pull request  #2417

[2016-04-04 11:56] methane commented on #2400
[code]

[2016-04-04 12:17] shimizukawa commented on #2400
Thanks everyone and sorry for your inconvenience. This issue is same as #2396. I'll fix soon.

[2016-04-04 12:28] tk0miya commented on #2409
My short description:
- In reST, sequence of punctuations means transitions (http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#transitions)
- docutils expects the transition node is put on between other nodes. It warns if the blocks begin with transitions

The assertion error comes from the second rule.

I think this is an irregular case, but the effect of the bug is small.

[2016-04-04 13:26] mouse07410 commented on #2413
Great, thank you! Looking forward to the fix.

[2016-04-04 15:05] andreacassioli commented on #2409
Hi @tk0miya
thank you for the feedback.

The reason I use transition is to have a horizontal line between paragraphs, but I want that line only in latex. That's why I use only. What would be a workaround?

[2016-04-04 15:09] andreacassioli commented on #2405
Hi @jfbu ,
thanks for your effort. I hope to see the patches son in stable!

[2016-04-04 20:01] Balooga opened #2421 "Possible for ".. uml::" to support embedding external files?"
Would it be possible for `.. uml::` to support embedding external files, such is as currently possible with `.. graphviz:: external.dot` ?

For example;

`.. uml:: external.puml`

[2016-04-04 20:27] lehmannro commented on #2421
If this is for [sphinxcontrib.plantuml](https://pypi.python.org/pypi/sphinxcontrib-plantuml), could you file a bug at the [sphinx-contrib](https://bitbucket.org/birkenfeld/sphinx-contrib) repository?

[2016-04-04 22:26] lehmannro opened #2422 "Release memory allocated by MemoryAnalyzer"
Some memory profiling revealed that we might leak MemoryAnalyzers from `sphinx.pycode`;  the numbers were in the ballpark of 10%.

[2016-04-04 22:28] lehmannro opened #2423 "Release memory allocated by autodoc'd modules"
Some back of the napkin math revealed that, for larger Sphinx projects, autodocumenting them and actually importing them could allocate lots of memory.  We might want to trade off speed for memory here, sometimes (even more so considering we have parallel builds now.)

(The example was Sage Math, which has ~2k files and allocates ~500M of memory when imported.)

[2016-04-05 07:56] jfbu commented on #2409
Hi @andreacassioli you could try this workaround:

[code]

or, possibly better, use rather in the above `\mytransition`, set `'transition'` key from `latex_elements` to `'\n\n\\mytransition\n\n'` and use `'preamble'` key to define `'\\def\\mytransition{whatever}'`. (not tested)

[2016-04-05 10:28] rpluem commented on #2418
For stable see #2425

[2016-04-05 11:06] lehmannro commented on #2423
Note:  This makes most sense for `.. automodule::`, since chances are high we don't need the documented module afterwards.

[2016-04-05 11:07] tk0miya commented on #2409
Yes, `raw` directive will help you :-)

@jfbu Thank you for advice.

[2016-04-05 11:40] andreacassioli commented on #2409
Hi,
yes the `raw` directive works perfectly to my purpose. Thank again.

But the issue (the small bug) remains open, right?

[2016-04-05 13:36] lehmannro opened #2426 "Save memory allocated by Text nodes"
Docutils `Text` nodes are taking up roughly 15% of the memory consumed by doctrees, with the bare classes taking up half of that.

Maybe we can save some memory if these became slotted, new-style classes?

[2016-04-06 05:42] jakobandersen commented on #2413
The crash was because of the duplicate declaration of "`TLS::Session`" (doc/manual/tls.rst line 333 and 369). Sphinx should no longer crash, but will print "`SEVERE: Duplicate ID: "TLS::Session".`".
The second declaration will still be rendered, but its anchor will point to the first one.

[2016-04-06 05:42] #2413 closed, assigned to jakobandersen

[2016-04-06 08:41] andreacassioli opened #2427 "code-block width changes with :linenos:"
I have notice that `code-block` layout changes depending on whether line numbers are included. Indeed the text background width is shorter with numbers.

Try for instance

[code]

The result is
![screenshot from 2016-04-06 10 39 17](https://cloud.githubusercontent.com/assets/6704112/14310745/e9236094-fbe3-11e5-8cbd-c7aa08f0f0d3.png)

while with

[code]

is

![screenshot from 2016-04-06 10 41 02](h

[2016-04-06 08:41] andreacassioli commented on #2427
BTW: it is not just the width but the layout as well that changes.

[2016-04-06 12:24] #2418 closed, assigned to nobody

[2016-04-06 14:02] JimiC commented on #2386
I found myself in your situation where I wanted to remove certain elements from the page. I ended up doing them via javascript. You know if you include

[code]

in `conf.py` and have the corresponding folders under `_static`, you can style your pages and execute js on them.

[2016-04-06 16:15] tk0miya commented on #2409
Yes, keep opening please.
We will fix it later

[2016-04-06 18:14] mouse07410 commented on #2413
Jakob, thank you! Could you please tell me when I can hope to see Sphinx with this fix released?

[2016-04-07 01:52] DavidGriffith opened #2428 "Alignment doesn't work when rendering to LaTeX"
Given something like this:

[code]

When it is rendered to HTML, picL.png (a large illuminated letter L) will appear embedded in the paragraph with the text wrapping around it.  When rendered to LaTeX, the resulting PDF shows the illuminated letter above a plain paragraph.

[2016-04-07 02:11] jakobandersen commented on #2413
The fix should be in the next minor version (v1.4.1). I'm not sure when it will be released, though. Based on the last few releases it might be already in a few weeks (@shimizukawa may know for sure).

[2016-04-07 02:18] shimizukawa commented on #2413
Sorry for your inconvenience. I'm going to release 1.4.1 in next 5 days (My computer was crushed by OS updating, but I repaired it last night :))

[2016-04-07 03:14] hamishwillee opened #2429 "Missing references raising exception"
Rather than getting a warning when an item linked by a reference does not exist, I'm getting exceptions. Everything works fine if I link to an existing anchor. So for example, a single document with link as shown:

[code]

Will cause

[code]

The function takes a kwarg*\* so I'm at a lost how this error could occur: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/environment.py#L1548

The

[2016-04-07 05:24] hamishwillee commented on #2429
Works fine on Sphinx 1.3 but not later. Sphinx installed using the Sphinx RTD Theme on Ubuntu 14.02

[2016-04-07 08:49] fredrik-johansson opened #2430 "Add KaTeX math rendering support"
KaTeX (https://github.com/Khan/KaTeX) is a lot faster than MathJax, and it supports pre-rendering. It would be nice to do this at build time with Sphinx.

A drawback is that it doesn't support all TeX markup. It would be nice to use KaTeX when possible, and MathJax as a fallback.

[2016-04-08 02:47] mouse07410 commented on #2413
Very sorry to hear about your computer problem, and glad you succeeded repairing it. Looking forward to the upcoming release!

[2016-04-08 14:52] tbetbetbe commented on #2336
I'm seeing this as well.  Thanks for the patch!
FYI @vsubramani

[2016-04-10 11:26] tk0miya commented on #2395
Fixed at 9df7783
Thank you for reporting

[2016-04-10 11:26] #2395 closed, assigned to tk0miya

[2016-04-10 11:57] tk0miya commented on #2400
I merged #2396 now.
It will be released in a few days.

Thank you for reporting

[2016-04-10 11:57] #2400 closed, assigned to shimizukawa

[2016-04-10 12:01] lukasgraf commented on #2103
I stumbled across the same issue - including `self` in the toctree only inserts a single link to the same document (irrespective of `maxdepth`), so I don't see how this could be used to generate a sitemap or a document-local ToC (which is what I'm after).

Using the plain reStructuredText [`.. contents::`](docutils.sourceforge.net/docs/ref/rst/directives.html#table-of-contents) directive is _somew

[2016-04-11 01:49] brucelkx opened #2434 "pip install sphinx error under the python3"
Exception occurred:
  File "conf.py", line 45, in <module>
    copyright = unicode(date.today().year) + u', Apple Inc'
NameError: name 'unicode' is not defined
The full traceback has been saved in /var/folders/7_/t87q5n0n327c2sh6670nrsmw0000gp/T/sphinx-err-0amfdez0.log, if you want to report the issue to the developers.

[2016-04-11 01:55] tk0miya commented on #2414
Fixed by #2415 :-)

[2016-04-11 01:55] #2414 closed, assigned to nobody

[2016-04-11 01:56] tk0miya commented on #2405
Fixed by #2415 :-)

[2016-04-11 01:56] #2405 closed, assigned to nobody

[2016-04-11 03:46] tk0miya commented on #2434
It seems your `conf.py` is written for python2.
Could you attach the full traceback on `/var/folders/7_/t87q5n0n327c2sh6670nrsmw0000gp/T/sphinx-err-0amfdez0.log`?

[2016-04-11 09:13] lehmannro opened #2435 "Slim down quickstarted conf.py"
I don't think the `conf.py` as currently generated by `sphinx-quickstart` is useful:
- Lots of options are missing [2] because it's tiresome to keep the file updated.
- Most users don't bother to change the defaults [1] and thus bloat _every_ of their projects with our boilerplate.
- Finding the _significant_ changes is hard in the ocean of comments.

My ultimate goal is significantly reducing the

[2016-04-11 12:40] andreacassioli commented on #326
HI,
any progress on this issue? Out there there are already some unofficial extensions that replaces the section title with a counter.

[2016-04-11 16:59] asr opened #2436 "The extensions value is checked before the needs_sphinx value"
In conf.py I have the following values:

[code]

By running `make html` using  Sphinx 1.3.6 I would expect the following error:

[code]

but instead I got the following error:

[code]

That is, the `extensions` value is checked before the `needs_sphinx` value. It is the expected behaviour?

[2016-04-11 18:06] Konfuz commented on #2395
Thank you for fixing it (and in reasonably short time as well)!

[2016-04-11 22:31] gralamin opened #2437 ""alias of" text creates warnings, as it doesn't try to find the proper reference"
**Sample output:**

[code]

**Description**
This error message is due to the "alias of" autodocs. Two very simple files are being used:

[code]

[code]

my_name is being rendered with the text "alias of Foo", however, sphinx does the equivalent of:

[code]

Instead of the desired:

[code]

**Sphinx should either**
1. Actually attempt to load the full reference for the class, or
2. Search all files

[2016-04-12 00:44] ArendDanielek opened #2438 "Installing an older build of sphinx"
I am looking to install Sphinx 1.3.3 as currently my department is under a deadline and due to some external conflicts with changes we made to the sphinx-rtd-theme we can not upgrade to Sphinx 1.4 immediately. Now you may be asking if you were using 1.3.3 before why can't you just keep reusing it? Why do we need to install what is already installed? Well several of us got new office computers last

[2016-04-12 02:53] shimizukawa commented on #2438
I'm sorry, I have no idea what you're referring to :)
I guess you can do:

[code]

instead of `wheel install`.

[2016-04-12 02:56] tk0miya commented on #2436
Ok, I'll take a look

[2016-04-12 02:58] tk0miya commented on #326
Not yet. please let me know them.

[2016-04-12 03:20] tk0miya commented on #2407
Sorry, I don't know about embedding base64 encoded images as reST notation.
Could you give me any examples that embeds them?

It seems sphinx recognizes the encoded-string as filename and tries to check its existence.

[2016-04-12 04:26] daoiqi commented on #2392
not problem, just want to sphinx support by default?
but I think not necessary.

[2016-04-12 04:38] tk0miya commented on #2430
That sounds good.

Sphinx already has extension archtecture.
It would be nice if any Sphinx extension supports KaTeX.

[2016-04-12 06:34] andreacassioli commented on #326
It is not really an extension, but it works well:

https://github.com/jterrace/sphinxtr/blob/master/extensions/numsec.py

Others have similar approach. I use it regularly and it seems to be OK.

[2016-04-12 06:55] andreacassioli commented on #2427
Any clue? Is it a docutils issue?

[2016-04-12 07:34] andreacassioli commented on #2360
Hi guys,
it seems the issue still pop up in 1.4. Here is the code

[code]

and here is the output
![screenshot from 2016-04-12 09 32 52](https://cloud.githubusercontent.com/assets/6704112/14452838/9ba50400-0091-11e6-9217-65f9e29442da.png)

[2016-04-12 08:01] jfbu commented on #2360
I can not confirm the problem on current stable. With this `index.rst`, and `numfig = True` in the `conf.py` and suitable file in `stripex/test_sync.py` :

[code]

The `make latexpdf` produces expected output with correct functional `Listing 1.1`, `Listing 2.1` and `Listing 2.2` links inside the PDF.

[2016-04-12 08:05] jfbu commented on #2360
I aslo tried in my test file after having cyclically permuted the three `:numref: `foo`` and it all works OK in all cases I tested.

Can you try to produce a minimal example with wrong link being produced?

[2016-04-12 09:20] lehmannro commented on #2392
Extensions are a first-class citizen in Sphinx and ain't go away.  If there's anything missing from our extension mechanism feel free to open a new ticket — I'm closing this one.

[2016-04-12 09:20] #2392 closed, assigned to nobody

[2016-04-12 09:28] andreacassioli commented on #2360
I will take a closer look and try to make a minimal example.

[2016-04-12 11:09] jfbu commented on #2360
You may have duplicate names `doc.opt_server.tutorial_sync_code` but I guess you have excluded that already.

Having a look at the relevant part of the LaTeX file would help:
1. the location where there should appear a `Listing \ref{foo:doc.opt_server.tutorial_sync_code}`
2. the location where the same `doc.opt_server.tutorial_sync_code` appears which  with current stable should look like `\def\Sp

[2016-04-12 11:13] jfbu commented on #2360
Perhaps you use names which differ only in casing? I just observed that ids are transformed to lower case at some point. Thus `codeA` and `codea` will give same label and this could cause what you observe.

[2016-04-12 11:27] andreacassioli commented on #2360
Hi @jfbu , thank you!

I am sure I have no duplicates and I always use lower case names.

In the generated Tex I have

[code]

while the literal block contains

[code]

I am using the latests version from Pip. actually I run pip every time I build the docs.

[2016-04-12 11:35] andreacassioli opened #2439 "function argument generate broken links in C domain"
Hi,
I have tried

[code]

on Sphinx 1.4. But in the output I get a broken link for the `int` type. In my understanding the `TypedField` does not check the stop words and therefore cannot distinguish what should be a link or not. Any clue?

[2016-04-12 12:42] deric opened #2441 "Full text search adapters: support elasticsearch?"
Currently [supported backends](https://github.com/sphinx-doc/sphinx/tree/master/sphinx/websupport/search) are IMHO quite outdated:
- Whoosh search
- Xapian

Firstly, is there any tutorial how to configure full-text search backend? And secondly, any chance to extend support to e.g. elasticsearch, PostgreSQL, MongoDB, etc.?

[2016-04-12 12:52] jfbu commented on #2360
This looks good. More recent version will not have the `\phantomsection\label{...}`: it is handled differently at the LaTeX side, and more robustly.

Random thoughts:
1. perhaps your problem will go away once pip version catches up with 1.4.1.
2. perhaps some TeX package misbehaves.
3. perhaps pdflatex is not run enough times. You could try go the build repertory, kill the `aux` file and run manua

[2016-04-12 12:57] jfbu commented on #2360
You mentioned somewhere else using extensions like
https://github.com/jterrace/sphinxtr/blob/master/extensions/numsec.py

Is it the case in this problem document ?

[2016-04-12 13:01] andreacassioli commented on #2360
Thank again. About your random thoughts:
1. hopefully!
2. not sure hoe to figure it out
3. it runs 4 times, so I guess it should be enough...

and yes, I use numsec in this project.It is fundamental as titles are way too long and clutter the text. But in my understanding should not affect the tex output.

I think the next step is to wait 1.4.1

[2016-04-12 13:25] shimizukawa commented on #2400
https://pypi.python.org/pypi/Sphinx/1.4.1 has been released. Please try it.

[2016-04-12 13:28] mgeier opened #2442 "Setting html_context['css_files'] renders add_stylesheet() inoperative"
When I use something like this in my `conf.py`:

[code]

... and an extension uses [add_stylesheet()](http://www.sphinx-doc.org/en/stable/extdev/appapi.html#sphinx.application.Sphinx.add_stylesheet), latter has no effect.

Is this intentional?

I would expect the `css_files` mentioned in `conf.py` to be _appended_ to the list of CSS files from the theme and from extensions.

[2016-04-12 13:37] deric commented on #192
+1 any progress on this?

[2016-04-12 14:56] jburkhardt opened #2443 "AttributeError: 'Module_six_moves_urllib_parse' object has no attribute 'urlsplit'"
`make html` leads to following output:

[code]

Here is the output of the log file:

[code]

OS: OS X El Capitan Version 10.11.4
Python: Version 2.7.10

[2016-04-12 15:24] jburkhardt commented on #2443
Problem solved: Update of [python six package](https://pypi.python.org/pypi/six) solves the issue.

[2016-04-12 15:24] #2443 closed, assigned to nobody

[2016-04-12 16:19] ArendDanielek commented on #2438
I'm just a software developer just getting by with very few self-taught pip skills in a sphinx project made by someone who isn't around anymore. This worked perfectly, thanks for your time.

[2016-04-12 16:19] #2438 closed, assigned to nobody

[2016-04-12 16:36] ccanepa commented on #2400
updated from pypi to 1.4.1, builds normal for cocos.
Thank you !

[2016-04-13 02:32] linlinlinlin commented on #2353
I have been upgrade to the latest version of Sphinx. But still have same issue.
What do I missing?

I am installed these package in my env.

[code]

[2016-04-13 03:42] tk0miya commented on #2360
Maybe this is same problem as #2414 and it is fixed at 1.4.1.

If you still get the problem after 1.4.1, please open new issue.
because I did not notice discussions on closed issue.

[2016-04-13 03:48] tk0miya commented on #2353
Really? Could you check it again at clean environment?

In my environment, sphinx-rtd-theme is not installed:

[code]

[2016-04-13 03:58] shimizukawa commented on #2353
please check with `pipdeptree`.

[code]

With sphinx-1.3.6:

[code]

With sphinx-1.4.1:

[code]

[2016-04-13 05:34] linlinlinlin commented on #2353
Sorry. I found the problem in my environment.
Because I am using `pew` as virtualenv tool.
It works well with pipdeptree check now.

[2016-04-13 06:02] shimizukawa commented on #2353
Good to know! Thanks ;)

[2016-04-13 13:23] andreacassioli commented on #2360
I confirm now it works now, great job!

[2016-04-13 13:29] jfbu commented on #2360
very glad to hear that !

[2016-04-13 14:08] erikalfthan commented on #2407
I dont have a full sharable example, but the reST directive looks like this

[code]

I'm a beginner at reST, so the reason I believe it is valid is that I _didnt_ write it, a converter tool did. My current (working) workaround is to use mkdocs with markdown instead, which becomes this

[code]

I dont know if the embedded file is valid reST image and I don't know if sphinx aims to comply 100% with

[2016-04-13 15:29] mgeier opened #2445 "Use rst_prolog and rst_epilog only for rst files?"
Apparently, Sphinx adds those to all source files, regardless if those are actually reST files or not.

This leads to problems with some custom `source_parsers`, e.g. https://github.com/spatialaudio/nbsphinx/issues/38

I think `rst_prolog` and `rst_epilog` should only be prepended/appended for actual reST files.
Is there anything speaking against this?

[2016-04-13 15:35] jfbu opened #2446 "latex(pdf) sets local tables of contents (or more generally topic nodes) in unbreakable boxes, causes overflow at bottom"
When there are too many sections in a chapter, the

[code]

directive will create an unbreakable box, which does not allow page breaks. It is moved to next page and there overflows the bottom of the page. Example:

![capture d ecran 2016-04-13 a 17 27 25](https://cloud.githubusercontent.com/assets/2589111/14499069/07df867a-019d-11e6-9d9e-5a991a53cb5a.png)

Source file `index.rst` :

[code]

The pr

[2016-04-13 15:39] birkenfeld commented on #2445
No, that makes a lot of sense. Should be a bugfix for 1.4.2.

[2016-04-13 15:56] jfbu commented on #2446
But unfortunately package `framed.sty` does not allow (i.e. will lose) footnotes.

More modern LaTeX package `mdframed.sty` does handle footnotes but it exists only since 2010.

[2016-04-13 17:14] jputrino commented on #2429
I got the same error; full traceback below. Sphinx installed using the Sphinx RTD theme on Mac OSX. I also confirmed that it works fine in1.3.

[code]

[2016-04-13 22:31] HDembinski commented on #2413
Great work! I just wanted to report the same problem, glad to hear that it is already fixed.

[2016-04-13 23:11] mouse07410 commented on #2413
I concur, thanks!

[2016-04-14 00:23] hamishwillee commented on #2429
@jputrino I hope "they" fix this. In the meantime we reverted to Sphinx 1.3. Just FYI, in this version our the template field {{suffix}} did not work.

[2016-04-14 02:19] tk0miya commented on #2370
I fixed this at 39396a4 and 3206ccbae0c73958a2e120b5d5d02a00150b776d.

Finally I use `equation` and `split` for single equation and `align` and `aligned` for multiple equations.
If you find another problem, please let me know.

Thanks!

[2016-04-14 02:19] #2370 closed, assigned to nobody

[2016-04-14 03:08] tk0miya commented on #2429
I'll take a look

[2016-04-14 06:52] jfbu opened #2447 "VerbatimBorderColor wrongly used also for captions of PDF literal blocks"
This was introduced by commit  9d82cad1 which fixed #2262 and #2319. A fix is upcoming.

test file `index.rst`:

[code]

![capture d ecran 2016-04-14 a 08 45 40](https://cloud.githubusercontent.com/assets/2589111/14519287/1d66e444-021e-11e6-995b-4c1ec9ce9021.png)

[2016-04-14 08:57] alpharder opened #2449 "Generated search index doesn't contain bold and cursive words"
We have the following RST:

[code]

The bolded "close storefront" and "Access key to temporarily closed store" phrases cannot be found at search - the words from those phrases aren't being added to the index.

Facing the same issue with the cursive-selected phrases.

[2016-04-14 10:11] andreacassioli opened #2450 "Long literal include have broken border"
I have some `literal-include` that span more than one page. In that case the border around the text looks broken: in the first page the left border is missing, whereas it is there on the other pages.

For example

![screenshot from 2016-04-14 11 29 43](https://cloud.githubusercontent.com/assets/6704112/14523531/7c720e4e-0234-11e6-8dcf-508fbc92e379.png)

As you see the second box has a left border.

[2016-04-14 12:28] bsipocz opened #2451 "Silence warning (opt in) when overriding extension directive"
1.4 introduced a warning for overriding roles/directives from an extension (https://github.com/sphinx-doc/sphinx/issues/1962).

It would be great if this could be silenced. In our case the overriding is intentional (e.g this contains a few workarounds https://github.com/astropy/astropy-helpers/blob/master/astropy_helpers/sphinx/ext/autodoc_enhancements.py), thus the warning causes unnecessary trou

[2016-04-14 13:02] jfbu commented on #2450
The produced LaTeX looks ok. I can't reproduce the problem. I tried to reconstitute

[code]

but this does not produce the problem although the LaTeX is identical. (for this the `bar.c` file has all lines starting with a space; else there is some additional highlighting on output)

A minimal example with `rst` sources would be helpful.

[2016-04-14 14:55] tk0miya commented on #2429
Sorry, I can't reproduce the problem.
Could you give me minimal document?

[2016-04-14 15:23] jputrino commented on #2429
@tk0miya - do you want to try forking my repo? The one that's throwing errors for me is https://github.com/jputrino/f5-openstack-lbaasv2, -b is feature.docs-refactor. I got the error on 1.3.5 and 1.4, I believe.

[2016-04-14 15:41] andreacassioli commented on #2450
Oh my bad! I am so ashamed....

It is a viewer issue: if I zoom more the line appears....

Thank for the effort guys.

[2016-04-14 16:41] jfbu commented on #2450
PDF viewers have artefacts with rules (filled rectangular areas) sometimes ... for example when two rules are contiguous one can see very thin white space in-between, but in truth the gap is non existent as revealed by zooming. Depends on anti-aliasing settings, sometimes.

[2016-04-14 16:53] tk0miya commented on #2077
Fixed at stable branch.

[2016-04-14 16:53] #2077 closed, assigned to nobody

[2016-04-15 02:23] tk0miya commented on #2429
@jputrino It looks `Sphinx.environment.warn_node` is customized on your conf.py.

[code]

The interface of the internal function is changed on Sphinx-1.4.
You have to rewrite the code to accept keyword arguments (like `**kwargs`).

BTW, could you open a new issue to ignore the warning?
Now we are ready to do that if you want.

[2016-04-15 02:44] tk0miya commented on #2451
OK, I'll take a look

[2016-04-15 12:14] andreacassioli commented on #2439
The same with 1.4.1

[2016-04-15 17:01] jputrino commented on #2429
@tk0miya - Thanks! Just to clarify -- do you want me to open a new issue (feature request) for ignoring the external image warnings?

[2016-04-15 18:36] jfbu commented on #2446
@tk0miya

I have a possibly working solution, using `framed.sty` which is already required. Maybe there is no problem with footnotes, because in fact they are suppressed inside `topic` node. This would replace entirely the `\shadowbox` from package `fancybox.sty` which _can not split across pages_.

But I have a problem of backwards perfect compatibility: in fact the current state is very buggy fr

[2016-04-15 21:52] wholmgren commented on #1061
Maybe I'm missing something but I believe that this is still an issue, at least for my configuration. I'm using sphinx 1.4.1 and `autosummary_generate = True`. Here are the links to my [conf.py](https://github.com/wholmgren/pvlib-python/blob/doc-reorg2/docs/sphinx/source/conf.py), [top level autosummary](https://raw.githubusercontent.com/wholmgren/pvlib-python/doc-reorg2/docs/sphinx/source/modules

[2016-04-15 23:29] jfbu commented on #2446
Finally I decided for the PR #2453 that it was more aesthetic with the "shadow" in the margin, and the frame precisely at the margin (on both sides). It was difficult to obtain exact same vertical spacing above and below, because the former situation was the result of buggy LaTeX (for example a too wide line can not be centered with `center` environment and even it creates an extra white line abov

[2016-04-16 03:34] tk0miya commented on #2429
Yes, please.
I will add the option to ignore them in feature version.

[2016-04-16 03:39] tk0miya commented on #2429
@hamishwillee How about your case?
Please check whether your conf.py overrides `Sphinx.environment.warn_node` or not.
If not, could you share your project or make minimal project to reproduce the problem?

Thanks,

[2016-04-16 03:45] tk0miya commented on #2451
I added new configurations values to `suppress_warnings`: `app.add_node`, `app.add_directive`, `app.add_role` and `app.add_generic_role` at 21ee53d.
Please set up your project to ignore warnings using this.

Thanks,

[2016-04-16 03:45] #2451 closed, assigned to tk0miya

[2016-04-16 06:08] tk0miya commented on #2407
The `image` directive take image URI as argument. It also allows image Data URI.
http://docutils.sourceforge.net/docs/ref/rst/directives.html#image

Sphinx allows it, but it works only for HTML builder (maybe).

Now I added file existence check if the image URI is image data URI.
It will help you.

Thanks,

[2016-04-16 06:08] #2407 closed, assigned to tk0miya

[2016-04-16 06:42] hamishwillee commented on #2429
@tk0miya @jputrino THanks. My case is identical. Which proves that "random code from the internet really isn't always better than your own thoughtout code :-0".

Agree with Jodie that it would be good to be able to selectively hide those warnings on non-local images.

[2016-04-16 06:42] hamishwillee commented on #2429
PS Yes, this can be closed!

[2016-04-16 07:04] tk0miya commented on #2441
These backends are used for websupport feature.
You have to build an application to use these search backends.

There are no tutorials for websupport. But we have quickstart document(http://www.sphinx-doc.org/en/stable/web/quickstart.html) and some sample implementations:
- https://github.com/shirou/sphinx-websupport-demo-for-heroku
- https://bitbucket.org/jacobmason/sphinx-demo-webapp
- https://g

[2016-04-16 07:06] tk0miya commented on #2429
Ok, I close this now.
Thank you for reporting!

[2016-04-16 07:06] #2429 closed, assigned to tk0miya

[2016-04-16 07:12] tk0miya commented on #2421
This is not a bug of Sphinx. I close this now.

[2016-04-16 07:12] #2421 closed, assigned to nobody

[2016-04-16 07:27] hamishwillee commented on #2429
Thanks. FYI only, I added a link to this error from the source of the problem code: http://stackoverflow.com/questions/12772927/specifying-an-online-image-in-sphinx-restructuredtext-format

[2016-04-16 08:07] tk0miya commented on #2436
Unfortunately, older sphinx (<= 1.4.1) checks it **after** loading extensions.
I fixed the behavior to do that **before** loadings at febfd68.

But this change does not effect to older sphinx.
So if you want to require the sphinx is newer than 1.4.1, please add following code to your conf.py::

[code]

Thank you for reporting!

[2016-04-16 08:07] #2436 closed, assigned to nobody

[2016-04-16 08:39] deric commented on #2441
Thanks, there's also [Dipus](https://pypi.python.org/pypi/dipus) which uses also Whoosh search. It's distributed as pypi package and it seems to me that it provides similar functionality as the demo apps you mention.

[2016-04-16 09:38] tk0miya commented on #2397
Sphinx appends `\shorthandoff{=}` on building turkish documents at c289a35.
@Znni Could you try the stable branch? The fix was not tested because I don't have any turkish documents. This issue will be closed after your confirmation.

@jfbu Thank you for comments. Finally, I changed the shorthandoff definitions only for turkish. Because I could not check what will be happened from the changes. If y

[2016-04-16 14:28] tk0miya commented on #2447
Merged.

[2016-04-16 14:28] #2447 closed, assigned to nobody

[2016-04-16 16:35] tk0miya commented on #1061
Reopen to investigation

[2016-04-17 02:36] djungelorm opened #2456 "Reference target not found with C++ namespaces in Latex builder"
In Sphinx 1.4.1, referencing a C++ class without prefixing it with its namespace works fine with the html builder, but fails with the latex builder. This works fine in Sphinx 1.3.6 -- the latex builder behaves exactly like the html builder, generating a correct reference.

**Example**
src/contents.rst

[code]

**Output from latex builder in Sphinx 1.4.1**

[code]

**Output from html builder in Sph

[2016-04-17 05:18] tk0miya commented on #2439
Could you tell me what did you mean "broken link"?
In my environment, the `int` field is a normal text. not a link.
(Sorry, I don't use C domain usually)

[2016-04-17 06:28] tk0miya commented on #2456
In my short investigation:
I also got same problem in `singlehtml` builder.
I guess this comes from document concatenation (LaTeX and Single HTML builder concatenates source files before outputting).

[2016-04-17 09:12] tk0miya commented on #2456
It comes from behavior of `docutils.nodes.Element.copy()`. It converts the attribute name lower case. The conversion causes the cpp domain lose sight of namespaces in spite of it still exists.

As a workaround, the following code works fine. (I know it's ugly)

[code]

[2016-04-17 10:41] jfbu commented on #2291
@tk0miya

I have made an attempt at <strike>https://github.com/jfbu/sphinx/tree/topicblocksfootnotes</strike>

 to reenable footnotes in topic directives. This is on top of current PR #2453.

 This uses package footnote already loaded by sphinx.sty. Unfortunately this package is very old (1997) and is definitely not hyperlink aware. Thus, the produced PDF is correct if printed but the hyperlinks a

[2016-04-17 14:37] tk0miya commented on #2456
@jakobandersen Could you check this please?
I think it would be better to rename them to snake_case.

[2016-04-17 15:44] jfbu commented on #2291
@tk0miya It seems I have found a way to patch LaTeX package footnote to be hyperref-compatible, at least for the footnotes as produces by Sphinx `\footnote[N]{text}`. Already `sphinx.sty` changed `tabulary` environment using `footnote.sty` but this serves nothing because table node generate automatically split footnotes with `\footnotemark/\footnotetext` which are not handled at all by hyperref. W

[2016-04-17 16:24] tk0miya commented on #2382
I found this article: http://tex.stackexchange.com/questions/116528/vs-after-abbreviation-read-backslash-at-vs-backslash-space

It says:

So, I will insert `\@` after period.

[2016-04-17 19:21] andreacassioli commented on #2439
Hi @tk0miya ,
 I am sorry I haven't been clear.

I see that `TypedField` create a xref node regardless whether the type of the field is a documented link or not. If the xref is not resolvable than its text is used instead. Am I wrong?

I say broken link because I use a tiny extension that raises an exception if an unresolved link is detected.

[2016-04-17 20:00] asr commented on #2436
The code to be used with older Sphinx worked for me.

Thanks for fixing the issue and the code!

[2016-04-18 02:46] tk0miya commented on #2291
Oh, I'd overlooked the `topic` directive. It should be able to use footnotes in the directive.
But I think enabling footnotes in `contents` directive is not needed. The footnotes are only labeled to section titles, not to ToC.

So we have two actions to fix this:
1. reenable footnotes on topic nodes
2. disable footnotes (and hyperlinks) on contents directive.

On the other hand, about the footnote

[2016-04-18 07:10] Znni commented on #2397
I tried the latest stable branch version with the Turkish documents. The fix works for me, thanks.

[2016-04-18 08:05] embray commented on #2426
It looks to me that in trunk, anyways, [`Text` nodes](https://sourceforge.net/p/docutils/code/HEAD/tree/trunk/docutils/docutils/nodes.py#l322) are already new-style classes.  But I would be willing to bet some not-insignificant savings could be had by changing `Node` and subclasses thereof to use `__slots__`.  A more interesting question though to me is exactly how many of those objects are in mem

[2016-04-18 08:57] jfbu opened #2460 "too much white space on top of captioned literal blocks in PDF output"
There are currently three cumulated vertical whitespace in PDF output for literal blocks with caption:
1. a `\literalblockcaptiontopvspace` which is half of `baselineskip`, typically 6pt,
2. a `\smallskip`, typically 3pt
3. a `\abovecaptionskip` coming from the caption itself, typically 10pt.

That makes for a total of about 20pt, this is a lot. Especially when the literal blocks is in an indented

[2016-04-18 09:18] jfbu commented on #2397
@tk0miya I don't have good idea... `\shorthandoff{=}` looks like a good one. I am not a Latin practitioner, but if I ever do Sphinx project in Latin, maybe I will make a PR to do `\shorthandoff{=}` there too ;-)

[2016-04-18 09:41] jfbu opened #2461 "footnotes should be allowed in topic directives for latex(pdf)"
Currently, footnotes in PDF are globally disabled in topic directives. This includes the case of contents with the `local` option. In the general case of topic directives, footnotes should be allowed.

Notes:
1. currently topic directives are set in a minipage environment, which does not allow page breaks. A PR to fix this is PR #2453.
2. it is possible to use already loaded package `footnote.sty`

[2016-04-18 09:42] jfbu commented on #2291
done at #2461, sorry for inconvenience.

[2016-04-18 12:16] TimKam opened #2463 "Add keywords of "meta" directive to search index"
It would be great to have the keywords of `meta` directives included in the search index.

Like this, one can help users who are searching for a synonym of the "correct" term through simply adding synonyms as keywords to a `meta` directive on the corresponding page.

[2016-04-18 13:05] yuki-93 opened #2464 "Autodoc: same method from different modules are only once documented"
I am using `.. automodule:: <module>` to generate the documentation of my source.

I have a method named main in my main module (main.main()) within my source folder and in my tests folder i have a main method in my run_tests module (run_tests.main()). But when I autodoc them, the main method is only once documented. I renamed the second method so that it is run_tests.run_tests(), now it works for

[2016-04-18 14:13] lehmannro commented on #2426
Wohoo, so that just keeps us waiting for a next release.

I don't have the numbers right now, but as I wrote in my [report from Sage Days 77](https://groups.google.com/d/msg/sphinx-dev/gMwnl58Q3zM/3_VPcYtnBQAJ), we can observe significant memory blow-up (pickled files: 200M, in-memory doctrees: 1.8G.)  I think from the memory forensics we did, a significant amount of memory (~15% as I said above)

[2016-04-18 14:18] birkenfeld commented on #2426
That should be what the attributes dict is for. In effect it's duplicating the already existing attributes dict, `__dict__`, for slightly cleaner namespacing.

The only problem is that this optimization can't easily be made selectively, or in a monkey-patching fashion (I think).

[2016-04-18 14:42] lehmannro commented on #2426
Well, we can always monkey patch the _whole_ class in `docutils.nodes`.  I didn't know we could do `__slots__ = ['__dict__', ...]` to allow arbitrary attributes;  that effectively voids my concerns.

[2016-04-18 15:29] splendido opened #2465 "latex builder fails in case no caption option is provided to toctree directive"
`sphinx@1.4.1`
`docutils@0.12`

[this line](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/latex.py#L140) is trying to check whether a caption option was provided to the `toctree` directive or not before trying to get the option value.
But at the moment if fails when no caption is provided making `docutils` throw the following error:

[code]

The problem can be easily fixed by su

[2016-04-18 16:54] jputrino opened #2466 "Feature request: add ability to exclude/ignore external image warnings"
It would be nice to be able to exclude or ignore the warnings that are triggered by external images.

Example:

[code]

See #2429 (where I and another user ran into the same problem when trying to turn off these warnings ourselves). There are enough results about this same issue that come up in a google search to suggest that many others would probably benefit from this option as well.

My use cas

[2016-04-18 16:59] jputrino opened #2467 "Exclude content in a specific dir from `sphinx-build` toctree check?"
I extensively reuse content in my documentation and normally place files for reuse in an `includes` directory. It would be nice to be able to exclude this directory from the `sphinx-build` toctree check. I currently get a `WARNING: document isn't included in any toctree` for every one of these files (and there are A LOT of them!).

If this functionality already exists, pointers in the right direct

[2016-04-18 18:26] scolby33 opened #2468 "Using `:undoc-members:` together with `sphinx.ext.coverage` is confusing"
I am using Sphinx with `apidoc` and `coverage`. `apidoc` automatically includes the `:undoc-members:` option for its generated source files. This is not a problem in itself, but when combined with `sphinx.ext.coverage` can lead to confusing behavior.

According to [this Stack Overflow answer](http://stackoverflow.com/a/33422454/600882) and personal testing, `sphinx.ext.coverage` counts members tha

[2016-04-18 20:32] jputrino commented on #2467
Here's an example:

[code]

[2016-04-19 02:27] tk0miya commented on #2467
Please use `exclude_patterns` to do that.

[code]

BTW, this behavior is hard to understand to users. It would be nice if sphinx marks the included files as "included in toctree".

[2016-04-19 02:32] tk0miya commented on #2466
Thank you for reporting.

I wonder which branch is best to fix this. Anyway, I will add a way to suppress the warning.

[2016-04-19 02:37] tk0miya commented on #2465
I'll take a look.

[2016-04-19 06:18] avirshup opened #2470 "Installing the `typing` backport causes autodoc errors with python 2.7.11"
Today I tried installing the (apparently new?) backport of the `typing` module from PyPI (I'm using Python 2.7.11). Immediately after installing the module, but before ever referencing it in my code, my documentation builds started spitting out this warning for every single function:

[code]

The HTML documentation does get built, but **all the arguments are missing from all functions.** The probl

[2016-04-19 08:41] jakobandersen commented on #2456
A `copy` method that doesn't copy? Interesting "feature". I have renamed the attributes that Docutils can potentially mess with, and I can not make it crash again. Thanks for finding the issue!

[2016-04-19 08:41] #2456 closed, assigned to jakobandersen

[2016-04-19 09:56] jakobandersen commented on #2439
@andreacassioli, I made a fix as you suggested, in another branch (https://github.com/jakobandersen/sphinx/tree/c-fix-2439). Could you check if it generates the result you expected?

[2016-04-19 10:56] taschini opened #2471 "The default doctest flags are hard-coded, they should be configurable"
In `sphinx.ext.doctest`, the default doctest flags are hard-coded:

[code]

They should be put in a configuration variable

[code]

and used accordingly:

[code]

[2016-04-19 16:06] nowox opened #2472 "LaTeX output is not using \usepackage{listings}"
I am playing the LaTeX output and I am surprised Sphinx is not using the `listings` package for highlighting blocks of code. I feel this should the the correct solution instead of using these unusual `Verbatim` blocks.

Is there any reason for this?

[2016-04-19 16:11] jputrino commented on #2467
@tk0miya - Thanks!

[2016-04-19 16:11] jputrino commented on #2466
Thanks!

[2016-04-19 16:53] nowox commented on #894
+1

[2016-04-19 21:34] jfbu commented on #2472
I don't know the reason, but can only comment from perspective of a newcomer. If you look at the produced TeX file, you will see that it is full of macros `\PYG...` doing the highlighting already, which are produced from Sphinx using the http://pygments.org/ library. There only remains the task of outputting line by line with possible numbering and a framing (and also optionally a background color

[2016-04-20 01:46] tk0miya commented on #2472
Yes, it comes from the behavior of `pygments`. It only supports `verbatim` environment. It's only reason we does not use `listings` package. I think it's okay to move to other package if it highlights like pygments.

Actually, we still have some troubles with `verbatim` package as @jfbu says. So it would be nice to improve representation of "code blocks" in python side and LaTeX side.

[2016-04-20 07:22] flo1o1 commented on #1478
Hi @shimizukawa, I have the same issue - which packages were missing?

[2016-04-20 07:30] flo1o1 commented on #1478
Got it. For the record, for me the package `texlive-lang-german` was missing on Ubuntu. To see which language packages are available, run `apt-cache search texlive-lang-` on Debian based Linux distributions, check the result and install the missing language package with `sudo apt-get install <packagename>`.

[2016-04-20 09:21] soupault opened #2474 "Request for addition of `timeout` parameter for `intersphinx` downloads"
It would be great to be able to set `timeout` for `intersphinx` downloads somehow.

To justify the request:
At the moment, AppVeyor provides 60mins builds' limit for all of free accounts. `intersphinx` downloads and linking can take (for environment with unreliable servers) up to 40mins of this quota.

See https://github.com/scikit-image/scikit-image/issues/2042 for the details.

[2016-04-20 15:47] andreacassioli commented on #2439
It seems OK, though I cannot be sure 100%. I wonder whether other domains have the same issue...

[2016-04-20 15:58] #894 closed, assigned to nobody

[2016-04-20 16:00] tk0miya commented on #894
I added `lualatexpdf` and `xelatexpdf` to Makefile.
These will be released at next major release (v1.5).

[2016-04-20 16:02] asr commented on #894
Great! Thanks!

[2016-04-20 17:23] #2446 closed, assigned to nobody

[2016-04-20 17:34] lehmannro commented on #2474
It should be as trivial as adding the `timeout=` parameter to `Opener.open`.  I'll gladly review a PR.

On another note, I think it'd also be worthwhile to revamp the intersphinx code to rely on `requests` after #2389 is in.

[2016-04-20 19:57] asr commented on #61
:+1:

[2016-04-21 02:15] tk0miya commented on #2471
LGTM.
It would be nice if you send pull request :-)

[2016-04-21 02:23] tk0miya commented on #2456
Thank you for support!

Yes, I feel that is very strange...
BTW, I increment ENV_VERSION because form of domaindata has been changed.

[2016-04-21 11:04] shimizukawa commented on #1478
Hi @floeschie, actually this issue was made by `vgezer`, not by me.
Anyway, thanks for sharing the information!

[2016-04-21 11:38] nikokio commented on #2413
Hello,

I installed v1.4.1 but problem seems to be still here :

[code]

Back to v1.3.6, problem disapears

Thanks
Regards
Nicolas

[2016-04-21 13:05] tk0miya commented on #2413
These warnings show highlighting literal_blocks was failed.
On 1.3.6, it still fails silently.

[2016-04-21 13:20] tk0miya commented on #2466
Note:
I discussed with @shimizukawa about target branch. And we decided to fix this in stable branch.