[2017-04-06 17:40] nadiasvertex commented on #3426
I personally have a use for this: I build several documentation packages at once, one after the other, and then copy them to our documentation server. They reference each other. It would be great to be able to generate the inventory on a pre-pass for all of them first. For now I generate HTML twice in order to get the inventory files.

[2017-04-06 18:24] lelit opened #3611 "autodoc extension does not support f-strings under Python 3.6"
The autodoc extension (or more probably the underlying pycode/pgen2) does not recognize `f"strings"`, so it fails to extract docstrings from a class that happens to use the new literals.

[2017-04-07 07:36] DominiqueMakowski opened #3612 "Docs compilation fail :("
Subject: Compilation of my docs failed

### Problem
- When I try to build the documentation for [this package](https://github.com/neuropsychology/NeuroKit.py), it fails with an error that *seems* (?) related to python 2.7, if though my package is written in 3.5.

#### Procedure to reproduce the problem

Simply try to build the documentation.

#### Error logs / results

The error is available at re

[2017-04-07 07:54] DominiqueMakowski commented on #3612
I modified the dependencies (had mispelled a package) and it built itself. However, the API page, where lies the autodoc commands, remains empty...

[2017-04-07 20:30] Corin-EU opened #3613 "Generation of text documents for Cython 0.25.2 causes Sphinx to crash with NotImplementedError"
When trying to generate the **text** documents for Cython 0.25.2, Sphinx 1.5.5 crashes with NotImplementedError

#### Error logs / results
[code]
### Environment info
- OS: Debian 8.7 Jessie
- Python version: 2.7.9
- Sphinx version: 1.5.5
- Docutils version: 0.12 release
- Jinja2 version: 2.7.3

The full traceback:
[sphinx-err-EX9bqM.txt](https://github.com/sphinx-doc/sphinx/files/906786/sphinx-er

[2017-04-07 21:38] ipwnponies opened #3614 "Sphinx 1.5 requires requests>=2.6.0"
Subject: Sphinx 1.5 depends on requests>=2.6.0

### Problem
- According to setup.py, sphinx depends on requests>=2.0.0. InsecurePlatformWarning class was introduced in requests 2.6.0.

#### Procedure to reproduce the problem
I've distilled the error out of the specific project:
[code]

#### Error logs / results
This is the error snippet I encountered on my project when building docs:
[code]

####

[2017-04-08 04:41] tk0miya commented on #3614
Thank you for reporting.
Fixed at b6e4cce.

[2017-04-08 04:41] #3614 closed, assigned to nobody

[2017-04-08 04:43] tk0miya commented on #3613
Sorry for inconvenience. Current text builder does not support spanning cells.

[2017-04-08 04:52] tk0miya commented on #3612
It seems you are mocking `re` package. What is currrent your problem?
Please let me know in detail.

[2017-04-08 05:16] tk0miya commented on #3611
Indeed, we need to improve `pycode`.

[2017-04-08 05:39] tk0miya commented on #3426
As a workaround, you can do it with a simple extension. I believe it might work fine.
[code]

I don't know this is merged into sphinx-core or not. Personally, I feel this is not important for me.

[2017-04-08 19:52] #3594 closed, assigned to nobody

[2017-04-09 10:10] DominiqueMakowski commented on #3612
@tk0miya So I removed the `re` package from the mocking list. However, while the documentation is [successfuly building](http://readthedocs.org/projects/neurokit/builds/), nothing appears on the [API page](http://neurokit.readthedocs.io/en/latest/api.html) where I put the autodoc commands.

[2017-04-10 01:54] shimizukawa commented on #3592
Actually, I didn't use windows environment recently (testing on docker ubuntu instead).
So I setup appveyor: https://ci.appveyor.com/project/sphinxdoc/sphinx/build/1.0.3
The result of appveyor is not good as @Andne reported.

Sphinx will work with either path separator, but if we have to force a slash we are using `sphinx.util.osutil.canon_path`. `sphinx.builders.gettext` uses canon_path to force

[2017-04-10 21:49] anntzer opened #3616 "~ and . prefixes do not work when using any role"
Subject: ~ and . prefixes do not work when using any role

### Problem
- The `~` and `.` prefixes for references (http://www.sphinx-doc.org/en/stable/markup/inline.html#cross-referencing-syntax and http://www.sphinx-doc.org/en/stable/domains.html#cross-referencing-python-objects) do not work for the `any` role.

#### Procedure to reproduce the problem
default conf.py (just press enter throughout s

[2017-04-11 05:52] anntzer commented on #1425
FWIW it is "relatively" easy to check the column width, see e.g. https://github.com/tqdm/tqdm/blob/0464e8aaeb569981a7ba6d31803d256fbf328de9/tqdm/_utils.py (_environ_cols_wrapper).

[2017-04-11 05:57] ghost opened #3617 "Add papersize to latex_documents (to create same PDF in two sizes simultaneously (letterpaper & a4paper))"
This is a combined question and enhancement request (with suggestion).

I want to build two versions of the same document, in both A4 and US letter size. I don't want to have two conf.py files (one obvious solution) and have to run the build twice. A natural place for it would be to move the 'papersize' argument to become an element of latex_documents. That already has my list of individual PDFs.

[2017-04-11 12:10] thebjorn opened #3618 "def foo((a, b)): .. causing unhashable type: 'list'"
Subject: This happened when ReadTheDocs used a newer version of sphinx than I had been using.

### Problem
The following valid code:
[code]
causes this warning:
[code]

#### Procedure to reproduce the problem
All commands used are listed in: https://github.com/thebjorn/sphinx-unhashable/blob/master/README

The commands consist of: creating a new virtualenv, downloading latest sphinx, running sphin

[2017-04-11 14:45] tk0miya commented on #3618
Thank you for reporting.
Fixed at 7897678.

[2017-04-11 14:45] #3618 closed, assigned to nobody

[2017-04-11 14:51] tk0miya commented on #3617
Please use `latex_elements['papersize']` instead.
You can use `-D latex_elements.papersize=a4paper` option of `sphinx-build` without more conf.py.

[2017-04-12 06:29] ghost commented on #3617
Hi, thanks, I reluctantly came to the solution/conclusion. You have to build twice but at least I got what I wanted.

[2017-04-12 06:29] #3617 closed, assigned to nobody

[2017-04-12 08:23] rudolphfroger opened #3620 "Content Security Policy"
Subject: adjust themes to allow a sufficient strict Content-Security-Policy

### Problem
- Settings a sufficiently strict Content-Security-Policy raises many blocked actions

Also see: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
#### Procedure to reproduce the problem

Serving the generated HTML using a Content Security Policy header like below gives many exceptions:
[code]
#### Expected

[2017-04-12 08:32] shimizukawa commented on #3620
@rudolphfroger I think you mentioned about HTTP header, however sphinx *IS NOT* a server application. Sphinx just generate html files. So I think there is nothing todo from sphinx side.

[2017-04-12 08:43] rudolphfroger commented on #3620
I understand that Sphinx won't be able to set an HTTP header. At the moment the inline Javascript in the Sphinx themes prevent anyone from setting a reasonable Content Security Policy header without breaking Sphinx functionality. Moving all inline Javascript and CSS into the separate JS and CSS files would enable people to serve Sphinx in a better secured setup.

[2017-04-12 13:51] shimizukawa commented on #3620
Thanks for your explanation. Indeed, current templates are not good.

[2017-04-12 16:21] tk0miya commented on #3612
Please check your build logs.
It shows there were some warnings.
[code]
It seems some dependencies are not installed. Please check your requirements.txt.

[2017-04-13 23:45] wisaac407 opened #3624 "Intersphinx doesn't load inventory's compressed with gzip"
Subject: Intersphinx doesn't load inventory's compressed with gzip

### Problem
When using intersphinx to load an object inventory file compressed with gzip it fails to load the compressed file. Running the command `python -m sphinx.ext.intersphinx https://docs.blender.org/api/blender_python_api_master/objects.inv` outputs nothing, where as running `https://docs.python.org/3/objects.inv` outputs t

[2017-04-14 12:57] #3624 closed, assigned to nobody

[2017-04-14 12:58] tk0miya commented on #3624
Fixed at 1db67af.
Thank you for reporting!

[2017-04-14 15:17] tk0miya opened #3625 "imgmath crashes if the equations contains Japanese text"
### Problem
- imgmath crashes if the formula contains Japanese text

#### Procedure to reproduce the problem
[code]

Even if I added `imgmath_latex = 'platex'` to my conf.py, it is also failed.
Because dvipng does not support Japanese text...

#### Error logs / results
[code]

#### Expected results
- Able to build the equations

[2017-04-14 15:19] tk0miya commented on #3625
As a workaround, I prepared simple script named `dvipngja`. It uses dvips and imagemagick to make images.
[code]
[code]

[2017-04-14 15:41] brechtm opened #3626 "Include rinohtype as a suggestion for building PDFs"
Seeing that rinohtype is now fairly mature, I'd like to suggest it being referenced in the documentation besides rst2pdf. I can provide a pull request, of course.

You might want to consider updating the docs with respect to rst2pdf as well, since it hasn't seen a release since December 2012. I did some quick tests and the Sphinx builder included with it crashes rendering the Sphinx docs with Sphi

[2017-04-15 00:41] tk0miya commented on #3626
+1; it is worthy for giving users choices. Could you send us a pull request please?

[2017-04-15 07:49] chezou commented on #3625
I found a workaround. Using svg with setting font map works fine for me.

Example conf.py:

[code]

[2017-04-15 08:29] #3551 closed, assigned to nobody

[2017-04-15 08:30] jfbu commented on #3586
Hi @tk0miya just to say that I won't be available for any Sphinx task starting today and until April 24. There a few issues assigned to me (https://github.com/sphinx-doc/sphinx/issues?q=is%3Aopen+assignee%3Ajfbu) which I thus will fix for 1.6b2 (or final 1.6 if no 1.6b2), not 1.6b1.

[2017-04-15 08:57] tk0miya commented on #3586
@jfbu No problem, all bug fixes are allowed after 1.6b1 (of course, after 1.6 final)!

[2017-04-15 12:06] chezou commented on #3209
+1 for this feature. Currently, I wrote "Section %s" manually as follows:

[code]

It would be nice to have the function.

[2017-04-15 19:25] anntzer opened #3627 "Let warnings cause the build to fail but not to terminate"
Subject: sphinx-build should be able to treat warnings as errors without immediately terminating the build

### Problem
sphinx-build should gain a switch that allows warnings to cause a return value !=0 (i.e., failed build) without immediately terminating the build, so that as all warnings and the first "true" error all get reported.
This is useful for CI on docs which are relatively long to build

[2017-04-16 06:39] tk0miya opened #3628 "Rename sphinx_themes entry point to sphinx.themes"
As discussed in #2803, `sphinx_themes` entry point should be renamed to `sphinx.themes`.

[2017-04-16 09:48] tk0miya opened #3630 "Implement get_full_qualified_name() to C, C++, JavaScript and reST domains"
The remained task of #3425, we should implement `get_full_qualified_name()` to C, C++, JavaScript and reST domains.

[2017-04-17 01:24] sailfish009 opened #3631 "missing index in singlehtml output"
Subject: missing index in singlehtml output
### Problem
- The index of the document (usually generated by the toc directive) is not shown when generating documentation in a single HTML page. The problem only occurs when using the singlehtml builder (e.g. sphinx-build -b singlehtml ...) and does not affect the standard html builder. The index would be useful to navigate the page more easily. In par

[2017-04-17 01:26] sailfish009 commented on #3631
Hi, i am using sphinx for my project, this bug happens only singlehtml option given.

[2017-04-17 02:06] jakobandersen commented on #3630
I'm not sure exactly how intersphinx works, but if I understand correctly then it is something like:
1. Each Sphinx compilation generates ``objects.inv``, which essentially contains all declarations that one could/should reference in the project.
2. Other projects load these files, and
3. looks up missing references using the appropriate context. I would think this lookup should proceed as if the

[2017-04-17 16:09] #3558 closed, assigned to shibukawa

[2017-04-18 11:06] ghost opened #3632 "Env vars for sphinx-build & pdflatex options"
We use maven/jenkins to build sphinx docs. I noticed the new Makefile is much simpler and I'd like to use it instead of a wrapper script. However I can't because the sphinx output directory can't be specified by environment variable, but must be a sphinx-build command line arg. There are also some useful settings in pdflatex that might be worthy of setting before/in the (new improved) sphinx Makef

[2017-04-18 14:51] tk0miya commented on #3632
How about this?
[code]

[2017-04-18 15:07] #1764 closed, assigned to nobody

[2017-04-18 15:56] tk0miya commented on #3586
Now #3562 is under reviewing. But it would be not ended until the feature freeze. So I'd like to merge it after the period. Any comments?

[2017-04-18 17:00] Aguirolacu opened #3636 "symfony-docs-2.8"
Subject: <what happen when you do on which document project>

### Problem
- make html

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environment info
-

[2017-04-19 09:13] ilevkivskyi commented on #3570
Just my 5 cents: note that Python's own ``pydoc`` module switched to skipping ``typing.`` prefixes recently:
[code]

[2017-04-19 09:18] jessetan opened #3638 "Reference equation with added "Equation""
When using `:eq:` to reference an equation, the LaTeX output generated by `\eqref` puts the equation number between parentheses, which looks like "(3.1)".

It would be nice if there was a way to have Sphinx output something like "Equation 3.1". This would be similar to what `:numref:` does (e.g. "Section 2.4", "Table 12"). The `numfig_format` config option could be used to set a (translated) label

[2017-04-19 10:58] shibukawa opened #3639 "1.6: Use experimental-html5-writer by default if docutils 0.13 is available"
### Problem
- Currently, html5 writer is required for reducing epub check errors. So enable html5 writer if available on Sphinx 1.6.

#### Expected results
If html5 writer is available (docutils 0.13 is installed), epub builder use it

[2017-04-19 11:15] shibukawa opened #3641 "Fix epub style to adopt html5 experimental writer"
Subject: fix epub style to adopt html5 experimental writer

### Problem
- html5 writer generates different HTML structure from HTML4. For example footnote.

#### Expected results
- Footnotes are rendered as same as HTML4.

[2017-04-19 11:19] shibukawa opened #3642 "Fix image align attribute to match HTML5 validation"
Subject: Fix image align attribute to match HTML5 validation

### Problem
- Fix image align attribute to match HTML5 validation

#### Expected results
- HTML5 writer should use style attribute, instead of align attribute.

[2017-04-19 11:27] tk0miya commented on #3630
`get_full_qualified_name()` is called at the 3rd step; "looking up" step. It is not related with building objects.inv.

At current implementation, intersphinx only uses `target` key on pending_xref node. It does not refer the context attributes. For example, it does not refer `cpp:parent_key` on looking up C++ objects.

Now intersphinx uses `Domain#get_objects()` to gather the symbols (objects) fr

[2017-04-19 11:47] tk0miya commented on #3636
Is this same as #2429?

[2017-04-19 13:14] shibukawa commented on #3642
I could not reproduce it.

[2017-04-19 13:14] #3642 closed, assigned to shibukawa

[2017-04-19 13:22] #3639 closed, assigned to shibukawa

[2017-04-19 15:13] #3641 closed, assigned to shibukawa

[2017-04-19 16:38] gerton opened #3645 "Expects key 'render' in options dictionary, but not found"
Subject: Python exception on "make html" after updating to March 31 commit e7622f3

### Problem
- Python exception after "make html"; used to work.  Could it be related to the latest commit which mentions bugfixes to user renderer -- as key not found is 'render'?

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: Linux Ubuntu 16.04
- Pytho

[2017-04-19 22:41] AshleySetter opened #3647 "pip install sphinx fails with AttributeError: 'NoneType' object has no attribute 'splitlines'"
Subject: AttributeError when I attempt to pip install sphinx

### Problem
When I attempt to pip install sphinx I get an attribute error as shown below.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
### Environment info
- OS: Mac
- Python version: Python 3.4.5
- conda version: 4.2.13

[2017-04-20 12:23] tk0miya commented on #3645
Hmm? which commit?

It seems the error is caused inside CGATReport module. So I doubt the bug of the module.

[2017-04-20 12:26] tk0miya commented on #3647
It seems the installations is finished. And the error is happened inside pip module.
So I think this is a bug of pip.
Thanks,

[2017-04-20 12:30] gerton commented on #3645
Apologies — I followed the link given to me by Sphinx, but you’re right that it is caused in the CGATReport module.  Please ignore.

BW
Gerton

[2017-04-20 12:32] gerton commented on #3645
This is an issue in https://github.com/AndreasHeger/CGATReport, not sphinx.  Apologies for raising it here.  I will close the issue now.

[2017-04-20 12:32] #3645 closed, assigned to nobody

[2017-04-20 15:46] shibukawa commented on #3443
I confirmed #3490 fix this issue.

* After #3490, Sphinx doesn't overwrite pot file when only POT-Creation-Date is changed
* Suppressing POT-Creation-Date changes are enough to resolve this issue

So I close this issue. If this fix will cause any trouble, please reopen.

[2017-04-20 15:46] #3443 closed, assigned to shibukawa

[2017-04-20 15:47] tk0miya commented on #3443
I've tested #3490 and it works fine.
sorry, I'm closing this again.

[2017-04-20 16:11] shibukawa commented on #1317
I couldn't reproduce it by Sphinx 1.6

[2017-04-20 16:11] #1317 closed, assigned to nobody

[2017-04-20 21:03] AshleySetter commented on #3647
I'm think it was an error with one of sphinx's requirement packages as I got a similar error when attempting `conda install sphinx`. I fixed this by running `pip install --upgrade sphinx`. This updated and install sphinx to my anaconda environment.

[2017-04-20 21:03] #3647 closed, assigned to nobody

[2017-04-21 01:15] shibukawa commented on #2545
From 1.6, Sphinx migrates Epub builder from 2 to 3. 3 generates cleaner toc.

I made epub on master branch (1.6 will be released soon) and generates mobi file via kindlegen command. They have same spine/toc.

Please reopen if master branch (or future 1.6 release) still has this issue.

[2017-04-21 01:15] #2545 closed, assigned to nobody

[2017-04-21 01:16] shibukawa commented on #3516
Thank you all!

[2017-04-21 01:16] #3516 closed, assigned to shibukawa

[2017-04-21 01:23] shibukawa commented on #1005
pngmath is old extension. imgmath is alternative one. See #3625 to see the latest status of this issue.

[2017-04-21 02:12] shibukawa commented on #3287
I confirmed this issue was fixed in a master branch. 1.6 includes this fix.

[code]

[2017-04-21 02:12] #3287 closed, assigned to nobody

[2017-04-21 02:17] shibukawa commented on #1376
I confirmed current master branch (#3464) fix this issue. This fix will be released with 1.6.

[2017-04-21 02:17] #1376 closed, assigned to nobody

[2017-04-21 14:11] #2762 closed, assigned to nobody

[2017-04-21 20:48] Michael-E-Rose commented on #1320
Apparently this issue is solved and can be closed.

[2017-04-21 21:09] bgeron opened #3652 "Per-document footnote numbering generates confusing latex documents"
### Background

Currently in HTML, Sphinx gives each footnote a number. Numbers are per document (`.rst` file), so different HTML output files will both use `[1]` for the first footnote in that HTML file.

Those numbers are transferred to the LaTeX input. This is slightly unconventional in LaTeX land, since there usually footnotes are numbered per physical page, it does mostly work. In fact, it ma

[2017-04-22 01:09] tk0miya commented on #3512
Implemented at #3589.
It will be released as v1.6 :-)

[2017-04-22 01:09] #3512 closed, assigned to tk0miya

[2017-04-22 01:34] shimizukawa commented on #1320
Thanks for letting me know!

[2017-04-22 01:34] #1320 closed, assigned to nobody

[2017-04-22 01:47] shimizukawa commented on #1400
No.
I've implemented "index key" feature for glossary since sphinx-1.4.
http://www.sphinx-doc.org/en/stable/markup/para.html#glossary

However, index directive doesn't have the feature.

[2017-04-22 09:24] tk0miya commented on #1400
Oh, I'd misunderstand it. Thanks,

[2017-04-22 15:57] halfak commented on #1483
Just got to this feature request and am wishing it was implemented.  Copy-pasting docs makes for out of date docs.

[2017-04-23 04:13] tk0miya commented on #3586
Hello, maintainers.

This is X-DAY for 1.6b1. Are you ready?
In Japan, I and @shimizukawa work for it in Sphinx hack-day event. So we try to clear (reduce?) the tasks marked as 1.6 milestone.
https://github.com/sphinx-doc/sphinx/milestone/23

If you have some troubles, please let me know. It might be accepted to postpone the release a few days.
If none, I will ship it in tonight (in JST; maybe noo

[2017-04-23 04:28] TonyDiana opened #3657 "Error epub"
Subject: <what happen when you do on which document project>

### Problem
No sure

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environment info
- OS:

[2017-04-23 07:15] #3351 closed, assigned to tk0miya

[2017-04-23 07:34] tk0miya commented on #3630
I implement the methods for each domains in #3658
@jakobandersen Could you check this please? As a quick look, it seems working. But I need your reviewing :-)

[2017-04-23 07:40] #3628 closed, assigned to tk0miya

[2017-04-23 08:52] jfbu commented on #3586
@tk0miya from my side I can't address #3479 in time for 1.6b1 because I am on tight schedule today and this is new feature which requires also coding in latex writer side. This would be new feature but on the other hand might be said bug-fix so perhaps for 1.6b2 ? Regarding #3532 and #3447, those would be bug-fixes and I can still do it after feature freeze. (but #3532 which is caused by threepart

[2017-04-23 09:08] tk0miya commented on #3586
@jfbu 1.6b1 is "feature" freeze, not "code" freeze. So you can continue to fix bugs until the release of 1.6-final. It means after the beta release, v1.6 is treated like stable branch.
#3479, #3532 and #3447 are already marked as "bug". So it's okay to fix them after 1.6b1 (of course, also okay for 1.7).

About #3562, I'll take a look later.

Thanks,

[2017-04-23 09:36] #3630 closed, assigned to tk0miya

[2017-04-23 12:51] #3254 closed, assigned to nobody

[2017-04-23 15:31] tk0miya commented on #3586
I decided to merge it in next beta release (1.6b2?).
From now on, I start to packaging!

[2017-04-23 16:03] tk0miya commented on #3586
I released 1.6b1 just now!
https://pypi.python.org/pypi/Sphinx/1.6b1
I will send announce-mails tomorrow (I'm very tired and sleepy now. It's too late in Japan :-p)

@shimizukawa could you update i18n messages on transifex please? It is needed before call-for-translations.

**IMPORTANT**
From now on, the master branch is used for v1.7 development.
For v1.6 release, please use *1.6-release* branch.

[2017-04-23 16:05] shimizukawa commented on #3586
Thanks!
I'll make sure the translations.

2017年4月24日(月) 1:03 Takeshi KOMIYA <notifications@github.com>:

[2017-04-24 07:36] jfbu opened #3660 "KeyError with `make test` and Python 3.5.3 and 1.6b1 release"
#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: Mac 10.9.5
- Python version: 3.5.3
- Sphinx version: 1.6-release branch at 1.6b1 tag

[2017-04-24 07:51] jfbu commented on #3660
Actually, this is fixed by

   pip install sphinxcontrib-websupport

but I am not one hundred percent sure I issued the `make test` in the correct repertory initially. (I am a bit in confused state right now, anyway now `make test` completed successfully at my locale).

Relates: #3254, #3654

[2017-04-24 08:32] grzanka opened #3661 "TypeError: string argument expected, got 'bytes' when using parallel Sphinx"
Subject: TypeError: string argument expected, got 'bytes' when running `sphinx-build -j4 (...)` on https://github.com/pytrip/pytrip

### Problem
- With Sphinx versions until 1.6 there was not such issue. After upgrading to 1.6b1 I've started to see on travis following error:
[code]

After reproducing locally:
[code]

#### Error logs / results
- https://travis-ci.org/pytrip/pytrip/jobs/225092251#L8

[2017-04-24 15:12] tk0miya commented on #3660
Yes, `sphinxcontrib-websupport` is added to our dependency list.
In #3654, it is added to `test-reqs.txt`, so we need to install it manually before testing.
It seems it is resolved by yourself, right?

[2017-04-24 15:40] tk0miya commented on #3661
Thank you for reporting.
Fixed at 	2807175.

[2017-04-24 15:40] #3661 closed, assigned to nobody

[2017-04-24 15:44] tk0miya opened #3662 "Sphinx-1.6b1 crashes on readthedocs.org"
### Problem
- see https://readthedocs.org/projects/sphinx/builds/5305066/

#### Error logs / results
[code]

#### Expected results
Succeed builds.

[2017-04-24 16:38] shibukawa commented on #3657
May I have any sample document to reproduce this issue?

[2017-04-24 16:42] TonyDiana commented on #3657
The document is immense, as about 118 elements, 4.2 MB HTML in total, plus the docstring python. It works in html, that is the error message that gives

[2017-04-24 18:56] jfbu commented on #3660
Yes, problem is resolved but I need to `pip install sphinxcontrib-websupport` not only for testing, without it `make html` complains. But the message is clear, although it mentions `sphinxcontrib.websupport` not `sphinxcontrib-websupport` which user needs to learn about from `pip search`.

[2017-04-24 20:04] offlinemark commented on #2557
+1

[2017-04-25 03:12] kwankyu opened #3664 "No space after the bullet in items of a latex list produced by Sphinx"
Subject: In the pdf document of the reference manual of the SageMath project, items of a list do not have a space between the bullet and the content.

### Problem
The sample latex code below is simplified from the actual output by Sphinx from a docstring. If I compile the sample latex code, then the item in the list under INPUT: appears like

*abc

rather than the expected

* abc

The cause of thi

[2017-04-25 08:20] jfbu commented on #3664
well, you are right about `fulllineitems`. This environment is, it seems, not thought out to allow sub-environments like `enumerate` or `itemize`. In order for `description` to be usable therein, it redefines it globally (!!) in particular for the `labelsep` setting. This looks very ad hoc.

Could you check the patch at #3665 ?

[2017-04-25 09:15] jfbu commented on #3652
Thanks for the report and the project showing the issue. Indeed footnote numbering is reset at each `rst` source. Independently of the collision of numbers in case sections are short enough this also brings a discrepancy between one big `rst` or multiple ones. Getting footnote 2 of section A before footnote 1 of section B is not so much a problem, imho. But LaTeX output (table of contents) is gene

[2017-04-25 09:27] jfbu commented on #3652
regarding:

the standard classes (article, report, book) do not reset footnote numbering per physical page. But report and book do reset the footnotenumbering per chapter.

The problem you point out is that with `howto` which uses `\section` as top level, the standard LaTeX has continuous footnote numbering throughout the document, but Sphinx resets the numbering according to the various pieces fr

[2017-04-25 09:28] bgeron commented on #3652
Interesting, I didn't know!

[2017-04-25 09:36] kwankyu commented on #3664
I checked that the patch at #3665 works well. Thank you for your prompt response!

[2017-04-25 10:18] jfbu commented on #3664
Thanks @kwankyu for the report and the check. Fixed at 7c2f5f1 (#3665), merged in branches for 1.5.6 and 1.6.

[2017-04-25 10:18] #3664 closed, assigned to nobody

[2017-04-25 11:41] tk0miya commented on #3657
I reproduced this problem. A document starts with `genindex` causes this error.
[code]

[2017-04-25 13:48] danielvasas opened #3667 "sphinxcontrib-needs exception"
[code]

[2017-04-25 13:54] #3667 closed, assigned to nobody

[2017-04-25 13:59] tk0miya commented on #3667
It seems a bug of the extension. Could you report this to the project?

[2017-04-25 14:04] danielvasas commented on #3667
Wow.. that was a quick reply:)

Indeed it was an issue with the extension, an update solved it. I already
closed the issue.

Cheers,
Daniel

On 2017. Apr 25., Tue at 15:59, Takeshi KOMIYA <notifications@github.com>
wrote:

[2017-04-25 14:26] #3345 closed, assigned to nobody

[2017-04-25 14:43] tk0miya commented on #3660
`sphinxcontrib-websupport` is already on dependency list. So it will be installed on installing Sphinx-1.6b1.
https://github.com/sphinx-doc/sphinx/blob/1.6-release/setup.py#L54

[2017-04-25 15:29] tk0miya commented on #1005
It seems `sphinx.ext.imgmath` has same problem. I think this is not resolved yet.

Note: #3625 is a different from this.

[2017-04-25 15:46] tk0miya commented on #1005
@jfbu could you give us your advice for generating an equation image from TeX mark-ups?
Now imgmath extension uses the combination of `latex` and `dvipng` (or `dvisvgm`).

It generates the following .tex code internally:
[code]

As commented above, `newunicodechar` package certainly resolves this situation. But I feel the codemap is a bit ugly. Is there a better way to compile utf-8 equations to i

[2017-04-25 15:49] tk0miya commented on #1005
Note: I succeeded to convert an image from equation including "α" character with following patch:
[code]

[2017-04-25 22:03] jfbu commented on #1005
If the matter is Greek letters, one can achieve that by loading package `alphabeta`:

[code]

produces via `latex + dvipng` this image:
![tempgreek1](https://cloud.githubusercontent.com/assets/2589111/25409617/efde56b0-2a12-11e7-867c-25f13c31a586.png)

(I use ``dvipng -Ttight -D150 foo.dvi`` and option ``-bgTransparent`` for transparent images)

Else, for more complete Unicode support, I guess one

[2017-04-26 01:53] cocoatomo opened #3669 "gettext builder fails with "ValueError: substring not found""
Subject: On Python document translated into Japanese, gettext builder fails with "ValueError: substring not found."

### Problem
- gettext builder fails and do not create .pot files.

#### Procedure to reproduce the problem
[code]

ref. https://github.com/python-doc-ja/python-doc-ja/wiki/HowToUpdateOriginal

#### Error logs / results
When building with sphinx 1.5.5,
[code]
[sphinx-err-SGs3SP.txt](

[2017-04-26 02:32] cocoatomo commented on #3669
If skipping the command `git clone https://github.com/python-doc-ja/py36-locale.git Doc/locale`, gettext builder finish successfully.
Therefore, py36-locale may relate to this failure.

[2017-04-26 03:45] TonyDiana commented on #3657
Yes, that's exactly it, thanks

[2017-04-26 14:58] tk0miya commented on #3657
Reopened, I think this should be fixed.

[2017-04-26 14:59] TonyDiana commented on #3657
Yes :), tx

[2017-04-26 15:13] tk0miya commented on #3669
It seems your pot files are written after generated.
Now gettext builder expects `POT-Creation-Date:` header is defined. I'll fix it later.

[2017-04-26 16:10] tk0miya commented on #3669
Fixed at #3671.
Thank you for reporting!

[2017-04-26 16:10] #3669 closed, assigned to shimizukawa

[2017-04-26 16:43] reformstudios commented on #624
I'm having this issue. Is there any way to fix it? It's a real pain having to manually delete the file every time I want to build!

[2017-04-26 16:44] carmenbianca opened #3673 "`autodoc_member_order = 'bysource'` does not work for modules containing __all__"
Subject: `autodoc_member_order = 'bysource'` does not work for modules containing `__all__`

### Problem
When setting `autodoc_member_order` to `'bysource'` in conf.py, it does not work entirely as expected on modules that contain `__all__`. The members are listed in the order dictated by `__all__`, which is expected. But the members of the members are listed alphabetically.

#### Procedure to rep

[2017-04-27 01:08] #3662 closed, assigned to nobody

[2017-04-27 08:15] rikirenz opened #3674 "`pytest-bdd` incompatibility with `sphinxcontrib-napoleon`"
Subject: `pytest-bdd` incompatibility with `sphinxcontrib-napoleon`

### Problem
It seems that Sphinxcontrib-napoleon is not able to generate the documentation for the functions decorated with the pytest-bdd decorators.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
#### Expected results
Well the idea is that people that want to write tests with pytest-bdd should

[2017-04-27 13:01] tk0miya commented on #3657
Fixed at #3675
Thank you for reporting!

[2017-04-27 13:01] #3657 closed, assigned to tk0miya

[2017-04-27 13:05] tk0miya commented on #3638
I proposed `math_eqref_format` in #3676. Please try it :-)

[2017-04-27 13:31] jluttine opened #3678 "No 1.5.6 release tarball available"
At the home page http://www.sphinx-doc.org/en/stable/ it is said that the current version is 1.5.6 and that one can get it from Python Package Index. However, there is no 1.5.6 available in PyPI: https://pypi.python.org/simple/sphinx/ nor there is 1.5.6 release in this GitHub repository. Where can I get 1.5.6 release tarball?

[2017-04-27 13:31] tk0miya commented on #3592
I marked this as "help wanted". At this moment, no maintainers uses windows platform. So it is hard to fix this from our side.

.. note:: As a trial, I made #3619 once. But I could not determine it works fine or not.

[2017-04-27 13:40] tk0miya commented on #3588
ping @shimizukawa

[2017-04-27 14:24] RobRuana commented on #3674
Thanks for the report! Can you please post the stack trace from the error? Maybe the contents of `documentation_errors.log`?

[2017-04-27 15:33] tk0miya commented on #3678
Sorry for confusing. it's wrong. v1.5.6 is not released yet.

[2017-04-27 16:24] tk0miya commented on #624
This is already closed 6 years ago. Could you file your problem as a new issue please?

[2017-04-27 17:01] tk0miya commented on #2557
@shimizukawa is this resolved with #2961?

[2017-04-28 13:55] tk0miya commented on #3678
Fixed by #3679

[2017-04-28 13:55] #3678 closed, assigned to nobody

[2017-04-28 13:55] tk0miya commented on #3027
Fixed by #3679

[2017-04-28 13:55] #3027 closed, assigned to nobody

[2017-04-28 16:03] shimizukawa commented on #3586
sphinx translation catalog has been updated: ac5e76f5989eeb74b
This change contain a procedure to update sphinx.pot file.

[2017-04-29 07:32] tk0miya commented on #3586
Confirmed. Thank you for updating. To be enable to build our doc successfully on readthedocs, I will release 1.6b2 at this night. at same time, I will post call-for-translations announcement.
Thanks,

[2017-04-29 13:41] shimizukawa commented on #2557
In order to mock `a.b`, you need to also mock `a`. This is explained in [PEP 302](https://www.python.org/dev/peps/pep-0302/):

This was discussed at https://github.com/sphinx-doc/sphinx/pull/2961#discussion_r111751899

@rjarry do you have any opinion for this issue?

[2017-04-29 14:26] rjarry commented on #2557
Hi all,

@cdwilson unfortunately that is not possible, due to what @shimizukawa said.

Why do you need to mock one of your own modules?

I feel like there could be another saner solution.

[2017-04-29 14:51] #498 closed, assigned to nobody

[2017-04-29 15:42] tk0miya commented on #3586
Now I released 1.6b2!

[2017-04-30 13:13] tk0miya opened #3683 "readthedocs_ext crashes with 1.6b2"
### Problem
- readthedocs_ext crashes with 1.6b2

#### Error logs / results
[code]
http://readthedocs.org/projects/sphinx/builds/5356125/

[2017-04-30 13:14] tk0miya commented on #3683
In #3681, I made websupport module optional. But it breaks compatibility with 1.5 series.

[2017-04-30 14:58] jfbu commented on #1005
Apologies I used the wrong beta Unicode letter in my previous comment. It should be:

[code]
and produces
![tempgreek-1](https://cloud.githubusercontent.com/assets/2589111/25565378/193b7e3c-2dc6-11e7-9de5-d031821eff27.png)

But this method handles only Greek letters. Also, it is currently not compatible with `utf8x` (again this problem of `\DeclareUnicodeCharacter` not having same interface with `

[2017-04-30 17:38] matemax opened #3685 "Problem with sphinx_jsondomain"
### Problem
- sphinx-jsondomain not working in version 1.5.5 (working in 1.5.0)

#### Procedure to reproduce the problem

Insall sphinx-jsondomain (pip install -q sphinx-jsondomain) and compile example
[code]
This does't seem like bug of sphinx-jsondomain because this not working in new version of  sphinx .

#### Error logs / results
[code]

### Environment info
- OS: Windows
- Python version: 3.6

[2017-05-01 00:21] cdwilson commented on #2557
Hi @rjarry

At the time I filed this issue last year, I was working on a python package (https://pypi.python.org/pypi/aardvark-py/5.15.2) with embedded shared library objects from a 3rd party vendor (https://www.totalphase.com/products/aardvark-software-api/).

Here's the package layout:

[code]

I wanted to have autodoc extract documentation from the docstrings embedded in all the `__init__.py` f

[2017-05-01 08:25] shimizukawa commented on #3588
I removed 'translated' attribute from all of nodes. (on 1.6-release and stable branch)
@kozzzx can you please check the behavior with stable branch code?
[code]

[2017-05-01 09:55] yu-liang-dev commented on #3588
@shimizukawa Thank you for update. I think it is fixed.

## Before

pip list

![b](https://cloud.githubusercontent.com/assets/9611408/25577148/bbaf80a2-2e96-11e7-98c4-51b578a25396.png)

html

![b1](https://cloud.githubusercontent.com/assets/9611408/25577150/be3f3358-2e96-11e7-8587-2fbcdff275b7.png)
![b2](https://cloud.githubusercontent.com/assets/9611408/25577152/c0da3df6-2e96-11e7-87dc-01c4807745

[2017-05-01 12:42] shimizukawa commented on #3588
@kozzzx Thanks for your quick confirmation!
Yes, it seems fine.

[2017-05-01 12:42] #3588 closed, assigned to shimizukawa, tk0miya

[2017-05-01 16:45] erikrose opened #3688 ""Error: The websupport.utils module cannot be found." during sphinx-build"
Subject: When I run sphinx-build under Sphinx 1.6b2, I get an error. Previous versions were fine.

### Problem
When I run `make html` on the [Fathom](https://github.com/mozilla/fathom) project, I get this:

[code]

#### Procedure to reproduce the problem
[code]

Note that this works fine under Sphinx 1.6b1; it breaks in 1.6b2.

#### Expected results
I'd expect the docs to build successfully, as th

[2017-05-01 19:17] mherbold opened #3690 "Glossary terms having substitutions will not do substitutions in genindex"
Subject: Glossary terms having substitutions will not do substitutions in genindex

### Problem
What the subject says

#### Procedure to reproduce the problem
Just have a glossary rst with for example QuickBooks\ |trade| as a glossary term.  This renders correctly in the glossary page but incorrectly in the genindex page.  The genindex page shows "QuickBookstrade" instead of substituting the |trad

[2017-05-01 21:29] jfbu commented on #3447
The longtable does not have tabulary's capability to automatically adjust column widths. The `get_colspec()` method of Table object in [latex.py](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/latex.py#L373) opts for `l` specifier if longtable cells have no "problematic" contents (lists). But this `l` specifier is for "horizontal mode" contents, not paragraphs.

Current work-aroun

[2017-05-02 11:06] pybride opened #3691 "HTML search don't work at all since 1.5"
Subject: HTML search don't work at all since 1.5

### Problem
- Search result page only display "Searching..."

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: Win 10
- Python version: 2.7
- Sphinx version: any 1.5.X
- sphinx-pretty-searchresults 0.1.6
- Tested in Firefox, Edge and Chrome

[2017-05-02 11:24] reformstudios opened #3692 "Unable to Make HTML : .buildinfo locked."
Subject: Unable to Make  HTML : .buildinfo locked.

### Problem
'.buildinfo' cannot be overwritten (locked?) preventing make from completing.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
I expect Make to do its thing.

### Reproducible project / your project
- <link to your project, or atta

[2017-05-02 14:09] tk0miya commented on #3692
refs: #624

I guess this might be related with network drives.

[2017-05-02 14:13] tk0miya commented on #3691
what theme do you use?
is this related with #3203?

[2017-05-02 14:24] reformstudios commented on #3692
I agree, it is. I have tested locally and it works fine.
I think the script is being executed as the "everyone" user rather than my
user (with 'w' permissions).
Is it possible to execute make 'as administrator'? I have tried, but it
doesn't work.

On 2 May 2017 at 15:09, Takeshi KOMIYA <notifications@github.com> wrote:

[2017-05-02 14:41] pybride commented on #3691
I'm using a modified version of sphinx_rtd_theme.

I tried the linked fix (SOURCELINK_SUFFIX), the search is then working, but only the title is display in the results, not the text itself. I will try to update the whole theme.

Anyway, I don't understand why  #3203 was closed, as it is a sphinx bug: a breaking change that isn't listed in release notes.
If Sphinx need something new from theme, it

[2017-05-02 16:08] tk0miya commented on #3685
Thank you for reporting.
Fixed at 87b30cc.

[2017-05-02 16:08] #3685 closed, assigned to nobody

[2017-05-02 16:19] tk0miya commented on #3691
ah, you're right. indeed, this is breaking changes since v1.5.
So I added an entry to CHANGES now: https://github.com/sphinx-doc/sphinx/commit/097cd87fd8ceda2fed377c5207909e351315b24e

[2017-05-02 18:16] rouge8 commented on #2549
Still no good workaround for this 😕

[2017-05-02 18:55] jfbu commented on #3289
Thanks for reporting. It appears your document is a convincing demonstration that `wrapfig` LaTeX package is not usable as general automatized way to wrap text around figures. The problem here is mainly that the figures are somewhat tall, and the produced tex file always contains a list (description or itemize), and it is well-known in LaTeX world (and pointed out in `wrapfig` doc) that `wrapfig`

[2017-05-03 07:17] tk0miya commented on #2620
This is already refactored at #3377. Finally we use the following table macro-sets:

* tabular (+ threeparttable)
* tabulary (+ threeparttable)
* longtable

Note: #3686 is related with this. It tries to drop threeparttable.

[2017-05-03 07:17] #2620 closed, assigned to nobody

[2017-05-03 07:22] pybride commented on #3691
Only SOURCELINK_SUFFIX was missing in the theme, but the search still not display the full result.
As I'm using sphinx-pretty-searchresults, the files in _sources are like something.txt and not something.rst.txt
And sphinx-pretty-searchresults isn't the issue, because it is just using sphinx to output text.

It isn't possible to configure html_sourcelink_suffix to remove this buggy behavior. I thi

[2017-05-03 08:03] tk0miya commented on #3691
Unfortunately, there are no option to remove the behavior. to support multiple mark-ups, the behavior is required.

[2017-05-03 08:25] pybride opened #3696 "html_sourcelink_suffix don't allow anymore to make search result user friendly"
Subject: `html_sourcelink_suffix` don't allow anymore to make search result user friendly

### Problem
- To make the search result user friendly (see #1618), the only solution for the moment is to run again sphinx, generating text output, which is filtered and then placed in the generated HTML _sources folder.
The sphinx-pretty-searchresults plugin makes the filtering better, but it is still a tex

[2017-05-03 08:25] pybride commented on #3691
I will close this bug, and I created a new one that describe better the issue, see #3696

[2017-05-03 08:25] #3691 closed, assigned to nobody

[2017-05-03 08:35] jawahar273 opened #3697 "No content update in html content from docstring"
Subject:  No content update in html content from docstring after running `make html`

### Problem
- No content update in html content from docstring

#### Procedure to reproduce the problem
[code]
after updating the content of docstring in my code and running `make html`
there is no error in console and there is no proper content update in
built html.

#### Error logs / results
no error displayed

[2017-05-03 08:41] mgeier opened #3698 "Moving :doc: to std domain broke backwards compatibility"
Before, I could use `sphinx.addnodes.pending_xref(reftype='doc', refdomain=None, ...)`, which now doesn't work anymore and prints this warning:

    WARNING: 'doc' reference target not found: ...

Using `refdomain='std'` would be a work-around, but this (I think) wouldn't work in older versions.

See https://groups.google.com/forum/#!topic/sphinx-dev/98bvia7i7II and https://github.com/spatialaudio

[2017-05-03 08:53] pybride commented on #3696
As workaround, in searchtools.js_t, replace the line
`$.ajax({url: DOCUMENTATION_OPTIONS.URL_ROOT + '_sources/' + item[5] + (item[5].slice(-suffix.length) === suffix ? '' : suffix),`
with
` $.ajax({url: DOCUMENTATION_OPTIONS.URL_ROOT + '_sources/' + item[5].slice(0, -4) + '.txt',`

[2017-05-03 10:07] tk0miya commented on #3698
I made #3699. It converts the nodes automatically.

[2017-05-03 14:15] tk0miya commented on #3683
I added `sphinxcontrib-websupport` to dependency list again, but it still failed
[code]

[2017-05-03 14:33] mbukatov commented on #3458
When it's done, it would be nice to add testing into section *Writing a simple extension* in the Sphinx documentation.

[2017-05-03 14:53] tk0miya commented on #3683
It is caused that `readthedocs_ext` extension calls `builder.css_files.insert()`. We does not handle it.
Finally, I fixed it on 1.6-release branch.

[2017-05-03 14:53] #3683 closed, assigned to nobody

[2017-05-03 15:15] jfbu commented on #3289
Only robust workaround I can propose is the following. Add to the `conf.py` this config:

[code]

This way you can still have the `:align:` options used in html builds. But for PDF, the wrapping is simply dropped, and replaced by inclusion of the graphics centered on the page.

Can you try it out ?

Your document systematically has lists following very soon rather tall pictures: LaTeX package `wra

[2017-05-03 15:16] tk0miya commented on #3688
Fixed at 0135948

[2017-05-03 15:16] #3688 closed, assigned to nobody

[2017-05-03 15:21] tk0miya commented on #3660
I think this is already resolved. please close this if agreed.

[2017-05-03 15:43] jfbu commented on #3660
On 1.6b2 it was not yet solved, I just tried a virtualenv and ``pip install sphinx==1.6b2``, then
[code]
I am now closing.

[2017-05-03 15:43] #3660 closed, assigned to nobody

[2017-05-03 15:52] tk0miya commented on #3586
I feel serious bug #3688 has found on 1.6b2. So I'd like to package next beta: 1.6b3 soon.
Is there any problem? If none, I'll do it tomorrow or next day.

[2017-05-03 15:55] jfbu commented on #3660
Update: this got fixed at 0135948

[2017-05-03 15:57] jfbu commented on #3586
+1 for 1.6b3

[2017-05-03 21:49] jfbu opened #3701 "LaTeX: figure with ``:align:`` in topic appears below the topic box"
The picture says it all:

![capture d ecran 2017-05-03 a 23 33 30](https://cloud.githubusercontent.com/assets/2589111/25682618/253b3282-3059-11e7-9889-62f553588283.png)

#### Expected results
The figure appears inside the topic box.

### Reproducible project / your project
[code]

### Environment info
- OS: Mac
- Python version: 3.5.3
- Sphinx version: 1.5.5

Relates: #3289.

This is other demonst

[2017-05-03 21:56] jfbu commented on #3701
@tk0miya could you check https://github.com/jfbu/sphinx/commit/f545805bd9949929a5c1f5defc5a36cd898c7d2f, as far as I understand LaTeX writer `visit_figure` there is lot of never executed branches due to the fact that when `align` attribute exists, the `wrapfigure` is used. Hence this commit removes the non executed branches. I will merge in stable if ok.

[2017-05-04 01:33] Blendify commented on #3289
Yes, I will test in the next couple of days.

[2017-05-04 06:04] #2406 closed, assigned to jakobandersen

[2017-05-04 06:07] jakobandersen commented on #2406
Expressions are now properly parsed.

[2017-05-04 06:12] jfbu opened #3702 "LaTeX writer styles figure legends with a hard-coded ``\small``"
See the `visit_legend()` in [writers/latex.py](https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/writers/latex.py) (currently at [L1601](https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/writers/latex.py#L1601) on stable).

This ``\small`` should get abstracted into something with a name like ``\sphinxstylelegend``.

- Sphinx version: 1.5.5

Despite this perhaps not being a bug, I thin

[2017-05-04 06:14] jfbu commented on #3289
Your document also displays the problem #3532. I tested the proposed fix #3686, and it does solve the issues with captions of figures in table cells one sees in your document.

I also noticed in passing the #3702 issue.

[2017-05-04 08:41] jfbu opened #3704 "LaTeX: the ``\label`` in a figure should be immediately after ``\caption``, not after legend."
Subject: a [figure](http://docutils.sourceforge.net/docs/ref/rst/directives.html#figure) may have a legend. This consists of arbitrary body elements after the caption.

Currently the LaTeX writer inserts the ``\label`` right before the end of the ``figure`` environment (or ``wrapfigure``,  ``sphinxfigure-in-table``). But, theoretically, the legend contents could contain for example a table having

[2017-05-04 08:42] jfbu commented on #3704
Also, we notice that the table caption is incorrect it uses ``Fig. 2`` like for a figure.

[2017-05-04 08:58] jfbu opened #3705 "LaTeX: references to a figure inside a topic do not work"
Screenshot:

![capture d ecran 2017-05-04 a 10 48 33](https://cloud.githubusercontent.com/assets/2589111/25696392/530f7a98-30b7-11e7-801b-1268804f03fe.png)

Source:
[code]

This is due to the fact that `visit_figure()`  in [latex writer](https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/writers/latex.py) does not insert the `\label` (``ids``) in case the ``elif self.in_minipage:`` branch is

[2017-05-05 02:43] Blendify commented on #3289
Committed and will test in a bit

Can you provide more information on how to do this? I am not familiar with all the latex options.

We are waiting for the patch to automatically convert them to be merged but can try removing them.

[2017-05-05 10:22] jfbu commented on #3289
About the missing Unicode characters:

1. partial solution with xelatex was mentioned in an earlier comment

[code]

   But this doesn't work for all characters. I think the main problematic ones were the media control characters used in timeline.rst file. On my Mac OS they are rendered using Apple Emoji font, but for some reason not all of them. Anyway, now that I looked more closely at the PDF (

[2017-05-05 10:36] jfbu commented on #3289
The problem with  ``─`` (U+2500, BOX DRAWINGS LIGHT HORIZONTAL)  comes from https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/texescape.py#L43

You would need to monkey patch this for the time being.

What do you think @tk0miya, it looks weird to have one and only BOX DRAWINGS character treated especially. And it is bad for xelatex, lualatex where the user may have a font such as DejaVu

[2017-05-05 10:39] jfbu commented on #3289
Update: there is also BOX DRAWINGS LIGHT VERTICAL at https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/texescape.py#L48, and also BOX DRAWINGS LIGHT DIAGONAL UPPER LEFT TO LOWER RIGHT

[2017-05-05 11:03] jfbu opened #3706 "LaTeX: automatic replacement of Unicode BOX DRAWINGS characters (and arguably others too) should be skipped with lualatex and xelatex"
Subject: at https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/texescape.py, a few Unicode BOX DRAWINGS characters are replaced,

[code]

But this prevents to incorporate output of unix tree command for example in a satisfactory way. Many OpenType fonts have these characters, hence at least for `latex_engine` set to `'lualatex'` or `'xelatex'` there should not be such replacement.

####

[2017-05-05 11:05] jfbu commented on #3706
maybe I abuse tags... I never quite know how to distinguish bug from question from enhancement...

[2017-05-05 11:24] jfbu commented on #3702
fixed at 321a5e7

[2017-05-05 11:24] #3702 closed, assigned to nobody

[2017-05-05 12:18] jfbu commented on #3289
regarding the image files

You don't have to remove them, just make sure png's (for gif's) or pdf's for (svg) are also available but then you should use the globbing character `*` as extension: http://www.sphinx-doc.org/en/stable/rest.html?highlight=image#images

[2017-05-05 15:29] jfbu commented on #3289
The media control characters are almost all available via FontAwesome, for which there is also pdflatex support. I am adding this just in case it might help other people visiting this thread, but in your specific case, you should better use the fonts or icons of the original Player Controls from Blender.

Anyway, here is first how to handle this using xelatex:
[code]
I used ``DejaVu`` fonts, many

[2017-05-05 17:11] jfbu commented on #3289
ah sorry I had overlooked missing characters with xelatex+DejaVu:
[code]
so I need to extend a bit

### xelatex

(edited because LaTeX `\checkmark` can not be boldened! (easily))
(edited **again** because the line with loading `fontawesome` was missing)

[code]

### pdflatex

So the pdflatex setting becomes:
[code]

[2017-05-05 17:41] jfbu opened #3707 "LaTeX replacement of `✓` by macro `\checkmark` can not be boldened"
At https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/texescape.py#L39, there is

[code]

There are some issues:

1. ``\checkmark`` which is provided by `amssymb` can work in math mode as well as in text mode to the same result. Thus the `\(..\)` are superfluous and would raise an error if the thing was encountered while being already in math mode

2. There is no way to bolden the charac

[2017-05-05 18:33] jfbu commented on #1005
With package `alphabeta`+`pdflatex` one should drop the escaping of Greek letters done in https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/texescape.py. Indeed, in text mode the Greek letters will now be rendered by the LGR encoded Computer Modern font, (upright letters). In math, Sphinx does no escaping anyhow. Then `alphabeta` maps the Greek letters to the corresponding macros.

When

[2017-05-05 18:41] jfbu commented on #3625
Sorry for overlooking this issue for some time. It appears it works with
[code]
image:
![capture d ecran 2017-05-05 a 20 39 11](https://cloud.githubusercontent.com/assets/2589111/25759522/2a635a2a-31d3-11e7-81ca-5337aec9918c.png)

can you try it ?

[2017-05-05 18:46] jfbu commented on #3625
oh sorry actually it also works for me with your original example with `\mbox`!! I tested this on Sphinx 1.5.5 with TeXLive 2016 in its final version. (TL2017 will be released soon, and TL2016 is frozen forever).

From your error log it appears you were using `utf8x` option not `utf8`, because package `ucs` is loaded, which is what `utf8x` does. Where does the `utf8x` come from ?

[2017-05-05 19:33] tobiasHeinke opened #3708 "LaTeX links: irc protocol"
Subject: If a link uses the irc protocol a warning is shown by the latex-builder.

Might be:
[latex.py#L49](https://github.com/sphinx-doc/sphinx/blob/f547e59a7a6cb3ad56d74edf97c59abe71b5f8d2/sphinx/writers/latex.py#L49)

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Reproducible project / your project
html:
https://docs.blender.org/manual/en/dev/getting_star

[2017-05-05 22:49] Blendify commented on #3289
I tried doing your modifications but I get:

[code]

[code]

[2017-05-05 23:19] rjarry commented on #2557
@cdwilson, I understand your problem a little better. That is a tough one...

However I don't see any better workaround than the one you found.

autodoc_mock_imports is mainly intended to allow building autodoc of modules without requiring that the third-party libs they import are available.

[2017-05-06 06:28] jfbu commented on #3289
I do all my work with Python 3. With Python 2, I confirm your error but this is simply due to the use of a Unicode string in conf.py without `u`prefix. So, for the xelatex config for example it would be something like
[code]
where I added `u` prefix and doubled the backslashes. I vaguely think one can use `ur` without doubling the backslashes but I have an overdue deadline today and can't check. I

[2017-05-06 09:39] jfbu commented on #3289
- because of the errors related to graphics, the `make pdf` from your custom Makefile, which executes in the `tex->pdf` part the Makefile from `build/latex` stops after first `(pdf|xe)latex` pass. This means you don't table a table of contents in pdf, among other things. You would need to execute manually multiple pass or modify the Makefile recipe with `-` prefix to avoid it stopping on first pas

[2017-05-06 11:29] arximboldi opened #3709 "Smart quotes cause Sphinx to crash inside docutils"
### Problem

When building the documentation in https://github.com/arximboldi/immer with a recent version, the build fails.

**Note:** I did find the offending commit: edc7f30b9cc92f4d721eeef62ffa826f23a09a9f
Reverting it solves the problem.

#### Procedure to reproduce the problem

Checkout the code from the linked repository, install Sphinx from master and build the documentation.

#### Error lo

[2017-05-06 12:38] tk0miya commented on #3707
I don't have strong opinion for this.

Note:

1. `texescape.py` is not applied to math nodes. so it does not cause an error. Of course, removing is okay to me.
2. No idea.
3. I'm okay to switch a rule of escaping by `latex_engine` :-)

[2017-05-06 13:25] jfbu commented on #3709
Thanks for the report and trying out on master.

But I had a quick look checking out your project, but I am not familiar with doxygen, so I skipped it, and I get no build error of this type whether using Sphinx 1.5.5, or the current stable branch or the 1.6-release branch, or the master branch.

[code]
Your report says `Docutils: 0.13.1` but the error log at gist says

    # Docutils version: 0.12

[2017-05-06 13:42] jfbu commented on #3709
I tested with on master with both Docutils 0.11 and 0.12 and do not reproduce the error, but this is all without the ``doc/_doxygen/xml/index.xml`` file.

[2017-05-06 13:50] arximboldi commented on #3709
Ooops, sorry I pasted an older error log... here is another log with the latest Docutils:
https://gist.github.com/arximboldi/345b83a695a0150315e37ef6db56c8c1

Thanks for trying my code! The project actually needs `doxygen` to generate any meaningful and thus trigger the issue. Here is what you should do to build the documentation:

1. Install `doxygen` and `cmake` (e.g. via `apt-get`, `brew`, etc.

[2017-05-06 13:50] jfbu commented on #3709
ah ok, I know how to use doxygen now... and I reproduce the error you reported with all version docutils 0.11, 0.12, and also 0.13.1...  (on Sphinx master)

(I can't look any deeper right now)

[2017-05-06 15:07] tk0miya commented on #3709
It's bug of breathe.
The extension builds doctree with wrong way.
https://github.com/michaeljones/breathe/blob/d3eae7fac4d2ead062070fd149ec8bf839f74ed5/breathe/renderer/sphinxrenderer.py#L1103

This code rewrites directly the `children` attribute of the `nodelist[0]`. As a result, the structure of doctree has broken (In detail, the child nodes of `nodelist[0]` does not refer `nodelist[0]` as a par

[2017-05-06 15:07] #3709 closed, assigned to nobody

[2017-05-06 15:20] arximboldi commented on #3709
Wow, that was an quick and excellent debugging. Thanks a lot!

[2017-05-06 15:30] tk0miya commented on #3625
Really? At my local, both `\text` and `\mbox` are failed. AFAIK, `dvipng` does not support Japanese text. So this is not only the problem of LaTeX notation.

`sphinx.ext.imgmath` uses `utf8x` option yet:
https://github.com/sphinx-doc/sphinx/blob/1.5.5/sphinx/ext/imgmath.py#L46.

[2017-05-06 15:32] tk0miya commented on #3586
Sorry for very late response. I could not take a time for release until now. So I will do that tomorrow. We have monthly hack-a-thon for Sphinx in Japan :-)

[2017-05-06 15:39] jfbu commented on #3625
Hi @tk0miya I am just stupid. I, of course, only tested with `make latexpdf`. LaTeX is my obsession ! Hence I simoly did not realize your problem is with `make html` although you mentioned very clearly `dvipng`. Some days I feel I would need a way to inject directly some dopamine in the brain. Of course now I confirm your problem. I will investigate when I get time, which is probably not today...

[2017-05-06 16:30] mcocdawc opened #3713 "ImportError when using aliases"
Subject: ImportError when using aliases

### Problem
I asked the same question on [StackOverflow](http://stackoverflow.com/questions/43819874/importerror-when-using-import-as)

I have the following layout for my project:
[code]

My package has a ``setup.py`` script, was installed via ``pip install -e`` and is available in the ``PYTHONPATH``. Nevertheless I also put: ``sys.path.insert(0, os.path.ab

[2017-05-06 17:20] jfbu commented on #3625
for png output:

as an alternative to your [dvipngja](https://github.com/sphinx-doc/sphinx/issues/3625#issuecomment-294172469), I checked that the following work:

1. arrange so that ``DOC_HEAD`` has ``\documentclass[12pt]{jreport}`` and ``\usepackage[T1]{fontenc}`` and that it does not use ``inputenc``.

2. set ``imgmath_latex = 'platex'``

3. the called script should execute:
    - ``dvipdfmx``,

[2017-05-07 02:44] tk0miya commented on #3625
Thanks, it looks better than my ad-hoc way!
I will consider how to embed it into `sphinx.ext.imgmath` later.

[2017-05-07 04:58] tk0miya commented on #3713
Sphinx tried to import `chemcoord.xyz_functions` to generate document. But chemcoord does not provide `chemcoord.xyz_functions` as a module in python level:
[code]

How about faking the python module system like this?
[code]

[2017-05-07 05:44] #3698 closed, assigned to tk0miya

[2017-05-07 06:14] jfbu commented on #3625
I said `jreport` because Sphinx uses it for main document, but `jarticle` would be ok to. Perhaps there is even a way with less overhead (`minimal` class ? but should check if fine with loading the ams packages, and bm package)

[2017-05-07 06:21] tk0miya commented on #3708
Fixed at #3712. Thank you for reporting!

[2017-05-07 06:21] #3708 closed, assigned to nobody

[2017-05-07 07:21] #3638 closed, assigned to nobody

[2017-05-07 07:22] lazka commented on #3320
Still a problem with 1.5.5

[2017-05-07 07:36] tk0miya commented on #3524
Updated messages at 9f5f169.

[2017-05-07 07:36] #3524 closed, assigned to nobody

[2017-05-07 07:39] tk0miya commented on #3574
It seems this is already resolved. So I'm closing this now.
Please feel free to reopen this if you still have problem.

Thanks,

[2017-05-07 07:40] tk0miya commented on #3612
Any updates? It seems the latest build suceeded now. So I'm closing this.

[2017-05-07 07:40] #3612 closed, assigned to nobody

[2017-05-07 07:41] tk0miya commented on #3632
Please feel free to reopen if you still have problem.
Thanks,

[2017-05-07 07:41] #3632 closed, assigned to nobody

[2017-05-07 07:42] tk0miya commented on #3636
It seems not a bug of Sphinx. So I'm closing this now.
Please reopen if you still have this problem.

Thanks,

[2017-05-07 07:42] #3636 closed, assigned to nobody

[2017-05-07 09:21] tk0miya commented on #3586
Now I'm just released 1.6b3!
https://pypi.python.org/pypi/Sphinx/1.6b3

[2017-05-07 10:15] getreu commented on #3574
@tk0miya
You wrote "Sphinx does not support a "subtitle" (see quote below).
This is what we know, what my feature request is about and what should change in my opinion.
Do we agree that "Sphinx" should follow "DocUtils" conventions where possible? Here it is possible.
You might disagree with my feature request, but but  "solved" is not correct here.

*Subtitle support is essential for larger docum

[2017-05-07 14:51] travisspencer opened #3721 "Copright "owner" instead of "holder" in license"
The Sphinx Web site says that the license for the code is BSD. I diffed it though, and noticed that one word is different (at least from the version of the BSD 2-caluse license I found). The Sphinx license says "owner" whereas the BSD license I found on opensource.org uses the word "holder".

[code]

I'm not a lawyer, but I imagine it makes little/no difference. However, when distributing Sphinx i

[2017-05-07 15:38] JustinCappos opened #3722 "Memory addresses being output that break reproducible builds"
I am taking a look at some of Debian's reproducible-builds packages that are still failing and still see some issues that look like they may be from memory addresses being output by sphinx.

For example, django-celery outputs the following memory address (see
https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/diffoscope-results/django-celery.html ):

./usr/share/doc/python-django-c

[2017-05-07 15:45] mcocdawc commented on #3713
Thank you very much for your answer.
Apparently I have a wrong understanding of the python module system.

I did your trick and it works (at least for now).
My ``__init__.py`` file looks like this now (The changes are also pushed to my repo):

[code]
So I can do now:
[code]
Nevertheless I am a bit lost and don't understand why
``import chemcoord.cartesian_coordinates.xyz_functions as xyz_functions

[2017-05-07 19:11] benjaminweb opened #3723 "Feature Request: Document multiple attributes at once"
Subject: Document similar arguments, attributes at once.

### Problem
In some cases a couple of attributes or arguments happen to be similar.
A single line should suffice to document them.
That will save writing time, space in the rendered docs and improve clarity therein.

[code]

http://www.sphinx-doc.org/en/stable/ext/example_google.html#example-google

[2017-05-07 20:42] benjaminweb opened #3724 "Support :attr: linking and add :arg: to sphinx domain"
### Problem
* `:py:attr:attr1` does not link to attr1 in the same docstring.
* `:arg:` has no sphinx domain.

#### Procedure to reproduce the problem
[code]

[2017-05-08 08:15] jessetan opened #3725 "Todo looks different from note in LaTeX output"
### Problem
For HTML output, the `todo` directive looks the same as a `note` with a different title. This is OK:
![todo-html](https://cloud.githubusercontent.com/assets/3284111/25795274/ed6b5a38-33d4-11e7-97f9-1764fe23462d.png)

For LaTeX output, the contents of the `todo` directive is placed on a new line instead of next to the title and is missing the colon:
![todo-latex](https://cloud.githubuse

[2017-05-08 11:12] jfbu commented on #3725
The issue here is that `todo`  type of admonition is not known to LaTeX writer. And there is a difficulty that `todo` extension always adds a title to the todo node. Here is a horrible hack which I am indicating only with the hope Python maintainers fix it:

[code]

the patch is on 1.5.5.

One could also find a workaround by some LaTeX macros you could add to your conf.py (in `latex_elements['prea

[2017-05-08 11:14] jfbu commented on #3725
in patch from previous comment there is a `print(node)` which I used in debugging: it should be removed of course.

[2017-05-08 11:40] orenbenkiki opened #3726 "Failure to generate function signature"
Sphinx (version 1.5.2) fails to generate function signature in case there are typing problems.

### Problem

http://stackoverflow.com/questions/37362351/sphinx-does-not-produce-function-signature contains a good description of the problem (which also happens for me). It seems that if the typing module chokes on some code, sphinx will therefore fail to generate any signature for the affected functi

[2017-05-08 13:33] jfbu commented on #3725
For a workaround at latex run time, add this to `conf.py`

[code]

Caveat: you must replace "Todo" in the macro `\sphinx@todo@title` by the string suitable for the language of the document. But yours in English obviously, so simply "Todo".

This will keep the tex file as in your report but the PDF will look as desired.

By the way, it is a legacy fact that there are two space tokens after the pref

[2017-05-08 13:43] jfbu commented on #3725
if any French person passes by, there is a complication that the `:` as in `Todo:` in the latex macros above must be made "active", else Babel will not insert the automatic spacing before it. If you don't know what I am talking about you are probably not French, and if you do know, then yu also know what I mean and what to do additionally to the macros in my comment.

[2017-05-08 15:34] ViktorHaag opened #3727 "KeyError 'citation_refs' in Sphinx std domain"
Subject: KeyError `citation_refs` in Sphinx std domain during HTML build

### Problem
- make html with Sphinx 1.6b3 exceptions during reading sources with KeyError exception inside std.py domain (line 537)

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
- Simple `make html` of docs project.
- Build working with 1.6b2, breaks with 1.6b3

###

[2017-05-08 16:41] tk0miya commented on #3727
Thank you for reporting.
As an investigation, could you try `make clean html` command and let me know the result please?

[2017-05-08 16:49] tk0miya commented on #3726
Thank you for reporting.
LGTM for the patch on SO.

It would be very nice if anybody provides the reproducible example. Then I will patch the code with testcase.

[2017-05-08 17:02] ViktorHaag commented on #3727
Yep! No problem; I get what appears to be the same error. Here's the output after a `make clean; make html`:

[code]

[2017-05-08 17:11] ViktorHaag commented on #3727
This issue is on my end, not Sphinx's -- we have an override domain for the standard domain, which I forgot to examine as part of investigating this issue. That override domain provides it's own Class-level definition for `initial_data` that does not account for (and include a default def'n for) the new `citation_refs` key.

I'm closing this issue, and apologize for anyone spending too much time l

[2017-05-08 17:11] #3727 closed, assigned to tk0miya

[2017-05-09 13:01] shimizukawa commented on #3586
Topics of Sphinx-1.6 release

[code]

[2017-05-09 13:24] ax3l commented on #1570
@tk0miya How can I use `sphinx.ext.imgmath` for epub only im my `conf.py`? :)

[2017-05-09 13:35] bgeron commented on #3652
Ping @tk0miya.

@jfbu wrote:

[2017-05-09 14:28] ylibman opened #3728 "Search not finding some values"
Subject: HTML Search not finding some values

### Problem
- When searching for certain strings in my project, and I know the text exists, the search returns with a "Your search did not match any documents" message.

### Environment info
- OS: Mac/Win
- Python version: 2.7
- Sphinx version: 1.5.5
- Tested on multiple browsers

[2017-05-09 20:37] jfbu commented on #3586
Also:
[code]
(It was missing at 1.6 beta1 from CHANGES, I just added it).

There are also some removal of LaTeX packages:
[code]
but was this supposedly already included in this @shimizukawa ?
[code]
(there is typo: dependent I think; but I am not sure what this entry refers to)
LaTeX also has some other deprecations.

[2017-05-09 20:47] jfbu commented on #3532
Fixed by #3686 merge (includes 5c87879)

[2017-05-09 20:47] #3532 closed, assigned to jfbu

[2017-05-09 20:55] jfbu commented on #2535
I am closing this. Feel free to re-open if your issue is not solved.

[2017-05-09 20:55] #2535 closed, assigned to nobody

[2017-05-09 21:01] jfbu commented on #161
This is solved by merge of #3686 (which is based on the table templates from #3389, 2a37b0e). The user can position the caption after table using the templates. The ``\sphinxaftercaption`` should not be used then, and the ``\sphinxcapstartof{table}`` should stay where it is, if one wants internal hyperlink to go to top of table.

What is lacking is a config setting to do this automatically, but al

[2017-05-10 10:26] jessetan commented on #3725
No it is just a minor inconsistency issue. I found it when I wanted to remove the colon from the title in LaTeX output by just removing the last character of the title, but then "Todo" becomes "Tod" and our writers search documents for "todo" to find things to work on.

[2017-05-10 13:36] DominiqueMakowski opened #3730 "Docs compilation started to fail when created a requirements.txt file"
Docs compilation started to fail when created a requirements.txt file

### Problem
I had my documentation up and running (see [here](http://neurokit.readthedocs.io/en/latest/documentation.html)) until I created a [requirements.txt](https://github.com/neuropsychology/NeuroKit.py/blob/master/requirements.txt) file. I created this file to be used by travis and codecov for testing purposes. This file

[2017-05-10 14:15] bryevdv opened #3731 "Starting with Sphinx 1.5.2, project docs error out with "make clean html""
Subject: <what happen when you do on which document project>

### Problem

The Bokeh project supprts python 2.7 and 3.4+, and also predates python Enum classes. Accordingly, we have our own "enums" objects, and these appear to be confusing recent versions of Sphinx.

Full output below, the relevant parts appear to be these:
[code]
This results in
[code]

Our project enums are *objects*, not classe

[2017-05-10 14:29] bryevdv commented on #3731
The following new definition in `sphinx/util/inspect.py` allow our docs to build successfully:

[code]

I will submit a PR but I am still very interested to know if there is any way to explicitly work around this in with existing Sphinx versions.

[2017-05-10 14:43] jfbu commented on #3725
Does your search need to be done on the tex file or the pdf? if the latter does the LaTeX workaround I indicated work for your document?

[2017-05-11 02:33] tk0miya commented on #3730
This might be a question for readthedocs. But, this is not issue list of readthedocs. Please move to support of readthedocs.
Thanks,

[2017-05-11 02:33] #3730 closed, assigned to nobody

[2017-05-11 08:02] anntzer opened #3735 "sphinx.ext.napoleon renders Raises section differently than the default format"
Subject: docstrings parsed by sphinx.ext.napoleon use a subtly different markup for documented exceptions.

### Problem
(see subject)

#### Procedure to reproduce the problem
http://www.sphinx-doc.org/en/stable/domains.html?highlight=domains#info-field-lists indicates that exceptions should be documented as
[code]
but sphinx.ext.napoleon (whether Google or Numpy style) uses a different markup:
[co

[2017-05-11 09:06] tk0miya commented on #3725
Fixed at #3733.
Thank you for reporting!

[2017-05-11 09:06] #3725 closed, assigned to nobody

[2017-05-11 09:22] jfbu commented on #3479
Fixed at #3684. Thanks for reporting!

[2017-05-11 09:22] #3479 closed, assigned to jfbu

[2017-05-11 10:26] tk0miya commented on #3728
Thank you for reporting. But I can't understand your problem.
Please let me know your problem in detail?
It would be nice if you share your document and actual searching keyword for us.

[2017-05-11 10:59] tk0miya commented on #1570
@ax3l
There are no good way to do that. But you can do it with `-D` option of `sphinx-build` like following:
[code]

[2017-05-11 11:03] tk0miya commented on #3727
never mind!

[2017-05-11 11:23] tk0miya commented on #3724
I extracted the comment from attached archive. To support this, we need to add `arg` role to py domain.
[code]

[2017-05-11 11:33] ax3l commented on #1570
@tk0miya thank you for the hint!
Do you by coincidence know if one can set such epub specific extensions with readthedocs?

It would still be awesome to control extensions per builder in `conf.py`. shall I open an issue for that?

[2017-05-11 13:10] bgeron opened #3738 "Nonsensical code in theming.py"
I found this snippet in `theming.py`:

    def load_external_theme(self, name):
        # type: (unicode) -> None
        """Try to load a theme using entry_points.

        Sphinx refers to ``sphinx_themes`` entry_points.
        """
        for entry_point in pkg_resources.iter_entry_points('sphinx_themes'):
            target = entry_point.load()
            if callable(target):

[2017-05-11 13:41] tk0miya commented on #1570
There are no way to switch extensions per builder inside sphinx. So it is also difficult in readthedocs.

Yes, please. It's reasonable.

[2017-05-11 13:44] tk0miya commented on #3738
Oops, you're right!
Thank you for helping!

[2017-05-11 13:46] tk0miya commented on #3738
Fixed at bac9fcb.

[2017-05-11 13:46] #3738 closed, assigned to nobody

[2017-05-11 13:50] tk0miya commented on #3723
This is a proposal for `sphinx.ext.napoleon`.
@RobRuana could you check this please?

[2017-05-11 14:04] tk0miya commented on #3713
`import Y` in module `X` makes `Y` an attribute of `X` module. It does not mean converting `Y` to `X.Y` module.
On the other hand, `import X.Y` tries to load `X.Y` module, not `Y` attribute of `X` module.
As a result, it failed to import.

[2017-05-11 14:05] tk0miya commented on #3713
Now I'm closing this issue because this is not an issue of Sphinx.
Thanks,

[2017-05-11 14:05] #3713 closed, assigned to nobody

[2017-05-11 14:13] tk0miya commented on #1721
Now this is already resolved.
Please reopen if you still have same problem with newest version.

Thanks,

[2017-05-11 14:13] #1721 closed, assigned to nobody

[2017-05-11 14:22] tk0miya commented on #3722
Now sphinx already tries to strip a memory address like `at 0x000000` from arguments.
https://github.com/sphinx-doc/sphinx/blob/1.5.5/sphinx/util/inspect.py#L23

But, in celery's case, it seems the library customizes the representation format of each object.
https://github.com/celery/celery/blob/master/celery/app/utils.py#L73

So I think it is hard to strip the address from celery objects.

[2017-05-11 14:43] RobRuana commented on #3723
Yep, thanks!

[2017-05-11 14:51] RobRuana commented on #3723
I am more than happy to accept pull requests implementing this feature.

[2017-05-11 14:53] RobRuana commented on #3735
Ok, yeah this makes sense. I can add a conf flag to choose how exceptions are rendered. I'll probably have time to get to it this weekend.

[2017-05-11 15:14] bgeron commented on #3738
That was fast! Thanks.

[2017-05-11 16:25] tk0miya commented on #3586
Hi all,

As a quick look, there are no blocker for final release. Do you have any blockers or worries for release? If none, I will release 1.6-final at this weekend!
https://github.com/sphinx-doc/sphinx/milestone/23

Note: remaining issues and comments
- #3734 (circleci): This is an issue for developers. So this is not related with the release. It might be merged after final.
- #3736 (Refactor tes

[2017-05-11 16:41] jfbu commented on #3586
I have no blockers for release. I will (most certainly) be away of computers starting Saturday and up to possibly Thursday. So, in case of avalanche of LaTeX bug reports on Monday, if I don't react it is not due to hiding, but to not having internet... hiding will be for later, perhaps ;-)

[2017-05-11 16:43] tk0miya commented on #3586
Ah, I'd like to ask you about 1.5.6. Now we have some unreleased bug fixes on stable branch.
Is it worthy to release 1.5.6 and 1.6 at same time?

Pros:
* New major release might contain new bugs because 1.6 is much modified and much improved. And it has many incompatible changes also. So providing bug fix release is worthy. It is surely stable.

Cons:
* With our policy, releasing 1.6 means the EOL

[2017-05-11 16:54] jfbu commented on #3586
Hmm.. rather than big discourse I will just say +0 for 1.5.6... no strong opinion !

(deleting my two contradictory earlier comments; in the end I agree 1.5.6 has very few bug fixes, and that it makes sense to only release 1.6, and drop specific release of 1.5.6)

[2017-05-12 03:48] Rapptz opened #3739 ":meth: does not properly consider current class in a multiple module scenario"
Subject: Some cross references are hard to do or impossible when using autodoc with inherited-members and `:meth:`.

### Problem

This problem is a bit hard to describe since it involves using two different modules.

I am not sure if it intended behaviour, but I found the behaviour to be a little bit surprising and unintuitive with workarounds being a bit difficult to do.

Basically when using mul

[2017-05-12 05:44] bskinn commented on #3196
@tk0miya -- if the `-M` option is supposed to be part of the public command line API, it is not documented as such in the [current `stable` documentation](http://www.sphinx-doc.org/en/stable/man/sphinx-build.html#options).

[2017-05-12 09:25] ax3l opened #3740 "Select Extensions on Build Type"
Following #1570, there is currently no way to easily control enabling or disabling a sphinx *extension* based on the *build type* in `conf.py`.

The concrete example I would like is building math via `sphinx.ext.imgmath` for **epub** but using `sphinx.ext.mathjax` for **html**. The rst macros/"interfaces" are compatible but the output is build-type specific.

This is also troublesome when building

[2017-05-12 14:53] tk0miya commented on #3586
@jfbu Thank you for comment. I will release both 1.5.6 and 1.6 at this weekend (maybe, in sunday night in JST)

[2017-05-12 15:33] jfbu commented on #3586
Hi I will be offline until end of next week
(I will possibly be still online until tomorrow 10AM EST)
Wishing good success for 1.6 release !

[2017-05-12 15:49] tk0miya commented on #3586
I'd forgotten to mention that. I see, I'll try to cover your absent with all my effort!
Have a good offline life :-)

[2017-05-12 15:55] bskinn opened #3741 "Enabling multiple make targets and sphinx-build options in Windows make.bat (non-PowerShell)"
This may be an obsolete improvement when considered in light of #3145 and #3196, but I've put together modified versions of the [make.bat.new_t](https://github.com/bskinn/sphinx/blob/feature-winmake/sphinx/templates/quickstart/make.bat.new_t) and ~~~[make.bat_t](https://github.com/bskinn/sphinx/blob/feature-winmake/sphinx/templates/quickstart/make.bat_t)~~~ Jinja templates that enable handling of

[2017-05-12 20:46] jfbu opened #3742 "RTD builds of Sphinx own PDF docs do not do enough pdflatex runs"
From http://readthedocs.org/projects/sphinx/builds/5413951/ one sees

[code]

but there should be 2 `pdflatex` runs after the `makeindex`: else there will (and is) no ``index`` entry at end of table of contents, as one can confirm at https://media.readthedocs.org/pdf/sphinx/1.6-release/sphinx.pdf, and this applies also to the bookmarks of the pdf.

I think the back links from the index are ok from

[2017-05-12 22:25] njsmith opened #3743 "Consider switching py:function and py:method to supporting different function types using options instead of directives?"
One source of frustration I've run into when using Sphinx to document Python projects is this: out-of-the-box, Sphinx's `py` domain has directives for `function`, `method`, `staticmethod`, `classmethod`, `decorator`, and `decoratormethod`. But this leaves a bunch of common Python types that it doesn't support: async functions/methods, abstract functions/methods, context managers, async context man

[2017-05-13 03:02] Rapptz commented on #3743
There is e.g. [`sphinxcontrib-asyncio`](http://pythonhosted.org/sphinxcontrib-asyncio/) which does something similar. One problem I've encountered when using it is that it doesn't work very well with Sphinx's autodoc module but I suspect with proper support in the module it'd be a non-issue.

[2017-05-13 03:46] njsmith commented on #3743
Re: sphinxcontrib-asyncio: [I'm aware](https://sphinxcontrib-trio.readthedocs.io/en/latest/#acknowledgements) :-). (And I don't know what problems you had with sphinxcontrib-asyncio, but as far as I know sphinxcontrib-trio integrates nicely with autodoc; if you run into any problems then I'd certainly like to know.)

[2017-05-13 03:52] tk0miya commented on #3731
Now this was already fixed by #3732. So I close this.
Thanks!

[2017-05-13 03:52] #3731 closed, assigned to nobody

[2017-05-13 06:10] tk0miya commented on #3742
I might be wrong, but the source code of readthedocs is hosted at https://github.com/rtfd/readthedocs.org .
So you should report this into the repository.

Thanks,

[2017-05-13 06:27] jfbu commented on #3742
This appears to be indeed a [general RTD issue](https://github.com/rtfd/readthedocs.org/issues/1557). I will add a comment to the discussion there.

edit I moved my comment to https://github.com/rtfd/readthedocs.org/pull/1583#issuecomment-301231607 which seems better suited.

[2017-05-13 06:33] tk0miya commented on #3741
That's sounds good. All PRs are welcome! I've not used windows for long time, but I'll try to review your PR :-)

Yes, there are no testcases for that. Now we're testing only inside python.
And we don't have testing platform for windows. so it is hard to test batch files on CI server.
So please check the improvement manually.

It seems all of them are no longer supported even by Microsoft. So I th

[2017-05-13 06:40] tk0miya commented on #3320
Thank you for reporting!
Fixed at #3744.

[2017-05-13 06:40] #3320 closed, assigned to nobody

[2017-05-13 07:11] rahulkmr75 opened #3745 "TypeError"
Subject: while bulding documentation for essentia an error occured

### Problem
[code]

#### Procedure to reproduce the problem

[code]

#### Error logs / results

[code]

#### Expected results
Build the documentation successfully

### Environment info
- OS:  Ubuntu 16.04
- Python version: 2.7
- Sphinx version: 1.5.5
- <Extra tools e.g.: Browser, tex or something else>

[2017-05-13 07:24] tk0miya commented on #3740
I think this contains two proposal. The first one is switching math extension for builders. The another is switching whole of extensions for builders.

I think the first proposal is understandable and easy to improve. Because math extensions (imgmath, jsmath and mathjax) are used only to represent equations on HTML builders. The common part of the extensions (nodes, directives, representations for

[2017-05-13 07:28] tk0miya commented on #3745
[code]
It seems this is a bug of `sphinxcontrib-doxylink`. Could you report this into their project?

Thanks,

[2017-05-13 07:54] tk0miya commented on #3743
That sounds good. Indeed, the decorations of functions, methods and so on is orthogonal. I feel your approach is better than current way.
I don't know what way is best solution, but +1 for improving. We need many helps for improving and maintaining.

[2017-05-13 07:55] tk0miya commented on #3196
@bskinn Oh, I'd not noticed that. Could you file it as an issue?
Of course, PR is always welcome :-)

[2017-05-13 08:22] tk0miya commented on #3721
It came from first commit of CHANGES file: fb561d22f6
As a quick look, wikipedia says the templates of 2-clause BSDL uses "COPYRIGHT OWNER". So it seems nobody modifies the word. I don't know where the difference came from.

https://en.wikipedia.org/wiki/BSD_licenses#2-clause_license_.28.22Simplified_BSD_License.22_or_.22FreeBSD_License.22.29

Anyway, I don't have strong opinion for this. But I ca

[2017-05-13 08:50] tk0miya commented on #3574
Thank you for comment. Reopened for discussion.

Difficult to answer. I think both yes and no. docutils has two faces; as a specification of reStructuredText and as a reference implementations of rst converter. And Sphinx should follow the first one. But it is not needed to follow the another one.

In this case, I think promoting subtitle feature is behavior of converter's side.

I don't oppose to

[2017-05-13 09:05] tk0miya opened #3746 "Failed to build PDF with xelatex"
### Problem
- Failed to build PDF document using xelatex

#### Procedure to reproduce the problem
[code]

#### Expected results
- Succeeded to build PDF.

### Environment info
- OS: Mac
- Python version: 2.7 / 3.6
- Sphinx version: HEAD of 1.6-release branch
- MacTeX 20161009 (installed by homebrew-cask)

[2017-05-13 09:07] tk0miya commented on #3746
As a quick look, `latexmk` (v4.45) expects `-xelatex` option to build PDF using XeLaTeX.
I succeeded to build PDF by replacing the option in generated Makefile to `-xelatex`.
[code]

[2017-05-13 09:12] jfbu commented on #3746
I am still here ;-) and will give a look now.

[2017-05-13 09:13] tk0miya commented on #3746
I also got similar error for `latex_engine = "lualatex"`.
[code]
And also fixed by replacing `-pdflua` option by `-lualatex`.

@jfbu  In `sphinx/texinputs/Makefile_t`, the options strings of `LATEX` and `PDFLATEX` are different. Is this intended?
[code]

[2017-05-13 09:15] jfbu commented on #3746
Yes, for lualatex LATEX produces dvi files, PDFLATEX produces directly pdf files.

For xelatex, intermediate runs by latexmk is much faster because it produces xdv, not pdf files. The pdf is produced on last run. Because there is no viewer for xdv format, there is no difference for LATEX and PDFLATEX for xelatex. We only produce (finally) pdf.

[2017-05-13 09:16] tk0miya commented on #3746
@jfbu Thanks, but our release is not important so much. Please say "time up" freely and easily. It's not big deal to postpone the release. Nobody hurries us!

[2017-05-13 09:18] jfbu commented on #3746
I have TL2013 and TL2014 on my computer. I will make sure options for Latexmk are fine there (for final TL2014, it is Latexmk, 5 February 2015. Version 4.43a). I will check with 2013 too.

[2017-05-13 09:32] jfbu commented on #3746
Documentation is at http://personal.psu.edu/jcc8/software/latexmk/versions.html

Indeed it is big error on my part that I tested only with up-to-date latexmk. (see item 5. in 4.52c)

Will fix.

[2017-05-13 09:32] tk0miya commented on #3746
The history of latexmk says in `V. 4.52b`:

http://personal.psu.edu/jcc8/software/latexmk/versions.html

And there are no descriptions on manuals before v4.52b.

[2017-05-13 09:34] tk0miya commented on #3746
Synchronicity!? we got same answer at same time :-)

[2017-05-13 11:34] jfbu commented on #3746
The [latexmk history](http://personal.psu.edu/jcc8/software/latexmk/versions.html) is indeed very useful. ``-lualatex`` option was added in July 2013 (4.37)  Although our doc says we support starting with February 2014 Ubuntu version of TeXLive2013,  I thought it was a bit limiting. So at #3749 I have done it in a way which should work with even older releases.

Now I have tested it works with Lat

[2017-05-13 12:29] ccmaymay commented on #3174
Thanks so much!

[2017-05-13 12:44] birkenfeld commented on #3721
(IANAL.) There is "copyright holder" already in the first line of that paragraph, so it seems reasonable to use "holder" everywhere.

On the other hand, [the spdx.org text](https://spdx.org/licenses/BSD-2-Clause.html) indicates (in red) that the two passages can be replaced with actual name(s), as it is done in the FreeBSD license, so I don't know how useful it would be.

[2017-05-13 14:00] tk0miya commented on #3746
Fixed by #3749

[2017-05-13 14:00] #3746 closed, assigned to jfbu

[2017-05-13 14:13] tk0miya commented on #3721
Thank you for comment. I made for this. Please approve this :-)

[2017-05-13 15:20] tk0miya commented on #2557
In #2961, we improve `autodoc_mock_imports` and mock on demand.
So I think this is already fixed at HEAD of master branch.
Could you try this please?

[2017-05-13 15:38] #3721 closed, assigned to nobody

[2017-05-13 16:04] tk0miya commented on #3721
👍

[2017-05-13 16:36] tk0miya commented on #3697
IMO there are no way to obtain the last updated time of docstrings. So Sphinx could not detect the updates...
I guess rewriting docstings is happened only on developers' local.
How about using `make clean html` instead?

[2017-05-13 16:47] tk0miya commented on #3178
Now I close this because the proposal was rejected at #3278.
Thank you for proposal.

[2017-05-13 16:47] #3178 closed, assigned to nobody

[2017-05-13 16:53] Naereen commented on #3178
It's alright.

I didn't have the time to implement this feature as a sphinx extension, sadly.

[2017-05-14 02:42] bskinn opened #3751 "The '-M' commandline option to sphinx-build is not documented."
The `-M` commandline option to `sphinx-build`, discussed e.g. [here](https://github.com/sphinx-doc/sphinx/issues/3196#issuecomment-266178346) under #3196, is not documented on the [sphinx-build docs page](http://www.sphinx-doc.org/en/stable/man/sphinx-build.html#options).

Documentation of `-M` is also not present on the [`sphinx-quickstart` 'invocation' doc page](http://www.sphinx-doc.org/en/stab

[2017-05-14 02:43] bskinn commented on #3751
@tk0miya I would add the docs entry myself, but I don't think I know enough about its under-the-hood behavior of the option to do a good job of it.

[2017-05-14 04:28] jawahar273 commented on #3697
I forgot to add one more thing there is a warning display when i use `make clean html`  or some times
`make html`

pntl.tools.Annotator.getSennaTagBatch is a function I use in my code and if i have checked more two or three time i could not understand it

[code]

[2017-05-14 05:47] getreu commented on #3574
I found the following conventions in
[frontmatter.py](http://docutils.sourceforge.net/docutils/transforms/frontmatter.py)
[code]

[2017-05-14 14:40] tk0miya commented on #3586
Now I get a new pull request for 1.6, #3718.

At first, I'm going to release 1.5.6. After that, I will take a look the PR.

[2017-05-14 15:07] bskinn commented on #3741
@tk0miya This all sounds good to me.  I actually have a few more improvements that I want to include now, so I think I'll just wait until the v1.6 release is made, and then merge into `stable` per your (2).

I agree, that technically it may be more proper to target at `master`, but it doesn't touch the internals of Sphinx at all; it's a tooling augmentation more than anything, and is accordingly p

[2017-05-14 15:52] tk0miya commented on #3586
I just released 1.5.6 as the final version of 1.5.x series!

BTW, about the review of #3718 and 1.6 release, I will do them at tomorrow or the next day.
(Sorry, I could not take enough time for releasing...)

[2017-05-15 06:35] ArthurFlag opened #3752 "Generate different outputs from single source for different audiences"
Hello all and thanks a lot for creating this excellent piece of software.

I'm trying to find information on Sphinx's ability to tag certain bits of documentation as targeted for specific audiences and later build the output for each of these audiences, filtering out the tags of my choices.

That would allow me to generate several versions of my docs while keeping it single-source.

Example:

[cod

[2017-05-15 12:03] bskinn commented on #3752
I think what you want is already implemented as the [`.. only::` directive.](http://www.sphinx-doc.org/en/stable/markup/misc.html#directive-only):

[2017-05-15 12:35] ArthurFlag commented on #3752
Hi Brian,

Thanks a lot I didn't see this option, this is perfect!

[2017-05-15 12:35] #3752 closed, assigned to nobody

[2017-05-15 15:38] tk0miya commented on #3752
FYI: only directive has some troubles when it contains sections and reference targets (refs: #1488, #2143 and so on).
Please take care!

[2017-05-15 15:54] ArthurFlag commented on #3752
Thanks Takeshi, very good to know... and... also quite a pity that this issue seems complicated to fix. I guess a lot of us will have to learn how to live with this for a while.

[2017-05-15 16:04] tk0miya commented on #3752
From design of Sphinx, it is hard to fix behavior of only directive (IMO, it's impossible!).

But, for some case, the extension introduced at #2150 might help you. It also has restriction, but it behaves as you expected.

[2017-05-15 16:20] tk0miya commented on #3574
I know it. But I'll say again, we consider that promoting subtitle feature is behavior of converter's side. So we make it disabled in Sphinx.

[2017-05-15 16:22] tk0miya commented on #3751
Thank you for post. I will take a look. (I also do not know about the option...)

[2017-05-15 16:37] tk0miya commented on #3697
As a quick look, there are no strange notations...
Could you try with `-vvv` option. Then, you'll see the internal mark-ups which autodoc generates.

[2017-05-15 17:55] jawahar273 commented on #3697
could u brief that cli again
[code]

[2017-05-15 18:53] travisspencer commented on #3721
Thanks @tk0miya and @birkenfeld for this fix!

[2017-05-16 00:25] natke commented on #591
Any updates on this one? Section numbering does look a little strange in HTML

[2017-05-16 03:45] tk0miya commented on #3739
Thank you for reporting.

In my short investigation:
`.. autoclass:: test.extra.B` is expanded to following notation internally:
[code]

As a result, `:meth:'foo'` is recognized as following:
* module: test (not `test.extra`, this comes from `currentmodule` directive)
* class: B
* reference target: foo

I don't know why autodoc ignores module name of `B` class. I feel it's bug of the autodoc (or p

[2017-05-16 03:46] tk0miya commented on #3697
ah, sorry. please give the option to `sphinx-build` command.
Through make command, you can do it with `SPHINXOPTS` variable:
[code]

[2017-05-16 03:55] tk0miya commented on #591
Please use `make clean html` instead.
I think much changes around doc-dependency manager are needed to fix this.

[2017-05-16 05:40] pri22296 opened #3753 "Feature Request: Fix any relative links on include"
### Problem
- Including README.rst in index breaks relative links. It would be nice if sphinx includes the documents    while handling any relative links.

### Environment info
- OS: <Win>
- Python version: 3.5
- Sphinx version: 1.5.5

[2017-05-16 06:20] tk0miya commented on #3652
sorry for late. +1 for adding new configuration.

Now Sphinx no longer control the footnote numbers by default.
* footnotes having specified numbers (ex. `[1]`): use the specified number as is.
* footnote having no specific numbers (ex. `[#]`): a footnote number is assigned by docutils per document. Sphinx simply use it.

Note: Sphinx does not uses a footnote counter on LaTeX. So this behavior mig

[2017-05-16 06:26] tk0miya commented on #3753
Do you mean `include` directive? If true, its implementation is on docutils. Please ask to them.
http://docutils.sourceforge.net/docs/ref/rst/directives.html#including-an-external-document-fragment

Note: The behavior is defined as following.

[2017-05-16 14:17] jawahar273 commented on #3697
what should i have to show  you
This is a big log to show

[code]

[2017-05-16 14:28] jessetan commented on #2078
There is a [nowidow](http://ctan.sharelatex.com/tex-archive/macros/latex/contrib/nowidow/nowidow.pdf) package for LaTeX that allows you to control the minimum number of lines before or after a page break. Easier to use than `\widowpenalty`.

You can add it via the `preamble` key.

[2017-05-16 14:40] shimizukawa commented on #3458
#3718 has been merged and [sphinx-1.6(.1)](https://pypi.python.org/pypi/Sphinx/1.6.1) has been released 🎉

For now, `sphinx.testing` is experimental feature.
Also, there is not enough documentation yet http://www.sphinx-doc.org/en/stable/devguide.html#unit-testing
However, I think it's time to close this ticket. We will update docs and implementations of `sphinx.testing`.

[2017-05-16 14:40] #3458 closed, assigned to shimizukawa

[2017-05-16 16:10] tk0miya commented on #3586
Finally, I just released Sphinx-1.6.1.
From now on, stable branch is used to maintain 1.6.x series.

Note: Because of PyPI's restriction, 1.6 becomes missing version. I'd uploaded wrong package versioned 1.6 by mistake. I just removed it, but It causes to prevent uploading new package as same filename again. sorry for my mistake.

[2017-05-16 16:15] tk0miya commented on #3586
1.6 contains many many changes:
* 23 incompatible changes
* 7 features removed
* 33 features added
* 29 bug fixed
* 15 deprecated

I think it is much improved since last major release.

Thank you for all your effort.

[2017-05-16 16:15] #3586 closed, assigned to nobody

[2017-05-16 16:31] pcav opened #3754 "Stylesheet: error in Sphinx 1.6"
Just upgraded, I get a new error:
Exception occurred while building, starting debugger:

[code]

[2017-05-16 16:34] tk0miya commented on #3697
`getSennaTagBatch` is rendered as following.
[code]

Certainly, it contains a field list which ends without a blank line.
We need to know where this field list comes from. Do you know it?

[2017-05-16 17:27] dhermes opened #3755 "1.6.1 incorrectly warns about dedent with literalinclude"
### Problem

Our [build][1] fails when [running][2] `sphinx-build` with the `-W` flag. An [example][3] would be

[code]

and viewing the [actually included][4] source, one can see that 4 space dedent is correct. (FWIW I tried 1-space dedent and it also failed.)

#### Procedure to reproduce the problem

[code]

#### Error logs / results

[code]

- Public link: [build][1]

#### Expected results

The

[2017-05-16 17:32] natke commented on #591
I still get section numbers appearing in the output even when I run make clean html.

[2017-05-17 06:56] pashango2 opened #3756 "Epub error, Entity 'mdash' not defined"
### Problem
When reST below code is built with Epub, `conf.py` does not write epub setting at all.

[code]

#### Error logs / results
an error appears at the top of the page.
[code]
xhtml code.
[code]

### Environment info
- OS: Linux
- Python version: 3.6
- Sphinx version: 1.6.1

[2017-05-17 07:45] staffan-einarsson commented on #3754
I'm getting something very similar when building HTML.
[code]
[code]

[2017-05-17 07:50] ghost opened #3757 "PyTango installation"
### Problem
Hi all. I want to install PyTango 9.2.1 using source code. But when I run installation script, I get error in terminal.

#### Procedure to reproduce the problem
This is bash script I'm using to install PyTango:
[code]

#### Error logs / results
After some time of compiling PyTango, this is what is showed in terminal:
[code]
In the file located  at /tmp/sphinx-err-qgXabO.log this is wha

[2017-05-17 09:05] ghost commented on #3757
P.S. For installing PyTango for python3, I didn't have this kind of error.
I found this link http://programtalk.com/vs2/python/12719/pytango/doc/mock_tango_extension.py/ where it is said " Patching tango._tango using sys.modules does not seem to work for python
version older than 3.5 (failed with 2.7 and 3.4)". Is it possible to overcome this problem so I could install PyTango for python 2.7 also?

[2017-05-17 09:40] ulsa commented on #3754
I have a similar problem:

[code]

Is the problem that nothing sets `css_files`?

[2017-05-17 11:03] stephenfin commented on #3586
fwiw, you can upload wheels and egg files using the same version - just not `tar.gz` files

[2017-05-17 11:38] pashango2 commented on #3740
I have similar problems as well. However, my problem is not just formulas.

- sphinxcontrib-mermaid
- sphinxcontrib-plantuml
- sphinx.ext.graphviz
- etc, etc, etc ...

It is a common problem that all Sphinx extensions that generate diagrams have.
We need to control the output format with a lot of Sphinx extensions.

The easiest way is to pass the 'buildername' to the `conf.py` global variable. and

[2017-05-17 13:34] tk0miya commented on #3586
Thank you for advice. But I uploaded both wheel and tarball....

[2017-05-17 13:43] tk0miya commented on #3757
Sorry, this is issues for Sphinx. so we can't support tango package.
Could you ask it on thier project?

[2017-05-17 13:46] ewjoachim opened #3758 "Traceback when running sphinx-build because SuppressWarning can use Sphinx.config before it's set"
Linked to #3267

### Problem
If conf.py creates a Warning (usually as a side effect from whatever conf.py does), then when the Config() object is instanciated (and just before it's attached to the Sphinx object) the warning is fired. Problem is, it's then filtered by the SuppressWarning filter that will try to access self.app.config. At this point, config is not set. Sphinx crashes.

#### Procedur

[2017-05-17 13:47] ewjoachim commented on #3758
If you need a hand for a PR, let me know. Thing is, I'm blocked from upgrading because of this.

[2017-05-17 13:55] tk0miya commented on #591
Really? I feel it is another problem. Could you file it as a new issue please?
I'd like to see your project. Please share it if possible

[2017-05-17 14:04] ghost commented on #3757
Ok, sorry,  I post it here because there was this line:

Anyway, thank you for response. :)

[2017-05-17 14:21] tk0miya commented on #3757
You're welcome :-)

[2017-05-17 14:21] #3757 closed, assigned to nobody

[2017-05-17 14:42] tk0miya commented on #3754
Fixed at 62614af. Could you check this please if possible?

[2017-05-17 14:42] #3754 closed, assigned to nobody

[2017-05-17 14:59] zapme opened #3759 "sphinx-bootstrap-theme issue"
Subject: sphinx-build -b html

### Problem
- Can't complete html build using bootstrap theme

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
Successfull build

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environment info
- OS: RH

[2017-05-17 15:06] tk0miya commented on #3759
Sorry for inconvenience. It was already fixed at #3754.
Thanks,

[2017-05-17 15:06] #3759 closed, assigned to nobody

[2017-05-17 15:11] grainednoise opened #3760 "Building documentation that uses sphinxcontrib.autohttp.flask fails after upgrading from Sphinx 1.5.8 to 1.6.1"
### Problem
- Building documentation that uses `sphinxcontrib.autohttp.flask` fails after upgrading from Sphinx 1.5.8 to 1.6.1

#### Procedure to reproduce the problem
[code]

#### Error logs / results

Error as reported on the console:
[code]

#### Additional info

Snippet from `conf.py`

[code]

- The bug seems to be fixed when you replace `app.domains` with  `app.registry.domains` in `sphinxcon

[2017-05-17 15:14] ulsa commented on #3754
One workaround is to install `sphinx==1.5.6`.

[2017-05-17 15:17] zapme commented on #3754
Checked, works for me.

[2017-05-17 15:19] tk0miya commented on #3756
Thank you for reporting.
Fixed at 9795dca.

[2017-05-17 15:19] #3756 closed, assigned to nobody

[2017-05-17 16:09] imphil opened #3761 "txtnode: AttributeError: 'NoneType' object has no attribute 'replace'"
I get an error "AttributeError: 'NoneType' object has no attribute 'replace'" when building a sphinx documentation. I didn't get that one before in Sphinx 1.5. How can I find the rst code location causing this issue?

#### Error logs / results

[code]

[code]
- <public link of unexpected result if you have>

#### Expected results
The code compiled fine with Sphinx 1.5.x

### Reproducible project /

[2017-05-17 16:21] tk0miya commented on #3760
As a quick look, `autohttp.flask` accessed the attribute of `app` instance directly to check domain is installed.
But it is not a public API of Sphinx, and it is not guaranteed.
Sphinx provides `app.setup_extension()` to load other extension. So the extension should use this instead.
http://www.sphinx-doc.org/en/stable/extdev/appapi.html#sphinx.application.Sphinx.setup_extension

Could you report

[2017-05-17 17:00] pcav commented on #3754
Confirmed. Thanks.

[2017-05-17 17:31] ax3l commented on #3740
maybe exposing the builder in general to `conf.py` would be way to go here? would you like to prepare a PR for that?

[2017-05-17 18:15] natke commented on #591
I had another look into this, and found that the documents I was importing had a sectnum directive, so that was the cause of my problem. Thank you for responding!

[2017-05-18 01:52] tk0miya commented on #3758
Thank you for reporting.
Fixed at ec50d01.

[2017-05-18 01:52] #3758 closed, assigned to nobody

[2017-05-18 03:20] pashango2 commented on #3740
I'm sorry, I made a mistake in correcting it.
To be exact, modify 'sphinx/config.py' and 'sphinx/application.py'.

If sphinx can pass `__buildername__` to the global variable of` conf.py`, We can write as follows.

[code]

Prepare PR if necessary.

[2017-05-18 06:37] Bernardrouhi opened #3762 "Option to Getting DocString as JSON"
Subject: Option to Getting DocString as JSON

### Enhancement
Why doesn't `body` block return **DocString** as **JSON** format instead of **HTML**?

I want to develop a customised template, and `body` block provides DocString in HTML format, but it's way much easier to work with JSON data since many DataView accepts JSON data and more flexible to customise the HTML layout as well.

[2017-05-18 08:20] juh2 opened #3763 "EPUB Validation error with Sphinx 1.6.1"
Subject: I get a lot of validation errors when validating an epub with epubcheck 4.0.2

### Problem

Sphinx does not produce valid epub.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zi

[2017-05-18 08:21] ewjoachim commented on #3758
Waw that was quick ! Thank you a **lot** for your reactivity. You folks are the best 🍰 ✨

[2017-05-18 10:12] jessetan opened #3764 "Hinting that code-block continues on next page?"
Tables with class longtable can contain page breaks. To hint the reader that the table is not finished, but continues on the next page, the last row on the first page reads "Continued on next page" and the first row on the next page reads "continued from previous page".
Is it possible to do something similar for the ``code-block`` directive? A few lines of code on a previous or next page may be ov

[2017-05-18 13:41] ralonsoh opened #3765 "sphinx 1.6.1 introduces an TypeError error"
Subject: sphinx 1.6.1 introduces an TypeError error

### Problem
Sphinx is throwing the following error:
2017-05-18 08:20:23.749452 |   File "/home/jenkins/workspace/gate-os-traits-docs-ubuntu-xenial/.tox/venv/local/lib/python2.7/site-packages/sphinx/themes/basic/../basic/layout.html", line 108, in template
2017-05-18 08:20:23.749476 |     {%- for css in css_files %}
2017-05-18 08:20:23.749492 | T

[2017-05-18 15:04] cdeil commented on #3765
Since today, I also see a TypeError from Sphinx (a different one than @ralonsoh ):
https://travis-ci.org/gammapy/gamma-cat/builds/233628422#L394
[code]
I don't think anything changed on our side, so I presume that error appeared because the build switched to Sphinx 1.6.1.

Let me know if you think this is not a Sphinx issue, or if it's a different issue and I should file a separate ticket.

[2017-05-18 15:12] tk0miya commented on #3765
Sorry for inconvenience.
The first TypeError was already fixed at #3754.

@cdeil Could you file that as another issue?

[2017-05-18 15:12] #3765 closed, assigned to nobody

[2017-05-18 15:15] cdeil opened #3766 "Sphinx 1.6.1 introduces another TypeError"
As mentioned at https://github.com/sphinx-doc/sphinx/issues/3765#issuecomment-302431914 , since today I'm getting this TypeError, which I presume is the result of a change to Sphinx 1.6.1 in our CI build:
https://travis-ci.org/gammapy/gamma-cat/builds/233628422#L394

[code]

Let me know if you think the error is outside Sphinx, or if there's something I can maybe to do try and help reproduce or un

[2017-05-18 15:15] cdeil commented on #3765
@tk0miya - OK, I've opened a new issue for my TypeError here: #3766

[2017-05-18 15:19] tk0miya commented on #3762
In sphinx, the builder module is used to build HTML, not HTML templates.
So please write your builder extension to do that. Then, you can handle raw document as doctree.

Thanks,

[2017-05-18 15:26] tk0miya commented on #3755
Thank you for reporting and sorry for inconvenience.
Fixed at dabd356.

[2017-05-18 15:26] #3755 closed, assigned to nobody

[2017-05-18 15:37] tk0miya commented on #3763
It might have been fixed at #3756.
Could you check it please? Or please share your document if possible.

[2017-05-18 16:38] tk0miya commented on #3740
Hmm? Is that real problem of yours?
AFAIK the extensions you listed are incompatible for each other. so you can't switch one to another.
For example, `sphinxcontrib-mermaid` provides `mermaid` directive. But `sphinxcontrib-plantuml` does not. It uses `plantuml` directive to mark up UML diagrams. So you'll see errors even if sphinx support switching extensions.

I'm worry about it breaks the increm

[2017-05-18 16:49] tk0miya commented on #3761
Same as #3709. This might be a bug of breathe.
Could you report this to their project?

[2017-05-18 16:49] #3761 closed, assigned to nobody

[2017-05-18 17:05] dhermes commented on #3755
Thanks @tk0miya. Would you like me to install from `HEAD` to verify or to wait until a release?

[2017-05-18 17:18] tk0miya commented on #3755
I confirmed it works well at local. But it would be nice if you also confirm this.
Anyway, we will release next bug-fixed version soon. So it's okay to wait it.

[2017-05-18 17:23] tk0miya commented on #3766
Thank you for filing!
As a quick look, this might have been caused by importing jinja2 library. I feel this is very strange.
Anyway, I'll take a look later.

[2017-05-18 17:57] ekpgh commented on #3696
For what it's worth, sphinxprettysearchresults was updated this week to v0.2.0, which works with Sphinx 1.5.

[2017-05-18 18:45] dhermes commented on #3755
Just confirmed via:

[code]

See [build][1].

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1962

[2017-05-18 20:32] TagnumElite opened #3767 "TypeError: issubclass() arg 1 must be a class"
Subject: I tried to `make html` but it failed

### Problem
- issubclass(x, enum.Enum) Exception: arg 1 must be a class

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[sphinx-err-l8jae957.txt](https://github.com/sphinx-doc/sphinx/files/1012353/sphinx-err-l8jae957.txt)

#### Expected results
Create an HTML version of the docs

### Reproducible project / your project
Tagnu

[2017-05-18 20:33] TagnumElite commented on #3767
I know what went wrong and all but I'll just leave this here just in case you need it!

[2017-05-18 20:39] chipx86 commented on #2822
Have people confirmed that this bug is fixed? I'm running 1.6.1 and option references still don't work unless I use the form of:

[code]

These do not work:

[code]

And while perhaps not intended behavior, referencing options in another document by first defining a `.. program::` (as a shortcut for prefixing each option with the program name) works anywhere within a Sphinx doc set, but there's in

[2017-05-18 20:39] amueller opened #3768 "autodoc tries to import classes as modules?"
After updating sphinx and numpydoc, I get

[code]
for every class in the package.

It looks like the modname is wrong as it is the class and not the module. I'm not sure what should be imported at this point, though. The class? Importing a method doesn't seem to make a lot of sense...

[2017-05-18 20:54] #3767 closed, assigned to nobody

[2017-05-18 20:54] TagnumElite commented on #3767
Fixed in the new version. My Bad

[2017-05-18 22:06] cdeil commented on #3766
PS: here I see similar errors, but the tracebacks are different:
* Python 3: https://travis-ci.org/gammapy/gammapy/jobs/233790108#L626
* Python 2: https://travis-ci.org/gammapy/gammapy/jobs/233790107#L665
I thought I'd mention it in case it helps you figure out the issue.

[2017-05-18 22:29] simonklb commented on #2468
Came across this as well. Solved it by running `sphinx-apidoc` with `SPHINX_APIDOC_OPTIONS=members` and then built the coverage report.

Of course, this will force you to separate building the coverage and other docs if you want to include the undocumented stuff elsewhere.

[2017-05-18 23:28] pashango2 commented on #3740
I apologize for being confused by my poor English ability.
The problem is simple.

Mermaid will output graphics in JavaScript as standard.
When outputting in HTML, output with JavaScript.
When outputting with Epub, output with Png.
I just want to do it.

I'd like to write like this in 'conf.py'.

[code]
I also want to separate the output for each builder with other extensions.

appreciate the repl

[2017-05-18 23:59] shimizukawa commented on #3767
Yes, it was fixed by #3732 and has been shipped as sphinx-1.5.6.
Thanks for your reporting and fix confirmation!

[2017-05-19 01:39] shimizukawa commented on #3766
Unfortunately, in my environment I could not reproduce that problem.
There are many related factors, so it seems difficult to narrow down the cause.
I hope someone will make the smallest sphinx-project that will reproduce the problem without using CI.

[2017-05-19 03:21] carlossc opened #3770 "Build fails when a "code-block" has the option emphasize-lines and the number indicated is higher than the number of lines"
[test.zip](https://github.com/sphinx-doc/sphinx/files/1013037/test.zip)
### Problem
The process of building the output of a Sphinx project breaks when a `code-block` directive has the option `:emphasize-lines:` and one of the numbers indicated is higher than the number of lines in the code-block

#### Procedure to reproduce the problem

1. Download and uncompress the attached zip file [test.zip](h

[2017-05-19 03:25] carlossc commented on #3770
This bug is minor. However, as I am not experienced at all with Python, it took me a while to figure out that this was the problem. I thought it was due to upgrading to the latest version of Sphinx.

I already have the solution. I am going to create a pull request for this.

[2017-05-19 05:53] jawahar273 commented on #3697
i am sry, i am new to this but i can provide links of my projects
 [practNLPTools-lite](https://github.com/jawahar273/practNLPTools-lite),
[Annotator.getSennaTagBatch](https://github.com/jawahar273/practNLPTools-lite/blob/master/pntl/tools.py)
and [index.rst](https://github.com/jawahar273/practNLPTools-lite/blob/master/api/index.rst), [pntl.rst](https://github.com/jawahar273/practNLPTools-lite/blo

[2017-05-19 06:58] cdeil commented on #3766
Locally I see a different error with Sphinx 1.6.1, which I think is a problem in the `astropy-helpers` package we use for Sphinx extensions, so I filed an issue there: https://github.com/astropy/astropy-helpers/issues/302

[2017-05-19 07:29] Ydmir commented on #3697
I have something similar to this problem, running _make clean html_ does not update the text in the html. It still uses an old installation of the source, even though I have removed and reinstalled my package.

Do sphinx have a hidden cache somewhere (except for in .build)?

[2017-05-19 09:22] danrings commented on #1210
Is there a toggle to switch this "enhancement" off? It creates quite a lot of extra work to change all existing labels which used to be unique inside a single file but are now supposed to be unique across all files. I think there is a stronger use case for NOT referencing across files by default.

[2017-05-19 12:56] bsipocz opened #3771 "AttributeDocumenter.method_types removed without deprecation"
Using the latest 1.6.1 sphinx release, we've into issues when using our ``sphinx-automodapi`` package (or it's precursor files in ``astropy-helpers``).

[code]

The removal of method_types were done in
https://github.com/sphinx-doc/sphinx/commit/3e2255cd64d96adbd53b3bd58d14019c6a2da0df
 part of https://github.com/sphinx-doc/sphinx/pull/3644

[2017-05-19 13:50] bsipocz commented on #3771
Given that the code part that runs into this issue is there to provide a workaround for https://github.com/sphinx-doc/sphinx/pull/1843, my easy fix is to check the sphinx version number and have that part run only for <1.5

[2017-05-19 13:50] #3771 closed, assigned to nobody

[2017-05-19 14:03] jawahar273 commented on #3697
Exactly  each  time I execute 'make html' it gives same content even if I update the doc string

[2017-05-19 14:56] tk0miya commented on #3766
Thank you for invenstigation.
Do you mean this is not a bug of Sphinx?
If so, please close this issue.

[2017-05-19 15:01] tk0miya commented on #3768
Could you share your project to reproduce the error?
It would be nice if you provide small reproducible examples :-)

Thanks,

[2017-05-19 15:03] amueller commented on #3768
The project is scikit-learn. I'll try to extract a minimal example, but
I'll be traveling.

Sent from phone. Please excuse spelling and brevity.

On May 19, 2017 11:01 AM, "Takeshi KOMIYA" <notifications@github.com> wrote:

[2017-05-19 15:05] cdeil commented on #3766
No, I have no clue if this is a bug in Sphinx, or Jinja2 or one of the Sphinx extensions we have.
I don't understand the issue from the traceback.

Would suggest to leave the issue open for now, and see if others run into the same or a similar issue ...

[2017-05-19 17:41] jamtwister opened #3772 "'str object' has no attribute 'filename'"
Subject:
When calling 'make html' at my project following exception is raised:
jinja2.exceptions.UndefinedError: 'str object' has no attribute 'filename'

### Problem
Everything worked fine with version 1.5.5, now I upgraded to version 1.6.1.
The error occures when sphinx starts to write output.

Exception occurred:
File "c:\python35\lib\site-packages\sphinx\util\osutil.py", line 61, in relative_u

[2017-05-19 19:35] DaveParillo commented on #3772
This is also breaking builds in [runestone](https://github.com/RunestoneInteractive/RunestoneComponents), if that helps.

[2017-05-19 20:25] Blendify commented on #3289
Now that sphinx 1.6.1 is out I had another test but I am still getting errors:

[code]

[2017-05-19 20:43] jfbu commented on #3289
Hi, you need to enhance your TeX install with the fontawesome package...

http://www.ctan.org/pkg/fontawesome

but installing a LaTeX font package is sometimes complicated. Best is
to proceed via the package manager of your tex install.

... if I remember correctly (I am sort of offline now and can't check the
thread on the web interface) I proposed an alternative for the missing
"media control ch

[2017-05-19 22:05] jputrino opened #3773 "NoneType error triggered by sphinx theme in v1.6.1"
Subject: NoneType error breaks builds in v1.6.1

### Problem
When I try to build html documentation, a NoneType error is generated that breaks the build.

Note: I ran the command in a docker container based on Ubuntu xenial and on Mac OS Sierra, with the same results. It's also breaking the build in travis here:
https://travis-ci.org/F5Networks/f5-openstack-heat-plugins/builds/234084450

#### Proc

[2017-05-20 00:00] theacodes commented on #3754
Any idea when this will be released? It's currently breaking the build for packaging.python.org. (I'm going to pin to 1.5.6 in the meantime)

[2017-05-20 00:03] dopplershift opened #3774 "Incremental HTML building broken"
Subject: Second build without clean (i.e. `make html`) fails with:
[code]
### Problem
I'm trying to use sphinx-gallery together with sphinx's link check capability. This fails with the above message, but I'm readily able to reproduce without either.

#### Procedure to reproduce the problem
1. `make clean html`
2. Edit a python file (NOT just an rst file)
3. `make html`

#### Error logs / results
F

[2017-05-20 00:04] dopplershift commented on #3774
For my particular failure above, I put a print in the sphinx code for `docnames` and `docname` and got:

Docnames: ['api/generated/metpy.calc.density', 'api/generated/metpy.calc.virtual_temperature'] Docname: api/generated/metpy.calc.density

Seems like at that point someone is treating a list like a dictionary.

[2017-05-20 07:59] jfbu commented on #3742
Temporary workaround at 6422f7b. Opened a new ticket https://github.com/rtfd/readthedocs.org/issues/2857 at RTD.

(fixed flake8 at b18a3f82b476e04a88e641134919b643facb9ea1)

[2017-05-20 07:59] #3742 closed, assigned to jfbu

[2017-05-20 09:12] jfbu commented on #3764
Thanks for feature request, yes it is possible to do something similar.

Rather than "Continued on next page", an alternative is to use a dashed line for the bottom of the framing, and the top rule of the frame on continuation page. Or even to leave it without any framing.

Do you have an opinion about this?

Also @tk0miya  should we make effort to provide option to keep former design?

Currently

[2017-05-20 14:35] szabolcsdombi opened #3776 "Literalinclude adds empty lines"
Subject: `.. iteralinclude::` adds empty lines

### Problem
- I get a random number of empty lines on the end of the file included

Files:

- The [.rst file](https://raw.githubusercontent.com/cprogrammer1994/ModernGL/master/docs/Examples/01_hello_world.rst)
- The [result](https://moderngl.github.io/Examples/01_hello_world.html)
- The [included file](https://github.com/cprogrammer1994/ModernGL/blob

[2017-05-20 15:05] jfbu commented on #3776
It is not that empty lines are added, but the line spacing is shorter for the code itself compared to the code numbering. I tried a minimal project using the files you provided and using

    extensions = [
        'sphinx.ext.autodoc',
        'sphinx.ext.napoleon'
    ]

    html_theme = 'sphinx_rtd_theme'

in conf.py.

![capture d ecran 2017-05-20 a 16 57 08](https://cloud.githubusercontent.com

[2017-05-20 17:29] szabolcsdombi commented on #3776
I had a css but I removed it.

I just created a small [repo](https://github.com/cprogrammer1994/sphinx-literalinclude) with the necessary files.

I updated my sphinx to 1.6.1 but the problem persists.

I also tried with a fresh new python install:

[code]

same problem.

[2017-05-20 17:30] szabolcsdombi commented on #3776
I also tried `CRLF` and `LF` line endings on the `01_hello_world.py` but no use.

[2017-05-20 17:47] szabolcsdombi commented on #3776
No extra lines were added. Those were just shifted down due to a bug in `sphinx_rtd_theme`. ( [issue](https://github.com/rtfd/sphinx_rtd_theme/issues/417) )

Closing the issue, thank you.

[2017-05-20 17:47] #3776 closed, assigned to RobRuana

[2017-05-20 19:14] jfbu commented on #3776
ah ok I probably wasn't using the version of ``sphinx_rtd_theme`` which is displaying the issue. Good that you figured it out at https://github.com/rtfd/sphinx_rtd_theme/issues/417

[2017-05-20 20:11] RenaKunisaki opened #3777 "UnicodeDecodeError when building from Arch repo"
Subject: Attempting to install python-sphinx package in Arch fails.

### Problem
- Installation fails with several UnicodeDecodeErrors.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
See attachment: [sphinx.log.txt](https://github.com/sphinx-doc/sphinx/files/1016479/sphinx.log.txt)

#### Expected results
Package builds and installs successfully.

### Environment info
-

[2017-05-21 00:53] tk0miya commented on #3770
Thank you for reporting.
Fixed at a43cac5.

[2017-05-21 00:53] #3770 closed, assigned to nobody

[2017-05-21 00:55] tk0miya commented on #3777
What locale did you use? Our testing expects locales which allows UTF-8 encodings (for example, `C.UTF-8`).
Thanks,

[2017-05-21 01:06] tk0miya commented on #3774
Sorry for inconvenience.
Fixed at 16d0569.

[2017-05-21 01:06] #3774 closed, assigned to nobody

[2017-05-21 01:07] tk0miya commented on #3773
Sorry for inconvenience.
That was already fixed at #3754.

[2017-05-21 01:07] #3773 closed, assigned to nobody

[2017-05-21 04:43] RenaKunisaki commented on #3777
`LANG=en_CA.UTF-8`

[2017-05-21 13:06] pashango2 opened #3778 "Multiple lines in bullet list are not applied"
### Problem
The bullet list is not correctly converted to HTML when converting the following rest code to HTML.

[code]
output HTML.
[code]

Expected HTML output.
[code]

### Environment info
- OS: OpenSUSE
- Python version: 3.6
- Sphinx version: 1.6.1 & 1.5.3

[2017-05-21 13:20] tk0miya commented on #3772
Sorry for inconvenience.
BTW, what theme do you use? This might be related with additional css file. So I'd like to know it.

Thanks,

[2017-05-21 13:22] jfbu commented on #3778
This is the expected output. (some people hardwrap their sources, other don't, imagine if line breaks in output were decided by line breaks in input).

Perhaps this is what you need:

[code]

It produces

[code]

[2017-05-21 13:45] tk0miya commented on #3772
I'd reproduced with runestone.

This is a minimal reproducible templates:
[code]

[2017-05-21 13:52] tk0miya commented on #3772
Fixed at c8d049b.
Thank you for reporting

[2017-05-21 13:52] #3772 closed, assigned to nobody

[2017-05-21 16:55] bgeron commented on #3652
Not exactly what I meant. I want footnotes numbered per page for my project, and I think some other people want footnotes per chapter for Sphinx's `manual` documentclass. I don't know if there's demand for all the alternatives you propose.

- Footnotes per page are clear, but only really work when there is only ever one reference.
- Footnotes per chapter references to the same footnote from multip

[2017-05-21 18:01] dopplershift commented on #3774
Thanks for the quick fix!

[2017-05-21 23:21] pashango2 commented on #3778
I appreciate the reply.
Everything went well.Thank you

[2017-05-21 23:21] #3778 closed, assigned to nobody

[2017-05-22 01:21] goosemania opened #3779 "'ImportError' in sphinx.ext.autodoc due to broken 'sys.meta_path'"
### Problem
`ImportError` due to incorrectly maintained `sys.meta_path` in `sphinx.ext.autodoc`

#### Procedure to reproduce the problem
- use autodoc: `extensions = ['sphinx.ext.autodoc']`
- in your docs use objects so that one will reference the other, e.g. content of index.rst:
[code]
- run `sphinx-build  -b html -d _build/doctrees  -W . _build/html`

#### Error logs / results
[code]

### Root

[2017-05-22 02:59] bskinn opened #3781 "Documentation: Double hyphens on long options in invocation.html compiled as endashes in HTML builder"
[code]

[2017-05-22 04:45] jichenjc opened #3782 "encounter ''NoneType' object is not iterable'"
https://review.openstack.org/#/c/463446/3
had this issue, master branch didn't have issue while I did not change too much stuff in this patch, might be related to some recent sphinx changes ?

 File "/home/jichen/stack-forge-nova-zvm/nova-zvm-virt-driver/.tox/docs/local/lib/python2.7/site-packages/sphinx/builders/__init__.py", li    ne 440, in _write_serial
 34     self.write_doc(docname, doctree)

[2017-05-22 04:52] cdwilson commented on #2557
@tk0miya I don't think #2961 fixes this issue.  Based on the feedback from @rjarry it sounds like `autodoc_mock_imports` will automatically mock everything it finds between the module explicitly  specified and the root of the module hierarchy.  There appears to be no way to tell autodoc to stop this behavior, which is not always wanted...  It would be nice if there was a way to tell `autodoc_mock_

[2017-05-22 08:34] jessetan commented on #3764
The [`breakable` library](http://ctan.sharelatex.com/tex-archive/macros/latex/contrib/tcolorbox/tcolorbox.pdf) of tcolorbox produces nice results as you described.
Unfortunately we currently use a box without a frame and only background color to indicate code-blocks, so we'd need to find a different way to indicate a block continues o the next page.

[2017-05-22 09:47] yvn11 opened #3783 "Doc in decorated function not generated"
### Problem
- Function below, doc isn't generated in with parameters HTML, only function signature is generated.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
[code]
### Environment info
- OS: Mac
- Python version: 2.7.13
- Sphinx version: 1.6.1

[2017-05-22 10:12] jfbu commented on #3652
Hi, peripheral to this discussion, I just want to point out that there is to the best of my knowledge no standard LaTeX document class which numbers footnotes per page. This is certainly not the case of the article class, and there is no option to achieve that with this class.

There are LaTeX solutions though:

https://tex.stackexchange.com/questions/1656/footnote-counter-would-like-to-restart-fr

[2017-05-22 10:15] jfbu commented on #3652
Also this:

http://www.tex.ac.uk/FAQ-footnpp.html

however this is only theoretical reference for general LaTeX background

because currently Sphinx latex writer enumerates as you said beforehand; besides we use a custom footnote package to achieve things which are not otherwise obtainable via LaTeX and other footnote packages

[2017-05-22 10:46] cdunklau commented on #1672
EDIT: This doesn't appear to be the same issue, my problem appears to stem from napoleon, not autodoc. Investigation below remains.

I ran into this. https://github.com/cdunklau/sphinxattrissue has a not-so-minimal reproduction. @birkenfeld could you reopen and investigate? I spent a few hours on this, and I'm at a loss for why it's happening.

This commit cdunklau/sphinxattrissue@eff18e023250459d

[2017-05-22 10:54] bgeron commented on #3652
Apologies, I was wrong. Apparently Sphinx's current mechanism tricked me well into thinking that per-page was normal :)

I don't really care particularly about per page numbering, just that it is consistent. So something like:

[code]

[2017-05-22 11:22] cdunklau commented on #1672
I've narrowed this down. I no longer believe this has anything to do with autodoc or napoleon.

cdunklau/sphinxattrissue@e6a9bca0a1c218c5bbfdb8d35025da6de0815da1 has a minimal reproduction, details are in minimal/README.rst

The markup itself:

[code]

[2017-05-22 13:25] bskinn commented on #3783
It's a known side-effect that decorators 'mask' the docstrings of the wrapped functions. This interferes with Sphinx's ability to discover documentation there.

The first workaround to try is to use the [`functools.wraps` decorator](https://docs.python.org/3/library/functools.html#functools.wraps), one action of which is to 'replicate' the docstring of the decorated function into the final, wrappe

[2017-05-22 14:40] victorpaleologue commented on #3139
It is currently reported there, in their project: https://bitbucket.org/birkenfeld/sphinx-contrib/issues/172/doxylink-typeerror-sequence-item-0

[2017-05-22 14:50] stxlvt opened #3784 "Add support for verifying content downloaded from mathjax_path with the integrity html attribute"
In order to guard web users from compromised CDN servers (which is a frightening concept), Mozilla and Chrome has added support for the browser to [verify the integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) of scripts and/or css used in a webpage by adding one or more space-separated hash digests to the `integrity` attribute of the `<script>` tag, like so:

[2017-05-22 14:59] tk0miya commented on #3763
I got reproducible project directly.
And fixed at #3756 and 2387d51.

Thank you for reporting!

[2017-05-22 14:59] #3763 closed, assigned to nobody

[2017-05-22 15:02] tk0miya commented on #3766
I also could not reproduce this error.
IMO, this might be not a bug of sphinx. But I'll keep this opened for a while.
Thanks,

[2017-05-22 15:08] enkore commented on #1918
A workaround would be to search-index all index entries, not just those that came from special domain documentation functions. See https://github.com/borgbackup/borg/issues/1485#issuecomment-303127961 for an example.

[2017-05-22 15:12] tk0miya commented on #3782
Sorry for inconvenience.
That was already fixed at #3754.

[2017-05-22 15:12] #3782 closed, assigned to nobody

[2017-05-22 15:14] tk0miya commented on #3754
I'm very sorry. Now I don't have enough time for new release.
It might be at this weekend.

[2017-05-22 16:18] bgeron opened #3785 "Multiple maths equations are right-aligned by default"
### Problem

When I write multiple equations in a `math` directive, they are right-aligned by default.

### Procedure to reproduce the problem
Proof of concept, [full source rst](https://github.com/bgeron/sphinx-poc/blob/math-right-align/index.rst), [output PDF](https://github.com/bgeron/sphinx-poc/blob/math-right-align/latexpdf-out.pdf). Source rst:

    Default behaviour:

    .. math::

[2017-05-22 17:04] jfbu commented on #3785
off-topic but for info: the ``aligned`` environment of amsmath has had for years a long-standing bug, which was the reason for the `\!` negative space. This has now been fixed by the LaTeX team, in a way which maintains backwards compatibility with people using `\!` in the past. At Sphinx, we need the `\!` because not all project have up-to-date TeX installations.

[2017-05-22 17:11] jfbu commented on #3785
a bit less off-topic but for people reading this: if you simply use one ``math`` directive per equation you obtain the centering. But a better mark-up is

[code]

thus, currently, multiple equations per single ``math`` directive is thought out for aligning things with user positioned `&`.

Your proposal is interesting but has complications: what if the equations contain some matrices using the `&`

[2017-05-22 17:16] bgeron commented on #3785
That's a good point, I didn't consider that some people might want to use `&` in a centered environment still.

Those people wouldn't be any worse off with my current proposal, but a proposal that would fix that case as well would be even better.

But I would definitely not propose parsing TeX. That would be intrinsically buggy; TeX isn't parseable, only executable.

[2017-05-22 18:15] jputrino commented on #3773
thanks @tk0miya!

[2017-05-22 19:10] jfbu commented on #3652
I will return to this issue, but for time being you can add this to your `conf.py`

[code]

and it should make LaTeX ignore the footnote numbers hard-coded in the tex file.

This works in simple case, and might be enough for your use case. Needs sufficiently recent Sphinx, I tested it briefly with 1.6.1.

The effect for ``'howto'`` documents is continuous numbering independently of how the `rst` s

[2017-05-22 19:23] jfbu commented on #3652
Actually you need a bit more
[code]
I noticed an issue with a footnote from inside a caption of a code-block and there are some complaints by hyperref. It might be enough for your use case for the time being.

[2017-05-22 20:35] jfbu commented on #3764
as proof of concept can you try this:

[code]

a bit scary... I needed to copy over original code to insert the modifications, which is only about 15% of the above. You can find the strings "continued on next page" and "continued from previous page" in the above and customize them.

In my brief testing, it works for me.

[2017-05-22 20:44] jfbu commented on #3764
notice that the strings ``(continued on next page)``, and ``(continued on previous page)`` are positioned horizontally just to left of the right frame, or to the left of where the background color ends. Perhaps you want them moved less to the right by an amount of ``\fboxsep``, just add ``-\fboxsep`` to the various lines with ``\moveright``. Then the ``)`` will be positioned at end of code lines.

[2017-05-22 20:54] jfbu commented on #3764
if `VerbatimBorderColor` is set (in ``'sphinxsetup'``), then this color (which applies to the frame) applies to the strings too... initially unintended but perhaps fine. You can add `\normalcolor` to the strings to suppress the effect. (i.e. get them in black)

[2017-05-23 02:17] bskinn commented on #3781
The following `bash` one-liner prints out a nice summary of all locations in the `.rst` source where a double-hyphen is followed by a letter, which should(?) cover all instances where fixes *might* be needed.

`for fn in $( find . -regex ".*\.rst" ); do grep -ie '--[a-z]' $fn; if [ $? -eq 0 ]; then echo $fn; fi done`

*This comment is obsolete, though possibly still useful.*

[2017-05-23 04:54] bskinn commented on #3781
@tk0miya After testing, inserting a `\ ` (backslash-space) into the long-option argument **DOES NOT WORK**. Sphinx just renders the two added characters explicitly.  This will probably need to be corrected within the handling of the `.. option::` directive; I searched quite a bit but a good method was not forthcoming.

It could possibly be done by instructing `docutils` not to apply `smartypants`

[2017-05-23 05:30] bskinn opened #3787 "POSSIBLE BUG: addnodes.literal_emphasis and addnodes.literal_strong don't inherit from nodes.literal"
In the course of investigating #3781, I noticed that [`addnodes.literal_emphasis` and `addnodes.literal_strong`](https://github.com/sphinx-doc/sphinx/blob/8f9dd6499207be2f3291a0982ed02e418730ef5e/sphinx/addnodes.py#L269-L278) do not subclass from `docutils.nodes.literal`. Thus, AFAICT they do not render as literal text.  Is this intended behavior?

[2017-05-23 06:39] Znni opened #3788 "Turkish smart quotes / docutils warnings"
I updated Sphinx to version 1.6.1 and docutils to version 0.13.1. I'm building .tex documents in several languages, including Turkish. The Turkish build outputs first

`[exec] WARNING: C:\foo\bar.rst:: (WARNING/2) language "tr" not supported: Docutils-generated text will be in English.`

and then thousands of lines similar to

`[exec] C:\foo\foobar.rst:28: WARNING: No smart quotes defined for lang

[2017-05-23 08:51] jessetan commented on #3764
Thanks for your suggestions @jfbu, that works. I have made some small changes to make text adjustment easier. I now have the following in my `.sty`:

[code]

Our lead tech writer prefers the tcolorbox-based approach from your [initial suggestion](https://github.com/sphinx-doc/sphinx/issues/3764#issuecomment-302861398) though.
Is a move to tcolorbox an possibility now that the required TexLive vers

[2017-05-23 08:58] jfbu commented on #3788
I do not understand the problem with ``'tr'``, this is a Docutils generated warning, not a Sphinx one, (I am LaTeX consultant, not Python maintainer)

but for the smart quotes: the `docutils/utils/smartquotes.py` has been updated since 0.13.1 (http://docutils.sourceforge.net/HISTORY.html), in particular at https://sourceforge.net/p/docutils/code/8017 which adds smart quotes for Turkish. They are l

[2017-05-23 09:13] jfbu commented on #3788
ping @mitya57 what's your opinion on this issue ?

[2017-05-23 09:40] jfbu commented on #3764
The TeXLive is more recent but perhaps not enough so to consider that the `tcolorbox` version was mature enough, see http://www.ctan.org/ctan-ann/pkg/tcolorbox and you will see that much activity on `tcolorbox` side happened since February 2014. I expect the changes to be mostly backwards compatible though and also the default design of Sphinx appears minimal enough (frame and background color) to

[2017-05-23 11:02] jfbu commented on #3764
ouch... thanks to this thread I realize the `\fboxsep` parameter when used in `\spx@VerbatimFBox` is zero (see the `\fboxsep\z@` in `\def\spx@fcolorbox`.) In fact that piece of code is entirely devoted to draw the frame. The `verbatimsep` parameter of `'sphinxsetup'` has already been taken account of for the contents (separation of code from the frame, or if no frame, from the border of the colore

[2017-05-23 11:10] jessetan commented on #3764
Thanks, I saw no effect with `\fboxsep`, but I thought it was one of my other changes and had no time to debug. Using `\sphinxverbatimsep` works, I've updated the code above.

[2017-05-23 11:12] jfbu commented on #3764
sorry for inconvenience ... fortunately you did not waste time debugging this.

[2017-05-23 12:50] cdunklau commented on #1672
The root cause of the issue appears to be that for `.. py:method::`, the `options` attribute of the directive has the module included (`{'module': 'mypkg.models'}`), but for `..py:attribute::`, the `options` attribute is an empty dict. I'm continuing to investigate.

[2017-05-23 12:57] jessetan opened #3790 "[LaTeX] Use tcolorbox for drawing framed content"
Sphinx uses its own code as well as modified code from `framed.sty` for drawing "boxed" output such as code blocks, warnings, etc.
Use of the more modern package [tcolorbox](http://www.ctan.org/pkg/tcolorbox) could reduce the code size of Sphinx, make styling easier and possibly add more features (#3099, #3764). However it is not without drawbacks; since it is relatively new it may not be supporte

[2017-05-23 12:57] mitya57 commented on #3788
I see two problems here:

1. thousands of lines similar to `[exec] C:\foo\foobar.rst:28: WARNING: No smart quotes defined for language "tr".`

    Turkish quotes support was added to docutils in [revision 8017](https://sourceforge.net/p/docutils/code/8017/). However, Sphinx should not attempt to use smart quotes at all for older versions. The `language in smartchars.quotes` check in `sphinx/enviro

[2017-05-23 12:58] jessetan commented on #3764
I've filed #3790 for discussions regarding tcolorbox. No need to complicate this issue if the "continued on next page" solves the problem.

[2017-05-23 13:27] cdunklau commented on #1672
And that's because `:module:` is there for the method, but not the attributes. My issue appears to be because of napoleon, not autodoc. With autodoc, this code:

[code]

Results in this generated output:

[code]

So that's all working. It looks like napoleon isn't adding the `:module:` bit to the attributes.

[2017-05-23 13:29] RobRuana commented on #1672
Ah, interesting. I will look into this!

[2017-05-23 13:34] jfbu opened #3791 "PDF "continued on next page" for long tables isn't internationalized"
### Problem
when a table is split across pages, there is  a ``continued on next page`` and a ``continued from previous page``. They are inserted via the longtable template. Although the template has the mark-up for translated strings, the output contains only the English version, independent of config value language.

#### Procedure to reproduce the problem
[code]
and for example ``language = 'it'

[2017-05-23 13:36] cdunklau commented on #1672
@RobRuana in my not-so-minimal reproduction here https://github.com/cdunklau/sphinxattrissue/tree/master/docs you can see the conf settings I have set for napoleon. I have a feeling that `napoleon_use_ivar = False` is required to reproduce this.

[2017-05-23 13:37] RobRuana commented on #1672
Thanks for the extra info. I have been particularly busy at work, so I may not be able to get to this issue until this weekend or the next.

[2017-05-23 13:39] cdunklau commented on #1672
no problem. I just tested that assumption, and no, it looks like it happens regardless of how `napoleon_use_ivar` is set.

[2017-05-23 13:42] jfbu commented on #3791
It appears that the `.po` files in sphinx/locale/<language> simply did not extract strings from the templates. I am working on an issue #3764 where I would need to insert localizable strings in ``latex.tex_t`` also.

[2017-05-23 14:18] jfbu commented on #3764
+1 for tcolorbox devoted issue. At #3792 I have implemented an extension of your abstraction of the continued and continues texts. It will be easier to customize even more the framing, if needed, as shorter code snippets are extracted into `\sphinxVerbatimFirstFrameCommand`  etc...

[2017-05-23 14:19] jfbu commented on #3764
forgot to say that in the #3792, there is again use of `\fboxsep` as it is not set to zero anymore at the same location, the point being that its use has been removed from core framing macro `\spx@VerbatimFBox`.

[2017-05-23 14:44] jfbu commented on #3788
@mitya57

1. I did not reproduce these messages indeed. However I noticed that Sphinx tries to apply the smart quotes with `tr` because if I add to conf.py the monkey-patch indicated in my [comment](https://github.com/sphinx-doc/sphinx/issues/3788#issuecomment-303335625) where I copied over the `quotes['tr']` from Docutils [revision 8017](https://sourceforge.net/p/docutils/code/8017/) then it does

[2017-05-23 15:31] tk0miya commented on #3768
Hmm.. scikit-learn's doc is too large and complex to investigate...
I failed to do that today.

[2017-05-23 15:37] tk0miya opened #3793 "Sphinx-1.6.2 release plan"
Hi maintainers,

Unfortunately, some major bugs were found in Sphinx-1.61. So I will ship a bug fix release within a few days. (Now I'm in very busy, so I can't say concretely when I will be able to work...)

Please let me know if you have release blockers.

[2017-05-24 04:01] jichenjc commented on #3782
thanks a lot for your help~

[2017-05-24 04:53] Znni commented on #3788
I got the `TypeError: 'NoneType' object is not callable` error also once before, but now I'm not able to reproduce it.

I'll try to see why the check in `sphinx/environment/__init__.py` fails...

[2017-05-24 05:51] Znni commented on #3788
I still tried to reproduce the issue and noticed the following:

- If I delete the old contents of my build directory and build Turkish latex with other languages (the builds are sequential, not parallel), I get the original warnings I reported, i.e. both `WARNING: C:\foo\bar.rst:: (WARNING/2) language "tr" not supported: Docutils-generated text will be in English.` and thousands of lines of `WARN

[2017-05-24 06:53] Znni commented on #3788
One finding: The `language in smartchars.quotes` check in `sphinx/environment/__init__.py` works fine also in the build where I build Turkish latex with other languages. The check fails but regardless of that, I get thousands of `WARNING: No smart quotes defined for language "tr".` in this case.

And no, I don't have a custom docutils.conf file.

[2017-05-24 07:43] SteinHeselmans commented on #3745
I got a similar error on another project. Just wanted to let you know, somebody has filed ticket https://bitbucket.org/birkenfeld/sphinx-contrib/issues/172/doxylink-typeerror-sequence-item-0

The provided solution/workaround works for me...

[2017-05-24 08:34] mitya57 commented on #3788
Oh, so the setting is cached in the environment, and the environment is not reset when switching languages. A workaround would be to to use `--fresh-env` every time when you switch the language (or delete `doctrees/environment.pickle` manually).

I do not know how to fix this in Sphinx — can someone please enlighten me?

[2017-05-24 09:43] jfbu commented on #3788
I confirm your findings, and the fact that my suggested addition to `conf.py` in [comment above](https://github.com/sphinx-doc/sphinx/issues/3788#issuecomment-303335625) removes the warnings about non availability of smart quotes for Turkish, but not the

     (WARNING/2) language "tr" not supported: Docutils-generated text will be in English.

I have a small project for which I generated via `mak

[2017-05-24 09:49] jfbu commented on #3788
... but I still got the error on `make latexpdf` though.

[2017-05-24 10:06] jfbu commented on #3788
by the way @tk0miya the

    __version_info__ = tuple(map(int, docutils.__version__.split('.')))

at https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/util/docutils.py#L37 is a bit annoying because the `int` makes it impossible to test with a checkout of development version of docutils (link for git at http://docutils.sourceforge.net/docs/dev/repository.html) which has something like `0.13.2

[2017-05-24 10:24] yvn11 commented on #3783
I see,Thanks @bskinn, it works.

[2017-05-24 11:12] Znni commented on #3788
@jfbu I can confirm that by making the changes you proposed to `conf.py` removes the `WARNING: No smart quotes defined for language "tr"` warnings (in Turkish build) in building latex for all languages.

However, as you noticed, too, `(WARNING/2) language "tr" not supported: Docutils-generated text will be in English.` is still present and by running the Turkish latex build twice, `'NoneType' obje

[2017-05-24 11:29] geier opened #3796 "Sphinx 1.6.1+ incompatible with sphinxcontrib-newsfeed"
### Problem
[sphinxcontrib-newsfeed](https://bitbucket.org/prometheus/sphinxcontrib-newsfeed) (on [PyPI](https://pypi.python.org/pypi/sphinxcontrib-newsfeed)) seems to be incompatible with Sphinx 1.6.1 (I also checked with the current master). I know this is probably not your problem, but I had a quick look at sphinx's plugin development documentation and, from my impression, sphinxcontrib-newsfee

[2017-05-24 12:32] andy-maier opened #3797 "Ability to suppress warning "Title underline too short""
Subject: Would like to have the ability to suppress the warning "Title underline too short".

### Problem

In an internal project, we are generating .rst files that are then processed using Sphinx. The titles in the .rst files are dynamically generated, but we are not generating the "===" section underliner in the same length, but instead have it with a fixed length.

That obviously causes these w

[2017-05-24 13:22] tk0miya commented on #3779
Closed: refs #3780

[2017-05-24 13:22] #3779 closed, assigned to nobody

[2017-05-24 13:25] tk0miya commented on #3797
The warning is emitted by docutils. So we can't suppress it. Please request it to the project.
thanks,

[2017-05-24 13:25] #3797 closed, assigned to nobody

[2017-05-24 14:35] tk0miya commented on #3796
Thank you for reporting. It's a bug of Sphinx API.
Fixed at c3eaadb.

[2017-05-24 14:35] #3796 closed, assigned to nobody

[2017-05-24 14:44] geier commented on #3796
I can confirm that the issue is gone with your commit. Thank you for an awesomely quick fix!

[2017-05-24 15:34] tk0miya commented on #3745
Thank you for letting me know :-)

Anyway, this is not a bug of Sphinx. So I close this now.

[2017-05-24 15:34] #3745 closed, assigned to nobody

[2017-05-24 15:37] tk0miya commented on #3760
It seems the extension is fixed. So I close this :-)

[2017-05-24 15:37] #3760 closed, assigned to nobody

[2017-05-24 15:38] tk0miya commented on #3728
Any comments? I need to know your situation to fix the problem.

[2017-05-24 16:13] theacodes commented on #3754
@tk0miya no worries, just wanted a general idea. :)

[2017-05-24 16:49] pyhedgehog opened #3799 "gettext: Support ngettext"
At least in [sphinx/application.py#334](https://github.com/sphinx-doc/sphinx/blob/78a20617b52e02e422d78a22cc3dc98e4b417f1b/sphinx/application.py#L334).

[2017-05-24 18:31] ratiotile opened #3800 "not documented that 1.6 breaks recommonmark"
It's shown in the documentation that recommonmark may be used to enable markdown support: http://www.sphinx-doc.org/en/stable/markdown.html

However, it seems that Sphinx 1.5.x was the last working version for recommonmark 0.4.0, and that 1.6 causes this error:

[code]

It would help prevent future users from wasting time if the docs were updated with this warning of incompatibility between recomm

[2017-05-24 20:04] jfbu commented on #3800
On a minimal project following the http://www.sphinx-doc.org/en/stable/markdown.html instructions, I have no issue.

[code]
Can you share project causing the error you report ? We need more details.

[2017-05-24 20:18] goosemania commented on #3768
@amueller , I suggest to test your case with this recently merged fix https://github.com/sphinx-doc/sphinx/pull/3780 . It is very small in terms of the changes to the code but it has a huge impact on how import works in certain cases. Hopefully it covers your case as well.

[2017-05-24 20:20] jfbu commented on #3800
I added to my test project https://daringfireball.net/projects/markdown/syntax.text as markdownsyntax.md, and have no issue.

![capture d ecran 2017-05-24 a 22 19 28](https://cloud.githubusercontent.com/assets/2589111/26423766/284b9490-40cf-11e7-94dd-082631f81ab3.png)

[code]

[2017-05-25 01:52] tk0miya commented on #3697
I tried in clean environment. But I could not reproduce the error.
[code]

I also tested with v1.5.6:
[code]

With `-vvv` option, it generates following mark-ups internally.
[code]

[2017-05-25 03:04] ideasman42 opened #3803 "Warning function is set as None."
I'm currently getting this error when building translated documentation.

While there are errors in the PO files, the warning becomes an error because `self.warnfunc` is set to None.

----

We've since upgraded to Python3.6 and the problem still happens.

[code]

[2017-05-25 03:06] imcom opened #3804 "AttributeError: 'Sphinx' object has no attribute 'domains'"
Subject: AttributeError: 'Sphinx' object has no attribute 'domains'
### Problem
Doc failed to build using Sphinx v1.6.1 and sphinxcontrib-httpdomain==1.5.0

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Doc should build successfully

### Reproducible project / your project
https://github.com/imcom/yabgp

### Environment info
- OS: Mac 10.12

[2017-05-25 06:26] jfbu commented on #3803
We observed that error also when discussing #3788. What do you mean by "errors in the PO files"? Thanks for the fix at #3802  !

[2017-05-25 06:44] ideasman42 commented on #3803
The PO files have many mistakes in them. We have a translator that committed PO files that contains merge conflicts (also other problems that result in badly formatted RST files).
*I would guess they aren't building locally*

For as long as its a warning we can get the translator to resolve the warnings, but this change stops building from completing.

[2017-05-25 12:08] jawahar273 commented on #3697
pls run this one `make clean html` and see if there is any warning

[2017-05-25 12:35] vspradeep opened #3805 "Sphinx Tag 1.6.1 doesn't contain the fix for the bug #3754"
Subject: Sphinx Tag 1.6.1 doesn't contain the fix for the bug #3754

### Problem
Fix has been done in the master which is not reflecting in the Tag 1.6.1 due to which the latest changes are not reflecting under https://pypi.python.org/pypi/Sphinx

#### Procedure to reproduce the problem
Version conflict with Branch -> Master and Tag -> 1.6.1

#### Error logs / results

2017-05-24 12:22:22.037296 |

[2017-05-25 14:02] tk0miya commented on #3805
Sorry, the fix will be released as 1.6.2. It's a bug of 1.6.1.
Thanks,

[2017-05-25 14:02] #3805 closed, assigned to nobody

[2017-05-25 14:04] tk0miya commented on #3804
Same as #3760.
Thanks,

[2017-05-25 14:04] #3804 closed, assigned to nobody

[2017-05-25 14:04] jfbu commented on #3788
tidbit of information: the presence of the line https://github.com/sphinx-doc/sphinx/pull/3666/commits/edc7f30b9cc92f4d721eeef62ffa826f23a09a9f#diff-97700a3f4e77714edda29526a159758fR676 triggers at some point docutils.languages.get_language and this is the cause of the ``Docutils-generated text will be in English.``.

[2017-05-25 14:15] jfbu commented on #3788
It appears that with 1.5.6, when the read_doc() environment method is executed the docutils processing does not go via docutils.languages.get_language. If one adds simply the two lines

[code]

in 1.5.6's class `BuildEnvironment.read_doc()` method one does trigger the execution of docutils.languages.get_language during <strike>environment</strike> doctree setting up. This then raises the Docutils

[2017-05-25 14:30] #3803 closed, assigned to nobody

[2017-05-25 14:31] jfbu commented on #3793
I think #3788 should get fixed for 1.6.2 and particularly #3803. The #3802 solves it, but there seems to be a problem possibly releated to the deprecation of ``set_warnfunc`` in sphinx.environment which happened for 1.6.1 release.

[2017-05-25 14:34] jfbu commented on #3793
ah well you fixed #3803 at ffb84cb07e961fbbf6d54bf1e321298792c47a12 in the meantime.... ;-)

[2017-05-25 14:49] tk0miya commented on #3791
Fixed at 6324946.

Now it become translatable again, but we lost translation text because it is dropped from translation targets for a while...

[2017-05-25 14:49] #3791 closed, assigned to tk0miya

[2017-05-25 15:00] tk0miya commented on #3697
I also couldn't see any warning for the command.

[2017-05-25 15:58] jawahar273 commented on #3697
[code]
The about code is a function with update string and pic shown is the result  after the update of the string in the function.
If your result is good as shown like ( `test()` ) with update string then my system might have some problems.
![screenshot from 2017-05-25 21-21-32](https://cloud.githubusercontent.com/assets/7668497/26458221/442cea6c-4190-11e7-9869-975bdb62f78c.png)

[2017-05-26 05:35] lsaffre opened #3806 "language "et" not supported: Docutils-generated text will be in English"
I have two Sphinx sites in Estonian (et), but Sphinx 1.6 says above warning. In earlier versions there was no problem and everything worked (for me) as expected. Example of such a site is http://belglane.saffre-rumma.net/

What can I do to help get Estonian language back?

[2017-05-26 06:10] jfbu commented on #3806
Sorry for inconvenience. The warning is generated by Docutils and is also under investigation at #3788. It will happen for any language code not natively known to Docutils (in ``docutils.languages``) Do your builds exhibit any kind of problem or wrong output (in particular regarding rendering of ``"`` or ``'`` quotes) besides displaying the warning itself ?

[2017-05-26 06:19] jawahar273 commented on #3697
Thanq for your timing. I will look what is the problem in my code.

[2017-05-26 06:19] #3697 closed, assigned to nobody

[2017-05-26 06:38] jfbu commented on #3788
My above comment was not precise enough. I absurdly wrongly said `docutils.languages.get_language` was not executed during environment parsing and doctree construction with Sphinx 1.5.6. In fact it is, but with `language_code` set to `'en'`. I added a `print` statement and a counter to the Docutils code (``print(language_code, COMPTE)``) and here is what I get on a test document (with `language =

[2017-05-26 08:08] NormanDunbar opened #3807 "Cannot generate PDFs with Sphinx version 1.6.1 on Windows. Perl Missing."
Subject: Cannot generate PDFs with Sphinx version 1.6.1 on Windows. Perl Missing.

### Problem
- After upgrading to Sphinx 1.6.1 from 1.5.x, I am no longer able to generate pdf documents with `make latexpdf` which was working before. The problem is that `latexmk` is now in use and requires `perl` to be installed. I don't have `perl` installed and I am unable to install additional software as this

[2017-05-26 08:21] amueller commented on #3768
Thanks for looking into it. I'll have a look next week when I'm back from vacation ;)

[2017-05-26 09:20] jfbu commented on #3788
For the time being, I can propose this fix to get rid of the Docutils warning. In my brief testing with the additions proposed below to  `conf.py`, the smart quotes are processed ok for languages which support them, and ignored for languages which do not support them (there is still the issue when making successive builds with different languages, such as ``'en'`` then ``'tr'`` I reproduce earlier

[2017-05-26 09:23] jfbu commented on #3806
can you check the fix at https://github.com/sphinx-doc/sphinx/issues/3788#issuecomment-304234520 which consists of adding to the `conf.py` some monkey patch?

another fix is in the works: #3808

[2017-05-26 10:01] jfbu commented on #3807
Very sorry. Independently of the issue with Latexmk, unfortunately we could not provide a Makefile which works both on GNU/Linux and Windows due to diverging shell syntax.

http://www.sphinx-doc.org/en/stable/builders.html#sphinx.builders.latex.LaTeXBuilder

This was discussed at #3082. It is possible though that your make executable does understand  GNU/Linux shell syntax then your problem is onl

[2017-05-26 10:16] jfbu commented on #3807
added precision: it is for Japanese documents that we had most trouble with shell syntax in Latexmk support file (`latexmkjarc`). For non-Japanese documents, the situation is much more favorable, and it could work (but unfortunately you can not add Perl to your work computer).

The incompatible change was announced http://www.sphinx-doc.org/en/stable/changes.html#dependencies

[2017-05-26 10:36] jfbu commented on #3807
oh no...  from looking at the make.bat template, I see that latexpdf target will cd to the latex build directory and then do a make there. But it looks as if Sphinx puts no make.bat into the latex build repertory. So the latexpdf target for the top level make.bat will end up trying to use Latexmk indeed.

Am I overlooking something @shimizukawa ? it looks that definitely `make latexpdf` is broken

[2017-05-26 10:40] jfbu commented on #3807
side note: http://tug.ctan.org/support/latexmk/INSTALL

[2017-05-26 14:04] jfbu commented on #3807
As workaround

1. create a `_fortex` repertory at top level in your project source

2. add `latex_additional_files = ['_fortex/Makefile']` to your conf.py

3. Create a file `_fortex/Makefile` with the following contents

[code]

This is the 1.5.6 Makefile, for pdflatex. Then `make latexpdf` should work without Latexmk like earlier.

I could not use a template file here because https://github.com/s

[2017-05-26 14:07] tk0miya commented on #3788
I believe #3808 might resolve the warning. Could you try it please?
Is there anything else?

Note:
* The TypeError is fixed at ffb84cb
* `__version_info__` will be fixed in another commit (I will do it later)

[2017-05-26 14:28] jfbu commented on #3788
In my testing it does resolve the warning. But if one does

    make clean
    make -e SPHINXOPTS="-D language='en'" html
    make -e SPHINXOPTS="-D language='tr'" html

one gets the English smart quotes applied to Turkish build, from previous environment. Under

    make clean
    make -e SPHINXOPTS="-D language='tr'" html

no smart quotes are applied because ``'tr'`` is not recognized as "suppor

[2017-05-26 15:21] tk0miya commented on #3788
Thanks, I did not noticed the cached behavior. I also fixed it on #3808.
Could you try it again?

[2017-05-26 15:25] jfbu commented on #3788
The cached behavior is fixed in my testing with html, and switching between ``'en'``, ``'fr'``, ``'tr'``, and ``'et'`` languages. The latter two are not supported by Docutils `get_language()` but ``'et'`` has smart quotes in 0.13.1. But they are not applied of course with #3808.

[2017-05-26 15:26] tk0miya commented on #3807
Yes, we decided to depend on `latexmk` since 1.6 release. So this is intended change.

But missing `make.bat` might be a bug.

[2017-05-26 15:49] tk0miya commented on #3783
autodoc module simply refers the docstrings of the targets. in this case, `functools.wraps` helps you.
I think this is not a bug. Can I close this?

[2017-05-26 16:09] tk0miya opened #3809 "Got error with docutils-0.13.2a (T/O)"
refs: #3788

[2017-05-26 17:38] NormanDunbar commented on #3807
Good Evening All,

many thanks for a swift response. I can confirm that the workaround explained by jfbu [here](https://github.com/sphinx-doc/sphinx/issues/3807#issuecomment-304290674) works like a charm.

I do have a windows version of `make` on my PC so I am able to run it with the generated makefiles manually  as I need to use `mingw32-make` rather than `make`, but that's ok.

Kind regards,
Nor

[2017-05-26 17:59] lsaffre commented on #3806
Thanks, Jean-François, that worked for me!

BTW I simplified the code to the following (everything at the end of my *conf.py* file):

[code]
Luc

[2017-05-26 18:23] jfbu commented on #3806
thanks for the confirmation and simplification. You will perhaps observe that smart quotes are applied (transformation of `"` and `'` into suitable curly quotes ``„“‚‘`` for Estonian), but if PR #3808 which fixes in another way your issue is merged, then the smart quotes will not be applied (with Docutils 0.13.1), at least in current state.

[2017-05-27 03:48] yvn11 commented on #3783
Yes @tk0miya, please close it.

[2017-05-27 07:01] pri22296 opened #3810 "error after latest update to requests 2.16.0"
Subject: Exception occurs after latest update to requests 2.16.0

#### Error logs / results
[code]
This error does not happen with requests 2.15.1

### Environment info
- OS: Ubuntu 12.04.5 LTS (on travis CI with language as php)
- Python version: 2.7
- Sphinx version: Tested on 1.5.5 and 1.6.1

[2017-05-27 07:29] BiranLi commented on #3810
I have got same problem in Ubuntu 12.04. I installed the sphinx with pip-9.0.1.

[2017-05-27 11:55] jfbu commented on #3788
about

there should have been only one such line. This is an issue in Docutils 0.13.1 which I have reported upstream on their dev mailing list.

This being said, the fix to this issue will make sure no such warning are emitted. As per ``tr`` next release of Docutils has the smart quotes for it.

[2017-05-27 12:26] benjaminweb opened #3812 "Add Algolia search Plugin"
### Problem
The search is not as responsive as it could be.

#### Expected results
Instant results while typing like https://middlemanapp.com/basics/install/ using [Algolia](https://www.algolia.com).

Python reference implementation: https://github.com/sherbondy/lektor-algolia

[2017-05-27 14:47] pri22296 commented on #3810
This should be fixed in the next release of **requests** as per kennethreitz/requests#4073

[2017-05-27 14:54] tk0miya commented on #3810
@pri22296 Thanks! Certainly requests-2.16.1 goes well :-)

It seems there are nothing to do from sphinx side.
Thanks,

[2017-05-27 14:54] #3810 closed, assigned to nobody

[2017-05-27 14:57] tk0miya commented on #3812
Does it work on only browsers?
Sphinx expects search engines which works on only browsers.

[2017-05-27 16:04] tk0miya commented on #3806
Fixed at #3813

[2017-05-27 16:04] #3806 closed, assigned to nobody

[2017-05-27 16:07] tk0miya commented on #3788
Fixed at #3813 by @jfbu (Thanks!)

[2017-05-27 16:07] #3788 closed, assigned to nobody

[2017-05-27 16:18] #3783 closed, assigned to nobody

[2017-05-27 17:13] benjaminweb commented on #3812
Yes, the search only works on the browser:

https://github.com/algolia/docsearch#setup

Injection of API key could be configured via ``conf.py`` IMHO.

[docsearch-scraper](https://github.com/algolia/) is a Python script indexing the generated html
and pushing the index to Algolia's servers.

Would you mind giving me an example of a [hook point](http://www.sphinx-doc.org/en/stable/extdev/index.html

[2017-05-27 18:19] mitya57 commented on #3788
I have tested the latest version in stable branch and it works fine for me. @jfbu @tk0miya thanks for your work (and sorry for not replying earlier).

[2017-05-28 00:50] jayvdb opened #3814 "sphinx-build fails with docutils 0.14rc1"
Subject: sphinx-build fails with docutils 0.14rc1

### Problem
https://pypi.python.org/pypi/docutils/0.14rc1 has been released.
See https://github.com/coala/coala/issues/4280

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project

[2017-05-28 01:07] jbarajas commented on #3295
I was able to successfully address this issue by installing:

pip install docutils==0.12

[2017-05-28 01:17] tk0miya commented on #3809
Fixed at b396e6ac5c92ad154bd1d4d08e3904504da992e7

[2017-05-28 01:17] #3809 closed, assigned to tk0miya

[2017-05-28 01:18] tk0miya commented on #3814
Thank you for reporting. I just fixed it at #3809!

[2017-05-28 01:18] #3814 closed, assigned to nobody

[2017-05-28 01:24] tk0miya commented on #3807
I noticed Sphinx did not bundled `make.bat` ever. So this is not a bug. It's an improvement.
(Sphinx requires extra GNU make command and `latexmk` command now)

I think this is closable. Any comment?

[2017-05-28 01:24] tk0miya commented on #3793
Is there any blocker? If none, I will release this today (maybe 8-10hours later)

[2017-05-28 02:59] jayvdb commented on #3814
Hey @tk0miya, this breaks all versions of sphinx in production when docutils is updated as pip & setuptools automatically upgrades to 0.14rc1 (i.e. they havent marked it as a pre-release).

[2017-05-28 07:34] jfbu commented on #3807
It would be nice to get confirmation that on Windows with Latexmk installed, the latex Makefile works as expected and `make latexpdf` at top repertory works. Perhaps this can be done with `appveyor`?

And we should update documentation to say Latexmk command is required on all platforms for `make latexpdf`.

I doubt it is 100% Windows compatible especially for the case of Japanese documents becaus

[2017-05-28 07:47] jfbu commented on #3807
I have updated docs at 350f58a. I changed a posteriori 1.6b1 entry in CHANGES, I hope this is fine. +1 for close as soon as someone confirms ``make latexpdf`` actually works on Windows with required GNU make and Latexmk.

[2017-05-28 07:53] jfbu commented on #3800
Any update or comment? I wish to close this as I could not confirm. Maybe there is some special setup at your locale.

[2017-05-28 08:12] jfbu commented on #3793
I have added two commits to stable (350f58a, 445ed48). No blocker for me.

[2017-05-28 08:39] jfbu commented on #3781
Hi, this is definitely breaking change from 1.5.x.

As a temporary work-around you can use this mark-up:

[code]

(yes, with two backslashes). Sorry for inconvenience. The work around is for 1.6.1 because on 1.5.6 it generates a warning about duplicate explicit target name.

(edit: there was no issue at 1.5.6; but I said that to point out the workaround I proposed was not a viable solution even fo

[2017-05-28 09:33] jfbu commented on #3787
The SmartyPantsHTMLTranslator class from html writer, removed at #3666, handled indeed especially these nodes, by setting ``self.no_smarty += 1``. Unfortunately the switch to Docutils's processing of smart quotes overlooked that. (Docutils looks only for

[code]

as nodes type skipping the SmartQuotes.

It is not clear to me if ``literal_emphasis`` should inherit from ``literal``, but definitely t

[2017-05-28 10:41] fschaef opened #3815 "Error report on bibtex error."
Subject: Quex Documentation -- using bibtex for citations

### Problem
- Using sphinx to generate documentation with a syntax error in the underlying '.bib' file (missing '}')

#### Procedure to reproduce the problem

(1) generate a citations.bib file such as

   @book{schafer2004generalized,
        title={Generalized feedback control and application to vehicle path following control},
       aut

[2017-05-28 11:25] jfbu commented on #3793
@tk0miya if you have time before release can you check if it makes sense to improve PR #3787 to some good Python and then merge it in 1.6.2 ? (but it may be delayed because it may need more extensive tests).

[2017-05-28 11:29] jfbu commented on #3793
Sorry I meant PR #3816 ...

[2017-05-28 11:41] shimizukawa opened #3817 "'make latexpdf' with Sphinx-1.6.1 on Win raises AttributeError: 'Values' object has no attribute 'env'"
### Problem
- 'make latexpdf' with Sphinx-1.6.1 on Win raises AttributeError: 'Values' object has no attribute 'env'

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
build success

### Reproducible project / your project
- sphinx/doc

### Environment info
- OS: Windows 10
- Python version: 3.6.1 (CPython)
- Sphinx version: sphinx stable (5/28

[2017-05-28 11:42] shimizukawa commented on #3807
I tried 'make latexpdf' on Windows, but I got another error. It's filed as #3817.

[2017-05-28 11:43] shimizukawa commented on #3817
This problem doesn't appear with `make html`.

[2017-05-28 11:58] jfbu commented on #3788
Thanks @mitya57 ! but we have another issue with smart quotes see PR #3816

[2017-05-28 12:15] tk0miya commented on #3817
It might be related with `sphinx.transform.SphinxTransformer`. Could you check it please?

[2017-05-28 12:17] jfbu commented on #3793
@tk0miya I feel #3781 is a blocker, after all. See http://www.sphinx-doc.org/en/stable/invocation.html for example for our own docs. I changed 1.6.2 milestones to 1.6.3 but now I regret it ...

[2017-05-28 12:17] tk0miya commented on #3815
This might be a bug of `sphinxcontrib-bibtex`, not Sphinx-core.
Please let them know this.
Thanks,

[2017-05-28 12:18] mitya57 commented on #3787
+1 for making these inherit from `nodes.literal`. Then we would be able to remove two lines in `SphinxSmartQuotes.get_tokens`.

@jfbu maybe you will add this to your PR #3781? (simply change i.e. `literal_emphasis(nodes.emphasis)` to `literal_emphasis(nodes.emphasis, nodes.literal)`).

[2017-05-28 12:19] tk0miya commented on #3793
I'm back now. and starting to check issues from now on.
Please wait a moment.

[2017-05-28 12:19] shimizukawa commented on #3807
@jfbu I tried `make latexpdf` with sphinx/doc on Windows.

(Sphinx stable HEAD (and 1.6.1) still have #3817 issue, however I bypassed it temporary) to check latexpdf target.)

Indeed. It failed.

[code]
It means
[code]

[2017-05-28 12:25] jfbu commented on #3787
@mitya57 unfortunately I don't have a clear view of the semantics of ``literal_emphasis``. Making it inherit from `literal` now makes one wonder why one did not earlier... indeed, earlier situation caused all writers to handle especially, for example html added the ``no_smarty`` flag.

I need some advice by further knowledgeable Sphinx people ;-) (also my lunch is burning on my oven at taht time..

[2017-05-28 13:17] shimizukawa commented on #3817
https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/transforms/__init__.py#L88

[code]

The second `if` statement required `self.document.settings.env` to set `self.env`, however I suspect that the condition is invert.

[2017-05-28 13:27] jfbu commented on #3781
@bskinn Thanks for the detailed analysis and the researching. @tk0miya is currently fixing this for 1.6.2 release.

[2017-05-28 13:39] tk0miya commented on #3781
Fixed at #3816  :-)

[2017-05-28 13:39] #3781 closed, assigned to nobody

[2017-05-28 13:41] tk0miya commented on #3787
Fixed at #3816.

[2017-05-28 13:41] #3787 closed, assigned to nobody

[2017-05-28 13:48] tk0miya commented on #3817
Fixed at 0b945ce.

[2017-05-28 13:48] #3817 closed, assigned to shimizukawa

[2017-05-28 13:51] jfbu commented on #3807
I do not know offhand mechanism for Sphinx detects platform but the simplest fix for 1.6.2 would be to get Sphinx on Windows to use the old Makefile_t which was in sphinx/texinputs.

At least then we recover former situation and drop Latexmk dependency on Windows. I will research implementation but can not test...

[2017-05-28 14:08] tk0miya commented on #3814
Thanks, I will release bug fix release soon. Please wait a moment

[2017-05-28 14:14] jfbu commented on #3807
@shimizukawa can you give a look at #3819 ?

[2017-05-28 14:22] tk0miya commented on #3793
Is #3819 a last blocker?
If so, I will release 1.6.2 after #3819 confirmed.

[2017-05-28 14:26] JustinCappos commented on #3722
Would it be possible to make the memory address regex more permissive? https://github.com/sphinx-doc/sphinx/blob/1.5.5/sphinx/util/inspect.py#L23

The broadest change would be to remove ' at ' from the arguments, but there may be a few false positives.  Perhaps also filtering ':0x000000' and similar would work for most cases that are currently missed?

[2017-05-28 14:29] jfbu commented on #3807
@NormanDunbar we are going to incorporate the workaround as default behaviour with 1.6.2 release, because even with Latexmk correctly installed on Windows, the Makefile and Latexmk support files do not use Windows compatible shell syntax. So with 1.6.2 you won't need the workaround.

[2017-05-28 14:32] jfbu commented on #3793
was last blocker for me...

[2017-05-28 14:36] jfbu commented on #3793
``Could not fetch remote image: https://www.python.org/static/img/python-logo.png`` looks spurious failure, the test succeeded at my locale

[2017-05-28 15:15] tk0miya commented on #3807
#3819 is merged now!

[2017-05-28 15:15] #3807 closed, assigned to nobody

[2017-05-28 15:17] tk0miya commented on #3793
Now all issues are cleared on 1.6.2 milestone
https://github.com/sphinx-doc/sphinx/milestone/35

So I'm going to release. It's release time!

[2017-05-28 15:47] tk0miya commented on #3793
I just released Sphinx-1.6.2.
https://pypi.python.org/pypi/Sphinx/1.6.2

@jfbu @shimizukawa It is thanks to all of you that we can release this today!

[2017-05-28 15:47] #3793 closed, assigned to nobody

[2017-05-28 15:49] mia1024 opened #3820 "Problem on basic theme"
### Problem
I tried to make a local copy of https://github.com/marczz/rest-sphinx-memo, all I did was invoking `make html` and I got the error message. The same error (`TypeError` in `basic` theme) also happens when I tried to use `cloud_sptheme` on other projects.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Reproducible project / your project
- Clone of

[2017-05-28 15:54] tk0miya commented on #3820
Sorry for inconvenience.
It might be same as #3754. And it is fixed at 1.6.2 (just released while ago!).
Please try it out.

[2017-05-28 15:54] #3820 closed, assigned to nobody

[2017-05-28 16:11] kfirilani opened #3821 "failed to install due to docutils latest version contains string"
while trying to upgrade sphinx, it tries to update docutils.
docutils latest package version is 0.14rc1
while parsing the version, it fails due to parse error for int()

File "/Users/ci/workspace/wrk_automation_utils_mac_debug/.eggs/Sphinx-1.3.1-py2.7.egg/sphinx/util/compat.py", line 17, in
docutils_version = tuple(int(x) for x in _du_version.split('.')[:2])
ValueError: invalid literal for int() w

[2017-05-28 16:13] tk0miya commented on #3821
Same as #3814. It is fixed newest release: 1.6.2.
Please upgrade to newest one.

Thanks,

[2017-05-28 16:14] jfbu commented on #3821
@tk0miya unfortunately this is not duplicate but other one at sphinx.util.compat

[2017-05-28 16:18] tk0miya commented on #3821
oh, sorry. reopened.

[2017-05-28 16:20] tk0miya commented on #3821
I will take a look tomorrow (in Japan, it's night 🌃  now)

[2017-05-28 16:26] jfbu commented on #3821
it was a hectic and very productive day thanks to you...

unfortunately we overlooked this one in time for 1.6.2, sorry because I should have looked more systematically  at the time of my [initial report](https://github.com/sphinx-doc/sphinx/issues/3788#issuecomment-303678523) for other such situations in Sphinx code base relative to Docutils version string

[2017-05-28 17:03] jfbu commented on #3821
@kfirilani actually I was too pessimistic. The `sphinx.util.compat` module is not imported by core Sphinx anywhere anymore afaict. It may be imported by extensions. Can you try upgrading to Sphinx 1.6.2 ?

[2017-05-28 18:02] NormanDunbar commented on #3807
Many thanks.

[2017-05-28 22:13] damaskino opened #3822 "TypeError: 'NoneType' when writing output"
Hi there, I ran into an error while trying to generate the documentation for slixmpp
https://github.com/poezio/slixmpp

After cloning the slixmpp repository, I tried to generate the documentation with:
[code]
This always produces the following error for me:

[code]

#### Error log:
[sphinx-err-pg213tb8.txt](https://github.com/sphinx-doc/sphinx/files/1034550/sphinx-err-pg213tb8.txt)

### Environmen

[2017-05-28 23:08] shimizukawa commented on #3822
It has been fixed at 1.6.2 release.
Please update and try it.

[2017-05-29 01:39] tk0miya commented on #3822
I close this because duplicated with #3754.
Please reopen if you still get the error after upgrading to 1.6.2.

[2017-05-29 01:39] #3822 closed, assigned to nobody

[2017-05-29 01:58] tk0miya commented on #3821
Good morning, all.
I checked with 1.6.2, and it did not reproduced.

Yes, the module is deprecated now. So it does not prevent the behavior of sphinx-core.

[2017-05-29 02:04] tk0miya commented on #3821
About `sphinx.util.compat`, fixed at ff1adc7.

[2017-05-29 02:04] #3821 closed, assigned to nobody

[2017-05-29 06:05] YiHoze opened #3823 "Nested ordered list"
Subject: Nested ordered list

### Problem
- In nested ordered lists, unlike nested unordered lists, child lists  are wrapped by `<blockquote>`  in html, and not nested properly in latex.

#### Procedure to reproduce the problem
[code]

### Environment info
- OS: <Windows 10>
- Python version: 3.5.2
- Sphinx version: 1.5.5

[2017-05-29 06:30] jfbu commented on #3823
Hi, please try with one more space character for indentation:

[code]

See http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#enumerated-lists

Closing as this is not a bug of Sphinx, thanks for report.

[2017-05-29 06:30] #3823 closed, assigned to nobody

[2017-05-29 06:55] Znni commented on #3788
Thanks everybody, with Sphinx 1.6.2 all my builds finish without warnings or errors!

[2017-05-29 08:32] damaskino commented on #3822
Works now, after upgrading to sphinx 1.6.2 thanks a lot! :)

[2017-05-29 10:01] jfbu opened #3824 "production lists apply smart quotes transform since Sphinx 1.6.1"
With following source:
[code]

and Sphinx 1.6.1 or 1.6.2 the pseudoxml produces:

[code]

and the curly quotes are observed in html output too.

### Analysis

(corrected)

The 1.5.6 ``SmartyPantsHTMLTranslator`` set a flag  ``no_smarty`` on visiting ``desc_signature`` or ``productionlist`` nodes, which was then inherited by all descendants.

When proceeding via Docutils, the ``TextElement`` block-

[2017-05-29 10:36] jfbu commented on #3824
If you encounter the issue and need a temporary workaround, add a file ``docutils.conf`` to top repertory with following contents:

[code]

This will globally deactivate smart quotes. The deprecated ``conf.py`` config setting ``html_use_smartypants = False`` can also be used, but this will emit a deprecation warning.

[2017-05-29 16:09] tk0miya opened #3826 "Add desc_addname to no smart-quotes list"
In detail, please refer https://github.com/sphinx-doc/sphinx/pull/3816#discussion_r118893735

Sphinx provides following TextElement subclasses.
To make smart-quotes completely resolved, we have to check how these classes are used and should or should not be smart-quoted.
[code]

[2017-05-29 16:30] tk0miya commented on #3722
I'm okay to make it permissive. But I feel it's not easy to support customized repr format.

As a extreme example, I made following example.
[code]
The developers can make very easily non-regular repr format. So I think it is very hard to remove them perfectly.

I don't have good idea now. But I will accept if your proposal is enough good.

It's not good way. It makes terrible result like `<object

[2017-05-30 05:16] YiHoze commented on #3823
I've not fully understood how many spaces child items should be indented.
Thanks.

[2017-05-30 08:13] jessetan opened #3828 "toctree globbing uses lexicographical instead of natural sorting"
When using a toctree with the `glob` option, the filenames in the list are sorted using [Python's `sorted()`](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/directives/other.py#L78), which does lexicographical sorting.
An example result would be:

- file10.rst
- file2.rst
- file8.rst

This is because in lexicographical sorting 1 < 2, hence `item10` will come before `item2`.
The sorting di

[2017-05-30 10:50] jfbu opened #3829 "sphinx-quickstart template is incomplete regarding use of alabaster"
It does only

    html_theme = 'alabaster'

but as per [alabaster instructions](http://alabaster.readthedocs.io/en/latest/installation.html) the ``html_sidebars`` must at minimum enable ``about.html``. Indeed without it navigation is non-existent. (one can not go back to root).

(edited)
informational note: ``about.html + navigation.html`` is ok for local tocs, but prev and next need ``relations.h

[2017-05-30 11:11] jfbu commented on #3829
Fixed at 075a8cf

[2017-05-30 11:11] #3829 closed, assigned to nobody

[2017-05-30 12:04] davidswelt commented on #1641
This bug, reported in early 2015, cost me several hours productivity.

Without warning, Sphinx (and autodoc) fails to include anything from this module, iff the following is included:

  def warning(*objs):
      print("WARNING: ", *objs)   # THIS CAUSES SPHINX TO SILENTLY FAIL

The workaround does not compile.

[bla2.py.txt](https://github.com/sphinx-doc/sphinx/files/1038197/bla2.py.txt)

[2017-05-30 14:35] jfbu commented on #3826
(edited)

Surely ``desc_annotation`` which was overlooked at #3816.

Indeed, with this `foocode.py` module

[code]

and

[code]

one sees smart quotes are applied (``<em class="property"> = ‘’</em>``) below:

[code]

This is with stable HEAD at 2b26520 which incorporates the a3bdf1d0 and
0b0bbfcb Docutils backports. Earlier, there would have been a pair of  closing curly double quotes ``”`` in pla

[2017-05-30 15:18] jfbu opened #3830 "bad looking "Contents:" from root document appears in navigation side bar with Alabaster theme"
Refs: https://github.com/sphinx-doc/sphinx/commit/075a8cfb8f85e25ebb4277f07bc8a051c228fd61#commitcomment-22329934

With this in `conf.py`,

[code]

and dummy project populated on top of  one created by ``sphinx-quickstart``,

[code]

one gets bad looking "Contents:" in html sidebar (here with language set to French, but does not matter)

![capture d ecran 2017-05-30 a 17 13 51](https://cloud.githu

[2017-05-30 15:56] tk0miya commented on #3777
I tried to reproduce this error using archlinux docker image. But I could not reproduce it.
I don't know what `yaourt` command is doing, and also don't know this investigation is correct or not.
Anyway, I need to know how to reproduce this.
[code]

Note:
[code]

[2017-05-30 20:29] cpitclaudel opened #3831 "unchanged_required option spec is ignored: missing unchanged_required options don't raise an error"
### Problem

Sphinx doesn't seem to honor the `unchanged_required` option spec. Omitting an option marked as unchanged_required does not to raise an error.

#### Procedure to reproduce the problem

Simple procedure: run sphinx-quickstart, then remove the `:caption:` argument of the `toctree` directive. This should raise an error, since the definition of TocTree uses this:

[code]

But in fact it d

[2017-05-31 10:00] jdemeyer opened #3833 "Language of diagnostics should not change"
Subject: when compiling a Japanese document, the diagnostic messages from the Sphinx build system are also translated in Japanese:
[code]

### Problem
This is breaking the continuous integration system of Sage because we check for certain messages (not) appearing in the Sphinx build log (more detail: we want to build the documentation without warnings, but we need to white-list certain warnings li

[2017-05-31 12:29] keunwoochoi opened #3834 "autodoc import error even after inserting source path to the system path"
Subject: import error on my package 'kapre'

### Problem
https://github.com/keunwoochoi/kapre/tree/master/ is the package, and in `docs/`,
`conf.py` [here](https://github.com/keunwoochoi/kapre/blob/master/docs/conf.py#L46)
[code]

and I got this warning with the html file without content.
[code]

#### Procedure to reproduce the problem
[code]

### Environment info
- OS: MacOS, but also on Readthed

[2017-05-31 12:49] mia1024 opened #3835 "Imgmath Not Producing .svg images"
### Problem
- I tried to use imgmath extension. It worked well for producing .png pictures. But when I set `imgmath_img_format` to `svg`, there was no image produced, although the folder `build/html/_image/math` was created. No warning or error was raised either. I  checked and `dvisvgm` is correctly installed and can be invoked from command line.

#### Procedure to reproduce the problem
[code]

#

[2017-05-31 12:59] mia1024 commented on #3835
Is there any alternative way to use sphinx for some chemistry figures? Especially to include result produced by `mhchem` and `chemfig` TeX packages. I will try to develop an extension for such use if necessary (maybe modify `sphinx.ext.imgmath` slightly?)

[2017-05-31 14:30] lorengordon commented on #3800
I'm also seeing a problem with markdown and sphinx >= 1.6. this setup:

[code]

results in this traceback:
[code]

And if I remove `source_parsers`, I get this traceback:

[code]

[2017-05-31 14:53] ratiotile commented on #3800
reproduction at: https://github.com/ratiotile/sphinx-1.6-recommonmark-bug-repro

[2017-05-31 14:53] jfbu commented on #3800
Can you try with added quotes:
[code]

[2017-05-31 14:56] eli-collins opened #3837 "upload_docs throws AttributeError with Sphinx 1.6"
Under Sphinx 1.6, running `python setup.py build_sphinx upload_docs` causes setuptools to throw `AttributeError: builder_target_dir` around [line 65 of upload_docs.py](https://github.com/pypa/setuptools/blob/master/setuptools/command/upload_docs.py#L65).   *(Tested with python 3.5.2, setuptools 35.0.2, sphinx 1.6.2)*

This appears to be caused by Sphinx 1.6's adding support for multiple builders i

[2017-05-31 14:57] jfbu commented on #3800
I actually meant:
[code]

with an  ``import recommonmark`` in conf.py. Works for me.

edit: well, sorry it also works for me using
[code]

[2017-05-31 15:02] lorengordon commented on #3800
Adding quotes around the parser does not make any difference. Same traceback/error: `source_parser for '.md' is already registered`.

[2017-05-31 15:04] ratiotile commented on #3800
I don't see a difference. I changed accordingly:
[code]

Still get the error:
[code]
Jinja2 (2.9.6)
CommonMark (0.5.4)
recommonmark (0.4.0)
Sphinx (1.6.2)
sphinx-rtd-theme (0.2.4)
sphinxcontrib-websupport (1.0.1)
docutils (0.13.1)

Python 3.4.2

[2017-05-31 15:15] jfbu commented on #3800
sorry for my bad counsel and inconvenience.

@ratiotile apart from Python 3.5.3 I have the same versions, but on Mac OS. Tested with Sphinx 1.6.2 and 1.6.1.

[code]

Project including the ``markdownsyntax.md`` file has no problem for me.

edit actually my sphinxcontrib-websupport==1.0.0

[2017-05-31 15:21] ratiotile commented on #3800
@jfbu did you test my [project?](https://github.com/ratiotile/sphinx-1.6-recommonmark-bug-repro)

The issue seems to be in processing links to another markdown file. Links of the form `[x](filename)` result in an html link to nonexistant page, while the form `[x](filename.md)` used to generate the correct link under Sphinx 1.5, but now fails to build.

[2017-05-31 15:23] jfbu commented on #3800
@ratiotile Yes I reproduce

[code]

with your project.

[2017-05-31 15:24] glennmatthews opened #3838 "ValueError in sphinx/util/compat.py from docutils pre-release version "0.14rc1""
Subject: ValueError in sphinx/util/compat.py from docutils pre-release version "0.14rc1"

### Problem
- When pre-release `docutils==0.14rc1` is installed, `import sphinx.util.compat` throws a `ValueError`.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Not to throw an error, especially in response to a simple `import`. :-)

### Reproducible

[2017-05-31 15:32] jfbu commented on #3800
From #3372. Sorry for inconvenience. Please wait for @tk0miya to look, thanks.

(I don't know if the problem is a breaking change at #3372, or if recommonmark used non-API part of Sphinx...; adding the bug tag nevertheless)

(it seems recommonmark should use sphinx api as ``'doc'`` role is now only in std domain)

[2017-05-31 15:53] jfbu commented on #3838
Hi, thanks and sorry for inconvenience. This is #3821 and was fixed at ff1adc7. Please wait Sphinx 1.6.3.

Notice that sphinx.util.compat is deprecated and will be removed at Sphinx 1.7.

refs: http://www.sphinx-doc.org/en/master/changes.html#features-removed

[2017-05-31 15:54] #3838 closed, assigned to nobody

[2017-05-31 15:55] glennmatthews commented on #3838
Thanks for the information!

[2017-05-31 18:36] jfbu commented on #3800
@ratiotile regarding your simple project I can get it working by hacking recommonmark in this horrible way:

[code]

This is, needless to say, completely bad thing. And no idea how many things it will break in your real project.  Just mentioning in passing.

[2017-05-31 18:44] bsipocz commented on #3766
@tk0miya - The error I'm seeing is slightly different, but I think is related to the one above:
https://travis-ci.org/bsipocz/photutils/jobs/237944854

It only affects python2.7, I've tested the same setup with py3.6 and it works well.
I'm fairly certain that this is an issue on the sphinx/typing side. As far as I see it was added as a hard requirement in https://github.com/sphinx-doc/sphinx/pull/

[2017-05-31 19:34] ghost opened #3839 "Links in headers become literals in the localtoc sidebar"
Subject: When I turn my subsection headers into links to other documents, the localtoc sidebar shows those links with a literal block inside.

### Problem

When making the section headers in a document into links, either by using `:doc:` or `:ref:`, the headers then show up in the localtoc as literal blocks. I've stubbed out an example project in https://github.com/spencer-rig/sphinx-header-link-e

[2017-06-01 02:30] shibukawa opened #3840 "epub check validation error at dc:identifier"
Subject: epub check validation error at dc:identifier

#### Procedure to reproduce the problem

https://groups.google.com/forum/#!topic/sphinx-users/WEpSezgn2cA

#### Expected Result

if the identifier is URL, use "website", otherwise, "pub-id".

[2017-06-01 03:13] doctorlard commented on #3061
Hi @tk0miya - can you tell me what the correct behaviour should be here? I'm happy to contribute a patch. This is related to (resolved) issue #3028

[2017-06-01 04:19] bskinn commented on #3741
The behavior of the old-style `make.bat` (in `make.bat_t`) and new-style `make.bat` (in `make.bat.new_t`) were sufficiently different that I abandoned the attempt to make this work for the old-style batch file.

I figure most users are just going to run `sphinx-quickstart` with the default `make.bat` options anyways, yielding them the new version, so there's not a lot of value in making it work fo

[2017-06-01 14:31] SundeepB commented on #3760
Just a note that the `sphinxcontrib-openapi` extension is fixed, but the `sphinxcontrib.autohttp.flask` still has the error. Some one already raised [the issue](https://bitbucket.org/birkenfeld/sphinx-contrib/issues/182/sphinxcontribautohttpflask-sphinx-object) with the extension. This issue can remain closed.

[2017-06-01 14:53] tk0miya commented on #3061
Sphinx treats an absolute image path as a relative path from srcdir. So `/usr/share/my-user-manual/images/screengrab.png` is considered as `$SRC_DIR/usr/share/my-user-manual/images/screengrab.png`.
This behavior is not related with `search_image_for_language` setting.

I don't know where the behavior came from. But AFAIK it is already implemented at v1.0.

[2017-06-01 15:49] tk0miya commented on #3800
Hmm... it seems recommonmark extension uses very hacky way to make document reference.
Surely we modified the implementation of `:doc:` role internally.

As a quick look, `sphinx.util.docutils:sphinx_domains()` might be help to do that.

Anyway, I think recommonmark should be updated. It uses very fragile way to realize AutoStructify.

[2017-06-01 16:45] tk0miya commented on #3837
As a quick look, the upload_docs command seems deprecated.
So I feel strange to restore old variable (singular one) to support it.

[2017-06-01 16:58] tk0miya commented on #3835
I can generated following image from your example
![2017-06-02 1 55 52](https://cloud.githubusercontent.com/assets/748828/26691043/a9836ca0-4736-11e7-9779-fd12bb20ca0f.png)
(Note: I removed the settings about HTML themes)

To fix this, we need to improve what happened in your environment.
Could you debug the `sphinx.ext.imgmath`?

Unfortunately, I don't know.

[2017-06-01 17:39] jfbu commented on #3835
I tried also and it works fine for me like for @tk0miya (tested with Sphinx stable branch, I guess ok with 1.6.2 as well).

(I also removed the extra html theme, and used classic theme)

1. on `make html`  an `svg` file is correctly produced. I am attaching it here (please remove `.txt` extension). I found it in build folder.

   [e2328fe45e1ecebd77d668faa4e26b6dad0bf8ef.svg.txt](https://github.co