[2016-11-23 07:42] shimizukawa commented on #944
@kanchan1991 please make another issue.

[2016-11-23 09:25] tk0miya commented on #3164
inheritance diagram uses python domains to refer the classes internally.
http://www.sphinx-doc.org/en/1.4.8/domains.html#cross-referencing-python-objects

[2016-11-23 09:27] NikitaEgorov opened #3173 "Add support for the anchor on a list item"
In AsciiDoc its look:

[code]

[2016-11-23 09:43] nowox commented on #2472
Is it possible to get some hints on where (on the codebase) is performed the highlight with pygments? I may spend some time on this these next days.

[2016-11-23 09:46] allebacco opened #3174 "Autodoc's autodoc-skip-member event not working properly with multiple callbacks registered"
Autodoc extension emits the 'autodoc-skip-member' event using `emit_firstresult`, so if multiple callbacks are registered on this event, only the first result is used.
When the user enable the the Napoleon extension and add a custom callback to the 'autodoc-skip-member', only the result from napoleon callback is used and the result from the custom callback is ignored.

The solution could be to emi

[2016-11-23 09:48] allebacco commented on #3174
Another solution could be to return `None` from Napoleon callback, but, however, if multiple user custom callbacks are registered to the `autodoc-skip-member` event, only the fist `not None` result is used.

[2016-11-23 10:45] jfbu commented on #2472
The ``LatexFormatter`` class is actually from pygments

  https://bitbucket.org/birkenfeld/pygments-main/src/a042025b350cd9c9461f7385d9ba0f13cdb01bb9/pygments/formatters/latex.py?at=default&fileviewer=file-view-default#latex.py-149

It is (ultimately) responsible for inserting in Sphinx latex output the

[code]
type of mark-up. (Sphinx modifies the environment name now to sphinxVerbatim)

(also ``

[2016-11-23 10:46] nowox commented on #2472
Thanks, this is something I can play with.

[2016-11-23 10:54] jfbu commented on #2472
listings package is not really compatible with Unicode: it requires considerable extra set-up.

minted package calls Pygments and thus requires shell-escape.

[2016-11-23 12:34] tk0miya commented on #3173
You can do it with following notation:
[code]

[2016-11-23 12:34] #3173 closed, assigned to nobody

[2016-11-23 12:42] NikitaEgorov opened #3175 "WARNING: Could not lex literal_block as "sql". Highlighting skipped."
If code block contains $

Sphinx show
WARNING: Could not lex literal_block as "sql". Highlighting skipped.

[code]

[2016-11-23 13:00] NikitaEgorov commented on #3173
tnx

[2016-11-23 13:36] tk0miya commented on #3174
+1

Note:
autodoc module has used `emit_firstresult()` on `autodoc-skip-member` event since appeared (155411a9).

[2016-11-23 13:39] Paebbels opened #3176 "Broken links in inheritance diagrams"
This is a followup issue on #3164, which corrected inheritance diagrams.

HTML links in an inheritance diagram are broken if the target is defined in another Python module or package and hence in another HTML file. The Python documentation is generated by `autoapi` and stored in the folder `docs/PyInfrastructure`.

![image](https://cloud.githubusercontent.com/assets/956109/20563707/fb9dda18-b189-1

[2016-11-23 13:53] tk0miya commented on #3175
What did you mean? Please tell me what do you want in detail.

Note:
The error is raised by pygments which sphinx uses as highlighting engine.

[2016-11-23 14:01] shimizukawa commented on #1393
I can not reproduce problems with Sphinx-1.4.9.
Original problem is already fixed. So I'll close this issue.
If there are other problems, please open new issue ticket. Thanks.

[2016-11-23 14:01] #1393 closed, assigned to nobody

[2016-11-23 14:06] tk0miya commented on #3148
Now I start packaging.

[2016-11-23 14:26] shimizukawa commented on #3016
I can't reproduce the error on Windows + Py3.5 with Sphinx-1.4.9 (stable HEAD).
@hhsprings please let me know your versions and a command-line for testing.

[2016-11-23 14:53] tk0miya commented on #3148
Released!
Thank you for all developers and users :-)

[2016-11-23 14:53] #3148 closed, assigned to tk0miya

[2016-11-23 14:55] tk0miya commented on #3148
The next is 1.5 release. (ref: #2872)
It will be released within one or two weeks.
So I would not release 1.4.x series anymore.

[2016-11-23 15:03] tk0miya commented on #3176
Do you remember what I said in #3164?

Could you show reproducible and minimal project **without 3rd extensions** please?

[2016-11-23 15:09] tk0miya commented on #2472
We decided to use customized `verbatim` to represent code-blocks.
So I close this issue now.

Thanks,

[2016-11-23 15:09] #2472 closed, assigned to nobody

[2016-11-23 15:26] NikitaEgorov commented on #3175
Add to any RST document code block with language sql
And in this code block wrote $ symbol

Like this

[code]

And try to make html

Sphinx show 1 warning
WARNING: Could not lex literal_block as "sql". Highlighting skipped.

And not highlight code block

[2016-11-23 15:28] shimizukawa commented on #3015
Fixed at 76f2ed9. Thanks for your reporting.

[2016-11-23 15:28] #3015 closed, assigned to shimizukawa

[2016-11-23 16:36] kanchansrivastava opened #3177 "when exclude __init__ throws AssertionError"
If I am trying to exclude __init__.py, it is throwing AssertionError.
I executed following command:

[code]

[2016-11-23 16:42] RobRuana commented on #3174
Napoleon has been doing the incorrect thing for ``autodoc-skip-member``. It returns the ``skip`` parameter by default, when it should return ``None``.

[code]

I will change it to return ``None``:
[code]

[2016-11-23 17:05] allebacco commented on #3174
However, even if Napoleon returns `None`, if the user register multiple callbacks on the `autodoc-skip-member` event, only the first result is used.

The issue could be fixed by:
- returning `None` as default value in napoleon, as suggested by @RobRuana
- improving documentation about the `autodoc-skip-member` event to force the users to return `None` instead of `skip` as default value.

[2016-11-23 17:11] RobRuana commented on #3174
Yes, I think improving the documentation for ``autodoc-skip-member`` is a requirement. I'll also update that.

I think the reason ``emit_firstresult()`` was used instead of ``emit()`` is because there's no best way to resolve the conflict when one extension returns ``False`` and another returns ``True``. The simplest strategy is to use the first result.

[2016-11-23 18:06] RobRuana commented on #3174
Is meaning of the new text (in bold) below clear?

[2016-11-23 18:15] allebacco commented on #3174
Yes, for ne is clear.
We could warning that

*Returning a value that is not `None` will prevent other handlers to be called.*

Just to clarify the meaning of the requirements on the return value.

[2016-11-23 18:46] #3174 closed, assigned to RobRuana

[2016-11-23 19:41] RobRuana commented on #3138
I am going to close this issue for now, because I think it's better addressed by #3141.

[2016-11-23 19:41] #3138 closed, assigned to RobRuana

[2016-11-23 22:37] Paebbels commented on #3176
The issue is the same even if I disable all extensions except for:

* sphinx.ext.autodoc
* sphinx.ext.inheritance_diagram
* autoapi.sphinx

**inheritance_diagram.py line 362..372:**
[code]

**Results in:**
[code]

So we see the missing URL path comes from line 365 `child.get('refuri')`, because the broken URLs are prefixed by two minus signs. I haven't found out where `refuri` is generated.

-----

[2016-11-23 22:41] Paebbels commented on #3172
This happens if `graphviz_output_format` is set to `"svg"`.

[2016-11-23 23:57] Naereen opened #3178 "Implement a py-classindex and py-funindex additionally to the default py-modindex"
Hi, sphinx lovers and coders.

## Suggestion: `py-classindex` and `py-funindex` as well as `py-modindex`
Does anyone else think it could be useful to have, let say, two new pages (for the python domain), that could be called `py-classindex` and `py-funindex`, in the same way as the default `py-modindex` page that lists all the *modules*:

- `py-classindex` to list all the *classes* in all the docu

[2016-11-23 23:59] Naereen commented on #3178
@viblo: you might be interested by this?

[2016-11-24 01:54] tk0miya commented on #3175
The message says our highlighting engine could not parse your input as sql.
Is `$` symbol valid in standard SQL?

Anyway, there are no way to avoid it at this moment.
We have a proposal to add `force` option to highlighting engine (#2310).
It might help you if the engine works well.

[2016-11-24 02:10] tk0miya commented on #3176
Sorry, `autoapi.sphinx` is not a part of sphinx.

Because `sphinx.ext.inheritance_diagram` uses `sphinx.ext.graphviz` internally to draw diagrams.

In SVG case, the URL means a relative path from SVG file.
On the other hand, in PNG case, the URL means a relative path from HTML file.
The difference came from that Sphinx uses `<object>` tag to embed SVG files instead `<img>`.
So the URL of SVG becom

[2016-11-24 06:45] viblo commented on #3178
@Naereen Yes, I think its a great idea. I would definitely prefer it over the dynamic jquery stuff pymunk uses now.

You wrote

If you mean all classes in all the modules I think it can get very messy. If you still want it may I suggest and option to either do it for all, or otherwise just for the current module?
As you can see in the pymunk docs I only display the classes in the current module (a

[2016-11-24 10:26] tk0miya commented on #3054
I was looking your repos today, your repos includes many sphinx projects.
So I can't reproduce the problem.

Anyway, `WARNING: document isn't included in any toctree` messages means that the document is not included in your toctree.
But this warning does not prevent building HTML. so `common-advanced-configuration.html` has built, but it is not included in your table of contents (ToC) of your docu

[2016-11-24 10:36] tk0miya commented on #3021
Okay, I understand.
automodule imports your modules to obtain the docstring.
As a result, automodule invokes the glib main loop.

Please enclosure `if __name__ == '__main__':` block to prevent to invoke your script on importing.

This is described at the document of autodoc. Please read it again:
http://www.sphinx-doc.org/en/stable/ext/autodoc.html

[2016-11-24 10:36] #3021 closed, assigned to nobody

[2016-11-24 11:16] tk0miya commented on #2970
I succeeded with following steps:
[code]
[code]
[code]

The docnames are contained to inventory file since Sphinx-1.4. So you should use Sphinx-1.4 or above on both referrer and target.

[2016-11-24 11:16] tk0miya commented on #2970
It looks working. So I close this.
Thanks,

[2016-11-24 11:16] #2970 closed, assigned to nobody

[2016-11-24 11:28] Naereen commented on #3178
@viblo Indeed it can get messy if there is too many classes, but by default the `genindex` page does this: list of all modules, classes, constants and functions (and it can be messy, [e.g. if many similar functions are defined in different modules](http://perso.crans.org/besson/infoMP/oraux/solutions/genindex.html)).

It could also be some new directives, maybe `.. py-listclass:: `, `.. py-listfun

[2016-11-24 11:33] quentinbodinier commented on #3178
Kudos to @Naereen for starting the discussion. (and @viblo for the jquery based solution which is a great fix).

The main problem I see is that sphinx is module-oriented which makes sense for scripting programs but is far less adapted to object-oriented projects, where it makes much more sense to organize the API according to classes and not modules. Note that I may think so because I come from a

[2016-11-24 11:38] tk0miya commented on #3099
@jfbu Are there anything to do on sphinx side?
If none, I would like to close this.

[2016-11-24 11:45] tk0miya commented on #3142
Now I close this.
Please reopen if you still have a problem.

[2016-11-24 11:56] jfbu commented on #3099
@tk0miya there is nothing to do on Sphinx side currently. The original issue at 1000 lines was explained from a too low memory setting in MikTeX.

Investigation revealed an intrinsic limitation currently in Sphinx that code-blocks or literal includes must each have less than about 1500 lines. In future we could allow up to about 6000 lines, by refactoring sphinx.sty to use package tcolorbox rather

[2016-11-24 12:43] shimizukawa commented on #2490
Now I checked https://github.com/bronto/javasphinx/commit/67e1756d6edcb8c54d89ca5e567cef17db1be453
javasphinx has been modified to support Sphinx-1.4.
Sorry for my late reply.
I think there is nothing to do now.

[2016-11-24 12:44] tk0miya commented on #3089
Sorry for late response.

AFAIK, it means the set of documents (*.rst files), config files and files related the document.
In this case, it is described as the documents built in once.

[2016-11-24 12:46] tk0miya commented on #3099
Thanks,
About tcolorbox, let's discuss after upgrading TeXLive :-)

[2016-11-24 14:37] shimizukawa commented on #2215
Now #3085 is merged. This feature will be included in 1.5 release.

[2016-11-24 14:37] #2215 closed, assigned to nobody

[2016-11-24 14:51] ajdapretnar commented on #2970
Ok, sorry, but I'm still confused. You made two doc folders side by side, but if I put them in separate folders (e.g. ../Big project/doc1, ../Small project/doc2), everything stops working. I'm lost at how many ../ should this have... 😕 I've tried adding one more for the extra folder included, but nothing seems to work.
Also, when I follow your steps exactly, the reference is still not recognized a

[2016-11-24 15:29] shimizukawa commented on #1526
Original issue was fixed at sphinx-1.2.3 release.
And now additionally reported issue also fixed by #1843.

[2016-11-24 15:29] #1526 closed, assigned to nobody

[2016-11-24 17:50] klpatil opened #3179 "Error while generating PDF"
Hello,

I am trying to generate PDF of this documentation site : https://github.com/Sitecore/Helix.Docs/ and I am using these links :
http://rst2pdf.ralsina.me/handbook.html
https://www.quora.com/How-to-create-a-PDF-out-of-Sphinx-documentation-tool

After configurign rst2pdf I am facing an error. Log files attached here. Can you please help?

[Logs.zip](https://github.com/sphinx-doc/sphinx/files/6

[2016-11-24 23:31] shimizukawa commented on #994
This patch is already implemented by #2731 and #2778.

[2016-11-24 23:31] #994 closed, assigned to nobody

[2016-11-24 23:42] shimizukawa commented on #802
Sphinx-1.4.10(stable HEAD) works well
![image](https://cloud.githubusercontent.com/assets/151623/20611293/f004b5c0-b2ea-11e6-84b2-2bfd644dba38.png)

[802.zip](https://github.com/sphinx-doc/sphinx/files/612300/802.zip)

Now close this issue. Thanks.

[2016-11-24 23:42] #802 closed, assigned to nobody

[2016-11-25 01:29] tk0miya commented on #3179
Simply, rst2pdf does not support python3.
This is not a bug of Sphinx.
Thank you

[2016-11-25 01:29] #3179 closed, assigned to nobody

[2016-11-25 03:00] tk0miya commented on #2970
Okay, I understand your situation.
It seems your problem is caused by settings.
[code]

The first element of the value of `intersphinx_mapping` is used to create hyperlinks.
So it should be a relative path from the HTML file.
In other words, it is a relative path from `_build/html` directory.

The second one is used to fetch inventory file.
It should be a relative path from source directory.

Usua

[2016-11-25 03:20] tk0miya commented on #3178
+1 for py-classindex and so on.
But I prefer python to implement it. Because javascript could not support LaTeX and other formats.

[2016-11-25 06:39] viblo commented on #3178
@quentinbodinier Im not against the option of listing all classes, I only want to point out that I think the "see only classes of a single module" is important, and Im not sure I would use this feature unless its possible.

@tk0miya Agree with you. I wrote my version as a dynamic javascript only because it was easy to do and I didnt have the time to figure out how to implement it "properly" at tha

[2016-11-25 14:32] tk0miya opened #3181 "pLaTeX crashes with a section contains endash"
In Japanese docs, pLaTeX crashes with a section contains emdash
[code]
[code]

[2016-11-25 14:36] tk0miya commented on #3181
Fixed at 69820e1.
I replaced the EM DASH character by `\textemdash{}` macro.

[2016-11-25 14:36] #3181 closed, assigned to nobody

[2016-11-25 14:56] shimizukawa commented on #3177
Thanks for your reporting.
I confirmed the problem. I'll take a look.

[2016-11-25 15:26] shimizukawa commented on #3177
@kanchan1991 I just fix the AssertionError (my local).
Now I have to decide a behavior if `__init__.py` file is excluded.

This is a result of apidoc without excluding `__init__.py`. This foo.rst file that is generated from foo package contains "Module contents" section.
[code]

I think if you exclude `foo/__init__.py`, this "Module contents" section should be removed from foo.rst. How do you thin

[2016-11-25 22:20] jfbu commented on #3181
I know nothing about Japanese and platex. But I am wondering if some set-up related to platex is missing. Your example is with EN DASH (U+2013). If I insert an EM DASH (U+2014) I notice that platex appears to convert it to HORIZONTAL BAR (U+2015) in aux and toc file (but might be after-effect if platex is not at all unicode aware). I tried with `jreport` class, it then seems ok in pdf output. But

[2016-11-26 04:13] shimizukawa commented on #3173
Another solution is:
[code]
ref: http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#inline-internal-targets

[2016-11-26 22:46] ThomasWaldmann commented on #2989
I just increased the bounty. $50 now.

[2016-11-26 22:47] ThomasWaldmann commented on #2930
Related: #2989 (but there even failing to find a precise match in a heading)

[2016-11-27 01:34] h2non commented on #701
It's genuinely annoying that there's no way to create or consume relative links in `toctree` yet.

[2016-11-28 07:03] kanchansrivastava commented on #3177
actually, there is no way to exclude "Module contents". I thought excluding foo/__init__.py can be a hack to solve my problem.

[2016-11-28 13:04] shimizukawa opened #3183 "Randomized jump box order in generated index page"
![image](https://cloud.githubusercontent.com/assets/151623/20669211/41a2e712-b5b6-11e6-8c65-a61c9e3748a7.png)

* page: http://manual.pycon.jp/genindex.html
* src: https://github.com/pyconjp/manual/blob/master/source/appendix/glossary.rst

[2016-11-28 15:36] eparish opened #3185 "FR: add ability to suppress Pygments highlight warning"
Add `type.subtype` to suppress the Pygments highlight warning "could not lex as" (i.e. #2264)

[2016-11-29 07:30] riddle911 commented on #3054
All right. Many thanks. I need to do mork work.

[2016-11-29 07:30] #3054 closed, assigned to nobody

[2016-11-30 13:13] tk0miya commented on #2872
Hi developers,
It seems no bugs are reported for 1.5b1.
So I will release this weekend.
What do you think? If you have critical or important bugs, please let me know.

Thanks,

[2016-11-30 13:40] shimizukawa commented on #2872
Please refer #3182

[2016-11-30 13:46] tk0miya commented on #2872
Okay, I'll take a look.
Unfortunately I'm very busy in this weekdays. So I will check it in this weekend.

[2016-11-30 14:03] hoefling commented on #3095
Hi, sorry for the late response! I tried v1.5b1 today and can confirm the issue is resolved! Thank you for your efforts!

[2016-11-30 14:10] jfbu commented on #2872
Can we merge #3180 into 1.5-release ?

[2016-11-30 17:13] Blendify opened #3186 "Encountered unknown tag 'extrahead'"
For some reason 'extrahead' is not working for me.

Add this to layout.html:

[code]
Here is the full trace back:
[code]

[2016-12-01 11:52] tk0miya commented on #2872
@jfbu As a quick look, it seems #3180 is important change for 1.5 to support `is_multiline`. Please merge it into 1.5-release.
It's okay to merge because it is already reviewed by jakobandersen :-)

[2016-12-01 18:09] jfbu commented on #2872
thanks @tk0miya @jakobandersen I have merged it at d2df39d.

[2016-12-01 19:09] jputrino opened #3187 "Using -W does not appear to be treating all warnings as errors"
I'm seeing a discrepancy in results when building docs that I hope someone can help me understand.

When I run sphinx-build *without* the -W flag, I get 114 warnings. When I run it *with* the -W flag, I get one warning treated as an error. Shouldn't the ERROR and SEVERE level results at least be returned?

The conf.py file for the repo is uploaded here as a txt. I'm using v1.4.8.

Thanks!

With -W

[2016-12-02 17:38] jputrino commented on #3187
Resolved after a closer look at the documentation.

[2016-12-02 17:38] #3187 closed, assigned to nobody

[2016-12-02 22:13] scordature opened #3188 "sphinx can't work with nbsphinx because of julia version issues"
What version of Julia works with sphinx and nbsphinx?

Running sphinx on Mac OS 10.10.5, with nbsphinx, all in a virtualenv environment called "venv"

[code]

This error made sense, because I have the current version of Julia installed: it is 0.5, not 0.4.

So, I edited `notebook_jl.ipynb` to call Julia 0.5 instead of 0.4.

Now I get a new error:

$ make html
sphinx-build -b html -d _build/doctree

[2016-12-03 01:19] shimizukawa commented on #3187
Yes.
http://www.sphinx-doc.org/en/1.4.9/invocation.html#cmdoption-sphinx-build-W

[2016-12-03 03:52] tk0miya commented on #3188
It seems your case is an issue of nbsphinx.
Sorry, this is an issue tracker for Sphinx core. not nbsphinx.
Please ask it on their mailing list or forums.
We don't know the behavior of individual extensions.

[2016-12-03 03:52] #3188 closed, assigned to nobody

[2016-12-03 03:54] tk0miya commented on #3186
What about `{% block extrahead %}`?
The `extrahead` is a block.

Thanks,

[2016-12-03 05:44] tk0miya commented on #3128
Fixed at b799249.
Thank you for reporting

[2016-12-03 05:44] #3128 closed, assigned to nobody

[2016-12-03 06:30] jkawamoto opened #3190 "util.split_docinfo fails to parse multi-line field bodies."
From [the reStructuredText Markup Specification](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html), field lists, which are used to define docinfo, allow multi-line field bodies, but util.split_docinfo seems not to consider such case.

For example,

[code]

is expected to be split to

[code]

and

[code]

but util.split_docinfo returns

[code]

and

[code]

[2016-12-03 06:42] shimizukawa commented on #3016
Now I close this issue. Please feel free to resume at any time if you catch a problem.

[2016-12-03 06:42] #3016 closed, assigned to shimizukawa

[2016-12-03 06:45] tk0miya commented on #3185
Fixed at #3189.
Thank you for reporting!

[2016-12-03 06:45] #3185 closed, assigned to nobody

[2016-12-03 11:57] tk0miya commented on #3190
Merged #3191.

[2016-12-03 11:57] #3190 closed, assigned to nobody

[2016-12-03 13:54] tk0miya commented on #3181
Thank you for your help :-)

The unicode support of pLaTeX is not complete. pLaTeX uses EUC-JP or Shift-JIS as a internal encoding. On my local, EUC-JP is used to internal encoding. But, unfortunately, EN DASH is not contained in the character set of EUC-JP (a.k.a JIS X 0208; JIS means Japan Industrial Standard).
I guess this is why the EN DASH is broken on aux file.

Note: EM DASH is contained in

[2016-12-03 15:33] jfbu commented on #3181
Thanks for very clear explanations. As far as I can tell having Sphinx LaTeX output use `\textendash` for the Unicode EN DASH (U+2013) should not harm Sphinx users: when using `[utf8]{inputenc}`, the EN DASH character becomes active and expands to `\textendash` (as one can see doing `$ grep textendash *` and `$ grep 2013 *` in ``/usr/local/texlive/2016/texmf-dist/tex/latex/base``). One can imagine

[2016-12-03 17:55] jfbu commented on #3181
as an alternative to have Sphinx systematically replace U+2013 by `\textendash` one could add, only for `platex` engine some special code:

[code]
This imitates what utf8 does. It assumes of course that document does not load utf8 package.

[2016-12-03 18:22] jfbu commented on #3181
caveat: no idea if the code of my previous comment (which should end up either in document preamble or in sphinx.sty) causes any harm to Japanese documents... I tried a bit and it seems ok. The Error message does not raise an error actually, but one could use `\PackageWarning`

[2016-12-04 02:22] shimizukawa commented on #3037
I guess this problem caused by a Non-ASCII image filename.
It seems that an error occurred because Sphinx could not encode `\u206d` to cp1252 encoding (it might be @fluboe 's console encoding) trying to display "copying images ... <filename>".

@fluboe please check if your image file names contain Unicode character `\u206d`.

[2016-12-04 02:23] shimizukawa commented on #3037
Memo:
[code]

[2016-12-04 02:35] shimizukawa commented on #3024
reproduced as:
[code]

[2016-12-04 04:20] tk0miya commented on #3181
No, the replacement is introduced only for platex. uplatex supports unicode completely, so it is not needed.

[2016-12-04 04:55] shimizukawa commented on #3024
fixed

[2016-12-04 04:55] #3024 closed, assigned to nobody

[2016-12-04 04:57] shimizukawa commented on #3037
Now I fixed the logging issue at 6ae67f9 (stable branch).

[2016-12-04 07:14] tk0miya commented on #3158
I determined to postpone this to 1.5.1

[2016-12-04 07:23] shimizukawa opened #3192 "Sphinx uses many deprecated python features"
[code]
emits massive errors because sphinx uses deprecated python functions and classes.

For example. https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/inspect.py#L65 using `inspect.getfullargspec`, however the function has been deprecated since Python-3.5: https://docs.python.org/3/library/inspect.html#inspect.getfullargspec

We must remove the use of obsolete features.

[2016-12-04 08:39] jfbu commented on #3181
I misunderstood. I thought https://github.com/sphinx-doc/sphinx/commit/69820e1203d7b5b6b7285e3d12826d0bbbf4e06a did a replacement applying to all engines.

[2016-12-04 09:03] tk0miya commented on #3181
Wait, the replacement works to all engines.
I meant:
* At this moment, Sphinx uses pLaTeX by default for Japanese docs. And it causes errors if document includes EN DASH
* upLaTeX doesn't have such problem. so to use it is truely solution. BUT sphinx does not support it. To use it, we have to improve settings more.
* I think the replacement does not harm sphinx users.
* Based on these, the replace

[2016-12-04 09:12] tk0miya commented on #3181
in addition, my comment above means
* the replacement is introduce to fix the issue of pLaTeX
* upLaTeX does not have such problem, so this is not needed for the engine if we will switch to it in future

[2016-12-04 09:17] jfbu commented on #3181
ok. I agree this replacement to fix issue of pLaTeX should cause no harm to Sphinx users in general, for memo I proposed at https://github.com/sphinx-doc/sphinx/issues/3181#issuecomment-264654543 specific patch which could be applied (in improved form regarding error message) only in case of pLaTeX and avoid having Sphinx escape u+2013 to `\textendash` for all engines. However I can't test it exte

[2016-12-04 11:32] tk0miya commented on #3181
Okay, I will test it on Japanese docs.
Thank you for reviewing in detail!

[2016-12-04 11:38] jfbu commented on #3181
alternative PR is #3193 for future perhaps once it is made better (see comments there)

in the meantime, agreed about https://github.com/sphinx-doc/sphinx/commit/7fccbea1ae96e3db3ce1bdaa8268b07a6e5aacf0 having fixed this issue !

[2016-12-04 16:46] tk0miya commented on #2872
Hi developers,
It's time to release of Sphinx-1.5. I and @shimizukawa will start packaging within 12-24 hours.
If you still have work for 1.5, please let us know that and finish ASAP.

Thanks,

[2016-12-05 04:39] shimizukawa commented on #2872
Now start packaging

[2016-12-05 05:51] shimizukawa commented on #2872
published https://pypi.python.org/pypi/Sphinx/1.5

[2016-12-05 06:26] illumino opened #3194 "When make(1) is not GNU make(1) - one patch and one outstanding issue"
Greetings,

I was building sphinx-1.3.1 on Solaris 10 system, where make(1) is not GNU make(1), and encountered a few problems. I have GNU make(1) available as gmake(1).  Note: Sphinx-Newbie-Warning: I'm building Sphinx to get documentation for other FLOSS products, so I have not entered the Sphinx world yet - please excuse any noobishness.

 I was able to fix one consistency issue in sphinx/quick

[2016-12-05 07:54] QuLogic opened #3195 "Many builtin extensions are not parallel-read-safe in 1.5.0"
On Matplotlib's CI, we turn warnings into errors, and Sphinx 1.5.0 appears to have started warning about parallel-reading-safeness on what seems to be every builtin extension. This makes it impossible to run 1.5.0 for CI in parallel. See for example, [this build](https://travis-ci.org/matplotlib/matplotlib/jobs/181267187).

All of these files do not seem to declare `parallel_read_safe`:
[code]

Al

[2016-12-05 08:41] usaturn commented on #2964
I installed pyreadline. and that was fixed.

[2016-12-05 09:11] brechtm opened #3196 "Replace Makefile/make.bat with a Python script?"
A Python script would make it easier to support the various platforms (#3145, #3194). It would also mean that it can be used in the same way on all platforms, which is handy in a `tox.ini`, for example.

[2016-12-05 11:37] brechtm commented on #3196
Here is a (work-in-progress) script I wrote to replace the makefile:

[code]

Like the makefile, this still includes the project name (RinohType) here and there, which should be moved to a variable.

Some targets (latexpdf, info) also call make on a generated makefile. I think these should also be replaced with Python scripts.

[2016-12-05 12:56] asr opened #3197 "Missing changelog entry for Sphinx 1.5"
There isn't an entry for Sphinx 1.5 in the [changes](https://github.com/sphinx-doc/sphinx/blob/a265670b79e737a0c88ea76dbac5485c19f6e350/CHANGES) file.

[2016-12-05 13:32] jfbu commented on #3197
please look at correct branch https://github.com/sphinx-doc/sphinx/blob/1.5-release/CHANGES

[2016-12-05 13:38] asr commented on #3197
Thanks for the right link.

[2016-12-05 13:38] #3197 closed, assigned to nobody

[2016-12-05 13:39] jfbu commented on #3197
Glad it helped, the branch will be merged into master later I guess ;-)

[2016-12-05 14:15] shimizukawa commented on #3197
Now 1.5-release is merged into master ;)

[2016-12-05 15:21] eparish commented on #3185
Thanks @tk0miya !

[2016-12-05 16:15] willfurnass opened #3198 "AttributeError: 'Toctree' object has no attribute 'titles'"
python 2.7.9
sphinx: latest version in `ubuntu:latest` docker image (1.3.6-2, I believe)
sphinx-bootstrap-theme 0.4.12

Started seeing Travis CI builds failing with the following as of the last few days.  Can't think of anything I've done that could have caused this.

[code]

See also https://travis-ci.org/rcgsheffield/sheffield_hpc/jobs/181362754

[2016-12-05 19:27] adammichaelwood opened #3199 "content of conf.py>rst_prolog included for line number count in build messages"
Errors and warnings mention line numbers. Unfortunately, if you have anything in rst_prolog, those lines are included in the line number count.

[2016-12-05 23:21] romnempire commented on #3198
hi, i encountered this same issue.  the 1.4.2 rn that said "Sphinx crashes if self referenced toctree found" looked fishy, I removed self from my toctree and my build worked.

I expect this means y'all have a regression T.T

[2016-12-06 07:42] birkenfeld commented on #3195
@tk0miya  How was this not caught before? This change seems to be in since July...

[2016-12-06 07:52] birkenfeld opened #3200 "1.5 LaTeX: xref inside desc_name not allowed"
In a custom extension, we're using x-refs inside `desc_name`, which generates LaTeX like this:
[code]

When running, it errors out with
[code]

Any ideas? Thanks!

[2016-12-06 09:04] jfbu commented on #3200
This issue is caused by `\hyperref` not being happy that`\sphinxbfcode` makes the ``.`` "active". There are other characters made active for reasons of the verbatim like character of `\sphinxcode/\sphinxbfcode` and also allow line-breaks. I started inserting these changes initially to get straight quotes in inline literals. I did not anticipage that ``\sphinxcode/bfcode`` would be used for other t

[2016-12-06 11:11] birkenfeld commented on #3200
Thanks for the fast diagnosis! Sadly I can't say much about the suggested fixes right now, but making labels "non-active" sounds good.

The extension doesn't do anything special with LaTeX, it just puts a `reference` node into a `desc_name` node.

[2016-12-06 14:25] dwaynebailey opened #3201 "builders.xml requirement since Sphinx 1.5.0"
Our builds have started to get this Extension error after upgrading Sphinx to 1.5.0

`Could not import extension sphinx.builders.xml (exception: No module named sax.saxutils)`

Our extensions are as follows:
[code]

[2016-12-06 15:01] shimizukawa commented on #3201
Sorry for your inconvenient. Please let us know your full console message, also full traceback log.

[2016-12-06 15:04] dwaynebailey commented on #3201
[code]

[2016-12-06 15:29] shimizukawa commented on #3201
Thanks.
Once, please run sphinx-build with `-vvv` option and let us know the log.

For now I guess that it is related to relative import (`docutils.writers.docutils_xml` is using `xml.sax.saxutils`).
If you can, please do:
[code]
and let us know the result.
Thanks.

[2016-12-06 15:39] dwaynebailey commented on #3201
[-vvv log](http://dpaste.com/0QKWXSS)

[code]

[2016-12-06 15:57] shimizukawa commented on #3195
Change 8a45aa5e59 cause this problem.
Since the change, all built-in builders and built-in domains work as extensions. However, this problem occurred because they does not have a 'parallel safe' flag.

[2016-12-06 16:17] shimizukawa commented on #3201
Strange.. `-vvv log` says
[code]
However python console can import `xml` and `xml.sax.saxutils`.

I guess that if you run `make xml` (sphinx-build - b xml) with the previous sphinx version you get the same error. If it is true, during sphinx execution, xml module which is not xml of Python standard library is loaded. I think that is the cause of this problem.
Do you have any idea about this?

[2016-12-06 16:20] birkenfeld commented on #3201
Maybe a leftover xml.py or xml.pyc in `/Users/dwayne/dev/envs/toolkit/lib/python2.7/site-packages/docutils/writers`?

[2016-12-06 16:20] shimizukawa commented on #3195
Fixed. It will be release around this weekend.
@QuLogic if you have a chance, please try stable HEAD.

[2016-12-06 16:20] #3195 closed, assigned to shimizukawa

[2016-12-06 16:23] shimizukawa commented on #3198
Sorry for your inconvenient. The problem is reproduced in my env. I'll take a look.

[2016-12-06 16:27] shimizukawa commented on #2872
ToDo:

* send announce mail
* publish translated document in rtd.

[2016-12-06 16:32] dwaynebailey commented on #3201
@shimizukawa confirmed with 1.4.9 using xml builder, see below.  @birkenfeld afraid not stale, I made a new virtualenv to test and ensure it's clean, same error.

The package we build requires `lxml`, that's very likely then to be the on interfering?

Using `sphinx-build -T -b xml -d _build/doctrees   . _build/html` I get:

[code]

[2016-12-06 16:33] dwaynebailey commented on #3201
It could be this also though.  I've used Mock in places to help with autodocs.  The ones at the end potentially being issues.

[code]

[2016-12-06 16:51] birkenfeld commented on #3195
Nice!

[2016-12-06 16:55] djhoese opened #3202 "Broken latex image scale in Sphinx 1.5.0"
I was trying to help a coworker build our documentation PDF and when testing a fresh build environment found that image scaling no longer works. I'm using conda with python 2.7 and installed sphinx via pip and I'm using my mac. In a subpage of my documentation I have:

    .. image:: my_image.jpg
        :scale: 50%
        :align: center
        :alt: my_image.jpg

When running `make latexpdf` I

[2016-12-06 17:03] dwaynebailey commented on #3201
@shimizukawa taking `xml` out of my MOCK_MODULES causes the build to function properly.

I guess I've never cared to build xml and its only exposed with 1.5.0.

So sounds like a bug in my config rather than Sphinx.  Thanks for the help and patience tracking this down.  I'll leave it to you to decide if this is something that should be fixed/mitigated in Sphinx.

[2016-12-06 17:59] jfbu commented on #3202
Thanks for report. I can reproduce, but actually with both of 1.4.5 and 1.5.

**edit:** please jump directly to later comments because the thing discussed here is another issue.

<strike>
In my testing it is with 1.4.5 that one gets `\scalebox{0.500000}{...}` and with 1.5 that one gets `[scale=0.5]` syntax. But the problem is not related with this, it happens with pure pristine LaTeX `\includegrap

[2016-12-06 18:02] jfbu commented on #3202
Hmm sorry. I did not read your post closely enough. Your issue is something else. You don't experience compilation error but overfull vbox warnings. Sorry for misunderstanding. Will check.

[2016-12-06 18:15] jfbu commented on #3202
Well, sorry again for wrong hint (I am not deleting my post as it may serve in future), but your problem is likely caused by the fact that Sphinx now scales first the image (here by a ratio 0.5) then if it is oversized it fits it to textwidth. Formerly in absence of height or width option, it first scaled oversized image to textwidth then in a second step applied the scaling (via `\scalebox` which

[2016-12-06 18:24] jfbu commented on #3202
Well actually the much simpler thing to do if you want the image to occupy half the text-width is to use this:

[code]

This was already pointed out in issue report https://github.com/sphinx-doc/sphinx/issues/2865 which triggered change of behavior of Sphinx with scaling over-sized images.

[2016-12-06 21:59] shimizukawa commented on #3201
I'm very happy to hear that it solved!
In the previous version Sphinx did not load built-in builders which was not used.  We will consider reverting to the previous behavior, but I think I will close this ticket. Thank you very much for your investigation.

[2016-12-06 21:59] #3201 closed, assigned to nobody

[2016-12-06 23:35] djhoese commented on #3202
So specifying `width` with a percentage definitely works for the same purpose, but shouldn't the `scale` option still work? I mean, this is still a bug isn't it?

[2016-12-07 07:15] Znni commented on #3142
Sorry for the delay. Here is a reproducible example: [SphinxHome.zip](https://github.com/sphinx-doc/sphinx/files/635885/SphinxHome.zip)

I used Sphinx 1.4.8. to generate the html version.

In index.html, toctree item "Home things" (referencing home.rst) should have a a number, but it does not have one. Changing the name from home.rst to something else fixes the problem and a number is given to "Ho

[2016-12-07 07:28] jfbu commented on #3202
The ``scale`` option does work. Simply, formerly, an oversized image was first rescaled to available width, then ``scale`` option was applied. With 1.5, ``scale`` option is applied first and then if the result is wider than available width it is rescaled to fit this width. This is deliberate change (http://www.sphinx-doc.org/en/stable/changes.html#release-1-5-released-dec-5-2016, in 1.5b1 section)

[2016-12-07 07:31] jfbu commented on #3202
ah ok, html looks was a feature of ``alabaster`` theme here is with classic theme:

![capture d ecran 2016-12-07 a 08 30 22](https://cloud.githubusercontent.com/assets/2589111/20958748/80e0e4ae-bc57-11e6-91ba-9cadd02f9fde.png)

[2016-12-07 08:17] tk0miya commented on #3142
Reopened to investigate.
I'll take a look later. (maybe in this weekend)

[2016-12-07 13:34] djhoese commented on #3202
Ah ok. I totally understood the change with regards to first scaling it to cell/text width then applying the scaling specified. However in my test I had done 10% of my image which just happened to still be huge relative to the page size.

[2016-12-07 13:34] #3202 closed, assigned to nobody

[2016-12-07 14:37] shimizukawa commented on #3201
FYI. I guess you are mocking the `xml` module against the whole system, but we recommend `autodoc_mock_imports` as a better way.
http://www.sphinx-doc.org/en/1.5/ext/autodoc.html#confval-autodoc_mock_imports
`autodoc_mock_imports` does not mock the modules which is used by Sphinx, it mocks only when reading the target module of autodoc.

[2016-12-07 15:44] shimizukawa commented on #3198
Fixed at b1abd4629bf. We will make 1.5.1 release around this weekend.

[2016-12-07 15:44] #3198 closed, assigned to nobody

[2016-12-07 17:20] Blendify commented on #3186
Yes that fixed the issue. Thanks

[2016-12-07 17:20] #3186 closed, assigned to nobody

[2016-12-07 18:08] Blendify opened #3203 "Search is broken in 1.5"
After upgrading to sphinx 1.5 the search is not finding any results.

Searching "blender" on https://www.blender.org/manual/search.html gives accurate results (built with 1.4.9).
However, if you build it yourself using 1.5 doing the same thing will fail, it will just search endlessly.

The project is located here: https://developer.blender.org/diffusion/BM/

[2016-12-07 22:45] JDWarner opened #3204 "latex_use_modeindex deprecation warning always thrown"
Scikit-Image does not set or change the default value for this config parameter in our doc build - indeed, searching for `latex_use_modeindex` in our repo yields no results at all.

However, we require the doc build to complete without warnings.  It seems with completely default settings, this is throwing a warning on Sphinx 1.5.  As a result, all of our continuous integration builds are failing.

[2016-12-08 05:23] johnklee opened #3205 "ContextualVersionConflict: (pyOpenSSL 0.13.1 (/usr/lib64/python2.7/site-packages), Requirement.parse('pyOpenSSL>=0.14; extra == "security"'), set(['requests']))"
[code]

[2016-12-08 05:43] shimizukawa commented on #3205
Sorry for your inconvenience. As a workaround, please install requests with security option:
[code]

[2016-12-08 19:09] LindsayHill commented on #3203
We saw something similar with github.com/StackStorm/st2docs / docs.stackstorm.com. For now, we have pinned sphinx to 1.4.9,  which works for us.

[2016-12-08 19:28] jfbu commented on #3200
memo: the underlying LaTeX problem is of the same sort as the one from #2026 which was fixed at https://github.com/sphinx-doc/sphinx/commit/53cd2d4f3f386a8dfea28b314112b1a9a882b7c9.

I anticipate the fix of present issue will also fix #2026 but in another way and hence will revert 53cd2d4.

[2016-12-08 22:19] jfbu commented on #2026
The fix was only partial.  Consider this

[code]

Then testing latex target with Sphinx 1.5 there is a problem. This problem comes from the comma inside `\DUrole` in produced latex:

[code]

The comma is made active by `alltt` latex environment, and this causes error in `\DUrole`.

[2016-12-08 22:27] jfbu opened #3207 "more latex problems with references inside parsed-literal directive (``\DUrole``)"
The latex writer uses ``\DUrole`` with a comma separated first argument, but if this is found inside  `alltt` environment, the comma is TeX active and this breaks latex compilation.

[code]

latex file contains

[code]

and the problem comes from the comma inside `\DUrole`. Reported at https://github.com/sphinx-doc/sphinx/issues/2026#issuecomment-265873107.

[2016-12-08 22:44] jfbu commented on #3207
Not only the comma in `\DUrole{std,std-ref}` but also the `-` is problematic. This is why I opted for `\DUrole{\detokenize{std,std-ref}}` approach by latex writer at #3208 .

[2016-12-09 09:10] jfbu commented on #3207
e9c472c fixes this by moving `\detokenize` insertion to inside `\DUrole` LaTeX macro definition itself.

Analogous issue #3200 fixed at #3206 can't do the same because there would be many core LaTeX macros to patch: `\hyperref`, `\ref`, `\pageref`, `nameref`, `\bibitem`, `\cite`... whic is definitely to avoid. Hence #3206 inserts `\detokenize` explicitely in latex output.

[2016-12-09 09:36] rakhimov opened #3209 "Smart :numref: for Section or Chapter referencing"
It would be great if `numref` used "Chapter %s" for top-level references, e.g., Chapter 1,
and "Section %s" for sections within chapters. e.g., Section 1.1.
This could be deduced from "%s" part.

Is there a way to provide smarter handler for "numfig_format['section']"?
For example: 'lambda s: "Section %s" %s if len(s.split('.')) > 1 else "Chapter %s" % s'

I tried a simple class with overloaded __

[2016-12-09 10:06] rakhimov commented on #3209
Also "Appendix %s" if s is alphabetic.

[2016-12-09 11:59] rakhimov opened #3210 "latex/xelatex: Section numbers are missing from section titles"
html works as expected, but pdf doesn't have section numbers.
1.5 version with xelatex
The code: https://github.com/open-psa/mef

[2016-12-09 12:37] lelit opened #3211 "Italian localization does not work in 1.5"
This release added (in commit 30b9acc3026c795ba98beb361afff271fe197821) the `it_IT` catalog: since it is more specific than the `it` one, it is picked as the main translation, but being empty (that is, all entries are untranslated) its `gettext` returns the original message (even if the underlying stdlib `GNUTranslation` **does** carry a reference to the `it` catalog as a _fallback_, the logic in

[2016-12-09 15:00] tardyp opened #3212 "[docutils 0.13.1] assert not self.context"
Following traceback is found when building buildbot documentation after upgrade to docutils 0.13.1

[code]

You can reproduce by downloading a copy of buildbot
[code]

[2016-12-09 15:11] Nyholm opened #3213 "Issue when rebuilding the docs"
I can't rebuild my docs. Once the docs are built, and I make changes to my source files the generated HTML will not update.

I have some warnings in the output but no errors. I can't seam to find out what Im doing wrong.

[code]

[2016-12-09 15:27] antnieszka commented on #3212
Similar issue with travis/tox:
https://travis-ci.org/ant6/beprof/jobs/182614760
[code]

[2016-12-09 15:36] mtbc commented on #3212
Same with https://travis-ci.org/openmicroscopy/ome-documentation/builds/182595860 -

[code]

In our `.travis.yml` we do `pip install Sphinx==1.2.3` so could this new issue be in a dependency?

[2016-12-09 15:53] tardyp commented on #3212
It looks like it comes from docutils 0.13.1

    pip install docutils==0.12   # fixes the issue.

After investigation:

- self.context contains 4 empty strings
- those empty strings are inserted in visit_image from html.py
  File "/Users/ptardy/dev/bb/buildbot/sandbox/lib/python2.7/site-packages/docutils/nodes.py", line 1882, in dispatch_visit
    return method(node)

  File "/Users/ptardy/dev/bb/

[2016-12-09 15:56] tardyp commented on #3212
@gmilde @grubert  the maintainers of docutils may have some ideas

[2016-12-09 16:21] antnieszka commented on #3212
`docutils <0.13.1` worked for me, thanks 😄

[2016-12-09 18:21] SylvainCorlay commented on #3213
Try deleting your _build directory and other generated files.

[2016-12-09 18:30] Nyholm commented on #3213
Thank you for your suggestion. But Im afraid it does not help. Which makes this extra weird.

[2016-12-09 18:34] SylvainCorlay commented on #3213
Is there a `_generate` directory in your source?

[2016-12-09 18:47] Nyholm commented on #3213
No only a _build.

[2016-12-09 19:13] SylvainCorlay commented on #3213
You may have a stable version of the package installed that is being picked
up.

On Dec 9, 2016 7:47 PM, "Tobias Nyholm" <notifications@github.com> wrote:

No only a _build.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/sphinx-doc/sphinx/issues/3213#issuecomment-266090263>,
or mute the thread
<https://github.com/notifications/u

[2016-12-09 19:28] Nyholm commented on #3213
What do you mean?

[2016-12-09 19:50] pdurbin opened #3214 ""WARNING: unknown mimetype for [filename] ignoring" when running `make epub`"
Is there any easy way to suppress "WARNING: unknown mimetype for [filename] ignoring" when running `make epub`? I'm using Sphinx 1.4.5.

I didn't see anything at http://sphinx.readthedocs.io/en/latest/faq.html#epub-info and from a quick look at https://github.com/sphinx-doc/sphinx/blob/1.5/sphinx/builders/epub.py#L587 I'm not sure what a fix would be.

Here's an example run of `make epub` from htt

[2016-12-09 21:22] gmilde commented on #3212
Sphinx overwrites visit_item() but not depart_item() in writer.html.

For other functions, it keeps the pair together:

This is the right thing to do:

Docutils html writer has a changed visit_item() function in version 0.13, which does not use the
heterogeneous "context" stack. Therefore, also the depart_item() was changed to just pass.

Copying the old depart_image() function to writers/html.py

[2016-12-09 21:34] windelbouwman commented on #3198
Is there already a testcase covering this bug?

[2016-12-09 22:26] h4ckninja opened #3215 "After upgrade to 1.5, primary_domain errors"
I had 1.4.8 installed and a project used `primary_domain = 'php'` without problem. However, when I upgraded to 1.5, the same project produces the following error:

[code]

If I change `primary_domain = 'python'`, I get python not found.

What can I provide to help debug this?

[2016-12-09 23:17] shimizukawa commented on #3198
Yes. please refer above rev link

[2016-12-10 02:38] shimizukawa commented on #3211
OK, I'll remove it.

[2016-12-10 02:41] shimizukawa commented on #3211
On https://www.transifex.com/sphinx-doc/sphinx-1/dashboard/ , there are 6 "completely untranslated" langs that include 4 "without translator". I'll remove these from both transifex and sphinx/locale.

[2016-12-10 02:46] shimizukawa commented on #3211
![image](https://cloud.githubusercontent.com/assets/151623/21070693/285078f8-bece-11e6-820a-169caae5f02d.png)

- Chinese (Mandarin) (cmn) 0% (created Nov 23, 2013)
- Icelandic (is) 0%
- Italian (Italy) (it_IT) 0% 'Language without translators' (created Feb 8, 2015)
- Norwegian (no) 0%  'Language without translators' (created Apr 10, 2015)
- Norwegian Bokmål (nb) 0%  'Language without translators'

[2016-12-10 03:14] shimizukawa commented on #3211
done.

[2016-12-10 03:14] #3211 closed, assigned to shimizukawa

[2016-12-10 04:13] tk0miya commented on #3194
+1 for using environment variable like `$(MAKE)`.

[2016-12-10 04:31] tk0miya commented on #3196
The Makefile is well known and commonly used command. So to provide the Makefile helps the users who don't have python knowledges.
So I would like to keep providing Makefile for users.

BTW, better command line tools are welcome. Since 1.4, we provide make-mode (`-M` option) to sphinx-build. It tries to build document from python side. But I feel sphinx-build is still hard to use barely. So +1 for

[2016-12-10 04:38] shimizukawa commented on #3196
+1 to keep providing Makefile/make.bat.
+1 for improving the `sphinx-build` command as tk0miya mentioned.

Just idea:
[code]

[2016-12-10 05:19] NtsDK opened #3216 "Need several image folders support for multilanguage doc"
I'm working with Sphinx doc and I want to translate my documentation to other languages. I want to make images language dependent so screenshots in English will be in one folder and screenshots in German in other.

Currently Sphinx takes all images from /images folder. As I see in stackoverflow questions it is impossible to modify image directive path with variable substitutions.

Is it possible t

[2016-12-10 06:55] tk0miya commented on #3214
Unfortunately there are no way to suppress them.
We should provide options to do that.

[2016-12-10 07:15] tk0miya commented on #3204
Really? It seems your project sets False value.
https://github.com/scikit-image/scikit-image/blob/master/doc/source/conf.py#L277

[2016-12-10 07:17] tk0miya commented on #3204
Oh, sorry. I understand. There is a typo in our warning message.
`latex_use_modindex` was deprecated, not mod-"e"-index.
I will fix the message later.

Thank you for letting me know!

[2016-12-10 07:42] tk0miya commented on #3204
Fixed at 	e6ca4ee.

[2016-12-10 07:42] #3204 closed, assigned to nobody

[2016-12-10 07:43] tk0miya commented on #3199
duplicated with #2617

Thank you for reporting.

[2016-12-10 07:43] #3199 closed, assigned to nobody

[2016-12-10 10:29] windelbouwman commented on #3198
Ah, okay, super! Thanks!

[2016-12-10 11:59] tk0miya commented on #3205
@johnklee Could you try #3218? I think it would fix your problem. But I could not test it because I could not prepare the environment having old pyOpenSSL.
It would be nice if you could confirm the PR.

Thanks,

[2016-12-10 13:20] tk0miya commented on #3210
What did you mean? At my local, section numbers are shown like following.
![2016-12-10 22 17 28](https://cloud.githubusercontent.com/assets/748828/21073604/7afee244-bf26-11e6-86db-e137de1b89f2.png)

Please let me know your problem in detail.

[2016-12-10 14:07] SylvainCorlay commented on #3212
I am actually seeing the same error on RTD with docutils 0.12. (unless the version number displayed by RTD does not actually reflect the installed version of docutils ).

https://readthedocs.org/projects/ipywidgets/builds/4771583/

[2016-12-10 14:28] tk0miya commented on #3216
How about using `figure_language_filename`?
[code]
With the configuration, you can put images under language-named directory like `en/image.png`, `de/image.png` and so on.

[2016-12-10 14:32] tk0miya commented on #3212
@SylvainCorlay Your case is similar to this, but not related issue.
could you file a new issue?

[2016-12-10 14:32] tk0miya commented on #3212
Merged #3217.

[2016-12-10 14:32] #3212 closed, assigned to tk0miya

[2016-12-10 14:45] tk0miya commented on #3212
@SylvainCorlay  Hmm? It seems your case is same as this issue.
[code]
`docutils/writers/_html_base.py` is new file since docutils-0.13. It's not docutils-0.12.

At my local, it was also fixed by #3217.

[2016-12-10 14:45] SylvainCorlay opened #3219 "[docutils] assert not self.context"
Similar to #3212 . Opening a separate issue as per @tk0miya's comment.

I am seeing the following traceback when building on RTD: (although unable to reproduce locally).
Forcing docutils < 0.13.1 does not seem to help.

https://readthedocs.org/projects/ipywidgets/builds/4771583/

[code]

[2016-12-10 14:48] SylvainCorlay commented on #3219
Closing as per new comment by  @tk0miya in other issue.

[2016-12-10 14:48] #3219 closed, assigned to nobody

[2016-12-10 14:49] SylvainCorlay commented on #3212
@tk0miya thanks. So it must be the combination of `conda` environment.yml and pip dependencies that results in docutils 0.13.1 being installed even when I specify `<0.13.1`. I will try to find the right incantations to get the version I need.

[2016-12-10 15:43] tk0miya commented on #3214
Fixed at 6d900c3.
Thank you for reporting!

[2016-12-10 15:43] #3214 closed, assigned to nobody

[2016-12-10 15:46] rakhimov commented on #3210
@tk0miya Honestly, I don't know where the problem is. The code is on https://github.com/open-psa/mef
configured for xelatex.
Also, for some reason, ``latex_engine=xelatex`` has no effect in conf.py.
I have to set it in makefile via PDFLATEX.

I tried to configure the ``secnumdepth`` counter via preamble and hardcoding to style files in the build/latex,
but no luck there also.

[2016-12-10 16:26] tk0miya commented on #3213
What did you mean "rebuild"?
Please tell me your operations in detail.
What message did you see on failed to rebuild?

[2016-12-10 16:38] tk0miya opened #3221 "Deprecate epub2 builder"
Since 1.5, we've start to use epub3 builder by default for `make epub` command.
AFAIK, EPUB3 is upper compatible with EPUB2. So there is no reason to keep providing the epub2 builder.
To simplify our package, it would be nice if the builder would be removed in future version.
How about doing it in 1.6?

[2016-12-10 16:42] tk0miya opened #3222 "Define issue template"
To resolve issues quickly, I'd like to define issue template for github.

* Environment info (cf. version of sphinx)
* Problem
* Error logs
* reproducible project / your project

Any ideas for question?

[2016-12-10 17:31] jfbu commented on #3207
fixed at  db97f37 (#3208)

[2016-12-10 17:31] #3207 closed, assigned to jfbu

[2016-12-10 18:10] jfbu commented on #3210
I have tried your repo and have no issue. (tried with Sphinx 1.5).

[code]

It is true that `make latexpdf` mentions `pdflatex` but the compilation did happen with `xelatex`:

[code]

I see no issue with section numbers in produced pdf.

Side note: I needed to modify make rule for inkscape into

[code]

i.e. with full path, else inkscape complained. (but this might due to the fact that I am unfami

[2016-12-10 18:16] rakhimov commented on #3210
@jfbu Thanks for reviewing. Indeed, somehow, ``latex_engine=xelatex`` didn't work so I had to put in makefile directly.

This more and more seems to be an issue on my system. Very strange issue. What could possibly affect sphinx to not generate the section numbers for latex?
(it does ok with html for me.)

I tried with virtualenv but getting the same issue. I think I have to find some away to comp

[2016-12-10 18:18] jfbu commented on #3210
when I wrote my earlier comment  I had not seen the `PDFLATEX=xelatex ` added in the Makefile, I have removed it and tried again, and it does work the `latex_engine` conf.py setting is obeyed, according to latex compilation log.

Can you post somewhere ``opsa_mef.log``  after ``make latexpdf`` ?

[2016-12-10 18:21] jfbu commented on #3210
also add

[code]

just to check if you have a TeX installation problem.

[2016-12-10 18:24] rakhimov commented on #3210
The logs: https://gist.github.com/rakhimov/e41e6bfa3b6b21884c242bf64ec43590
I am on Ubuntu 16.04.

[2016-12-10 18:28] jfbu commented on #3210
ok got the log. Nothing obvious so far, scanning.

[2016-12-10 18:45] jfbu commented on #3210
well, so far I have no explanation. I also compiled it on TeXLive 2015 (which is what you have on Ubuntu 16.04 according to the latex log) and I get the section numbers.

![capture d ecran 2016-12-10 a 19 35 15](https://cloud.githubusercontent.com/assets/2589111/21075352/ef52bb6e-bf0f-11e6-91c6-dd2348a88984.png)

I found nothing obvious about missing fonts in your log. Your latex has a `Package: t

[2016-12-10 18:50] rakhimov commented on #3210
The whole generated files: https://github.com/rakhimov/tex.sx

[2016-12-10 19:00] jfbu commented on #3210
I cloned it, only thing is that Makefile strangely contains `PDFLATEX = pdflatex` (which doesn't happen with me when I do `make latex` from top repertory). After manually fixing this to `PDFLATEX=xelatex` I ran `make all-pdf` and the pdf is ok. The section numbers are there. I did this with TeXLive 2015.

[code]

[2016-12-10 19:14] jfbu commented on #3210
it should be `latex_engine='xelatex'` but I see you have this right in your conf.py.

[2016-12-10 19:25] NtsDK commented on #3216
tk0miya, thank you for your answer. It solves my problem. May I share your answer on [stackoverflow ](http://stackoverflow.com/questions/39008064/how-to-customize-sphinx-doc-images-folder) or you want to do it yourself?

[2016-12-10 23:07] illumino commented on #3194
Thanks for the +1. A small note: technically $(MAKE) is the expansion make(1) variable/macro, but values for such variables can be influenced by your environment variables (both in general and by the -e option). Most users would not have most make(1) variables coming from the environment, but from built-in make defaults (see -p option - what is built-in varies by make(1) implementation). So when I

[2016-12-11 00:13] shimizukawa commented on #3221
+1 for removing.
I think we should emit DprecationWarning to remove the feature.
I wrote a deprecation policy document. Please read and give me your opinion.
http://www.sphinx-doc.org/en/1.5/devguide.html?highlight=deprecation#deprecation-policy

[2016-12-11 00:57] shimizukawa commented on #3222
Something like

[.github/ISSUE_TEMPLATE.md](https://github.com/blog/2111-issue-and-pull-request-templates):
[code]

In addition, it is nice if we have CONTRIBUTING.md and PULL_REQUEST_TEMPLATE.md.

[2016-12-11 02:58] rakhimov commented on #3210
I've been trying many things: reinstalling latex/sphinx/virtualenv.
The first thing that was corrected is the 'xelatex' is now picking up into makefile in python3 env virtualenv.

The weird thing is that if I write latex by hand, the sections get numbered and the latex reacts to my secnumdepth.

If I create a new/fresh sphinx project with the same file but in rst,
it is the old story.

[2016-12-11 03:57] erik-sn commented on #3203
Digging into the chrome debugger a little, it seems the `DOCUMENTATION_OPTIONS` object is missing the `SOURCELINK_SUFFIX` field. This is giving an unhandled exception in searchtools.js.  This object looks like it is initialized through templating [here](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/layout.html#L87).

Here's a screen shot of my debugger with variable values:

[2016-12-11 09:18] jfbu commented on #3210
I have no clue, because if I latex on my locale your https://github.com/rakhimov/tex.sx file, I see no issue with section numbers in pdf. Side remarks: you have files there which are remnants of earlier Sphinx. Formerly, some style files where distributed with Sphinx: `fncychap.sty`, `iftex.sty`, `needspace.sty`, `newfloat.sty`, `tabulary.sty`. Among them only `needspace.sty` is still there becaus

[2016-12-11 09:42] Nyholm commented on #3213
Sure. I check out a documentation project that are using Shinx. It does not matter which, I've tried 3 different ones.  Then I run `make html`

[code]

In my _build folder I get all the HTML and it looks great. Then I decide to make a change. So I edit a file and run `make html` again.

[code]

But my HTML has not changed. I can see the line saying `updating environment: 0 added, 1 changed, 0 remo

[2016-12-11 10:20] skirpichev opened #3223 "Build fails with newer docutils version"
Simple workaround (for me) is [adding conflict](https://github.com/diofant/diofant/pull/392) for newer docutils versions: <=0.12 works ok.

[An example](http://readthedocs.org/projects/diofant/builds/4772316/) of failure with traceback.  In [my project](https://github.com/diofant/diofant/) this happens because of [that part of code](https://raw.githubusercontent.com/diofant/diofant/master/docs/mod

[2016-12-11 11:49] tk0miya commented on #3223
Thank you for reporting.
It was already fixed at #3217

[2016-12-11 11:49] #3223 closed, assigned to nobody

[2016-12-11 12:00] brechtm commented on #3196
I didn't know about "make mode". This is even better than a Makefile-esque Python script!

I agree that there is room for improvement though:
- `sphinx-build -h` does not list the `-M` option
- the documentation only mentions make mode on the sphinx-quickstart page
- `sphinx-build -M` prints _Error: at least 3 arguments (builder, source dir, build dir) are required._
- `sphinx-build -M help` print

[2016-12-11 12:17] brechtm commented on #3196
Another thought: why not specify the source and build directories in `conf.py`? I think that would make sense. This would make them optional arguments to sphinx-build (still allowing to override).

[2016-12-11 12:35] tk0miya commented on #3203
Did you use sphinx_rtd_theme? If so, It's a bug of the theme.
https://github.com/snide/sphinx_rtd_theme/pull/346

[2016-12-11 12:51] tk0miya commented on #3205
Now #3218 is merged.
Thank you for reporting.

[2016-12-11 12:51] #3205 closed, assigned to tk0miya

[2016-12-11 12:52] shimizukawa commented on #3215
phpdomain works fine in my environment.
I attach logs and a sample project.
[code]

* project example: [3215.zip](https://github.com/sphinx-doc/sphinx/files/644437/3215.zip)

@micheal  can you please check your environment?

[2016-12-11 13:24] shimizukawa commented on #3213
Strange.. I guess..
1. rst file you changed is not a part of the project (or not saved)
or
2. current directory in docker environment is not `/doc` directory which is mounted as volume of host

[2016-12-11 13:28] tk0miya commented on #3216
Okay, please post this answer.

Note: The reference of `figure_language_filename`
http://www.sphinx-doc.org/en/stable/config.html#confval-figure_language_filename

[2016-12-11 13:28] #3216 closed, assigned to nobody

[2016-12-11 13:50] Nyholm commented on #3213
Thank you for getting back to me.

1. It is a part of the project and it is properly saved. Edit the file and do `touch` gives the same result.

2. It is a docker image... Im starting to hesitate here. See https://github.com/webplates/docker-readthedocs/blob/master/Dockerfile

My working dir and volume is /doc. I start the docker image with `docker run --rm -it -v "$PWD":/doc webplates/readthedocs

[2016-12-11 13:54] jfbu commented on #3200
Fixed at 4b42446. (#3206)

[2016-12-11 13:54] #3200 closed, assigned to jfbu

[2016-12-11 13:56] jfbu commented on #2026
Fixed (in a new way) at 4b42446 (#3206) and e9c472c (#3208).

[2016-12-11 13:56] #2026 closed, assigned to nobody

[2016-12-11 14:03] erik-sn commented on #3203
Yep that's it, thank you for pointing me to it.

[2016-12-11 14:18] shimizukawa commented on #3213
I tried with same docker image, same target project, and same procedure, however I can't reproduce it.

[code]

Here I modified `index.rst` as: `PHP-HTTP` to `PHP-HTTP2`

[code]
Finally I got a updated `index.html` file that contains modified part (PHP-HTTP2).

[2016-12-11 14:20] Nyholm commented on #3213
So, Any guesses what I mess up with my environment?

[2016-12-11 14:25] tk0miya commented on #3203
For now, it seems not a bug of sphinx.
So I close this now.
Please reopen if you still have same problem with bare sphinx.

Thanks,

[2016-12-11 14:25] #3203 closed, assigned to nobody

[2016-12-11 14:37] Nyholm commented on #3213
Ping @sagikazarmark. Can you make a guess?

[2016-12-11 18:18] reszelaz opened #3228 "Poor exception handling when missing dependency"
I got the following error message:

[code]

While the message should be something like:

[code]

The problem resides in the `sphinx.setup_command.BuildDoc.run` method which fails before app gets assigned.

I run sphinx 1.5 on Windows 7.

[2016-12-12 02:18] tk0miya commented on #3228
Fixed at 3c734e5.
Thank you for reporting!

[2016-12-12 02:18] #3228 closed, assigned to nobody

[2016-12-12 02:35] tk0miya commented on #2872
@shimizukawa Do you still have any work for 1.5-release?
If finished, please close this issue.

[2016-12-12 02:50] tk0miya opened #3229 "Sphinx-1.5.1 release plan"
Hi developers,

Unfortunately, Sphinx-1.5 had some critical bugs.
So we have to push a new bug-fix release ASAP.
So I'd like to release a new package today or tomorrow (Dec 12th or 13th).
Here is tasks for 1.5.1:
https://github.com/sphinx-doc/sphinx/milestones/1.5.1

@shimizukawa @jfbu Do you have any "critical" tasks?
"critical" means that users are hard to build document like crashes, broken res

[2016-12-12 03:06] shimizukawa commented on #2872
Ah, all works has been done!

[2016-12-12 03:06] #2872 closed, assigned to tk0miya

[2016-12-12 03:29] shimizukawa commented on #3229
No, I have not.

[2016-12-12 07:14] cjw296 commented on #3157
So, interestingly, I've inadvertently left this in a perfect state for Sphinx people to see what's going on:

The API docs I *want* are the ones that come from:
https://github.com/Simplistix/mush/blob/master/docs/api.txt#L4
https://github.com/Simplistix/mush/blob/master/mush/__init__.py#L13

However, those render *without* explicit, as can be seen here:
http://mush.readthedocs.io/en/latest/api.htm

[2016-12-12 07:21] jfbu commented on #3229
I don't have critical tasks left either !

[2016-12-12 08:45] sagikazarmark commented on #3213
I also tried to reproduce on Linux and Mac and I don't experience this problem. I am especially confused because in Docker it should be the same environment. Maybe something messed up with your hard drive? Filesystem, messed up mtimes, etc.

[2016-12-12 08:50] SylvainCorlay commented on #3213
If you have a version of the package installed with --user that could be the reason.

[2016-12-12 09:15] shimizukawa commented on #3229
problem information for docutils-1.13.1 is comming.
https://groups.google.com/d/msg/sphinx-dev/tjzsgHCz-Nk/rSZ3sRvmCwAJ

[2016-12-12 10:05] Naereen commented on #3178
Any update?

[2016-12-12 10:19] tk0miya commented on #3178
Nothing changed yet.
Now we released Sphinx-1.5 last week. And we'd received some bug reports for the package.
So now we are working for the bug fixes. there are no time for improvements.

Anyway, we have tons of issues and proposals. So I can't promise you when this will be finished.
Of course, all pull requests are always welcome :-)

[2016-12-12 10:28] sagikazarmark commented on #3213
It's a docker image, the installation can be found here: https://github.com/webplates/docker-readthedocs/blob/master/Dockerfile

[2016-12-12 10:54] tk0miya commented on #3213
Is this really a issue of Sphinx? I feel this is an environment issue of docker.

[2016-12-12 10:58] Nyholm commented on #3213
Maybe it is an issue with my Docker setup or the Docker image or maybe it is Sphinx. But can you explain it? Or can you tell for sure since none of us have any idea what causes the error..

[2016-12-12 11:05] sagikazarmark commented on #3213
@Nyholm Does it work without docker?

[2016-12-12 11:14] Naereen commented on #3178
I understand.

As I said, I will try to do it myself, but I don't know which file I can work from.
Could you please indicate me how (and where) the `py-modindex` is generated in the Python domain ?

[2016-12-12 11:14] Nyholm commented on #3213
No, it does not.  :(

### Without docker:

If Im not using docker I had the issue on OSX with `six`. I think I solved it by installing six by installing Sphinx with `pip install -U Sphinx --user`

But I've run into another issue. (Think it is same as [this](https://github.com/getpelican/pelican/issues/1558))

[code]

[2016-12-12 11:17] sagikazarmark commented on #3213
Try installing [pyenv](https://github.com/yyuu/pyenv), install python 3 into your user prefix, install whatever you need there.

[2016-12-12 11:41] jose-lpa opened #3230 "Exception when writing HTML output"
Hello,

I am having this exception when running `make html -C docs` from Sphinx version 1.4.9 in advance:

[code]

This wasn't happening before, when I was using Sphinx version 1.4.6, until today when I updated it to +1.5. Any idea of what can be wrong? What does that exception mean? My docs didn't change at all between those versions.

Thanks.

[2016-12-12 12:00] jacquerie commented on #3230
It's an incompatibility with `docutils` 0.13.1, which was already fixed [here](https://github.com/sphinx-doc/sphinx/pull/3217). I think we just need to wait for Sphinx 1.5.1.

[2016-12-12 12:27] tk0miya commented on #3230
Sorry for inconvenience. It was already fixed, and will be released soon.
Please wait a moment.

[2016-12-12 12:27] #3230 closed, assigned to nobody

[2016-12-12 14:25] sirno opened #3232 "Autosummary fails to import methods"
Hello,

trying to autodocument a small project using numpydocs is causing me some trouble.

The code includes docstrings mostly conforming to the numpy docstring standard.
In the method section numpydocs will either generate a table or generate an autosummary table containing the methods that are not summarized in the classes' docstring.

Now the issue is that these methods can not be imported, re

[2016-12-12 14:41] pdurbin commented on #3214
@tk0miya wow! That was fast! Thanks for the bug fix! 😄

[2016-12-12 14:49] shimizukawa commented on #3232
Actually I don't know the numpydoc completely, so I can't say anything.
Please let me know a procedure of making environment and also minimum example to reproduce the issue.
I think it is better way to discuss your problem with numpydoc author/team before here.

[2016-12-12 15:04] mouse07410 opened #3233 "LaTeX doc build fails with py27-sphinx"
But it works OK with `py35-sphinx`.

Here's the failure log:
[code]

This problem manifests itself in Botan project, and was mentioned in https://github.com/randombit/botan/issues/746

[2016-12-12 15:06] astrofrog opened #3234 "Issue with intersphinx with latest developer version of Sphinx"
With the latest developer version of Sphinx (and 1.5) I see the following warnings/errors:

[code]

This works fine with 1.4.8. Unfortunately many of these intersphinx objects.inv files are beyond my control, so I cannot simply re-generate them all with Sphinx 1.5. This seems like a pretty big backward-incompatibility. Would it be possible to restore backward-compatibility in 1.5.1?

[2016-12-12 15:48] shimizukawa commented on #3183
fixed.

[2016-12-12 15:48] #3183 closed, assigned to shimizukawa

[2016-12-12 16:32] lsaffre commented on #2336
Here is above patch, adapted for 1.6 (currently in development)
[fix2336_autosummary.txt](https://github.com/sphinx-doc/sphinx/files/646555/fix2336_autosummary.txt)

[2016-12-12 17:32] sirno commented on #3232
Yes, I wasn't sure where to post it, anyways I constructed an example that reproduces the warning. Only requirements are sphinx and numpydoc installed. `make html` then reproduces the warning:
[example.zip](https://github.com/sphinx-doc/sphinx/files/646696/example.zip)

[2016-12-13 03:01] tk0miya commented on #3234
At my local, I can't reproduce the problem.

With sphinx-1.5:
[code]

With master HEAD:
[code]

Note: my settings
[code]

[2016-12-13 03:14] tk0miya commented on #3234
Note:
Since 1.4.8, the format of inventory is not changed. So I believe this is not a compatibility problem.

The reported warnings came from some ValueError on `read_inventory()` even if the exception is not related with inventory version.
[code]

To investigate more deeply, we have to know what exception did `read_inventory()` throw.

[2016-12-13 03:22] tk0miya commented on #3233
To reproduce this, I'd like to build your document locally.
But I could not understand how to build docs in your project.
Could you tell me the way to build?

Note: It seems capacity problem of TeX.
[code]

[2016-12-13 07:46] mouse07410 commented on #3233
1. I totally understand that you'd like to build the offending project locally. For that - clone https://github.com/randombit/botan.git, configure it (I don't think it matters what options you feed), and do "make && make docs". Then edit Makefile, changing SPHINX option from "-b html" to "-b latex" and re-run "make docs". Now go to sub directory build/docs/manual and run "make". Observe the error.

[2016-12-13 13:45] shimizukawa commented on #3232
Thanks.
After several trial, I think it is a bug of numpydoc.
When extensions in conf.py doesn't have 'numpydoc', `import error` warning isn't appeared. So your example project works well without 'numpydoc' extension.

[2016-12-13 13:47] shimizukawa commented on #3232
Now I close this issue because there are nothing from Sphinx side.
Please contact to numpydoc author. Thanks.

[2016-12-13 13:47] #3232 closed, assigned to nobody

[2016-12-13 14:22] shimizukawa commented on #3232
FYI.
[code]
It display verbose information that have intermediate reST source what is generated by `autodoc` and/or  `numpydoc`. Please check a diff of with/without numpydoc extension.

[2016-12-13 14:36] tk0miya commented on #3229
I will start releasing at 30min later.

[2016-12-13 14:43] sirno commented on #3232
Ok thanks, thats very helpful.
I think I know what might fix it, it should be possible to fix it in numpydoc by adding a line
`.. currentmodule:: <class>`. Will try to do that.

[2016-12-13 15:45] #2336 closed, assigned to nobody

[2016-12-13 15:51] #1061 closed, assigned to birkenfeld

[2016-12-13 15:54] shimizukawa commented on #1061
Fixed by #3235.

[2016-12-13 15:54] shimizukawa commented on #2336
Fixed by #3235. Thanks to @lsaffre !

[2016-12-13 15:56] tk0miya commented on #3229
Released!

Thank you always for all developers and contributors.

[2016-12-13 15:56] #3229 closed, assigned to tk0miya

[2016-12-13 15:59] shimizukawa commented on #2144
I think this issue is invalid because the real problem is in autosummary which was fixed in #2336. If true, please close this issue. Otherwise, please let me know the problem what you get.

[2016-12-13 16:01] tk0miya opened #3238 "Sphinx-1.5.2 release plan"
Target date is not planned yet. But, on the basis of release cycle, it would be released at mid or end of January.

[2016-12-13 16:04] shimizukawa commented on #3222
Now I added a `.github/ISSUE_TEMPLATE.md`.

[2016-12-13 16:06] shimizukawa commented on #3238
I got.

[2016-12-13 16:35] tk0miya commented on #3238
Note:
The release cycle of Sphinx is:

* minor, bug fix release at a month interval
* major, feature release at 6-8 months interval

[2016-12-13 16:43] tk0miya commented on #3222
Looks great! It would be wonderful if we could use reStructured Text :-)

BTW, would you like to add also CONTRIBUTING and PULL_REQUEST_TEMPLATE?
If not, I will close this issue.

Thanks,

[2016-12-13 16:58] tk0miya opened #3239 "Don't store modules and data to class attributes"
# Problem
Some Sphinx API stores modules and data to class attribute.
For example, `Sphinx.add_transform()` stores transform class to `SphinxStandaloneReader`:
[code]
This causes these modules and data affect to other builds in same process.
We should store them to instance variables.

[2016-12-13 18:17] jfbu commented on #3210
1. I will try a silly question: you are not referring to the PDF *bookmarks*, but really to the section titles inside the PDF text ? (I said it was silly).

2. In the log you shared, all looks perfectly fine, but I noticed

[code]

which is strange because all other input files are under ``/usr/share/texlive/texmf-dist/tex/latex/`` and if I try on my locale with TeXLive2015 those `t3enc.def` and `

[2016-12-13 19:05] jfbu commented on #3233
This is a character encoding problem which causes an infinite loop  with `\textcopyright`.

[code]

Can you use the following in your ``src/build-data/sphinx/conf.py`` :

[code]

and try again? I don't know enough of Python aspects of Sphinx to tell if this is a Sphinx problem.

[2016-12-13 19:12] jfbu commented on #3233
side note: when I did ``make`` locally there was a number of deprecation errors showed, but maybe I am lacking suitable libraries. Fortunately I could nevertheless experiment with `make docs` after that.

[code]

[2016-12-13 19:29] jfbu commented on #3210
actually more likely than PATH (which would influence location of `kpsewhich`) you should check if there is a ``/usr/share/texlive/texmf.cnf`` file and report its contents. For example on my install, something like this

[code]
which is typical of TeXLive installs on Mac OS X. Is there is `/usr/share/texmf` there in ?

Also try ``tlmgr conf`` which will output in command line console all the confi

[2016-12-13 21:24] rakhimov commented on #3210
@jfbu Strangly, I don't ``usr/share/texlive/texmf.cnf``.
The pdf is available on https://open-psa.github.io/mef (with section numbers missing in titles)
[tlmgr conf output](https://gist.github.com/rakhimov/fe00ccd777e16a7dcf1619abc48db148)
Actually, my PATH contains no tex related parts, only path to general binary locations.

I am going to try with 'texlive-fonts-extra' to see if that can be the

[2016-12-13 21:26] rakhimov commented on #3210
texlive-fonts-extra didn't help.

[2016-12-13 21:27] jorispz commented on #3210
Just a 'me too' from me on this issue. Today I created a clean install in a Docker image, installing the full TeX Live distribution on an Ubuntu 16.04 install and Sphinx 1.5 (the latest available in the Ubuntu repos).

I get the exact same problem, no section numbers appearing in the actual section headers in the PDF. They do show up in the TOC, and the also show up fine in HTML.

I have two texmf

[2016-12-13 21:31] mouse07410 commented on #3233
Thank you, your proposed fix worked.

Not sure about the deprecation errors - would need to see more of the error messages, and even then probably defer to the Botan developers... But possibly it's just a configuration problem - like not pointing at the OpenSSL library (which in turn should be relatively fresh, not 0.9.8)...

[2016-12-13 21:31] #3233 closed, assigned to nobody

[2016-12-13 21:32] jorispz commented on #3210
Oh, and attached is the output of `tlmgr conf` on my system (i.e. Docker container)
[tlmgr_conf_output.txt](https://github.com/sphinx-doc/sphinx/files/650205/tlmgr_conf_output.txt)

[2016-12-13 22:11] jfbu commented on #3210
Hi guys. Mystery solved, and sorry for letting you dig into the bowels of your respective TeX installations. I said above:

Turns out that titlesec 2.10.1 had this bug http://tex.stackexchange.com/questions/299969/titlesec-loss-of-section-numbering-with-the-new-update-2016-03-15

The TeXLive2015 on your systems is not fully updated. I will think about easiest fix and write again.

[2016-12-13 22:14] jfbu commented on #3210
[Ubuntu bug 1574052](https://bugs.launchpad.net/ubuntu/+source/texlive-extra/+bug/1574052)

[2016-12-13 22:15] rakhimov commented on #3210
Man, don't they have some regression test for this sort of simple things? Ridiculous.

[2016-12-13 22:18] jfbu commented on #3210
Try this:

1. download http://mirrors.ctan.org/install/macros/latex/contrib/titlesec.tds.zip

2. run ``kpsewhich --var-value TEXMFHOME``, let `/my/path/to/my/texmfhome` be the result

3. run  ``unzip titlesec.tds.zip -d /my/path/to/my/texmfhome``

This could work.

[2016-12-13 22:24] jfbu commented on #3210
@rakhimov in your case ``unzip titlesec.tds.zip -d /home/olzhas/texmf`` should do it. Make sure you don't have a `ls-R` file in this repertory. If you do have one run `texhash /home/olzhas/texmf`, if you don't have `ls-R` file, **don't do the texhash**

@jorispz in your case you installed as root. I am not sure about best procedure then, I would rather install in TEXMFLOCAL, hence in your case use

[2016-12-13 22:27] jfbu commented on #3210
@jorispz You may try sudo install in ``/root/texmf`` which is your TEXMFHOME. Don't run texhash on it if no `ls-R` file there. I never do any TeX install as root myself and have full access rights to all its repertories, hence I have no experience with such set-up.

(I didn't pay enough attention to your Docker container context; perhaps thus the above does not make sense.)

[2016-12-13 22:28] jfbu commented on #3210
@rakhimov If you open the doc of `titlesec` now which is still at 2.10.2, there is no hint whatsoever that it was issued to fix that bad bug.

[2016-12-13 22:53] rakhimov commented on #3210
@jfbu Great! Your suggestion for simple unzip to ~/texmf fixed it.
Thanks for taking care of the issue even if it wasn't from Sphinx.
Feel free to close the issue as you wish.

[2016-12-13 23:00] jfbu commented on #3210
@rakhimov thanks for confirming fix. I hope @jorispz will solve his issue as well.

We could at Sphinx add some code to our own LaTeX style file to detect if bad version of `titlesec` is in use and print an explanatory warning to console output (unfortunately LaTeX console output is so humongous  it is hard to make it noticeable to the user, except if we make this an Error message). What do you th

[2016-12-13 23:00] #3210 closed, assigned to nobody

[2016-12-14 01:42] shimizukawa commented on #3239
Also `themes` and `themepath` attributes in `sphinx.theming.Theme`. (however these have no side-effect like SphinxStandaloneReader).

[2016-12-14 01:45] shimizukawa commented on #3222
Can someone do? (otherwise, I will)

[2016-12-14 07:37] tk0miya commented on #3192
Note:
I got following errors with py35 (at master HEAD):
[code]
[code]

With py27 and master HEAD:
[code]

[2016-12-14 08:00] jorispz commented on #3210
I can confirm this fixes the issue for me was well. Thank you @jfbu for putting so much effort into debugging something that's not even a problem with sphinx itself. Much appreciated!

FYI, since this is a Docker container solely for running sphinx on my Windows box, and everything is running as root anyway, I didn't feel much need to install packages 'properly'. So I did the simple thing and just

[2016-12-14 09:50] jasaarim opened #3240 "SVG image causes a crash with docutils 0.13"
Subject: SVG image causes a crash with docutils 0.13

# Problem

`.. image::` directive with an svg image crashes `sphinx-build` with the newest docutils.

## Procedure to reproduce the problem
[code]
`doc.rst` being a document containing a line `.. image:: image.svg` and `image.svg` existing in the current working directory.

## Error logs / results
[code]

## Expected results
Not crashing.

# En

[2016-12-14 09:52] tk0miya commented on #3240
It was fixed at #3212 and Sphinx-1.5.1.
Please upgrade to newest Sphnx.

Thanks,

[2016-12-14 09:52] #3240 closed, assigned to nobody

[2016-12-14 10:26] jfbu commented on #3210
Thanks @jorispz for reporting back. I leave in an ethereal word were OpenOffice and LibreOffice have freed me of need of knowing anything about Windows, hence I didn't even know about Docker !

Thanks @rakhimov for original report. I think it is needed for Sphinx to intercept this buggy titlesec, hence addressed at 22167b7245770e9338762a1610b789684d5ced6e. (#3241)

The LaTeX warning in case of bug

[2016-12-14 13:56] tk0miya commented on #3233
Finally, I found the cause of this problem.
The conf.py of botan project does not have `coding` header.
So python2 considers the encoding of the file as ASCII.
(Note: python3 considers it as the default encoding; UTF-8.)

As a result, the author field you use had broken on conversion.

To fix this, please add a `coding` header to your conf.py like following:
[code]

Thanks,

[2016-12-14 14:20] tk0miya commented on #3178
Sorry, I don't know in detail.
But, Only what I know is `py-modindex` is generated by `sphinx.domains.python.PythonModuleIndex`.

[2016-12-14 15:08] mouse07410 commented on #3233
Great! Thanks!!

[2016-12-14 15:30] tk0miya commented on #3196
Sorry, I don't know much about make-mode. But it looks not extensible with APIs.

Personally, I agree that.
But, I heard the proposal using entry points was rejected once (before I joined to maintainers).
@shimizukawa Do you know about that?

If the environment is different,  the paths are also different.
So I think it is not a configuration variable.

BTW, +1 for optional argument. It would be us

[2016-12-14 15:54] brechtm commented on #3196
So I think it is not a configuration variable.

I'm not sure what you mean with "environment" here. In `conf.py`, I would specify the build and source directories passed to `sphinx-build -M`. The build directory is the "top-level" build directory (such as `_build/`), not the build directory specific to a particular builder.

[2016-12-14 16:21] tk0miya commented on #3196
The "top-level" build directory you said is not used in Sphinx application.
Sphinx application only uses an absolute build path to specific builder like `/Users/tkomiya/work/tmp/doc/_build/html`.
The path is different if users, host, OS and so on are different. This is "environment" I said.

Anyway, the Sphinx object requires both paths to instantiate. And conf.py are read after Sphinx app invoked

[2016-12-14 16:34] tk0miya commented on #3194
Note:
In Sphinx-1.5, quickstart generates following Makefile (with `-M` option):
[code]
It seems already fine.

But, without any options, Sphinx runs under make-mode by default.
In the mode, Sphinx uses hard-coded `make` command.
https://github.com/sphinx-doc/sphinx/blob/1.5.1/sphinx/make_mode.py#L192

We have to replace the command using environment variable `$MAKE`.

[2016-12-14 16:36] tk0miya commented on #3221
Note:
The epub3 builder is a derived class of epub2 builder.
Before deprecation, we have to split the implementation.

[2016-12-14 17:20] jfbu commented on #2535
@andreacassioli I hope https://github.com/sphinx-doc/sphinx/issues/2535#issuecomment-261664881 helps you.

I am not sure about whether `\crossref`, which now at 1.5 is `\sphinxcrossref` should try to improve TeX behaviour: sure it can do it for ``\_`` but then why not for other characters ? Typical typographical approach would be to typeset your long references as items in a list rather than all a

[2016-12-14 18:11] jfbu commented on #3158
Actually, the issue title is misleading. It is not caused by the ``\@`` the phenomenon shows also with no abbreviation.

    \addto\captionsenglish{\renewcommand{\tablename}{Table }}

has an extra space after ``Table``. But LaTeX already puts by default a space after the caption name and before the caption number. Paradoxically the ``\@`` is easier because to fix it it was enough to add ``\\makeat

[2016-12-15 07:07] tk0miya commented on #3192
I found new one:
[code]
https://travis-ci.org/sphinx-doc/sphinx/jobs/184160116#L499

[2016-12-15 08:35] Naereen commented on #3178
OK; thanks. I will try to [work from there](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/python.py#L690).

[2016-12-15 08:50] ghost commented on #1861
+1

[2016-12-15 09:38] mikofski commented on #549
for anyone visiting here looking for matlab domain it is here: https://pypi.python.org/pypi/sphinxcontrib-matlabdomain/

[2016-12-15 09:51] mitya57 opened #3246 "test_xapian fails"
With the latest stable branch, I get this error when running the testsuite:

[code]

This is with Python 3.5.2+ and xapian-bindings 1.4.1 on Debian unstable.

[2016-12-15 13:24] tsznuk opened #3247 "Make it possible to show testsetup blocks"
Testsetup blocks are hidden by default. In some cases (e.g. when defining functions that should be available in all doctest groups) it would be convenient to be able to make the code visible.

Adding a `show` option to the `testsetup` directive would be one way of achieving this.

Example:

    .. testsetup:: *
       :show:

       def connect():
          ...

     .. testcode:: group1

[2016-12-15 15:30] sscherfke opened #3248 "Option for sphinx-build to force colored output"
Some environments (like GitLab-CI with Docker containers) make Sphinx (and other tools) think they cannot use colored output when in fact they can.

In pytest, there's a command line option `--color=[yes|no|auto]` that you can use to force colored output in such environments. In Sphinx, you can only turn of colored output (using `-N`).

It would be cool if we could have pytest's `--color` option i

[2016-12-15 17:12] shibasisp opened #3249 "Error building the docs"
Subject: <what happen when you do on which document project> Error Building the docs.
# Problem
- Trying to build the [scipy-lecture-notes](https://github.com/scipy-lectures/scipy-lecture-notes) , I got the following error. Any help is appreciated!
## Procedure to reproduce the problem
[code]

## Error logs / results
[code]

# Environment info
- OS: <Unix/Linux/Mac/Win/other with version> Ubuntu 1

[2016-12-15 17:24] tk0miya commented on #3249
The error came from the extension provided by scipy-lecture-notes. So please report this to the project.
[code]

As a quick look, it seems the extension does not support python 3.

[2016-12-15 17:24] #3249 closed, assigned to nobody

[2016-12-15 19:22] jmckenna opened #3250 "search.html fails with v1.5.1 (adds extra ".txt" extension)"
- executing search.html?q=term   fails with version 1.5.1  (on TravisCI, and locally)
 - works fine with version 1.4.9
 - firebug shows the following in console:
[code]
...where the correct file is named "filename.txt"

Similar errors occur for any search term (the extra ".txt" extension is added to every filename).

[2016-12-16 01:27] shimizukawa commented on #3250
Thanks for your reporting!

memo:
[code]

_build149rst/html/_static/searchtools.js:
[code]
_build151rst/html/_static/searchtools.js
[code]

[2016-12-16 01:43] kitt-cat commented on #2989
"Me toos" may not be useful, but the [blender docs](https://www.blender.org/manual/) are suffering from the same thing. They are not on readthedocs, but I guess it's still possible they share some kind of configuration error.

[2016-12-16 02:19] tk0miya commented on #3250
@jmckenna What theme do you use?
if sphinx_rtd_theme, it's a bug of the theme: https://github.com/snide/sphinx_rtd_theme/pull/346 .

Thanks,

[2016-12-16 09:06] tk0miya commented on #3246
Thank you for reporting.
OMG, the xapian searcher was not modified at d27386cc95772a7e7cc47941a0c08b27e0272f67...

[2016-12-16 10:46] tk0miya commented on #3246
Fixed at 	cf79589.
Thank you for reporting.

[2016-12-16 10:46] #3246 closed, assigned to nobody

[2016-12-16 13:54] jmckenna commented on #3250
Confirmed.  I will close this ticket, as it is not a bug of Sphinx.   Thanks!

[2016-12-16 14:01] brechtm commented on #3196
@tk0miya Thanks for the explanation. Now I understand the problem.

But wouldn't it be possible for sphinx-build to *also* read `conf.py`, only extracting the values for the source and build directories? The Sphinx application can ignore them.

[2016-12-16 14:15] evanunderscore commented on #1609
I get this problem in Python 3.4.3 and 3.4.4 but not 3.5.2, and not with 2.7.11 using enum34 from PyPI.

[2016-12-17 04:12] miketheman opened #3253 "Building another locale with a non-captioned toctree produces `None` captions"
# Problem

Rendering the directives in a `toctree` with internationalization and when not providing a `caption` option returns `None` on the translated output.

## Procedure to reproduce the problem

- Given using an `index.rst` with the following content:

[code]

- And a `1_page.rst` with the following content:
[code]

- When using `make html`, the resulting html exists:

[code]

This is the exp

[2016-12-17 04:27] shimizukawa commented on #3253
Thanks for your reporting. I confirmed by official doc :-( http://www.sphinx-doc.org/ja/stable/contents.html
I'll take a look.

[2016-12-17 05:33] tk0miya commented on #3196
Yes, it's possible. But I can't still understand the advantage of `conf.py`.
Could you tell me the worth of your way?

[2016-12-17 06:34] tk0miya opened #3254 "Proposal: split websupport to other package"
# Problem
- The `sphinx.websupport` is not maintained well (refs: #3246)
- No futures added since Sphinx-1.2

[2016-12-17 06:40] shimizukawa commented on #3253
The problem will happen only with Py2.
Fixed.

[2016-12-17 06:40] #3253 closed, assigned to shimizukawa

[2016-12-17 06:59] #3194 closed, assigned to nobody

[2016-12-17 07:19] tk0miya commented on #3192
Now I cleared all warnings with #3192.

[2016-12-17 07:19] #3192 closed, assigned to nobody

[2016-12-17 07:20] shimizukawa commented on #775
There is a `:annotation:` option for `autodata` and `autoattribute:`, however there is no way to provide the option when user using `automodule` and/or `autoclass` directive.

[775.zip](https://github.com/sphinx-doc/sphinx/files/658692/775.zip)

[2016-12-17 07:28] shimizukawa commented on #3222
Last one is  `PULL_REQUEST_TEMPLATE.md`. somebody?

[2016-12-17 07:59] usaturn commented on #948
It is not reproduced in the current version.
I will close it.

# Environment info
- OS: Windows 10
- Python version: 3.5.2
- Sphinx version:
- TeX : TeX Live 2016

[2016-12-17 07:59] #948 closed, assigned to nobody

[2016-12-17 08:14] jfbu commented on #3222
with this template my mail client displays headers gigantically from using ``<h1>`` tag:

[code]
which showas as
![capture d ecran 2016-12-17 a 09 11 31](https://cloud.githubusercontent.com/assets/2589111/21285439/f274ab26-c438-11e6-9717-4d8f9416a7d0.png)

Could it be possible to use `##/###` markdown tags or even `###/####` ?

[2016-12-17 08:27] usaturn commented on #1007
![test restest 0 1 documentation - firefox_029](https://cloud.githubusercontent.com/assets/1503215/21285514/142cf954-c47e-11e6-90d8-0e9bf4ab58ce.png)

[2016-12-17 08:29] tk0miya commented on #185
Fixed at 3b9aee4.

[2016-12-17 08:29] #185 closed, assigned to nobody

[2016-12-17 08:30] tk0miya commented on #3142
I got it. You'd used numbered toctree with nested.
It causes this problem.
Could you remove `:numbered:` option from child toctree directive?

[2016-12-17 08:32] tk0miya commented on #3222
@jfbu Yes please.

[2016-12-17 08:45] shimizukawa commented on #3254
+1. I'm using `sphinx.websupport`, however it is OK your proposal.

[2016-12-17 08:48] shimizukawa commented on #517
- In html output, name (`project` in conf.py`) is rendered in breadcrumb.
- In manpage output, name (`man_pages` in conf.py) is set to `.SH NAME`.

If you don't think it is OK, please file a new issue with a detail of use-case.

- .SH COPYRIGHT section can be customized by using `copyright` in conf.py.

So, now I close this issue.

[2016-12-17 08:48] #517 closed, assigned to nobody

[2016-12-17 09:25] shimizukawa opened #3255 "Python 3.4 enum classes not working (only py34 environment)"
## Problem
- autodoc for enum class is not work correctly with Python-3.4.
- Py35 or Py27+enum34 package is ok (by #3060)

### source code
[code]

### Wrong results
![image](https://cloud.githubusercontent.com/assets/151623/21285773/8593aa1e-c485-11e6-8556-c745e7c347fd.png)

### Expected results
![image](https://cloud.githubusercontent.com/assets/151623/21285777/8e9b2f92-c485-11e6-8b1b-946831bd989

[2016-12-17 09:27] shimizukawa commented on #1609
@evanunderscore confirmed. I created another issue #3255. Thanks.

[2016-12-17 10:54] jfbu commented on #3222
done at d8a420b.

[2016-12-17 11:31] wallrj opened #3256 "Sphinx-1.5.1 package contains untracked files"
### Problem
- I create a DEB package for Flocker which  contains Sphinx.
- I run `lintian` on the resulting package and it fails with an error.

See https://lintian.debian.org/tags/macos-ds-store-file-in-package.html

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- http://ci-live.clusterhq.com:8080/job/ClusterHQ-flocker/job/FLOC-4513-upstream-mimic/view/acceptanc

[2016-12-17 11:42] jfbu commented on #3256
I confirm the issue with `Sphinx-1.5.1.tar.gz` downloaded from https://pypi.python.org/pypi/Sphinx

[code]

This crept in at packaging time because git repo contains no `.DS_Store`.

[code]

and same on master. Also `git ls-files | grep Store` finds no match.

Note: under Mac OS X, opening  a Finder window for a view of a repertory will usually create a `.DS_Store` file (I don't know the exact rul

[2016-12-17 12:03] daphtdazz opened #3257 "autosummary does not show info for instance attributes"
Subject: autosummary does not show info for instance attributes

### Problem
Autosummary finds instance attributes and puts them in the table, but it does not find an annotation that went with them and put the first line of that in the table

Initially came from a [stack overflow question](http://stackoverflow.com/questions/29902483/how-can-i-get-sphinx-autosummary-to-display-the-docs-for-an-insta

[2016-12-17 14:25] miketheman commented on #3253
Wonderful, thanks for your speed on this!

[2016-12-17 14:46] dkliban opened #3258 "Search does not work for docs generated using sphinx 1.5.1"
I have a Jenkins job that builds docs nightly for http://pulpproject.org/docs. I noticed that the search stopped working recently. I was able to determine that the broken search appeared after Jenkins started using sphinx 1.5.1 to generate the docs. Using sphinx 1.4.8 resolves the problem.

[2016-12-17 14:52] shimizukawa commented on #3255
Fixed.

[2016-12-17 14:52] #3255 closed, assigned to shimizukawa

[2016-12-17 15:11] tk0miya commented on #3258
Same as #3203 .
Sorry, it is a bug of sphinx_rtd_theme.

[2016-12-17 15:11] #3258 closed, assigned to nobody

[2016-12-17 15:59] shimizukawa commented on #3257
Memo: documenting class instance attribute is not implemented in current Sphinx (1.5.1).

[2016-12-17 16:22] shimizukawa commented on #3222
I added a PULL_REQUEST_TEMPLATE.md. @tk0miya, @jfbu if it's OK, please close this ticket.

[2016-12-17 20:02] Nyholm commented on #3213
Im not too sure what caused this but it seams to be fixed now.

What I did:
1) Reinstalled docker for Mac. (Did not copy any thing from previous installation)
2) Downloaded the a new version of the  https://github.com/webplates/docker-readthedocs/blob/master/Dockerfile that @sagikazarmark updated a few days ago

Now it works like a charm! Im very satisfied. =)

Thank you all for the support and th

[2016-12-17 20:02] #3213 closed, assigned to nobody

[2016-12-18 00:15] sagikazarmark commented on #3213
For the record: the change I did in the docker container was related to permission handling in cases when the container ran in non-interactive mode (only building). However, according to @Nyholm's reports, the issue persisted even in interactive mode. I suspect that something wrong was going on with the docker filesystem.

[2016-12-18 00:20] shimizukawa opened #3259 "Proposal: use argparse instead of optparse"
[optparse](https://docs.python.org/2.7/library/optparse.html) is deprecated since python-2.7.

[2016-12-18 01:50] tk0miya commented on #3259
+1

[2016-12-18 02:40] #3222 closed, assigned to shimizukawa

[2016-12-18 16:49] tk0miya commented on #3256
Thank you for reporting.

This is generated by setuptools on packaging.
@shimizukawa What is correct package?

They are generated on packaging. It's intended.

These should not be included into the package.
So we have to update the packaging script.

[2016-12-18 20:49] qurczak opened #3260 "Django docs: make html: AssertionError: len(context) = 1"
### Problem

Executing command 'make html' in Django repository in 'docs' directory on branch 'master' revision 'e2112a5e1af001449f0d1c183261369f00e93195' generate an exception.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: Linux
- Python version: 3.5.2
- Sphinx version: 1.5-1
- Django: master https://github.com/django/django/commit/e

[2016-12-18 23:52] shimizukawa commented on #3256
There is no specification what is a correct file layout of sdist package.
https://docs.python.org/3/library/distutils.html
https://packaging.python.org/

`Sphinx.egg-info/` is generated by setuptools when we create `sdist` package.
https://github.com/pypa/setuptools/blob/master/setuptools/command/sdist.py#L43
In fact, we don't have to contain `Sphinx.egg-info` directory to sdist package, however w

[2016-12-19 00:11] gsavix opened #3261 "error build latex or pdf for kivy docs"
Subject: <what happen when you do on which document project>
when build pdf or latex for kivy docs  v1.9.2-dev0
sphinx abnormal end with message:

[code]

Exception occurred:
[code]

### Problem
- <Detail of problem>

contents for conf.py

[code]

Exception occurred:
[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you

[2016-12-19 02:41] tk0miya commented on #3261
Sorry for inconvenience. It's bug of `latex_use_parts`.
Fixed at 12096b3

BTW, `latex_use_parts` is deprecated since Sphinx-1.4.
Please use `latex_toplevel_sectioning` instead.
[code]

Thank you for reporting!

[2016-12-19 02:41] #3261 closed, assigned to nobody

[2016-12-19 02:44] tk0miya commented on #3260
Thank you for reporting, but it was already reported at #3203 .
As a result, it is a bug of sphinx_rtd_theme.

[2016-12-19 02:44] #3260 closed, assigned to nobody

[2016-12-19 10:02] brechtm commented on #3196
Currently they are specified in the Makefile, but I think the source and build directory paths belong in `conf.py`, just like other paths such as `templates_path` and `html_static_path`. In fact, the build path is currently duplicated in `conf.py` in the `exclude_patterns` variable.

If they are specified in `conf.py`, `sphinx-build` (in make mode) can retrieve them from there (but still allow ove

[2016-12-19 17:18] wallrj opened #3264 "Test failures when running tox"
### Problem
- `tox` reports test failures

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: Linux-4.8.10-300.fc25.x86_64-x86_64-with-fedora-25-Twenty_Five
- Python version: Python 2.7.12
- Sphinx version: Sphinx (sphinx-build) 1.6
- Tox version: 2.5.0 imported from /home/richard/.local/lib/python2.7/site-packages/tox/__init__.pyc

[2016-12-19 18:53] miketheman opened #3265 "Should singlehtml provide search utility?"
A question that seems to have almost been asked before, but never quite directly.

From its inception, the singlehtml builder [declares non-support for search](https://github.com/sphinx-doc/sphinx/blame/673418e7701bc291679de5f41480cff62dec77ce/sphinx/builders/html.py#L1118).

The search box was omitted from sidebar in #1147 and a request for indices in singlehtml is seen in #592.

This leads to su

[2016-12-20 13:06] cajomferro opened #3266 "Adding image of svg type results in a "AssertionError: len(context) = 1""
Adding image of svg type results in a "AssertionError: len(context) = 1"

### Problem
I added a svg image to my project. I can successfully build it on my machine but when building on the RTD an exception is raise: "AssertionError: len(context) = 1"

#### Procedure to reproduce the problem
This was the line creating the problem:

[code]

#### Error logs / results
[code]

### Environment info
- Pyt

[2016-12-20 14:26] tk0miya commented on #3266
It was fixed at #3212 and Sphinx-1.5.1.
Please upgrade to newest Sphnx.

Thanks,

[2016-12-20 14:26] #3266 closed, assigned to nobody

[2016-12-20 19:42] akhmerov opened #3268 "specify correct requests version in requirements"
Subject: sphinx fails when running linkcheck on using an old requests version

### Problem
- if a sufficiently old version of `requests` is installed, installing `sphinx` via `pip` will result in a broken `linkcheck`.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
`pip3 install sphinx` should also install the correct version of `requests` (

[2016-12-20 22:10] erxnmedia opened #3269 "sphinxcontrib.matlab and sphinx.ext.autodoc are incompatible"
Subject: If you put one before the other it overrides methods and either Matlab or Python will work but not both

### Problem
Depending on this order:

extensions = [
    'sphinxcontrib.matlab',
    'sphinx.ext.autodoc',

I will get this or vice versa:

WARNING: while setting up extension sphinxcontrib.matlab: directive 'automodule' is already registered, it will be overridden
WARNING: while setti

[2016-12-21 01:07] Blendify opened #3270 "Rebuilds regenerate searchindex.js -- causes bad search results"
Subject: Rebuilds regenerate searchindex.js  -- causes bad search results

### Problem
In the pass we have had a lot of issues with using the sphinx search. Until today I had no idea why but after debugging it all of today I found the issue. Before noticing this we would update our documentation on our server by only doing a rebuild. However, when sphinx does this it regenerates searchindex.js

##

[2016-12-21 01:10] firegurafiku opened #3271 "Allow `Class{T}` as an alternative syntax for `Class<T>` references"
Looking through [C++ domain documentation][doc] I noticed the following highlighted note:

Unfortunately, C++ is full of templates, so having to escape `<` (or, at least, worry about that) sounds like a bad news.

How about choosing different type of brackets to get rid of this issue completely? For example, curly braces are never used in (sane) function and type signatures, so it would be safe to

[2016-12-21 02:28] ThomasWaldmann commented on #3270
I can confirm.

Just running "make html" makes search results vanish that are there when running "make clean html".

I tested it using Sphinx 1.4.5.

[2016-12-21 03:19] ThomasWaldmann commented on #2989
https://github.com/borgbackup/borg/issues/1485#issuecomment-268423895 maybe found the reason.

[2016-12-21 03:32] ThomasWaldmann commented on #1918
Just as a note:

when using special tokenization rules (like splitting "foo-bar" on "-" into "foo" and "bar", for example), it is essential that the precisely the same tokenization is done at indexing time (python?) *and* at search time (javascript?) - otherwise the tokens made from the search term(s) won't match the tokens that were put into the index, even for precisely matching strings.

also,

[2016-12-21 08:06] Znni commented on #3142
Yes, removing `:numbered:` from home.rst fixes the problem. Should I not use several numbered toctrees in a nested manner? Anyway, I don't understand why renaming home.rst to e.g. homeindex.rst fixes the problem, too.

[2016-12-21 13:31] jakobandersen commented on #3271
It is indeed annoying to escape the angle brackets but I'm not sure if the use of curly brackets is unambiguous when combined with the template introduction syntax form the Concepts TS.
The original problem is because angle brackets are used to specify a different link text, so another solution could be to introduce "raw" role arguments. E.g., `` :cpp:class:`MyClass\<int>` `` and something like ``

[2016-12-21 13:37] HFriberg commented on #2030
The original intent of `:dedent:` was, as you describe, to remove all common leading whitespace as seen in #939 where @shimizukawa talks about it as a boolean option. For some reason, the code subsequently merged by @zsiddiqui2 (commit a425949c360a0f6c0f910ada0bc8baec3452a154) added it as an integer and it has been kept this way ever since.

I reckon that it is very error-prone to specify an integ

[2016-12-21 13:45] andreacassioli commented on #2030
If it were for my personal taste I will agree with point 2 and make `dedent`  behave as the corresponding Python function

https://docs.python.org/3.1/library/textwrap.html#textwrap.dedent

[2016-12-21 18:16] rprots opened #3273 "How to create extension with own `ref`-derived role?"
### Problem
Seems to be the same as http://stackoverflow.com/questions/38943023/sphinx-custom-role

[2016-12-21 19:14] rprots commented on #3273
Resolution: https://groups.google.com/forum/#!topic/sphinx-users/6Sb_9s3EgFg

[2016-12-22 06:14] huayra commented on #2280
I'm hitting a similar bug with sphinx 1.5 and pygmentize 2.2 (built from source) when using the VCL (tried with vclsnippet also) lexer with literal includes. It keeps failing on me.

Should I be looking at a solution on Sphinx or rather try to see whether the lexer(s) is the one not working?

[2016-12-22 12:13] adithyabhatkajake opened #3275 "Error "width += node['colwidth']" in __init__.py of docutils"
Subject: Docutils error in __init__.py  node colwidth when trying to `make htmldocs'

### Problem
When trying to build the htmldocs for the latest kernel on Manjaro system, an unexpected exception occurs.
[Error-Logs.zip](https://github.com/sphinx-doc/sphinx/files/668681/Error-Logs.zip)

#### Procedure to reproduce the problem
[code]

#### Error logs / results
Console log
[code]

Error log stored

[2016-12-22 13:58] kefirbandi commented on #2250
-M --module-first missing from the man page.
-M is in the docs referred above, but --module-first is not mentioned.
Both man and the docs fail to mention the role of the SPHINX_APIDOC_OPTIONS environment variable.

[2016-12-23 01:29] benjaminweb opened #3276 "List of parameters overflows 'Parameter:' in Alabaster theme when napoleon 'Returns:' statement spans two or more lines"
### Problem
See how the list of parameters overflows 'Parameters:' caption.

![sepcaus](https://cloud.githubusercontent.com/assets/1290837/21444909/2994b1c2-c8b3-11e6-8f99-1337c44e99fe.png)

That occurs when 'Returns:' or 'Raises:' (sphinx.ext.napoleon) spans on multiple lines.
It starts with two lines to occur. The left-indent increases with each subsequent line.

#### Procedure to reproduce the

[2016-12-23 13:27] tk0miya commented on #3275
It is similar to https://sourceforge.net/p/docutils/bugs/303/ .
What directive do you use?

[2016-12-23 13:31] adithyabhatkajake commented on #3275
The problem is a part of that bug, yes.

[2016-12-23 13:31] #3275 closed, assigned to nobody

[2016-12-23 13:56] FRidh opened #3277 "Tests: Allow specific tests to be disabled"
### Problem
- `make test` doesn't seem to provide a way to disable specific tests. On our distribution we run tests when building packages. Because network access is disabled during building/testing certain tests fail. With e.g. `py.test` it is straightforward to disable a test with the `-k` option.

#### Procedure to reproduce the problem
[code]

### Environment info
- OS: NixOS / Nix package man

[2016-12-23 14:53] tk0miya commented on #3273
Is it resolved?

Anyway, this is list of sphinx issues. Not mailing list.
Please post your question to sphinx-dev list.
https://groups.google.com/forum/#!forum/sphinx-dev

Thanks,

[2016-12-23 14:53] #3273 closed, assigned to nobody

[2016-12-23 15:07] tk0miya commented on #3269
Did you mean this is a bug of sphinx? It seems a bug of sphinxcontrib.matlab for me.

Anyway, what is `sphinxcontrib.matlab`? Did you mean `sphinxcontrib-matlabdomain`?
Unfortunately, I don't know the package. so I could not reproduce the problem.
https://pypi.python.org/pypi/sphinxcontrib-matlabdomain

Thanks,

[2016-12-23 15:07] #3269 closed, assigned to nobody

[2016-12-23 19:22] RobRuana commented on #3276
Thanks for the report! I'm looking into it!

[2016-12-24 01:12] Naereen commented on #3178
I tried, please let me know if it does the job or if it insufficient. (it looks enough to me)

[2016-12-24 01:29] Naereen commented on #3178
Here is a demo of how it looks on a "real" project:

- fun index: [example 1](http://perso.crans.org/besson/infoMP/TPs/solutions/py-funcindex.html), [example 2](http://perso.crans.org/besson/infoMP/DSs/solutions/py-funcindex.html),
- [example 3](http://perso.crans.org/besson/infoMP/oraux/solutions/py-funcindex.html) with many functions with the same name implemented by different modules,
- class i

[2016-12-24 01:30] Naereen commented on #3178
@quentinbodinier @viblo do you think this feature is enough?

If not, do you have any suggestion/wishes of how to do it differently / better ? Thanks.

[2016-12-24 02:18] RobRuana commented on #3276
It looks like this issue is a direct result of this [pull request](https://github.com/sphinx-doc/sphinx/pull/2301), because the `<th>` element is inheriting its `hyphens` attribute from its parent `<dd>` element.

Does anyone object to me adding a more specific rule in `basic.css` to fix this issue for field names?

Something like this: (`manual` is the default value for `hyphens`)
[code]

[2016-12-24 08:45] tk0miya commented on #3277
+1
Pull requests are all ways welcome :-)

[2016-12-24 09:03] RobRuana commented on #3276
As an aside, thank you for the excellent bug report. Very clear, plus included a reproducible product! Excellent!

[2016-12-24 09:31] tk0miya commented on #3268
It's a bit strange. requests-2.4.3 has `requests.packages.urllib3.exceptions:SSLError`.
https://github.com/kennethreitz/requests/blob/v2.4.0/requests/packages/urllib3/exceptions.py#L36

[2016-12-24 10:34] tk0miya commented on #3264
I added some commits to fix this.
Could you confirm this please?

[2016-12-24 10:43] FRidh commented on #3277
Simple solution: use `NOSE_EXCLUDE` since `run.py` calls `nose` and `nose` respects that environment variable.

The following is what I was writing before finding the solution I just described.

In my opinion the best solution is to just run the test runner, without invoking some custom script. That is, get rid of `run.py` and just invoke `nosetests` or `py.test`.

Temporary directory handling is

[2016-12-24 10:43] #3277 closed, assigned to nobody

[2016-12-24 10:50] akhmerov commented on #3268
Yes, it is strange: `SSLError` is there, but one cannot import it. That problem should be trivial to fix as well, but I think it is also important to specify the required version.

[2016-12-24 11:50] wallrj commented on #3264
Hey @tk0miya

Thanks. Looks good.

First time I re-ran tox I got failures because of some lingering pyc files.
I suggest adding `PYTHONDONTWRITEBYTECODE = true` to `tox.ini`.

There are lots of flake8 failures.
I suggest adding the default flake8 exclude patterns to `setup.cfg`.

[code]

And I haven't got Py34 installed so not sure about that.

Here's the output.

[code]

[2016-12-24 11:52] wallrj commented on #3264
I also notice that all the tests are run with `-I py35` even the py27 and pypy tests.

`py27 runtests: commands[0] | /home/richard/projects/sphinx/.tox/py27/bin/python -Wall tests/run.py -I py35 -m ^[tT]est`

[2016-12-24 12:00] wallrj commented on #3264
With the patch (above) I can run all the tests with `detox`. Great.

[code]

[2016-12-24 14:56] tk0miya commented on #3264
Thank you for advice.
I updated them again.

It's option of nosetests command. It means ignoring files having py35 in its filename.
To clarify its meaning, I updated the option to full one: `--ignore-files=test_autodoc_py35`.

[2016-12-24 14:56] #3264 closed, assigned to tk0miya

[2016-12-24 14:57] tk0miya commented on #3264
I think all problems are cleared and getting better.
Please reopen or open new one if you still have any problem.

Thank you very much :-)

[2016-12-24 17:12] tk0miya commented on #3277
Thank you for advice.
But, unfortunately, we don't have enough time to improve test toolkit.
Once we talked about moving to py.test and others. But nothing changed ever.
If you are interested in improving, please send us pull request.

Thanks,

[2016-12-25 01:04] arcivanov opened #3280 "Sphinx Autodoc fails in can_document_member with Django"
Subject: Sphinx Autodoc fails in `can_document_member` with Django

### Problem
`can_document_member` should handle errors and return `False` (as in "No, I cannot") if import produces an error of any kind. In other words, if any error is produced in `can_document_member`, it should exclude the member from documentation, possibly with a warning being issued.

#### Procedure to reproduce the problem

[2016-12-25 01:15] arcivanov commented on #3280
For 1.6 tree the exception is as follows:

[code]

[2016-12-25 03:50] tk0miya opened #3282 "Deprecate env.currmodule and env.currclass"
### Problem
- `env.currmodule` and `env.currclass` emits deprecation message since ca4e62e47 (1.3b1).
- I believe it's time to remove.
- But there are no alternative APIs. At this moment, we have to read `env.ref_context` directly.
- To be simple and to be clarify, we should add a new interface to get current reading context.

[2016-12-25 03:53] tk0miya commented on #3282
According to our deprecation policy, I'd like to emit deprecation warning using `warnings.warn()` in Sphinx-1.6, and will be removed in 1.7.

[2016-12-25 22:37] #3276 closed, assigned to RobRuana

[2016-12-26 13:24] viblo commented on #3178
@Naereen Now I had the chance to try it out briefly.

I have a bunch of comments:

1. Since `modindex` and `funcindex` uses short version, should the other index also be called their short versions? Like `methindex` and so on (Names from here http://www.sphinx-doc.org/en/1.5.1/domains.html#cross-referencing-python-objects ?)

2. I still like the way I have a short partial index on each submodule p

[2016-12-26 14:41] Naereen commented on #3178
@viblo Sorry about the examples, I forgot to update the link from `funindex` to `funcindex`.
Thanks for the others remarks.

1. I updated this (cf. 013f6b7),
2. As said, this feature would require a new directive, I don't feel very comfortable into trying this right now. Any suggestion on the good name this/these directive(s) should have ?
3. Glad to know that :-)
4. I don't understand, what do yo

[2016-12-26 16:01] benjaminweb commented on #3276
@RobRuana Thanks for your timely fix. I confirm the complete resolution of the reported problem.

[2016-12-26 16:50] tk0miya opened #3284 "Sphinx crashes on parallel build with an extension which raises unserializable exception"
Subject: <what happen when you do on which document project>

### Problem
- Sphinx crashes on parallel build

#### Procedure to reproduce the problem
- Enable an extension which raises unserializable extension like following
[code]
- Invoke sphinx-build with `-j [n]` option to build parallel

#### Error logs / results
[code]

#### Expected results
Not crashes.

[2016-12-26 17:25] viblo commented on #3178
@Naereen
4. Here is the class index, where the tree nodes are not expanded by default (I also have a very ugly expand button, but I suspect its my css and not your change that creates that
![image](https://cloud.githubusercontent.com/assets/1195272/21484665/e6688bda-cb96-11e6-9620-236b07cf7758.png)
Then here is the method index, where the tree nodes are expanded:
![image](https://cloud.githubuserc

[2016-12-26 17:35] Naereen commented on #3178
Oh OK. This is not something I programmed, I think it's a matter of DOM cache. Try the same page on an other browser ?

Here is an example, by default the `py-classindex.html` as exactly the same behavior than the others (for me, on Firefox):
![demo all index](https://cloud.githubusercontent.com/assets/11994719/21484838/9f2701ae-cb99-11e6-9774-87d214060a4e.png)

By the way, I found a surprising fe

[2016-12-26 17:40] viblo commented on #3178
@Naereen
2. I assume they would go into the python domain? I guess 3 options exists:
  1. Use one directive for all index and name it index, and then let it take an argument to define what index should be shown. But maybe this is not the best way, since the index pages are separated and it would give less easy control.
  2. Reuse the name, so it becomes `.. py:modindex::`, `.. py:funcindex::` and

[2016-12-26 17:44] viblo commented on #3178
@Naereen I tried in both chrome and firefox, and I get the same result with class index not expanded but method index not expanded.

[2016-12-26 17:50] viblo commented on #3178
@Naereen Regarding the relbar2, its also there in the `classic` theme (which is what I use for pymunk). Maybe it get a bit crowded to have all of them there?

[2016-12-26 17:51] Naereen commented on #3178
For this directive, yes it would go in `domains/python.py`. I think I have an idea how to do it, will try that tomorrow.
I agree that option 2 seems to be the best.

So the new features would be both:
- the index pages, one page per type of objects, for the *whole project* (one global page `py-classindex.html` etc)
- and the directives, `.. py:TYPEindex::` etc, to be used on a specific module docu

[2016-12-26 17:52] Naereen commented on #3178
The `classic` theme imports files from `basic/` folder, sorry. Indeed, the name of the default (old style) theme is `classic`.

I mentioned [here](https://github.com/sphinx-doc/sphinx/pull/3278#issuecomment-269229755) that having all these links in the `relbar2` could be annoying.

[2016-12-26 18:04] viblo commented on #3178
@Naereen
For the feature: Yep, that is what I mean. But of course you can always do the non-directive first in case its a lot of work.

For expanded/not expanded: Ok. Then it is good I guess :)

[2016-12-26 18:16] Naereen commented on #3178
OK. I will try quickly the directive thing.

[2016-12-26 20:50] jeromegamez commented on #3215
I had the same issue, and I "solved" it by removing the `primary_domain` line from the `conf.py` file and making sure that all my code blocks are set up correctly.

[2016-12-27 11:26] LevN0 opened #3285 "autosummary escaping *'s"
Between sphinx 1.4.6 and 1.4.8 there seems to have been made a change, where autosummary will escape *s.

For example, it might generate,

ClassName(\\\*args, \\\*\\\*kwds) 	Description of class.

Tried 1.5.1 and obtained same result. Just downgrading to 1.4.6 solves this.

Possibly introduced by https://github.com/sphinx-doc/sphinx/commit/8d96c90fc6ca7805ba7a8e8fd80cc74da7caf46c

[2016-12-27 18:16] arcivanov commented on #3280
@tk0miya thoughts?

[2016-12-28 02:59] cwchentw opened #3287 "The table in exported EPUB doesn't pass EpubCheck validation"
Subject: The table in exported EPUB doesn't pass EpubCheck validation

### Problem
As mentioned, the HTML code of table in EPUB, which generated by Sphinx, doesn't pass EpubCheck validation and there is no proper way to change it.

#### Procedure to reproduce the problem

Here is a sample that reproduces the problem.

[code]

#### Error logs / results

If the caption is included, EpubCheck produce

[2016-12-28 12:19] Cory-Kramer opened #3288 "Table with merged headers not wrapping text"
Subject: <what happen when you do on which document project>

### Problem
- When any column headers are merged, text will not wrap correctly in other column headers

#### Procedure to reproduce the problem
Use the following sphinx table to reproduce the issue
[code]
Then build using the latex builder
[code]

#### Error logs / results
[Rendered table](https://i.stack.imgur.com/pLlpA.png)

#### Expe

[2016-12-28 19:59] Blendify opened #3289 "when a right aligned image extends the next headline"
Subject: when a right aligned image extends the next headline text gets aligned wrong

### Problem
- when a right aligned image extends the next headline text gets aligned wrong

#### Procedure to reproduce the problem
Not sure how to make this happen in a small test case but make a pdf version of our manual by running:

[code]

#### Error logs / results

- https://drive.google.com/file/d/0B6dOW1H

[2016-12-29 17:36] dusktreader opened #3290 "shall_skip doesn't safely access 'implicit_namespaces' option"
Subject: `shall_skip` doesn't use `getattr` to get `implicit_namespaces`

### Problem
- The recurse_tree method safely accesses attributes of the `opts` because they may not exist on the opts object. However, the `shall_skip` method accesses the `implicit_namespaces` attribute directly, causing it to fail if the `opts` object has no `implicit_namespaces` attribute

#### Procedure to reproduce the

[2016-12-30 17:59] gdude2002 opened #3291 "Apparent incompatibility with Python 3.6's typing module"
Error raised during normal processing.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
*Console output*

[code]

*Traceback from log*
[code]

### Reproducible project
- https://github.com/UltrosBot/Ultros3K

### Environment info
- OS: Windows 10 x64
- Python version: 3.6.0 x64
- Sphinx version: 1.5.1

[2016-12-30 18:11] gdude2002 commented on #3291
To expand a little, one of the classes in the file it's scanning does not have its own `__init__()`. This means that the `__init__` on your basic `object` is what is being referred to - this is a C method, and so we have a slot wrapper around it instead of an actual function object.

Adding an `__init__` to my class removes this instance of the error, but there are other files with classes like th

[2016-12-30 21:07] tbhartman opened #3293 "Search fails (appears to hang because ellipsis is cycling)"
Subject: search is not working properly

### Problem
- When I try to search for something, I see "Searching..." with the ellipsis cycling.  Sometimes I get some results, sometimes none.

#### Procedure to reproduce the problem

I see that in "searchtools.js" is the following:

[code]

But in the html...

[code]

`DOCUMENTATION_OPTIONS` has no property `SOURCELINK_SUFFIX`.  If I modify the JS by ad

[2016-12-30 21:32] paternal opened #3294 "Bug in the add_latex_package() function"
Subject: The [`add_latex_package`](https://github.com/sphinx-doc/sphinx/blob/ef60dbfce09286b20b7385333d63a60321784e68/sphinx/application.py#L859) method seems to be broken

### Problem
- When writing a sphinx extension calling the `add_latex_package` method (for instance ``app.add_latex_package("babel")``), an exception is raised (see below).

#### Procedure to reproduce the problem

A minimal wor

[2016-12-31 01:34] gr2m opened #3295 "Could not import extension sphinx.builders.linkcheck (exception: No module named html_parser)"
I’m new to Python, please excuse if I’m making something obviously wrong.

I’ve just installed sphinx via pip. My Python version is 2.7.10, pip version is 9.0.1

### Problem
After running `sphinx-quickstart` I run `make html`

[code]

### Environment info
- OS: Mac Sierra 10.12.2
- Python version: 2.7.10
- Sphinx version: 1.5.1

[2016-12-31 09:53] eric-wieser opened #3296 "Typo in name of sphinx.domains.cpp.ASTFunctinoParameter"
Shouldn't this be `ASTFunctionParameter`?

[2016-12-31 14:54] igor-raits opened #3298 "AssertionError: len(context) = 1"
Subject: <what happen when you do on which document project>

### Problem
- During build of documentation, exception appears

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Build documentation without exception.

### Reproducible project / your project
- https://github.com/quodlibet/mutagen

### Environment info
- OS: Linux (Fedora Rawhide)

[2016-12-31 14:55] igor-raits commented on #3298
ah, looks like a dupe of #3212

[2016-12-31 15:00] #3298 closed, assigned to nobody

[2017-01-01 10:27] tk0miya commented on #3295
What version of "six" did you use?
Could you show me a result of "pip freeze" command?

[2017-01-01 10:38] tk0miya commented on #3291
It seems the error was happened inside `sphinx_autodoc_typehints` extension.
[code]
I feel this is not a bug of sphinx.

[2017-01-01 10:41] tk0miya commented on #3293
Same as #3203 .
Sorry, it is a bug of sphinx_rtd_theme.

[2017-01-01 10:41] #3293 closed, assigned to nobody

[2017-01-01 11:07] tk0miya commented on #3294
Thank you for reporting.
Fixed at 54cac94.

[2017-01-01 11:07] #3294 closed, assigned to nobody

[2017-01-01 11:21] tk0miya commented on #3290
@shimizukawa Is this expected behavior?
It seems only `apidoc.recurse_tree()` access through `getattr`. But other functions does not use it.
I don't feel this is important.

[2017-01-01 11:36] gdude2002 commented on #3291
Oh, you're right, I completely missed that.

I'll raise it with them and get back to you.

EDIT: https://github.com/agronholm/sphinx-autodoc-typehints/issues/12

[2017-01-01 11:53] tk0miya commented on #3287
Thank you for reporting.
I fixed mismatched `<span>` tag at 60b7bfd.

On the other hands, other problem will not be resolved easily.
At this moment, Sphinx generates HTML files as HTML4. And EPUB spec expects them as HTML5.
We have to work hard to support HTML5.
refs: #2371

[2017-01-01 12:08] tk0miya commented on #3289
Sorry, the docs of blender is too large to investigate the problem.
I would appreciate it if you could make simple and reproducible project.

[2017-01-01 12:09] #3291 closed, assigned to nobody

[2017-01-01 12:15] tk0miya commented on #3288
Same as #3042.
AFAIK, it is hard to adjust table size automatically.
So please give hints to your LaTeX engines manually.

Thanks,

[2017-01-01 16:56] #3296 closed, assigned to jakobandersen

[2017-01-02 02:35] gr2m commented on #3295
I don’t even know what "six" is :/

[code]

[2017-01-02 05:31] tk0miya commented on #3295
The "six" is a compatibility library between python2 and 3.
https://pythonhosted.org/six/

It seems you are using current release (1.10.0).
[code]

But, strangly, 1.10.0 actually provides `html_parser` module...

Could you add this into your `conf.py` and run sphinx again?
[code]
Then, you'll see the correct version of "six" module like following:
[code]

[2017-01-02 06:13] tk0miya commented on #3215
Any updates?

BTW, the python domain which sphinx provides is named as "py".
So please configure like following:
[code]

[2017-01-02 06:31] tk0miya commented on #3268
Sorry for late response.
To add required version of requests package is easy.
But, I this that does not help your case. Because you'd already installed newer version than required one.

To investigate the environment, could you run following commands?
[code]

[2017-01-02 06:33] tk0miya commented on #3175
As I commented above, `$` symbol is not valid in standard SQL, AFAIK.
So I think this is not a bug of Sphinx.

Thanks,

[2017-01-02 06:33] #3175 closed, assigned to nobody

[2017-01-02 10:16] akhmerov commented on #3268
It is as I said above.
[code]

My personal problem was trivially fixed by upgrading requests to the latest version of requests. Therefore I do believe that specifying the requests dependency spec would be sufficient.

[2017-01-02 11:38] tk0miya commented on #3268
Did you use debianized requests package?
Could you try it again with pip one?
[code]
It seems the debian package does not contain `packages` directory.

[2017-01-02 12:09] akhmerov commented on #3268
You're right, the debian installation of requests is the root of the problem. Not sure what this implies for this issue and sphinx in general.

[2017-01-02 15:04] tk0miya commented on #3268
I think this problem is caused by packaging bug of debian.
Please report this to the package maintainer.

[2017-01-02 15:08] akhmerov commented on #3268
wilco; perhaps it's still good to specify a required version of requests.

[2017-01-02 15:24] tk0miya commented on #3268
Agreed. I will investigate it later.
Maybe it will be 2.0+ or 2.4+.

Thanks,

[2017-01-02 16:16] tk0miya commented on #3142
Sphinx assigns section numbers to each "numbered" toctree::
[code]
So toctrees are expected as not nested.

It was caused by order by numbering process. And its order is not controlled by Sphinx.
The renaming might change the order in your case.

Anyway, I just added warning on nested numbered toctree detected.

[2017-01-02 18:34] gr2m commented on #3295
Thank you so much for your patience and help, I really appreciate it!

I have added your code snippet to the beginning and the end of the `conf.py` file, but did not see any additional logs.

Here is my full conf.py file: https://gist.github.com/c6f166ed60b2e43a96e826728d6deba4

[2017-01-03 00:16] tk0miya commented on #3295
Okay, how about this? This only adds print function barely.
[code]

[2017-01-03 00:43] gr2m commented on #3295
It now prints the Six version

[code]

[2017-01-03 09:25] ctrl-f5 commented on #3295
I've got the same issue:

[code]

We are using sphinx to build documentation in our vagrant, since a couple of weeks it just broke after a new provision (using debian image)

[2017-01-03 10:17] ctrl-f5 commented on #3295
I temporarily fixed it by installing a previous version:

`pip install sphinx==1.4.8`

[2017-01-03 10:34] impulkit opened #3301 "Exact search in Sphinx"
Subject: <what happen when you do on which document project>

### Problem
- I am trying to search for the string "show ipsec", but upon giving the string without quotes I get results which seem to be generated after searching for show and ipsec individually. Is there a way to get exact matches only?

### Environment info
- OS: Linux
- Python version: 2.7
- Sphinx version: 1.4.1

[2017-01-03 20:54] marco-buttu opened #3303 "Doctest execution only for specific Python versions"
Sometimes it is useful to execute a doctest only for specific Python versions. For instance, think at the Python documentation: if the doc explains a new feature available from Python 3.6, I would like the code example to be doctested only for Python >= 3.6. I was thinking to add an option like this one:
[code]

In that case, also the testsetup, testcleanup and testcode directives should have this

[2017-01-03 21:30] gr2m commented on #3295
`pip install sphinx==1.4.8` made it work for me, too

[2017-01-04 10:36] ThomasLecocq commented on #3075
same problem for me, but solved https://github.com/rst2pdf/rst2pdf/issues/568 here

[2017-01-04 14:49] #2367 closed, assigned to nobody

[2017-01-04 15:14] tk0miya opened #3304 "Drop verbose() and debug2()"
As I proposed at https://github.com/sphinx-doc/sphinx/pull/3267#discussion_r93878111, `verbose()` and `debug2()` are not used so much. I feel this is no longer needed.
I prefer to replace them with `info()` and `debug()`. But that makes `-v` and `-vvv` options meaningless.

So we have to redesign these log levels.

[2017-01-04 15:22] tk0miya commented on #3304
Note:
In sphinx.ext.viewcode, `verbose()` is used with intention:
[code]
It might be too verbose if replaced.

[2017-01-04 23:58] ptomato commented on #3103
This error is caused by zzzeeksphinx and seems to be fixed by the unreleased commit https://bitbucket.org/zzzeek/zzzeeksphinx/commits/63dd24ed8cb74ec742f387d444fd3abff19181b8. Debian has included this fix in their packaged version of zzzeeksphinx 1.0.18.

[2017-01-05 07:55] lglavas opened #3305 "'IOError: [Errno 2] No such file' but the .yaml file is there"
### Problem
Hi this is my first documentation setup and have struggling with it for a while. How i get an error that it cant open  'log_config.yaml' but the file is there in the same '/core' directory so i have no idea how to solve this?
[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results

### Reproducible project / your project

### Envi

[2017-01-05 08:47] shimizukawa commented on #3305
I guess `core/executor.py` tried to open 'log_config.yaml' in current directory where you invoke `sphinx-build` command instead of `../core`.

I suggest `core/executor.py` should not be autodoc target. Or you can avoid the behavior by using `__name__ == '__main__'` idiom as http://www.sphinx-doc.org/en/1.5.1/ext/autodoc.html mentioned:

[2017-01-05 10:02] lglavas commented on #3305
Thank you shimizukawa!
You where absolutely right in your guess and that where good pointers that solved my problems. I am closing the issue now.

[2017-01-05 10:02] #3305 closed, assigned to shimizukawa

[2017-01-05 16:21] jputrino commented on #3295
I got the same error as @ctrl-f5 when running 1.5.1. It's running on Ubuntu 14.04 in a Docker container. Downgrading to 1.4.8 fixed the issue
[code]

[2017-01-06 03:20] tk0miya commented on #3303
+1

[2017-01-06 03:21] tk0miya commented on #3301
AFAIK, there are no way to do that.

[2017-01-06 03:33] tk0miya commented on #3238
January is coming! I'd like to release next bug fix release at 15th or 22th.
Any comments?
https://github.com/sphinx-doc/sphinx/milestone/28

[2017-01-06 03:45] tk0miya commented on #3295
http://stackoverflow.com/a/31671281 tells us loading `html_parser` with following import-clause.
[code]
I could not understand why this works fine. But six is very complex library. So some technical tips might be needed...

Could you try to rewrite your linkcheck.py with following patch?
[code]

@ctrl-f5  @jputrino It seems your errors are similar, but different to this issue.
Could you file a new

[2017-01-06 07:44] ghost opened #3306 "Enhancement request: Make parsed-literal look like code-block"
Subject: Enhancement request: Make `parsed-literal` look like `code-block`

`code-block` allows some customisation of font size, background color and allows syntax highlighting with pygments. I've done this by setting `VerbatimColor`, `VerbatimBorderColor` and `fvset{fontsize}` in my .sty files. (I also override `code` font size to make it all match with inline code blocks.)

To make parsed-litera

[2017-01-06 07:46] ghost commented on #2674
Tried it out. Fantastic.

[2017-01-06 13:13] ghost commented on #1399
Here's a use-case (mine!) that you can consider as part of this enhancement.
I have a common glossary for use across multiple documents. Sometimes I want to add one or more terms to this without editing the common glossary. Although I can add another glossary:: directive, the added terms are not part of the main (:sorted:) glossary directive. I'd like to be able to somehow include additional terms

[2017-01-06 13:26] jamercee opened #3307 "Could not import extension sphinx.builders.linkcheck (exception: cannot import name SSLError)"
### Problem
We create a new project using `sphinx-quickstart`. Accept all defaults. Immediately try `make html`, and receive the following error:

`Could not import extension sphinx.builders.linkcheck (exception: cannot import name SSLError)`

### Environment info
- OS: Debian Jessie
- Python version: 2.7.9
- Sphinx version: 1.5.1

[2017-01-06 13:35] tk0miya commented on #3307
Same as #3268.

[2017-01-06 13:35] #3307 closed, assigned to nobody

[2017-01-06 13:38] jamercee commented on #3307
Brilliant -- thanks.

[2017-01-06 17:02] ghost opened #3308 "Parsed-literals don't wrap very long lines with pdf builder"
Subject: Parsed-literals don't wrap very long lines with pdf builder

### Problem

I'm using the `parsed-literal` directive to display code blocks, and the very long lines don't wrap they way they would in a `code` directive. [For context: I have to use `parsed-literal` because there are quite a few substitutions in each listing, eg `|apiurl|`].

It seems this problem may be related to #3306, #216

[2017-01-06 21:09] jputrino opened #3310 "Error in 1.5.1 / Ubuntu 14.04: Could not import extension sphinx.builders.linkcheck"
Subject: Linkcheck Error in v1.5.1 breaks sphinx-build

### Problem
- When I run a basic html `sphinx-build` in a Docker container running Ubuntu 14.04, I get an error related to linkcheck that breaks the build. The error does not occur in OS X Yosemite. I think it's being caused by an earlier version of six used in the OS.

I'm really just adding this issue here in case it will help others that a

[2017-01-06 21:18] jputrino commented on #3310
This is in response to the request in #3295 to open a new issue.

[2017-01-07 03:24] tk0miya commented on #3268
Note: `InsecureRequestWarning` is appeared since 2.4.0.

[2017-01-07 03:37] tk0miya commented on #3310
Thank you for details.

It is caused by version of requests. Sphinx expects request-2.4.0 or above.
Could you try again after upgrading request package?

I will add version requirements later.

[2017-01-07 05:31] tk0miya commented on #3268
Finally, I added a fallback for Debian jessie at 62329c8.
I don't tested it because I don't have the environment.
But it might work.

Thanks,

[2017-01-07 05:31] #3268 closed, assigned to nobody

[2017-01-07 05:31] tk0miya commented on #3310
I added version requirements at 70cdc7b.
Thank you for reporting!

[2017-01-07 05:31] #3310 closed, assigned to nobody

[2017-01-07 05:45] tk0miya commented on #3304
Just discussed with @shimizukawa.
As a result, `debug2()` is no longer needed. so we remove it in 1.6.
On the other hand, `verbose()` has still meaning. So we keep it left.

[2017-01-07 06:03] tk0miya commented on #3304
Done

[2017-01-07 06:03] #3304 closed, assigned to shimizukawa, tk0miya

[2017-01-07 06:49] usaturn commented on #1643
Bugs will not be reproduced in the current version.
I will close this assignment.

Run command
[code]

Execution result
[code]

### Environment info
- OS: Windows10
- Python version: 3.5.2
- Sphinx version: 1.5.1

[2017-01-07 06:49] #1643 closed, assigned to nobody

[2017-01-07 06:56] tk0miya commented on #1643
Thanks!

[2017-01-07 09:29] tk0miya commented on #1644
Now `exclude_patterns` does not effect to templates directory.
http://www.sphinx-doc.org/en/1.4.9/config.html#confval-exclude_patterns

But, at this moment, Sphinx does not copy dotfiles on template directory.
So I believe this issue is already resolved.

So I close this issue.
Please reopen if you have another problem.

Thanks,

[2017-01-07 09:29] #1644 closed, assigned to nobody

[2017-01-07 16:39] tk0miya commented on #3284
Fixed.

[2017-01-07 16:39] #3284 closed, assigned to tk0miya

[2017-01-07 16:57] tk0miya commented on #3234
Finally, I updated error message to investigate the error at 4047329.
This will report the error more detail.

@astrofrog Could you try this please?

[2017-01-07 17:02] tk0miya commented on #2985
@hhsprings ping

[2017-01-07 17:34] tk0miya opened #3314 "Sidebar is not shown with py3 and jinja-2.9.1"
### Problem
- Sidebar is not shown on HTML builds

#### Procedure to reproduce the problem
See travis
https://travis-ci.org/sphinx-doc/sphinx/jobs/189819907#L2829

#### Error logs / results
See travis
https://travis-ci.org/sphinx-doc/sphinx/jobs/189819907#L2829

#### Expected results
- sidebar is shown

### Reproducible project / your project
- the document of Sphinx (`/doc`)

### Environment info

[2017-01-08 01:20] akhmerov commented on #3268
Thanks, looks great.

[2017-01-08 02:41] tk0miya commented on #3314
It seems a bug of jinja2: https://github.com/pallets/jinja/issues/645

[2017-01-08 02:57] tk0miya commented on #3314
To avoid the bug, I downgrade jinja2 for testing temporarily: 23d74dd.
I will remove the requirement after resolved.

[2017-01-08 04:37] tk0miya commented on #3215
We could not reproduce the problem, so I close this now.
Please reopen if you still have the problem.

Thanks,

[2017-01-08 04:37] #3215 closed, assigned to nobody

[2017-01-08 04:38] tk0miya commented on #3142
I close this now because this is not a bug.
Thank you for reporting.

[2017-01-08 04:38] #3142 closed, assigned to nobody

[2017-01-08 04:44] tk0miya commented on #3089
It seems the document of sagemath are consist of multiple Sphinx projects. So this is expected behavior.
I think it is hard to support intersphinx on texinfo builder. So I'd like to close this.

@shimizukawa any ideas?

[2017-01-08 04:50] tk0miya commented on #104
-1 for this.
That is not responsibility of Sphinx. We already have good package manager; pip.
In addition, we have a lot of python environments; OS packages, official package, pyenv, virtualenv and so on. It is hard to install python packages as users expected.

[2017-01-08 04:52] tk0miya commented on #149
Now sphinx refers `docutils.conf` on your config directory.
Thanks,

[2017-01-08 04:52] #149 closed, assigned to nobody

[2017-01-08 04:54] tk0miya commented on #207
Note: #175

[2017-01-08 05:13] tk0miya commented on #739
We also have kindlebuilder extension (thanks to @shibukawa! BTW, how about release it?)
https://bitbucket.org/shibu/kindlebuilder/overview

These 3rd party extensions are part of Sphinx ecosystem. So I think it is not important to bundle it.

[2017-01-08 05:21] tk0miya commented on #824
What is "dark" theme?
AFAIK, it is not bundled theme.

Please reopen if you are still in trouble.

[2017-01-08 05:21] #824 closed, assigned to nobody

[2017-01-08 05:22] tk0miya commented on #882
Sorry, I can't understand the problem...

[2017-01-08 05:30] tk0miya commented on #917
Instead s6, you can do it with `sphinxjp.themes.s6` extension.
https://pypi.python.org/pypi/sphinxjp.themes.s6/

Anyway, it should be implmented as an extension.

[2017-01-08 05:30] #917 closed, assigned to nobody

[2017-01-08 05:31] tk0miya commented on #934
Now, we have it!

[2017-01-08 05:31] #934 closed, assigned to nobody

[2017-01-08 05:36] tk0miya commented on #978
Fixed at 	175c6e6.

[2017-01-08 05:39] tk0miya commented on #1098
+1

[2017-01-08 05:42] tk0miya commented on #1212
It was already fixed at current release.
Thanks,

[2017-01-08 05:42] #1212 closed, assigned to nobody

[2017-01-08 05:45] tk0miya commented on #1400
@shimizukawa Is this already implemented?

[2017-01-08 05:54] tk0miya commented on #1625
Note:
Unfortunately, this is not implemented even in Sphinx-1.5.

It emits following warning:
[code]

[2017-01-08 05:59] tk0miya commented on #1825
It seems alabater theme was already fixed. So I close this now.
Thanks,

[2017-01-08 05:59] #1825 closed, assigned to nobody

[2017-01-08 09:42] ajgpitch opened #3315 "Bibliography crashes on latex build with docclass 'memoir'"
Subject: Bibliography crashes on build with docclass 'memoir' in qutip/qutip-doc

### Problem
The latexpdf build of our document fails. To date it seems we use the 'memoir' docclass. I don't know why, this is my first attempt at building the docs (about 3 days into it now!). The problem does not occur with the 'manual' docclass, but I have to ditch our preamble (which does not bother me so long as

[2017-01-08 10:27] mantepse commented on #3089
I'd just like to mention that I'm still very (very!) interested in a solution and also willing to spend some time on it.  Just notify me here if you have any questions or any suggestion on how to proceed.

Martin

[2017-01-08 10:27] jfbu commented on #3315
Thank you for the report and sorry for inconvenience!

Thanks for the small project displaying the problem.

This should fix the issue. Add these lines at the end of your file `latex_output_files/latex_preamble.tex`:

[code]

Memo: this problem is caused by an oversight in 1a540247b which was merged in 1.5. The bug will be fixed in 1.5.2. Then the above lines are not needed but they cause no harm

[2017-01-08 11:07] ajgpitch commented on #3315
Wow, that was quick.

Actually, I am thinking of it as serendipitous, as the whole thing looks
much better with 'manual' docclass. The preamble does not seem to be missed.
I learned a lot these last few days :)

Good to have a solution though, just in case my fellow team members point
out something I missed that makes the 'memoir' essential.

Thank you

On 8 January 2017 at 19:28, Jean-François B.

[2017-01-08 11:09] pcav commented on #917
Great, thanks for the hint. However, the project seems not to be developed in the recent years. I'd be willing to lend a hand if necessry.

[2017-01-08 12:16] jfbu commented on #3315
Glad it worked!

Part of your `latex_preamble.tex` (the definition of `\maketitle`)  looks like an old version of `sphinxmanual.cls` from which use of the `titlepage` environment has additionally been removed  (memoir has no such environment).

But more relevant possibly is that at top of the `latex_preamble.tex` you have some use of `tikz` package for chapter titles. But this is overruled from th

[2017-01-08 14:42] jfbu opened #3317 "An URL in parsed-literal contents gets wrongly rendered in PDF if with hyphen"
Subject: An URL in parsed-literal contents gets wrongly rendered in PDF if with hyphen

#### Procedure to reproduce the problem

[code]

#### Error logs / results

![capture d ecran 2017-01-08 a 15 33 52](https://cloud.githubusercontent.com/assets/2589111/21750633/57f03c00-d5b8-11e6-9418-748dc8a1371d.png)

#### Expected results

The `-` does not get converted to obscure LaTeX code...

### Reproduc

[2017-01-08 14:46] jfbu commented on #3317
The produced latex contains `\url{http://www.sphinx-doc.org}`, but the alltt environment has made the `-` active. It appears that `\url` inside the alltt has the effect of replacing `-` with a verbatim rendering of the latex meaning of the active `-`.

[2017-01-08 15:49] jfbu commented on #3308
I am not sure we should call this a Sphinx bug... it is in nature of TeX rather to make wrapping of lines very difficult (except at spaces). TeX was thought out for wrapping lines of natural language. It requires lots of motivation on parts of user to get the kind of wrapping lines like currently achieved by Sphinx in code-blocks... (for example `listings` package needs to retokenize entirely the

[2017-01-08 16:03] jfbu commented on #3306
Thanks for suggestion. Should parsed-literal also be equipped with captions ?

Actually, I do not quite understand why Sphinx used `alltt`  environment in the first place, as the `Verbatim` from `fancyvrb` achieves the same as `alltt` allows regarding `\, {, }`. <strike>There is a difference though, that formatted math is apparently possible inside `alltt` via the usual `\(..\)` and `\[..\]` but s

[2017-01-08 16:18] jfbu commented on #3308
The ``\def\url##1{\originalurl{\detokenize{##1}}}`` trick is no good for characters like `_` which gets output as `\_` in TeX source, with the `\detokenize` we end up with `\_` in PDF.

The trick is needed for active characters. I need to think about it, but currently the best I see is that when Sphinx inserts the `\url` (inside the contents of parsed-literal directive) it should turn off the LaTe

[2017-01-09 04:02] christophercrouzet commented on #1399
To add to this issue, I'm currently writing a page with a list of categories and their definitions. I thought that the glossary directive would be a good fit since, as per its dictionary definition, I indeed have “an alphabetical list of words relating to a specific subject, text, or dialect, with explanations”. On top of that, the glossary directive makes it easy to link individually to each cate

[2017-01-09 09:02] magimagi opened #3319 "Documentation for Python container classes"
Subject: Documentation for Python container classes- only the first inner class title doesn't include the outer class name.

### Problem
while trying to build a documentation for a container class that includes more classes inside it.
e.g.
[code]
When using the autoclass  for the container class (A) with the members option, as followed:
[code]

sphinx will document the title of the inner classes,

[2017-01-09 09:15] #978 closed, assigned to nobody

[2017-01-09 09:41] tk0miya commented on #3314
It was fixed at jinja2-2.9.3 :-)

[2017-01-09 09:41] #3314 closed, assigned to tk0miya

[2017-01-09 10:08] magimagi commented on #3319
Issue appears with both: add_module_names = False/True.

[2017-01-09 10:08] tk0miya commented on #3238
So far, I would release the next version in this weekend.
But, we should wait for #3295. I think it's a blocker of v1.5.2.
If still opened in this weekend, I will postpone the release for a week.

(Personally, I will be busy at mid of this month. so it might be postponed again...)

[2017-01-09 14:58] jfbu commented on #3315
fixed at https://github.com/sphinx-doc/sphinx/commit/c9204ea95ad1ad377054526edd9533d20d783622

[2017-01-09 14:58] #3315 closed, assigned to jfbu

[2017-01-09 15:09] jfbu commented on #3308
@tk0miya I don't have a clear view of the kind of LaTeX mark-up which can end up in output of LaTeX writer from `parsed-literal` directive (because I don't get a clear understanding from docutils `parsed-literal` [directive description](http://docutils.sourceforge.net/docs/ref/rst/directives.html#parsed-literal).) I see we can have styling mark-up (italic, boldface, ...) and also I know about `\ur

[2017-01-10 10:35] tjanez opened #3320 "Warning about reference target not being found for container types"
### Problem
Sphinx 1.5 introduced [container types](http://www.sphinx-doc.org/en/1.5.1/domains.html#info-field-lists), e.g.:
[code]

When I use them, the rendered documentation looks ok, but `sphinx-build` returns a warning about reference target not being found for the container type.

#### Procedure to reproduce the problem
Here is a minimal example to reproduce the problem:
- prepare a new dire

[2017-01-10 15:47] mapgccv opened #3321 "No such config value: autodoc_default_flags when using sphinxcontrib-matlabdomain"
Trying to generate documentation using sphinx and matlabdomain fails
### Problem
Any attempt to use autodoc functionality on matlab domain fails with the message reported below.

#### Procedure to reproduce the problem
1. install sphinx and sphinxcontrib-matlabdomain (I used simply
[code]
2. Add the sphinx contrib extension and a path to some matlab sources:
[code]
3. Call sphinx-build . htlm

###

[2017-01-10 15:52] mapgccv commented on #3321
Stupid me, I didn't include 'sphinx.ext.autodoc' as extension.
Eventually a better error report could help.

[2017-01-10 15:52] #3321 closed, assigned to nobody

[2017-01-10 19:04] AlexanderS commented on #3234
I have the same problem:

[code]

Seems like requests does not handle gzip decoding when using `.raw`: https://github.com/kennethreitz/requests/issues/2155

Using the suggested wrapper for read seems to fix this issue:

[code]

[2017-01-10 21:54] ajgpitch commented on #891
What if you want to host your sphinx doc pages on a site that uses Jekyll?

I see there are some tools out there for removing the underscores, but they are very old and don't seem compatible with latest sphinx doc

[2017-01-11 13:38] cdeil commented on #786
I would like to add tables to my Sphinx page, and have them be a bit interactive and possibly rendering data from a JSON or CSV file like datatables.net.

Is there such a good table extension for Sphinx?

Alternatively -- could you point me to an extension or code example that's similar? I.e. adding something that requires adding HTML / JS and getting it working as part of (or subpage of) a Sphinx

[2017-01-11 14:38] julienmalard opened #3324 "Build fails with code variables starting with unicode symbols."
Subject: <what happen when you do on which document project>

### Problem
- Build fails with code variables starting with unicode symbols.

#### Procedure to reproduce the problem
On automatic build, both lines below cause build fail because of the "índ_mod_fuente" variable.
[code]

#### Error logs / results
[code]

#### Expected results
Renaming índ_mod_fuente as n_mod_fuente solved the problem.

[2017-01-11 16:09] sblask commented on #2108
I had the same problem and as I run `sphinx-apidoc` from a separate script anyway, I fix it like this:
[code]

[2017-01-11 21:11] jfbu commented on #3129
Appears to be a duplicate of https://github.com/sphinx-doc/sphinx/issues/1238

[2017-01-11 21:15] samotracio opened #3325 "add and crossreference labels in docstrings ?"
Is it possible to define a label for a section in a docstring and then cross-reference that label from other parts of the docstring?  In modu.py I have a function :

    def foo(x, y):
        """  This routine does bla bla bla...

        Parameters
        ---------------
        x : float
            First number
        y : float
            Second number. See :ref:`thisnote` below

        ..

[2017-01-11 22:35] pburdine opened #3326 "Sphinx should provide a syntax for providing "Usage" or "Syntax" for stand alone scripts/applications"
### Problem
Currently Sphinx offers a lot in the way of documenting APIs for Python code (http://www.sphinx-doc.org/en/1.5.1/domains.html#the-python-domain), but there doesn't seem to be any obvious way at a script/module level for documenting how the script/module should/can be used from the command line.  Originally I was looking for a way to use the Napoleon syntax for my scripts, but there isn

[2017-01-11 23:33] bryevdv commented on #786
Hi the `:bokeh-plot:` is generates interactive Bokeh plots inline in Sphinx documentation. It's probably alot more involved and sophisticated than you need, with a custom parser, event handlers, etc. You might have a look at this one:

https://github.com/bokeh/bokeh/blob/master/bokeh/sphinxext/bokeh_palette_group.py

which is much simpler, more along the standard lines of "define a new node, have

[2017-01-12 00:04] RobRuana commented on #3326
Check out the [autoprogram](https://pythonhosted.org/sphinxcontrib-autoprogram/) sphinx extension. I think it'll do exactly what you are looking for :)

[2017-01-12 00:04] #3326 closed, assigned to nobody

[2017-01-12 03:12] tk0miya commented on #3325
Did you check the warning messages?
At my local, I got following messages:
[code]
[code]

This describes

* You can't use sections in docstrings
* That causes `:ref:` role unlinkable because of no captions

So you can use cross references if there are no sections. For example, following works well.
[code]

[2017-01-12 03:16] tk0miya opened #3328 "Could not refer rubric implicitly"
### Problem
- Could not refer `rubric`s implicitly

#### Procedure to reproduce the problem
[code]

Of course, we can refer it explicitly.

#### Error logs / results
[code]

#### Expected results
We can refer it implicitly with its title.

[2017-01-12 03:23] tk0miya commented on #3328
Fixed at d170862.

[2017-01-12 03:23] #3328 closed, assigned to nobody

[2017-01-12 05:12] tk0miya commented on #3319
Note:
Internally, autodoc generates following reST code on building docs:
[code]
But python domain fails to render it correctly.
As a trial, I marked up the reST above directly into my index.rst (without autodoc module). And I got the same problem.

So this is a bug of python domain.

[2017-01-12 05:13] tk0miya commented on #3319
refs: #3065

[2017-01-12 12:13] shimizukawa commented on #891
Now sphinx have `sphinx.ext.githubpages` extension. It would help us 👍
http://www.sphinx-doc.org/en/1.5.1/ext/githubpages.html

[2017-01-12 12:30] shimizukawa commented on #3089
I do not know how to handle external links with texinfo. So, +1 to close this issue.

[2017-01-12 12:49] k-yaegashi opened #3329 "Processing translated document with footnote makes sphinx-builder crash"
### Summary

When processing a document using footnote text and translated using gettext, unexpected runtime error occured and sphinx crashed.

### Detail

After running the following shell script as `sphinx-test.sh` on my home directory,

[code]

I've got the following console output:
[code]
and the following log error:
[code]
If any outputs are wrong on your environment, please use the following

[2017-01-12 13:13] Carelvd opened #3330 "Using the `only` directive to prepend or append the readme based upon the builder in use"
Subject: Using the `only` directive to prepend or append a readme based upon the builder in use

### Problem

I want to control where the `readme.rst` is inserted into my documentation based upon the document I am building. For `singlehtml` and `LaTeX` targets I wanted it to appear before the Table of contents and for `html` I wanted to insert it after the table of contents

#### Procedure to repr

[2017-01-12 13:26] cdeil commented on #738
+1 to support case-insensitive search.

Most people (I think) are used to write their search queries just all lowercase in Google and other search fields. So I'd prefer to have my Sphinx sites find stuff in a case-insensitive way.

[2017-01-12 14:43] mantepse commented on #3089
Might there be a workaround?

[2017-01-12 14:49] shimizukawa commented on #3329
Reading po causes crush because the index.po file is incorrect.
[code]

msgid *and* msgid. later one must be `msgstr`.
Please correct your po file.

[2017-01-12 14:51] tk0miya commented on #3089
Please integrate your project into single one.

[2017-01-12 15:33] aztrock opened #3331 "few Docstring Sections not working"
Subject: few Docstring Sections not working, most exactly [http://www.sphinx-doc.org/en/1.5.1/ext/napoleon.html#docstring-sections](url)

### Problem
    """Table for administrator, marked in Mode.. ts User with is_superuser=True list.

    Args:
        tables.Table (:obj:`django_tables2`): Inheritance from django_tables2.

    Attributes:
        country: Name country and city

    Todo:

[2017-01-12 15:37] shimizukawa commented on #3329
Next version of sphinx will emits `WARNING: reading error: /path/to/project/locale/ja/LC_MESSAGES/index.po` if index.po is incorrect.

Now I close this issue. Please feel free to reopen if you still have problem. Thanks for you reporting!

[2017-01-12 15:45] tk0miya commented on #3330
I can't reproduce your problem, but it seems not working.
As documented, the "format" and "name of the current of builder" are always set as a tag.
http://www.sphinx-doc.org/en/1.5.1/markup/misc.html#directive-only

From the behavior, the `html` tag is enabled under both html and singlehtml builder.
Because the format of singlehtml builder is html.
So you'll see README twice in singlehtml.

[2017-01-12 17:42] pburdine commented on #3326
Yes, it does.  Thank you!  Any plans on adding this to the distro like Napoleon?

Warning to those that find this, the 0.1.3 release of autoprogram on pypi doesn't work on Python 2 without modifying the source files.
https://bitbucket.org/birkenfeld/sphinx-contrib/issues/169/incompatibility-with-python-2
Fix was supposedly checked in 3 months ago, but they haven't released a version since then.

[2017-01-12 18:37] samotracio commented on #3325
Thanks for the reply @tk0miya . Indeed, your example using rubric works fine, albeit with two minor caveats :
(1) Changes the HTML rendering : Parameters and Notes are rendered differently and the list of parameters x,y,z,.... also appears different.
(2) The :ref: linking works ok within the same docstring and when put in other .rst files. It doesn't work however from docstrings of other functions

[2017-01-12 18:49] RobRuana commented on #3326
I don't think there are any plans on adding it the main distro.

It may be worthwhile to add a comment to that [issue](https://bitbucket.org/birkenfeld/sphinx-contrib/issues/169/incompatibility-with-python-2) asking if they plan to roll a new release including that fix. That may have just been an oversight.

[2017-01-12 19:29] jputrino commented on #3310
@tk0miya -- I'm now getting the same error when running locally on my Mac (OS X Yosemite).
I'm using six==1.10.0 and requests==2.4.0
[conf_py.txt](https://github.com/sphinx-doc/sphinx/files/702666/conf_py.txt)

[code]

[2017-01-12 19:32] jputrino commented on #3310
Strangely enough, it works when I build in a virtualenv:
[code]

[2017-01-12 20:21] RobRuana commented on #3331
Can you verify that you have `sphinx.ext.napoleon` enabled in your `conf.py`? Like this:
[code]

If so, can you verify that you have set `napoleon_google_docstring = True`? This is the default, so if that setting is missing it should still be working. Just make sure it's not set to `False`.

[2017-01-12 20:30] RobRuana commented on #3325
It looks like you are using NumPyDoc style docstrings. Try adding an additional line break after the `Parameters` section, like so:

[code]

Sections breaks are created with two blank lines, so I'm guessing `.. _thisnote:` was being scooped up into the `Parameters` section.

[2017-01-12 21:07] samotracio commented on #3325
Great suggestion. Thanks! Unfortunately works halfway. It seems like labels sandwiched between sections are parsed wrong. Please check this 3 examples.

This works wonderful

    def foo(x, y):
        """  This routine does bla bla bla...lots of text...Please check :ref:`Parameters <somelabel>`

        .. _somelabel:

        Parameters
        ---------------
        x : float
            First

[2017-01-12 21:24] RobRuana commented on #3325
I think the issue is that the `Notes` header doesn't really start a new section, so sphinx doesn't know what label to use for ``:ref:`thisnote` ``. It should work as expected if you use the angle brackets in your reference ``:ref:`Notes <thisnote>` ``.

So the docstring should be like this:

[code]

[2017-01-12 21:24] #3325 closed, assigned to nobody

[2017-01-12 23:00] bitprophet commented on #3276
Belatedly, I just ran into this (was tracking under bitprophet/alabaster#95) and independently confirmed the same cause/effect. 👍

[2017-01-13 00:58] k-yaegashi commented on #3329
Sorry for my mistake and I fixed the repro script:
[code]

It will produce,
`$HOME/sphinx-test/source/index.rst`:
[code]

`$HOME/sphinx-test/source/locale/ja/LC_MESSAGES/index.po`:
[code]
and also produces following error on console:
[code]
with stacktrace:
[code]

Please modify the repro script as follows:
If:
[code]
it works without error (same as my first report without mistake ...).

And if:
[

[2017-01-13 02:55] tk0miya commented on #3329
Reproduced. Surely, `refid` attribute was lost on translation::
[code]

[2017-01-13 10:18] jfbu opened #3333 "allow PDF production via latex+dvipdfmx for smaller PDF file size"
[dvipdfmx](http://project.ktug.org/dvipdfmx/) is a dvi to pdf converter which generally produces quite smaller files than PDFTeX, due to use of CFF compressed font format (for PostScript Type1 fonts). It is already used by Sphinx for Japanese documents which go via ``platex+dvipdfmx``. It would be nice to have ``latex+dvipdfmx`` also available as an option.

Admittedly ``xelatex`` engine uses inte

[2017-01-13 11:40] jfbu opened #3334 "in PDF output, final index does not look nice (it does for Japanese docs...)"
Compiling to PDF the Sphinx own documentation pretending it uses language `'ja'` one gets a nice index:

![capture d ecran 2017-01-13 a 12 30 33](https://cloud.githubusercontent.com/assets/2589111/21928740/d086ed62-d98c-11e6-816d-d7a30c2908b3.png)

but by default it produces something like this:

![capture d ecran 2017-01-13 a 12 29 51](https://cloud.githubusercontent.com/assets/2589111/21928712/9

[2017-01-13 11:54] wodo opened #3335 "gettext dos not extract field_name of a field in a field_list"
Subject:

[code]
### Problem
- The field_name is not extracted

#### Procedure to reproduce the problem
[code]

#### results
- The pot files did not contain the field_name values

#### Expected results
- The pot files should contain the field_name values

### Environment info
- Sphinx version: 1.4.8

[2017-01-13 11:58] wodo commented on #3335
I did a small patch to solve this issue
in sphix\util\notes.py in the function `apply_source_workaround`

[code]

[2017-01-13 12:02] wodo commented on #3335
Sorry for closing.

[2017-01-13 15:29] tk0miya commented on #3335
I feel your proposal is reasonable.
@shimizukawa what do you think?

[2017-01-13 15:48] tk0miya commented on #3310
@jputrino
It's not same as you got first.

And it is same as #3295. If possible, could you try the patch attached in #3295 to fix the 2nd error?
We need to confirm it works fine.

[2017-01-13 15:49] tk0miya commented on #3295
@gr2m could you try the patch above?
If confirmed, I will merge it into next minor release.

[2017-01-13 16:47] quasipedia opened #3336 "`suppress_warnings = ['misc.highlighting_failure']` is broken"
Subject: `suppress_warnings = ['misc.highlighting_failure'] ` is broken

### Problem
I'm documenting a react project, which means most of the snippets use JSX, the xml-like extension to javascript.  Albeit pygments support ES6 (the version of JS the project use, and that in turns support JSX), *the JSX syntax itself is not supported by Sphinx*.

Since my CI has doucementation buildind as a step, I

[2017-01-13 16:51] gr2m commented on #3295
sorry I missed your last message, I’ll have a look over the weekend

[2017-01-13 17:05] quasipedia commented on #3336
Also, for extra points I tried this after performing:

  - `find -name '__pycache__' | xargs rm -rf` in my virtualenv installation
  - `make clean` in my doc directory

[2017-01-13 21:04] lelit opened #3337 "Ugly rendering of definition list term's classifier"
I tried using the _classifiers_ on a [definition list](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#definition-lists) terms, but the result is not what I'd expected.

The following snippet
[code]

is transformed to the following HTML snippet by current (1.5.1) Sphinx:
[code]

that renders like:
[code]

Standard docutils (0.13.1) produces:
[code]

which looks nicer:
[code]

I

[2017-01-13 21:35] marco-buttu opened #3338 "Missing prompt syntax highlighting in code-block and doctest with options"
### Problem

If I write an example using the `code-block` or `doctest` directive, using some options, the prompt syntax highlight is not applied. For instance, let's have this example:

[code]
In this case the prompt (` >>>`) syntax highlighting is not applied. I looked both at the HTML and LaTex output. Here is a screenshot of the HTML output:

![doctest_options](https://cloud.githubusercontent.c

[2017-01-14 06:54] tk0miya commented on #3337
It was rendered correctly at v1.3.6, but it was broken since v1.4.
It seems #2318 breaks the rendering.

In docutils, `<dt>` tag is generated at `visit_term()` and `visit_definition` (It' asymmetric...).
[code]

But sphinx overrides them like following:
[code]

So we should two ways to fix this.
The first is to remove overriding methods from our writer.
The another is to handle correctly classifie

[2017-01-14 11:47] tk0miya commented on #3336
Sorry for inconvenience. It was my typo...
It was fixed at 07633a5a712a3b06c21ef35c341a606ad9b96d47 ant will be released in next release (maybe in a few days).

[2017-01-14 11:47] #3336 closed, assigned to nobody

[2017-01-14 12:04] jfbu commented on #3308
I have thought a bit better on the `\url` issue and put together a PR #3340.

@spencer-rig: if you have some big project with lots of uses of parsed-literal, could you try out this PR and check it doesn't create problems ?

[2017-01-14 13:50] tk0miya commented on #3129
Can I close this?

[2017-01-14 18:05] jfbu commented on #3129
Closing as duplicate of #1238

[2017-01-14 18:05] #3129 closed, assigned to nobody

[2017-01-14 18:11] tk0miya commented on #3308
Surely, parsed-literal is very complex element because users can customize its contents.
We can pack all inline elements into parsed-literal through mark-ups and substitutions.
[code]

I feel it's a bit programable. So I think it is hard to convert LaTeX code perfectly.

[2017-01-14 22:44] jfbu commented on #3308
@tk0miya thanks! actually based on this, investigating at https://github.com/sphinx-doc/sphinx/pull/3340#issuecomment-272658383 I found that there are issues with current (1.5.1) stable branch: footnotes, and also inline math in parsed-literal. There is also #3317.

It would be possible to extract from PR #3340 the fixes to these problems as an independent PR, easier to evaluate because not introd

[2017-01-15 02:15] shimizukawa commented on #3337
I've fixed by the first idea of @tk0miya.
Thanks for your reporting!

[2017-01-15 02:15] #3337 closed, assigned to shimizukawa

[2017-01-15 03:03] shimizukawa commented on #3335
Applied. Thanks!

[2017-01-15 03:03] #3335 closed, assigned to shimizukawa

[2017-01-15 05:39] jakobandersen commented on #2952
This should be fixed in stable now.

[2017-01-15 05:39] #2952 closed, assigned to jakobandersen

[2017-01-15 08:51] tk0miya commented on #3256
Fixed at #3262.
Thank you for reporting!

[2017-01-15 08:51] #3256 closed, assigned to nobody

[2017-01-15 08:56] tk0miya commented on #3238
#3295 is still opened now. So I just postponed for a week.

[2017-01-15 12:32] tk0miya commented on #3158
quick investigation:

The default settings:
![2017-01-15 21 22 30](https://cloud.githubusercontent.com/assets/748828/21962420/d830aafc-db68-11e6-8f7f-d5893f3578e9.png)

With following settings:
[code]
![2017-01-15 21 22 47](https://cloud.githubusercontent.com/assets/748828/21962424/e64e209c-db68-11e6-8e7e-e3054212944f.png)

I will remove white spaces at tail of numfig_formats later.

[2017-01-15 15:58] tk0miya commented on #3234
Fixed at cea72dd.
@AlexanderS Thank you for advice!

[2017-01-15 15:58] #3234 closed, assigned to nobody

[2017-01-15 16:27] Carelvd commented on #3330
Hmm... I'm using the autogenerated `make.bat` file to build my documentation. Before posting I looked at how this invoked `Sphinx-Build`. It only sets the `-b BUILDER` flag but it does not set any `-t BUILDER` flag.

I also looked at the tags that were set within the `conf.py` file (I just printed them to the command line) and this showed an empty set. There does not appear to be any mechanism by

[2017-01-15 16:32] #3158 closed, assigned to nobody

[2017-01-15 17:24] tk0miya commented on #3330
Yes, it is initialized after that.
https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/__init__.py#L78

I can't answer because I can't reproduce your problem yet.
Could you show me your project or minimal reproducible one?

[2017-01-15 17:27] jfbu commented on #2952
@jakobandersen there seems to be a problem since <strike>00fcbfb</strike> ccd6bf4 that Sphinx own docs can not be built.

Trace log, extract:
[code]

[2017-01-15 17:30] jfbu commented on #2952
Sorry the commit I wanted to report is ccd6bf4, my working-tree corresponded to it but the index was at its parent 00fcbfb. I will edit for clarification previous message.

[2017-01-15 20:45] quasipedia commented on #3336
Thank you for the swift fix @tk0miya! Looking forward to 1.5.2 then! :)

[2017-01-15 23:33] jfbu commented on #3317
closed via PR #3340 at 5e0a764

[2017-01-15 23:33] #3317 closed, assigned to nobody

[2017-01-15 23:53] jfbu commented on #3308
I have now merged PR #3340 for 1.5.2 release. I will close this but please re-open in case of problems. I don't have a big enough database of ``parsed-literal`` use cases.

Thanks for reporting !

[2017-01-15 23:53] #3308 closed, assigned to nobody

[2017-01-16 00:05] jakobandersen commented on #2952
@jfbu thanks for catching that, it should be fixed now.

[2017-01-16 03:03] tk0miya commented on #3324
Note: build logs
https://readthedocs.org/projects/tinamit/builds/4885161/

[2017-01-16 03:06] tk0miya commented on #3324
I reproduced the problem with Sphinx-1.3.5 and pygments-1.6.
With newest releases (Sphinx-1.5.1 and pygments-2.1.3), the error does not raised.

Please upgrade your software on reathedocs. AFAIK, you can use `requirements.txt` to upgrade them.

[2017-01-16 03:06] #3324 closed, assigned to nobody

[2017-01-16 07:45] jfbu commented on #2952
@jakobandersen looking at the fix and at the error log I see the latter was so precise I should have been able to understand by myself... feel dumb about making noise here ;-)

[2017-01-16 08:42] naoyak commented on #3285
We had this issue with scikit-learn docs as well.

Here is a build with 1.4.6: https://5815-843222-gh.circle-artifacts.com/0/home/ubuntu/scikit-learn/doc/_build/html/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline
And with 1.4.8: https://6137-843222-gh.circle-artifacts.com/0/home/ubuntu/scikit-learn/doc/_build/html/stable/modules/generated/sklearn.pipeline.Pipelin

[2017-01-16 09:25] mitya57 opened #3345 "Replace the custom smartypants code with docutils’ smart_quotes"
Sphinx currently uses [its own code](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/util/smartypants.py) to handle the [`html_use_smartypants`](http://www.sphinx-doc.org/en/latest/config.html#confval-html_use_smartypants) option. However, that uses a hard-coded set of quotes for every language: `“”` and `‘’`.

That is not optimal for some languages: i.e. in Russian we use `«»`, and in Ger

[2017-01-16 10:10] imphil opened #3346 "C domain: Add support for function parameter direction (IN/OUT)"
I'm using the Sphinx to document C code. Sometimes, it's useful to document the "direction" of a parameter (is it used to pass data in or is it an pointer filled by the called function). Doxygen, for example, supports the syntax `@param[in] some_parameter description` for this case. It would be nice to extend the Sphinx C (and possibly C++) domain with this support as well.

Syntax proposal:

Vari

[2017-01-16 13:04] aztrock commented on #3331
I  have this:

[code]

[2017-01-16 15:56] julienmalard commented on #3324
Hello,

Many thanks for your help!

Would you happen to know, by any chance, how to force the Sphinx upgrade on a Conda environment within ReadTheDocs? ReadTheDocs ends up "downgrading" it back down to 1.3.5 in the Conda install command phase (for another similar project that I have in Python 3.5; http://readthedocs.org/projects/tikon/builds/4904160/):

¨¨¨¨

The following packages will be DOWNGRA

[2017-01-16 17:00] quasipedia opened #3347 "Search is broken (as in: JS is broken)"
### Problem
On a freshly generated site, entering any term as a search query will bear a stuck "three dots blinking" and no results.

#### Procedure to reproduce the problem
conf.py
[code]
command
[code]

#### Error logs / results
![xxx](https://cloud.githubusercontent.com/assets/309045/21992192/ce75a4e2-dc15-11e6-83d5-b17823684779.png)

I should add that I checked `searchindex.js` and the payload

[2017-01-16 17:19] jfbu commented on #3324
I don't know if it will help but I just did a  `conda update --all` on a python 3.5 environement, and then

    conda env export > foo.yml

contains following information:

[code]

hence the downgrading comes from some other cause.  As per ReadTheDocs, my setup on a shared project was to use readthedocs.yml to specify location of requirements.txt:

at top level a readthedocs.yml file with contents

[2017-01-16 17:58] tk0miya commented on #3347
Same as #3203 .
Sorry, it is a bug of sphinx_rtd_theme.

[2017-01-16 18:00] tk0miya commented on #3324
Please ask that to readthedocs team. We don't know about it.

[2017-01-16 18:04] tk0miya commented on #3345
I don't have strong opinion because my mother language (Japanese) does not have a concept of smartypants. I really don't know much about it...

[2017-01-16 18:07] ghost commented on #3308
Thanks a bunch! That PR fixes it for me.

[2017-01-16 18:31] mitya57 commented on #3345
Actually the docutils code has something for Japanese too:
[code]

[2017-01-16 19:05] RobRuana commented on #3331
Can you verify that `napoleon_google_docstring = True` in your `conf.py`?

[2017-01-16 21:10] tarekziade opened #3348 "literalinclude pyobject and decorators"
The literalinclude will not include decorators when the pyobject is used to point a callable that is prefixed by one or several decorators

[2017-01-16 22:28] jputrino commented on #3295
@tk0miya - the patch is working for me. Thanks!

[2017-01-16 22:54] jfbu commented on #3295
Is this issue system specific ? I tried on mac os,

[code]

and no error. I wanted to try with virtualenv, but for some reason, virtualenv invocation ends with an error when done from my Python27 conda environment. This seems to be https://github.com/conda/conda/issues/1367, so I downgraded to Python 2.7.9. Then I did ``virtualenv venv``, ``source venv/bin/activate``, `pip install Sphinx`, etc...

[2017-01-16 23:05] jputrino commented on #3295
@jfbu -- It could be system-specific. I actually didn't experience the error when I was using virtualenv. My system python version is 2.7.12; in the virtualenv, it's 2.7.10.

[2017-01-16 23:20] jfbu commented on #3295
@jputrino I now tested in a virtualenv with Python 2.7.12 and I can not reproduce the issue on my mac os x.

[code]
(I print Python version via:
[code]
in conf.py.

pip freeze in the virtual env reports:
[code]

[2017-01-17 10:35] nnemkin opened #3349 "sphinx.search.IndexBuilder.load() followed by prune() appears to be broken"
`sphinx.search.IndexBuilder.load()` [here](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/search/__init__.py#L296-L297) uses _filenames_ for `self._titles` and `self._mapping`, while it should be using _docnames_ instead:

[code]

`IndexBuilder._titles` is documented to use docnames and all of the code is obviously assuming docnames to be there.

I've discovered this problem when the foll

[2017-01-17 12:59] tk0miya opened #3350 "Current HEAD of master branch crashes on building sphinx-doc itself"
### Problem
- sphinx-build crashes on building the document of sphinx itself

#### Procedure to reproduce the problem
[code]
or
[code]

#### Error logs / results
[code]

#### Expected results
- build succeeded with no errors.

### Reproducible project / your project
- sphinx-doc/sphinx

### Environment info
- OS: Mac
- Python version: 2.7
- Sphinx version: 1.6

[2017-01-17 13:19] jfbu commented on #3350
hi @tk0miya this was reported at https://github.com/sphinx-doc/sphinx/issues/2952#issuecomment-272709980 and it has been fixed in stable already at  1498897 can you merge stable ?

[2017-01-17 13:38] tk0miya commented on #3350
Thanks! I just merged.

[2017-01-17 13:38] #3350 closed, assigned to nobody

[2017-01-17 14:29] julienmalard commented on #3324
Thanks for the tips! I think it is indeed something to do with ReadTheDocs's implementation of Conda. I will ask there for help!

Merci, ありがと,

Julien Malard

________________________________
દ્વારા: Jean-François B. <notifications@github.com>
મોકલ્યું: 16 જાન્યુઆરી 2017 12:19:53
પ્રતિ: sphinx-doc/sphinx
Cc: Julien Malard, M; Author
વિષય: Re: [sphinx-doc/sphinx] Build fails with code variables sta

[2017-01-17 16:45] jakirkham commented on #3212
Had the same issue with RTD, @SylvainCorlay. Turns out they have a `pip` install step after the `conda env` step. In that step, `docutils` gets installed with version `0.13.1`. So it is the same issue.

[2017-01-18 08:40] jfbu commented on #2531
@jcea to be sure, you would like automatically generated footnotes for URLs to look like

    X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹ X¹

with only one footnote at bottom of page ? or should the ``X``'s except first one be links to the initial footnote, so that the footnote marker is only printed once ?

and is the feature to be reset on every page, or every s

[2017-01-18 13:03] wence- opened #3351 "intersphinx links must be fully qualified"
I use intersphinx to link to other bits of documentation.

I would like to be able to write `:class:firedrake:.Function` and have this resolved, in the same way it would be by Sphinx in the "foreign" documentation, into (in this case) `firedrake.function.Function`.  Currently intersphinx only links correctly if I put in the fully qualified object name.  This can be rather tiresome.

If I understan

[2017-01-19 10:07] cunjif opened #3352 "In python36,make dirhtml in flask_restful project directory "docs" in win10 platform error"
Subject: like title

### Problem
- No module named 'flask_restful.__version__'

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: window 10 profession 1601
- Python version: 3.6.0
- Sphinx version: (1.5.1,final,0)
- window cmd

[2017-01-19 11:15] jfbu opened #3353 "NameError: name 'unicode' is not defined with current master branch HEAD"
Subject: build fails

### Problem

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
build completes successfully

### Environment info
- OS: Mac 10.9.5
- Python 3.5.2
- Sphinx current HEAD at 491620e

(this is commit which introduced problem)

[2017-01-19 14:00] bschollnick opened #3355 "Unable to properly format numpy argument for tuple. Guidance requested."
I seem to be unable to get a tuple defined in the Arguments block of the docstring using numpy style docstrings with Napoleon.  (I did not try using Google style).

I have tried a variety of different formating styles.  Part of the problem is that I am unable to find a definitive method of defining a tuple in the docstring.

eg.

Args:
        input_image : string
            The filename of the i

[2017-01-19 15:01] #3353 closed, assigned to tk0miya

[2017-01-19 15:01] tk0miya commented on #3353
Sorry, it's my mistake. fixed.

[2017-01-19 15:04] rddaz2013 commented on #2378
It would be nice if all new dependencies
all *.sty would be in the sphinx package?

Old modified sphinx installations have very much to struggle with the new dependencies, especially when no message is created in the latex build where the change comes from.

oh nice ...\\SetupFloatEnviroment{literal-block} -> undefined control sequence.

[2017-01-19 16:53] jfbu commented on #2378
@rddaz2013 sorry about your troubles, but it is not caused by a new dependency but by a dropped one.

You find in [CHANGES](http://www.sphinx-doc.org/en/stable/changes.html) mention of the dropped dependencies. There is this entry for 1.5 release:

There is actually an error in this CHANGES entry because although `newfloat` became a dependency of Sphinx at 1.3.4 it started being shipped with it on

[2017-01-19 18:19] jfbu opened #3356 "Page layout for Japanese ``manual`` docclass has a shorter text area"
Subject: (PDF issue) when specifying `language='ja'`  there is diverging page layout for ``'howto'`` and ``'manual'`` docclass

### Problem

Here is the background. In current Sphinx latex style file we find this:

[code]

I would like to use geometry options but the problem is that the conditional is true for ``'manual'`` (which uses ``jsbook`` Japanese LaTeX document class) and False for ``'howt

[2017-01-19 18:32] mixmastamyk opened #3357 "Implement parts (of book)"
Hi, I have an website/ebook I'm working on with parts, e.g.:

**Part I: Basics**

1. Ch. One
2. Ch. Two

**Part II: Intermediate**

3. Ch. Three
4. Ch. Four

**Part III: Advanced Stuff**

5. Ch. Five

etc.  But can't seem to figure out how to do it.  The toctree caption helps with the title of the first part.  If I use several toctrees however they restart numbering from 1.  How can I use one toct

[2017-01-19 18:35] jfbu commented on #3356
@tk0miya peripheral to this issue, I see in `jsbook.cls`:

[code]

hence it seems it is possible to pass option `report` to `jsbook`. Would it make sense to use it for ``'howto'`` rather than `jreport.cls`  ? (I do not suggest this, I am only trying to understand why the ``manual`` uses other family of Japanese LaTeX class).

It seems the "Japanese Standard Document Classes" are currently actively

[2017-01-19 18:37] rlam3 opened #3358 "Sphinx doc doesn't compile"
### Problem
sphinx doesn't compile... and cleandoc is missing

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Expecting to compile new source as did before

### Environment info
- OS: Mac
- Python version: 2.7
- Sphinx version: 1.5.1

[2017-01-19 22:10] RobRuana commented on #3355
Hi! Thanks for the question.

First, if you're using the NumPy style, you'll want to start the `Args` section with an underline, like so:

[code]

Second, NumPy (and Google) style only support a single name for each parameter, so you'll want to do something like this:

[code]

or if you are using a namedtuple like the [example here](https://docs.python.org/3/library/collections.html#collections.na

[2017-01-20 03:17] #3295 closed, assigned to nobody

[2017-01-20 03:18] tk0miya commented on #3295
Fixed at a0c2029.
Thank you for reporting and confirming!

It will be released as v1.5.2 at this weekend.
Thanks,

[2017-01-20 04:31] termim opened #3360 "Man page generation bug"
### Problem
The man page generated for the fio project is missing the heading for section "Interpreting the output".

#### Procedure to reproduce the problem
[code]
#### Error logs / results
The "Interpreting the output" section heading in the generated man page is missing.

### Reproducible project / your project
- https://github.com/axboe/fio

### Environment info
- OS: Linux SuSE 13.2
- Python

[2017-01-20 14:30] daiger14 opened #3361 "Ugly, break csv-table in latexpdf output"
Subject: <what happen when you do on which document project>

### Problem
Break, ugly csv-table In pdf file generated with latexpdf from sphinx. Latexpdf doesn't take size, style from rst file. Html version is good.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
- https://drive.google.com/open?id=0B7X8TT3BuJ3MaVkzRnFVYUNTQlU

### Reproducible project / your project
- ht

[2017-01-20 18:52] mixmastamyk commented on #3357
BTW, I need this and would consider giving a $100 tip (perhaps by Amazon gift card) to get it done.  Sorry I can't afford a larger amount.

It might be as simple as implementing an offset parameter for the toctree.

[2017-01-20 19:55] zygoloid commented on #3132
We also want this. In our case, we have some hand-written .rst files (in src/docs/) and some generated .rst files (which will be put into build/docs/), and want to build a single set of documentation from these (there may be arbitrary links between the two).

[2017-01-20 22:51] RobRuana commented on #3355
Since I haven't heard back from you, I am going to close this issue. But feel free to reopen it if things aren't working for you! :)

[2017-01-20 22:51] #3355 closed, assigned to RobRuana

[2017-01-20 23:47] cbornet commented on #2755
👍

[2017-01-21 00:36] bschollnick commented on #3355
I'll give this a try.  (I don't recall seeing the initial notification...)

[2017-01-21 02:49] termim commented on #3360
It seems it was a misunderstanding of how Sphinx treats zero level sections when generating man pages - it just skips the headings. Sorry for the noise then.

[2017-01-21 02:49] #3360 closed, assigned to nobody

[2017-01-21 05:09] tk0miya commented on #3357
As a quick hack, I made a simple extension to resolve this:
https://gist.github.com/25bd52887adea5314fe15f1e3afc0949
(it works only with Sphinx-1.5)

This extension assigns numbers to each sections with following rule:

* treat top level sections as "parts"
* treat second level sections as "sections"
* Do not assign numbers to "parts"
* Assign sequential number to "sections" whole of document

At

[2017-01-21 05:18] tk0miya commented on #3358
Strange. `inspect.cleandoc` is python's official function. Why missing?
Could you show me your conf.py?
And please paste the full stacktrace.

[2017-01-21 05:33] tk0miya commented on #3361
At this moment, sphinx fails to separate tables even if it is larger than the page height.
So please give `:class: longtable` option to `csv-table` directive as a hint.
It will allow you to separate the table.

[2017-01-21 05:35] tk0miya commented on #3361
Note: refs #2620.

[2017-01-21 05:36] tk0miya commented on #3352
It seems the error is raised at your `conf.py`.
[code]

Could you check your conf.py please?

[2017-01-21 06:51] tk0miya commented on #3285
Fixed at bfcb92f.
Thank you for reporting!

[2017-01-21 06:51] #3285 closed, assigned to tk0miya

[2017-01-21 06:54] tk0miya commented on #3238
Now, issues on 1.5.2 milestone are all closed.
It's time to release new package!
I will do it tomorrow (Jan 22th in JST)

[2017-01-21 10:42] jfbu commented on #3238
@tk0miya do you have time to check PR #3363 ?

[2017-01-21 11:50] #3347 closed, assigned to nobody

[2017-01-21 11:52] tk0miya commented on #3089
I believe there is nothing to do from Sphinx code.
So I close this now.

[2017-01-21 11:52] #3089 closed, assigned to shimizukawa

[2017-01-21 17:12] jfbu opened #3364 "sphinx-quickstart prompts overflow on Console with 80 chars width"
Subject: when I run sphinx-quickstart in a Terminal window of 80 character widths, some prompts become barely readable, as seen in this screenshot.

![capture d ecran 2017-01-21 a 18 04 18](https://cloud.githubusercontent.com/assets/2589111/22176174/5ac01d1e-e004-11e6-969f-78bbdc2944d1.png)

Notice how `intersphinx` in the third prompt is mangled. Also the prompt cursor appears in disturbing locat

[2017-01-21 21:16] mixmastamyk commented on #3357
Awesome, does this mean my chapters would become parts?  That might be hard to do because my book is getting long and would be hard to rearrange.

I wonder if it would be easier to add an `:offset:` parameter to the toctree, so that it would start numbering at a given number or continue where it left off.  So then I could add it to the second toctree to get it to start at the right place.

[2017-01-22 04:21] tk0miya commented on #3238
Hey guys,
Is there any issues for the release? It seems all tasks are done.
So I will publish it within a few hours.

[2017-01-22 06:09] shimizukawa commented on #3238
I think there is no barrier to release the 1.5.2 version. 👍

[2017-01-22 07:45] jfbu commented on #3238
No tasks left here go ahead ! 👍

[2017-01-22 08:22] tk0miya commented on #3238
okay, now I'm starting release

[2017-01-22 08:52] naoyak commented on #3285
Thanks! This fixes the issue for scikit-learn docs.

[2017-01-22 12:58] TimKam commented on #3301
Currently, the search index maps single words to .rst/html files.

For example, the search index "knows" that:

`show` occurs in file 1,2 and 5, whereas
`ipsec` occurs in file 1 and 2,

It knows little more.

If one wants to support exact searches for multiple-word strings, one needs to add the position of each word to the search index.

If this doesn't increase the index size too much, it might b

[2017-01-22 17:23] rdbisme commented on #1820
Hello, this still happens for me within a virtualenv (while outside of it it doesn't occur).

OS: macOS Sierra 10.12.2
System-wide Python: 2.7.13 and 3.5.2
Virtualenv: Python 2.7.13

I also installed `py27-readline` and `py35-readline` from macports.

[2017-01-22 23:55] shimizukawa commented on #3238
🎉

[2017-01-23 02:44] tk0miya commented on #3238
I just post release announce now.
I finished all release mission.

Thank you always for all of your work!

[2017-01-23 02:44] #3238 closed, assigned to tk0miya

[2017-01-23 03:42] tk0miya commented on #3357
My extension considers first level sections as parts and second level ones as chapters.
I believe this document structure is useful for LaTeX output.
With `latex_toplevel_sectioning = 'part'`, LaTeX builder also considers parts and sections same as my extension.

At this moment, how do you make chapters in your reST? I'd like to see any example.

BTW, your idea, `:offset:` option is hard to realiz

[2017-01-23 07:47] jfbu commented on #3238
📢 🎉

[2017-01-23 07:57] daiger14 commented on #3361
Hello! Thank you` :class: longtable` works. But how i can customize table? Cell size? Text orientation? Why sphinx/latex doesn't take html style?

[2017-01-23 14:30] ghost commented on #2167
I noticed some other inconsistencies using embedded replacements inside parsed-literal (but haven't delved into why). For e.g.
`|token|-|token|`
`blah/|token|`
expand ok, but
`|token|.|token|`
`|token||token|`
don't. Anyone know why or offer some work-arounds?

[2017-01-23 18:45] jfbu commented on #2167
@paulanthonyjacobs in my brief testing

[code]
works for me. I actually trust the syntax coloring of my Emacs reST mode and 1, 3, 4 in

[code]
seem faulty for this point of view, although indeed only on the two latest have seemingly rendering problem (tested in html) and the last one actually raises an error

    index.rst:15: ERROR: Undefined substitution referenced: "token||token".

hence I trie

[2017-01-23 18:47] mixmastamyk commented on #3357
I see, unfortunately I don't have any experience with latex.  I keep each chapter in its own .rst file, as they are relatively large.  For example:

    .. toctree::
        :caption: Part I: Basics
        :maxdepth: 1
        :name: PartI
        :numbered:

        one
        two
        three
        four

In last toctree, I turned off numbering because it resets back to 1.

Would this strate

[2017-01-23 20:24] rlam3 commented on #3358
I have provided my conf.py:

[code]

[2017-01-24 02:52] zygoloid opened #3366 "Support programs with options that differ only by case or punctuation"
Subject: Support programs with options that differ only by case or punctuation

### Problem
- `clang`, an open-source C/C++/... compiler, supports lots of options, and in some cases the options differ only by punctuation (`-ObjC` and `-ObjC++` mean different things, as do `-I` and `-I-`); in other cases, options contain only punctuation (`/?`). Sphinx does not support documenting such options.

##

[2017-01-24 07:14] shimizukawa commented on #1820
@rubendibattista please try this checker https://gist.github.com/shimizukawa/6560350301847813c1e37487c6b79a03 and let me know the result of it

[2017-01-24 08:29] uchida commented on #3356
For `\addtolength{\textheight}{-2\baselineskip}` line, I agree with @jfbu, it seems a bug.

Just little off-topic but I noticed about `\PassOptionsToPackage{setpagesize=false}{hyperref}`, there exists some alternatives:

1. jsclasses has `papersize` option (I've noticed when introduced that line, but only available in jsclasses)
2. use [pxjahyper](https://github.com/zr-tex8r/PXjahyper): this packa

[2017-01-24 11:39] buger opened #3367 "1.5.2 version conflict"
### Problem
Some of the packages dependent on Sphinx stop installing via pip, because of `requests` package version conflict. Manually installing the previous version helps `pip3 install Sphinx==1.5.1`.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Should install grpcio package

### Environment info
- OS: Ubuntu 14.04
- Python version:
- S

[2017-01-24 23:37] szlinjia opened #3368 "Sphinx "autodoc-skip-member" fails to build documentation for Flask web application"
Subject:  skipping members "autodoc-skip-member" error at Flask application

### Problem
- I used Sphinx v1.5.3+ to build document for a Flask web application. I need to skipping some functions with special keywords in it. Then I got the error
`RuntimeError: Working outside of application context.`

#### Procedure to reproduce the problem
I follow the explanation in Sphinx website [here](http://ww

[2017-01-25 05:44] tk0miya commented on #3351
Usually, we use `.. py:module::` directive to give search path for python objects in python domain.
[code]
But, at this moment, intersphinx does not refers the context.
I feel to fix it is a solution for this problem.

[2017-01-25 05:58] tk0miya commented on #3367
Thank you for reporting.
Since Sphinx-1.5, it depends on requrests-2.4 or later.
And we only clarified the dependency version in latest release.

It seems ubuntu-14.04 provides older version of python-requests.
I guess your problem comes from the package.
Could you remove it and install newer one?

Note:
We should discuss the support version of the requests package.
It might some stable OS' still