[2018-06-04 16:04] jfbu commented on #5037
OK, sorry for inconvenience. It appears the main LaTeX-Babel documentation did not include russian into the list of documented languages making `"` a "shorthand". So it was missed in Sphinx LaTeX writer code.

You can fix this temporarily by using this in your conf.py

[code]

A fix will be committed later on at Sphinx upstream in time for 1.7.6. Thanks for reporting.

[2018-06-04 16:14] jfbu commented on #5037
MEMO. Extract from LaTeX Babel main documentation (as of June 2018)

[code]

All languages above for which `"` is listed as short-hand must be added to

https://github.com/sphinx-doc/sphinx/blob/1.7/sphinx/writers/latex.py#L201-L211

[2018-06-04 21:55] krzychb opened #5039 "AttributeError: 'Symbol' object has no attribute 'identOrOp' after upgrade of Sphinx from version 1.6.5 to 1.7.5"
Subject: Exception is dropped during compilation after upgrade of Sphinx from version 1.6.5 to 1.7.5 on the following projects:

https://github.com/espressif/esp-idf/tree/master/docs/en
https://github.com/espressif/esp-adf/tree/master/docs/en

### Problem
- Exception is dropped after upgrade of Sphinx from version 1.6.5 to 1.7.5

#### Procedure to reproduce the problem
[code]

#### Error logs / re

[2018-06-05 10:44] robsan00 commented on #4946
I tried this out with version 1.7.5 and the problem still occurs. Anyway I have encountered similar problems with other built-ins as well (e.g. datetime.datetime or file)

[2018-06-05 10:45] jacgeo opened #5041 "pass a file in command line"
I Introduced  a module for generating rst file from a json file and import that module in conf.py. Currently I hard coded the file path, but I want to pass the file_name in command line argument like ('sphinx-build -b html source build file_name'). How to pass the file_name in command line with sphinx-build.

[2018-06-05 12:34] tk0miya commented on #5036
This might be come from the fix for #3364. We have to use `input()` to protect prompt.

[2018-06-05 12:39] tk0miya commented on #5035
Do you know the spec of namespace for qthelp?
I'd like to know what character is allowed for it.

[2018-06-05 12:47] tk0miya commented on #5041
How about using environment variable?

[2018-06-05 13:24] Dutchtallman opened #5042 ":numref: fallback to :ref: in case of "no number is assigned for section ...""
### Problem

A big tree of reST documents is converted to HTML documents using sphinx. That tree has many section levels, but only numbers them down to level 4. All lower level sections do not get numbers. Some branches in the tree (for example covering section levels 3 to 5 in the big tree) are also converted to latexpdf to be used as separate documents.

In those branches that will be converted

[2018-06-05 14:15] jacgeo commented on #5041
can you share a sample example for that?
Currently is there any extension for that?

[2018-06-05 14:25] tk0miya commented on #5038
Sphinx itself and its extensions register directives and roles to docutils core. That is global change.
As a result, they are conflicted when invoking Sphinx twice or more.

Please use `sphinx.util.docutils:docutils_namespace()` to create a namespace for docutils on each invoking:
[code]

[2018-06-05 14:32] asmeurer commented on #5036
Maybe you just needed to wrap your ANSI escapes with `\[` and `\]`.

[2018-06-05 14:33] tk0miya commented on #5038
Note:
`sphinx.util.docutils.patch_docutils()` is also used to patch docutils temporarily. So I'd like to propose you to use it also. (added since 1.6)

[2018-06-05 14:38] larsoner commented on #5038
The context manager works, thanks. I'll look into `patch_docutils` if needed.

[2018-06-05 14:38] #5038 closed, assigned to nobody

[2018-06-05 15:03] tk0miya commented on #5041
It's python's technique. Not sphinx issue.
[code]

Note:
This is not a forum for sphinx. If you want to discuss about way to develop extensions, please post to sphinx-dev list:
https://groups.google.com/forum/#!forum/sphinx-dev

[2018-06-05 15:07] NomAnor commented on #5035
I tried to find it but the documentation for the file format is very sparse.

[2018-06-05 15:29] tk0miya commented on #4946
Reopened. Could you tell me your error in detail please?
On my local, it seems reference to `None` works fine.

In addition, `datetime.datetime` works fine too. Did you mean `datetime` instead?
I can reproduce the case of `file`. Certainly it is warned. But it is also warned in 1.6.7.

[2018-06-05 16:07] #5017 closed, assigned to tk0miya

[2018-06-05 16:08] tk0miya commented on #5017
I merged #5025 to master branch now. Could you try it again please?

[2018-06-05 16:17] #5037 closed, assigned to jfbu

[2018-06-05 16:24] NomAnor commented on #5035
I think I found the code in qt5/qttools/src/assistant/help/qhelpprojectdata.cpp

    } else if (name() == QLatin1String("namespace")) {
                    namespaceName = readElementText();
                    if (!hasValidSyntax(namespaceName, QLatin1String("test")))
                        raiseError(QCoreApplication::translate("QHelpProject",
                                       "Namespace \

[2018-06-05 17:27] tonyriverms opened #5046 "On my machine ":ref:" does not consider "include" (any way to just compile files included in the toc tree?)"
Subject: two files

file1.rst

[code]

file2.rst
[code]

in the index.rst, I have

[code]

After build, if I click on the link in **file1.html**, it actually jumps to **file2.html** where the anchor is defined, but **it is expected to jump to the anchor in file1.html**.

### Environment info
- OS: Win
- Python version: 3.6
- Sphinx version: 1.7.5

[2018-06-05 20:27] tonyriverms opened #5047 "Anyway to specify "numbered" title depth?"
If I add ``:numbered:`` to toctree, then every title in the whole documentation is numbered. Anyway to specify like "numbered" up to a certain level? like number H1, H2, H3 titles but not H4, H5, ...?

[2018-06-05 23:07] tonyriverms commented on #5046
See here. It looks sphinx-build go through all files that cause duplication. https://stackoverflow.com/questions/39738852/duplicate-index-warning-on-sphinx-build-how-do-i-include-a-file-without-indexin

**Possible solution**:  any way to just compile files included in the toc tree?

[2018-06-06 04:21] jacgeo commented on #5041
Suppose we pass file name in command line 'sphinx-build -b html source build filename' and get the path using sys.argv[5] and convert into multiple rst files. Then sphinx processing only index.rst other rst files was ignored.

[2018-06-06 09:14] jumping opened #5048 "collectors/toctree.py reports TypeError: 'NoneType' object is not iterable"
### Problem
[code]

#### Procedure to reproduce the problem

#### Error logs / results
[code]

#### Expected results

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environment info
- OS: Mac 10.13.4
- Python version: 2.7.15 (CPython)
- Sphinx version: 1.7.5

[2018-06-06 09:18] jumping commented on #5048
the 1.6.7 works.

[2018-06-06 13:22] tk0miya commented on #5046
Sphinx processes all of `.rst` files. So please rename included files to `.txt` or other extension. Or please use `excluded_files` configuration to skip the processing.

[2018-06-06 14:23] robsan00 commented on #4946
Sorry, my bad, the example where `None` is still not working is a bit different:

    def spam_none1():
        """Spam1.

        :return: Spam2.
        :rtype: None
        """
        return None

Regarding `file`: the following used to work without warning 1.6.7 but does not with 1.7.5:

    def spam_file(ham):
        """Spam.

        :param file ham: Ham.
        """
        pass

Regardin

[2018-06-06 14:24] tk0miya commented on #5048
Sorry for inconvenience. Reproduced with `:numbered: n` option for toctree directive.

[2018-06-06 18:54] dvorapa commented on #4858
Finally asked on https://sourceforge.net/p/docutils/feature-requests/59/, hopefully this will be handled by an upstream

[2018-06-07 02:14] askb opened #5051 "External Hyperlink returns 403 Client Error: FORBIDDEN for url error"
### Problem
We seem to be hitting the following 403 Client Error: FORBIDDEN when using with linkcheck for the below code sample trying to refer to an external hyperlink, (https://wiki.debian.org/MeetBot)

With curl this is not reproducable.
[code]
Is this a known issue?

#### Procedure to reproduce the problem
code:
[code]

#### Error logs / results
[code]
- https://logs.opendaylight.org/releng/ve

[2018-06-07 13:03] tk0miya commented on #5016
I merged #5028, but it could not fix @asmeurer 's case. I made another PR #5052 to fix both of cases.
Could you try it please if you have time.

[2018-06-07 13:35] tk0miya commented on #5022
Fixed by #5024 .
Thank you for reporting.

[2018-06-07 13:35] #5022 closed, assigned to nobody

[2018-06-07 15:48] ederag commented on #4956
Now it is possible to document PyQt5 projects on readthedocs, with [simple configuration tweaks](https://stackoverflow.com/a/50745283/3565696).
Thanks a lot !

[2018-06-07 16:24] tk0miya commented on #5036
What did you mean? Wrapping all escape sequences with `\[` and `\]`?
I'm not good at console manipulation. Please let me know your idea.

Thanks,

[2018-06-07 18:09] asmeurer commented on #5036
Actually it needs to be `\1` and `\2`. Like `\1ESCAPECODE\2`. Those are `\[` and `\]` in bash but not in Python. Those tell readline that the ANSI codes are zero-width (invisible). It's hard to find good docs on this, but it's mentioned at https://tiswww.case.edu/php/chet/readline/readline.html

[2018-06-08 00:38] abaybektursun opened #5057 "code-block looks smooshed in Chrome"
### Problem
code-block with python syntax looks smooshed in Chrome but looks fine in Firefox.

#### Procedure to reproduce the problem
[code]
This will be rendered like this in Chrome:

![screenshot_from_2018_06_07_19_36_36](https://user-images.githubusercontent.com/2589111/41145936-f8378634-6b01-11e8-87a7-0497ee6bf27e.png)

But it looks normal in Firefox:

![screenshot_from_2018_06_07_19_36_57](h

[2018-06-08 03:20] Sow-Hunter commented on #4911
same problem.

**Environment info**
- OS: Windows 7-64
- Python version: 2.7.15
- Sphinx version: 1.7.5

[2018-06-08 10:09] tstibbs commented on #1618
It would be useful to know the current state of this issue. It's very confusing for users, as the main sphinx docs themselves don't seem to have this issue (e.g. see http://www.sphinx-doc.org/en/master/search.html?q=sphinx&check_keywords=yes&area=default)

[2018-06-08 11:51] tk0miya commented on #5016
Fixed by #5052
Thank you for reporting!

[2018-06-08 11:51] #5016 closed, assigned to nobody

[2018-06-08 12:25] suhailvs commented on #3382
Update of @TimKam

This worked fine for me.

1. Create a folder **docs** in the root path.

2. By default, Jekyll does not build any files or directories with underscore. Include an empty `.nojekyll` file in the `docs` folder to turn off Jekyll.

3. In the **docs** folder, create an `index.html` file and redirect to `./html/index.html` for example like this:

`<meta http-equiv="refresh" content="0

[2018-06-08 12:40] #5009 closed, assigned to nobody

[2018-06-08 13:05] tk0miya commented on #5048
Fixed by #5050.

Thank you for reporting.

[2018-06-08 13:05] #5048 closed, assigned to nobody

[2018-06-08 15:39] carlescufi commented on #3132
cc @ru-fu

[2018-06-08 15:52] tk0miya commented on #5051
I can't reproduce it on my local.

Could you check your python version in detail? If it is older than 2.7.9, please update to latest one. It does not support SNI (Server Name Indication). So it is not good to use HTTPS.

[2018-06-08 17:32] tk0miya commented on #5057
On my local, it seems fine to me.
![2018-06-09 2 28 08](https://user-images.githubusercontent.com/748828/41171811-cc5742da-6b8c-11e8-93e7-3ff65abc10b6.png)
This screenshot is taken with Chrome 66.0.3359.181 on MacOS.

Do you install custom CSS? How about other themes? Could you share your project or reproducible one?

FYI: sphinx_rtd_theme is not bundled theme. So we can't help you if your trouble

[2018-06-08 17:49] tk0miya commented on #4971
I feel `sphinx.ext.coverage` is one of candidate. I've never used it, so I can't say it should be bundled or not. But I would not be able to maintain it...

[2018-06-08 19:36] abaybektursun commented on #5057
No custom CSS, no other themes. I can't share the project since it has private information.
I will try to build html with default theme and see if the problem persists.
Thanks

[2018-06-08 19:40] TimKam commented on #1618
@tk0miya Could we have your opinions on this?

There are two alternatives to the approach I use in my PR (requesting the HTML):

* Creating plain text files during build time, like in [*Sphinx: pretty search results*](https://github.com/sphinx-contrib/sphinx-pretty-searchresults): I don't think this is a good idea for standard Sphinx, because it increases the build time significantly.

* Using reg

[2018-06-09 05:13] tk0miya commented on #3784
Besides this, there are some options for `<script>` tag. So I prefer to add `mathjax_options`:
[code]

[2018-06-09 11:34] jakobandersen commented on #2683
This should now be fixed in the master branch (to become version 1.8). Any identifier starting with ``@`` denotes an anonymous entity, but is rendered as ``[anonymous]``.

[2018-06-09 11:34] #2683 closed, assigned to jakobandersen

[2018-06-09 11:52] jakobandersen commented on #5017
Thanks, it works.

[2018-06-09 12:08] jakobandersen opened #5064 "KeyError on 'literal_block' in new Latex transform"
Subject: KeyError on ``literal_block`` in new Latex transform

### Problem
The new Latex math transform added in 489d86d47094155c4334851a03abddfb25fc215a assumes all ``docutils.nodes.container`` has the ``literal_block`` attribute, but extensions (e.g., Breathe)  add containers as well without that attribute. Is the visitor matching the right node type?

#### Procedure to reproduce the problem
[sp

[2018-06-09 12:54] jakobandersen commented on #5039
I can't reproduce the bug. Can you provide the full stacktrace? Try completely removing old compiled files, it may be some pickled old data structures that causes the problem.

[2018-06-09 13:22] tk0miya commented on #5064
Thank you for letting me know. I just posted #5065 to fix this.

[2018-06-09 13:41] jfbu opened #5066 "sphinx-quickstart creates non-satisfying html default set-up with Alabaster"
I tested 1.7.5 and current master, both consider ``'alabaster'`` to be default HTML theme, but the `conf.py` is ill-configured for them and creates un-navigable documents.

For example, this:

![capture d ecran 2018-06-09 a 15 27 38](https://user-images.githubusercontent.com/2589111/41192121-b0f356b0-6bf9-11e8-983c-1cdc4a1f405e.png)

with an `index.rst` like this

[code]

There is no link to go ba

[2018-06-09 14:09] jfbu commented on #5066
I have raised the issue upstream at Alabaster: https://github.com/bitprophet/alabaster/issues/134

[2018-06-09 14:22] jfbu commented on #5066
For some reason the conditional test for ``'alabaster'``at

https://github.com/sphinx-doc/sphinx/blob/b371312887869c52e7be9033e60450a9dc12ca0c/sphinx/builders/html.py#L915-L921

appears to be without effect?

[2018-06-09 14:24] jfbu commented on #5066
Ah I see, it should have been 'relations.html' ....

edit: actually no, that's not enough because ``'relations.html'`` also need extra activation in custom.css because alabaster by default has

[code]

so this is not the only cause of issue. But adding `_static/custom.css` with

[code]

I do get navigable contents.

MEMO: http://alabaster.readthedocs.io/en/latest/installation.html#installation

[2018-06-09 14:32] jakobandersen commented on #5064
Thanks! That should do it.

[2018-06-09 14:48] jfbu commented on #5066
@tk0miya  trying to debug this with suitable print() added to sphinx.builder.html.StandaloneHTMLBuilder.add_sidebars() I see the `'alabaster'` branch is never taken and sidebars are of the type

[code]

which does not include ``navigation.html``. (nor ``about.html`` which is needed by Alabaster).

[2018-06-09 14:56] jfbu commented on #5066
Notice that if manually extend Alabaster's 0.7.10's provided theme.conf like this for example:

[code]

then the expected behaviour is observed.

So the bug is in case the html theme provides no sidebars config value by itself. Then something makes the conditional checking for alabaster never gets executed.

Besides the latter has a typo which I have signalled above, but that's not root cause, as

[2018-06-09 15:26] jfbu commented on #5066
The ``theme.get_selfconfig('theme', 'sidebars', None)``  leads to execution of ``<Theme object>.base.get_config('theme', 'sidebars', None)`` hence the problem. For some reason ``<Theme Object>.base`` is not None.

[2018-06-09 15:28] jakobandersen commented on #2410
Fixed by 515fb53.

[2018-06-09 15:28] #2410 closed, assigned to jakobandersen

[2018-06-09 16:03] krzychb commented on #5039
@jakobandersen you are right. The issue is gone after completely removing old compiled files. I am really sorry for a false alarm.

[2018-06-09 16:03] #5039 closed, assigned to jakobandersen

[2018-06-09 16:14] jakobandersen commented on #5039
No problem, thanks for checking.

[2018-06-09 21:28] jfbu commented on #5010
The math directive may contain multiple equations. It would be nice to have a ``:labels:`` which would take comma separated arguments to assign labels to each one. But then it does not play well with the hyperlink target method. This is not only LaTeX issue, also HTML output.

[2018-06-09 21:53] jfbu commented on #5033
Closing as this [appears to have been solved](https://stackoverflow.com/questions/50648220/sphinx-how-to-download-extensions) by OP via reinstalling docutils.

[2018-06-09 21:53] #5033 closed, assigned to nobody

[2018-06-10 12:16] tk0miya commented on #4439
Modified by #5021.
Thanks,

[2018-06-10 12:16] #4439 closed, assigned to nobody

[2018-06-10 13:06] claudep opened #5070 "Wrong internal href fragment links in epub output"
Let's take for example the Django settings documentation (https://docs.djangoproject.com/en/2.0/ref/settings).

In the HTML output, a text like ```:setting:`STATICFILES_FINDERS` ``` is translated to `<a class="reference internal" href="#std:setting-STATICFILES_FINDERS">` and the anchor is indeed matching that link.

In epub output, the link is `<a class="reference internal" href="#std-setting-STA

[2018-06-10 21:24] blueyed opened #5071 "Test failures(s) when .tox is a symlink"
### Problem

If the `.tox` directory is a symlink `tests/test_build_html.py::test_html_warnings` fails, because the location of the first warning differs.

It uses the path with the symlink in the "Expected" part, but for some reason (only) the first warning gets the resolved path in the actual output:

[code]

#### Procedure to reproduce the problem

[code]

I've only investigated into this failu

[2018-06-11 03:25] askb commented on #5051
The version that gets pulled in is 2.7.5 with tox, will test with anything > 2.7.9 and update here.

[2018-06-11 04:20] jakirkham opened #5073 "Getting bad magic number when trying to `sphinx-gallery` with `sphinx`"
Subject: Getting `bad magic number` when trying to `sphinx-gallery` with `sphinx`

### Problem
- Trying to build scikit-learn's documentation, which requires `sphinx` and `sphinx-gallery`. Have used `pip install` for both (though have tried `conda` packages as well). Both seem to run into some `bad magic number` issue though.

#### Procedure to reproduce the problem

Created a `conda` environment

[2018-06-11 04:27] jakirkham commented on #5073
Should add that running `python -c "import sphinx_gallery"` executes without issues.

[2018-06-11 04:51] jakirkham commented on #5073
NVM appears that `scikit-learn` adds a [`sphinxext` directory]( https://github.com/scikit-learn/scikit-learn/tree/master/doc/sphinxext ) to the path, which contained an outdated copy of `sphinx_gallery`. Cleaning it out fixed the issue.

[2018-06-11 04:51] #5073 closed, assigned to nobody

[2018-06-11 06:32] #5041 closed, assigned to nobody

[2018-06-11 06:44] jacgeo opened #5074 "sphin-build -D option"

[2018-06-11 07:08] #5074 closed, assigned to nobody

[2018-06-11 09:45] vsnetvn opened #5075 "Sphinx doc doesn't compile"
pls delete tocpic

[2018-06-11 09:58] #5075 closed, assigned to nobody

[2018-06-11 14:45] hroncok opened #5076 "Python 3.7 failures in sphinx/ext/napoleon/iterators.py: RuntimeError: generator raised StopIteration"
### Problem

Building docs for [fedmsg](https://github.com/fedora-infra/fedmsg) in Fedora with Python 3.7:

[code]

Full log: [build.log.gz](https://github.com/sphinx-doc/sphinx/files/2090430/build.log.gz)

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results

The generator should return instead.

### Reproducible project / your project
- [fedmsg]

[2018-06-11 14:51] hroncok commented on #5076
BTW even if I replace `raise StopIteration`s with `return`s, I get:

[code]

[2018-06-11 15:32] tk0miya commented on #5071
How about using `tox -e py27 --workdir /tmp/tox` instead? Then you'll get succeeded.

[2018-06-11 15:56] tk0miya commented on #5070
Note: The `setting` role is a role which added by djangodoc using `app.add_crossref_type()`.
https://github.com/django/django/blob/860903b261517442098bdf14e44f4fd4ae20aeb9/docs/_ext/djangodocs.py#L25-L29

[2018-06-11 16:29] tk0miya commented on #5010
Note: In HTML output, they are rendered as following:
[code]
[code]
In HTML case, `:ref:` role can't refer equation having `:name:` option also.

[2018-06-11 16:32] tk0miya commented on #5010
About `:labels:` idea, I feel it is pretty good. But it might be hard in HTML output. I think LaTeX output is not so difficult.
If you really want it, please file a new issue :-)

[2018-06-11 16:34] #5064 closed, assigned to tk0miya

[2018-06-11 16:34] tk0miya commented on #5064
Just merged. Thank you for reporting :-)

[2018-06-11 18:13] jfbu commented on #5071
@tk0miya I tried `tox -e py36 --workdir /tmp/tox` but it fails at my locale (mac os x) because some output ends up in `/private/tmp/tox/py36/...` for the "warnings" test (html, latex, texinfo). At my locale (mac os x 10.9.5) `/tmp` is a symlink to `/private/tmp`.

Then I tried `tox -e py36 --workdir /private/tmp/tox` which succeeded.

[2018-06-12 01:40] askb commented on #5051
As a workaround used linkcheck ignore.

[code]

[2018-06-12 20:25] barbara-sfx commented on #5047
Docs say: Numbering up to a specific depth is also possible, by giving the depth as a numeric argument to numbered.

http://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html

[2018-06-13 02:05] other-mickk opened #5077 "C++, surprising cross-references in substitutions"
Cross-references inside substitutions seemingly do not resolve at the point of substitution:

[code]

In this example the direct reference resolves to the template parameter as expected, whereas the reference in the substitution resolves to the `cpp:type` item.

It's the same if the substitution definition appears e.g. at the end of the document. However, if the substitution is defined in the `dem

[2018-06-13 02:45] other-mickk opened #5078 "C++, references to parameters in compound directives"
ping @jakobandersen

By compound directives I mean an object used with multiple arguments:

[code]

While it's convenient for attaching a description to multiple related items at once, it does not play nice with references to parameters: they will only resolve to the last introduced item (i.e. `Y` and `y` respectively).

To be clear I don't think it's a problem that e.g. `ParamB` references resolv

[2018-06-13 05:34] XikunZhang opened #5080 "OSError: cannot write mode RGBA as JPEG"
Subject: "OSError: cannot write mode RGBA as JPEG" when making docs of pytorch using sphinx

### Problem
- "OSError: cannot write mode RGBA as JPEG" when making docs of pytorch using sphinx

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Successfully make the docs

### Environment info
- OS: Mac OSX 10.13.5
- Python version: 3.6.3
- Sphinx v

[2018-06-13 06:03] XikunZhang commented on #5080
This seems to do with the version of pillow by the way, and not to do with sphinx.

[2018-06-13 10:11] dombre opened #5081 "Translation doesn't seem to work"
I'm failing to translate a simple sphinx project and missing apparently some steps not mentioned in the documentation.

#### Procedure to reproduce the problem

Step 1: Create a project with sphinx-quickstart
[code]
Step 2: Follow the guide mentioned here: http://www.sphinx-doc.org/en/master/intl.html#quick-guide
I also tried to set the configuration options (`locale_dirs` and `gettext_compact`) i

[2018-06-13 13:15] tk0miya commented on #5019
Fixed by #5068.
Thank you for reporting.

[2018-06-13 13:15] #5019 closed, assigned to nobody

[2018-06-13 13:21] dombre commented on #5081
Found my error. Instead of

[code]

I have to specify the language without the apostrophes
[code]

[2018-06-13 14:00] tk0miya commented on #5081
Thank you for reporting!

[2018-06-13 14:07] tk0miya commented on #5080
It seems Pillow is called by `sphinx_gallery` extension.
[code]

I feel there are nothing to do from sphinx-core side...

[2018-06-13 14:11] tk0miya commented on #5047
Right. The `toctree` directive takes an integer value as depth.

[2018-06-13 14:22] tk0miya commented on #5071
Oh, sorry. Please give non-symlink-ed path to `--workdir` option.
I know this is a workaround. But replacing a directory of tox is a bit hacky. So I'm not interested in to fix them. So it would be nice if this technique works well.

[2018-06-13 16:12] tk0miya commented on #4946
Good point. I missed `:rtype:` field. Surely, it is not supported.

On the other hand, `file` is defined as `py:function` in py2 doc.
Do you want to link to `file()` function? I feel it is a bit strange...
https://github.com/python/cpython/blame/2.7/Doc/library/functions.rst#L470

Personally, I feel "File Objects" section is better. But there are no way to refer it from type fields.
https://docs.p

[2018-06-13 16:14] tk0miya commented on #5032
Fixed by #5067
Thank you for reporting.

[2018-06-13 16:14] #5032 closed, assigned to nobody

[2018-06-13 16:31] tk0miya commented on #5070
In EPUB builder, targets having colon in its name are forcely renamed (see e06a11bd644328ac36fc760c485922de6c9c3826).
It seems this bug comes from this `fix_ids()` processing...

[2018-06-13 17:32] carandraug opened #5088 "backwards incompatible change calling apidoc programatically"
### Problem

The function signature for `sphinx.ext.apidoc` changed in a backwards incompatible manner. One used to be able to call:

    apidoc.main([program-name, args, ...])

but this changed to:

    apidoc.main([args, ...])

This happened in commit 3e968bb1d4626c9af2b2643ece2563a9dcb8b0b0 although it's not clear what issue it was trying to fix or improve.

#### Procedure to reproduce the prob

[2018-06-13 17:46] carandraug commented on #5088
Ignore this comment.  This was already not the case.

The backwards incompatible is still an issue and is breaking our builds.

[2018-06-13 18:48] blueyed commented on #5071
I see, thanks for the workaround.
Do you know why the locations differ in the first place?

[2018-06-13 21:33] rwhitt2049 commented on #4258
I've found the same issue if you decorate the class as well.

Environment info
* OS: <Unix/Linux/Mac/Win/other with version>: Win
* Python version: 3.6
* Sphinx version: 1.7.5

[2018-06-14 01:41] tk0miya commented on #5036
Fixed by #5059.
Thank you for reporting.

[2018-06-14 01:41] #5036 closed, assigned to nobody

[2018-06-14 03:58] goodmami commented on #4016
Does it only happen in summary lines for you? I see it elsewhere, too. E.g.:

[code]

[2018-06-14 04:03] goodmami commented on #4021
I commented in #4016, but it seems that the issue is more general and is relevant here. If I use a colon in inline formatting, I get the error, regardless if the formatting is an inline literal, strong, or emphasis.

**edit**: sorry, I realized that this is in fact different from my problem (and #4016). I read the problem description as meaning that the `**` strong formatting was explicitly used i

[2018-06-14 05:41] goodmami commented on #4016
As with #4021, closer inspection reveals that this issue is slightly different than mine, but in this case I think the reason is the same. The Napoloen code uses greedy regexes to look for colons (search for `_partition_field_on_colon` in [ext/napoleon/docstring.py](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/napoleon/docstring.py)). In my case, replacing the `Returns:` block with

[2018-06-14 06:46] StinGer-ShoGuN commented on #5032
:+1:

[2018-06-14 15:34] tk0miya commented on #5088
Sorry for inconvenience. What version of Sphinx do you use? Surely, `sphinx.apidoc:main()` was broken between v1.7.0 and v1.7.1. But it was resolved now AFAIK. Do you mean the problem is still in latest release?

[2018-06-14 15:39] tk0miya commented on #5071
Maybe some module calls `realpath()`.

[2018-06-14 16:40] carandraug commented on #5088
We have two systems doing our builds. One is running version 1.6.4 where everything was working. The new one is running version 1.7.5.

Yes.  The signature for `sphinx.apidoc:main()` in version 1.7.5 is still incompatible with the versions before 1.7.0.  You can try it yourself with one of your own packages:

    ## using sphinx 1.6.4
    $ git clone git@github.com:tk0miya/typematch.git
    $ cd t

[2018-06-14 22:24] xitology opened #5091 "latex: curly braces in index entries are not handled correctly"
### Problem
An index entry containing braces, e.g.,
[code]
is converted to ill-formed latex
[code]

#### Procedure to reproduce the problem
- Create a new project with `sphinx-quickstart`
- Add an index entry `.. index:: index{with}braces`
-  run `make latexpdf`

#### Error logs / results
[code]
#### Expected results
Expected the latex builder to properly escape curly braces, e.g.,
[code]
### Envi

[2018-06-15 05:09] goodmami commented on #2155
I was wondering why my attempts to get syntax highlighting of inline code were not working, and it looks like this is maybe the problem. I have this role defined:

[code]

and in my document I use ``:python:`print("hi")` ``, and while I see monospaced (code) text, I don't see syntax highlighting. Inspecting the HTML, I see this:

[code]

I have a `pygments.css` asset loaded, but it uses different

[2018-06-15 05:45] abaybektursun commented on #5057
Ok, I do not know what happened, but now I do not see the issue. I did not change anything

[2018-06-15 05:45] #5057 closed, assigned to nobody

[2018-06-15 13:17] tk0miya commented on #5088
Thank you for declaration. Surely `sphinx.apidoc:main()` and `sphinx.ext.apidoc:main()` is not incompatible. It is intended change.
What I'd like to say is that the interface of `sphinx.apidoc:main()` is not different with past release.

[2018-06-15 15:17] carandraug commented on #5088
All right, fair enough then. I'll close the issue then

The deprecation warning:

suggests to me that what changed was the subpackage though.

[2018-06-15 15:17] #5088 closed, assigned to nobody

[2018-06-16 07:40] tk0miya commented on #5002
I marked this as bug once, but I removed it now because this is not a bug.

Personally, I would not like to add options like `:img-tag:` to the directive. I think reST mark-ups should be independent with output format. The option is used only for HTML builds. It is a bit confusable.
But we have to render it more better. So I'll try to consider another solution later.

[2018-06-16 08:25] tk0miya commented on #5035
Thank you for comment. Good point!

[2018-06-16 09:41] tk0miya commented on #5035
I just made #5097. I simply added hyphens to our rule.

[2018-06-16 11:20] spectras commented on #4777
+1. That's much needed!

[2018-06-16 12:55] benjaoming commented on #2442
Great work @tk0miya !

As I read the description of the PR, it indeed solves the symptom described in the issue:

It does this now, but with a deprecation message, right?

[2018-06-16 13:28] tk0miya commented on #3898
Note:

* In `add_object_type()`, `sphinx.domains.std.GenericObject` is used to create a directive. It is strongly coupled with standard domain.
* We have to update `Domain.get_object()` to export object_types which is registered by `add_object_type_to_domain()` as objects.

I feel this is not simple work. So I marked this as "help wanted" :-)

[2018-06-16 13:42] tk0miya commented on #2442
* `add_stylesheet()` is marked as deprecated. It will be removed in Sphinx-4.0. You can use it until 4.0 release.
* The deprecation message for the API will be shown since Sphinx-3.0. So it is better to migrate to new API `add_css_file()` until 3.0 release.
* The behavior of `html_context['css_files']` is not changed. It does not work.

[2018-06-16 15:34] #3784 closed, assigned to nobody

[2018-06-16 15:34] tk0miya commented on #3784
Fixed by #5084
Thank you for reporting.

[2018-06-16 15:43] tk0miya commented on #4855
What is "robot test"? I can't understand your question. Please let me know in detail.
Thanks,

[2018-06-16 15:44] tk0miya commented on #3908
I'm closing this now because unreproducible.
Please feel free to reopen if you still in trouble.

Thanks,

[2018-06-16 15:44] #3908 closed, assigned to nobody

[2018-06-16 18:35] timhoffm opened #5100 "Search in the released docs is broken"
# Subject: Search in the released docs is broken

## Steps to reproduce:

1. Go to http://www.sphinx-doc.org/en/master/search.html
2. Enter 'role'

### Expected result

The search starts and the results pop up.

### Actual result

The url changes to http://www.sphinx-doc.org/en/master/search.html?q=role
However, the search field gets cleared and no results are shown.

[2018-06-17 06:20] #5081 closed, assigned to nobody

[2018-06-17 08:26] tk0miya commented on #4744
You can see the latest documention for Sphinx at http://www.sphinx-doc.org/ .

[2018-06-17 08:49] #5100 closed, assigned to nobody

[2018-06-17 08:51] tk0miya commented on #5100
Fixed. Thank you for reporting!

[2018-06-17 10:28] techtonik commented on #725
@tk0miya is there any document that describes document parsing phases better than [PEP 0258](http://docutils.sourceforge.net/docs/peps/pep-0258.html)?

[2018-06-17 10:29] techtonik commented on #725
I'd better attach some info to some object that represents input document (one that produces warnings) rather than maintain the mapping in external files myself.

[2018-06-17 11:47] mgeier commented on #4744
@tk0miya Thanks for your answer and sorry if I've been unclear ...

If you say "latest documentation", you mean "the documentation created from the most recent commit in the `master` branch", right?

That means this documentation contains features that are not yet available in (or may have changed since) the latest official release on PyPI (which most users *should* be using, right?).

I think it

[2018-06-17 13:02] #4362 closed, assigned to nobody

[2018-06-17 13:02] tk0miya commented on #4362
Fixed by #5085.
Please let me know if it does not work well.

[2018-06-17 14:40] tk0miya commented on #4744
No.

Do you think `html_css_files` entry is confusable for normal users? This was added in 1.8. So it is not available in current release. Personally, I don't think so.
http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-html_css_files

[2018-06-17 14:46] tk0miya commented on #725
About sphinx, there are nothing. Sadly, our document for development is poor. I've not understood yet.

On the other hand, about docutils, I don't know that.

[2018-06-17 15:12] tk0miya commented on #4977
I added the `:caption:` option for toctree to show a caption in content. But I did not intend to show it in ToC. So I feel the captions should not appear in sidebar.

Anyway, as discussed in #4733 (and other issues labeled as `toctree`), "Part like" ToC mechanism is needed by some users.

[2018-06-17 17:54] njsmith commented on #4777
You should also be aware of https://github.com/sphinx-doc/sphinx/issues/3743 and [sphinxcontrib-trio](https://sphinxcontrib-trio.readthedocs.io/en/latest/). If you were in interested in working on integrating sphinxcontrib-trio into Sphinx itself then that would be awesome, but even if not then you'll probably want to at least look at it :-).

BTW, I suggest Sphinx should mark async functions with

[2018-06-18 02:52] adamjstewart opened #5104 "sphinx-build: error: argument -d/--maxdepth: invalid int value"
I recently updated to the latest version of Sphinx and am now unable to build the documentation for my project.

### Problem

When I try to build the documentation for my project, I encounter the following error message:
[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results

This was first reported in https://github.com/spack/spack/issues/8491#issuecomment-397923309. Th

[2018-06-18 02:55] adamjstewart commented on #5104
Additional details: In our `conf.py`, we actually run `sphinx.apidoc.main`, but not with the `-d` option. Could it be pulling in the command-line arguments erroneously?

[2018-06-18 03:09] adamjstewart commented on #5104
As I suspected, `sphinx.apidoc.main` appears to be the culprit. If I add `print(argv)` to the beginning of `sphinx.ext.apidoc.main`, it prints `sys.argv`, not the arguments I am passing to it. If I change the following line in my `conf.py`:
[code]
to:
[code]
or:
[code]
it solves the problem.

I'm actually wondering if my changes in https://github.com/sphinx-doc/sphinx/pull/3668 are related to this

[2018-06-18 03:24] adamjstewart commented on #5104
@tk0miya I tracked down the problem to this particular commit:
https://github.com/sphinx-doc/sphinx/commit/b5bae235f2033ca0c732e3401d463193f29d6866#diff-65ef293822255803d59c56efd9002e27

If I undo the `args = args[1:]` change to `sphinx.apidoc.py`, I can resolve this issue. Was #4623 related to #3668? I wonder if they are conflicting.

[2018-06-18 11:26] sjoelund commented on #5002
Yes, if it could be done without hacks like a new directive, that would be good as well. A global flag to change the behavior for HTML sort of works, but it also means text cannot be selected and links cannot be clicked in any Graphviz (at least in Chrome); I found this acceptable for my project.

[2018-06-18 13:09] tk0miya commented on #5104
Sorry for inconvenience. This is a bug of `sphinx.apidoc:main()`. The interface was changed from past release. It's not intended.
Since 1.7, `sphinx.apidoc` has been moved to `sphinx.ext.apidoc`, and removed its first argument. At present, `sphinx.apidoc:main()` provides a helper function to keep compatibility. But it will be removed in Sphinx-2.0.

I just pushed the fix for `sphinx.apidoc:main()`

[2018-06-18 13:42] benjaoming commented on #2442
Okay, that's what I was wondering. Thanks for clarifying :)

[2018-06-18 14:00] adamjstewart commented on #5104
Any idea how far off Sphinx-2.0 is? We're trying to maintain compatibility with as many versions of Sphinx as we can, so we may have to check the Sphinx version before importing.

[2018-06-18 14:07] tk0miya commented on #5104
How about checking ImportError?
[code]

Of course, you can use `sphinx.version_info`.

[2018-06-18 14:17] mgeier commented on #4744
Yes, this would be one example where people could get confused.
Of course it's not a huge problem, because an attentive reader will quickly find the note "New in version 1.8" in the documentation of `html_css_files`.

If you don't mind the mismatch between the latest release and `master`, that's OK for me.
I just wanted to make sure I didn't overlook anything.

Thanks again for your help!

[2018-06-18 15:37] tk0miya commented on #4744
TBH, I don't have strong opinion for this topic. If you're interested in to change our documenation, please join maintainers and become release manager.
It is strongly related with branch model, translations, release operation and so on (see #4398 and @shimizukawa's work). it is a bit tough work to change the model to me...

[2018-06-18 17:23] Tagar commented on #4219
@tk0miya with over 20 thumbs up on this request, would you please consider reopening this issue ?

If you provide some pointers on how to best tackle this, I (or somebody else) can try to get on this improvement.

Thank you.

[2018-06-19 00:45] tk0miya commented on #5066
Fixed by #5094
Thank you for reporting :-)

[2018-06-19 00:45] #5066 closed, assigned to nobody

[2018-06-19 12:13] tk0miya commented on #5091
Fixed by #5095.
Thank you for reporting!

[2018-06-19 12:13] #5091 closed, assigned to nobody

[2018-06-19 12:37] tk0miya commented on #4219
Reopened. But it does not mean sphinx-core team develops it. In addition, Sphinx-extension is much appropriate for such case to me.

[2018-06-19 14:02] postb99 opened #5109 "Wrong 3-level menu rendering"
Subject:
Wrong 3-level menu rendering.

### Problem
I have a menu with 3 levels, using #, * and = restructuredtext markup.
I use sphinx_rtd_theme for html theme.
The 3rd level menu item appears not nested but below.

#### Procedure to reproduce the problem
- create a project using `sphinx-quickstart`
- in conf.py, change theme:
`html_theme = 'sphinx_rtd_theme'`
- change index.rst so that it contai

[2018-06-19 15:46] tk0miya commented on #4557
At present, I feel either one is okay. So I withdraw this now.

[2018-06-19 15:46] #4557 closed, assigned to nobody

[2018-06-19 16:40] tk0miya commented on #5076
Note: Reproduced with 3.7.0b5.
[code]

But this is not raised with 3.6.5
[code]

[2018-06-19 20:00] stephenfin commented on #4583
Closing this per the comment from @shimizukawa above. We can change this in the future if necessary

[2018-06-19 20:00] #4583 closed, assigned to nobody

[2018-06-19 20:32] stephenfin commented on #4219
@Tagar You're going to want to implement a [builder](http://www.sphinx-doc.org/en/master/builders.html). There are many examples of this in tree. The main issue I'd see is that you'll need to develop a mapping of all docutil and Sphinx node types to Markdown equivalents. You might choose to ignore many of these and simply strip formatting, as the [plain text builder](http://www.sphinx-doc.org/en/m

[2018-06-20 01:13] #5035 closed, assigned to nobody

[2018-06-20 01:13] tk0miya commented on #5035
Fixed by #5097.
Thank you for reporting

[2018-06-20 12:41] tk0miya commented on #5076
In my short investigation, this bug comes from PEP-479.
https://www.python.org/dev/peps/pep-0479/

Certainly, napoleon throws `StopIteration` if empty docstring given. It seems this behavior is conflicted with the change of PEP-479.
[code]

@RobRuana Could you check this please?

[2018-06-20 12:42] tk0miya commented on #5070
Fixed by #5107.
Thank you for reporting.

[2018-06-20 12:42] #5070 closed, assigned to nobody

[2018-06-20 12:54] claudep commented on #5070
Awesome! Thanks for fixing this quickly!

[2018-06-20 13:03] hroncok commented on #5076
That is related. But see also https://github.com/sphinx-doc/sphinx/issues/5076#issuecomment-396271461

[2018-06-20 13:19] tk0miya commented on #5109
I guess this might be a bug of sphinx_rtd_theme. Are you saying this is a bug of sphinx-core?

[2018-06-20 13:22] tk0miya commented on #5104
As discussed, the interface of `sphinx.apidoc:main()` has been broken. Now I just fixed it with #5106.

Note: The argument of `sphinx.ext.apidoc:main()` is different with `sphinx.apidoc:main()`'s. It's intentional.

Thank you for reporting.

[2018-06-20 13:22] #5104 closed, assigned to nobody

[2018-06-20 15:01] postb99 commented on #5109
Did I report it to the wrong place? I think you're right about the bug concerning the theme, I didn't get the bug with the default theme.

[2018-06-20 15:05] tk0miya commented on #5109
sphinx_rtd_theme is not bundled theme. Please report to thier project: https://github.com/rtfd/sphinx_rtd_theme

Thanks,

[2018-06-20 16:26] tk0miya commented on #1618
I prefer to the first. Certainly, it increases build time. But it can remove markups perfectly, and also can support translation.
But, I know this way requires big refactoring of Sphinx core. So latter one is enough useful. And we can
 improve our search much earlier than first way. The large problem of the second way is my skill. I'm not good at JavaScript. So I will not  be able to maintain it.

[2018-06-20 16:34] tk0miya commented on #5080
I'm closing this now because this is not a bug of Sphinx.
Thanks,

[2018-06-20 16:34] #5080 closed, assigned to nobody

[2018-06-20 16:36] tk0miya commented on #5051
Are you still in trouble? If not, I'd like to close this. Please let me know your situation.
Thanks,

[2018-06-20 16:37] tk0miya commented on #5047
It seems this is not a bug of Sphinx. So I'm closing this now.
Thanks,

[2018-06-20 16:37] #5047 closed, assigned to nobody

[2018-06-20 16:38] tk0miya commented on #5046
I'm closing this now because this is not a bug of Sphinx.
Thanks,

[2018-06-20 16:38] #5046 closed, assigned to nobody

[2018-06-20 16:39] tk0miya commented on #5027
I'm closing this now because this is not a bug or feature request of Sphinx.
Please feel free to reopen if you still in trouble.
Thanks,

[2018-06-20 16:39] #5027 closed, assigned to nobody

[2018-06-20 16:41] tk0miya commented on #4846
This is related with @stephenfin 's refactoring. I think depth of ToC tree should be modified after the refactoring.

@stephenfin what do you think?

[2018-06-20 17:03] tk0miya commented on #5071
I'm closing this now.
If you're interested in fixing out tests, please send a pull request :-)

Thanks,

[2018-06-20 17:03] #5071 closed, assigned to nobody

[2018-06-20 17:06] stephenfin commented on #4846
@tk0miya Yes, this is related to what I am trying to do. @jfbu If you are OK waiting a little longer (it's late here), I will share the design I currently have. Hopefully we can combine things and figure out something that suits everyone :+1:

[2018-06-20 17:10] jfbu commented on #4846
@stephenfin of course I am OK, please proceed as is most convenient to you :)

[2018-06-20 18:33] TimKam commented on #1618
Okay, then I propose the following:
* I add a PR that removes the markup (somewhat imperfectly) with regexps.
* If you will want to merge it, but are concerned about its maintenance, I can take a limited/junior maintainer role with a focus on JavaScript and docs.

[2018-06-21 01:48] Zac-HD commented on #968
The proper way to do this is either to set `__all__ = ['foo', 'bar']` in the Python module (to declare which names are public API), or to explicitly list the members for autodoc (e.g. `:members: foo, bar`).

This issues should therefore be closed as redundant, or conflicting with existing standards.

[2018-06-21 01:54] tk0miya commented on #4710
Any updates?

[2018-06-21 02:16] Zac-HD opened #5113 "Raise error when an autodoc directive produces no output"
*This is a suggested improvements, not a bug report.*

Sometimes, autodoc directives do not result in any output being created.  This is almost certainly the result of misuse or a mistake by the user, but because it requires manual checks (or hand-written tests) to detect it may often go unnoticed for some length of time - see for example HypothesisWorks/hypothesis#1326.

Instead, I suggest that a

[2018-06-21 02:57] tk0miya commented on #968
+1 for @Zac-HD . Using `__all__` in python or `:imported-members:` is better for this case. I agreed the replacement feature is not needed for this case.

@shimizukawa any comments? If none, I'll close this soon.

[2018-06-21 07:19] tk0miya commented on #4777
I think adding `:async:` option is a part of #3743's approach. So it seems they are not conflicted. Of course, we're welcome your PR to integrate the trio extension into sphinx-core.

BTW, about `await` and `async`, I don't have comment because I've never used asyncio features...

[2018-06-21 07:19] mgeier commented on #4744
It's not a big deal. I don't have time to contribute more to Sphinx, but I guess I'll continue to submit occasional issues and pull requests.

Thanks to the whole Sphinx team for all your hard work!

[2018-06-21 09:26] postb99 commented on #5109
Thanks, for anyone interested: https://github.com/rtfd/sphinx_rtd_theme/issues/653

[2018-06-21 09:26] #5109 closed, assigned to nobody

[2018-06-21 12:07] Sunnysky080 opened #5114 "sphinx make html error:【WinError 5】"
Subject: <cannot use the command make html with an WinError 5>

### Problem
[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environment info
- OS:

[2018-06-21 14:17] tk0miya commented on #5114
[code]
It seems `PermissionError` was raised on searching documents. Could you check your project directory?

[2018-06-21 15:25] tk0miya commented on #4744
:-) Thank you always!

[2018-06-21 16:12] tk0miya commented on #1618
I just remembered @timhoffm had sent such script to us at #4857. It might be a good workaround for this problem. Could you check this please?

@shimizukawa What do you think about the workaround?

[2018-06-21 17:28] #1431 closed, assigned to nobody

[2018-06-21 17:30] tk0miya commented on #1431
Fixed by #5001!

[2018-06-22 07:07] tstibbs commented on #1618
Worth noting that both sphinx-doc.org and readthedocs.org seem to have fixed this problem already, so there are already solutions to this that are being used in anger. They're presumably happy with their solutions, so would understanding them help inform which route is the most sensible?

[2018-06-22 07:26] TimKam commented on #1618
@tstibbs afaik sphinx-doc.org is hosted by ReadTheDocs. And ReadTheDocs provides a custom search back end ([using Haystack and Elasticsearch](http://docs.readthedocs.io/en/latest/features.html#search). But for the average *self-hosted* Sphinx project, a search back end is presumably too much work and fixing the front end-only search in one of the ways I described is necessary.

@tk0miya I will tak

[2018-06-22 07:32] pybride commented on #1618
As the original reporter of the issue, I would like that you don't forget  that a search back end isn't always possible. In some cases, we need the documentation and the search to work **offline**, ie. the HTML directly opened in a browser on the same machine, without any web server (and also no Internet access).
Without this offline requirement, I would have since long switched to a better search

[2018-06-22 09:17] tleydxdy opened #5117 "building ceph's document produce name 'unicode' is not defined"
Subject: building ceph's document produce name 'unicode' is not defined

### Problem
- seem like the script can't deal with python 3?

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Reproducible project / your project
- https://github.com/ceph/ceph

### Environment info
- OS: openSUSE
- Python version:
- Sphinx version:
- <Extra tools e.g.: Browser, tex or so

[2018-06-22 10:35] TimKam commented on #1618
I took a look at #4857 (regexp-parsing) and compared it to #4022 (using HTML snippets).
That's how the comparison looks like:

**Regexp:**
<img width="832" alt="search_regexp_parsing" src="https://user-images.githubusercontent.com/5434565/41772105-9f7fa0b4-7617-11e8-8766-ff9f908e7bdc.png">

**HTML:**
<img width="825" alt="search_html_snippets" src="https://user-images.githubusercontent.com/5434565

[2018-06-22 11:38] fleimgruber commented on #4911
Same problem.

**Environment info**

- OS: Windows 7-64
- Python: 3.6.5
- Sphinx: 1.7.5

How to debug?

[2018-06-22 11:44] timhoffm commented on #1618
Good to see that this topic gets attention.

I just did a minimum amount of work in #4857 (regexp-parsing) to get something readable.
The regexp approach gets you 80% of the way with no or little additional work on the minimal parser. A full reStructuredText parser wouldn't help that much more. Though there seem to be libraries for that, you'd still have to interpret the generated document tree.

[2018-06-22 21:24] TimKam commented on #1618
I compared the data load for a set of Sphinx documentation pages:

| Page               | Content length HTML (in bytes) | Content length regexp (in bytes) | Ratio  (HTML/regexp) |
| ------------------ | ------------------------------ | -------------------------------- | -------------------- |
| builders           | 62208                          | 16729                            | 3.72

[2018-06-23 04:14] tk0miya commented on #4911
At present, Sphinx does not provide make.bat script for windows environment. So you need to install `make.exe` to build PDF. In detail, please see #1867.

[2018-06-23 04:15] tk0miya commented on #5117
It seems the error was raised by `sphinxcontrib-ditaa`. Could you report it to their project?
I guess it does not support python3.

[2018-06-23 05:45] tk0miya commented on #4976
Sorry for late response.

Thank you for explanation. I just made #5118. Before merging it, I'd like to ask you the `location` option for INFO messages should be permanently? If not, you can patch `sphinx.util.logging` module like following:
[code]

I know this is very hacky and temporary workaround. I don't opposite to add it sphinx-core. So please let me know your opinion.

Thanks,

[2018-06-23 11:25] timhoffm commented on #1618
Thanks for digging into the numbers.

Considering all aspects, I'm fine with an HTML-only approach.

[2018-06-23 14:49] dm413 commented on #4911
Sphinx does provide a make.bat script. Sphinx-quickstart asks if you want to create one, and the default answer (at least on windows) is yes. The make.bat works for html, but does not work for pdf.

Furthermore, this used to work. I have projects I generated with an older version of sphinx (not sure what version, but it was 2016), that generated a much larger make.bat than does the current version

[2018-06-23 21:24] TimKam commented on #1618
@tk0miya Do you agree? Then we could move forward with my PR.

[2018-06-24 21:20] jfbu commented on #4911
You might be looking for [`--no-use-make-mode`](http://www.sphinx-doc.org/en/1.7/man/sphinx-quickstart.html#cmdoption-sphinx-quickstart-use-make-mode) option of `sphinx-quickstart`.

[2018-06-25 00:30] anntzer commented on #4770
It appears that this is due to the fact that `ifconfig` nodes are only resolved when the doctree-resolved event is emitted, but environment consistency is checked earlier than that.

Perhaps `ifconfig` nodes could be resolved earlier, directly while the source is being read?

Conversely, `only` nodes suffer from the opposite problem: they are always parsed and then later either included or not dep

[2018-06-25 02:55] cblegare commented on #4900
I had an other issue with the same cause.

Given folder structure:

[code]

Running from `doc` folder:

[code]

I put a breakpoint to inspect values in `Make` object in `make_mode.py` and get:

[code]

Which cause the `cd` in `build_latexpdf` to change dir to `build/sphinx/doctrees` instead of `build/sphinx/pdf` and no makefile is found for the pdflatex build.

Given the documented [`sphinx-build`

[2018-06-25 05:59] Zac-HD commented on #5113
https://github.com/sphinx-doc/sphinx/blob/e1201f277902df12ff5fca1e2a63a73bbae58296/sphinx/ext/autodoc/directive.py#L128-L133

Changing `return []` to `raise SphinxError(...)` (or a new autodoc-specific subtype) should be enough to fix this, with appropriate testing.

[2018-06-25 06:02] blueyed opened #5121 "Display all warnings with -W (warningiserror)"
Currently using `-W` will stop on the first warning, but that makes it harder to interate over existing warnings, since you only get the first one.

This appears to happen via the `WarningIsErrorFilter` currently, which raises `SphinxWarning`.

I think using `-W` should display all warnings (i.e. keep on processing), but then cause a non-zero exit status only (and e.g. forcing a fresh build the ne

[2018-06-25 10:10] stephenfin commented on #4846
Sorry for the delay. This is how I see the documentation looking at the end:

- User guide

  This is for end users of Sphinx. It should assume readers are not developers. It should focus on core functionality, only covering extensions to explain how they are enabled, what ones are provided in Sphinx core and where additional third-party ones can be found. This is what I'm currently reworking.

[2018-06-25 10:56] fleimgruber commented on #4911
@tk0miya thanks, installing `make.exe` solved it.

[2018-06-25 11:39] digulla opened #5124 "Support for different Graphviz layouts"
Subject: Please add support to specify the layout per graph like so:

    .. graphviz:: twopi2.gv
      :graphviz_layout: twopi

or even better:

    .. graphviz:: twopi2.gv
      :layout: twopi

The argument should be passed to `dot` via the `-K` parameter.

The goal is to be able to render this demo from the gallery correctly: https://graphviz.gitlab.io/_pages/Gallery/twopi/twopi2.html

### Envi

[2018-06-25 13:04] dm413 commented on #4911
The `--no-use-make-mode` option to `sphinx-quickstart` does not solve the problem. In the resulting generated project, running `make.bat  latexpdf` still produces "Error: Failed to run: make".

Make-mode is an option to move some of the functionality of make into Sphinx itself. It does not affect the problem here, which is that the generated make.bat file tries to run make.exe instead of running t

[2018-06-25 13:05] tk0miya commented on #5124
`graphviz` directive already supports to switch rendering command with `:graphviz_dot:` option:
[code]

Certainly, `:layout:` is a bit more elegant to choose layout engine to me.

[2018-06-25 13:26] tk0miya commented on #4911
Sorry for confuse. The `make.bat` I mentioned is different with which `sphinx-quickstart` generates. `sphinx-build` generates additional make script for building PDF on output directory (cf. `_build/latex/Makefile`). But `sphinx-build` does not generate batch file at present.

So far, `sphinx-quickstart` has never generated `make.bat` which calls `latexpdf` directly, AFAIK. Is it really generated

[2018-06-25 13:43] jfbu commented on #4911
Just for the record,  the command would be `pdflatex`  not `latexpdf` which is nickname adopted by Sphinx for make target. On GNU/Linux, the natural thing to do after `make latex` is  `make -C <latexbuilddir> all-pdf` and for some reason Sphinx proposes `make latexpdf` instead (related: #5085). For Windows, one sees at  https://github.com/sphinx-doc/sphinx/blob/148b47168cf59ea6cdfd9ffc3ad4ee4b92b5

[2018-06-25 15:38] tk0miya commented on #5121
Thank you for proposal. But that is already posted as #4614.
So I'm closing this because of dup.

[2018-06-25 15:38] #5121 closed, assigned to nobody

[2018-06-26 13:16] Endeavourl commented on #3329
Spent 2 days dealing with this. Seems that `[*]_` style footnotes crash builder.
Failed RTD build example: https://readthedocs.org/projects/pgcodekeeper/builds/7392040/

[2018-06-27 14:18] guyer opened #5125 "semantics of sphinx.main was changed when sphinx.cmd.build.main was introduced"
Subject: <what happen when you do on which document project>

### Problem

As discussed in #4615, prior to 89f9c7cab, `sphinx.main` took a list as its argument:

    def main(argv=sys.argv[1:])

Afterwards, it took a variable number of arguments and passed them on to `sphinx.cmd.build.main`

    def main(*args, **kwargs)

With b5bae23, though

    args = args[1:]

throws everything away, because `

[2018-06-27 20:03] bluescarni opened #5126 "'ASTTemplateParamNonType' object has no attribute 'isPack'"
Since Sphinx 1.7, I cannot build anymore the documentation of my C++ projects. The errors all look like this:

[code]

The errors seem to be triggered when concepts are involved. For instance, in one specific case I have a concept defined like this:

[code]

which is then used in a class template specialization like this:

[code]

Removing the documentation of the class specialization gets rid of

[2018-06-28 15:37] ritabratamaiti commented on #3382
Sorry to bump an old issue but.... I am currently using @suhailvs (Tysm ^_^) method and it's working fine like GitHub docs are being built like this: https://ritabratamaiti.github.io/RapidML and the readthedocs page is working fine too: https://rapidml.readthedocs.io/en/latest/
The only issue right now is how SEO friendly is the redirect method, like will search engine bots follow through the link

[2018-06-28 19:32] asmeurer opened #5128 "Warning for invalid relative link anchors"
If I have something like

    `link <file.html#anchor>`_

and file.html exists and is part of the project, and #anchor is not a valid anchor for that file, it should raise a warning in the build.

Alternately, it would be nice if `linkcheck` checked anchors for relative links.

The problem is that I'm using recommonmark, which doesn't support cross-referencing. I'm perfectly fine writing out the a

[2018-06-29 07:25] digulla commented on #5124
Thanks, this works.

[2018-06-29 07:26] digulla commented on #5124
Oops...

[2018-06-29 12:14] JulienPalard opened #5130 "xetex issue: Improper discretionary list."
Subject: Building pdf is failing with latex bug.

### Problem

I'm running sphinx-build on the french documentation translation of Python, and pdf build is failing.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
I expected PDF builds to succeed :)

### Environment info
- OS: Debian buster
- Python version:3.7
- Sphinx version:1.7.5
- texliv

[2018-06-29 16:38] tk0miya commented on #5128
+1: reasonable.

[2018-06-29 18:25] jfbu commented on #5130
I confirm this. Pending closer scrutiny this reminds me of #3546 which was closed as wont-fix because it revealed a XeTeX bug.

I have confirmed using lualatex on `using.tex` file has no issue. Currently trying building the full docs with `lualatex`.

[2018-06-29 19:22] jfbu commented on #5130
I could build all PDFs with `lualatex` but another issue arose.

The PDF builds was broken for tutorial.pdf, library.pdf, reference.pdf due to indexing of word ``état``. This is caused by `makeindex` not being utf-8 savvy.

A correct utf-8 file `tutorial.idx` is parsed by makeindex which creates a wrong `tutorial.ind` because it took the first byte of ``é``. Then this breaks with this kind of erro

[2018-06-29 21:06] jfbu commented on #5130
For the record, I have digged out this [report](http://tug.org/pipermail/xetex/2017-December/027212.html) where I tried to get some information on #3546. This reminded me there was a problem with xelatex+polyglossia+french, which was mentioned in this (technical) TeX thread.

Sure enough if I use in `latex_elements`, `'babel': '\\usepackage{babel}'`, then I can compile with latex_engine set to xel

[2018-06-29 21:49] jfbu commented on #5130
ah wait, the problem with indexing of `état` is silently ignored by `xelatex` (contrarily to `lualatex`). (the `.ind` files are not valid utf-8 files, but `xelatex` creates the index with no complaint, as this shows:

![capture d ecran 2018-06-29 a 23 44 46](https://user-images.githubusercontent.com/2589111/42116189-79110442-7bf6-11e8-8fa3-7b08eaafd008.png)

There should be a capital `É` as headin

[2018-06-29 21:57] jfbu commented on #5130
For the record, I mention that ``.. index::  état`` does not created failed PDF builds with standard pdflatex engine. In that case the ``é`` is converted into macros by LaTeX, and makeindex works with something like `\IeC {\'e}` which it sorts according to first character, backslash, so there is no problem of file encoding.

[2018-06-29 22:11] jfbu opened #5132 "lualatex issue: PDF build fails if indexed word starts with Unicode characters"
#### Procedure to reproduce the problem

Do ``make latexpdf`` with this index.rst:

[code]

and  having configured ``latex_engine = 'lualatex'`` in conf.py

#### Error logs / results
[code]

#### Expected results

PDF build succeeds.

It does with `xelatex` but this is luck. In fact, usage of `makeindex` program to create `.ind` file results in a non-valid file for utf-8 encoding. Here is how the

[2018-06-30 13:31] jfbu opened #5133 "latex: index headings "Symbols" and "Numbers" not internationalized"
Consider following `index.rst`

[code]

When building with language set to German (`'de'`)  one gets this

![capture d ecran 2018-06-30 a 15 09 04](https://user-images.githubusercontent.com/2589111/42125569-ec0fe1ba-7c79-11e8-9a9d-9cb3bb2b4b44.png)

When buildind with language set to Italian, one gets this:

![capture d ecran 2018-06-30 a 15 11 24](https://user-images.githubusercontent.com/2589111

[2018-07-01 16:29] Abduoit opened #5137 "make[3]: *** [ecto-sphinx] Error 2"
### Problem

I am trying to use sphinx with object-recognition-kitchen project from this [link](http://wg-perception.github.io/object_recognition_core/install.html#building-the-documentation)

When I run last command, I get the following error:

`abdu@grasp-uoit:~/ws/build$ make doxygen`

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: <

[2018-07-01 17:33] blueyed commented on #4614
https://github.com/sphinx-doc/sphinx/issues/5121#issue-335269841 has some more information where this is coming from.

Can you provide more pointers about how to fix this, please?

[2018-07-01 18:37] liffiton opened #5138 "inline_all_toctrees() contains a non-specific except block that masks other issues."
### Problem
I'm using an extension that fails when using `singlehtml`, raising an exception during  `util/nodes.py:inline_all_toctrees()`.  The extension's node class doesn't play nice with `_new_copy()`, apparently.  The exception is caught by the bare `except Exception:` line in `util/nodes.py:inline_all_toctrees()`, emitting a warning that a referenced document does not exist, even though the d

[2018-07-02 12:59] ArtFlag commented on #4374
Hi again,
Since I really need this, it is the opportunity for me to learn how to write extension, but since the docs are pretty slim about this topic for people with no experience with docutils, may I ask for some pointers?

What would be the starting point to modify the behaviour of an **existing** directive?

Thanks

[2018-07-03 09:22] JohanLorenzo opened #5139 "Python: Enum argument missing if it shares value with another"
Thank you for this great library!

Subject: All members of a python Enum aren't rendered if some of them are sharing the same value

### Problem

Let this Python enum:

[code]

Sphinx 1.7.5 with the autodoc extension generates:

[code]

Another scenario:

[code]

gets generated into:

[code]

#### Procedure to reproduce the problem
[code]
Makefile being generated by sphinx-quickstart 1.7.5.

####

[2018-07-03 15:17] Alleno commented on #4309
I tried to specify the mathjax_path, but it doesn't seem to cause any changes in the output file path, I'm still getting `<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>`

Is this an option to add at the end of conf.py, at the leftmost indentation of the file?

[2018-07-03 15:46] scottbelden opened #5141 "Pressing backspace during quickstart can delete the prompt"
Subject: Pressing backspace during quickstart can delete the prompt

### Problem
- During the `quickstart` setup, if you start typing, then press backspace to delete it all the prompt will disappear

#### Procedure to reproduce the problem
- Begin quickstart:
[code]

- Press any key (I chose `a`):
[code]

- Press backspace:
[code]

- Notice that the `> Separate source and build directories (y/n) [

[2018-07-03 16:47] mengxr opened #5142 "Sphinx doesn't render autodoc_docstring_signature correctly w/ Python 2"
Subject: Some pyspark.ml docs were generated without rendering the docstring signature when Python 2 is used.

### Problem

See https://issues.apache.org/jira/browse/SPARK-24530. We use autodoc_docstring_signature in PySpark to render some ML class docs correctly. A correct version looks like the following:

![screen shot 2018-06-12 at 8 23 29 am](https://user-images.githubusercontent.com/829644/4

[2018-07-03 18:31] makhomed opened #5143 "Autodoc regression in Sphinx 1.6.6 (all work fine in Sphinx 1.6.5)"
Sphinx 1.7.5 fail with exception when I try to generate documentation
for https://github.com/makhomed/fabrix project.
Sphinx 1.6.5 work fine.

### Problem
Autodoc from Sphinx 1.7.5 fail with exception.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
Full traceback:
[code]
Buggy code:
[code]
Buggy code in context:
[code]

#### Expected results
Expected normal run w

[2018-07-03 22:41] askb commented on #5051
@tk0miya we have a workaround which is good, but is this a known issue or something which needs to be fixed?

[2018-07-04 10:11] api2001 commented on #2390
Thanks so much - I also had this issue and could not solve in on my own:
For use of autodoc e.g. for a module *myCoolModule* make sure to add to conf.py:
[code]
where ../source is just the folder that *contains your module/code folder* you like to doc, example:

[code]

[2018-07-05 10:50] clandgraf opened #5145 "Including rst in toctree multiple times not possible with latex builder"
When including an .rst file multiple times by including it via toctree, the file is only rendered the first time when rendering it with the LaTeX builder. On the other hand multipage-html output seems to work fine.

### Problem
We have a document which describes general configuration switches for multiple plugins by including the file containing these switches in multiple parts of the document via

[2018-07-05 14:17] fredrik-1 opened #5146 "Strange warning"
I am working with the matplotlib documentation and wrote a template that generate for example the following file, `_as_gen/matplotlib.transforms.Affine2D.rst`.
[code]

The template and rendered html pages seems to work as expected but I get the following warning
[code]

The overview pages should be equal except for the names but it seems that I only get the warning for some of them. I have tried m

[2018-07-05 15:03] tk0miya commented on #5137
It seems ecto module raised the error. It's not a part of sphinx-core. Could you ask to the author of the module please?
[code]

Thanks,

[2018-07-05 15:07] tk0miya commented on #5141
This might be related with #5036. So I hope this was already fixed in HEAD of 1.7 branch.
Could you check it please?

[2018-07-05 15:32] tk0miya commented on #5142
Okay, I'll take a look later.

[2018-07-05 15:33] tk0miya commented on #5143
Sorry for inconvenience. I made a fix for this in #5131. So it will be fixed in next release.
Please wait a moment.

Thanks,

[2018-07-05 15:56] randombit opened #5147 "Problem parsing C++ declaration with char default argument"
Subject: Parsing a C++ function with a char argument with default value fails.

### Problem

The following declaration

[code]

cannot be parsed.

#### Error logs / results
[code]

#### Expected results

I would expect this to parse. Changing the quotes to "a" avoids the problem, but unfortunately means the C++ syntax is not correct. [Single `char` is 'a', with "a" instead meaning a NULL terminate

[2018-07-05 17:05] jakobandersen commented on #5147
Thanks for reporting. The problems is that character literals are simply not yet supported (https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/cpp.py#L4181). We should be able to get that fixed for 1.8.

[2018-07-05 17:24] goerz opened #5148 "Links to Sphinx documentation are broken"
Pretty much all links to the Sphinx documentation are currently broken, leading to a 404 page. This includes Google search results and StackOverlfow. For example, https://stackoverflow.com/a/22768779/152544 links to
http://sphinx-doc.org/ext/autodoc.html#confval-autodoc_default_flags

The current URL for that link is http://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc

[2018-07-05 20:34] scottbelden commented on #5141
I cloned and tested this on master and the issue is not present. Thanks!

[2018-07-05 20:34] #5141 closed, assigned to nobody

[2018-07-05 23:59] barbara-sfx opened #5149 "Using title:: in an include file replaces <title> tag of file containing the included text"
### Problem

Including `title::` in an include file replaces the <title> tag of the page containing the include file with the title of the include file.

#### Procedure to reproduce the problem

1. Create a file to include in another file (file A).

1. In file A, add the statement `.. title:: File A`

1. Create another file (file B). File B has a standard RST title, like "File B".

1. In file B, a

[2018-07-06 03:09] kovidgoyal opened #5150 "KeyError in set_duplicate_name_id()"
Traceback:
[code]

The command line used:
[code]

This happens only when running sphinx with i18n. Sadly it is in a quite large/complex project and I have not been able to create a minimal test case. sphinx version is 1.7.5

[2018-07-06 10:31] Tryph commented on #5076
I noted this problem too.

### Problem
For my project, doc generation is run by Gitlab CI into the a python:3 docker container. Two days ago, it started failing with the following message:

[code]
Two days ago, the docker image python:3.7 has became the target of the python:3 tag and restricting used python image to 3.6 fixed my problem.

#### Procedure to reproduce the problem

Run `make html` fo

[2018-07-06 12:03] fredrik-1 commented on #5146
I found the error. Some of the method docstrings had a first line that ended with `::`

I am closing this but I think that the warning message could be improved.

[2018-07-06 18:45] barbara-sfx commented on #5149
BTW the problem persists even if I add a title:: File B into the containing file. The title of the include file still overrides the correct title.

[2018-07-08 09:31] tk0miya commented on #5149
Hmm? The `title` directive is executed as part of file B. So this is not surprising result.
I don't know why do you add the directive into included rst file.
Could you tell me your goal.

[2018-07-08 09:52] tk0miya commented on #5146
Good point. I confirmed with following snippet:
[code]

I agreed with the error message is not human readable. It should be improved.

[2018-07-08 11:39] tk0miya commented on #5146
Finally, I found where the warning comes from. autosummary module generates summary table for methods and classes from their docstrings. At that time, autosummary only picks up the first line of docstring.
The case of the first line contains a literal block notation, the extraction makes it broken.

For example, this is docstring of `Affine2D.from_values()`.
[code]
I have to say this is not invali

[2018-07-09 01:44] tk0miya commented on #5076
Fixed by #5119.
Thanks!

[2018-07-09 01:44] #5076 closed, assigned to RobRuana

[2018-07-09 01:48] tk0miya commented on #5150
Thank you for reporting. Absolutely this is a bug of i18n module. It would be nice if you'll make smaller project. I'll also try to reproduce it on my local later.

[2018-07-09 01:57] kovidgoyal commented on #5150
Yeah, I tried creating a smaller project to reproduce I failed :( For the moment I worked around it by patching docutils to ignore that error.

[2018-07-09 10:31] kaipoeritz opened #5153 "Footnote link not superscripted"
When using 'make html' to create HTML output, the footnotes in the main text are not superscripted.
I expect the footnote in the text to be superscripted as shown here: http://docutils.sourceforge.net/docs/user/rst/quickref.html#footnotes

The HTML is supposed to be a nested `<a>` in side a `<sup>` . e.g. `<sup><a href="#5">5</a></sup>` .

But all I get is a single `<a>` without the surrounding `<

[2018-07-09 14:25] tk0miya opened #5154 "1.7.6 release plan"
Hi maintainers

30+ days have passed since last stable release. So it's time to release.
I'll ship it on next weekend (7/14 or 15).
Do you have any comments for this schedule?

Note: issues marked as 1.7.6:
https://github.com/sphinx-doc/sphinx/milestone/47

[2018-07-09 14:41] tk0miya commented on #5153
It seems current docutils (core reST parser) does not make footnotes superscripted.
[code]

How about add stylesheet to your project? Following CSS works fine to me.
[code]

[2018-07-09 14:58] tk0miya commented on #5148
Thank you for reporting.
I'd forgotten to update redirection mapping on restructuring our document.
Now I updated it :-)

[2018-07-09 14:58] #5148 closed, assigned to nobody

[2018-07-09 15:11] tk0miya commented on #5145
Sphinx does not support including same .rst file multiple times via toctree.
At first glance, it looks working fine. But some feature does not work well. For example, pagination (next/prev) has been broken.

What about using `include` directive instead?

[2018-07-09 15:33] barbara-sfx commented on #5149
My SEO folks want all files to have a title, so when they show up in a search results list, they don't just say `<no title>`.

[2018-07-09 15:48] NapsterInBlue opened #5155 "Directives documentation has a ton of dead links"
### Problem
- Following any of the links in the [directives section of the basics page](http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#directives) takes me to a  completely blank page.

- Intended Link:
http://docutils.sourceforge.net/docs/ref/rst/directives.html

- Screenshot of Index showing page has size=0:
![image](https://user-images.githubusercontent.com/3505365/42460

[2018-07-09 15:54] barbara-sfx commented on #5149
Actually, it's the RTD search engine that shows them with `<no title>` in the list. google excludes them from search results completely, which is why the SEO folks want them to have titles.

[2018-07-10 10:22] jessetan opened #5157 "Inline code is not syntax highlighted"
### Problem

It is not possible to apply syntax highlighting to inline literals or code.

The docutils documentation provides a way to do this using the `role` directive to define a new role, based on the `code` role, but the resulting HTML contains classes like `.keyword` instead of classes like `.highlight .k` which are used in Pygments CSS.

#### Expected results

Sphinx to provide a `code` rol

[2018-07-10 10:27] jessetan commented on #2155
This issue was filed about the `code` *directive*, you are talking about the `code` *role*.
I've filed #5157 as a separate issue, since there is a way to do highlighting of code blocks (using `code-block`), but not highlighting of inline code.
Perhaps https://pypi.org/project/sphinxcontrib-inlinesyntaxhighlight/ will work for you. It does not contain code to support building with LaTeX.

[2018-07-10 12:29] shimizukawa commented on #968
+1 to closing this issue. Thanks.

[2018-07-10 12:29] #968 closed, assigned to nobody

[2018-07-10 12:30] KellyBlack commented on #3382
We use the method detailed by @suhailvs (Thank you!) and it works fine as well. With respect to the question of SEO when we publish links to the documentation we do not use the https://<username>.github.io/<repo> url but rather the https://<username>.github.io/<repo>/html/ url. We put the later url in the README.md file in the main repo as well.

That way web crawlers should go directly to the sph

[2018-07-10 13:27] paugier opened #5158 "Regression 1.7.0 to 1.7.1: autosummary, bad module summary"
### Problem

Autosummary fails to correctly parse a rst docstring like

[code]

and produce an incorrect summary "My title ========".

### Reproducible project / your project
- http://fluiddyn.readthedocs.io/en/latest/

### Environment info
- OS: linux
- Python version: tested on 3.6 and 3.7
- Sphinx version:

The bug only happens for versions > 1.7.0.

More precisely, the bug appeared with commit

[2018-07-10 23:55] avylove commented on #1148
@shimizukawa, thanks for the workaround. I did have to modify it slightly so decorators that don't take arguments do not show parentheses. This is a bit hackish and I'm sure there is a better way to do it, but it will work for now until a real implementation gets in the code.

Workaround (add to conf.py):
[code]

[2018-07-11 02:19] MareoRaft opened #5160 "dead links in documentation of sphinx itself"
### Problem
When visiting the page

http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html

the directive links bring send the user to, for example,

http://docutils.sourceforge.net/docs/ref/rst/directives.html#csv-table

which is just a blank page.  Hence, the links are dead.

#### Expected results
It brings the user to a webpage that explains in further detail how to use that dir

[2018-07-11 04:41] disencd opened #5161 "mkdir(name, mode) NotADirectoryError: [Errno 20] Not a directory: '..doc/_build/html/_static/fonts/RobotoSlab'"
Subject:  mkdir(name, mode) NotADirectoryError: [Errno 20] Not a directory: '..doc/_build/html/_static/fonts/RobotoSlab'

### Problem
[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or atta

[2018-07-11 04:42] disencd commented on #5161
[sphinx-err-r2et3w57.log](https://github.com/sphinx-doc/sphinx/files/2182988/sphinx-err-r2et3w57.log)

Attaching the log

[2018-07-11 06:02] certik commented on #3785
This change unfortunately broke my webpage (https://github.com/certik/theoretical-physics/pull/76), so currently I can't upgrade Sphinx until I can figure out how to make the multiline equations not right aligned.

[2018-07-11 06:57] ArtFlag opened #5162 "HTML builder: Spaces in links are not converted to %20"
### Problem

Spaces in link anchors ``linktitle <www.mypage.net#this anchor>_`` are not converted to `%20`.

#### Procedure to reproduce the problem

Build the HTML output of a page that contains a link with spaces:

[code]

#### Results

`<a href="www.mypage.net#myanchor">`

Therefore link does not behave as expected from the rST content.

#### Expected results

`<a href="www.mypage.net#my%20anch

[2018-07-12 12:37] NapsterInBlue commented on #5160
Related Issue: #5155

In the meantime, bookmarking [the `.txt` file that generates the page](http://docutils.sourceforge.net/docs/ref/rst/directives.txt) has helped me in a couple of pinches.

[2018-07-12 15:39] tk0miya commented on #5125
Fixed by #5131.
Thank you for reporting

[2018-07-12 15:39] #5125 closed, assigned to nobody

[2018-07-12 15:40] tk0miya commented on #5143
Fixed by #5131.
Thank you for reporting.

[2018-07-12 16:17] tk0miya commented on #5139
It seems `C_` is defined as a kind of alias of `C`.
[code]

But, unfortunately, it is not listed on result of `dir()`. So we have to find the way to fetch such alias definition.
[code]

[2018-07-12 16:57] tk0miya commented on #5146
Fixed by #5152 .
Thank you for reporting.

[2018-07-12 16:57] #5146 closed, assigned to nobody

[2018-07-12 17:00] tk0miya commented on #5139
Python docs says `__members__` attribute can access these aliases!

https://docs.python.org/3/library/enum.html#iteration

[2018-07-12 17:04] tk0miya commented on #5143
Oh, my last comment was not correct. #5131 is not related with this.
I have to investigate this again.

[2018-07-12 17:21] makhomed commented on #5143
@tk0miya, can you please reopen this issue #5143
because now it marked ad closed and it is now not display
in the list https://github.com/sphinx-doc/sphinx/milestone/47

[2018-07-12 19:09] barbara-sfx opened #5163 "hlist vertically centers far right column, which looks weird"
### Problem
- If you use the example of hlist included in the sphinx docs, the hlist vertically centers far right column, which looks weird

#### Procedure to reproduce the problem
[code]

#### Error logs / results

![image](https://user-images.githubusercontent.com/17709550/42653993-f65be000-85cb-11e8-947e-8ceba7856ece.png)

Also our live site: https://docs.signalfx.com/en/latest/reference/analyt

[2018-07-13 09:51] mgeier opened #5164 "All sources are re-built, even if nothing has changed (using nbsphinx extension)"
This problem was introduced in PR #4966. Before that, everything was working fine.

This only happens when the `nbsphinx` extension is used (but maybe other extensions are affected, too?).

#### Procedure to reproduce the problem

This can be reproduced by building the docs for the `nbsphinx` module.
Installation instructions: https://github.com/spatialaudio/nbsphinx/blob/master/CONTRIBUTING.rst

[2018-07-13 14:44] asasanuma opened #5165 "Permission error when trying to make html"
Subject: <what happen when you do on which document project>

### Problem
- <Detail of problem>

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environme

[2018-07-13 14:50] asasanuma opened #5166 "Permission Error when trying to make html"
Subject: <When I try to make html it gives me a permission error>

When trying to create html, which is only my second step after sphinx-quickstart, it gives me a permission error and doesn't allow me to create the html.

### Problem
- <Permission Error>

#### Procedure to reproduce the problem
[code]
[code]

#### Expected results
Should create html file.

### Environment info
- OS: <Mac>
- Python

[2018-07-13 22:54] shimizukawa commented on #1379
Now a day, `.egg` package is deprecated and `.whl` package is always extracted and installed. So, I think this problem will no longer occur.

If such a problem still occurs, please don't use `zip_safe=True` option for such sphinx extension packages that include CSS or JavaScript, and also theme package.

[2018-07-13 22:54] #1379 closed, assigned to nobody

[2018-07-14 12:37] tk0miya commented on #5142
`inspect.getargspec()` can't recognize its argument well. It seems some decorator hides its arguments.
[code]

AFAIK, there are no way to obtain original signature of the methods in python 2.x.
So I feel it is hard to fix this.

[2018-07-14 13:46] tk0miya commented on #5143
It seems Sphinx-1.6.6 failed to build the document of fabrix. It might be a regression of Sphinx-1.6.6.
[code]

[2018-07-14 13:54] HyukjinKwon commented on #5142
Hi, @tk0miya. Thanks for checking this out. I was hesitant to leave a comment and I am glad that we had similar investigations. Yup, the cause looked indeed `functools.wraps` fails to copy its signature in Python 2 whereas Python 3 succeeds, and I agree there could be no way to find out the original signature in this case.

One thing I am wondering is though, I thought we could override the signat

[2018-07-14 17:54] makhomed commented on #5143
@tk0miya, sorry, I test only 1.6.5 and 1.7.5 versions,
1.6.5 works fine, but 1.7.5 fail with exception.

BTW, looks like fix for this bug is trivial:

[code]

after this patch I can successfully build documentation for fabrix with sphinx 1.7.5

is my patch ok and it can be included in upcoming 1.7.6 version of sphinx?

[2018-07-14 18:03] makhomed commented on #5143
@tk0miya, yes I confirm, sphinx version 1.6.6 also fail with exception
in file ```/usr/lib/python2.7/site-packages/sphinx/util/inspect.py```
in function ```object_description()``` in line ```208```.

[2018-07-15 05:19] tk0miya commented on #5143
Finally, I found this bug is caused by #4181.

[2018-07-15 05:21] tk0miya commented on #5143
@makhomed Thank you for your patch. I will apply it in next release. Please wait a moment :-)

[2018-07-15 09:10] #5143 closed, assigned to nobody

[2018-07-15 09:40] tk0miya commented on #5154
I will make a new release within 24 hours (In Japan, tomorrow is national holiday. So I'll work hard tomorrow :-).

[2018-07-15 11:56] tk0miya commented on #5165
I'm closing this issue because this might be a dup of #5166.

[2018-07-15 11:56] #5165 closed, assigned to nobody

[2018-07-15 12:00] tk0miya commented on #5166
Where did you create your sphinx project?

[code]

This error says Sphinx project contains unreadable file or directory. And it seems `Library/Saved Application State` is not a part of sphinx project.
I guess you might create sphinx project on your home directory. Please create a sub directory and create new project into it.

Thanks,

[2018-07-15 12:36] tk0miya commented on #5139
Fixed by #5171.
Thank you for reporting.

[2018-07-15 12:36] #5139 closed, assigned to nobody

[2018-07-15 12:45] tk0miya commented on #5164
Confirmed with this Dockerfile:
[code]

Sphinx misdetects that some configuration has been changed:
[code]

And Sphinx-1.7 does not do full rebuild. So this is a bug of master branch!

[2018-07-15 13:27] tk0miya commented on #4946
I fixed `:rtype:` case by #5172.

Are there still problematic types?

[2018-07-15 13:42] tk0miya commented on #5164
I just made #5174. And it seems works fine for me. Could you check it if possible?
[code]

BTW, I think it would be nice if `_add_notebook_parser()` uses new APIs to register its components like this:
[code]

And let's declare the supported format of the parser as an attribute:
[code]

I think this will make your extension simpler in future.

[2018-07-15 13:50] tk0miya commented on #5161
It seems a type of `_build/html/_static/fonts/RobotoSlab` had been changed since last build.
I don't know what was actually happened in your environment.
But it will be resolved with `make clean` command. It completely clears your build directory.

[2018-07-15 14:25] tk0miya commented on #5162
This is same behavior as docutils (rst2html).
[code]

It is an issue of reST spec. Please ask to docutils team.

[2018-07-15 14:49] tk0miya commented on #5160
This was a trouble of docutils project. And it seems already resolved now.
So I'm closing this.
Thanks,

[2018-07-15 14:49] #5160 closed, assigned to nobody

[2018-07-15 14:49] tk0miya commented on #5155
This was a trouble of docutils project. And it seems already resolved now.
So I'm closing this.
Thanks,

[2018-07-15 14:49] #5155 closed, assigned to nobody

[2018-07-15 23:15] jfbu opened #5176 "LaTeX: indexing of terms containing ``@`` character, or ``!``, or ``"`` fail"
Consider this source:

[code]

Then `make latexpdf` silently fails to index correctly. The `makeindex` log contains

[code]

Also this fails:

[code]

This fails to get indexed correctly in PDF output, the `makeindex` log file contains similar

[code]

The above is real life example from CPython Docs...

### Environment info
- OS: Mac
- Python version: 3.6.4
- Sphinx version: 1.7.x
- TeXLive 2018,

[2018-07-15 23:50] jfbu opened #5179 "Lualatex: escaping of `>` by `\textgreater{}` is not enough, `>>` applies ligature"
Sphinx LaTeX escapes `>` in source to `\textgreater{}` in produced TeX file. Unfortunately with `lualatex`, `\textgreater{}\textgreater{}` becomes a ligature: `»`. This is not the case with `xelatex` or `pdflatex`.

This showed up as real-life problem when trying to build the PDFs of the CPython documentation using lualatex, as Python wants ``>>>`` indexed of course!

[2018-07-16 00:01] jfbu commented on #5154
@tk0miya I added some last minute LaTeX PRs to this milestone because I was offline, and will be again starting in two days (18th).

[2018-07-16 01:46] tk0miya commented on #5154
@jfbu Is it better to postpone this release? If they are important, we can change our release date.

[2018-07-16 02:03] tk0miya commented on #5142
It seems the first line of the docstring is blank. Unfortunately, the signature is defined at next line. So `autodoc_docstring_signature` does not work.
[code]

Could you check your docstring please?

[2018-07-16 02:19] tk0miya commented on #5154
I think #5176 is an important fix. So +1 for postpone the release.

[2018-07-16 03:34] HyukjinKwon commented on #5142
Ah, thank you so much @tk0miya. Will give some updates here after checking and fixing it within Spark side

[2018-07-16 04:57] tk0miya commented on #5142
PEP-257 expects multiline-docstring starts just after triple-quotes like this.
[code]

So the rule of `autodoc_docstring_signature` is not strict to me.

[2018-07-16 05:26] shimizukawa commented on #1618
+1 to the HTML-only approach. I think that the approach is sufficiently useful as workaround until Sphinx core has build output function for search display.

[2018-07-16 05:51] tk0miya commented on #5179
It seems `>>` (not `\textgreater{}` is also combined to `»`. It should be change behavior of ligature for LuaLaTeX.
[code]

[2018-07-16 05:52] tk0miya commented on #5161
Note: I give a better error message for this case (refs: #5175).

[2018-07-16 06:00] HyukjinKwon commented on #5142
Hmmm .. but

[code]

this also complies PEP 257:

[2018-07-16 06:29] tk0miya commented on #5163
+0: I don't have strong opinion. But adding new style is okay to me.

[2018-07-16 07:06] jfbu commented on #4272
Fixed at https://github.com/sphinx-doc/sphinx/commit/3156981d0905e1d9d31b36be8f9a4cff222f229d by using babel+French and not polyglossia+French with xelatex engine.

[2018-07-16 07:06] #4272 closed, assigned to nobody

[2018-07-16 07:11] jfbu commented on #5130
@JulienPalard I am closing this because it is fixed by #5178 which is merged into soon to be released 1.7.6.

In building CPython docs and examining indices I also met issue #5176 which showed up in indexing of ``!=`` operator for example. The #5177 fix is also merged into future release 1.7.6.

However Sphinx uses `makeindex` for LaTeX general index, and words like ``état`` are not located at nic

[2018-07-16 07:11] #5130 closed, assigned to nobody

[2018-07-16 07:15] jfbu commented on #5176
Fixed at https://github.com/sphinx-doc/sphinx/commit/d35cb7e2025f4aba946b1612dd07e311c97ef20e (#5177)

[2018-07-16 07:15] #5176 closed, assigned to nobody

[2018-07-16 07:16] jfbu commented on #5154
@tk0miya thanks I have now merged the fix for #5176. Please go ahead with release if you have time. I am sorry for not having done my work earlier, but due to various reasons I am basically offline and got back to internet only on July 16, 00:30 AM EST.

[2018-07-16 07:21] #5133 closed, assigned to nobody

[2018-07-16 07:27] tk0miya commented on #5154
@jfbu Thank you for quick work!

Okay, I'll release 1.7.6 within a day.

[2018-07-16 07:32] tk0miya commented on #5142
Oh, I'd overlooked it. +1 for support the next line.

@shimizukawa what do you think?

[2018-07-16 07:41] shimizukawa commented on #5142
Well, I think that it is not a rare case that the first letter appears in the second line.

[code]

I think that it is good to reference the behavior of [inspect.getdoc](https://docs.python.org/3/library/inspect.html#inspect.getdoc).
[code]

[2018-07-16 08:04] tk0miya commented on #3329
Fixed by #5173.
Thank you for reporting

[2018-07-16 08:05] #3329 closed, assigned to tk0miya

[2018-07-16 08:05] tk0miya commented on #5142
Okay, let's improve it :-)

[2018-07-16 08:17] #5132 closed, assigned to nobody

[2018-07-16 08:45] jfbu commented on #5179
@tk0miya To prevent ligature I was recommended upstream by David Carlisle to use either `\textgreater\/` or `\mbox{\textgreater}`.

side-note: for literals and code-blocks, preventing `>>` TeX ligature is achieved via other means and needs no fix for lualatex

[2018-07-16 09:12] tk0miya commented on #1148
+0: seems good. But it is hard to detect the function is decorator or not. So `automodule` will not be able to support `autodecorator`.

[2018-07-16 09:25] #4976 closed, assigned to nobody

[2018-07-16 09:26] tk0miya commented on #4976
Fixed by #5118.
Thanks,

[2018-07-16 10:17] tk0miya commented on #5137
I'm closing this because this is not a bug of Sphinx-core.
Thanks,

[2018-07-16 10:17] #5137 closed, assigned to nobody

[2018-07-16 10:18] tk0miya commented on #2066
I'm closing this now.
Please feel free to reopen if you still get same error.
Thanks,

[2018-07-16 10:18] #2066 closed, assigned to nobody

[2018-07-16 10:18] tk0miya commented on #5114
I'm closing this because this is not a bug of Sphinx-core.
Thanks,

[2018-07-16 10:18] #5114 closed, assigned to nobody

[2018-07-16 10:18] tk0miya commented on #5117
I'm closing this because this is not a bug of Sphinx-core.
Thanks,

[2018-07-16 10:18] #5117 closed, assigned to nobody

[2018-07-16 10:19] tk0miya commented on #4855
I'm closing this because this is not a bug.
Thanks,

[2018-07-16 10:19] #4855 closed, assigned to nobody

[2018-07-16 10:21] tk0miya commented on #5051
This is a well known issue of python interpreter, not sphinx's.
https://www.python.org/downloads/release/python-279/

The resolution for this is only updating python itself.

[2018-07-16 11:28] avylove commented on #1148
@tk0miya Makes sense, but `autodecorator` would still be useful for declaring individual decorators.

[2018-07-16 13:32] cpitclaudel commented on #4976
Great, thanks! Sorry for not being very responsive.

[2018-07-16 13:44] jfbu commented on #5153
Automatic superscripting of footnotes is theme dependent: it is applied with ``alabaster`` and ``sphinx_rtd_theme`` (Read-the-docs) themes but not with ``classic`` or ``agogo`` themes for example. As pointed out by @tk0miya  you can add your custom CSS styling.

[2018-07-16 14:42] disencd commented on #5161
Thanks everyone for reviewing this bug. It was observer only once. Now always its working as expected.

make clean ; make html.  resolved this issue

[2018-07-16 14:57] tk0miya commented on #5161
:-)

[2018-07-16 14:57] #5161 closed, assigned to nobody

[2018-07-16 15:05] tk0miya commented on #5158
Fixed by #5182 .
Thank you for reporting!

[2018-07-16 15:05] #5158 closed, assigned to nobody

[2018-07-16 15:21] tk0miya commented on #5154
Okay, let's start releasing work!

[2018-07-16 15:55] tk0miya commented on #5154
Now Sphinx-1.7.6 is released!
https://pypi.org/project/Sphinx/

We did a lot of fixes in this release. Thank you always for your help :-)
https://github.com/sphinx-doc/sphinx/blob/5c3a86d99e92373f876fccde2d17acf51463d79e/CHANGES#L1-L41

[2018-07-16 15:55] #5154 closed, assigned to nobody

[2018-07-16 16:18] tk0miya commented on #5154
TBH, during this release, I was a bit busy because of World Cup. But finally I enjoyed both hacking and watching games :-)
(Congrats for champion, vive la France!)
Note: Please let me know if you wait my response. I might have overlooked it.

I'd like to restart developing Sphinx from now on. I think the next target is the release of 1.8 :-)

[2018-07-16 19:00] asasanuma opened #5184 "sphinx make html command error"
Subject: <Error occurs after make html command on sphinx>

### Problem
- After make html command
make: *** No rule to make target `html'.  Stop.
This error appears. I saw a similar problem on the forum but the answer didn't seem to solve the question.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Creates html docs

Do I need to specify the

[2018-07-16 19:41] TimKam commented on #1618
I resolved the conflicts in the original PR (which is close to a year old). Could someone do the review?

[2018-07-16 20:32] jfbu commented on #3785
@certik if you add this to your conf.py:

[code]

the LaTeX "aligned" environment is redefined to act like "gathered" environment so equations are centered.

This is assuming that your document uses no extra mark-up.

In math typesetting it is not typographically usual to center equations, the norm is rather to align them at equal signs or plus signs etc, ..., using the `&` marker. This is what Sp

[2018-07-16 20:40] jfbu commented on #3785
@certik if your issue is with html, if you use sphinx.ext.imgmath then the above trick can be used too but the LaTeX macros must be moved to [imgmath_latex_preamble](http://www.sphinx-doc.org/en/master/usage/extensions/math.html#confval-imgmath_latex_preamble). If you use MathJax, then i don't know off-hand how to coerce aligned to act as gathered. You could post-process the html files to do the r

[2018-07-16 20:46] jfbu commented on #5184
Please there is a template here when posting issues. What is your system?

Besides this is not user forum but site to report bugs. Please consider stackoverflow.com with tag `python-sphinx` and sphinx-users group which you can access with Thunderbid via GMane gmane.comp.python.sphinx.user, news://news.gmane.org:119/gmane.comp.python.sphinx.user or use the gggggggggglllllllleeeee groups web interfa

[2018-07-16 21:27] certik commented on #3785
@jfbu thanks for the tips. Indeed, in the new sphinx I am using imgmath and pdf. First I am trying the pdf output (the html output will work once I get the pdf working). I am getting:
[code]
on the code you sent. I have a custom preamble. To debug this, I modify the generated .tex file. Here is the beginning of the generated tex file:
[code]

As you can see, I added your code below some of the `\u

[2018-07-16 21:31] certik commented on #3785
Regarding:

Indeed, it's better to use `&` and I do that at many places, but also at many other places I just have a set of equations one after another, and I just want that to look ok, and the centered equations look much better than right centered ones. In the long run, I would like to format all equations using `&` probably -- although I need to figure out a format that fits into a book, and it

[2018-07-16 22:09] TimKam opened #5186 "JavaScript tests?"
According to the GitHub stats, 26.2% of the Sphinx code is JS. This metric is inaccurate, as it includes code like stemmers that is copied from other projects and requires little maintenance effort. Still, it probably makes sense to add JavaScript tests to avoid regressions and increase maintainability in the long run.

If deemed beneficial, I would gladly work on introducing JavaScript tests and

[2018-07-16 23:44] cliffburdick opened #5187 "CUDA Function Decorators Give Warnings"
Subject: When compiling the markup files for CUDA code, I see the warnings.

### Problem
The sphinx compiler shows:

Invalid definition: Expected identifier in nested name, got keyword: void [error at 15]
      __global__ void TL::est(float * a)

I'm guessing this is because the parser doesn't recognize the __device__ and __global__ decorators since it's cuda-specific. Is there a workaround for th

[2018-07-17 06:55] jfbu commented on #3785
@certik Ah sorry, I copied pasted from my TeXLive 2018 version of amsmath macros. But they incorporate (since TeXLive 2017 I think) this `\alignedspace@left` to fix a longstanding amsmath bug.

As your version of amsmath is without this patch, just proceed by defining suitably the macro

[code]

If in future you update your TeX installation, the above hack will still work but be as if you had load

[2018-07-17 07:01] jfbu commented on #3785
@certik I am worried my tip will not work due to your remark:

Indeed, my tip transforms "aligned" into "gathered" but the latter will not accept ``&`` alignment character. Thus if your source contains even a single usage of ``&`` within equations, unfortunately my tip will not work. Sorry to waste your time on this...

What would be needed then is new behaviour of our ``math`` directive as was as

[2018-07-17 07:33] jfbu commented on #3785
Unfortunately I currently see no obvious way to modify aligned amsmath environment to produce centered equations in absence of `&` markers and normal aligned behaviour in presence of `&`.

- you could avoid using multiple equations with `math` directive,
- or use https://github.com/sphinx-doc/sphinx/issues/3785#issuecomment-303162341 with ``:nowrap:`` and `gather*`.

In both cases this means modif

[2018-07-17 08:21] mgeier commented on #5164
Thanks @tk0miya, #5174 works great for me!

I've also created a PR for `nbsphinx` based on your suggestion: https://github.com/spatialaudio/nbsphinx/pull/197

[2018-07-17 11:01] jakobandersen commented on #5187
I assume this is with the C++ domain?
In that case, it is possible to tell Sphinx that ``global`` should be treated as a valid attribute: http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-cpp_id_attributes.
That is, in ``conf.py`` insert something like: ``cpp_id_attributes = ["__global__", "__device__"]``

(Perhaps we should improve the documentation to make this much clearer.)

[2018-07-17 14:07] #5164 closed, assigned to nobody

[2018-07-17 14:07] tk0miya commented on #5164
I just merged #5174. Thank you for confirmation!

[2018-07-17 14:27] tk0miya commented on #5186
+1: it's very helpful

[2018-07-17 14:43] tk0miya commented on #1618
+1 for HTML approach. It can support other source formats (markdown and others).

[2018-07-17 14:57] tk0miya opened #5190 "Proposal: Invite TimKam as a new commiter"
# Proposal

Hello maintainers,
Today, I'd like to invite @TimKam as a new commiter / maintainer of our project

He had contributed many works until now

* Update documentation
* Improve HTML search (see #4022)

He has ready to help us by JavaScript and docs side (see https://github.com/sphinx-doc/sphinx/issues/1618#issuecomment-398852417)

What do you think? Please 👍 for this if you agreed.

I kno

[2018-07-17 15:03] tk0miya commented on #1148
@shimizukawa what do you think? if no objection, I'll start to work for this.

[2018-07-17 15:27] cliffburdick commented on #5187
Thanks @jakobandersen! That seemed to work for that case. Do you know if there's a way to fix it within the function definition itself on C++ functions that use __restrict__? Here's an example:

  If declarator-id:
    Invalid definition: Expecting "," or ")" in parameters_and_qualifiers, got "a". [error at 72]
      __global__ void TL::est2(float*__restrict__ a)

It looks similar to this issue:

[2018-07-17 16:00] tk0miya commented on #5149
Is your goal that putting same title to all document? I'd like to know why did you put `title` directive into included document.
If you want to set individual title to each document, you should put the directive to each document.

Note: I don't know how search of readthedocs works. AFAIK, it implements original search engine. So I can't answer why they returns "no title".

[2018-07-17 16:14] tk0miya commented on #4309
@Alleno How did you configure it? Please share your conf.py as a new issue.

[2018-07-17 16:47] randombit opened #5191 ""assert parentSymbol" in cpp domain when input is misaligned"
The following input causes an assertion failure:

[code]

Note that the second declaration is not indented correctly (one space is missing).

This causes the following error:

[code]

Traceback log is

[code]

Of course indenting correctly fixes the issue, but this took some time to figure out.

There are a couple of other issues about this assertion (#2413, #2536) but they seem to be caused by an

[2018-07-17 16:56] tk0miya commented on #4374
I think `Transform` module is better for this case. It is used to modify doctree (intermediate representation format for documents).
http://docutils.sourceforge.net/docs/ref/transforms.html

Sphinx provides `Sphinx.add_transform()` API to install transform module from extensions:
http://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx.application.Sphinx.add_transform

Anyway, you need to lea

[2018-07-17 16:59] tk0miya commented on #4614
I feel implementation is not hard. But it is hard to me to give a good naming to the new option. Does anyone have good idea?

[2018-07-17 17:01] asmeurer commented on #4614
Why is a new option needed?

[2018-07-17 18:09] barbara-sfx commented on #5149
Here is the issue:

The include files don't include an RST-style title, because then that would show up in the target file (file containing the `include::` directive). They may be just a series of paragraphs, with no headings at all.

This has 2 negative ramifications: google won't index them, and RTD displays them as "No title".

Therefore, I want to add titles that google and RTD can use. Howeve

[2018-07-18 08:12] shimizukawa commented on #1148
I have no objection.

[2018-07-18 15:26] tk0miya commented on #1148
Okay, let's add this to next major release :-)

Could anyone send a pull request for us please? To merge it, testcode is needed.

[2018-07-18 15:29] tk0miya commented on #4614
The current behavior is useful to me. In addition, we have to keep compatibility.

[2018-07-18 16:12] #5163 closed, assigned to nobody

[2018-07-18 16:12] tk0miya commented on #5163
Fixed by #5180.
Thank you for reporting!

[2018-07-18 16:14] barbara-sfx commented on #5163
Thank you for fixing! I look forward to 1.8.

[2018-07-18 16:37] tk0miya commented on #5113
+1: But I think warning is much better.

[2018-07-18 17:18] asmeurer commented on #4614
I don't really see it as a compatibility break to show all warnings instead of just one. If stopping after the first warning is useful, I would suggest adding a flag for that (like `--stop-after-first-warning`) and making showing all warnings the default for `-W`.

[2018-07-18 20:04] blueyed commented on #4614
I agree.  Should be `--stop-after-first-error` then probably.

[2018-07-19 02:09] asmeurer commented on #4614
Maybe there is a standard flag from a compiler we could reuse. It's kind of similar to make's `-k/--keep-going`.

[2018-07-19 07:38] acsr commented on #1618
+1 for the HTML approach since a source code based solution will be almost useless as we currently get the context of a search in the translation as "source in the canonical language" - This was very disappointing. The Patch available here https://github.com/sphinx-doc/sphinx/pull/4022/files was working for us very well:

[2018-07-19 08:40] tristanlins commented on #1098
Are there plans when this feature should be implemented? I love this asciidoc feature.
However, Sphinx is much better suited for large, extensive documentaries, and I would like to use callouts in my Sphinx documentation. :-)

[2018-07-19 09:11] JohanLorenzo commented on #5139
Thank you for fixing it this quick! :D

[2018-07-19 09:17] tk0miya commented on #5113
@Zac-HD Sorry, I can't reproduce the error. Could you share how to reproduce the situation?

[2018-07-19 09:23] tk0miya commented on #1098
Not planned yet. Any PR or extensions are welcome :-)

[2018-07-19 14:51] tk0miya commented on #4614
I just made a PR #5194. It added `--keep-going` option. What do you think?

[2018-07-19 14:52] #4886 closed, assigned to nobody

[2018-07-19 14:53] tk0miya commented on #4886
Fixed by #5185.
Thank you for reporting.

[2018-07-19 15:25] tk0miya commented on #5149
Okay, I understand.

Sphinx picks up the first section title of the document as a title. If it does not have any headings, Sphinx fills a title "<no title>" by default. This is behavior of Sphinx.

Yes, of course. `title` directive *overrides* a title of current document. Hence this behavior is intended.

I don't know that. The included file is considered as a part of includee file. So it is hard

[2018-07-19 15:25] #5149 closed, assigned to nobody

[2018-07-19 20:17] barbara-sfx commented on #5149
How would I create a feature request such that directives like this in include files do NOT overwrite the target file? If you think about it, it doesn't make sense, since the whole point of include files is to show up in multiple target files. So having the same title get put in multiple documents would never be desirable.

[2018-07-20 06:38] tristanlins commented on #1098
I was afraid that this answer would come 😅

Unfortunately, I am not a Python developer.
But maybe a good opportunity to learn something new 😂
I'll try, but it will take a while ... 😰

[2018-07-20 11:43] Zac-HD commented on #5113
I don't have a minimal reproducer yet - if so I would have opened a PR already!  We've seen autodoc give no output in [Hypothesis' docs](https://hypothesis.readthedocs.io/en/latest/numpy.html) though, and we'd like to catch that when we run a Sphinx build on Travis.

I unfortunately have very little free time at the moment (and several things to fix in Hypothesis), but do intend to come back to th

[2018-07-20 12:23] jreed1701 opened #5195 "Sphinx Classic Theme - Unwanted Border on right side"
Subject: Sphinx Classic Theme - Unwanted Border on right side

### Problem
Upon upgrading from v1.6.3 to v1.7.6 the classic theme that I was using began displaying a right hand side border. I haven't changed anything with my templates/static file or conf.py. It just started happening.  I think there is an extraneous setting that is being looked over since the upgrade which is causing the border to

[2018-07-20 13:05] #5195 closed, assigned to nobody

[2018-07-20 20:43] barbara-sfx opened #5196 "Missing remote image warnings not showing up when building HTML"
### Problem
`make clean latexpdf` or `make clean latex` gives warning messages about missing images in the step "Resolving references", but `make clean html` does not. I don't even see a Resolving References step when doing `make clean html`

#### Procedure to reproduce the problem

`make clean latex`  shows warnings on missing remote images, e.g.
[code]
but `make clean html` does not. So my live

[2018-07-20 21:13] cindyluba opened #5197 "Sphinx x Jython casuing StackOverflowError"
Subject: <what happen when you do on which document project>

 Attempting to run sphinx-quickstart (or any sphinx command)

### Problem
- Running Sphinx commands on Jython

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
I expect the quickstart document structure to be setup.

### Reproducible

[2018-07-20 22:37] vermeeren opened #5198 "document not in toctree warning when including files only for parallel builds"
### Problem

A warning is emitted when including files that themselves are not in the toctree, but ONLY for parallel builds (e.g. `-j auto`). @tk0miya comment in #3167 is correct, without `-j` it does work properly.

#### Procedure to reproduce the problem

In some main `index.rst`, which is included in toctree.

[code]

This `table.rst`, not included by any toctree, is defined as:

[code]

#### E

[2018-07-20 22:38] vermeeren commented on #5198
Also a small question: is it possible for Sphinx to not render these non-toctree include RST files? They currently generate a HTML page and show up in the generated doc search.

Is changing the file extension of the to-be included files the recommended solution for this?

Edit: with this I mean that the file extension is not listed in `conf.py` `source_suffix` option.

Edit 2: we changed extension

[2018-07-21 05:36] tk0miya commented on #5198
Thank you for reporting.
I just made a PR #5200. Could you try this please?
Thanks,

[2018-07-21 06:23] tk0miya commented on #5197
I don't know about jython so much. But it seems the stacktrace you pasted is too shallow.
Is it enough memory settings? Anyway, I feel there are nothing to do from Sphinx side.

[2018-07-21 06:26] tk0miya commented on #5196
Sure. HTML builder does not fetch remote images. So the warnings are never shown.
But it would be nice if we can check its validity by linkcheck builder.

[2018-07-21 07:26] tk0miya commented on #5113
It seems sphinx-build has already emitted warnings for imports.
[code]
https://readthedocs.org/projects/hypothesis/builds/7517368/

If true, additional warning is not needed to me.

[2018-07-21 07:31] #4255 closed, assigned to nobody

[2018-07-21 09:14] tk0miya commented on #5149
The include directive of sphinx works like concatenation.

For example:
[code]
[code]

Sphinx considers them as following:
[code]

It is very simple feature. So there are no way to prevent disable arbitrary directive in included file. So we can't help you if you post a feature request. Please don't use title directive inside included file. I think it is wrong usage.

Thanks,

[2018-07-21 11:09] vermeeren commented on #5198
Hi, the PR fixed some of the warnings. Thanks for the quick reply!

On a single `index.rst` of a page I have 5 `.. include::` in several sections. Before this patch all 5 of them would give a warning, now only 2 of them give a warning. Possibly some other edge case is going wrong?

[2018-07-21 15:07] tk0miya commented on #4500
I confirmed it works well without any modification.

[2018-07-21 16:53] tk0miya commented on #344
Sorry for very late. I just made a PR #5204 for this.
If you still have interested, please try it :-)

Note: It supports docstring of module attributes. But it can't handle imported one. So `doe.foo` is okay, but `john.foo` is not in above case.

[2018-07-21 22:50] heuena opened #5206 "chm charset cp1252 doesn't work on win10"
### Problem
- Python documentation "python366.chm" mojibake on characters
[code]

### Test
Since hh.exe does not allow charset choosing, I test the page with IE.
IE shows the page using default encoding GB2312, seems that 'charset=cp1252' is ignored.
After changing "cp1252" to "Windows-1252", IE gets the right encoding and everything is ok.
I also test "cp950" and "cp932", they are ignored either.

[2018-07-22 09:51] Zac-HD commented on #5113
Ah, it turns out that the problem is that we had different environments (ie installed dependencies) between Travis and readthedocs.io.  I agree that an additional warning is therefore not needed - thanks for pointing this out!

[2018-07-22 09:51] #5113 closed, assigned to nobody

[2018-07-22 10:49] anntzer opened #5208 "linkcheck could also check local (internal) links"
Subject: linkcheck currently doesn't check local (internal) links, but this would be useful.

### Problem
See above.

#### Procedure to reproduce the problem
Create a template project with sphinx-quickstart, put the following in index.rst
[code]

Run `make linkcheck`

#### Error logs / results
[code]

#### Expected results
Also a check for the local link.

### Reproducible project / your project
N

[2018-07-22 12:00] tk0miya commented on #5208
+0: It might be useful. But all we can check is only inside sphinx-document. If users copy extra file in deploy script, we'll misdetect broken links. And it is hard if local hyperlink is absolute path. We don't know where the document will be placed.

[2018-07-22 12:10] tk0miya commented on #5190
Now I added @TimKam to developer group. Welcome to Sphinx project!

@TimKam Could move your name in AUTHORS file to co-maintainers section please? It's first mission of maintainers :-)
And please let me know your account of readthedocs.org. Then I'll add you to sphinx team.

[2018-07-22 12:13] tk0miya commented on #4500
Fixed by #5202.
Thanks,

[2018-07-22 12:13] #4500 closed, assigned to nobody

[2018-07-22 12:28] anntzer commented on #5208
At least this could be an optional feature; I'd guess there are a lot of sphinx deployments which do not add anything manually and just stick to what sphinx generates.

[2018-07-22 12:43] tk0miya commented on #5198
Hmm... I can't imagine about the warning. To fix it, I need reproducible example.

[2018-07-22 12:45] TimKam commented on #5190
@tk0miya Great, thanks! My RtD name is `timotheus.kampik`.

[2018-07-22 12:47] tk0miya commented on #5190
Just added :-)

[2018-07-22 12:49] tk0miya commented on #5208
Agreed. I also believe it is useful.

[2018-07-22 13:08] #5190 closed, assigned to nobody

[2018-07-22 13:32] tk0miya commented on #4422
I check this issue again now. And finally I feel this is not needed. #2437 works well to me.
So I'm closing this now.

[2018-07-22 13:56] tk0miya commented on #4872
ping. any updates?

[2018-07-22 14:09] vermeeren commented on #5198
I created test example in public doc template, please see: https://git.mel.vin/template/doc/tree/sphinx-issue-5198/doc/sphinx-issue-5198

The associated build log: https://git.mel.vin/template/doc/-/jobs/10021

Note that this template uses CMake to configure, it is based upon C/C++ template. You also need sphinxcontrib-plantuml to build, perhaps copying the `sphinx-issue-5198` folder to other proj

[2018-07-22 15:11] tk0miya commented on #4259
It seems current master branch does not emit any warnings for horizon docs.
So I'm closing this.
Please let me know if you still have other issue.

Thanks,

[2018-07-22 15:11] #4259 closed, assigned to nobody

[2018-07-22 15:35] tk0miya commented on #4986
What about this schedule?

* Plan A:
    * Mid of Aug: Feature freeze
    * Early or Mid of Sept: Release
* Plan B:
    * Early Aug: Feature freeze
    * End of Aug: Release

I prefer to Plan A, because we still have many issues on 1.8.0 milestone. I'd like to try to close them as possible before deadline.
Please let me know your opinion.

[2018-07-22 16:48] goerz commented on #4872
Thanks for the reminder.. I'll have some free time in a few weeks. I put it on the calendar for then!

[2018-07-22 20:00] andreycizov commented on #2090
Can someone deny or acknowledge that a Sphinx builder, given a set of lines in conf.py
[code]

Will _never_ copy the files when doing an HTML build?

[2018-07-23 08:25] flying-sheep commented on #4826
@tk0miya do you need more information? I’d do a PR, but I don’t know enough about the inner workings here and how to start best.

[2018-07-23 10:44] andreycizov commented on #2090
For anyone struggling with it: I have fixed it by putting `styles.css` into `_static` directory and then adding an `html_static_path` line:

[code]
I am sorry for spamming the issues of the project with it, but I don't think docs ever mention these two together anywhere, so hard to pin point why it does not work.

[2018-07-23 14:03] tk0miya commented on #2090
The API doc says:

I think this comment describes it.

[2018-07-23 14:18] #2820 closed, assigned to nobody

[2018-07-23 14:19] tk0miya commented on #2820
Fixed by #5203.
Thank you for reporting.

[2018-07-23 15:10] #344 closed, assigned to nobody

[2018-07-23 15:11] tk0miya commented on #344
Merged. It will be released as 1.8.
Thanks,

[2018-07-23 17:39] barbara-sfx commented on #5196
I have seen these messages in the past. So the warnings must have been removed in a sphinx update. If I have time, I can try to revert to an earlier version (although the last time I tried that I kind of screwed up my system due to my general unfamiliarity with some system activities). The last one I used before 1.7.5 was (I believe) 1.6.4.

-- Barbara

[2018-07-24 01:46] ioanna-i opened #5211 "No docs generated for functools.partial functions"
Subject: No docs appear for functions created via functools.partial

### Problem
I have a module which includes some functions created using `functools.partial` and I would like to include those in my doc page. I've used `func.__doc__ = ...` to set the docstring for each partial function.
When I generate the docs the partial functions are completely ignored. I've created a toy example below to rep

[2018-07-24 15:40] tk0miya commented on #5211
`inspect.isfunction()` considers a partial'ed function is not a function.
[code]

For the reason, autodoc can't matching Documenter class for it. We have to fix its comparison rule.

[2018-07-24 16:22] tk0miya commented on #5196
I guess you saw the warnings on resizing image. Actually, HTML builders emits them only on resizing.

[2018-07-24 19:01] barbara-sfx commented on #5196
What do you mean by resizing image? These graphics all take the following format:

in text:

`|image1|`

At the bottom of the file:

`.. |image1| image:: https://raw.githubusercontent.com/.../dashboard_redshift.png`

Image size is never addressed in the docs.

[2018-07-24 20:34] jfbu opened #5213 "Problem of incompatibility with pyspecific extension used by CPython and commit 46797104"
I wanted to build CPython docs in internationalized version (French). I hit against a problem. I could git bisect to find that reverting 46797104 fixed it. The problem does not arise for English docs, but for international version it does.

I have reduced it to a very small project which I am attaching. There is a conflict between extension `pyspecific.py` used by CPython project and commit 467971

[2018-07-25 20:27] InterestsFantastic commented on #1823
I just ran into the same error.

[2018-07-25 20:29] InterestsFantastic commented on #1823
I just ran into the same error.

[2018-07-25 20:31] InterestsFantastic commented on #1823
I think the issue is that there are users (like me) who want to just do something like:

import sphinx
sphinx.make_autodoc()

and have it default to spitting out to the cwd with .rst that displays well on github.

We expect press button, receive bacon, and to be honest, that's desirable, as there are a lot of noobs to programming that want to get started on github and want to make nice looking pro

[2018-07-26 03:09] dabe5 commented on #5187
Namaste

[2018-07-26 03:09] dabe5 commented on #5187
Kolkata

[2018-07-26 03:58] blueyed opened #5214 "sphinx-build reports warning twice"
sphinx-build reports duplicate issues:

[code]

This warning should get reported only once.

This is an issue when using sphinx-build as a linter.

I have not investigated yet, but wanted to report this already.

Sphinx 1.7.6, also happens with master (1.8.0+).

Project https://github.com/pytest-dev/pytest-django.

[2018-07-26 14:05] TimKam opened #5216 "Markdown configuration instructions use deprecated config parameter"
Subject: Markdown configuration instructions use deprecated config parameter

### Problem
The [Markdown parser configuration instructions](http://www.sphinx-doc.org/en/master/usage/markdown.html) refer to the deprecated [source_parsers](http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-source_parsers) configuration parameter instead of the proper [add_source_parser](http://www.s

[2018-07-27 07:47] cetanu opened #5217 "Option to prefix links in generated content"
Hi

I don't have a bug, just looking for an option and can't find it.

Can I prefix the links in the static content generated by Sphinx?

Not everyone wants to serve documents from the root of their web server

[2018-07-27 13:57] wxianxin commented on #3382
@suhailvs Thanks! I only:
 1. create `.nojekyll`
 2. create and change the index.html content to `<meta http-equiv="refresh" content="0; url=./build/html/index.html" />`

And I don't need to do anything else, just `make html`. It works like a charm.

[2018-07-28 08:34] tk0miya commented on #5217
No special options there. All internal hyperlinks sphinx generates are relative, not absolute from root.

[2018-07-28 08:52] tk0miya commented on #5216
In master branch, recommonmark has already used `add_source_parser()` API. But it is not released yet. I feel it has been no longer maintained. The last release was 2+ years ago...

[2018-07-28 09:19] tk0miya commented on #5216
Note: I just send a PR to use new styled APIs in recommonmark. It would be nice if merged. Because old styled `add_source_parser()` will be removed in Sphinx-3.0.
https://github.com/rtfd/recommonmark/pull/113

[2018-07-28 10:58] tk0miya commented on #3740
I just finished migration of math notations to sphinx-core in #4988.
Since 1.8, you can switch math renderer module by `*_html_renderer` setting.

Thanks,

[2018-07-28 10:58] #3740 closed, assigned to nobody

[2018-07-28 15:15] TimKam commented on #5216
Great. Then I'll wait for this PR to be merged, but will prepare a Sphinx docs PR in anticipation asap.

[2018-07-28 15:34] tk0miya commented on #5214
I can't reproduce the warning with following Dockerfile:
[code]
[code]

And it seems the underline of the sectioning you pointed is not short.
Do I need to edit it manually?

[2018-07-28 15:38] blueyed commented on #5214
Yes, you have to edit sectioning to make it short - I've noticed this before committing/pushing it (and fixed it of course).

[2018-07-28 15:43] blueyed commented on #5214
Add this to the Dockerfile to trigger it:
[code]

[code]

[2018-07-29 02:56] tk0miya commented on #5214
Thanks, I reproduced the warning.

And I noticed this comes from docutils. `rst2html` also emits the warning:
[code]
[code]
It seems docutils warns twice if second and subsequent heading is short. But first one is warned only once.

Internally, Sphinx uses docutils to parse reST documents. So I think this is a bug (?) of docutils.
Could you report this to their project?

[2018-07-29 06:16] tk0miya commented on #1823
@DavidCaughell This issue was closed 2+ years ago. So I guess your error might be different with original issue. To investigate your report, I'd like to know your situation.
Could you file a new issue please?

[2018-07-29 06:53] TimKam commented on #5186
As the branch is merged, I'll close this issue. I will add more tests and create new issues for each PR to have a 1-1 Issue - PR mapping.

[2018-07-29 06:53] #5186 closed, assigned to nobody

[2018-07-29 08:06] tk0miya commented on #5196
What I meant is giving resizing option to image directive like this:
[code]

AFAIK old sphinx did not emit warnings for subsutituion (cf. `|image1|`).
Please let me know if you can reproduce it.

If this is regression, I will fix this soon. If not, I will work for this after 1.8 release.

[2018-07-29 11:06] blueyed commented on #5214
Thanks!

IIRC it is on sourceforge, isn't it?
I think it would be better if you could do it, since you also know how it is used in Sphinx.  I'd be happy to look how it goes though of course, and would do it for the next one then.. :)

[2018-07-29 11:24] tk0miya commented on #4582
The description is generated by combination of autosummary and napoleon extensions. But I think that is not intended.
Anyway, the behavior of napoleon was changed at #4047.

Since 1.7, `"int: description of class_var ..."` is converted to following document:
[code]

But, from next release, it will be rendered as following:
[code]

As a result, the summary has been changed since 1.8 release.

[2018-07-29 11:27] #5213 closed, assigned to nobody

[2018-07-29 11:28] tk0miya commented on #5213
Fixed by #5225 :-)

[2018-07-29 11:38] tk0miya commented on #5214
I just posted this to docutils-sig: https://sourceforge.net/p/docutils/bugs/346/
Please track this issue.

Thanks,

[2018-07-29 11:38] #5214 closed, assigned to nobody

[2018-07-29 13:19] tk0miya commented on #726
I just made a new PR #5230 for this. Could anyone test this please?
I'm not good at mathjax. so I don't know this is enough or not.

[2018-07-29 13:19] tk0miya commented on #969
I just made a new PR #5230 for this. Could anyone test this please?
I'm not good at mathjax. so I don't know this is enough or not.

[2018-07-29 14:18] tk0miya commented on #5051
I'm closing this because this is not an issue of Sphinx.
Thanks,

[2018-07-29 14:18] #5051 closed, assigned to nobody

[2018-07-29 14:20] tk0miya commented on #5153
I'm closing this now because this is not a bug of Sphinx.
And I don't think this fix is needed.
Thanks,

[2018-07-29 14:20] #5153 closed, assigned to nobody

[2018-07-29 14:21] tk0miya commented on #5162
I'm closing this now because this is not a bug of Sphinx.
Note: This was reported as https://sourceforge.net/p/docutils/bugs/345/

Thanks,

[2018-07-29 14:21] #5162 closed, assigned to nobody

[2018-07-29 14:23] tk0miya commented on #5184
I'm closing this now because this would not be a bug of Sphinx.
If you are still in trouble, please file a new issue with detailed information.
Thanks,

[2018-07-29 14:23] #5184 closed, assigned to nobody

[2018-07-29 14:24] tk0miya commented on #5166
I'm closing this now because this would caused by usage, not a bug.
Thanks,

[2018-07-29 14:24] #5166 closed, assigned to nobody

[2018-07-29 19:38] InterestsFantastic commented on #1823
Sorry but I've already uninstalled. I'm trying to write a little script to do as I described earlier. When I come back to this in a more professional way (i.e. needing to make good docs with a good program) I will likely use sphinx and definitely report bugs if I do. I got to this page by googling the error message. I think if you try to use '.' as the argument for module path sphinx doesn't like

[2018-07-29 22:13] MrCreosote commented on #2549
`__slots__` seems to play into this as well:

foo.py:
[code]

bar.py:
[code]

log:
[code]

Without `__slots__` this doesn't happen. With `__slots__`, an `id` field appears at the bottom of the class documentation that wasn't there before, and if the classes are in different files, the `ivar` representation links to this field. However, if the classes are in the same file, then the second class's `

[2018-07-30 10:17] road42 opened #5231 ""make html" does not read and build "po" files in "locale" dir."
Subject: make html does not read and build "po" files in "locale" dir.

### Problem
- When I build my documentation, sphinx ignores all my ".po" files.

I debugged the problem down to this line in `builders\__init__.py:258`

[code]

When I remove the content of the Matcher. The `.po` files are
found and everything works

[code]

#### Procedure to reproduce the problem
[code]
but not so easy to rep

[2018-07-30 12:28] ajinkya-deogade opened #5232 "Extension error: Could not import extension sphinx.builders.linkcheck (exception: No module named exceptions)"
Subject: I tried to build documentation using Sphinx on my laptop (python v2.7.15, Sphinx v1.7.6) as well as on ReadTheDocs.

### Problem
At both the places I am getting following error:

**Error on Laptop**

`sphinx-build -b html ./docs/ ./docs/build/`
Running Sphinx v1.7.6
loading translations [en]... done

Extension error:
Could not import extension sphinx.builders.linkcheck (exception: No modu

[2018-07-30 12:59] rigilfanov opened #5233 "Bug with using combining diacritical marks (symbols of UTF-8, from u+0300 to u+036F) in cells of "grid tables" of RestructuredText markup."
For example. We have this table:
[code]

Try build...
[code]
Hm... something is wrong...

Second word -- "restructured" -- including 12 symbols.

But in first word -- "réstructured" -- using u+0301 (combining acute accent), therefore word including 13 symbols. We can check this, just see column number in status bar of text editor.

Ok, we`ll delete 1 space after "réstructured" and before "|":
[c

[2018-07-30 15:00] tk0miya commented on #5233
It seems this is a problem of docutils which is used as reST parser in Sphinx.
[code]

Could you report this to thier project please?
https://sourceforge.net/p/docutils/bugs/

[2018-07-30 15:03] tk0miya commented on #5233
Note: It seems `é` is treated as double width character in the parser.
So you can avoid the trouble by adding additional rule line:
[code]

I know this is workaround. But I hope this helps you.

[2018-07-30 15:22] tk0miya commented on #5232
I guess the error was raised on this line:
https://github.com/sphinx-doc/sphinx/blob/5fd62810b936b376e02e21b987851ffe602a03b7/sphinx/builders/linkcheck.py#L19

And it seems your project overrides `requests` package by mock object:
https://github.com/ajinkya-deogade/GEP/blob/f820dba5aa6d2e54d4c7e366fef60bf5de39c619/docs/conf.py#L44-L52

linkcheck builder is strongly coupled with `requests` module.

[2018-07-30 15:47] tk0miya commented on #5231
Thank you for reporting. I'll take a look this later.
Note: the matcher was added in #4928.

[2018-07-30 15:54] tk0miya commented on #3895
Now I'm closing this now.
Thank you for your proposal.

[2018-07-30 15:54] #3895 closed, assigned to nobody

[2018-07-30 15:57] tk0miya commented on #1728
I'm closing this now.
Thank you for your proposal.

[2018-07-30 15:57] #1728 closed, assigned to nobody

[2018-07-30 16:10] tk0miya commented on #4374
I'm closing this now.
Thank you for your proposal.

[2018-07-30 16:10] #4374 closed, assigned to nobody

[2018-07-30 16:46] rigilfanov commented on #5233
Thank you, tk0miya. I find information about similar trouble with japanese language in grid table.

Namely, [question and answer by 13 year ago](http://docutils-users.narkive.com/uZ1QJ3if/rest-tables-and-double-width-characters).

From release notes, I see note of fix similar trouble by release 0.4 (2006-01-09):

And from [to do list of Docutils](http://docutils.sourceforge.net/docs/dev/todo.html)

[2018-07-30 16:47] #4614 closed, assigned to nobody

[2018-07-30 17:30] ajinkya-deogade commented on #5232
Thanks for pointing out the error. It was the mock object in my conf.py. The problem is resolved.

[2018-07-30 17:48] jfbu opened #5234 "PDF output: usage of PAPER environment variable is broken since Sphinx 1.5"
#### Description of problem

Since Sphinx 1.5, more precisely probably commit 72b76ab6d7, and the deprecation of former configuration variable `latex_paper_size` in favour of `latex_elements['papersize']`, the usage of PAPER env variable is broken: LaTeX document is created with `a4` or `letter` option where it should be `a4paper` or `letterpaper`.

This breaks old projects Makefiles following our

[2018-07-30 17:58] barbara-sfx commented on #5196
As my sample showed, I am not using the ..image:: directive

If time allows, I'll see if I can figure out which version gave the errors. It might have been as far back as 1.4.

[2018-07-30 18:13] barbara-sfx commented on #5196
Oh actually, they have fixed the missing images problem, so I would have to break something to test again. But I am 100% certain it worked before. I was working on a pre-release set of docs which pointed to images in a dev github repo that was still under development and did not yet contain the images the docs linked to. I just had to ignore all the warnings for a while during development. So I do

[2018-07-30 21:07] jfbu commented on #5213
@tk0miya thanks I confirmed I could build CPython (latex) docs in French for current 3.7 branch!

[2018-07-31 02:00] suhailvs commented on #3382
update of @wxianxin

1. Create an empty `.nojekyll` file in the root folder to turn off Jekyll.
2. Create an `index.html` file in the root folder with contents:
 `<meta http-equiv="refresh" content="0; url=./_build/html/index.html" />`
3. Run `make html` then add, commit and push the repo.
4. In the GitHub Pages box in the project **Settings** page, choose to use `master` branch.
5. Visit `https:/

[2018-07-31 05:45] road42 commented on #5231
Ah sorry, I removed my previous comment, that it works on Pyhton 3.5.2. I updated "sphinx" in between and now I have the same error, too.

[2018-07-31 06:33] wilfy50 commented on #3213
I am getting this same problem, Win10, VSCode, F:\FusionSource\_build\html

I added one doc yesterday, built it, and it worked fine.  After doing some work on it, saving it, and rebuilding the HTML files (make) I find the page won't rebuild.   I've deleted it from the build folder and on build nothing re-appears.  Most frustrating.

[2018-07-31 09:08] jfbu opened #5238 "LaTeX: #5181 workaround an RTD issue causes unexpected consequences"
Unfortunately the #5181 fix for RTD issue about doing only 2 pdflatex runs causes problem for documents lacking a general index (created from usage of ``:index:`` role or directive).

RTD does things like

[code]

in place of using the Sphinx Makefile which uses Latexmk and does the automatic number of runs.

#5181 fixes that by anticipating index creation. This patch originated in #3742 which app

[2018-07-31 09:35] jfbu opened #5240 "LaTeX: ``xindy`` does not detect that index is empty, creates empty Index section in PDF"
master branch has incorporated usage of xindy for UTF-8 index in PDF builds. Unfortunately, contrarily to `makindex`, `xindy` does not detect that `.idx` file is empty. With an empty `.idx` file (no usage of ``index`` role or directive in reST sources), `makeindex` produces an empty `.ind` file, but `xindy` produces an `.ind` file including the preamble/postamble the `\begin{sphinxtheindex}...\end

[2018-07-31 10:50] rigilfanov commented on #5233
tk0miya, I wrote to the Docutils project:
https://sourceforge.net/p/docutils/bugs/347/

SourceForge have not very usable interface. Ticket is not editable, but comments is editable.

I will wait for an answer from them.

[2018-07-31 11:29] jfbu commented on #5240
This is fixed by either #5241 (make xindy purely opt-in), or by #5242 (use a shell test to see if raw index file is empty and use xindy only if non-empty). I prefer #5242, hoping its shell syntax works on all Unixen.

[2018-07-31 12:35] jfbu commented on #5234
As an example of a broken project consider the CPython documentation: https://github.com/python/cpython/blob/9c18b1ae527346bc178250ad1ca07bffdacde5dd/Doc/Makefile#L1-L1

[2018-07-31 12:47] jfbu commented on #5234
The CPython [Doc/Makefile](https://github.com/python/cpython/blob/master/Doc/Makefile) contains

[code]

This creates LaTeX files with wrong `a4` option, in place of `a4paper`. It seems this Makefile was updated on model of Sphinx ("old") Makefile at 1.5, at any rate after deprecation of the `latex_paper_size` configuration variable. I will make PR at their project to fix this particular Makefile

[2018-07-31 14:02] jfbu commented on #5234
See https://github.com/python/cpython/pull/8585 for fix to CPython Doc/Makefile.

[2018-07-31 15:53] tk0miya commented on #5240
+1 for #5242!

[2018-07-31 16:00] jfbu commented on #5240
Thanks @tk0miya for advice, I will merge #5242. In future it could be possible as alternative to the ``[ -s FILE.idx ]`` shell test to use a "Latexmk subrule" to express it all in Perl syntax...

[2018-07-31 16:00] #5240 closed, assigned to nobody

[2018-07-31 16:23] tk0miya commented on #5233
Thanks! I wish this bug will be fixed soon.

[2018-07-31 16:27] tk0miya commented on #5232
:-)

[2018-07-31 16:27] #5232 closed, assigned to nobody

[2018-07-31 17:05] jfbu commented on #5238
Fixed at https://github.com/sphinx-doc/sphinx/pull/5239/commits/f0067f4a040a8b37afa3029c54806da9e32772e6

[2018-07-31 17:05] #5238 closed, assigned to nobody

[2018-07-31 17:07] jfbu commented on #5234
Fixed at 077e9af

[2018-07-31 17:07] #5234 closed, assigned to nobody

[2018-08-01 13:59] davidism opened #5246 "Configure sidebars for singlehtml"
It's common to configure one set of sidebars for the index and another set for all other pages. For example, the index page will show project links in the sidebar and the full table of contents in the body, while other pages will show the local table of contents and navigation.

[code]

When using the singlehtml builder, the page name is always "index". It would be desirable to show the table of c

[2018-08-01 15:32] jfbu opened #5247 "LaTeX: PDF does not build with default font config and xelatex/lualatex for Russian language"
When one initiates a new project with ``language='ru'`` and ``latex_engine='xelatex'`` the PDF build aborts with an error

[code]

The problem is that although the Latin Modern font used by default does contain the cyrl script, it is loaded by LaTeX in a way which does not make it available. One must load it explicitely after `\usepackage{fontspec}` with something like this

[code]

then there is

[2018-08-01 15:46] jfbu opened #5248 "LaTeX: Greek letters in section titles disappear from PDF bookmarks"
Consider any project with a Greek letter in text, for example α. Sphinx will escape it to `\(\alpha\)` in the LaTeX output.

If this is in a section title, hyperref will then remove it with some warning during PDF build. The result  is that in the PDF bookmark the Greek letter has disappeared.

### Environment info
- OS: Mac
- Python version: 3.6.4
- Sphinx version: 1.7.x
- TeXLive 2018

Relates #

[2018-08-01 15:54] jfbu opened #5249 "LaTeX: Unicode Greek letters in math directive break PDF build"
Consider any project using Unicode α for example in math mode. The `make html` works fine with MathJax rendering. But the `make latexpdf` fails.

#### Procedure to reproduce the problem

File `index.rst`:

[code]

Do `make latexpdf`.

#### Error logs / results
[code]

#### Expected results

Perhaps it would be nice to be able to use Unicode Greek both in text and in math.

In text this is done by

[2018-08-01 16:15] jfbu opened #5251 "[RFC] LaTeX: provide suitable default font configuration for XeLaTeX/LuaLaTeX"
Although LaTeX from recent years with xelatex or lualatex uses by default Latin Modern, issue #5247  shows Sphinx should make a better default configuration of font package. Currently it makes no font choice at all.

I don't know what could be good choice. Here are two proposals:

**Attention:** on many systems XeLaTeX requires `\setmainfont` with filenames when the font are in the texlive reperto

[2018-08-01 16:52] davidism commented on #5246
I implemented this using the `builder-inited` event in an extension. https://github.com/pallets/pallets-sphinx-themes/blob/c9f4461d575dfbc4deb3deaebab89e4ba03c4576/pallets_sphinx_themes/__init__.py#L62-L68

If the builder is an instance of the singlehtml builder and the config is set, it replaces `html_config['index']`.

I'd have to dig into more Sphinx internals to figure out how this would be im

[2018-08-01 16:52] jfbu opened #5252 "[RFC] LaTeX: choose some default for ``\\sphinxnonalphabeticalgroupname`` (xindy indexing)"
1.8 will have ``latex_use_xindy`` option.

With ``makeindex``  the index contains ``Symbols`` and ``Numbers`` entries. With ``xindy`` I currently did not separate them (for lack of expertise) and they are merged into a single heading called provisorily ``Non-alphabetical``: https://github.com/sphinx-doc/sphinx/blob/53ea40555f1a71802a45d06f4be8da367338526b/sphinx/writers/latex.py#L679-L695

This is

[2018-08-01 17:23] davidism commented on #2589
The issue appears to be that in order to generate a single file, the builder replaces the toc nodes with the actual pages and renders that. See `SingleFileHtmlBuilder.assemble_doctree()`. The toc is still available in templates as `{{ toc }}`, and the links work correctly as long as all headers have unique ids, but I don't think there's a way to conditionally render that in the middle of a RST pag

[2018-08-01 17:24] davidism commented on #1863
Duplicate of #2589

[2018-08-01 21:57] jfbu commented on #5247
Hmm, I said

[code]

But in fact the cyrillic glyph are missing in PDF. This is in LaTeX log:

[code]

from `index.rst`:

[code]

I don't quite understand as Latin Modern does offer the cyrillic script. No such problem arises with

[code]

I need to understand why this does not work with Latin Modern...

(see https://github.com/sphinx-doc/sphinx/issues/5251#issuecomment-409742312)

[2018-08-01 22:13] jfbu commented on #5251
Erratum: I have been confused about Latin Modern because of this

[code]

which led me believe it supported Cyrillic. This appears not be the case, and the Mac Book Font applications says:

[code]

Although "Latin" Modern is quite clear name I thought it supported Cyrillic due to some state of confusion caused by the `otfinfo` output above. (also, with pdflatex and lmodern package, the Cyrillic le

[2018-08-02 01:25] #5217 closed, assigned to nobody

[2018-08-02 08:36] ax3l commented on #3740
This is great news, thank you! :sparkles: :rocket:

[2018-08-02 08:42] jfbu commented on #5251
#### Libertinus

https://ctan.org/pkg/libertinus

[code]

It has much wider glyph coverage than Latin Modern family. In particular it supports Cyrillic, Greek and Hebrew.

[code]

Besides, it has an accompanying OpenMath font which can be set-up with `\usepackage{unicode-math}\setmathfont{Libertinus Math}`.

It has narrow glyphs a bit like Times font used by Sphinx with PDFLaTeX. This helps for co

[2018-08-02 09:33] m-aciek opened #5255 "apidoc internationalization"
Subject: apidoc extension does not internationalize phrases

### Problem
- Files generated with apidoc are English despite locale specified in conf.py.
- Those strings are missing in Sphinx translation on Transifex.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
Not translated files.

[code]

#### Expected results
apidoc-generated files translated in my locale, or a way

[2018-08-02 09:36] Tok3nizer opened #5256 "sphinx + rst2pdf error: unexpected keyword argument 'ts'"
### Error while trying to generate the pdf with rst2pdf

### Problem
I was using sphinx and rst2pdf without any problems but the issue occured today upon a fresh installation on another PC. I'm no longer able to generate the documentation in pdf format. The only difference between my configuration and the new one is the sphinx version: I have v1.7.4 while the new pc has v.1.7.6 (installed by defau

[2018-08-02 11:31] MarcusRiemer commented on #5002
I am also stumbling over this and would much prefer to have texts in my graph to be selectable (therefor keeping the `object`-tag). My workaround consists of a single `CSS`-rule, namely `object { max-width: 100%; }`, that works fine in general but also is too broad and therefore affects non-graphviz `object`-elements. Would it be possible to add a specifc `graphviz` (or whatever unique name you se

[2018-08-02 14:21] tk0miya commented on #5256
This must be a bug of rst2pdf. So please post this to their project.
Thanks,

[2018-08-02 14:27] tk0miya commented on #5255
Did you mean "apidoc" instead of "autodoc"?
I think you can translate generated document by autodoc using gettext.

[2018-08-02 14:43] Tok3nizer commented on #5256
Got it, thanks! I'll do it right away.

[2018-08-02 14:43] #5256 closed, assigned to nobody

[2018-08-02 18:11] TimKam opened #5257 "Add JavaScript unit tests for doctools.js"
**Subject**: Increase test coverage in the basic Sphinx theme's main JS file
This is a follow-up ticket to #5186. I intend to add more tests to have the ``doctools.js`` reasonably well covered (will take time, though).

[2018-08-02 20:40] TimKam opened #5258 "Search highlighting in SVGs does not work in Firefox"
Subject: Search highlighting in SVGs does not work in Firefox

### Problem
Adding JS tests yields the first bug results.
I found that search keywords highlighting in SVGs does not work in Firefox.

#### Procedure to reproduce the problem
1. Add the following markup to a Sphinx page:
[code]
2. Run the HTML build.

3. Open the documentation in Firefox.

4. Search for "шеллы".

#### Error logs / resu

[2018-08-02 22:06] m-aciek commented on #5255
Sure, I mean apidoc, thank you. Let's supose I have one-language documentation, not using i18n for it. Could we add gettext wrappers in apidoc extension to let generated files be already translated according to locale in conf.py?

[2018-08-03 14:57] tk0miya commented on #5255
No, we already have i18n feature. AFAIK, you can use it by `make gettext`. I believe it also works for generated document by apidoc.
So I don't want to support your request.
Thanks,

[2018-08-04 08:55] tk0miya commented on #5251
I don't have strong opinion for this. But I think font is a part of design. So it would be nice if it will be provided as LaTeX-theming in future.
Anyway, I suppose users who specifies `latex_engine` to lualatex or xelatex has knowledge of TeX. So everybody would say okay to either setting.

[2018-08-04 09:42] tk0miya commented on #5002
@MarcusRiemer Good idea! I just made a PR #5260 which implements your proposal :-)

[2018-08-04 09:58] tk0miya commented on #5252
+1 for adding.
In addition, I feel both grouping of `makeindex` and `xindy` are correct.

[2018-08-04 10:09] tk0miya commented on #5246
Good idea! I just implemented it as #5261.

[2018-08-04 10:21] tk0miya commented on #726
Now #5230 is merged.
Thank you for reporting!

[2018-08-04 10:21] #726 closed, assigned to tk0miya

[2018-08-04 10:21] tk0miya commented on #969
Now #5230 is merged.
Thank you for reporting!

[2018-08-04 10:21] #969 closed, assigned to tk0miya

[2018-08-04 11:14] tk0miya commented on #4986
Okay, let's go with plan A. How about this schedule?

* Aug 19th:
   * Feature freeze
   * Call for translatation
   * Release 1.8.0b1 package
* Sept 9th:
   * Release (final)

Note: I'm in JST timezone. So these date would also be in JST.

[2018-08-04 12:23] tk0miya commented on #5196
Until somebody let me know reproducible information, I will keep this as "proposal", not "regression".
Thanks,

[2018-08-05 02:58] skaller opened #5266 "Index entries link to wrong place"
Using RTD, generating HTML, I put index entries before a heading but the link in the index goes to the top of the page. If I put the index entry after the heading before a paragraph, the link goes to the right place, but the heading goes off the top of the browser window.

[2018-08-05 09:50] skaller opened #5268 "Index layout is atrocious (HTML)"
The layout of the index is extremely poor. HTML on RTD. I get a list like this:
[code]

It should look like this:

[code]
or
[code]
Actually this case is harder because "application" by itself (without qualifiers) should be listed.

[2018-08-05 12:20] tk0miya commented on #4946
It seems this issue is not updated for a long time. And reported issues were already fixed. So I'm closing this now.
Please file a new issue if you still have issues.
Thank you for reporting.

[2018-08-05 12:20] #4946 closed, assigned to nobody

[2018-08-05 12:26] tk0miya commented on #5266
Please repost an issue using our issue template. It seems your report does not contain reproducible information.
Thanks,

[2018-08-05 12:26] #5266 closed, assigned to nobody

[2018-08-05 12:26] tk0miya commented on #5268
Please repost an issue using our issue template. It seems your report does not contain reproducible information.
Thanks,

[2018-08-05 12:26] #5268 closed, assigned to nobody

[2018-08-05 13:56] #5191 closed, assigned to jakobandersen

[2018-08-05 14:00] jakobandersen commented on #5191
Thanks for reporting! It should be fixed in the upcoming version 1.8. A warning will be issue for the last declaration (``Class(string f)``), that it is a nested declaration of another function, and the declaration (along with any content) will be completely ignored.

[2018-08-05 14:09] tk0miya opened #5270 "autodoc: Keep preserved order of class attributes"
### Problem
- Since python 3.6, class definition order is preserved (see [PEP-520](https://www.python.org/dev/peps/pep-0520/)).
- autodoc should use it by default (instead of alphabet order)
- refs: #4706

[2018-08-05 14:10] tk0miya opened #5271 "autosummary: Keep preserved order of class attributes"
### Problem
- Since python 3.6, class definition order is preserved (see [PEP-520](https://www.python.org/dev/peps/pep-0520/)).
- autosummary should use it by default (instead of alphabet order)
- refs: #4706, #5270

[2018-08-05 14:49] skaller commented on #5268
Thanks. You've never used an index.

So here is a link:

https://felix.readthedocs.io/en/latest/genindex.html

The result is whatever ReadTheDocs does.  Maybe they use a bad index renderer and I should post the bug there.

[2018-08-06 09:42] roppenheimer opened #5272 "Help Wanted - Build keeps failing"
I have cloned another project which builds successfully but this copy keeps failing the build - I cannot work out why.

The project is https://readthedocs.org/projects/androidaps-altguide/

I get the following error message...

TypeError: 'NoneType' object is not callable

Exception occurred:
  File "/home/docs/checkouts/readthedocs.org/user_builds/androidaps-altguide/envs/latest/local/lib/python2

[2018-08-06 16:03] tk0miya commented on #5272
It seems your error is raised by recommonmark. So this error is related with recommonmark, not sphinx-core.
Please report this to their project.
Thanks,

[2018-08-06 16:03] #5272 closed, assigned to nobody

[2018-08-07 06:41] akaihola opened #5273 "Feature request: Skip doctest conditionally"
Subject: Unit tests can be skipped conditionally using the `@unittest.skipIf()` decorator. A similar feature would be useful for doctests when run by Sphinx.

### Example use cases
- different tests for specific versions of dependencies
- skip tests in absence of optional dependencies
- skip tests in absence of a network or VPN
- skip tests in absence of some hardware

The feature was also mention

[2018-08-07 09:10] akaihola commented on #5273
In my patch above, I simply return an empty list from the `run()` method of the doctest directive classes in case the expression in the new `:skipif:` option evaluates to a true value.

I noticed that in the `:pyversion:` directive, a `SKIP` doctest flag is injected instead. However, this method only seems to be usable for the `doctest::` directive but not for `testcode::` and `testoutput::`. For

[2018-08-07 14:15] tk0miya commented on #4033
Fixed by #5156!
Thank you for reporting :-)

[2018-08-07 14:15] #4033 closed, assigned to nobody

[2018-08-07 15:17] #5002 closed, assigned to nobody

[2018-08-07 15:18] tk0miya commented on #5002
I merged #5260. So all SVG images are automatically resized to 100% width.
Thank you all!

[2018-08-08 07:33] TimKam opened #5278 "Refactor links on Examples page"
As discussed in #5259: I think it would be nice to use properly formatted links instead of raw URLs at http://www.sphinx-doc.org/en/master/examples.html.
If there are no objections, I re-format all links there, i.e.:

[code]
->

[code]
and so on.

[2018-08-08 07:33] magican commented on #944
+1

[2018-08-08 08:24] tk0miya commented on #5278
+1

[2018-08-08 14:17] tk0miya commented on #5273
+0; I don't know doctest module so much. So I don't have any opinion. But it seems worthy.

ping @shimizukawa

[2018-08-09 13:20] #5278 closed, assigned to TimKam

[2018-08-09 22:38] aspiers opened #5281 ""document isn't included in any toctree" warning even when document is linked"
### Problem

A `document isn't included in any toctree` warning is issued even when a document missing from all `toctree`s is linked from another document one of the `toctree`s.

### Procedure to reproduce the problem

Set up a Sphinx tree where one file is only referenced from `index.rst` or another file in the `toctree` via a `:doc:` hyperlink, and is not included or referenced within a `toctree

[2018-08-10 12:40] tk0miya commented on #5281
Certainly, we can follow the document via hyperlink in HTML output. But it is not available for other formats. For example, in LaTeX output, the hyperlink will get broken.
So I think `:orphan:` mark is needed for this case.

[2018-08-10 20:59] #5147 closed, assigned to jakobandersen

[2018-08-10 21:31] jakobandersen commented on #5147
This should work in the upcoming version 1.8.

[2018-08-10 21:49] aztrock opened #5285 "AttributeError: Values instance has no attribute 'link_base'"
Subject: <what happen when you do on which document project>

### Problem
Two automodules in same file

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
two automodule. same file

[code]

### Environment info
- OS: Linux debian 7
- Python version: 2.7
- Sphinx version: 1.7.6

[2018-08-11 09:20] #5126 closed, assigned to jakobandersen

[2018-08-11 09:22] jakobandersen commented on #5126
Thanks for reporting. It should be fixed in the upcoming version 1.8.

[2018-08-11 12:11] aspiers commented on #5281
That's a good point although LaTeX can output to PDF which supports hyperlinks.  But yes, if outputting to formats which don't support hyperlinks then the warning should be preserved.

[2018-08-11 17:40] #5187 closed, assigned to jakobandersen

[2018-08-11 18:15] jakobandersen commented on #5187
The ``cpp_paren_attributes`` is for custom attributes that takes an argument, so that is not the right one to use here. Attributes are only parsed in a few places, and as part of declarators was not one of them. On master, which will become version 1.8, it should work now. You just have to add ``__restrict__`` to ``cpp_id_attributes`` as well.

[2018-08-12 11:28] john-cj opened #5289 "TOC and headings"
index.rst:

[code]

foo.rst:

[code]

bar.rst:

[code]

Actual and desired results:

[code]

Is there a way to achieve it?

Probably there is some way to tell Sphinx which headings are level-1, which ones are level-2 and which ones are level-3? Something like this:

headings_schema.rst:

[code]

As I understand it could theoretically fix the the described issue.

[2018-08-12 14:06] #5289 closed, assigned to nobody

[2018-08-12 22:59] Syndace opened #5290 "Prefer source over installed egg"
Subject: Sphinx tries to get the source from an installed egg instead of the source directory and fails.

### Problem
Sphinx tries to load the source code for the viewcode extension and for the bysource member-order. Usually, the user points sphinx to the sources (using sys.path) and sphinx extracts the sources directly from this directory. If an egg is installed (e.g. using pip), sphinx tries to

[2018-08-13 03:08] miyakogi opened #5291 "WARNING: error while formatting arguments for xxx.XXX: 'ForwardRef' object has no attribute '__origin__' on python 3.7"
Subject: WARNING: error while formatting arguments for xxx.XXX: 'ForwardRef' object has no attribute `'__origin__'` on python 3.7

### Problem
- This warning is raised on python3.7 with autodoc of the below code and type hints does not made in output.

[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results

Output:

[code]

And type hints are not exist in the output HTML

[2018-08-13 10:33] john-cj opened #5293 "BUG: How to get rid of numeration"
I had numbering in my TOC (`:numbered:`). Then, after I removed it, the TOC is still numbered.

(There is no problem with browser cache, I checked the HTML files manually).

I tried to delete `_build` directory, but it doesn't help.

However, if I copy my rst-files to new Sphinx project - the TOC works correctly. (Without numeration). But ONLY if the new project have another name. I.e. if I create

[2018-08-13 10:50] #5293 closed, assigned to nobody

[2018-08-13 12:15] #4911 closed, assigned to nobody

[2018-08-13 16:00] #5246 closed, assigned to nobody

[2018-08-13 16:06] tk0miya commented on #5291
Fortunately, we just fixed it by #5280. It will be released as 1.7.7 soon.
Thanks,

[2018-08-13 16:10] LemonPi opened #5294 "sphinx-quickstart blank prompts in PowerShell"
Subject: using sphinx-quickstart with PowerShell (v1.0) in Windows results in blank prompts

### Problem
![image](https://user-images.githubusercontent.com/5508542/44043664-68ad23ec-9ef1-11e8-9edc-b1977b21ba30.png)

#### Procedure to reproduce the problem
run `sphinx-quickstart`

#### Expected results
Works fine in git-bash
![image](https://user-images.githubusercontent.com/5508542/44043810-bfa104

[2018-08-13 16:13] LemonPi commented on #5294
This seems to be an unfortunate selection of font colour for the default PowerShell colouring scheme since I can select and copy the "blank" prompts...

[2018-08-13 16:14] tk0miya commented on #5290
-1: AFAIK, pypa said good-bye to .egg package. So I think no reason to support it from now on.

[2018-08-13 16:20] tk0miya commented on #5294
Thank you for reporting.
Could you try this script in PowerShell console?
[code]

At present, Sphinx uses purple for prompt of quickstart. If it is conflicted with PowerShell, we have to change it...

[2018-08-13 16:26] LemonPi commented on #5294
@tk0miya Hey thanks for the quick response. `print` parses the colouring as text and we get garbage (in standard white colour): `[35mHello Sphinx[39;49;00m`

ANSI colour escape sequences don't seem to be working (they just print the escape sequence) - I've tried some other colours manually.

Using `colorama` works though

![image](https://user-images.githubusercontent.com/5508542/44044906-fc0c80

[2018-08-13 16:29] tk0miya commented on #5285
It seems `link_base` attribute is not a standard attribute of docutils. It is not also used in Sphinx. I guess it is an original attribute of django's extension.
So I think this is not a bug of Sphinx.

[2018-08-13 16:37] LemonPi commented on #5294
OK yeah the previous garbage printing was because `colorama` wasn't initialized. Initializing with `color_terminal()` we can see that purple needs to be changed.

![image](https://user-images.githubusercontent.com/5508542/44045153-ad9d3100-9ef5-11e8-8351-0d7abe8b5cdb.png)

[2018-08-13 16:40] tk0miya commented on #5294
Thank you for confirmation. Sorry, I'd perfectly forgotten about colorama.
Okay, let's change the color!

[2018-08-13 16:46] LemonPi commented on #5294
36 (cyan) seems to be a decent colour for PowerShell and cmd.
It's not easy to select a colour!

![image](https://user-images.githubusercontent.com/5508542/44045552-d575bfac-9ef6-11e8-8b78-f66d33aac9f1.png)

[2018-08-13 17:09] Syndace commented on #5290
At least python3.5 (the most recent python version in debian stable) uses eggs all over the place. Just `ls` your `site-packages` and see that it's full of eggs.

This issue is not specific to eggs aswell. Even if there is any other packaging mechanism the problem will persist, as long as sphinx looks at installed packages instead of the sources it is pointed to.

[2018-08-13 21:28] certik commented on #3785
@jfbu ok, it looks like I'll have to rework my book to always use the `&` markers. Thanks for your help.

[2018-08-13 21:54] r4ph43l-GitHub opened #5296 "Encoding Error reading sources 'UTF-8'"
# Encoding Error reading sources 'UTF-8'

### Problem
- After fixing the *NotImplementedError: Column or row spanning cells are not implemented.* by updating to 1.6.4, I receive

    **Encoding error:**
*'utf8' codec can't decode byte 0xe4 in position 568: invalid continuation byte
The full traceback has been saved in c:\users\r4ph43l\appdata\local\temp\sphinx-err-h5mqes.log, if you want to report

[2018-08-13 22:56] certik opened #5298 "math_number_all = True causes equations to have two numbers in html"
### Problem
When using the following configuration in `conf.py`:
[code]

All equations suddenly have 2 numbers. A latex generated number `(1)`, and an html generated number (which is correct):

![screenshot_2018-08-13 3 2 complex numbers theoretical physics reference 0 5 documentation](https://user-images.githubusercontent.com/20568/44062326-1525df84-9f19-11e8-94b9-b888acec6371.png)

The html gene

[2018-08-13 23:34] certik commented on #5298
It turns out, this is caused by the `math_number_all = True` flag. If I disable it, then it fixes the problem. But of course, not all equations are labeled anymore.

[2018-08-14 00:24] miyakogi commented on #5291
Thank you for quick response.
But this error still exists on both sphinx 1.7.7.dev20180814 and 1.8.0.dev20180814.

[2018-08-14 10:11] epogrebnyak commented on #3895
Sphinx doucmentation really could do more to expose its workflow to newbies. *sphinx-quickstart* is overloaded with detail, but it does not create a runnable documentation, you need changes to *conf.py* as well as running *sphinx-apidoc*. The documentation says _There is also an automatic “API documentation” generator called sphinx-apidoc_, suggesting it is an extra feature. But if you do not run

[2018-08-14 13:46] tk0miya commented on #3895
@epogrebnyak +1 for an additional document for apidoc. I don't think tutorial is good place to do it, but the document is really we need. PR is welcome :-)

[2018-08-14 13:50] tk0miya commented on #4739
After #4911 and #5264, we can do it finally :-)

[2018-08-14 13:50] #4739 closed, assigned to shimizukawa

[2018-08-14 13:55] tk0miya commented on #5291
oh, sorry. I just reopened.

[2018-08-14 14:00] shimizukawa commented on #4739
㊗️ !!

[2018-08-14 14:17] shimizukawa commented on #5273
+0. I am anxious about whether it will be too many options.
However, it seems good to have an option to exclude doctest under specific conditions from testing.

[2018-08-14 15:10] epogrebnyak commented on #3895
@tk0miya, do you think the workflow outlined above is valid approach to beginner workflow or mind model of sphinx?

[2018-08-14 16:50] tk0miya commented on #3895
Sorry, I don't know so much about apidoc. Personally, I've never used it. So I can't answer it correctly. But I can agree there are very less official document for apidoc. So it would be very nice if we can add a section like "introducing apidoc".

On the other hand, Sphinx is not only for python users. Now it has been used by many people. IMO, apidoc is not a common feature for all of beginners.

[2018-08-14 16:57] tk0miya commented on #5273
Okay, let's go forward.
@akaihola could you send us a PR please? It seems your patch is enough good. I will merge it soon if
 you'll add testcode for it.

Thanks,

[2018-08-14 16:59] tk0miya commented on #5273
Note:
We'll call feature freeze for 1.8 in this weekend. It will be released as 1.8 if the patch will be merged until then.

[2018-08-14 17:14] certik opened #5301 "SVG output is not as nice as MathJax"
The default SVG output looks like this:

![screenshot_2018-08-14 5 1 maxwell s equations theoretical physics reference 0 5 documentation](https://user-images.githubusercontent.com/20568/44106624-67423742-9fb2-11e8-9c35-a61d3653e638.png)

As you can see, the math font is much thinner than the surrounding ReST text, so it looks incompatible. Also the equations are quite thin and look gray instead of

[2018-08-14 18:03] asmeurer commented on #5301
SVG is just using Computer Modern, so if you want it to look like the surrounding text, you should use the same font. MathJax also uses a different font from the main text (your main text font isn't even serif), but I guess it happens to look closer.

This should all be modifiable by changing the preamble.

[2018-08-14 18:04] certik commented on #5301
@asmeurer thanks. I need to figure out what font MathJax uses and then try to use the same font in LaTeX. I'll update the issue here if I figure it out.

[2018-08-14 18:06] asmeurer commented on #5301
I think it uses STIX. Apparently you can change it https://docs.mathjax.org/en/latest/font-support.html

[2018-08-14 19:04] AlbertMietus commented on #3895
I guess, we should make the tutorial a good place for starters.
That are completely newbies. And people -new on Sphinx, but- joining a project that is using Sphinx for documentation...

--albert
An iPhone is great, but for typing mail

[removed mail-tail ]

[2018-08-15 02:40] tk0miya opened #5302 "1.7.7 release plan"
Hi maintainers

Almost 30 days have passed since last stable release. So it's time to release.
I'll ship it on this weekend (8/18 or 19).
Do you have any comments for this schedule?

Note: issues marked as 1.7.7:
https://github.com/sphinx-doc/sphinx/milestone/48

[2018-08-15 08:18] neuschaefer commented on #2504
Arguably the simplest fix for this would be to remove the `/*`. `rm -rf` is already recursive.
(See also https://github.com/coreboot/coreboot/commit/870f69e2214d98a29e623a48953f305326e5870a)

[2018-08-15 13:30] akaihola commented on #5273
@tk0miya, thanks for the note, I'll try to find time to work on this ASAP.

[2018-08-15 16:28] tk0miya commented on #5150
Any updates?

[2018-08-16 05:45] kovidgoyal commented on #5150
What update are you hoping for? As I said, I failed to create a small project to duplicate the error

[2018-08-16 07:45] wqh17101 opened #5306 "Some weird exceptions when building"
Subject:
Some weird exceptions happened when building
the rtd detailed issues
https://github.com/rtfd/readthedocs.org/issues/4528

### Problem
When i use the RTD to build the doc,i meet an exception
then i build it locally ,but also get the same problem

#### Procedure to reproduce the problem
[code]

#### Error logs / results

![image](https://user-images.githubusercontent.com/26429138/44195149-c

[2018-08-16 11:02] akaihola commented on #5273
@tk0miya, I added both tests and documentation for the `:skipif:` option, and created pull request #5307.

[2018-08-16 14:36] tk0miya commented on #5142
Oh, I'm very sorry. My investigation was wrong. The blank line is not related with this problem. autodoc correctly skips it on processing.

* `inspect.getargspec()` which is used by python 2.7 does not support to obtain an argument list of decorated function (as commented above).
* autodoc only uses a docstring of class by default. It means a docstring of `__init__()` method is not used (see doc o

[2018-08-16 15:07] tk0miya commented on #5291
Fixed by #5303.
Thank you for reporting!

[2018-08-16 15:07] #5291 closed, assigned to tk0miya

[2018-08-16 15:33] #5273 closed, assigned to nobody

[2018-08-16 15:45] tk0miya commented on #5298
Fixed by #5304.
Thank you for reporting.

[2018-08-16 15:45] #5298 closed, assigned to nobody

[2018-08-16 16:05] certik commented on #5298
Thank you @tk0miya, much appreciate the quick fix!

[2018-08-16 16:15] certik commented on #5298
I tested it and it works, as of the commit 11331c59230cba17d78b5668bcb6193ba7e9dbe0.

[2018-08-16 17:06] tk0miya commented on #5211
Fixed by #5305.
Thank you for reporting.

[2018-08-16 17:06] #5211 closed, assigned to nobody

[2018-08-16 17:20] tk0miya commented on #5306
It seems `hotfix/doc` branch was removed. Please let me know how to reproduce the error.

[2018-08-16 18:07] wqh17101 commented on #5306
i found the reason and fixed it . Thank you for your help. There were something wrong for typehints.
https://github.com/faneshion/MatchZoo/pull/290
you can see this @tk0miya

[2018-08-17 00:45] tk0miya commented on #5306
Thank you for information. I found the error.

This is caused by a bug of utility function of Sphinx: `sphinx.ext.autodoc.inspector:formatargspec()`. But unfortunately, it is not used in sphinx-core because it is deprecated internally. In this case, it is called by `sphinx_autodoc_typehints` extension.

I'll fix the function later.

Note: `typing.get_type_hints` raises an exception if subject has

[2018-08-17 02:53] wqh17101 commented on #5306
That is great. @tk0miya

[2018-08-17 08:14] HyukjinKwon commented on #5142
Ah, thanks for taking a look and investigating this. Looks I should have taken a closer look. Will get back to you within few days after trying out.

[2018-08-17 12:20] tk0miya commented on #5150
Oh, sorry. I'd misread. I've also failed to reproduce...

[2018-08-17 12:44] tk0miya commented on #3726
Finally I found the reproducible example: #5306!
I made a PR #5309 for this.

[2018-08-17 13:10] tk0miya commented on #5296
It seems this error was raised inside autodoc module. Could you check where autodoc is used?
[code]

I'd like to know how to reproduce this error. So please let me know about your documentation in detail.

[2018-08-17 13:11] tk0miya commented on #5306
Fixed by #5309.
Thank you for reporting.

[2018-08-17 13:11] #5306 closed, assigned to nobody

[2018-08-17 13:11] tk0miya commented on #3726
Fixed.
Thank you for reporting.

[2018-08-17 13:11] #3726 closed, assigned to nobody

[2018-08-17 13:22] r4ph43l-GitHub commented on #5296
Will do in some hours.

[2018-08-18 03:58] tk0miya commented on #5231
I'm trying this issue now. But I can't reproduce this error.
What language do you use? What command line options do you use? Could you share your project if possible?

[2018-08-18 05:56] tk0miya commented on #5198
Thank you for example! I made another PR #5313  for this. And I confirmed it surely fixes the warning.

[2018-08-18 06:26] tk0miya commented on #4075
Now `autodoc_default_flags` accepts dict styled settings by #5215.
Thanks for @LewisHaley!

[2018-08-18 06:26] #4075 closed, assigned to nobody

[2018-08-18 09:12] tk0miya commented on #5198
Now #5313 is merged. Please let me know if it does not work well.
Thanks,

[2018-08-18 09:12] #5198 closed, assigned to nobody

[2018-08-18 10:08] vermeeren commented on #5198
Thank you for the fix, I confirmed it works with all projects that had the issue and it does.

Edit: compared to the initial PR the second one doesn't update changelog, perhaps forgotten or maybe intentional?

[2018-08-18 12:43] mquinson opened #5316 "C++ domain does not like namespaced friends"
Some of my classes declare friend relationship with classes that are in the same namespace. Using the short name (without repeating the namespaces) seem to mess up sphinx with the following error message:
[code]

Here is the content of that `classsimgrid_1_1s4u_1_1Comm.rst` file (generated by exhale):
[code]

The relevant source code is here:
https://framagit.org/simgrid/simgrid/blob/master/includ

[2018-08-18 16:56] tk0miya commented on #5233
Now I'm closing this because this is not a bug of Sphinx.
Thanks,

[2018-08-18 16:56] #5233 closed, assigned to nobody

[2018-08-18 16:57] #5255 closed, assigned to nobody

[2018-08-18 17:15] tk0miya commented on #4986
Hi all,
@jakobandersen @jfbu @shimizukawa

Tomorrow is proposed beta release day. It means feature freeze for 1.8 final. Are you okay?
If you're still in working, please let me know. I can wait for you for a while.

Thank you always for your work :-)

[2018-08-18 19:41] #1552 closed, assigned to nobody

[2018-08-18 20:49] jakobandersen commented on #5316
I think this is a problem with how Breathe handles friend declarations. The error is indeed from Sphinx, and relates only to parsing. If I remember correctly there has been an issue with Breathe assuming all friend declarations are for functions, which could explain part of the issue. Though I don't know why fully qualifying the name seems to help.
Note also that Sphinx has no dedicated support fo

[2018-08-19 03:34] yabuki opened #5318 "search words must be sparated?"
<https://github.com/python-doc-ja/python-doc-ja/issues/792#issuecomment-414098782>

please refer upper issue (Sorry written in Japanese)
のissueを引き継いだ sphinx がわのissue です。

Other way will resolve. If you host on the internet, you can use search engine. Search engines will index your site. then you can search your site with custom search.
It seems for me that this other way should add your choice.

も

[2018-08-19 04:13] tk0miya commented on #5294
Fixed by #5312. It makes the questions bold font.
Thank you for reporting.

[2018-08-19 04:13] #5294 closed, assigned to nobody

[2018-08-19 05:00] shimizukawa commented on #4986
OK.
I appreciate your continued dedicated maintenance.

[2018-08-19 13:28] mquinson commented on #5316
Sorry if I miss-filled this issue against sphinx while the error is in breathe.

I can confirm that fully qualifying all my friend classes actually remove the problem.

BTW, I'm using the Debian version of things:
ii  breathe-doc                       4.9.1-1      all          Sphinx autodox support for languages with doxygen support (documentation)
ii  libjs-sphinxdoc                   1.7.6-1

[2018-08-19 14:44] tk0miya commented on #5302
I just released Sphinx-1.7.7 🎉
Thanks!

https://github.com/sphinx-doc/sphinx/blob/23716142272aa3653943527a7bebec4da621abc4/CHANGES#L22-L44

[2018-08-19 14:44] #5302 closed, assigned to nobody

[2018-08-19 17:20] GildedHonour opened #5319 ""indexer" command doesn't get found"
Linux:

`apt-get install python3-sphinx`

After installing it, the command "indexer" from my "conf" file:

[code]

doesn't get found. Why not?

`sh: 1: indexer: not found
`

[2018-08-20 04:28] tk0miya commented on #4986
Sorry, I didn't have time for beta release. I'll do it again in tonight (in JST).

[2018-08-20 10:04] anntzer opened #5320 "Puzzling traceback when `python -msphinx.ext.intersphinx` is used with an invalid url"
Subject: Puzzling traceback when `python -msphinx.ext.intersphinx` is used with an invalid url

### Problem

When running e.g. `python -msphinx.ext.intersphinx https://www.sphinx-doc.org/`, one gets a rather puzzling traceback:
[code]

Yes, I know that the correct invocation is `python -msphinx.ext.intersphinx/objects.inv`, but it looks like something went wrong in the formatting of the error repo

[2018-08-20 16:29] tk0miya commented on #4986
Hi all,
I just released 1.8.0b1. And I added 1.8 branch. From now on, `master` branch is used for 2.0 release, and `1.8` branch is only for next stable release (v1.8.0).

Thanks,

[2018-08-20 16:54] terrisgit commented on #5291
Is this fix in 1.8.0b1 ? I am seeing a similar problem.

[2018-08-20 23:54] cocoatomo opened #5321 "Translation should have the same document structures as its original"
Subject: Sphinx mistakenly use translation whose structure is not same as original

### Problem
- Sphinx accepts translations even if there are apparently difference between original texts and translated texts. These difference could easily occur (e.g. single whitespace inserted at head of line)

#### Procedure to reproduce the problem
[sample.tar.gz](https://github.com/sphinx-doc/sphinx/files/230

[2018-08-21 06:28] bluescarni commented on #5126
@jakobandersen Thank you! I will try it out on the beta.

[2018-08-21 10:04] astafan8 commented on #5291
I am also getting a similar warning:
`WARNING: error while formatting arguments for xxx.xxx.xxx: '_Any' object has no attribute '__origin__'`

Where does it come from? What is the problem about? When and where is it fixed?

I don't know for sure but it seems that signatures with `Any` cause this warning for me, like:
`def call(self, func_name: str, *args) -> Any:`

@tk0miya

[2018-08-21 10:53] HyukjinKwon commented on #5142
Confirmed. Thanks. At the very least, the configuration should be changed with some additional docstring changes within Spark side - it would need actually some more efforts since some other docs are broken within Spark side when `autoclass_content` is configured but it looks rather a problem within Spark side.

Thank you so much @tk0miya for your time and efforts.

[2018-08-21 10:58] HyukjinKwon commented on #5142
I am pretty sure this can be closed for the current status.

[2018-08-21 11:03] tk0miya commented on #5291
OMG, #5300 breaks `Any` annotation... I'm very sorry. I'll fix it later.

[2018-08-21 11:11] tk0miya commented on #5142
:-)

[2018-08-21 11:11] #5142 closed, assigned to nobody

[2018-08-21 12:09] jfbu commented on #5321
Hi, thanks, somehow `sample.tar.gz` was not attached to your post?

[2018-08-21 12:27] tk0miya opened #5322 "WARNING: error while formatting arguments for example.call: '_Any' object has no attribute '__origin__'"
### Problem
- Since 1.7.6, an AttributeError is raised.
- This was added on #5300.

[code]

#### Procedure to reproduce the problem

[code]
[code]

#### Error logs / results
[code]

#### Expected results
Succeeded.

### Environment info
- OS: Mac
- Python version: 3.6
- Sphinx version: 1.7.7

[2018-08-21 12:28] tk0miya commented on #5291
Note: I made a issue #5322 for the problem on 1.7.7.

[2018-08-21 12:54] tk0miya commented on #5321
It seems he attached it now :-)
I'll take a look later

[2018-08-21 13:01] jfbu commented on #5321
I get

[code]

edit: perhaps the gzipping was removed at some stage by my Firefox when downloading sorry, the attached opens as archive file after renaming to simply `sample.tar`.

(sorry that I did not pay attention to @cocoatomo saying to do `tar xvf sample.tar.gz` which does work)

[2018-08-21 13:59] tk0miya commented on #5321
I moved this to 1.8.0 because some additional warnings will be needed for this.

[2018-08-21 14:15] tk0miya commented on #5321
Note: the main cause is `publish_msgstr()` only picks up the first node from parsed results.
The following nodes are dropped here.
https://github.com/sphinx-doc/sphinx/blob/3dcbe14c6fb8437f1cfb05cb9f267550e9e38717/sphinx/transforms/i18n.py#L61-L65

[2018-08-21 14:52] Karmaki opened #5325 "Mutiply defined label in LaTeX output"
I am migrating an existing document that used to be compiled with an old version of sphinx (1.3.6) to a newer version (1.7.7 installed through pip) and I have some problems with the labels in the LaTeX output when I have several labels for the same section title.

Example:
[code]

gives in the LaTeX file:
[code]

Then, when the document is compiled, I get:
[code]

I would be very happy to find at

[2018-08-21 17:22] tk0miya commented on #5319
Parhaps, do you want Sphinx-search? If true, this package is not. This is a documentation tool.
http://www.sphinx-doc.org/en/master/

[2018-08-21 17:22] tk0miya commented on #5320
+1; the error is too ugly.

[2018-08-21 18:31] pradyunsg opened #5326 "Error while building restructured documentation"
### Problem
- This is a case of user error -- specifying the man page location in an incorrect manner. I'm getting a traceback instead of a helpful message here.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
A better error message.

### Reproducible project / your project
- Provided above.

### Environment info
- OS: MacOS High Sierra
- Py

[2018-08-21 19:08] kyleam opened #5327 ""document isn't included in any toctree" warning on rebuild with generated files"
Hello,

As of c0ba51902 (Fix #5198: document not in toctree warning when including files only for parallel builds, 2018-07-21), rebuilding with a generated rst file that is included in another rst file seems to give spurious "*.rst:document isn't included in any toctree" warnings.  I first noticed this in DataLad's Travis tests ([here's][0] an example) when Sphinx v1.7.7 started being used.  I can

[2018-08-22 02:39] tk0miya commented on #5290
Could you share any example? I'd like to investigate it in detail.
On my local (docker images), I can't find any egg packages on debian stable. I know they contains .egg file. But they are not archive files.

[2018-08-22 08:45] Karmaki commented on #5325
The problem already exists in the 1.6.7 version (that comes with the last LST Ubuntu 18.04).

I forgot to say that the problem can be easily reproduce in a fresh `sphinx-quickstart` installation. Just copy/paste the lines above in the `index.rst` file and run `make latexpdf`.

[2018-08-22 09:41] Karmaki commented on #5325
A workaround is to keep only one label before the section title, and to put the others between the title and the body of the section.

[2018-08-22 10:50] tk0miya commented on #5326
Thank you for reporting.
I reproduced the error if `man_pages` option contains invalid docname.

[2018-08-22 11:39] tk0miya commented on #5320
Fixed by #5320.
Thank you for reporting.

[2018-08-22 11:39] #5320 closed, assigned to nobody

[2018-08-22 12:58] tk0miya commented on #5326
I added warning at #5330.
Thank you for reporting.

[2018-08-22 12:58] #5326 closed, assigned to nobody

[2018-08-22 13:05] pradyunsg commented on #5326
Thanks for the super quick fix! :)

[2018-08-22 13:38] tk0miya commented on #5322
Fixed by #5333.

[2018-08-22 13:38] #5322 closed, assigned to tk0miya

[2018-08-22 13:39] tk0miya commented on #5291
I fixed this again by #5333.
Could you check this please? You can test it with HEAD of 1.7 branch.

[2018-08-22 13:40] tk0miya commented on #5325
Fixed by #5332.
Thank you for reporting.

[2018-08-22 13:40] #5325 closed, assigned to nobody

[2018-08-22 14:08] tk0miya opened #5335 "quickstart: escape sequence has been displayed with MacPorts' python"
### Problem
- quickstart: escape sequence has been displayed with MacPorts' python
- reported by @cocoatomo

[code]

#### Procedure to reproduce the problem
Invoke `sphinx-quickstart` simply.

#### Expected results
All questions are colored.

### Environment info
- OS: Mac
- Python version: 3.7.0 (installed with MacPorts)
- Sphinx version: 1.7.6

[2018-08-22 14:11] tk0miya commented on #5335
It seems this trouble is caused by libedit which is used by MacPorts by default.
[code]

After installing `py37-gnureadline` package, it is resolved.
[code]

[2018-08-22 14:28] tk0miya commented on #5285
I'm closing this because this is not a bug of Sphinx.
Thanks,

[2018-08-22 14:28] #5285 closed, assigned to nobody

[2018-08-22 20:30] bluebird75 commented on #2915
The issue was reproduced with the following table :
[code]

[2018-08-22 23:11] m-aciek commented on #5255
Ok, thank you for your feedback.

It looks like I can achieve similar result using https://github.com/goerz/better-apidoc (and waiting for #3545 to be done). I'll check it out.

[2018-08-22 23:48] svenevs opened #5337 "C++ domain: oscillating build failures using function overload cross-refs"
Subject:  oscillating build failures using function overload cross-refs

CC: @mquinson

### Problem

This one is really quite strange.  Initial build -> success, repeat build with no changes -> failure, repeat build success, etc.  So every other build will fail.

This is using Sphinx 1.8.0.b1, and using the newly added (and beautiful) [function overload cross-references](http://www.sphinx-doc.org/

[2018-08-23 07:25] juh2 opened #5338 "trim_footnotes_reference_space has no effect"
Subject:

The configuration value trim_footnotes_reference_space has no effect in Sphinx 1.7.6 and 1.8.0b1

### Problem
- When I set a footnote like this [#]_ there is a space between the reference number and the text. From the documentation I guess that setting trim_footnotes_reference_space to True should trim the space.

- I have to trim the space with a backslash before the space `\ [#]_`

###

[2018-08-23 18:47] jat255 commented on #4746
Just to close the book on this, it looks like the upstream issue was fixed in the 2018.2 release of PyCharm

[2018-08-24 06:36] jakobandersen commented on #5337
Thanks a lot for the bug report. For a long time I have noticed that partial builds would sometimes break some symbol lookups, and your example perfectly reproduces the problem (though with more harsh consequences due to the new cross-references).
I didn't try the Exhale example, but the Breathe example triggers the problem. The pure Sphinx example seems to work on my machine though.

[2018-08-24 06:46] juh2 opened #5339 "Sphinx 1.8.0b1 does not build with Bootstrap Theme"
Subject:

Sphinx 1.8.0b1 does not build with the Bootstrap Theme

### Problem

Maybe this is a Theme problem, but anyway using the bootstrap theme causes an error.

#### Procedure to reproduce the problem

Create a new sphinx project and use the bootstrap theme.

conf.py:

[code]

#### Error logs / results

[code]

### Environment info
- OS: Linux sokrates 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb

[2018-08-24 06:53] juh2 commented on #5339
This seems to be a Theme problem. Same error with Sphinx 1.7.6

[2018-08-24 09:38] anntzer opened #5340 "Incorrect signatures in sphinx docs."
At http://www.sphinx-doc.org/en/master/extdev/logging.html#sphinx.util.logging.SphinxLoggerAdapter, the signatures of the logging functions are given as `error(level, msg, *args, **kwargs)` (and so on), but the functions (other than `log` itself) don't actually take `level` as first argument.
Also, it's a bit curious that half of the kwargs are documented under `warning` and the other half under `

[2018-08-24 12:40] anntzer opened #5341 "Selectively ignoring changes to conf.py when deciding what to rebuild"
Subject: Selectively ignoring changes to conf.py when deciding what to rebuild

### Problem
Currently, if sphinx detects that a value has changed in conf.py (compared to the previous run), it invalidates the entire previous environment and rebuilds the whole thing from scratch.  For a project such as Matplotlib, a doc build can easily take 5-10min, so I'd like to avoid spurious rebuilds when devel

[2018-08-24 16:24] r4ph43l-GitHub commented on #5296
Unfortunately I cannot tell you where the error came from... Running 1.7.6 and 1.7.7 this issue is no longer reproducable and can be marked fixed in 1.7.6

[2018-08-24 16:30] tk0miya commented on #5341
How about giving an option like `-D version=""`? It forcedly overrides the variable. So Sphinx would not rebuild the document even after committed.
Another way, you can give git hash as the version only on CI: ```-D version=`git rev-parse HEAD` ```.

[2018-08-24 16:42] tk0miya commented on #5340
Thank you for letting us know. I'll fix it later.

About color option,  first sentence describes about `error`, `critical` and `warning`. Another one describes about `log`, `info`, `verbose` and `debug`. So I think there are no contradiction.

[2018-08-24 16:47] tk0miya commented on #5340
Note: I found the description of default color is not correct.

[2018-08-24 16:52] tk0miya commented on #5339
Is this correct setting?
[code]

It seems bootstrap theme expects it is not surround by bracket.
http://ryan-roemer.github.io/sphinx-bootstrap-theme/README.html#installation

[2018-08-24 17:12] anntzer commented on #5341
Ah, that looks good.  Thanks, sorry for the noise.

[2018-08-24 17:12] #5341 closed, assigned to nobody

[2018-08-24 17:18] tk0miya commented on #5338
Please use `trim_*footnote*_reference_space` instead (footnote is singular).
http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-trim_footnote_reference_space

[2018-08-24 17:32] tk0miya commented on #5296
Okay, I'm closing this because unreproducible. But please reopen this again if you get same error in future.
Thanks,

Note: The error was raised on decoding error message. It means the original error message contains non-ASCII characters. So it would be nice what message was raised originally to fix it (if reproduced again).
[code]

[2018-08-24 17:32] #5296 closed, assigned to nobody

[2018-08-25 02:07] tk0miya commented on #5327
Fixed by #5334.
Thank you for reporting!

[2018-08-25 02:07] #5327 closed, assigned to nobody

[2018-08-25 02:33] kyleam commented on #5327
Confirmed.  Thanks for the quick fix!

[2018-08-25 06:13] tk0miya commented on #5335
Fixed by #5336.
@cocoatomo Thank you for reporting!

[2018-08-25 06:13] #5335 closed, assigned to tk0miya

[2018-08-25 09:50] tk0miya opened #5347 "1.7.8 release plan"
Hi maintainers,

Unfortunately, major bug (#5322) was found on Sphinx-1.7.7. It fails to generate a document from python code which has `Any` annotation. It is able to generate with v1.7.7. So I will ship a bug fix release within a day (if no bugs more).

Please let me know if you have opinion.

[2018-08-25 12:24] tk0miya opened #5348 "download reference to remote file is displayed"
### Problem
- download reference to remote file is warned

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
And download link is disabled in generated HTML.

#### Expected results
- No warnings
- Enable hyperlink to remote file

### Environment info
- OS: Mac
- Python version: 3.7.0
- Sphinx version: 1.7.7

[2018-08-26 02:13] tk0miya opened #5351 "C++: test_domain_cpp:test_expressions has been failed"
### Problem
- `test_domain_cpp:test_expressions` has been failed on my local
- It is only raised on 1.8 branch and py27.
    - 1.7 branch is fine.
    - 1.8 branch and py3 is also fine
- On Travis CI, it is not in trouble too.

@jakobandersen could you check this please? It seems this was happened only on my local.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

[2018-08-26 02:31] tk0miya commented on #5340
Fixed by #5343.
Thank you for reporting.

[2018-08-26 02:31] #5340 closed, assigned to nobody

[2018-08-26 03:03] tk0miya commented on #5197
I'm closing this because this might be caused by jython's setting.
Please feel free to reopen if you are still in trouble even if setting changed.
Thanks,

[2018-08-26 03:03] #5197 closed, assigned to nobody

[2018-08-26 03:23] tk0miya commented on #5138
+0; I don't think this is a bug. But it is reasonable.

[2018-08-26 03:27] tk0miya commented on #4936
`Requires-Python` metadata has been applied since Sphinx-1.7.5.
And we determined not to re-upload past releases.
So I'm closing this now.
Thank you for advice!

[2018-08-26 03:27] #4936 closed, assigned to nobody

[2018-08-26 03:38] tk0miya commented on #4826
Sorry for late response.

I feel a bit strange for your proposal. I think the qualified names are not **undocumented**. That means it is private members. I don't think it is good way to expose qualified names automatically.

[2018-08-26 09:30] jakobandersen commented on #5337
This indeed uncovered some old problems, but I it should all be fixed in #5354. @svenevs, do you have time to test this branch on the full project you encountered the problem before I merge it?

[2018-08-26 09:41] svenevs commented on #5337
Wow! Yes, I'll be back at a computer in ~15 minutes!

[2018-08-26 09:43] jakobandersen commented on #5351
Hmm, I can't reproduce it on my machine, but I think the problem boils down to the following Python code:
[code]
Does this work on your machine?

[2018-08-26 09:59] svenevs commented on #5339
This is a usage error, see [sphinx-bootstram-theme/#165-comment](https://github.com/ryan-roemer/sphinx-bootstrap-theme/issues/165#issuecomment-335677785) ;)

[2018-08-26 10:19] svenevs commented on #5337
@jakobandersen I can confirm that this **fixes the breaking ref lookups**!!!!!!!!!  It fixes both the `docs_breathe` one, as well as the original code framework that this came from.

"Problem 1" still persists (`api/unabridged_api.rst: WARNING: document isn't included in any toctree`) in the `docs_exhale` test, warning produced on second and subsequent builds.  However, it seems I misdiagnosed thi

[2018-08-26 10:28] tk0miya commented on #5339
We've provided an entry_point to configure HTML themes. I hope all themes uses this.
http://www.sphinx-doc.org/en/master/theming.html#distribute-your-theme-as-a-python-package

[2018-08-26 10:36] tk0miya commented on #5351
I got such result:
[code]

Is this related with `--enable-unicode=ucs2`? On my local, python2.7 was compiled with `ucs2`:
[code]

refs: https://stackoverflow.com/questions/1446347/how-to-find-out-if-python-is-compiled-with-ucs-2-or-ucs-4

[2018-08-26 11:05] ofenerci opened #5355 "Any snippets source for Sphinx documentation."
I wonder  there are any snippets to speed the writing of sphinx documents. Although those snippets are editor specific, we  may adapt those into other editors.

[2018-08-26 11:07] jakobandersen commented on #5337
Thanks! Merged.

This I am quite sure is a completely different problem that I don't know much about. Maybe #5281 fits, otherwise please open a new issue.
The mailing list doesn't seem to have much activity, so if it can be formulated as a Github issue that may be best.

There may be a way to break it, but it wouldn't be a regression, and I'm not sure the documented C++ would be valid :-) ("crash-

[2018-08-26 11:07] #5337 closed, assigned to jakobandersen

[2018-08-26 11:22] jakobandersen commented on #5351
I get 1114111 for both Python 2 and 3 on my machine, so that may very well be it. Until I find time to make a proper fix for all large unicode literals I think we should just conditionally disable that specific test. See #5356.

[2018-08-26 11:53] svenevs commented on #5337
Lol crash-driven-development rule 1: undefined behavior shall be randomly defined.

Ok I'll open a separate issue soon, this seems to be a separate issue / possible regression. I'll spend a little more time hunting down when this broke though ;)

Thanks again!

[2018-08-26 12:17] tk0miya commented on #5355
I think sphinx-users is much better to post such topic.
https://groups.google.com/forum/#!forum/sphinx-users

Thanks,

[2018-08-26 13:11] ofenerci commented on #5355
Done.

[2018-08-26 13:11] #5355 closed, assigned to nobody

[2018-08-26 13:41] tk0miya commented on #3857
Sorry for very very late response.

It seems @shimizukawa has been busy.
Okay, let's go ahead. But I've not understood what we should change. Could you send us a PR please?

[2018-08-26 13:48] tk0miya commented on #4660
Sorry, I'd never used django. Could you share me a reproducible example? It would be very helpful for me.

[2018-08-26 15:37] tk0miya commented on #3157
I confirmed this issue is already fixed. The `Set.identify` is documented with latest Sphinx.
[code]
[code]

So I'm closing this now. Please feel free to reopen if you are still in trouble.
Thanks,

[2018-08-26 15:37] #3157 closed, assigned to nobody

[2018-08-26 16:10] tk0miya commented on #4257
Unfortunately, there are no way to do that. The `autoclass` directive always shows its signature automatically.

+1: I agree that it is valuable if we can show explanations both of the class and `__init__()` method independently.

[2018-08-26 16:18] tk0miya commented on #4056
I think this is already fixed by #4813. And it was released as 1.7.3.
Please try it out.
Thanks,