[2017-10-06 12:57] martin-ueding commented on #2
Neither extension has been ported to Python 3, so if you want to use Sphinx with Python 3, you are out of luck. One can move to [Tinkerer](http://tinkerer.me/), though that seems like a major change to me.

- I have tried to port `sphinx-contrib/feed` to Python 3, but the feed that is generated does not seem to be a valid RSS feed. At least Akregator and W3C do not like it.

- `sphinxfeed` depends

[2017-10-06 14:55] lquissakng opened #4123 "search is not working for some words."
Subject: search is not working for some words.

### Problem
Search box is not working on our project using pt language. For example, word "VM" is not comming.

#### Procedure to reproduce the problem
Go to search box and try to search "então", "do", "que", etc. The result is:
Your search did not match any documents. Please make sure that all words are spelled correctly and that you've selected eno

[2017-10-07 06:47] #4108 closed, assigned to shibukawa

[2017-10-07 06:54] tk0miya commented on #4123
@shibukawa could you check this please?
AFAIK, Sphinx does not add short keywords like 'do' to index. so it would not be matched any document. Is this right?

[2017-10-07 08:46] tk0miya commented on #3976
Hmm... I still can't reproduce this. Even using @cpaulik 's Dockerfile, I can't.
Please let me know the way to reproduce this. It would be nice if it is on docker.

[2017-10-07 10:35] tk0miya commented on #4106
@cocoatomo is this resolved by your PR #4124?

[2017-10-07 11:55] shibukawa commented on #4123
Yes, not only Sphinx but also many search engines define stops words, they are not indexed.
See the following code:

https://github.com/sphinx-doc/sphinx/blob/master/sphinx/search/pt.py

[2017-10-07 14:45] tk0miya commented on #3692
I added an error handler for this. It emits warning message if writing `.buildinfo` file failed.
I hope this might help you.

Thanks,

[2017-10-07 14:45] #3692 closed, assigned to nobody

[2017-10-07 16:10] cocoatomo commented on #4106
@tk0miya No, the last PR for this issue is #4125.

[2017-10-08 04:14] tk0miya commented on #1448
Reopened. We should review the patches before closing. I think some of them is obviously important.

[2017-10-08 08:05] tk0miya commented on #1448
Note:

* `0001-Document-the-qthelp_basename-option.patch`:  I said this is "important" patch. But our document is already updated on master branch. (I only checked stable branch and there are no docs there...)
* `0002-Add-the-qthelp_namespace-option.patch`: enough reasonable. The qthelp expects the namespace is identifier like domain name. It should be modified.
* `0003-Make-the-qch-output-name-co

[2017-10-08 09:07] jean commented on #2264
Is it possible to log in more detail why lexing failed?

[2017-10-08 13:08] kvalev opened #4126 "Using base class docstring does not work for properties"
Subject: Docstring for Python properties that do not have one should be inherited from the same property in the parent class.

### Problem
I checked out the latest Sphinx version to test out the generation of docstrings for methods and properties that do not have one declared explicitly, but there is one in the base class (#3140). It seems that the docstring generation works for methods, but it do

[2017-10-08 16:37] tk0miya commented on #2264
@jean could you file a new issue please? I'll take a look later.

[2017-10-08 16:38] #1448 closed, assigned to nobody

[2017-10-09 13:20] henrich opened #4131 "renumber through whole footnotes"
### Problem and Expected results
If I divide files to chapters, footnote numbers are always start 1 for chapters. However, I don't want such behavior but numbering through whole chapters is better.

So please add  https://gist.github.com/tk0miya/83259d3cda6a9d5d1d7488f40a8d8396 to sphinx itself.

[2017-10-09 16:06] rickatnight11 opened #4132 "Errors from list-table get ignored"
### Problem
Errors when parsing `list-table` directives don't seem to be treated like other errors (don't abort the build or exit non-zero).

#### Procedure to reproduce the problem

Test RST:

[code]

Builds cleanly:

[code]

Then break with an indentation change:

[code]

Build shows the error, but does not abort or exit non-zero, and follow-up build pretends to be clean:

[code]

#### Expected

[2017-10-09 17:49] lquissakng commented on #4123
Hello Yoshiki, in this case should we change the pt.py removing the words
we would like to be searched?

<https://about.me/l.quissak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Luís Fernando Quissak
about.me/l.quissak
<https://about.me/l.quissak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

2

[2017-10-09 18:32] mwoehlke opened #4133 "RFE: Add mechanisms for customizing automatic section numbering"
I'm working on a document (more particularly, I'm [ab]using sphinx to write a novel) that has rather particular requirements for section names:

* Some sections should not be numbered.
* Some sections are numbered, but must have specific (non-changing) text *before* the number.
* Some sections should be numbered with Roman numerals.
* Numbering should restart between groups of sections with differ

[2017-10-09 18:43] mwoehlke commented on #4133
I have an approach that "works for me", [here](https://github.com/mwoehlke/sphinx/tree/better-auto-numbering). However, it only supports HTML builders for now, and on further consideration, is probably not the best approach. The "right" way to do this is possibly to have the user supply a Python function that turns the number tuple into a string, with some way to select different convertors or pas

[2017-10-09 20:02] funkyfuture opened #4134 "docutils.conf is not documented explicitly."
though a `docutils.conf` [is mentioned](http://www.sphinx-doc.org/en/stable/search.html?q=docutils.conf&check_keywords=yes&area=default) in the documentation, it should be mentioned explictly in the `config.rst` that it is possible to create such for further configuration.

[2017-10-09 20:11] felipecaputo opened #4135 "Consistency check is not considering included documents"
Subject: I'm currently making documentation in more the one file to keep sanity, and including files into the main document files.

### Problem
- When I make the project, the consistency checks says that `FileA.rst` ins't included in any toctree, but it is by the `include`

#### Procedure to reproduce the problem
Create a .rst file and include another .rst file

Then build the project

[code]

###

[2017-10-09 21:42] JulienPalard opened #4136 "U+2212 MINUS SIGN breaking PDF generation"
Subject: When using U+2212 to denote a negative integer, sphinx can no longer build PDF.

### Problem

Unicode character U+2212 in rst files breaks PDF generation.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results

I'd just expect my minus sign to be correctly rendered in a PDF file.

### Environment info
- OS: Debian sid
- Python version: 3.6

[2017-10-09 21:56] JulienPalard commented on #4136
Same with Є U+0404 CYRILLIC CAPITAL LETTER UKRAINIAN IE:

[code]

[2017-10-09 22:04] jfbu commented on #4136
U+2212 belongs to the Symbol, Math category of the Mathematical Operators block. As such, naive stand of a LaTeX user would be that this is supposed to be used in math mode. Thus the nowadays standard LaTeX answer is to say to switch to Unicode engine xelatex or lualatex and use package unicode-math. Its default config will arrange for suitable math fonts hopefully having the glyph.

As per U+0404

[2017-10-10 08:53] glyg commented on #4136
Relevant tests from pandoc's default.latex template:

[code]
Hope this helps
To summerize:
* No inputenc
* No fontspec
* No babel
* Packages:
  - mathspec
  - xltxtra,xunicode
  - polyglossia

And the tricky hyperref options...

[2017-10-10 09:48] wojdyr opened #4137 "[sphinx.ext.doctest] set language for doctest blocks"
It would be nice to have the language of `doctest` blocks set to Python.
It matters in documents that have `highlight_language` set to something else (in my case c++).
I think in such cases it's currently necessary is to use the `highlight` directive before (and after) doctests.

It's not very convenient, so I monkey-patched it in my conf.py:
[code]

but it'd be more elegant to have it in [ext/doc

[2017-10-10 10:12] jfbu commented on #4136
Well, check Sphinx's [latex_engine](http://www.sphinx-doc.org/en/stable/config.html#confval-latex_engine) config setting. The default will use polyglossia.

One can recommend adding `\usepackage{unicode-math}` to preamble (which provides `\setmathfont` in particular).

About using `mathspec` (xetex only) : it serves not much simply loading it without using its commands.

As per  `xunicode` I think

[2017-10-10 10:27] jfbu commented on #4136
@JulienPalard There is no problem with

[code]

So if your document uses suitable language it will ok, also with traditional pdflatex.

For an isolated letter, you may need more. Please provide a minimal example of Sphinx project displaying the problem. You could modify `'babel'` key for extra language used for special letters. Then package `newunicodechar` can facilitate using dedicated (TeX) fon

[2017-10-10 10:47] jfbu commented on #4136
@JulienPalard

This:

[code]

shows (but see note below) how you can configure your Sphinx project latex preamble : you only need modify the ['babel'](http://www.sphinx-doc.org/en/stable/config.html#confval-latex_elements) latex-elements key and add to preamble the two lines with `newunicodechar`.

It will fix your `Є` problem if it is a one-shot problem with this letter, with no change needed to

[2017-10-10 11:01] tk0miya commented on #4106
closed via #4125

[2017-10-10 11:01] #4106 closed, assigned to nobody

[2017-10-10 12:03] jfbu commented on #4136
As proof of concept I have tried this in `conf.py`

[code]

then I compile my project containing `Є` character using `make latexpdf`.

There is no problem and the build succeeds. Warnings appear in the LaTeX log:

[code]

which says that the (TeX) Times font (from ``\usepackage{times}``)  does not exist in the `T2A` encoding loaded by `russian` language. But the Computer Modern font exists in this

[2017-10-10 12:35] jfbu commented on #4136
Still for cyrillic letter , there is an alternative to using `russian` language locally. One does

[code]

This gives more efficient code (the `babel` method also sets up hyphenation patterns which however are not needed for an _isolated_ letter). Problem is that average LaTeX user will not know how to automatize, where does the `\IeC {\CYRIE }` come from. There is an intrinsic LaTeX problem which

[2017-10-10 12:43] peterjc commented on #4075
The team's preference is new settings in ``conf.py`` like ``autodoc_exclude_members`` and ``autodoc_special_members`` taking lists - hopefully #4076 will be merged to implement this.

[2017-10-10 12:47] peterjc commented on #4057
It seems the accepted work around is to define defaults in ``conf.py`` instead - which for some workflows is actually preferable (e.g. if always regenerating the RST file using ``sphinx-apidoc``).

See issue #4075 and associated pull request #4076 for adding ``autodoc_exclude_members`` and ``autodoc_special_members`` settings to ``conf.py``.

[2017-10-10 14:18] shibukawa commented on #4123
Yes. But as you know, Sphinx makes index files and browsers should download it to search. Removing the word could expand your index file size.

[2017-10-10 16:28] carlosdanielcsantos opened #4139 "TypeError when copying static files (TravisCI)"
Subject: TypeError with Sphinx + tox + tox-travis + TravisCI

### Problem
When running `sphinx-build -W -b html -d {envtmpdir}/doctrees .  {envtmpdir}/html` from a tox.ini that is called with TravisCI using tox-travis, a TypeError is raised when copying static files.

#### Procedure to reproduce the problem
.travis.yml

[code]

tox.ini

[code]

#### Error logs / results
[code]

#### Expected resul

[2017-10-10 16:39] carlosdanielcsantos commented on #4139
Just tried with Sphinx 1.6.1 and this error does not occur!

[2017-10-10 16:56] lquissakng commented on #4123
Hello Yoshiki, no problem we have a small content. Let´s try!

Thanks.

<https://about.me/l.quissak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Luís Fernando Quissak
about.me/l.quissak
<https://about.me/l.quissak?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>

2017-10-10 11:18 GMT-03:00 Yoshiki

[2017-10-11 09:42] stephenfin commented on #4139
This is a duplicate of #4070 and #4111. This was fixed in 50640b700b4cbc9b141a72765378d9a1e416bd22 but has not yet been included in a release. Guess you need to wait for Sphinx 1.6.5 to drop and exclude 1.6.4 (and maybe 1.6.3? idk) until that time:

    $ cat requirements.txt
    Sphinx>=1.6,<1.7,!=1.6.4
    ...

[2017-10-11 09:46] stephenfin commented on #4135
Yeah, this is a long-standing issue and I'd imagine there are existing issues open for this. In the interim, you can stick an `:orphan:` tag in the file and include that (noting #1545) or simply use a different file extension (`.inc`?)

[2017-10-11 11:46] felipecaputo commented on #4135
Thanks @stephenfin, I did the search for an open issue and didn't found it. I will solve it with `:orphan:`. o/

[2017-10-11 14:46] tk0miya commented on #4139
Yes, this is already fixed, but not released yet.
Please wait a moment. I will release 1.6.5 soon.

[2017-10-11 14:46] #4139 closed, assigned to nobody

[2017-10-11 14:59] tk0miya commented on #4135
Wait, sphinx marks included files as a part of document (see #2603). So I think the warning is strange for me. I will take a look this now.

[2017-10-11 15:09] tk0miya commented on #4135
I can't reproduce the warning with your attached project.
[code]

Am I something wrong?

[2017-10-11 15:56] #4123 closed, assigned to shibukawa

[2017-10-11 19:40] JulienPalard commented on #4136
Wow, thanks for your extensive feedback everyone!!

I'm reviewing it all, I'll probably first try to use a mix between platex and xelatex (from https://github.com/python/cpython/pull/3940#issuecomment-335832471):

[code]

I'm strongly against all kinds of hardcoding like `sphinxnewunicodechar{Є}`, for the record the documentation I try to build is the Python documentation, so I expect characters t

[2017-10-11 20:10] JulienPalard commented on #4136
Hum, I can't access language in my config.py, sphinx/config.py line 150 does not give it `execfile_(filename, config)`, but `language: 'fr'` is stored in overrides, in my specific context... I'll still try to see if it works with xelatex for english and french, and platex for japanese.

[2017-10-11 21:36] JulienPalard commented on #4136
The following minimalist configuration:

    latex_engine = 'xelatex'
    latex_elements = {}

builds english and french versions of the Python documentation. So I think we should add some information near the `latex_engine` documentation telling about how to choose one? I don't expect sphinx users to know luatex, xetex, platex, I personally never heard of xetex and platex before today.

[2017-10-12 02:36] cocoatomo opened #4142 "Sphinx fails to distinguish open and close quotation marks"
Subject: On the translation project of Python document, smart quotes, the feature from docutils, fails to determine whether some quotation mark is open or close.

### Problem
- docutils transforms `"Title"` to `”Title”` (`&#8221`, `T`, `i`, `t`, `l`, `e`, `&#8221`), or `」Title」` with smart quotes enabled and language set to Japanese.

#### Procedure to reproduce the problem
[code]

Then, open `_bu

[2017-10-12 13:19] skidzo commented on #338
http://sphinx.pocoo.org/markup/desc.html
this link is broken, it is totally unclear what i should use to document the returned value, rtype, returns, or return???

[2017-10-12 13:44] shibukawa commented on #4063
This stacktrace is shown when ``todo_include_todos = False``.
But otherwise, the following error happens:
[code]

[2017-10-12 13:59] tk0miya commented on #4137
Good point!

[2017-10-12 14:13] tk0miya commented on #338
This is closed 4 years ago. This is **issue tracker**. Please post your questions to sphinx-users forum.

BTW, both `return` and `returns` are same meaning. so either is okay. But `rtype` is used to indicate type of return value. so it is not better to use for description.

[2017-10-12 14:43] regebro opened #4145 "Parsing fails if you have a field list first in the document"
Subject: <what happen when you do on which document project>

### Problem
from the docutils docs: "When a field list is the first non-comment element in a document (after the document title, if there is one), it may have its fields transformed to document bibliographic data. "

This shows that you can start a document with a field list. This is commonly done by Hovercraft, for example. However, do

[2017-10-13 08:41] skidzo commented on #338
Thanks :-)

[2017-10-13 14:52] tk0miya opened #4148 "Reduce questions of sphinx-quickstart"
### Problem
- At present, `sphinx-quickstart` asks many questions. it's not "quick" start.

#### Expected results
Make it simple.

[2017-10-13 16:08] JulienPalard commented on #4136
I'm opening a specific issue about the documentation subject.

[2017-10-13 16:16] JulienPalard opened #4149 "Documentation: Help choosing latex_engine"
https://github.com/sphinx-doc/sphinx/issues/4136 was "simply" a wrong choice in how to handle UTF-8 characters, leading me to the conclusion: The documentation about `latex_engine` should help users choosing the right engine for their needs.

I'm not a native english speaker, so it may probably be enhanced, but I'd see something like:

[code]

[2017-10-13 16:31] JulienPalard opened #4150 "latex_engine = 'xelatex' if language != 'ja' else 'platex'"
Subject: I can either build french or japanese but not both with the same `conf.py`

### Problem

Building PDFs for the cPython documentation works for french using xelatex and for japanese with platex, but while initializing latex_engine value we don't have access to the language value.

I'd like to configure something like:

    latex_engine = 'xelatex' if language != 'ja' else 'platex'

But we'

[2017-10-16 01:38] tk0miya commented on #4145
Fixed by #4152. Thank you for contribution!

[2017-10-16 01:38] #4145 closed, assigned to nobody

[2017-10-16 09:16] lelit opened #4156 "Extraneous class attribute"
### Problem

With current master version of the `autodoc` extension, a *undocumented* module level attribute preceding a class leaks in the class documentation.

#### Procedure to reproduce the problem
The following snippet:
[code]

will result in a `Foo` class having a `logger` data member with a `None` value.

##### Test case
I added the following test in `tests/test_pycode.py`:
[code]

##### Er

[2017-10-16 10:01] kvalev commented on #880
It seems that cross-referencing an program directive is not possible, right?

[2017-10-17 01:56] tk0miya commented on #4150
Unfortunately Sphinx does not support configuration per languages. Please use `-D` option of `sphinx-build` command to override configuration.

BTW, I made very simple extension to realize your idea:
https://gist.github.com/tk0miya/8e9aa5aaa7d83a27a013839ad5463354

I wish this helps you.

[2017-10-17 01:58] tk0miya commented on #4150
Note:
Internally, Sphinx does not know what configuration values are specified at reading `conf.py`. Because extensions are not loaded here (They are listed at conf.py!). so it is hard to provide the value of `language`.
(I know some built-in config values are enabled here, but ...)

[2017-10-17 11:25] lelit opened #4158 "Autodoc failure in presence of PEP3132 assignment"
### Problem
If one class method uses the Python 3 [extended unpacking assignment](https://www.python.org/dev/peps/pep-3132/), autodoc fails to complete its analysis.

#### Procedure to reproduce the problem
I added the following test case to `tests/test_pycode.py`:
[code]

#### Error logs / results
[code]

### Environment info
- OS: Debian GNU/Linux sid
- Python version: 3.6.3
- Sphinx version: cu

[2017-10-17 11:42] JulienPalard commented on #4150
@tk0miya Thanks for the clarification. We're currently using `-D` (https://github.com/python/docsbuild-scripts/pull/34).

[2017-10-17 11:42] #4150 closed, assigned to nobody

[2017-10-17 11:53] JulienPalard opened #4159 "Maybe use xelatex instead of pdflatex by default"
Subject: I built the cpython documentation in french and japanese, and found it non-trivial to find the right set of options.

### Problem

Given that:

- Non-ascii characters are more and more used, even in english (see the `Є` in https://docs.python.org/3.7/whatsnew/3.7.html#optimizations)
- Documentations are sometimes written in other languages like Japanese, French, and so on.
- Documentation

[2017-10-17 12:42] tk0miya commented on #4159
@jfbu could you give us comments for this please?

I can't determine it's better or not. I don't know which is good successor of PDFLatex, LuaTeX and XeTeX. And Also don't know they are enough stable or not for usage of Sphinx.

Of course, I will agree to change default latex engine if either one is enough stable.

[2017-10-17 15:10] jfbu commented on #4159
I will make general remarks.

 `LuaLaTeX` is actively maintained and will probably offer more and more features via dedicated packages which achieve things currently impossible in TeX. But these advantages are probably not needed by vast majority of Sphinx projects. Besides, it appears that ̀`LuaLaTeX` opens up new security concerns in TeX world, due to scripting language Lua not having the restri

[2017-10-17 15:23] jfbu commented on #4159
One last pros and cons:

- typically xelatex produced PDFs are smaller than pdflatex produced ones, when using traditional TeX fonts, because xelatex better compresses the font; but as explained already, xelatex should not be used with traditional TeX fonts for optimal results,

- compilation times with xelatex or lualatex are often significantly increased compared to pdflatex builds.

[2017-10-17 18:05] sinianluoye opened #4162 "docs build fail on python 2"
Subject: docs build fail on python 2

### Problem
 docs build fail on python 2
I repair it by change docs/conf.py line 30
from " from unittest.mock import Mock" to "from mock import Mock"
beceuse mock is a single model in python 2
i'm looking forward to someone can  patch the tiny bug
thx

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
#### Expected results
one or

[2017-10-17 18:12] #4162 closed, assigned to nobody

[2017-10-17 21:44] jfbu commented on #4136
I am adding here some background info on problem of Unicode characters with `pdflatex`.

PDFTeX uses so-called TeX format font encodings which have at most 256 slots for glyphs. Some documentation is described in file `encguide.pdf`, included with all LaTeX distributions and which can be opened usually from `texdoc fontenc` but simplest is still to actually examine the suitable files which in TeXL

[2017-10-18 10:17] stephenfin commented on #4134
For reference, the docutils docs on same as [here](http://docutils.sourceforge.net/docs/user/config.html).

[2017-10-18 12:34] tk0miya commented on #4063
Fixed by #4144

[2017-10-18 12:34] #4063 closed, assigned to nobody

[2017-10-19 07:28] jfbu commented on #4134
Thanks, fixed at 77c5aaaa973dfaab652197ae345f17f904a943fe

[2017-10-19 07:28] #4134 closed, assigned to nobody

[2017-10-19 12:06] #4158 closed, assigned to nobody

[2017-10-19 13:18] funkyfuture commented on #4134
perfect, mille gracie.

[2017-10-19 18:30] aaronchall commented on #2546
I seem to have also run into this issue.

[2017-10-19 21:20] clenk opened #4167 "`add_module_names = False` still appends module name to permalink"
### Problem
I have `add_module_names = False` in my Sphinx config, and I'm creating HTML docs for a Python package using `autosummary` and `autodoc`. I don't want to include the full module name in my class and function signatures. The full module name is properly removed from the text of the signature, but all of the `Permalink to this definition` do include the full module name. The full module

[2017-10-19 21:24] jfbu commented on #4149
Would this be ok?

[code]

[2017-10-19 23:33] CreatCodeBuild commented on #3760
@grainednoise `app.registry.domains` does solve the problem.

[2017-10-20 04:30] fyears opened #4169 "Chinese language doesn't trigger Chinese search automatically"
Subject: Chinese language doesn't trigger Chinese search automatically

### Problem
According to [doc](http://www.sphinx-doc.org/en/stable/config.html#confval-html_search_language),

However, while I set the `language` to (Simplified) Chinese:

[code]
The search function still uses the `en` version:

[code]

For those who doesn't know Chinese:

sphinx supports two versions of Chinese: `zh_CN` – Si

[2017-10-20 16:03] peterjc opened #4170 "__variable__ before class treated as special method"
Testing with sphinx from git commit 5194d1505cdf370fa159e5a9ca197ec56dbfc781 using Python 3.6

Sample test case made up of three files, ``silly.py``

[code]

And ``silly.rst``,

[code]

and a minimal ``conf.py`` as well:

[code]

Running the test case as written:

[code]

Commenting out the assert line workaround to show the bug:

[code]

This minimal test case was based on finding similar issues

[2017-10-20 17:09] tk0miya opened #4172 "1.6.5 release plan"
Hi maintainers

Just one month has passed since last stable release. So it's time to release.
Happily, in this weekend, I and @shimizukawa have a hack-day in Japan.
Sorry for short notice, but I'd like to ship new version in this weekend. Please let me know your opinion.

Note: issues marked as 1.6.5:
https://github.com/sphinx-doc/sphinx/milestone/38

[2017-10-20 19:48] JulienPalard commented on #4149
LGTM

[2017-10-20 21:00] JulienPalard commented on #4136
People are here to write documentation, not latex. If we want people to write documentation (and we want?) forcing them to write latex macros each time they use a new out-of-ascii character is unacceptable.

However, there may be a way here to autogenerate those macros while autogenerating the .tex files, but it would require a huge database of which character is from which font? [Or use xelatex b

[2017-10-20 21:16] JulienPalard commented on #4159
That's a lot to consider and I'm no latex expert. I just noticed that the current default (pdflatex/platex) put me in a hard situation when building english, french, and japanese:

- With default configuration, only japanese succeed (platex)
- Adding utf8x fix english build, (don't remember if it break platex-japanese)
- Building with xelatex (and removing utf8x) to try to fix french breaks japane

[2017-10-20 22:17] jfbu commented on #4136
I would like to have a more focused discussion on exactly what is at stake here. Your initial report mentioning Є or U+2212 did not explain how these pop up in your project. In 90% of cases, things work because the pdfLaTeX document has a specific language; the language loads the needed font encoding and inputenc prepares the corresponding Unicode codepoints for LaTeX. In human-made LaTeX document

[2017-10-21 02:28] fyears commented on #4159
+1 to xelatex

I can confidently say that most Chinese LaTeX users prefer xelatex to pdflatex nowadays, because xelatex has MUCH better support for opentype fonts, thus Chinese uses find it WAY MORE easier to display Chinese characters in the generated pdf. The same technology applies to Japanese and Korean characters too (we often refer their fonts together as CJKfonts).

@jfbu In my understandin

[2017-10-21 03:07] fyears commented on #4159
Some more helpful info here:

1. xelatex is stable enough to use. luatex is not as popular as xelatex for Chinese users.
2. Refer https://www.sharelatex.com/learn/Japanese (also, check pages for Chinese and Korean). the xetex packages is universal for CJK environments, if we only need to display some characters and not consider complicated locales (e.g. how dates are rendered). One true issue to b

[2017-10-21 04:45] tk0miya commented on #4169
Fixed by #4171

[2017-10-21 04:45] #4169 closed, assigned to nobody

[2017-10-21 04:45] #4156 closed, assigned to nobody

[2017-10-21 04:49] tk0miya commented on #1020
Fixed by #4153!

[2017-10-21 04:49] #1020 closed, assigned to nobody

[2017-10-21 05:24] tk0miya commented on #3726
Any updates? I think this is good fix, so I'd like to merge this. To do that, I need reproducible example.

[2017-10-21 05:40] tk0miya commented on #3987
At present, #4002 is cherry-picked into stable branch. So it will be fixed at next stable release.

[2017-10-21 05:40] #3987 closed, assigned to nobody

[2017-10-21 05:46] shimizukawa commented on #4172
Got it 👍

[2017-10-21 05:58] tk0miya commented on #4170
It seems fixed by #4157. Could you check this again with HEAD of master please?

[2017-10-21 05:58] shimizukawa commented on #1448
Thanks!

[2017-10-21 07:24] tk0miya commented on #3965
Fixed at a5f6e97ac45726dcad9dd267279b04d9539e7793.

[2017-10-21 07:24] #3965 closed, assigned to nobody

[2017-10-21 08:36] peterjc commented on #4170
I will test this, but I think you are right - my issue looks like a duplicate of #4156.

[2017-10-21 09:19] peterjc commented on #4170
Confirmed, fixed via #4157 (so this was the same problem as issue #4156). Thank you!

[2017-10-21 09:19] #4170 closed, assigned to nobody

[2017-10-21 09:54] JulienPalard commented on #4136
The 'Є' appeared in https://docs.python.org/3.7/whatsnew/3.7.html#optimizations:

I don't think asking documentation people (in general) to write raw latex is a thing, they write restructuredText, they (OK not everybody.) don't care about PDF being generated, so they don't remotely care latex is used to generate the PDF files.

But can this extra latex markup be added automatically while generatin

[2017-10-21 09:59] #3259 closed, assigned to nobody

[2017-10-21 10:03] tk0miya commented on #3259
:tada:

[2017-10-21 10:37] tk0miya commented on #3922
This was fixed at a5f6e97ac45726dcad9dd267279b04d9539e7793.

[2017-10-21 10:37] #3922 closed, assigned to nobody

[2017-10-21 10:51] tk0miya commented on #3270
I can't still reproduce this locally. Can anyone tell me a procedure to reproduce in detail?

[2017-10-21 11:30] jfbu commented on #4136
reopening issue for better visibility during discussion

[2017-10-21 12:19] JulienPalard commented on #4136
To all, please note that there's specific threads about:

- [Helping choosing the right latex engine by enhancing the documentation](https://github.com/sphinx-doc/sphinx/issues/4149)
- [Use xelatex/platex instead of pdflatex/platex by default](https://github.com/sphinx-doc/sphinx/issues/4159)

And let's try to keep this thread focused on having a few unicode characters from a language into a docum

[2017-10-21 12:25] jfbu commented on #4136
Then I propose to close this again, because "having a few unicode characters" is solved by the advices I gave and switching to xelatex does **not** solve it.

[2017-10-21 12:35] jfbu commented on #4159
There is no notion of seamless experience in LaTeX regarding Unicode, although xelatex and lualatex have considerably improved the situation.

Already, Sphinx does the minimal right thing regarding xelatex which is not to use inputenc nor fontenc. **With a recent LaTeX** this means it will automatically use the Latin Modern OpenType font which has good coverage of European (in the large sense) lan

[2017-10-21 12:52] tk0miya commented on #3739
Fixed by #4176
Thank you for reporting

[2017-10-21 12:52] #3739 closed, assigned to nobody

[2017-10-21 13:09] jfbu commented on #4159
Here is basic test of Hebrew with `xelatex`:

[code]

Produces errors:

[code]

Attempting to try Sphinx on minimal Hebrew document  with xelatex leads to plenty of problems:

[code]

in conf.py:

[code]

[code]

and the one of interest to this thread:

[code]
(as above)

This confirms Sphinx-doc user will have to know a minimum of LaTeX macros (`\newfontfamily`)  and documentation (`fontspec`, `p

[2017-10-21 13:22] Blendify commented on #3270
With any docs:

1. make clean
2. make html
3. Open Docs and search for a term that would be expected to be found on one page.
4. Edit another page that does not have that term
5. make html
6. Search for that term again it will not appear.

[2017-10-21 14:02] jfbu commented on #4136
I will give a try to building the PDFs for CPython. Please note that the

[code]
at https://github.com/python/cpython/blob/db60a5bfa5d5f7a6f1538cc1fe76f0fda57b524e/Doc/conf.py#L97 is wrong. It should be ``'fontenc': r'\usepackage[T2A,T1]{fontenc}'``. But then something else must be changed for the cyrillic letters. In the order `T1,T2A` it may solve a problem but it slows down LaTeX compilation.

[2017-10-21 14:47] jfbu commented on #4136
@JulienPalard

I build successfully English docs of CPython using this (hence pdflatex)

[code]

Steps:

1. ``cd Doc/``

2. ``make latex``

3. ``cd build/latex``

4. ``make all-pdf``

Using Sphinx 1.6.3 and Python 3.6.2 from an Anaconda install on Mac OS X 10.9.5.

What does "building French docs" mean ? does this simply mean setting the language to ``'fr'``. Anyway I will try now.

In the above,

[2017-10-21 14:50] JulienPalard commented on #4136
[code]

Did it feel right for you to ask documentation writers to learn that `Є` is `{\fontencoding{T2A}\fontfamily{cmr}\selectfont\IeC{\CYRIE}}`?

[2017-10-21 15:00] jfbu commented on #4136
Please, if you want me to help out, please stop aggressing me and turn your remark to the LaTeX team. https://www.latex-project.org/about/team/

As per my comment above I must edit it because the long s is not found in times font. Investigating.

[2017-10-21 15:10] jfbu commented on #4136
1. I have edited my comment above for ``ſ``. Unfortunately default `cmr` font does not have it in `ts1` encoding but `lmr` does.

2. With the set-up above and ``language = 'fr'`` in  CPython/Doc/conf.py I build all "French" PDF docs of CPython with no LaTeX error reported.

edit: if using same build repertory, issue make clean in the build/latex else Babel will complain from English to French tran

[2017-10-21 15:11] jfbu commented on #4136
@JulienPalard

At https://github.com/sphinx-doc/sphinx/issues/4136#issuecomment-337381898 I have provided recipe to avoid having to knwo about the internal LaTeX representation `\CYRIE`.

[2017-10-21 15:29] JulienPalard commented on #4136
First, sorry if it felt like aggression, you're helping and I'm greatful for this, even if I don't show it in my english, so let's be clear: Thanks for the time you're spending on the issue, trying to build the cpython doc and look at our problems, we have almost no one latex oriented here for this, so any help is really welcome.

I tried to express surprise you were proposing a syntax almost no d

[2017-10-21 15:40] jfbu commented on #4136
You are asking us at Sphinx to consider making `xelatex` the default because it helps build the CPython docs? I demonstrated how you can build the whole CPython Docs with pdflatex and a few addition using `newunicodechar` package (if one does not want to use the macros I have provided above). I never disputed the point that pdflatex is not tailored for Unicode, and that making this work does requi

[2017-10-21 15:51] JulienPalard commented on #4136
No, I'm proposing the idea to you at Sphinx to consider making xelatex the default because my experience building the Python docs showed me that it was semless to build with xelatex, but very hard to build with pdflatex, and I though "default should be the easy way, not the hard way". Defaults should lead user to an "easy path", something working in most cases, and experts wanting to write specifi

[2017-10-21 16:12] tk0miya commented on #4159
jfbu, Thank you for comment.

As you said, moving to xelatex is not silver bullet. AFAIK, there are no common settings that works well for all languages.

@fyears For Chinese docs, #3272 is proposed. It tries to move to xelatex and ctex only if language is `zh_*`.

[2017-10-21 16:16] tk0miya commented on #4159
Note:

I don't know this is really needed. I've never seen such request. So it's okay to support only one language per project at once.

(edit) oh, I understand #4159 requires it...

[2017-10-21 16:28] jfbu commented on #4136
Thanks for the explanation relative to the internationalization. I have git cloned the French translated repo, manually created `cpython/Doc/locales/fr/LC_MESSAGES` symlink in a checkout of cpython 3.6 tag with my patched conf.py, then I have manually run the `make latex` with suitable `SPHINXOPTS` in a Python 3.6 environment.

I got two innocuous warnings, then I cd to `build/latex` and run there

[2017-10-21 16:32] jfbu commented on #4136
There is a U+200b in line

[code]

which is line 2096 of library.tex, right before ``puisque`` and this looks again very suspicious. Why should a zero-width space be there?

[2017-10-21 16:47] jfbu commented on #4136
I confirm I can build all French CPython Docs with pdflatex using the above. However there are bugs in the French translation strings (at least on typo and a possible stray zero-width space) which require extra steps. I did:

[code]

The package `uspace` handles Unicode space characters. It may not be installed at your TeX locale because it is relatively recent, see its [repo](https://github.com/w

[2017-10-21 16:55] JulienPalard commented on #4136
I fixed the `Ǹ`, and I don't think the zero-width space is a thing, so I also removed them.

[2017-10-21 17:04] JulienPalard commented on #4136
Yes, I take note. Also having this in `conf.py` is way more suitable than havig to move the logic in https://github.com/python/docsbuild-scripts: It allows one to build more naturally using the cpython makefile instead of having to rely of another tool, I like it.

Would you like to PR this on https://github.com/python/cpython (issue already opened: https://bugs.python.org/issue31589)?

[2017-10-21 17:15] jfbu commented on #4136
I would be glad to PR, but unfortunately putting this in `conf.py` will break Japanese translated builds, because package `newunicodechar` works only in context of `\usepackage[utf8]{inputenc}` (it is not compatible with `utf8x`), and is not compatible with `platex` engine.

But it is possible to enclose it in some LaTeX conditional branch and avoid executing it if engine is `platex`. (or perhaps

[2017-10-21 18:08] jfbu commented on #4136
@JulienPalard I have done the PR at https://github.com/python/cpython/pull/4069

[2017-10-21 19:11] jfbu commented on #4159
@tk0miya in the case of CPython docs (which is big...), for example [French translation](https://github.com/python/python-docs-fr/blob/3.6/README.rst) is only at ``27.2%`` currently.

It could make sense (not only for PDF perhaps, but for PDF it is important due to hyphenation which depends on language) to have multi-lingual. Currently only portions of CPython's `library.pdf` (about 1800 pages) ar

[2017-10-22 03:11] tk0miya commented on #4159
Ah, I understand. Surely, it is mixture of English and French.
I feel it is very difficult to support it in Sphinx. We must mark languages per sentences or words...

[2017-10-22 09:49] jfbu commented on #4149
Thanks for review; finally I rewrote entirely the added explanations. Fixed at 90e3425ed

[2017-10-22 10:01] jfbu commented on #4149
Closing.

[2017-10-22 10:01] #4149 closed, assigned to jfbu

[2017-10-22 10:24] jfbu commented on #4159
@tk0miya But this is done by Docutils already. Consider this test file

[code]

and then ``rst2latex.py index.rst test.tex`` constructs a LaTeX file which looks like this (non relevant lines cut):

[code]

On further experiment in case of multiple paragraphs each one is given as argument to `\foreignlanguage`. It should be probably better with `\begin{otherlanguage}{french}...\end{otherlanguage}`

[2017-10-22 10:30] jfbu commented on #4159
HTML output from `rst2html.py` looks like this:

[code]

[2017-10-22 10:33] tk0miya commented on #4167
For now, `add_module_names` is used only for make titles. It is not related with the URL of anchors.

[2017-10-22 10:38] tk0miya commented on #4148
Now sphinx-quickstart asks following questions:
[code]

[2017-10-22 10:59] jfbu commented on #4142
I can reproduce it with Docutils.

Test file ``index.rst``:

[code]

Process with ``rst2html.py --language "ja" --smart-quotes "on" index.rst test.html``.

html file contains:

[code]

Can you open ticket or ask for advice/explanation at https://sourceforge.net/p/docutils/bugs ?

[2017-10-22 10:59] tk0miya commented on #4148
My proposal:

I wonder why is this really needed. I suppose our users does not modify this.
So I'd like to remove this question or whole of feature.

Somebody might change the extensions, but almost people do not.
I think this question can be removed.

This might be not changed by default also.

Nowadays EPUB is an one of commonly used documentation format.
And the builder becomes enough stable at

[2017-10-22 11:10] tk0miya commented on #4090
I think adding notes to our document is better for this case.
It is not unexpected...

[2017-10-22 11:14] jfbu commented on #4090
@tk0miya I had forgottent about this; is it still time I fixe our docs for 1.6.5?

[2017-10-22 11:17] jfbu commented on #4090
If there is time before 1.6.5 I can push this to stable:

[mypatch.txt](https://github.com/sphinx-doc/sphinx/files/1404814/mypatch.txt)

[2017-10-22 11:18] tk0miya commented on #4131
Agreed, it is good idea. but some people might prefer to current behavior, and some might prefer another behavior. So we have to improve it to better one.

[2017-10-22 11:27] jfbu commented on #4090
Well, I pushed it (witch CHANGES updated) at 5e86c1c93, regarding documentation. Keeping milestone at 1.6.6 as perhaps the underlying core problem can still be addressed.

[2017-10-22 11:29] jfbu commented on #4090
Sorry, had to fix my fix at 6b4a0123f

[2017-10-22 11:35] tk0miya commented on #4132
Thank you for reporting.
In rules of Sphinx, the error message is wrong. It is treated as a warning internally.
I just fixed message at cfadf17.

Please use `-W` option to handle it as an error.

[2017-10-22 11:35] #4132 closed, assigned to nobody

[2017-10-22 11:38] tk0miya commented on #4135
Now I'm closing this again, because it seems not a bug of Sphinx.
Thanks,

[2017-10-22 11:38] #4135 closed, assigned to nobody

[2017-10-22 11:47] tk0miya commented on #4090
Don't mind, I'll wait you. Please let me know if finished.

[2017-10-22 12:04] jfbu commented on #4090
@tk0miya it is done now for 1.6.5. I left 1.6.6 milestone so that we can reconsider if needed at core level. Currently I changed only documentation.

[2017-10-22 12:09] tk0miya commented on #4090
Thanks!
IMO, it is very rare case, so any more code is not needed for this.
(it's okay if you already have some idea. my opinion does not prevent it)

[2017-10-22 14:50] pitrou commented on #3866
Hi, I tried the workaround mentioned in https://github.com/sphinx-doc/sphinx/issues/3866#issuecomment-311181219, but now I get another error:

[code]

See https://travis-ci.org/tornadoweb/tornado/jobs/291144347#L1444

Any guidance on this?

[2017-10-22 15:35] tk0miya commented on #3866
@pitrou Is that related with this issue? And did you mean that is a bug of Sphinx?
This is isseus list of Sphinx, not forum. Please move to forum if it is question.

Thanks,

[2017-10-22 15:37] pitrou commented on #3866
@tk0miya, yes this is related, since I tried the workaround mentioned here after I got bitten by this issue.

[2017-10-23 03:24] #4090 closed, assigned to nobody

[2017-10-23 03:32] tk0miya commented on #4172
Finally, I just released (in Monday noon).
Thank you for all.
Our next target is 1.6.6 and 1.7!

(I'll made a plan for 1.7 later.)

[2017-10-23 03:32] #4172 closed, assigned to tk0miya

[2017-10-23 03:41] shimizukawa commented on #4172
:tada:

[2017-10-23 03:55] cocoatomo commented on #4142
@jfbu OK, I will open a ticket and give an explanation later.
Thank you for the advice and the reproducible sample.

[2017-10-23 08:37] Mark90 commented on #3132
I feel like I'm in need of a similar feature. We need to build 2 different documents for an API project, one targeted at developers and the other at users of the service. The developers will need to see full details, whereas users should only see a subset of the information. (This isn't too weird a usecase, right?)

I started out slightly different from @rweickelt but, if I'm not mistaken, with th

[2017-10-23 08:51] nikokio commented on #4070
Hello tk0miya,

In which release will this new fix will be available ? 1.6.5 ?

Thanks

[2017-10-23 09:17] peterjc opened #4182 "Cannot suppress autodoc: failed to import module"
Subject: <what happen when you do on which document project>

### Problem

I am running Sphinx apidoc on a large codebase, with multiple soft dependencies which may not be installed (e.g. some are Python 2 only).

I would like to treat most warnings as errors via ``sphinx-build -W ...`` and ignore the ``ImportError`` (including ``ModuleNotFoundError`` under Python 3.6) warnings.

Currently http://

[2017-10-23 09:50] jenshnielsen commented on #4182
Did you try to mock the imports or soft dependencies with http://www.sphinx-doc.org/en/stable/ext/autodoc.html#confval-autodoc_mock_imports

I find that the easiest way to resolve missing dependencies

[2017-10-23 09:54] peterjc commented on #4182
Thanks for the tip - I will explore ``autodoc_mock_imports = ['MySQLdb', ...]`` and report back.

[2017-10-23 10:08] peterjc commented on #4182
Yes, that seems to work for me.

Do you think the ``suppress_warnings `` documentation should reference using ``autodoc_mock_imports`` to for dealing with import warnings? I would have found that helpful.

[2017-10-23 11:13] jenshnielsen commented on #4182
Perhaps, I am just a Sphinx user like you so I don't have any special influence on this

[2017-10-23 11:22] clenk commented on #4167
Is this something you would be opposed to adding?

[2017-10-23 13:23] tk0miya commented on #4167
No, either is fine to me.

[2017-10-23 13:47] thijstriemstra commented on #4070
Also ran into this issue with Sphinx 1.6.4 on readthedocs.io.

The changelog puts this fix in 1.6.5.

[2017-10-23 14:19] tk0miya commented on #4182
+1 for improving `suppress_warnings`.

[2017-10-23 14:22] tk0miya commented on #4182
Note: The warning means failure of `automodule` directive. It means your document is broken. So I think suppressing it is not good way.

[2017-10-23 14:24] tk0miya commented on #4070
Yes, it is fixed again in 1.6.5. Please try it.

[2017-10-23 14:24] thijstriemstra commented on #4070
Works fine with 1.6.5, thanks.

[2017-10-23 16:56] tk0miya commented on #3919
Fixed by #4180
Thank you for reporting

[2017-10-23 16:56] #3919 closed, assigned to nobody

[2017-10-23 17:35] cocoatomo commented on #4142
I just have created a ticket.

Ticket URL: https://sourceforge.net/p/docutils/bugs/332/

[2017-10-23 17:48] dhermes opened #4183 "`pyversion` (in `doctest`) does not work as expected with the `==` operand"
### Problem

Using `:pyversion: == 3.6` (or any other version) will **always** result in the test being skipped.

This is because `LooseVersion` does not work the same way `sphinx.ext.doctest.compare_version` expects it to

[code]

#### Procedure to reproduce the problem

When specifying

[code]

and running:

[code]

the `cheez` doctest is not run:

[code]

#### Expected results

Run the code

##

[2017-10-23 18:59] jfbu commented on #4136
I have found a way for Japanese. I could not solve the problem with `pLaTeX` which Sphinx uses by default for Japanese. But after some trial and error I perhaps have a way with `upLaTeX`. But: many files of the CPython documentation use Sphinx howto which use `jreport` which I do not know how to make work with `upLaTeX`. For the biggest file which is `library.tex` it uses `jsbook` and one can make

[2017-10-23 20:44] JulienPalard commented on #4136
nosy @methane ^

[2017-10-23 21:28] jfbu commented on #4136
There is a `ujreport` LateX document class for usage with `upLaTeX`.

I can force Sphinx to use it by this kind of patching in `conf.py`:

[code]

With patch like the above I can then build the whole CPython documentation for Japanese (without having to replace ``'howto'`` by ``'manual'`` as in my first try with ``upLaTeX``).

The ``uplatex`` extra class option is ignored by ``ujreport`` LaTeX cla

[2017-10-24 15:27] Shaun-Griffith-Hive opened #4185 "Viewcode extension documentation text cleanup."
Subject: Incomplete or corrupted sentence in Viewcode extension documentation.

### Problem
- "As side effects, this option else they produce nothing."

- http://www.sphinx-doc.org/en/stable/ext/viewcode.html#module-sphinx.ext.viewcode

[2017-10-24 15:34] jfbu opened #4186 "Feature Request: support ``upLaTeX`` for PDF builds of Japanese projects"
Many projects will use Unicode characters. Sphinx uses ``pLaTeX`` for Japanese documents but ``pLaTeX`` is not Unicode aware.

It appears [upLaTeX](http://www.t-lab.opal.ne.jp/tex/uptex_en.html) adds Unicode support and can help handling problems with stray Unicode characters: in particular using `\usepackage[utf8]{inputenc}` and `babel` is possible  with `upLaTeX`. From the little I understand it

[2017-10-24 15:53] jfbu opened #4187 "EN DASH disappears from PDF bookmarks in Japanese documents"
Consider following index.rst

[code]

and ``language = 'ja'``. Then ``make latexpdf`` includes following console output:

[code]

and after enquiry it comes from the PDF bookmarks. Indeed the EN DASH are ok in PDF, but absent from bookmark. Picture:

![capture d ecran 2017-10-24 a 17 40 52](https://user-images.githubusercontent.com/2589111/31953186-d5ebe650-b8e2-11e7-9015-17e068763555.png)

Sphinx

[2017-10-24 16:02] jfbu commented on #4187
The issue may have to do with this

[code]

Is this a problem Japanese LaTeX users know how to solve?

Using  ``\PassOptionsToPackage{pdfencoding=unicode}{hyperref}`` fixes the EN DASH problem in bookmarks but destroys all Japanese characters there...

[2017-10-24 16:12] Shaun-Griffith-Hive opened #4188 "sphinx-quickstart online documentation behind current version"
Subject: The version of sphinx-quickstart has more options than listed in the online documentation

### Problem
- The online documentation is here, AFAICT: http://www.sphinx-doc.org/en/stable/invocation.html

The actual "manual" page is a placeholder (http://www.sphinx-doc.org/en/stable/man/sphinx-quickstart.html?highlight=sphinx-quickstart)

A number of options are presented, which are not docume

[2017-10-24 16:27] jfbu commented on #4148
Will they still be present in conf.py in commented out form?

[2017-10-24 18:44] rickatnight11 commented on #4132
Wonderful, thanks!  We had other warning messages we did want to ignore, so it's good to get this fixed!

[2017-10-26 10:17] MikeNeate opened #4190 "How to preserve Index.rst when running sphinx-apidoc ?"
I'm using sphinx to generate docs from python docstrings but I also want user guides, tutorials etc defined in manually created .rst files. I'm using sphinx-apidoc to generate the structure from the python code and then `make html` to generate the final html output. Everything is working well but one problem. When a python class changes I need to run sphinx-apidoc  again with --force to ensure the

[2017-10-26 10:43] tastyminerals commented on #4182
Having the same issue with **Python3.6**, I successfully used sphinx with **Python2.7** using the same dir structure and same `conf.py`. It does not import the modules that `sphinx-build2` imports with the **exact same** `sys.path`.

So question is, does sphinx actually work for Python3.6?

[2017-10-26 11:04] peterjc commented on #4182
I'm using Sphinx successfully with Python 3.6, and ``autodoc_mock_imports = ['MySQLdb']`` in my ``conf.py`` worked nicely for this specific dependency which was not available.

Your problem is likely due to a package which is not compatible with Python 3?

If I understood @tk0miya correctly, the import warnings mean the Sphinx output will be broken, so there is no point suppressing this warning. I

[2017-10-26 11:43] tastyminerals commented on #4182
Ok, here is the project structure:
[code]
`conf.py` contains `sys.path.insert(0, os.path.abspath(os.path.pardir))` at the top and with this setup I am getting import errors of `mod1.py` and `mod2.py` as well as `dic1.py` and `blacklist.py`. I actually tried all kind path variants and none worked.

[2017-10-26 12:13] peterjc commented on #4182
@tastyminerals I'm not sure what is wrong, but it is different from the goal of this issue which was about improving the configurability of sphinx to ignore certain kinds of warning.

*I suggest you file a separate new issue with a complete test case.*

Note that prior to Python 3.3 you would probably need to include ``project/mods/__init__.py`` and ``project/res/__init__.py`` (which can be empty

[2017-10-26 13:37] tastyminerals opened #4191 "Creating documentation stub fails in Python3.6"
Attempting to create documentation stub fails.

### Problem
`sphinx-build . mydocs` throws
`ModuleNotFoundError: No module named 'mods'`
`ModuleNotFoundError: No module named 'res'`

Project structure:
[code]
`conf.py` contains `sys.path.insert(0, os.path.abspath(os.path.pardir))` at the top and with this setup I am getting import errors of `mod1.py` and `mod2.py` as well as `dic1.py` and `blackli

[2017-10-26 14:18] tk0miya commented on #4191
Do you mean this is a bug of Sphinx?
If so, Please share your project or reproducible example.

Thanks,

[2017-10-26 14:49] tk0miya commented on #4182
@peterjc Yes, this warning means Sphinx fails to import a python module and it makes the document broken. So, in this case, `autodoc_mock_imports` is much better to resolve the error.

I know `suppress_warning` is not resolution of error. It only hides warning messages.

[2017-10-26 14:59] tk0miya commented on #4190
This is a issue list of Sphinx. Please post your question to sphinx-users forum.
https://groups.google.com/forum/#!forum/sphinx-users

BTW, I guess `sphinx.ext.autosummary` is much better to your situation.
`sphinx-apidoc` is an alternative of `sphinx-quickstart`. So it is better to use for bootstrap of documentation.

[2017-10-26 15:13] tk0miya commented on #4148
There is only one config value for bundled extensions; `todo_inculde_todos`.
IMO, it is not needed when todo extension disabled.

[2017-10-26 15:15] tastyminerals commented on #4191
Ok, everything seems to work if I move `docs` into inner `project` dir.
[code]

[2017-10-26 15:15] #4191 closed, assigned to nobody

[2017-10-26 15:44] tk0miya commented on #4142
I confirmed. Indeed, docutils expects a space before opening quotes.
So it can't use for CJK documents because they does not use spaces between words. AFAIK, a tokenizer is needed to do that.
So it should be disabled for these languages by default, I believe.

[2017-10-27 09:54] Msrgit opened #4192 "Error while using sphinxcontrib-visio"
Subject: Attempting to include a visio file in a sphinx document

### Problem

Performed:  make html

#### Procedure to reproduce the problem
[code]
This is the error log:
[sphinx-err-NFza7e.log](https://github.com/sphinx-doc/sphinx/files/1421591/sphinvNFza7e.log)

This is the file used:
[TestVisio.vsd.zip](https://github.com/sphinx-doc/sphinx/files/1421629/TestVisio.vsd.zip)

#### Expected result

[2017-10-27 10:16] Msrgit commented on #4192
Looks like I can only use this on a Windows platform - needs PyWin32 - not available on Linux. Oops - newbie!

I'll leave it open:

Quote: "Please also report this if it was a user error, so that a better error message can be provided next time."

[2017-10-27 10:34] yishenggudou commented on #1119
@Znni
I got the error message too

[2017-10-27 15:11] StFS commented on #2750
I'm looking for something similar. Did you find anything useful @paulanthonyjacobs ?

[2017-10-27 23:16] skaller opened #4195 "Provide Escapes in code-block"
I have a requirement to format code blocks for language Felix
which uses TeX math embedded in code, particularly some important
operators are AMS Math symbols eg \circ for function composition.

With LaTeX  and minted package which uses Pygments I am able to
write code like this:

[code]

where  the `escapeinside` feature allows math directly in the code.

ReadTheDocs with Sphinx and Pygments work

[2017-10-28 07:29] jenshnielsen commented on #4072
I can confirm that the Sphinx only issue exists with 1.6.5 but it appear to be fixed in Master.

A quick bisect indicated that https://github.com/sphinx-doc/sphinx/pull/3870 fixed it.

With master the type is reported as `_ForwardRef['MyTypeName']`

I did not try `sphinx-autodoc-typehints`

[2017-10-28 08:39] jfbu commented on #4195
There is no possibility of substitutions from inside code-blocks.

Can you clarify if your target is html or latex or ... ? The examples [there](http://felix-lang.org/share/src/web/advocate/mathinfelix.fdoc) are already converted for per symbol MathJax display and one does not get the Felix source code. My various tries to produce html from  a rst code-block containing `\alpha` failed with ``WARNI

[2017-10-28 10:05] skaller commented on #4195
The primary target to make ReadTheDocs work online, so HTML. For paper like output I can already use LaTeX which is generally more powerful, if harder to use, than Sphinx.

The online examples at http://felix-lang.org/share/src/web/advocate/mathinfelix.fdoc are converted for MathJax by my custom webserver. The output you see there is the graphical design target. I am not asking for the code to be

[2017-10-28 10:20] henryJack commented on #4072
The issue only occurs when I use `sphinx-autodoc-typehints`, see issue here https://github.com/henryJack/sphinx_issue/blob/master/README.md#issue

[2017-10-28 10:46] jenshnielsen commented on #4072
@henryJack In your example the warning `C:\dev\local_spinx_test\docs\source\mymodule.rst:10: **WARNING: error while formatting arguments for mymodule.class_a
.AClass: name 'B' is not defined**` is triggered both with and without `sphinx-autodoc-typehints`
Without `sphinx-autodoc-typehints` I am just get the warning but the function signature is also missing from the output. If you only care about

[2017-10-28 15:28] jfbu commented on #4195
As far as I understand from [this Pygments resolved issue](https://bitbucket.org/birkenfeld/pygments-main/issues/493/optionally-enable-escaping-to-latex),  ``escapeinside`` is a specific Pygments add-on feature for the LaTeX formatter.

I think what you want is an extension of this for adding MathJax to HTML output. If I am right in this understanding, this is more a Pygments issue than a Sphinx o

[2017-10-28 15:45] skaller commented on #4195
Thanks, yes I'm doing that. I suspect a Pygments based solution is possible, I have emailed the author Georg Brandl for advice. For my purposes, the Felix lexer can probably do the required translation and emit the required mathmode, if Pygments can somehow be told not to process that text but emit it raw. In that case MathJax will pick it up automatically.

Yes, indeed, you're right, the escapein

[2017-10-28 16:10] jenshnielsen commented on #4072
Ok I realised that you did report it there too but did not put in a reference here. The relevant bug report is here https://github.com/agronholm/sphinx-autodoc-typehints/issues/22

[2017-10-29 00:18] dlech commented on #3160
Related: https://sourceforge.net/p/docutils/mailman/message/35668725/

[2017-10-29 03:03] dlech commented on #3160
I added this to my `conf.py` as a workaround:

[code]

[2017-10-29 10:54] tk0miya commented on #4192
Sorry, this is issues of Sphinx. so I'm closing this now.
Please post this to sphinxcontrib-visio project if you want to fix it.

Thanks,

[2017-10-29 10:54] #4192 closed, assigned to nobody

[2017-10-29 12:10] tk0miya commented on #3160
@dlech We always welcome your PRs :-)
AFAIK, there are no people objecting for this. Simply nobody can work for this now.
If you'd like to merge it into sphinx-core, please send us the patch (including tests!).

[2017-10-29 12:14] tk0miya commented on #4195
It sounds good. If pygments supports `escapeinside` option, we can use it on highlighting a node from `parsed-literal` directive!

[2017-10-29 12:24] tk0miya commented on #4072
Eventually, is this a bug of Sphinx? If none or already resolved, I'd like to close this.

[2017-10-29 13:24] jenshnielsen commented on #4072
@tk0miya IMHO there is a bug in sphinx 1.6.5 since the signature is formatet incorectly but that is fixed in Master. So I think it’s safe to close this

[2017-10-29 13:35] tk0miya commented on #4072
@jenshnielsen Thank you for confirmation!

[2017-10-29 13:35] #4072 closed, assigned to nobody

[2017-10-29 13:47] tk0miya commented on #1119
@Znni We received #3272, but reviewing and discussion is stopped now. So we have to improve it and merge into sphinx-core. If you're interested in, please check it.

[2017-10-29 16:20] mitya57 commented on #4159
@jfbu: In Sphinx, the `.. class::` directive has a different meaning. Use `.. rst-class:: language-XY` if you want to insert the original Docutils directive. It should work then.

[2017-10-29 16:35] jfbu commented on #4159
@mitya57: thanks for the tip, which does work indeed for html target, producing same ``lang`` attributes as `rst2html.py`. But it fails for latex target (as expected from actual ``writers/latex.py`` code...);  the `fulllineitems` environments are gone however, the output simply losing all traces of the language tags in reST sources.

[2017-10-29 18:23] dlech commented on #3160
If the way I have done it seems reasonable, I will try to do a pull request. :smiley:

[2017-10-30 01:44] skaller commented on #4195
I have been doing some experiments on RTD and it looks like what happens is that
this:
[code]
is replaced by this:
[code]

This is from viewing the page source of an actual RTD online document.
It is a bit hard to tell, because MathJax postprocesses the page,
and what comes out after the postprocessing is thousands of characters
of indecipherable gibberish :-)

MathJax usually triggers on ```\(```

[2017-10-30 04:12] tk0miya commented on #3160
+1

[2017-10-30 05:48] ghost commented on #2750
I ended up using singlehtml and aspell mode sgml plus various other skip tokens (script, code, abbr...), and a .aspell.pws full of acceptable words to get something working. We suffer the cost of an extra build just for spell-checking - plain text would still be better.

[2017-10-30 06:38] jfbu commented on #4195
I don't understand some of your observations regarding `\alpha` and the `class` tags. You can perhaps experiment easier with Sphinx by installing it locally and playing with `make html`, `make latex` on simple project.

From this `index.rst` source (and `extensions = ['sphinx.ext.mathjax']` in `conf.py`)

[code]

I get html  like

[code]

and a working MathJax rendering.  The `class = "math"` thin

[2017-10-30 11:52] skaller commented on #4195
Yes, you are confirming my observation. However the problem is
to get mathjax to render maths in *Pygments* output. That is,
in *program code* not ordinary text.  We are trying to document
program code here, right? :) And my programming language allows
TeX identifiers as symbols.

In my webserver I use this configuration:

[code]
What this means is MathJaX will *ignore* ```\(``` and ```\)``` delim

[2017-10-30 13:09] ghost opened #4196 "list-table :widths: & tabularcolumns?"
I was playing with the new(ish) `:widths:` table param and thought I could use that for width setting and `tabularcolumns` for column alignment, i.e.

`.. tabularcolumns:: |C|R|`

`.. list-table::`
`   :header-rows: 1`
`   :widths: 1 2`

`   * - Header A1 (Centre, 1/3)`
`     - Header B1 (Right, 2/3)`

`   * - DATA A1`
`     - DATA B1`

No dice.
Why not?
How does one specify (proportional) column

[2017-10-30 13:19] jfbu commented on #4195
Well, it is hard for me to understand which observation of yours exactly my last comment confirmed.

As you indicate when one adds your config, it does work, for example here is some html

[code]

which was initially obtained from Sphinx `make html` with this source

[code]

and then I went to replace manually the ``a`` by ``\(\alpha\)`` inside html and I added your

[code]

to the existing

[code

[2017-10-30 13:26] jfbu commented on #4195
or rather the Pygments Felix lexer should recognize tokens (like U+03B1  or `\alpha`) which in output formatters will need some kind of math rendering: MathJaX for html, (or images), and TeX math mode for LaTeX.

[2017-10-30 13:58] jfbu commented on #4196
Once you make use of ``tabularcolumns`` directive the ``:widths:`` is ignored.

The specifiers ``C`` and  ``R`` are specific to ``tabulary`` LaTeX package, which chooses the column widths proportionally to contents.

If you remove ``tabularcolumns`` the widths are in the specified proportion, but the whole linewidth is occupied. And we have no syntax for centering or right alignment. But you can a

[2017-10-30 14:01] jfbu commented on #4196
Variant achieving same PDF output:

[code]

then you can use `\Y{0.125}`, `\Y{0.333}` etc... if using fractions is not appropriate (here that would be `\X{3}{24}` and `\X{8}{24}` for example but it can become cumbersome quicky.

[2017-10-30 14:39] skaller commented on #4195
Right, I know the Felix lexer doesn't recognise TeX. Even if it did, I'm not sure if there's
a way to output the required TeX without *also* doing a new style file. Not sure.
In *my* local LaTeX documents, Pygments is using my upgraded lexer,
RTD is using a very out of date one. But then, even my upgraded lexer still
doesn't recognise TeX.

Remember I'm not at liberty to generate the docs myself,

[2017-10-31 01:44] #3160 closed, assigned to nobody

[2017-10-31 07:57] llhhop opened #4200 "Venger"
Subject: <what happen when you do on which document project>

### Problem
- <Detail of problem>

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environme

[2017-10-31 09:23] ghost commented on #4196
I appreciate the tips and will consider them 'workarounds'. It makes the markup messy and I was trying to clean it up (remembering that RST was meant to be as nice to read raw as the formatted versions it produces). Use of `:widths:` is clean, simple and part of standard docutils. If only there was an easier `tabularcolumns` syntax to work with it for column alignment (clear enough hint?).
While o

[2017-10-31 10:25] jfbu commented on #4196
To simplify syntax you only need to add to preamble some new column type definitions. We have to take into account at least 12 possibilities:

- vertical positioning inside the cell can be either top (p), middle (m), bottom (b),

- horizontal justification inside the cell can be left (l), centered (c), right (r), justified (default in LaTeX).

I can provide a tabu-like syntax say  `|Z[m,l]{coeff}|

[2017-10-31 10:29] ghost commented on #4196
Hi, excellent approach, thanks. It nicely hides the complexity away in a single place. Meanwhile I will look to suggesting to the docutils team. Wonder why they didn't think of it already...
EDIT
They did but put it in their todo list: http://docutils.sourceforge.net/docs/dev/todo.html#tables

[2017-10-31 10:29] #4196 closed, assigned to nobody

[2017-10-31 10:32] manojYenni opened #4201 "Could not import extension sphinx.builders.latex (exception: cannot import name 'EscapeFormatter')"
I'm documenting my project using Sphinx and upon build I get the following error

I get the error
[code]

- OS: Linux Ubuntu 14.04 64 bit
- Python version: 3.4.3
- Sphinx version: 1.6.5

Is there any workaround or do I've to install any extentions manually?

PS: I even tried adding the `sphinx.builders.latex` extention in the conf.py file, it still didnt work.

[2017-10-31 13:41] tk0miya commented on #4201
It says `exception: cannot import name 'EscapeFormatter'`.
It is a part of `markupsafe` library which Sphinx depends on. How did you install Sphinx?
I guess this is an issue of installing.

[2017-10-31 13:42] #4200 closed, assigned to nobody

[2017-10-31 16:11] tk0miya commented on #4186
+1 moving to `uplatex` is reasonable.

* I don't know `upmendex` is optimal or not. `mendex` also supports UTF-8 with `-U` option.
* We need to discuss what document class is better for `uplatex`. In Japanese docs, we usually uses `js*` classes. But `jsreport` was appeared in past few years. so it is distributed in TeXLive since 2017. So it might be better to use `jsbook` (w/ uplatex option) and `

[2017-10-31 17:24] skaller commented on #4195
Ok, so on a *local* version of sphinx with a modified Pygments lexer, I can get
TeX symbols rendered by MathJax. The lexer mod if incomplete w.r.t. Felix actual
rules. Add this to the start of the lexer:

[code]

and make the identifiers entry  in the lexer read:
[code]

All that remains is to hack the HTML with this *before* the mathjax inclusion:
[code]

I'm not sure how to get this to happen fr

[2017-10-31 17:39] mniak commented on #1836
+2!

[2017-10-31 17:41] skaller commented on #4195
BTW: the above is a hack because it will screw up LaTeX output. The correct way to do this in Pygments is to add a token type TeXMath and then have the formatter for HTML and LaTeX do the translation.

This would impact Ocaml too. In Ocaml type variables are written 'a, 'b etc, but they should be typeset as as Greek letters alpha, beta, etc.

[2017-10-31 18:58] jfbu commented on #4195
Are you sure you need it before MathJax inclusion? Brief testing seems to work even if after. To obtain that (after) inclusion, put the following as file ``layout.html`` in ``_templates/`` directory.

[code]

Please check [Sphinx documentation](http://www.sphinx-doc.org/en/stable/templating.html?highlight=extra%20css#jinja-sphinx-templating-primer) on templating.

I tested with ``html_theme = 'sph

[2017-10-31 19:04] jfbu commented on #4195
ah indeed it ends up _before_ when using `sphind_rtd_theme`; but with `alabaster` it will be included _after_. Nevertheless the MathJax does work there too in ``<pre>..</pre>``.

[2017-10-31 19:31] gioelelm opened #4204 "ParseError triggered by f-strings"
### Problem
I encounter a Parse Error that causes both ``autodoc_member_order = 'bysource'`` and ``:member-order: bysource`` to fail and the members to be outputed in alphabetical order.
The problem seem to have deeper roots and it seems to be caused by presence of f strings.

#### Procedure to reproduce the problem
I was trying to build the docs for my project [velocyto](https://github.com/velocy

[2017-10-31 21:45] timhoffm opened #4205 "How to handle a missing parameter description in numpydoc"
### Problem
I've recently come across a numpy docstring with a missing parameter description. Example: `axis` has no description.

[code]

**First question**: Is this a valid numpy docstring at all? If not, what would be the correct way to write this?

This docstring converted to:

![grafik](https://user-images.githubusercontent.com/2836374/32249943-f907d29a-be8a-11e7-930a-55afb7f6acfb.png)

Note

[2017-10-31 22:40] raygard opened #4206 "LaTeX: reST label between paragraphs loses paragraph break"
A label (link target) between paragraphs causes LaTeX to join the paragraphs into one paragraph.

    #!reST

    This is paragraph 1. :ref:`This is a link to paragraph 3 <label_paragraph_3>`. More text...

    This is paragraph 2.

    .. _label_paragraph_3:

    This is paragraph 3.

    This is paragraph 4.

Results in a PDF like this:

    This is paragraph 1. This is a link to paragraph 3. Mo

[2017-11-01 01:26] skaller commented on #4195
From this link:

http://docs.mathjax.org/en/latest/configuration.html#using-in-line-configuration-options

it explains the inline configuration options must be given first. Interesting you found this not to be the case... perhaps it depends on which options.

Using in-line configuration options
The second way to configure MathJax is through in-line configuration, which puts the configuration optio

[2017-11-01 02:20] skaller commented on #4195
BTW: I can say: with the modified Felix lexer for Pygments, Pygments screws up the LaTeX output if it uses "escapeinside". Without escapeinside, just plain \alpha in the code, it just prints the ```\(``` and ```\)``` delimiters. It also prints $.  It seems Pygments is incorrectly using $ delimiters for math (LaTeX recommends using ```\(``` and ```\)```). I think this means my "hack" to the lexer w

[2017-11-01 04:11] gauss256 opened #4207 "PyTorch import fails for make html"
### Problem
Using `autodoc`, when I run `make html` on even the simplest file that uses PyTorch, it fails with the error message below.

#### Procedure to reproduce the problem
Sphinx was set up using `quickstart` and taking all the defaults except to say yes for `autodoc`. I have reproduced the problem with a project that has just one source file, whose contents are:
[code]

#### Error logs / res

[2017-11-01 05:15] tk0miya commented on #4207
Can you import `torch` in your environment? The error says failed to import dynamic libraries for TLS.
I guess this is environment issue.
autodoc tries to import the target program on generating document. So it should be importable.

[2017-11-01 07:10] jfbu commented on #4195
indeed in LaTeX code-blocks, as produced by Sphinx, using `\(` and `\)` is correct way to escape to math mode. I should have said that earlier (rather than `\ensuremath` thing). Notice that  contrarily to `minted` context mentioned at top of thread, produced LaTeX mark-up needs no extra escape. Simply `\(` and `\)`. In short, you need same mark-up as for HTML MathJax ready output. (well not quite,

[2017-11-01 07:35] skaller commented on #4195
Right, but this doesn't work using *minted* package inside LaTeX,
rather than using Sphinx to create a LaTeX document. I tried it.
It bugs out LaTeX.

Just to be clear, the pipelines are, roughly:
[code]

The first pipeline is what RTD is using via Sphinx to make HTML from reST documents.
The second is what RTD is using via Sphinx to make LaTeX and then PDF from reST documents.
The third is what I

[2017-11-01 08:26] manojYenni commented on #4201
`sudo -H pip3 install Sphinx`

[2017-11-01 10:35] AlexBudesteanu commented on #2174
Is there a fix for this issue or a way to get around it?

[2017-11-01 13:18] tk0miya commented on #2174
Could you share me a reproducible example? I'd like to investigate that.

[2017-11-01 13:23] tk0miya commented on #4201
Please let me know the result of `pip3 list` and `python3 -c 'from markupsafe import EscapeFormatter'`

[2017-11-01 13:45] jessetan commented on #2502
If this is ever picked up, there are some useful comments in #3432. I've also started using `..raw:: latex` instead of `latex_appendices` because of the orphan issues mentioned there, as well as undesired page order when combined with bibliographies using sphinxcontrib-bibtex.

@rra see #4133 for ideas about section numbering/lettering

[2017-11-01 13:54] RobRuana commented on #4205
You could try adding a newline, like so:

[code]

[2017-11-01 14:07] timhoffm commented on #4205
An empty line does not work. One would have to use an empty comment:

[code]

I'm just wondering, does the format have to be so strict? Either the converter numpydoc -> `.rst` or even better `.rst` -> `.html` could handle this more gracefully.

[2017-11-01 14:09] AlexBudesteanu commented on #2174
Before giving an example, I would like to enforce what @danbrees said:

by referencing _MockModule class in /ext/autodoc.py on my machine. (I have installed sphinx via debian so i have  version '1.3.6-2ubuntu1.1')

[code]

[2017-11-01 14:14] tk0miya commented on #2174
Now newest stable version is 1.6.5.
1.3 series is too old. Could you try newest version? It is much improved.

[2017-11-01 14:30] AlexBudesteanu commented on #2174
I can confirm that it works with v1.6.5.
Thank you for the support!

[2017-11-01 14:50] ekpgh opened #4209 "In Intersphinx link hover text, "v" should be optional if target has no version"
Subject:
When using Intersphinx to link between two HTML documents, the version number for the target document automatically shows shows up in the hover text of the hyperlink, even if the target does not have a version number. This gives a "v" with nothing else after it.

### Problem
Created Intershpinx links to a help document that doesn't have version numbers. When the link is rendered in the HT

[2017-11-01 15:49] #4206 closed, assigned to nobody

[2017-11-01 15:53] tk0miya commented on #4183
I just made a new PR #4210 to resolve this.
Could you check this and give me your opinion please?

[2017-11-01 15:56] dhermes commented on #4183
@tk0miya That doesn't quite resolve this issue. The problem is in `sphinx.ext.doctest.compare_version()`.

I realize saying `>= 3.6, < 3.7` will be **equivalent** to `== 3.6`, but it will still leave `==` "broken" / with unexpected behavior.

[2017-11-01 16:17] tk0miya opened #4211 "Sphinx-1.7 release plan"
Hi maintainers,

Sphinx-1.6 was released at May 16.  According to our time based release policy, this November is time to release. But I feel we could not work so much for Sphinx in this summer because of busyness, absent and so on. So I'd propose you to release next major version in this Winter, December, January or February. What do you think about the schedule?

I know we still have a lot of is

[2017-11-01 16:48] #3574 closed, assigned to nobody

[2017-11-01 16:50] tk0miya commented on #3834
I'm closing this now because I can't reproduce the error.
Please feel free to reopen if you still have this problem.
Thanks,

[2017-11-01 16:50] #3834 closed, assigned to nobody

[2017-11-01 16:56] gauss256 commented on #4207
Right, I forgot to mention that I have no problems importing `torch` when I run my script standalone through Python.

[2017-11-01 17:18] tk0miya commented on #3910
Thank you for comment.
pygments-2.2.0 is released Jan 2017. So it is very new for us. To support many people, it would be nice to reduce strong restriction.
I know newest package is much improved and having bug fixes. But I feel they are not critical. so I'd like to keep our dependency as is.

Thanks,

[2017-11-01 17:18] #3910 closed, assigned to nobody

[2017-11-01 17:19] #3990 closed, assigned to nobody

[2017-11-01 17:24] tk0miya commented on #4204
Could you try our master branch? It includes new python code parser for autodoc.
I hope it resolves your problem.

[2017-11-01 22:44] shimizukawa commented on #4211
Thanks for the suggestion. I agree to postpone for about 3 months.

BTW, under the time-based release policy, I think that we don't have to worry about the presence of big new features.

[2017-11-02 08:03] shimizukawa opened #4214 "Two todolist directives break sphinx-1.6.5"
### Problem
- Two todolist directives in one document break `make html`

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- https://app.wercker.com/sphinxjp/sphinx-users.jp/runs/build/59f806598e888f0001d5feb0

#### Expected results
no error

### Reproducible project / your project
- https://github.com/sphinxjp/sphinx-users.jp/tree/961cc48f57d30ced4ffbca25783390bfaa8

[2017-11-02 08:03] shimizukawa commented on #4214
I think PR #4153 is the cause of this issue.

[2017-11-02 10:47] manojYenni commented on #4201
Output of ``pip3 list``

[code]

Output of ```python3 -c 'from markupsafe import ```

[code]

[2017-11-02 13:11] tk0miya commented on #4201
It seems version mismatch.  Jinja2 requires `MarkupSafe>=0.23`.
https://github.com/pallets/jinja/blob/2.9.6/setup.py#L72

Please upgrade MarkupSafe or downgrade Jinja2.
Anyway, this is not a bug of Sphinx. So I'm closing this now.

If you still have problem, please post to sphinx-users forum.
https://groups.google.com/forum/#!forum/sphinx-users

Thanks,

[2017-11-02 13:11] #4201 closed, assigned to nobody

[2017-11-02 13:12] tk0miya commented on #4214
@Smattr Could you check this please?

[2017-11-02 13:51] stephenfin commented on #4211
I'd like to add two additional items that I think should form part of the discussion for this release: considering switching to trunk-based development and deprecating sphinx-contrib.

# Switching to trunk-based development

Sphinx is currently developed using a something similar to the git-flow model. My understanding of this is as below: please correct me if I have anything wrong.

- We have two

[2017-11-03 00:12] Smattr commented on #4214
I can reproduce this. I don't know if PR #4153 is the cause, but it certainly seems like the prime suspect. I'll have a look at fixing it. Apologies for the inconvenience.

[2017-11-03 04:50] Smattr commented on #4214
Confirmed that reverting ed4949e00008311587dc57a3e84e203920f7af00 fixes this problem. Sorry, my fault :( This is reproducible with the LaTeX back end as well, and the underlying problem looks independent of the back end. I'll work on this.

While trying to construct a test case for this I'm getting the following failure for Python 2 and 3. My dev VM isn't exactly a clean environment so I assume th

[2017-11-03 14:42] martin-ueding opened #4215 "Modifying link text in toctree based on document meta data"
I have a website with Sphinx that has both German and English articles. I distinguish them by having document meta information at the top:

[code]

Then in my template I can make use of this `lang` attribute and do various things.

In the toctrees all over my site, I would like to expose the language to the user by the use of a unicode flag (🇩🇪 and 🇺🇸). This means that in a `toctree` directive, th

[2017-11-04 14:25] gioelelm commented on #4204
Thanks! Now output is correct.

[2017-11-06 06:11] Tagar opened #4219 "Would be great to have Markdown output support from Sphinx"
Subject: Would be great to have Markdown output support from Sphinx

### Problem
- As described on https://stackoverflow.com/questions/13396856/markdown-output-for-sphinx-based-documentation that would be extremely helpful for Sphinx to natively support Markdown output.

Thank you.

[2017-11-06 13:40] ghost commented on #3994
#2750

[2017-11-06 13:42] ghost commented on #2750
Still very much looking forward to this after having discovered antiques GNU 'diction' and 'style' that help automate readability metrics. Meanwhile, using w3m -dump -T text/html to convert the singlehtml output into text suitable for passing through the previously mentioned utilities.

[2017-11-06 15:05] mathhtam opened #4220 "List in a parameter docstring not properly displayed in sphinx.ext.napoleon?"
Subject: Python docstring allowing in list in Parameters / Returns section

### Problem
I'm using sphinx autodoc extension together with sphinx.ext.napoleon. I'm following numpydoc style guide since I think it is more readable than google's one. However, I've noticed the following issue which I wasn't able to fix.

If I want to put a list in the Parameter section I get a weird display. The font is

[2017-11-06 15:08] mathhtam commented on #4220
For whatever reason I can't upload two pictures in one issue. That's why I post here the first one

![qjywg](https://user-images.githubusercontent.com/33424776/32447533-aec4a4fc-c30c-11e7-894a-fdf3f4b1a6c9.png)

[2017-11-06 17:06] Shaun-Griffith-Hive opened #4221 "Extensions Order Dependence in conf.py"
Subject: The order of extensions listed in the `conf.py extensions` array can cause an error.

### Problem
- Napoleon extension listed before Autodoc extension causes an error, as autodoc is not handled first.

#### Procedure to reproduce the problem
[code]

Workaround: specify the extensions in the `--extensions` list, with autodoc before napoleon. The extensions are emitted into `conf.py` in the

[2017-11-07 06:06] Zac-HD opened #4223 "sphinx.ext.autodoc breaks reporting of sphinx.ext.doctest"
Subject: `sphinx.ext.autodoc` breaks reporting of failing examples for `sphinx.ext.doctest`

### Problem
If you are using autodoc and doctest in the same project, doctests in docstrings are reported as existing in the file they are included in, rather than their actual location on disk.  This makes fixing failed doctests much harder than it should be!

To make things more difficult, the reported l

[2017-11-07 20:36] markcmiller86 opened #4224 "unknown directives within only:: or ifconfig:: blocks still generate error messages"
Subject: unknown directives within only:: or ifconfig:: blocks still generate error messages

### Problem
Both of the following constructs aim to prevent the `.. spelling::` directive block from being interpreted except in certain conditions.

[code]

or

[code]

With `sphinx-build` invoked with or without `-t spelling` the `.. only::` version winds up generating the error message below. Likewise

[2017-11-07 22:17] shimizukawa commented on #1592
Thanks for letting me know!

[2017-11-07 22:17] #1592 closed, assigned to nobody

[2017-11-08 00:00] abooij opened #4225 "Syntax highlighting skipped on literal_block with unicode"
When using unicode in a language that accepts it, on a block of code that is accepted by pygments, the doc build breaks.

### Problem
I am trying to get syntax highlighting for the following code:
[code]
As you can see, this uses the unicode symbol `¬`.

#### Procedure to reproduce the problem
As a test case, I try to compile the following `index.rst` in an otherwise vanilla sphinx project:
[code]

[2017-11-08 07:43] anntzer opened #4226 "sphinx-apidoc generates old-style (long) Makefile"
Subject: sphinx-apidoc generates old-style (long) Makefile

### Problem
sphinx-apidoc generates the old-style, long form Makefile, rather than the newer, short-form Makefile that simply forwards to sphinx's make-mode.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
The long form Makefile is printed.

#### Expected results
The short form Makefile is printed.

The invocati

[2017-11-08 07:52] anntzer commented on #4221
I very recently reported a similar issue with numpydoc (https://github.com/numpy/numpydoc/issues/141).  I would assume that for this case, sphinx.ext.napoleon should just force-load sphinx.ext.autodoc at the very beginning.

[2017-11-08 08:29] anntzer opened #4227 "Inconsistent formatting of parameter descriptions depending on whether they have one or multiple paragraphs"
Subject: Inconsistent formatting of parameter descriptions depending on whether they have one or multiple paragraphs

### Problem
Descriptions of parameters that have a single paragraph start on the same line as the parameter name and type, whereas descriptions of parameters that have multiple paragraphs start on a new line, creating an inconsistent layout.

#### Procedure to reproduce the problem

[2017-11-08 16:05] jfbu commented on #4225
Additional info: the html produced from ``pygmentize -v -l coq -f html -o temp.coqout temp.coq`` looks like this

[code]

The bits ``<span class="err">¬</span>`` do not look encouraging... does ``err`` stand for "erroneous input"? I inserted this manually in some HTML produced by Sphinx (I used your working input and injected directly in html the above) and here is what it gives;

![capture du 201

[2017-11-08 16:12] jfbu commented on #4225
Even if Pygmentize 2.2.0's COQ lexer does not yet handle such input, the question remains why Sphinx would abort syntax highlighting altogether rather than keeping the ``"err"̀`` class tags, which may be better than nothing as user can override the CSS to remove visual display of an error condition of pygmentize.

[2017-11-08 16:24] jfbu commented on #4225
about the good first issue tag, I don't think we have a definitive policy here, so in the end I removed it as I don't like so much the idea of it actually... ;-)

[2017-11-09 13:19] berkerpeksag commented on #3751
PR #3938 has been merged. This issue can be closed.

[2017-11-09 16:19] szymonlopaciuk opened #4228 "UnicodeEncodeError when commit author name has unicode characters"
Subject: UnicodeEncodeError when author commit has unicode characters

### Problem
Committed some code with my name containing a unicode character `Ł`, `sphinx-build` fails with the output below. Had to workaround by converting my name to ASCII.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Proceed without errors.

### Reproducible project

[2017-11-09 19:04] jfbu commented on #4211
@stephenfin

You seem to be referreing to sphinx-doc.org, of course by git cloning the repo we can theoretically build doc for any tagged version. Theoretically as there may be difficulties from local environment (Python, Docutils). But having a gigantic pop-up at sphinx-doc.org will all past tagged version inclusive of intermediate releases does not look like improvement. Bug-fix releases try har

[2017-11-09 19:33] txomon opened #4229 "Annoying links to original on scaled images"
Subject: It's annoying to have all rescaled images linked to original one always

### Problem
- If you rescale anything, even an icon, sphinx will generate a link to it

#### Procedure to reproduce the problem
Scale an image.

#### Expected results
Can we just add an option to image to avoid the generation of the link?

### Environment info
- OS: Linux
- Python version: 3.6
- Sphinx version: lates

[2017-11-10 11:09] jorisvandenbossche opened #4230 "Considerable slowdown in writing autodoc pages with sphinx 1.6.x"
For the pandas docs, we currenlty pin sphinx to 1.5.x because we previously had problems with 1.6. I was now investigating what the problem exactly is preventing us to upgrade (https://github.com/pandas-dev/pandas/issues/16705), and the main problem is a considerable slowdown in the writing phase.

### Problem

Building the pandas docs went from ca 20 min to > 50 min, when switching from sphinx 1.

[2017-11-11 06:52] tk0miya commented on #4183
I think the behavior is a specification of `:pyversion:` option from its beginning. I don't know which is natural, but we have to take care of compatibility. There are some documents which already use it.

[2017-11-11 08:34] tk0miya commented on #4229
How about `html_scaled_image_link`?

[2017-11-11 09:19] tk0miya commented on #4211
I don't think so. The advantages you said is not much better.

From shortage of maintainers, we don't support older release. We always support latest release only. So this is not advantage for us.

What do you mean? We can refer all documents for each minor release. For example, docs for 1.5.x is placed at here: http://www.sphinx-doc.org/en/1.5.6/
I know its URL contains revision. But I believe th

[2017-11-11 09:20] txomon commented on #4229
I do want that pictures that are scaled actually have a link to originals,
that's just fine. But there are small ones like icons etc that just don't
make sense =)

On Sat, Nov 11, 2017, 08:34 Takeshi KOMIYA <notifications@github.com> wrote:

[2017-11-11 09:28] tk0miya commented on #4211
@shimizukawa Thank you for comment.

It seems nobody opposite to my proposal, so now I propose all of you the rough schedule:

* Mid of Jan: Feature freeze, Call for translation and release 1.7b1
* Mid of Feb: release 1.7 final

Please let me know your opinion.

Thanks,

[2017-11-11 09:30] tk0miya commented on #3549
Fixed by #4231

[2017-11-11 09:30] #3549 closed, assigned to nobody

[2017-11-11 09:36] #3751 closed, assigned to nobody

[2017-11-11 09:36] tk0miya commented on #3751
Right, thanks!

[2017-11-11 09:42] tk0miya commented on #4228
`conf.py` is a python script. so you need to use unicode literal `u'...'` to use unicode chars if you use python 2.x (Or moving to python 3.x!).
Please check your `conf.py` again.

Thanks,

[2017-11-11 12:20] tk0miya commented on #4229
Ah, I understand. sorry, `html_scaled_image_link` is not good.
Indeed, such a hyperlink is not needed. Yes, any contribution is always welcome :-)
I think no option is needed. It's reasonable behavior to me.

[2017-11-11 12:33] tk0miya commented on #4225
Now sphinx uses `raiseonerror` filter of pygments. On my local, pygments considers the unicode characters as an error.
[code]
[code]

[2017-11-11 14:26] Zac-HD commented on #4223
Further investigation suggests that the problem is in `ext.doctest`, assuming that [`doc2path`](http://www.sphinx-doc.org/en/stable/extdev/envapi.html#sphinx.environment.BuildEnvironment.doc2path) is an appropriate way to describe which document we're in.  This is incorrect when `node.source` points to a different file, eg via autodoc or include directives.

It's not yet obvious where best to make

[2017-11-11 14:59] skaller commented on #4195
Hmmm. I have made an extension _static/felixmathjax.py from sphinx/ext/mathjax.py to load _static/felixmathjax.js, which is the MaxJax.Hub.Config code in previous posts. The modified felixmathjax.py is correctly loaded and used from the conf.py file.

I also modified my lexer. I had to destructively update my system library for that.

This is generated as expected:
[code]
 in the HTML but does not

[2017-11-11 15:04] jfbu commented on #4195
Isn't the [template override method](https://github.com/sphinx-doc/sphinx/issues/4195#issuecomment-340872142) working for you? Are you doing other things in your python code apart from adding the Javascript to generated HTML?

[2017-11-11 15:22] jfbu commented on #4225
Oh, I had missed the ``-F raiseonerror`` pygmentize option. If Sphinx has no way to instruct Pygments to distinguish Unicode character caused error from other types of error then prospects are bleak here.

[2017-11-11 15:28] skaller commented on #4195
ah sorry, i haven't tried that method. Will try now.

[2017-11-11 15:42] skaller commented on #4195
Yeah, that works despite being added in the wrong place. That worries me but it seems to work.

So the next problem is, how to get my new Felix lexer loaded by Pygments. The trick there was just to emit the token "Generic" in the lexer, and then, munge get_tokens_unprocessed() to add ```\(```, ```\)``` around the math text. May mess up the LaTeX output but that's another issue.

[2017-11-11 15:49] skaller commented on #4195
There is another problem, the colours on my local system are fine. But on RTD they're barely visible, if they exist at all, except for the really bad choice of red for all the wrong things. I tried different styles and none work. It seems like RTD is messing about with the opaqueness. Its not just Felix. C++ code is affected too. So is Python. The colours are there, they're just not strong enough.

[2017-11-11 15:53] txomon commented on #4229
When you mean no option, you mean that no additional attribute for
`..image::` is required? If so, what method for not generating the link do
you propose?

On Sat, Nov 11, 2017, 12:20 Takeshi KOMIYA <notifications@github.com> wrote:

[2017-11-11 16:53] #2298 closed, assigned to nobody

[2017-11-11 17:06] tk0miya commented on #4225
I don't know why pygments raises an error because I don't know about coq language. Anyway, current Sphinx always uses `raiseonerror` mode of pygments. So it is nice to change this settings through options.

[2017-11-11 22:30] dhermes commented on #4183
I'm not sure how you mean "is a specification". I understand the desire to stay compatible, but right now `== 3.6` will not match **any** version at all. So anyone using this will have doctests that are ALWAYS skipped. To "break" these users is to actually have their tests run, which doesn't seem too strange.

(This applies equally to any `X.Y` (not just `3.6`), i.e. without the micro version `Z`

[2017-11-12 02:33] tk0miya commented on #4221
Fixed at #4233 . Thank you for reporting!

[2017-11-12 02:33] #4221 closed, assigned to nobody

[2017-11-12 03:27] tk0miya commented on #4226
+1

[2017-11-12 04:10] AWhetter commented on #2979
Is there a preference on either of the above methods? Or is there an even better solution that I'm missing?

[2017-11-12 06:32] HyukjinKwon commented on #3157
Hi all, does anyone know if maybe this is resolved by https://github.com/sphinx-doc/sphinx/pull/2299?

[2017-11-12 09:55] #4226 closed, assigned to nobody

[2017-11-12 10:29] tk0miya commented on #4229
AFAIK the thumbnail images are used only if users uses `:scale:`, `:width:` or `:height:` options for images. So it is possible to know the conversion is needed or not. I think a hyperlink is not needed for not converted images even if these options are specified.

[2017-11-12 13:38] txomon commented on #4229
Yes, my question is, how do we deactivate the hyperlink generation when those images are specified?

[code]
my proposal was to add an option, and you seemed to say that no option is needed, so I am asking what solution would you propose.

Sorry if I wasn't clear enough =)

[2017-11-12 15:12] tk0miya commented on #4230
Hmm, I feel this is a very difficult issue. We only provides `-vvv` option to increase verbosity for debugging.
Can I see the logs both 1.5 and 1.6?

Note: Sadly, I failed to build pandas document on my local. It is very difficult to prepare the environment to me.

[2017-11-12 16:23] jorisvandenbossche commented on #4230
Yes, the pandas docs are quite huge and need a complicated environment to fully build. But I will make a smaller test docs version that should be easier to test (and to provide logs for).
Thanks for the response!

[2017-11-13 08:36] cjw296 commented on #3157
@HyukjinKwon - unsure, but if you fancy experimenting on Mush, if there's any changes needed, feel free to put in a PR!

[2017-11-13 10:50] abchenson opened #4239 "ref label page rather than title?"
Feature request:

* When I use ```:doc:`page` ```   I get a link to the page itself, but the name "page" is dependent on the filename and path. It breaks when I change this.
* When I use ```:ref:`page_label` ```   , and add the label to the top of the page.rst file, this is robust against changes in the filename and path.  But the link is to the first title in the page, it scrolls to hide the navi

[2017-11-13 11:03] jorisvandenbossche commented on #4230
I made a test repo with a small subset of our docs: https://github.com/jorisvandenbossche/pandas-test-docs. This should be easier to test out.

Running this now with different versions of sphinx, will post the logs shortly.

[2017-11-13 12:51] jorisvandenbossche commented on #4230
Below the logs for building the rest repo with 1.5 vs 1.6 (for the rest they were run in exactly the same environment, only the sphinx version differed). There are some warnings, but those can be ignored (unrelated issues we are trying to solve).
So the time difference here is 37s vs 1min22 (the relative difference is bigger on the full docs, possibly because here is more overhead compared to the

[2017-11-13 13:10] jorisvandenbossche commented on #4230
Looking at the difference in the logs in the writing phase, I notice that with sphinx 1.5.6 the following events are emitted:

[code]

while with sphinx 1.6.5 it is:

[code]

So without the 'html-page-context' event.

I am not familiar with this event, but this might indicate it is not reusing a template page but each time building the full page from scratch with sphinx 1.6.5? Were there changes r

[2017-11-13 13:20] #4228 closed, assigned to nobody

[2017-11-13 14:01] jorisvandenbossche commented on #4230
Trying to figure out further what is happening, I patched `_write_serial` in `Builder` to time the different steps.

With 1.5.6:

[code]

With 1.6.5:

[code]

So with sphinx 1.6.5 writing a single page consistently takes quite some more time.

[2017-11-13 16:32] tk0miya commented on #4239
AFAIK, there are no way to do that. I don't understand why do you dislike to use `:doc:` role. In your environment, are filenames fragile?

[2017-11-13 22:00] osermay opened #4240 "Breaks reproducibility in html builders"
Subject: sphinx/sphinx/builders/html.py html builder

### Problem
- sphinx is causing reproducibility issues in other packages
- reproducible-builds is a software development practice that ensures that a package can be recreated bit-by-bit identical copies of all specified artifacts
- to find out more information about reproducible-builds checkout: https://reproducible-builds.org/
- the source of

[2017-11-14 13:52] Zac-HD commented on #4223
I now [have a partial solution for this](https://github.com/sphinx-doc/sphinx/compare/stable...Zac-HD:doctest-reporting) - at time of writing, filenames are now reliably correct.  The key was to derive them from the `node.source` rather than the name of the current document, and use the `TestCode` objects to carry this around on a per-doctest basis instead of assuming that every document has all d

[2017-11-14 17:48] skaller commented on #4195
I think this is more a Python question than anything, although possibly it should be an enhancement request.

I need to add a custom pygments lexer. There is an API call sphinx.add_lexer(lexer, alias) however the lexer must already be in sphinx.highlighting. So I need to extend sphinx.highlighting, which I propose to do by brute force: I will change the python path to load MY copy of highlighting

[2017-11-14 18:37] skaller commented on #4195
Ok this seems to work:

[code]

[2017-11-14 23:11] jorisvandenbossche commented on #3900
The exact same thing happens for Attributes (eg if you want to include automatically a list of the attributes in a class template, as done for methods in the example above).
Can you 'attributes' be special cased as well (with a similar fix as the one that closed this issue?)

[2017-11-14 23:12] jorisvandenbossche commented on #3900
I see this is already reported in #4058 as well (although that has a broader scope)

[2017-11-15 01:29] skaller commented on #4195
Final result, needs tweaking but the interfacing now works:
![mathinfelix](https://user-images.githubusercontent.com/431744/32813860-6ef3f6de-ca00-11e7-86c6-bec753956d30.jpeg)

Although not faithful to the real Felix encoding at the moment it is good enough
for docs. I used a custom lexer xfelix which shows TeX symbols, and will also do
an updated lexer for felix which shows what you see in your e

[2017-11-15 01:35] #4195 closed, assigned to nobody

[2017-11-15 04:59] skaller commented on #4195
http://felix-tutorial.readthedocs.io/en/latest/hello.html

[2017-11-15 13:31] BMaxV opened #4241 "first steps documentation about including other documents into toctree is incomplete"
### Problem
I'm trying to get started with sphinx, have never interacted with .rst before.

[This bit about adding elements to the toctree](http://www.sphinx-doc.org/en/stable/tutorial.html#defining-document-structure) tells me to add new documents to the toctree by writing them in there as shown, without the .rst ending.

What it doesn't say is that these documents apparently need a title. Becaus

[2017-11-15 14:33] tk0miya commented on #4241
Yes, the tutorial is writtern for users who knows reST already. Indeed, it is not kindful for new comers.
+1 for updating!

[2017-11-15 15:13] tk0miya commented on #4229
Ah, sorry. I'd misunderstood your request.  Okay, you'd like to disable hyperlinks of specific images, right?
I'd like to hear you why do you want to disable specific ones?

I think we have to be careful to add a new option by Sphinx to keep syntax simple. So I'd like to know the reason.

[2017-11-15 15:37] tk0miya commented on #4227
The second list item is rendered as following HTML:
[code]
The two paragraphs are surrounded by `<p>` tag. As a result, they are folded into next line.

As a workaround, I modified styles for `.field-list p` as `display: inline`. It is rendered like this:

![2017-11-16 0 34 28](https://user-images.githubusercontent.com/748828/32844517-f0b76506-ca65-11e7-90e4-c82937726bca.png)

I don't know which i

[2017-11-15 15:41] tk0miya commented on #4224
Unfortunately, `only` and `ifconfig` works on writing phase. So the contents of these directives are parsed on reading phase. This is specification of these directives.

[2017-11-15 15:53] jfbu commented on #4227
is there something to fix in LaTeX too? currently it gives this

![capture d ecran 2017-11-15 a 16 51 29](https://user-images.githubusercontent.com/2589111/32845566-514e319c-ca25-11e7-9502-916a5a9c2c02.png)

[2017-11-15 16:02] jfbu commented on #4195
Good that you apparently cleared-up obstacles! I think people visiting the tutorial will really need to see and be able to copy/paste the felix source code prior to any MathJaX rendering. I understand this is intended?

[2017-11-15 16:18] txomon commented on #4229
It's part of the problem description when I opened the issue. It doesn't make sense to have a link in an icon.

Another alternative I had thought of was to put some null link or something in the link in the existing `:target:` option, but couldn't figure it out. I am really open to suggestions

[2017-11-15 16:20] skaller commented on #4195
At the moment, that is doubly impossible. First, the math codes there represent real Felix code BUT the encoding is a cheat. Even on flx_web, which translates *real* Felix code, the output TeX is not quite the same as the Felix code. Whether you can actually copy HTML at all is another question.

I am looking now at TWO lexers, one which shows the code "as you see it in your dumb editor" and one y

[2017-11-15 16:28] skaller commented on #4195
Just FYI: TeX uses {} for grouping, and does not respect (). Felix of course uses () for grouping, and {} is actually used in expressions for lambdas. Felix turns "math mode" on with `\( \)`. I forget whether that actually prints. But when we see (), we have to add {} around it for TeX. Also \letters is a valid Felix identifier *outside* math mode, but we have to add `\(\)` around it so MathJax se

[2017-11-15 16:52] markcmiller86 commented on #4224
Thanks for response.

Indeed...that is unfortunate!

That said, I did resolve my particular issue a different way and you can read about it [here](https://github.com/sphinx-contrib/spelling/issues/8#issuecomment-344338038) if interested.

[2017-11-15 16:52] #4224 closed, assigned to nobody

[2017-11-15 18:03] RGSchuster commented on #4229
I may be too new to Sphinx, but could you add a feature, say `html_icon_image_link` that, when set to false, disables the `post_process_images` function for images below a certain size?

[2017-11-15 22:08] txomon commented on #4229
In my case it's just for specific images. I wouldn't do it also dependant
on below a certain size, but just disabled by image. The use case is just
for certain images, is not something general. I could have another image
set to 50% scale and be an image I want a link for...

On Wed, Nov 15, 2017 at 6:03 PM RGSchuster <notifications@github.com> wrote:

[2017-11-16 09:27] epetragl opened #4242 "Labels for images with :only: directive"
Subject: Labels for images with :only: directive

### Problem

Hello, I would like to add a label to an image with only directive. I'm trying different combinations but I still get compilation errors.

#### Procedure to reproduce the problem

Here one example of what I'm trying to do.

Version A)

[code]
Version B)

[code]
#### Error logs / results

Error for Version A)

[code]
Error for Version B

[2017-11-16 10:17] aalemayhu commented on #3306
Is there any update on this? We are currently seeing this on some of our examples and it hurts.  Would love to have a consistent look of all the snippets.

[2017-11-16 18:23] anntzer opened #4244 "Document python -msphinx as allowing to dump an intersphinx db"
Subject: python -msphinx.ext.intersphinx is a practical way to dump an intersphinx db

### Problem
Sometimes a doc is missing an intersphinx db entry, causing headscratching for other projects that want to link to it.  `python -msphinx.ext.intersphinx url-or-path` is a practical, already existing way to print the contents of an intersphinx db, allowing one to quickly confirm that the entry is miss

[2017-11-16 20:55] simingy commented on #701
+1

[2017-11-16 23:12] timhoffm opened #4246 "Limit page width in all themes"
### Problem
The following themes do not have a width limit on their pages:

- nature
- classic
- traditional
- pyramid
- bizstyle

This can result in extremely long text lines on large screens, making text difficult to read.

### Proposal

I propose to change the css of the above projects to limit the page width.

In case there are concerns that this changes the themes and breaks backward compatib

[2017-11-17 08:57] jorisvandenbossche commented on #4058
FYI, I opened a PR to properly fix #3900 (so to make sure also attributes are available again in the autosummary template): https://github.com/sphinx-doc/sphinx/pull/4247

[2017-11-17 13:25] zaniphrom opened #4248 "searchindex.js contains rst_epilog matches for all pages in docs"
**Problem:** `rst_epilog` values are returned for all pages when searched for.

My understanding is that the `searchindex.js` file is built from the doctrees cache. https://github.com/sphinx-doc/sphinx/blob/master/sphinx/search/__init__.py#L239

Each doctree file contains all of the `rst_epilog` values. As a result, these are included for every page when indexed, e.g. this is included in all doctr

[2017-11-17 14:15] jorisvandenbossche commented on #4230
I just tested this with sphinx master, and apparently this is solved there. It actually is faster than 1.5.6 (the writing part went down from 20s in 1.5.6 to 4s with master, while it was 60s on 1.6.5).

Is there a timeline for the 1.7 release?
Or does anybody have an idea which commit could have fixed this in order to possibly backport it to 1.6.x? (I don't directly see something in the release no

[2017-11-17 14:58] stefanseefeld commented on #2316
Has there been any progress on this issue ? I'm currently trying to define my own domain, and to learn how to do this I installed a couple of custom domains (jinja, ruby, etc.), which all define their custom domains. Yet, I'm unable to figure out how to use them in my (sample) documentation.
What is the sphinx syntax to generate an index from a custom domain ? ":rb:ref:`modindex`" to generate a ru

[2017-11-20 10:26] abchenson commented on #4239
In our system there are of the order of 100 pages and we are developing the content, so it happens fairly regularly that a page gets renamed or moved.  In particular, when folders are reorganised a lot of names can change. What I do now is use :doc: and occasionally do a bit of work with search and replace, but my background with LaTeX makes me which I could write something like \ref{something} an

[2017-11-20 12:22] abooij commented on #4225
The code is valid coq as it is accepted by the compiler. Does that mean this should be additionally be reported with pygments?

[2017-11-20 13:00] jfbu commented on #4225
@abooij it does look as being primarily a Pygments problem.

[2017-11-20 13:33] abooij commented on #4225
@jfbu, why do you say that this is "primarily" a pygments problem? After all, pygments' own output is usable, although indeed not perfect.

[2017-11-20 13:52] jfbu commented on #4225
@abooij 1)  the "raiseonerror" Pygments filter does not seem to have great granularity, it generates an exception when the lexer generates an error token, and 2) if Unicode characters are ok in Coq input (I don't know), then why does the Coq lexer generate an error token? Except if something is wrong in the way Sphinx calls Pygments, this puts most of the problem on the Pygments side.

[2017-11-20 15:12] abooij commented on #4225
@jfbu Well indeed there is a problem on the pygments side. However, I highly doubt pygments will ever be able to get Coq syntax (or any other moderately complicated modern syntax, for that matter) completely right. In those cases, it would be preferable if sphinx generated something workable, rather than give up completely as soon as some subtle aspect of a language's syntax is used.

(Unicode is

[2017-11-20 15:33] jfbu opened #4249 "PDF output: Pygments error highlighting increases line spacing in code blocks"
#### Procedure to reproduce the problem

Apply following patch to silence Pygments exception on lexer error token:

[code]

Then do make latexpdf with index.rst being

[code]

and conf.py containing

[code]

#### Error logs / results

This produces this

![capture d ecran 2017-11-20 a 16 16 35](https://user-images.githubusercontent.com/2589111/33025870-66902a0e-ce0f-11e7-8f70-0ce63d74895d.png)

##

[2017-11-20 15:47] jfbu commented on #4249
This appears to a be a bug (or feature) of the Pygments latex formatter, because as far as I understand the `sphinxhighlight.sty` is generated (from `sphinx/builders/latex.py`) via a call to Pygments via a PygmentsBridge object (the class is defined in `highlighting.py`).

[2017-11-20 16:56] jfbu commented on #4225
I think @tk0miya concurred that an option to let Sphinx not use `raiseonerror` Pygments filter could be added to Sphinx. But then the user still has to use CSS for html or a custom redefinition in LaTeX preamble of `\PYG@tok@err` macro to decide what to do with the error highlighting itself.

Issue #4249 explains that Pygments' LaTeX formatter has a bug in that respect because it uses a `\strut` i

[2017-11-20 22:02] syutbai opened #4251 "Newline ('\n') in docstring drops words until end of line"
### Problem
Docstring in pdb.py has a '\n' followed with "exit".
<pre>
1106     def do_quit(self, arg):
1107         """q(uit)\nexit
1108         Quit from the debugger. The program being executed is aborted.
1109         """
</pre>

The resulting Sphinx-generated web document does not show the "exit" part:  https://docs.python.org/3/library/pdb.html.  Snippet of document shows option "exit" is mi

[2017-11-20 22:21] jzf2101 commented on #4251
According to https://github.com/ipython/ipython/pull/10911

[2017-11-21 03:05] Shadowell opened #4252 "Get error when generate PDF doc！"
Subject: <what happen when you do on which document project>

### Problem
- I want to generate a pdf document by sphinx,but its fail every time when i use the commond "make latexpdf" in win10 platform.Is there something need be installed?
And what should I do if I want generate pdf doc which include Chinese characters?
Begging For your advices!
Thinks!

#### Procedure to reproduce the problem
[cod

[2017-11-21 16:02] JulienPalard opened #4255 "Clarify startdocname value of latex_documents"
Subject: The doc is unclear about the expected value of the first element of tuples expected in `.latex_documents`

The documentation tells:

But the expected value is a "path-link-thingy" (I still don't know what is is exactly), but I was able to use it with `api/schema` for my documentation containing an `api/` directory with a `schema.rst` file in it.

Does someone know how it is expected to wo

[2017-11-21 16:11] stephenfin opened #4256 "The 'conf.py' generated by 'sphinx-quickstart' has too much noise"
The default `conf.py` file generated by Sphinx is far too complicated for its own good, containing a lot of stuff that really isn't necessary. We should come up with a plan to simplify this.

This was noted in the discussion for #4174

[2017-11-22 01:19] stefanseefeld opened #4257 "Omitting constructor signature from class header using `autoclass`"
I'm a bit surprised to see that (in the Python domain)
[code]
will create a heading like `class Foo(*args)` which seems quite unintuitive to me, as it mixes two concepts: the declaration of "class Foo", with a constructor call "Foo(*args)". How can I suppress the (automatic) addition of the constructor signature to the generated heading ?

I actually want to document the constructor with an additi

[2017-11-22 10:53] ppwwyyxx opened #4258 "Decorated __init__ doesn't show up in docs"
Subject: Decorated __init__ won't be documented. I'm working on [tensorpack](github.com/ppwwyyxx/tensorpack)

### Problem
- I have `napoleon_include_init_with_doc = True`, so `__init__` will be documented. But if I decorate the `__init__` method, it will not show up in docs.
I decorate it with `functools.wraps`, so the decorated object still has the same `__doc__`.
I've found that the bug is due t

[2017-11-22 12:10] sbourdeauducq commented on #3857
@tk0miya @shimizukawa ping

[2017-11-22 16:11] ianychoi opened #4259 "Multiple builders setting in setuptools returns a warning (Sphinx 1.6.5)"
### Problem
- https://github.com/sphinx-doc/sphinx/issues/4111 was fixed on Sphinx 1.6.5, but unfortunately executing setuptools with multiple builders ("html,latex") returns an warning.

Of course, "warning-is-error = 0" in setup.cfg makes it work fine, but since the warning is not from actual documentation, it would not be treated as warnings I think. Just either "builder = html" or "builder = l

[2017-11-23 10:39] navenduagarwal commented on #1867
install miktex and then generate pdf by running cmd pdflatex ___.tx file.

[2017-11-23 11:31] petsuter commented on #1867
My workaround has been to edit the `make.bat` and replace `make all-pdf` by `pdflatex MySphinxProjectName.tex`. Would be nice if that was already in the generated `make.bat`. Putting a call to `make.exe` in `make.bat` just makes no sense to me. Even if it's theoretically available from gnuwin32, MinGW, Cygwin, gnupack, ... why would anyone use `make.bat` if you need a `make.exe`  to use it anyway?

[2017-11-24 19:26] jorivanee opened #4260 "Autodoc issue"
Subject: Autodoc issue

### Problem
- Currently I have this: https://gyazo.com/3782bbce5d406ef9cb636b458cbcc509, how do I remove https://gyazo.com/0019a029a377e99bbab493fa9c894b4e

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- Nothing

#### Expected results
Not display (*, data={})

### Reproducible project / your project
- https://github.com/JustMaffie/PyDBL

[2017-11-26 16:59] chfw commented on #3976
for your reference, it is reproducing in my project: https://readthedocs.org/projects/pyexcel/builds/6321080/

interestingly, it does not fail in another one of mine:

https://readthedocs.org/projects/django-excel/builds/6257520/

[2017-11-26 19:34] #4114 closed, assigned to jakobandersen

[2017-11-26 20:39] jakobandersen commented on #4114
The cases should now work, and the fallback parser is back.

[2017-11-26 20:42] #4094 closed, assigned to jakobandersen

[2017-11-26 20:44] jakobandersen commented on #4094
Parsing of ``decltype(<expr>)`` should now work in the master branch.

[2017-11-26 21:57] jakobandersen commented on #4099
This is fixed in stable.

[2017-11-26 21:57] #4099 closed, assigned to jakobandersen

[2017-11-27 01:16] other-mickk commented on #4114
Could this have introduced the following bug (which should be a regression):

[code]

The tail-end of the traceback:

[code]

I can open a new issue if needed.

[2017-11-27 06:53] jakobandersen commented on #4114
Thanks, this was indeed a bug in the new code. It should be fixed now.

[2017-11-27 12:42] ghost commented on #3620
CSP can either be served via a header (i.e, via Apache) or put into a meta tag (i.e, in a Sphinx theme). The point of CSP is that it can be configured to disallow inline scripts/styles to prevent XSS/CSRF attacks so it *is* a Sphinx problem.

Currently the RTD theme sets DOCUMENTATION_OPTIONS expected by the basic theme (doctools, searchtools, etc.) by doing this:

[code]

IMO there should be a be

[2017-11-27 13:50] stbergmann opened #4262 "Race in 'making output directory...' causing fatal OSError: File exists"
Doing a (12-fold) parallel build of LLVM against python2-sphinx-1.6.5-1.fc27.noarch caused two failures

in a row, and each of the two /tmp/sphinx-err-*.log contains

And indeed

in /usr/lib/python2.7/site-packages/sphinx/application.py looks racy.

[2017-11-27 13:58] jessetan commented on #4133
@mwoehlke Suggestion: in your [`number_convertor`](https://github.com/mwoehlke/sphinx/commit/63891657a957456dce2906a8de20c47fab00f42f#diff-5966e6529b2c8594f9f487ac4c43a49aR35) also add a `letters` option that uses a function like:
[code]
This gives A, B, C, etc for the first 26 chapters, followed by AA, AB, AC etc, up until ZZ for the 702nd chapter.

[2017-11-27 14:11] hagenw commented on #2839
If someone with the same question ends up here: I have implemented a KaTeX sphinx extension, that can be used instead of mathjax, see https://github.com/hagenw/sphinxcontrib-katex/

[2017-11-27 15:14] mwoehlke-kitware commented on #4133
@jessetan, what about numbers and/or letters in other languages?

In my current approach, I abandoned trying to build in such cases, and instead I just invoke a user-supplied function. That way the user can implement whatever code they need.

[2017-11-28 07:41] ghost opened #4263 "Skip unsupported HTML theme options?"
My conf.py uses a theme (RTD).

Sometimes I want to also build a plain version using the basic/default theme.

I tried adding -D options to override the conf.py settings.

But I cannot override html_theme_options directly (its a dictionary?) and tried using html_theme_options.key=''.

When I do that, I still fail with a message of unsupported theme option 'display_version' (in my case) given.

Enh

[2017-11-28 08:11] Shadowell opened #4264 "Header and Footer alignment parameter is not available"
Subject: <what happen when you do on which document project>

### Problem
I modify the style file sphinx-style and add two items like this below:

    footer:
      parent: normal
      alignment: TA_RIGHT

    header:
      parent: normal
      alignment: TA_CENTER

The page num is still on the left at the bottom.What should I do to put the  page num on the right at the bottom of every page?

###

[2017-11-28 09:13] jessetan commented on #4133
Yes, that is indeed much more flexible.
For implementation in Sphinx, I'd argue that numbers, roman numerals, and letters are the most common uses of section numbering and users would benefit from a single option that switches between these, without requiring them to write their own Python function.
They also map nicely to the [counter types available in LaTeX](https://en.wikibooks.org/wiki/LaTeX/

[2017-11-28 20:05] mgeier opened #4265 "Translated HTML version contains English sources"
Sorry if this is a known issue ...

I've just noticed that when clicking on the source link (ソースコード) in the Japanese docs, I get to the English sources, e.g.

http://www.sphinx-doc.org/ja/stable/_sources/markup/toctree.rst.txt

This isn't right, is it?

[2017-11-28 20:09] mgeier commented on #4265
The same problem happens with the Spanish translation:

http://www.sphinx-doc.org/es/stable/intro.html

http://www.sphinx-doc.org/es/stable/_sources/intro.rst.txt

[2017-11-29 13:02] kreuzberger commented on #1491
I also ran in this issue. I have a problem with it providing multilingual support.
I have a german and an english rst file. The code from where i target the qthelp should be using id's only.
Cause id contains name, the name is language specific. This breaks this concept.
The id should be the id only, the name should be the name only

[2017-11-29 16:05] jfbu opened #4267 "PDF build broken by № (Unicode U+2116) character"
#### Procedure to reproduce the problem

File `index.rst`

[code]

[code]

#### Error logs / results
[code]

#### Expected results

Compilation succeeds because after all fall-back font (Computer Modern) contains the glyph contrarily to Times TeX font (`\usepackage{times}` default with Sphinx)

### Environment info
- OS: Mac
- Python version: 3.5.4
- Sphinx version: 1.6.3, current stable
- TeXLive

[2017-11-29 19:21] mwoehlke-kitware commented on #4133
...but in what combinations? The user-supplied function takes the *stack* of section numbers. How do I express that I want `1.II.A` vs. `A.1.II`. How do I express — *per level* — if I want upper- or lower-case? Trying to provide "defaults" beyond the built-in `1.1.1` quickly grows into a geometrical explosion of possibilities, at which point, the value vs. just forcing the user to provide the comp

[2017-11-29 21:50] markova24 opened #4269 "Autodoc issue with attributes without any format to be documented"
Subject: Sphinx documents class attributes without any format to be documented.

### Problem
- Some class attributes keep appearing in final document results within these attributes have no Sphinx format to be documented.

#### Procedure to reproduce the problem
Let's say you have an enumerated class like this, with a little description:
[code]
So, as you see, these "constants attributes" have no

[2017-12-01 03:06] gbhlwm opened #4270 "make html cause OSError: raw write() returned invalid length"
Subject: <what happen when you do on which document project>

### Problem
-Today, my computer update it's system win10 version,. Then i built html as usual, it returned this error. As before, it was built successfully not reported this error.
-Then,i try to sphinx-quickstart a new document, and make html, it report this error too

#### Error logs / results
[code]

### Environment info
- OS: Win10

[2017-12-01 15:30] kreuzberger commented on #1491
Added an option to generate those ids. now .. index:: keyword (id) will be seperated if option is enabled.

Then the index has a keyword in the language of the document, the id could be refered from the source code to activate the item in the manual.
Hopefully integrated soon :+1:

[2017-12-03 14:14] jfbu opened #4272 "PDF builds of French projects have issues with XeTeX from TL2016 or 2017"
### Problem

- the polyglossia French module has not been modified upstream to adapt to internal changes at xetex 0.99994 or later, in practice this means for people using TeXLive 2016 (it has xetex 0.99996 whereas TL2015 has xetex 0.99992) or derived TeX distributions, or TeXLive 2017.

- for reference on this, see http://tug.org/pipermail/xetex/2017-December/027215.html

- some expected typograp

[2017-12-03 14:35] jfbu commented on #4272
Upstream issue: https://github.com/reutenauer/polyglossia/issues/145

[2017-12-03 14:54] jfbu commented on #4272
Actually the upstream issue https://github.com/reutenauer/polyglossia/issues/145 is fixed upstream by merged PR https://github.com/reutenauer/polyglossia/pull/178, but

- the issue is still marked "Open",

- the polyglossia v1.42.5 release which will contain the merge is still to be finalized and pushed to CTAN and TeX distributions.

Anyway, this means that Linux TeX distros from years 2016--2017

[2017-12-04 17:09] hftf opened #4275 "Formats accepted by sphinx.util.i18n.format_date are limited"
[The documentation](http://www.sphinx-doc.org/en/stable/config.html#confval-html_last_updated_fmt) describes `html_last_updated_fmt` as accepting a string in `strftime()` format:

`%-d` is a valid `strftime()` format on my system, which represents the day without leading zeros, i.e. `1` to `31`. However this is not parsed correctly by Sphinx:
[code]

Either the docs should be modified to indicate

[2017-12-04 20:48] bartek1234321 opened #4276 "Problem with installation of gearman"
### Problem
Sphinx version:
- during installation of gearman below described error occures:

Exception occurred:
  File "/usr/lib/python2.7/dist-packages/sphinx/environment.py", line 1206, in get_doctree
    f = open(doctree_filename, 'rb')
IOError: [Errno 2] No such file or directory: u'/vagrant/gearmand/docs/build/doctrees/libgearman/gearman_return_t.doctree'
The full traceback has been saved in

[2017-12-04 22:40] jakobandersen commented on #3940
This has been fixed in master some time ago (with general expression parsing).

[2017-12-04 22:40] #3940 closed, assigned to jakobandersen

[2017-12-05 10:29] ghost opened #4277 "[q] sphinx-build Threads - when/how to use them - rules of thumb - tips/tricks"
A question about using the sphinx-build -j option. Does anyone have general tips, advice, rules-of-thumb for using them? My brief experiments don't show much improvement. Is it my platform, resources, sphinx project?

And thumbs up for not having to know all this if/when https://github.com/sphinx-doc/sphinx/issues/3947 is implemented.

[2017-12-05 11:25] shaloo commented on #2096
Thanks, this workaround saved me a lot of debugging time today!

[2017-12-06 00:35] simeonf opened #4279 "Sphinx crashes with pickling error when run with multiple processes and remote image"
Subject: When building with multiple processes image directives can cause an infinite loop

### Problem

Building a trivial sphinx docs site results in crash in the worker and the parent process never returns and must be interrupted.

#### Procedure to reproduce the problem
[code]

#### Error logs / results

No error log was created.

#### Expected results

Should successfully build.

### Reproduc

[2017-12-06 15:45] MartinNeighbours opened #4280 "Auto summary templates are not populating attributes"
Subject: When documenting any classes

### Problem
Methods are documented in the template class.rst, but attributes are not

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
The attributes section is populated in the output in _autosummary

### Reproducible project / your project
- <link to your

[2017-12-06 17:50] jfbu commented on #4267
Fixed at 10ec24b80d for 1.6.6

[2017-12-06 17:50] #4267 closed, assigned to nobody

[2017-12-07 03:22] justinfx commented on #4074
I've just encountered this as well and managed to find this existing issue. I'm getting *tons* of warnings for large  `Attributes:` sections in a class docstring. It does seem to want to generate links for all of these and it cannot map them to defined `@property` fields of the same name on the class.

[2017-12-07 14:52] LlianeFR commented on #4270
Hello,
I encountered the same bug in different modules (pip, pytest), it seems to be between python i/o and the console stream (and yes, caused by the latest win10 update), so nothing wrong with sphinx itself

https://github.com/Microsoft/vscode/issues/39149

[2017-12-07 22:20] justinfx commented on #1672
Any update on this issue? I am currently fighting to resolve build warnings because the use of `Attributes:` in a class docstring is causing a bunch of "reference target not found" issues.

[2017-12-07 22:27] mgorny opened #4281 "Race conditions when creating output directory"
Subject: Sphinx fails with EEXIST exception when multiple instances attempt to simultaneously create output directory

### Problem
We run Sphinx via cmake to create a few manpages in 'docs/man' directory. If parallel make (ninja) happens to run multiple Sphinx instances in parallel, it sometimes happens that they try to simultaneously create the output directory and fail.

#### Procedure to reprod

[2017-12-07 22:45] benjaoming commented on #2386
This doesn't work right now because setting `html_context` in `conf.py` is broken. See: https://github.com/sphinx-doc/sphinx/issues/2442

[2017-12-08 17:43] RobRuana commented on #1672
I have absolutely no free time at this point. If someone else could look into this/submit a pull request, I would be very grateful.

[2017-12-09 12:32] ricpelo opened #4283 "Images in admonitions (HTML and LaTeX output)"
How can I include images (icons) in admonitions for HTML and LaTeX output? Thanks in advance.

[2017-12-09 14:21] ricpelo commented on #4283
I tried with this preamble but the icon renders inside the admonition text:

[code]

[2017-12-09 16:28] ricpelo commented on #1238
[Minted](https://github.com/gpoore/minted) supports emphasize lines vía [fvextra](https://github.com/gpoore/fvextra) package for LaTeX `highlightlines` option (see [PDF](http://osl.ugr.es/CTAN/macros/latex/contrib/minted/minted.pdf) page 25). You can see the author's comment here:

https://bitbucket.org/birkenfeld/pygments-main/issues/1187/add-line-highlighting-to-latex-formatter#comment-30767868

[2017-12-09 16:50] jfbu commented on #1238
@ricpelo The blocker here is the LaTeXFormatter of Pygments. **Edit:** not true ... see [next comment](https://github.com/sphinx-doc/sphinx/issues/1238#issuecomment-350508056)

<strike>It is blocking to [Minted](https://github.com/gpoore/minted) as well, and that's the meaning of the comment of its maintainer that you reproduce.</strike> (wrong, sorry)

Once the Pygments LaTeXFormatter is enhanced

[2017-12-09 18:52] funkyfuture opened #4284 "Tests fail due to mock import with Python 3"
i'm a little irritated that i have to add the `mock` module to the test requirements for tests on a Python 3 interpreter (e.g. `tox -e py36`). i mean it makes sense that it fixes the `ImportError`s from `import mock` in the test modules as the stdlib's located at `unittest.mock`. what irritates me that no one else seems to have experienced that yet.

@stephenfin do you have any idea?

[2017-12-09 19:03] ricpelo commented on #1238
Thank you very much for the explanation, @jfbu .

[2017-12-09 19:49] stephenfin commented on #4284
Ah, good spot. This happens because the native mock in Python 3 is actually `unittest.mock` and not `mock`. We need to either remove the Python 2-only modifier on the requirement or switch between importing `mock` or `unittest.mock` depending on the version of Python we're running against. I'd probably opt for the latter because it's one less dependency and we'll surely drop Python 2.7 support at

[2017-12-09 20:20] funkyfuture commented on #4284
i wouldn't mind that one dependency for tests. actually, using `mock` from the cheeseshop would ensure that all tests use the identical version of it.

[2017-12-09 20:21] funkyfuture commented on #4284
interesting, but shouldn't `docutils` be reimplemented then? ;-)

[2017-12-09 20:24] stephenfin commented on #4284
`docutils` 0.6 is Python 3 compatible, no?

we'll surely drop Python 2.7
interesting, but shouldn't docutils be reimplemented then? ;-)

[2017-12-09 21:51] jfbu commented on #1238
@ricpelo Sorry, I made a mistake. I wrongly said [Minted](https://github.com/gpoore/minted) was also blocked by non-implementation on Pygments side of emphasize-lines option for its LaTeX formatter. Apologies, this was plain wrong. It does it all on LaTeX side, and did not wait for Pygments to add extra mark-up in its LateX output. The LaTeX contents of the environment is produced by Pygments but

[2017-12-09 21:54] timhoffm commented on #4246
If the basic idea is ok, I could write a pull request.

[2017-12-10 08:36] tk0miya commented on #4284
At once, I'd discussed with @shimizukawa about dropping py2 support. And we agreed with we can do it in Sphinx-2.0. But we don't know when it comes...
So I prefer to switch the mock module by running python version at present.

[2017-12-10 08:44] tk0miya commented on #4277
Unfortunately I don't know that...

[2017-12-10 09:26] ricpelo commented on #1238
@jfbu Thank you very much again. I'd just started to write a book using Sphinx but I really need this feature, so now I need to decide if stay in Sphinx or jump to LaTeX to write it. Could you give me an estimation of when this feature will be implemented? (Just an estimation; I don't want to push you under pressure, sorry!). Thank you very much!

[2017-12-10 09:36] jfbu commented on #1238
@ricpelo I am doing it right now and it works fine but is not fully tested. I am preparing the PR for 1.7 release which is planned for early 2018. It could be added to 1.6.6 if this is considered a bugfix.

*edit* I did my PR #4285 on stable finally...

[2017-12-10 10:27] ricpelo commented on #1238
@jfbu Great! Thank you very much for your superb work!

[2017-12-10 12:02] tk0miya commented on #4246
+1

[2017-12-10 12:26] tk0miya commented on #4265
The "show source" link points the original source code. So it is not translated.
It is hard to show translated one because we don't have it.

[2017-12-10 12:29] tk0miya commented on #4264
what did you mean "sphinx-style"? It seems not a stylesheet. I don't know it.

[2017-12-10 22:06] jfbu commented on #4283
The definition of `sphinxnote` in `sphinx.sty` is

[code]

You can examine it in the latex build repertory of any project. Thus the way to customize is would be something like:

[code]

produces

![capture d ecran 2017-12-10 a 23 03 47](https://user-images.githubusercontent.com/2589111/33809919-6b4a2a00-ddfe-11e7-8acf-4c7d7d173eeb.png)

(by the way it could be better to use here an icon in pdf for

[2017-12-10 22:10] jfbu commented on #4283
Notice that it is cleaner regarding to the extra graphics files for LaTeX to actually use

[code]
so the file is copied to build repertory; it is probably better to have there all needed files.

[2017-12-10 22:33] jfbu commented on #4249
Fixed at  0febbc5

[2017-12-10 22:33] #4249 closed, assigned to nobody

[2017-12-10 22:42] jfbu commented on #2994
Sphinx loads package `fancyhdr`. You can use its LaTeX commands to set up headers and footers. hope that answers the question.

[2017-12-10 22:42] #2994 closed, assigned to nobody

[2017-12-10 22:45] jfbu commented on #2993
Please read the [documentation](http://www.sphinx-doc.org/latex.html).

[2017-12-10 22:45] #2993 closed, assigned to nobody

[2017-12-11 08:45] ricpelo commented on #4283
Thank you very much, @jfbu!

[2017-12-11 08:45] #4283 closed, assigned to nobody

[2017-12-11 10:07] LlianeFR commented on #4270
This issue has been documented here, you can update to python 3.6 or install and enable the win_unicode_console package to solve it

https://bugs.python.org/issue32245

[2017-12-11 11:01] gbhlwm commented on #4270
@LlianeFR thanks, i have a try now.

[2017-12-11 12:18] mgeier commented on #4265
OK, sorry, I didn't think about how the translation machinery works ...
It makes sense that there is no translated source file, because the translation is done paragraph by paragraph after parsing the original source file, right?

[2017-12-11 12:18] #4265 closed, assigned to nobody

[2017-12-11 15:02] tk0miya commented on #4263
It will be fixed in next major release (see #3893). Thanks,

[2017-12-11 15:02] #4263 closed, assigned to nobody

[2017-12-11 15:05] tk0miya commented on #4259
Could you let me know what the warnings are emitted without -W option?
I will fix the warning for node classes later. But I'd like to know what the warnings are emitted any other.

[2017-12-11 15:08] tk0miya commented on #4265
Right, sphinx does translation after parsing on the memory (a.k.a. doctree based translation).
So there are no translated source file.

[2017-12-11 15:50] jakobandersen opened #4289 "Flexible styling of declarations"
Currently there are very few options for styling declarations, essentially only a few ``desc_*`` nodes in ``sphinx/addnodes.py``. For some languages (e.g., C++) declarations may contain many keywords and built-in types that should be coloured to help readability. It would be cool if themes could define custom styles.

I'm not sure what the best way to go about this is, but how about the following.

[2017-12-11 16:09] afiorillo commented on #2203
This would still be very useful if serving with another web server (Harp in particular). Not necessarily GitHub.

[2017-12-11 18:19] jonny-qmenta opened #4290 "WarningIsErrorFilter fails to print traceback in v1.6.4"
Subject: WarningIsErrorFilter fails to print traceback in v1.6.4 (can't use v1.6.5 due to other un-traceable error)

### Problem
Traceback formatting fails at line 363:
`raise SphinxWarning(message % record.args)`
in this class:
[code]

#### Procedure to reproduce the problem
$ /path/to/python -msphinx -aEW -bhtml /path/to/doc /path/to/doc.html

Minimal conditions under which it happens are not ye

[2017-12-11 20:50] jfbu commented on #1238
Fixed at https://github.com/sphinx-doc/sphinx/commit/063bc681b5ffc7a022d26993553a62bf84931b7c

[2017-12-11 21:28] ricpelo commented on #1238
Wonferful work! Many thanks!

[2017-12-11 21:41] justinfx commented on #850
+1

[2017-12-12 08:31] ricpelo commented on #4283
Just for the record, I finally solve it this way:

[code]

[2017-12-12 10:23] jonny-qmenta commented on #4290
After some more digging this turns out to be hiding the same error I get from 1.6.5, so it's actually already fixed.

[2017-12-12 10:23] #4290 closed, assigned to nobody

[2017-12-12 10:57] jfbu commented on #3790
Just random thoughts triggered by [this example of use of tcolorbox](https://github.com/sphinx-doc/sphinx/issues/4283#issuecomment-350980568), not for code-blocks but for admonition.

in the long term, Sphinx might adopt `tcolorbox` indeed by default for its layout (inclusive but not limited to code-blocks.) See [this comment](https://github.com/sphinx-doc/sphinx/issues/3099#issuecomment-262759760

[2017-12-12 16:36] julienmalard opened #4292 "Consistently failing Epub build"
Subject: Epub build failed for Tinamït project

### Problem
- Failed Epub build. Html and pdf seem to build correctly.

#### Procedure to reproduce the problem
Build on Read the docs:
[code]

#### Error logs / results
[code]
Link to failed build:
- https://readthedocs.org/projects/tinamit/builds/6398690/

#### Expected results
Successful Epub build for project.

### Reproducible project / your pro

[2017-12-13 00:27] mabraham commented on #2750
I would also find "singletext" useful for constructing e.g. a plain text install guide or release notes from structured .rst (intended primary for HTML output) so that they can be placed in the top-level of a source code tarball.

[2017-12-13 05:06] tk0miya commented on #4292
It seems the template of tinamit expects `theme_navigation_depth` as a template variable. I don't know where the variable is defiened. So please ask it to tinamit project or who modified the template.

[2017-12-13 08:12] dietmarw commented on #1238
I just tested it and unfortunately it does not quite work as expected. The highlighted line in the PDF is offset by -1 line.
Here an example from xogeny/ModelicaBook:
The line:
https://github.com/xogeny/ModelicaBook/blame/master/text/source/behavior/equations/first_order.rst#L209

gets rendered correctly in [HTML](http://book.xogeny.com/behavior/equations/first_order/#experimental-conditions) as:

[2017-12-13 08:15] dietmarw commented on #1238
One more thing that just came apparent. The HTML version apparently starts the count 1 at line 1 of the **included** source code whilst the LaTeX formater starts count 1 at line one of the **original** source code.

[2017-12-13 08:55] jfbu commented on #1238
Thanks for testing!

Most of my testing was with option ``:linenos:`` to check, and then it is ok as examples such as those show (just documenting it here for the record with current stable tip)

With

[code]

(edit sorry I got confused with screen shots which were for some other options than those initially in this message)

html looks like

![capture d ecran 2017-12-13 a 09 42 56](https://user-i

[2017-12-13 10:19] jfbu commented on #1238
Fixed at 8de0abd1b. The 347f15ca2 way was complicated and failed in the absence of ``:linenos:``. Sorry for inconvenience, thanks for reporting @dietmarw !

[2017-12-13 10:19] #1238 closed, assigned to nobody

[2017-12-13 10:50] dietmarw commented on #1238
Thanks @jfbu for the (high)lightening fast reaction and fix. :-D I can confirm it now works as expected.

[2017-12-13 14:56] tk0miya commented on #4279
Fixed by #4286
Thank you for reporting!

[2017-12-13 14:56] #4279 closed, assigned to nobody

[2017-12-13 16:17] julienmalard commented on #4292
I am using ReadtheDocs (and their templates)...should I report this bug to them instead?

Thanks,
Julien Malard

[2017-12-13 17:53] glikely commented on #2677
The latest release of latexdiff (v1.2.1) has a way to fix this. Setting VERBATIMENV=sphinxVerbatim tells latexdiff to leave the verbatim block alone. This can be done from the command line by adding "--config VERBATIMENV=sphinxVerbatim" to the latexdiff command.

[2017-12-13 18:51] Antonin-Deniau opened #4296 "Ignore this issue, just missclicked"
Subject: <what happen when you do on which document project>

### Problem
- <Detail of problem>

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environme

[2017-12-13 18:51] #4296 closed, assigned to nobody

[2017-12-13 20:15] jfbu commented on #1238
@tk0miya do you feel like we can leave activated by default for 1.6.6 this highlighting ? or should I add some option, for example a ['sphinxsetup'](http://www.sphinx-doc.org/en/stable/latex.html#the-latex-style-file-options) option ``codehighlightingon`` which would be set false by default for 1.6.6 and true starting with 1.7 ?

With current pre-1.6.6 stable tip Sphinx user can set via ['sphinxse

[2017-12-14 00:31] eflanigan00 opened #4298 "Request new feature: Acronym Package"
I use this for latex and it is great.
This feature would be a really good add for Sphinx:

https://ctan.org/pkg/acronym?lang=en

Especially for those creating large documents.

[2017-12-14 07:19] jfbu commented on #4298
Thanks for suggestion. I also feel this is useful functionality for an extension which would provide an ``:acronym:`` role (or rather ``:acro:`` to stay in the spirit of shortness). Then, I anticipate there is no use for LaTeX package [acronym](https://www.ctan.org/pkg/acronym) itself, because functionality will be implemented at Python side.

Quick search at [sphinx-contrib-bb](https://bitbucket.

[2017-12-14 10:02] BMaxV commented on #4241
Hey,

I'd like to give this issue a bump, I hope comments do that, since it's literally the bit that stops me from documenting a module I made. It's blocking my progress.

I have setup a readthedocs page with sphinx and it's not working because I can't get it to work because of this problem. Please help!

[2017-12-14 10:08] jfbu commented on #4241
To add a title you need some mark-up of the type

[code]

is this what you need? This is issue-tracker of Sphinx. For help, please use the http://groups.google.com/group/sphinx-users

there is gmane access gmane.comp.python.sphinx.user you can configure your newsreader to use news://news.gmane.org:119/gmane.comp.python.sphinx.user

[reST docs](http://docutils.sourceforge.net/rst.html)

[2017-12-14 10:12] BMaxV commented on #4241
No the issue is not with rst itself, it's with how the toctree works and how to put new pages into the toctree, which as far as I understood it, is how sphinx does things.

The information on how to do that is missing from the documentation.

Is there a separate issue tracker for the documentation?

[2017-12-14 10:16] jfbu commented on #4241
Test projects do not have to have a toctree. But usually your index.rst file will contain something like

[code]

If you use sphinx-quickstart, you have skeleton ready-made.

Then each foo.rst must have a title.

[2017-12-14 10:18] jfbu commented on #4241
which information precisely do you feel is lacking from http://www.sphinx-doc.org/en/stable/tutorial.html ? we are willing to improve if needed.

about your question about separate issue tracker for documentation, no there isn't. But you can ask questions on the sphinx-users or sphinx-devel groups. We welcome pull requests.

[2017-12-14 10:25] BMaxV commented on #4241
I have run sphinx quickstart, my project looks like this
[code]

This is my index.rst 's toctree:
[code]

When I run `sphinx-build -b html /source /build`

It produces an output, but there is a warning that page1 and page2 don't exist and the resulting index.html does not link to them either.

I'm assuming I'm doing something wrong, but as far as I can see I did what the instructions say.

[2017-12-14 10:30] jfbu commented on #4241
You need to read a bit of [reST docs](http://docutils.sourceforge.net/rst.html) but I feel the [sphinx tutorial](http://www.sphinx-doc.org/en/stable/tutorial.html) is already very good ...

For example options come before contents so you need

[code]

to start with. And page1.rst and page2.rst must have a reST title.

Attention to indentation, too.

In Emacs, there is an ReST mode you can type C-c

[2017-12-14 10:44] jfbu commented on #4241
Does it work really with ``sphinx-build -b html /source /build`` ? (presumably you are on Windows, I don't know how it handles paths), I would use in your set-up ``sphinx-build -b html source build/html``

Sphinx is multi-target, you can also do ``sphinx-build -b latex source build/latex`` then.

Usage of ``make html``,  ``make latexpdf`` is more convenient (it will create a common ``build/doctree

[2017-12-14 10:47] BMaxV commented on #4241
My documents have titles as far as I can tell. I'm on linux. There is a conf.py in the source, I forgot to mention it.

Right. How much though. Does it all have to be same, does the actual number matter, are there special rules for options or not, are tabs or spaces ok, ...?

The tutorial produces output an empty index page, but it's not producing enough output for me to learn what works and what

[2017-12-14 10:48] BMaxV commented on #4241
Actually let me do that, I'll go as far as I can from the tutorial alone and you could just clone the whole repo to see what's wrong.

[2017-12-14 10:55] jfbu commented on #4241
Regarding invocation of ``sphinx-build`` there is a ``-M`` option which is nice,

    sphinx-build -M html source build
    sphinx-build -M latex source build

then you have `build/doctrees`, `build/html`, `build/latex`.

On Mac or Linux, using directly `make` command is very convenient. `make html latex epub`.

If you created your project using sphinx-quickstart it is all set up for this.

As per

[2017-12-14 11:03] BMaxV commented on #4241
I don't know why, but my sphinx-quickstart has not setup make instructions. I don't know which question I should have answered with "yes" for quickstart to setup a makefile, but the tutorial does not specify that either. Let me just write my example thing, I'll update when I've done that. Maybe then we can figure out what's missing from the tutorial and why my setup doesn't work.

[2017-12-14 11:15] jfbu commented on #4241
Hmm?

[code]

[2017-12-14 11:59] BMaxV commented on #4241
Ok nvm the makefile. Here is the example:

https://github.com/BMaxV/sphinx_tutorial_example

Now, what do I have to do to make sphinx automatically document my project and how do I add pages to the docs manually?

[2017-12-14 12:25] #4284 closed, assigned to nobody

[2017-12-14 12:25] tk0miya commented on #4284
Fixed by #4297.

[2017-12-14 13:02] tk0miya commented on #1238
It's tough question :-) It seems this is a bug fix as well as new feature.
But we determined this is a bug fix and push commits to stable branch (at least, I considered that on reviewing).
In addition, to provide compatibility option is very boring and not productive.

So I think no option is needed.

[2017-12-14 13:11] tk0miya commented on #4292
No, it is defined at `layout.html` on your repository.
Please refer here:
https://github.com/julienmalard/Tinamit/blob/master/docs/source/_templates/layout.html#L140

[2017-12-14 14:26] #1421 closed, assigned to nobody

[2017-12-14 14:51] julienmalard commented on #4292
Hello,

That is odd! I copied the layout.html directly from ReadTheDocs (RTD) and only modified a few lines to override left-to-right text alignment for projects in right-to-left scripts, but didn't change anything else. The line in question is actually also on the original RTD theme (https://github.com/rtfd/sphinx_rtd_theme/blob/master/sphinx_rtd_theme/layout.html#L136), and my other project buil

[2017-12-14 16:41] calconst opened #4301 "autodoc ignores documented attributes when using typing.NamedTuple"
Subject: autodoc ignores documented attributes if typing.NamedTuple is used to define a class.

### Problem

If typing.NamedTuple is used in a module, all module level, class level, and class instance level attributes
for all other types in the module are ignored.

#### Procedure to reproduce the problem

In the following code, `MODULE_CONST`, `ExampleClass.my_class_var2`, and `ExampleClass.my_pro

[2017-12-15 04:18] other-mickk commented on #4114
@jakobandersen I have another edge case:

[code]

The last two items fail with:

[code]

This one is really specific (aka parsing a type vs parsing an expression) so I don't mind if it's not really supported (`nonsensical` in particular does *not* need to work). However trying it on master right now the items don't get rendered and refs don't link, which is a regression.

[2017-12-15 09:19] rleigh-codelibre opened #4303 "linkcheck performance: downloading page multiple times when checking anchors"
### Problem
- If my sphinx documentation contains multiple links with anchors to a web page with multiple anchors, it will download the page multiple times, once per anchor to check
- This scales very badly.  If I have many hundreds or thousands of anchors (e.g. for automatically generated documentation), it might download several megabytes × the number of links.  This can end up being multiple gi

[2017-12-15 16:01] tk0miya commented on #4298
I also feel an extension is good for this case.

[2017-12-15 16:07] tk0miya commented on #4292
No, it's not a bug. `sphinx_rtd_theme` behaves as a HTML theme and it adds some template variables.
But, on your case, you'd copied only `layout.html`. so it behaves as a HTML template.

Anyway, it is not a bug of Sphinx. So I close this.

[2017-12-15 16:07] #4292 closed, assigned to nobody

[2017-12-15 16:44] tk0miya commented on #4276
Hi,

I'd like to check this bug, but I can't reproduce it.

Could you tell me the procedure in detail?

[2017-12-15 17:00] tk0miya commented on #4262
This will be fixed at #4282.

[2017-12-15 17:53] davidbernat opened #4307 "Deleted"

[2017-12-15 17:54] #4307 closed, assigned to nobody

[2017-12-15 20:02] julienmalard commented on #4292
Thank you! Sorry for the trouble.

-Julien Malard

________________________________
દ્વારા: Takeshi KOMIYA <notifications@github.com>
મોકલ્યું: 15 ડિસેમ્બર 2017 11:07:13
પ્રતિ: sphinx-doc/sphinx
Cc: Julien Malard; Author
વિષય: Re: [sphinx-doc/sphinx] Consistently failing Epub build (#4292)

No, it's not a bug. sphinx_rtd_theme behaves as a HTML theme and it adds some template variables.
But, on yo

[2017-12-15 21:11] simeonf commented on #4279
Awesome @tk0miya! Thank you for prompt bugfixing!

[2017-12-15 23:00] eflanigan00 commented on #4298
Yes, a python implementation in sphinx would be fabulous!

[2017-12-16 10:34] tk0miya commented on #4281
#4282 is merged now :-)

[2017-12-16 10:34] #4281 closed, assigned to nobody

[2017-12-16 10:34] tk0miya commented on #4262
Fixed by #4282.

[2017-12-16 10:34] #4262 closed, assigned to nobody

[2017-12-16 11:03] jfbu commented on #1238
@tk0miya this is also my preference, so we can leave things now as they are.

[2017-12-16 11:46] jfbu commented on #4241
[code]

Please refer to [autodoc](http://www.sphinx-doc.org/en/stable/ext/autodoc.html) and to [apidoc](http://www.sphinx-doc.org/en/stable/man/sphinx-apidoc.html)

This looks appropriate for your test project:

    sphinx-apidoc -F -a -o docs raw_python/

then explore the created files, particularly `conf.py`.

[2017-12-16 11:46] #4241 closed, assigned to nobody

[2017-12-16 16:39] BMaxV commented on #4241
Thank you, this is perfect.

[2017-12-16 17:05] eflanigan00 opened #4309 "Problem with runing sphinx with mathjax offline"
I'm trying to run sphinx offline with mathjax. I'm using the anaconda distribution which runs ipython notebook with latex (mathjax I think) just fine.

I have `sphinx.ext.mathjax` in the extensions and everything works fine when I'm online. When I go offline the latex equations don't render.

I've added the following to try to get mathjax to use the one I think ipython notebook is using:

    math

[2017-12-16 23:34] JavierJF commented on #1514
I would like to participate in the implementation of this feature @shimizukawa. Do you have any plans or known starting point for it?

[2017-12-17 06:33] tk0miya commented on #4309
This is an issue list of Sphinx. Did you mean this is a bug of sphinx (or request for sphinx) ?
FYI: Here is a forum for Sphinx: https://groups.google.com/forum/#!forum/sphinx-users

BTW, I guess the windows path causes an error. How about use `r'...'` string?

[2017-12-17 09:07] tk0miya commented on #1514
This is not an issue that he posted. This was migrated from bitbucket. The original author is Jørgen Ibsen.

BTW, this is related with writer modules. So I guess `sphinx/writers/html.py` (`html5.py`) is related with this.

[2017-12-17 13:31] JavierJF commented on #1514
@tk0miya yes, I knew it was a imported issue, but I saw that was labeled by him several times. Thanks for the info about the related module, I have looked into it and I think it's possible to sketch something. But probably the best will be trying to expose a setting for configuring it, like a number of parameters in which start doing the line-breaking.

[2017-12-17 13:45] jakobandersen commented on #1514
It should be doable only by modifying individual domains. A domain is given a node to render a signature into. That node is a [addnodes.desc_signature](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/addnodes.py#L88). Instead of directly adding child nodes to it, you can set ``is_multiline = True``, and only add [addnodes.desc_signature_line](https://github.com/sphinx-doc/sphinx/blob/maste

[2017-12-17 14:55] jfbu opened #4314 "For PDF 'howto' documents, numbering of code-blocks differs from the one of figures and tables"
### Problem

The numbering of code-blocks is reset per section: 1.1, 1.2, 1.3, then 2.1, 2.2, 2.3, (thus, like what happens with ``'manual'`` type documents), contrarily to the one for figures and tables which is continuous 1, 2, 3, 4, 5, 6.

(for ``'manual'`` type documents the numbering style coincides for literal blocks, figures, and tables)

### Reproducible project / your project

[test_numfi

[2017-12-17 22:21] jfbu opened #4315 "For PDF 'howto' documents, ``latex_toplevel_sectioning='part'`` generates ``\chapter`` commands"
#### Procedure to reproduce the problem

Put this in conf.py:

    latex_toplevel_sectioning = 'part'

and use ``'howto'``

[code]

Then ``make latex`` with ``index.rst`` being like this (or with a toctree)

[code]

#### Error logs / results

The generate file ``FOO.tex`` looks like this

[code]

But usage of `\chapter` is wrong in article class.

It does not generate an error because one of the l

[2017-12-18 00:10] jfbu commented on #4315
I am working on this

[2017-12-18 03:07] eflanigan00 commented on #4309
I think thinks is a bug of sphinx.
I can't get the `mathjax_path` to work with the anaconda distribution when offline.
As I said the ipython notebook works. So in theory sphinx should also work.

I'm happy to try to debug it if someone can tell me where to start looking.

I tried with r'', I tried delimiting with C:\\, I tried C:/
None of them seemed to work.

[2017-12-18 13:01] sephib opened #4317 "docstring following autofunction:: does not update"
I'm trying to contribute to the [dask documentation](https://github.com/dask/dask/issues/2589)

### Problem
- Updating the docstring in the method doesn't update.

#### Procedure to reproduce the problem
Using python anaconda distribution I ran the [following environment](https://github.com/dask/dask/blob/master/docs/README.rst). Then ran
[code]
I also used added the `set SPHINXOPTS=-vvv` to the `

[2017-12-18 15:52] jfbu opened #4318 "The toctree ``:numbered:`` option has no effect in PDF"
#### Procedure to reproduce the problem
File index.rst

[code]

File page.rst

[code]

#### Error logs / results

HTML output is numbered all the way, PDF via ``make latexpdf`` only down to level 3.

#### Expected results

PDF also obeys the ``:numbered:`` option, inclusive of its optional parameter.

### Environment info
- OS:  Mac
- Python version: 3.6.3
- Sphinx version: 1.6.3 and master

[2017-12-18 16:14] Varriount opened #4319 "Allow use of regex objects in exclude_patterns."
I am currently working on a project which generates multiple possible documentation sets from one documentation tree, depending on a tag passed on the command line.

For some of the targets (specifically the targets that consist of a single document) Sphinx includes files in the build that aren't being used in the root document (this occurs even with the `singlehtml` builder). I've attempted to us

[2017-12-19 06:45] tk0miya commented on #4319
+0; either is fine to me.

[2017-12-19 06:56] tk0miya commented on #4318
I have a plan (idea?) to restructure ToC structure of Sphinx in future. Personally, I and friends wrote a Japanese book for Sphinx beginners in this year. But current Sphinx can't represent prefaces and appendixes.
And I know some users uses Sphinx to write books and thesis. So it would be nice to enhance ToC tree structure for the purpose.

I don't know when we can modify it (1.8 or 2.x?). But I

[2017-12-19 09:05] jfbu commented on #4318
Thanks for sharing your idea ;-)

Recently I needed to produce a pdf with appendices. I solved this via some bit of LaTeX hacking in particular some raw LaTeX.

In case people come across this, here is how it looks (I leave some extras for PDF bookmarks). But this is really a hack I needed to get the job done quickly, perhaps there is easier way.

[code]

At bottom of the reST file which contains

[2017-12-19 10:48] flazzarini commented on #2467
I still have another use case. I actually want sphinx to render a **non toctree included** rst file, but instruct sphinx so that it would not complain about the file not being in any toc-tree.

[2017-12-19 14:39] tk0miya commented on #2467
@flazzarini I think `:orphan:` helps you
http://www.sphinx-doc.org/en/stable/markup/misc.html#file-wide-metadata

[2017-12-19 14:43] tk0miya commented on #2467
I noticed this issue is already fixed by #2605.
So I close this issue now.
Thanks,

[2017-12-19 14:43] #2467 closed, assigned to nobody

[2017-12-19 14:52] tk0miya commented on #4318
FYI:

As far as I read the code, it is simply concatenate documents after the main doctree. There are no special support to reference (like `Appendix A`) and layouting.

[2017-12-19 17:08] JavierJF commented on #1514
@jakobandersen Nice info thanks, I'm going to start with that. Reading first how that was integrated in the C++ domain.

[2017-12-19 20:03] calconst opened #4327 "autodoc ignores documented attributes when using f-strings"
Subject: autodoc ignores documented attributes when using f-strings anywhere in the module

### Problem

If a f-string is used in a module, all module level, class level, and class instance level attributes
in the module are ignored.

#### Procedure to reproduce the problem

In the following code, `MODULE_CONST`, `ExampleClass.my_class_var2`, and `ExampleClass.my_property` will
not appear the HTML

[2017-12-20 05:43] tk0miya commented on #4327
Could you try Sphinx on master branch? Then it would be resolved it.

[2017-12-20 08:18] jakobandersen commented on #4114
Thanks, this was a general problem with defaulted constrained type parameters, and should be fixed in c7a145cc18.
If few notes:
- Before it parsed an expression, but now tries first an expression and then a type.
- For this to work the expression fallback parser is now disabled in this specific case.
- In general Sphinx can not know if an expression or a type is the correct choice, as it doesn't c

[2017-12-20 15:39] #3991 closed, assigned to nobody

[2017-12-20 15:41] tk0miya commented on #4080
Fixed by #4166

[2017-12-20 15:41] #4080 closed, assigned to nobody

[2017-12-20 20:54] #4315 closed, assigned to jfbu

[2017-12-20 23:05] #4314 closed, assigned to jfbu

[2017-12-21 08:17] jfbu opened #4330 "PDF 'howto' documents have an incoherent default LaTeX tocdepth counter setting"
For ``'manual'`` document, the Sphinx latex class file does ``\setcounter{tocdepth}{1}`` which gives this kind of table of contents:

![capture d ecran 2017-12-21 a 09 05 11](https://user-images.githubusercontent.com/2589111/34246351-8be87950-e62e-11e7-909e-f3b3a2f03b84.png)

which contains two levels (`\chapter` and `\section`).

But for ``'howto'`` documents which are supposedly shorter ones, Sp

[2017-12-21 15:04] tk0miya opened #4333 "Make directives and roles for math to sphinx-core"
### Problem
- Since docutils-0.8, `math` directive and `math` role became a part of reST spec.
  - http://docutils.sourceforge.net/docs/ref/rst/directives.html#math
  - http://docutils.sourceforge.net/docs/ref/rst/roles.html#math
- In sphinx, users have to enable one of math extension to use them.

#### Expected results
Enable to use the directive and role by default

[2017-12-21 15:29] #947 closed, assigned to nobody

[2017-12-21 15:42] tk0miya commented on #4317
I don't know conda. So could you check some points in your environment please?
1) a path of the python file you editted
2) a path of the module which python imported

Usually, sphinx refers the docstring from installed python file instead of the file on local directory. Because autodoc imports the module to fetch its docstring.

[2017-12-21 15:44] tk0miya commented on #4309
Okay, could you try to add `file://` suffix to the `mathjax_path` please?
In my short investigation, it should have an URL, not a path.

[2017-12-21 15:55] tk0miya commented on #4270
It seems the bug is resolved on latest python.
Anyway, this is not a bug of Sphinx. So I close this now.
Thanks,

[2017-12-21 15:55] #4270 closed, assigned to nobody

[2017-12-21 15:56] calconst commented on #4327
I tried the master branch as suggested (Sphinx-1.7.dev20171221) and it looks like the problem is addressed; I got the results I expected.

[2017-12-21 15:56] #4327 closed, assigned to nobody

[2017-12-21 16:06] calconst commented on #4301
Seems to work properly in Sphinx-1.7.dev20171221; see comments in [#4327](https://github.com/sphinx-doc/sphinx/issues/4327).

[2017-12-21 16:06] #4301 closed, assigned to nobody

[2017-12-21 17:32] jfbu commented on #4333
I think policy of Docutils to insert contents verbatim if output format does not support natively math input is fine. And that it is strange for latex output to have to activate either mathjax or imgmath extensions which are for html like targets. Thus +1 for this feature.

[2017-12-21 17:34] #4330 closed, assigned to nobody

[2017-12-21 17:38] zufallsgenerator opened #4334 "sphinx-apidoc generates references to non-existing files in TOC for folders containing only an empty __init__.py"
### Problem
When using sphinx-apidoc to generate RST files, there are references to non-existing files generated in the TOC of a package when encountering a directory with only an empty __init__.py.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
In ./source/mypackage.rst:
[code]
*mypackage.resource* is reference, but the file *mypackage.res

[2017-12-22 11:35] HWiese1980 opened #4336 "(SOLVED) AttributeError: type object 'MESSAGES' has no attribute '__members__'"
Subject: during `make`ing my documentation the following error occured:

    Exception occurred:
      File "/home/myuser/virtualenv_py27/local/lib/python2.7/site-packages/sphinx/ext/autodoc.py", line 902, in get_object_members
        item for item in self.object.__members__.items()
    AttributeError: type object 'MESSAGES' has no attribute '__members__'

### Problem
- ~~I don't really know what

[2017-12-22 13:12] HWiese1980 commented on #4336
I've solved this issue myself. It was related to a wrong `enum` package. The correct one is called `enum34`. With that installed instead of `enum` this error is gone.

[2017-12-22 13:12] #4336 closed, assigned to nobody

[2017-12-22 22:16] eflanigan00 commented on #4309
Thank you tk0miya, that worked:

     mathjax_path = 'file://C:/ProgramData/Anaconda3/Lib/site-packages/notebook/static/components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full.js'

[2017-12-22 22:17] eflanigan00 commented on #4309
Now mathjax doesn't render bmatrix correctly. The following only puts parenthesis by def, I need the parensthesis to extend the height of the full matrix.

    .. math::

       \mathbf{A_{X}} =
       \begin{bmatrix}
       abc \\
       def \\
       ghi \\
      \end{bmatrix}

Also posted here:
https://stackoverflow.com/questions/47841950/sphinx-mathjax-offline-with-anaconda-distribution

[2017-12-22 22:33] jfbu opened #4339 "tox testing of texinfo fails due to unset PERL5LIB environment variable"
#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results

tox testing succeeds of current master branch (2e04c2a05)

Success is obtained if ``tox.ini`` includes ``PERL5LIB`` among ``passenv`` arguments.

Discussed [here](https://github.com/sphinx-doc/sphinx/pull/4320#issuecomment-353651076) by @stephenfin who identified the cause as a missing environm

[2017-12-23 12:49] zufallsgenerator commented on #4334
I think this is related to implicit namespaces #2949 although I don't think it's caused by that fix. @arcivanov you wrote that patch, does my patch make sense? @tk0miya ?

This is my first contribution by the way, so I hope I managed to follow all the guidelines correctly.

[2017-12-23 16:15] arcivanov commented on #4334
What's the significance of the *empty* `__init__.py` vs a non-empty one? It's still a package and should be treated as such.

[2017-12-23 17:34] zufallsgenerator commented on #4334
@arcivanov I tend to agree. It's there since the first commit to this repo, though: https://github.com/sphinx-doc/sphinx/commit/87cebf1a070a2c8956ef2939f43d53bf826600e9#diff-65ef293822255803d59c56efd9002e27
@birkenfeld Did you write this code? It's ages ago, I know.

[2017-12-24 01:25] mennamorato opened #4340 "sphinx v 1.6.5 - extension error with sphixcontrib.disqus"
Subject: using ReadTheDocs to build documents for the past 6 months using Sphinx 1.5.6, but when it was changed to V1.6.5 it started to fail builds with disqus extension

### Problem
- build fails with this message
Running Sphinx v1.6.5
making output directory...
loading translations [en]... done

Traceback (most recent call last):
  File "/home/docs/checkouts/readthedocs.org/user_builds/aviatrix/

[2017-12-24 02:00] tk0miya commented on #4340
I think this is a bug of sphinxcontrib-disqus as you said.
Could you report this to disqus project?

[2017-12-24 02:01] tk0miya commented on #4339
@stephenfin could you fix this please?

[2017-12-24 02:23] mennamorato commented on #4340
will do

[2017-12-24 08:41] sephib commented on #4317
Hi,
Yes - that was the problem! the `make html` did not use the local files from the git project, but rather the files from the python interpreter installations.

Is there a way to configure the sphinx to use the files from the project local directory?

[2017-12-24 10:31] jfbu commented on #4317
You could try in this case

    sys.path.insert(0, os.path.abspath('../../'))

in conf.py.

Or go to top repertory and run ``pip install -e .`` while in your conda environment (I expect this will then shadow the installed dask module in conda environment with your own edits later on.) Perhaps you can do that rather in a virtualenv (not using conda), but I don't know though if ``pip install -e .``

[2017-12-24 12:02] jfbu commented on #4339
It would be nice if tox allowed an additional `tox.ini`,  say `tox.ini2`. Contributors to Sphinx could create such a file which would _not_ be under git version control, and would be used for needed additional environment variables by Sphinx contributors at their locale.

[2017-12-24 14:52] stephenfin commented on #4339
Done in #4341.

Can't say I agree with this one. If there are environment variables that one user needs to pass through for successful tests, then it's likely other users will also benefit from them and they should be part of the default configuration. On the other hand, if it's a case of hacking the file while actively developing something, you can simply modify the `tox.ini` to use `passenv = *`

[2017-12-24 16:16] jfbu commented on #4339
@stephenfin thanks for the git tip. I would probably go for the

    git stash save "passenv hack"

and then do ``git apply`` before testing after having checked out the branch to test, expecting that it is improbable that merge conflicts will be frequent. (hmm... perhaps they will each time we upstream at Sphinx need to add some new environment variable ;-) ). I can clean up in various ways after

[2017-12-24 16:29] sephib commented on #4317
Thx!
The `sys.path...` did the job.

[2017-12-24 18:32] sephib commented on #4317
BTW -
I've updated the `conf.py` with

[code]

However I've failed to generate an external link from within the `docstring` . In the [csv.py file](https://github.com/dask/dask/blob/master/dask/dataframe/io/csv.py)  I've tried [various  options from this post](https://stackoverflow.com/questions/24745094/intersphinx-link-to-pandas-autodoc-api) but all failed.  The only option that generated a link

[2017-12-24 23:03] stephenfin opened #4344 "Docs build is currently broken"
Subject: More than one target for cross-reference `add_object_type`

### Problem
Building docs with current `master` and the `-W` flag results in an error.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Docs should build

[2017-12-25 04:31] #4339 closed, assigned to nobody

[2017-12-25 09:56] jfbu commented on #4344
I had seen the _warning_ using ``make -C doc html`` but build completes then :smile: ...

The problem possibly originates with 838f7fc29 (#4305), can you check @tk0miya ?

[2017-12-25 14:00] Julian opened #4345 "Napoleon Without Autodoc"
Maybe I'm missing something obvious, but it seems like napoleon unnecessarily depends on autodoc -- i.e., given a standard sphinx directive that documents an object (e.g. one written in an rst file via `.. py:class`, not inline in some code), with napoleon enabled, the docstring isn't run through napoleon.

Seems like it'd be nice to have either an explicit way of telling sphinx that one wishes to

[2017-12-27 05:51] tk0miya commented on #4345
I'm not good at napoleon, but it seems napoleon depends on some autodoc events:
https://github.com/sphinx-doc/sphinx/blob/1.6.5/sphinx/ext/napoleon/__init__.py#L297

So I think autodoc is necessary for napoleon.

[2017-12-27 09:27] matthiasha commented on #1861
Workaround: Insert the following code in conf.py (adjust apidoc parameters to your needs):
[code]

[2017-12-27 09:38] mgeier commented on #88
Just for the record, if somebody stumbles upon this:
There is now (since Sphinx 1.5) an option `html_sourcelink_suffix`:
http://www.sphinx-doc.org/en/stable/config.html?highlight=html_sourcelink_suffix#confval-html_sourcelink_suffix

See also #2399 and #2454.

[2017-12-27 12:49] Julian commented on #4345
Are there not equivalent hooks outside of autodoc?

It just seemed like a weird restriction to me, it means you can't really use Napoleon for your whole docs unless you put all your documentation inline, which isn't even possible if your documenting an external codebase.

[2017-12-27 20:40] Nemesisesq opened #4348 "Sphink cannot import Celery"
Subject: <what happen when you do on which document project>

### Problem
- I am trying to document a django project with sphinx and I'm having a really hard time. I am using autodoc and I appear to have everything configured correctly. I have a celery implementation in my settings folder and it cannot import Celery from celery

#### Error logs / results
[code]
### Environment info
- OS: macOS11
-

[2017-12-28 01:42] tk0miya commented on #4348
Can you import celery from python (not django)? Sphinx imports it on building. So you need to set up your environment (ex. `sys.path`) to import it.

[2017-12-28 11:14] lazka opened #4350 "URL parsing problem when the path contains "_-""
Given reST:

[code]

sphinx output:

`WARNING: Unknown target name: "a".`

Expected output:

None. The whole text should be treated as a URL.

### Environment info
- OS: Debian
- Python version: 2.7.14
- Sphinx version: 1.6.5

[2017-12-28 11:46] jfbu commented on #4350
This is (possibly) a reStructuredText issue. Their [docs](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#hyperlink-targets) says:

Here, it is not last character but

    http://example.com/a\_-b

does fix the issue. Can your report this at [Docutils](https://sourceforge.net/p/docutils/bugs/?source=navbar) ?

[2017-12-28 11:57] lazka commented on #4350
Yes, it does, thanks!

Reproduced with rst2html and forwarded to https://sourceforge.net/p/docutils/bugs/336/

Thanks, and feel free to close this.

[2017-12-28 12:10] jfbu commented on #4350
Thanks for reporting upstream, indeed as  ``http://example.com/a_b`` raises no Docutils error with `rst2html.py`, but ``http://example.com/a_-b`` does, I think it is a problem of Docutils.

Closing this as not being a bug of Sphinx. Thanks for reporting!

[2017-12-28 12:10] #4350 closed, assigned to nobody

[2017-12-28 13:00] jessetan opened #4351 "Image/figure can not use :target: from other document"
### Problem
Consider two files:

A.rst
[code]

B.rst
[code]

The figure in `A.rst` can be clicked to jump to the header in `A.rst`. Processing `B.rst` will print `ERROR: Unknown target name: "my-header"` and the figure will not be clickable.

It seems that it is a docutils limitation that the hyperlink target `my-header` is not searched for across files. Is it possible to add this in Sphinx (e.g.

[2017-12-28 17:22] joachimwolff opened #4353 "RemovedInSphinx20Warning: builder.css_files is deprecated."
Subject: Red the docs fails to build

### Problem
- I wanted to build the read the docs files, but it is crashing with the error message below.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
## Actual Result
I got the following error:
[code]

#### Expected results
Build the read the docs files ;) I can run it on my local machine with `make html` and it is working.
I kno

[2017-12-28 21:19] stephenfin commented on #4344
This is resolved in #4346 and should not happen again thanks to #4349

[2017-12-28 21:19] #4344 closed, assigned to tk0miya

[2017-12-28 21:46] stephenfin commented on #4252
[code]

This seems to refer to the `rst2pdf.pdfbuilder` builder which is not part of stock Sphinx. Please remove this from `extensions` and try again.

[2017-12-28 21:49] stephenfin commented on #4230
@jorisvandenbossche I can't speak as to plans for 1.7 nor what patches might have resolved this. However, could I suggest using `git-bisect` to figure out what patch actually repaired things here? If we do this, backporting is easily done.

[2017-12-28 21:52] stephenfin commented on #4211
I meant to reply to this sooner but forgot to. Easy reply though...

OK, can we do this? At the end of this cycle, we can rename `stable` to `stable-1.7` and keep that. We don't need to support patches to this branch, but it gives us a good reference containing the history for the release.

[2017-12-28 21:59] stephenfin commented on #4256
This is the opposite side of #4148.

[2017-12-28 22:00] jfbu commented on #4211
@stephenfin don't we have already such references via tags?

[2017-12-28 22:07] stephenfin commented on #4211
We do, but as noted above it's not really suitable for docs. I'd like to be able to refer to the docs for 1.6 at http://www.sphinx-doc.org/en/1.6/. At the moment, I can only do this with a PATCH version.

[2017-12-28 22:34] jfbu commented on #4211
and https://github.com/sphinx-doc/sphinx/tree/1.6/doc isn't enough? (tongue in cheek)

[2017-12-28 22:45] stephenfin commented on #2250
Looks like ``--separate`` is now present in [the docs](http://www.sphinx-doc.org/en/latest/man/sphinx-apidoc.html). We still need to add the make mode docs and the environment variable.

[2017-12-29 00:43] marshallward opened #4357 "`make man` replacing ellipsis string (...) with single-character"
Subject: `make man` replacing ellipsis string (...) with single-character

### Problem
- When I do `make man` using a default project makefile on a file containing three dots ... (0x2e) it instead replaces this with some sort of single-character ellipsis … (U+2026, 0x e2 80 a6).

Note that `rst2man` does not create this character.  But I also cannot find any reference to this character in the sour

[2017-12-29 01:02] #2250 closed, assigned to nobody

[2017-12-29 01:20] tk0miya commented on #4211
We already provides the final document for 1.6.x series at here:
http://www.sphinx-doc.org/en/1.6.5/

(Unfortunately, Sphinx gives a version formed x.y to the first major release, not x.y.z. So "docs for 1.6" is a bit ambiguous.)

[2017-12-29 01:29] tk0miya commented on #4353
Hmm, it's strange.
`RemovedInSphinx20Warning` is not emitted by default.
Did you enable `PYTHONWARNINGS` environment variable? If so, it is activated. Because `builder.css_files` are deprecated now.
Or could you ask to readthedocs project?

[2017-12-29 06:44] tk0miya commented on #4252
rst2pdf is not supported python3. You need to downgrade your python to use it.

Anyway, this is not a bug of Sphinx.
Thanks,

[2017-12-29 06:44] #4252 closed, assigned to nobody

[2017-12-29 07:47] jfbu commented on #4357
This is due to SmartQuotes Docutils transform. You can deactivate it by creating a file ``docutils.conf`` in same repertory as ``conf.py``, with contents

[code]

(uses a tabulation on second line; _edit_: which however is not needed).

Relates #3967, #3917, ...

[2017-12-29 10:45] jfbu commented on #4211
I think before release of 1.7 we should adopt definitive policy regarding smart quotes (issue #3967). The change at 1.6 meant that smart quotes were applied by default not only for html and latex, but all output formats. This surprises users of ``text`` or ``man`` builders (e.g. #4357). Perhaps a config setting could be added, possibly a list whose elements would be the builders allowing smart quo

[2017-12-29 10:57] mitya57 commented on #4211
Good idea. How about naming this setting `smartypants_builders`?

Maybe we should also extend the deprecation of `html_use_smartypants` for one more release cycle and treat `html_use_smartypants = False` as `smartypants_builders = []`?

[2017-12-29 11:46] jfbu commented on #4211
@mitya57 My comment was a bit of wishful thinking, although I had well in mind the core problem that the transform is applied at early Docutils core action.

To illustrate, naive attempt fails ([mypatch.txt](https://github.com/sphinx-doc/sphinx/files/1593031/mypatch.txt) applied to current stable branch): ``make clean html text`` applies smart quotes to both and ``make clean text html`` applies sm

[2017-12-29 12:06] stephenfin commented on #4211
Could we change this behaviour going forward? To be honest, I don't see much value in having http://sphinx-doc.org/en/MAJOR.MINOR.PATCH/ and would much rather http://sphinx-doc.org/en/MAJOR.MINOR/ links. The reason for this is that, from the perspective of documentation, there is no case where I'll want the documentation for `1.6.N-1` instead of `1.6.N`. Newer versions of the documentation will in

[2017-12-29 12:28] jfbu commented on #4211
@stephenfin current behaviour appears coherent with [PEP 440](https://www.python.org/dev/peps/pep-0440/#final-releases) and [rtd policy](http://docs.readthedocs.io/en/latest/versions.html#how-we-envision-versions-working). The www.sphinx-doc.org site shows last tagged releases for each major.minor.x series.

[2017-12-29 16:46] shuLhan commented on #4201
What about this one,

[code]

Python version 2.7.5
OS Centos 7

[2017-12-29 16:55] jfbu opened #4359 "A global ``.docutils`` smart_quotes setting overrides html_use_smartypants or extension setting"
Consider situation [mentioned](https://github.com/sphinx-doc/sphinx/issues/3967#issuecomment-339408120) by @matthew-brett: user has a ``~/.docutils`` file which activates or deactivates smart_quotes.

Then this will override Sphinx's own setting either from (deprecated)  html_use_smartypants, or from an extension which would initiate a `smart_quotes` setting (cf ee52c7cd4f5e0a300c8fdd897c9529f5c63

[2017-12-29 23:27] skirpichev commented on #2437
And attempt to solve: #4184

[2017-12-30 00:44] tk0miya commented on #4345
I guess you want to write google or numpy style docs in `py:*` directive, right? AFAIK, napoleon extension only behaves as an extension for autodoc. So it can't process these directives (inside reST file).

[2017-12-30 05:07] tk0miya opened #4361 "1.6.6 release plan"
Hello maintainers,

Sorry for stopping stable releases in last months.
I caught very bad cold during December. So I could not work for Sphinx almost.
So I'd like to restart stable release cycle.

What do you think?

[2017-12-30 05:09] tk0miya commented on #4361
Note: we just start a big discussion for 1.6.x series on #4360.
If possible, I'd like to merge it to next release.

[2017-12-30 05:37] tk0miya commented on #4211
I don't know that. Its tag-branch model is strongly related with our documentation (includes translations). I agree with using `MAJOR.MINOR` to our documentation, but I don't know how to do that. I guess only @shimizukawa knows that.

I can say okay to make `stable-1.x` branch. It's very easy. But I feel changing document management model is not. TBH, I feel it is better to keep as is even if we m

[2017-12-30 06:02] tk0miya commented on #4256
I don't think so. I believe we can adopt both together.
I think there are only a few commonly used (changed) settings. So we can reduce it.

IMO, giving better default setting also goes to simplify conf.py.
For example, the default value of `master_doc` is `contents`, but many people might use `index` for it. because quickstart generated it as by default. I think this is very stupid behavior.

[2017-12-30 13:51] jfbu opened #4362 "``make latexpdf`` after ``make latex`` rebuilds latex sources"
#### Procedure to reproduce the problem

With any project, ``make latexpdf`` will unneedlessly rebuild the latex source files even immediately afer ``make latex``.

This is noticeable on big enough projects such as Sphinx own docs.

#### Expected results

``make latexpdf`` should behave like ``make -C <builddir> all-pdf`` when there is no need to rebuild the latex files.

### Environment info
- OS

[2017-12-30 15:22] jakobandersen commented on #4289
In https://github.com/jakobandersen/sphinx/tree/4289_decl_styling there is a proof-of-concept implementation, based on the ideas outlined above (The current changes simply colours the C++ keyword ``template`` blue in the HTML output):
- There is a single new node type for text elements in declarations (to avoid a lot of boiler-plate code in each writer).
- The node type is not supposed to be const

[2017-12-30 17:15] jfbu commented on #4289
@jakobandersen  can you check https://github.com/jfbu/sphinx/tree/4289_decl_styling?

It is not "how to do it best" but rather "how to do it fast" ;-)

(I have amended the commit message)

edit: in my commit I do a manual definition of LaTeX styling macro. But from brief look at Pygments, the Formatters have `get_style_defs()` methods which produce automatically the styling (css for html, latex co

[2017-12-30 18:28] jfbu commented on #4289
The commit message at https://github.com/jfbu/sphinx/commit/441c3def2dd4ef22b1f0f163842607ac0cea5798 makes a mention of `+` character to be avoided but anyhow it is not legit (without escaping) in CSS class names or selectors, so this is (mainly) not an issue.

(I have again amended the commit message)

edit: the commit message at https://github.com/jfbu/sphinx/commit/cc632bae52fbb044389a823177273

[2017-12-31 00:33] marshallward commented on #4357
This doesn't seem to be working for me unfortunately.  Would you be able to try it out and confirm that it works for you?

[2017-12-31 02:09] djhoese commented on #1880
I know this is really old, but I'm investigating sphinx's mocking behavior and I'm curious about your example. It looks like you are subclassing an instance of a module? How is that possible?

[2017-12-31 02:18] djhoese commented on #3920
I'm experience an issue related to this, but I'm seeing the opposite behavior from what @weaverba137 is seeing. In my case I have some submodules that use `h5py` and some modules that import `h5netcdf` which uses some of the h5py shared libraries in cython modules (I think) of `h5py`. I get a segmentation fault when sphinx starts importing these modules even when I list both `h5py` and `h5netcdf`

[2017-12-31 05:16] theiviaxx commented on #1880
@davidh-ssec Oh man, this was a long time ago and i dont have the code anymore.  Basically it revolved around pyside and how classes were created.  Here is a some code off the cuff:

    from PySide import QtGui, QtCore
    FORM, BASE = loadUIFile('path/to/file.ui')

    class MyWindow(FORM, BASE):
        def __init__(self, parent=None):
            super(MyWindow, self).__init__(parent)

[2017-12-31 08:05] jfbu commented on #4357
It works. However checking [Docutils doc](http://docutils.sourceforge.net/docs/user/config.html#configuration-file-syntax) for syntax I should perhaps not have left a tabulation at start of line. But it uses [ConfigParser](https://docs.python.org/3/library/configparser.html?highlight=configparser#quick-start) see also [ConfigParser accepted syntax](https://docs.python.org/3/library/configparser.ht

[2017-12-31 08:53] kassbohm commented on #4351
@jessetan thank you.

[2017-12-31 09:29] marshallward commented on #4357
OK it seems to be working after a `make clean`, which I was missing.  Not sure why you did not need to do it, but it does seem to be working now.

There may be some other nuance or lingering config file around, but either way it seems to work now.

My next question was how to restrict this to the man builds, but that seems to be an ongoing topic in the referenced addresses.

[2017-12-31 09:58] jfbu commented on #4357
You are right that after adding a previously non-existing `docutils.conf` file a `make clean` is needed. My testing was with an already existing file where one would toggle the `smart_quotes` setting.

It is good that this tidbit is documented here in case people encounter the problem.

Regarding restricting this to  ``man`` (and ``text``) builds, this is part of #4360 currently under discussion.

[2017-12-31 10:01] jfbu commented on #4357
ah I forgot to say, that if #4360 is merged, then you should remove the ``docutils.conf`` file: it is ignored if it says to activate smart-quotes (because if Sphinx says not to, then preventive measures are taken prior to handing over the parsing to Docutils), but it is obeyed if its says to deactivate them (because even if Sphinx says to activate them, Docutils will read its config file and obey

[2017-12-31 12:14] #4214 closed, assigned to nobody

[2017-12-31 13:35] djhoese commented on #1880
Looks like #2174 is a duplicate of this and is working in the newest versions of sphinx. And thanks for replying. Your example looked like you were doing `import my_module` followed by `class MyWindow(my_module)` which doesn't make sense.

[2018-01-01 02:40] marshallward commented on #4357
Thanks, that is useful to know.  Currently, my man build is integrated into `setup.py` (using a `BuildDoc` subclass) and I expect that would be the main way that manpages are built.  Do the `BuildDoc` commands use its own load `.doctrees` directory?

[2018-01-01 09:26] tk0miya commented on #4361
If nobody objects to my proposal, I'd like to release 1.6.6 on next weekend (Note: In Japan, Jan 8th is a National holiday and I will work for Sphinx. So it is a candidate of the X-Day).

I know #4360 is still in review. So we should pay attention for a while. Let's determine it will be merged into 1.6.6 or not on this weekend.

[2018-01-01 09:35] jfbu commented on #4357
I looked at the ``setup.py`` https://github.com/marshallward/f90nml. Currently you seem to use Sphinx only for ``man``, but if you add other builders, then you could insert at https://github.com/marshallward/f90nml/blob/master/setup.py#L57

[code]

which will force re-parsing of source files. Indeed, from a brief look at ``BuildDoc`` class in ``sphinx.setup_command`` the ``doctree_dir`` is shared

[2018-01-01 16:34] tk0miya commented on #3726
I marked this as "help wanted". Please let me know how to reproduce the problem.

[2018-01-01 21:58] mennamorato commented on #4340
Hi
this is definitely a Sphinx issue as I just installed v1.6.5 locally on my PC and got this:
![image](https://user-images.githubusercontent.com/1237638/34471338-d2f16868-ef14-11e7-9af0-a3baaa0ac6aa.png)

I update from v1.5.5, which works fine.

I really need to fix this *soon* ... any pointers?  thanks!

[2018-01-02 11:23] takuan-osho commented on #4204
@tk0miya It seems you can close this issue now, doesn't it?

[2018-01-02 11:24] #4204 closed, assigned to nobody

[2018-01-02 12:33] wadelee1986 opened #4369 "IOError: [Errno socket error] [Errno 110] Connection timed out"
[code]

[code]

[2018-01-02 14:34] jakobandersen commented on #4289
@jfbu, thanks, looks quite nice. I will take a more thorough look when I find more time.
A few thoughts:
- It sounds like Pygments already have all the functionality for format-agnostic style specification. I vote for directly using that as much as possible.
- Though, we should be able to use the highlighting directly, without the lexer.
- If we anyway use Pygments, then we can simply have a norma

[2018-01-03 00:43] tk0miya commented on #4091
Fixed by #4368 .
Thank you for reporting!

[2018-01-03 00:45] #4091 closed, assigned to nobody

[2018-01-03 01:10] tk0miya opened #4371 "Move smart_quotes feature to post_transform"
### Problem
- Not to cache the result of smart_quotes, the processing should be moved to post_transform.

#### Procedure to reproduce the problem
[code]
(with #4360)

#### Error logs / results
- Some outputs are applied smart_quotes or not applied.

#### Expected results
- Applied smart_quotes correctly under `smartquotes_disables`.

#### Note:

- This might requires a big refactoring. So it would

[2018-01-03 01:12] tk0miya commented on #4369
Thank you for reporting. It seems connection timeout has happened in your conf.py (not sphinx-core). Please check your configuration or environment.
Thanks,

[2018-01-03 02:25] marshallward commented on #4357
Thanks for having a look, I'll give that a try.  I don't generally expect people to build the HTML docs using setup.py (the man build is for the bin script) but I think there's enough info here to work it out.

Thanks again for your help, feel free to close this issue if you like.

[2018-01-03 10:04] jfbu commented on #4289
(briefly to say that for the LaTeX aspects, I have merged current master in my forked [4289_decl_styling branch](https://github.com/jfbu/sphinx/tree/4289_decl_styling) because master now includes #4370 which was motivated by needs of this discussion)

[2018-01-03 13:23] hameerabbasi opened #4372 "Getting apidoc --imported-members behaviour with autosummary"
Subject: Getting apidoc `--imported-members` behaviour with autosummary

### Problem
- I'm trying to find out how to get `sphinx-apidoc`'s `--imported-members` functionality with `autosummary_generate = True`. I can't seem to find anything for this in the issue tracker. It also ignores `__all__` in `__init__.py` for the module.

#### Procedure to reproduce the problem
[code]

#### Error logs / res

[2018-01-03 17:06] MakersF commented on #2557
I second this issue.

At work we use python namespaces for all the libraries.

I'm writing library `A` which depend on library `B`. They are both in `company` namespace.

If I put `autodoc_mock_imports = ['company.B']` autodoc ignores everything from my `company.A` library.
Documentation is generated in an environment I don't have the control of, so I can't install the package I need.

The problem

[2018-01-04 00:18] #4357 closed, assigned to nobody

[2018-01-04 01:33] tk0miya commented on #3282
They were already removed at c74eb9448b3a335510daa362be25d7ac5bd2277c.

[2018-01-04 01:33] #3282 closed, assigned to nobody

[2018-01-04 06:49] wadelee1986 commented on #4369
Thanks a lot;

I have fixed it.

[2018-01-04 09:58] rjarry commented on #2557
Hi @MakersF,

this is due to what @shimizukawa said in https://github.com/sphinx-doc/sphinx/issues/2557#issuecomment-298169690:

Unfortunately, there is no other solution. I don't understand why you need to mock your own sub-modules. Aren't they in the same source tree? If not, it would be a good thing to put them in separate root packages (modules). Mocking namespace packages (see [PEP 402](https

[2018-01-04 10:50] ArtFlag opened #4374 "Automatically add html class in output to elements inside an `only` directive"
### Problem
With the following content:
[code]

#### Expected results

The HTML output is:

[code]

If the output contained some indication that the text had a tag, that would be great:

[code]

Simply adding it to all the elements contained in the directive would be a nice step forward for conditional outputting and formatting.

### Environment info
- Sphinx version: 1.6.5

[2018-01-04 11:44] #4369 closed, assigned to nobody

[2018-01-04 12:17] tk0miya commented on #4374
-1; I think this is not a common feature. Please implement your idea as an extension. Sphinx provides extension point and APIs.

[2018-01-04 13:50] tk0miya commented on #4372
I tested with following Dockerfile, but I can't reproduce the error.
[code]
[code]

I feel a bit strange for your error log. Sphinx uses hyphens for `:imported-members:` option, not underscore. I wonder where does the invalid option come from.

[2018-01-04 13:59] sephib commented on #4317
Well it seems that the issue is with the identifying the types in the `http://pandas.pydata.org/pandas-docs/stable/objects.inv` since ` :meth:pandas.DataFrame.apply` generates a valid link

[2018-01-04 13:59] #4317 closed, assigned to nobody

[2018-01-04 14:07] hameerabbasi commented on #4372
@tk0miya You have to manually add the `:imported-members:` option in `docs/modules.rst`, it's not actually added. Also, the problem is in `autosummary`, not `autodoc`. There is no `:imported-members:` in `autosummary`.

[2018-01-04 14:09] hameerabbasi commented on #4372
Also, if you inspect the generated docs, they're mostly empty, which is why I need `:imported-members:`... Or that `autosummary` should include something like detecting members from `__all__`

[2018-01-04 15:08] gtristan opened #4375 "Sphinx not parallel installable for python2 and python3"
There is no stable entry point one can rely on to invoke sphinx-apidoc or sphinx-build specifically for python3, as far as I can see there is only *${prefix}/bin/sphinx-build* and  *${prefix}/bin/sphinx-apidoc*.

It is unclear, on any given system, if the `/usr/bin/sphinx-*` tools will be using python2 or python3, however projects which depend on sphinx must be able to assert that sphinx is instal

[2018-01-04 15:46] stephenfin commented on #4375
@tk0miya I discussed this with @gtristan on `#sphinx-doc` today and am happy to work on it. Looks like something that we'll need to work with packagers to really solve and it won't be necessary after Sphinx 2.0 (which should be Python 3-only). However, it would be a good enhancement until then.

[2018-01-04 15:51] tk0miya commented on #4375
@stephenfin thank you for your help.
I don't have knowledge for this. So it would be nice if you help us.

[2018-01-04 15:57] tk0miya commented on #4340
I think it is another problem.
Could you run `sphinx-build` with `-P` option (ex. `sphinx-build -P -b html /path/to/srcdir /path/to/outdir`)?
Then you can see what error happened inside Sphinx. So please let me know it.

Note: after that, you can exit debug mode with `quit` or `exit` command.

I feel your case is very strange. The SphinxError is a part of Sphinx. So I guess your environment has br