[2015-02-24 03:47] bruxisma opened #1738 "C++ domain breaks with global namespace specifier on function parameters."
Given the following:

[code]

Sphinx will error (and exit) with:

[code]

If the global namespace specifier is removed from `::std::error_category const&`, it will run just fine. The global namespace specifier isn't required, but these signatures are taken directly from source code.

(Sorry that I keep breaking the C++ domain!)

[2015-02-24 08:40] shimizukawa commented on #1346
@birkenfeld thanks for updating the message!
@ericholscher I got, thanks for sharing the information.

I'll release Sphinx-1.3b3 in 6 hours (JST's today :)

[2015-02-24 13:23] shimizukawa commented on #1737
Thanks for reporting! I confirmed the issue. I'll take a look it before 1.3-final release.

[2015-02-24 13:26] shimizukawa commented on #1235
@fpatz Thanks! if you create a PR, I'll take a look.

[2015-02-24 23:19] shimizukawa commented on #1346
1.3b3 has been released!

[2015-02-24 23:19] #1346 closed, assigned to shimizukawa

[2015-02-25 06:37] uralbash opened #1739 "Encoding error when `make linkcheck`"
I'm using the links in the project, such as those https://ru.wikipedia.org/wiki/Система_управления_базами_данных. Sphinx-build to html make all fine, but `-b linkcheck` writes the following error:

[code]

And with default locale

[code]

[2015-02-25 08:35] andreacassioli commented on #1717
Hi,
I see extension in https://gist.github.com/kakawait/9215487 could be a solution. However, it seems to me that a proper conditional operator would be much cleaner to read and more portable.

I still believe that ifconfig should be used instead and its condition evaluated from the very beginning.

[2015-02-25 09:39] #1738 closed, assigned to nobody

[2015-02-25 10:19] Jellby commented on #1720
`code-block` does not support `:name:`, and how would I use it for a simple table with no caption like this?:

[code]

EDIT: It seems in this case the label is simply used as `id`, so nothing to change here.

[2015-02-25 10:49] Jellby commented on #1720
And a `:name:` in `figure` results in (1): the `id` being applied to the `<img>` rather than the `<div>`, and (2): undefined label warning from sphinx.

[2015-02-25 10:59] #1737 closed, assigned to nobody

[2015-02-25 11:16] birkenfeld commented on #1739
Please attach the traceback log referrred to in the error message.

[2015-02-25 11:19] uralbash commented on #1739
/tmp/sphinx-err-zs43nr.log

[code]

[2015-02-25 11:29] birkenfeld commented on #1736
Hi,

nice that Jython fixed this bug. However, there is still a problem somewhere, since the call to `os.makedirs()` in Sphinx is guarded by `if not os.path.isdir()` (the line before). I could add a workaround, but this is not ideal.

Can you check id `os.path.isdir()` works with UNC paths?

[2015-02-25 11:29] birkenfeld commented on #1739
Thanks! Taking a look...

[2015-02-25 11:51] birkenfeld commented on #1739
Thanks for the report!

[2015-02-25 11:51] #1739 closed, assigned to nobody

[2015-02-25 15:23] shimizukawa commented on #1720
simple table has the ability, please see a comment I posted.
https://github.com/sphinx-doc/sphinx/issues/1720#issuecomment-75436709

For the `figure`, I need more inspection.
@Jellby if you have a time, please create another ticket for that.

[2015-02-25 15:33] csillag commented on #825
+1

[2015-02-25 15:48] Jellby opened #1742 ":name: does not creating a proper label inside figure or code-block"
Sample document:

[code]

The `:name:` option works fine in the `table`. In the `code-block` it's not accepted, and in the `figure` it has two problems:
1. It does not generate a sphinx label, so `:ref:`my_figure`` does not work.
2. The generated HTML assigns the `id` to the `<img>` rather than to the `<div>`:

[code]

[2015-02-25 16:09] TomasTomecek commented on #825
This is the only reason I am not using sphinx.

[2015-02-25 16:11] saily commented on #825
we use Sphinx, but often i have to convert documents from `md` to `rst` using `pandoc`, because people are using markdown editors to write their docs. so same here, +1

[2015-02-25 17:51] charlesmjm opened #1743 "Global Location for Documentation Files"
Hello,

I'm trying to figure out if something is possible with Sphinx. I have 3 separate documentations atm that have been created using Sphinx with rst files. These 3 documentations use many of the same rst files. Is there a way that I can put all rst files in one central location and then have each documentation grab the files they require. The purpose for this is that if I have to update an rst

[2015-02-26 07:55] Jellby commented on #1720
With "simple table" I mean a table that does not use the `table` directive, as in my example above. But I noticed that in this case the standard label works as I want, so that's OK. For the figure (and code-block), I've created #1742

[2015-02-26 12:13] keimlink commented on #1743
Can you please add a short example of files you want to include? Can you also explain the structure of your documentation briefly?

[2015-02-26 15:21] vitaut opened #1744 ":py:obj: equivalent in cpp domain"
The Python domain has the [`:py:obj:` role](http://sphinx-doc.org/domains.html#role-py:obj) that can be used to reference an object of any kind:

It would be extremely useful if similar role (e.g. `:cpp:obj:`) was available in the cpp domain. Currently there are only roles that refer to a single kind of object like `:cpp:function:` or `:cpp:class:` which doesn't work very well with the `default_ro

[2015-02-26 16:52] charlesmjm commented on #1743
I've added a screen shot of the sphinx make, which shows that everything is not being written. I've also attached a screen shot of the html showing the image is absent. My rst and image files are located one directory up because I am using them for 3 Documentations and I am grabbing them with .. include::

![sphinxfail](https://cloud.githubusercontent.com/assets/11197696/6396415/ea418a70-bda3-11e4

[2015-02-26 18:06] fcoelho opened #1745 "Error building sphinx_rtd_theme demo docs with pdf target"
I'm getting this error when trying to build `sphinx_rtd_theme`'s [demo docs](https://github.com/snide/sphinx_rtd_theme/tree/master/demo_docs):

[code]

I tried using Sphinx 1.2, 1.3b3, and also tried sphinx directly from GitHub. All three versions generated the same error.

What could be causing this and where should I look into fixing that? The error is being caused by the `source/demo.rst` file,

[2015-02-26 20:49] #1577 closed, assigned to nobody

[2015-02-26 20:49] #1744 closed, assigned to nobody

[2015-02-26 20:52] jakobandersen commented on #1577
There is now a `cpp:var` directive (and role). It works exactly like `cpp:member`.

[2015-02-26 20:58] jakobandersen commented on #1744
Currently all the roles in the C++ domain can reference any declaration (the only difference being that `func` adds `()` after the name). There is now a `cpp:any` role which should keep working like this.

[2015-02-26 21:02] vitaut commented on #1744
Thanks @jakobandersen.

[2015-02-27 09:32] andreacassioli commented on #1210
Hi,
is there any update on this issue?

In the html writer the problem is that the code does

[code]

and thus it always generates local references to the page. Could we imagine to store a dictionary of labels in the application main object?

[2015-02-27 21:05] bruxisma opened #1746 "C++ domain function arguments and returns as well as references do not look within local tree for cross references"
Given a document "string.rst" with the following content:

[code]

And a different file that gets processed in order _before_ 'string.rst' named 'memory.rst' with the following content:

[code]

The resulting HTML will link to the memory.rst reference declaration. The only solution workaround I've had thus far regarding this is to explicitly place the class name in front of every single parameter,

[2015-02-27 21:38] bitprophet commented on #1346
@birkenfeld Gah, yea I totally dropped that. Just merged your PR and will release unless I find something else that really needs to go in first - looking now.

[2015-02-28 01:29] shimizukawa commented on #1720
@Jellby docutils documentation says the "table" directive is used to create a titled table, to associate a title with a table. It also associate id and class. IMO, it's only way to provide ID to simple table.
http://docutils.sourceforge.net/docs/ref/rst/directives.html#table

[2015-02-28 01:31] shimizukawa commented on #1742
Thanks! I'll take a look.

[2015-02-28 07:05] birkenfeld commented on #1346
@bitprophet Thanks!

[2015-02-28 22:05] shimizukawa commented on #1745
Thanks for your reporting!
The issue can be reproduced with this small example w/o sphinx_rtd_theme:

[code]

I'll fix it.

[2015-02-28 22:26] #1745 closed, assigned to shimizukawa

[2015-03-01 00:22] shimizukawa commented on #1525
@andreacassioli I think your error is not same as this issue's, it seems latexcodec package caused the error. Please make another ticket with full traceback (As error saied "The full traceback has been saved in /tmp/sphinx-err-a0kI5s.log") or please contact to package owner.

[2015-03-01 00:22] #1525 closed, assigned to nobody

[2015-03-02 09:07] Arfrever opened #1748 "SyntaxError in sphinx/ext/ifconfig.py with Python 2.6"
According to `setup.py`, `sphinx/__init__.py` and documentation, Sphinx still supports Python 2.6.
However there is SyntaxError in `sphinx/ext/ifconfig.py`:

[code]

Fix:

[code]

[2015-03-02 09:29] andreacassioli opened #1749 "excessive output in parallel build?"
Hi,
I have noticed that running Sphinx 1.2b3 with more than one thread it generates a huge amount of duplicates warnings.

Durring the writing phase, a warning generated running on one thread is repeated 36 times on 2 o more threads!

Now, apart from the cluttering of the output and the huge increase of the output size, I wonder if it may be related to this issue I reported once https://github.com

[2015-03-02 09:59] shimizukawa commented on #1748
Thanks for reporting!  I'll fix it soon.

[2015-03-02 13:44] #1748 closed, assigned to shimizukawa

[2015-03-02 14:17] andreacassioli commented on #1640
Hi, the issue seems to be still there.

I am running Sphinx 1.2b3 on Linux 64.

On a specific machine, it happens every time I set the number of jobs greater than one. Sphinx hangs while writing, i.e. during the second phase. After some warnings the process just hangs and I have to kill it. The very same code works fine on other machines.

I cannot install a beta version now, as the system that ha

[2015-03-02 14:37] nazarlviv07 commented on #1736
Hi,

I have checked how os.path.isdir() is working with UNC paths.
List of the program is below:

[code]

Printout from console is below

[code]

We can assume that os.path.isdir() works with UNC paths.

Correct me If I am wrong.
Thanks.

[2015-03-02 15:37] birkenfeld commented on #1640
I assume you mean 1.3b3? It would be interesting to know if the machine in question can run any other multiprocessing jobs fine.

[2015-03-02 15:45] birkenfeld commented on #1736
This is just a problem with your example script: you should write `"\\\\sphinx_python\\folder1"`, otherwise Python interprets the `\f` as a formfeed character.

[2015-03-02 16:57] vitaut opened #1753 "Invalid definition for a C++ function taking an array reference as an argument"
I get the error

[code]

on the following Sphinx code:

[code]

[2015-03-02 19:40] lehmannro commented on #1753
No, _expected identifier_ is unrelated to cppformat/cppformat#125:  This complaint is about the missing return type. `void f(int &array[10])` works fine.  The underlying issue with template declarations should be covered in #1314.

[2015-03-02 19:44] vitaut commented on #1753
I get an error even with return value on Sphinx 1.3b3:

[code]

[2015-03-02 19:46] vitaut commented on #1753
Please note that the declaration is `void f(int (&array)[10])` and not `void f(int &array[10])` as an array of references is not valid in C++.

[2015-03-02 19:46] lehmannro commented on #1753
Can you drop the surrounding braces around `&array`?

[2015-03-02 19:47] vitaut commented on #1753
Unfortunately not, because it changes semantics.

[2015-03-02 19:48] jakobandersen commented on #1753
Yes, this is indeed a bug. Furthermore, the error is not accurate. In this case it should be
`Invalid definition: Expecting "," or ")" in parameters_and_qualifiers, got "(".` as you indicate.
I'm working on a fix.

[2015-03-02 19:50] vitaut commented on #1753
Thanks, @jakobandersen.

[2015-03-02 21:51] #1658 closed, assigned to nobody

[2015-03-03 00:27] bitprophet commented on #1346
@birkenfeld saw already, but FTR I merged his PRs and released alabaster 0.7.x (probably should've just made it 1.0 but meh, next feature release :)).

[2015-03-03 06:48] nazarlviv07 commented on #1736
Thanks, you are right. I have already update program ( updated list of program and printout are in my previous comment).
I have also noticed that in sphinx/environment.py, part of code is below

[code]

we received OSError 17 even if folder is not created.
Probably it is fault in os.makedirs(dirname).

I have already register issue in jython page (http://bugs.jython.org/issue2277)

[2015-03-03 08:53] andreacassioli commented on #1640
The machine can definitely run multiprocess jobs. The version is actually 1.2.2.

[2015-03-03 10:07] jakobandersen commented on #1746
Thanks, there are two lookup bugs, but I'm not sure if I get the same result as you describe, so maybe there is a third. I tried compiling with both `memory.rst` and `string.rst`, and with `memory.rst` and `a_string.rst` to get the reverse processing order. In both cases I get the following in string.rst/a_string.rst:

[code]

Do you get something else?

[2015-03-03 11:15] andreacassioli commented on #1640
It seems that reducing the output makes the trick. I included option -q and now it builds on multithreads.

[2015-03-03 11:22] andreacassioli commented on #1635
What about two different keyword to distinguish or an option like

[code]

To avoid confusion I would suggest to have an official if-statement'  for excluding blocks as

[code]

and possibly a role like

[code]

[2015-03-03 14:05] ViktorHaag opened #1754 "Sphinx 1.3b3 requires jsonschema and mistune (used by parallel.py), not declared as package dependency"
It appears that .../sphinx/util/parallel.py requires `jsonschema` and the `mistune` packages, but these don't seem to be declared in the package as dependencies. Making HTML with parallel writers provokes these errors -- first, this:

[code]

then, this:

[code]

After manually installing jsonschema and mistune packages, the `make html` passes fine.

[2015-03-03 16:39] jamiehannaford opened #1755 "Using more complication glob patterns in toctree directives"
Is it possible in the `toctree` directives to have glob patterns like `specs/*/index.rst`? I'd love to be able to pull in one common file from multiple directories without having to manually define the directory names (from the project root `index.rst`). Is this currently possible? If not, would it be a suitable enhancement for somebody to write a PR for?

[2015-03-03 18:00] birkenfeld commented on #1755
This should be possible already, with two caveats: the globbing works on document names, not file names, so you should remove the `.rst` suffix. And a single `*` does not match directory separators, use `**` for that.

[2015-03-03 18:04] birkenfeld commented on #1754
Sphinx doesn't require either of these packages; however, it is possible that the documentation project imports them, e.g. through autodoc.

The error should be the same when you build with `-j1`. If it isn't, we'll have to find out why.

[2015-03-03 18:05] birkenfeld commented on #1640
For 1.2.2 the parallel implementation is quite different. It is possible that there are bugs left there that are now fixed for 1.3.

[2015-03-03 18:52] jamiehannaford commented on #1755
@birkenfeld Awesome, got it working. Thanks for the pointers :)

[2015-03-03 18:52] #1755 closed, assigned to nobody

[2015-03-03 20:31] bruxisma commented on #1746
Odd, I will get a different 'reference' if described in another class, or explicitly defined like `.. type:: myclass::reference:` in some cases (thought not all).

Other times I do get where the return type ends up not linking to the local reference declaration. :/

[2015-03-04 03:31] BuildMonkey-zz commented on #1625
I see that there are beta versions of 1.3 released. Is this change in there as well?

Thanks.

[2015-03-04 14:13] ViktorHaag commented on #1754
I can confirm that the error still occurs (dependency on jsonschema), but is not exactly the same (see below). Presumably it doesn't get thrown from parallel.py, because the execution path with -j1 does not pass through it -- so, I guess this isn't an issue with the Sphinx core itself, but it's still an issue with the Sphinx packaging.

[code]

[2015-03-04 14:33] shimizukawa commented on #1754
@ViktorAtD2L `IPython/nbformat/validator.py` requires jsonschema, ref: https://github.com/ipython/ipython/blob/master/IPython/nbformat/validator.py

However sphinx doesn't depend on IPython.
It seems your documentation or some python code requires IPython.

To get more details, you can use `-T` and `-vvvv` option for sphinx-build command. Please check it.

[2015-03-04 14:56] ViktorHaag commented on #1754
Ah, I see what's happened, I think. I'm using Pygments, and the documentation build is choking when it gets to using Pygments to format a code-block that's explicitly typed as type "http". This is almost certainly down to a recent upgrade of either the Pygments or IPython libraries and not to do with Sphinx. I will close this issue.

Thanks for your patience.

[2015-03-04 14:56] #1754 closed, assigned to nobody

[2015-03-05 00:57] vitaut opened #1756 "Incorrect section titles in search"
Search results sometimes display incorrect titles. Here's a repo that reproduces the problem: https://github.com/vitaut/amplgsl-sphinx

How to reproduce:

[code]

Then open `_build/html/index.html` and search for "zeta". This will show the following search results:

![screenshot from 2015-03-04 16 53 45](https://cloud.githubusercontent.com/assets/576385/6497020/25004940-c28f-11e4-968e-2835f822debb

[2015-03-05 15:29] njr0 commented on #850
+1

[2015-03-05 17:06] andreas-h commented on #1629
It was me originally reporting this; just commenting here to be in the loop =)

[2015-03-05 19:05] wolfgang-noichl opened #1758 "Locate faulty docstring more easily?"
Suppose I have an erroneous docstring, e.g. like this:

[code]

Note the incomplete underline under "Examples".
So, 'make html' fails, however, I won't get any hint where (which file, line) to look for the error:

[code]

Especially if the documentation is only built every now and then, with many commits in between, it can be really hard to figure out why building it fails. In my case, I ended up

[2015-03-05 22:48] #1753 closed, assigned to jakobandersen

[2015-03-06 00:50] 20-100 commented on #227
Hi, I'm still having the UnicodeDecodeError when my project lives in a non-ASCII path.
I have version 1.1.3.

Here is my path : ~/Thèse/svn/code/doc/
The project root is the folder "code" and the doc is in subfolder doc, with source and build separated.
I tried to move the whole "code" folder directly in ~, hence avoiding the non-ASCII letter in "Thèse" and everything works just fine.

[2015-03-06 00:56] shimizukawa commented on #227
@20-100 Sphinx supports non-ASCII path since version 1.2. Please use newer version.
If you get UnicodeDecodeError with Sphinx-1.2 or later, please let me know with new ticket. Thanks.

[2015-03-06 13:29] TormodLandet commented on #1711
It seems that importing matplotlib in a module will give errors when functools.wraps is replaced by a dummy. To work around this you can test if the function to be wrapped is inside the package you are documenting. Put the following in the `conf.py` file:

[code]

This works for me at least

[2015-03-07 15:16] tk0miya commented on #1719
Fixed by PR #1752.
please try it. thanks.

[2015-03-07 15:16] #1719 closed, assigned to tk0miya

[2015-03-08 13:14] shimizukawa commented on #1742
Now, `code-block` and `literalinclude` support `:name:` option. And them and `figure` name can be referenced from `:ref:` role.

It's a specification of docutils. We'll keep compatibility.

[2015-03-08 13:14] #1742 closed, assigned to shimizukawa

[2015-03-08 14:10] jakobandersen commented on #1746
The name lookup bugs I know of should be fixed now. The following code should now have correct links, and all of them.

[code]

@slurps-mad-rips, do you still get strange results?

[2015-03-08 14:30] birkenfeld commented on #1672
Hmm, I can't reproduce this.

[2015-03-08 14:31] birkenfeld commented on #1749
I'm sorry, we can't support 1.2b3 anymore. If this can be reproduced with 1.3b3 or 1.3 (to be released in a few hours), please reopen.

[2015-03-08 14:31] #1749 closed, assigned to birkenfeld

[2015-03-08 15:04] shimizukawa commented on #1756
Confirmed. It also can be reproduced by using sphinx documentation http://sphinx-doc.org/latest/search.html?q=todo+items
It seems just searched titles are not correct.

[2015-03-08 17:21] shyamalschandra opened #1761 "Could you please rewrite the step-by-step instructions to create documentation using sphinx?"
Hi,

I have tried many times and have been unsuccessful.  If you could help, this would be great!

Thanks!

[2015-03-08 17:36] lehmannro commented on #1761
Hi Shyamal, thanks for your report!  I assume you're talking about the [First Steps with Sphinx](http://sphinx-doc.org/tutorial.html) document.  Could you be a bit more specific and attach error reports or exact steps you've struggled with?  From a cursory glance I could not see anything wrong with it.

[2015-03-08 19:11] bruxisma commented on #1746
So far, so good! I need to do one more test. I'm getting a bunch of 'duplicate id' warnings in a specific file where many types have the same member typedefs, but it may not be related to this.

[2015-03-08 20:39] nthiery commented on #777
Ping? Does using trivlist sound reasonable?

[2015-03-09 09:45] Jellby commented on #1742
Thanks. About the '':name:'' in ''figure'', where is it specified in docutils? Maybe I can report it for them to change it...

[2015-03-09 10:21] rom2014 opened #1762 "tooltips for internal links (reference/doc)"
Hi, currently I see no way to add customized tooltips to internal links, this would for example help to visualize the target of the reference as the title itself might not always be too self-explaining (if you have several similar or same titles within different parts of the documentation) and reduce the information of the link itself (if you provide the full path in the link text, it might be not

[2015-03-09 10:40] Jellby opened #1763 "Wrong :numref: links for figure, table and code-block"
Similar test file as in #1742:

[code]

with this in ''conf.py'':

[code]

In the HTML, `:numref:`my_figure` comes out as "My fig 2", although the caption correctly shows "My fig 1". I think this is related with the fact tha the `my_figure` id is being applied to the `<img>` tag, which is inside a `<div>`: the `<div>` gets the number 1, the `<img>` gets the number 2.

In the LaTeX-PDF output all `

[2015-03-09 11:55] shimizukawa commented on #1763
Thanks! I'll fix it soon.

[2015-03-09 12:39] pjxiao commented on #1651
According to [documents](http://sphinx-doc.org/domains.html#info-field-lists), `type` directive describe "Type of a _parameter_." (Not type of variable)
If you want to describe a type of _variable_, you can use `vartype`.

[code]

[2015-03-09 12:39] #1756 closed, assigned to shimizukawa

[2015-03-09 13:36] ronanpaixao commented on #1725
I have a test code for this problem:

`testutf.py`

[code]

`testuft.rst` generated by `sphinx-apidoc`:

[code]

`make doctest` output:

[code]

**Note 1:** I have also tried to use the `source_encoding = 'utf-8'` option in `conf.py`, with no success.

**Note 2:** I put a test stub in the source file, so as to doctest it from outside Sphinx, with success:

[code]

This suggests that the problem is

[2015-03-09 13:51] #1651 closed, assigned to shimizukawa

[2015-03-09 13:54] shimizukawa commented on #1742
@Jellby Ah, "implementation" is better than "specification". I can't find any documentation for the behavior.

[2015-03-09 14:59] #1763 closed, assigned to shimizukawa

[2015-03-09 15:06] shimizukawa commented on #1763
@Jellby your investigation is correct. Now I fixed it. Please try it with latest dev code if you have a chance. Thanks!

[2015-03-10 15:45] shyamalschandra commented on #1761
How am I supposed to specify the source directory which I want to recursively drill down through?

[2015-03-10 17:12] Jellby opened #1764 "Allow alternate stylesheets"
I would like to add some alternate stylesheets in a sphinx theme, as described here: http://alistapart.com/article/alternate/

This requires only specifying some "rel" and "title" attributes in the <link> elements, but this part is hardcoded in sphinx/themes/basic/layout.html. I can add more stylesheets, but not specify the attributes. As far as I understand from the jinja documentation the "css()

[2015-03-10 19:58] bruxisma commented on #1746
OK, everything looks good! But... I've found another bug, it seems. I'll try to get a minimal test case for reproducing and file that as a separate bug. Can't quite tell what is causing it, but there are a bunch of incorrect warnings concerning 'duplicate IDs'

[2015-03-10 20:06] jakobandersen commented on #1746
Great, at least the name lookup seems fixed :-).

[2015-03-10 20:06] #1746 closed, assigned to jakobandersen

[2015-03-10 20:22] bruxisma opened #1765 "C++ domain prints SEVERE warnings if two classes share the same typedefs and definitions"
Given a document `duplicate.rst`

[code]

Sphinx will error with:

[code]

Even though the two types are uniquely named and not referencing each other (per #1746, if an `:any:result_type` or any other ref is used within a class it will select the correct one)

However, fully scoping the definitions _outside_ of the respective classes removes these warnings.

[2015-03-10 20:47] andreacassioli commented on #1717
What about adding an option to a toctree like :condition: so that it will be evaluate during the doctree-read or doctree-resolved event?

[2015-03-10 21:21] #1765 closed, assigned to jakobandersen

[2015-03-10 21:24] jakobandersen commented on #1765
Thanks for reporting.

[2015-03-10 21:43] shimizukawa commented on #1764
You can provide `_static/custom.css` and write the following codes into "conf.py":

[code]

refs: http://sphinx-doc.org/extdev/appapi.html#sphinx.application.Sphinx.add_stylesheet

[2015-03-10 22:06] bruxisma commented on #1765
Happy to help! Thanks for making the C++ so much better than it used to be!

[2015-03-11 00:39] rbtcollins opened #1766 "error running sphinx on pypy3 / Python 3.2"
We run sphinx in our CI for testtools (https://github/testing-cabal/testtools) and with Sphinx 1.3 we started seeing this:

make[1]: Entering directory `/home/travis/build/testing-cabal/testtools/doc'
sphinx-build -b html -d _build/doctrees   . _build/html
Error: Sphinx requires at least Python 2.6 to run.
make[1]: **\* [html] Error 1

e.g. from https://travis-ci.org/testing-cabal/testtools/jobs/5

[2015-03-11 08:22] Jellby commented on #1764
I'm afraid that doesn't help. That only adds a standard stylesheet:

[code]

But I want to add something like:

[code]

(note the different "rel" and "title" attributes.) I'm creating my own modified theme and I'd like to override the `css()` macro in basic/layout.html, but I cannot because it's not defined or used inside a "block". Another solution, of course, would be to extend the `add_styleshe

[2015-03-11 08:43] shimizukawa commented on #1764
Hum.. I think it'll be resolved if
- a, `add_styleseet()` accepts attributes like `rel="alternate stylesheet"` and `title="Plain"`
- b, css() jinja2 macro is defined in some named block (if it is possible)

For now, as you mentioned, these features are not implemented.

[2015-03-11 09:07] lehmannro commented on #1764
You can currently do something like this with the `extrahead` block, see eg. the [pyramid theme](https://github.com/sphinx-doc/sphinx/blob/1.3b3/sphinx/themes/pyramid/layout.html#L3-9) for an example.

As for the API, I think `rel=` is not necessary as it should default to `alternate stylesheet` if a _title_ is given.  I'm not sure what you mean by (b); `css_files` should just be an list of object

[2015-03-11 09:45] Jellby commented on #1764
The `extrahead` block may help.

Even with the default as `alternate stylesheet` if a title is given, it should be possible to provide a title and just `stylesheet` too. The (b) solution means simply allowing an override of the `css()` macro, which is currently not possible.

[2015-03-12 07:26] lehmannro commented on #1761
I am not sure I understand your problem.  If you use `sphinx-quickstart` you have been prompted for a _root path for the documentation,_ which defaults to the current directory (where you have executed the quickstart command.)  All source files, eg. `index.rst`, need to be present in that directory.

Please also note that such questions are better directed at our [sphinx-users](http://groups.googl

[2015-03-12 07:35] andreacassioli commented on #1210
OK,
I have made an ack to mathbase that seems to work: I assume my equation to be referenced either as `:eq:`label`` and in this case is the local doc; or as `:eq:`filename:label`` and then I can make a correct link. For HTML the code looks like

[code]

Does it make sense? In case, how should I do a pull request?

[2015-03-13 01:40] shyamalschandra commented on #1761
Thanks!

[2015-03-13 01:40] #1761 closed, assigned to nobody

[2015-03-13 09:21] shirou opened #1770 "literalinclude with empty file occurs Exception."
At least sphinx 1.3, if `literalinclude` with emptyfile like this,

[code]

exception occured.

[code]

This comes from here https://github.com/sphinx-doc/sphinx/blob/master/sphinx/directives/code.py#L222

[2015-03-13 15:40] shimizukawa opened #1771 "automated .mo building doesn't work properly."
Sphinx-1.3 provide automated '.mo' building from outdated '.po' files.
However it doesn't work fine for template i18n parts.

Template i18n translation catalog entries is stored in the sphinx.po/mo file and it is loaded before .mo file updating. Because of it, we get translated html page after second building.

IMO, we have two options to fix it.
1. try building sphinx.po file before initializing

[2015-03-13 17:31] jlaura opened #1772 "Error building docs on 1.3, Text Assignment in make_xref"
Getting a cryptic error try to build documentation after an upgrade to version 1.3.  First appeared on a Travis-CI run and I can reproduce after manually upgrading a local sphinx install to 1.3.  I can build successfully in both environments using version 1.2.3.

Full stack trace as a GIST: https://gist.github.com/jlaura/92dfeefb38af9b433552

Totally stumped on this one, as I am not seeing any lin

[2015-03-14 05:08] shimizukawa opened #1773 "sphinx-quickstart doesn't accept non-ASCII charactor as a option argument."
Since 1.3 release, sphinx-quickstart has provided many option argument.
Wizard mode accepts non-ASCII characters as project-name, author or some else.
In contrast, command-line options don't accept non-ASCII characters.

[2015-03-14 05:18] shimizukawa commented on #1773
fixed.

[2015-03-14 05:18] #1773 closed, assigned to shimizukawa

[2015-03-14 08:05] shimizukawa commented on #1766
Thanks!

[2015-03-14 08:05] #1766 closed, assigned to nobody

[2015-03-14 08:38] tk0miya opened #1775 "Add separated source directory to search path of docutils.conf"
With sphinx-1.3, `sphinx-build` searches `docutils.conf` on project root directory.
It would be nice if it searches on separated source directory (a.k.a. `source/`)

[2015-03-14 09:16] shimizukawa commented on #1772
confirmed. I'll fix it soon.

[2015-03-14 12:56] shimizukawa commented on #1770
fixed.

[2015-03-14 12:56] #1770 closed, assigned to nobody

[2015-03-14 12:56] shimizukawa commented on #1772
fixed.

[2015-03-14 12:56] #1772 closed, assigned to shimizukawa

[2015-03-14 13:56] shimizukawa opened #1776 "source_suffix = ['.rst'] cause unfriendly error prior version."
Sphinx-1.3 quickstart generates  `source_suffix = ['.rst']` line in conf.py that cause unfriendly exception as:

[code]

We have 2 options for this problem:
1. set `needs_sphinx = '1.3'` by default.
2. revert `source_suffix` default value as `'.rst'` and add comment line to explain the multiple extensions feature.

Speaking of option 1, the document might works fine on prior versions except `sourc

[2015-03-14 14:27] lehmannro commented on #1776
+1 for option 2.  Option 1 is basically the status quo:  Configs _do_ need 1.3 anyways with `source_suffix` set to a list currently, otherwise they will fail.  No need to make that even more explicit.

[2015-03-14 14:34] juh2 commented on #1376
Please check epub converted with Sphinx 1.3 There are a lot of errors.

[2015-03-14 14:40] shimizukawa commented on #1376
In fact, sphinx can't generate XHTML. For now, it's a limitation.

In near future, docutils supports XHTML writer, after that we can improve our epub bulider.
https://groups.google.com/d/msg/sphinx-dev/qeaq7RV8ccw/AlCa7k4cgDcJ

[2015-03-14 15:19] blink1073 commented on #1776
This change to a list for `source_suffix` is affecting major projects like `matplotlib` and `scikit-image`.  We need a way to support Sphinx <1.3 and Sphinx 1.3.

[2015-03-14 15:21] blink1073 commented on #1776
cc @tacaswell.

[2015-03-14 15:31] blink1073 commented on #1776
Here's the best workaround I have right now:

[code]

[2015-03-14 15:35] shimizukawa commented on #1776
@blink1073 Sphinx-1.3 still support `source_suffix = '.txt'` and we will keep supporting it. IMO, conf.py default that generated by sphinx-quickstart (1.3) is not good.

[2015-03-14 15:38] blink1073 commented on #1776
Ah, I stand corrected.  It was our handling of `cfg.source_suffix` after the fact that was the problem.  FWIW, I ended up doing this:

[code]

And then used `cfg.source_suffix_str` wherever we would have used `cfg.source_suffix`.

[2015-03-14 18:02] Themanwithoutaplan opened #1778 "Sphinx cannot build in Windows user venvs if there are spaces in the path name"
Windows user folders default to having spaces in them: `C:\Users\Mickey Mouse\` when running sphinx in a venv in a user folder this can lead to sphinx using an abbreviated, and therefore nonexistent, path and failing to build and exit with  `C:\Users\Mickey` is not a directory. How can this be resolved?

[2015-03-15 02:32] shimizukawa commented on #1778
pip and virtualenv have that problem:
- https://github.com/pypa/pip/issues/1961 (fixed)
- https://github.com/pypa/virtualenv/issues/637 (still opened)

Additionaly, current pip can't handle non-ASCII path. `sphinx-*.exe` (quickstart, build,..) that is installed into non-ASCII path don't work properly.
- https://github.com/pypa/pip/issues/1923

Unfortunately, there is no way to fix from the sphinx

[2015-03-15 02:32] #1778 closed, assigned to nobody

[2015-03-15 02:43] shimizukawa commented on #1775
Hum..., your report is already addressed at 0511ced2 (I don't confirm the behavior yet).

[2015-03-15 15:14] rumpelsepp opened #1780 "[autodoc] make text shows "class" keyword twice"
I use the text export with `make text`. The autodoc module (python domain) lists the `class` keyword twice:

[code]

[code]

[2015-03-15 15:23] #1776 closed, assigned to shimizukawa

[2015-03-15 15:35] shimizukawa commented on #1775
Confirmed, `sphinx-build` searches `docutils.conf` from source directory instead of project root directory. Please re-check the behavior on your environment. Thanks.

[2015-03-15 15:48] shimizukawa opened #1781 "Setting html_domain_indices to a list raises a new warnings with Sphinx 1.3.0"
This issue is reported at: https://groups.google.com/d/msg/sphinx-users/Ycv1u0OgxMs/LaYXMAS3Vt4J

To build the Matplotlib development documentation (here: matplotlib.org/devdocs) we use Travis-CI to automatically build the docs using Sphinx installed from pip.
In order to catch as manny of our own formatting, broken links etc issues we are treating warnings as errors. This used to work great and h

[2015-03-15 15:50] shimizukawa commented on #1781
@lehmannro do you have any idea to fix this issue?

[2015-03-16 06:39] tk0miya commented on #1775
Sorry, I'd tested on sphinx-1.2.3. It is already fixed on 1.3.
thanks!

[2015-03-16 06:39] #1775 closed, assigned to shimizukawa

[2015-03-16 07:38] lehmannro commented on #1781
I quickly skimmed the source and I'm afraid there's no way to infer this automatically.

Three options:
(a) Augment the configuration with explicit type hints.  Could default to the type of the default value and only use this when multiple types are allowed.  (Would probably change `sphinx.config` and `app.add_config_value(…, types=[list, bool])`.)
(b) Add a way to silence the warnings. Something

[2015-03-16 09:06] jenshnielsen commented on #1781
Thanks for looking into this. We noticed this in matplotlib because we use warnings as errors which helped fix a rater large number of formatting issues and broken examples. From our perspective it would be a shame to miss out on the option of doing this which would be the result of option c.

[2015-03-16 12:56] andreacassioli opened #1782 "release number in latex"
Hi,
I was trying to get rid of the release number. I set

[code]

and

[code]

This remove completely the release from the title page, but on the header of each paage I still got

[code]

i.e. there is a redundant comma still there. Ii sound to me a bug.

[2015-03-16 14:31] #1771 closed, assigned to shimizukawa

[2015-03-16 15:11] shimizukawa commented on #1781
I prefer option (a) too.
However, IMO, the significant change shouldn't include in minor updated 1.3.1 version.
So, I suggest that:
1. for 1.3.1, type check will be ignores three '*_domain_indices' by hard-coding.
2. for 1.4, we will implement option (a).

@lehmannro @jenshnielsen how do you think this?

[2015-03-16 15:30] jenshnielsen commented on #1781
Sounds like a good solution to me, Thanks

[2015-03-16 22:40] shimizukawa commented on #1781
I pushed at 085bcfa5189ea135f91efa8d88b266be12c9b587. Please check it out.

[2015-03-17 01:38] bitprophet commented on #1362
I can confirm this in 1.3b3.

Example docs `rst` file:

[code]

When `mymodule` looks like this, the `defaults` attribute appears in rendered docs:

[code]

Simply change it to this, however, and `defaults` disappears, and is not replaced by `_defaults` in the docs:

[code]

[2015-03-17 05:43] shimizukawa commented on #1781
I'm going to release 1.3.1 at Mar 17, 9 AM (UTC) :smile:

[2015-03-17 07:26] jenshnielsen commented on #1781
Thanks. This does indeed resolve the issue. With this change, #1783 and matplotlib/matplotlib#4233 we are back to a warning free and working docs build using the Sphinx stable branch.

[2015-03-17 07:35] shimizukawa commented on #1781
Thanks for confirmation!

[2015-03-17 09:10] mitya57 opened #1784 "Please provide source for JS code in sphinx/search/*.py"
In most Python files in `sphinx/seach/*.py`, there is an embedded minified JavaScript code. While it looks tiny, it is actually quite large (for example, the version in `ru.py` contains over 14000 symbols).

In distributions like Debian and Fedora, this is considered non-free code, and we can't ship it (see also previous discussions in #1434). Also, it is completely impossible to understand what i

[2015-03-17 09:13] shimizukawa commented on #1784
@shibukawa please take a look this ticket.

[2015-03-17 10:02] mitya57 opened #1785 "Useless noise in tests output"
When running Sphinx' own tests, it is hard to read the output because the content of some big files is printed there.

In [my log](https://gist.github.com/mitya57/4f6f46d1c169dde2a714/raw/2d855ad96964080bf83a865690865e50a04db001/sphinx_test_log):
- Output of `test_build_gettext.test_all` contains content of some big gettext file;
- Most of `test_intl.test_html_builder` tests contain HTML data in t

[2015-03-17 10:20] shimizukawa commented on #1785
+100
We need a solution for that.
(For now, I have no idea to improve outputs... :(

[2015-03-17 12:58] birkenfeld commented on #1785
The solution is not to run the tests with `-v`.

[2015-03-17 13:13] mitya57 commented on #1785
@birkenfeld I (with my Sphinx Debian maintainer hat on) **do** want to run tests with `-v`. I **don't** want test names to be unreadable.

Maybe it will be possible to add docstrings to the problematic tests? If there is a docstring, then it is printed to the console instead of the test name. `test_env_read_docs` is an example.

[2015-03-17 15:35] shimizukawa opened #1786 "Type checks for multiple type configuration values"
from #1781

As @lehmannro mentioned:

Augment the configuration with explicit type hints. Could default to the type of the default value and only use this when multiple types are allowed. (Would probably change sphinx.config and app.add_config_value(…, types=[list, bool]).)

This would be the significant change in the configuration system Georg predicted.

[2015-03-17 15:35] shimizukawa commented on #1781
Option (a) will be took over at #1786.

[2015-03-17 15:35] #1781 closed, assigned to nobody

[2015-03-17 18:09] birkenfeld commented on #1785
Why? If a test fails you'll get the info you need from the traceback.

A very bad feature IMO: you have no idea which test functions are actually running.

And for parametric tests, such as those Sphinx is using, you will get the same output duplicated for _every_ invocation of the parametric test.

[2015-03-17 18:33] alexjch opened #1787 "circular references when processing "TOC tree" causes failure in Sphinx v1.3"
This seems a regression (I discovered by accident)

Sphinx v1.2.3 ignores circular references (from log):

[code]

[2015-03-17 18:35] alexjch commented on #1787
The offending file is index.rst  (notice line # 15)

[code]

[2015-03-17 21:57] lehmannro commented on #1787
I must miss something here — the error and corresponding source code looks like this is related to a `figure` instead?!  Your example properly builds in Sphinx 1.3.1 (and I cannot find any traces that such an issue could've been fixed from 1.3 to 1.3.1.)

[2015-03-18 02:46] davedittrich opened #1788 "graphviz extension raises exception when caption option is present"
I have a reST document that generates the following exception when HTML is built with `sphinx-build` using either Sphinx 1.3.1b3 or 1.3.1:

[code]

I have determined that the cause is the `:caption:` that accompanies the .`.graphviz::` directive.

This causes the exception:

[code]

This works (but has no caption, obviously):

[code]

This document rendered perfectly fine (with the caption) using

[2015-03-18 02:53] shimizukawa commented on #1788
Thanks for reporting. I'll take a look.

[2015-03-18 05:22] shibukawa commented on #1784
Hi,

Natural language processing code is generated by the following tool. This was modified from the original snowball code generator:

https://github.com/shibukawa/snowball/

This tool is written in C. Original tool can generate C and Java, and my modified tool can generates Python and JSX(static altJS) code in addition to original C/Java. Generated Python scripts are in another pypi package:

ht

[2015-03-18 05:51] mitya57 commented on #1784
@shibukawa: Yes, having the non-minified JS code somewhere will be fine for us.

[2015-03-18 07:22] lehmannro commented on #1787
Indeed, it seems this is a duplicate of #1788.  Could you confirm you're using `graphviz`?

[2015-03-18 14:08] alexjch commented on #1787
Correct graphviz is in the mix

[2015-03-19 09:02] lehmannro commented on #1785
Can override `__repr__`, will prepare a patch.

[2015-03-19 16:52] embray commented on #1061
Unfortunately the fix for this issue in 3313276 broke some things for us in Astropy, because now the call to `documenter.check_module()` is used indiscriminately, whereas we _want_ to document imported objects (because we want to document objects in the top-level namespace they're imported to, and not in the submodules they are defined in, in many cases.

This should at least be optional.  I like

[2015-03-19 23:36] #1787 closed, assigned to nobody

[2015-03-20 11:46] uralbash opened #1789 "literalinclude :pyobject: adds extra line"
literalinclude `:pyobject:` adds extra line if it comment.

Example:

[code]

[code]

![_094](https://cloud.githubusercontent.com/assets/619015/6750850/7c5bee18-cf20-11e4-83d8-b0608ce31b66.png)

[2015-03-20 20:57] dfleury2 opened #1790 "literalinclude:: with only line, make an error on latexpdf export"
Hi,
if I do something like :

[code]

the latexpdf export do not work anymore, I had to put 46-47 to correct this issue.

[2015-03-21 03:04] #1788 closed, assigned to shimizukawa

[2015-03-21 04:55] davedittrich commented on #1788
Tested. Can confirm it works. Thanks!

[2015-03-21 06:06] shimizukawa commented on #1790
Hum.., I can't reproduce the "do not work" behavior. Please let me know the detail and version set which are you using. Thanks.

[2015-03-21 06:11] shimizukawa commented on #1789
Thanks for your reporting!
I reproduced this issue with 1.2.3 and 1.3.1.  I'll fix it.

[2015-03-21 06:43] shimizukawa commented on #1780
Thanks for your reporting.
I confirmed the issue on Sphinx-1.3.1. I'll fix it.

[2015-03-21 06:48] dfleury2 commented on #1790
I have made further test, and It's happen when the included line is an empty one.

I am using the version 1.4a0+

[2015-03-21 06:48] dghubble commented on #701
I wish there was a way to put a relative link in a toctree entry too! I have some plain files (they happen to be javadocs, but could be anything generated by some non-sphinx system). I place files in the build directory with `html_extra_path` and tried adding a link to them in a number of ways:

[code]

Also tried with `extlink`, but none of these attempts seem to work.

Reading through the source

[2015-03-21 07:01] shimizukawa commented on #1790
I got. Thanks.

[2015-03-21 07:57] shimizukawa commented on #1790
memo: target.tex contain such invalid section when `literalinclude` includes empty file:

[code]

[2015-03-21 16:58] waywardmonkeys opened #1792 "Can't extend one custom theme from another"
I'm trying to do something that appears to be described in some other issues (like #1347, #1335, #511).

I have a `_themes` directory with 2 things in it:  `opendylan-docs` and `sphinx_rtd_theme`.

In `opendylan-docs`, the theme.conf says that it overrides `sphinx_rtd_theme`.

`opendylan-docs` has a `layout.html` that ``{% extends "sphinx_rtd_theme/layout.html" %} but this results in an error:

[c

[2015-03-21 21:56] rumpelsepp opened #1793 ""see also" misses a linebreak in text output"
I use `make text` to render my documentation. The output of [see also](http://sphinx-doc.org/markup/para.html#directive-seealso) misses a linebreak when using lists:

source

[code]

`make text` output

[code]

`make text` should generate:

[code]

[2015-03-22 03:41] shimizukawa commented on #1792
I could.

`conf.py`:

[code]

`_themes/sphinx_rtd_theme` is copy of sphinx rtd theme.

`_themes/mytheme/theme.conf`:

[code]

`_themes/mytheme/layout.html`:

[code]

full project files is here:
https://dl.dropboxusercontent.com/u/284189/sphinx-issues/issue1792.tgz

Please let me know if it doesn't work fine.

[2015-03-22 03:49] waywardmonkeys commented on #1792
Your exmaple works ... but I was just debugging this and it was happening because `html_theme_path` is `['../../_themes']` as we have a lot of documents sharing a single theme.

That path value isn't converted to an absolute path in the `Theme` constructor ... and then it is put into the `themepath` as is ... and that results in the `BuiltinTemplateLoader` seeing in the `init` method:

[code]

And

[2015-03-22 03:50] waywardmonkeys commented on #1792
If I make my `html_theme_path` into an absolute path, then things work fine ... but the `conf.py` template says it can / should be relative.

[2015-03-22 04:23] waywardmonkeys commented on #1792
For now, I'm working around this by just setting my `html_theme_path` to `[os.path.join(os.path.dirname(__file__), '../../_themes')]`.

[2015-03-22 06:22] shimizukawa commented on #1792
Thanks for the details.

`[os.path.abspath('../../_themes')]` is also fine.

conf.py saied:

[code]

It means, "If you specified relative path, ..." then absolute path you specified is not wrong.
However, the relative path `'../../_themes'` should be fine as `conf.py` mentioned.
I guess it's a sphinx bug.

[2015-03-22 06:29] shimizukawa opened #1794 "custom theme extended from alabaster or sphinx_rtd_theme can't find base theme."
Sphinx 1.3 include theme paths for 'alabaster' and 'sphinx_rtd_theme' automatically if `html_theme` is specified them.
However, if user custom theme extends from them, the path isn't included automatically.

IMO, a custom theme has `inherit = alabaster` or `inherit = sphinx_rtd_theme`, the base theme path should be included automatically.

[2015-03-22 06:41] shimizukawa commented on #1784
I received the non-minified JS files from @shibukawa. I'll take over this issue.

Just memo: amount of non-minified 16 language JS files is 1.2MB (as tgz: 128KB).

[2015-03-22 06:48] shimizukawa commented on #1725
I got the issue of @ronanpaixao case. However, I guess the case is different with the @ijmorlan case.

@ijmorlan if you have detail information as @ronanpaixao filed, please let me know.
For now, I'll fix the @ronanpaixao case.

[2015-03-22 06:56] shimizukawa commented on #1793
Thanks for your reporting!
I confirmed, I'll fix it.

[2015-03-22 07:00] mitya57 commented on #1784
I will be also fine with having a script to generate them in the tarball, even if the script will be using some external software &mdash; as an alternative to shipping non-minified files.

[2015-03-22 12:22] shimizukawa opened #1796 "On py3, automated .mo building cause UnicodeDecodeError"
Usually, `.po` file is written by 'utf-8'. But `open` built-in function on py3 open target file with system default encoding instead of 'utf-8'.

[code]

Sphinx should respect to `"Content-Type: text/plain; charset=UTF-8\n"` line in .po file.

[2015-03-22 12:33] rumpelsepp opened #1797 "text output inserts blank line on top"
I am not sure whether this is intended behaviour, but _personally_ I think it's a bit odd. `make text` inserts a blank line on top.

[code]

I think this would be better:

[code]

[2015-03-22 12:36] shimizukawa commented on #1797
Fair enough. I'll change the behavior at sphinx-1.4.

[2015-03-22 23:50] shimizukawa commented on #1788
You're welcome :smile:

[2015-03-23 00:09] benjaminp opened #1798 "reference in title causes LaTeX build failure"
I just tried building CPython's docs with Sphinx 1.3.1. Attempting to build PDFs (e.g. running `make dist` in `Doc/`) fails with the error

[code]

The reST that seems to be causing problems is this

[code]

This works fine with Sphinx 1.2.3, though, which seems to simply demote the reference to an `\emph{}` tag.

[2015-03-23 00:40] ilewismsl opened #1799 "Import error in sphinx - jinja2glue"
Sphinx reports and error importing SandboxedEnvironment from jinja2.

Believe this failure may be related to trying to use rst2pdf to generate PDF files. However, error occurs no matter what builder I use. Problems started after placing rst2pdf builder and configuration into conf.py. Got better when I removed the rst2pdf configuration. But, also was better when I put that configuration back.

See

[2015-03-23 00:41] ilewismsl commented on #1799
Meant to say it is fine with me if you just close this report as a configuration problem. Really only reported because of recommendation to do so from Sphinx.

[2015-03-23 00:55] ilewismsl commented on #1799
Definitely somehow related to rst2pdf configuration. If I remove the rst2pdf configuration, the html build always works. If I then put the rst2pdf configuration back, the html build still works (at least most of the time). If I then build the pdf using rst2pdf, the rst2pdf build may work or it may fail.

After that, all builds fail with various import errors from different pieces of code.

Do not

[2015-03-23 01:08] FranklinYu commented on #1681
Would package `tabu` be [obsolete](http://tex.stackexchange.com/q/121841/25432) since the author is going to change the user commands?

[2015-03-23 09:45] callegar commented on #1681
Yes, `tabu` is going to be superseded, but no one really knows when. The author said in June 2013 that the new package was due to be out by the end of the Summer, but it is not there.
In the meantime:
- One can expect that when the new package comes out it will take a new name, while the old package will remain around with the old name, as it is in the CTAN tradition.
- The current `tabu` package

[2015-03-23 10:15] callegar commented on #1681
`ltablex` may be an alternative too.

[2015-03-23 15:01] FranklinYu commented on #1681
- Everyone would expect the new package come with a new name, but I don't think we should rely on it since the author did not prove this.
- Indeed `tabu` is mostly `tabular`, but changes in the extra commands may change the implementation structure, and the author needs additional (possibly significant) time to fix it.
- `ltablex` is a good alternative, I believe.

[2015-03-24 09:17] timothydmorton opened #1803 "API links stopped working; maybe after SEVERE warning?"
I'm trying to build the documentation for [this project](http://github.com/timothydmorton/vespa), and the strangest thing is happening.  Everything was working fine, until all of a sudden, the internal API links stopped working.

Sometime in my editing I remember having duplicated a label somewhere, which resulted in a SEVERE reprimand... I think that may have been when the links stopped working,

[2015-03-24 09:28] timothydmorton commented on #1803
update:  some of the links deep within the docs do appear to be working, but most others still not...

[2015-03-24 09:38] timothydmorton commented on #1803
`vespa.orbits` and `vespa.transit_basic` are the only two submodules for which the API links are working...

[2015-03-24 17:57] ekeating opened #1805 "latex build cannot resolve internal references"
I can 'build html' without any problems, but when I 'build latex'
I get quite a few errors like this one:

LaTeX Warning: Hyper reference `user_interface:leakratefile' on page 7 undefine
d on input line 221.

[2015-03-25 14:29] Felix-neko opened #1806 "Cannot I disable constant expansion in default argument values?"
I have some functions like

[code]

I run `sphinx-apidoc` to generate documentation on them and them `make html` to get final HTML data.

Alas, Sphinx expands the constants and gives me something like

[code]

Cannot I somehow disable the default values expansion in docstrings? Could I add something to `conf.py`?

[2015-03-25 14:32] gashiforce opened #1807 "Japanese indexing with libmecab crashes in some 64bit systems"
The Python crashes if libmecab.mecab_new2 returns the pointer allocated to more than 32 bit address, because the return value type is not specified. By the default C functions are assumed to return the C integer value, so the 64 bit pointer is masked to the 32 bit integer. There is a need to be modified to specify the type of C.

[code]
#### My environments
- Mac OS X 10.9
- Python 3.4.3 (distribu

[2015-03-25 14:48] Felix-neko commented on #1806
P.S. Also, even if I write

[code]

Sphinx gives me
    f(x,  propagation_speed=300000000.0)

It's extremely annoying to count the number of zeros.
^__^

[2015-03-25 19:39] martin-ueding opened #1810 "Files from _static are not copied automatically"
I have a bunch of files in `_static` and in `_themes/mu/static` that do not get copied when I compile:

[code]

In my project, I generate a `.css` file from a `.sass` file with a makefile and then call the above. The new `.css` file from the `_themes/mu/static` is not copied. When I do a clean build, everything is copied, but the change detection that Sphinx Doc uses seems to be insufficient.

[2015-03-25 21:09] martin-ueding opened #1811 "Translated strings are wrapped into extra paragraph tag"
My personal website ist mostly written in English and then translated into German using the translation facilities provided with Sphinx Doc. The output is not the same in all cases, since the German version sometimes has superfluous `<p>` tags in `<li>` or `<td>` which change the look of the page.

Take this table in the [English](http://martin-ueding.de/en/programming/include_vs_function/index.ht

[2015-03-25 21:28] ericdand opened #1812 "Need better error message for "IOError: No such file or directory" in environment.py:1272"
Hey, I was reconfiguring my project and copied an old conf.py over my new one and an exception occurred:

[code]

It's certainly my own fault, but the message said "Please also report this if it was a user error," so here I am reporting it. :)

Here's the full output of `/tmp/sphinx-err-Zf3N85.log`:

[code]

[2015-03-26 15:42] uralbash opened #1813 "LaTeX image/figure with :align: center not scale"
See example with `:align: center`:

[code]

![_100](https://cloud.githubusercontent.com/assets/619015/6850012/4978249e-d3f8-11e4-96e4-ec36f9443151.png)

And with `:align: left`^:

[code]

![_101](https://cloud.githubusercontent.com/assets/619015/6850058/9489ea1c-d3f8-11e4-9d32-01da56049f2e.png)

[2015-03-26 19:26] MalloZup opened #1814 "OSError: [Errno 2] No such file or directory: '../examples/specific/class/xml/index.xml'"
Hi All,

Ubuntu 14:04

[code]

Best regards

[2015-03-26 20:01] electrofelix opened #1815 "linkcheck does not raise an exception if warniserror set to true and link is broken"
linkcheck tests 'self.app.quiet' to determine whether to call self.warn() or not, however sphinx uses warniserror in self.warn to determine whether to raise exceptions or not when warnings are triggered.

This means that warniserror can never be triggered by a broken link in the linkchecker builder and makes it impossible to have a script look for a non-zero exit code if any links are broken.

[2015-03-28 13:39] uralbash opened #1818 "sphinx.ext.todo extension generates an incorrect CSS class for language='ru'"
I added the extension `sphinx.ext.todo` and got the following HTML code:

[code]

[code]

I think that should be so admonition-**todo**, probably it is bug.
I have reproduced it on sphinx-doc version `1.3.1` and `1.2.3`

This bug occurs when I set options `language='ru'` in conf.py

[2015-03-29 00:27] F30 commented on #618
I'm not convinced that the merged fix is an entirely good idea: Manually adding all default documenters in `sphinx.ext.autosummary` eliminates the ability to customize documenters when autosummary is used.

Previously, you could e.g. subclass documenters from another extension and overwrite the default ones in the extension's `setup()`. An actual example for such a problem is saltstack/salt#22123.

[2015-03-30 15:49] mikanbako opened #1820 "Characters of ANSI escape sequences are displayed while sphinx-quickstart"
On prompt, ANSI escape sequences are not converted color and their characters are displayed on terminal.

For example, the following is first prompt of sphnx-quickstart. "> Root path for the documentation [.]:" should be purple. But "[35m" and "[39;49;00m" of ANSI escape sequences are displayed by this issue.

[code]

I can reproduce this issue by Sphinx 1.3.1 on the following environment.
- Pytho

[2015-03-31 02:35] #1789 closed, assigned to tk0miya

[2015-03-31 02:35] #1790 closed, assigned to tk0miya

[2015-03-31 06:39] sc68cal opened #1821 "Sphinx crashes - IndexError: pop from empty list"
When using Sphinx v1.1.3 with Python 2.7.6 on OS X 10.10.2 (14C1510) - I get the following stack trace:

https://gist.github.com/sc68cal/ca6e134cf050ab2e3aec

The gist includes the RST file that is causing the issue. It appears to revolve around the paragraph

[code]

https://gist.github.com/sc68cal/ca6e134cf050ab2e3aec#using-code

[2015-03-31 06:40] sc68cal commented on #1821
Gistfile 2 - https://gist.github.com/sc68cal/ca6e134cf050ab2e3aec#file-gistfile2-txt has a pdb session

[2015-03-31 06:47] sc68cal commented on #1821
This appears to be an issue over in docutils

[2015-03-31 07:02] shimizukawa commented on #1821
#1214 is same issue and it is fixed at Sphinx-1.2. Please try Sphinx-1.2 or later version.

[2015-03-31 07:09] sc68cal commented on #1821
@shimizukawa Thanks for the info. Unfortunately our tooling has Sphinx pinned at v.1.1.3 due to other dependencies and a switch to Sphinx-1.2 would require code changes to PBR.

[2015-03-31 07:16] shimizukawa commented on #1821
#998 is also related. 'docutils-0.10 api change' is the cause I think.
If you need to use pinned Sphinx-1.1.3 version, docutils-0.9.1 might avoid this trouble.

[2015-03-31 08:47] andreacassioli commented on #1210
Hi,
after the release of Sphinx 1.3 I think that a very nice way to solve this issue is to use for the equations the same machinery of :numref: The role :eq: could be just an alias for :numref: and this will ensure back compatibility. Would it be a good solutions?

[2015-03-31 11:27] andreacassioli commented on #1701
It seems to work now.

[2015-03-31 11:27] #1701 closed, assigned to nobody

[2015-03-31 18:32] blaisep commented on #194
Actually, I am also interested in _make pdf_ because we have reviewers who prefer to look at a facsimile of the whole document.
I have tried the rst2pdf extension [http://rst2pdf.ralsina.me/stories/index.html] but when I update the Makefile like this:

[code]

 I get these errors and the PDF file is empty:

[code]

[2015-03-31 18:33] jschueller opened #1822 "toctree content regression in sphinx 1.3b3"
we're no longer able to build openturns sphinx documentation since 1.3b3:

[code]

using git-bisect I found the regression to be at 21b8384 (for PR #1663):
could it be that this commit somehow stripped a class from toctree ?

[2015-03-31 20:09] BerlinNurse opened #1823 "[apidoc] '.' as <module_path> cause an error"
I am using Sphinx v1.3.1 (for Python3, insalled with pip3) on an Lubuntu 14.04.2 using Python 3.4.

I run sphinx-apidoc directly in the root of my source directory. So I really don't need to specifiy a <modul_path>. I just say '.' to let apidoc know that the current workind dir is the <modul_path>.

The call with the error looks like this

[code]

I checked with debug code that "label" is empty an

[2015-03-31 20:28] BerlinNurse opened #1824 "sphinx should take care of the difference between Python2 and Python3"
I had variouse problems because of the difference between Python2 and Python3.
This means
- there is a Sphinx version for Python2 and 3.
- and Sphinx read itself Python2 and/or Python3 code

The point is that the Py2-Sphinx is not able to handle Python3 code of course.
But it is really easy to find out if the given code is 2 or 3.
Py2-Sphinx should just check for that and give an error message or

[2015-04-01 07:16] sc68cal commented on #1821
Pinning docutils to the suggested version fixes

[2015-04-01 07:16] #1821 closed, assigned to nobody

[2015-04-01 07:17] petsuter opened #1825 "All admonitions are red"
Generic admonitions used to look just like normal text. Now they are all red.

This also affects plugins that derives custom items from admonitions.

[2015-04-01 07:30] shimizukawa commented on #1821
Thanks!

[2015-04-01 13:31] andreacassioli commented on #1813
Hi,
it works if you use :scale:

[2015-04-01 13:52] uralbash commented on #1813
@andreacassioli Thanx, I solved this problem by replacing the `px` on `pt`. This also works.

[2015-04-01 14:32] andreacassioli commented on #1813
Great, then please close the issue.

[2015-04-01 14:40] #1813 closed, assigned to nobody

[2015-04-01 20:00] TaylorSMarks opened #1827 "Go to Page Directly for Exact Search Match?"
(Note: I originally proposed this for the Python Website, but had the issue closed because evidently the Python website's documentation is done with Sphinx. See the original issue there:
https://github.com/python/pythondotorg/issues/724 )

Example, when I search for "re", it would be nice if, rather than taking me to the search results as it currently does, if it would take me directly to the page

[2015-04-02 03:27] caleb-partsgiant commented on #642
:+1: Specifying the tab-width would be a nice feature to have.

[2015-04-02 03:51] christianbrodbeck commented on #1822
I think I might be having the same problem. Classes that are defined in `package/_module.py` (e.g. class `package._module.MyClass`, imported in `package.__init__.py` and listed in the doc like

[code]

just disappeared form the documentation. Commenting lines 273 and 274 in `sphinx/ext/autosummary/__init__.py` that were added in https://github.com/sphinx-doc/sphinx/commit/21b838454f4bb5b6a246b85cb

[2015-04-02 07:17] jschueller commented on #1822
@lsaffre, maybe you could tell us more about this commit ? I hope removing the two lines added from sphinx/ext/autosummary/**init**.py in 21b8384 like @christianbrodbeck mentioned does not introduce more regressions towards #1061 and #1656.
maybe the comment of @embray in https://github.com/sphinx-doc/sphinx/issues/1061 is useful

[2015-04-02 10:07] lsaffre commented on #1822
Looking from the source code (didn't test) I'd say that these two lines were for #1061 while the other changes were for #1656, and it was just an administrative mistake to solve two tickets with one changeset.

[2015-04-02 10:25] jschueller commented on #1061
from what I understood, this change was a backward-incompatible commit preventing imported modules to be included in the toctree.

[2015-04-02 10:32] jschueller commented on #1822
from what I understood this was a backward-incompatible change to strip imported modules.

[2015-04-02 11:44] lsaffre commented on #1822
Ha, I finally found my blog entry which describes the problem that was solved by these two lines:
http://luc.lino-framework.org/blog/2014/1219.html
(Summary: my code imports a class from a third-party package, and this class has a docstring which contains invalid reStructuredText markup. This broke my build since I want it to build without warnings. I want autosummary to document all my classes, b

[2015-04-02 12:18] jschueller commented on #1822
ok, thanks for the explanation, unfortunately your changes broke several documentations. what about @shimizukawa suggestion to have a keyword imported, and the stack overflow patch mentioned in #1061 ?

[2015-04-02 12:30] lsaffre commented on #1822
Yes, that would be perfect! TIA for implementing it, and I'll do my best to help.

[2015-04-03 16:33] arunpersaud opened #1829 "unicodeerror in test using python3"
Trying to package Sphinx using python3 on the openSUSE build server and I get unicode errors since the last two versions (1.3 and 1.3.1). Earlier version worked fine.

Here is a copy from the build log. The full log can be seen here:

https://build.opensuse.org/package/show/home:apersaud:branches:devel:languages:python3/python3-Sphinx

HTH

Arun

build log:

[code]

[2015-04-03 22:45] Felix-neko commented on #1806
P.P.S. If you're importing the modules, it's possible to get their path by `__file__` attribute and them parse them as text files. So it's possible, for example, to pass the full **text** of function or method signature to `autodoc-process-signature`.

[2015-04-04 00:54] RobRuana opened #1831 "Napoleon: Return type containing colons is not handled properly for NumPy-style docstrings"
Originally reported on the [sphinxcontrib repo](https://bitbucket.org/birkenfeld/sphinx-contrib/issue/82/napoleon-return-type-containing-colons-is)

Using a return type containing colons isn't being handled correctly.

This is often the case when using interpreted text roles to specify, for instance, a custom return type.

More specifically, the colon is interpreted as a field separator, causing S

[2015-04-05 02:49] shimizukawa commented on #1794
Now sphinx theme loader loads alabaster and sphinx_rtd_theme automatically if a theme is inherited from them.This ticket can be closed.

However, alabaster and sphinx_rtd_theme doesn't have theme name directory.
Consequence of it, layout.html of custom derived theme can't extend from them because `{%- extends "alabaster/layout.html" %}` is not valid and `{%- extends "!layout.html" %}` cause infini

[2015-04-05 02:49] #1794 closed, assigned to shimizukawa

[2015-04-05 05:46] ttoyama opened #1832 "make html error with math:: including > and tag"
"make html" for following code results in error. When excluding either `>` or `\tag{$11.1$}`, it works well.

[code]

[2015-04-05 06:32] shimizukawa commented on #1794
I was wrong.
Now sphinx supports theme that inherit from non-builtin themes.

[2015-04-05 08:54] ttoyama commented on #1832
It is solved using `\gt` insted of `>`.

[2015-04-05 08:54] #1832 closed, assigned to nobody

[2015-04-05 09:10] shimizukawa opened #1834 "docutils compatibility: should remove handle_io_errors kwargs for docutils.io.FileInput"
This is originally reported on sphinx-users ML https://groups.google.com/d/msg/sphinx-users/MrMJWLiVvu4/yF-hZSh4NOsJ

docutils-0.10 make `handle_io_errors` keyword argument deprecated for `docutils.io.FileInput` constructor: http://docutils.sourceforge.net/RELEASE-NOTES.html#release-0-10-2012-12-16

docutils-0.13 will remove the keyword argument.
Sphinx-1.3 already requires docutils-0.11 or later.

[2015-04-05 09:58] shimizukawa commented on #1823
For now, sphinx-apidoc expects letters as a module_path instead of `.`
However error traceback you reported is not difficult to understand.
I'll fix this behavior.

FYI. sphinx-apidoc `-H` option also avoid this problem.

[2015-04-05 10:24] shimizukawa commented on #1823
Now '.' is converted to absolute path automatically.

[2015-04-05 10:24] #1823 closed, assigned to shimizukawa

[2015-04-05 10:24] #1834 closed, assigned to shimizukawa

[2015-04-05 10:49] shimizukawa commented on #1814
I guess the issue is caused from breathe extension or haka extension.
Please report it to extension owner.
- breathe: https://github.com/michaeljones/breathe
- haka: https://github.com/haka-security/haka

[2015-04-05 10:49] #1814 closed, assigned to nobody

[2015-04-05 11:03] shimizukawa commented on #1812
Agreed. "better error message" is needed.

[2015-04-05 16:04] miroi commented on #825
Enabling some md-files within Sphinx documentation would be great. My support for this feature !

[2015-04-06 09:34] bialix opened #1835 "Sphinx 1.3.1 produce bare html without any nice visual style"
I have documentation to my small intelhex project in sphinx format.
I want to build new version of documentation to new release.
I've pip-installed latest Sphinx, and got 1.3.1 + 11 more packages (on Python 3.3).
But after running `make html` in the docs directory I've got just bare html without any nice visual style.
My last attempt to build doc was in 2013 year though, I admit I may miss somethi

[2015-04-06 13:51] shimizukawa commented on #1835
I guess it is "alabaster" theme instead of "bare html".
Since Sphinx-1.3, when user doesn't specify `html_theme`, "alabaster" theme is used as a default theme.

https://github.com/bialix/intelhex/blob/master/docs/manual/conf.py doesn't specify `html_theme`.
If you want to keep previous theme (like 1.0.7), you can specify it in conf.py as:

[code]

Please try it.

[2015-04-06 16:59] bialix commented on #1835
I think I found the problem. My conf.py for documentation was created very long time ago, I don't remember exact sphinx version, but I'm sure it was pre 1.0. I see option in the conf.py

 The style sheet to use for HTML and HTML Help pages. A file of that name
 must exist either in Sphinx' static/ path, or in one of the custom paths
 given in html_static_path.
html_style = 'default.css'

In the ge

[2015-04-07 13:47] xmo-odoo opened #1836 "Intersphinx support in toctrees"
Currently, toctree links can be either internal documents or arbitrary external URLs.

For Sphinx projects which serve as hub of sorts, or to cross-TOC between related projects, it'd be nice if it were possible for toctree to use intersphinx when references are not found locally (and are not URLs)

[2015-04-07 20:24] jakirkham opened #1837 "Napoleon and Todo (meeting in the middle)"
It is really great to have napoleon. Also, I find it useful to add todos in my docstrings. Somehow I am unable to get the two to work together. I have tried using `.. todo::` in my Google style docstrings, but have the feeling that this isn't permitted and it isn't exactly desirable. However, `Todo` isn't supported under napoleon. Here are my two questions?
1. What could I do to get napoleon and t

[2015-04-07 20:38] RobRuana commented on #1837
Using `.. todo::` just like that is 100% permitted. You can use mix Google style and standard reStructuredText without problem.

In fact, I'd argue that the `.. todo::` style is actually beneficial, because it helps the Todo item stand out when you are skimming the source code.

I'll leave this issue open for awhile, and if there's enough interest, I'll add support for the directives from the [sph

[2015-04-07 21:39] jakirkham commented on #1837
That's a good point. I suppose it persuades one to complete them so as not to look at them any more. :)

I guess I really like what you did with making docstrings more readable and was hoping now that it is integrated in main we could leverage some more interoperability between included extensions.

Certainly, let's see what other people say.

[2015-04-08 14:12] andreacassioli opened #1838 "No label/number for some tables"
Hi,
I have noticed that, at least using the html writer, if a table as no caption it not even a label. For instance, say that we have in chapter 6 a table as

[code]

Then if I say  :numref:`my-table` the link is Table 6.1, fine, but the table has no label `Table 6.1`, as it should be.

[2015-04-08 14:16] andreacassioli opened #1839 "parsed index entries"
I was wondering whether we could allow index entries to be parsed for substitutions (or even math).

For instance: I'd like to make an entry like

[code]

or even

[code]

[2015-04-08 18:28] lsaffre opened #1840 "Napoleon causes error when docstring contains e.g. "Example::""
After activating Napoleon, docstrings like the following failed with "ERROR: Unexpected indentation.":

[code]

Workaround was to replace "Example::" by e.g. "Usage example::" so that Napoleon no longer tries to convert it. Not very severe, but the double colon should IMHO indicate that this particular docstring was not meant for Napoleon.

[2015-04-08 22:18] evieluvsrainbows commented on #1835
@bialix Uh, just a suggestion, but why don't you upgrade to Python 3.4? It's a lot better than 3.3, and fixes a lot of bugs & things.

[2015-04-09 03:19] breedlun opened #1841 "Feature Request: copy parameter descriptions"
It would be very nice to be able to do copy parameter descriptions, as discussed in [this stackoverflow post](http://stackoverflow.com/questions/8320909/repeated-parameters-with-python-sphinx).

Here is the original post:

Suppose I have a function `foo(a,b)` and `bar(a,c)`, such that the parameter `a` has the same description for both functions.

Is it possible to document a just once (in `foo`,

[2015-04-09 03:42] termim commented on #1829
BTW there is no errors for python2: https://build.opensuse.org/package/show/home:termim:branches:devel:languages:python/python-Sphinx

[2015-04-09 05:51] lehmannro commented on #1841
While I'm not exactly opposed to the feature request (patches welcome!) I'm not sure if it's really useful.

I assume one of the functions is the reference function and the others are just convenience wrappers or some such.  If the API of the reference function changes (adding/removing parameters) and you write functions the way you do, you will have to _touch_ the convenience function _anyways._

[2015-04-09 07:57] bialix commented on #1835
@KamranMackey: well, 3.3 is just work and is currently used in my working project.
But, just FYI
C:\Python>dir /b
2.3
2.4
2.5
2.6-32
2.6-64
2.7-32
2.7-64
3.2-32
3.2-64
3.3-32
3.3-64
3.4-32
3.4-64
3.5-32
3.5-64

[2015-04-09 09:33] andreacassioli opened #1842 "wrong section numbering using ifconfig"
I would like to include some section conditionally. I did as follow

[code]

But the output is
1. test
2. section 1
3. ssection 2

with the right layout but not the right numbering.

[2015-04-09 13:33] andreacassioli commented on #1836
That would be nice. I agree.

[2015-04-09 18:22] evieluvsrainbows commented on #1835
Why the heck do you have so many Python installations? You don't need THAT
many.
On Apr 9, 2015 1:57 AM, "bialix" notifications@github.com wrote:

[2015-04-09 22:11] embray commented on #1155
Any idea what the test case for this was?  I'm trying to fix a related bug, but I want to make sure it doesn't cause a regression on this issue.  However, the old bitbucket site is disabled so I can't get at it.

[2015-04-09 22:34] embray commented on #1155
Nevermind, I think I understand the reason for this.  That's pretty obscure though.

[2015-04-10 03:05] breedlun commented on #1841
Thanks for the thoughtful reply.

Yes, I am passing `**kwargs` through a convenience function to one or more reference functions.  I considered adding a verse like "See foo for additional keyword arguments", but when you have more than one reference function this gets annoying for the user.  It's much more convenient for the user if all the keyword arguments to a function are listed directly under

[2015-04-10 06:28] mitya57 commented on #1784
@shimizukawa Any progress on this issue? This is currently blocking Sphinx 1.3 from being uploaded to Debian (and as I have already said, there are multiple ways to make us happy).

[2015-04-10 06:37] shimizukawa commented on #1784
@mitya57 Sorry, I kept you waiting. Now I occupied my day job... Maybe I can make a time at end of this April.

[2015-04-10 06:41] mitya57 commented on #1784
@shimizukawa No problem. Can you please send me the &ldquo;non-minified JS files that you received from @shibukawa&rdquo; mentioned above, for the time being? (You can find my email in Sphinx commits log).

[2015-04-10 06:47] shimizukawa commented on #1784
@mitya57 this is. https://dl.dropboxusercontent.com/u/284189/sphinx-issue-1784-snowballstemmer-raw-js-files.zip

[2015-04-10 06:52] mitya57 commented on #1784
Thanks!

[2015-04-12 02:37] hobson commented on #1500
I have the same problem with a [namespace package](github.com/hobson/pug/) and its [subpackages](http://github.com/hobson/pug-ann)

[2015-04-13 06:56] stefanzweig commented on #1486
I have this issue for a very long time. From the javascript behind the search it searches the index made by sphinx itself. If there is no entries in the index the search return no results.

I come here from google search this symptom. :) I am seeking a solution, too.

[2015-04-13 14:19] enchantner opened #1844 "Broken support of rst2pdf"
After updating on Sphinx 1.3 a huge traceback now appears in logs of 'make pdf'. Build is labeled as succeed, though, but looks like there is some bug.

[code]

[2015-04-14 05:44] lseek opened #1845 "Circular dependency causes dependency checking tools to fail"
`sphinx` specifies `sphinx_rtd_theme` as a dependency in `tests-reqs.txt` but `sphinx_rtd_theme` specifies `sphinx>=1.1` as a dependency, thus leading to a circular dependency which causes a dependency checking tool (currently using `pip-compile`) to flag an error.

[2015-04-14 06:15] birkenfeld commented on #1845
Hmm, since these are not "needs to build" dependencies but "needs to run" dependencies, I don't see why the circular dependency is so bad. ("install_requires", despite the slightly misleading name, means "needs to be installed together with this one". The build-time dependency would be "setup_requires".) So please take this up with the `pip-compile` authors.

If that is considered inacceptable, I

[2015-04-14 07:13] bialix opened #1846 "LaTeX Error: Too deeply nested. (although pdf was built)"
Trying to publish docs to my intelhex project on readthedocs.org. Pdf builds always failed although somehow pdf is available.

Here is what readthedocs build failed page says:
https://readthedocs.org/builds/python-intelhex/2568305/

My docs sources are here: https://github.com/bialix/intelhex/tree/master/docs/manual

Here is pdf: https://media.readthedocs.org/pdf/python-intelhex/latest/python-inte

[2015-04-14 20:40] AWinterman opened #1847 "Should sphinx productionlists require a colon before the next line of a rule?"
for example:

[code]

JSON will render as:

[code]

because of https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/std.py#L412-L419.

I think it should still render the whole block.

Also why is this logic in the domain.std? isn't it more generic than just the standard domain? Aren't grammars fairly domain agnostic?

[2015-04-14 21:40] debugger22 opened #1848 "Sphinx seems to have stopped highlighting inline code"
Sphinx seems to have stopped highlighting inline code with a background color. See following for instance.

SymPy docs built with Sphinx 1.1.3: http://docs.sympy.org/latest/gotchas.html#single-equals-sign
SymPy docs built with Sphinx 1.3.1: http://sympy-docs.s3-website-us-west-2.amazonaws.com/open-sans/gotchas.html#single-equals-sign

Or am I doing something wrong?

[2015-04-15 00:31] debugger22 commented on #814
@shimizukawa I still get this error on Travis CI with sphinx 1.3.1.
https://travis-ci.org/sympy/sympy/jobs/58501309

It works fine locally.

[2015-04-15 00:37] shimizukawa commented on #814
@birkenfeld please take a look this

[2015-04-15 00:53] jquast commented on #1711
Following the given monkey patch with:

[code]

works for functions and methods decorated by @contextlib.contextmanager

[2015-04-15 05:16] breedlun commented on #1841
Hmmm.  It looks like substitutions would work for me, but I can only get them to work with normal sphinx.  I am using numpydoc with my project, and it seems to just ignore substitutions.  Is there a special trick to this, or should I submit an issue on numpydoc's github page?

[2015-04-15 18:30] vkruoso commented on #1831
A similar problems seems to be happening with Google Style docstrings too. Consider the following examples:

[code]

I'm running Sphinx 1.3b2. Am I doing something wrong?

[2015-04-15 19:39] vkruoso opened #1849 "Napoleon: **kwargs argument"
I'm having problems rendering the docs for a docstring like the one below.

[code]

If you render this as is, the final result is a code snippet, with the sample code and everything below it inside the snippet - with exception of the "Arguments" and the "kwargs" lines.

If you remove the "**" from the kwargs argument, the argument is rendered correctly after the code sample. I'm not sure it this h

[2015-04-16 10:49] andreacassioli opened #1851 "code-block default language"
Hi,
it would be useful and smart to let the language in code-block to be the global one by default. For instance if I write

[code]

I would expect the code block highlighting to be in c. Does it make sense?

[2015-04-17 17:10] nmadhok opened #1852 "Sphinx make failing because of a syntax error present in file"
Sphinx make failing:

[code]

Full traceback:

[code]

[2015-04-17 17:14] #1852 closed, assigned to nobody

[2015-04-17 18:56] timseries commented on #1831
I had the same problem (with Google style return types). Works on 1.3b2, breaks on 1.3b3 and up.

[2015-04-17 19:16] RobRuana commented on #1831
Looks like this was fixed for NumPy style, but not Google style

[2015-04-17 23:40] martinpengellyphillips commented on #759
+1

[2015-04-18 06:46] shimizukawa opened #1853 "custom text splitter"
Sphinx has `TinySegmenter` and `MecabBinder` for text splitter by default and current implementation bind them strongly. Consequence of it, user can't add custom splitter for 'ja' indexer.

It would be nice if user can use custom text splitter for 'ja' search indexer.

P.S. I propose MecabBinder would be decouple and move to sphinx-contrib package.

[2015-04-18 08:58] shimizukawa opened #1855 "make gettext generates broken po file for definition lists with classifier"
[definitoin lists](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#definition-lists)

[code]

`make gettext` generates `msgid: "term 4 : classifier one : classifier two"` entry. When user translate it as "TERM 4 : CLASSIFIER ONE : CLASSIFIER TWO",  sphinx with using translation catalog generates html as `TERM 4 : CLASSIFIER ONE : CLASSIFIER TWO : classifier one : classifier two`

[2015-04-21 14:31] Jellby opened #1856 "LaTeX writer adds unwanted emphasis (italics)"
The LaTeX writer wraps all internal references in \emph{}, which may be liked by some people, but that's not the place to set that, and especially not hardcoded.

[2015-04-21 14:35] Jellby opened #1857 "LaTeX: no pagerefs for citations"
With latex_show_pagerefs=True, the LaTeX writer adds page references to internal links, except to glossary links. I think it shouldn't add them to citations.

[2015-04-21 19:45] Felix-neko opened #1859 "Autodoc: where does it parse python modules?"
I want to make a small patch to disable automatic expansion of default values in method signatures.

But it's rather difficult to find, in what class or function of Sphinx does it eat the path to a Python module and then creates its docutils' document. Cannot you tell me?

[2015-04-22 08:37] ghost opened #1860 "Man page using :samp: with braces - font doesn't reset"
There are issues with the man page rendering when using :samp:`{blah}`
The font change doesn't reset after the closure of the samp but runs onto subsequent lines until certain 'resetting' elements are encountered, such as a bullet, heading and probably others I haven't tested for.
:samp:`like this` is ok. HTML and Latex (pdf) formats are also unaffected by this issue.

MWE included with screen sho

[2015-04-22 12:03] jmcnamara commented on #1723
+1

[2015-04-22 14:46] jakirkham opened #1861 "Allow option in `setup.cfg` to run `sphinx-apidoc` first"
If there is a way to do this and I missed it, I would really appreciate a pointer in the right direction. If not, I think it would be really nice to have a way to specify in `setup.cfg` or otherwise an optional run of `sphinx-apidoc` with arguments before running `sphinx-build`.

[2015-04-22 16:19] jakirkham commented on #1845
This appears to be suboptimal for building with `conda build`. When trying to build a newer version of `sphinx`, `conda` will try to fill the dependency by installing an older version of `sphinx` to satisfy `sphinx_rtd_theme`. The unfortunate consequence appears to be the final built `sphinx` package cannot be imported. Trying to make `sphinx_rtd_theme` a run requirement and not a build requiremen

[2015-04-22 17:55] cekees commented on #825
+1. Since #1747 is now merged, at least a limited capability seems within easy reach. Are there any examples yet or ways some of us can help?

[2015-04-22 18:30] birkenfeld commented on #1845
Well, what do the conda people say about this?

[2015-04-22 20:51] jakirkham commented on #1845
Fair question, asked in this issue ( https://github.com/conda/conda-build/issues/381 ). I tried a different manner of building here ( https://github.com/conda/conda-build/issues/380 ), which has a different result. So, I can't conclusive say what the cause was, but I am a little worried about how these dependencies are setup.

[2015-04-22 20:57] jakirkham commented on #1845
Also, @birkenfeld, I have followed up on your previous point by opening an issue with [`sphinx_rtd_theme`](https://github.com/snide/sphinx_rtd_theme) as seen here ( https://github.com/snide/sphinx_rtd_theme/issues/189 ).

[2015-04-23 06:21] birkenfeld commented on #1845
Thanks!

[2015-04-23 07:26] bialix opened #1863 "`make singlehtml` theme=basic: does not have table of contents"
There is no table of contents in singlehtml if I select basic theme. I need simple html file with no side bar but with table of contents at the begining of the document.

I've tried to use reST directive `.. contents::` but it provided only 2 links: to the title of document and to "Indices and tables" section at the end, but not to my sections.

sphinx 1.3.1.

[2015-04-23 07:27] bialix commented on #1863
I've invoked sphinx as

make singlehtml SPHINXOPTS="-Dhtml_theme=basic"

no theme selected in my conf.py

[2015-04-23 20:12] ericholscher commented on #1201
:+1: Just ran into this. Also wish it would try and parse more smartly, and not just bail back to plain text.

[2015-04-23 22:11] Gabriel-p opened #1864 "Issue when using numfig extension: can't compile HTML"
I'm using the `numfig` extension from the https://github.com/jterrace/sphinxtr package to generate proper numbering when referencing figures.

I reference figures using the code:

[code]

In my system the HTML compiles, but the numbers are off as seen in the image below:

![captura de pantalla de 2015-04-23 19 05 57](https://cloud.githubusercontent.com/assets/6054951/7308567/0aac222e-e9ec-11e4-819

[2015-04-23 23:44] debugger22 commented on #814
@shimizukawa It occurs when functions are marked with `autoclass` directive. No need to worry about this. Thanks!

[2015-04-24 01:52] shimizukawa commented on #1864
Thanks for reporting. However, it is not a Sphinx issue and there is nothing to do from the Sphinx side. Please contact to sphinxtr owner or numfig extension author. Thanks.

[2015-04-24 01:52] #1864 closed, assigned to nobody

[2015-04-24 01:56] shimizukawa commented on #814
OK. Thanks you for informing me!

[2015-04-28 07:29] petsuter commented on #1520
Problem 1 is still an issue for me.
I can provide more details. Can you reopen this issue? Or should I create a new issue?

Basically `make.bat latexpdf` only works if you have a `make` installed. But I don't have a `make` installed. (Why would I use `make.bat` if I did?)

[code]

[2015-04-28 07:48] shimizukawa commented on #1520
@petsuter thanks, please create another ticket to avoid confusion. (Now I understand what happen, yes we need `texinputs/make.bat` to support no-make-existent windows environment)

[2015-04-28 08:45] eudoxos commented on #1798
I am getting the same error as @gutworth with references (`:cite:` or `:ref:`) in `.. figure::` caption.

[2015-04-28 13:46] petsuter opened #1867 "Add a texinputs/make.bat"
`make.bat latexpdf` only works if you have a `make` installed:

[code]

There should be a `make.bat` for tex on Windows that does not need `make`.

(Previously discussed in #1520)

[2015-04-28 13:46] petsuter commented on #1520
Thanks, I created #1867

[2015-04-29 13:50] hypnocat commented on #759
@shimizukawa,@martinpengellyphillips you may try my fork with this feature.
Install [sphinx](https://github.com/hypnocat/sphinx), and add to conf.py
autodoc_dumb_docstring = True
then rebuild docs. Feel free to msg me.

[2015-04-30 04:10] Blueliner opened #1868 "Text of code examples in Django documentation not formatting properly in PDF doc"
When a PDF file is generated the code examples in the documentation for Django 1.7 and 1.8 isn't properly formatting making documentation unreadable. Trying to determine if this is being caused by Sphinx. Here is a summary of the problem including examples of a page from a PDF generated using Sphinx 1.2.0 where the code examples look fine along with a more recent PDF generated using Sphinx 1.2.3 w

[2015-04-30 12:34] andreacassioli commented on #1851
Maybe the cleanest way is to get the highlight from the default and then let the user override:

[code]

Wouldn't be OK?

[2015-05-01 02:27] smithsp commented on #1545
I agree that having an `:orphan:` field would be very useful for files that are included.  It should be stripped from the top of the included files.

[2015-05-01 18:32] ijmorlan commented on #1451
I'm running into the same problem. This is not as weird as one might initially assume as one technique that is sometimes used to make a Python identifier that is essentially but not identical to a Python keyword is to append an underscore.

For example, in at least one HTML generation library, HTML attributes become keyword parameters. A common attribute is "class" for specifying CSS classes. But

[2015-05-03 22:55] RobRuana commented on #1837
Okay, I'm going to close this issue as _won't fix_, because I haven't heard from anyone else requesting this. However, if you really want this functionality, feel free to reopen it and submit a pull request :)

[2015-05-03 22:55] #1837 closed, assigned to RobRuana

[2015-05-03 23:30] #1831 closed, assigned to RobRuana

[2015-05-03 23:37] RobRuana commented on #1849
Looks like this was either fixed earlier or fixed along with #1831. In any case, I've added your example as a unit test in 42f2b305791507e6bfe9507832daefc5071969cd.

[2015-05-03 23:37] #1849 closed, assigned to RobRuana

[2015-05-04 23:53] GitHK opened #1870 "Problem while generating documentation"
Exception occurred:
    File "...../venv/lib/python2.7/site-packages/sphinxcontrib/tgjsonautodoc/**init**.py", line 138, in _generate_doc
    for field, validator in info['validation'].validators.items():
AttributeError: 'Validators' object has no attribute 'items'

From what I could tell it seems that info['validation'].validators is not a list.

Any ideas why this could occur?
Thanks

[2015-05-05 02:09] shimizukawa commented on #1870
It seems the error is caused by interface mismatch with sphinxcontrib.jsoncall  and TruboGears.
Please contact to sphinxcontrib.jsoncall author: https://github.com/amol-/sphinxcontrib.jsoncall

[2015-05-05 02:09] #1870 closed, assigned to nobody

[2015-05-05 09:41] lnevay opened #1871 "LaTeX Table build failure due to wrong indentation in latex.py"
When building latex output of documentation with a table with referenced objects (images) in the table, I get a build error (make latexpdf).

Exception occurred:
  File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/sphinx/writers/latex.py", line 885, in depart_row
    if linestart <= col:
UnboundLocalError: local variable 'col' referenced before assignmen

[2015-05-05 13:47] EgonFrerich opened #1872 "No translation for .. content"
With docutils .. content is correctly translated (german: Inhalt). With sphinx 1.3.1 I get Content.

[2015-05-05 21:21] #1743 closed, assigned to nobody

[2015-05-05 22:05] ericholscher opened #1873 "No way for a page to know the source_suffix of it's source"
We want to be able to link to the GitHub repo for a specific page when we build it. With the availability of multiple source_suffix's, we need to know what the actual suffix was for the specific file we're rendering is.

It feels like it should be included in the get_doc_context function: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/html.py#L360-L428 -- but I don't know the bes

[2015-05-05 23:33] radekholy24 opened #1874 "[RFE] Support union types specification using | (vertical bar/pipe)"
Please add a support for specifying multiple types acceptable for a parameter/attribute/variable.
Use case:
Imagine that there is a function that accepts both `bytes` and `str`. The docstring would look like:

[code]

Such a syntax is already supported by e.g. [PyCharm](https://www.jetbrains.com/pycharm/help/type-hinting-in-pycharm.html).

[2015-05-06 01:18] jerearista opened #1875 "Builds failing due to missing module recommonmark.parser"
The error, below, indicates that the build is unable to find recommonmark.parser but I can find no reference to that within my code and local sphinx-builds work without issue.   Can you advise how I might resolve the issue?
## html

Traceback (most recent call last):
  File "/home/docs/checkouts/readthedocs.org/user_builds/puppet-eos/envs/latest/local/lib/python2.7/site-packages/sphinx/cmdline.py"

[2015-05-06 01:37] dkirkby commented on #1875
I am getting the same error (https://readthedocs.org/builds/bossdata/2712355/) so the problem is not unique to @jerearista.

[2015-05-06 05:25] ericholscher commented on #1875
This is a read the docs issue, not a Sphinx issue..

[2015-05-06 05:25] ericholscher commented on #1873
Upon further thought, we can only output one page per docname, so using doc2path on the env is the proper solution.

[2015-05-06 06:32] StefanLiebig opened #1877 "Error with 'make latexpdf'"
Running 'make latexpdf' creates the following output:

Although it says that the pdf files are in _build/latex, there are no pdf files.

make created with sphinx-quickstart

(Windows 8.1 Pro, Python 2.7.9, Sphinx 1.3.1)

[2015-05-06 12:46] jerearista commented on #1875
Confirmed.

Also, appears to be resolved now.    Thanks!

[2015-05-06 12:46] #1875 closed, assigned to nobody

[2015-05-06 19:47] brechtm opened #1878 "todolist hyperlinks broken with singlehtml builder"
Links to the original entries are of the form `<document>#index-0`, which are reduced to `#index-0` by the Single-HTML builder (and others?). This makes all these links go to the same point in the document.

[2015-05-07 02:22] yarikoptic opened #1879 "autosummary doesn't recurse. function.rst is mentioned but absent"
Hi Guys,

Thanks for the sphinx!!!  In our recent website update for pymvpa.org we ran into the problem of lacking recursive autodoc'ing of functions/classes contained within the modules, see e.g.
http://dev.pymvpa.org/generated/mvpa2.base.constraints.html which is generated since we have autosummary_generate=True and pointed `:autosummary:` to it.  So I looked inside autosummary and got a bit con

[2015-05-07 09:22] KacerCZ commented on #1618
+1 for this feature
I was surprised that search is displaying source files in search result.
Display of rendered HTML content is something what users expect. For now using workaround with replacement of source files with text files.

[2015-05-07 21:48] theiviaxx opened #1880 "autodoc skips subclasses of mocked modules"
foo.py

[code]

foo.rst

[code]

conf.py

[code]

Running `sphinx-build html` on this will yield an empty doc for foo.html.  If MyClass is subclassed from an importable module, it documents as expected.

[2015-05-08 11:28] viktorasm opened #1881 "using "automethod" in autodoc to hide decorated method signature outputs two signatures"
My .rst file looks like this:

[code]

releavant python sources:

[code]

[code]

When documentation is generated, I get two entries generated for the same method, one with `automethod` signature which is `saveTo(mesh)` and one with `*args, **kwargs`:

![double entry](https://cloud.githubusercontent.com/assets/2631366/7535480/507f9170-f58e-11e4-80fe-a619f5a3b899.png)

I would like to keep the `:me

[2015-05-08 12:14] shimizukawa commented on #1881
I think method signature overriding  by `automethod` directive is reasonable proposal.

[2015-05-08 14:01] shimizukawa commented on #1881
BTW, you can override the wrapped method signature in other ways.

A. use Python3. functools.wraps of python3 is keep original function object as `wrapper.__wrapped__`. Sphinx follows this and get original signature.

or

B. write signature at the first line of docstrings as:

[code]

[2015-05-08 20:36] viktorasm commented on #1881
Second tip worked wonders, thanks. Would be nice if some kind of follow-through logic could be possible with Python 2 as well, `.__wrapped__` can be manually added in decorators.

[2015-05-08 23:14] anthony-dandrea opened #1883 "Need help with loading custom templates from a python package"
Currently I have a python package called `my_assets`. I share this across various repos and would like to use in my sphinx repo.

In Flask I would do something like:

[code]

So I would have a `base.html` in my `my_assets` python package. This would be extended by all other templates in my `source/` directory.

I have been starting to look into a sphinx extension, does that seem like the right rou

[2015-05-09 08:13] Suzumizaki opened #1884 "plug-in html themes cannot inherit another plug-in theme"
When some plug-in theme try to inherit another plug-in theme, the Sphinx cannot find it.
This issue is similar to #1794, but not limited 'alabaster' theme.

I'll post the patch later.

[2015-05-09 08:18] shimizukawa commented on #1884
I think the issue you mentioned is also fixed on stable branch (1.3.1+).
If I'm wrong, please let me know a example case. Thanks!

[2015-05-09 08:30] Suzumizaki commented on #1884
Thank you for your comment. I tried with the latest stable brunch just now. but it seems failed.
Again, I will make the pull request and post the theme and extension as I told on the twitter.

[2015-05-09 08:51] Suzumizaki commented on #1884
I posted both the patch(#1885) and the [package](https://pypi.python.org/pypi/sphinx_html5_basic_theme). Please try them to check!

How to reproduce this issue:
1) pip install sphinx_html5_basic_theme
2) cd python_path/lib/site-packages/sphinx_html5_basic_theme/doc
3) make html
4) Stop with the error message below:
Theme error:
no theme named 'html5_basic' found, inherited by 'html5_sphinxdoc'

I

[2015-05-09 10:25] Suzumizaki commented on #1562
Hmm, the issue like this already exists. You can try [sphinx_html5_basic_theme](https://pypi.python.org/pypi/sphinx_html5_basic_theme). The package includes also html5_sphinxdoc theme, but need the patch #1885(see alse #1884).

[2015-05-09 11:15] radekholy24 opened #1886 "[RFE] Support container members type specification using square brackets"
Please add a support for specifying types of members of containers/iterables/sequences/mappings/iterators/generators.
Use case:
Imagine that there is a function that accepts only mappings from `str` to `list` of `int`s. The docstring would look like:

[code]

Such a syntax is already supported by e.g. [PyCharm](https://www.jetbrains.com/pycharm/help/type-hinting-in-pycharm.html).

[2015-05-11 09:01] andreacassioli opened #1887 "digraph not compiling"
Hi, I am trying to use sphinx extension for graphviz. I have a dummy example:

[code]

that should be OK, according to the docs. But I get the following:

[code]

The same graph compiles fine if I use the graphviz directive instead.

[2015-05-11 09:06] mogudy opened #1888 "error: "makepatchmeta() takes exactly 6 arguments (5 given)" when produce html from rst"
Odoo (originally called openerp) used sphinx for their documentation system, however, sphinx was not able to produce html from the rst files. Error log is attached, please have a look.

[code]

[2015-05-11 09:23] shimizukawa commented on #1888
http://selenic.com/hg/file/015adbcd92f3/mercurial/patch.py#l1508

mercurial.patch.makepatchmeta() takes exactly 6 arguments. But sphinx-patchqueue extension provide 5 arguments. It's a issue of sphinx-patchqueue extension.

I guess newer mercurial has changed internal function interface.

Please contact to the extension author.

[2015-05-11 09:23] #1888 closed, assigned to nobody

[2015-05-11 17:17] anthony-dandrea commented on #1883
Turns out using a sphinx extension was a backwards way to go about this. I ended up with a much simpler solution. In my `conf.py` file I just added the package to the `templates_path` setting.

[code]

My templates in `/_templates` inherit from my base in `my_assets`.

[2015-05-11 17:17] #1883 closed, assigned to nobody

[2015-05-13 00:09] radekholy24 commented on #539
Works with 1.3.1 although I don't see anything relevant in the changelog.

[2015-05-18 14:59] erget commented on #1836
I just ran up against this wall myself - this would be a great feature!

[2015-05-18 21:03] buxx commented on #956
Affected to. This bug have been fixed ? It will be ?

[2015-05-19 16:16] larsoner opened #1891 "autosummary broken on various packages"
We use RST code like the following in several places:

[code]

This used to produce nice docs, but on `master` and the version currently distributed with Anaconda, doc building completes but the areas above are now blank. I have bisected the problem to this commit:

https://github.com/sphinx-doc/sphinx/commit/21b838454f4bb5b6a246b85cb2f521deb7552505

[code]

Any idea what the problem could be?

[2015-05-19 16:31] larsoner commented on #1891
I've isolated the problem to the addition of these two lines in `sphinx/ext/autosummary/__init__.py`:

[code]

Commenting out those lines fixes doc building for us. Now I'm going to investigate why the `check_module` is failing...

[2015-05-19 16:55] larsoner commented on #1891
Oh, it's because a bunch of our classes and functions aren't defined in the specific module, so this check fails:

[code]

So it looks like if we can set `options.imported_members = True`, we should be good to go. Now to figure out how to set the `imported-members` option.

[2015-05-19 17:04] larsoner commented on #1891
Ahh wait, I think this is actually a bug. Here is the documentation:

[code]

But in our code, the `members` option is not set -- in fact `no-members` is set, because we want to manually specify our names. So I think the check above should only occur if `members` is set. I'll see if I can figure out how to query that option.

[2015-05-19 20:17] tojon opened #1893 "Enhancement: Bash code block highlighting logic improvement"
Sorry if this is a duplicate, I searched all open and closed issues.

It would be nice if bash code block highlighting had some extra built in logic to detect:
- an increased number of unix commands eg. `systemctl`
- an argument to unix command being interpreted as an arg (plain text) rather than a command eg. `enable`

I've provided an example in a closed PR on one of our projects.
https://github

[2015-05-19 20:44] cjdrake opened #1894 "Unlisted phony targets in quickstart Makefile"
From sphinx/quickstart.py, the following phony targets are not listed in the `.PHONY:` line:
- applehelp
- latexpdfja
- texinfo
- info
- xml
- pseudoxml

Also, the `gettext` target is out of order. It should appear between `info` and `changes`, but it appears at the end.

As a matter of style, you might consider using the following convention to avoid the phony target list getting out of sync with

[2015-05-20 09:36] xmo-odoo commented on #1893
Sphinx does not do syntax highlighting itself (though it does perform some of the munging), it delegates that to [pygments](http://pygments.org), you'd probably want to take a look there.

[2015-05-20 14:52] #1758 closed, assigned to nobody

[2015-05-21 06:47] eudoxos commented on #1887
I confirm this is an issue, it is due to hyphen in the title. If you replace `tsp-example` by `tsp_example`, sphinx is happy.

[2015-05-21 07:38] andreacassioli commented on #1887
Oh my gosh! I would have never guess that...
I hope they will fix soon.

Thanks a lot!

[2015-05-21 22:22] wolph opened #1895 "There should be an easy way to disable certain warnings"
Within my docs I use a few nonlocal images since they're automatically being generated by remote systems, and right now Sphinx warns me every time about this:

[code]

To have my docs automatically tested I generally run sphinx-build with `-W`, but this makes it difficult to do that.

[2015-05-22 00:40] bhermanmit opened #1896 "Autosummary Difference from v1.2.3"
I am currently changing our documentation to work with v1.3.1 of Sphinx. I am having issues with one aspect of autosummary that worked fine in v1.2.3, but not in v1.3.1. In v1.2.3 I was able to do the following:

[code]

where package is a directory that contains an __init__.py that imports Model from package.model:

[code]

I could only get the following to work when autosummary references the ex

[2015-05-22 01:30] shimizukawa commented on #1895
Agreed.
I can't find any evidence for necessary of the warning.
https://github.com/sphinx-doc/sphinx/commit/ba47f283f67aad9151bbf0e4874cdff7bfad8adb

[2015-05-22 01:34] shimizukawa commented on #1895
However, LaTeX builder might need local image to build.
It would be better if nonlocal image warning can be disabled by some option.

[2015-05-22 11:08] atodorov commented on #701
Basically me too.

I've tried:

[code]

which didn't work of course.

[2015-05-22 12:40] nastasviatoha opened #1897 ""latexpdf" option is absent in make help"
Hi all,

When creating PDF document for my Sphinx project, I have always used this way and it works fine:
1. make latex
2. pdflatex <projectname>.tex

But today I've decided to try another way, that is 'make latexpdf' and got the following output:

" build succeeded, 2 warnings.
'make' is not recognized as an internal or external command,
operable program or batch file.
Build finished; the PDF fil

[2015-05-22 12:50] shimizukawa commented on #701
@atodorov

You can't use `:doc:` role in the toctree directive. You should write as:

[code]

One more rule is exist.
You can not reference to out of sphinx project directory by using `toctree` directive (and `:doc:` role).

[2015-05-22 12:58] shimizukawa commented on #1897
It's a duplicated issue for #1867 . Sorry for inconvenience.

[2015-05-22 12:58] #1897 closed, assigned to nobody

[2015-05-22 14:29] nastasviatoha opened #1898 "Long tables are not neat in Latex"
Hi,

I have a lot of long tables in my project. They are displayed fine in HTML, for example like the following table:
http://prntscr.com/783e6r
http://prntscr.com/783ecb

But it is displayed awfully in Latex:
https://drive.google.com/file/d/0B4mCq7gApRAgNnRPVmlQLTE2Sm8/view?usp=sharing

[2015-05-23 18:35] storax opened #1900 "BuildEnvironment.srcdir documentation gives false information"
It says under [srcdir documentation](http://sphinx-doc.org/extdev/envapi.html#sphinx.environment.BuildEnvironment.srcdir):
`Source directory (the directory containing conf.py).`
But that is only by default. You can put the conf.py somewhere else and specify the '-c' option of `sphinx-build`. This caused some confusion. The dir of conf.py can be looked up in the Sphinx App attribute `confdir`.

[2015-05-24 19:10] brechtm commented on #1878
Also links to footnotes suffer from this problem in Single-HTML output.

[2015-05-25 02:42] xuhdev commented on #1788
Is there a way to fix the exception? It does not seem reasonable for me to workaround the bug in the sphinx doc but leave it in the Sphinx code base. I'm actually having this problem in my own doc...

[2015-05-25 04:31] xuhdev commented on #1788
I see, it seems that this bug is fixed. Thanks!

[2015-05-26 15:20] kbhawkey opened #1903 "dt element, id attribute, term is truncated if term starts with a number"
When a glossary term starts with a number, say, 1to3,
the html output for the dt element id attribute is replaced with
id="term-to3"
The starting char is eliminated if the char is a number.

[2015-05-27 03:11] qnzhou opened #1904 "Napoleon: Return statement containing colons is not handled correctly"
This problem is related to https://github.com/sphinx-doc/sphinx/issues/1831.  It seems the greedy parsing strategy introduced in https://github.com/sphinx-doc/sphinx/commit/42f2b305791507e6bfe9507832daefc5071969cd is the culprit.

For example a return doc in Google style would be parsed incorrectly:

[code]

Napoleon "mis-parse" the return type as `numpy.ndarray: A :math`

Sphinx v1.3.1
Napoleon v

[2015-05-27 03:47] NehemiahMi opened #1905 "Non-ASCII character '\xe5' in file shinken/shinken/log.py on line 68"
make the doc directory, I want build to a book of "epub"

[2015-05-27 04:04] shimizukawa commented on #1905
Thanks for reporting.
However, I don't know what is `shinken`.
I think the issue is caused from `shinken` then please contact to the library author.

[2015-05-27 04:12] NehemiahMi commented on #1905
I'm sorry. thank you

[2015-05-27 04:14] RobRuana commented on #1904
Thanks, I'm looking into it!

[2015-05-27 04:34] #1905 closed, assigned to nobody

[2015-05-27 18:22] #1904 closed, assigned to RobRuana

[2015-05-28 14:52] anarcat opened #1907 "no SVG support in PDFs"
Coming from https://github.com/rtfd/readthedocs.org/issues/905 here... it looks like Sphinx doesn't support SVGs properly. Or, more accurately, the LaTeX file it generates asumes that `\includegraphics` can deal with SVG files: it can't.

In LaTeX, SVG images are special: they need to be first converted into another format using Inkscape, and the SVG package. More information about this is availab

[2015-05-28 18:20] pop opened #1908 "**This text :ref:`does not <render-correctly>**"
When italicizing or bolding text which includes a :ref: internal link it renders incorrectly.
For example:

[code]

Which references a document that starts:

[code]

gets rendered as:  I wrote some docs! They are **so cool you should :ref:`read them <my-new-docs>`!**

This _might_ be a feature, but it doesn't feel like one and I haven't found any documentation that verifies this theory. If it is i

[2015-05-28 23:30] mikanbako commented on #1820
This issue is a problem of python on MacPorts about OS X.

Installing of py*-readline ports resolves this issue. For example, install py34-readline port for Python 3.4.x on MacPorts.

See https://trac.macports.org/ticket/47827 for detail.

[2015-05-28 23:46] ericholscher opened #1909 "Intersphinx should include documents in it's inventory"
It would be great if the `:doc:`python:changelog`` references worked with Intersphinx. Currently it isn't included in the outputted inventory, but seems like a good reference type to support across projects.

[2015-05-29 04:01] RobRuana commented on #1908
I believe this is because reStructuredText does not support nested inline markup. Support for this feature would have to be added in the docutils codebase.

See the [relevant question](http://docutils.sourceforge.net/FAQ.html#is-nested-inline-markup-possible) in the docutils FAQ.

[2015-05-29 04:01] #1908 closed, assigned to nobody

[2015-05-29 11:18] mitya57 commented on #1784
@shimizukawa Any update on this issue? Are you going to fix it, or should we go back to repacking tarball in Debian (as we did in past)?

[2015-05-29 22:22] mulkieran opened #1912 "Handle missing graphviz apps more elegantly in output"
The graphviz extension uses the graphviz applications, specifically at least, dot to generate a graphics file from the output of other extensions, .e.g., inheritance_diagram. If dot is missing, then instead of the image, the actual dot output of the other extension is displayed in the generated html.

It would be nice if there was a pretty way of handling the missing dot app, like:
- stowing the d

[2015-05-29 23:59] poulson commented on #772
As far as I can tell, the `:cpp:enum::` plus `:cpp:enumerator::` support is broken with Sphinx 1.3.1 on both Ubuntu and OS X. I see internal errors of the form::

[code]

The offending code appears to be the enum located at https://raw.githubusercontent.com/elemental/elemental-web/master/source/doc-dev/blas_like/level3/Gemm.rst

The log file can be found here: https://gist.github.com/poulson/e5b5b

[2015-05-30 01:17] shimizukawa commented on #772
Hi @poulson, thanks for the reporting. However, this ticket is already closed. Please create new issue ticket. Thanks.

[2015-05-30 03:34] poulson opened #1913 "internal error due to enum support in 1.3.1"
As far as I can tell, the `:cpp:enum::` plus `:cpp:enumerator::` support is broken with Sphinx 1.3.1 on both Ubuntu and OS X. I see internal errors of the form::

[code]

The offending code appears to be the enum located at https://raw.githubusercontent.com/elemental/elemental-web/master/source/doc-dev/blas_like/level3/Gemm.rst

The log file can be found here: https://gist.github.com/poulson/e5b5b

[2015-05-30 03:40] shimizukawa commented on #1913
@jakobandersen can you take a look this?

[2015-05-30 07:58] #1913 closed, assigned to jakobandersen

[2015-05-30 08:02] jakobandersen commented on #1913
Thanks for reporting.

[2015-05-30 11:24] shimizukawa commented on #1913
@jakobandersen Thanks!

[2015-06-01 07:38] shoyer commented on #1822
This has broken my docs, and unfortunately, it's a pain to revert to earlier versions of sphinx on ReadTheDocs.

Is there a work around for this issue?

[2015-06-01 08:04] jschueller commented on #1822
see pr #1828

[2015-06-01 18:08] korjcjeong opened #1914 "AttributeError: admin"
It seems everything is installed smoothly, but I have got following errors.
What could be the reason and how I can solve this problem?
Could anyone help me?

sphinx-build -b html -d build/doctrees   . build/html
Running Sphinx v1.3.1
making output directory...

Exception occurred:
  File "/home/jcj15/.local/lib/python2.7/site-packages/enum34-1.0.4-py2.7.egg/enum/**init**.py", line 373, in **getatt

[2015-06-01 18:39] eflister opened #1915 "generated doc contains non-ascii characters, causing syntax error if copy-pasted into comments"
copy pasting into comments in one's code causes a syntax error because of the non-ascii characters. doc that can be copy/pasted into comments is most useful -- shouldn't have to declare an encoding (figure out which to use, syntax, worry it conflicts with choice made for other reasons, etc).

[code]

examples:
http://www.losonczylab.org/sima/1.2/api/sequence.html#sima.Sequence.create
single quotes

[2015-06-03 15:23] nmp562 commented on #176
How can I get the patch? I desperately need the functionality of including private MODULES. I am documenting something internally.

[2015-06-03 15:55] pchampin opened #1917 ":caption: flag in graphviz directives causes the HTML writer to crash"
Steps to reproduce the bug:
1. create a fresh Sphinx project
2. include sphinx.ext.graphviz in the extensions
3. add the text below in `index.rst`:

[code]
4. run `make html`

With Sphinx 1.3.1, I get the following exception:

[code]

[2015-06-04 08:55] nastasviatoha opened #1918 "Problematic HTML search"
Hi all,

I have problems with HTML search. The search engine doesn't find any results in the documentation for some words. And I don't see any dependencies why some words can be found and some can't be.

For example, I have the following glossary in my Sphinx documentation:

   API
      Application Programming Interface – A set of routines, protocols, and tools for building or interfacing with so

[2015-06-05 02:40] ianrrees opened #1920 "Minor documentation bug in windows install guide"
http://sphinx-doc.org/install.html#windows-install-python-and-sphinx at the bottom claims:

_After installation, type **sphinx-build** on the command prompt. If everything worked fine, you will get a Sphinx version number and a list of options for this command._

It appears that the appropriate command is actually **sphinx-build --help**.  -Ian-

[2015-06-05 11:50] benallard commented on #1235
@fpatz : I'd also welcome such an extension / feature ! Made some progress on that side ?

[2015-06-05 14:48] fpatz commented on #1235
@benallard: thanks for reminding me! I have pushed the change I came up with into a fork here: 151dd5c3a9ea4c898844352274d6154ab225357a
This basically allows for referencing config values from image file names like in `my-image-{language}.png`. I think my patch is a little too generic and obviously underdocumented, so no PR yet. @shimizukawa Please let me know what you think of the variable interp

[2015-06-05 14:55] benallard commented on #1235
@fpatz: In the meantime, I wrote a very basic extension that look for filename.<lang>.extension, and use them if present, see #1921 for my version of that .

[2015-06-05 15:51] fpatz commented on #1235
Wow, that was quick! I don't know which approach is preferrable. Variable interpolation may be useful for other cases also. At least that was, why I did it that way.

[2015-06-06 10:38] jibalamy opened #1922 "Upper characters problem in French stemmer"
I've found a bug in the HTML / Javascript search engine with the French language. The bug is actually related to the indexing of the doctree. The HTML / Javascript search engine expects only lower characters in the index. When indexing, the English stemmer removes upper characters and replace them with lower ones (with .lower()). However, the French stemmer (in sphinx/search/fr.py) keeps the upper

[2015-06-06 12:39] jnothman commented on #1798
Having the same issue in scikit-learn. I had no problems compiling with 1.3b2 (although there was another issue that I hoped 1.3.1 would remove). Now trying with 1.3.0.

[2015-06-06 13:10] jnothman commented on #790
I may have the same problem (in version 1.3.0), but I'm not sure the above is a sufficient description.

I get this problem when `projects/index.rst` contains a heading, but `index.rst` does not. `projects/index.rst`'s headings automatically get promoted to a top-level heading, despite their being nested within `index.rst`, and indeed having siblings defined in `index.rst`'s toctree call. This at

[2015-06-07 00:59] #1873 closed, assigned to nobody

[2015-06-07 09:09] shimizukawa commented on #1920
Fixed it on repository. Thanks!

[2015-06-07 09:09] #1920 closed, assigned to shimizukawa

[2015-06-08 07:14] shimizukawa commented on #1784
@mitya57 I made a change for the issue. Please can you try the stable code?

[2015-06-08 16:19] ghost opened #1923 "XeLaTeX: Error using polyglossia instead of babel due to unconditional use of babel features"
I have configured a custom preamble, disabling babel so that I can use polyglossia with XeLaTeX.  We do this so we can use UTF-8 sphinx input text and get decent unicode font handling, substitution, subsetting etc. with PDF output, which the default pdflatex can't provide .  Important lines marked with `****`:

We start by disabling a bunch of features which break with XeLaTeX, or which have bette

[2015-06-08 16:42] ghost commented on #894
You can get better utf-8 support and better font support with a little more work, for example:
https://github.com/sphinx-doc/sphinx/issues/1923 gives some ideas for setting up a more modern and featureful xelatex; note it works with sphinx 1.2.3 but is broken in 1.3.x.

Having such support enabled by default with sphinx would be a great improvement; currently many unicode characters in the sphinx

[2015-06-08 16:44] ghost commented on #1212
@shimizukawa Maybe try the suggestion I linked to in your other ticket (#894); this enables xunicode for extended unicode input and opentype fonts; you might find the combination helps to eliminate the inputenc issue.

[2015-06-08 20:04] kdambekalns commented on #1871
I just tripped over the same error and can confirm the fix given above.

[2015-06-09 06:24] mitya57 commented on #1784
@shimizukawa Much better now, thanks a lot!

Can you please also tell me which commandline you used to generate the full JS file? (I realize that I need snowballstemmer, but I don't know anything about how to use it).

[2015-06-09 13:49] amueller commented on #1822
ping @bmcfee for https://github.com/bmcfee/librosa

[2015-06-10 00:30] RobRuana opened #1925 "Update Napoleon docs to provide @property examples & recommend PEP 484 type hints"
This will be done on master, as it's a proposed enhancement and not a bug fix.

Originally reported here:
- https://bitbucket.org/birkenfeld/sphinx-contrib/issue/104/
- https://bitbucket.org/birkenfeld/sphinx-contrib/issue/105/

[2015-06-10 01:18] #1925 closed, assigned to RobRuana

[2015-06-10 11:56] jschueller commented on #1822
@lsaffre  @shimizukawa @Eric89GXL maybe this is a better solution: https://github.com/sphinx-doc/sphinx/pull/1892

[2015-06-10 12:03] jschueller commented on #1891
is it a duplicate of #1822 ?

[2015-06-10 16:07] larsoner commented on #1891
Yep!

[2015-06-10 16:07] #1891 closed, assigned to nobody

[2015-06-10 16:54] ostrokach opened #1926 "Liquid-style tags for including IPython notebooks in Sphinx documentation"
Is there a Sphinx equivalent of [liquid_tags](https://github.com/getpelican/pelican-plugins/tree/master/liquid_tags), and if not, has anyone considered making a port?

It would be super useful if you could write sections of the documentation inside an IPython notebook (in order to include a short run-through or a tutorial, for example).

[2015-06-11 07:44] RobRuana opened #1927 "Napoleon: Raises section does not parse the type correctly"
Originally reported [here](https://bitbucket.org/birkenfeld/sphinx-contrib/issue/103/napoleon-return-statement-containing#comment-18736964) and [here](https://bitbucket.org/birkenfeld/sphinx-contrib/issue/106)

Raises section does not parse the type correctly. Example:

[code]

[2015-06-11 08:17] #1927 closed, assigned to RobRuana

[2015-06-11 12:05] lehmannro commented on #1926
I'm not sure what your actual request is.  If it's IPython integration a quick search for _"Sphinx IPython"_ [yields](https://ipython.org/ipython-doc/dev/api/generated/IPython.sphinxext.ipython_directive.html) [numerous](http://sphinx-ipynb.readthedocs.org/en/latest/howto.html) results.  (One being supplied by IPython itself...)

If you want liquid tags for whatever reason, I'd like to note that [

[2015-06-11 12:05] #1926 closed, assigned to nobody

[2015-06-11 14:28] shimizukawa commented on #1784
Well, ... as @shibukawa mentioned at https://github.com/sphinx-doc/sphinx/issues/1784#issuecomment-82746751 , generating full JS command is here (I guess..): https://www.npmjs.com/package/snowball-stemmer.jsx

@shibukawa Is it correct?

[2015-06-11 16:44] miketallroth opened #1929 "Sphinx object has to attribute 'get'"
Any idea where I would go to start diagnosing this problem?

[code]

[2015-06-11 16:59] birkenfeld commented on #1929
You have an extension that does `return app` in its `setup()` function.  That is not really supported (but will be handled more gracefully in 1.3.2).

[2015-06-11 16:59] #1929 closed, assigned to nobody

[2015-06-11 17:07] #1784 closed, assigned to shimizukawa

[2015-06-14 16:42] mitya57 commented on #1784
OK, thanks again!

[2015-06-15 13:27] jekriske commented on #1180
We accidentally upgraded sphinx and are seeing this with 1.3.1... is there any fix? Pages look horrible.

[2015-06-15 14:57] shimizukawa commented on #1180
@jekriske it looks another issue. Please create a new ticket. Thanks.

[2015-06-15 16:32] abellgithub opened #1930 "option-group doesn'"
This may be an issue for docutils, but figured I'd start here.  When the node tree is walked for HTML, an option-group considers the length of the text to determine whether the text should span two columns or not, however it doesn't seem to consider an optional argument string following the options, which results in the argument string being placed in column 1, below the option text itself, rather

[2015-06-17 10:14] sidd411 opened #1932 "Document generations for library modules"
Hi,
I have a requirement where in I have to generate the documentation for the all my python scripts and library modules. There are some modules that are not protected by a if **name** == '**main**' condition.

Is there any way to override it or is it practically not possible ?

Thanks,
Srinivas

[2015-06-17 13:55] toabctl opened #1933 "API change for Config.init_values() in commit 1356aff6"
commit 1356aff6 added a second argument `warn` to the method `init_values()` defined in `sphinx/config.py:Config`. `init_values` is i.e. used by `pbr` and this now breaks `pbr`.
Build i.e. `pbr`'s documentation with Sphinx 1.1.3 works, but building it with 1.3.1 leads to:

[code]

[2015-06-17 15:07] lehmannro commented on #1933
I think I would consider `sphinx.config.Config` an implementation detail;  also, the change has only been deployed in a new major (in Sphinx terms) release.

The better solution is fixing your code to not read the config itself and instead inspect `sphinx.application.Sphinx.config` after it has initialized the app.

[2015-06-17 15:07] #1933 closed, assigned to nobody

[2015-06-17 15:27] Cilyan commented on #1820
Same problem here with all sphinx tools on Windows 7 with Python 2.7.6 Sphinx installed using `pip install sphinx`. This makes spotting errors rather difficult when compiling documentation...

[2015-06-17 15:36] shimizukawa commented on #1820
Sorry for the inconvenience.
I think https://github.com/tartley/colorama/issues/49 is a related issue,

There are workarounds, please choose one and do it:
1. `pip uninstall colorama`
2. `set TERM=`
3. `set SPHINXOPTS=-N` (not perfect)

[2015-06-17 15:42] shimizukawa commented on #1932
There is no way to autodoc without executing global level code.

Related discussion is here: https://groups.google.com/d/msg/sphinx-users/7quQx2r4dGc/0WtQmsDdTM4J

[2015-06-17 15:45] Cilyan commented on #1820
Thanks, I use the workaround `set TERM=` successfully and placed it in the `make.bat`. I do not know why `TERM` is set here, but it's maybe due to MSys Git. By default, it is set to `nutc`.

[2015-06-18 06:41] sidd411 commented on #1932
Thanks for pointing me to the related discussion on the issue.

[2015-06-18 06:41] #1932 closed, assigned to nobody

[2015-06-19 18:04] rocmit commented on #1918
I believe I have ran into a similar issue (may not 100% match though)...  Some notes that I have while investigating this:

1)  It doesn't index 2 or less characters.  If user input has two character string (by itself or with other matching strings), it will never match anything.  "HA" in the above example will never work and if you search with HA and/or with other matching terms.  I guess the sea

[2015-06-21 13:46] andreacassioli commented on #1917
I confirm the issue on Sphinx 1.3.1

[2015-06-22 15:05] bgeron opened #1937 "Make top_sectionlevel configurable for the LaTeX writer"
I have a Sphinx document that I want in LaTeX in a more personalised style, with a different document class. (I'm preparing a conference publication; the conference provides the document class.) This document class has `\section` for the top level headings, not `\chapter`, but Sphinx generates `\part` or `\chapter` by default depending on `latex_use_parts`.

I'm currently working around this by se

[2015-06-22 15:05] bgeron commented on #1937
This is a feature request.

[2015-06-23 15:25] arthurzenika opened #1938 "Generate index from fixed-space literal terms in ReST"
I have a ReST document which I transform into PDF using rst2pdf or sphinx with the pdfbuilder.py extension from rst2pdf.

Is it possible to configure sphinx and rst2pdf to generate an index from the fixed-space literal terms ? (the ones between  ` `like``inline literal`` cf http://docutils.sourceforge.net/docs/user/rst/quickref.html#inline-markup ) ?

Or do I have to make an extension ?

[2015-06-24 15:20] kgdunn opened #1942 "websupport .build() error: missing "css" and "script" dict keys"
In websupport.py, around line 148,

[code]

the 'css' and 'script' keys might not exist when the `_render_page(...)` function is called prior, depending in whether the template has those features. The build should not crash because of that.

Potential solution: modify around line 114 to be:

[code]

[2015-06-24 17:33] JelteF commented on #1462
I have this same problem. For me it only occurs when autosummary and numpydoc are enabled. In that case it happens to every argument with an underscore at the end.

[2015-06-24 20:16] electronwill opened #1943 "Error in "code-block" directive: unknown option: "caption"."
http://sphinx-doc.org/markup/code.html says it's a new option in Sphinx 1.3 to put a caption in a code block, but when I tried it on 1.3.1 I got "ERROR: Error in "code-block" directive: unknown option: "caption"." Please let me know if there are more debugging steps I can try or if there's more info I can collect to add to the issue.

[2015-06-24 21:49] takluyver opened #1944 "rst_prolog breaks file-wide metadata"
I'm trying to mark pages as `:orphan:` so Sphinx doesn't complain that they're not in a toctree. But the project's conf.py sets an `rst_prolog` (to make it clear that the docs are for a development version). This means that the field list is no longer the first thing in the file, so Sphinx doesn't see it as metadata, and it shows up in the page instead.

It looks like rst_prolog is added by string

[2015-06-25 00:00] shimizukawa commented on #1943
@electronwill, to clarify, please let me know the full command and its output. I suspect that sphinx version is not 1.3, or code-block directive is replaced by some extension.

[2015-06-25 00:23] electronwill commented on #1943
Closer examination shows that the first output from sphinx-build is "Running Sphinx v1.2.3", even though my package manager said Sphinx 1.3.1. I'll take it up with the package manager. I'm very sorry I bothered you, and I thank you and everyone on the team for all your good work on Sphinx!

[2015-06-25 00:23] #1943 closed, assigned to nobody

[2015-06-25 00:34] shimizukawa commented on #1943
:thumbsup:

[2015-06-25 15:04] warsaw opened #1945 "html.parser.HTMLParseError was removed in Python 3.5"
The Sphinx test suite fails under Python 3.5 because this exception, which was deprecated in Python 3.3 has finally been removed.   I'll try to work up a pull request for a workaround.

[2015-06-25 15:15] shimizukawa commented on #1945
Good to know!

[2015-06-25 15:57] warsaw commented on #1945
https://github.com/sphinx-doc/sphinx/pull/1946

[2015-06-26 12:50] tk0miya commented on #1917
Sorry for inconvinience.
but it is already fixed (at #1788). please wait for next release.

thanks.

[2015-06-26 12:50] #1917 closed, assigned to tk0miya

[2015-06-26 16:26] pmcguinn commented on #1923
Hi did you get any further feedback on this? I'm having the same issue and a work around isn't just as simple.

[2015-06-26 17:45] ghost commented on #1923
@pmcguinn I'm afraid not.  I'm currently downgraded 1.2.3 to avoid the issue.  I'm not a latex expert, but if this could be wrapped in a conditional checking if \captionsenglish was defined, then that's probably a simple fix to make to sphinx.

[2015-06-29 09:41] pmcguinn commented on #1923
Hi Roger,

I guess you could make a slight modification to the writers/latex.py file and do as you say wrap it in an IF statement, but really I would prefer not to have to customise sphinx if I could get around it by disabling it somehow.

From: Roger Leigh [mailto:notifications@github.com]
Sent: 26 June 2015 18:46
To: sphinx-doc/sphinx
Cc: Pearse McGuinness
Subject: Re: [sphinx] XeLaTeX: Error us

[2015-06-29 11:58] bemichel opened #1947 "Add Equation in Table"
Hi,
If I try to add a math equation in a table like this:

[code]

 It works fine for html creation but does not for latexpdf :

[code]

I have tried the generation with version 1.3b3 and 1.4a0.
Bertrand.

[2015-07-01 15:07] juanvladimir13 opened #1948 "ClassNotFound: Could not find style module 'matizze'"
# Sphinx version: 1.3.1
# Python version: 2.7.3 (CPython)
# Docutils version: 0.12 release
# Jinja2 version: 2.7.3
# Last messages:
# Loaded extensions:

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/sphinx/cmdline.py", line 244, in main
    opts.warningiserror, opts.tags, opts.verbosity, opts.jobs)
  File "/usr/local/lib/python2.7/dist-packages/sphinx/applicati

[2015-07-01 15:14] gergelypolonkai opened #1949 "AttributeError during documentation coverage"
While generating doc coverage report for my Django project that uses [Django-FSM](https://github.com/kmmbvnr/django-fsm) I get an AttributeError:

[code]

`Build.state` is an `FSMStateField` provided by Django-FSM. This may be a duplicate of, or related to #911.

[2015-07-01 15:25] shimizukawa commented on #1948
@juanvladimir I suspect that it's a user error.
Pygments doesn't have 'matizze' style ([see](https://bitbucket.org/birkenfeld/pygments-main/src/652e08e410f4f4f3a61add91f75ce5ed9d134711/pygments/styles/?at=default)).

If your conf.py of sphinx document has `pygments_style = 'matizze'`, it isn't correct.
Please try `pygments_style = 'default'` or `'sphinx'`.

[2015-07-02 08:52] karelin commented on #1845
Perhaps I'm missing something, but Sphinx requires sphinx_rtd_theme in its setup.py script. It seems not 'testing requirement'. Will it be more wise not to rely on any particular themes that user may not need?

[2015-07-02 10:52] codingjoe opened #1950 "Use graphviz directive in autodoc-process-docstring"
I currently try to write an extension, that processes certain classes representing an FSM and try to create a graphviz model on the fly.

I can create the proper code using `autodoc-process-docstring` but the directive is not being executed.
If I add the generated code to my docstring it works just fine.

Is there any way to manually trigger the directive or do I need to have a certain order impor

[2015-07-02 12:33] claashk commented on #1658
I seemingly have the same problem using sphinx 1.3.1 on OpenSuse with the following code:

[code]

Referencing this somewhere with `:option:`svn help tool`` neither creates a warning nor a link. I this intended behaviour or does the bug still persist in version 1.3.1 with python 2.7 ?

[2015-07-02 14:51] kyouko-taiga commented on #1530
Hi guys,

I am experiencing the same issue with some project using SQLAlchemy. As suggested by @shimizukawa, I tried the `autodoc_mock_imports` feature. Unfortunately this makes things even worse, as it makes sphinx unable to load SQLAlchemy and thus fail to load my modules at all.

Correct me if I am wrong, but my understanding of `autodoc_mock_imports` is that the feature has been added to preve

[2015-07-03 11:24] andreacassioli commented on #1640
Hi,
I am still experiencing the issue in a quite predictable way. The build hangs during the parallel write phase. Even with just to jobs, it just stop and the threads hang forever.
Funny, when I kill the build one of the thread dies, the other don't, but instead stays alive forever. When I kill it I get:

[code]

Sorry, I cannot make a small example. But I have noticed it only happens when I buil

[2015-07-05 01:20] shimizukawa commented on #539
I confirmed that the WARNING is gone.

Generating hyperlink targets by info field lists is nice to me.

[2015-07-05 03:11] #1822 closed, assigned to nobody

[2015-07-06 06:29] movie4 commented on #1818
While you can use this css for example

[code]

[2015-07-06 14:10] uralbash opened #1952 ".. code-block:: jinja2 not highlighted if it contains func starting with "_""
For example:

It works fine.

[code]

But if I include {{ _ps('foo') }} it not highlighted.

[code]

[2015-07-07 08:41] sdybvik commented on #1867
I'm new to Sphinx (and Python). How do you install make? I believe that would be a workaround for this issue.

[2015-07-07 23:47] shimizukawa commented on #1867
Suggestion as workaround: http://sourceforge.net/projects/gnuwin32/files/make/3.81/ (or some other make.exe like MinGW, Cygwin, gnupack)

[2015-07-08 09:29] xmo-odoo opened #1953 "`html_translator_class` should be hooked via `Application.set_translator`"
[`config.html_translator_class`](http://sphinx-doc.org/config.html#confval-html_translator_class) is currently handled in `StandaloneHTMLBuilder` by simply setting the builder's translator to the provided class (and fallback on a default otherwise).

This is an issue when mixing up a custom HTML translator (set via `html_translator_class`) and domains creating new nodes to translate: `Sphinx.add_n

[2015-07-10 09:21] metashock commented on #776
I'm having the same problem. My documentation contains a lot of host names like www.foo.bar and I would like to be able to search for them. Can this getting added to the 1.3 and/or 1.4 milestone as well? I'm curious why the milestone 1.2.x is still open while the 1.3.1 version has already been released?

[2015-07-10 19:52] ostrokach commented on #1926
In case someone stumbles on this issue from google, I ended up using [yt](http://yt-project.org/) project's [`notebook_sphinxext`](https://bitbucket.org/ngoldbaum/yt-doc/src/tip/extensions/notebook_sphinxext.py) extension, which allows you to include notebooks in your sphinx documents using a simple command:

[code]

No need to run `ipython nbconvert` (required by `sphinx_ipynb`), and no need to c

[2015-07-10 21:34] shimizukawa commented on #776
Good point, I'll organize milestones.
The search behavior is currently by design; reclassifying as feature request.

[2015-07-10 21:43] shimizukawa commented on #993
Now close this issue. Please create another issue if you still have some problem.

[2015-07-10 21:43] #993 closed, assigned to nobody

[2015-07-10 21:45] shimizukawa commented on #971
Now close this issue. Please create another issue if you still need such feature.

[2015-07-10 21:45] #971 closed, assigned to nobody

[2015-07-10 21:53] shimizukawa commented on #843
As a workaround, you can use additional toctree directive with `:hidden:` option as:

[code]

This is currently by design. latex writer doesn't treat pages that doesn't belong to the tocree.

[2015-07-10 21:53] #843 closed, assigned to nobody

[2015-07-10 22:02] shimizukawa commented on #709
Now close this issue by aging. Please feel free to create another pull-request.

[2015-07-10 22:02] #709 closed, assigned to nobody

[2015-07-10 22:03] shimizukawa commented on #664
Now close this issue by aging. Please feel free to create another request.

[2015-07-10 22:03] #664 closed, assigned to nobody

[2015-07-10 22:09] shimizukawa commented on #631
Now close this issue by aging. Please feel free to create another request.

[2015-07-10 22:09] #631 closed, assigned to nobody

[2015-07-10 22:15] shimizukawa commented on #541
Since 1.3 release, Sphinx has a `:caption:` feature. Now close this issue. Please feel free to create another request.

[2015-07-10 22:15] #541 closed, assigned to nobody

[2015-07-10 22:19] shimizukawa commented on #401
Since 1.3 release, Sphinx has a [:numref:](http://sphinx-doc.org/markup/inline.html#role-numref) feature.

[2015-07-10 22:19] #401 closed, assigned to nobody

[2015-07-11 06:04] shimizukawa commented on #1948
Now I close this issue. Please feel free to reopen if there is more to discuss.

[2015-07-11 06:04] #1948 closed, assigned to nobody

[2015-07-11 06:20] shimizukawa commented on #1793
fixed by #1819

[2015-07-11 06:20] #1793 closed, assigned to shimizukawa

[2015-07-11 09:31] shimizukawa commented on #1780
#1866 has been merged.

[2015-07-11 09:31] #1780 closed, assigned to shimizukawa

[2015-07-11 13:10] metashock commented on #776
@shimizukawa I digged a bit around and could find out that changing [this line](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/search/__init__.py#L58) to

[code]

already made the search experience a lot better since terms like

[code]

will be found. The index was ~50% bigger - which was acceptable for my application.

---

However, this was just my first attempt, which fits for my appli

[2015-07-11 13:17] newbie2356 opened #1955 ":ref: :doc: :any: roles aren't working and information as to why isn't in the documentation"
Instead of a link appearing I just get the plaintext output coming straight out. I can't find the information in the documentation as to why this doesn't work. I'm reasonably certain :ref: :doc: :any: roles are built in sphinx functionality and not an extension (can't find any mention that they require an extension) so I can only determine that it's either a default configuration issue or a full o

[2015-07-11 22:24] evildmp opened #1956 "Default conf.py is not PEP8-compliant"
https://github.com/sphinx-doc/sphinx/blob/6b8f29bb45e3cda4cbd38727cc6726286b50db0e/sphinx/quickstart.py creates a `conf.py`, but it's not PEP8-compliant.

For example, commented-out lines should start with `#`, while https://github.com/sphinx-doc/sphinx/blob/6b8f29bb45e3cda4cbd38727cc6726286b50db0e/sphinx/quickstart.py#L90 imports shlex, which as far as I can tell is never used.

Would you accept

[2015-07-13 15:36] tushortz commented on #1540
I think you have toctrees in more than one document. TOCTREE should only be in the index.rst(main or parent) page

[2015-07-13 15:50] shimizukawa commented on #1540
@tushortz actually no. toctree directive avoid circular references, exclude latex builder. I think latex builder still has the issue.

[2015-07-13 16:25] tushortz commented on #1540
Well maybe you are right. I'm just a beginner on using sphinx and got
similar error and fixed it that way. It was searching the error I got this
link and thought I may be of help.

But yes hope it gets solved
On 13 Jul 2015 4:50 pm, "Takayuki SHIMIZUKAWA" notifications@github.com
wrote:

[2015-07-14 06:23] cbiffle commented on #1729
FYI, the temporary "solution" does not work for operators.

[2015-07-14 15:53] cbiffle opened #1958 "C++ indexing not super useful when everything's in a root namespace"
(Reported against Sphinx 1.3.1)

I really like Sphinx's automatic index generation.  Unfortunately, it's not uncommon for a C++ library's code to live inside a namespace -- and that makes the index less valuable, because it can't strip the common name prefix.

For example:
![screenshot of index with everything under E](https://cloud.githubusercontent.com/assets/45247/8677709/7e2030a2-2a05-11e5-8a9

[2015-07-14 16:31] jakobandersen commented on #1958
A `cpp_index_common_prefix` configuration variable should be easy to make, but probably it shouldn't be applied on the general index. When I find time I will try to make a C++ specific index instead.

[2015-07-14 18:30] cbiffle commented on #1958
A C++-specific index, analogous to the Python module index, would be _fantastic._  I agree that any namespace-stripping should apply to such an index.

Separately, I wonder if it would be useful to remove prefixes in the _text_ index also.  e.g. index the symbol "__cxxabi_pure_virtual" under both "_" and "C".  But I suppose that's a separate feature request.

[2015-07-14 19:41] mtreinish opened #1959 "Convert unicode to latex equivalents"
A lot of unicode symbol characters, like ✓, have built-in equivalents in latex symbols packages. So instead of adding the unicode to the document text you would use \checkmark and the appropriate package that provides it. The sphinx output generation should probably try to detect the usage of these characters (or a subset of them) in the rst and convert them to the latex equivalents.

If you try t

[2015-07-14 20:21] michaelaye commented on #825
Is this still being worked on? I'm also in the boat that learning another input language hinders my documentation efforts. Especially with all the nice cookiecutter projects that automatically setup things for  a new project, plus integration into readthedocs.org, it would be so cool if I could just start to write docs in Markdown.

[2015-07-14 20:48] cbiffle commented on #1729
Here are a few other cases I've encountered, for your consideration.

I'm writing my docs by hand, not using Breathe, in case you're curious.  (Doxygen chokes harder on my templates than Sphinx does; as noted below, I can kind of make the current Sphinx implementation do what I want.)

## Default template parameters

This works:

[code]

This doesn't:

[code]

Which probably makes sense, since you

[2015-07-15 06:39] mitya57 commented on #825
In Python-Markdown, we investigated if we could use the Docutils element tree, but it looks like it's not suitable for us. See the discussion in waylan/Python-Markdown#420.

[Here](https://github.com/sgenoud/remarkdown) is an attempt by someone else to create a Markdown parser for Docutils.

[2015-07-15 07:31] shimizukawa commented on #825
Please try:

[code]

conf.py

[code]

It's still limited, but usable.

[2015-07-15 14:11] slavkoja opened #1960 "copyong downloadable files output line"
When i do sphinx-build for html otput i can see (beside other):

[code]

The line (IMO) must be truncated to terminal width, because the line is wrapped by (my) terminal emulator and then it continues at the new line...

This problem with calculating of the line width is in another situations too: i often can see the lost ends of previous items, when the next are shorter. E.g.:

[code]

BTW, why t

[2015-07-16 06:56] lehmannro commented on #825
I think, in all honesty, Python-Markdown didn't do its due diligence and rejected Docutils too easily.  The mere existence of _other_ Markdown parsers for Docutils should have shown it _is_ indeed a fit.

[2015-07-16 21:55] lakshmi-kannan commented on #1486
Just to add, hyphentaed words like what-in-the-world aren't indexed either. Search returns nothing for hyphenated searches. I am seeing the same behavior as you for two words.

[2015-07-17 08:20] sehmaschine opened #1961 "Prefer existing label to generate HTML node ID when possible"
The HTML which is produced with labels before section is quite arbitrary. It sometimes works, but most of the time it doesn't.

Here's an example:

[code]

This should lead to:

[code]

But it actually produces this:

[code]

[2015-07-17 13:05] doerwalter commented on #973
Further info on this: The problem still exists with Sphinx 1.3.1. However it only happens on the Mac (with MacTeX 2013). On Linux it works as expected.

[2015-07-17 18:49] mitya57 commented on #1923
We are facing the same issue in sympy build: https://gist.github.com/mitya57/f43720cba9ab12b07d92.

[2015-07-21 09:28] birkenfeld opened #1962 "check for existing roles/directives when registering new ones from an extension"
From Peter Eastman on sphinx-users:
"""
It turns out Sphinx 1.3 introduced a new role called "numref", which is the same name the extension was using.  It then silently ignored the extension and created instances of its own node type rather than the extension's type.

Glad to have that figured out.  Could I make a feature request, though?  If an extension defines a role or directive with the same

[2015-07-21 10:43] #1962 closed, assigned to nobody

[2015-07-23 11:46] uchida commented on #1959
sphinx uses `inputenc` package with `utf8` option, so latex could treats input of characters like ✓.
However, to output these characters, use correct font encodings with `\usepackage[font encoding here]{fontenc}` is required.

If you simply want to replace ✓ with `\checkmark`, inserting the following will work:

[code]

And use XeLaTeX and unicode supported fonts instead of LaTeX also could be an

[2015-07-24 13:32] birkenfeld commented on #1829
The link now gives "not found". Does the problem still appear with current HEAD?

[2015-07-24 13:37] birkenfeld commented on #1961
I guess it is a little random which of the several IDs gets assigned as "id", and which is used as supplementary "id"s.

Is there a concrete problem with this behavior?

[2015-07-24 13:43] shimizukawa commented on #1961
Sphinx (docutils) uses label as a `id` preferentially if the label is provided.
In that sense, it's stable I think.

[2015-07-24 13:43] birkenfeld commented on #1960
I don't consider that a real problem; the output is supposed to be pretty but no special care is taken to get it 100% right. When you pipe to a file you'll get different output with every item on one line anyway.

I'll fix the display to be a relative path, though.

[2015-07-24 13:46] birkenfeld commented on #1959
The mapping of Unicode to LaTeX is maintained in sphinx/util/texescape.py - please feel free to add some symbols you need there and send a pull request.

[2015-07-24 13:48] birkenfeld commented on #1956
I'll fix the unused import; the different comment style is there to differentiate real comments from commented-out code that you can use.

[2015-07-24 13:48] #1956 closed, assigned to nobody

[2015-07-24 13:48] #1960 closed, assigned to nobody

[2015-07-24 13:50] birkenfeld commented on #1955
Thanks for the report! These roles should work "out of the box". You should get a warning if no target is found for `doc` and `ref`. Do you get these? Can you give an exampe what markup you are writing?

[2015-07-24 13:56] birkenfeld commented on #1930
Yes, this should go to docutils.

[2015-07-24 13:56] #1930 closed, assigned to nobody

[2015-07-24 14:07] birkenfeld commented on #1848
In 1.3, we've switched from `<tt>` to `<code>` tags. SymPy will have to adapt its CSS.

[2015-07-24 14:07] #1848 closed, assigned to nobody

[2015-07-24 14:33] #1871 closed, assigned to nobody

[2015-07-24 16:01] arunpersaud commented on #1829
Problem seems to have been fixed. Latest package in the build server builds correctly including executing all the tests.

[2015-07-24 18:16] debugger22 commented on #1848
Thanks Georg!
On Jul 24, 2015 7:37 PM, "Georg Brandl" notifications@github.com wrote:

[2015-07-24 18:50] #1840 closed, assigned to RobRuana

[2015-07-24 18:51] RobRuana commented on #1840
Note, because this is a bug I've committed the fix to both master and stable.

[2015-07-24 19:21] vkruoso opened #1965 ":orphan: is rendered during include"
I'm trying to mark pages as `:orphan:` so Sphinx doesn't complain that they're not in a toctree. The problem is when I have a file with `:orphan:` that is included using `.. include:: orphan_file.rst`. This causes Sphinx to render a `orphan:` text where the file was included.

Is looks like it should not happen. Any ideas?

[2015-07-24 21:27] shimizukawa commented on #1965
Please refer #1545

[2015-07-24 21:36] vkruoso commented on #1965
Sorry, I did my search only on the open issues. Please, fell free to close this one too.

Anyway, looks like it is docutils bug (or limitation). There is an issue in the docutils project for this (could no find one)? I've worked around this by adding the files to the `exclude_patterns` variable in `conf.py` configuration.

[2015-07-24 21:59] shimizukawa commented on #1965
Don't worry that, now I close this issue.
BTW, I also think it's a limitation of include directive. Actually I don't know there are some ticket for that or not. In my case, I use another file extension like `.inc` or `.txt` for that.

[2015-07-24 21:59] #1965 closed, assigned to nobody

[2015-07-25 04:28] newbie2356 commented on #1955
Hmm, after reading the documentation more closely, I noticed that it was a backtick ` not a single quote '

I was using single quotes 'like-this' and that was throwing the builder off. e.g. :ref:'banana' where I should have typed :ref:`banana`

Might I suggest adding a warning to the builder when single quotes are used after one of the link roles?

[2015-07-25 04:28] #1955 closed, assigned to nobody

[2015-07-25 07:24] birkenfeld commented on #1829
Great, thanks for the feedback!

[2015-07-25 07:24] #1829 closed, assigned to nobody

[2015-07-25 07:29] birkenfeld commented on #1955
Thanks for the feedback. It is not easy to recognize these kinds of markup error, so I'd rather not try and special case this one.

[2015-07-25 07:33] birkenfeld commented on #1949
Thanks for the report!

[2015-07-25 07:33] #1949 closed, assigned to nobody

[2015-07-25 07:39] birkenfeld commented on #1952
Thanks for the report, I've fixed this in Pygments (the highlighting library).

[2015-07-25 07:39] #1952 closed, assigned to nobody

[2015-07-25 07:57] birkenfeld commented on #1914
Thanks for the report! Could you attach the traceback file referred to in the traceback report?

[2015-07-25 09:50] birkenfeld commented on #911
I can't reproduce your example with Python 2.7 - I suppose it was fixed in Python since.

[2015-07-25 09:50] #911 closed, assigned to nobody

[2015-07-25 09:51] birkenfeld commented on #1945
And merged. Thanks Barry!

[2015-07-25 09:51] #1945 closed, assigned to nobody

[2015-07-25 09:52] eolo999 commented on #1782
Hi Andrea,
in conf.py there's a configuration dictionary called _latex_elements_ where you can set 'releasename' to an empty string.

This should solve your issue.

[2015-07-25 10:09] birkenfeld commented on #1915
Actually I think every source file should have an explicit encoding (in Python 2 - Python 3 has a sensible default of UTF-8); otherwise you're running into problems whenever you happen to need a non-ASCII char.

But you are right, there shouldn't be "pretty" quotes in the type string. I'll fix that.

[2015-07-25 10:51] #1909 closed, assigned to nobody

[2015-07-25 10:51] #1915 closed, assigned to nobody

[2015-07-25 11:09] birkenfeld commented on #1782
We've now updated the docs (thanks EuroPython sprinters!) to explicitly allow you to override 'releasename'.

[2015-07-25 11:09] #1782 closed, assigned to nobody

[2015-07-25 12:16] birkenfeld commented on #1893
As @xmo-odoo says, this would have to be handled in Pygments.

[2015-07-25 12:16] #1893 closed, assigned to nobody

[2015-07-25 12:21] vlasovskikh opened #1968 "Show PEP 484 type hints correctly"
Currently Sphinx outputs function annotations in a way that is not quite compatible with how PEP 484 type hints look like.

Here is a test Python module where I have identified some bugs in the visual representation of annotations generated by Sphinx:

[code]

[2015-07-25 14:31] tojon commented on #1893
@birkenfeld I see on [pygments](http://pygments.org/) it says you are the maintainer of that project. Are you aware of a bug reported already, or do you recommend I re-enter/cross-ref this issue there.

[2015-07-25 14:43] birkenfeld commented on #1893
Would be great if you could open an issue here: https://bitbucket.org/birkenfeld/pygments-main

[2015-07-25 14:45] birkenfeld commented on #1947
This is one of the cases where you'll have to use [tabularcolumns](http://sphinx-doc.org/markup/misc.html?highlight=tabularcol#directive-tabularcolumns).

[2015-07-25 14:45] #1947 closed, assigned to nobody

[2015-07-25 14:46] birkenfeld commented on #1895
Now tracked in #1969.

[2015-07-25 14:46] #1895 closed, assigned to nobody

[2015-07-25 14:52] birkenfeld commented on #1923
Thanks for the report. This should now be fixed if you set `latex_elements['babel']` to an empty string.

[2015-07-25 14:52] #1923 closed, assigned to nobody

[2015-07-25 14:54] birkenfeld commented on #1942
Thanks for the report!

[2015-07-25 14:54] #1942 closed, assigned to nobody

[2015-07-25 15:02] birkenfeld commented on #1887
This restriction is given by graphviz. I will add a note to the documentation that the name has to be quoted if it contains non-alphanumeric characters.

[2015-07-25 15:02] #1887 closed, assigned to nobody

[2015-07-25 15:05] birkenfeld commented on #1938
That is currently not implemented. You'd have to override the default index generation.

[2015-07-25 15:12] birkenfeld commented on #1903
Thanks for the report, this should now be fixed.

[2015-07-25 15:12] #1903 closed, assigned to nobody

[2015-07-25 15:16] birkenfeld commented on #1950
This is strange; processing the docstring should come before any processing is done.

Are you sure you are modifying the list of lines in place?

[2015-07-25 16:15] #1796 closed, assigned to shimizukawa

[2015-07-25 16:15] #1855 closed, assigned to shimizukawa

[2015-07-25 16:55] birkenfeld commented on #1868
There is some LaTeX handler code in the `djangodocs.py` extension. It might need to be adapted for Sphinx 1.3.

[2015-07-25 17:04] #1798 closed, assigned to nobody

[2015-07-25 17:17] ghost commented on #1923
@birkenfeld Awesome, thanks.  This really is most appreciated.

[2015-07-25 18:19] pmcguinn commented on #1923
Brilliant 😊

Sent from my Windows Phone

---

From: Roger Leighmailto:notifications@github.com
Sent: ‎25/‎07/‎2015 18:18
To: sphinx-doc/sphinxmailto:sphinx@noreply.github.com
Cc: Pearse McGuinnessmailto:pearse.mcguinness@accuris-networks.com
Subject: Re: [sphinx] XeLaTeX: Error using polyglossia instead of babel due to unconditional use of babel features (#1923)

@birkenfeldhttps://github.com/birk

[2015-07-26 17:06] AJ-Acevedo commented on #825
I'd be willing to contribute to a bounty on [Bountysource](http://bountysource.com) to get native markdown support in Sphinx.

[2015-07-27 03:37] bkowshik opened #1970 "Keyboard shortcuts to navigate Next and Previous topics"
While reading HTML pages build with Sphinx, it would be a nice feature to have keyboard shortcuts to navigate `Next` and `Previous` topics.

Thus, irrecpective of the Sphinx theme and placements of the `Next` and `Previous` buttons on the HTML page, keyboard shortcuts work on all Sphinx pages.

[2015-07-27 06:06] #1959 closed, assigned to nobody

[2015-07-27 06:08] birkenfeld commented on #1970
I agree, this would be nice.

[2015-07-27 07:52] codingjoe commented on #1950
@birkenfeld yes I am. I see the right output, but it doesn't render. Same if you use the inheritance graph. Doesn't render ether.

[2015-07-27 21:11] berendt opened #1972 "Auto-enumerated lists not working when including content based on tags"
Auto-enumerated lists (`#.`) are not working when including content based on tags (`.. only:: TAG`).

Let's have a look at the following example document:

[code]
# Result for `sphinx-build -t foo ...`:

[code]
## Expected result for `sphinx-build -t foo ...`:

[code]
# Result for `sphinx-build -t bar ...`:

[code]
## Expected result for `sphinx-build -t bar ...`:

[code]
# Result for `sphinx-buil

[2015-07-27 21:54] shimizukawa commented on #1972
In fact, `.. only::` directive doesn't match for such situation. Directives always create new paragraph block, it means that directives terminate the continuous processing of the immediately preceding.
It's a specification of docutils, so then there is no way to get the results as your expectations from sphinx side.

[2015-07-27 21:54] #1972 closed, assigned to nobody

[2015-07-27 22:03] berendt commented on #1972
Thanks for the fast reply and the clarification.

[2015-07-29 07:59] sehmaschine commented on #1961
@shimizukawa When you look at the example above, I think it's not quite true that the label is being used. That's exactly the problem.
@birkenfeld The main problem is that it's hard to reference the anchor. Sometimes it's the label, sometimes the section ID. It's completely arbitrary.

[2015-07-30 07:23] kkzhang opened #1973 "label work incorrect when mixing use of Chinese and English"
[code]

The anchor generated is `#IP`, which `faq-server-addr-changed` is expected.

If `IP` is removed from the header, everything works fine.

So, it seems a bug.

Sphinx version: 1.3.1

[2015-07-30 17:12] GFiedler-ADC opened #1974 "UnboundLocalError: local variable 'domain' referenced before assignment"
[code]

[2015-07-30 21:48] shimizukawa commented on #1974
Thanks for reporting!
A change a973daea418d361627040474c1924eb58d12280b is the cause.
We will fix it.

[2015-07-31 19:52] pditommaso commented on #1844
Same here. Actually version `Sphinx (sphinx-build) 1.3.1`

[2015-08-01 00:47] NoralK opened #1976 "Babel 2.0 issue with Python v3.4.3 on Windows"
On Windows with Python v3.4.3 I try to install Sphinx with:

[code]

During the install it installs [babel v2.0](https://github.com/mitsuhiko/babel/releases) released 5 days ago.  When I try to compile any documentation project I get the following:

[code]

However, if I uninstall babel v2.0 and install 1.3 then all is OK.

[code]

BTW on Python v2.7.10 on Windows babel v2.0 installs and does not

[2015-08-01 07:06] dave-yang opened #1977 "Python 3.4/Windows bug"
Seems like there's a bug when installing sphinx on Python 3.4 for Windows. I didn't touch any line of code, just followed the guide step by step. The problem, is that `sphinx-quickstart` works and generates a structure perfectly. But when calling `sphinx-build html` or `make html`, Python throws the following exception:

[code]

While everything works perfectly with Python 2.7.
I guess, there must

[2015-08-01 09:06] HJarausch opened #1978 "make doc fails for git-version"
make latexpdf
sphinx-build -b latex -d _build/doctrees   . _build/latex
Running Sphinx v1.3.1

Exception occurred:
  File "/Store2/Obj/Python/py-earth-git/pyearth/earth.py", line 1, in <module>
    from ._forward import ForwardPasser
ImportError: No module named 'pyearth._forward'

Many thanks for a hint,
Helmut

[2015-08-01 15:12] shimizukawa commented on #1725
The case of @ronanpaixao is fixed.

[2015-08-01 15:12] #1725 closed, assigned to shimizukawa

[2015-08-01 15:23] shimizukawa commented on #1978
It seems that the `_forward` is not importable.
Please check your environment, or please contact to py-earth author.
Thanks.

[2015-08-01 15:23] #1978 closed, assigned to nobody

[2015-08-01 15:25] shimizukawa commented on #1977
Thanks. Duplicated #1976.

[2015-08-01 15:25] #1977 closed, assigned to nobody

[2015-08-01 15:39] shimizukawa commented on #1976
It seems that the bug can be reproduced by:

[code]

Related issues are:
https://github.com/mitsuhiko/babel/issues/175
https://github.com/mitsuhiko/babel/issues/174

There is nothing to do from sphinx side.

[2015-08-01 15:39] #1976 closed, assigned to nobody

[2015-08-01 17:29] shimizukawa commented on #1961
@sehmaschine you are right. I retract my word.

I tried `rst2html` docutils command and it generates same output.
In my investigation, it seems that it's a specification of docutils. docutils uses such `label` as a reference target instead of implicit target. OTOH, docutils marks `section title` as a implicit target.

IMO, we shouldn't change the rule from sphinx side.

##

memo:

http://repo.or.c

[2015-08-01 17:30] shimizukawa commented on #1973
Duplicate: #1961

[2015-08-01 17:30] #1973 closed, assigned to nobody

[2015-08-02 09:41] urosjarc opened #1980 "Autodoc can't detect module variables"
Here is more information obout what is the source of my problems: http://stackoverflow.com/questions/31763600/why-sphinx-do-not-autodoc-module-variables

I joust cant make autodoc to recognize module variables auto. But if I add

[code]

It works.... But never for private or special members of module...
I joust can't make autodoc to recognize all module variables and list them in documentation...

[2015-08-03 03:48] NoralK commented on #1976
I would suggest putting something on http://sphinx-doc.org for known issues so people don't have to spend time hunting down solutions to known problems, especially since there is a fix.

[2015-08-03 14:14] LeoHuckvale opened #1981 "Make it possible to ignore output from doctest setup code"
I'm trying to structure a doctest as follows:

[code]

However, my setup code emits some output I don't care about (e.g. logging messages), and when I run doctests, I get:

[code]

The doctest fails on the setup and never reaches the `testcode` directive. It would be useful here to be able to ignore _all_ of the output from the setup code.

I've trawled through the sphinx documentation but can't f

[2015-08-04 09:57] lehmannro commented on #1981
Mmmmh, yeah, the culprit seems to be [sphinx.ext.doctest:363-380](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/doctest.py#L363-L380) which runs setup/cleanup like ordinary doctests with no expected output.

I think a simple solution would be adding `...` (`doctest.ELLIPSIS_MARKER` instead of `''` in line 366) as an expected output, maybe only if requested by a directive option to re

[2015-08-05 08:51] kkzhang commented on #1961
I stil think it is a bug.
I cann't explict set label name under some condition, it's rediculous. In my case, i want to generate a page for FAQ, which is full of Q&A, each of it should have a anchor to be referenced.

[2015-08-06 03:59] eflister commented on #1915
what about the dash (2nd linked example in OP)?

[2015-08-07 14:45] mr-raphael-martin opened #1982 "SPHINX and codepage 65001"
On windows platform (tested on Windows 2008 R2 server SP1) :
- Open **cmd.exe**
- Enter **chcp 65001** (i.e. Codepage for Unicode)
- Run **sphinx-build** on a SPHINX project

You will obtain the following **error**

[code]

[2015-08-08 06:04] shimizukawa commented on #1877
I'm not sure what happen on your environment.

Googling `make "is not a valid filename char"` indicates "The make program that emits such message is not support Gnu Make syntax."
To resolve this, you can use another make program that supports Gnu Make syntax.

For your information, I'm using make.exe that is contained in msys-1.0.

[code]

[2015-08-08 06:06] shimizukawa commented on #1877
I'm closing this ticket, however please feel free to reopen at any time if you catch a problem. Thanks!

[2015-08-08 06:06] #1877 closed, assigned to shimizukawa

[2015-08-09 08:43] shimizukawa opened #1983 "i18n translation feature breaks references which uses section name"
For example:

[code]

A user translates it by .po as:

[code]

Consequence of this, 'make html' emit `ERROR: Unknown target name: "Section Title".` and 2 references will be broken.

Original section name (reference target name) should be kept to refer from other nodes which is still not translated or uses explicit target name like "`text to display <explicit target name_>`_"..

[2015-08-09 12:09] #1540 closed, assigned to tk0miya

[2015-08-09 12:23] chris-morgan opened #1984 "primary_domain = None triggers a warning"
[From the `primary_domain` documentation](http://sphinx-doc.org/config.html#confval-primary_domain):

From a build of a project where I have set `primary_domain` to `None`:

Sphinx 1.3.1.

[2015-08-09 14:47] #1983 closed, assigned to shimizukawa

[2015-08-09 14:52] shimizukawa commented on #1984
@lehmannro please take a look.

[2015-08-10 04:32] NoralK opened #1985 "Image indexing"
If I add a figure and try to index it like this:

[code]

it does not get listed in the index properly but it is linkable and does take you to the image. The URL is incorrect and it is listed in the Index as `:numref:`oaktree``.  I would expect to see the caption "Oak Tree" or the figure's name.

The correct URL, from another :numref:, is - file:///E:/Projects/Combined/_build/html/Test.html#oaktre

[2015-08-10 05:39] NoralK opened #1986 "Title in PDF Output"
In my `conf.py` I am using `'fncychap': '\\usepackage[Sonny]{fncychap}'` for generating my PDFs.

My chapters are generating correctly:
![chapter](https://cloud.githubusercontent.com/assets/13447087/9159925/f767a3c8-3ee6-11e5-880f-dfdb12513de5.png)

However the index font is much smaller than the chapter:
![index](https://cloud.githubusercontent.com/assets/13447087/9159927/faabeb20-3ee6-11e5-891c-

[2015-08-10 05:41] NoralK opened #1987 "PDF output for :menuselection: and :guilabel:"
These get generated correctly in HTML:

[code]

but they are not underlined in the PDF output.

How can this be fixed?

[2015-08-10 06:45] mitya57 commented on #1191
With modern docutils (0.11 and newer), one can also use references instead of URLs, like:

[code]

This is a bit easier for translating.

[2015-08-10 06:51] shimizukawa commented on #1191
@mitya57 exactly!
I wrote several ref patterns at a3109f697647f as a testing of translation.
I'll write them include it suggested by you ;)

[2015-08-10 12:33] lehmannro commented on #1984
Will do, I think I had improvements for the configuration types in the pipeline anyways.  ETA ~4 weeks though.

[2015-08-10 18:41] NoralK opened #1988 "INFO: Error and Fix while installing Git branches"
I am getting this error when installing on Windows:

[code]

Again Babel 2.0 is the culprit.  I uninstalled babel 2.0 and reinstalled babel 1.3:

[code]

I really think something should be put in the Readme and on the web site.

[2015-08-10 19:00] NoralK opened #1989 "Make issue - stable branch"
I have installed the stable branch and every time I run `make html` or `make latexpdf` I get the options from `sphinx-build`.  Here is a sample from HTML:

[code]

Did something change or is this expected in this branch?

[2015-08-10 20:43] NoralK commented on #1986
This also happens if I remove and use the default fncychap.

[2015-08-10 20:48] NoralK commented on #1986
Also the table of contents is the same way.

![untitled](https://cloud.githubusercontent.com/assets/13447087/9183805/6767cb74-3f66-11e5-806e-52dba2a752d8.png)

[2015-08-10 21:14] NoralK opened #1990 "PDF generation "Contents" title"
When generating PDF output the Table of Contents title does not get updated to what I named it in the toctree:

[code]

This is the output:

![untitled](https://cloud.githubusercontent.com/assets/13447087/9184421/0d813308-3f6a-11e5-923c-4af6ec38a9d1.png)

How can this be fixed?

[2015-08-11 00:36] shimizukawa commented on #1989
Thanks for your reporting! I'll check it.

[2015-08-11 00:38] shimizukawa commented on #1988
Duplicates #1976

[2015-08-11 00:38] #1988 closed, assigned to nobody

[2015-08-11 04:47] NoralK commented on #1923
FYI - I just tested this using the "Stable" build and these lines are still present:

[code]

using this in the `conf.py`:

[code]

[2015-08-11 07:01] NoralK opened #1991 "Substitution issue"
I have the following markup:

[code]

I am getting the following error when I compile `make html` or `make latex`:

[code]

I would expect when I make latex then the html section would not be generated and when I make html the latex section would not be generated.

Any thoughts how to fix this?  BTW - I am using xelatex to generate the PDF.

[2015-08-11 16:31] Swader opened #1993 "Translated strings do not get replaced in files"
[This](http://tldrify.com/ara) is as far as I can get with the internationalization instructions. It seems my mo/po files aren't taken into account during this final build.

In `index.rst` I tried both: `Contents:` and `_('Contents:')`, and they show up as such in the final generated HTML even though their values are set in the po file. I always regenerate the mo files with `sphinx-intl build --lo

[2015-08-11 16:48] NoralK commented on #1993
I do not know if this will help but the graphic shows `-Dlanguage=` and you have `-D language=`.

[2015-08-11 16:53] Swader commented on #1993
No, that has no effect, thanks though.

[2015-08-11 18:04] Swader commented on #1993
Having further experimented, I've noticed that things DO work when using the very default setup - namely, not separating the source and build folders. I wonder if there's a way to get around that.

[2015-08-12 10:01] davidfraser commented on #1486
Also, it seems that the Japanese search does not have a `js_stemmer` defined, and so doesn't do word separation on the submitted searches...

[2015-08-13 04:48] #1968 closed, assigned to nobody

[2015-08-13 11:48] pinsardfr opened #1999 "cleaning all generated files"
Hi

I am using Sphinx v1.3.1 with autosummary extension (just awesome by the way).

I am wondering if the fact that all generated directorties are not removed by the "make clean" is a feature and why ...

Here a real case
[code]

Should'nt this ./source/pypago/generated be also deleted or produced
somewhere in _build directory (independant of a builder ?) instead ?

Regards

[2015-08-13 16:14] mitya57 commented on #1784
FWIW I have proposed a pull request to merge @shibukawa's generators into mainstream snowball, see snowballstem/snowball#24. This will allow Sphinx to use the original project's code, not the fork.

[2015-08-14 11:30] pinsardfr opened #2001 "autosummary with no default primary domain"
Hi

Using Sphinx v1.3.1 with autosummary extension

In my rst file

.. autosummary::
   :toctree: generated

   pypago.pypago_tonc

HTML build work fine. (all func, class, obj explicitly prefixed with :py:)

Because I won't to avoid ambiguity between some matlab and python homonyns,
I add  my conf.py
   primary_domain = "None"

I have this message
 ERROR: Unknown interpreted text role "obj"

What

[2015-08-14 12:52] mstimberg commented on #344
I think this issue is obsolete now, it has been fixed with the fix for issue #1444 and can therefore be closed.

[2015-08-14 13:01] TimKam opened #2002 "LaTeX: easier customization of header, footer and document beginning"
It would be great if the standard variables `HEADER`, `FOOTER` and `BEGIN_DOC` of `writers/latex.py` could be set in a fully customizable manner through the config file.

Would you accept a pull request for this?

[2015-08-16 05:12] garrison opened #2003 "Decode error under python2 (only) when `make linkcheck` is run"
We have recently run into a situation where `make linkcheck` fails (https://github.com/JuliaLang/julia/commit/354c730642346300c8eb5819b99e5d5e5aff729c#commitcomment-12365073) when it attempts to verify a page that contains `latin-1` bytes.  This only happens under python2; with python3 everything works as expected.

I made a small [test repository](https://github.com/garrison/sphinx-decode-testcas

[2015-08-16 19:28] llucax commented on #1595
Fixed in https://bitbucket.org/birkenfeld/sphinx-contrib/commits/f41632b346a569e2a6bcd0194ea491c2550ecf4d (Thanks Tony Narlock!)

[2015-08-17 07:14] jluttine opened #2005 "Extensions in virtual environment not found"
I have Sphinx=1.3.1 installed as a system package and some extensions (e.g., numpydoc) in my virtual environment (which also uses the system packages). Sphinx is not able to find the extensions that are in the virtual environment. However, if I installed Sphinx to the virtual environment, then it works. Also, importing the extensions in Python shell works.

The error I got:

[code]

[2015-08-17 08:10] shimizukawa commented on #2005
That is the correct behavior of the `virtualenv`.
`sphinx-build` command is invoked by System Python interpreter instead of virtual environment.

In such case, you can use alternative way.

`sphinx-quickstart` -> `python -m sphinx.quickstart`
`sphinx-build` ->  `python -m sphinx`

Please try it.

[2015-08-17 08:10] #2005 closed, assigned to nobody

[2015-08-17 08:16] jluttine commented on #2005
I think this could be fixed by replacing the shebang in `sphinx-build`:

[code]

with:

[code]

I tried this and it works. Why to force using System Python?

And thanks for your suggestion, that should also work nicely.

[2015-08-17 09:03] shimizukawa commented on #2005
Because you installed Sphinx by using system python.
`sphinx-build` script is generated by `pip` (or `easy_install`) instead of Sphinx.
So, there is nothing to do from Sphinx side.

IMO, if shebang is set as `#!/usr/bin/env python`, we can't invoke `/path/to/virtualenv/bin/sphinx-build` without virtualenv activation. Invocation scripts should bind to environment.
Unfortunately, I can't find any ar

[2015-08-17 09:09] jluttine commented on #2005
Ok, thanks!

[2015-08-17 17:14] NoralK commented on #1991
_Ping_

[2015-08-17 17:31] chadwhitacre opened #2006 "inline attribute comments are missing from output"
Inline attribute doc-comments (#431) were implemented in https://github.com/sphinx-doc/sphinx/commit/a63230f12d1f5af6de24a59ba12c17cc8943cdcd and are in [the Changelog](http://sphinx-doc.org/changes.html) under "Release 1.1 (Oct 9, 2011)." Over at https://github.com/rtfd/readthedocs.org/issues/632 we seem to be finding that under Sphinx 1.3.1 this feature has gone missing. Wherefore art thou, inli

[2015-08-17 20:07] i1abnrk opened #2007 "TemplateNotFound: default/layout.html"
I have a error building groonga from source on Ubuntu with sphinx install from pip as unprivileged user. Most of the doc built successfully but spit this error. There's a similar error reported for pdf but this involves html docs.

[code]

here's trace file:

[code]

[2015-08-18 02:45] shimizukawa commented on #1991
it's a current behavior of `only` directive (see also #1488).

`only` is a 'rendering control marker' at 'writing stage' instead of 'reading stage'.
Because of that, all definitions under `only` directive will be parsed at 'reading stage'.

So, to avoid this error, you can use custom sty file for latex to define unicode symbols (Although I'm not familiar to latex, it will work).

[2015-08-18 02:47] shimizukawa commented on #1842
You can't use `only` and `ifconfig` to make conditional sections.
It's a limitation of both directives.
See also #1488 for details.

[2015-08-18 02:47] #1842 closed, assigned to nobody

[2015-08-18 12:13] ghtmtt opened #2008 "latex figure_align doesn't work"
I'm working on a debian testing machine with python-sphinx 1.2.3 installed.
I needed to _fix_ the figure in the final _pdf_ file built with `make latexpdf`
So in the`conf.py`` file I added::

[code]

But it doesn't work. Figures in the `*.tex` file have **always** the **htbp** default options.

[2015-08-19 19:24] sonictk opened #2010 "Search suggestions when typing"
Is it possible to get Sphinx search to start showing suggestions for results when the user starts typing in the search box, like doxygen does? This would make navigating through the documentation for end-users a lot simpler.

I've tried looking around, but haven't been able to find much information and have never seen a Sphinx-documented project with this feature before, so I'm not sure if this is

[2015-08-19 23:22] johnthagen opened #2011 "Generated conf.py from sphinx tools should conform to PEP 8"
`Sphinx` tools such as `sphinx-quickstart` and `sphinx-apidoc` generate `Sphinx` projects.  Within this, they generate a boilerplate `conf.py` for the user.  The problem is that the generated `conf.py` comes with dozens needless PEP 8 violations.  If the user generates a `Sphinx` project this way and then runs `pep8` or `flake8`, by default these tools search recursively for `.py` files and will i

[2015-08-20 03:38] shimizukawa commented on #2011
Thanks, it seems duplicates to #1956 .

[2015-08-20 03:38] #2011 closed, assigned to nobody

[2015-08-21 05:23] tk0miya commented on #1990
Thank you for reporting!

[2015-08-21 05:23] #1990 closed, assigned to tk0miya

[2015-08-21 11:50] johnthagen commented on #2011
Sorry about that, tried to search for the issue before posting.  I might have missed it because the duplicate was already closed.

[2015-08-21 15:07] arafune opened #2012 "Exception occurred:"
[code]

[2015-08-21 18:19] NoralK commented on #1987
Ping

[2015-08-21 18:20] NoralK commented on #1985
_Ping_

[2015-08-22 03:41] tk0miya commented on #1985
The `index` directive does not expand inline markups (cf. roles, emphasis, and so on).
so `:numref:` role is ignored and put it on listing indecies as raw text.

In addition, `:numref:` will be replaced by figure number (cf. `Figure. 1`).
You should use `:ref:` role instead of `:numref:` to get caption text (but `index` directive ignores it too).

I think there is no simple way to put caption of f

[2015-08-22 03:52] tk0miya commented on #1987
I investigated about this problem.
The latex writer rendered `:guilabel:&Cancel` as `\emph{\DUspan{accelerator}{C}ancel}` in .tex file.

And then, latex expands it as `\emph{{\docutilsroleaccelerator C}ancel}`.
So if sphinx defines `\docutilsroleaccelerator` macro, it will be resolved.
but `\underline` requires text as argument. So I can't define the macro.
Can anyone fix this?

MEMO: I tested the

[2015-08-22 14:16] shirou commented on #1987
`DUspan` at [here](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/texinputs/sphinx.sty#L448), I think limiting scope and node content args are little bit diffcult to use.

Referencing `DUrole` of docutils.writer.latex2e at [here](http://repo.or.cz/w/docutils.git/blob/HEAD:/docutils/docutils/writers/latex2e/__init__.py#l555),  I changed DUspan to

[code]

and then define docutilsroleaccele

[2015-08-23 06:01] NoralK opened #2013 "Enhancement for glossary::"
I would like to see a directive added to  `.. glossary::` called `:columns: #`, where a sample # would be 2.

In HTML the `<dl class="glossary docutils">` would simply need something like:
`style='-webkit-column-count: 2; -moz-column-count: 2; column-count: 2;'`.  I suggest a style over a class for the simple reason people may want their "Glossary" single column, "Acronyms" three columns and "Abbr

[2015-08-23 11:55] nemesifier commented on #1907
I also incurred in this issue. Are the commits pushed to openstack useful?

[2015-08-23 12:09] PowerKiKi commented on #1907
I don't think so. It seems to be a workaround on a non-related project unfortunately

[2015-08-26 02:43] ideasman42 commented on #1976
Is there any information on what regular users (not Python experts) should do to resolve?
We had 2 users run into this recently: https://developer.blender.org/T45908

Even after reading over these reports, am not sure what to tell others exactly...
downgrade babel? upgrade since its now marked as fixed?

[2015-08-26 02:49] shimizukawa commented on #1976
In any case, you can install with avoiding babel issue by this installation command:

[code]

[2015-08-26 13:29] colin4124 opened #2015 "sphinx-quickstart finished " core dumped " error"
When sphinx-quickstart finished, it errors: [1]    17316 abort (core dumped)  sphinx-quickstart.  Does it matter? if so, how to sovle it ?  Environment is win7， babun windows shell base on cygwin.

[code]

[2015-08-27 06:37] shimizukawa commented on #2015
Which versions combination are you use? (cygwin, sphinx, python, and other sphinx related libraries that can be listed by `pip freeze`)
Please try isolating the problem by versions.

[2015-08-27 06:47] shimizukawa commented on #2012
I guess you've set custom `numfig_format` in conf.py and the string value doesn't have `%s` placeholder.
Please check it.

[2015-08-27 06:51] shimizukawa commented on #2012
@tk0miya could you implement friendly error message for illegal `numfig_format`?

[2015-08-27 11:56] colin4124 commented on #2015
Sphinx (sphinx-build) 1.3.1
Python 2.7.8 (default, Jul 28 2014, 01:34:03)
alabaster==0.7.6
Babel==2.0
docutils==0.12
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
pytz==2015.4
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-bootstrap-theme==0.4.7
sphinx-rtd-theme==0.1.8
wheel==0.24.0

[2015-08-27 12:00] colin4124 commented on #2015
CYGWIN_NT-6.1 think-PC 1.7.35(0.287/5/3) 2015-03-04 12:07 i686 Cygwin

[2015-08-27 12:26] shimizukawa commented on #2015
Please try `pip install "babel<2.0"`

[2015-08-28 01:50] colin4124 commented on #2015
It does not work.

[code]

There still is "python2.7.exe.stackdump" in the  source directory:

[code]

[2015-08-28 13:39] shimizukawa commented on #2015
Thanks for trying.
I guess the problem doesn't depend on Sphinx code.
So, I have no idea how to resolve it.

[2015-08-29 02:52] #2015 closed, assigned to nobody

[2015-08-29 02:53] colin4124 commented on #2015
thinks very much

[2015-08-31 06:04] Swader commented on #701
+1 for relative links in toctree. Sometimes I have custom named anchors in text I want to link to from the toctree, but they don't auto-render because they're not headings, and putting headings near them would severely uglify the documentation.

[2015-08-31 07:20] huaiweicheng opened #2017 "Is there a way to put image in a section title?"
Seeking for help~ Thanks buddies.

[2015-08-31 07:28] shimizukawa commented on #2017
I don't understand what you want to know, but using `.. image::` directive puts image in your document.

[2015-08-31 07:37] huaiweicheng commented on #2017
I wanna the effect such as this. Images follow text in the same line. Is that supported by sphinx?

![image](https://cloud.githubusercontent.com/assets/4011117/9574093/ef76a978-4ff5-11e5-8062-5ec9c8b11958.png)

[2015-08-31 07:45] shimizukawa commented on #2017
OK. In theory, you can use substitution (not tested).
http://docutils.sourceforge.net/docs/user/rst/quickref.html#substitution-references-and-definitions

e.g.

[code]

[2015-08-31 07:52] huaiweicheng commented on #2017
It works fine! Nice try! Many thanks.

[2015-08-31 08:10] shimizukawa commented on #2017
:smile:

[2015-08-31 08:10] #2017 closed, assigned to nobody

[2015-08-31 13:34] andreacassioli opened #2018 "ROI : html logo link to user specify URL"
It would be nice to be able to specify a URL the LOGO in HTML should point to. This has been posted already on the G group:

https://groups.google.com/forum/#!searchin/sphinx-users/html$20logo/sphinx-users/O4fHXX4b3wo/fkRpLmKFS1wJ

and a workaround proposed. But I guess it would be a natural option to provide.

[2015-08-31 14:03] waywardmonkeys opened #2019 "Search result entries don't HTML escape names?"
When we do a search in our docs, things that contain `<>&` aren't HTML escaped as far as I can tell. I ended up doing this temporarily in our domain's `get_objects` method, but I'm not sure that that is the correct fix for this.

[2015-08-31 15:35] tk0miya commented on #1987
@shirou Thank you for advice.
Finally, I fixed this bug without through `DUspan`.

[2015-08-31 15:35] #1987 closed, assigned to tk0miya

[2015-08-31 15:38] minchinweb commented on #1820
Came across the same issue today -- Windows 10, Python 3.4.3, Sphinx 1.3.1.

Oddly, the bolded text seems to work, but the coloured text doesn't.

![sphinx-quickstart 8312015 93228 am](https://cloud.githubusercontent.com/assets/1548809/9582633/db741ca8-4fc3-11e5-8866-f9683ea725dd.png)

[2015-08-31 17:09] minchinweb commented on #1976
I just spent all morning trying to figure out why sphinx stopped working. Can the `setup.py` file be updated such that babel 2.0 isn't installed. So:

`babel<=1.3,>2.0`

Thanks!

[2015-08-31 17:12] NoralK commented on #1976
I am in complete agreement!

[2015-08-31 17:17] NoralK commented on #1987
Awesome - I just verified with the Stable build

Thank you

[2015-08-31 17:41] NoralK commented on #1985
Is this a Sphinx issue or reStructuredText issue?

[2015-08-31 17:42] NoralK commented on #1986
_Ping_

[2015-09-01 08:55] jakobandersen opened #2020 "`make check` fails on `typing_test_data.py`"
When I run `make check` I get the following error:

[code]

Should `typing_test_data.py` be excluded from `utils/check_sources.py`?

[2015-09-01 09:09] shimizukawa commented on #2020
It seems it works only with python3.
IMO, `typing_test_data.py` should be excluded on py2 environment and py3 environment without typing package.

@vlasovskikh how do you think?

[2015-09-01 09:45] tk0miya commented on #2020
I got same error through `tox` command with python2.7 in `master` branch (it seems `stable` branch is fine).
And I give `-- -d -m '^[tT]est'` options to `tox` command, it just resolved.

@shimizukawa I hope my case will help you.

[2015-09-01 11:08] vlasovskikh commented on #2020
@shimizukawa The `check_syntax` checker tries to compile its argument if it's Python 2. The `typing_test_data.py` file has to use Python 3 syntax, so it should be excluded somehow. For example, in `tests/tests_autodoc.py` in `test_type_hints` I use a conditional import and skip the test if the import fails. In the case of `make check` it's preferable to drop just this one check, but the only way I

[2015-09-01 15:53] carlos-jenkins opened #2021 "autosummary ignores __all__ for modules"
I'm having an issue where in `module.rst` template I do the following:

[code]

But some imported object are not being filtered out. I checked the implementation:

https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/autosummary/generate.py#L167

And this function is not considering the `__all__` attribute for modules to determine the public objects.

The main issue is because I tried the f

[2015-09-01 20:49] josephcslater opened #2022 ".htaccess not being copied along with other files."
html_extra_path brings in all of my other files, but neglects .htaccess for whatever reason.

[2015-09-01 23:49] mikanbako commented on #1820
This cause of issue on Windows may be a bug of Python 3.4.

colorama wraps sys.stdout for colored prompt but Python 3.4 does not wrap sys.stdout in input().
See [Issue24402](http://bugs.python.org/issue24402) for detail.

[2015-09-02 09:13] paulmelis opened #2023 "Dutch search support uses Danish stemming info"
For some reason sphinx/search/nl.py contains Danish stopwords, instead of Dutch stopwords. This should be easy to fix using http://snowball.tartarus.org/algorithms/dutch/stop.txt

[2015-09-02 10:43] jnothman opened #2024 "Autodoc may overwrite where functions and classes with different case exist"
It's possible to have a function and a class in the same module whose names differ only in their case. In fact, scikit-learn includes a few:
- `sklearn.cluster.DBSCAN` vs `sklearn.cluster.dbscan`
- `sklearn.covariance.OAS` vs `sklearn.covariance.OAS`
- `sklearn.decomposition.FastICA` vs `sklearn.decomposition.fastica`

Corresponding files are generated by autodoc and the handling of their differen

[2015-09-02 11:53] andreacassioli opened #2025 "extending reference label"
I was wondering whether it would be possible and/or commonly useful to extend the reference system as follow: labels may accept a text to be used in order to override section title and in case define arbitrary entry point. For instance, say I want to jump to  a bullet list, I may do

[code]

In the text I only need to say :ref:`bullet_list`. I can imagine the same with rubric. That would also make

[2015-09-06 13:39] #1314 closed, assigned to nobody

[2015-09-06 13:39] #1729 closed, assigned to nobody

[2015-09-06 13:41] jakobandersen commented on #1314
A declaration can be split over multiple lines by escaping the line break. For example:

[code]

Each line of template parameter lists should be rendered on their own line.

[2015-09-07 10:15] andreacassioli opened #2026 "parsed-literal with links and latex"
Hi,
I am struggling to use parsed-literal with links in Sphinx 1.3.1+. The following simple code

[code]

'
It works nicely with the html writer. But with the latex writer it generates the following tex.

[code]

This does not seems to be working with pdflatex:

[code]

Any clue? It seems to me that removing the link works.

[2015-09-07 12:00] gregmuellegger opened #2027 "epub build fails if epub_title=None"
The config value for `epub_title` defaults to the value set in `html_title`. In a fresh sphinx project created with `sphinx-quickstart`, there is no `html_title` set, but there is the following comment next to it:

[code]

So it even suggests setting it to `None`. When doing so the html build still works but the epub build fails with the following exception:

[code]

I assume that the `epub_title`

[2015-09-07 13:17] aktech opened #2028 "sphinx: make html fails Exception Occurred"
[code]

[2015-09-08 07:04] QuLogic commented on #2028
A `ur` prefix is not valid in Python 3. It's a bug in the `ext/numpydoc.py` (from `sympy`.) If `sympy` didn't ship its own copy, maybe it wouldn't be out of date.

[2015-09-08 07:29] andreacassioli opened #2029 "ROI: strip lines in literalinclude"
Hi,
I have greatly appreciated the improvements in `code-block` and `literalinclude`. I think there is still a functionality that would be nice to add.

I think that it should be given an option to strip out lines containing a given string, pretty much the `:start-after` option does. It would allow for instance to remove special comments we do not want to enter the docs.

My use case is the follow

[2015-09-08 16:21] asmeurer commented on #2028
This isn't a bug in Sphinx. SymPy ships an old version of numpydoc (in `ext`).

[2015-09-08 16:22] #2028 closed, assigned to nobody

[2015-09-09 09:35] andreacassioli opened #2030 "ROI: extend dedent for code-block and literalinclude"
Hi,
I think it would be nice to let `:dedent:` behave like the corresponding Python one:

https://docs.python.org/2/library/textwrap.html#textwrap.dedent

It may just that if nod edent value is provided, then a full dedent is performed.

[2015-09-10 04:17] Laufire commented on #701
+1.

Edit: Later, I found that the entries in the toctree-s **are not file paths, but names of documents**. So relative includes might not be possible here (as those aren't file paths). We need to create a separate document (an RST file inside the docs dir), to hold the contents, which need to be indexed. And include the name of the document in a toctree.

**Example:**

In **new_doc.rst**:

[code]

[2015-09-10 09:34] Swader commented on #701
I have solved this issue [with a workaround using a custom role and CSS](http://stackoverflow.com/a/32363545/504357). Described in detail [here](http://www.sitepoint.com/fast-multi-language-docs-with-sitepoints-rtdsphinx-php).

[2015-09-11 07:27] huaiweicheng opened #2032 ":image target support opening url in a new tab?"
In the url below, the browser will go to the url directly when click
![image](https://cloud.githubusercontent.com/assets/4011117/9809298/8bcf0904-5899-11e5-87e4-0de699d8452c.png)?
Does it support opening the url in new tab ?

http://rest-sphinx-memo.readthedocs.org/en/latest/ReST.html#image-and-figure

Many thanks!

[2015-09-11 08:08] shimizukawa commented on #2032
For now I have no plan to support the feature.
There is a discussion: #1634

[2015-09-11 08:15] huaiweicheng commented on #2032
Thanks all the same. ^-^

[2015-09-11 08:16] #2032 closed, assigned to nobody

[2015-09-11 12:07] andreacassioli opened #2034 "broken links using numref and literalinclude"
Look at the following code:

[code]

Running the html builder I get the right listing header and download link. But the link from `numref` is wrong: it only shows the link label, as the link had not been recognized.

Sphinx generate the following warning

[code]

But would assume that text in `only` is evaluated only if the condition is true. And in my case it is.

Any clue??

[2015-09-11 13:59] silvester747 commented on #1641
I recently stumbled upon this exact issue in pyglet. It took me quite a while to figure out what was going wrong, as the error output is very cryptic. I ended up modifying pgen2/parse.py to figure out what it was.

For me the first time it results in a fatal error, then if I run sphinx again it will succeed. It would be helpful to at least output the name of the file causing trouble. Currently all

[2015-09-11 14:11] silvester747 commented on #1641
The workaround does not work for me. It actually now fails in the workaround code:

[code]

Note that this is with -vv and some extra traceback prints from me, as even -vvv did not give any information on what actually failed.

[2015-09-11 16:31] jrkerns opened #2036 "Napoleon: numpy array class attr"
I'm using python 3 and sphinx 1.3 w/ napoleon and if I use the new `sphinx.ext.napoleon` my `make html` build breaks for classes with numpy array class attributes. [class example](https://gist.github.com/jrkerns/aa19bb48ce8f2e7f7ee8)
Exception:
`Exception occurred:
  File "D:\Python\Miniconda3\lib\site-packages\sphinx\ext\napoleon\__init__.py", line 362, in _skip_member
    cls_path, _, _ = qualna

[2015-09-11 17:24] RobRuana commented on #2036
Thanks for the report! I'll take a look

[2015-09-13 01:41] shimizukawa commented on #1985
IMO, it's a specification of Sphinx.

[2015-09-13 03:13] #2020 closed, assigned to nobody

[2015-09-13 03:16] shimizukawa commented on #2020
@tk0miya I've fixed it at 5b7ce8d.
@vlasovskikh Thanks, I disabled check for typing_test_data.py.

[2015-09-13 13:28] shimizukawa commented on #1985
Now I'll close this issue.

[2015-09-13 13:28] #1985 closed, assigned to nobody

[2015-09-13 14:00] ClodoaldoPinto opened #2037 "Sphinx HTML builder renders unnecessary script tags"
The `Sphinx` HTML builder renders script tags which are in my case unnecessary:

[code]

They add considerable lag to the page load. Is there a way to prevent the builder from rendering these tags?

This is how it is done in the layout.html template from the basic theme:

[code]

It is hard coded in the `StandaloneHTMLBuilder(Builder)` class:

[code]

[2015-09-14 07:34] andreacassioli commented on #2030
Hi,
assuming to pass the _unsplitted_ code, I guess we could think to modify

[code]

with

[code]

In this way
- using `:dedent:` equals to `-1` we obtain a maximal dedent
- we do nothing if `:dedent:` is 0 or not passed, saving time
- we dedent using standard Python without the need to know how many spaces must be remove.

[2015-09-14 21:48] ericholscher opened #2038 "Way to tell if a builder produces HTML"
Currently there is lots of code that has to guess if a builder produces HTML, PDF, or other output. A lot of stuff does things like `if 'html' in builder.name` or other quite fragile code. The builders should accept an attribute that tells what the type of output that it produces is, and we should document this as the canonical way to tell if a specific builder if HTML, PDF, etc. Depending on buil