[2015-09-15 01:17] ericholscher commented on #2038
Ah, I see a format on Sphinx Builder's: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/html.py#L69

Perhaps this should be documented?

[2015-09-15 01:20] shimizukawa commented on #2038
+1.
http://sphinx-doc.org/builders.html indicates `name` and `supported_image_types` field. We should indicate `format` too.

[2015-09-15 01:29] shimizukawa commented on #2038
Done! http://sphinx-doc.org/builders.html

[2015-09-15 10:09] LeoHuckvale opened #2039 "Add all options to "build_sphinx" distutils command"
I'm trying to set up a CI/Jenkins job which builds my Sphinx documentation, but I want it to fail when Sphinx reports errors. Please see related StackOverflow question: http://stackoverflow.com/questions/32526150/how-to-deliberately-fail-a-sphinx-build-when-autodoc-fails-an-import

I could do this with the '-W' option in the sphinx-build console script, but it seemed more natural to use 'python se

[2015-09-15 11:36] bjodah opened #2040 "UnicodeDecodeError in shpinx-apidoc when author contains non-ascii characters"
See below:

[code]

[2015-09-15 12:35] jayvdb opened #2041 "docutils errors do not cause a Sphinx error with a non-zero exit code"
If there are errors emitted by docutils, they appear in the Sphinx output as "....: ERROR: ...." but they are not treated as a Sphinx error unless `-W` is enabled.

The workaround is to create `docutils.conf` with

[code]

[2015-09-15 16:27] dokato opened #2042 "autodoc_member_order doesn't work when using six"
Hi, today I was fighting with `autodoc_member_order = 'bysource'` which wasn't working only in one file. After few tries I realized that the problem had started to occur after migration to python3. I used `python-modernize` which changed my abstract class definition to:

[code]

and that line switches off autodoc_member_order, but I don't know why.
I'm using sphinx 1.3, python 2.7.2 and my repo is

[2015-09-15 16:41] ericholscher commented on #2038
Great, thanks :)

On Mon, Sep 14, 2015 at 6:29 PM, Takayuki SHIMIZUKAWA <
notifications@github.com> wrote:

##

Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2015-09-15 16:43] ericholscher opened #2043 "Document how to access metadata"
This section mentions that things are included in "file wide metadata" http://sphinx-doc.org/markup/misc.html#file-wide-metadata -- However, you are never told how to actually _access_ the data in an extension, etc. Is this on `env.meta` or something equivalent?

[2015-09-15 19:09] jseabold opened #2044 "None by by default for instance attributes?"
When I'm included docstrings for instance attributes in the `__init__` of a class then using autoclass, I always end up with

[code]

due to this line

https://github.com/sphinx-doc/sphinx/blob/add4c2467d9f98cadadff51593ca1727b4a81ca1/sphinx/ext/autodoc.py#L1465

Is there a use case for documenting the `= None`. Can it just always be suppressed? There's no way right now to pass a `annotation` opti

[2015-09-17 19:44] tkelman commented on #2003
Anything we can do to help triage, diagnose, and/or fix this any faster?

[2015-09-18 04:57] rtaib commented on #1837
I'm also very grateful for all your work on Napoleon, and while I get your point about having `rst` todos stand out more, I think I'd rather see them supported similarly to warnings or notes.

[2015-09-18 17:08] NucleaPeon opened #2046 "__import__ always raises ImportError, (building sphinx and running sphinx-apidoc)"
I first discovered what I think is a bug when attempting to run `sphinx-apidoc` on a test python project I created. It looks like this:

[code]

Each file had at least one docstring in it. I ran `sphinx-apidoc -F -o docs/ project/` to create the documentation.
This is my stack trace:

[code]

When I run my `python3.4` interpreter, I can import my modules just fine. I also have a `sys.path.insert()

[2015-09-18 17:25] NucleaPeon commented on #2046
Weird, `__import__()` also works in my interpreter, but fails when making sphinx....
OK, scratch that, `importlib` does not work either.

My hunch is that sphinx is still strongly based in the `python2` way of doing things which is causing me issue as my modules and code are `python3`.

[2015-09-18 17:31] NucleaPeon commented on #2046
I changed the top of the Makefile, line `PYTHON ?= python` to `PYTHON ?= python3.4` and now it fails on this:

[code]

`cStringIO` was removed in python3, so it looks like sphinx is just not python3 compatible yet...

[2015-09-18 18:33] birkenfeld commented on #2046
`project` is not a module/package and therefore cannot be imported if it doesn't have a `__init__.py`.

That `check_sources.py` is not Python 3 compatible is a red herring; it's a little used script that only checks superficial things. I just fixed it. The test suite is run with `make test`.

[2015-09-19 15:02] arafune commented on #2012
Thank you for your answer.  I have checked my conf.py and found no
numfig_format was set, unfortunately.

Please see the attached file of conf.py.

Can you identify the problematic points?

Ryuichi Arafune

2015-08-27 15:47 GMT+09:00 Takayuki SHIMIZUKAWA notifications@github.com:

[2015-09-20 05:21] shimizukawa commented on #2012
github issue cant' have attach files.
Please paste contents of conf.py as a issue comment.

[2015-09-20 07:13] arafune commented on #2012
The below is just my conf.py file.  Thank you in advance.

[code]

Ryuichi Arafune

2015-09-20 14:21 GMT+09:00 Takayuki SHIMIZUKAWA notifications@github.com:

[2015-09-20 11:07] ssokolow opened #2047 "Table column width is mis-calculated for `make latexpdf` with fix for issue #1522"
In Sphinx 1.2.2, my tables render perfectly aside from the duplicated footnote bug mentioned in issue #1522. However, with later _or earlier_ versions of `tabulary.sty` that fix the duplicated footnote bug, the table is forced to 100% width and the left-hand column is given an unacceptably tight word-wrap despite there being plenty of room.

See this comparison:
![tabulary_bug](https://cloud.githu

[2015-09-21 12:00] andreacassioli opened #2048 "caption makes digraph crash"
Hi,
I have been trying to add a caption to a digraph as follow:

[code]

Following the Sphinx docs, it seems legitimate:

http://sphinx-doc.org/ext/graphviz.html#directive-digraph

I have tried the other graphviz command, but nothing change. I am running Sphinx 1.3.1.

but I only get the following:

[code]

[2015-09-21 16:30] Callek opened #2049 "Official Sphinx Docs on readthedocs are still using bitbucket"
I noticed this from

https://bitbucket.org/birkenfeld/sphinx/src/default/doc/devguide.rst which is using bitbucket for issues, despite the move.

Then clicking "edit" from the template brings me to: https://bitbucket.org/birkenfeld/sphinx/src/default/doc/devguide.rst which indicates that read the docs is building from bitbucket not github...

[2015-09-22 00:15] shimizukawa commented on #2012
Hum, I can't reproduce the problem as you mentioned.
Please create and paste a smallest sample of sphinx project to reproduce it.

[2015-09-22 00:38] shimizukawa commented on #2049
Thanks for informing it!
https://readthedocs.org/projects/sphinx/ is dismissed in last several months.

@birkenfeld please give me (`shimizukawa` on rtd) a management permission for it (or remove it).

[2015-09-22 00:40] shimizukawa commented on #2048
Duplicates #1788. Thanks!

[2015-09-22 00:40] #2048 closed, assigned to nobody

[2015-09-22 05:47] birkenfeld commented on #2049
Done!

[2015-09-22 13:44] shimizukawa commented on #2049
Thanks!

Now close this issue.

[2015-09-22 13:44] #2049 closed, assigned to shimizukawa

[2015-09-23 13:24] andreacassioli commented on #2025
Any comments? Would be it possible?

[2015-09-23 22:03] mikofski commented on #759
Another alternative that would be nice and might work easily is to allow the user to specify the value of an argument instead of the entire signature.
- Unspecified arguments would be parsed by sphinx as usually.
- Only the specified arguments would be annotated differently.
- Omitting `:annotation:` would remove `myarg` from the signature so that it didn't show up at all as an interesting for sec

[2015-09-23 23:19] Marrin opened #2050 "Two sections called Symbols in index"
When using index entries with the following leading characters: _@_, _£_, and _←_ I get two sections called _Symbols_ in the HTML output, the first containing all _@_ entries before ”normal” words and the second containing _£_ and _←_ entries after the ”normal” words.  Both have the same anchor in HTML so the links at the top of the index page contain two _Symbols_ links, one before the letters an

[2015-09-24 10:47] arafune commented on #2012
I have found the wrong point.  You changed the format about the :numref: a
little bit.  I can fix the point by changing rst file.
So you don't worry about the point that the new user doesn't meet the
problem I met.

Sorry about bothering you.
Regards,

Ryuichi Arafune

2015-09-22 9:15 GMT+09:00 Takayuki SHIMIZUKAWA notifications@github.com:

[2015-09-24 10:54] shimizukawa commented on #2012
Good to know :)

[2015-09-24 10:54] #2012 closed, assigned to shimizukawa

[2015-09-24 11:24] arafune opened #2051 "Problem about treating tilda in latexpdfja translation"
When my rest file contains the lines below

.. code-block:: bash
  :linenos:

  #! /bin/bash
  BIN=˜/bin/a.out
  rm WAVE
  for i in 3.5 3.6 3.7 3.8 3.9 4.0 4.1 4.2 4.3 ; do
  cat >POST <<!
  .
  .
  .,
the html output is good.  But the latexpdfja (at least latexpdfja, i have not tested latex nor latexpdf)  is very bad, because it shows:

  #! /bin/bash
  BIN=^^cb^^9c/bin/a.out
  ….

I mean the tra

[2015-09-25 09:42] cosminbasca opened #2052 "different themes for parts of the doctree (html)"
Hi All,

I was wondering if it is possible to have a different theme (or altered theme) for parts of the source tree. For example consider this standard layout:

[code]

Is this possible? If yes, how? An extension? or subprojects? Ideally I would like a setup that can be handled by readthedocs.org (from a github repo)
Any suggestions are much appreciated!

Cheers,
Cosmin

[2015-09-25 11:27] cosminbasca commented on #2052
I found a solution. Create a custom extension which is registered on the **html-page-context** event. in there one can modify the context and replace any parameters necessary for the given file. Perhaps there is a better way?

Cheers,
Cosmin

[2015-09-27 00:54] shimizukawa commented on #1820
This problem has been fixed at https://github.com/tartley/colorama/issues/48. please wait next version of colorama (maybe 0.3.4).

[2015-09-27 05:08] shimizukawa commented on #2052
I think, there is no way to use different html theme for a part of pages.
Does your method work well?

[2015-09-27 06:41] cosminbasca commented on #2052
My solution is definitely not generalisable, and only works with the sphinx bootstrap theme [1]. The theme is extensible and accepts the "bootswatch_css_custom" extra parameter where one can pass the path to a css file (I use a static css in my case). This works well for my use case, where a given subtree of the sorce tree (say all files under \doc1 in my example from before) are now rendered usin

[2015-09-27 20:09] funkyfuture opened #2054 "[intersphinx] support request: Referencing a class from a specific resource"
I have set up an Intersphinx-mapping for the documentations of Python 2 and Python 3:

[code]

How can I reference a class from a specific of these two resources? The documentation only mentions `:ref:`erences and these two attempts do not work:

[code]

While this generates an expected link:

[code]

[2015-09-28 13:17] andreacassioli commented on #2029
I am surprise nobody commented.

I think this is a quite general feature. For instance one may have
- comments that do not want to show
- remove empty  lines

A simple final strip would be very handy.

[2015-09-28 15:22] mikanbako commented on #1820
I installed colorama on master branch and ran sphinx-quickstart on cmd (on Windows 8.1 and Python 3.4.3) but this problem is not fixed. Because my cmd does not set TERM when I reported this issue.

But when I installed [pyreadline](https://pypi.python.org/pypi/pyreadline) and colorama 0.3.3 (on PyPI), this problem is fixed.

[2015-09-28 23:53] Rapptz opened #2057 "Unable to reference templated declarations in C++ domain."
Some version info:

[code]

So given a templated function:

[code]

The ability to reference it seems to be unavailable. I have tried:

[code]

But neither work.

This is also true for anything else I've tried, like:

[code]

The corresponding (and documented)

[code]

does not work.

I am also not sure how to reference functions or classes with variadic templates.

[2015-09-29 02:01] jakobandersen commented on #2057
I didn't get around to update the docs for cross referencing templates, so it's somewhat misleading at the moment.
For your example I think the behaviour is correct: there is no indication that `T` in the cross reference is actually a template parameter, and that `f`/`some_class` are templates (as opposed to template specialisations).
The current implementation is a bare minimum of what I would li

[2015-09-29 02:09] Rapptz commented on #2057
First of all, thanks for all your work on the C++ domain. I really appreciate it.

Also I guess it's good to know that it's currently a documentation issue. Will the ability to make all-but-6 work in the future be in the v1.4 release or for a later release? The current syntax for referencing (1 and 8) is a bit too verbose. Would it be worth to have ":cpp:func:`print`" work like number 2 (i.e. ":cp

[2015-09-29 02:29] jakobandersen commented on #2057
I will try to elaborate the documentation soon. Example 2 and 7 can probably be made working relatively easily, while 4 and 9 is a bit more complicated. I suspect example 3 require substantial code changes as partial specialisations make it complicated (e.g., `template<typename U> SomeClass<std::shared_ptr<U> >`, where the declaration used `T` instead of `U`).

[2015-09-30 17:22] #2054 closed, assigned to nobody

[2015-10-01 02:08] Rapptz opened #2058 "Assertion error on certain declarations in C++ domain."
Minimal input:

[code]

Traceback:

[code]

I tried looking into it but I'm not exactly sure why `s.identifier` isn't set.

[2015-10-01 03:00] jakobandersen commented on #2058
Thanks for the bug report. The identifier is not set because it's an operator. It's the assertion which is wrong. I'll try to fix it soon.

[2015-10-01 11:20] Earnestly opened #2060 ":manpage: role uses incorrect style (node)"
When referencing a manual on Linux the notation in groff is to use `.BR ls (1)` which results in **ls**(1). (bold "ls" and roman "(1)")

Currently `:manpage:` simply [adds emphasis](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/roles.py#L32) which is inconsistent with the rest of the [system](http://man7.org/linux/man-pages/man7/man-pages.7.html) manuals.

[2015-10-02 08:00] Rapptz opened #2061 "Type alias declarator not parsed properly"
Hello.

The docs mention that type-alias-declarators are allowed but I can't get it to work in a non-template context. Some examples:

[code]

The error:

[code]

I've tried investigating it, and for some reason `_parse_type_using` is failing. The string seems to imply that the `_identifier_re` fails to match but as far as I can tell, that shouldn't be the case.

[2015-10-02 08:24] #2061 closed, assigned to nobody

[2015-10-02 08:27] jakobandersen commented on #2061
Thanks, I forgot to reset the parsing position, so _parse_type_using was not given the chance to parse "cool" after _parse_type failed.

[2015-10-02 08:32] Rapptz commented on #2061
That was really quick. Thanks a bunch. You're the best :+1:

[2015-10-02 16:43] posita commented on #930
Dup. of #944?

[2015-10-02 16:53] posita commented on #856
I can't see the patch, but this sounds like something I could use right now. What I'd _like_ to be able to do is this:

[code]

I can't add custom options to the various entries created by `sphinx-apidoc`.

The ability to include might be one alternative. Then one could do something like this:

[code]

[code]

[code]

These would compete with `--no-toc`, so resolution behaviors would have to be fi

[2015-10-03 17:49] erosennin opened #2062 "Escape characters in doctests are treated incorrectly with Python 2"
Recent Git versions of Sphinx are making some doctests fail because escape characters in the doctest output are decoded instead of being interpreted verbatim.

Here is a minimal example.

`index.rst`:

[code]

`conf.py`:

[code]

The test fails with Python 2:

[code]

The same test passes with Python 3.

[2015-10-03 17:52] erosennin commented on #2062
Seems to be introduced by 82e05e7a9c7865c5f609e31ba70bab02ab521616.

[2015-10-04 16:08] #2023 closed, assigned to nobody

[2015-10-04 22:08] vlotorev opened #2065 "latex: empty bookmarks for cyrillic chapters"
At sphinx.sty hyperref package is missing 'unicode' options:

[code]

Which causes generated PDF having empty bookmarks for chapters and sections having Cyrillic characters.
After adding 'unicode' option for hyperref package PDF generated okay.

Issue is applicable to sphinx 1.3.1

[2015-10-05 15:05] keleshev opened #2066 "Error in "currentmodule", autosummary extension"
I'm getting the following error on latest Sphinx from PyPI on Python 2.7, both Mac and Linux:

[code]

Looks like it interprets `{{ module }}` literally, as 3 arguments, instead of interpolating it first.

[2015-10-06 07:51] emmanuelmathot commented on #1844
Same issue. It works with sphinx 1.2.3.
Any plan to correct this regression?

[2015-10-06 07:58] andreacassioli commented on #2034
Any feedback?

[2015-10-06 08:08] emmanuelmathot commented on #1844
it is solved with current master version v1.4a0+. Why not reporting it here?

[2015-10-06 18:44] Naereen commented on #1784
I think this is still an issue, now the latest sphinx version seems to require the `non-minified-js/*-stemmer.js` files, but they are not installed automatically on `PATH/sphinx/search/` if sphinx is installed with pip from the live git branch (dunno if the stable pypi package has the same issue).

Please find attached a log of the issue I just encountered (I add to download manually the `non-mini

[2015-10-06 18:48] Naereen opened #2067 "Are the non-minified js file for the search feature required now?"
The solution for the issue #1784 might have broken something else:

Now the `latest` `sphinx` version seems to require the `non-minified-js/*-stemmer.js` files, but they are not installed automatically on `PATH/sphinx/search/` if sphinx is installed with `pip` from the live git branch (dunno if the `stable` `pypi` package has the same issue).

Please find attached below [a log of the issue](https:

[2015-10-07 11:24] adamtheturtle opened #2068 "Add an option to not use intersphinx references as a fallback"
That intersphinx references are used as fallbacks if a reference is not available in a project recently caused us a problem.

We have a site (`latest`) which is the latest build of `master`.

We use intersphinx as follows, so we can link to the latest documentation in some sections:

[code]

[code]

Our docs included a label (`.. foo:`) so this reference was available on `latest`.
This label was r

[2015-10-08 08:22] webmaster128 opened #2069 "cpp:type does not suppurt function types"
At Botan we have a bunch of typedef that are functions. Those are not supported in the docs.

E.g.

[code]

where in the .h we have

[code]

produces

[code]

Tested on Sphinx v1.2.3 (Ubuntu) and v1.3.1 (OS X)

[2015-10-08 08:26] webmaster128 commented on #2069
If you need some input data for unit testing, here you go:

[code]

[2015-10-08 08:39] jakobandersen commented on #2069
I can not reproduce the problem on the development branch. If I remember correctly then those kind of declarations (with function types in them) were not supported before version 1.3.

[2015-10-08 11:14] Rapptz opened #2070 "Add a way to get current namespace and class in C++ domain"
Hello.

The python domain has a way to get the current module and current class to help facilitate with the `autodoc` extension. It would be nice if the C++ domain had something similar to help facilitate similar tools.

I believe the implementation for it should be fairly straightforward (just store it under `domaindata`) but I am not sure if it's a desirable feature. I would appreciate it since

[2015-10-08 14:52] DenizThatMenace opened #2071 "Same footnote in more than two section titles => LaTeX/PDF Bug"
As a result of issue #633 footnotes are allowed in section-titles.

However, having two sections both referencing the same footnote results in a LaTeX file which cannot be translated into a PDF by `pdflatex`.

For example, try the following simple input.

[code]

When calling `make latexpdf` It will fail with the following output:

[code]

The problem seems to be that the second footnote-reference

[2015-10-08 15:04] DenizThatMenace opened #2072 "Footnotes in chapter-titles do not appear in PDF output"
As a result of issue #633 footnotes are allowed in section-titles.

However, they seem not to be supported in chapter-titles. Although they compile, they do not appear in the output-PDF.

[2015-10-08 21:33] ben-albrecht commented on #1895
Any progress on this?

[2015-10-08 21:36] wolph commented on #1895
@ben-albrecht look at #1969, that issue is now tracking this.

[2015-10-09 17:01] techtonik opened #2073 "gettext builder needs smart timestamp regeneration"
`make gettext` in 1.3.1 unconditionally overwrites `.pot` files inserting new timestamps even if nothing is changed. Could there be an option to avoid file regeneration if its contents is the same?

[2015-10-09 17:10] techtonik opened #2075 "gettext: need option to set location for .pot files"
I need to maintain .pot files in project source tree at `./locale/pot`. Is it possible to create an option to specify the target directory for the .pot build?

[2015-10-09 18:04] lehmannro commented on #2075
I'm not exactly sure if I understand — you want the `gettext` builder's output to go somewhere else?  Why is configuring the second argument to `sphinx-build` (aptly named `outdir`) not sufficient?

[2015-10-09 18:06] lehmannro commented on #2073
That sounds reasonable!  Maybe we can solve this by making `Builder.get_outdated_docs` a bit more useful?  It seems most builders other than `StandaloneHTMLBuilder` do something very stupid here.

[2015-10-09 21:35] techtonik commented on #2075
@lehmannro is it possible to specify that argument in conf.py?

[2015-10-09 22:52] shimizukawa commented on #2075
You can do it by using Makefile / make.bat.

[2015-10-10 08:14] techtonik commented on #2075
@shimizukawa I'd like to avoid patching these files, because they are regenerated when new Sphinx version comes out. I also don't want to change the output location for `html` files.

[2015-10-10 08:41] shimizukawa commented on #2075
You can choose whether regenerating Makefile or not. IMO, output location management is a responsibility of Makefile.

[2015-10-10 08:54] techtonik commented on #2073
The code that builds `.pot`s - https://github.com/sphinx-doc/sphinx/pull/2074/files

The easiest way for it would be if builder could parse existing .pot files and compare messages. Otherwise the files need to be built somewhere to compare contents line by line with the exclusion of `POT-Creation-Date: ...` lines.

[2015-10-10 09:28] techtonik commented on #2075
@shimizukawa it is not about management of output location, it is about proper localization workflow. See #2073 for other issue. Basically, `html` needs to go into `_build`, which is dropped on every rebuild and `.pot` data need to be stored in `locale/`, committed and shared.

[2015-10-10 11:16] lehmannro commented on #2073
As I said, I don't think manually checking during the build phase (let alone based on the _old_ built file) is the best way to address this.  It can be inferred from looking at the inputs, ie. the source files, and then determining which output files need to be rebuilt.

This exists, as pointed out previously, in `Builder.get_outdated_docs` but is vastly under-used.

[2015-10-10 12:40] jakobandersen commented on #2070
The current scope is already tracked, but in which way do you plan to use the information?

[2015-10-10 13:52] techtonik commented on #2073
It is not _old_ build file. We are talking about regeneration of `.pot` files, which are used by translators, who don't want to get false alarms that source for their translation had changed.

[2015-10-11 00:11] txomon opened #2077 "Sphinx generated conf.py raises warnings on flake8"
Hi,

After generating the config.py automatically with the tools provided, I have found that the generated output is not compliant with flake8 checks.

[code]

[2015-10-11 04:34] Rapptz commented on #2070
I must have missed the current scope. Under what key in domaindata is it in?

I'm using the information to have some better context-sensitive autodoc (e.g. taking into consideration the current namespace).

[2015-10-11 06:42] alex commented on #1099
Been hitting this one as well, configurable retry would be fantastic.

[2015-10-11 10:17] jakobandersen commented on #2070
It is stored in `env.ref_context['cpp:parentSymbol']`, though if it doesn't exist then the current scope is global scope, which is obtained as `env.domaindata['cpp']['rootSymbol']`. A scope is actually represented by it's corresponding symbol in the global symbol tree that the domain creates.
I can not guarantee that this may not change, so for the sake of maintainability I think it would be best

[2015-10-11 21:19] phortx opened #2078 "latexpdf builder: orphan/widow control"
Is there a way to avoid orphans and widows or configure the orphan/widow handling?

[2015-10-12 08:44] ChrisArnault opened #2079 "Bug report about sphinx on Windows"
Hi,

I'm using sphinx on my Windows 7 platform

I have successfully installed sphinx (Python 2.7)

running Sphinx it felt on error :

here is the traceback

[code]

Then in order to move on in my project, I attempted a little patch (no resolution at all but at least I can terminate the HTML generation)

I added a **try block** just pass by the error as follows:

[code]

I hope this would help you

[2015-10-12 11:46] wjakob opened #2080 "Bug in new C++ template parser"
Commit ed29c298a66df9e1293484b9f0dd60a25cac52fe added support for parsing C++ templates, including function templates. I tried using it but get an exception with this expression:

[code]

Here is a traceback:

[code]

[2015-10-12 11:58] jakobandersen commented on #2080
Thanks for the report. It should be the same problem as described in #2058.

[2015-10-12 12:08] #2058 closed, assigned to jakobandersen

[2015-10-12 12:08] #2080 closed, assigned to nobody

[2015-10-12 16:53] wjakob commented on #2080
(I confirm that it was the same problem, it works now after applying 4e8f630)

[2015-10-12 20:00] wjakob opened #2082 "C++ domain -- referencing a method template via :cpp:func:`....`"
Hi,

I am using the new function template support in a documentation project, which is working well so far. However, I'm having a hard time referencing template functions from within the documentation. See the following minimal example:

[code]

The reference at the bottom renders ok, but it does not link to any function. To get the link to work, I have to rewrite this as `:cpp:func:`template <typ

[2015-10-12 21:06] Rapptz commented on #2082
Duplicate of #2057

[2015-10-12 23:47] jakobandersen commented on #2082
I completely agree that the currently working solution is too verbose. I'm working on a short-hand (see #2057 for status).

[2015-10-12 23:47] #2082 closed, assigned to nobody

[2015-10-12 23:51] logemann opened #2083 "search totally broken with html_search_language = de"
Hi,

i tried using the search engine with sphinx with "de" set as indexing locale and the results seem totally random. Most words wont get found at all, some were found with fewer results. I changed the indexing locale to "en" and now the search seems correct.

Dont know what details i can provide because i dont know how the index should look like in german. Dont know if its an index issue at all

[2015-10-13 15:28] ChristianMeisenbichler opened #2084 "maximum recursion depth exceeded while pickling an object"
I am seeing this exception with a document with very many references. But it sometimes works and then it doesn't.
also the document is includet into the tree by

[code]

Then:

[code]

[2015-10-13 16:35] rothnic opened #2085 "Parsing error for returns when using google style docstrings"
It appears that [this issue](https://bitbucket.org/birkenfeld/sphinx-contrib/commits/79535b22d5df75e978aba22587fcb018862c8ef9) still exists for google style docstrings.

You can see the issue manifested on our 0.10 documentation: http://bokeh.pydata.org/en/latest/docs/reference/charts.html#id1

Screenshot for reference:

![image](https://cloud.githubusercontent.com/assets/452052/10461338/7cc21974-

[2015-10-13 18:14] RobRuana commented on #2085
Thanks! Just for future reference this is the docstring that exhibits the bug:

[code]

[2015-10-14 00:54] jakobandersen commented on #2057
I have added the two shorthand notations, so "only" case 3, 4, and 9 are now missing. The documentation should also be better now.

Edit: for easier reference, the missing cases to implement:

[code]

[2015-10-14 05:24] Rapptz commented on #2070
Well at the bare minimum it'd be nice to have something like the python domain has (e.g. `py:domain` and `py:class`).

So in C++'s case we would have `cpp:namespace` to point to the current namespace stack (e.g. `ns::some_nested_ns::other_ns`) and `cpp:class` to point to the most recent class specified.

e.g. .https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/python.py#L313

[2015-10-14 06:10] jakobandersen commented on #2070
From the `cpp:parentSymbol` it is possible to get all that information. Though it can quickly become complicated when you want to use it.
- A scope is not just an identifer, but potentially also a template parameter list and a template argument list. For example, the scope in the description of `.. cpp:class:: template<typename T> SomeClass<T*>`.
- Some scopes don't even have a "normal" identifier

[2015-10-15 15:59] vitaut opened #2086 "sphinx-build fails with DistributionNotFound exception"
Running `sphinx-build --version` fails with the following output:

[code]

I'm using version `git+git://github.com/sphinx-doc/sphinx.git@4d2c17e043d9e8197fa5cd0db34212af3bb17069`.

BTW I'm not using `sphinx-rtd-theme`. Why is it required by Sphinx?

[2015-10-16 16:04] wilsoniya opened #2088 "Intersphinx: Enable basic auth in intersphinx mappings"
Intersphinx mappings should be able to specify URLs which point to resources that are authenticated via HTTP basic auth.

E.g.:

[code]

[2015-10-16 16:05] wilsoniya commented on #2088
Related request: http://stackoverflow.com/questions/32416441/using-intersphinx-for-internal-documentation

[2015-10-19 02:02] ideasman42 opened #2090 "Stylesheets added by Sphinx.add_stylesheet should be updated on rebuild if they are changed."
Style-sheets aren't copied with the html builder, when doing incremental builds.

http://sphinx-doc.org/latest/extdev/appapi.html#sphinx.application.Sphinx.add_stylesheet

[2015-10-19 02:16] shimizukawa commented on #2090
Please describe more detail.
If it was happened when you just update css file after previous `make html` command, it is current behavior of sphinx. For now, Sphinx doesn't follow timestamps of extra css/js and user custom theme files.

[2015-10-19 02:33] ideasman42 commented on #2090
I think this is the issue you describe, it will copy the file correctly for a clean build, but after making some edits - `make html` wont update to file at the build destination.

[2015-10-19 02:42] shimizukawa commented on #2090
OK, I think it's a feature request.

[2015-10-19 05:51] huaiweicheng opened #2091 "intersphinx problem"
In my doc project, I use intersphinx to produce hyperlinks to 3rd library as follows:

intersphinx_mapping = {
'numpy': ('http://docs.scipy.org/doc/numpy/', None),
'scipy': ('http://docs.scipy.org/doc/scipy/reference/', None)
}

Then in a rst file I wrote
:mod:`numpy`
:mod:`scipy`
:func:`scipy.integrate.odeint`

The question is that why :mod:`scipy` does not change into hyperlink? However, some :f

[2015-10-19 12:01] sgiath opened #2092 "[napoleon] It would be nice to add support for 'todo' directive"
Since there is support for `note` or `warning` directives it would be nice if I can write:

[code]

instead of:

[code]

because it looks pretty inconsistent.

[2015-10-19 13:04] andreacassioli opened #2094 "rubric with reference not working in Latex"
If I use a reference in a rubric, for instance

[code]

this generates a link in HTML, while the LAtex source does not compile, being

[code]

Any ideas?

[2015-10-19 13:34] huaiweicheng commented on #2091
![image](https://cloud.githubusercontent.com/assets/4011117/10579157/1e6c6de2-76a9-11e5-8b97-f758620730d5.png)

Just can not understand why numpy and pandas work out while others do not.

[2015-10-19 18:27] sgiath commented on #2092
Sorry about that I forgot set my private email for this project instead of my work email.

[2015-10-19 21:17] #2038 closed, assigned to shimizukawa

[2015-10-19 21:17] ericholscher commented on #2038
Closing this to get it off the `1.3.2` release list.

[2015-10-20 07:16] webmaster128 commented on #2069
Thanks. Could you point me to some changelog note or release version where it is fixed? Then I could confirm and close this one.

[2015-10-20 07:26] jakobandersen commented on #2069
Specifically the function types as template arguments got supported in version 1.3b1 (search for 'Rewrite of C++ domain' in the changelog (https://github.com/sphinx-doc/sphinx/blob/master/CHANGES)).

[2015-10-20 09:53] webmaster128 commented on #2069
Merci

[2015-10-20 09:53] #2069 closed, assigned to nobody

[2015-10-22 20:22] amikrop opened #2095 "sphinx-apidoc fails with Django"
I use sphinx-apidoc with my django application, and after I run "make html" I get this error: https://bpaste.net/show/40728fe68140
I tried to add the path in conf.py as well as export DJANGO_SETTINGS_MODULE but the same error occured. I have tried anything I found on the web with no luck.

conf.py https://bpaste.net/show/c10e9d3877bf

traceback https://bpaste.net/show/d2451bcd91fd

the app is this

[2015-10-23 12:45] PeridexisErrant opened #2096 "Labels before include directives ignore the included header"
Suppose we have `index.rst`, `docs/file.rst` and `scripts/useful.lua`.

`index.rst` contains a link to the script:

[code]

`docs/file.rst` contains the label (link target) and an include directive (start-after and begin-before roles omitted for brevity):

[code]

And `scripts/useful.lua` includes it's own documentation:

[code]

This seems like it should work, but instead it gives `docs/file.rst:

[2015-10-23 13:36] PeridexisErrant commented on #2096
...trying to create a truly minimal example to share made the problem vanish.

I'm not sure whether the footnoted issue is also a mirage, but either way I guess this will be available next time someone is searching for a solution.  [PM me!](https://xkcd.com/979)

[2015-10-23 13:36] #2096 closed, assigned to nobody

[2015-10-24 01:23] amikrop commented on #2095
After all I managed to do it by monkeypatching FileDescriptor's `__get__`
in conf.py. First, I needed to be in a Django project, not enough to just be in a "projectless" app. Second, it needed manual setting of environment variable DJANGO_SETTINGS_MODULE, which settings.configure() couldn't do. And third it needed the monkeypatch. These were the lines needed in conf.py:
`sys.path.insert(0, os.path

[2015-10-24 19:23] firegurafiku opened #2098 "Parameter list without table"
This issue may be already solved, but I didn't manage to find any existing solution. I want to annotate my parameters with quite a long descriptions, but Sphinx wastes a lot of space for single useless "Parameters:" caption. Is there a way to get rid of the table markup in the generated HTML?

**What I have:**

[![Before](http://i.stack.imgur.com/LEBQVm.png)](http://i.stack.imgur.com/LEBQV.png)

*

[2015-10-25 11:07] pv opened #2100 "sphinx.ext.autosummary produces no output in Sphinx 1.3.1"
The autosummary extension produces no output in Sphinx 1.3.1.

Example project: https://github.com/pv/sphinx-tst

Build log/output: https://gist.github.com/pv/e64bc7bebb0087b5bb65

Note that the table produced by the `autosummary::` directive contains nothing.

The output is as expected if I downgrade to Sphinx 1.2.3.

Doesn't appear to be restricted to my setup --- building scipy docs failed with

[2015-10-25 11:15] pv commented on #2100
Ok, this was apparently fixed in b4331978e04
Would be nice to have a new release.

[2015-10-25 11:15] #2100 closed, assigned to nobody

[2015-10-25 14:30] carbolymer opened #2101 "Cannot build documentation with make html"
I am trying to build python documentation for a project, and I am getting the following error:

[code]

Log file: http://pastebin.com/kV3GJF2W
My conf.py: http://pastebin.com/mS8axjch

Any ideas what is broken?

[2015-10-25 14:57] shimizukawa commented on #2101
It can be reproduced with conf.py:

[code]

'sphinx.ext.doctest' uses `doctest` module and doctest module uses `unittest` module.
To avoid the issue, you must not mock `unittest` module.

[2015-10-26 15:13] shimizukawa opened #2102 "On Windows + Py3, time.strftime() and Unicode characters will raise UnicodeEncodeError"
When reST file contain `|today|`, Sphinx raises UnicodeEncodeError exception.

[code]
- OS: Windows 10 (build 10532)
- Python: 3.3, 3.4, 3.5

The problem relates to http://bugs.python.org/issue8304

small sample to reproduce it.

[code]

work-around code:

[code]

[2015-10-27 07:32] keimlink commented on #2095
Defining the `DJANGO_SETTINGS_MODULE` environment variable and calling `django.setup()` is what I also do. But I don't understand why you are expanding `sys.path` and why you are patching `FileDescriptor.__get__`.

[2015-10-28 01:12] hhsprings commented on #969
I wrote (maybe) below, just in case. (But I didn't reconfirm that.)

##

_static/MathJax_local.js is:

[code]

[2015-10-28 11:43] #1859 closed, assigned to nobody

[2015-10-29 06:57] amikrop commented on #2095
Including the directory which contains the app, in sys.path is something I see everyone do in their conf.py for Django projects. Setting DJANGO_SETTINGS_MODULE and django.setup() are two things most people don't do (and I wonder how it works for them without doing those two). Patching FileDescriptor needs to be done for django.models.FileField and django.models.ImageField to work.

[2015-10-29 09:07] keimlink commented on #2095
Thanks for the explanations @amikrop!

[2015-10-29 21:46] vlotorev commented on #2065
The problem is gone with newer texlive 2015 instead of texlive 2007 (which is set by default on centos 6). The issue can be closed.

[2015-10-29 21:46] #2065 closed, assigned to nobody

[2015-10-30 20:08] timgraham commented on #2084
I also often see this problem building the Django documentation with Python 3 (but never when using Python 2).

[2015-10-30 20:14] timgraham commented on #2095
Also reported at https://code.djangoproject.com/ticket/25602. I don't think there's a demonstrated bug in Sphinx here?

[2015-10-31 08:20] AndreiPashkin opened #2103 "Tree doesn't include subsections for `self` in toctree"
Here is the example:
https://raw.githubusercontent.com/dateutil/dateutil/master/docs/index.rst

And the result is:
https://dateutil.readthedocs.org/en/latest/

Notice - subsections in a tree side-bar are absent.

Similar issues on SO:
http://stackoverflow.com/questions/27338257/using-self-in-sphinx-toctree-doesnt-include-sub-sections
http://stackoverflow.com/questions/20648956/adding-subsections-o

[2015-10-31 12:36] ChristianMeisenbichler commented on #2084
Good to know!

[2015-11-01 11:15] jumogehn opened #2104 "Bookmark on pdf for Korean language is broken"
As the title stated, bookmark of pdf is broken when Korean language tex is used.
And I know how fix this. So I am pasting it below.

Could you please apply this for many Korean users?

Thank you very much!
Journeyer

--- build/latex/sphinx.sty      2015-10-30 23:37:18.702865000 +0900
+++ sphinx.sty  2015-11-01 12:41:54.751111051 +0900
@@ -435,6 +435,7 @@

 % Include hyperref last.
 \RequirePackage

[2015-11-01 11:16] jumogehn commented on #2104
<pre>
--- build/latex/sphinx.sty      2015-10-30 23:37:18.702865000 +0900
+++ sphinx.sty  2015-11-01 12:41:54.751111051 +0900
@@ -435,6 +435,7 @@

 % Include hyperref last.
 \RequirePackage[colorlinks,breaklinks,
+                pdfencoding=auto,bookmarks,
                 linkcolor=InnerLinkColor,filecolor=OuterLinkColor,
                 menucolor=OuterLinkColor,urlcolor=OuterLinkColor,

[2015-11-01 21:14] brettcannon opened #2105 "Support async method definitions in the py domain"
Python 3.5 adds async methods. It would be great to has a directive like `.. async::` to define a method as asynchronous. Not sure how to render it since `def` isn't rendered for `.. method::`, but maybe `await` can be used to denote the asynchronous method since `await` is appropriate for  the method call?

[2015-11-03 18:13] kratsg commented on #1980
:+1: I seem to have a similar issue as well.

[2015-11-03 22:02] Rapptz commented on #2105
Libraries such as `aiohttp` and I believe even the Python stdlib themselves use something akin to [this](https://github.com/KeepSafe/aiohttp/blob/master/docs/aiohttp_doctools.py). I suppose it should be fairly easy to add something like this to the main Sphinx py domain.

The actual Python stdlib has other useful ones for [decorators and the such](https://github.com/python/cpython/blob/7e780dc4a5e

[2015-11-04 03:48] rmcgibbo opened #2106 "autodoc_docstring_signature with overloaded methods"
When using swig to wrap C++ classes for python, if they have overloaded methods, I believe the convention is to place the signatures for each of the overloaded C++ methods at the start of the docstring. Currently, `autodoc_docstring_signature` can only pick up the first one. It would be nice to be able to pick up all of them.

[2015-11-05 14:17] rlkee888 opened #2107 "SphinxContrib Youtube cannot use it"
Hi,

Having trouble using the extension from https://bitbucket.org/birkenfeld/sphinx-contrib. The error I get when I try to make html is.
making output directory...
loading pickled environment... not yet created
building [mo]: targets for 0 po files that are out of date
building [html]: targets for 4 source files that are out of date
updating environment: 4 added, 0 changed, 0 removed
reading sour

[2015-11-05 14:34] shimizukawa commented on #2107
@rlkee888 Please contact to author.
https://pypi.python.org/pypi/sphinxcontrib.youtube

[2015-11-05 14:35] shimizukawa commented on #2107
It seems that https://github.com/shomah4a/sphinxcontrib.youtube is newer than bitbucket's one.

[2015-11-06 10:42] rlkee888 commented on #2107
@shimizukawa thank you for the links, I tried it briefly and I am not getting any more errors. Sadly I am also getting nothing from the youtube part as well, honestly I need to spend more time on it.

I will update this post once I get it working...

[2015-11-06 15:59] arski opened #2108 "maxdepth in package toctrees by sphinx-apidoc"
Hi,

I know sphinx-apidoc already has the -d option to set the maxdepth in the main modules TOC. However, I was wondering if this or another option could be used to add :maxdepth: to the toctree of each package, i.e. after https://github.com/sphinx-doc/sphinx/blob/470bac3d1c17f2728573f96c2864ab07918692d2/sphinx/apidoc.py#L109

Alternatively, how hard would it be to add a default maxdepth setting t

[2015-11-07 14:18] huaiweicheng opened #2109 "genindex bug in latexpdf in Chinese"
When i ran `make latexpdf`, I suddenly find a little bug. That is, the name of '内置类' missing '内' in the module index while the html seems pretty well.

The language in conf.py is zh_CN

Here is the screen shot:

pdf:
![image](https://cloud.githubusercontent.com/assets/4011117/11015533/6542feea-859d-11e5-8587-bb3ee1dde362.png)

html:
![image](https://cloud.githubusercontent.com/assets/4011117/11015

[2015-11-09 11:53] azazel75 opened #2110 "Autodoc fails because Grammar-py3.txt file ins't updated to support "async def" python3.5 syntax"
Autodoc's ModuleAnalyzer.find_attr_docs() used by Documenter class at line https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/autodoc.py#L913  fails when parsing source code that contains coroutine functions defined with the "async def foo()" syntax, thus aborting the parsing of attributes documentation strings altogether resulting in an uncomplete doc.

The reason is that pycode parser G

[2015-11-10 04:44] donkopotamus opened #2113 "code-block directive does not allow :class: option"
Within my documentation, I am using jQuery to manipulate some code blocks after loading.  If I use the `code` directive I am able to mark the blocks that require manipulation with the standard restructuredtext `:class:` option.

Unfortunately, neither the `code-block` directive (nor `literalinclude` directive) seems to expose this option?

(it is easily worked around using a `.. container::` or `.

[2015-11-10 06:28] #2110 closed, assigned to nobody

[2015-11-11 08:30] firegurafiku commented on #2098
If somebody else interested, I have worked around this issue by writing custom HTML preprocessing extension. See StackOverflow link above.

[2015-11-11 08:30] #2098 closed, assigned to nobody

[2015-11-12 13:49] carlodri opened #2115 "[napoleon] rendering of google-style class attributes"
I am puzzled as to why this docstring:

[code]

etc...

is rendered like this in the html output default theme:

![image](https://cloud.githubusercontent.com/assets/5230366/11119770/20d4bf84-894c-11e5-91aa-c5e7bae96975.png)

The same happens when rendering to latex. Is this an issue with the `napoleon` extension? I'm using `sphinx` `v1.3.1`.

[2015-11-12 22:02] #2092 closed, assigned to nobody

[2015-11-12 22:09] RobRuana commented on #2115
I believe this is being rendered correctly as of Sphinx v1.3.1. What specific issues do you have with the rendered output?

Note: the rendering of attributes has changed slightly in the most recent (unreleased) version of Sphinx. Attribute types are rendered on the same line as the Attribute description, so it will look like this:

**data**
  _1darray_ - the FAST data

**metadata**
  _dict_ - all

[2015-11-13 08:48] carlodri commented on #2115
well, actually I saw [this](http://zulko.github.io/moviepy/ref/VideoClip/VideoClip.html#videoclip) and I liked it much better (and it's very different from my output).

[EDIT: I just saw that the example I linked uses `numpydoc`, not `napoleon`, I don't know if this matters...]

It happens that classes can have a large number of attributes and the layout I deemed buggish is especially distracting

[2015-11-13 16:05] carlodri commented on #2115
A more fundamental question I have is: who governs this behavior? Is it `sphinx`, the specific theme I'm using, or `napoleon`?  Thinking about it, `napoleon` should just be a parser to reStructuredText, right? So it should have nothing to do with the way the attributes are formatted. I cannot decide who to blame between `sphinx` and the output theme.... Can you help me @RobRuana ?

[2015-11-13 17:55] RobRuana commented on #2115
Yes, you are correct that ultimately the theme is what determines the visual styling. I think the page you linked is using the [sphinx read the docs theme](https://github.com/snide/sphinx_rtd_theme). I agree that it's an appealing and readable theme. You may want to give that a try.

I am going to close this issue, but please feel free to reopen it if you find napoleon is interfering with any othe

[2015-11-15 07:05] shimizukawa commented on #1784
Now #2114 has been merged to fix missing `*-stemmer.js` files. @Naereen could you check it?

[2015-11-15 07:39] #1786 closed, assigned to lehmannro

[2015-11-15 07:39] #1984 closed, assigned to lehmannro

[2015-11-15 09:07] #1989 closed, assigned to shimizukawa

[2015-11-15 09:07] #2102 closed, assigned to shimizukawa

[2015-11-15 15:27] Naereen commented on #1784
Seems fixed to me. Thanks.

[2015-11-15 16:16] fushar opened #2118 "Heading with reference causes Latex build error"
If we use reference in a heading, like this 2-file project:

---

`foo.rst`:

[code]

`index.rst`:

[code]

---

then `pdflatex` gives compile error:

[code]

[2015-11-15 20:30] carlodri commented on #2115
Thanks for your feedback @RobRuana. I have tried also the RTD theme, but the rendering is the same as the one I reported (i.e. no tabular display of attributes). I will head to the sphinx_rtd_theme repo and post an issue there...

[2015-11-15 20:33] RobRuana commented on #2115
Before posting to the sphinx_rtd_theme repo, try doing this first: set `napoleon_use_ivar = True` in your `conf.py`. That will slightly alter how the attributes are rendered, and may get you what you want.

[2015-11-15 21:29] carlodri commented on #2115
Thanks, I tried right away, and here is what I get with `napoleon_use_ivar = True` flag:

![screen shot 2015-11-15 at 21 44 16](https://cloud.githubusercontent.com/assets/5230366/11170937/14b601ec-8be3-11e5-868f-ef2177208aae.png)

and here is what I get with `napoleon_use_ivar = False`

![screen shot 2015-11-15 at 21 45 19](https://cloud.githubusercontent.com/assets/5230366/11170907/696a26d8-8be2-

[2015-11-16 01:42] shimizukawa commented on #2067
This issue has been fixed on #2114.

[2015-11-16 01:42] #2067 closed, assigned to nobody

[2015-11-16 15:36] safiyat opened #2119 "Doc for Ansible stable fails."
I was looking for the docs of [Ansible](http://ansible.com/) but couldn't find them on [readthedocs](https://readthedocs.org/projects/ansible/).
Upon digging further, I saw that many many builds prior to this have failed. Look [here](https://readthedocs.org/projects/ansible/builds/).

I tried to build again and the error I encountered was:
`IOError: [Errno 2] No such file or directory: u'/home/doc

[2015-11-16 16:12] shimizukawa commented on #2119
https://readthedocs.org/projects/ansible/builds/3486695/ indicates that

[code]

I guess that `index.rst` is specified as a master_doc in `conf.py`, nevertheless index.rst is not exist.
It's a cause of this problem.
@safiyat please report this to ansible development theam to fix the problem. Thanks.

[2015-11-17 11:35] safiyat commented on #2119
I checked and found that `index.rst` is in fact [there](https://github.com/ansible/ansible/blob/devel/docsite/rst/index.rst).
Is it a problem with the file layout in the repo or can it be fixed via sphinx itself?
Am sorry, I don't much experience with neither sphinx nor ansible.

[2015-11-17 11:38] mitsuhiko commented on #2119
Closing this here as this has nothing to do with Sphinx. That's a misconfiguration somewhere.

[2015-11-17 11:38] #2119 closed, assigned to nobody

[2015-11-17 19:40] pacija opened #2120 "anchor mathjax formulas"
Hi,

is there a way to create anchors on mathjax formulas?

Thank youn in advance.

[2015-11-18 02:06] RobRuana commented on #2115
Okay, that project is using the numpydoc extension to render the tabular output.

If that is the really the look you are going for, you could convert your docs to use the NumPy format and then use the numpydoc extension, plus the sphinx_rtd_theme.

[2015-11-18 02:16] #2115 closed, assigned to RobRuana

[2015-11-18 05:05] RobRuana commented on #2036
Hmm... I have not been able to reproduce this issue. The exact example class you provided works with the source from the sphinx repo.

The sphinxcontrib.napoleon extension actually has the most recent source code, because I am able to release it as soon as it is patched (unlike the mainline sphinx extension, which must wait for a new sphinx release).

Thus, I believe this may be a bug that has alr

[2015-11-18 05:05] #2036 closed, assigned to RobRuana

[2015-11-18 11:18] shimizukawa commented on #1974
test passed. https://travis-ci.org/sphinx-doc/sphinx/builds/91407415

[2015-11-18 11:18] #1974 closed, assigned to nobody

[2015-11-18 14:46] jrkerns commented on #2036
Okay, thanks for looking into it!

[2015-11-18 18:09] RobRuana commented on #2085
I can't reproduce this issue with the docstring quoted above.

I am assuming this has been fixed in the repo, but a new version with the fixed code hasn't been released yet.

You can try using the sphinxcontrib-napoleon package ('sphinxcontrib.napoleon' instead of 'sphinx.ext.napoleon' in conf.py). You'll need to pip install sphinxcontrib-napoleon or add sphinxcontrib-napoleon to your requirements

[2015-11-18 18:09] #2085 closed, assigned to RobRuana

[2015-11-19 22:29] cbworden opened #2122 ":label: in :math: directive puts label in front of the equation rather than after it"
## On documentation page http://sphinx-doc.org/ext/math.html the example in the :eq: section looks like this:

.. math:: e^{i\pi} + 1 = 0
   :label: euler

Euler's identity, equation :eq:`euler`, was elected one of the most
## beautiful mathematical formulas.

However when I run this in Sphinx 1.3.1 on a Mac, it puts the label "(1)" at the beginning of the equation rather than at the end of the li

[2015-11-20 07:09] mvnnn opened #2123 "while builds the API documentation from the source code"
bhautik-Inspiron-3537 docs # make html

sphinx-build -b html -d _build/doctrees   . _build/html
Running Sphinx v1.3.1
/home/bhautik/Desktop/GSOC/astropy/astropy/astropy_helpers/astropy_helpers/sphinx/conf.py:156: UserWarning: matplotlib's plot_directive could not be imported. Inline plots will not be included in the output
  "Inline plots will not be included in the output")

Exception occurred:

[2015-11-20 07:32] shimizukawa commented on #2123
I guess `astropy` or `astropy.extern` is not installed in your environment. Please check the astropy documentation building procedure.

[2015-11-20 07:34] #2123 closed, assigned to nobody

[2015-11-20 12:35] freidrichen opened #2124 "UnicodeDecodeError when using include directive in non-ascii path"
When using the include-directive I get an error if the root directory has a non-ascii path.

This was reproducable with a very small project containing only a conf.py generated by sphinx-quickstart, index.rst, and one extra rst file which is included by index.rst like so:

[code]

This project builds successfully if the root directory is an ascii-only path. But if the the root directory path conta

[2015-11-20 16:41] shimizukawa commented on #2124
Thanks for reporting. This issue was fixed on #1512.
Please use Sphinx-1.3 or later.

[2015-11-20 16:41] #2124 closed, assigned to nobody

[2015-11-21 15:25] #1884 closed, assigned to nobody

[2015-11-21 15:46] shimizukawa commented on #1792
Maybe this is fixed by 9d0ce7a.

[2015-11-21 22:44] shimizukawa commented on #1792
https://dl.dropboxusercontent.com/u/284189/sphinx-issues/issue1792_2.tgz can't be built by Sphinx-1.3.1.
Now sphinx 1.3.2 (after 9d0ce7a, not released) can build it.

[2015-11-21 22:44] #1792 closed, assigned to shimizukawa

[2015-11-23 23:16] amueller opened #2128 "Can't get ``imported-members`` to work."
Following the discussion at #1892 I tried to make the scikit-learn docs build using the `imported-members` flag.

I tried autodoc_default_flags = ['members', 'inherited-members', 'imported-members'] but that didn't include any additional classes. I also just did autodoc_default_flags = ['imported-members'] with the same result.  (version 1.3.1)

Did I misunderstand anything? Were there changes to

[2015-11-24 05:54] mixmastamyk opened #2129 "Chapter 0?"
Very geeky request, I know, sorry about that.

I would like to have a chapter 0 for the intro to my geeky book.

Thanks for the great doc tool!

[2015-11-24 17:36] letmaik commented on #1609
Seems to work partly now. It prints the enum members but the members' doc string is not printed.

[2015-11-25 14:11] jschueller opened #2130 "unimplemented merge_domaindata in <class 'sphinx.domains.cpp.CPPDomain'>"
When enabling parallel builds for my projects I encountered the following error:

[code]

Indeed, it's not implemented:
sphinx/domains/cpp.py

[code]

There's a class Symbol in sphinx/domains/cpp.py too:

[code]

How do I proceed ?

[2015-11-25 14:21] jakobandersen commented on #2130
Thanks for the report. I disabled the parallel build support recently due to some major changes (to gain template support). I'm working on implementing the merging, but have not had time to finish it yet.
The current "solution" is unfortunately to not do parallel builds when the C++ domain is in use.

[2015-11-25 14:29] jschueller commented on #2130
@jakobandersen, thanks for your reply.

Glad someone is working on this, parallel builds would be very appreciated for large projects.

My doc is generated from python files, why is there some cpp involved ? is this enabled by default ?

I tried removing the cpp keyword from numpydoc extension doesn't but it doesn't change anything;

[code]

[2015-11-25 14:48] andreacassioli commented on #2120
I agree that would be quite interesting...

[2015-11-25 15:40] jakobandersen commented on #2130
Hmm, for some reason I thought the merging would only be called when needed. I have just pushed a 'fix' (c286917f534e2e22285dc199162ac8fe934f16cf), so Sphinx only stops if you have actually used the C++ domain and is using parallel builds. Does the commit also fix your case?

[2015-11-25 16:14] jschueller commented on #2130
@jakobandersen Yes, the error is gone.

[2015-11-25 16:28] jschueller commented on #2130
@jakobandersen, but now, after about 50% of the reading step, 4 sphinx-build processes are starting to slowly grow from 1-2% constant until now ram usage to 10, 20, 30% and it ends in swaping (I have 12 gigs of ram)!
I suspect there's a race condition somewhere, and it's the same when disabling numpydoc. Did you experience speedups with parallel builds ?
Without parallel build, the memory usage is

[2015-11-25 17:01] andreacassioli commented on #2034
I have understood this is not an issue, but an expected behavior. Maybe the only:: docs could be a bit clearer....

[2015-11-25 17:01] #2034 closed, assigned to nobody

[2015-11-25 20:02] rhertzog opened #2131 "Man page builder should escape words starting with a dot"
See https://github.com/django/django/pull/5720 for an example a manual page generated with Sphinx that suffers from the lack of escaping of words starting with a dot... In particular when they end up at the start of a line and are interpreted as a groff command. When this happens and when the word is not a valid groff command the whole line is not displayed.

I found out that escaping such words i

[2015-11-25 21:31] rryan opened #2132 ".. only:: does not seem to affect inclusion of pages in toctree_only LaTeX builds"
For a LaTeX build with toctree_only set to True and a custom content only included based on a tag in the root document:

Contents of index.rst, the root document:

[code]

Contents of index_developer.rst:

[code]

The TOC-tree in index_developer.rst is included in the final LaTeX document (and in the Table of Contents) regardless of the value of the 'release' tag. Works fine for the HTML builder (

[2015-11-25 21:34] jakobandersen commented on #2130
Great that the fix works, though unfortunately I don't know what goes on with the memory consumption and the new error. It would be great if you can open a new issue with the problems. Thanks again for the reports.

[2015-11-25 22:04] ngladitz opened #2133 "Unexpected automatic reference to constructor in C++ domain"
Given e.g.:

[code]

Using html output the "Test" in "void test(Test const& other)" links to the constructor function named "Test()" rather than the class "Test".

I think it should be the later?

[2015-11-26 04:31] shimizukawa commented on #2132
I think `only` and `ifconfig` directive was not designed to control section and toctree. Such usage causes unexpected behaviors (refs: #1488, #1717).
I guess this issue you mentioned is one of them.

memo for dev:
In my short investigation, sphinx.builders.latex doesn't treat 'only' node on resolving time of toctree.
sphinx.builders.Builder.write treat 'only' directive by calling self.env.get_and_

[2015-11-26 09:50] hagenw opened #2134 "Figure caption with reference causes latex build error"
If you include references in your figure like

[code]

The latexpdf builds fails with:

[code]

This issue maybe related to #2118 and/or #2094.

[2015-11-26 10:07] cmeeren opened #2135 "sphinx.ext.napoleon: Parameters with only type are rendered incorrectly"
Consider the following docstring:

[code]

It produces the following output (using [sphinx_rtd_theme](https://github.com/snide/sphinx_rtd_theme), but I do not think that's where the issue lies):

![parm](https://cloud.githubusercontent.com/assets/7766733/11420338/bb9abe60-942d-11e5-9b5c-a0c6a123bd39.png)

As you can see, there is a dash after the parameter type for `date`, even though no descripti

[2015-11-26 11:39] #2133 closed, assigned to nobody

[2015-11-26 11:40] jakobandersen commented on #2133
Thanks for the bug report, you are completely right.

[2015-11-26 12:50] ngladitz commented on #2133
That was quick! Thank you very much.

[2015-11-26 13:37] pcav commented on #1734
Also :description: would be useful, thanks.

[2015-11-26 14:47] lyrixx opened #2137 "admonition + class => different rendering"
Hello.

I have the following markup:

[code]

I expected to have the same HTML genrerated (except the class, obviously), but it's not:

**With class**

[code]

**without class**

[code]

I don't understand why if I specify a `class`, the content in not wrapped in a `p` anymore, but in a `blockquote + div` ?

[2015-11-26 14:55] andreacassioli commented on #1717
I understood this is expected. Issue closed.

[2015-11-26 14:55] #1717 closed, assigned to nobody

[2015-11-26 16:24] pcav commented on #1734
For image, :target: is not translatable.

[2015-11-26 17:29] lehmannro commented on #2137
Your `Hello, give...` paragraph is actually indented by one more space than the `:class:` option.  This makes it a [block quote](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#block-quotes), whereas it is regular content in the other case.

Please consult [sphinx-users](https://groups.google.com/d/forum/sphinx-users) for other questions on reStructuredText.

[2015-11-26 17:29] #2137 closed, assigned to nobody

[2015-11-26 17:32] lyrixx commented on #2137
Thanks for your feedback ;)

[2015-11-27 08:27] andreacassioli commented on #1341
Hi,
this is a crucial feature for the search.

Say I have an API and I want to search for a method whose name contains putacol, possibly a very large name. I would like to just type that, not remembering or type the whole name.

[2015-11-27 12:22] JelteF opened #2138 "Proposal: Using PyLaTeX to generate LaTeX"
I created a library to generate LaTeX code in a nice simple and readable fashion. https://github.com/JelteF/PyLaTeX

I was wondering if you guys would like to use it to generate the LaTeX code generated by Sphinx. It can even be partially used, since all objects have `dumps` method, which converts them to a string.

[2015-11-27 15:31] birkenfeld commented on #1341
APIs (object names) _are_ searched by substrings already.

[2015-11-27 15:36] kenhys commented on #2007
Since [Sphinx 1.3b1](http://sphinx-doc.org/changes.html#release-1-3b3-released-feb-24-2015), the 'default' theme name is changed to 'classic'.
To fix the issue, change 'default/layout.html' to 'classic/layout.html' in themes/groonga/layout.html.

[2015-11-27 16:56] benoit9126 opened #2139 "Reporter instance has no attribute 'get_source_and_line'"
Hi,

I try to generate a html documentation for one of my project. It works fine on my Windows but on my Linux, I have the following error:

[code]

Here is the related log:

[code]

I do not really understand the cause of this error... Everything works fine on Windows...

Thanks.

[2015-11-27 17:06] birkenfeld commented on #2139
Docutils 0.8 is pretty ancient. Please update to at least 0.11, which is probably what you have installed on Windows :)

[2015-11-27 21:14] benoit9126 commented on #2139
Thanks for the help. My IDE (Pycharm) kept an old version of `docutils` in the folder `/usr/share/pycharm/helpers/docutils`. I deleted this folder and now, the version installed by `pip` (0.12) is used by default.

[2015-11-27 21:15] #2139 closed, assigned to nobody

[2015-11-27 21:56] vlotorev opened #2140 "LaTex Builder: Footnotes in table caption and table contents doesn't work properly"
How to reproduce: create empty project with sphinx-quickstart. Modify index.rst to look like this:

[code]

The issue is:
 [1]_ in the table caption is replaced with '1' without any link
 [2]_ in the table header is replaced with '1' as link, but link is leading nowhere, PDF viewer jumps to first page after clicking the link.

Reproducible with Sphinx version 1.3.1

[2015-11-28 00:42] RobRuana commented on #2135
I can't reproduce this issue with the docstring quoted above.

I believe this has been fixed in the repo with #1927, but a new version with the fixed code hasn't been released yet.

You can try using the sphinxcontrib-napoleon package ('sphinxcontrib.napoleon' instead of 'sphinx.ext.napoleon' in conf.py). You'll need to pip install sphinxcontrib-napoleon or add sphinxcontrib-napoleon to your requi

[2015-11-28 23:44] orome commented on #1711
@SmokinCaterpillar — Is there a special place in `conf.py` where the patch goes? Simply placing it in the file has no effect for me.

[2015-11-28 23:46] orome commented on #1711
Does anyone know whether it would be possible to just patch Sphinx to use `__wrapped__`? I have no idea how one might do that!

[2015-11-29 03:06] shimizukawa commented on #1818
fixed.

[2015-11-29 03:06] #1818 closed, assigned to shimizukawa

[2015-11-29 13:09] #2140 closed, assigned to nobody

[2015-11-29 14:23] #2130 closed, assigned to jakobandersen

[2015-11-30 07:42] cmeeren commented on #2135
Hi, I tried using sphinxcontrib-napoleon instead (added to requirements.txt) but the issue remains.

[2015-11-30 07:59] jlec opened #2142 "sphinx/search/non-minified-js/*js not included in pypi tarball of version 1.3.2"
test fail with

[code]

Please include the missing files

[2015-11-30 08:01] shimizukawa commented on #2142
Oh.. I'll fix soon.

[2015-11-30 08:03] RobRuana commented on #2135
Did you also enable it in the Sphinx conf.py?

[2015-11-30 08:05] shimizukawa commented on #2142
#2114 should be included to stable branch too.

[2015-11-30 08:23] tk0miya commented on #1986
It caused by Sphinx. Sphnx redefines style parameters for fncychap on `sphinx.sty`::

[code]

`sphinx.sty` is generated automatically on every time you run `make latex`.
We need to patch to Sphinx that does not redefine these parameters by default.

MEMO:
This style came from the Python documentation (3d74adea2595f35994093091410bc8607bd49f74)

[2015-11-30 08:57] cmeeren commented on #2135
Yes, I replaced `sphinx.ext.napoleon` with `sphinxcontrib.napoleon`.

[2015-11-30 13:09] bersace commented on #2142
Hi, I confirm this bug on 1.3.2 with `french-stemmer.js`.

[code]

[2015-11-30 14:35] shimizukawa commented on #2142
@bersace thanks for reporting. Let me clarify, it was happen on UnitTest as @jlec ? or on building html output?

[2015-11-30 14:45] jlec commented on #2142
@shimizukawa That was during unittesting.

[2015-11-30 14:48] bersace commented on #2142
I hit it on building HTML doc for our project.

[2015-11-30 15:06] shimizukawa commented on #2142
@bersace @jlec Thanks. I'll release fixed version in next few days.

[2015-11-30 18:19] RobRuana commented on #2135
Can you post the exact version of sphinx and napoleon you are using?

[2015-11-30 19:13] cmeeren commented on #2135
sphinx 1.3.1
sphinxcontrib-napoleon 0.4.3 (when using sphinxcontrib.napoleon instead of sphinx.ext.napoleon)

Building on readthedocs

[2015-11-30 19:15] cmeeren commented on #2135
Here's the build log for the sphinxcontrib-napoleon build: https://readthedocs.org/projects/apexpy/builds/3524853/

Here's the build log for the latest build using sphinx.ext.napoleon: https://readthedocs.org/projects/apexpy/builds/3525109/

[2015-11-30 19:30] RobRuana commented on #2135
This is very odd... Here is a screenshot of that exact docstring rendered with Sphinx 1.3.1 and Napoleon 0.4.3 on my system. Is it possible readthedocs.org is serving a cached or stale build of the documentation?

![napoleon](https://cloud.githubusercontent.com/assets/2592431/11482024/65050922-9755-11e5-9847-6ed52c8a348c.png)

[2015-11-30 19:34] RobRuana commented on #2135
For what it's worth, I've experienced issues with stale builds on readthedocs.org. Is there any way you can verify the rendered html is the from the latest build? Perhaps a version number or another change you can check to verify the html is being overwritten?

[2015-11-30 20:48] andreacassioli opened #2143 "numref not working with download in only block"
Hi,
I am trying to show code blocks with a link to the file for download in the block caption. The link should only appears in html. So I do

[code]

The code and the download link are displayed correctly, but  if I try to refer to the block with

[code]

the link is broken. Any clue?

[2015-11-30 21:05] cmeeren commented on #2135
I always check the revision number at the bottom, which is the first characters in the Git commit hash. It has always checked out. That should be sufficient, right?

[2015-11-30 21:12] RobRuana commented on #2135
That should be sufficient to verify the latest docs are building.

Perhaps the build environment is stale? You could try following the directions [here](http://read-the-docs.readthedocs.org/en/latest/builds.html#deleting-a-stale-or-broken-build-environment) to wipe the build environment.

I've had to do that before on my own projects to get the docs to build correctly.

[2015-11-30 21:36] lsaffre opened #2144 "How can I disable ``imported-members``?"
I cannot build the docs for one of my projects with version 1.3.2 because I did not find out how to disable the `imported-members` of autodoc. I tried to put `autodoc_default_flags = ['no-imported-members']`to my conf.py without success.
I need to disable it because my source code does `from django.db.models import Q`, and the docstring of that class `Q` contains invalid syntax which causes a warn

[2015-12-01 09:19] cmeeren commented on #2135
Tried to wipe all versions and re-build (using sphinx.ext.napoleon) but no luck, [the problem is still there](http://apexpy.readthedocs.org/en/latest/reference/helpers.html#apexpy.helpers.toYearFraction).

I don't know if I'm supposed to get any confirmation that the version is wiped when clicking "Wipe", I got none (I was sent to an "are you sure" page and clicked Wipe again and was sent back to

[2015-12-01 09:27] ngladitz opened #2145 "cpp:enumerator is broken"
e.g.

[code]

Fails with:

[code]

[2015-12-01 10:41] jakobandersen commented on #2145
Thanks for reporting this. It was a recent refactoring error. Though the commit also fixes a lookup bug with enumerators in unscoped enums:

[code]

[2015-12-01 11:20] ngladitz opened #2146 "cpp:function trouble parsing pointer to member arguments"
Given e.g. this nonsensical C++ snippet:

[code]

Based on which I've got e.g. this documentation:

[code]

I get the following diagnostic:

[code]

Unrelated to the main issue but the line reference in the diagnostic does not seem to correspond to the exact location of the parsing problem (which is in line 1 rather than 3).

[2015-12-01 11:36] ngladitz commented on #2145
Thanks. I don't know if this is related in any way but sphinx seems to have become very slow in this context.
I haven't taken the time to actually let it finish but aborting a run seems to suggest that a lot of time is spend here:

[code]

Sorry I don't (yet) know how to properly debug/profile python.

[2015-12-01 12:31] jakobandersen commented on #2145
Thanks for catching that (it was present before as well). The declarations know about their symbol, so the line you found basically makes a copy of the complete symbol table. My test case runs way faster, is it fixed in yours as well?

[2015-12-01 12:44] ngladitz commented on #2145
Yes, thank you! It runs much faster now.

[2015-12-01 13:07] jakobandersen commented on #2145
Great!

[2015-12-01 13:07] #2145 closed, assigned to jakobandersen

[2015-12-01 21:07] andreacassioli commented on #2143
OK, it seems not to be related with download, so I close the issue and make a new one.

[2015-12-01 21:07] #2143 closed, assigned to nobody

[2015-12-01 22:52] andreacassioli opened #2147 "litralinclude code in latex does not break in pages!"
Hi,
it seems that if I use literinclude to insert a piece of code that will span more than one page in PDF, then the code block is not split and it is rendered (wrongly) only in the first page.

To be more precise:

1- the code is displayed in the next page respect to the position that it should have in the text

2- the code goes "out of the page" with no breaks

3- the latex code looks OK except

[2015-12-02 00:14] tk0miya commented on #2143
In this case, you'd got a following warning on building docs:

[code]

The message was raised at second `literalinclude`.
because the `only` directive did not remove first `literalinclude` block. but It made the block invisible (still exists).

so the `:numref:` role refers the invisible one and the generated document looks like broken.
It seems a little strange, but it is a current specification.

[2015-12-02 03:34] takaakiaoki commented on #2147
I also met same problem several weeks ago. This issue due to the fact that
when literalinclude (or code-block) is used with :caption: option, the latex builder encloses
the contents with float environment named as literal-block, where page break is not available.

I wrote some extension to replace float by newfloat and add small modification, shown in
  https://github.com/takaakiaoki/sphinx_latexn

[2015-12-02 03:41] magnunleno opened #2148 "Erro while compiling Django Docs to DevHelp"
I'm trying to compile Django Docs to DevHelp using sphinx, but I end up with the following error:

[code]

Steps to reproduce the error:

[code]

The sphinx error log is available here: http://pastebin.com/w2BrJiLT

[2015-12-02 05:47] tk0miya commented on #2147
@takaakiaoki Good extension!
Could you remake it as pull request?
We'll merge your extension into the Sphinx.

I can support you in Japanese :-)

[2015-12-02 06:12] takaakiaoki commented on #2147
@tk0miya -san,

I appreciate your offer and accept any operation on my code to solve this issue.
Thanks,

[2015-12-02 07:13] linlinlinlin opened #2149 "codec can't decode byte 0xe6 in position 109"
[code]

[2015-12-02 07:16] shimizukawa commented on #2149
[code]

I guess it's a `runcode.py` issue.

[2015-12-02 08:26] andreacassioli commented on #2147
Hi guys,
thank you for the quick turn around!  Any guess on when the pull will be merged in stable?

[2015-12-02 09:39] #2142 closed, assigned to shimizukawa

[2015-12-02 09:39] #2148 closed, assigned to shimizukawa

[2015-12-02 09:39] shimizukawa commented on #2142
1.3.3 has been released.

[2015-12-02 09:39] shimizukawa commented on #2148
1.3.3 has been released.

[2015-12-02 09:53] bersace commented on #2142
I confirm. Thanks !! :-)

[2015-12-02 12:29] andreacassioli opened #2150 "improve only directive"
I have posted issues regarding the only directive and always get the reply that what is to me an issue 'it is a specification`.

I do understand that `only` is a bit peculiar, but still it's behavior is very annoying and limiting. Take thi as example: I want to have a caption for a literalinclude that differs depending on the target:

[code]

Clearly, since I want to link to the block, I need the

[2015-12-02 12:35] linlinlinlin commented on #2149
Sorry, I will check it again.

But runcode.py:20 is  `CodeBlock.run()` .
And CodeBlock is from `sphinx.directives` .

[2015-12-02 14:51] tk0miya commented on #2007
This problem was already fixed at groonga repos.
https://github.com/groonga/groonga/commit/e8005662395451480ca1e931d330d43c86da5623

[2015-12-02 14:51] #2007 closed, assigned to nobody

[2015-12-02 21:28] shimizukawa commented on #2149
@linlinlinlin what is `runcode.py`? please let me know its source code.

[2015-12-02 22:04] jakobandersen commented on #2146
Pointers to members and pointers to member functions should now work. I also think the line number problem has been resolved. @ngladitz can you confirm this?

[2015-12-03 05:28] magnunleno commented on #2148
Thanks, it works perfeclty!

[2015-12-03 08:22] ngladitz commented on #2146
Thanks! Both issues seems to be fixed for me.

[2015-12-03 08:24] jakobandersen commented on #2146
Great, thanks!

[2015-12-03 08:24] #2146 closed, assigned to jakobandersen

[2015-12-03 11:13] shimizukawa commented on #2148
:+1:

[2015-12-03 12:44] #2094 closed, assigned to nobody

[2015-12-03 13:08] ngladitz opened #2151 "cpp:type reference enhacement"
Given index.rst:

[code]

test1.rst:

[code]

test2.rst:

[code]

The "my_type" reference in both the foo() and bar() function signatures point at the cpp:type directive in test1.rst.

While I don't think this is technically wrong (also given that the typedefs are identical) it would be nice if a reference to the cpp:type in the same file / scope could be preferred.

e.g. my_type in foo() would po

[2015-12-03 13:30] jakobandersen commented on #2151
I'm not sure this is a good idea. Essentially you are documenting `my_type` twice, which seems a bit strange. If it were really two different types, but you just don't want their individual namespace to show, then you can do something like

[code]

[2015-12-03 13:51] ngladitz commented on #2151
In my case the typedefs are identical (same namespace).
The directives are auto-generated from C++ headers where one .rst corresponds to one header.

I will (probably) not add any hand written documentation to these cpp:type directives given that for my use case the directive's head is sufficient documentation in itself.

From the C++ compiler's point of view multiple typedefs can declare the same

[2015-12-03 14:11] jakobandersen commented on #2151
It would definitely be a complication, but maybe not an impossible one. Though, before considering it we first need to find out what should happen in all cases. Should the same lookup logic apply to in-text references (the :cpp:*: roles)? How should lookup work when the same rst file has multiple identical declarations?
The most complicated case is probably what should happen when a reference is n

[2015-12-03 14:33] tk0miya commented on #2008
The `figure_align` option is added at v1.3.
Please upgrade your sphinx to newest.

[2015-12-03 14:33] #2008 closed, assigned to nobody

[2015-12-03 14:34] ngladitz commented on #2151
I think preferably, yes.

For my use case that would not happen though I think I would prefer the last declaration before the current reference (following the mantra the closer the more relevant).

Hm yes I haven't thought that case out properly.

For my use case I would like it if it could pick a declaration from the same directory (as in filesystem location of the .rst; which corresponds to the

[2015-12-03 21:25] ahicks92 commented on #825
+1 as well.
Many of those of us who are visually impaired hate ReST with the burning intensity of a thousand suns.  There's a lot of emphasis on getting alignments and character counts just right, and that's annoying when you quite literally cant' see the supposed beauty of the text file that no one really reads in that format anymore anyway.  Both headings and tables are something I consider sign

[2015-12-04 00:15] jsmedmar opened #2152 "REMOVE THIS ISSUE"

[2015-12-04 00:54] RobRuana commented on #2135
The correct solution to this issue is to set `napoleon_use_param = False` in your conf.py. `sphinxcontrib.napoleon` is not needed, `sphinx.ext.napoleon` works fine.

Thank you for your patience while I figured this out!

When `napoleon_use_param = True` (the default value) Napoleon will correctly render the following:

[code]

as reStructuredText:

[code]

The sphinx html builder then renders that

[2015-12-04 00:54] #2135 closed, assigned to RobRuana

[2015-12-04 08:40] cmeeren commented on #2135
Great, it worked! Thank you so much. Are there any downsides to use `napoleon_use_param=False`?

[2015-12-04 08:57] RobRuana commented on #2135
The only downside is if you are using another third party extension that is explicitly looking for the `:param NAME:` style formatting. However, I am not actually aware of any conflicts with any other extensions.

There may also be some slight styling differences depending on the theme you are using, but again, I am not aware of any actual conflicts.
- `napoleon_use_param = False` turns your param

[2015-12-04 09:01] cmeeren commented on #2135
I can confirm that using [this conf.py](https://github.com/cmeeren/apexpy/blob/8ee3a1d5f85600dcba174496cfc15eee8dfc83e1/docs/conf.py) there is no visible difference on ReadTheDocs.

[2015-12-04 09:04] RobRuana commented on #2135
Cool, thank you for all your input on this!

[2015-12-04 12:23] mcepl opened #2154 "NotImplementedError: Unknown node: inline in line 344 of manpage.py"
When trying to build documentation for `python-hypothesis` 1.11.2 on RHEL 7 (python-sphinx-1.1.3-9) I got `NotImplementedError: Unknown node: inline in line 344 of manpage.py` error. Log attached.

[sphinx-err-Mn5q5o.log.txt](https://github.com/sphinx-doc/sphinx/files/51915/sphinx-err-Mn5q5o.log.txt)

I am not sure whether https://groups.google.com/forum/#!topic/sphinx-users/tkByKOJR2Zw has anythi

[2015-12-04 21:47] ikalnytskyi opened #2155 "Use reStructuredText's `code` directive"
Since [docutils 0.9](http://docutils.sourceforge.net/RELEASE-NOTES.html#release-0-9-2012-05-02), reStructuredText supports [`code` directive](http://docutils.sourceforge.net/docs/ref/rst/directives.html#code), but Sphinx, unfortunately, can't handle this. By design, `code` directive supports syntax highlighting, but Sphinx ignores this due to `visit_literal_block` reimplementation in [custom `HTML

[2015-12-04 23:47] #2152 closed, assigned to nobody

[2015-12-05 17:29] eli-collins opened #2157 "Issue log messages from jinja template"
It'd be helpful if there was a way to call app.warn() / builder.warn() from jinja template (maybe  .debug() and .info() as well).  This would be particularly helpful for theme development...  I've got a .css_t file which does some parsing / numeric calculations, and would like to be able to display a cmdline warning to the user that some of the theme.conf inputs couldn't be parsed / were invalid.

[2015-12-05 21:51] asr commented on #1725
I could fix the same reported issue with `make latexpdf` by adding a 'u' in front of the title and the author in `latex_documents` (see https://github.com/agda/agda/commit/dfe479e370ae33e37fb1021a374bedbb8912089d).

[2015-12-05 23:54] asr commented on #894
:+1:

[2015-12-06 14:03] artob commented on #1820
Encountered this just now with Sphinx 1.3.3 running on Python 2.7 installed from MacPorts. Installing `pyreadline`, with either `pip` or `port`, did not improve matters. The workaround of `unset TERM` does improve matters a little.

[2015-12-07 03:21] ashwinkumar12345 commented on #1875
having the same issue..how to resolve?

[2015-12-07 09:01] takaakiaoki opened #2158 "test_latex_build.test_footnote fails (on Py3.4) on Win10"
test_latex_build.test_footnote fails with py3.4 on windows 10 by this command,

[code]

The contents of testlog.txt is following,

[code]

This error seems due to ... ,
- test string includes newline character.
- On windows, .tex file is saved with \n -> \r\n translation
  (see sphinx.builders.latex.LatexBuilder.write and docutils.io.FileOutput)
- However, invert translation is not valid.
  Files

[2015-12-07 09:17] shimizukawa commented on #2158
Please let me know which version of sphinx did you test on?

[2015-12-08 00:58] takaakiaoki commented on #2158
I am testing it on commit 0dd6ce3063ddb2f8b7f084e923ecc7f4ab4e9423

Regards,

[2015-12-08 21:39] ashwinkumar12345 opened #2161 ".. include:: <test.txt> :literal: not being included"
Show code example for onclick button function is not being included from the example folder using
.. include:: <test.txt>    :literal:

Any reasons for make html not including the text files in html?

[2015-12-09 13:18] electrofelix commented on #1815
Hi wondering if the fix for this could be merged? It would be really useful for an OpenStack project https://github.com/openstack-infra/jenkins-job-builder to have our CI watch out for broken links being added to the docs. Right now we cannot catch such issues even though 'broken' appears beside a number of the links over time and we have no way to distinguish between a clean run and one with miss

[2015-12-09 14:05] tk0miya commented on #2154
It seems the bug was already fixed. Could you try current version?

[2015-12-09 14:40] shimizukawa commented on #2154
@mcepl  0ef7a0a7 is.

[2015-12-09 14:47] shimizukawa commented on #1815
@electrofelix please make pull request to review the fix in your repository.

[2015-12-09 14:49] shimizukawa commented on #1815
OK, I found it as #1816

[2015-12-09 15:17] tk0miya commented on #2147
The pull request is merged into stable now.
Please try it now :-)

[2015-12-09 15:17] #2147 closed, assigned to nobody

[2015-12-09 15:39] mgeier opened #2162 "Changing source_suffix in an extension's setup() function?"
I'm writing [an extension](http://nbsphinx.readthedocs.org/) which provides a custom source parser for `*.ipynb` files.

I'm trying to append `'.ipynb'` to `app.config.source_suffix` within my extension's `setup()` function, to make it easier for my users. This way, they don't have to specify `source_suffix` explicitly in their `conf.py`.

This worked perfectly until I tried to actually specify `s

[2015-12-10 10:37] linlinlinlin commented on #2149
I'm not sure what happened. But it didn't happening again.

[2015-12-10 10:37] #2149 closed, assigned to nobody

[2015-12-10 10:53] shimizukawa commented on #2149
OK.

[2015-12-10 22:18] jfbu opened #2164 "Wrong check for pdftex inside sphinx.sty (for graphicx package option)"
When using `make latex`,  one finds in `build/latex` a file `sphinx.sty`. This LaTeX style file is loaded by the produced document. It executes

[code]

However, on current main `TeX` installations, `\pdftexversion` is defined also when running `latex` to produce `dvi` files. Thus always the "`pdftex`" branch is chosen, which makes it a priori impossible to compile the document via `latex` (for la

[2015-12-11 09:49] jfbu opened #2165 "faulty \ifx in sphinx.sty (latex issue)"
File `sphinx.sty` for `latex` output contains:

[code]

The second `\ifx` test is not correct `TeX`: `\ifx` will compare `\Gin@driver` token to `{` token. Thus this conditional always evaluates to false, hence always

[code]

is executed if `\kanjiskip` is defined, i.e. if `platex` is used. Besides `\Gin@driver` is only defined by package `graphicx` which is loaded later (I quickly checked that wa

[2015-12-11 10:21] xuhdev commented on #1907
I've made a PR #2166 to solve this issue. Please check it out if you are interested :)

[2015-12-11 10:33] andreacassioli opened #2167 "parsed-literal output"
Hi,

I have realized that the html output of parsed-literal depends on whether links are included or not. For instance:

[code]

will generate a single line with highlighted code

but

[code]

will yield a single line but with not highlight. Note that the link is valid and it will work nicely.

My point is: there should be a consistent behaviour. Of course would be nice to have always  highlight (

[2015-12-12 11:02] xuhdev commented on #2134
@tk0miya Rather than removing the anchor, I think my solution in mcmtroffaes/sphinxcontrib-bibtex#92 is better: generate `\renewcommand{\phantomsection}{}` at the beginning of each `figure` and `table` environment. The anchor is still there and there is no loss.

[2015-12-12 22:34] rartino opened #2168 "raw directive does not work for text writer"
When asking for .. raw:: text, I get the following crash:

[code]

Full log is attached:
[sphinx-err-lIPmGJ.log.txt](https://github.com/sphinx-doc/sphinx/files/60278/sphinx-err-lIPmGJ.log.txt)

A patch that fixes the issue is also attached:
[sphinx_raw_text.patch.txt](https://github.com/sphinx-doc/sphinx/files/60279/sphinx_raw_text.patch.txt)

[2015-12-13 09:25] daoiqi opened #2169 "add Chinese Search into milestones"
enhao has pull request [Traditional Chinese search](https://github.com/sphinx-doc/sphinx/pull/1862) #1862 .

this is my branch https://github.com/daoiqi/sphinx/tree/zh-search

In fact,  I base on it and add some code to support `zh` search. How about add feature into one milestones?

---

it need import [`jieba`](https://github.com/fxsjy/jieba) for support Chinese search.

then edit `conf.py`.

[c

[2015-12-13 10:29] Carreau opened #2171 "Cannot `linkcheck` url with unicode."
example url:

[code]

offending part is `utf8=✓` I guess.

Fails [here](https://github.com/sphinx-doc/sphinx/blob/6f6aa53f372c25ec781f0e2c26fa7433f03342cc/sphinx/builders/linkcheck.py#L157-L159):

[code]

As this is concatenate respectively  bytes, string, bytes, string.

[2015-12-13 15:23] andreacassioli commented on #2150
See also #1911

[2015-12-13 23:17] jfbu opened #2172 "Dysfunctional admonition \py@lightbox in sphinx.sty (latex converter)"
The command `\py@lightbox` for admonitions of the `note`, `hint`, `important`, `tip` types is defined in `sphinx.sty` for latex as follows:

[code]

But the `\vspace` in the last line should have been before the `\noindent`. As it stands this will insert a backward vertical shift between the first and second line of the admonition text, resulting in poor pdf output. (as I have experienced in my cu

[2015-12-13 23:38] andreacassioli opened #2173 "Request of implementation: global substitutions"
I have a fairly large project, say 1000 files, and a set of say 40 substitutions. I use rst_prolog to pre-pend the set of substitutions to each file. This seems to slow quite a lot the doc generation, and my guess is that I need to:
1. process 40x1000 lines of text
2. generate 40x1000 substitution nodes

That looks overkilling and useless to me. Why is there no global substitution table? I know th

[2015-12-14 16:30] joest67 commented on #1844
Same issue, and it works with sphinx < 1.3.

[2015-12-15 05:39] rkuska commented on #1835
According to sphinx docs:

But it produces warning when default is used and doesn't create the default.css (I use import default.css in my theme css file). Is this expected?

[2015-12-15 05:49] shimizukawa commented on #1835
@rkuska Sphinx-1.3.2 fixes your problem.
https://github.com/sphinx-doc/sphinx/blob/1.3.3/CHANGES#L25
Please try latest (1.3.3) version.

And now I close this issue because original issue is already resolved.

[2015-12-15 05:49] #1835 closed, assigned to nobody

[2015-12-15 09:39] andreacassioli commented on #2026
Hi,
I still get this error. It may be related with alltt env used by the Tex writer:

http://tex.stackexchange.com/questions/63170/pageref-inside-alltt

Indeed the code I get is

[code]

[2015-12-15 16:55] Psirus commented on #1880
Any progress on this?

[2015-12-15 17:01] Psirus opened #2174 "Autodoc unable to mock submodules"
conf.py:

[code]

foo.py:

[code]

foo.rst:

[code]

Gives this error:

[code]

[2015-12-15 22:48] xuhdev commented on #2164
I agree with this change. Actually this detection makes me force to `\usepackage{svg}` after sphinx package in #2166

[2015-12-16 09:13] wsw70 opened #2175 "Cannot get working links in graphviz"
_question initially [asked at stackoverflow](http://stackoverflow.com/questions/34269413/is-it-possible-to-link-graphviz-elements-to-sphinx-links) but it looks like this is rather a bug_

I use [graphviz](http://graphviz.org/) in my [Sphinx](http://sphinx-doc.org/) documentation and would like to reuse links automatically generated by the RestructuredText code.

The output I get from

[code]

is c

[2015-12-16 11:08] jfbu commented on #2164
@xuhdev there is another reason why `\usepackage[pdftex]{graphicx}` is bad, even when compiling with `pdflatex`. Another package added to the preamble _before_  `\usepackage{sphinx}` (via the `'fontenc'` key for example) could very well do `\usepackage{graphicx}`. One then get an error:

[code]

This happened to me because I wanted to compile the document to `pdf` via `lualatex`, using system font

[2015-12-16 15:05] danrings opened #2177 "Parallel build often hangs, apparently waiting for subprocesses to finish"
We have started using sphinx on a 1000+ rst-files project. It is pretty impressive, however the parallel build option (-j <N>) does not work properly. I find sphinx hangs in most cases some way through the files. I assume this is due to some deadlock arising from the interplay of multiprocessing, threading and semaphores. I managed to simplify the parallel.py module and make it run robustly. Will

[2015-12-16 15:36] tk0miya commented on #2175
MEMO: related with #2014 and #2176

[2015-12-16 15:41] tk0miya commented on #2134
@xuhdev Thank you for your advice. I'll check it in next weekend!

[2015-12-16 15:44] birkenfeld commented on #2177
That would be great!

[2015-12-16 22:39] andreacassioli commented on #2177
Hi,
I have been experiencing the same issue, and we have a similar size project.

It seems to me the hang does not happen if the output on screen is disabled.

[2015-12-16 23:35] vitaut opened #2178 "Unparseable C++ cross-reference when referencing a function with :cpp:any:"
The following example

[code]

gives a warning:

[code]

and the reference is not generated.

Although the warning can be worked around by removing the parentheses, it would be useful if `:cpp:any:` accepted them as `:cpp:func:` does. Otherwise one has to duplicate function name in `:cpp:any:` to render the parentheses:

[code]

Accepting parentheses would also improve consistency with the Python

[2015-12-17 07:51] xuhdev opened #2179 "Support rendering math as svg in html and epub output"
Rendering math as svg is pretty useful: the vector image would look much nicer than the png correspondence. Although MathJAX can be used for html, it (a) does not work in epub, (b) is heavy (takes time to load), (c) requires javascript.

I have a solution which I've implemented locally, which modifies `pngmath` to render math as svg images. The major part of the extension is pretty much the same,

[2015-12-17 07:56] xuhdev commented on #2179
The hack I'm currently using is available [here](https://github.com/xuhdev/sphinx/commit/4fc2f49d1a66f9d5fb974d3c0ba10c8826369406)

[2015-12-17 08:22] xuhdev commented on #1480
This issue can be solved by adding

[code]

to the preamble.

[2015-12-17 08:24] xuhdev commented on #1480
@tk0miya Shall we incorporate the change (see my previous comment) into Sphinx?

[2015-12-17 13:58] usox commented on #2083
I can confirm this issue. The searchtools need lowercase searchterms but unfortunately, the german (imho other languages are affected, too) index builder doesn't perform a `lower()` on the terms like the english one does.

[2015-12-18 20:37] #2177 closed, assigned to nobody

[2015-12-18 20:43] #981 closed, assigned to nobody

[2015-12-18 20:44] #2083 closed, assigned to nobody

[2015-12-19 00:33] xuhdev commented on #2134
@tk0miya I guess we have to reopenthis again?

[2015-12-19 02:13] bnaul opened #2183 "porterstemmer causes `make json` to fail"
Create an example project:

[code]

Try compiling with `porterstemmer` available and the build will fail:

[code]

Try again without `porterstemmer` and all's good:

[code]

[2015-12-19 07:14] tk0miya commented on #967
Fixed at e859543.

[2015-12-19 07:14] #967 closed, assigned to nobody

[2015-12-19 07:34] tk0miya commented on #2175
For now, #2176 is merged into stable branch.
It enables to click the links in SVG images.
Please check it.

Thanks,

[2015-12-19 07:34] #2175 closed, assigned to nobody

[2015-12-19 08:51] tk0miya commented on #1480
@xuhdev Sorry, I could not determine that. Do you know that are there any side effects by adding it into preamble?
If not, I'll incorporate it.

[2015-12-19 08:59] tk0miya commented on #1237
Fixed at #2159.

[2015-12-19 08:59] #1237 closed, assigned to tk0miya

[2015-12-19 09:24] tk0miya commented on #2120
You can do it with label syntax.

[code]

Is this helps you?

[2015-12-19 09:24] #2120 closed, assigned to nobody

[2015-12-19 09:47] tk0miya commented on #2179
To keep compatibility, it would be better adding `imgmath` as new extension.
And, `pngmath` should warn deprecated message on importing.

Yes, please!

@shimizukawa @birkenfeld  What do you think?

[2015-12-19 09:59] birkenfeld commented on #2179
Yes, no renames please. Renaming the default theme was painful enough :)

[2015-12-19 10:08] shimizukawa commented on #2179
+1 for no renaming :)

2015年12月19日(土) 18:59 Georg Brandl notifications@github.com:

[2015-12-19 11:35] tk0miya commented on #2168
Fixed at  209e5f2

[2015-12-19 11:35] #2168 closed, assigned to nobody

[2015-12-19 13:59] tk0miya commented on #2171
Fixed at 9669f2a

[2015-12-19 13:59] #2171 closed, assigned to nobody

[2015-12-19 14:55] tk0miya commented on #2077
MEMO: #1817

[2015-12-19 18:04] Carreau commented on #2171
Awesome thanks for the quick fix !

[2015-12-19 21:07] xuhdev commented on #2134
@tk0miya I now have a simpler solution, which is similar to [this line](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/latex.py#L1290): do not generate `\phantomsection` in figure and table captions.

[2015-12-19 21:10] xuhdev commented on #2134
Never mind, forget what I said---the line I referred to removes the anchor. Sorry. I think `\renewcommand{\phantomsection}{}` is still the best solution.

[2015-12-19 21:31] xuhdev commented on #1480
@tk0miya You're right that this solution may have some unwanted global effects. A better solution would be `\protect`ing all `\(` and `\)` in section titles. However, I cannot find a way to determine whether the inline math is in a title in the mathbase extension (`latex_visit_math` function).

[2015-12-19 21:33] xuhdev commented on #2179
OK, no renaming :)

[2015-12-19 22:18] shimizukawa commented on #2158
Fixed. Thanks for your reporting!

[2015-12-19 22:18] #2158 closed, assigned to shimizukawa

[2015-12-20 04:25] sandhan26 opened #2187 "SyntaxError: Missing parentheses in call to 'print' , while making the sklearn doc"
i have attached the log and snapshot of the problem below.

![untitled](https://cloud.githubusercontent.com/assets/5576333/11916495/5d40f584-a6ff-11e5-9ba6-be9817599c6b.png)
## error log
# Sphinx version: 1.3.3
# Python version: 3.4.3+ (CPython)
# Docutils version: 0.12 release
# Jinja2 version: 2.8
# Last messages:
# Loaded extensions:

Traceback (most recent call last):
  File "/usr/local/lib/py

[2015-12-20 07:15] tk0miya commented on #1480
@xuhdev I'm not good at LaTeX. So your comments are very helpful for me.

You can check the `math` node is in a section title by following function:

[code]

[2015-12-20 07:23] tk0miya commented on #2187
It seems the errors caused by `sphinxext/gen_rst.py`. It is not a part of Sphinx.
Maybe, it is written by sklearn_tutorial team.
Please let them know about the error.

[2015-12-20 07:23] #2187 closed, assigned to nobody

[2015-12-20 07:31] tk0miya commented on #2118
With Sphinx-1.3.3, I can't reproduce this problem.
Please try again and let me know if you got same error.

[2015-12-20 07:31] #2118 closed, assigned to nobody

[2015-12-20 09:12] tk0miya commented on #2134
@xuhdev Sorry for late response. I'd just read your suggestion now.

At 32b483d, I removed `\phantomsection` from captions.
In your suggestion, the macro will not be removed, but be invalidated.

I think there is no differences between these solutions.
Please tell me what is your solution better than current implementation.

[2015-12-20 10:26] xuhdev commented on #2134
@tk0miya Yes, you are right. It seems to be my local setup issue. Sorry for the noise, now I think the issue was perfectly solved.

[2015-12-20 10:37] xuhdev commented on #1480
@tk0miya Thanks for your suggestion. I've made PR #2188 to fix this issue.

[2015-12-20 12:19] tk0miya commented on #2134
I'm relieved to hear that. Thank you for your support.

[2015-12-20 12:19] #2134 closed, assigned to tk0miya

[2015-12-20 15:08] #2113 closed, assigned to tk0miya

[2015-12-20 19:56] stevepiercy opened #2189 "Previous sibling link for first file in subdirectory uses last file, not intended previous from root toctree"
# How to reproduce

We use `toctree` directives in two files located relatively from the root of the source directory as follows.
## index.rst

[code]
## api/index.rst

[code]
# Expectation

When viewing the first globbed file in the api subdirectory:
http://docs.pylonsproject.org/projects/pyramid/en/master/api/authentication.html
the previous link should be for narr/zca, according to root index.r

[2015-12-21 00:41] shimizukawa commented on #1993
I can't reproduce the issue whether source and build directories were separated or not.
My project source is here:
https://dl.dropboxusercontent.com/u/284189/sphinx-issues/issue1993-20151221.tgz

Now I close this ticket. Please feel free to reopen if you still have trouble. And/Or document is hard to understand, please let me know. Thanks.

[2015-12-21 00:41] #1993 closed, assigned to shimizukawa

[2015-12-21 03:25] tk0miya commented on #2189
Fixed at f85d1a0.

I keep this ticket opened for a while. I'll check that are the related issues resolved or not.

[2015-12-21 07:10] stevepiercy commented on #2189
That fixed this specific issue, but now the issue has moved to the other end. So I'm updating this issue as follows:

# Expectation

When viewing the _last_ globbed file in the api subdirectory:
http://docs.pylonsproject.org/projects/pyramid/en/master/api/wsgi.html
the _next_ link should be for whatsnew-1.6, according to root index.rst.

# Observation

_Next_ link is for api/authentication, the _f

[2015-12-21 13:34] tk0miya commented on #2003
Fixed at 8b57bc7

[2015-12-21 13:34] #2003 closed, assigned to tk0miya

[2015-12-21 17:31] tkelman commented on #2003
Thank you @tk0miya!

[2015-12-21 23:41] pekkaklarck opened #2190 "apidoc extension docs don't list all available options (at least `--module-first` missing)"
I wanted to have module contents before submodules but didn't find anything related when looking at [docs](http://sphinx-doc.org/man/sphinx-apidoc.html). Looking at the [source](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/apidoc.py#L296) I noticed that `--module-first` does exactly what I wanted.

[2015-12-22 02:37] tk0miya commented on #1480
PR #2188 is merged to stable. Thanks @xuhdev !

[2015-12-22 02:37] #1480 closed, assigned to tk0miya

[2015-12-22 03:33] shimizukawa commented on #655
`graphviz` directive already have 'read external dot file' feature that was aimed at #443. see http://sphinx-doc.org/ext/graphviz.html#directive-graphviz

[2015-12-22 03:33] #655 closed, assigned to nobody

[2015-12-22 11:47] lehmannro commented on #2173
There is some functionality like this in [`DefaultSubstitutions`](https://github.com/sphinx-doc/sphinx/blob/1.3.3/sphinx/transforms.py#L43-L61) already, which replaces `|version|`, `|release|`, and `|today|`.  You could modify which config variables are inlined from your `conf.py` by monkeypatching [`sphinx.transforms.default_substitutions`](https://github.com/sphinx-doc/sphinx/blob/1.3.3/sphinx/t

[2015-12-22 12:26] andreacassioli commented on #2173
Hi,
thank you for the hint. I will take a look to the options you gave me.

I guess this is not considered an issue unless a project starts to be fairly big. I am not sure I have enough understanding of Sphinx to work on a pull request, but I'll see if it is not too hard.

[2015-12-22 19:06] jquast commented on #1711
@orome you can see a version of my `conf.py` workaround here if it helps, https://github.com/jquast/blessed/blob/master/docs/conf.py#L38-L55

Take note of the conditional expression, `or 'blessed' not in func.__module__` -- this ensures patching is contained to the `blessed` module

[2015-12-23 13:01] andreacassioli commented on #2173
Hi again,
I have patch my `conf.py` this way:
- create a dictionary `global_substitutions`

[code]

that I populate in `conf.py`.
- create an extension with  Transform subclass that basically does the substitution

[code]

It seems to work and the speed up is impressive (40%) ! Only one thing does not work: the standard markup layout like `**word**` for bold fonts seems not to be processed. Is it

[2015-12-24 04:13] tk0miya commented on #1574
I'd fixed following case at ee7e3cc.

[code]

The other cases is hard to fix for me.
In [my repository](https://github.com/tk0miya/sphinx/tree/1574_table_cell), I tried to fix these cases with `eqparbox`.
but it still has problems below:
- got cell overflow when using `\multirow`

  ![cell_overflow](https://cloud.githubusercontent.com/assets/748828/11989500/1d975f04-aa42-11e5-8609-f430b97f6be7.png

[2015-12-24 13:06] tk0miya commented on #2131
This is a bug of docutils.
`rst2man.py` ignores lines starts with dot too.

I reported the problem at https://sourceforge.net/p/docutils/bugs/289/ .
Please watch the issue.

[2015-12-24 13:06] #2131 closed, assigned to nobody

[2015-12-24 17:57] xuhdev commented on #2179
I have made a PR at #2192 to for this issue :)

[2015-12-24 19:36] tritemio opened #2193 "Error during build"
When building the documentation for phconvert (using [this commands](https://github.com/Photon-HDF5/phconvert/blob/master/docs/Build%20docs.ipynb)) I get this error:

[code]

And here the full log:

[code]

[2015-12-25 01:45] tk0miya commented on #2071
Fixed at 0719611.

Thank you for reporting.

[2015-12-25 01:45] #2071 closed, assigned to tk0miya

[2015-12-25 02:30] tk0miya commented on #2193
Could you check variables `$DOCS_DIR` and `$HTML_DIR`?
If both are empty, you'll get the error.

[2015-12-25 02:46] tritemio commented on #2193
@tk0miya, you are right. I run the command from a Jupyter notebook and, for some reason, the variables are not passed anymore to the shell (they are empty).

This is not an issue with sphinx at all. However, maybe detecting that not enough parameters are passed and printing a relevant message could be useful.

[2015-12-25 03:45] tk0miya commented on #2183
In my short investigation:
It is caused from PorterStemmer-0.5. With PorterStemmer-0.4, it works fine.

[2015-12-25 04:49] tk0miya commented on #2193
OK, I understand. I'll handle it and show any messages.

[2015-12-25 06:22] nicoco007 opened #2194 "Disable italics in :doc: link"
I have a bunch of `:doc:` references in my documentation, but all the links that are created this way are italicised. Is there a way to disable this? I tried using different themes and they all have the same problem.

[2015-12-25 07:16] tk0miya commented on #2040
Fixed at f1cf5d5.

Thank you for reporting.

[2015-12-25 07:16] #2040 closed, assigned to nobody

[2015-12-25 14:54] shibukawa commented on #2183
@tk0miya, @shimizukawa, porterstemmer author(methane) and I discussed about this issue:
- Old Sphinx supported only English for search words.
- porterstemmer option was introduced in this age for acceleration.
- Then Sphinx supported 14 languages for search words by using [snowballstemmer](https://github.com/shibukawa/snowball_py) (I made)
- snowballstemmer uses PyStemmer for acceleration if avail

[2015-12-25 16:53] bnaul commented on #2183
:+1:

[2015-12-25 17:01] tk0miya commented on #2193
Fixed at 9c2704b.

Thank you for reporting!

[2015-12-25 17:01] #2193 closed, assigned to tk0miya

[2015-12-26 02:25] tk0miya commented on #2183
Fixed at f1518c5.

@bnaul Sorry, I did not noticed your pull request and I fixed this at local.
Thank you for reporting!

@shibukawa Thank you for organizing issue. It's very helpful for me :-)

[2015-12-26 02:25] #2183 closed, assigned to nobody

[2015-12-26 03:57] tk0miya commented on #2194
Sphinx represents `:doc:` references as `<em>` elements in HTML.
But, Sphinx does not define any styles for `<em>` elements.
So your problem is caused by default settings of your browser.

If you want to change the styles for them, please setup user stylesheets.

(1) Create stylesheet under `_static` directory in your Sphinx project (ex. `_static/custom.css')

[code]

(2) Load the stylesheet. Appe

[2015-12-26 03:57] #2194 closed, assigned to nobody

[2015-12-26 04:26] tk0miya commented on #2183
At first, I fixed this at stable branch.
but I moved it into master branch just now (4234c88). because it is breaking change.

Thanks,

[2015-12-26 05:07] tk0miya commented on #2027
In short investigation:
If we set None to `html_title`, Sphinx generates the string "None" as HTML title.
So the comment is incorrect.

[code]

It would be better the `html_title` only accepts string value and set empty string as its default.

[2015-12-26 07:51] nicoco007 commented on #2194
I see. That's somewhat annoying, but your fix works. I feel a bit stupid for not thinking of this earlier. Thanks!

[2015-12-26 12:44] tk0miya commented on #2189
@stevepiercy Thank you for letting me know.
I fixed again at 222a51e.
Could you try it again?

[2015-12-26 12:53] dschult opened #2196 "viewcode does not link to inherited methods"
The viewcode `[source]` link is not created for methods that are inherited, even if the source code is available.

For example, if the class structure is

[code]

Then sphinx with viewcode puts a link in the `c2` documentation to the source for `c2.meth2` but no such link is created to `c2.meth1`.  The documentation for c2.meth1 is there, but the link to the source code is not. I'd like the link t

[2015-12-26 13:34] tk0miya commented on #790
In my short investigation:
I could not determine this behavior is either a bug and new standard.
but, it came from a commit b4a6b2c3c130129e70a76e909a0f886df21d1f18 .

[2015-12-26 19:23] tritemio commented on #2193
@tk0miya, thanks for adding the error message.

For the record, the error was due to a bug in ipython 4.0.0 that was fixed in 4.0.1. I cannot find a specific issue number, but upgrading fixed the bug.

[2015-12-26 20:33] stevepiercy commented on #2189
@tk0miya on Python 2.7, there's a syntax error:

[code]

In which version of Python do you build?

[2015-12-27 07:33] tk0miya commented on #2178
I fixed the problem by another solution at af2ae22.
(to enable add_function_parentheses on :cpp:any: role)

So I close this PR.

[2015-12-27 07:33] #2178 closed, assigned to nobody

[2015-12-27 07:54] tk0miya commented on #2189
@stevepiercy Oh, really? We tests the script in py26-27 and py33-34 at Travis CI.
It seems all tests are passed https://travis-ci.org/sphinx-doc/sphinx/builds/98863191

Could you try it again with the HEAD of stable branch?

[2015-12-27 09:43] tk0miya commented on #2122
In my environment (Mac, Sphinx-1.3.3, MacTeX 2015, Google Chrome), the label is always put on end of the line.

Case of mathjax:
![mathjax](https://cloud.githubusercontent.com/assets/748828/12009743/2cde09ac-acc9-11e5-8b18-9d5c42d1950f.png)

Case of pngmth:
![pngmath](https://cloud.githubusercontent.com/assets/748828/12009744/2ce6d078-acc9-11e5-9cce-0a0ba6436162.png)

Could you tell me about the i

[2015-12-27 09:49] tk0miya commented on #1360
I salvaged the attached files from bitbucket: [1360.zip](https://github.com/sphinx-doc/sphinx/files/72638/1360.zip)

[2015-12-27 10:00] stevepiercy commented on #2189
@tk0miya I looked around through the [pip reference](https://pip.pypa.io/en/latest/reference/pip_install/#options), and tried several things, but could not figure out how to upgrade Sphinx 1.3.3 to HEAD in my virtualenv for Pyramid. I even tried un/installing. Do you have any suggestion?

[2015-12-27 19:59] xuhdev commented on #2129
You can add the following to `preamble`  in `latex_elements` option in `conf.py`:

[code]

[2015-12-27 20:16] bnaul commented on #2183
Perfect! Just saw that the issue was still open then so I figured I'd try it myself. Thanks for your help!

[2015-12-28 02:11] jskksj opened #2197 "Slightly cryptic error message for missing index.rst file."
I had deleted the current index.rst file and not yet replaced it while running 'make html'.  The error message requested a issue report should this be a user error.

[code]

[2015-12-28 03:46] mixmastamyk commented on #2129
Thank you.  I also found a sectnum directive to do it.

[2015-12-28 03:46] #2129 closed, assigned to nobody

[2015-12-29 09:24] xuhdev commented on #2164
This problem also bugs me a lot (can't use `latex` to compile). @jfbu Would you mind making a pull request to fix this issue (PR usually gets more attention than an issue :) )? The driver detection configuration in TeXLive is [this](http://texdoc.net/texmf-dist/tex/latex/latexconfig/graphics.cfg), and MiKTeX also includes another version of this auto detection file, thus I don't think sphinx shoul

[2015-12-29 15:33] coline-carle opened #2198 "error in pot translation"
Hi, I might have stumbled upon an issue with the pot file generation
Here on these three lines :
https://gist.github.com/libellul/4c34ac12f74c90aa9f69#file-installing-pot-L56
https://gist.github.com/libellul/4c34ac12f74c90aa9f69#file-installing-pot-L64
https://gist.github.com/libellul/4c34ac12f74c90aa9f69#file-installing-pot-L72

The msgid SHOULD be links if you watch the following rst file in my

[2015-12-29 16:50] pborenstein opened #2199 ":scale: option for figure:: doesn't work in Sphinx 1.3.3"
The following markup works in Sphinx 1.3.1 but not in Sphinx 1.3.3:

[code]
## Sphinx 1.3.1

<img width="350" alt="sphinx131" src="https://cloud.githubusercontent.com/assets/113034/12037950/e3487b88-ae21-11e5-9d30-21a4414c0782.png">
## Sphinx 1.3.3

<img width="393" alt="sphinx133" src="https://cloud.githubusercontent.com/assets/113034/12037949/e344b002-ae21-11e5-875d-8f60d07f389b.png">
## ZIP fil

[2015-12-29 22:58] vlotorev opened #2201 "Latex: Wrong table caption for tables with over 30 rows at Sphinx 1.3.3"
The following table has table caption as [u’Table caption’] in output PDF file. The issue appeared at Sphinx 1.3.3 while it wasn't at 1.3.1. The table caption in output PDF is even more 'mangled' in case non-latin characters are used in table caption.

The issue is reproducible with the following table:

[code]

[2015-12-30 02:53] weaming opened #2202 "How to change theme output directory from `_static` to `static`"
How to change theme output directory from `_static` to `static`

I can't find any setting in conf.py or other file.

[2015-12-30 02:56] weaming commented on #2202
@shimizukawa help me

[2015-12-30 07:26] shimizukawa commented on #2202
@weaming you can't. However, https://pypi.python.org/pypi/sphinxtogithub will helps you to output into `static` directory.

Internally, Sphinx implements '_static' on several places: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/html.py

[2015-12-30 07:42] shimizukawa opened #2203 "configuration to use specified directory name instead of underscore prefixed names as `_static`"
For what?
- for github pages (now a days, `.nojekyll` is recommended)
- some other purpose?

Targets:
- _static
- _images
- _downloads
- _sources

Limitations:
- Conflicts with user's directories, however user should know.
- Some extensions write files into `_static` or `_images` directories directory, maybe (ex: diagram or some image generators).

Relates:
- #2202 want to use `static` instead of

[2015-12-30 09:22] weaming commented on #2202
@shimizukawa Is this mean adding a blank file named `.nojekyll` to the repo's root directory works for this situation?

I think change this name into one argument in `conf.py`  would be better.

[2015-12-30 09:37] jfbu commented on #2164
@xuhdev I have done the pull request. Not being used to this, I wasn't sure I had to fork the whole [sphinx-doc/sphinx](https://github.com/sphinx-doc/sphinx) to my account, but this is how I proceeded in the end.

[2015-12-30 10:22] methane commented on #2198
Isn't it a "term" of definition list?

see https://github.com/sphinx-doc/sphinx/commit/d3375761d27a11a23636673c2390c321f1754114#commitcomment-15202832

[2015-12-30 12:32] shimizukawa opened #2205 "A change to fix #1855 break po translation catalog"
https://github.com/sphinx-doc/sphinx/commit/d3375761d27a11a23636673c2390c321f1754114#commitcomment-15202832 is reported by @methane

[2015-12-30 12:46] shimizukawa commented on #2202
sphinxtogithub is a workaround for github pages that ignores underscore prefixed directories.

Agreed. I filed #2203 that is a enhancement proposal for sphinx `conf.py`.

[2015-12-30 13:49] shirou opened #2206 "Sphinx latex doc build failed due to a footnotes"
When I want to build sphinx document under the `doc` directory and `make latexpdf`, I got this error.

[code]

It seems this error occurred at [latex writer](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/latex.py#L1674), `visit_footnote_reference`.

[2015-12-30 13:56] shirou commented on #2206
If I remove `UnsupportedError`, just ignore, build success.

[code]

And the output is below.

<img width="816" alt="2015-12-30 22 52 39" src="https://cloud.githubusercontent.com/assets/177213/12051518/4f2589dc-af48-11e5-8eb7-5390dbc1cd45.png">

If a footnote inside a figure-caption, a number is attached but footnote is not shown. This behavior is current Sphinx limitation I think.

[2015-12-30 15:12] weaming commented on #2202
@shimizukawa Adding blank file named `.nojekyll` in root directory works for me.

[2015-12-30 16:14] cbworden commented on #2122
Hi,
My latex specs are:
pdfTeX 3.14159265-2.6-1.40.15 (TeX Live 2014/MacPorts 2014_8)
kpathsea version 6.2.0
...
Compiled with libpng 1.6.17; using libpng 1.6.17
Compiled with zlib 1.2.8; using zlib 1.2.8
Compiled with poppler version 0.32.0

This is likely the difference between our setups. I pulled this version off of MacPorts as part of the texlive-latex, texlive-latex-recommended, and texlive-

[2015-12-30 19:47] vitaut commented on #2178
Thanks!

[2015-12-30 21:16] shimizukawa commented on #2202
@weaming If you issue is "want to use github pages", Yes, `.nojekyll` is a better way than `sphinxtogithub` extension.
Now I close this thicket.

[2015-12-30 21:16] #2202 closed, assigned to shimizukawa

[2015-12-31 07:20] coline-carle commented on #2198
I do not have the programming skills but I norrowed down the problem effectively it has to do with definitions

[code]

the pot file is  :

[code]

[2016-01-01 01:52] tk0miya commented on #2027
I made a new pull request #2208 .
It changes a behavior of `html_title`.

[2016-01-01 02:10] tk0miya commented on #2189
@stevepiercy You can do it with following command:

[code]

[2016-01-01 02:45] tk0miya commented on #2199
In my environment, it works fine for me.
I took a look at the difference of sphinx131.html and sphinx133.html.
I found there is no style attribute in sphinx133.html.

[code]

It looks like behavior without installing pillow.
Could you check your sphinx 1.3.3 environement?
If pillow is not installed yet, please install it and try again.

[2016-01-01 06:02] tk0miya commented on #2197
In my short investigation:
This is came from the behavior that Sphinx always rewrites `master_doc` even if it is not found.
https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/__init__.py#L346 (in `write()`)

This error happens on incremental build.
At the same time, I got another error on full build:

[code]

It is caused from this line:
https://github.com/sphinx-doc/sphinx/blob/mast

[2016-01-01 10:09] tk0miya commented on #2206
Thank you for reporting.
I fixed it at 584f051.

[2016-01-01 10:09] #2206 closed, assigned to tk0miya

[2016-01-01 10:31] tk0miya commented on #2201
Thank you for reporting.
I fixed it at b0f376f.

[2016-01-01 10:31] #2201 closed, assigned to nobody

[2016-01-01 12:01] tk0miya commented on #2205
@shimizukawa How about this? It strips invalid classifers and passes all tests.

[code]

[2016-01-01 12:07] tk0miya commented on #2179
#2192 is merged now! Thanks a lot!

[2016-01-01 12:07] #2179 closed, assigned to nobody

[2016-01-01 12:13] tk0miya commented on #1570
We will introduce `sphinx.ext.imgmath` in Sphinx-1.4 (unreleased yet).
It enables to store formulas as SVG format.

[2016-01-01 12:13] #1570 closed, assigned to nobody

[2016-01-01 12:20] tk0miya commented on #2203
I think it is better that creating `.nojekyll` by default (or ask that on quickstart) if main reason is github-page support.

[2016-01-01 12:42] birkenfeld commented on #2203
+1 for asking in quickstart.

[2016-01-02 06:04] tk0miya commented on #2197
@birkenfeld Is there any reason to only warn if master_doc not found?
This behavior was implemented at very early Sphinx (before v0.2!).
https://github.com/sphinx-doc/sphinx/commit/50da49fab419949106442e5eec47831d0c82d0b8#diff-4f9fdea88baff0b430508f9793ae9c93R358

If possible, I would raise error in that case (before users got any exceptions).
Because many features of Sphinx depends on existence o

[2016-01-02 06:27] tk0miya commented on #2107
Now this issue is obsoleted I think (In addition, this is not a issue of sphinx).
Now, I close it. If you still have any problem, please reopen again.

Thanks.

[2016-01-02 06:27] #2107 closed, assigned to nobody

[2016-01-02 06:27] tk0miya commented on #2154
Now this issue is already resolved I think.
Now, I close it. If you still have any problem, please reopen again.

Thanks.

[2016-01-02 06:27] #2154 closed, assigned to nobody

[2016-01-02 06:29] tk0miya commented on #2101
This issue is already resolve I think.
Now, I close it. If you still have any problem, please reopen again.

Thanks.

[2016-01-02 06:29] #2101 closed, assigned to nobody

[2016-01-02 09:03] tk0miya commented on #1615
PR #2200 is merged into master branch.
It resolve this issue.

Thanks.

[2016-01-02 09:03] #1615 closed, assigned to nobody

[2016-01-02 11:37] tk0miya commented on #2164
Merged into master branch (at 297c1647110b766c6d0aeadcbaa74a365d75d2a1).
Thanks.

[2016-01-02 11:37] #2164 closed, assigned to nobody

[2016-01-02 13:37] birkenfeld commented on #2197
I think you're right, this should be an error (especially since it leads to exceptions like this.)

[2016-01-02 15:55] tk0miya commented on #2197
I understand. I'll fix it later :-)

[2016-01-02 17:49] quarion opened #2215 "make.bat generated by quickstart.py cannot be called from another dir"
## Problem

make.bat cannot be called from another directory that its own. It can be problematic in some situations, for example if you would want to call it from a build script.
## Solution

add `pushd` and `popd` directives in the output .bat

I will try to make a pull request later, if nobody would pick this up

[2016-01-03 02:15] tk0miya commented on #2215
+1
Yes, please! We'll merge your pull request.

[2016-01-03 02:39] tk0miya commented on #2041
I can't reproduce the problem. Please tell me about the issue in detail (versions, configurations and any examples).

[2016-01-03 02:55] tk0miya commented on #2086
In my environment, it does not be reproduced.

[code]

It looks the Sphinx you use depends on `sphinx_rtd_theme`. So, I wonder why the package is not installed on your environment.
Could you check it again, please?

[2016-01-03 03:14] tk0miya commented on #2079
Thank you for reporting.
This was fixed at #1157 (59d655c435e7ca1a5e48cbbf9809d2553cc71d5d).

Please use newest version. Thanks.

[2016-01-03 03:14] #2079 closed, assigned to nobody

[2016-01-03 03:42] vitaut commented on #2086
It happens at least with the `distribute` package version 0.6.24 which is installed on [Travis](travis-ci.org):

[code]

As a workaround I update `distribute` manually now (https://github.com/cppformat/cppformat/commit/aaa8b1e0aa5e14765dfa57484e5a2eba8db2184a), but it would be nice if `sphinx-rtd-theme` was optional and didn't break installation of Sphinx without updating `distribute`.

[2016-01-03 04:15] tk0miya commented on #2051
In my short investigation:

It is happened only on `latexpdfja`. On the other hand, on `latexpdf`, it works fine.
And more, it looks fine for me to replace tilde mark with `\textasciitilde`.

But I can not judge which should be better to resolve this on either Sphinx or pygments.

[2016-01-03 04:56] tk0miya commented on #2086
I understand. I'll think about #2087 later.
but it will be introduced in next major version if the theme was deprecated. so, for now, we should use the workaround...

[2016-01-03 08:30] stevepiercy commented on #2189
OK, after throwing out my venv, i realized one should never "cross the streams" when installing packages via easy_install then pip. I basically resorted to installing all the necessary packages we use for Pyramid using pip instead of easy_install for Python 2.7 (didn't try 3.5) and this patch works correctly, even when traversing sibling directories. Thank you!

Now I need to figure out how to get

[2016-01-03 08:48] xuhdev commented on #1574
@tk0miya  The following LaTeX code works for me for multicolumn. It seems that longtable supports paragraphs in multicolumn out of box, but I don't know why tabulary is not working. Also see [here](https://tex.stackexchange.com/questions/39976/is-it-possible-to-have-multiple-paragraphs-inside-a-multicolumn-using-xcolor-or) (the question itself, not the answer) for another example. For multirow, ma

[2016-01-03 09:04] stevepiercy commented on #2189
FWIW, I tested this out, in our `rtd.txt` file:
git+https://github.com/sphinx-doc/sphinx.git@222a51e0cf0080b74f3a8a233590c707ee4eec32#egg=sphinx-222a51e0cf0080b74f3a8a233590c707ee4eec32

That worked via RTD:
http://pyramid-stevepiercy.readthedocs.org/en/master/narr/zca.html (click through to next a couple of times)

We're going to wait for the release of 1.3.4 before deploying. Do you have a relea

[2016-01-03 09:14] tk0miya commented on #2022
In my short investigation:
`html_extra_path` is documented as:

But, since its appearance in 1.2b1, it does not support the files starts with dot.
It might this is unexpected behavior.

The main problem is caused by `sphinx.util.copy_static_entry()`.

[2016-01-03 11:02] tk0miya commented on #2189
Thank you for verification. I was relieved to hear it.
Now, I close this issue.

It will be announced in list: https://groups.google.com/forum/#!forum/sphinx-users

(Maybe it will released in a week: https://groups.google.com/forum/#!topic/sphinx-dev/HyAUsaPMZ1M)

Thanks.

[2016-01-03 11:02] #2189 closed, assigned to tk0miya

[2016-01-03 11:15] tk0miya commented on #1815
Fixed at 2bcf92dfb0837f3be804662770fb4d45b767c284.

Thank you for reporting.

[2016-01-03 11:15] #1815 closed, assigned to nobody

[2016-01-03 11:26] tk0miya commented on #2197
FIxed at 7bb685b.
Thank you for reporting!

[2016-01-03 11:26] #2197 closed, assigned to tk0miya

[2016-01-03 11:29] tk0miya commented on #1812
It seems the error message is similar to #2197.
It might fixed by 7bb685b.

[2016-01-03 11:34] tk0miya commented on #2022
As a workaround, you can avoid the bug with specifying a path to `.htaccess`.
Example::

[code]

[2016-01-03 12:16] mgeier commented on #2162
OK, I had a closer look at https://github.com/sphinx-doc/sphinx/blob/master/sphinx/application.py and found an ugly solution. I still don't understand every detail, so I still hope for a better and less ugly solution!

The problem seems to be that in `Sphinx.__init__()` the `self.config` object is created, but the values from `conf.py` are not immediately evaluated. Instead, they are temporarily s

[2016-01-03 13:12] tk0miya commented on #2047
I tried this in newest version.
It seems the problem was already resolved, now.

32d1ebec5 (without duplicated footnote fix):
![sphinx_32d1ebec5](https://cloud.githubusercontent.com/assets/748828/12078884/819b1f32-b266-11e5-9ebb-408775183542.png)
e9aae6563 (with duplicated footnote fix):
![sphinx_e9aae6563](https://cloud.githubusercontent.com/assets/748828/12078883/819aca78-b266-11e5-8a51-4a95acd6

[2016-01-03 13:12] #2047 closed, assigned to nobody

[2016-01-03 14:52] vitaut commented on #2086
That's fine, I'm using unreleased version anyway. For now the workaround will do.

[2016-01-04 02:21] tk0miya commented on #1894
Fixed at e8e5391.
Thank you for reporting and good suggestion!

[2016-01-04 02:21] #1894 closed, assigned to nobody

[2016-01-04 07:04] tk0miya commented on #2051
Oh, I noticed that your tilde is not ASCII's.
You'd used **small tilde** (In unicode, U+02DC) instead of ASCII's tilde (0x7E).
http://www.fileformat.info/info/unicode/char/2DC/index.htm

This problem is not resolved yet. but this is not a maror bug.
So I change priority of this ticket.

Thanks,

[2016-01-04 10:04] birkenfeld commented on #2162
The issue is that extensions (i.e. their `setup()` functions) are allowed to add new config values. Therefore, the full initialization of config values is only done after all extensions have been set up.

We could switch to a two-stage model, initializing all built-in values before, and only doing the newly added ones afterwards.

[2016-01-04 13:55] uchida commented on #2165
I have pushed this changes to evade errors due to `\include{pdfcolor}` line, which includes
`$TEXMF-dist/tex/generic/pdftex/pdfcolor.tex`.
This file is distributed with `pdftex` package and `platex` cannot handle this file.
Therefore if `\kanjiskip` is defined, `\newcount\pdfoutput\pdfoutput=0` should be executed and second `\ifx` conditional is unnecessary.

Sorry to write faulty conditonal and @

[2016-01-04 15:18] tk0miya commented on #2162
I think two stage model is too much solution in this case.
In PR #2162, I merged config values from `conf.py` and extention after setting up finished.

Now, both `source_suffix` and `source_parsers` are used only for enable additional parsers. not for any configurations.
So, I think it should be better that the users never mind these config values and enable parsers through adding extension or not

[2016-01-04 15:32] #2165 closed, assigned to nobody

[2016-01-04 16:05] RobertoBagnara opened #2219 "list-table caption garbled in LaTeX output"
With Sphinx 1.3.3 (not sure about previous versions)
a source line like

  .. list-table:: bla bla bla

results into the LaTeX output

  \caption{[u'bla bla bla']}

instead of

  \caption{bla bla bla}

[2016-01-04 16:37] fladrinar commented on #2150
I'm new to sphinx and the main reason I decided it would work for our project was the existence of the `only` directive.

But now I see that it throws lots of errors because of not excluding the contents of false `only` directives in the first pass. I'm getting many `Duplicate substitution definition name:` errors for example, when to me having a variable substitution is the _point_ of a directive

[2016-01-04 17:09] josephcslater commented on #2022
Thanks!

[2016-01-04 17:42] skorokithakis opened #2220 "`Text` object has no attribute `get` error."
When trying to compile a document with references, I get the following error:

[code]

It seems to be that the reference couldn't be resolved, but the error is rather hostile.

[2016-01-04 17:55] mgeier commented on #2162
@birkenfeld: Thanks for the explanations, now I get it, this totally makes sense!

I don't know how much effort a two-stage thing would be, but it would be definitely easier to understand for the user (= me).
Then changing attributes of `app.config` within an extension would be very simple and obvious.
The fact that this isn't supposed to work for extension-defined settings is also quite obvious.

[2016-01-05 01:48] tk0miya commented on #1149
In my short investigation:
Since version 1.1, `sphinx.ext.graphviz` allows `:inline:` option. So we can put it into text as floated image in LaTeX output.

But, In HTML, it does not work fine. For example, I tested by simple code::

[code]

It works fine in LaTeX builder, but in HTML builder, we got following result::

[code]

You can see that texts placed before and after are treated as a paragra

[2016-01-05 01:51] tk0miya commented on #2219
Sorry for inconvenience. This has been fixed at #2201.
We will release new version including this fix soon (maybe).
Please wait a moment.

Thank you for reporting.

[2016-01-05 01:51] #2219 closed, assigned to nobody

[2016-01-05 01:57] tk0miya commented on #1504
This server error is already fixed now.

Thanks,

[2016-01-05 01:57] #1504 closed, assigned to nobody

[2016-01-05 02:05] tk0miya commented on #1460
MEMO: This will be fixed in PR #2216.

[2016-01-05 05:31] tk0miya commented on #1647
I can't reproduce this.
I tried with combination of these parameters:
- `language = 'fr'` in conf.py
- environment variable `LANG=fr`
- environment variable `LANG=fr_FR.utf-8`

Could you tell me your settings and environment in detail?

[2016-01-05 16:35] tk0miya commented on #771
Fixed at b0a5a13.
Thank you for reporting.

[2016-01-05 16:35] #771 closed, assigned to tk0miya

[2016-01-05 16:35] tk0miya commented on #1408
Fixed at d0576cd.
Thank you for reporting.

[2016-01-05 16:35] #1408 closed, assigned to tk0miya

[2016-01-05 17:01] mgeier commented on #2162
FWIW, I found a different use for a more general solution: My extension also changes `latex_elements`.
For now I'm doing this with the `'builder-inited'` event, but doing it in `setup()` would be much more straightforward.

Not a biggie, though.

[2016-01-05 22:17] shimizukawa commented on #1820
https://pypi.python.org/pypi/colorama/0.3.5 has been fixed this issue.

[2016-01-05 22:17] #1820 closed, assigned to shimizukawa

[2016-01-05 22:31] shimizukawa commented on #1820
(memo) How to reproduce this issue
1. invoke 'command prompt' by cmd.exe
2. if you use Win10, set "Use legacy console" check box in option
3. Install Sphinx-1.3.x (1.3, 1.3.1, 1.3.2, 1.3.3)
4. Install colorama-0.3.3
5. set TERM=xterm
6. do `make html`

![20160106-71019](https://cloud.githubusercontent.com/assets/151623/12129494/60631b3e-b447-11e5-8d1e-bc84b5f9ef12.jpg)

[2016-01-06 01:50] tk0miya commented on #2162
The source parsers are components for docutils and Sphinx.
At this present, we use config variables (`source_suffix` and `source_parsers`) to install them.
But, on the other hand, other components (builders, nodes, directives, roles, domains, tranlators, and so on) are installed by Sphinx API.
So I think it should be introduce Sphinx API to install them.
(In additon, It would be nice if we can dep

[2016-01-06 02:13] tk0miya commented on #2072
Fixed at e03dc8d.
Thank you for reporting.

[2016-01-06 02:13] #2072 closed, assigned to tk0miya

[2016-01-06 03:45] tk0miya commented on #1460
Now, #2216 is merged into master branch.
It will be released in next major version.

Thanks,

[2016-01-06 03:45] #1460 closed, assigned to nobody

[2016-01-06 03:57] tk0miya commented on #1736
I think that is too nervous to handle errors from python primitives.
In addition, 9 months has passed since the bug was fixed. So there is no need to handle it.

Now, I'll close this issue after a week.
Please comment here if you has any advices or objections.

Thanks,

[2016-01-06 04:09] tk0miya commented on #2220
It seems similar to #1601.
@shimizukawa Are these related?

[2016-01-06 09:34] #2169 closed, assigned to nobody

[2016-01-06 10:44] skorokithakis commented on #2220
Hmm yes, they may be the same error, it depends on the exception there.

[2016-01-06 13:21] grothesque opened #2222 "UTF-8-encoded sources do not work when locale is "C""
With Python 3, Sphinx does not accept UTF-8-encoded source files, when the locale is set to "C".  This happens although the `source_encoding` configuration variable is left at its default value (See http://sphinx-doc.org/config.html#confval-source_encoding).

This behavior is problematic.  For example, Debian packages get built with a "C" locale when an isolated build enviroment (cowbuilder) is us

[2016-01-06 13:37] #2203 closed, assigned to nobody

[2016-01-07 02:00] tk0miya commented on #2022
In my short investgation (part 2):
`sphinx.util.copy_static_entry()` is used in these features:
- applehelp: `copy_localized_files()`
- changes: copy `themes/default/static/default.css_t` and `themes/basic/static/basic.css`
- `html`: copy static files from the selected theme
- `html`: copy files in `html_static_path`
- `html`: copy files in `html_extra_path`

It seems it is not insecure operation

[2016-01-07 08:08] tk0miya commented on #1366
I reproduce this bug with following reST:

[code]

bullet list is needed to reproduce this in my environment.

[2016-01-07 08:09] tk0miya commented on #1366
MEMO: http://tex.stackexchange.com/questions/45948/what-is-the-difference-between-hspace-fill-and-hfill

[2016-01-07 11:25] andreacassioli commented on #2150
I do agree!

Funny it is not a very  popular issue...

[2016-01-07 12:16] tk0miya commented on #1580
Fixed at 2be21e3.
Thank you for reporting

[2016-01-07 12:16] #1580 closed, assigned to tk0miya

[2016-01-07 12:17] tk0miya commented on #1900
Fixed at bef3025
Thank you for reporting

[2016-01-07 12:17] #1900 closed, assigned to tk0miya

[2016-01-07 12:17] tk0miya commented on #1366
Fixed at eea055d
Thank you for reporting

[2016-01-07 12:17] #1366 closed, assigned to tk0miya

[2016-01-07 15:38] tk0miya commented on #1860
Fixed at c6c9c5c
Thank you for reporting

[2016-01-07 15:38] #1860 closed, assigned to tk0miya

[2016-01-07 15:43] tk0miya commented on #1498
In my short investigation:

It seems this is a bug of docutils.
rst2man.py generates the same result:

Input:

[code]

Output:

[code]

docutils generates term of definition list as bold string (`.B \fB\-f\fP, \fB\-\-foo\fP=\fIargument\fP`).

[2016-01-07 15:54] tk0miya commented on #2060
Thank you for advice.
We should represents the reference as `nodes.strong`.

I'll think about this. Which is better change the style in all formats or in man page only.

[2016-01-07 15:59] bgeron commented on #2155
I think neither option is great. In the first case, Sphinx would have a half-compatible `code` directive that will confuse users later on when they want to use the Docutils line number option; in the second case there is Pygments highlighting but it doesn't take into account the options from `conf.py`.

I think option 3 might be better: to acknowledge that Sphinx RST is a slightly different langua

[2016-01-07 16:04] tk0miya commented on #2172
I feel your new `\py@lightbox` seems good.
But I don't reproduce the bad case.

Could you tell me about your _poor pdf output_?
(any examples or screnshots are very helpful for me)

[2016-01-07 16:34] jfbu commented on #2172
@tk0miya Hi, I create a new empty project named `TestLightbox` with the script `sphinx-quickstart` (currently on my system v1.3.1 from an Anaconda install), accepting all default answers (except `Create Windows command file?` as I am on Mac OS X). Then I modify `intro.rst` to contain in particular:

[code]

and the `testlightbox.rst` file contents are:

[code]

I then do `make latexpdf` and here i

[2016-01-07 17:09] tk0miya commented on #1805
Sorry for late response.
Could you tell me about the problem in detail?
For example, your reST codes, what is on the line 221, and so on.

[2016-01-08 01:13] tk0miya commented on #1223
Now, sphinx-1.3.3 depends on docutils-0.11 or later.
So I close this.

[2016-01-08 01:13] #1223 closed, assigned to nobody

[2016-01-08 01:31] shimizukawa commented on #1223
Thanks!

[2016-01-08 01:52] tk0miya commented on #2022
Oh, I noticed that the `copy_static_entry()` expands template files end with `_t`.
It is undocumented behavior. It might be another bug of `html_extra_path`.

@mcmtroffaes Could you tell me about `html_extra_path` if you can recall? Did you expect it would expand templates on copying?

[2016-01-08 02:27] tk0miya commented on #2
Now, we have three extensions to generate RSS feed.
- sphinxcontrib-newsfeed https://pypi.python.org/pypi/sphinxcontrib-newsfeed
- sphinxfeed https://pypi.python.org/pypi/sphinxfeed
- sphinx-contrib/feed https://bitbucket.org/birkenfeld/sphinx-contrib

I think main purpose of this issue is resolved by them.
So I close this issue.

Thans,

[2016-01-08 02:27] #2 closed, assigned to nobody

[2016-01-08 02:30] tk0miya commented on #2172
Thank you. Exactly, it looks bad.
I'll try your macros and introduce to Sphinx later (maybe in this weekend).

[2016-01-08 05:29] tk0miya commented on #2222
I reproduce the problem with 1.2.3 and succeeded with 1.3.3.
It seems already fixed at between 1.2.3 and 1.3.3.
So I close this issue.

Could you upgrade your sphinx to newest one?

Thank you for reporting.

[2016-01-08 05:29] #2222 closed, assigned to nobody

[2016-01-08 08:53] mcmtroffaes commented on #2022
@tk0miya I don't think I'd expect it to expand templates - but maybe there is a use case for it? Anyway, that seems unrelated to the original bug reported here, right?

Looking at the implementation, it seems to me that it should work if dot files are listed explicitly. I've added a test case here: https://github.com/sphinx-doc/sphinx/compare/master...mcmtroffaes:feature/fix_html_extra_path_dot_fi

[2016-01-08 09:51] jfbu commented on #2172
My macros do not try to maintain the same vertical layout as the original macros, because they were for my own project. It is a bit cumbersome to try to fix the "2nd line too close to 1st line" problem and at the same time make it so that documents will have the same global vertical layout, hence exactly the same page breaks as with current code in `sphinx.sty` ...

I have re-examined my macros wi

[2016-01-08 10:20] grothesque commented on #2222
Takeshi KOMIYA wrote:

Indeed.  I was using 1.2 because of a bug in 1.3.1 that has been
fixed by now.

WIth 1.3.3 it works indeed, thanks.

[2016-01-08 12:38] tk0miya commented on #1807
The fix has merged into stable.
Thanks,

[2016-01-08 12:38] #1807 closed, assigned to nobody

[2016-01-08 16:15] RobertoBagnara opened #2225 "If the option does not begin with dash, linking is not performed"
Please note that this happens with Sphinx 1.3.3, i.e., well after the closure of issue #1658 .
To reproduce:

$ unzip bug.zip
$ cd bug
$ make html
$ google-chrome _build/html/index.html

[bug.zip](https://github.com/sphinx-doc/sphinx/files/82924/bug.zip)

[2016-01-08 16:19] RobertoBagnara commented on #2225
With `make xml' one can see a possible cause: compare

[code]

with

[code]

The difference is in the "arg-" bit.

[2016-01-08 16:43] josephcslater commented on #2022
@mcmtroffaes Yes. I didn't. I've since added it, and it does work. However, this creates a lot of messy complexity in a more complex scenario. To work around, I have to rethink how I structure my website. However, right now, I have a website that includes pages (sub pages) for each of my courses. One link on each course page is to copyrighted resources (distribution legal under education clauses i

[2016-01-08 16:59] josephcslater commented on #2022
What would be helpful for me, to be legally conservative, is to have the ability to point to a default .htaccess file to put in every folder of a site, where it would have to be turned off manually. A single complaint would remind me to "unlock" by added a path to the _exception_ list. I have accidentally posted copyright material wide-open because the behavior defaults to a fail to copy the .htac

[2016-01-08 19:23] bgeron opened #2226 "Math is not HTML-encoded when :nowrap: is given (jsmath, mathjax)"
[code]

Expected result: valid HTML
Actual result: `a<b>c` occurs verbatim in HTML, math is not rendered, `c` is shown in bold.
Tested with: Sphinx 1.3.3; MathJax

The problem seems to be that [here](https://github.com/sphinx-doc/sphinx/blob/7c6a3b2/sphinx/ext/jsmath.py#L29) and [here](https://github.com/sphinx-doc/sphinx/blob/7c6a3b2/sphinx/ext/mathjax.py#L33), in the `:nowrap:` case, the call to

[2016-01-09 00:49] tk0miya commented on #2172
New one looks more better.
I feel it is narrow the distance of the admonitions and its above elements.
New one resolved it.

I introduce the macro at 119790c.
It will released as 1.3.4 soon.

Thanks for your contribution!

[2016-01-09 00:49] #2172 closed, assigned to nobody

[2016-01-09 00:50] tk0miya commented on #2225
MEMO: related with #1750

[2016-01-09 01:44] QuLogic opened #2227 "Multiple parameters with same type/description not handled correctly by napoleon"
Starting with the napoleon extension in NumPyDoc mode, and the following docstring:

[code]

With Numpydoc, the `x, y` parameters are documented to and show as this:
![screenshot from 2016-01-08 20-42-49](https://cloud.githubusercontent.com/assets/302469/12213555/6c1a3964-b648-11e5-82de-b00655efde04.png)
but with napoleon, those parameters show like:
![screenshot from 2016-01-08 20-43-28](https://

[2016-01-09 06:37] shimizukawa commented on #2205
@tk0miya Thanks! It works perfectly!

[2016-01-09 06:37] #2205 closed, assigned to shimizukawa

[2016-01-09 06:40] shimizukawa commented on #2198
@libellul @methane Thanks for your helpful information!. I fixed it.

[2016-01-09 06:40] #2198 closed, assigned to shimizukawa

[2016-01-09 07:26] jfbu commented on #2172
Yes I think you are right about former code narrowing distance with above elements.

Default value of `\parskip` in LaTeX is `0.0pt plus 1.0pt`. The former code set it to zero before drawing the rule on top of admonition, thus canceled the `plus 1.0pt` stretch component which TeX can use according to its criteria of what's beautiful on the page. Newer code sets its to zero only _after_ the rule (w

[2016-01-09 08:34] shimizukawa commented on #2062
Fixed at e85ea7e. Thanks for your reporting!

[2016-01-09 08:34] #2062 closed, assigned to shimizukawa

[2016-01-09 11:02] tk0miya commented on #2225
Fixed at 7894f0b
Thank you for reporting

[2016-01-09 11:02] #2225 closed, assigned to nobody

[2016-01-09 11:44] bgamari opened #2228 "Mirror more of the docutils documentation"
While reading the Sphinx documentation I tend to find myself dreading finding references to `docutils` documentation. While the Sphinx documentation is clear, readable, and well-organized, the `docutils` documentation sorely lacks in all three of these areas. Unfortunately, it's quite difficult to avoid needing to drop down to `docutils` at some point. Perhaps the Sphinx project could consider pro

[2016-01-09 11:51] tk0miya commented on #1409
Now, I got a following result:

[code]

[2016-01-09 14:05] RobertoBagnara opened #2229 "No warning is given for unknown options"
Please consider applying (a suitable modification of) the attached patch.
[unknown_option_warning_patch.txt](https://github.com/sphinx-doc/sphinx/files/83676/unknown_option_warning_patch.txt)

[2016-01-09 16:34] tk0miya commented on #1409
Refactored at 053d780 (stable) and 1e2fbd463b2b2d22f0ed866ec512968e39af80a5 (master).
After that, no warnings by following command:

[code]

I ignored some warnings by following reason:
- `sphinx.util.pycompat`: This module uses deprecated features with the intention to keep compatibility between multiple python versions
- `path`: This module is used to testcases (not features)
- `docutils.io`, `n

[2016-01-09 16:34] #1409 closed, assigned to nobody

[2016-01-09 16:39] tk0miya commented on #2229
Thanks, I'll take a look.

[2016-01-09 17:05] RobertoBagnara commented on #2229
I am using the patched version right now: it works great for me (we had so many mistyped option references and we did not notice before).

[2016-01-09 17:20] tk0miya commented on #2226
Fixed at c8c6dc1
Thank you for reporting

[2016-01-09 17:20] #2226 closed, assigned to tk0miya

[2016-01-09 17:22] bgeron commented on #2226
Thanks!

[2016-01-10 00:37] tk0miya commented on #1145
Nowadays, with Sphinx 1.3.3, There is no AttributeErrors:

[code]

please let us know again If you found similar errors.

Thanks,

[2016-01-10 00:37] #1145 closed, assigned to nobody

[2016-01-10 01:37] tk0miya commented on #1195
I salvaged the attached document from bitbucket:

[code]

[2016-01-10 02:28] tk0miya commented on #858
Since Sphinx-1.2, we load HTML themes from entry point named `sphinx_themes`.
More details, please read http://www.sphinx-doc.org/en/stable/theming.html .

Thanks,

[2016-01-10 02:28] #858 closed, assigned to nobody

[2016-01-10 02:38] tk0miya commented on #1195
I can not reproduce the error with Sphinx-1.3.3.
I use following commands to investigation:

[code]

MEMO: I'd tested on 0.17.X branch. because it seems the master branch has broken. it raises many errors arround sklearn.linear_model.sag_fast.

Please let me know again if you get any errors

[2016-01-10 02:38] #1195 closed, assigned to nobody

[2016-01-10 15:27] shimizukawa commented on #2220
Fixed it. Thanks for your reporting!

[2016-01-10 15:30] shimizukawa commented on #1601
PR is here: https://bitbucket.org/birkenfeld/sphinx-contrib/pull-requests/108/httpdomain-support-resolve_any_xref-method/diff

Fixed it by sphinx side at 92ca8d9. IMO, other domain extensions also face to the problem.

It's fixed by httpdomain side, I guess.

[2016-01-10 15:30] #1601 closed, assigned to shimizukawa

[2016-01-10 15:30] #2220 closed, assigned to shimizukawa

[2016-01-11 00:05] tk0miya commented on #1151
I salvaged the traceback from bitbucket:

[code]

[2016-01-11 08:55] mcmtroffaes commented on #2022
Maybe an option to only exclude certain files from copy operations could be added (which would default to excluding all hidden files as it is now, but could be overridden by the user)? I guess that would solve your problem.

[2016-01-11 13:37] josephcslater commented on #2022
It would. I have to admit, I'm more a user than a programmer in this arena or I would have already pushed a solution.

[2016-01-11 14:18] shimizukawa commented on #1360
1. What happen?

When user use 'globaltoc.html' for sidebar of each pages, globaltoc.html should reflects toctree representation in master_doc page (usually, it is index.html).
In such case, on changing `maxdepth` value of toctree in master_doc should cause regenerating of each pages that uses 'globaltoc.html'. But, Sphinx doesn't.
1. How to fix it?

For now, sidebar page fragments (including glob

[2016-01-11 14:18] #1360 closed, assigned to nobody

[2016-01-11 14:31] tk0miya commented on #2229
I applied your patch at bba3f38 (arranged a little).
Thank you for contribution!

[2016-01-11 15:45] ghtmtt opened #2231 "Invoke latex rules in the files"
I hope github's issues is the right place where to add this problem.

I did not figure out how to call latex _customizations_  in the `rst` files.
The steps are:
- create a style.tex file and place it in the same folder of `conf.py`. Example of `style.tex`:

[code]
- edit `conf.py` and include the new `style.tex`:

[code]
- try to call **mybold** command in the various `.rst` files:

[code]

I don

[2016-01-11 19:31] fkromer opened #2232 "sphinx.ext.graphviz - Node URLs of inlined .svg images do not link to sphinx-doc sections"
I use sphinx.ext.graphviz to generate inline diagrams which are embedded in .rst input files with .. graphviz:: using the following conf.py section:

[code]

In general the images are generated correctly as .svg images in the folder /_images/.svg (right clicking the image in the html output, options...).

My problem is that a diagram in the /design_languages.rst file

[code]

does create a .svg fi

[2016-01-11 22:29] RobRuana commented on #2227
Try setting `napoleon_use_param = False` in your `conf.py`.

[2016-01-12 00:35] shimizukawa commented on #1736
Now I close this issue.
Please feel free to reopen at any time if you still have the issue.

[2016-01-12 00:35] #1736 closed, assigned to nobody

[2016-01-12 00:58] jakirkham commented on #1845
It looks like the `sphinx_rtd_theme` issue was closed out by this PR ( https://github.com/snide/sphinx_rtd_theme/pull/275 ). So, maybe we can close this out now as it is no longer a circular dependency, but just a dependency.

[2016-01-12 13:32] lehmannro commented on #2150
It _is_ a popular issue, but there have been no pull requests so far.  It's also tricky to implement this without a major overhaul.

`only` nodes are currently processed once the builder is available because that's where the tags come from (`BuildEnvironment.process_only_nodes`.)  Everything is already parsed at this point, and that's where the issues with this directive are coming from.

I think

[2016-01-12 13:32] andreacassioli commented on #2173
Oh I got it! I create a simple text node....

But what should I do to have the text parsed? I have been looking to what @lehmannro suggested but I could not figured out how to do that.

In my understanding one should add suitable entries in `self.document.substitution_defs` but I could not understand which kind of node....any clue?

[2016-01-12 14:12] andreacassioli commented on #2150
I think that, despite it is true that in many cases an extension will do, it is somehow elegant and more portable to rely on standard rst directive and roles. The use of conditionals, and therefore `only` arises in many situations.

Would you share your patch?

[2016-01-12 15:05] lehmannro commented on #2173
`Text` nodes are not post-processed for markup.  You'd need to create a `docutils.parsers.rst.RSTParser` and an empty document (`docutils.utils.new_document`), parse your source into the document, and then extract the resulting nodes.  See the [`Locale` transform](https://github.com/sphinx-doc/sphinx/blob/1.3.3/sphinx/transforms.py#L269-L271) for an example.

(`DefaultSubstitutions` won't help, si

[2016-01-12 15:06] lehmannro commented on #2150
As I said, 80% done.  I'm gonna submit it once it's done, but I cannot make any guarantees right now.  (Might be a couple of weeks.)

Also, as I said, if you're facing yourself with a situation where you have to use `only` — think again and maybe write an extension.  Documents are not programs.

[2016-01-12 16:11] ikalnytskyi commented on #2155
Docutils uses `code-block` and `sourcecode` as aliases for `code` directive. Taking into account that Sphinx provides own implementation for both of them, I think it would make sense to reimplement `code` directive either.

[2016-01-12 19:07] certik commented on #726
I have quite a few `\newcommand` lines in `latex_preamble`, it would be nice to provide a similar (perhaps syntactically a bit different if needed) string to MathJax, so that I can switch latex and MathJax. Currently MathJax shows lots of undefined/red commands that I use.

@asmeurer, since you reported the original issue, have you figured out any workaround in the meantime?

[2016-01-12 19:12] lehmannro commented on #2228
I'd generally frown upon documenting something which is out of our control — we'd always be chasing docutils' head (granted, it's not too-lively a target.)  Could we instead improve Docutils documentation?

[2016-01-12 19:27] birkenfeld commented on #2228
AFAICR, there have been multiple attempts to convince docutils people to use Sphinx, always declined.

[2016-01-12 19:28] asmeurer commented on #726
I think the newcommands were removed from the SymPy galgebra docs. However, there's this raw html at the top of [this file](https://raw.githubusercontent.com/sympy/sympy/master/doc/src/modules/galgebra/ga.rst). Maybe that could be used to do what you want.

[2016-01-13 01:56] halfak opened #2233 "autoclass and autodata fail on deep imports"
See https://github.com/halfak/python-sphinx-break-stuff for a working example of the bug developed against Python 3.4.3 and Sphinx 1.3.4.   I made that working example as simplistic as I could.  It demonstrates how importing from a module that is at least two directories up from the root and then one additional level down (through another brach) seems to cause `autoclass` and `autodata` to fail to

[2016-01-13 05:13] tk0miya commented on #2022
I think copying dotfiles is not surprising for me.
So I'd want to replace `copy_static_entry()` with new copy function which copies all files in the specified directory including dot files.
I wanted to ask you that the function should expand templates.

We already have `exclude_patterns`. If anyone want to skip copying dotfiles, it will help them.

[2016-01-13 05:33] tk0miya commented on #2232
Since version 1.3.4 (just released yesterday), Sphinx supports hyperlinks in graphviz's SVG output.
Please wait for updating Sphinx on readthedocs.org and try it again.

FYI:
sphinx.ext.graphviz requires to use `target` attribute to create link.
More details, please see http://www.sphinx-doc.org/en/stable/ext/graphviz.html#confval-graphviz_output_format .

Thanks,

[2016-01-13 05:33] #2232 closed, assigned to nobody

[2016-01-13 05:34] tk0miya commented on #2232
MEMO: It is fixed at #2176

[2016-01-13 05:43] tk0miya commented on #2231
To apply your styles to custom roles, please define `\docutilsrole{rolename}` macro.
For example, `mybold` role requires `\docutilsrolemybold`. So you can set up it in your conf.py:

[code]

Is this helps you?

[2016-01-13 05:53] certik commented on #726
Thanks @asmeurer. I figured it out in case anybody is facing the same problem:

https://github.com/certik/theoretical-physics/pull/62

In there I overload the `layout.html` and insert mathjax macros into the body of the document.

[2016-01-13 06:50] fkromer commented on #2232
Great! Thanks a lot!

[2016-01-13 06:55] ghtmtt commented on #2231
Hi, thanks for the answer.
I added your suggestions to the code but I get an error during the compilation

[code]

[2016-01-13 08:09] fkromer opened #2234 "Insert sphinx version in conf.py generated by sphinx-quickstart"
The _conf.py_ file which is created using the command line command `sphinx-quickstart` does include the date of creation in the comment section of the file. However the comment section does not include the version of sphinx (e.g. Sphinx v1.3.4) which would be helpful in many situations.

[2016-01-13 08:23] tk0miya commented on #2231
I tested with following environment:
- Sphinx 1.3.4
- Python 2.7.11
- MacTeX 2015

Please tell me about your environment.

For reference, I attached my project. It works fine.
[2231.zip](https://files.zenhub.io/569608ec5a0cfd1c5d6e9733)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2016-01-13 08:24] mcmtroffaes commented on #2022
Yes, agreed. You suggest that we drop the logic that omits dot files, and replace it with a logic that uses exclude_patterns instead? That seems reasonable to me.

[2016-01-13 08:57] fkromer opened #2235 "Extend check functionality of conf.py option needs_sphinx"
The option `needs_sphinx` in _conf.py_ does support the major and the minor version number e.g. `needs_sphinx = '1.3'` for Sphinx v1.3.3, Sphinx v1.3.4, and so on (tested with Sphinx v1.3.4). In some situations (needs v1.3.4 and shall warn when v1.3.3 is used) it would be helpful to have the whole Sphinx version checked.

[2016-01-13 09:07] tk0miya commented on #973
I can't reproduce this too.
I tested with Sphinx-1.3.4 and MacTeX 2015.

Could you give me example project?

[2016-01-13 10:21] ghtmtt commented on #2231
Ok it's working now (I had a typo)! Thanks!
If you don't mind I have some doubts:
- I have always to _declare_ the `.. role::` at the beginning of each single rst file, right? Is there a way to make the role _global_ for the whole project?
- how can I add **many roles**, for example what am I looking for is to have a role that colors some words in a sentence, like: this should be :red:`red text he

[2016-01-13 11:31] tk0miya commented on #977
IMO, I don't think merging this patch is good idea because the feature is not common. However, it looks good for some people. I think it's nice if the feature is released as a sphinx extension. It will help someone in similar situation.

Thanks,

[2016-01-13 11:31] #977 closed, assigned to nobody

[2016-01-13 13:04] tk0miya commented on #726
It looks good for me to provide preambles to mathjax.

but, at the same time, I'm not so familier with it.
How do we introduce the feature to Sphinx? Outputting `<script type="text/x-mathjax-config">` tag?

[2016-01-13 13:16] bgamari commented on #2228
For the record, there is some discussion [here](http://sourceforge.net/p/docutils/mailman/message/32409387/) and a rather rough import of the docutils documentation to ReadTheDocs [here](http://docutils.readthedocs.org/en/sphinx-docs/index.html).

[2016-01-13 13:46] tk0miya commented on #2231
Maybe, `rst_prolog` will help you.
http://www.sphinx-doc.org/en/stable/config.html#confval-rst_prolog

For example::

[code]

What did you mean? The roles can wrap multiple words.

[code]

[2016-01-13 14:30] ghtmtt commented on #2231
Thanks for `rst_epilog` I didn't know that.

For the other example maybe I wasn't clear enough, sorry my fault.
Suppose I want to have in the final pdf some red colors words. I tried to add another role in the `conf.py`, like:

[code]

and I tried to call it in the text as usual:

[code]

but it did not work. I don't get any error during the compilation, but if I had a look in the compiled `.tex`

[2016-01-13 16:11] josephcslater commented on #2022
Having some defaults in exclude_patterns would also have some trivial benefit. For instance, MacOS creates a .DS_Store file in each directory. This is very unlikely to be useful in any copy. However, it also does little harm if copied. For the purposes of Sphinx, one could easily argue that it is irrelevant. I don't know if harm would occur in other operating systems and thus if such a feature (co

[2016-01-13 16:29] kyrias commented on #2193
Any chance that you could add a flag to allow the source and destination directory to be the same? There are a few projects that do it that way for simplicity, when the manpages are generated with sphinx.

[2016-01-13 16:42] tk0miya commented on #2235
It was rejected at #527. But I think it is no reason to ignore micro version.
There is no demerit if we support it.

So I will implement this if no objection.

[2016-01-13 17:14] fkromer commented on #2235
I posted the issue because i came across an integration issue of my generated .html files (without issue on localhost) which are hosted on readthedocs.org. My sphinx-doc environment requires Sphinx v1.3.4 which i can guarantee on my local environment. However it seems like readthedocs.org uses another Sphinx v1.3.x version as default (conf.py: needs_sphinx = 1.3). The .html files where build but w

[2016-01-14 01:57] tk0miya commented on #2193
I think Sphinx is designed on "source and destination directories are different" ideas.
Until this issue has been fixed, it has not been checked but it was unexpected behavior.
So, IMO, it is not good idea giving new option to support that situation. Because it would need many fixes to do that.
In addition, it makes the source directory messy if Sphinx generates images or style files (ex. graphviz

[2016-01-14 02:13] tk0miya commented on #2026
Fixed at 53cd2d4
Thank you for reporting

[2016-01-14 04:41] shimizukawa commented on #2022
IMO,
1. all files in html_extra_path including dot files should be copied by default.
2. exclude_patterns should be applied for copying procedure of html_extra_path.
3. some defaults for exclude_patterns in conf.py would be useful as a usage and it bring a procedure to control copying behavior to user.

[2016-01-14 04:51] shirou commented on #2022
1. Since dotfiles are _hidden_ files, avoiding them is natural for me.
2. I also understand @tk0miya and @josephcslater because user explicitly specify `html_extra_path` to copy them _all_.
3. @shimizukawa 's idea about adding `.DS_Store`, `.git` or else to `exclude_patterns` default may confuse user if user really want to copy them. (And it causes other argument what kind of files should be added

[2016-01-14 06:55] tk0miya commented on #2231
Oh, I understand.

Now, the macro `\DUspan{myred}{red text here}` is expanded to `{\docutilsrolemyred red text here}`.
It puts a group which enclose the `docutilsrole...` macro and target text.
And, `DUspan` expects that the `docutilsrole...` macros are modal commands (ex. `\rm`, `\sf`, `\tt` and so on).
So it is difficult to support to give the `docutilsrole...` macro which take texts as argument

[2016-01-14 07:12] tk0miya commented on #1238
This theme is already discussed on sphinx-dev group:
https://groups.google.com/forum/#!topic/sphinx-dev/GSLzhsYsdyU .

And it was filed as ticket of pygments:
https://bitbucket.org/birkenfeld/pygments-main/issues/1187/add-line-highlighting-to-latex-formatter

We will fix this after pygments would be fixed.

[2016-01-14 10:15] ghtmtt commented on #2231
Hi,
ok so using  `docutilsrole` is not the right way in order to include colored words in the `rst` files.
Do you know if there is another way to doing that (colored words)?

Thanks again for your time

[2016-01-14 12:51] tk0miya commented on #1844
MEMO: It seems this is same error as https://github.com/rst2pdf/rst2pdf/issues/556

[2016-01-14 12:59] tk0miya commented on #1845
@jakirkham Thank you for letting us know.
Now, I close this issue.

[2016-01-14 12:59] #1845 closed, assigned to nobody

[2016-01-14 13:07] tk0miya commented on #1914
Now, it seems this issue is obsoleted. So I close this.
If you get tracebacks or additional info, please reopen.

Thanks,

[2016-01-14 13:07] #1914 closed, assigned to nobody

[2016-01-14 15:07] halfak commented on #2233
I just ran a test with Sphinx 1.2.3 and the example works (with some hacking in conf.py to get `alabaster` working), but from 1.3.0 forward it does not. It seems that the issue was introduced in Sphinx 1.3.0.

[2016-01-14 16:43] tk0miya commented on #2022
Hi all, thank you for comment.
I'll change the behavior of `html_extra_path`.

@shimizukawa could you change the default value of `exclude_patterns`? I can not determine what is good for default.

[2016-01-14 17:34] TheMagSec commented on #956
issue still there!

in `sphinx.util.inspect` change the function `safe_getattr`:

[code]

this will remove the error.
To remove the protected namespace-constants from your generated docs, change the function `filter_members` inside `sphinx.ext.autodoc`:

[code]

[2016-01-14 20:57] tcpaiva commented on #1798
I still face this problem with :term: in a figure caption. I'm using sphinx 1.3.3.

[2016-01-15 01:24] halfak commented on #741
I'm currently getting bit by this issue in 1.2.3.  https://github.com/sphinx-doc/sphinx/issues/2233 is preventing me from working with `1.3.x`.  Is there a workaround you might recommend?

[2016-01-15 01:58] tk0miya commented on #1857
+1

In my short investigation:
LaTeX writer puts page reference to every reference node with no distinction citation or not.
To do that, we have to distinguish citations from reference nodes.
But there is not differences now.
So we have to mark what type is the reference (a.k.a refdomain and reftype).

[2016-01-15 02:55] #2086 closed, assigned to nobody

[2016-01-15 09:23] TheMagSec commented on #1362
This issue is still there!
I had the issue when I wanted to create an in-house developer documentation.
Therefore I also wanted the private-protected variables and class constants be documented.

## Example:

[code]

## Solution:

in `sphinx.util.inspect` change the function `safe_getattr`:

[code]

this will remove the error.
To remove the internal namespace, of protected class constants in the g

[2016-01-15 09:31] andreacassioli commented on #2150
Hi,
thank you again for the feed back. I have made a dirty directive that monkeypatch the official only. I am not sure it will cover all cases, but here it is:

[code]

then I defined a new directive to make sure I am not messing with the standard only.

[2016-01-15 10:09] thedmi commented on #825
+1

[2016-01-15 12:17] tk0miya commented on #1798
I think your case is different from this issue.
Could you open new issue?

[2016-01-15 13:10] tcpaiva opened #2238 ":term: in figure caption causes LaTeX build to fail"
I am using sphinx 1.3.3 and the `latexpdf` buid from

[code]

fails with

[code]

although `make epub` or `make html` works very well.

In line 214 of the mentioned file, the problematic excerpt inside of the `\caption` macro is

[code]

which in turn call this

[code]

PS: maybe it is related to #1798.

[2016-01-15 13:51] noirbizarre commented on #1393
I have the same issue, with python 2.7 and Sphinx 1.3.4 (and 1.3.3).
I don't have yield from, but I never have the real docstring.

Given the following module:

[code]

and the following rst:

[code]

I expect:

[code]

instead I have:

[code]

[2016-01-15 13:58] tk0miya commented on #2238
Thank you for reporting. I'll take a look later.

[2016-01-15 14:24] tk0miya commented on #794
In my short investigation:
There is 7 files using `ustrftime()` in Sphinx. But no `setlocale()` in anycase.
If we support this, it would good to call `setlocale()` on starting Sphinx application, I think.

[2016-01-15 14:27] tk0miya commented on #794
@shimizukawa is this good to translations? How do you think?

[2016-01-15 16:43] ltalirz opened #2239 "double backslash \\ in .rst replaced by single backslash \ in .html"
I stumbled upon this when using the Math support in Sphinx. According to the [documentation](http://www.sphinx-doc.org/en/stable/ext/math.html#module-sphinx.ext.mathjax), there should be no need to escape backslashes when writing mathematical expressions using LaTeX _within_ .rst files (it should only be necessary, when writing them in python docstrings).

E.g. `$$\pi$$` within the .rst file shoul

[2016-01-15 17:12] #2231 closed, assigned to nobody

[2016-01-15 17:17] tk0miya commented on #2231
Now, I replaced `DUspan` with `DUrole` at 6b36b31 (at master branch).
It comes from newest docutils.
And, it supports the macro which take texts as argument.

Please use `DUrole...` macros instead of `docutilsrole...`.
More details, please read following page:
http://docutils.sourceforge.net/docs/user/latex.html#custom-interpreted-text-roles

If you get troubles, please reopen this issue and let m

[2016-01-15 17:39] ruslo opened #2240 "SVG image support for HTML"
Currently if I use `.. image:: myfile.svg` I've got image as a whole and can't click on elements of SVG picture. I can open image separately and then it works. It would be nice to have SVG with clickable elements.

[2016-01-16 07:00] RobRuana commented on #2227
Okay, I'm going to close this issue. If setting `napoleon_use_param = False` didn't work, please reopen this issue. Thanks!

[2016-01-16 14:38] tk0miya commented on #1844
In my short investigation:
Before Sphinx-1.3,  the internal references is represented by `nodes.emphasis`. They are not having any classes. However, rst2pdf do not mind that.

Since Sphinx-1.3 (at 8a273d139b74124b11c4b1ba81db3cc0866d9102), Sphinx uses `nodes.inline` instead of `nodes.emphasis` to represent the internal references. They are also having no classes.
But, for all of `nodes.inline` nod

[2016-01-16 15:05] #1838 closed, assigned to nobody

[2016-01-16 15:13] andreacassioli opened #2242 "strange table caption"
I have a dummy table

[code]

When rendered in html I get

[code]

That is the caption is forced to be as large as the table columns.

[2016-01-16 15:18] shimizukawa commented on #1844
It looks there is nothing to do from Sphinx side. The problem should be resolved by the rst2pdf builder by adapting to node structure after Sphinx-1.3. Now I close this ticket.

[2016-01-16 15:18] #1844 closed, assigned to nobody

[2016-01-16 15:23] #1030 closed, assigned to nobody

[2016-01-16 17:51] ghtmtt commented on #2231
Thanks for the code improvements you made.
Now when I compile the role and `DUrole` work nice!
I still have some trouble with the colors because of the `xcolor` packages and its options that I'm not able to overwrite by default (in the custom stylesheet):

[code]

[2016-01-17 07:24] rossengeorgiev opened #2243 "AttributeError: 'property' object has no attribute 'expandtabs'"
Trying to use `autodoc`, but I get the following error.

[code]

[2016-01-17 08:09] #2243 closed, assigned to nobody

[2016-01-17 08:09] birkenfeld commented on #2243
Thanks for the report!

[2016-01-17 08:18] shimizukawa commented on #2022
Finally, I decided to add 'Thumbs.db' and '.DS_Store' as a default of exclude_patterns config value.

[2016-01-17 09:59] #2027 closed, assigned to tk0miya

[2016-01-17 10:07] #2162 closed, assigned to nobody

[2016-01-17 10:11] tk0miya commented on #2162
Now, I merged #2209. And then, The extensions are able to add source_parsers using `Sphinx.add_source_parser()`.
Please use the brandnew API :-)

Thanks,

[2016-01-17 10:23] #1149 closed, assigned to tk0miya

[2016-01-17 10:24] mgeier commented on #2162
Thanks a lot!

What about the two-stage model that @birkenfeld brought up?
Shall we create a new issue or was this rejected?

[2016-01-17 10:59] #2060 closed, assigned to tk0miya

[2016-01-17 11:51] tk0miya commented on #549
I want to keep sphinx-core simple. So we have to be careful to add new bundled extension.
IMO, there is no special reason to bundle MATLAB domain. It's not common feature for all documents.

[2016-01-17 14:46] andreacassioli opened #2244 "numref not working"
Hi,
it seems in some situation `numref` is not able to resolve links. See the following example:

[code]

The name `ex1` is unique in my docs, and the referenced file exists. But running Sphinx 1.3.4 results in a broken link.

I have other cases for tables. For instance

[code]

Again, the reference is missing. Notice that the table is displayed and numbered correctly.  Using `:name:` option inste

[2016-01-17 14:47] tk0miya commented on #2242
Now, Sphinx uses `<caption>` tag for represent table caption.
Its width is restricted to table body's.
This behavior comes from the CSS specification. so this is not a bug of sphinx, I think.

Such a small table, it seems a bit strange. but, in almost case it works fine.
Please let us know if you have a good solution

[2016-01-17 15:21] andreacassioli commented on #2242
OK, I see.

Well, the table I wrote is a limit case, my actual code is a bit less extreme! But I see you point. I will try to change the table and /or the text.

[2016-01-17 15:21] #2242 closed, assigned to nobody

[2016-01-17 15:32] tk0miya commented on #2239
It is specification of reStructured Text:
http://docutils.sourceforge.net/docs/user/rst/quickref.html#escaping

BTW, if you want to write mathmatical expressions in Sphinx, use `:math:` role or `.. math::` directive. Inside of these role and directive, it is not needed to escape backslashes.
For example::

[code]

[2016-01-17 15:43] tk0miya commented on #2238
Now, in master branch, that is already resolved.
Since 6b36b31984083faa88862bbff475c610bf409a04, LaTeX writer uses `DUrole` instead of `DUspan` for custom roles.

Thank you for reporting.

[2016-01-17 15:43] #2238 closed, assigned to nobody

[2016-01-17 15:47] tk0miya commented on #2162
@mgeier Oh, I missed it.
Could you create a new issue for the model?

[2016-01-17 15:54] tk0miya commented on #2231
@ghtmtt I think it is different problem of this issue.
Could you create a new issue about that?

I want to know what you did in detail (preambles, reST files, and so on).
Thanks,

[2016-01-17 16:09] tk0miya commented on #326
Since Sphinx 1.3, we introduce `:numref:` role to reference figures and tables using its figure (table) number.
I think it would be good if the role can also refer sections using its number.

[2016-01-17 19:39] ghtmtt opened #2245 "Error when configuring Latex package options"
Hi all,
I have created and external `style.sty` file that contains some Latex options.
It is called (and it work nice) in the `conf.py` file as follow:

[code]

in the `style.sty` file I have created some _roles_ like:

[code]

while the role `mybold` works nice (thanks to this improvements #2231) I have some trouble with configuring the color rules.
A piece of one `.rst` file is:

[code]

During

[2016-01-17 19:39] ghtmtt commented on #2231
@tk0miya done! #2245

[2016-01-17 20:46] fkromer opened #2246 "Add extension interface to sphinx.ext.graphviz"
I would like to extend the built-in sphinx-doc extension sphinx.ext.graphviz with a few featues. As the features are very special for my use case i do not want to fork and extend sphinx.ext.graphviz itself.

Essentially i just want to (graphviz sources for reference)
- parse with graphviz to get the graphviz nodes (~ Graphviz.run()),
- modify the graphviz dotcode of the nodes (~ node['code'] = dot

[2016-01-17 21:22] ltalirz commented on #2239
Thank you tk0miya & my bad, I should have read the documentation more thoroughly.

This means using the default MathJax delimiters is really not a viable option in reST.
I like them since, coming from LaTeX, they feel so natural, but I guess one can't have everything :-)

[2016-01-17 21:22] #2239 closed, assigned to nobody

[2016-01-17 21:35] rossengeorgiev commented on #2243
Thanks for the fix. Can confirm that it works now.

[2016-01-18 00:47] shimizukawa opened #2247 "#2205 breaks make html for definition list with classifiers that contains regular-expression like string"
It caused by #2205.

The issue is reported on https://groups.google.com/d/msg/sphinx-users/nH3XTex6cY4/AtEdUQtKDwAJ

[code]

[2016-01-18 02:37] tk0miya commented on #2247
I fixed at 34cbf3b.
@shimizukawa Could you review it to make sure?

[2016-01-18 02:39] shimizukawa commented on #2247
LGTM. Thanks!

[2016-01-18 03:47] tk0miya commented on #2244
Really? In my environment, it works fine.
For reference, I attach my project and generated docs here:
[2244.zip](https://github.com/sphinx-doc/sphinx/files/93802/2244.zip)

Please tell me about the problem in detail? How break the link? What builder did you use?

[2016-01-18 03:59] rossengeorgiev opened #2248 "Circular redirect on sphinx-doc.org"
Accessing http://sphinx-doc.org/latest/markup/inline.html, a link from google will redirect to itself.

[code]

[2016-01-18 04:14] shimizukawa commented on #2248
Thanks for your reporting!
@birkenfeld can you resolve this issue?

[2016-01-18 04:27] #2247 closed, assigned to shimizukawa

[2016-01-18 06:36] rossengeorgiev opened #2249 "Enum class from enum34 not working"
`enum34` is backported `python 3.4`'s Enum for older versions of `python`.

Problem is the same as #1609

[2016-01-18 06:41] birkenfeld commented on #2248
I tried, but was unsuccessful (adding another prefix redirect for `/latest`). Maybe @ericholscher can help?

[2016-01-18 08:43] tk0miya commented on #1565
I add warnings at 0329edc.
It always warns if could not parsed.

Thank you for reporting.

[2016-01-18 08:47] anntzer opened #2250 "Document sphinx-apidoc --separate"
At least the `--separate` option is missing from [the docs for `sphinx-apidoc`](http://www.sphinx-doc.org/en/stable/invocation.html#invocation-of-sphinx-apidoc).
I didn't check whether there's any other options missing overall.

[2016-01-18 08:50] mcmtroffaes commented on #2022
Looks good to me - thanks for your work on this @tk0miya and @shimizukawa! @tk0miya I've submitted an extra commit for your branch to fix some grammar issues.

[2016-01-18 09:46] #1565 closed, assigned to nobody

[2016-01-18 09:58] andreacassioli commented on #2244
Hi,
thank you for the reply.

I run on Linux, Sphinx 1.3.4 and I am using html builder. I am not sure I can boil down a small example, my project is fairly big.

I have changed a bit the code

[code]

 I have connected a printer function to the `missing-reference` event and print out the node:

[code]

The code header in the HTML output is

[code]

[2016-01-18 12:02] tk0miya commented on #1825
@petsuter Could you tell me about this problem in detail (if you can remember)?
I can not reproduce the problem.

I used Sphinx-1.3.4 and following reST on investigation::

[code]

[2016-01-18 13:45] tk0miya commented on #2244
I feel your HTML output is strange. There is no caption number.
In my environment, I can see `<span class="caption-number">Listing 1 </span>` in `<div class="code-block-caption">`::

[code]

Did you set up `numfig = True` in your `conf.py`?

[2016-01-18 13:52] andreacassioli commented on #2244
Hi,
yes, I set `numfig = True`. Indeed in other part of the docs the numref works.

[2016-01-18 15:53] #656 closed, assigned to nobody

[2016-01-18 18:49] anfelor opened #2251 "Line breaks in .rst files are transferred to .pot files in a wrong way"
When there is a line break in the .rst files, the .pot file writes them in one line, not seperated.
When translating them, there're not split, so the same line appears twice.

See my latest [gists](https://gist.github.com/anfelor)
### How the original looks like

![http://www.pasteall.org/pic/97855](http://www.pasteall.org/pic/show.php?id=97855)
### How the translation looks like

![http://www.pas

[2016-01-18 23:31] JulienPalard opened #2252 "Provide a way to change the language if a translation exists"
In the context of translating the Python documentation to french (https://github.com/AFPy/python_doc_fr), I did not found a way in the sphinx documentation (did I missed it ?) to provide a way for the readers to change the language of a currently displayed part of the doc (probably by jumping on the same part of the doc on a completely different directory, for clarity / maintenability / SEO / what

[2016-01-18 23:50] shimizukawa commented on #2252
For now, Sphinx doesn't have the feature that provides links to other language page if exists. However ReadTheDocs provides the feature that is achieved by using multiple sphinx project on ReadTheDocs service. http://docs.readthedocs.org/en/latest/localization.html

[2016-01-19 02:04] shimizukawa commented on #2251
Thanks, I confirmed the issue.

[code]

generates html as:

![image](https://cloud.githubusercontent.com/assets/151623/12407623/2d3f8c56-be9c-11e5-989e-da1096fdd3d2.png)

I'll fix such a 'glossary' case.

[2016-01-19 08:30] petsuter commented on #1825
@tk0miya I used Spinx-1.3.1 on Windows. I just reproduced it with these steps:
- `sphinx-quickstart` (accept all defaults except `y` to get Windows command file)
- Replace content of `index.rst` with your `.. admonition ...` example.
- `make.bat html`
- `start _build\html\index.html`
- It is red.

Inspecting HTML I see:

[code]

and in CSS (`alabaster.css:226`)

[code]

[2016-01-19 08:37] petsuter commented on #1825
I now ran `pip install sphinx --upgrade` to get Sphinx-1.3.4. This did not change anything. `pip list` shows `alabaster 0.7.7`. `pip install alabaster --upgrade`  says this is already up-to-date.

[2016-01-19 09:29] JulienPalard commented on #2252
I don't think building multiple sphinx trees linked to each others is a nice solution (yet it's an easy one): a lot of link will point to a still untranslated page. Python is like 42k msgids, it can't be done in a year ^-^.

Yet it's better than nothing ^-^

[2016-01-19 10:24] lehmannro commented on #2252
The reason why it's hard (in terms of elegance) to implement this in core Sphinx is because builds are fundamentally _separate._  You could build the English version to `./_build/html` which the French one could end up in `/var/opt/frenchdocs/` and there is no way to know beforehand.

This functionality is better suited for something as ReadTheDocs or sphinx-intl.

I'd tend to disagree.  This way,

[2016-01-19 10:30] JulienPalard commented on #2252
@lehmannro I think you didn't read my message, I explicitly said that the link should probably be masked / unmasked at a rst file granularity, not a po file granularity, not even at a whole project granularity, so we can show links only to translated atomic parts (rst files) that each take only a couple of hours to translate.

I however understand that this may, by design, not be possible, and hig

[2016-01-19 10:30] #2252 closed, assigned to nobody

[2016-01-19 10:33] lehmannro commented on #2252
Sorry, hyperbole on my part.  My argument stands:  You wouldn't want to hide a 99% completed (or, any n% where n≥1) RST file;  it makes achieving any useful translation much harder.

[2016-01-19 10:34] lehmannro commented on #1246
Idea from @JulienPalard:  Not only highlight but also allow jumping directly to the translation instructions/portal.

[2016-01-19 15:40] JulienPalard commented on #2252
Yes, a threhold may be interesting, you're right, in the other hand, also from an SEO point of view, but from a user point of view too, having a nice link "Hey, read the french version here" pointing to a page entierly in english is highly disappointing, and on the Python doc, we have two choices:
- Wait 5 year for the french team to complete translation at about 90%
- Have 90% of misleading links

[2016-01-19 19:06] stevepiercy opened #2253 "pyobject truncates code at comment"
# How to reproduce

Here is the sample code block which I want to include for the file `quick_tour/requests/app.py`.

[code]

Use the rst directive:

[code]

I expect the above code block to be included, but instead I only see:

[code]

I noticed that this single line also lacks Pygments syntax highlighting styles.

Workarounds:
- Remove the commented line, but then there is no comment.
- Move the

[2016-01-19 19:14] ericholscher commented on #2248
This should be fixed. Let me know if it isn't.

On Sun, Jan 17, 2016 at 10:41 PM, Georg Brandl notifications@github.com
wrote:

##

Eric Holscher
Maker of the internet residing in Portland, Oregon
http://ericholscher.com

[2016-01-20 01:45] tk0miya commented on #1825
Thanks, I missed it. I used the classic theme for testing.
I reproduce it. Thanks,

[2016-01-20 01:58] tk0miya commented on #1825
@birkenfeld @shimizukawa This is a issue about `alabaster` theme.
Who is better to resolve this?

[2016-01-20 02:29] tk0miya commented on #2245
LaTeX says adding `dvipsnames` to the global options.
So you can do it with `latex_elements['extraclassoptions']`.

Following code works fine for me::

[code]

Could you try it please?

BTW, we can add the new option for xcolor package.
But, IMO, too much options will make users confused.
So I would not add the option in this case.
of course, I will add it if really needed.

Thanks,

[2016-01-20 13:16] tk0miya commented on #2244
Sorry, I can't reproduce the problem. Could you make a small example?

[2016-01-20 13:39] tk0miya commented on #2246
Maybe you can do it with following code:

[code]

In this example, I used the `doctree-read` event.
It is raised at Reading phase. In more detail, you can see what is "Sphinx core events" at http://www.sphinx-doc.org/en/stable/extdev/appapi.html#sphinx-core-events

Does this help you?

[2016-01-20 13:55] shimizukawa commented on #2253
Fixed. Thanks for your reporting.

[2016-01-20 13:56] #2253 closed, assigned to shimizukawa

[2016-01-20 14:08] shimizukawa commented on #1825
(FYI. #1346 is a discussion of new default theme.)
I think @bitprophet is the man who can resolve it.

[2016-01-20 14:13] shimizukawa commented on #1647
@pcav do you still have this issue?

[2016-01-20 14:21] pcav commented on #1647
Yes, with 1.3.4

Exception occurred:
  File "/usr/local/src/pcav/faunalia-website/_templates/layout.html", line 107, in block "footer"
    {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}<br/><br/>
ValueError: incomplete format

[2016-01-20 14:58] ghtmtt commented on #2245
Hi tk0miya,
it works nice now!
I think it's not necessary to add this options by default, it's quite confusing when you don't know the whole process.

Is there a place where all this instructions you have provided can be added? It is a pity to _loose_ all this super useful information..

I can obviously help on that!

[2016-01-20 15:10] mgeier opened #2255 "Two-stage model for initializing options from conf.py"
This was suggested by @birkenfeld in https://github.com/sphinx-doc/sphinx/issues/2162#issuecomment-168629682.

The built-in values should be initialized first, then the extensions' `setup()` functions should be called and finally the extension-specified setup values should be initialized.

This would allow extensions to check (and manipulate) user-specified config values (e.g. `latex_elements`) fr

[2016-01-20 15:10] mgeier commented on #2162
done: #2255

[2016-01-20 16:55] fkromer commented on #2246
Thanks for the hint. This was exactly what i did miss (i have obviously just "scanned" it and did not read it). Is there also an example or guidance about testing own extensions in an overall sphinx-doc setup?

[2016-01-20 21:27] bitprophet commented on #1825
It's hard to tell from these comments - @petsuter which exact version of Sphinx and which theme were you using where the admonition was _not_ red/pink? I need to look at when Alabaster made that change but I've tried to be backwards compatible since the point where Sphinx added Alabaster as the default theme.

In addition, the implied statement here is that "admonitions should not have any distinc

[2016-01-20 22:44] petsuter commented on #1825
I was probably using Sphinx 1.2.2 and the default theme of that version when generic admonitions where still looking like normal text.

I don't care if warnings etc. are yellow. But a [plugin](https://github.com/ociu/sphinx-traceability-extension/blob/master/source/traceability.py) I use is providing a custom admonition subclass `item` that should definitely look like normal text.

I have had a lo

[2016-01-21 04:51] #2235 closed, assigned to tk0miya

[2016-01-21 04:52] tk0miya commented on #2235
Fixed at 04a8c26.
Thank you for suggestion

(but this will be introduced in next major release...)

[2016-01-21 07:30] kukgini opened #2256 "UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-1: ordinal not in range(128)"
I found an error. this change can fix the problem.

sphinx/locale/**init**.py:

[code]

---

[code]

[2016-01-21 10:30] andreacassioli commented on #2244
Hi,
thank you again.

I will try, but my project is fairly big and isolate the issue might not be that easy. Any suggestions on how to debug?

[2016-01-21 16:22] ghost opened #2257 "Allow table caption formatting"
Sphinx 1.3.1 ignored formatting (bold, italic, code) of table captions.
Sphinx 1.3.4 removes the entire formatted element.
This request is to allow table formatting within table captions (as for figures).

[2016-01-21 16:35] tk0miya commented on #1708
In my short investigation:
I checked bundled themes and the alabaster theme.
- alabaster: NG (same color)
- classic: NG
- bizstyle: NG
- agogo: NG
- haiku: OK (different colors)
- nature: NG
- pyramid: NG
- scrolls: NG
- sphinxdoc: NG
- traditional: OK

`alabaster` theme: text color for whole of anchors (`:visited` too) is defined at `alabaster/static/alabaster.css_t`.

[code]

`classic` theme: `c

[2016-01-21 17:20] rweickelt opened #2258 "Nested field lists inside list items cause unwanted space in HTML output"
The HTML output of the following code

[code]

contains additional vertical vertical space between each list item. This does not occur when omitting the field list.

Tested on xubuntu, amd64, sphinx release 1.3.4.

[2016-01-21 17:25] ghost opened #2259 "Footnotes missing in PDF"
Sphinx 1.3.3: PDF footnotes present.
Sphinx 1.3.4: PDF footnotes missing. (Ok in HTML format).

[2016-01-21 18:52] fkromer commented on #2235
Great, thank you!

[2016-01-21 22:40] stevepiercy commented on #2253
Thank you! I confirm it works for me.

[2016-01-22 01:11] tk0miya commented on #2248
Now, it seems fixed. so I close the issue.
@ericholscher Thank you for help :-)

[2016-01-22 01:11] #2248 closed, assigned to nobody

[2016-01-22 01:52] tk0miya commented on #2259
It works fine in my environment.
Could you tell me about your situation in detail please?
Environment, your input (.rst file), generated file (.tex), any warnings and so on.

[2016-01-22 01:59] tk0miya commented on #2257
It works fine in my environment.
Could you tell me about your situation in detail please?

Input:

[code]

Generated PDF:
![2016-01-22 10 58 42](https://cloud.githubusercontent.com/assets/748828/12500511/240e4c82-c0f7-11e5-9fb9-d40697ca9db9.png)

[2016-01-22 03:59] tk0miya commented on #1708
I'd change color of visited links, but I do not have design (coloring?) skills.
Can anyone support me about this?

[2016-01-22 06:31] shimizukawa commented on #1825
@petsuter please attach (some where) your Sphinx project that includes source and html build output

[2016-01-22 07:18] ghost commented on #2257
Apologies, the problem lies in one of our custom extensions. When I find out which, and what has changed to affect it, I will inform you here, if relevant. Thanks.

[2016-01-22 07:18] #2257 closed, assigned to nobody

[2016-01-22 07:18] ghost commented on #2259
As for 2257, apologies, the problem lies in one of our custom extensions. When I find out which, and what has changed to affect it, I will inform you here, if relevant. Thanks.

[2016-01-22 07:18] #2259 closed, assigned to nobody

[2016-01-22 07:19] xuhdev commented on #1210
@andreacassioli Yes, I agree that if equations can just behave like figures it would be nice.

[2016-01-22 08:37] petsuter commented on #1825
@shimizukawa [T1825.zip](https://github.com/sphinx-doc/sphinx/files/100484/T1825.zip) contains four Sphinx projects including source and html build output. (Two without plugins, and two with the traceability plugin. In each case one with the alabaster theme in red and one with the classic theme without red.) Hope this helps.

(All html build output was created with Sphinx 1.3.4 and alabaster 0.7.7

[2016-01-22 09:20] ghost commented on #2257
For both this and #2259, our custom table extension (created to use longtabu) wasn't aligned with the changes made in depart_table in the latex writer. Sorry for the knee-jerk reaction.

[2016-01-22 09:43] tk0miya commented on #2257
Good to know.
BTW, do you share the extension in public?
I'm interested in it personally.

[2016-01-22 11:45] andreacassioli commented on #1210
Just stumbled again against this issue....

What would take to extend numref to equations?

I guess math directive should implement `:name:` option and register the link. Then extend the writer to generate the right link label.

[2016-01-22 14:00] ghost commented on #2257
No, the extension is not public. It was created (by an ex-employee) from the guts of latex.py which is why it sometimes breaks with sphinx updates. I've attached it. I'm not a python guy but it looks like the existing latex.py could be adjusted/extended to cater for the longtabu package. We've added some stuff to alter the row shading, and the sphinx preamble reduces the fontsize. This helps with

[2016-01-22 15:21] shimizukawa commented on #1812
Definitely right.
Now I close this issue. If the problem is still happened, please feel free to resume at any time. Thanks!

[2016-01-22 15:21] #1812 closed, assigned to nobody

[2016-01-22 20:24] bitprophet commented on #1825
@petsuter See the `warn_*` options on that linked subsection; the rest of the page notes in detail how to configure such options in your Sphinx `conf.py`.

[2016-01-23 02:46] shimizukawa commented on #2256
Strange.... @kukgini please let me know a result of below code.
1. invoke your jython environment as python interactive shell.
2. type below code:

[code]

I expect above code represents this console output:

[code]

[2016-01-23 04:15] shimizukawa commented on #1647
@pcav Please try below command (-P for debugging mode when exception is occurred)

[code]

I suspect that the translated string (last line) is broken.

[2016-01-23 05:00] shimizukawa commented on #794
Calling `locale.setlocale(locale.LC_ALL, '')` at start of sphinx is works well. However it doesn't depend on the `language` parameter in conf.py which means doc building for other language always require LANG environment variable as `LANG=ja_JP.utf-8 sphinx-build -D='language=ja'` to build with correct translations.

BTW, on windows environment, `LANG=Japanese_Japan.932` is correct instead of `LAN

[2016-01-23 05:12] shimizukawa commented on #794
IMO, `babel.dates.date_format` can provide better solution.

[code]

This solution requires incompatible change for date formatting strings.

[2016-01-23 08:23] andreacassioli commented on #2244
Hi,
I think I have figured out: `numref` is indeed working, but the file I was looking at was not included in any toctree and since it is flagged as orphan, I got o warning.

I am sorry I have made you waste time! Thank again!

[2016-01-23 08:23] #2244 closed, assigned to nobody

[2016-01-23 09:32] tk0miya commented on #794
+1 for shimizukawa's proposal. That's sphinx way!

[2016-01-23 11:59] tk0miya commented on #2258
In my short investigation:

The behavior comes from docutils (base library of Sphinx).
In `docutils.writers.html4css1.HTMLTranslator`, docutils generates `<p>` tag if list includes any items excepting paragraphs and nested lists.

To fix this, set `self.compact_simple` in visit_list_item instead of `visit_bullet_list` and `visit_enumerated_list`.
But we have to know why docutils check whole of lis

[2016-01-23 12:08] bojanv91 commented on #825
+1

[2016-01-23 13:05] tk0miya commented on #2244
Thank you for letting me know that.
I do not expect such a situation
I added warning message if target is not assigned any numbes.

Thank you for reporting and investigations :-)

[2016-01-23 14:57] tk0miya opened #2262 "literal_block and its caption has been separated by pagebreak in LaTeX output"
Now, with sphinx-1.3.4, literal_block and its caption has been separated by pagebreak.
![2016-01-23 23 53 38](https://cloud.githubusercontent.com/assets/748828/12530769/aba6ba36-c22c-11e5-82a2-f120a76cfa34.png)

[2016-01-23 14:58] tk0miya commented on #2262
I attatched sample project to reproduce the problem.
[2262.zip](https://github.com/sphinx-doc/sphinx/files/101910/2262.zip)

[2016-01-23 19:31] fkromer opened #2263 "Calling setup_extension() does not import sphinx built-in extension"
I develop an extension for sphinx-doc which shall use the built-in extension sphinx.ext.graphviz. To keep things easier for the moment I use the system installation of Python 3.4.3 with Sphinx==1.3.4 installed (avoid virtualenv issues, etc.). The extension source code is located in the `<sphinx-doc project root>/exts/sphinxcontrib_p3/sphinxcontrib/p3.py` (<sphinx-doc project root> is eswp3/). In p

[2016-01-23 20:32] birkenfeld commented on #2263
If that is a literal copy-paste, please try again with `sphinx.ext.graphviz` (added `p`) :smiley:

[2016-01-23 20:46] fkromer commented on #2263
Oh no, what a shame. I am sorry for wasting your time. sphinx.ext.graphviz is imported.

[2016-01-23 21:06] #2263 closed, assigned to nobody

[2016-01-24 02:13] shimizukawa commented on #2251
Currently(sphinx-1.3), term node possibly have multiple term text when the term is defined under glossary directive. And i18n feature requires separated term node for each term instead of single term node to create pot and to apply translation.

If we change the doctree structure to fix this issue, it become a incompatibility. So, I'll fix this issue on next major version 1.4.

[2016-01-24 03:05] tk0miya commented on #2257
Thank you for giving extension! I'll take a look.

It would be nice if longtabu feature feature is merged into sphinx core.
It is discussed at #1681. I'll work it soon :-)

Thanks a lot!

[2016-01-24 08:32] #1944 closed, assigned to nobody

[2016-01-24 08:32] tk0miya commented on #1944
Fixed at 9ed3d51.
Thank you for reporting

[2016-01-24 09:01] stevepiercy opened #2264 "Sphinx 1.3.5: Could not parse literal_block as "language""
The following might not be a bug, but it is a changed behavior that enforces stricter syntax, and should be noted.
# How to reproduce

For this code sample (and several others):

[code]

Sphinx 1.3.4 yielded no errors. Upgrading to 1.3.5 and attempting to build HTML causes the following error:

`/home/travis/build/Pylons/pyramid/docs/narr/project.rst:434: WARNING: Could not parse literal_block as