[2018-08-26 16:18] #4056 closed, assigned to nobody

[2018-08-26 18:11] dilyanpalauzov commented on #4660
I don't have the environment anymore and I don't remember the details, but the description above is very detailed.

[2018-08-26 20:20] svenevs commented on #5339
Hi @tk0miya,

Yes we are using that in `setup.py` and `setup(app)`.

I don't think we realized the implication when that pull request was merged though. With some testing, I believe we can just remove that from the documentation / explain that setting `html_theme_path` in a `conf.py` is only necessary when using Sphinx < 1.6 (the `setup(app)` checks if `app` has that attribute before calling it).

[2018-08-26 22:51] plastikos opened #5358 "docutils.conf is not re-read on subsequent builds for alternate docs"
Subject: docutils.conf is not re-read on subsequent builds for alternate docs

### Problem
- `docutils.conf` will not be re-read when building for subsequent doc types - only the first built doc type.  If there is a setting in `docutils.conf` and `html` docs are built the setting will be applied.  If `singlehtml` is built next the settings will be ignored.  Once the environment is pickled the `doc

[2018-08-27 01:27] tk0miya commented on #2464
I can't reproduce this problem. I tried with Sphinx-1.7.7 and following files:
[code]
[code]
[code]

AFAIK, there are no restriction like "method names are unique, for all modules".
Please let me know your problem in detail if you're still in trouble.

Thanks,

[2018-08-27 01:39] tk0miya commented on #2401
It seems the argument for  `:special-members:` is ignored when the argument for `:members:` is given.
I think this is a bug of autodoc module.

As a workaround, you can specify special members to `:members:`:
[code]

[2018-08-27 01:45] tk0miya commented on #2106
Why don't overloaded methods have correct signature? I'd like to know why do you want to use `autodoc_docstring_signature`. I think it is workaround for special case.

[2018-08-27 03:37] sbourdeauducq commented on #3857
The code has been refactored in 2.0 and I'm not completely sure what this change should become either, but I think using ``str()`` instead of ``repr()`` on user objects in ``sphinx/util/inspect.py`` should be the way to go.

[2018-08-27 08:03] iwanb commented on #4056
Thank you!

[2018-08-27 09:27] flying-sheep commented on #4826
You’re right, but I didn’t propose to just add the qualname to the objects.inv. I do want a solution for the case where I know the qualname but not the canonical documentation location.

Each documented object has 1–∞ aliases, one of which is the the canonical documented location (in objects.inv) and one of which is the canonical qualified name (`thing.__module__ + '.' + thing.__(qual)name__`). Th

[2018-08-27 15:10] shimizukawa commented on #5347
Thanks, +1 for releasing.

[2018-08-27 17:45] anntzer commented on #3627
Closed by #5194.

[2018-08-27 17:45] #3627 closed, assigned to nobody

[2018-08-28 02:20] tk0miya commented on #2006
It seems your package is installed as egg package. As a result, autodoc failed to read the source code. I got following debug log:
[code]

Note: I used following Dockefile:
[code]

As a workaround, you can avoid it by `pip install .`.

[2018-08-28 15:58] tk0miya commented on #5347
Sorry for late. I start to release our software from now on.

[2018-08-28 16:08] tk0miya commented on #5347
done :-)

[2018-08-28 16:08] #5347 closed, assigned to nobody

[2018-08-28 16:23] tk0miya commented on #5339
Sounds great! Yes, with Sphinx-1.6+, `setup()` function is called automatically if user chooses the theme via `html_theme`. So setting `html_theme_path` manually is not needed.
The procedure is only needed for old versions.

[2018-08-28 16:30] svenevs commented on #5339
Most excellent, thanks for the confirmation! I'll fix up the docs :)

[2018-08-28 17:17] francisco-dlp opened #5361 "v1.7.8 breaks compiling document previously compiled with older version"
### Problem
v1.7.8 fails compiling a document (in our case [the HyperSpy documentation](https://hyperspy.readthedocs.io/en/latest/)) that v1.7.7 compiles happily.

v1.7.7 works fine on the same document.

#### Procedure to reproduce the problem
[code]

#### Error logs / results

[code]

Full build error in ReadTheDocs: https://readthedocs.org/projects/hyperspy/builds/7701605/

### Reproducible pro

[2018-08-28 17:31] ghost commented on #4447
If you are generating the docs from python source code using `sphinx-apidoc --no-headings --no-toc` then the proper way to deal with the warning would be to set a title in each python module for which you are getting the warning, i.e. at the top of each `.py` file add something like

[code]

[2018-08-28 17:40] TimKam commented on #5361
You can try if deleting the previous build and rebuilding works as a quick fix. I had a similar issue after switching between two unreleased versions.

[2018-08-28 18:19] francisco-dlp commented on #5361
Thanks for the suggestion @TimKam. We experience this issue in ReadTheDocs where I believe that each build is performed in a clean virtual environment.

[2018-08-28 19:04] TimKam commented on #5361
@francisco-dlp RtD does not always trigger builds in a clean environment. Chances are you will fix the issue by "wiping" the version--which only removes files internally and does not take the hosted docs down--and triggering a rebuild manually. See: https://docs.readthedocs.io/en/latest/guides/wipe-environment.html. Please report back :-)

[2018-08-28 19:05] TimKam commented on #5361
@tk0miya This seems to be a bigger issue. The build of the latest Sphinx docs failed as well on RtD. I managed to build it by proceeding as described above.

[2018-08-28 19:18] francisco-dlp commented on #5361
Wiping the version in RtDs [worked](https://readthedocs.org/projects/hyperspy/builds/7702427/), thanks @TimKam !

[2018-08-28 19:20] TimKam commented on #5361
Thanks for confirming.
Issue _could_ have been caused by: https://github.com/sphinx-doc/sphinx/issues/5327.

[2018-08-29 02:26] tk0miya commented on #5361
OMG... Sorry for inconvenience.

It would be raised on incremental build just after upgrade. I suppose it gets errored only once.
But I agree this is major bug. So I'll work for this tonight (in JST).

[2018-08-29 05:53] juh2 commented on #5339
Yes. Without html_theme_path it works. :-)

[2018-08-29 12:18] ghost opened #5362 "If module named "modules",it will get wrong content"
### Problem
If module named **"modules"**,it will got wrong content.

[code]

Title **"dev"** is the directory name which I want to using sphinx to generating API documentation.

**"conf"** / **"handlers"** and **"modules"** in the same directory(**"dev"**).Directory structure like:

[code]

But,if rename "modules" to "module",it will work fine:

[code]

#### Expected results
Do it no matter modul

[2018-08-29 15:35] tk0miya commented on #5339
I'm closing this now :-)

[2018-08-29 15:35] #5339 closed, assigned to nobody

[2018-08-29 16:07] #4182 closed, assigned to nobody

[2018-08-29 16:08] tk0miya commented on #4182
I added `autodoc.*` type to `suppress_warnings` in #5357.
Thanks,

[2018-08-29 16:09] torfsen opened #5364 "Signature overrides for autodoc via automethod cause wrong order"
### Problem
I'm using `automethod` to override the signature of a method that is actually a callable instance of another class. Overriding the signature works fine, but causes the method to show up at the top of the class' documentation instead of its place in the alphabetical ordering.

Here's the Python source (`stest.py`):

[code]

And here's the reST:

[code]

I'm using `:exclude-members:` as

[2018-08-29 16:09] tk0miya commented on #5348
Fixed by #5349.
Thanks,

[2018-08-29 16:09] #5348 closed, assigned to nobody

[2018-08-29 16:16] tk0miya commented on #5364
Unfortunately, autodoc only **appends** generated document after its contents part.
So all methods and attributes are listed after `.. automethod:: fake_method()`.

[2018-08-29 16:28] torfsen commented on #5364
Thank you @tk0miya for your quick response! So I guess this is simply the intended behavior. Unfortunate for my use case, but good to know. Thanks again!

[2018-08-29 16:28] #5364 closed, assigned to nobody

[2018-08-29 16:43] torfsen opened #5365 "autodoc: Support for nested identifiers as arguments for exclude-members"
### Problem
autodoc's `:exclude-members:` option can be used to exclude specific members from the auto-generated documentation. This works fine on the first level but nested identifiers (`a.b.c`) seem not to be supported.

Consider this Python source (`stest.py`)
[code]
The following reST correctly documents all members of `stest`:

[code]

I now would like to hide `A.b` from the auto-generated do

[2018-08-29 16:54] tk0miya commented on #5358
Fortunately, this is already fixed at 1.8. Could you check 1.8.0b1?

[2018-08-29 16:59] tk0miya commented on #5365
As a workaround, I think `:exclude-members: b` would work. autodoc passes given options to child. In this case, `automodule:: stest`  passes `:exclude-members: A.b` to `autoclass:: A`. As a result, all of autodoc modules ignores the exclusion.

Anyway, this is not good behavior. So I'll check this later.

[2018-08-29 18:38] #1618 closed, assigned to nobody

[2018-08-30 05:25] kovidgoyal commented on #5150
Note that simply ignoring the KeyError exception in transforms/i18n.py allows the build to complete. I have no idea what other side-effects it might have.

[2018-08-30 07:57] petarnikolovski opened #5366 "Could not import extension sphinx.builders.linkcheck"
Subject: Cannot build documentation: No module named `requests.exception`

### Problem

When I install the most recent sphinx version in a new project (1.7.8) and uncomment the module import in `conf.py` documentation build fails.

#### Procedure to reproduce the problem

Uncomment and change source directory of the project in `conf.py`:

[code]

[code]

#### Error logs / results
[code]

#### Expe

[2018-08-30 14:30] tk0miya commented on #5366
It seems `requests.exceptions` package is missing on your environment. Could you check it please?
If you're using `python-requests` package on debian or ubuntu, they are broken to us. If true, please reinstall it via pip.

Thanks,

[2018-08-30 14:55] tk0miya commented on #5150
I can't answer ignoring is best way for this case. So I'll continue to reproduce the error.

[2018-08-30 14:58] tk0miya commented on #1618
@TimKam Congrats! Thank you for your work!

[2018-08-30 18:26] petarnikolovski commented on #5366
My project is initiated with pipenv and it's using Python 3.5. The package `python-requests` is globally installed:

[code]

but in the projects I've installed it using:

[code]

Sphinx is also installed locally in the pipenv's virtualenv too, but is it trying to use the global requests package?

Also, if I drop down to virtualenv in the project, the following imports work fine:

[code]

Furthermo

[2018-08-31 01:42] tk0miya commented on #5366
Hmm... I can't find why `requests` is not a package on your environment. I have no idea to fix it.

[2018-08-31 01:43] tk0miya commented on #5319
I'm closing this now because this is not a bug of Sphinx.
Thanks,

[2018-08-31 01:43] #5319 closed, assigned to nobody

[2018-08-31 01:44] tk0miya commented on #5338
I'm closing this because this is not a bug of Sphinx.
Thanks,

[2018-08-31 01:44] #5338 closed, assigned to nobody

[2018-08-31 05:20] Sanjeetkumar163 opened #5367 "AttributeError: 'collections.defaultdict' object has no attribute 'add'"
I am using Sphinx-1.7.8 and getting below error while doing "**make html**". Please help me out.

------------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/sphinx/cmdline.py", line 304, in main
    app.build(args.force_all, filenames)
  File "/usr/lib/python3.6/site-packages/sphinx/application.py

[2018-08-31 08:18] petarnikolovski commented on #5366
I've removed and reinstalled `python3-requests` using pip, and the error is still happening. I've seen other issue reports where the cause of error was mocking of `requests` in `conf.py`. I'm not mocking `requests` in that file, but in my unit tests, I'm specifically mocking `requests.get` and `requests.post`. But tests are in a separate directory. I'll let you know if I find the fix.

[2018-08-31 09:49] petarnikolovski commented on #5366
If I change

`sys.path.insert(0, os.path.abspath('../mylib'))`

to:

sys.path.insert(0, os.path.abspath('../'))

The documentation compiles! However, `../` contains library, tests, documentation, etc. I'm not sure why it compiles like this, and it makes me uneasy to set the path to root of the project rather then the root of the library itself.

[2018-08-31 16:29] jsmedmar commented on #1063
Wow, this issue was created in 2012. Are there any plans of making sure undocumented constants make it to the doc when using `:undoc-members:
`?

[2018-09-01 03:11] tk0miya commented on #5367
Hmm... that's strange. The line you shown is not a part of v1.7.8.
[code]
refs: the function in v1.7.8: https://github.com/sphinx-doc/sphinx/blob/v1.7.8/sphinx/environment/__init__.py#L718-L726

Could you paste a full version of error log file? The version of Sphinx would be shown at the top of the file.

[2018-09-01 03:17] tk0miya commented on #5366
I don't know what `mylib` contains. But that is related with this issue. Is there a `requests` package on your library?
Anyway, this must be not a bug of Sphinx. So I'm closing this now.

If you want a help more, please post this again to sphinx-users list:
https://groups.google.com/forum/#!forum/sphinx-users

Thanks,

[2018-09-01 03:17] #5366 closed, assigned to nobody

[2018-09-01 03:44] tk0miya commented on #5361
Fixed by #5363.
Thank you for reporting.
I'll release this later.

[2018-09-01 03:44] #5361 closed, assigned to nobody

[2018-09-01 04:50] tk0miya commented on #1063
While six years, nobody had not tried to fix this. How about you? PR is always welcome :-)

[2018-09-01 05:00] jsmedmar commented on #1063
haha! guess no one has been lazy enough to complain about having to doc their constants

[2018-09-01 05:16] tk0miya commented on #4826
Most important thing is whether the author of the document want to expose the qualname to readers. I can agree with adding an option for it if they want.
But, as a developer, I feel qualname is a kind of private interface. So I don't want that if I was author.

[2018-09-01 05:28] tk0miya commented on #3857
Yes, we'd stopped to use `format_annotation()`. And there are no `repr()` calls in `sphinx.util.inspect:Signature` class; the successor of the function.
I guess this problem was already resolved. Is this right?

I know `object_description()` is still using `repr()`. But I don't understand what problem it caused. If you think it is problem, please let me know an example for it. I don't understand w

[2018-09-01 05:32] tk0miya commented on #4660
Okay, thanks. I'll try to reproduce after learning django

[2018-09-01 11:51] Sanjeetkumar163 commented on #5367
Sorry, it is v1.7.5 by mistake I wrote v1.7.8. By the way, it's working now.

[2018-09-01 12:14] tk0miya commented on #5367
Okay, I'm closing this now.

[2018-09-01 12:14] #5367 closed, assigned to nobody

[2018-09-02 06:51] tk0miya commented on #4447
Sorry for late.

Yes and No. The explicit title is only used to the toctree, not the content of `foo.html`.
Anyway, the warning would not be needed for the case.

[2018-09-02 07:56] tk0miya commented on #4379
I found you've given `**data**` to `exclude_patterns`.
[code]

As a result, `generated/sphinx_test.sptest.data.rst` was generated, but ignored sphinx-core. I think this is unintended and unfortunate behavior.

IMO, the `excluce_patterns` is too strong. How about change it?

[2018-09-02 08:16] tk0miya opened #5373 "1.7.9 release plan"
Hi maintainers,

Unfortunately, #5361 was found on Sphinx-1.7.8. It fails to incremental-build a document which contains `include` directive after upgrade from older Sphinx. I don't know this is major bug or not. Could you give me advice that we should release it ASAP?

If needed, I'll ship it soon.

[2018-09-02 09:21] tk0miya commented on #5281
"orphaned" means the document is not contained in the toctree. It does not equal to not hyper-referenced. So I'd not like to suppress the warning because it is still orphaned even if referenced.

In orphaned page, some navigation links are broken even if HTML output. Because it does not have "next" page, "prev" page and parent tree.

[2018-09-02 10:10] tk0miya commented on #4770
It seems toctree collector supports only the `only` node:
https://github.com/sphinx-doc/sphinx/blob/bc02abcb77143d12c08265c4c10ba9c6cd003832/sphinx/environment/collectors/toctree.py#L88-L94

Anyway, these conditional nodes are evaluated latter step. So these warnings does not work well.

[2018-09-02 11:29] tk0miya commented on #4379
I just made #5374 to give more appropriate warning message for this.

[2018-09-02 11:40] tk0miya commented on #5362
This is minimum reproducible steps:
[code]

`modules.rst` is a default filename of index file which apidoc generates. So it is conflicted with target python module.

[2018-09-02 12:46] aspiers commented on #5281
[**@tk0miya**](https://github.com/tk0miya) commented on [2 Sep 2018, 10:21 BST](https://github.com/sphinx-doc/sphinx/issues/5281#issuecomment-417916479 "2018-09-02T09:21:13Z - Replied by Github Reply Comments"):

That's one valid definition of "orphaned", but not necessarily the most obvious to everyone.  Another is that it means the document is not reachable by navigating via any links from the s

[2018-09-02 14:09] flying-sheep commented on #4826
i think you didn’t understand me. the point is that sometimes someone just has the qualname and needs to get a link out of the objects.inv using it.

*nobody will ever see the qualname*, it’s just for finding a class or function in the docs: using the qualname, you shoud be able to get a link to the documented location. the link should look like if you used the documented location.

this is about

[2018-09-02 22:57] glinskyc opened #5379 "autosummary table order to follow autodoc_member_order"
Subject: Request for autosummary order to follow autodoc_member_order config setting

### Problem
- Despite `config.py` with `autodoc_member_order = 'bysource'`, autosummary sorts items alphabetically in each generated summary table.

#### Procedure to reproduce the problem
1. Add `autodoc_member_order = 'bysource'` to `config.py`
2. Run `$ make html`

#### Error logs / results
- n/a

#### Expecte

[2018-09-03 01:41] tk0miya commented on #5379
+1; but `autosummary_member_order` might be better.

[2018-09-03 04:17] shimizukawa commented on #5373
- I think it's nice to release quickly for blocker bug.
- The problem of #5361 is not a blocker, however I think that there are people who are happy when released.
- if it doesn't take time, I think it will be released.

[2018-09-03 04:20] xypron opened #5380 "Incorrect rendering of function pointers as parameters"
Subject: <what happen when you do on which document project>

I am using Sphinx to create HTML documentation for project U-Boot (http://git.denx.de/u-boot.git). The documentation is created via

    make htmldocs

The documentation for some functions is rendered incorrectly.

File lib/efi_loader/efi_boottime.c has the following:

[code]

This produces a warning:

[code]

The parameter notfiy_funct

[2018-09-03 07:34] petarnikolovski commented on #5366
Yes, there is one `import requests` and one `requests.py` file. It may be the filename in the package that caused the problem.

[2018-09-03 10:01] sbourdeauducq commented on #3857
Create a function with some type annotation, e.g. ``def foo(x: bar)``, then it calls ``repr()`` on ``bar`` which produces a less appropriate result than ``str()``.

I do not know if this still happen with the latest code, but it did when I reported the issue.

In general I do not see why sphinx would use ``repr()`` anywhere instead of ``str()``.  As I posted above: ``str()``'s goal is to be readab

[2018-09-03 12:33] embray opened #5382 "interpreted text dropped from label titles stored in objects.inv"
### Problem
If the title of a section associated with a label contains interpreted text, the entire portion of the title that's interpreted is removed from the title.  This can be seen in the Sage docs (which is a collection of multiple Sphinx docs with intersphinx links between them).  There is a [page](http://doc.sagemath.org/html/en/reference/padics/sage/rings/padics/tutorial.html) whose raw rs

[2018-09-03 13:00] tk0miya commented on #5366
I understand. It causes your problem. Sphinx uses `requests` package internally. So they are conflicted.
Unfortunately, I don't have good workaround for your case.

[2018-09-03 17:03] tk0miya commented on #5380
Usually, the warning is raised for half-opened inline mark-ups.
[code]

I think this might be a bug of extensions.

[2018-09-03 18:52] xypron commented on #5380
@tk0miya
The problem was in a script built around sphinx. See: https://lkml.org/lkml/2018/9/3/1185

[2018-09-03 18:52] #5380 closed, assigned to nobody

[2018-09-04 09:39] embray commented on #5382
(FWIW I'd be happy to supply a PR with a fix, but first would have to agree on what we're fixing.)

[2018-09-04 17:07] jsmedmar commented on #1063
Ok @tk0miya, see #5387.

[2018-09-05 13:13] GSebastian-Adil opened #5389 "error message"
Subject: <what happen when you do on which document project>

### Problem
******@******:~/projects/Sphinx$ sphinx-build -b pdf source build/pdf
Running Sphinx v1.7.8

Exception occurred:
  File "/home/******/.local/lib/python3.6/site-packages/sphinx/registry.py", line 315, in load_extension
    mod = __import__(extname, None, None, ['setup'])
  File "/home/******/.local/lib/python3.6/site-packages

[2018-09-05 13:57] tk0miya commented on #4379
Now #5374 is merged. I'm closing this now because this is not a bug.
Thanks,

[2018-09-05 13:57] #4379 closed, assigned to nobody

[2018-09-05 14:02] tk0miya commented on #5373
Okay, I'll start it from now on.

[2018-09-05 14:12] tk0miya commented on #5373
done.
Thank you always,

[2018-09-05 14:12] #5373 closed, assigned to nobody

[2018-09-05 14:19] tk0miya commented on #5358
I'm closing this now because it seems already fixed.
Please feel free to reopen if you still get same error in 1.8.0b1.
Thanks,

[2018-09-05 14:19] #5358 closed, assigned to nobody

[2018-09-05 14:21] tk0miya commented on #5389
Unfortunately, rst2pdf does not support python 3.x.
Please report this to their project.
Thanks,

[2018-09-05 14:21] #5389 closed, assigned to nobody

[2018-09-05 14:40] tk0miya commented on #5290
I found setuptools uses .egg file. So we can see it with `python setup.py install`.
I perfectly reproduce this problem.

+1; we need to support it. It is still used...

[2018-09-05 14:45] Syndace commented on #5290
Oh damn, sorry for not answering. Exactly, I'm using the most recent version of setuptools. Just a super simple setup.py file (with zip_safe=True) creates a zipped egg file when calling `setup.py install`.

Glad you can reproduce.

[2018-09-05 15:07] tk0miya commented on #2401
Fixed by #5376.
Thank you for reporting.

[2018-09-05 15:07] #2401 closed, assigned to nobody

[2018-09-05 15:25] tk0miya commented on #3133
I'm closing this because we already have `-c` option.
Thanks,

[2018-09-05 15:25] #3133 closed, assigned to nobody

[2018-09-05 15:35] tk0miya commented on #3079
I'll take a look later.

[2018-09-05 15:53] tk0miya commented on #2973
Oh, #3388 was already shipped as v1.6.
So this has been resolved.
Thanks,

[2018-09-05 15:53] #2973 closed, assigned to nobody

[2018-09-05 15:56] tk0miya commented on #2828
It seems this has been already fixed with Sphinx-1.8. So I'm closing this now.
Thanks,

[2018-09-05 15:56] #2828 closed, assigned to nobody

[2018-09-05 20:36] jsmedmar commented on #1063
@tk0miya, do you know how I could differentiate from objects defined in the module between those imported? That was the roadblock I hit whilst implementing a solution for this ticket in #5387.

[2018-09-05 21:40] barbara-sfx opened #5391 "Linked heading has undesirable font in toctree"
Subject: Linked heading has undesirable font in toctree

### Problem
I am experimenting with making some of our headings be links. They show up in the TOC sidebar in the font used for the :any: links in our docs. Is there a way to tell sphinx to use the standard font in the sidebar TOC?

## Actual Result

Here's what the TOC looks like:

![image](https://user-images.githubusercontent.com/17709550/

[2018-09-05 22:48] GSebastian-Adil commented on #5389
Thanks, Ok it is done

[2018-09-06 09:25] tk0miya commented on #2720
Fixed by #5377.
Thank you for reporting!

[2018-09-06 09:25] #2720 closed, assigned to nobody

[2018-09-06 09:25] tk0miya commented on #4034
Fixed by #5377.
Thank you for reporting!

[2018-09-06 09:25] #4034 closed, assigned to nobody

[2018-09-06 12:32] tk0miya commented on #5290
I just made a PR #5290 for this problem.
Please try this on your document if you have time.

[2018-09-06 12:34] tk0miya commented on #5362
I just added `--tocfile` option for renaming `modules.rst` (see #5375).
Thank you for reporting!

[2018-09-06 12:34] #5362 closed, assigned to nobody

[2018-09-06 14:17] tk0miya commented on #5382
I think extracting text is better for such case.

[2018-09-06 17:38] mantepse commented on #3080
I updated the branch on https://trac.sagemath.org/ticket/21734 so that it's easily visible, but its been too long, so I cannot tell anymore what remains to be done...

[2018-09-06 17:42] mantepse commented on #3080
I just checked, the blocker to enable a texinfo build for sagemath is issue #3089 (which has been closed because too difficult to fix).

[2018-09-06 20:29] cpitclaudel commented on #2505
I believe this was fixed in https://github.com/sphinx-doc/sphinx/commit/07c5348a56471201b5901881b0d9d83f4823a6fd

Before that commit, it seems that the content of the prolog were inserted before the info lines (is that right?)

[2018-09-07 01:51] tk0miya commented on #3079
Note: The texinfo manual says:

So it would be better to copy image files to `{proj}-figures` directory

[2018-09-07 18:15] Delgan opened #5395 "Missing parameters types if their names are the same"
Hi!

### Problem
I try to generate html from a Python docstring containing a list of parameters with the same name but a different type. Unfortunately, only the first parameter is associated with a type in the generated output, others types are blank while description are fine.

#### Procedure to reproduce the problem
Build html for the following `.rst` source:

[code]

#### Error logs / results
G

[2018-09-07 18:27] Syndace commented on #5290
Nice, this indeed fixes the issue. Thank you!

I don't want to annoy you but don't you think it would be more future-safe to always try to read the sources first, falling back to the installed package only if no sources are found in the path?
I mean, if Python ever decides to do a different package format using for example tar.gz instead of zip you got the same problem again.

Anyway, thanks for t

[2018-09-07 18:27] #5290 closed, assigned to nobody

[2018-09-07 18:37] Syndace commented on #5290
Actually, nevermind. You'd have to support it anyway, whether you would look for sources first or not doesn't matter.

Again, thanks.

[2018-09-08 04:21] tk0miya commented on #2505
I believe the commit did not change the behavior of prolog.

[2018-09-08 10:55] tk0miya opened #5399 "Sphinx crashes if unknown po file exists"
### Problem
- Sphinx crashes if unknown po file exists

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Sphinx skips them and goes builds fine.

### Environment info
- OS: Mac
- Python version: 3.7.0
- Sphinx version: 2.0.0+

[2018-09-08 13:09] tk0miya commented on #5290
Thank you for comment. I'll go with this.
Let's consider again if something happened :-)

[2018-09-08 17:45] cpitclaudel commented on #2505
Hmm, you're right, I misread.

[2018-09-09 08:53] tk0miya commented on #5395
Sphinx expects only single pair of `:param:` and `:type:` is used per a parameter. How about using instead?
[code]

[2018-09-09 09:21] tk0miya commented on #1063
AFAIK, there are no way to investigate it. All classes and functions have `__module__` attribute indicates where the object defined. But instances does not have it.
I guess our pycode module (`sphinx.pycode`) help it.

I'll take a look after releasing 1.8.0.

Thank you for your help.

[2018-09-09 09:33] tk0miya commented on #4986
Oh, today is X-Day! I was mistaken thinking that it will be on the next weekend... I'm starting to check status of issues from now on.

[2018-09-09 09:38] tk0miya commented on #5399
Fixed by #5400.

[2018-09-09 09:38] #5399 closed, assigned to nobody

[2018-09-09 09:46] tk0miya commented on #5351
I keep this opening because #5356 was only fixing tests. So I guess problem is still alive.

[2018-09-09 09:49] jfbu commented on #4986
@tk0miya I have no time currently, and the LaTeX issues listed with 1.8 milestone are not really blocking (I raised them myself) so I will postpone their milestone for a later release. Ah wait... I think you just did! +1

[2018-09-09 10:27] Delgan commented on #5395
@tk0miya Thanks for you answer!

I would like to use the more appropriate formatting you suggested, but this is much more complicated on my side because my docstrings are generated dynamically from a complex JSON Schema.

Actually I generate docstrings with Numpy-style and I then use the Sphinx Napoleon module. So at first it looks more like this:

[code]

And what I noticed is that, if I replace

[2018-09-09 10:34] tk0miya commented on #4986
@jfbu thank you for quick comment :-)

I just postponed almost of issues on 1.8.0 milestone to 1.8.1 or 2.0.0 because they are not serious from my sight.
I'll finish checking issues after a while. At this point, there are no blocker for releasing.

[2018-09-09 10:35] #4018 closed, assigned to nobody

[2018-09-09 10:36] jakobandersen commented on #5351
Yes, the underlying problem is missing handling of unicode characters with "large" values.

[2018-09-09 11:21] tk0miya commented on #4611
At present, I got following errors for current HEAD of 1.8 branch:
[code]

[2018-09-09 11:27] tk0miya commented on #4986
Finally I cleaned up (including postponing) all issues on 1.8.0 milestone.
It's time to release!

[2018-09-09 12:31] tk0miya commented on #4986
Unfortunately, I found broken translations on zh_CN.
https://github.com/sphinx-doc/sphinx/commit/cf707ac46f0cdfdd437b60744b7dc54362e4c656

I think this is not a blocker. But reverting it is not a good for Chinese users.
So I'll call a help to dev forum, and wait for a while (maybe 2 or 3 days).

[2018-09-09 14:22] funkyfuture commented on #4775
i'm not sure whether i'm dealing with the same issue as the undesired PDF seems not to be hosted anymore, but it seems to be ta case. both, omitting the heading in the references/bibliography file and the raw contents suggested by @jfbu, are removing the extra chapter in my case, using `lualatex`. but it then disappears from the table of contents. does anyone have a hin how to get it back in there

[2018-09-09 14:49] jfbu commented on #4775
@funkyfuture with the raw contents method, there still should be a "Bibliography" entry in the table of contents (and bookmarks) of the PDF. If you modify conf.py like this

[code]

you will then see "References" in place of "Bibliography" both in bookmarks and actual table of contents, and as title of the actual references chapter in the PDF. Luckily with `lualatex` (which a priori means `polyglo

[2018-09-10 09:36] mgeier opened #5407 "code-block directive without language should cause error, not warning"
### Problem
- If a `code-block` directive is missing the (AFAIK required) language option, it is not included in the output and only a warning is shown instead of an error.

#### Procedure to reproduce the problem

[code]

#### Error logs / results
[code]

#### Expected results

There should be an error message, because IMHO completely stripping the code block is a strong failure.

#### Possibly r

[2018-09-10 09:40] mgeier commented on #5407
Alternatively, instead of completely removing the `code-block`, it could be formatted with some default language setting (or without syntax highlighting at all). In that case, IMHO a warning would suffice.

[2018-09-10 11:53] jfbu commented on #4185
refs https://github.com/sphinx-doc/sphinx/commit/e8b870de0cbaf724986b65de9552262ac253a6d2

[2018-09-10 12:33] funkyfuture commented on #4775
unfortunately this has not the desired effect. fwiw, here's the config for the latex writer i have in place:

[code]

[2018-09-10 12:36] Shaun-Griffith-Hive commented on #4185
I'm sorry, was that commit addressing this issue? There still seems to be some words missing between "option" and "else".

[2018-09-10 13:19] tk0miya commented on #5407
I think #1851 is a good way to do that.

[2018-09-10 13:38] jfbu commented on #4775
@funkyfuture

Try with

[code]

(or perhaps `\captionsngerman` if above fails, but I think polyglossia uses `german` contrarily to babel's `ngerman` --- not tested)

Side remark: if you use `:index:` with German words starting with non-ascii character, then I think indexing will trigger a build failure by lualatex as you have `latex_use_xindy = False`.

[2018-09-10 13:40] jfbu commented on #4185
@Shaun-Griffith-Hive no it was seemingly the commit introducing the issue... Possibly the whole line is in extra, but I have a hard time understanding exactly the meaning. Ping @shimizukawa

[2018-09-10 15:42] padix-key opened #5409 "Autodoc: Method signature from docstring does not work for methods with no additonal arguments"
Method signatures are not inferred from docstring, if no arguments are given.

### Problem
I have a bunch of types created using C-extensions. I would like to include their function signature using the `autodoc_docstring_signature` option. For most methods, this works correctly. However, for functions accepting no additional arguments (other than `self`), the signature is simply

[code]

which ren

[2018-09-10 17:57] hoefling commented on #3837
More than one year passed, ``setuptools`` reached version 40 and ``upload_docs`` is still around, being incompatible with ``Sphinx`` newer than 1.6. Here's the workaround I use in the meantime, maybe it will be helpful for someone. In your `setup.py`:

[code]

[2018-09-12 13:41] tk0miya commented on #4986
It seems no reactions on sphinx-users and -dev list...
I think it's time to release (again). I'll work this later (a few hours later)

[2018-09-12 13:54] shimizukawa commented on #4986
😞

[2018-09-12 14:43] jfbu commented on #4986
ok, I updated some French translations on transifex during the extended beta period...

[2018-09-12 15:56] tk0miya commented on #4986
I just shipped v1.8.0 now!
https://pypi.org/project/Sphinx/

Thank you always :-)

[2018-09-12 15:56] #4986 closed, assigned to nobody

[2018-09-12 15:59] AWhetter commented on #4986
Congratulations to you all and thank you for another year of hard work on this project!

[2018-09-12 19:00] funkyfuture opened #5416 "Parsing of IDNA-encodable URLs"
### Problem

i'm using URLs that contain non-ascii characters as part of the domain name with different roles in documents, mainly standalone URLs. these are not parsed in their completeness, e.g. `https://die-fpö-ist-ein-reaktionärer-misthaufen.at` is matched as `https://die`.

it is quiet simple to fix that behaviour by changing `Inliner.uric` in `docutils.parsers.rst.states.py#671`. is there an

[2018-09-12 19:16] funkyfuture commented on #4775
thank you very much for your effort @jfbu, i had already failingly tried that.

here's the toc part of the resulting LaTeX markup:

[code]

regarding (not) xindy, luckily i don't have such item. i tried using `xindy`, but that build failed (claimed that files are missing, but they are). didn't want to open an issue as it doesn't trouble me atm, and maybe that's a problem with Ubuntu.

[2018-09-12 19:56] funkyfuture commented on #4775
ugh, i just noticed that the index and the list of figures also do not appear in the toc.

[2018-09-12 20:04] zxiiro opened #5417 "Sphinx 1.8.0 fails build with syntax error unqualified exec is not allowed in function 'run'"
### Problem
- Build fails with syntax error SyntaxError: unqualified exec is not allowed in function 'run' it contains a nested function with free variables

#### Procedure to reproduce the problem
[code]

This can be reproduced with docker too.

[code]

#### Error logs / results
[code]
- https://logs.opendaylight.org/releng/vex-yul-odl-jenkins-1/lf-infra-lftools-tox-verify-any/338/console.log.gz

[2018-09-12 20:05] zxiiro commented on #5417
I posted the logs for one of our projects. But many of our projects that's using Sphinx started failing in our CI this morning with this issue after 1.8.0 was made public.

[2018-09-12 20:42] jfbu commented on #4775
@funkyfuture is your build on RTD? They [do not do enough runs](https://github.com/rtfd/readthedocs.org/issues/4454) of pdflatex/xelatex/lualatex. Failing that can you share some small project demonstrating the issue.

[2018-09-12 20:45] jfbu commented on #4775
@funkyfuture Direct usage of `xindy` is not the recommended way. Rather use the `make latexpdf` or `make -C <latex-build-dir> all-pdf` to build your project. The Sphinx contributed LaTeX makefile is adapted to the engine (lualatex) and language (German) and the LaTeX build repertory has specific xindy support files.

[2018-09-12 22:08] tannewt commented on #5417
This happens on Travis as well: https://travis-ci.org/adafruit/circuitpython/jobs/427888642#L1303

[2018-09-12 22:19] zeroepoch opened #5418 "Incorrect default path for sphinx-build -d/doctrees files"
https://github.com/sphinx-doc/sphinx/blob/efdc95ef8b041a90096d43144fad7086b1f93cc9/sphinx/cmd/build.py#L222

This should be using `args.outputdir` instead of `args.sourcedir` according to the usage.  This causes our build to fail now with 1.8 because our source tree is read-only.  We started adding -d to the command line to workaround the issue.

[2018-09-13 02:48] ezyang opened #5419 "KeyError: 'latex' regression from Sphinx 1.7.9->1.8.0"
Subject: Building PyTorch documentation with Sphinx 1.8.0 results in "KeyError: 'latex'"

### Problem
- We had a previously working Sphinx build on Sphinx 1.7.9, which no longer works with the latest 1.8.0 release.

#### Procedure to reproduce the problem
[code]

Please let us know if you need a minimized test. I'm not sure, but if this doesn't work you may have to build PyTorch first.

#### Error

[2018-09-13 08:23] kunicmarko20 commented on #5417
Same here https://travis-ci.org/FriendsOfSymfony/FOSCKEditorBundle/jobs/427947749

[2018-09-13 09:49] vrde opened #5421 "`autodoc_default_flags` deprecated on a minor version"
*Disclaimer: I assume Sphinx follows the [Semantic Versioning rules](https://semver.org/).*

Subject: Sphinx 1.8 is not backward compatible since it deprecates `autodoc_default_flags`.

### Problem
- Our CI fails to build our documentation, because of: https://github.com/sphinx-doc/sphinx/blob/efdc95ef8b041a90096d43144fad7086b1f93cc9/CHANGES#L149

#### Procedure to reproduce the problem
I'll skip

[2018-09-13 10:58] blink1073 opened #5422 "Pickling Error with 1.8"
Subject:  Sphinx 1.8 introduced a build error for JupyterLab

### Problem
- It appears that in 1.8 the `url_resolver` config is trying to get pickled.  We had a lambda function, but that broke with (cf https://travis-ci.org/jupyterlab/jupyterlab/jobs/427847089#L672):

[code]

Changing it to a separate function yields (cf https://travis-ci.org/jupyterlab/jupyterlab/jobs/428072324#L763 and https://g

[2018-09-13 12:20] tk0miya commented on #5421
Thank you for reporting.

We've not adopted to semantic versioning yet. But this warning has not obey to our deprecation rule.
It should be omitted during 1.8.x series.
http://www.sphinx-doc.org/en/master/devguide.html#deprecation-policy

I marked this as a bug and will fix this later.

[2018-09-13 12:31] petr-balogh opened #5423 "unqualified exec is not allowed in function 'run'"
Subject:  unqualified exec is not allowed in function 'run'

### Problem
- when running in tox build of documentation:

`/root/workspace/gate-jenkins-jobs/automation/rhevm-jenkins-jobs/.tox/docs/bin/sphinx-build -b linkcheck doc /root/workspace/gate-jenkins-jobs/automation/rhevm-jenkins-jobs/doc/html
`
we are getting exception:
[code]

When I switch back to 1.7.9, it's working well.

Tox is using

[2018-09-13 13:02] tk0miya commented on #5416
I think it is responsibility of docutils. So it would be better to send the patch to docutils project.
Thanks,

[2018-09-13 13:13] tk0miya commented on #5417
Sorry for inconvenience. This might be related with `doctest_global_setup`. But I can't find where do you set up config variables on your project. Could you let me know where it is used?

[2018-09-13 13:17] tk0miya commented on #5417
Note: The code was added in #5307.
@akaihola Please let me know about the error if you find the reason.

[2018-09-13 13:29] tk0miya commented on #5418
Thank you for letting us know. Yes, the line is wrong.

Note: This bug was added in #4436.

[2018-09-13 13:43] tk0miya commented on #5422
It seems the error comes from the default setting for recommonmark.AutoStructify.
I'll take a look this later.

Note: I confirmed this with following dockerfile:
[code]

[2018-09-13 13:45] tk0miya commented on #5423
Sorry for inconvenience. I'm working for this in #5417.
So I'm closing this because of dup.

[2018-09-13 13:45] #5423 closed, assigned to nobody

[2018-09-13 13:46] blink1073 commented on #5422
Cheers!

[2018-09-13 14:23] elafontaine commented on #5417
This seems to be caused by the way exec works;
https://stackoverflow.com/questions/4484872/why-doesnt-exec-work-in-a-function-with-a-subfunction

Maybe you guys want to specify the context to exec to avoid that issue.  (I don't have the pretention to understand what it means or which context to apply) :) .  Just trying to help as I'm impacted as well.

[2018-09-13 14:28] ghost commented on #5417
Right now we'll use Sphinx !=1.8.0 in our requirements to unblock-- so we'll use 1.7.9 for the time being, and then 1.8.1 as soon as it's out.

[2018-09-13 17:05] tk0miya commented on #5418
Fixed by #5425
Thank you for reporting!

[2018-09-13 17:05] #5418 closed, assigned to nobody

[2018-09-13 20:00] terrisgit opened #5426 "TypeError in docutils/writers/_html_base.py for autodoc'd class data member"
This bug does not occur with previous versions of Sphinx.

A class's data member must have a specifically formatted docstring.

The first part of the docstring (the main text) must match the regular expression /:\s*$/ (ends with a colon). After the colon, any amount of whitespace may be present. The text thereafter is an enumerated list (both - and * work) of any number of items. The first list it

[2018-09-13 20:08] seanthegeek opened #5427 "Sphinx 1.8.0 breaks the rstcheck 3.3 utility"
Subject: Sphinx 1.8.0 breaks the rstcheck 3.3 utility

### Problem
When running `rstcheck` on a reStructedText (.rst) file in a Python environment with Sphinx 1.8.0, an `ApplicationError` exception is raised. This does not occur with Sphinx 1.7.9.

#### Procedure to reproduce the problem
Run the `rstcheck` command in a terminal

[code]

#### Error logs / results
[code]

-  https://travis-ci.org/do

[2018-09-14 00:59] tk0miya commented on #5427
Sphinx does not expect that `srcdir` and `outputdir` are same. Since 1.8, we'd started to check that explicitly. Please file a issue to rstcheck project.
Thanks,

[2018-09-14 01:00] tk0miya commented on #5421
Fixed by #5424.
Thank you for reporting!

[2018-09-14 01:00] #5421 closed, assigned to nobody

[2018-09-14 13:32] funkyfuture commented on #4775
no, i'm locally building with `make latexpdf`. i wouldn't share my project publicly (it' yet unpublished), but wouldn't mind to provide it to you. also, i wouldn't know how to use `xindy` directly, i just had that option set to `True`.

[2018-09-14 13:35] tk0miya commented on #5426
It seems this bug is related with napoleon extension.
@RobRuana could you check this please?

[2018-09-14 14:19] jfbu commented on #4775
@funkyfuture I understand you can't share your project, and on the other hand I will not contribute privately to your project, and I am not interested into spending myself the time to cut out from your project the irrelevant things. It is not even clear if the problem you have is  relevant to this issue or another one, and not seeing neither source code nor any image of output I can only try shots

[2018-09-14 14:31] pganssle opened #5431 "Erroneous warning in autofunction"
### Problem
The change in #5345 seems to have introduced an issue where using the `..autofunction` directive on a callable object that is not a `function` warns about an ignored `TypeError`.

On my [MWE repo](https://github.com/pganssle-bug-mwes/sphinx-autofunc-bug), I get:

[code]

Where `autobugdemo.func` is defined as:

[code]

#### Procedure to reproduce the problem
Using my [mwe repo](https:/

[2018-09-14 16:15] reaperhulk opened #5432 "sphinx 1.8.0 :type: can't process :term: references"
### Problem
As of sphinx 1.8.0 `:term:` references in a `:type:` no longer appear to work.

#### Procedure to reproduce the problem
Use this rst:
[code]
Then run sphinx-build against it with a default conf and you'll see: `WARNING: py:class reference target not found: test`

In 1.7.9 and before this would properly link.

#### Environment
* Python 3.7
* macOS 10.13
* sphinx 1.8.0

[2018-09-14 18:31] terrisgit commented on #5426
Yes, I disabled the Napoleon extension and the problem went away.

[2018-09-14 20:24] stevepiercy opened #5433 "ImportError: cannot import name 'DEFAULT_SETTINGS'"
Subject: ImportError: cannot import name 'DEFAULT_SETTINGS'

### Problem

With the release of Sphinx 1.8.0, our builds have started to fail with the error message `ImportError: cannot import name 'DEFAULT_SETTINGS'`.

#### Error logs / results

See:
https://travis-ci.org/Pylons/pyramid/jobs/428634951#L497

See also https://github.com/Pylons/pyramid/issues/3350 and https://github.com/sphinx-doc/sph

[2018-09-14 21:59] cdunklau commented on #5433
This is quite easy to reproduce on my Mac, running Python 3.5.3 from pyenv. There's an import cycle `sphinx.writers.latex` -> `sphinx.builders.latex` -> `sphinx.writers.latex`

Setup:

[code]

Reproduction is just to import the same thing referenced in the Travis build:

[code]

[2018-09-14 22:34] svenevs opened #5434 "[docs] clarifications on usage of html_context"
My html-only extension adds css. I ran into an issue where a user was missing the css from my extension because in their `conf.py` they were setting `html_context['css_files']`.

After finally finding #2442 I realized that they just need to set `html_css_files` instead. I want to add a documentation pull request with a note on `html_context` linking to the right configuration values for css and ja

[2018-09-14 22:44] cdunklau commented on #5433
Here's my bisect log... my first ever git bisect, but I'm fairly sure I did it right. I'm adding it here with the hope that it will be helpful in isolating the problem.

[code]

[2018-09-14 22:48] cdunklau commented on #5433
A workaround would be to `import sphinx.builders.latex.nodes` first. This avoids the circular import:

[code]

[2018-09-15 13:17] tk0miya commented on #5422
Fixed by #5429 .
Thank you for reporting.

[2018-09-15 13:17] #5422 closed, assigned to nobody

[2018-09-15 13:25] tk0miya opened #5435 "config value which is a dict contains lambda causes PicklingError"
### Problem
- config value which is a dict contains lambda causes PicklingError

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Build succeeded.

### Environment info
- OS: Mac
- Python version: 3.7.0
- Sphinx version: 1.7.9 and 1.8.0

[2018-09-15 17:38] blink1073 commented on #5422
:tada:

[2018-09-15 19:24] albireox opened #5436 "Autodoc does not work with enum subclasses with properties/methods"
Subject: Autodoc does not work with enum subclasses with properties/methods

### Problem
- When a subclass of `enum.Flag` or `enum.IntFlag` has additional methods or properties, those are not displayed by autodoc.

#### Procedure to reproduce the problem

I have this enumeration

[code]

When documenting it with

[code]

it shoes the doctoring for the class but not the property or its docstring. T

[2018-09-15 20:51] akaihola commented on #5417
@tk0miya, the failing tests above seem to have been run on Python 2.7.5. Sphinx 1.8.0 only supports Python >=3.5.

I tried this minimal test case to see differences in behavior between Python versions:
[code]

- with Python 2.6.9, this fails in the same way as the test mentioned above
- with Python 2.7.15, it succeeds (strangely enough)
- with Python 3.5.5, 3.6.5 and 3.7.0b4, it succeeds

I'll try

[2018-09-15 21:17] tkhyn opened #5437 "`get_module_source` exception in Sphinx 1.8.0 when using autodoc on modules importing eggs"
Hi, I ran into an issue when trying to deploy our documentation on a Win10 CI server, using the recent Sphinx 1.8.0 release.

### Problem

`get_module_source` raises a `ValueError` for some packages installed as `.egg`.
See https://github.com/tkhyn/sphinx180-automodule-bug

#### Procedure to reproduce the problem

On Windows 7 or 10, Python 3.6.5 as the default python interpreter and from a fresh

[2018-09-16 04:15] svenevs opened #5438 "'function based directive support is now deprecated' could be more helpful"
Subject: I would like to make understanding a deprecation notice a little easier for future users.

### Problem

[code]

For reference, we're talking about this specific code:

https://github.com/sphinx-doc/sphinx/blob/2e9d311ad51d0a1f622b38b301a8d10746b84878/sphinx/util/docutils.py#L268-L272

There's nothing _wrong_ with the deprecation message itself.  Finding what to do or what is causing it is

[2018-09-16 06:46] tk0miya commented on #5438
Thank you for comment.

I think both (1) and (2) is good to me. Could you send us a PR please?

Note: we're listing deprecated APIs in http://www.sphinx-doc.org/en/master/extdev/index.html#deprecated-apis . So it would be better to fix it as (2).

[2018-09-16 07:42] tk0miya commented on #5437
Sorry for inconvenience. I just made #5442 to fix this.
Please try it if you have time.

Thanks,

[2018-09-16 07:50] tk0miya commented on #5417
@akaihola No, Sphinx-1.8 has still supported python 2.7. So we should make a fix for both py27 and py34+

[2018-09-16 08:43] tk0miya commented on #5417
I confirmed with following Dockerfile:
[code]

[2018-09-16 08:55] TimKam commented on #5434
IMHO, it makes sense to explain `html_context` with a small example, but not to link to `html_css_files`, because similar misconceptions can occur between many config variables and linking between all of them would create a mess. And yes, PRs are targeted to `master` :-)

[2018-09-16 09:27] tk0miya commented on #5417
Finally, I found the reason of the error. It seems list comprehension conflicts with `exec` under py2.7.5.
[code]

And it is already resolved at latest python2.7.
[code]

[2018-09-16 10:12] tk0miya commented on #5417
I confirmed #5443 fixes the problem:
[code]

[2018-09-16 11:33] apacph opened #5444 "Error exportion"
Subject:
- Error exception when execute make html

### Problem
- Originally, my sphinx environment is work fine.
- However, I want to draw a venn diagram in my document.
- I tried to install sphinxcontrib.googlechart.
- Also, I modified my conf.py by adding extensions = ['sphinxcontrib.googlechart', 'sphinxcontrib.googlechart.graphviz']
- I found that I cannot successfully make my html through com

[2018-09-16 13:15] tk0miya commented on #5436
Thank you for reporting!

Note:
With 3.7, it seems `active_bits` is not listed on the attributes list:
[code]

And I found it on internal dictionary:  `__dict__`
[code]

I don't know other interpreters works as same.

[2018-09-16 13:18] tk0miya commented on #5444
Simply, the extension does not support py2.
Please report this to their project. I'll take a look later (I'm author of the module!).

Thanks,

[2018-09-16 13:18] #5444 closed, assigned to nobody

[2018-09-16 13:23] elafontaine commented on #5417
I think #5443 would be a simple fix to merge!  The change is not that big and will resolve the issue :).

Thanks a lot @tk0miya for looking into this.  It will make sphinx be able to be updated on old version of redhat as well.

[2018-09-16 13:33] tk0miya commented on #5434
IMO, it would be nice if an extension copies JS and CSS files automatically.
For example, you can do it with following code:
[code]

[2018-09-16 15:51] tk0miya commented on #5431
Note: This is happened only with python 3.6/3.7 and Sphinx-1.8.0.

I confirmed this with following Dockerfile:
[code]

[2018-09-16 15:53] tk0miya commented on #5431
It seems the example gives non-function object to an argument of `autofunction` directive...

[2018-09-16 16:00] tk0miya commented on #5417
Fixed by #5443.
Thank you for reporting.

[2018-09-16 16:00] #5417 closed, assigned to nobody

[2018-09-16 16:49] pganssle commented on #5431
@tk0miya Correct. I am able to reliably reproduce this when passing callable objects to `autofunction`. The fact that they are not `function` objects is, essentially, an implementation detail, but it's not possible to create function subclasses - see [PEP 579](https://www.python.org/dev/peps/pep-0579/) for more information on the various problems with this.

Tangential to this - the way `autofunct

[2018-09-16 17:18] albireox commented on #5436
Seems the same is true in 3.6.

[2018-09-17 02:21] tk0miya commented on #5431
I don't know what is best way for marking up callable. But I agree that the warning is not good for us. So I just post #5447 to prevent it.

[2018-09-17 02:33] tk0miya opened #5448 "1.8.1 release plan"
Hi maintainers,

After 1.8.0 release, some issues have been posted. And I feel #5417 was an important issue for Sphinx users on old distro. There are some minor issues also. I'm worry about users make Sphinx pinned to old versions. So I'd like to ship bug-fix release in nearly days.
What do you think?

Note: issues marked as 1.8.1:
https://github.com/sphinx-doc/sphinx/milestone/50

Unfortunately,

[2018-09-17 11:16] blink1073 commented on #5448
Given the number of tagged issues, might I suggest releasing a 1.8.1 with the current fixes and open PRs and then starting on a 1.8.2?

[2018-09-17 11:31] funkyfuture commented on #4775
@jfbu sorry, i didn't want to give the impression that i'm seeking personal support. i'll see that i may open issues at some point, but given that i usually don't require pdf output and considering the amount of open issues, i don't find it that important.

[2018-09-17 13:56] dm413 commented on #4911
I tested with version 1.8.0. Running
`    make latexpdf`
give the error message
`    latexmk: The script engine could not be found.
    latexmk: Data: scriptEngine="perl.exe", scriptName="latexmk"
`

Although latexmk is installed with MiKTeX, it requires perl to be installed as well. This is a new dependency for Sphinx as far as I know.

I note another minor issue -- if you run `make` with no para

[2018-09-17 16:27] jfbu commented on #4775
@funkyfuture no problem, I was only a bit frustrated from sensing I don't have all details: you mentioned list of figures, but by default the Sphinx LaTeX templates makes no provision for including in PDF output a list of figures, so my feeling is you have some custom set-up which may explain the trouble with a custom References entry missing in the bookmarks/TOC.

[2018-09-17 17:10] ocket8888 opened #5450 "code-block directive should have a tab-width option"
Subject: code-block doesn't allow tab-expansion size specification

### Problem
- The `includeliteral` directive provides the `tab-width` option, which `code-block` should ideally support as well.

#### Procedure to reproduce the problem
N/A

#### Error logs / results
Every tab is expanded to an un-configurable 8 spaces

#### Expected results
Ideally, I should be able to specify a tab expansion (o

[2018-09-18 01:23] tk0miya commented on #5448
@blink1073 have you check other issues? If you'd already done and you can say other issues are not blocker, I can release it soon. But I've not done yet.

[2018-09-18 01:49] tk0miya commented on #4911
@dm413 Thank you for confirmation. I'd forgotten to add `latexmk` to new dependency (because it had been already used in other platforms).
And I also added help entry (you can see it if you re-generate make.bat).

see #5451 .
Thanks,

[2018-09-18 01:49] blink1073 commented on #5448
I ran the JupyterLab docs against the current 1.8 branch (5fd45a0f6f0478eff0265ab03ee4e972e194a7d5), and they build successfully.  I am speaking only as a user of sphinx.

[2018-09-18 01:51] tk0miya commented on #5448
Thank you for comment. We'll determine when we'll release after checking other issues :-)

[2018-09-18 02:03] tk0miya commented on #5450
I think the expanding tabs inside directive is strongly related with parsing reST.
So I have to say it is hard to implement.
How about using `tab_width` in `docutils.conf`?
http://docutils.sourceforge.net/docs/user/config.html#tab-width

[2018-09-18 08:39] tk0miya commented on #5231
Any updates?

[2018-09-18 08:43] tk0miya commented on #5436
Fixed by #5449.
Thanks,

[2018-09-18 08:43] #5436 closed, assigned to nobody

[2018-09-18 10:21] jfbu opened #5453 "PDF builds of 'howto' documents have no page numbers"
With the LaTeX docclass set to ``'howto'`` (which, for non-Japanese, uses ``article`` class), the PDF has no page numbers.

But the bookmarks, the table of contents and the indices all refer to page numbers.

I tested Sphinx v1.0, v1.2 (a commit was merged at 1.2, see #995 discussed below), v1.3.1 ...

#### Expected results

In so far as the PDF bookmarks, the table of contents, and the Indices re

[2018-09-18 12:30] jfbu commented on #5453
@tk0miya I added the bug label although Sphinx may have always behaved like this. Somehow I never saw the problem and was surprised to find in my testing repertory some PDF from June 2016 which showed the issue.

I think it is a bug, because page numbers are indicated in the TOC, and page numbers show at bottom of page near end of document where Index is, but not before that. Of course indexed ent

[2018-09-18 13:50] tk0miya commented on #5437
Fixed by #5442.
Thank you for reporting

[2018-09-18 13:50] #5437 closed, assigned to nobody

[2018-09-18 13:57] ocket8888 commented on #5450
That looks like it would cover the situation that led me to make this issue, but I do maintain that the use case for setting tab-width on a per-`code-block` basis exists. For example, if formatting some `code-block`s that contain HTML and some `code-block`s that contain Javascript, it may be desirable to use 2-space indentation for HTML and 4-space indentation for Javascript (which, incidentally,

[2018-09-18 14:12] jfbu opened #5454 "Index has disappeared from PDF for Japanese documents at v1.8.0"
### Problem

Japanese projects have lost index in PDF output since Sphinx v1.8.0.

#### Procedure to reproduce the problem

Build PDF for this

[code]

with `language` set to `'ja'`

The PDF contains no index.

When built with Sphinx v1.7.9 there is index in PDF.

First "bad" commit appears to be ba97fd4f8d0f6c82ba44f2298093a040bde28c51

### Environment info
- OS: Mac
- Python version: 3.6.5
- Sph

[2018-09-18 14:20] jfbu commented on #5454
The commit https://github.com/sphinx-doc/sphinx/commit/ba97fd4f8d0f6c82ba44f2298093a040bde28c51 tries to improve Windows compatibility by using Perl syntax for file operations rather than Unix syntax. But for many Windows users, Perl is not installed anyhow, so I think we could keep Unix syntax and move all Windows customization to texinputs_win rather. Sadly, I can not help at all with Windows...

[2018-09-18 14:33] tk0miya commented on #5433
Fixed by #5445
Thank you for reporting.

[2018-09-18 14:33] #5433 closed, assigned to nobody

[2018-09-18 14:58] ocket8888 commented on #5450
Also, note that although sphinx documentation says it will use a `docutils.conf` in the configuration directory and Docutils reports that it supports the `tab_width` option in a parser section, placing the following file in the same directory as my `conf.py` (and naming it `docutils.conf`) doesn't appear to affect tab width:

[code]

[2018-09-18 15:36] jfbu commented on #5453
This is clearly a longstanding bug, I wonder why I never noticed it although I often test using `'howto'`, but never paying attention to absence of page numbers...

Explanation. The code https://github.com/sphinx-doc/sphinx/blob/609779033d78e4a6da0d3ec23544bf23431adfd6/sphinx/texinputs/sphinxhowto.cls#L69-L75

does not make any sense because it is executed when the class is loaded, at that time pa

[2018-09-18 18:09] jlumpe opened #5456 "Shortening long intersphinx cross-references while keeping library explicit"
I'm working with some external libraries which have most of their common classes defined in modules nested two layers deep, so I'm repeatedly having to write things like `sympy.core.symbol.Symbol` everywhere instead of the simpler `sympy.Symbol`, which is where you can actually import the class from. I know you can prepend `~` to the reference which shortens the link text but it still keeps the do

[2018-09-19 00:49] tk0miya commented on #5431
Fixed by #5447.
Thank you for reporting.

[2018-09-19 00:49] #5431 closed, assigned to nobody

[2018-09-19 13:30] cjw296 commented on #5448
Any news on 1.8.1? #5417 is a major annoyance :-(

[2018-09-19 14:11] samkpo opened #5458 "SyntaxError when using sphinx 1.8.0"
Hi,
When I'm running Sphinx in a project I'm working on I get the following error:

[code]
- Sphinx version: 1.8.0
- Python version: 2.7.6 (CPython)
- Docutils version: 0.14
- Jinja2 version: 2.10

It doesn't happen with version 1.7.9

[2018-09-19 14:32] tk0miya commented on #5458
Sorry for inconvenience. This is same as #5417, and fixed by #5443.
Thanks,

[2018-09-19 14:32] #5458 closed, assigned to nobody

[2018-09-19 15:53] jwodder opened #5459 "autodoc_default_options should accept True values"
**Short version**: Instead of this:

[code]

it would make more sense to be able to write this:

[code]

---

The new `autodoc_default_options` config option currently requires that its `dict` values be either strings or `None`, where `None` "means 'yes/true/on'".  Seeing as `None` means `True`, it would make more sense to be able to actually write `True` instead (but keep `None` around for backwa

[2018-09-19 17:08] dkliban opened #5460 "Search does not work for docs built with 1.8.0"
Subject: Docs built with sphinx 1.8.0 have broken search

### Problem
- Search returns no results for all queries. When I build using 1.7.9 everything works fine.

#### Procedure to reproduce the problem

 - build docs with sphinx 1.8.0
 - try to search the docs using the search textbox
 - no results ever show

#### Expected results
 Search works

### Environment info
- OS: Fedora 28
- Python vers

[2018-09-19 19:54] jfbu opened #5461 "RTD builds of Sphinx own doc failing"
There is no 1.8 visible at www.sphinx-doc.org

[code]

[2018-09-20 10:05] blink1073 commented on #5448
Another point of note, we can't pin the version of sphinx we use on rtd: https://github.com/rtfd/readthedocs.org/issues/3829.

[2018-09-20 11:39] tk0miya commented on #5461
Fixed.
I added workaround for readthedocs-ext because it uses old APIs...
https://github.com/sphinx-doc/sphinx/blob/a912d904400b5541f47d48f77a1bdc1a89ff418a/doc/conf.py#L148-L153

I just post a PR to them :-)
https://github.com/rtfd/readthedocs-sphinx-ext/pull/51

[2018-09-20 11:39] #5461 closed, assigned to nobody

[2018-09-20 11:57] tk0miya commented on #5460
Sorry, I can't reproduce the error. Could you share your project or reproducible example please?

[2018-09-20 12:30] dkliban commented on #5460
I am able to reproduce using: https://github.com/dkliban/pulp/tree/broken-sphinx

However, I just realized that this only occurs when using the 'sphinx-rtd-theme'. After I uninstalled 'sphinx-rtd-theme' the problem goes away. Should I file the bug with https://github.com/rtfd/sphinx_rtd_theme ?

[2018-09-20 15:14] ImportanceOfBeingErnest commented on #5460
To see this bug in action, see the [matplotlib search](https://matplotlib.org/search.html?q=imshow&check_keywords=yes&area=default) (as long as this isn't reverted to use sphinx 1.7.9).

The error seems to be

[code]

As far as I can tell matplotlib does not use the 'sphinx-rtd-theme'; but of course some other customization that is done may be responsible, maybe an old jquery in use?

[2018-09-20 16:20] tk0miya commented on #5460
@dkliban Thank you for comment. I reproduced this.
And I just post https://github.com/rtfd/sphinx_rtd_theme/pull/672 to fix this from sphinx_rtd_theme side.

Note: This was added in #5207. It updated `documentation_options.js` which was added in 1.7. But sphinx_rtd_theme has not refered it.

[2018-09-20 21:28] MuruganR96 opened #5462 "didn't integrete for custom en-in AM and custom LM, ERROR: "dict.c", Phone 'AE' is mising in the acoustic model; word 'absolutely' ignored"
### Problem
-Sir I didn't integrete for custom en-in Acoustic Model(Adapting the default acoustic model-Indian English) and custom Language Model.
i was download a acoustic model from this link: [](https://sourceforge.net/projects/cmusphinx/files/)
i follow  the instruction this link: https://cmusphinx.github.io/wiki/tutorialam/

sphinx_fe -argfile en_in/feat.params -samprate 16000 -c audio.fileid

[2018-09-21 08:06] jfbu commented on #5453
Fixed at https://github.com/sphinx-doc/sphinx/commit/e4c69633256d2c855c01b3fd6772cc596616c6be (#5455)

[2018-09-21 08:06] #5453 closed, assigned to nobody

[2018-09-21 13:08] paugier opened #5463 "math_role and MathDirective in sphinx 1.8?"
I use

[code]
in https://bitbucket.org/fluiddyn/fluiddyn/src/default/fluiddoc/mathmacro.py

Both names have been removed from the mathbase module in sphinx 1.8.

I managed to find that `MathDirective` is now in `sphinx.directives.patches`.

`math_role` has been removed in https://github.com/sphinx-doc/sphinx/commit/4e04bff4f50bc382251437d5faafff9c34c492cb (by @tk0miya )

I didn't find anything in

[2018-09-21 14:35] tk0miya commented on #5463
Oh, sorry. It was not intended change. I'll re-add them to keep compatibility.

As the commit message of 4e04bff, math directive and role are moved to core package. So they were merged to core. The `math` directive was moved `sphinx.directives.patches`. On the other hand, the `math` role was removed because we uses docutils' implementation.

[2018-09-21 15:24] tk0miya commented on #5462
This is not an issues for CMU Sphinx. This is an issues for Sphinx; the document builder.
http://www.sphinx-doc.org/en/master/

We can't help you here. Please post this to CMU Sphinx project.
Thanks,

[2018-09-21 15:24] #5462 closed, assigned to nobody

[2018-09-21 15:48] tk0miya commented on #5463
Fixed by #5464.
But they will be removed in Sphinx-3.0.
So please move to new ones until then.

Thanks,

[2018-09-21 15:48] #5463 closed, assigned to nobody

[2018-09-21 16:18] tk0miya commented on #5454
Fixed by #5465
Thank you for reporting :-)

[2018-09-21 16:18] #5454 closed, assigned to tk0miya

[2018-09-21 17:09] jmayer opened #5466 "No such file or directory: ...fontawesome-webfont.svg"
While building the documentation of acitoolkit, I get an error. sphinx asked me to report it.
[code]
[code]
[code]
[code]

[2018-09-21 18:17] micahjsmith commented on #944
See https://github.com/sphinx-doc/sphinx/issues/3177

[2018-09-21 18:40] micahjsmith commented on #3177
Not solved for me with `sphinx==1.8.0`

[2018-09-22 04:24] tk0miya commented on #5466
Thank you for reporting. But Sphinx-1.1.3 is not supported now. Could you upgrade to newest Sphinx?
Thanks,

[2018-09-22 04:24] #5466 closed, assigned to nobody

[2018-09-22 04:26] tk0miya commented on #5466
Note: At present, we use `copy_asset()` and `os.walk()` to copy asset files instead of `copytree()`. So this error would not be happened.

[2018-09-22 06:00] tk0miya commented on #5432
So far, `py:attributes` does not handle `:type:` field especially. But, since 1.8, it has been handled as types forcedly. I think #4047 contains a bug like this.
+1 for fixing this.

[2018-09-22 06:58] tk0miya commented on #5426
I confirmed the napoleon module expands the docstring to following:
[code]

I don't know this is expected result. But it seems it is not broken.

And I reproduced the error without napoleon module with following docstring:
[code]

From now on, I'm starting to investigate why Sphinx crashes with such docstring.

[2018-09-22 07:25] tk0miya commented on #5426
I made a fix #5468 for py-domain. I think this will resolve the crash. But we need to know that napoleon module works as expected or not.
So I'll keep this opened until @RobRuana checks this issue.

[2018-09-22 07:26] tk0miya commented on #5432
Fixed by #5467.
Thank you for reporting.

[2018-09-22 07:26] #5432 closed, assigned to nobody

[2018-09-22 08:31] tk0miya commented on #5448
Sorry for very late. I'm starting release from now on.

[2018-09-22 08:40] tk0miya commented on #5448
done!

[2018-09-22 08:40] #5448 closed, assigned to nobody

[2018-09-22 08:42] blink1073 commented on #5448
Thanks @tk0miya!

[2018-09-22 08:51] tk0miya commented on #5416
I'm closing this now.
Thank you for proposal.

[2018-09-22 08:51] #5416 closed, assigned to nobody

[2018-09-22 08:51] stevepiercy commented on #5448
Thank you @tk0miya! Pyramid's docs are building successfully now on Sphinx 1.8.1.

[2018-09-22 08:51] tk0miya commented on #5427
I'm closing this now.
Thanks,

[2018-09-22 08:51] #5427 closed, assigned to nobody

[2018-09-22 08:52] tk0miya commented on #5407
I'm closing this because of duplicated.
Thanks,

[2018-09-22 08:52] #5407 closed, assigned to nobody

[2018-09-22 10:12] panda-z commented on #5327
Hello,

I can build my project without warnings in Linux. However, this issue is reproducible in Windows 10.

[code]

### Environment info
- OS: Windows 10 1803
- Python version: 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)] on win32
- Sphinx version: 1.8.0

[2018-09-22 12:38] ImportanceOfBeingErnest commented on #5460
It seems sphinx 1.8.1 is out without this being fixed. Could someone comment on the solution here?

It looks like the searchtools.js needs some variables from another javascript and currently the user is resposible for including that other javascript? Is this documented somewhere?

[2018-09-22 13:00] tk0miya commented on #5460
The variables are defined in `documentation_options.js`. But sphinx_rtd_theme does not load it.
Unfortunately, the theme has loaded JavaScript files via their custom solution. So the changes on Sphinx does not effect to the theme.

Until merging https://github.com/rtfd/sphinx_rtd_theme/pull/672 , you need to pin Sphinx==1.7.9 or customize the theme manually.

[2018-09-22 14:29] tk0miya commented on #5419
I guess Sphinx-1.8 might broken katex extension. I'll take a look later.

[2018-09-22 15:03] RobRuana commented on #5426
@tk0miya napoleon was behaving badly. This pull request fixes this issue: https://github.com/sphinx-doc/sphinx/pull/5470

[2018-09-22 15:06] RobRuana commented on #5426
Haha, whoops! I accidentally closed this issue by referencing it in the downstream project! Re-opening until https://github.com/sphinx-doc/sphinx/pull/5470 is merged!

[2018-09-22 15:40] alex opened #5471 "Add stacklevel to warning in import_object"
This warning: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/application.py#L400-L402 doesn't have a `stacklevel` parameter, so you don't get clear information on where the offending call is.

[2018-09-22 17:27] dvorapa commented on #5427
FYI, this is really bad situation for people using rstcheck & Sphinx. My colleague described it (I quote) as:

[2018-09-22 23:38] yong2dayz opened #5473 "AttributeError: module 'doctest' has no attribute 'DocTestParser'"
Subject: <what happen when you do on which document project>
I am trying to run sphinx-build -b .\source .\build
and get this errror.
I am running this behind a virtual environment and the error popsup saying
[code]
I can't run sphinx-build on this repository.

  Thanks,

### Environment info
- OS: <Win>
- Python version: Python 3.6.6 :: Anaconda, Inc.
- Sphinx version:1.7.9 or even 1.6.6

[2018-09-22 23:38] yong2dayz commented on #5473
The Error log message is as below:
[code]

[2018-09-23 09:30] tk0miya commented on #5473
Strange. `doctest.DocTestParser` is a python's official class. So I think the AttributeError is strange.
https://docs.python.org/3/library/doctest.html#doctest.DocTestParser

Did you override `doctest` module in your project? Could you check what module is named as  `doctest` in your project please?

[2018-09-23 09:33] tk0miya commented on #5471
+1; reasonable.

related with #5438

[2018-09-23 13:26] #5426 closed, assigned to RobRuana

[2018-09-23 17:23] jenshnielsen opened #5480 "Forward references guarded by typing.TYPE_CHECKING raises warnings with Sphinx 1.8.0/1.8.1"
Building the documentation that uses the `typing.TYPE_CHECKING` constant to break import cycles as suggested in the mypy docs [here](https://mypy.readthedocs.io/en/latest/common_issues.html#import-cycles) results in a Warning with 1.8.0/1 that was not raised with 1.7.9. I am trying to build the docs of our project that unfortunately has a circular reference of this type warning free.

This is simi

[2018-09-24 12:21] dilyanpalauzov opened #5491 "VPATH (out of source) builds"
Autotools and other build systems allow out VPATH (out of source) builds.  During such a build some .rst files are generated in the builddir, others are in the sourcedir.  The compiled documentation must include both files.

How to achieve this with sphinx-build?

[2018-09-24 15:45] peterjc commented on #4057
As of #5215 and sphinx 1.8.0, we set these options in ``conf.py`` using ``autodoc_default_values``

[2018-09-24 15:45] #4057 closed, assigned to nobody

[2018-09-24 15:48] peterjc commented on #2844
This looks like a duplicate of #759 to me.

[2018-09-25 19:53] zaufi opened #5492 "Fail to build docs w/ Python < 3.5.2"
### Problem
Using CentOS 7 and Python 3.5.1 available via [Software Collections](https://www.softwarecollections.org/en/scls/rhscl/rh-python35/) I've got a build failure w/ Sphinx >= 1.8.0:

[code]

### Environment info
- OS: CentOS 7
- Python version: 3.5.1
- Sphinx version: 1.8.0 / 1.8.1

[2018-09-26 04:14] panda-z commented on #4911
Hello,
I've noticed that sphinx use make.bat.new_t as template when invoking sphinx-quickstart. The latexpdf help entry is still missing.

[2018-09-26 07:13] liesauer opened #5493 "Encountered unknown tag 'end'"
### Problem
File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/jinja2/parser.py", line 59, in fail
    raise exc(msg, lineno, self.name, self.filename)
jinja2.exceptions.TemplateSyntaxError: Encountered unknown tag 'end'. Jinja was looking for the following tags: 'endfor' or 'else'. The innermost block that needs to be closed is 'for'.

#### Procedure to reproduce

[2018-09-26 13:50] embray commented on #5382
I think so too.  Arguably it's something one might want to make an option.  But unless someone asks for such an option simply extracting the plain text seems like the most sensible default.

[2018-09-27 08:03] wqh17101 opened #5494 "warning when build"
Subject: warning when build

### Problem
- warning when build

#### Procedure to reproduce the problem
[code]

#### Error logs / results

![image](https://user-images.githubusercontent.com/26429138/46131518-6fa3d880-c26e-11e8-9328-a967bff09ee8.png)

#### Expected results
no warning

### Environment info
- OS: Win
- Python version: 3.6
- Sphinx version: 1.8.1

[2018-09-27 08:45] ociule opened #5495 "Regression: csv-table with file option is broken if used in included file in sphinx 1.8.1."
Subject: csv-table with file option is now broken if used in an included file

### Problem
- index.rst includes a test_table_csv_file.rst
- test_table_csv_file.rst has a csv-file directive with a file option
On sphinx 1.7.x, this works fine
On sphinx 1.8.1, this generates the following error:

[code]
#### Procedure to reproduce the problem
Start a new sphinx project.

Add this is index.rst:

[code

[2018-09-27 15:14] t-b opened #5496 "asserts out with template specialization for pointer types with breathe"
### Problem
Bugs out with the following assertion

[code]

C++ declarations:

[code]

breathe code.
[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: Win
- Python version: 2.7.12
- Sphinx version: 1.8.1

[2018-09-27 15:25] jakobandersen commented on #5496
Thanks a lot! From your output I think I know what is going on, and is seems I can be triggered as simple as:
[code]
I'll try to make a fix soon(TM).

[2018-09-27 18:38] mitya57 opened #5497 "Do not include MathJax.js unless it is really needed"
When a project does not have any math directives or roles, still every HTML page has this tag when built with Sphinx 1.8:
[code]

This is unwanted, and did not happen with Sphinx 1.7.

It would be nice if the tag was included only when the page (or the project as a whole) has a math directive or role.

[2018-09-27 18:59] funkyfuture commented on #5416
i doubt that a general solution is easy to achieve with the docutils maintainers, i certainly don't have the time for trying so.

for those who may seek advice in a similar situation, it's quiet simple to mock the value in question in a project's `conf.py`, e.g.:

[code]

[2018-09-27 19:18] mitya57 commented on #5460
sphinx_rtd_theme and matplotlib are not the only themes that got broken with this. Another example is scipy/scipy-sphinx-theme#9, and I think there will be other examples of breakage.

Maybe it's possible to add a fallback for such themes, like we did in past (e.g. #4107)?

[2018-09-27 20:50] elyezer opened #5498 "Sphinx is unable to find type hints for a `functools.partial`"
Subject: Sphinx is unable to find type hints for a `functools.partial`

### Problem
- Running using the nitpick mode makes sphinx build to fail when trying to find type hints for a `functools.partial` object.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Sphinx should not raise an warning if it can't find a `functools.partial` or provide a

[2018-09-27 22:55] natedileas commented on #5211
Will this be fixed in 1.8? Still see the failure on windows, sphinx 1.8.1.

[2018-09-28 17:06] tirkarthi commented on #4459
I just want to add that I tried this with CPython build and still the warning is not shown for duplicate labels.

Parallel build :

[code]

Non-parallel build : (duplicate label warning in example.rst is not shown for the parallel build)

[code]

Thanks

[2018-09-28 19:15] kimyen opened #5499 "Configuration error when importing project module"
Subject: Configuration error when importing project module

### Problem
- My package has the following hierarchy:
[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
- successfully build the html files

### Reproducible project / your project
- https://github.com/Sage-Bionetworks/synapsePythonClient/tree/v1.9.0-rc

### Environment info
-

[2018-09-28 19:41] kimyen commented on #5499
It turns out the my python3 was installed differently than how sphinx was installed. I installed sphinx using brew. Brew installed it a different location than where my python3 was. The fix was to re-install python3 using brew.

[2018-09-28 19:41] #5499 closed, assigned to nobody

[2018-09-29 11:41] tk0miya commented on #5211
@natedileas
I think this was fixed. If you're still in trouble, please file a new issue. I have to investigate that again.
Thanks,

[2018-09-29 11:52] tk0miya commented on #5460
@TimKam do you have any idea for @mitya57 's comment?

[2018-09-29 12:05] tk0miya commented on #5497
+1; reasonable.

[2018-09-29 12:07] tk0miya commented on #5494
I guess your translation catalog was broken.
Could you check it first please?

[2018-09-29 12:11] wqh17101 commented on #5494
how to do it @tk0miya

[2018-09-29 12:12] wqh17101 commented on #5494
No problem with 1.7.9 sphinx

[2018-09-29 13:05] TimKam commented on #5460
I will take a look. Should be possible for me to add such a fallback, if this is okay with you.

[2018-09-30 19:41] road42 commented on #5231
I've had no time to look into anything. After removing the matcher anything worked again.
The language is "de" and we only call "make.bat html". I'll see if I have some time to reproduce
the error on an empty project.

[2018-10-01 15:14] eqvinox opened #5501 "build should not unconditionally rewrite pickle file"
Starting as of 1.8.0, with the change in commit 20f625b4d39d0e981b4922f629212acc74271665, sphinx-build unconditionally writes the `environment.pickle` file.  This breaks the build system expectation that a
`-b pickle` run can be done first, and then various output formats can be built off that file.

Before the above commit, the timestamp of the pickle file could be compared against an output form

[2018-10-01 15:15] eqvinox commented on #5501
(sorry, forgot mention @blueyed for commit relation)

[2018-10-01 16:34] tk0miya commented on #5493
It seems `all_figures.html` has broken because it uses `{% end %}`, not `{% endfor %}`.
https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/backends/web_backend/all_figures.html#L31

[2018-10-01 16:35] tk0miya commented on #5493
Note: It would be nice if we handle the exception and emit better error message.

[2018-10-01 16:44] jab opened #5502 "allow linkcheck to tolerate transient HTTP 503 errors"
I have a link in my docs to https://www.python.org/dev/peps/pep-0020/, which just happened to have been giving 503 errors when my daily Travis build ran this morning, causing my build to fail. I know I can configure `linkcheck_ignore` so that broken links matching specified URL patterns are ignored, but that wouldn't help here, since I want to be able to only warn (not fail) on *any* link giving a

[2018-10-02 10:18] csezenoglu commented on #5231
I have the same problem. I explain steps below:,

- I create pot files with this command: "make gettext" command.
- I create po files with this command: "sphinx-intl update -p _build/locale -l tr_TR"
Message:
Create: locale/tr_TR\LC_MESSAGES\index.po
Create: locale/tr_TR\LC_MESSAGES\content\circuit-modeling.po
...
- Then I want to build po files to mo files with this command: "sphinx-build -b html

[2018-10-02 14:46] mgeier opened #5503 "LaTeX: "math" directive + ":nowrap:" swallow surrounding paragraph breaks"
### Problem

In LaTeX mode, when using `:nowrap:` in a `math` directive, the preceding and following paragraphs are not separated anymore, all becomes part of a single paragraph.

#### Procedure to reproduce the problem

[code]

#### Error logs / results

LaTeX output:

[code]

#### Expected results

There should be empty lines around the math stuff:

[code]

### Environment info
- OS: Debian Linu

[2018-10-02 16:11] cjw296 commented on #4678
`__slots__` also seem to break `:member-order:` and prevent auto-doc seeing class attributes.
Should I file separate bugs for both of those?

[2018-10-02 17:53] 13steinj commented on #4678
@cjw296 I hold no power in this repo, but imo probably-- both are separate issues. Or a major issue with a checklist of what I described and what you did. Again though, I'm not one to say.

[2018-10-02 20:34] jfehrle opened #5506 "sphinx_build: index.rst changes should force rebuilding every html file"
### Problem
index.rst changes should force rebuilding every html file since the short table of contents is included in every html, but the incremental `sphinx-build` doesn't check this dependency.  (Hope this is enough detail since I'm not the one who set up sphinx for my project; I'm just trying to write documentation today.)

#### Procedure to reproduce the problem

original index.rst is (in par

[2018-10-03 04:46] dakoller opened #5507 "ePub3 builder: same headlines in *.md creates "duplicate id" error in epub validation"
Subject: <what happen when you do on which document project>

### Problem
- When multiple documents contain the same header (e.g. "### Options" in my case in *.md files), the epub3 builder builds the epub.
- ( as a sidenote: In local ubuntu coolreader shows a completely unreadable epbu file then, but not sure whether this is related)
- anyway epub3 validation at http://validator.idpf.org// complai

[2018-10-05 04:49] TheMagSec commented on #4058
I'm working on a recursive auto summary to cover packages, sub-modules and sub-packages.

[2018-10-05 12:37] carlosalbaladejo commented on #5492
Same problem on virtual environment with Python version: 3.5.1.

TYPE_CHECKING is not defined in `typing.py` library for Python 3.5.
I solved it upgrading to Python 3.7

[2018-10-05 12:48] zaufi commented on #5492
Yep, I know that `TYPE_CHECKING` is available since 3.5.2. But,

- I can't upgrade: Python 3.5.2 just doesn't exist in SCLs -- only 3.5.1,
 and using SCLs is the only way for me to get Python 3;
- that is a weird thing in Sphinx Python compatibility -- supported
 versions are: Python < 3.5 (3.4 supported via separate package) and Python

 unsupported versions hole [3.5.0 ..3.5.2)  %)

[2018-10-06 15:29] tk0miya commented on #5507
What parser are you using? recommonmark? Sphinx does not support markdown by default. So I guess it might be a bug of the extension.

[2018-10-06 15:39] tk0miya commented on #1140
It seems this was already fixed: #1438 c608af4bab.
So I'm closing this now.

[2018-10-06 15:39] #1140 closed, assigned to nobody

[2018-10-06 15:44] tk0miya commented on #5492
Fixed by #5510.
Thank you for reporting.

[2018-10-06 15:44] #5492 closed, assigned to nobody

[2018-10-06 15:49] tk0miya commented on #5506
Note: related with #591

[2018-10-06 16:53] tk0miya commented on #4678
@cjw296 Could you file a new issue please?

[2018-10-06 16:56] tk0miya commented on #4678
Note: As a workaround, you can give a comment for members on `__init__()` method.
[code]

[2018-10-06 18:08] jfbu commented on #5503
The ``:nowrap:`` means user has responsability of choosing math display structure. For example here it could be `\[a\]` or `\begin{equation*}...\end{equation*}`.  Such constructs should **not** be preceded by a blank line in LaTeX file. They are designed to be parts of paragraphs typographically, the paragraph is interrupted by a math display. That's how Knuth designed TeX to start with.

Thus I d

[2018-10-06 18:35] jfbu commented on #5503
Notice that with

[code]

you get

[code]

in latex file, which is correct. No empty line should be before `equation*` environment.

Currently if you decide to use

[code]

you will get

[code]

which is correct. There should be no empty line before, at any rate. One after could be perhaps, but this means equation closes paragraph. In math typography however equations are not paragraphs of their o

[2018-10-06 18:47] jfbu commented on #5503
Additionally Sphinx uses `parskip` package which adds spacing between paragraphs. Making equations their own paragraphs will add inappropriate whitespace.

Perhaps documentation of Sphinx should be clearer that `:nowrap:` expects user chooses a display math environment (or `\[..\]` at least), and that if inline math `$..$` or `\(..\)` markers are used, the math will be typeset inline. And without

[2018-10-06 18:48] jfbu commented on #5503
Closing as this is not a bug. Please reopen if you disagree :)

[2018-10-06 18:48] #5503 closed, assigned to nobody

[2018-10-07 10:09] jfbu commented on #3704
Fixed at https://github.com/sphinx-doc/sphinx/commit/9875a576220291aac9a9e6ece7e16a7d6d2c0266

[2018-10-07 10:09] #3704 closed, assigned to nobody

[2018-10-08 07:09] tirkarthi commented on #5419
Seems this was fixed with https://github.com/hagenw/sphinxcontrib-katex/pull/8 as I can see from the traceback in the PR.

[2018-10-08 13:11] Sebi2020 opened #5517 "Javascript domain :js:module:: [name] does not produce an entry in the module index"
### Problem
A `.. :js:module:: [any module name]` does not produce a module entry in the module index. But the documentation says it would make an entry. If you don't use :py:module:: no modindex.html will be generated. The `:synopsis` option is not supported.

### Environment info
- OS: Debian Stretch
- Python 2.7 and 3:
- Sphinx version: 1.8.1

[2018-10-09 12:02] mgeier commented on #5503
Of course you are totally right! I didn't completely realize that "display" equations don't create a new paragraph in LaTeX.

But, just out of curiosity, how could I force a new paragraph before or after the `math` directive if I wanted to?

For example, the displayed equation could be the end of a sentence and the next sentence should start a new paragraph. Something like this:

[code]

I know I

[2018-10-09 13:00] jfbu commented on #5503
Does

[code]

work for you ?

It creates an empty `<p></p>` in html output and forces a new paragraph in LaTeX output. This seems coherent (to me...). From brief testing with classic theme the `<p></p>` does not modify spacing in html output (on Firefox)

[2018-10-09 14:34] mgeier commented on #5503
Yes, thanks, it works! I didn't know that a single backslash can do that!

For the record, the RTD theme creates additional vertical space for the empty paragraph.

[2018-10-09 15:30] jfbu commented on #5503
@mgeier you can do this

[code]

which leaves output in html exactly identical and inserts the `\par` token in LaTeX output.

(fixed typo in edit but anyhow it seems name of substitution is lowercased)

[2018-10-10 05:36] adawastos opened #5519 "Sphinx 1.8, generating latex causes error "KeyError: 'prefix'""
Subject: latexpdf "KeyError: 'prefix'"

### Problem
- While generating latex source from markdown document (with embedding rst code fragments) ended with an exception saying "KeyError: 'prefix'"

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
- generating proper latex source file, compile, beautiful pdf output.
### Reproducible project / you

[2018-10-10 05:39] adawastos commented on #5519
Additional info:
I recently updated to Sphinx v1.8.1
It has been working fine with Sphinx v1.7.6.

[2018-10-10 09:45] jessetan opened #5520 "Incompatibility with caption package, no hooks to style captions"
### Problem
In Sphinx < 1.6, the [caption](https://ctan.org/pkg/caption?lang=en) package could be used to style captions, e.g.:
[code]

Since Sphinx 1.6, including the caption package causes the caption to jump to the right.
![sphinx 1.6 with caption package](https://user-images.githubusercontent.com/3284111/46727413-d2d73700-cc80-11e8-95b1-348980886e97.png)

#### Procedure to reproduce the proble

[2018-10-10 14:46] ArtFlag commented on #4846
I would be more than happy to help with this. Feel free to ping me whenever some sort of refinement happens.

[2018-10-10 22:57] shimizukawa opened #5522 "On sphinx-doc.org, we should use https:"
For now, http://www.sphinx-doc.org/ doesn't support HTTPS.

If we change the settings of ReadTheDocs and CNAME settings, it seems that we can use HTTPS.
ref: https://docs.readthedocs.io/en/latest/alternate_domains.html

[2018-10-10 22:59] shimizukawa commented on #5522
@birkenfeld Please change the www.sphinx-doc.org domain CNAME

- current: `sphinx.readthedocs.org`
- To Be: `readthedocs.io`

ref: https://docs.readthedocs.io/en/latest/alternate_domains.html

[2018-10-11 08:57] tirkarthi commented on #5519
Possibly fixed with af6399344b484792883d65432d682b68f946eea7 ? This handles the `KeyError` using `get` that defaults to `None` and seems there is some difference in CommonMark spec markdown files as I can see from the commit. Can you try installing sphinx from master as below?

`
pip install git+git://github.com/sphinx-doc/sphinx.git@eb44c73b81ff4e603d9452018d145ff3c204f71f
`

Thanks

[2018-10-11 14:55] ax3l commented on #5496
The bug affects me as well and it looks like it was introduced in 1.8.*

[2018-10-11 17:21] hchapman commented on #5496
Just ran into this myself. Downgraded and sphinx 1.7 does not have the issue, whereas 1.8 did.

[2018-10-11 21:01] jakobandersen commented on #5496
The issue should be fixed with PR #5526, though I have only tested with direct Sphinx input. @t-b, @ax3l, and @hchapman, if relatively easy for you, can you confirm it fixes your projects?

[2018-10-11 23:06] ax3l commented on #5496
I think I can only test it with my project locally if I somehow install the PR via pip. But with @t-b  's minimal example I am confident it will work for me as well, otherwise I will report back.

[2018-10-12 01:02] Doc-Scott opened #5527 "import matplotlib.pyplot as plt stop make html from working"
Subject: <import matplotlib.pyplot as plt stop make html from working or sphinx causes a conflict in python>

### Problem

When using ` sphinx-apidoc` to write docstrings to docs I have found that files with:

`import matplotlib.pyplot as plt ` stop  `make html`  from working. commenting out or removing `import matplotlib.pyplot as plt ` makes it work and `import matplotlib` is fine. Investigating

[2018-10-12 01:30] tacaswell commented on #5527
@Doc-Scott I suspect that you have multiple pythons installed and depending on how you start it you are finding a different python and a different Matpotlib.

Make sure sphinx is installed into the same python enviroment that Matplotlib is.

[2018-10-12 02:43] adawastos commented on #5519
Hi

2018年10月11日(木) 17:58 Xtreak <notifications@github.com>:

This fixed my problem.
Thanks a lot!

[2018-10-12 03:10] tirkarthi commented on #5519
@adawastos  You're welcome :)

[2018-10-12 09:19] jakobandersen commented on #5496
Great, merged to the 1.8 branch.
Note that while the assertion should no longer trigger, there will now be (another) warning about duplicate symbols. This is intended and an old problem which Sphinx is just (much) more verbose about now.
To get rid of them projects probably need #4981.

[2018-10-12 11:53] jschueller opened #5528 "intersphinx: citation not found"
Hi,

I have a parent Python sphinx documentation project with bibliography links.
One of the links is referenced from a method docstring.
Then I have a child sphinx documentation project in which I use the intersphinx extension to use content from the parent project.
I do copy the intersphinx inventory (objects.inv) from parent to child.
The child project fails to reference the parent citation fro

[2018-10-12 12:59] Sup3rGeo opened #5529 "Convert rst with sphinx field lists directives to pure rst/html"
Hi guys, this is a question.

Docutils can render a rst string to html, as done in this application:
http://rst.ninjs.org/

This is useful because it is superfast, so we use it on some utility UI where we generate on the fly a nicer html representation of the function docstring.

What I would like to be able to do is to have something like that, but that would accept a rst string containing the sp

[2018-10-12 13:14] songololo commented on #3382
Can we please reopen this issue?

I realise it was previously closed per not being a forum, though isn't there a legitimate case for providing the option to build the HTML to a specific directory for compatibility with GitHub pages?

[2018-10-12 13:38] tk0miya commented on #5493
Now #5521 is merged. It simply warns about broken templates.
Thank you for reporting.

[2018-10-12 13:38] #5493 closed, assigned to nobody

[2018-10-12 13:43] tk0miya commented on #5495
Note: This bug comes from #4821

[2018-10-12 13:56] Doc-Scott commented on #5527
@tacaswell Thank you.

I checked but it seems that the environment only has Python 3 installed. However,  I noticed that I have some modules pip installed and conda installed, with different versions, maybe this is the issue with similar root to your suspicion?

I installed Sphinx into my test environment and I didn't get the same problem. In hindsight I should have created a separate environment

[2018-10-13 00:17] TimZaman commented on #5088
Also it stopped returning a value, and now returns nothing (None).

[2018-10-14 05:27] tk0miya commented on #5498
Note: py3 does not support `typing.get_type_hints(partial_func)`:
[code]
[code]
[code]
[code]
[code]

[2018-10-14 15:46] tk0miya commented on #5495
Fixed by #5530.
Thank you for reporting.

[2018-10-14 15:46] #5495 closed, assigned to nobody

[2018-10-14 20:48] songololo commented on #2738
For introspection purposes, function type annotations should be the preferred approach

Agree with @ostrokach 's suggestion to note types in the parameter definitions. This presents the relevant information in a more contextually appropriate location - easier for readers to digest.

It would further be good to have an option to remove the parameter types from the function signatures (in the docume

[2018-10-15 12:44] tk0miya commented on #5498
Fixed by #5531 .
Thank you for reporting.

[2018-10-15 12:44] #5498 closed, assigned to nobody

[2018-10-15 13:08] jschueller commented on #5528
I discovered the link is exported as lowercase (bar2018) in the mapping file instead of the original link (Bar2018):
[code]

[2018-10-15 14:17] elyezer commented on #5498
Thank you @tk0miya very much for fixing this. I will give it a try later.

[2018-10-15 16:04] tk0miya commented on #5529
Nothing. Sphinx is an application (or framework). It's implementation is placed at `sphinx.util.docfileds` and `sphinx.domains.python`. But it is strongly coupled with Sphinx core. So I don't think it is hard to use from bare docutils project.

BTW, this is not a forum for Sphinx. Please post questions to developers forum:
https://groups.google.com/forum/#!forum/sphinx-dev

Thanks,

[2018-10-15 16:09] tk0miya commented on #5528
Sphinx does not export citations list to inventory. IMO, citation is a kind of pointer of hyper-reference. It's not content. So I feel strange to share them between projects.

[2018-10-15 16:18] tk0miya commented on #5527
I guess this is installation problem between pip and conda. So there are nothing to help from sphinx side.

[2018-10-15 16:35] tk0miya commented on #5519
Thank you for reporting.
This was fixed at #5490, and it will be released in next stable release.

Thanks,

[2018-10-15 16:35] #5519 closed, assigned to nobody

[2018-10-15 16:48] tk0miya commented on #5491
Sphinx only supports files on source directory. So I propose you to move them to source directory before running sphinx-build.

[2018-10-15 16:49] #5491 closed, assigned to nobody

[2018-10-15 16:52] tk0miya commented on #5438
Note: I post a PR for (1) in #5532.

[2018-10-15 17:56] jschueller commented on #5528
@tk0miya I dont want to share the content of the citation/link, I just want the link to be valid and point to the bibliography of the parent doc. What matters here is that the label does not get exported with the same name (it gets lowercased) in the intersphinx mapping, so the link is invalid in the child documentation.

[2018-10-15 21:02] KM4YRI opened #5538 "Inheritance diagram extension class names should be resolved with __qualname__, not __name__"
### Problem

The inheritance diagram extension displays nested class names incorrectly, in the final diagram image.  Nested classes are only displayed as the final class name, instead of the fully qualified path.

Per [PEP 3155](https://www.python.org/dev/peps/pep-3155/), the `__qualname__` attribute is a superior way to resolve a string name of nested classes.

#### Procedure to reproduce the pro

[2018-10-16 03:57] iugo commented on #5495
sphinx 1.8.0, same problem

[2018-10-16 16:59] tk0miya commented on #5480
Fixed by #5535.
Thank you for reporting.

[2018-10-16 16:59] #5480 closed, assigned to nobody

[2018-10-16 17:00] tk0miya commented on #5438
I did the case (2) in #5542.

[2018-10-16 17:01] tk0miya commented on #5438
I'm closing this because this would be closed soon.
Thank you for reporting!

[2018-10-16 17:01] #5438 closed, assigned to nobody

[2018-10-16 22:45] anilpatimidi opened #5547 "ImportError: No module named sphinx_pie_theme"
Subject: ImportError: No module named sphinx_pie_theme

### Problem
when running

[code]

#### Procedure to reproduce the problem
 run make after

pip install --index-url https://pypi.nnnn.com/simple sphinx-nnn-build

#### Error logs / results

at /var/folders/hv/3cp9f81s3gdc6pmtfrdc0qvh0000gn/T/sphinx-err-Pih9f8.log
[code]

#### Expected results
<Describe what to actually do>

### Reproducible pr

[2018-10-17 02:26] tk0miya commented on #5547
It seems your document are using `sphinx_pie_theme` in your `conf.py`. Did you install it?

[2018-10-17 07:33] jenshnielsen commented on #5480
@tk0miya Thanks

[2018-10-17 11:13] jschueller commented on #5528
@tk0miya, Ok i see your point; bar2018 is listed as std:label in the inventory.
So basically we cannot use citations in inherited docstrings.

Is there a way to create some object that could be referenced for each citation ?

[2018-10-17 16:28] anilpatimidi commented on #5547
We have sphinx_pie_theme in conf.py.

I did not explicitly install the sphinx_pie_theme as I did install
 sphinx-pie-build and it does not seem to install sphinx_pie_theme and not
sure where can Install sphinx_pie_theme from

pip install --index-url https://pypi.nnnnnn.com/simple sphinx-pie-build

now I installed and it worked.

thanks
-Anil

On Tue, Oct 16, 2018 at 7:26 PM Takeshi KOMIYA <notific

[2018-10-17 20:02] dlmurphy commented on #3301
Dataverse uses Sphinx (version 1.5.6) for its documentation, and we're very interested in allowing our users to do this kind of exact phrase searching. It would make it much easier for our users to quickly find exactly the information they're looking for in our documentation. For the record, we're also interested in boolean search operators like AND, OR, and NOT, but this exact phrase searching is

[2018-10-17 21:13] NJDFan opened #5550 "Sphinx 1.8.1 fails pickling environment"
Subject: Sphinx 1.8.1 fails pickling environment.

### Problem
I try to build the documentation for an internal project on which I've successfully built the documentation several times, but something has changed, which I recognize as one of the world's least helpful statements.

When I try to _make html_ or for that matter _make pickle_ I get

[code]
It doesn't seem to be a system-wide problem; I

[2018-10-17 21:17] NJDFan commented on #5550
[hti_test.tar.gz](https://github.com/sphinx-doc/sphinx/files/2489322/hti_test.tar.gz)

Documentation sources and makefile is in the doc subdirectory, surprisingly to no one.

[2018-10-18 20:30] NJDFan commented on #5550
Same project builds fine on my machine at work.

* OS: Linux - Ubuntu 16.04.5 LTS
* Python version: 3.5.2
* Sphinx version: 1.6.2  (with alabaster 0.7.10)

[2018-10-18 20:57] mchirik opened #5551 "Custom code highlight using Pygments does not apply to TeX output"
Subject: <what happen when you do on which document project>

### Problem
- <Detail of problem>

We developed a custom syntax highlighting using Pygments and include that styling in our conf.py file.

This is applied by including the static style sheet.

HTML files are compiled accurately but the code highlighting in our Tex files is always in the default (looks like python highlighting)

#### Pro

[2018-10-19 09:16] jessetan commented on #3526
For code blocks one can use a `<figcaption>` if the entire block is wrapped in a `<figure>`

[2018-10-19 13:06] JulienPalard opened #5554 "roles lost in text of a handwritten directive"
### Problem

This directive https://github.com/python/cpython/blob/514bbfc7fc4dcb868d4364632ad14c0533af154f/Doc/tools/extensions/pyspecific.py#L136 works with html builder but breaks with gettext builder. More specifically the roles inside the directive are lost.

#### Procedure to reproduce the problem

(Tarball of following setup availabe here: https://mdk.fr/bugsphinx.tar.bz2)

Given the follow

[2018-10-19 13:49] tirkarthi commented on #5554
I tried with Python docs and on every node there is `astext` method where in case of ":func:`len`" then `node.astext()` returns `len()` . There several places where `node.rawsource = node.astext()` is done. I tried putting print statements there but couldn't help. `write_doc` gets a `doctree` which is then passed to `extract_messages`. `doctree` itself has the `len()` version instead of role. I do

[2018-10-19 14:25] gabrielfalcao opened #5555 "Problem extending `only`directive"
TL;DR: this is a follow-up to #4374 we read the documentation of sphinx extensions, docutils and even explored the sphinx source code itself.

The directive ``.. only::`` cannot be generated from another directive.

Sphinx versions used 1.8.1 and master (2c244f9b48315d19eb61ea006a99ffad54c2f83c)

## The problem to solve

[code]

Using the `.. rst-class::` directive will cause the HTML renderer to

[2018-10-19 21:22] kklmn commented on #5427
Please give a ref to the docs where this is said.
Please justify throwing the exception.
Thank you.

[2018-10-21 02:06] ktreese opened #5557 "quickstart.py --no-batchfile isn't honored"
Subject: `--no-batchfile` still prompts user whether they'd like to "Create Windows command file?"

### Problem
`--no-batchfile` still prompts user whether they'd like to "Create Windows command file?"

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
### Environment info
- OS: Linux
- Python version: 3.7.0
- Sphinx version:1.8.1

[2018-10-21 23:26] JulienPalard commented on #2915
I implemented something here: https://github.com/JulienPalard/sphinx/tree/text-colspan-rowspan

But it's late here, I did *not* tested it properly, did *not* checked types anotations, did not ran tests, and github did *not* created my remote branch [1] so I can't create a PR from it... so there's still a lot of work.

[1]: Which is strange I can hit my branch via the link I gave but the branch doe

[2018-10-22 07:24] #5528 closed, assigned to nobody

[2018-10-22 21:29] JulienPalard opened #5558 "Malformed table; parse incomplete."
While working on correct handling of column and row spanning on the text writer I found an issue (which may be not an issue but found undocumented), with the following table:

[code]

which produces this error while parsing:
[code]

### Environment info
- OS: Debian buster
- Python version: 3.6.6
- Sphinx version: 1.8.1

[2018-10-22 21:32] JulienPalard commented on #5558
Wrong alarm, it's my fault I was missing a "+" on the right hand side.

Good news, my text output works for this cubersome example:

[code]

[2018-10-22 21:32] #5558 closed, assigned to nobody

[2018-10-23 05:41] shimizukawa commented on #5522
Now `www.sphinx-doc.org` point to `readthedocs.io`
[code]

[2018-10-23 13:22] shimizukawa commented on #5522
Unfortunately, we still can not use https protocol for https://www.sphinx-doc.org domain.
I'm keep going to setup HTTPS on RTD...

[2018-10-23 17:00] psifertex commented on #4851
I've got this issue happening as well. Local search worked fine on 1.4.5, I upgraded to 1.8.1 and made a few small `conf.py` changes (enabling parallel was the main reason I upgraded) and now search is broken again. :-/

[2018-10-23 17:01] psifertex commented on #4851
nevermind, looks like my problem is #5460

[2018-10-23 18:11] willingc commented on #5550
Hi @NJDFan, It looks like the environment that you are building in does not have Cython installed and accessible. Perhaps give it a try in a virtual environment with Cython installed. I suspect that your work machine has Cython and that's why it is passing.

[2018-10-23 18:12] willingc commented on #5547
@tk0miya Looks like this is now resolved :smile:

[2018-10-24 13:08] JulienPalard opened #5561 "make all-pdf fails invocation of xindy"
On cpython, branch 3.7, if we run a `make all-pdf` in build/latex/ we're getting:
[code]

### Environment info
- OS: Ubuntu 14.04.5 LTS
- Python version: 3.6.2
- Sphinx version: 1.8.1
- xindy from http://us.archive.ubuntu.com/ubuntu/ version 2.4-1.3

[2018-10-24 13:19] ericholscher opened #5562 "Can't use intersphinx with Sphinx's documentation settings"
### Problem
- I can't use intersphinx with Sphinx's documentation settings

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results

It should generate a URL to the proper Sphinx docs

### Debugging

I tracked this down to the fact that my Sphinx run doesn't know about the `std:confval` reference type. I have it in the intersphinx data:

[code]

But

[2018-10-24 14:02] shimizukawa commented on #5522
Finally we can use https.
https://www.sphinx-doc.org/en/master/

Once I deleted the www.sphinx-doc.org entry on RTD and re-registered it, I got the expected results.

[2018-10-24 14:02] #5522 closed, assigned to shimizukawa

[2018-10-24 14:10] JulienPalard commented on #5561
With xindy 2.5.1.20160104-5 from http://ftp.fr.debian.org/debian buster/main it works.

[2018-10-24 15:06] choeffer opened #5563 "make latex failed"
Subject: used "make latex"

### Problem

make latex command fails

#### Procedure to reproduce the problem

[code]

#### Error logs / results

[code]

#### Expected results

*.tex file of the documentation

### Reproducible project / your project

the error log is also included in docs/error.log

[docs.zip](https://github.com/sphinx-doc/sphinx/files/2511058/docs.zip)

[requirements.txt](https://gi

[2018-10-24 19:10] jnsebgosselin commented on #5527
Maybe something is wrong with the backend matplotlib it is trying to import during the setup of pyplot when in the shell. You are probably able to import it in the notebook because it is plotting inline.

Make sure your `pyqt` - `qt` - `sip` installation is correct, or else it will cause segfaulting when trying to import `backend_qt5agg.py` or try to change your backend to something else.

[2018-10-24 19:29] t-b commented on #5496
@jakobandersen Could you reopen?

With a clean test repo from above the first run passes.

But it bugs out on the second run with

[code]

third run passes, fourth not and so on.

[2018-10-24 20:29] jeffwidman commented on #5522
Thanks for fixing this.

I noticed that https://sphinx-doc.org/ does not resolve, is that expected?

[2018-10-24 22:09] shimizukawa commented on #5522
Yes, It is intended.

Technically, ReadTheDocs doesn't support `naked domains`.
https://docs.readthedocs.io/en/latest/alternate_domains.html#custom-domain-support
Currently, `sphinx-doc.org` domain points to a personal server. `http://sphinx-doc.org/` will be redirected to `www.sphinx-doc.org` but since that does not have an SSL certificate, so we can not use `https://sphinx-doc.org/`.

[2018-10-25 11:35] joakim-hove opened #5566 "latex backend - missing packages"
### Problem
Latex compilation fails due to missing packages.

#### Error logs / results
[code]

### Environment info
- OS: RHEL 7
- Python version: 2.7.14
- Sphinx version: 1.7.2
- texlive-latext: texlive-latex-svn27907.0-38.el7.noarch

Would it be possible to bundle some of the LaTeX packages with the sphinx package? I installed `fncychap` and `titlesec` manually, then the manual installation of

[2018-10-25 13:59] tk0miya commented on #5471
Fixed by #5532.
Thank you for proposal!

[2018-10-25 13:59] #5471 closed, assigned to nobody

[2018-10-25 14:00] tk0miya commented on #5419
Fixed by #5534.
Thank you for reporting.

[2018-10-25 14:00] #5419 closed, assigned to nobody

[2018-10-25 14:04] tk0miya commented on #5497
Fixed by #5536
Thank you for reporting!

[2018-10-25 14:04] #5497 closed, assigned to nobody

[2018-10-25 14:18] mitya57 commented on #5497
Wow, thanks a lot!

[2018-10-25 14:27] ezyang commented on #5419
Thanks. Sphinx 1.8.2 milestone still accurate? I'll keep my eyes peeled.

[2018-10-26 00:05] lihu-zhong commented on #3494
Is there an update on this issue? Does anyone have a workaround until a fix is merged? <sub><sub>other than removing type hints</sub></sub>

As always, big thank you to the maintainers for an incredible tool.

[2018-10-26 04:40] ktreese commented on #5557
nor is --no-makefile

[code]

[2018-10-26 10:09] road42 commented on #5231
I cleaned up all pip-packages on my Windows PC and reinstalled every sphinx-package - 1.8.1 (still Python3).
Still does not find the .po-files and as soon as I remove the parameters from the Matcher they are found.
Have not had the time to create an example-project with the same behaviour (sorry for that).

[2018-10-26 13:56] mzjn commented on #5566
A problem is that TeX Live on RHEL7 is a bit old (TeX Live 2013 AFAIK).

Sphinx development currently depends on TeX Live 2015 or later. See https://www.sphinx-doc.org/en/master/changes.html#dependencies.

The `fncychap` and `tabulary` packages were previously distributed with Sphinx (until version 1.4.9). See https://www.sphinx-doc.org/en/master/changes.html#release-1-5-released-dec-5-2016.

[2018-10-26 14:42] joakim-hove commented on #5566
OK - thank you for answering.

OK - I take that as you will not include those packages in the sphinx distribution - and I can kind of unerstand that,

But - would it be possible to explicitly list the *somewhat exotic* - for whatever measure of exotic - latex packages required. If you are presented with a list of packages downloading and bundling them with out source code seems feasible, but just

[2018-10-26 16:40] paternal opened #5567 "Better documentation for `Sphinx.add_enumerable_node()`"
### Problem

When writing Sphinx extensions, there is very few documentation about numbering and referencing directives. To do this, one has to use method [Sphinx.add_enumerable_node()](http://www.sphinx-doc.org/en/stable/extdev/appapi.html#sphinx.application.Sphinx.add_enumerable_node), which is documented, but one need to have a good understanding of Sphinx, and Sphinx types and object, to be ab

[2018-10-27 08:51] tk0miya commented on #5551
LaTeX does not support CSS. So you need to learn LaTeX macros to do that. I'm not an expert of the technique.

[2018-10-27 08:57] tk0miya commented on #5567
@stephenfin could you check this please?

[2018-10-27 09:18] tk0miya commented on #5566
Now, Sphinx-1.8 depends on TeXLive 2013. So it would work fine.
https://www.sphinx-doc.org/en/1.8/usage/builders/index.html#sphinx.builders.latex.LaTeXBuilder

We have a list of packages for Ubuntu. But we don't have it for RHEL. So it would be nice if someone make it :-)

[2018-10-27 12:01] mzjn commented on #5566
TeX Live on RHEL7 appears to be incomplete. A number of packages are mentioned in this script (in the Linux kernel repository):

https://github.com/torvalds/linux/blob/6f0d349d922ba44e4348a17a78ea51b7135965b1/scripts/sphinx-pre-install#L42

`fncychap`, `titlesec` and `tabulary` are included in that list.

On line 512, it says "RHEL 7.x and clones have Sphinx version 1.1.x and incomplete texlive":

[2018-10-27 12:47] erosennin opened #5568 "How to disable MathJax?"
### Problem
Recent versions of Sphinx unconditionally include `MathJax.js` in HTML files, even if `sphinx.ext.mathjax` is not enabled in `conf.py`:

[code]

This can be an issue for projects that do not use maths and do not need a math renderer.

Even with `html_math_renderer = None` or `html_math_renderer = 'imgmath'` in `conf.py`, `MathJax.js` is still there.

Is there a way to disable loading `

[2018-10-27 18:12] stephenfin commented on #5567
I really need to document this process. I've invited you to the organisation, @paternal, so you just need to accept and then migrate the repo across. GitHub have good docs on this, if needed.

[2018-10-28 07:45] mitya57 commented on #5568
This is already fixed in #5536.

[2018-10-28 08:15] erosennin commented on #5568
Great, thanks!

[2018-10-28 08:15] #5568 closed, assigned to nobody

[2018-10-28 10:26] stephenfin commented on #5567
I assume this issue can be closed now, given https://github.com/sphinx-contrib/stuffcounter ?

[2018-10-28 15:22] paternal commented on #5567
Closed. Thanks.

By the way, I wrote [two](https://pypi.org/project/sphinxcontrib-proof/) [other](https://pypi.org/project/sphinxcontrib-packages/) Sphinx extensions. May I mirror them to [sphinx-contrib](http://github.com/sphinx-contrib) (I do not know the "requirements" to be listed there)?

[2018-10-28 15:22] #5567 closed, assigned to nobody

[2018-10-28 18:07] Simpleleaf opened #5569 "update"
Subject: <what happen when you do on which document project>

### Problem
- <Detail of problem>

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environme

[2018-10-28 18:19] stephenfin commented on #5567
@paternal Entirely up to you. If you think they're generally useful, go for it

[2018-10-28 22:25] NJDFan commented on #5550
Hi @willingc, no luck.  I installed Cython from apt (so it's system-wide), and it still fails with `Can't pickle <cyfunction __init__.<locals>.add_cdata`

[2018-10-29 15:27] MarSoft commented on #4372
Would be great to have this functionality.

[2018-10-29 19:27] paternal commented on #5027
Shameless self promotion: @tonyriverms, if you want to define (and reference) definitions, theorems, examples, and so on, I wrote such an extension: [sphinxcontrib-proof](http://framagit.org/spalax/sphinxcontrib-proof).

[2018-10-30 01:42] #5569 closed, assigned to nobody

[2018-10-30 12:40] TheBinaryLoop opened #5573 "sphinx_build: build html with docfx from dotnet"
### Problem
_make html_ returns error after _updating environment_

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

output of /tmp/sphinx-err-41yfuk83.log
[code]

#### Expected results
html files

### Reproducible project / your project
https://gitlab.binarypanther.com/TheBinaryLoop/binarytools

### Environment info
- OS: Ubuntu 18.04
- Python version: 3.6.6 (CPyt

[2018-10-30 13:12] tk0miya commented on #5563
Confirmed:
[code]

It seems some extension generates a footnote_reference node not having docname. I think it is a bug of Sphinx Transform.

[2018-10-30 13:17] tk0miya commented on #5562
It is custom object type defined in our doc:
https://github.com/sphinx-doc/sphinx/blob/a4cce3e5613b4c721c19426fc120bbeeb830c3b2/doc/conf.py#L140-L142

You can refer it if you'll also define it on your project.

[2018-10-30 14:11] tk0miya commented on #5561
I checked recent releases:

* xindy on bionic (18.04) ... suppoted
* xindy on xenial (16.04) ... not supported

@jfbu I think `-I xelatex` option for `xindy` is too new. So I think it should be removed. What do you think?

[2018-10-30 14:22] jfbu commented on #5561
@tk0miya non-support of `-I xelatex` by old `xindy` is annoying. I can not access a 16.04 system until 10 days from now.

To dispel potential misunderstanding this option is not in Sphinx context in any direct way related to using or not using `xelatex`. Basically it tells `xindy` to accept Unicode UTF-8 encoded characters in index files, and it was needed also with `pdflatex` for Sphinx, for some

[2018-10-30 14:39] tk0miya commented on #5573
How do I reproduce the error? It seems there are no document in the repository.

[2018-10-30 14:40] tk0miya commented on #5573
I guess this might be a bug of dotnetdomain. Have you already reported this to the project?

[code]

[2018-10-30 14:42] jfbu commented on #5561
The TeXLive distributed `xindy.pl` perl script supports `-I xelatex` since TeXLive 2014 (it has there version number `v 1.18 2011/01/18`)  but the TeXLive 2013 version does not support it (it came with `v 1.16 2010/05/10`).

[2018-10-30 15:04] TheBinaryLoop commented on #5573
@tk0miya I got this error while trying to create the documentation from the csproject file. If there are missing files please let me know.

[2018-10-30 15:06] TheBinaryLoop commented on #5573
@tk0miya I didn't because it looks like the line that threw the error is in the sphinx code.

[2018-10-30 16:00] jfbu commented on #5561
hmm.. on some testing with options  `-v -d level=3 -d keep_tmpfiles` to xindy, it appears that using `-I xelatex` or `-I latex` or nothing changes nothing on my test case which mixes Cyrillic and English. It might be that I thought `-I xelatex` was needed when I was experimenting with using `texindy`,  not `xindy` directly.

By the way, the option `-I omega` appears to be broken on xindy side, as

[2018-10-30 17:44] jfbu commented on #5561
@JulienPalard I can not build PDF docs of cpython due to this

[code]

at lines 4058-4060 in `cpython/Doc/library/os.rst`. The semi-colon at line 4059 is mis-interpreted it seems and this becomes

[code]

in latex file library.tex and then this causes

[code]

during xindy processing. (the problematic LaTeX code is `\index{!(semicolon)}`, which tries to index an empty string, with a link to semico

[2018-10-30 17:50] jfbu commented on #5561
The same problem arises at Lines 21-25

[code]
of  `Doc/reference/compound_stmts.rst`.

[2018-10-30 18:22] jfbu commented on #5561
@tk0miya is it at all possible to index the `;` character using `index` role or directive? my various attempts fail.

[2018-10-30 22:24] jfbu opened #5576 "latex writer incorrectly handles indexing a sole semi-colon character"
Consider the following source:

[code]

which can be seen in [Python documentation sources](https://github.com/python/cpython/blob/3.7/Doc/reference/compound_stmts.rst)

When processed by LaTeX writer the semi-colon is mistakendly interpreted as separator and as a result an invalid empty index entry arises.

When the PDF is built with `latex_use_xindy = True` this causes failed build with this err

[2018-10-30 22:37] jfbu commented on #5561
@JulienPalard with #5577 I can successfully build (English) Python documentation for current 3.7 branch. And with #5574 it should work also with old xindy.

[2018-10-31 14:07] paternal opened #5578 "LaTeX writer: Make it possible *not* to automatically label enumerable nodes"
Subject: When a custom extension defines an enumerable node, the LaTeX writer labels it, whether the extension author wants it or not. This leads to duplicate labels, or bogus numbering.

### Problem

The problem arises in the following lines.

https://github.com/sphinx-doc/sphinx/blob/a4cce3e5613b4c721c19426fc120bbeeb830c3b2/sphinx/writers/latex.py#L1820-L1824

If the next node does not have a ti

[2018-10-31 15:25] jfbu opened #5579 "LaTeX: entries in general index are not styled like entries of domain indices"
### Problem

Here for example from CPython 3.7 library.pdf (build using PR #5577 to workaround #5576 issue). The Python module index looks like this:

![capture d ecran 2018-10-31 a 16 21 27](https://user-images.githubusercontent.com/2589111/47798632-1590aa00-dd29-11e8-9e29-b9ab9ec7e9c1.png)

In contrast the general index looks like this

![capture d ecran 2018-10-31 a 16 17 57](https://user-image

[2018-10-31 15:42] #2915 closed, assigned to nobody

[2018-10-31 16:05] tk0miya commented on #3177
Please use `--implicit-namespaces`  option to let apidoc know the directory is a package.
Then the "Module contents" section will not be generated.

Thanks,

[2018-10-31 16:12] shengchao-lin opened #5582 "Question about sphinx doc structure"
My dir structure is

python
python/build
python/doc
python/doc/modules.rst
python/doc/AAA.rst
python/source
python/source/conf.py
python/source/index.rst
python/source/readme.rst
python/source/folder
python/source/folder/AAA.py
python/make.bat
python/Makefile

-----------------------------------
In my conf.py, I use
`sys.path.append(os.path.abspath('./folder/'))`

In my readme.rst, I have
`.. incl

[2018-10-31 16:22] tk0miya commented on #5382
Note: Now Sphinx uses node's name a.k.a `node['names']` as a link title. And it comes from raw source of section titles.
https://github.com/sphinx-doc/sphinx/blob/e8e0f93c3fc7a9f8be4a91c13c6ec49672347a1e/sphinx/domains/std.py#L609

[2018-10-31 16:24] tk0miya commented on #3002
Fixed by #5571.
Thank you for reporting!

[2018-10-31 16:24] #3002 closed, assigned to nobody

[2018-11-01 10:43] JulienPalard commented on #5561
Can confirm that with #5577 and #5574 it works. But I never spotted the need for #5577.

[2018-11-01 11:13] DaGeger opened #5584 "Recommended internationalization of pictures"
Usually, when we use internationalization, we can translate the text content of the document,

But the text in the picture will not be translated. It is suggested to add the function of internationalization to the picture.

For example
[code]

As workaround:
[code]

[2018-11-01 11:41] jfbu commented on #5561
@JulienPalard thanks for confirming. On my laptop, with Sphinx 1.8 dev tip, I had the #5576 problem with  both `reference.tex` and `library.tex` as reported above, for the 3.7 branch.

This #5576 is a real Sphinx LaTeX writer bug, good thing that it was caught on that occasion! (`makeindex` has more forgiveness than  `xindy`,  the empty index entry did not bother it).

At #5583, another #5576 fix

[2018-11-01 13:46] ArtFlag opened #5585 "Extension docs: add a simple hello world tutorial"
Subject: extension documentation lacks a simpler tutorial.

The current example with the todo is interesting, but I wish it was more basic.

I've been trying to write a simple extension that simply outputs the arguments passed by the user:

[code]

When I call it, I get the following error message:
[code]
I imagine this should happen we have no `visit` methods for a node, but I have defined them,

[2018-11-01 13:53] tk0miya commented on #5563
Fixed by #5580.
Thank you for reporting.

[2018-11-01 13:53] #5563 closed, assigned to nobody

[2018-11-01 14:20] tk0miya commented on #5557
Fixed by #5581.
Thank you for reporting.

[2018-11-01 14:20] #5557 closed, assigned to nobody

[2018-11-01 15:45] tk0miya commented on #5585
It seems your extension installs visitor functions only for HTML builder. But it seems the error was raised by text writer.
You have some ways to avoid the error.

1. Add visitor functions for other builders
2. Transform your node to common one before outputting
3. Limit an output format

Note: Sphinx supports many kinds of extensions. The directive extension is one of them. It would be nice if we

[2018-11-01 15:54] tk0miya commented on #5584
Sphinx already supports i18n for images. For example, Sphinx searches a file named`image.{language}.png` for `.. image:: image.png` directive.

Note: You can customize the format of image files by `figure_language_filename` option:
http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-figure_language_filename

[2018-11-01 15:56] tk0miya commented on #5582
Did you read our issue template? This is not a forum. Please don't post a question here.

[2018-11-01 15:56] #5582 closed, assigned to nobody

[2018-11-01 16:02] tk0miya commented on #5573
Sorry, I'm not good at C# project. So I can't find the way to build your document. It seems there are no `conf.py` and `.rst` files. I can't imagine how to build document from your repository.
Please, Please let me know the procedure of the error from `git clone`.

Thanks,

[2018-11-01 16:03] #5547 closed, assigned to nobody

[2018-11-01 16:03] tk0miya commented on #5529
I'm closing this now.
Thanks,

[2018-11-01 16:03] #5529 closed, assigned to nobody

[2018-11-01 16:04] tk0miya commented on #5527
I'm closing this now because this is not an issue of Sphinx.
Thanks,

[2018-11-01 16:04] #5527 closed, assigned to nobody

[2018-11-01 16:05] tk0miya commented on #5507
I'm closing this now because this is not a bug of Sphinx.
Thanks,

[2018-11-01 16:05] #5507 closed, assigned to nobody

[2018-11-01 16:06] tk0miya commented on #5473
I'm closing this now.
Please reopen if you're still in trouble.
Thanks,

[2018-11-01 16:06] #5473 closed, assigned to nobody

[2018-11-01 16:08] tk0miya commented on #5301
Is there anything to do from Sphinx side? If nothing, I'd like to close this issue.

[2018-11-01 16:59] certik commented on #5301
@tk0miya what Sphinx should do is to make the SVG equations by default look like the MathJax ones.

[2018-11-02 07:35] MarSoft commented on #5271
Probably this is also related to #5379

[2018-11-02 09:16] ArtFlag commented on #5585
Hi Takeshi,

Thanks for your comment, that's interesting and I have more questions. Don't worry, it's not for nothing, I will update the docs based on what you share.

- About visitor functions: I tried to copy [this directive](https://github.com/bokeh/bokeh/blob/master/bokeh/sphinxext/collapsible_code_block.py). It uses only HTML visitor methods. Why does it work in that case and not in mine?
- W

[2018-11-02 15:48] mgeier commented on #4229
:+1: for the `:nolink:` option (or something similar)!

I've used the `:width:` and `:height:` option for reST content that is auto-generated by a Sphinx extension, where having a link to the full-sized image doesn't make sense (see https://github.com/spatialaudio/nbsphinx/issues/226 and https://github.com/spatialaudio/nbsphinx/pull/222).

However there may be user-generated reST pages in the same

[2018-11-03 00:44] tk0miya opened #5588 "1.8.2 release plan"
Hi maintainers

Almost 30+ days have passed since last stable release. So it's time to release.
I'll ship it on next weekend (10/10 or 11).
Do you have any comments for this schedule?

Note: issues marked as 1.8.2:
https://github.com/sphinx-doc/sphinx/milestone/53

[2018-11-03 01:07] shimizukawa commented on #5588
I think you mean 11/10 or 11.
+1

[2018-11-03 09:38] tk0miya commented on #5585
It looks like not supporting non-HTML output. I guess it would be crashed.

`LiteralBlockTransform` would be an example of (2). It replaces some kind of `literal_block` node by original one.
https://github.com/sphinx-doc/sphinx/blob/bebea6bd8cd96ca39077d87c68ad47509452f467/sphinx/builders/latex/transforms.py#L572-L584

(3) is simple. Please say "This extension only support HTML output" in your REA

[2018-11-03 14:46] tk0miya commented on #5588
oh, you're right. I meant 11/10 or 11.

[2018-11-03 15:08] MarSoft opened #5589 "autosummary: determine "canonical" name of the class in template"
Subject: it is currently impossible to determine canonical class name from the template

### Problem
- When classes to be included in the summary are referenced by non-canonical paths, `:show-inheritance:` parameter for `autoclass` block produces code referencing the canonical name of the class, but `{{ objname }}` value is the non-canonical one.
- As a result, the link to parent class in `Bases:`

[2018-11-04 09:40] joakim-hove commented on #5566
OK - I found an Ubuntu box where worked as they should; and copied the sty files over. I will integrate that into my build system - seems to work. The files I had to nick from ubuntu where:
[code]
Thank you for the help - closing.

[2018-11-04 09:40] #5566 closed, assigned to nobody

[2018-11-05 02:22] bwohlberg commented on #5538
The same problem applies to the ``show-inheritance`` option, which constructs incorrect base class names for nested classes, resulting in broken cross-references in the output.

As above, the simplest fix for Python 3 is to replace the line
```u':class:`%s.%s`' % (b.__module__, b.__name__)```
with
```u':class:`%s.%s`' % (b.__module__, b.__qualname__)```
in ``add_directive_header()`` in
[https://gi

[2018-11-05 08:27] ax3l commented on #5496
ping @jakobandersen there seems to be a regression

[2018-11-05 11:48] ArthurHerbemont commented on #5551
You may also build a dedicated new Pygments Style. I ran into the same problem for the [AIMMS language](https://download.aimms.com/aimms/download/manuals/AIMMS3_LR.pdf), and I had to build a new style from scratch, then publish it on the [Python Package index](https://pypi.org/), install it and refer to it in my Sphinx conf.py file. It is actually not that complicated if you start from an appropri

[2018-11-05 11:53] jfbu commented on #5561
Closing as the reported issue is fixed for upcoming 1.8.2 release at https://github.com/sphinx-doc/sphinx/commit/a695099a1bf48c817ad8a13a69bbdfb13d5bd21a. Thanks for report!

[2018-11-05 11:53] #5561 closed, assigned to nobody

[2018-11-05 13:34] serhiy-storchaka opened #5592 "Improve index for command line options"
### Problem
Index entries created for command line options (the **cmdoption** and **option** directives) contains contain full line describing the option, with arguments and aliases. As result, similar options for different programs are not grouped, and separate entries for aliases are not created.

[code]
and
[code]
create two separate entries because the name of argument is different.

[code]
cr

[2018-11-06 08:35] JulienPalard commented on #5554
I don't really understand why it works this way, but I fixed it:

https://github.com/python/cpython/pull/10360/files

Am I hiding a sphinx bug, or am I just doing it right? I have no idea at the moment.

[2018-11-06 15:16] tk0miya opened #5594 "intersphinx: cache is not updated when no files are changed on incremental build"
### Problem
- intersphinx: cache is not updated when no files are updated on incremental build
- see #5072 (it was merged once, but reverted at #5525).

#### Procedure to reproduce the problem
[code]

#### Expected results
- Remote inventories are cached even if no documents are changed.

### Environment info
- OS: Mac
- Python version: 3.7.1
- Sphinx version: 1.8.1

[2018-11-06 15:18] tk0miya commented on #5501
#5525 is merged now.
Thanks,

Note: I opened #5594 for the original issue of 20f625b.

[2018-11-06 15:18] #5501 closed, assigned to nobody

[2018-11-06 17:17] jfbu commented on #5576
fixed at 4df3b067 (refs: #5583)

[2018-11-06 17:17] #5576 closed, assigned to nobody

[2018-11-06 17:18] jfbu commented on #5579
Fixed at 00a75b27 (refs: #5583)

[2018-11-06 17:18] #5579 closed, assigned to nobody

[2018-11-06 17:59] max3-2 opened #5595 "Reopen of 4895: autoclass inherited methods always shown"
### Problem
Generating docs for classes with inheritance always generates the full inherited methods docstring. Sam issue is described here #4895
https://github.com/sphinx-doc/sphinx/issues/4895
Reproducable for me with the shown code. Other option to reproduce

main.py
[code]

in *rst
[code]

in conf, mainly basic QuickStart, I changed to use NumPy (Maybe that's the issue?)
[code]

#### Error log

[2018-11-06 18:05] max3-2 commented on #5595
Forgot to mention: added the path to main.py in conf.py (relative)
[code]
Then compiling with make html
Getting a ton of warnings connected to the super() methods. For every method I get 3:
[code]

[2018-11-07 07:39] tiagomacarios opened #5597 "make literalinclude refer to snippets"
Hi would it be possible to make literalinclude refer to snippets in a file?

I want to document C++ code and I want to make sure that all the code being documented actually compiles. So I would rather not have code blocks, but instead "include" code from a file that is being compiled as part of the build.

Sphinx already has the ability to refer to files and to file snippets thorough literalinclud

[2018-11-07 14:35] apfelbox opened #5599 "JSON builder produces wrong link"
Subject: JSON builder produces wrong link

### Problem

I have the following tree:
![2018-11-07 at 15 22](https://user-images.githubusercontent.com/1032411/48136850-fe116e00-e2a0-11e8-88ac-775426a73d12.png)

<details>
<summary><code>index.rst</code></summary>

[code]
</details>

<details>
<summary><code>first/example.rst</code></summary>

[code]
</details>

<details>
<summary><code>config/conf.py<

[2018-11-07 17:34] mzjn commented on #5595
Have you tried to use the Napoleon extension instead of numpydoc?

http://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html

[2018-11-07 18:07] max3-2 commented on #5595
No change here, but I found that ..autosummary actually is the issue. I can remove that and it runs on either numpydocs or Napoleon.

However im running into a new issue: Napoleon completely ignores custom headers in doc strings. so only the numpy ones are allowed? I think this might have to go into a new issue after ill put some time into it. Thanks so far!

[2018-11-08 08:54] flying-sheep commented on #4826
so what do you think is the best approach (from my second-to-last comment)? 1 or 2?

[2018-11-08 13:26] mzjn commented on #5595
Napoleon supports a set of predefined section headers.

https://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html?highlight=napoleon#docstring-sections

[2018-11-08 15:57] mitya57 commented on #5460
There is a new pull request in #5590. Any testing is appreciated. Please consider assigning it to 1.8.2 milestone.

[2018-11-08 16:20] andreas-h opened #5602 "Add option to sphinx-apidoc to not create headings"
My apologies if the used terminology is not correct.  I am aware that there is an option `-E` to `sphinx-apidoc` which is documented as *--no-headings*.

I am also aware that this is an aesthetic question.  Please consider it as request for enhancement.  I am happy to contribute code to implement this, but would need some guidance on where to start.

Here, when I refer to *headings*, I refer to

-

[2018-11-08 16:41] cblegare opened #5603 "Help people using Intersphinx against objects imported from a package __init__.py"
Subject: Intersphinx references to objects imported at package level can't be mapped.

### Problem

References to objects that are imported in their package's `__init__.py` can't be referenced using the default objects inventory generation.

The issue here is inconsistent default behavior of sphinx-apidoc and intersphinx.

#### Procedure to reproduce the problem

Here is an example involving [`mar

[2018-11-08 17:02] cblegare commented on #4021
Hi, it's been a while

My understanding is that I did not match the required docstring format (my error).

Maybe the lib could be more permissive on this, your call.

Thank you for your support!

[2018-11-08 17:02] #4021 closed, assigned to RobRuana

[2018-11-08 19:41] t-b opened #5604 "asserts out with template specialization for pointer types with breathe"
See https://github.com/sphinx-doc/sphinx/issues/5496#issuecomment-432797093.

[2018-11-09 03:07] DaGeger opened #5605 "English words cannot be searched in Chinese word segmentation mode"
## Problem:
I can't search for English words in Chinese search mode.

![image](https://user-images.githubusercontent.com/29136507/48240907-9d547380-e40f-11e8-81ba-68f6cd46736e.png)

## Procedure to reproduce the problem

1. When I set `html_search_language = 'zh'` to use Chinese search, .
2. And add the following string `可以查看 FAQ 模块中 test 部分`.
3. search keyword `test`.

## Error results
When searc

[2018-11-09 08:11] jakobandersen commented on #5496
Thanks, I'll take a look at it.

[2018-11-09 08:12] #5604 closed, assigned to nobody

[2018-11-09 13:09] tk0miya commented on #3080
Fixed by #5600.
Thank you for reporting.

[2018-11-09 13:09] #3080 closed, assigned to nobody

[2018-11-09 16:29] mzjn commented on #5602
You might be interested in these SO questions and their answers:

https://stackoverflow.com/q/29385564/407651
https://stackoverflow.com/q/28481471/407651

[2018-11-10 13:42] tk0miya commented on #5605
Sorry, I don't know why because all maintainers can't use Chinese. So any pull requests are welcome :-)

[2018-11-10 13:50] tk0miya commented on #5603
I think this should be fixed on host side, not on referrer side. So I consider this is an issue of autodoc. The intersphinx extension allows to refer remote objects like they're defined in local. I know aliases can conceal the problem, but it is not perfect.

[2018-11-10 13:56] tk0miya commented on #5602
I feel supporting templates is great idea :-)
It makes customizing easier.

[2018-11-10 22:21] StrikerRUS commented on #5427
Fix in `rstcheck` has been included in 3.3.1 release: https://github.com/myint/rstcheck/pull/51.

[2018-11-11 05:46] tk0miya commented on #5599
Sorry, I don't know what is correct behavior. But it seems this implementation has come from 10 yrs ago (see [builders.py](https://github.com/sphinx-doc/sphinx/blob/v0.5/sphinx/builder.py) in v0.5).
I agree the behavior might be wrong. But I'm afraid of breaking compatibility.

[2018-11-11 06:14] tk0miya commented on #5588
Just released.
Thank you always :-)

[2018-11-11 06:14] #5588 closed, assigned to nobody

[2018-11-11 06:39] tk0miya commented on #5597
How about this?
[code]

This try to filter a file content from line contains `//! [0]` to line contains `//![0]`.

[2018-11-11 06:52] tk0miya commented on #5595
I guess this might be related with numpydoc. Without numpydoc, inherited methods are not shown.

[2018-11-11 07:15] clayrisser commented on #4219
I built a builder for this. You can find it at the links below.

https://pypi.org/project/sphinx-markdown-builder
https://github.com/codejamninja/sphinx-markdown-builder

[code]

Load extension in configuration.

_conf.py_
[code]

If using [recommonmark](https://github.com/rtfd/recommonmark), make sure you
explicitly ignore the build files as they will conflict with the system.

_conf.py_
[code]

[2018-11-11 08:28] tk0miya commented on #5427
We'd started to check srcdir and outdir since 1.3 (#2193,  9c2704b705d9989ff235625fbf735c79b8086753).
On 1.8 release, it was refactored more explicitly (#4436).

It is not mentioned in docs, but `sphinx-build` command has emitted errors for a long time.

[2018-11-11 08:58] tk0miya commented on #5460
Fixed by #5590. Thank you @mitya57 !

[2018-11-11 08:58] #5460 closed, assigned to nobody

[2018-11-11 09:32] tk0miya commented on #4826
If we'll expose qualname into objects.inv, users can refer objects using qualified name like ```:py:class:`scipy.sparse.base.spmatrix` ``` as you said. It means the qualname has appeared in the document. But I think qualname is not promised interface. So it might be fragile. But documents usually alive longer than source code.

I'm afraid of that the exposure causes the document network fragile. I

[2018-11-11 10:51] stephenfin commented on #4219
As an FYI, it looks like [nb2plots](https://matthew-brett.github.io/nb2plots/devel/improving_markdown.html) includes something similar too. Might want to check that out and see how that compares

[2018-11-11 12:03] apfelbox commented on #5599
To me it seems that the correct behaviour would be the output of `xml`/`html`, because it mirrors the actual directory structure.

It's fine to push this into 2.0, as it hasn't come up so far and it might indeed add some BC for old apps.

[2018-11-11 13:00] DaGeger commented on #5605
I did a test, this problem will also occur in English sentences.
[code]

[2018-11-11 14:23] TimKam commented on #5605
@DaGeger I created a PR that removes the trailing white spaces for _Latin_ search index terms. However, I do not understand, if/why these spaces should remain in Chinese. Can you confirm the search works as intended in Chinese now (check out my branch and install from source)?

[2018-11-11 15:21] clayrisser commented on #4219
This isn't a sphinx plugin or builder, but it definitely has a more put together markdown writer.

https://github.com/matthew-brett/nb2plots/blob/master/nb2plots/doctree2md.py

I think I might integrate with this plugin. Thanks @stephenfin!

[2018-11-11 16:14] DaGeger commented on #5605
Great! I tested your code and it can solve the problem.
![image](https://user-images.githubusercontent.com/29136507/48315121-3e5c4d80-e60d-11e8-8c1a-36227e4ad851.png)

Reply: why these spaces should remain in Chinese?
In the process of write documents, there are often two English words connected in Chinese.
eg: `查找CAS service配置`
In this case Spaces must be preserved.

By the way, I don't know, why

[2018-11-11 18:49] flying-sheep commented on #4826
Actually this is not a problem. The qualname will only appear

1. in objects.inv (in new special alias lines)
2. in *generated* rst code that doesn’t get committed to version control

the links that appear in the HTML will point to the *documented* name. e.g.

1. the user writes `.. autodoc:: some_function`, where `def some_function(df: pd.DataFrame): ...`
2. [sphinx-autodoc-typehints](https://git

[2018-11-11 19:16] TimKam commented on #5605
Thanks for testing. The problem with `CAS` is that it is first stemmed and then considered as too short to be relevant (only two letters). We've fixed a similar issue in the English search a while ago. I can fix this here as well and will ask you for another test once the fix is ready.

[2018-11-11 19:35] Chilipp opened #5614 "sphinx.util.get_module_source fails for builtins"
Subject: Importing from builtins (or itertools) forces the module file to be marked as *changed*

### Problem
Importing itertools or builtins in a module will always mark this module to be changed when using the `BuildEnvironment.get_outdated_files` method. This then always triggers a rebuilt of the module, slowing down the build.

#### Procedure to reproduce the problem
##### Quick demonstration

[2018-11-11 21:03] zingale opened #5616 "async loading of mathjax breaks equations"
Subject: async loading of mathjax breaks equations

### Problem
- I am using sphinx 1.8.2 and using a custom `mathjax_conf.js` as described here:
   http://paugargallo.com/posts/2016-05-05-sphinx-mathjax.html
   to allow me to define latex `\newcommand`s to work with mathjax.  This worked great with an earlier sphinx but now it fails to render the custom math macros.  If I remove the `async="async

[2018-11-11 21:25] clayrisser commented on #4219
I replaced Chris Wrench's markdown writer with Matthew Brett's doctree2md markdown writer (from nb2plots). [sphinx-markdown-builder](https://github.com/codejamninja/sphinx-markdown-builder) is working great now.

Thanks again @stephenfin for recommending nb2plots as the writer, it works amazing.

[2018-11-11 21:26] clayrisser commented on #4219
Please let me know if there are any bugs with it. This issue can prob be closed now.

[2018-11-11 23:08] shimizukawa opened #5618 "Provide `sphinx` command and integrate sphinx commands"
### Proposal

I propose to integrate multiple commands into ONE `sphinx` command and provide existing commands as subcommands.

<details>
<summary>In Japanese</summary>
Subject: sphinx コマンドを提供し、sphinxの各コマンドを統合する

私は、複数あるコマンドを1つのsphinxコマンドに統合し、既存のコマンドをサブコマンドとして提供することを提案します。
</details>

#### Background

We have several sphinx related commands as:

- make (by Makefile, make.bat)
- sphinx-quickstart
-

[2018-11-12 05:07] tiagomacarios commented on #5597
I wasn't aware of that. Let me try it and I'll report back.

[2018-11-12 05:49] DaGeger commented on #5605
In the same way, I tested your commit, but there will be no result when searching for `CAS`.
![image](https://user-images.githubusercontent.com/29136507/48328870-0b53a180-e681-11e8-9168-727dba6f395a.png)

[2018-11-12 13:54] TimKam commented on #5605
@DaGeger In my tests, the search index includes ``cas``. Can you run ``git pull --rebase`` and ``pip install -e .`` in the repo's root folder (make sure my branch is checked out) to ensure you have the latest changes? Also, try deleting the old output folder (typically: ``_build``) manually before running the build. If this doesn't help, can you share the exact doc set you are testing with?

[2018-11-12 14:33] tk0miya commented on #5618
+1

[2018-11-12 14:37] tk0miya commented on #5616
Please use `mathjax_config` instead.
https://www.sphinx-doc.org/en/master/usage/extensions/math.html?highlight=math#confval-mathjax_config

Another way, please use `<script type="text/x-mathjax-config">` tag to load the configuration file instead. mathjax expects to use it on loading configurations.
https://docs.mathjax.org/en/latest/configuration.html#using-in-line-configuration-options

[2018-11-12 17:45] adamtheturtle commented on #2793
This is not possible without changing `code-block`.
I have created a Sphinx extension which provides `substitution-code-block` for this purpose.

It allows you to define `substitutions` in `conf.py` and then use these substitutions in `.. substitution-code-block` blocks.

This extension is at https://github.com/adamtheturtle/sphinx-substitution-extensions.

However, this is a very small amount of

[2018-11-12 18:26] zingale commented on #5616
that works (the first one).  Thank you.  I saw that in the docs, but it was not immediately clear to me that it worked with macros.  Would you accept a PR that added another example to the docs showing a tex macro example there?

[2018-11-12 18:33] lyndsysimon commented on #5480
A note for future people who come across this - circular imports can still be an issue if using [`sphinx-autodoc-typehints`](pypi.org/project/sphinx-autodoc-typehints/) version 1.4.0, because it sets `typing.TYPE_CHECKING = True`. The most recent version released to PyPI without this change is 1.3.0.

[Their README suggests a solution](https://github.com/agronholm/sphinx-autodoc-typehints#dealing-

[2018-11-12 22:02] jfbu commented on #5520
You can go a long way by simply adding

    \renewcommand\sphinxcaption{\caption}

via the preamble key of latex_elements.

I recommend using `\captionsetup{width=\LTcapwidth}` also, because longtable uses `\LTcapwidth` as wrapping width for long titles. The `\sphinxcaption` was a way to apply this also to tabular/tabulary, but `caption` package has this `width` option.

You are going to lose some

[2018-11-13 09:11] magro11 opened #5627 "index.html missing in QtHelp"
### Problem

In Sphinx 1.8.2 it seems that the index.html as well as other html-files, which are located in the root directory (and no
subdirectory) are not longer contained in the compressed Qt help file *.qch. This is at least the behavior for Windows operating systems (Python 3.6 and 3.7).

The problem seems to be a wrong entry in the <files> section of the .qhp file. Former versions of Sphinx

[2018-11-13 11:58] DaGeger commented on #5605
As you described before, I tested many times and found that there would be problems.
Use your code test:
this sentence can be searched
[code]
![image](https://user-images.githubusercontent.com/29136507/48412026-64552f80-e77e-11e8-92d4-58ab740fa7b4.png)

But this is not acceptable
[code]
![image](https://user-images.githubusercontent.com/29136507/48411968-38d24500-e77e-11e8-826b-b4d807ebbe91.png)

[2018-11-13 12:57] DaGeger commented on #5605
I tried to find the problem and found new conclusions. I think the reason for the problem is still in this regular expression.
[code]

#### We can conduct tests.

[code]

Look, when the word is left without spaces, the keyword `cas` will not be matched.
Does this belong to the expected situation?

[2018-11-13 13:30] tk0miya commented on #5614
Fixed by #5619.
Thank you for reporting!

[2018-11-13 13:30] #5614 closed, assigned to nobody

[2018-11-13 13:51] tk0miya commented on #5627
Note: The `posixpath.join()` was added in #4923.

[2018-11-13 14:09] tk0miya commented on #5616
I'm not good at mathjax, so I don't understand what macro means. but any PR is always welcome.

[2018-11-13 14:10] tk0miya commented on #5616
Now I'm closing this because resolved.

[2018-11-13 14:10] #5616 closed, assigned to nobody

[2018-11-14 07:55] datacruiser opened #5634 "Convert html to docset failed"
Subject: Build docset from html failed with doc2dash

### Problem
- I try to covert the html to docsets which can be imported Dash via the instructions released in [https://github.com/Kapeli/Dash-User-Contributions/blob/master/docsets/Scikit](https://github.com/Kapeli/Dash-User-Contributions/blob/master/docsets/Scikit), unfortunately, I'm failed.

#### Procedure to reproduce the problem
[code]

##

[2018-11-14 09:39] danabr opened #5635 "Support autodoc_mock_imports in autosummary"
Subject: Support autodoc_mock_imports in autosummary

### Problem
The autodoc extension has a `autodoc_mock_imports` configuration option which may be used to produce documentation despite not all modules imported by some module being available. However, autosummary (which depends on autodoc) does not recognize this configuration option, and thus fails to generate summaries for modules containing

[2018-11-14 10:31] gabrielfalcao commented on #5555
@tk0miya is this a bug on sphinx or something we did wrong?

[2018-11-14 11:42] tk0miya commented on #5635
+1: Resonable. But I'd like to add a new option like `autosummary_mock_imports` because it is hard to understand `autodoc_mock_imports` effects to autosummary.

[2018-11-14 11:44] tk0miya commented on #5634
It seems sphinx_gallery extension raises this error. And it says some examples gets error. I don't know why they gets error. Could you ask to their project please?

[code]

[2018-11-14 12:30] bluescarni opened #5636 "[C++] Problem parsing prototypes containing floating-point default values"
Hello,

I am using sphinx + breathe to document a C++ software project. I have some function declarations which contain default floating-point parameters, which sometimes are expressed as literals in scientific notation, e.g., ``1e-6``. It seems like sphinx does not like them:

[code]

I can provide a more detailed example, if needed.

[2018-11-14 14:20] tk0miya commented on #5550
@NJDFan Could you let me know about dependencies? I'd like to know it to reproduce the error. But it seems some extra packages are needed to build.

[2018-11-14 14:23] tk0miya commented on #5538
+1; On next major release 2.0, we'll drop python2 support. So it would be nice to use qualname to its name!

Could you send us PR please?

[2018-11-14 14:46] tk0miya commented on #5627
Fixed by #5628.
Thank you for reporting.

[2018-11-14 14:46] #5627 closed, assigned to nobody

[2018-11-14 14:51] tk0miya commented on #5435
oh, this was already fixed by #5422 (released as 1.8.1).
So I'm closing this now.

[2018-11-14 14:51] #5435 closed, assigned to nobody

[2018-11-14 15:06] tk0miya commented on #5231
Can anyone try this patch? This bug might be related with OS path separator.
[code]

[2018-11-14 16:07] danabr commented on #5635
That would be fine with me.

[2018-11-14 16:20] jfbu commented on #5618
+1

[2018-11-14 18:48] cblegare commented on #5603
I am not sure if relevant, but in both of the following cases:

[code]

Intersphinx will always look for `marshmallow.schema.Schema`.  Or is it an autodoc issue on the referer side?

[2018-11-14 18:52] cblegare commented on #5603
See also
https://stackoverflow.com/questions/22096187/how-to-make-sphinx-respect-importing-classes-into-package-with-init-py/24787344#24787344

[2018-11-15 03:57] bwohlberg commented on #5538
Done - see PR #5637.

[2018-11-15 09:33] TimKam commented on #5605
Okay; splitting Chinese from "Latin" words is then an additional issue that needs fixing. I talked this over with a Chinese colleague to make sure I understand the implications. Will try to fix it asap.

[2018-11-16 06:31] timhoffm commented on #5618
+1

[2018-11-16 16:12] stephaniebamerico opened #5644 "AttributeError: 'NoneType' object has no attribute 'content_'"
### Problem
I get the error `AttributeError: 'NoneType' object has no attribute 'content_'` when I try to build documentation using Sphinx + Breathe + Doxygen. I believe it is related to issue #3709 and #3761, but the suggestion to fix does not work. Breathe 4.11 already implements the code suggested by @tk0miya (https://github.com/sphinx-doc/sphinx/issues/3709#issuecomment-299645822).

#### Proce

[2018-11-16 16:20] jakobandersen commented on #5636
Thanks for reporting. It's a simple case of me not implementing all cases initially. You, or anyone else, are most welcome to make a PR. Essentially the regex at https://github.com/sphinx-doc/sphinx/blob/master/sphinx/domains/cpp.py#L297 should be extended, and some extra test combinations should be generated at around https://github.com/sphinx-doc/sphinx/blob/master/tests/test_domain_cpp.py#L127.

[2018-11-16 23:35] spencerahill opened #5646 "RuntimeError: Code input with no code at ..."
Subject: confusing RuntimeError when I try to build our docs on my local machine

### Problem
- For the aospy package
- RuntimeError that I don't understand and that doesn't occur in our builds on ReadTheDocs
- I don't see anything wrong with the [code block it refers to in our examples.rst](https://github.com/spencerahill/aospy/blob/master/docs/examples.rst#L352)

#### Procedure to reproduce the

[2018-11-17 18:17] jfbu commented on #5251
We must take into account that our reference TeX installation on Ubuntu/Xenial via Debian texlive packages. Requirements:

- the font support the Latin, Cyrillic and Greek scripts,

- the font comes with Roman, Sans-Serif and Monospace families,

- (ideally) the font is available as a separate Ubuntu package, not requiring big [`texlive-fonts-extra`](https://packages.ubuntu.com/xenial/texlive-font

[2018-11-17 19:08] jfbu commented on #5251
But Linus Libertine Mono does not support Cyrillic. And Libertinus Mono does not either (at my locale TL2018). This seems to leave FreeFont and DejaVu.

DejaVu is very readable on screen, very clear, FreeMono takes less place (perhaps a bit like the intent was in legacy Sphinx into using "times"), is more "aristocratic".

DejaVu Serif Book

![capture d ecran 2018-11-17 a 19 28 41](https://user-ima

[2018-11-17 22:12] AmatanHead commented on #1379
@shimizukawa So this issue is closed but as far as I can see there's still no way to add css from extensions. The proposed workaround doesn't work if called from extension's `setup()` function because user can overwrite `'html_static_path'` in `conf.py`.

The only way that I've found to make this work is fiddling with `app.config._raw_config`:

[code]

This seems ugly and unsafe but at least it wo

[2018-11-17 22:33] svenevs commented on #1379
@AmatanHead yes that is unsafe :wink: that prevents the user from having custom css / javascript.

Instead of `app.config._raw_config.setdefault` you can just `append` a string (or multiple) to `app.config.html_static_path` list.

I'm linking you to the (somewhat chaotic) code [I am currently using to do this stuff](https://github.com/svenevs/exhale/blob/c61b32e59b34c11ed1a468f0a0e342037a43d8a4/ex

[2018-11-17 22:44] AmatanHead commented on #1379
@svenevs hmm I'm experiencing quite the opposite. Appending to `app.config.html_static_path` only works if user have no `html_static_path` in theirs `conf.py` (because what you essentially do is appending to the default value). Appending to `app.config._raw_config.setdefault` accounts for that case. I still think we should add an official API for this (a hook, maybe?).

[2018-11-17 22:50] AmatanHead commented on #1379
Also, it seems that you have to insert new static paths to the beginning of array instead of appending. This way users can override default css files by adding files with same names to their own static directory.

[2018-11-18 00:10] shimizukawa commented on #1379
IMO you should not modify `app.config.html_static_path` from extension.
Extension can use `app.add_css_file` (that renamed from `app.add_stylesheet` since 1.8).
http://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx.application.Sphinx.add_css_file

BTW This issue is too old to discuss.
Please use mailing list instead https://groups.google.com/forum/#!forum/sphinx-users
Thanks

[2018-11-18 17:43] AmatanHead commented on #1379
Posted a thread on the mailing list: https://groups.google.com/d/msg/sphinx-users/Z-wcktOhIAc/pGDWO0yVBQAJ

[2018-11-18 22:06] jfbu commented on #5520
Fixed at 9c8c2101d799e052669dd4668a2d386bf88e7da8.

Addition of `\sphinxstylecaptiontext`... kind of macros can still be considered for addition at 2.0. And there is still some work to do regarding captions of literal blocks and particularly for figures, because the latter currently do not allow customization of relative position.

Thanks for reporting.

[2018-11-18 22:06] #5520 closed, assigned to jfbu

[2018-11-18 22:13] spencerahill commented on #5646
Update: this does not occur with sphinx-build 1.5.1:

[code]

[2018-11-19 21:53] jfbu commented on #5646
The code-block

[code]

at https://github.com/spencerahill/aospy/blob/master/doc/examples.rst#L352 the sole one lacking an argument (which is ``python`` for all the other ones).

[2018-11-19 23:29] spencerahill commented on #5646
Oy, yes that was the problem.  Apparently that was allowed with earlier versions of sphinx but not anymore?

Anyways, changing it to `ipython:: python` fixes the problem.  Feel free to close this.  Thanks very much.

[2018-11-20 08:17] jfbu commented on #5646
I tried a minimal example with Sphinx 1.5.1 (adding ``:okexcept:`` option to the IPython directive) and got the same:

[code]

I agree the error message originating in IPython is not very clear. Perhaps report it to their project?

Closing as this appears not to be a Sphinx issue.

[2018-11-20 08:17] #5646 closed, assigned to nobody

[2018-11-20 10:15] schriftgestalt opened #5647 "classes with the same attributes"
I have and .rst file and no implementation of the classes (I’m documenting wrapper so it is mostly implemented outside of python).

There is probably a very simple solution but I can’t find it.

Here is an example:
[code]

My problem is that only the first two attributes get a link (to `#name`and `#age`). And both autosummary links point to the first class.

I need those anchors to be `#AClass.nam

[2018-11-20 14:13] tk0miya opened #5648 "AttributeError on building translated document"
### Problem
- Sphinx raises `AttributeError` on building translated document

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- https://readthedocs.org/projects/sphinx-ja/builds/8122170/

#### Expected results
Build succeeded.

### Reproducible project / your project
- Sphinx!

[2018-11-21 00:49] yfc845 opened #5652 "graphviz extension does not work in sphinx==1.8.2 ?"
We have:
`.. graphviz::`
`digraph g {`
    `foo -> bar`
    `}`

in our *.rst files.

The graphs were generated correctly when building with sphinx==1.6.7

But recently after we upgraded sphinx to 1.8.2, the graphs were not generated at all, no error showing up, just showing the sourcecode in html page.

[2018-11-21 05:18] #5652 closed, assigned to nobody

[2018-11-21 14:22] tk0miya commented on #5647
Please move description of the class and `attribute` directives under `class` directive like this:
[code]

[2018-11-21 17:09] tk0miya commented on #5644
It seems the error was raised inside breathe extension. In addition, the `node.content_` attribute is not standardly used in both docutils and Sphinx. I guess it is extended by breathe originally.
So it is hard to investigate this problem more for us. Could you file an issue to breathe project please?

[2018-11-21 20:46] schriftgestalt commented on #5647
Thanks. The attributes do work now but the `.. autosummary::` is not.

And I had a section title like this:
[code]
To structure the doc a bit. If I keep it without indentation, it closes the class block and if I indent it, I get this:
[code]

[2018-11-21 22:11] #5247 closed, assigned to nobody

[2018-11-21 22:11] #5248 closed, assigned to nobody

[2018-11-21 22:11] #5251 closed, assigned to nobody

[2018-11-22 08:30] tirkarthi commented on #5644
Relevant upstream issue for context : https://github.com/michaeljones/breathe/issues/402

[2018-11-22 16:26] tk0miya commented on #5647
If you want to use `autosummary` and section headers for class members, please give a class name to them:

[code]

Sphinx considers `attribute:: name` is a top level (module global) variable, not a class member.

[2018-11-22 16:33] schriftgestalt commented on #5647
Thanks for the help.

[2018-11-22 16:49] tk0miya commented on #5647
I'm closing this now.
Please post a question to our forum in next time.
Thanks,

[2018-11-22 16:49] #5647 closed, assigned to nobody

[2018-11-22 20:09] LourensVeen commented on #4422
I would like to request reopening this issue.

I have a type alias like this:
[code]
which describes the type of a callback function that a user can pass to my copy function. Autodoc currently documents this as:
[code]
This is not very helpful, first because the arguments to the `Callable` generic are missing, and second because it doesn't explain what the arguments mean. So I'd like to add a docs

[2018-11-23 03:31] tk0miya commented on #4422
Good point! I agree it is useful.
Reopened.

[2018-11-23 07:56] tk0miya opened #5659 "linkcheck builder crashes for a hyperlink containing multibyte character"
### Problem
- linkcheck builder crashes for a hyperlink containing multibyte character

#### Procedure to reproduce the problem

Add a hyperlink which contains multibyte character like this:
[code]

And then, call linkcheck builder:

#### Error logs / results
[code]

#### Expected results
Works fine.

### Reproducible project / your project
No.

### Environment info
- OS: Mac
- Python version: 3.7

[2018-11-23 08:47] Grovkillen opened #5660 "class name "versionmodified" used by all versionchanged/added/deprecated"
Subject: HTML output for change log (I want to CSS the headlines)

### Problem
The current implementation use the same class name for all three version roles. This means I cannot use CSS to have the color of the text reflect if its added (green), changed (yellow) or deprecated (red). The only difference between them is the text itself but for the reader this might become hard to read through when

[2018-11-24 12:11] tk0miya commented on #5660
+1: Resonable.

[2018-11-24 16:17] tk0miya commented on #5648
Note: This is a bug of master branch, not 1.8.x.

[2018-11-25 02:12] tk0miya commented on #5555
Sorry for late.

It seems the error was raised on `FilterSystemMessages`.
https://github.com/sphinx-doc/sphinx/blob/9c2fd94204fce9f056104083f20f094827619781/sphinx/transforms/__init__.py#L311-L321

It removes `system_message` node from doctree. But the error says your doctree is broken; a parent of `system_message` node does not know the node. I couldn't find where such broken tree is generated.

[2018-11-25 02:50] tk0miya commented on #5554
Our gettext builder expects all `paragraph` node has its `rawsource` to translate the node. If none, Sphinx calls `astext()` of the node. So your hack is good!

[2018-11-25 03:07] dzhu opened #5670 "autodoc causes unnecessary rebuilds when a module member is a built-in type"
Subject: autodoc causes unnecessary rebuilds when a module member is a built-in type

### Problem
When autodoc is in use, if a module has a member that is a built-in type (not an instance, but the actual type itself), then the module is always believed to have a changed dependency. It looks like the ultimate problem is this: when `sphinx.ext.autodoc.Documenter.generate` is called for that object,

[2018-11-25 03:21] tk0miya commented on #5595
I'm closing this because this might not be a bug of Sphinx.
Thanks,

[2018-11-25 03:21] #5595 closed, assigned to nobody

[2018-11-25 03:22] tk0miya commented on #5597
I'm closing this now because this is not an issue of Sphinx.
Thanks,

[2018-11-25 03:22] #5597 closed, assigned to nobody

[2018-11-25 03:23] tk0miya commented on #5634
I'm closing this now because this would not be a bug of Sphinx.
Thanks,

[2018-11-25 03:23] #5634 closed, assigned to nobody

[2018-11-25 03:24] tk0miya commented on #5551
I'm closing this now because this is not a bug of Sphinx itself.
Thanks,

[2018-11-25 03:24] #5551 closed, assigned to nobody

[2018-11-25 03:27] tk0miya commented on #5584
I'm closing this now.
Thank you for comment.

[2018-11-25 03:27] #5584 closed, assigned to nobody

[2018-11-25 21:42] JulienPalard commented on #5554
Nice to hear þ

Is it documented somewhere?

[2018-11-26 16:14] mgeier commented on #5618
:+1: Very good idea!

I've always hated the fact that two different platform-specific scripts (`Makefile` and `make.bat`) are the default way to build something that's entirely written in platform-independent Python!

I think having a single command `sphinx` with multiple sub-commands is a good idea.

However, please also consider the use-case when the `sphinx` module is called directly.
I'm mostl

[2018-11-27 16:54] #5659 closed, assigned to nobody

[2018-11-28 03:54] tk0miya commented on #5648
It seems latest build was succeeded. closing.

[2018-11-28 03:54] #5648 closed, assigned to nobody

[2018-11-28 15:10] douardda commented on #2316
Same question here. Is there a clean solution to reference a custom index? I'd be happy to make a doc PR, but I have no clue what to write in there...

[2018-11-28 16:15] douardda commented on #2316
So it seems the solution given in the linked stackoverflow remains the correct approach. However, in https://github.com/sphinx-doc/sphinx/blob/1b28e5724fc69e79458b9e9c696696bd27a753e3/sphinx/ext/autosectionlabel.py#L62 this is done in doctree-read hook rather than tweaking the class attributes.

This works, but I'd rather like to have a solution that takes the domain name into account, ie. being a

[2018-11-29 03:29] alexyiu875 opened #5679 "splinx autodoc does not retain type hints of a member field"
Subject: splinx autodoc does not retain type hints of a member field

### Problem
splinx autodoc does not retain type hints of a member field

#### Procedure to reproduce the problem
Sample Python source code:
[code]

Generated Sphinx HTML doc of "DateTimeIso8601" does not contain type information of these 2 member fields: "iso8601_datetime" and  "local_timezone"

#### Error logs / results
N/A

##

[2018-11-29 17:20] MacHu-GWU opened #5688 "How do I access to the Path of the RST file of the directives?"
Subject: I am writing an extension, but don't know how to access the Path of RST file of the directives.

I am customizing my own Directives:

[code]

For example if I have a file `docs/source/my-doc.rst` the content is:

[code]

How could I access the path of `docs/source/my-doc.rst` in the ``run`` method?

Thank you

[2018-11-30 20:45] MacHu-GWU commented on #5688
I figured it out myself, it is ``self.state.document.current_source``

[2018-11-30 20:46] #5688 closed, assigned to nobody

[2018-12-02 05:30] Thom1729 opened #5702 "Pretty-print magic methods."
### Motivation

When autodoc generates docs for magic methods like `__str__` or `__getitem__`, it displays the method signatures the same way as for any other method. However, this is not how magic methods are typically used, and the literal names may not be the best way to document them.

### Proposal

Instead of displaying the literal names of magic methods, display them as they would be used: f

[2018-12-03 23:34] barbara-sfx opened #5716 "Error when using :widths: option for ..table::"
Subject: Error when using `:widths:` option for `..table::`

### Problem
- Sphinx throws an error when I use the `:widths: auto` for a `..table::` directive

#### Procedure to reproduce the problem

[code]

#### Error logs / results

[code]
Also, table does not render.

#### Expected results
No error and table renders with correct widths

### Reproducible project / your project
- n/a (private repo

[2018-12-04 14:19] tk0miya opened #5720 "both docutils and Sphinx have abbreviation node and role"
### Problem
- Both docutils and Sphinx have their own abbreviation node and role
- see https://github.com/sphinx-doc/sphinx/pull/5718/files#r238676248

#### Expected results
- Remove them from Sphinx it not needed.

[2018-12-04 15:35] cocoatomo opened #5724 "sphinx-quickstart fails when $LC_ALL is empty"
Subject: sphinx-quickstart fails when $LC_ALL is empty

### Problem
- sphinx-quickstart fails when $LC_ALL is empty

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
sphinx-quickstart do not raise exception

### Reproducible project / your project
- Nothing (this issue occurs before having a project created)

### Environment info
- OS: macOS 1

[2018-12-04 22:20] goerz opened #5725 "Use latest mathjax version by default"
The current `sphinx.ext.mathjax` plugin uses mathjax version 2.7.1, see
https://github.com/sphinx-doc/sphinx/blob/c2fcb82221d4b6b2b57bc8cd01954eda239ad7e8/sphinx/ext/mathjax.py#L108

This version is not the most current one, and is known to have problems with accents in Safari (https://github.com/mathjax/MathJax/issues/1737) and on iOS (https://github.com/mathjax/MathJax/issues/2091).

I would adv

[2018-12-05 08:25] Eldadc commented on #4765
Is it possible to elaborate on how to migrate a site to an offline env ?

[2018-12-06 01:10] astrofrog opened #5727 "Spurious spaces in code blocks when translated with Google Translate"
In https://github.com/sphinx-doc/sphinx/pull/4424, Sphinx introduced the ``class='notranslate'`` on code blocks, which is great and works to some extent. However, there is a residual issue that Google Translate appears to introduce spaces between parts of the code:

<img width="710" alt="screen shot 2018-12-05 at 17 56 15" src="https://user-images.githubusercontent.com/314716/49554280-bdfdd500-f8b

[2018-12-07 13:46] deathride007 opened #5728 "sphinx-apidoc does not find .pyd files"
sphinx-apidoc does not include ".pyd" files which are compiled python modules from c++.
Related to issue #2546

This issue is caused by the list of PY_SUFFIXES, which currently only contains .py and .pyx files.
When adding '.pyd' to the PY_SUFFIXES, sphinx-apidoc is able to generate correct rst files.

Fix in /sphinx/ext/apidoc.py (line 53)
`PY_SUFFIXES = set(['.py', '.pyx', '.pyd'])`

[2018-12-07 14:31] hftf commented on #5506
I sometimes encounter this issue and just do `make O=-a`.

[2018-12-07 19:50] paternal commented on #3209
I submitted a pull request #5575 that implements a way to solve this, but it seems to have been unnoticed…

[2018-12-08 00:09] mouse07410 opened #5734 "Sphinx fails to build docs for Botan, because it uses requests that needs idea < 2.8"
### Problem
- Sphinx needs `requests`, `requests` needs `idna` and fails with `idna` v2.8.

#### Procedure to reproduce the problem
Attempt to build docs for Botan (see below).

#### Error logs / results
[code]
#### Expected results
[code]

### Reproducible project / your project
- https://github.com/randombit/botan.git

### Environment info
- OS: MacOS Mojave 10.14.2
- Python version: 3.7
- Sphin

[2018-12-10 11:04] nieder opened #5749 "test_build_sphinx_return_nonzero_status test failure"
Subject: single test failure on sphinx-1.8.2

### Problem
- the test test_build_sphinx_return_nonzero_status fails.

#### Error logs / results
[code]

#### Expected results
Test test_build_sphinx_return_nonzero_status should pass.

### Environment info
- OS: Mac
- Python version: 2.7.15, 3.6.7, 3.7.1
- Sphinx version: 1.8.2

[2018-12-10 12:13] AlexCPU7 opened #5750 "How to generate documentation using files from another directory?"
Subject: <what happen when you do on which document project>

### Problem
I cannot use the templates located in the directory above my Makefile. I do not understand, do you have this functionality?

#### Procedure to reproduce the problem
The structure of my project
[code]
 Code in index.rst file:
[code]
#### Error logs / results
[code]

#### Expected results
I expected that the templates from oth

[2018-12-10 16:28] espoelstra commented on #122
It appears that although Sphinx uses `requests` you may still need to set the certificate directory in your `conf.py` manually via a `tls_cacerts = '/path/to/your/certs'` as it doesn't appear to honor the `REQUESTS_CA_BUNDLE` or the other SSL environment variables commonly used to pass trusted certs. This has made using `sphinx-build linkcheck` very painful in an enterprise environment with a prox

[2018-12-10 20:13] mouse07410 commented on #5734
I'd like to amend: now with the new `requests` pushed out to PYPI, it requires `idna < 2.9`, so that part is satisfied.

[2018-12-10 20:13] #5734 closed, assigned to nobody

[2018-12-11 13:39] pitrou opened #5755 "C++: duplicate error with template function redefinition"
I was redirected here from the Breathe issue tracker, specifically https://github.com/michaeljones/breathe/issues/406

I have two different implementations of a C++ template method that are selected using the [SFINAE pattern](https://en.cppreference.com/w/cpp/language/sfinae) (implementations omitted below):
[code]

When trying to integrate Doxygen documentation for that class's members, I get the

[2018-12-11 14:13] ltalirz opened #5756 "glob for files with extensions other than .rst"
For extensions like `nbsphinx` that add the ability to document files with extensions other than `.rst` it would be very useful to be able to use wildcards in toctrees as well, using a syntax like:
[code]

When raising this issue with nbsphinx (spatialaudio/nbsphinx#151), @mgeier suggested that this should probably be solved at the sphinx level.
Do you agree?

[2018-12-11 14:38] jakobandersen commented on #5755
Thanks. I wonder how complex a comparison the compiler is supposed to do. As example:
[code]
I think the concepts extension comes with new rules for expression comparison, at least for requires clauses.

Fixing this shouldn't be too complicated, though declarations that differ only in the template parameter names will not be found as duplicates any time soon (#2057).

[2018-12-11 16:59] ninafiona opened #5759 "Exception sphinx-automodapi (dll load failed)"
Exception occurred:
  File "C:\ProgramData\Anaconda3\lib\site-packages\sphinx_automodapi\utils.py", line 78, in find_mod_objs
    __import__(modname)
ImportError: DLL load failed: Das angegebene Modul wurde nicht gefunden. (Module not found)

[2018-12-14 09:18] maartenbreddels commented on #2090
I got bitten by this when developing an extension/plugin.
I was doing in the extension's setup:

[code]

But it was never copying it. I figured, maybe `conf.py`will override it, since it includes `html_static_path = ['_static']` by default.

And yes, if you add it later on, it does get picked up:
[code]

[2018-12-14 16:33] ngoldbaum opened #5770 "Highlighting console block with python3-only syntax raises warning"
### Problem
- Highlighting a block like this will raise a warning:

[code]

As far as I can tell there's no way to pass the option that pygments wants to use the `python3` lexer for parsing the python code. See e.g. http://pygments.org/docs/lexers/#pygments.lexers.python.PythonConsoleLexer

#### Procedure to reproduce the problem

Build this sphinx project: https://github.com/ngoldbaum/sphinx-bug-

[2018-12-14 16:52] ngoldbaum commented on #5770
The discussion in https://bitbucket.org/birkenfeld/pygments-main/issues/1194/support-python-35s-matrix-multiplication might obviate the need to think about this.

[2018-12-14 21:01] jfbu opened #5772 "LaTeX: should the Bjarne style of fncychap be used for English also if passed as language option?"
Currently  there is https://github.com/sphinx-doc/sphinx/blob/ca2ce49830f2e574aa0e9426670d08d44078187b/sphinx/writers/latex.py#L595-L601

but this has the effect that when `sphinx-build` is executed on our documentation at RTD to produce the PDF, it will use "Sonny" `fncychap` style because `language` is explicitely set. If the documentation is build locally (for testing) it uses the "Bjarne" styl

[2018-12-15 08:38] tk0miya commented on #5772
Our document says:

http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-latex_elements

So +1 for applying Bjarne for English document even if language is explicitly given.

[2018-12-15 09:38] tk0miya commented on #5770
I just post #5775. I believe it will resolve your problem.
Thanks,

[2018-12-15 09:41] tk0miya commented on #5759
I guess you need to set up DLL files before running sphinx_automodapi. Unfortunately, the extension does not output logs so I can't understand what happened in the process.
Anyway, this is not a bug of Sphinx-core itself.
So I'm closing this now.

Thanks,

[2018-12-15 09:41] #5759 closed, assigned to nobody

[2018-12-15 09:45] tk0miya commented on #5756
The content of toctree directive is not a list of filename. It is list of **docname** s. So -1 for your proposal.

BTW, why do you want to such feature? How about move .ipynb files to under the sub-directory? Please let me know your motivation to pick up individual filetypes in toctree directive.

[2018-12-15 09:54] tk0miya commented on #5750
Unfortunately, there are no way. Sphinx expects all files are placed under source directory. Please copy  them or create symlink to source directory.
Thanks,

[2018-12-15 10:02] tk0miya commented on #5749
It seems Sphinx can access private URL on your environment. Could you check your system please?
[code]

[2018-12-15 10:13] tk0miya commented on #5728
@shimizukawa Could you check this please? Unfortunately, I'd never seen `.pyd` file... I need your help.

[2018-12-15 10:16] tk0miya commented on #5725
+1; Resonable.
Could you send us a PR please?

[2018-12-15 10:18] tk0miya commented on #5727
Unfortunately, I'm not good at google translate. Do you have any good idea?

[2018-12-15 10:37] #5772 closed, assigned to nobody

[2018-12-15 10:49] tk0miya commented on #5720
Note: Indeed, both Sphinx and docutils provides a role for abbreviation. But they have different name. The docutils' is `:abbreviation:`. The other is `:abbr:`. It means they are not conflicted. And removal causes some document broken.

So I remove only node class.

[2018-12-15 11:17] tk0miya commented on #5716
Sorry, I can't reproduce the error on my local.
Could you try again in new project please?

[2018-12-15 11:43] nieder commented on #5749
Yes, that was it. My ISP resolves unknown DNS to their search page, so it returns a real page, which breaks the test. Sorry about the noise.

[2018-12-15 11:43] #5749 closed, assigned to nobody

[2018-12-15 12:58] ltalirz commented on #5756
I see, happy to amend: Since `nbsphinx` treats `ipynb` files as pieces of documentation, would it make sense for sphinx to offer a way (for extensions like `nbsphinx`) to modify which files are picked up by the [existing](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#table-of-contents) `*`, so that the following would also pick up files with `ipynb` extension?
[code]

[2018-12-15 14:05] ghost opened #5788 "Add htmlhelp_ascii_output option to htmlhelp builder"
Subject: non-ASCII characters can not display in chm

### Problem
chm is an old tech from 20 years ago, maybe for backward compatibility reason, `hh.exe` using system's local encoding to render chm content by default.

Then some non-ASCII characters display as mojibakes, for example if a page's charset is cp1252, and it has a string `classical “sequential” programming`, (`“` \u201C and `”` \u201D

[2018-12-15 14:56] jfbu commented on #5179
By the way also `-{}-` or `-{-}` mark-up with LuaLaTeX give via ligature a long dash rather than `--` in PDF. One does not see it easily in Sphinx documents, as in this example from our own doc `sphinx.tex`:

[code]

because:

1. `fontspec` does not apply `Ligatures = TeX` for mono font, which is triggered by `\sphinxcode` or `\sphinxbfcode` by default,

2. additionally `\sphinxupquote` does extra

[2018-12-15 15:57] #5770 closed, assigned to nobody

[2018-12-15 15:57] tk0miya commented on #5770
Fixed by #5775 .
Thank you for reporting!

[2018-12-15 17:07] mgeier commented on #5756
This already works, see https://github.com/spatialaudio/nbsphinx/blob/master/doc/index.rst.

The only thing that doesn't seem to work is including the file suffix in the glob pattern.

If you use a single `*`, all source files in the directory should be used, regardless of their suffix.

This doesn't work with `nbsphinx`, but you can use https://github.com/vidartf/nbsphinx-link for this.

[2018-12-15 18:49] ltalirz commented on #5756
Great! This is all I need, I guess my original question was not clear enough.
From my point of view the issue can be closed.

Thanks for the hint!

[2018-12-15 18:49] #5756 closed, assigned to nobody

[2018-12-15 19:49] ghost commented on #5724
I don't believe this is a Sphinx bug specifically. The idiom of `locale.setlocale(locale.LC_ALL, '')` works on Windows/Linux even if `LC_ALL` is empty. From research it seems to be a problem specific to Mac:

https://bugs.python.org/issue18378#msg215215

[2018-12-16 10:00] #5179 closed, assigned to nobody

[2018-12-16 11:35] Eldadc opened #5809 "How to download site from the web to an offline server"
Hi,

Is it possible to download the whole site build on sphinx to an offline site.

Thanks

[2018-12-16 12:07] mgeier opened #5810 "LaTeX: sphinxVerbatim without hllines"
### Problem

I'm not sure if this is really a problem, probably I'm just using it wrong ...

#### Procedure to reproduce the problem

If I'm using this in a `.rst` file:

[code]

#### Error logs / results

I'm getting this when running `pdflatex`:

[code]

#### Expected results

no error, PDF with "abc" formatted as code.

If I'm using this:

[code]

... everything works fine!

### Environment inf

[2018-12-16 15:37] jfbu commented on #5810
Sorry, indeed since 1.6.6 the Sphinx LaTeX writer always sets up `hllines` key to (perhaps) emphasize lines in literal blocks, and this means naked usage of `sphinxVerbatim` environment by third party got broken. I have reimplemented it to re-establish such naked usage and will merge to 1.8 soon.

[2018-12-16 15:53] jfbu commented on #5810
Your workaround is needed for Sphinx 1.6.6 and later, and becomes unneeded but will cause no harm with (to be released) 1.8.3 and later.

[2018-12-16 16:20] jakobandersen commented on #5636
It should be fixed in the 1.8 branch now.

[2018-12-16 16:20] #5636 closed, assigned to jakobandersen

[2018-12-16 17:34] #5810 closed, assigned to nobody

[2018-12-16 19:38] jakobandersen commented on #5496
The assertion problem should be fixed in the 1.8 branch now (really).

While it shouldn't crash now, there is still a deeper issue with partial builds and duplicate declarations. Basically, if a declaration is modified/deleted and it has duplicates, then all documents with those duplicates should be rebuild as well. I'm not sure how to trigger this automatically though.

[2018-12-16 19:38] #5496 closed, assigned to jakobandersen

[2018-12-17 02:49] ghost commented on #5788
There is another hh.exe problem. "Index search in CHM help crashes the viewer", after turning "Binary Index" to "Yes", hh.exe no longer crash.

Please read: https://bugs.python.org/issue35228
So I add this option.

I prepared another `htmlhelp_ascii_output` implementation **Method C**, let me explain.

## Method A
I wrote a [Sphinx extension](https://github.com/python/cpython/commit/6261ae9b01fb84

[2018-12-17 09:10] jfbu commented on #1681
A quick note to record that the latest update by the LaTeX team to `array` package has not been (so far) followed up by `tabu` which thus is [currently broken](https://tex.stackexchange.com/questions/466147/tabu-very-recently-stopped-working-with-color-xcolor).

This incident illustrates why Sphinx must remain conservative in this area, at least in its default LaTeX configuration; sure, Sphinx sho

[2018-12-17 10:07] stephenfin opened #5823 "Tests fail if fonts are missing"
### Problem
Tests are currently failing on master (a3d3fecf847a08fa59d398783b046515121e03b1) on Fedora 29 due to an unspecified dependency on fonts.

I can resolve the issue with the following:

[code]

However, this is not documented anywhere.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
There should be no dependency on these additional

[2018-12-17 11:18] tk0miya commented on #5823
It is new dependency since #5645. And it mentions about freefont in document.

[2018-12-17 11:31] tk0miya commented on #1681
Is there any chance to support tabu in sphinx-core? If my understanding is right, there are no chance at present. If true, I'd like to mark this as "wontfix".
@jfbu What do you think?

[2018-12-17 12:25] tk0miya commented on #5809
If you have source of the document, you can build it locally.
If not, Sphinx itself does not provide a special way to do that.

Thanks,

[2018-12-17 14:11] tk0miya commented on #5724
@remyabel Thank you for comment.

I understand the error has been filed on bugs.python.org. I just made a workaround for the bug at #5829.
I believe it helps users on Mac OS.

[2018-12-17 14:14] tk0miya opened #5830 "1.8.3 release plan"
Hi maintainers

Almost 30+ days have passed since last stable release. So it's time to release.
I'll ship it on next weekend (12/22 or 23).
Do you have any comments for this schedule?

Note: issues marked as 1.8.3:
https://github.com/sphinx-doc/sphinx/milestone/54

[2018-12-17 14:29] Eldadc commented on #5809
Thanks for the follow up.
If iI download a site with some tools.
Is it possible to create a site on my own sphinx server on offline server ?

[2018-12-17 14:40] tk0miya commented on #5809
Please read our document first. Sphinx is not a "server".

In addition, this is an "issue" list of Sphinx, not a forum.
Please post to our forum if you still have question.

Thanks,

[2018-12-17 14:40] #5809 closed, assigned to nobody

[2018-12-17 14:45] stephenfin commented on #5823
Ah, OK. @jfbu Is there anyway to detect missing fonts via LaTeX tooling? Something like a sanity check command? I'd prefer not to detect the missing packages via a package manager (too fragile)

[2018-12-17 14:54] tk0miya commented on #2090
@maartenbreddels  Sphinx does not expect that extensions overrides user configuration.
In addition, your case is not related with this issue. Even with your code, Sphinx does not detect the change of the css file.

[2018-12-17 15:01] tk0miya commented on #122
@espoelstra Could you file a request as an issue please? I'll take a look later.

[2018-12-17 16:26] jfbu commented on #5823
Is your query about adding such a check to the default font loading executed by Sphinx with xelatex/lualatex? [1]_ if yes, `fontspec` provides `\IfFontExistsTF` https://github.com/wspr/fontspec/blob/053a303d87baf1b4d43a49ce10432ddb9bfdbe6e/fontspec-doc-fontsel.tex#L260-L264
since https://github.com/wspr/fontspec/commit/6969d3ad086391be4655779104ef83fb0eee23fb, but it is too recent for us to use it

[2018-12-17 16:59] jfbu commented on #1681
This issue was formulated as using tabu/longtabu by Sphinx core. As such I agree with "wontfix" for the reasons above.

Let me add one element, although I have not had time to make a full review of the tabu situation again: right now I tested with TeXLive 2017 that the `tabu*` which is supposed to be usable with Verbatim content does not seem to work when `fncyvrb`'s Verbatim is used with `command

[2018-12-17 19:19] ksunden commented on #4016
Went to revisit this, to see if changes which didn't reference this issue may have changed behaviour:

It seems like they have _changed_, though still produces unexpected results:

this now produces the following html

[code]

With Sphinx v1.8.2

It also produces the following error output:

[code]

Previously, no warning was printed

[2018-12-17 21:05] stephenfin commented on #5823
Yeah, maybe just the fedora package name would be enough. Maybe the issue I was seeing is that I'm installing the individual packages and not the whole package. It doesn't look like LaTeX has the equivalent of a requirements file for dependencies. If that's the case, `bindep` may be as good as we've got

[2018-12-17 22:44] jfbu commented on #5823
The [fedora packages site](https://apps.fedoraproject.org/packages/s/) does not return any match for `texlive-gnu-freefont` but it does for `gnu-freefont`, however obviously there must be some `texlive-gnu-freefont`... from your post...

[2018-12-18 00:17] connection-reset opened #5834 "sphinx-apidoc command line help for --tocfile is wrong"
### Problem
- The sphinx-apidoc command line help for --tocfile is wrong.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
The text for `--tocfile` is the same as `-T, --no-toc`.

#### Expected results
Something like "Filename for a table of contents file" like it says in the [manpage](https://www.sphinx-doc.org/en/master/man/sphinx-apidoc.html#cmdoption-sphinx-api

[2018-12-18 03:18] goerz commented on #5725
Done. `CONTRIBUTING.rst` seems to say the pull request should be with respect to the `1.8` branch, so I hope I did the right thing there...

[2018-12-18 10:36] stephenfin commented on #5823
Yup.

[code]

[2018-12-18 11:41] mgpcs opened #5836 "Standard element "Table of content" has not been localized"
Standard element "Table of content" has not been localized

### Problem
The standard element "Table of content" (layout.html) has not been localized.
- html_theme = 'agogo'
- language = 'de'

#### Expected results
Localization for "Table of content" at language "de".

### Environment info
- OS: Win 10
- Python version: 3.6.5
- Sphinx version: 1.8.2

[2018-12-18 14:09] tk0miya commented on #5725
:-)

[2018-12-18 14:09] #5725 closed, assigned to nobody

[2018-12-18 14:33] #5724 closed, assigned to nobody

[2018-12-18 15:39] tk0miya commented on #5836
Surely it is not translated yet. If you can understand German, please join our translation project! We need your help :-)
https://www.transifex.com/sphinx-doc/

[2018-12-18 15:50] tk0miya commented on #1681
Thank you for comment. Okay, let's mark this as "wontfix".

Note: It does not mean "never". We'll can reconsider when somebody would send excellent PR for us or situation changed.

Thank you for proposal.

[2018-12-18 15:50] #1681 closed, assigned to nobody

[2018-12-18 16:09] jfbu commented on #5823
updated CHANGES: https://github.com/sphinx-doc/sphinx/blob/f6ac360b9c5bbeb7df7fc6d853052dc8c94d2558/CHANGES#L15-L18

For the record, the FreeFont dependency was also mentioned there: https://github.com/sphinx-doc/sphinx/blob/f6ac360b9c5bbeb7df7fc6d853052dc8c94d2558/doc/usage/builders/index.rst#L172-185 and in the discussion of ``'fontpkg'`` in https://github.com/sphinx-doc/sphinx/blob/f6ac360b9c5b

[2018-12-18 17:20] jfbu commented on #5836
I translated it into Inhaltsverzeichnis now... there remains many non translated chains for German https://www.transifex.com/sphinx-doc/

[2018-12-18 21:46] jfbu commented on #1682
Thanks for report and suggestion, and sorry for long delay before actually doing something... I think this has now been fixed in #5645 for future Sphinx 2.0. See also http://www.sphinx-doc.org/en/master/usage/configuration.html#confval-latex_elements, the discussion of ``'fontpkg'``, ``'fontenc'``, and ``'textgreek'`` key.

Closing now.

[2018-12-18 21:46] #1682 closed, assigned to nobody

[2018-12-18 22:23] mgeier commented on #5810
Thanks a lot @jfbu!

[2018-12-18 22:42] mgeier commented on #5756
@tk0miya

If I'm not mistaken, it is actually a list that can contain three different types of things:

* docname, glob patterns can be used
* file name (= docname + suffix), glob patterns don't work
* external link

I can see that it might be surprising that glob patterns work in the first case but not in the second.

I personally can live with this, but I think, strictly speaking, this is a bit

[2018-12-18 23:08] goerz commented on #4826
A big +1 from me. Without this, the Sphinx documentation for projects that uses type annotations are broken, with no workaround. In fact, this is one reason why I think people should stay away from type annotations for the time being.

[2018-12-19 22:05] johnthagen commented on #1956
@birkenfeld Could this be reopened?

The default `conf.py`, while very close to being PEP8 compliant, is not quite. All that is needed now is an extra newline at the end of the file. This is hopefully an easy fix and would make it a nice experience out of the box.

To reproduce the problem:

[code]

[2018-12-20 01:13] tk0miya commented on #5644
It seems fixed in breathe project.
Closed.

[2018-12-20 01:13] #5644 closed, assigned to nobody

[2018-12-20 02:12] tk0miya commented on #1956
@johnthagen I posted #5840 as a fix

[2018-12-20 06:14] cocodrips opened #5841 "sphinx-apidoc does not have --extensions option."
### Problem
`sphinx-quickstart` has --extensions option but `sphinx-apidoc` does not have.

#### Expected results
Example: `sphinx-apidoc -F -a --extensions sphinx.ext.napoleon -o ./doc ./src`

[2018-12-20 13:36] tk0miya commented on #5702
+1

[2018-12-20 14:43] tk0miya commented on #5679
+1; Absolutely!

[2018-12-20 15:57] tk0miya commented on #5756
Indeed, toctree directive accepts the filenames implicitly. And it is not documented:
https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html

We can found the hint from Georg on the comment of toctree directive:
https://github.com/sphinx-doc/sphinx/blob/914e65596075a77452a50b829fa3c06c9e7fa0c0/sphinx/directives/other.py#L123-L127

As my understand, the filename support in toct

[2018-12-20 19:21] jfbu commented on #4159
Sphinx 2.0 will use GNU FreeFont with ``xelatex``, providing good coverage of Latin, Cyrillic and Greek scripts (as well as Arabic and Hebrew).  This adds new requirement fonts-freefont-otf on Ubuntu xenial or e.g. in Fedora 29 texlive-gnu-freefont.  Perhaps Sphinx 3.0 can then have ``'xelatex'``  as default ``latex_engine``, for non-Japanese projects.

(edit: and make suitable choice of fonts for

[2018-12-20 19:31] #5249 closed, assigned to nobody

[2018-12-21 03:15] shibukawa opened #5844 "How about using issue hunting service"
Subject: how about using issue hunting service

### Problem

* It is a proposal. Issuehunt.io would help reducing issues of this repository.

https://fest2018.issuehunt.io/

My company has an OSS project [vuls](https://github.com/future-architect/vuls) and the repository owner guy @kotakanbe said it was very good.

[2018-12-21 12:11] Asmox opened #5845 "No navigation links to local sections"
Subject: You can also read description on [Stack Overflow](https://stackoverflow.com/questions/53745308/sphinx-doesnt-generate-sidebar-table-of-contents-for-headers?noredirect=1#comment94473559_53745308).
I have only one documentation file - index.rst. Inside I have all my includes of Python source files with annotations. Sphinx doesn't generate navigation links for all kind of sections. No matter

[2018-12-21 12:15] ghost opened #5846 "chm compiler can't deal with hex escaping"
### Problem
If hex escaping (e.g. `&#x27;`) appears in .hhc/.hhk files, chm compiler will simply ignore it.

Sadly, Python 3's [`html.escape(s, quote=True)`](https://github.com/python/cpython/blob/4a9ee26750aa8cb37b5072b2bb4dd328819febb4/Lib/html/__init__.py#L24) function generates a hex escaping `&#x27;` for single quote `'`.

This leading to a compiling issue for Python chm document, please see:

[2018-12-21 16:26] matwei opened #5849 "LaTeX: custom document class ``\maketitle`` is overwritten with no possibility to keep its meaning"
Subject: When I try to access features from \maketitle, I'm limited to the version in sphinxmanual.cls

### Problem

I want to use certain features of \maketitle in srcbook.cls.
In particular I want some text on the backside of the title.
While scrbook supports this and scrbook can be used with Spinx,
the \maketitle command doesn't work as expected.

#### Procedure to reproduce the problem

Create

[2018-12-22 10:13] mgeier commented on #5756
Thanks @tk0miya, it makes sense that it is not documented if it was obsoleted.

I will remove the suffixes from my example: https://github.com/spatialaudio/nbsphinx/pull/272.

[2018-12-23 04:55] tk0miya commented on #5844
+0; I don't feel it helps reducing issues. But it would be nice if developers will receive rewards from this service. Because they already (and will) spent many hours for squashing bugs and improving features. My only concern is whether there are sponsors to us.