[2016-04-21 13:27] tk0miya commented on #2439
@jakobandersen Thank you for your help! I leave this up to you.

[2016-04-21 15:22] nikokio commented on #2413
Wow, yes you're right, I never guessed there were syntax errors in the parsed code because of silence from 1.3.6. I fixed the blocks and 1.4.1 shows no more warnings.

Thanks !

[2016-04-21 15:39] nbedou opened #2479 "Viewcode fails parsing Python 3.5 matrix multiplication operator '@'"
Using:
-  latest Sphinx dev version
-  latest pygments dev version
-  Python 3.5

I obtained the following error when parsing a Python 3 module using the multiplication operator '@':

[code]

Remark: pygments used with command-line tool pygmentize can parse the file.

More details on the following test repo: https://github.com/nbedou/bugviewcode

[2016-04-22 02:08] tk0miya commented on #2465
Fixed at 88322af
Thank you for report!

[2016-04-22 02:08] #2465 closed, assigned to tk0miya

[2016-04-22 02:16] tk0miya commented on #2466
I added new types to `suppress_warnings` at 52c7867.
After this, you can suppress the warnings with following configuration:

[code]

Thank you for reporting!

[2016-04-22 02:16] #2466 closed, assigned to tk0miya

[2016-04-22 05:29] splendido commented on #2465
:+1:

[2016-04-22 15:03] jputrino commented on #2466
Awesome, thanks!

[2016-04-22 16:51] jdemeyer opened #2483 "What does "Any IDs not assiend for figure node" mean?"
Apart from the obvious typo (`assiend`), it is really not clear what the message means. I'm guessing that it means that a figure does not have a number, but that's normal and there should not be a warning for this.

[2016-04-22 19:15] nowox commented on #894
Not sure if adding static entries on the Makefile is a good solution `make latex` and `make ldflatex` should be the only rules to make a LaTeX2e output. Choosing between different engines such as `lualatex` or `xelatex` could be done from the config file.

I think the best solution would be to use `latexmk` for any cases.

[2016-04-22 19:24] asr commented on #894
What about if you want to use/test the different LaTeX engines?

The `xelatexpdf` rule is working very well for generating the Agda documentation (we use a lot Unicode characters).

+1

[2016-04-23 03:18] tk0miya commented on #894
That sounds good. But it requires much refactoring to do that.
Please send us new pull request if possible:-)

[2016-04-23 20:35] marshalc opened #2485 "FileNotFoundError with ext/autosummary when using multiple source_suffix values"
I have (an edge case?) bug with ext/autosummary when using `conf.py: source_suffix = ['.rst', '.md', '.txt']` and then trying to build documents. I'm set up to use a mixture of Markdown and ReST, but find that autosummary makes assumptions about there only being one type of file present and that it needs to add a file extension.

You'll see output like this on the build:

[code]

I'll confess that

[2016-04-24 02:12] #2471 closed, assigned to nobody

[2016-04-24 02:35] tk0miya commented on #2483
Thank you for reporting. Could you tell me how do you get the message? I think this message should be never shown.

[2016-04-24 04:19] tk0miya commented on #2485
Maybe it's a bug. There might be more bugs related with a mixture of multiple source suffix.

[2016-04-24 05:00] tk0miya commented on #2309
Fixed at ad738a0.

[2016-04-24 05:00] #2309 closed, assigned to tk0miya

[2016-04-24 21:20] jfbu commented on #2461
Added a commit  to https://github.com/jfbu/sphinx/tree/footnotes_in_topic_and_tables which deletes `tabulary.sty` from Sphinx-shipped LaTeX packages. Indeed it was included because of a custom fix (see e9aae6563d645f56819e412481b40d21c3a7ba70) related to footnotes (`tabulary` typesets twice, thus the `\footnote` must be disabled either on first or second pass). The commit does the fix inside `foot

[2016-04-25 07:53] jdemeyer commented on #2483
It's quite complicated. It appears when compiling the SageMath documentation with Sphinx 1.4.1. But SageMath uses a very customized Sphinx, so it might be because of that.

[2016-04-25 08:27] jdemeyer commented on #2483
If it helps, the full message is

[code]

and [the document in question](https://github.com/sagemath/sage/blob/master/src/doc/en/thematic_tutorials/sandpile.rst) is one with quite a lot of `..figure ::` directives.

[2016-04-25 13:33] #2088 closed, assigned to nobody

[2016-04-25 17:14] jfbu commented on #2460
For comparison here is output from current stable branch compared to output from current https://github.com/jfbu/sphinx/tree/latex_less_space_above_codecaptions (not yet a PR, as I am not sure myself if really better).

Current stable:

![testtopspace 5](https://cloud.githubusercontent.com/assets/2589111/14792219/956de128-0b19-11e6-8f0e-79fe1ea45ee9.png)

Now, with current https://github.com/jfbu/

[2016-04-25 19:06] jputrino commented on #2443
@jburkhardt -- I'm getting the same error and am using v1.10.0 of six. I got the error in both sphinx 1.4.0 and 1.4.1.

[code]

[code]

[2016-04-25 19:48] nowox commented on #894
I looked at the LaTeX writer/builder and I think I can do some rework, but I need some time to understand the code (which is not very documented).  Here what I would like to improve:
- The LaTeX Makefile is not very written in a make way. The for loop on the recipes should be implemented using patten rules (%.dvi: %.tex)
- An option should be available to put the figures into a figure directory
-

[2016-04-25 19:52] tony opened #2488 "Application object should allow custom builders to be passed in"
At the moment, the `Sphinx` object calls `_init_builder` which checks `self.builderclasses`.

In my situation, I'm calling `Sphinx()` programmatically via python. So far I've only seen custom builders (such as https://github.com/shirou/sphinxcontrib-indesignbuilder/blob/master/sphinxcontrib/indesignbuilder.py) are ones added via extension.  I think this makes it odd to test since its more inclined

[2016-04-25 22:38] jmchilton commented on #2470
~~I've discovered this also - my work around I think will be to install an explicitly older version of typing `typing==3.5.0.1`. There is something fishy with the  python2 source directory of the 3.5.1 branch/tag of typing - but I cannot find any particular diff that is the problem - master branch looks find and 3.5.1 doesn't.~~

Never mind, that doesn't seem to fix the problem.

[2016-04-26 01:24] tk0miya commented on #894
I'm glad to hear that. We always needs your help :-)

Yes, there are many things we have to do.
To improve step by step, it would be better to file these idea as a issue and fix them one by one.
Could you file them please?

Sorry, I don't know that. @shimizukawa Do you have any plan to 1.5?

[2016-04-26 02:04] tk0miya commented on #2256
Sorry for late response.
I reproduce this bug from shared project.

It might come from i18n of admonitions. I can reproduce the bug with giving a `-D language=ko` option to https://github.com/kukgini/bigglesworth.git .

Here is smallest example to reproduce the bug.

[code]

But I don't still get a reason of the bug. I will continue to the investigation.

Thanks,

[2016-04-26 07:47] jburkhardt commented on #2443
Updating the six package solved the issue on my machine.

[code]

Here is the package information:

[code]

I hope this helps you in some way...

[2016-04-26 08:07] lehmannro commented on #2488
Could you give some more detail about your use case?  I'm not yet convinced you cannot call `add_builder` from either your `conf.py` or an extension (which could be added via `Sphinx(confoverrides=)`.)

[2016-04-26 09:48] kellpossible opened #2490 "Crash building latexpdf with javasphinx generated documentation."
I get this error in latex.py when running make latexpdf with documentation generated by javasphinx added to the toctree.

[code]

printing out entries yields:
`[('single', 'Assignment1 (package)', 'package-Assignment1', '')]`

The toctree entry is:
`./apis/Assignment_1/packages.rst`

Not really sure if it's a problem with javaspinx or spinx its self.

Changing line 1565 into this appears to fix th

[2016-04-26 10:41] chriswthorp opened #2492 "Figure directive with :figwidth: generates incorrect Latex-code"
.. figure:: _static/1833-CharlesBabbageDifferenceEngine.JPG
   :align: right
   :width: 25%
   :figwidth: 30%

generates this:

\begin{wrapfigure}{r}{30%}
\centering
\includegraphics[width=0.250\linewidth]{{1833-CharlesBabbageDifferenceEngine}.JPG}
\caption{Figurtittel}{\small
Figurtekst
}\label{bilder:id1}\end{wrapfigure}

Latex chokes on "{30%}", but will accept {0.3\linewidth}.

[2016-04-26 14:36] Taymindis opened #2494 "AttributeError: 'str' object has no attribute 'decode'"
# Sphinx version: 1.4.1
# Python version: 3.5.1 (CPython)
# Docutils version: 0.12 release
# Jinja2 version: 2.8
# Last messages:
# Loaded extensions:

Traceback (most recent call last):
  File "/usr/lib/python3.5/site-packages/sphinx/cmdline.py", line 243, in main
    opts.warningiserror, opts.tags, opts.verbosity, opts.jobs)
  File "/usr/lib/python3.5/site-packages/sphinx/application.py", line 1

[2016-04-26 14:47] tk0miya commented on #2490
Since Sphinx-1.4, we changed internal form of index. It's incompatbile change from 1.3.
Then javasphinx now does not support Sphinx-1.4.

Here is related codes:
https://github.com/bronto/javasphinx/blob/master/javasphinx/domain.py#L190
https://github.com/bronto/javasphinx/blob/master/javasphinx/domain.py#L428

@shimizukawa could you check this please?

[2016-04-26 14:51] tk0miya commented on #2494
It seems the error is happened at your `conf.py`.
Could you check your conf.py, line 272?

[2016-04-26 18:56] tony commented on #2488
@lehmannro: Hey! Hope you're doing well.

I'm building a sphinx-based django site. I need to invoke it pythonically, rather than via Makefile. I have multiple sphinx projects which are going to be generated. So I'm using sphinx to programmatically build a lot of objects with a custom builder, so what I find is I'm entering a false `buildername` just to add it and switch it every time.

Also, since

[2016-04-26 23:09] Balooga commented on #2421
@lehmannro

Just did.  Thanks for the pointer.

https://bitbucket.org/birkenfeld/sphinx-contrib/issues/148/support-for-uml-to-embedd-external-files

[2016-04-27 01:16] tk0miya commented on #2488
No, you don't need to give a fake buildername.
Following code might work well.

[code]

[2016-04-27 02:14] tk0miya commented on #2460
LGTM! Go ahead :-)

[2016-04-27 03:15] tk0miya commented on #2256
Hmm, it might be a bug of jython. The subclass of `unicode` class calls `__str__()` method of its argument instead of `__unicode__()`.

[code]

Of course, cpython calls `__unicode__` and works fine.

[code]

@kukgini Could you report this to jython project?

[2016-04-27 03:32] tk0miya commented on #2434
It seems not a bug of sphinx. So I close this now.
Please reopen if you get any more information about this issue.

Thanks,

[2016-04-27 03:32] #2434 closed, assigned to nobody

[2016-04-27 03:37] tk0miya commented on #2335
It seems not a bug of sphinx. So I close this now.
Please reopen if you get more information about this.

Thanks,

[2016-04-27 05:15] shimizukawa commented on #2256
To reproduce the cause, I wrote a simple test script that independents from Sphinx and docutils.
test.py:

[code]

Result with CPython:

[code]

Result with Jython:

[code]

[2016-04-27 05:25] #2256 closed, assigned to nobody

[2016-04-27 09:24] adrienb4 opened #2496 "Document versioning"
Hi

It is possible to have a versioning of document and go back to old version ?

Thank

Adrien

[2016-04-27 09:34] lehmannro commented on #2488
While it's true that builders are _important_ in Sphinx, they're not magic in any way.  You can add them to your `Sphinx` object just like you add directives, autodocumenters, or anything else.  My main concern with this PR is it's going down a slippery slope (and `Sphinx()` already _has_ a very loaded signature):  If we're adding _another_ way to call `app.add_builder`, why not one for `app.add_c

[2016-04-27 09:39] lehmannro commented on #2496
_Please note this is our issue tracker, used to report deficiencies and discuss possible code improvements.  For usage questions, please see [sphinx-users](https://groups.google.com/d/forum/sphinx-users)._

There is [versioning](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/versioning.py) in Sphinx, but it's not for going back to old versions.  ReadTheDoc's [Versions](http://docs.readthe

[2016-04-27 09:39] #2496 closed, assigned to nobody

[2016-04-27 09:59] yabigfish opened #2497 "searchbox submit button's CSS isn't be suited to CJK"
version: tag 1.4.1

source file: sphinx/themes/basic/static/basic.css_t

div.sphinxsidebar #searchbox input[type="submit"] {
    width: 30px;
}

Should 'width' dynamic configured according to selected language?

[2016-04-27 13:07] tk0miya commented on #2483
Indeed, it's very complicated the SageMath project. I tried to build the docs, but I cannot prepare the environment. I want to investigate where this warnings came from.
Could you give me a minimal sphinx project to reproduce the warnings?
It would be very helpful if we can build docs without building sage.

[2016-04-27 13:40] lehmannro commented on #2483
FWIW, the error comes from: [sphinx.writers.html.HTMLTranslator.add_fignumber](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/html.py#L281).

[2016-04-27 13:48] jfbu commented on #2461
There are some issues with `threeparttable.sty` which expands first the tabular(y) contents before the caption, which means that getting working hyper-footnotes is more complicated than I anticipated (the one from the caption may be permuted with the one from contents; I have only half-fixed that). Some global approach is needed to fix all issues, for example footnotes from figure captions. The br

[2016-04-27 14:13] YVAlNE opened #2499 "Can`t use math extension"
Hello,

I need to use mathamatics in my documentation, therefore i want to use the extension sphinx.ext.imgmath. With sphinx version 1.4.1 it does not work. Same error
[https://github.com/Sylius/Sylius-Docs/issues/420](url)

then  i decided to downgrade my sphinx version now im using 1.3.6 and sphinx.ext.png
`extensions = ['sphinx.ext.autodoc','sphinx.ext.pngmath','rst2pdf.pdfbuilder']`

now i can

[2016-04-27 14:55] jfbu commented on #2499
hi are you indenting correctly ? it should be

[code]

[2016-04-27 14:59] jfbu commented on #2499
by the way I used `extensions =  ['sphinx.ext.autodoc', 'sphinx.ext.pngmath']` in  `conf.py` else with `'rst2pdf.pdfbuilder'` I get

[code]

[2016-04-27 15:07] YVAlNE commented on #2499
Yes indenting is correct.
Before you can use rst2pdf you i think you need to install it first.(use pip)

[https://github.com/rst2pdf/rst2pdf](url)

im working on win 7

[2016-04-27 15:12] tk0miya commented on #2499
The document of sylius tries to load both `sphinx.ext.pngmath` and `sphinx.ext.mathjax`.
https://github.com/Sylius/Sylius/blob/master/docs/conf.py#L6

But these could not work together. Since sphinx-1.4, it gets error by confliction.

FYI: In 1.3.6, either one is only enabled silently.

[2016-04-27 15:15] jfbu commented on #2499
@YVAlNE ok, got fooled by formatting of your post which gobbled initial spaces, sorry. And I realize I had not installed `rst2pdf`, thanks. I think @tk0miya has now explained the real issue ...

[2016-04-27 15:20] tk0miya commented on #2499
Now I added detail error message on confliction detected at b15da47.
It will help people who loads multiple math extensions by mistake :-)

[2016-04-27 15:25] tk0miya commented on #2397
Okay, I close this issue now.
Thank you for reporting and helping!

[2016-04-27 15:25] #2397 closed, assigned to tk0miya

[2016-04-27 15:38] YVAlNE commented on #2499
I think there is an misunderstanding i dont use sphinx.ext.pngmath and sphinx.ext.mathjax at the same time.

*_1. If sphinx 1.4.1 *_
conf.py : `extensions = ['sphinx.ext.autodoc','sphinx.ext.imgmath','rst2pdf.pdfbuilder']`

Console:
C:\Users\mda\workspace\Masterarbeit>make html
Running Sphinx v1.4.1

Extension error:
Config value 'math_number_all' already present

C:\Users\mda\workspace\Masterarbe

[2016-04-27 15:46] jfbu commented on #2499
Even with Sphinx `1.3.6` I can't get successful `make html` with `\begin{equation}/\end{equation}` under the `math` directive. Using `pngmath`:

[code]

(the `make html` needs to do some LaTeX to produce the png images. )I tried this with 2012 dated TeX distribution in case yours is old, but the error is as above.

The earlier error was

[code]

[2016-04-27 15:53] jputrino opened #2500 "AttributeError: 'Module_six_moves_urllib_parse' object has no attribute 'urlsplit'"
Same as #2443, which is closed. Previous reporter said that upgrading six solved his problem, but that doesn't solve it for me (I'm already using six 1.10.0).

[code]

Thanks!

[2016-04-27 16:19] tk0miya commented on #2500
To investigate what version you are using, please append following lines into your `conf.py` and run `make html`

[code]

And then, you'll see the version like this:

[code]

[2016-04-27 16:34] jputrino commented on #2500
(edited)

According to pip, I'm using six 1.10.0:

[code]

According to sphinx, it's using six 1.4.1:

[code]

Any ideas why this would be the case?

[2016-04-27 16:41] birkenfeld commented on #2500
Please do as @tk0miya suggested and print the version from within conf.py.

[2016-04-27 16:52] jputrino commented on #2500
I added six>=1.8.0 to my requirements.docs.txt file, then installed the requirements in a venv; that seems to have fixed the problem. I'm still curious about why sphinx was using a different version than that installed, though.

Thanks!

[2016-04-27 21:05] tony commented on #2488
@tk0miya, @lehmannro Hey guys, I hope all is well!

The scope of this issue is only to add an optional argument for a builder class (#2489). I am open to other solutions. I am also expanding the topic a bit, because I believe I have a different perspective on how I view proposed changes to the internal API.  I am working on a full time project using sphinx internals.

To point out some context: I

[2016-04-27 21:30] #2460 closed, assigned to jfbu

[2016-04-27 21:30] jfbu commented on #2460
fixed by b2b8fa41a59d4ac6a4327a6c126abcf3e0b7a44a

[2016-04-27 22:13] gplanansky commented on #2483
Using the mac port sphinx-build 1.4 (py27) and mathjax, I get that "WARNING: Any IDs not assiend for figure node" message if, as below, I have a figure caption that leads with ":math:`x`".

[code]

If I prefix the figure caption with text, "foo:math:`x` as below, I get no such warning:

[code]

If the latex expression is an empty field, ":math:``", as below, I also get no warning:

[code]

[2016-04-27 22:20] lehmannro commented on #2488
Hey @tony, I appreciate your input.  I remain unconvinced the current API is lacking and the proposed solution is an improvement.  I'd ask you to work with us and find another solution to help your use case.

What makes you say that?  If advice from two Sphinx core developers doesn't convince you this is indeed the canonical solution, I'm not sure what would.

If you look at the [existing third-pa

[2016-04-28 02:31] tk0miya commented on #2488
FYI: I made an example program for registering a builder through confoverrides.
https://github.com/tk0miya/example_for_register_builder

I wish this helps you! (Sorry, I don't have enough time to discuss with you in this morning)

[2016-04-28 03:11] ssanderson commented on #1724
I was looking through the docs today hoping that something like this existed.  Another possible syntax for this would be to support `:obj:`top.module.~submodule.Class``, with only the text after the `~` being rendered.

I'd be happy to take a crack at implementing this.  Is there a straightforward place to look for where the changes for this would have to be made?

[2016-04-28 03:41] tony commented on #2488
#### HEY! :smile:

This thread went off the hooook!

@tk0miya, Thank you for that example! No worries. I will follow up sensei.

@lehmannro I mailed you off list to clarify a few points.

[2016-04-28 03:59] tk0miya commented on #2499
It's strange a bit.

[code]

This message says the config value `math_number_all` is registered twice.
Usually, this comes from multiple math extentions are loaded at same time.

Could you show me whole of your conf.py?

It is wrong usage. Could you read the reference manual?
http://www.sphinx-doc.org/en/stable/ext/math.html

[2016-04-28 07:34] YVAlNE commented on #2499
[code]

[2016-04-28 11:37] agamalisa commented on #2150
andrea, that's a very nice addition, but as I'm new to sphinx, I don't really understand how you hook that into your sphinx. I've read up on how to write a module and how to add directives, but it still doesn't work. How did you do it?

[2016-04-28 15:08] asr opened #2501 "Wrong LaTeX generation of Unicode numerical subscripts in code examples"
For example, the inline code ``Foo₁`` is generated as `\code{Foo1}` instead of `\code{Foo₁}` when using `make latex`.

Tested with Sphinx  1.4.1.

Blocking https://github.com/agda/agda/issues/1953.

[2016-04-28 15:17] asr commented on #2501
I fixed the example in the OP.

[2016-04-28 19:47] asr commented on #2501
I only could  reproduce the issue using the numerical subscripts `₁` or `₂`. Weird!

[2016-04-28 21:01] bjb opened #2502 "appendix handling"
The conf file keyword and handling for appendix files is different between epub, info and pdf files, and there is no keyword for appendices in html.

It would be awesome if they could all be treated the same way.

eg, epub_post_files takes tuples and you name the rst files.  but latex_appendices and texinfo_appendices take a list of names, and it is not clear if these are extensionless names of .r

[2016-04-29 09:39] georgefx opened #2504 "make clean destroys data with BUILDDIR = ."
`make clean` wipes the entire documentation if `BUILDDIR = .`.

The Makefile rule for clean is

[code]

Thus, it expands to `rm -rf ./*` and deletes everything in the current directory. Even worse, if `BUILDDIR =`.

**Expected Behaviour**
The spinx-doc makefile should only delete files and directories generated by sphinx-doc.

**Proposed Fix**
Generate a list of output files and directories in sph

[2016-04-29 17:38] tylerbutler opened #2505 ":orphan: field causes WARNING: Field list ends without a blank line; unexpected unindent."
This is easy to reproduce; simply create a new RST file in your sphinx project that looks something like the below, but is not contained in any toctrees:

[code]

When you do a build, you'll see a warning like this:

[code]

Sort of defeats the purpose of the field, since I'm just trading one warning (`WARNING: document isn't included in any toctree`) for a different warning.

[2016-04-29 18:41] barbara-sfx commented on #2505
Why don't you just add a Return after the TODO line? I think that fixes it.

[2016-04-29 18:48] barbara-sfx commented on #2505
P.S. Thanks for asking the question. I didn't know about :orphan: and now I have finally gotten rid of all those stupid warnings.

[2016-04-29 18:53] tylerbutler commented on #2505
@barbara-sfx That does not fix it, at least not in version 1.4.1. The attached file reproduces this for me (rename the extension if needed depending on your Sphinx config).

[foo.rst.txt](https://github.com/sphinx-doc/sphinx/files/243028/foo.rst.txt)

[2016-04-29 21:12] barbara-sfx commented on #2505
I'm in 1.4 and it works for me. I put your file in my project and didn't get any errors when I built it. Now I'm afraid to install 1.4.1. Not that I even knew it existed until just now.... Actually I tried without that Return at the end and didn't get an error. Did you try make clean html? Other than that, I've reached the limit of my expertise. Sorry.

[2016-04-30 00:08] Taymindis commented on #2494
def **init**(self, dirname, filename, overrides, tags):
         self.overrides = overrides
         self.values = Config.config_values.copy()
         config = {}
         if 'extensions' in overrides:  # XXX do we need this?
             if isinstance(overrides['extensions'], string_types):
                 config['extensions'] = overrides.pop('extensions').split(',')
             else:

[2016-04-30 05:15] cnobile2012 opened #2506 "Seem to be having issues using `edit_on_github`"
I get a traceback when I try to create the html. This has happened on two different project the other one was with Python 2.7.

[code]

[2016-04-30 12:05] jfbu opened #2507 "French lists in LaTeX-PDF output cause vertical space problems"
For LaTeX, the default French language latex package modifies spacings of lists. In particular when a list is started in a paragraph, the parskip is suppressed on top and below.

This impacts Sphinx documents, because the way this is done by the `frenchb` language for LaTeX `babel` package, at the bottom of the list, the pen moves back vertically by parskip (6pt typically as Sphinx documents use `

[2016-04-30 12:35] lehmannro commented on #2504
I think that's a classic case of _Garbage In Garbage Out:_ We put everything inside of `$BUILDDIR` _specifically_ so that we can just throw away the whole directory afterwards.

In order for your proposed fix to work, we'd need to record all files written during build.  That'd require introducing a new file access layer for builders (they currently use raw `open`) and changing all of them.  There

[2016-04-30 22:38] tk0miya commented on #2483
@gplanansky Thank you for good information! I found the cause of warnings.
It comes from the figure having non text objects (like math) only.

I fixed it at 7ebe570.

Thank you all for reporting and helping!

[2016-04-30 22:38] #2483 closed, assigned to tk0miya

[2016-04-30 23:13] gplanansky commented on #2483
You are most welcome, I am glad it helped track it down.  And, thank _you_,
very much, for so ably and so greatly contributing.

On Sat, Apr 30, 2016 at 6:38 PM, Takeshi KOMIYA notifications@github.com
wrote:

[2016-05-01 04:43] tk0miya commented on #2505
I could not reproduce the issue with following steps too:

[code]

It might another settings or configurations are needed to reproduce this.
Could you check it again please?

[2016-05-01 04:46] tylerbutler commented on #2505
Thanks; I'll try to repro on a fresh virtualenv with just Sphinx installed. Then I'll try it with a fresh clone of my repo and see if it repros there. I'll let you know what I find.

[2016-05-01 04:48] tylerbutler commented on #2505
BTW, in case it matters, I'm on Windows Server 2012 R2.

[2016-05-01 05:04] tk0miya commented on #2499
Thanks, I found the problem.
It is caused by `rst2pdf` package. In `rst2pdf.pdfbuilder:setup()`, it calls `mathbase.setup()` internally to install dummy math module. It causes conflicts and raise errors.

I don't know why rst2pdf does such works. But, as a result, `rst2pdf` breaks math rendering in HTML. In Sphinx-1.3.6 and following configuration, mathjax does not work; equations are rendered as

[2016-05-01 05:04] #2499 closed, assigned to nobody

[2016-05-01 05:24] tk0miya commented on #2500
I'm interested in that too.
The error means that six-1.3.0 or older version was installed into the environment. Because `six.moves.urllib_parse` module is introduced since six-1.4.0.

But it is strange. Now Sphinx-1.4 depends on six-1.4.0 and newer.

Anyway, I close this issue because this is not a bug of sphinx.
But please reopen if you find any infromation to reprocude the issue.

Thank you for

[2016-05-01 05:24] #2500 closed, assigned to nobody

[2016-05-01 06:31] jfbu commented on #2507
Fixed at 57149d3

[2016-05-01 06:31] #2507 closed, assigned to nobody

[2016-05-01 11:05] nowox opened #2510 "Smart copy content of latexfiles and sources"
Currently, sphinx recopies all the LaTeX files (figures/texfiles/extras) as showed below:

[code]

I imagine a more sophisticated approach with a `copy` function that only copy a file when the content differs.

[code]

I am not sure about the name of this method and whether to put it on the LaTeX builder class.

[2016-05-01 11:10] nowox opened #2511 "Improve LaTeX makefile"
The current LaTeX makefile does not really follow the make philosophy. Generic rules can be written instead of shell `for` loop:

[code]

I guess this is way better:

[code]

The whole makefile might be rewritten according to my remarks...

I think I'll do it if you guys agree with me.

[2016-05-01 11:19] nowox opened #2512 "Use jinja templates for LaTeX output"
The main LaTeX document is partially hard-coded in the LaTeX writer using directives such as:

[code]

Sphinx currently accepts two standard classes: `manual` and `howto`. Back compatibility can be preserved forcing the these two classes to use the same template `default.tex`.

I am thinking to modify the `astext` method (showed below) to load a jinja2 template where tags such as `%(docclass)s` ar

[2016-05-01 11:23] nowox opened #2513 "Offers a config option to choose the default LaTeX engine"
Sphinx currently uses two LaTeX engines: `latex` and `pdflatex`. They are called from the main `Makefile` with the rules `latex` and `latexpdf`.

I read some users would like to use a different engine such as `lualatex` or `xelatex`. I don't think adding a new recipe on the main Makefile is a good solution. Instead I would add a latex option to choose both the LaTeX engine and the build options.

[2016-05-01 13:44] jfbu commented on #2513
The default font setup is to use T1 encoded 8bit fonts Times, Helvetica and Courier (via package `times`). There are hyphenation issues when compiling such documents with `xelatex` for example in German:

Quoted from http://www.texdev.net/2015/01/

Besides, neither XeLaTeX not LuaLaTeX render mathematics exactly as classic TeX: there are (subtle) differences. Arguably this is however marginal and

[2016-05-01 15:33] TimKam commented on #2463
Given the following meta statement:

[code]

Now, the script adds:
- `pleasefindthiskey`, `pleasefindthiskeytoo` for English
- `bittediesenkeyfinden` for German
- `backup` for all languages

However, it might be good to implement i18n support for meta tags in addition.

Feedback is very much appreciated.

[2016-05-01 23:41] #2374 closed, assigned to RobRuana

[2016-05-02 02:05] tk0miya commented on #2501
This comes from escaping process for LaTeX:
https://github.com/sphinx-doc/sphinx/blob/1.4.1/sphinx/util/texescape.py#L50

I don't know why subscript numbers are normalized.

Anyway, I fixed it at 488ee52.
Thank you for reporting.

[2016-05-02 02:05] #2501 closed, assigned to nobody

[2016-05-02 02:12] asr commented on #2501
Thanks for fixing the issue.

[2016-05-02 02:55] #2335 closed, assigned to nobody

[2016-05-02 08:29] jfbu opened #2517 "wrong bookmark encoding in PDF if using LuaLaTeX"
Steps to reproduce create a Sphinx projet with file `index.rst`:

[code]

Do `make latexpdf PDFLATEX=lualatex`. Open the PDF in a viewer and open the bookmark panel:

![capture d ecran 2016-05-02 a 10 17 15](https://cloud.githubusercontent.com/assets/2589111/14950081/36c13914-104f-11e6-93a3-151f0c13fe7c.png)

(the issue is independent of project language English or French for example)

There is no

[2016-05-02 08:57] jfbu commented on #2517
In fact I don't know what the `\special{pdf:tounicode ...}` does and whether it really concerns bookmarks. At any rate one could already do:

[code]

Or one could perhaps use `pdfencoding=unicode` option always: but I don't know to test `make latexpdfja` ...

[2016-05-02 09:04] jfbu commented on #2517
Notice for clarity that the `pdfencoding` option to `hyperref` only concerns the encoding used for the bookmarks. There are three possibilities: `pdfdoc` which works only for a subset of latin1 encoding (244 characters), `unicode` which uses `UTF-16BE` (except that the job is left to  `xetex` if used), and `auto` which uses the `pdfdoc` encoding when the character string contains only characters a

[2016-05-02 10:14] ssbarnea opened #2518 "WARNING: intersphinx identifier 'requests_oauthlib' is not alphanumeric"
It seems that intersphinx expects only alphanumeric identifiers but that's clearly incompatible with python module naming conventions.

For example I have the `requests-oauthlib` package that installs the `requests_oauthlib` python module and I want to be able to inter-link with it.

How am I supposed to make this work because, so far its seems that I cannot use any of these notations and I suspec

[2016-05-02 12:57] jfbu commented on #2513
Just an add-on regarding using `xelatex` for example as default. I mentioned in my previous comment that if the default engine is XeTeX or LuaTeX, the default fonts must be OpenType fonts too.

I misleadingly said I was not aware if some fonts were universally found on all OSs, I had forgotten that
for some years now, there is a choice which is available from TeXLive or MikTeX, but I don't know ab

[2016-05-02 13:03] jfbu commented on #2513
regarding the OP, I forgot to comment the obvious: one can already do `make latexpdf PDFLATEX=lualatex` for example (or  `xelatex`). But it is true that a `make lualatex`, `make lualatexpdf` could be the opportunity to use different default set-up with `fontspec` replacing `fontenc`, dropping  of `inputenc` and package `times` for using OpenType default fonts rather.

[2016-05-02 14:21] lehmannro commented on #2518
From your comment it seems like your report is based on suspicions instead of actually trying it out.

The key in intersphinx_mapping is not the same thing that's used in `py:mod` — it is a "unique identifier [that] can be used to prefix cross-reference targets, so that it is clear which intersphinx set the target belongs to," as explained in [the intersphinx documentation](http://www.sphinx-doc.o

[2016-05-02 15:59] mitya57 opened #2519 "Typing-related tests failure with latest Python 3.5 snapshot"
One of the tests fails with the latest Python 3.5 snapshot (what will become 3.5.2):

[code]

Apparently since python/typing@abefbe4a72654e7e385944848b0158969ee33d2e `typing.List[int].__parameters__` is an empty tuple rather than a tuple containing `int`.

On a related note, they changed (in the same commit) the syntax of strings returned by `__repr__` so it is now incompatible with what Sphinx us

[2016-05-02 16:04] mitya57 commented on #2519
Cc @vlasovskikh

[2016-05-02 22:53] michaelaye opened #2521 "quickstart makefile error catch for "Command not found" not working correctly."
I have my dev setup running on 2 different machines, and recently started to dabble with Sphinx. When I swapped machines, I forgot to install sphinx on the 2nd machine.
Instead of being told that the `sphinx-build` command was not found though, I got the most mysterious (well, I'm not good with Makefiles) error:

[code]

After looking at line 12:

[code]

it dawned on me, that I forgot to install

[2016-05-03 11:08] wwguo opened #2522 "sphinx.mo permission error"
I encounter with the following error.

[code]

Here is the permission of files.

[code]

[2016-05-03 12:20] tk0miya opened #2523 "LaTeX raises error for labeled code-block"
Since 66fdb340f7f82ee57709f754eb732a24e9607bc5 (for #2507), following reST code causes an error.

[code]

Error message is here:

[code]

@jfbu It seems this is a side effect of 66fdb340f7f82ee57709f754eb732a24e9607bc5. Could you check this please?

[2016-05-03 12:55] jfbu commented on #2523
Sorry about that. The `\addvspace` raises such a mysterious error when it is used in a paragraph. This was the case here because the produced `.tex` file had no blank line before the start of the `Verbatim` environment. Wil be fixed by PR #2524

[2016-05-03 13:08] jfbu commented on #2523
Fixed at e093846dccc778a903fb59740c48fcd0789316d4

[2016-05-03 15:41] brechtm opened #2525 "For some projects, the toctree_only flag in latex_documents has no effect"
I'm trying to obtain similar output from my [rinohtype](http://www.mos6581.org/rinohtype/) builder as what the LaTeX builder produces. I'm running into either something I don't understand, or a bug.

For [Jupyter's documentation](http://jupyter.readthedocs.io/en/latest/), `toctree_only` is not set in `conf.py`, yet the LaTeX builder acts as if it was set to `True`; the top-level section title "Pro

[2016-05-03 15:52] brechtm commented on #2525
I am indeed misunderstanding things. I thought the `toctree_only` flag also had an effect on the removal of the top-level section title, but that doesn't seem to be the case...

I believe the top-level section title is always being removed by the LaTeX builder. Is that correct?

[2016-05-03 16:24] tk0miya commented on #2523
confirmed! Thank you for quick response :-)

[2016-05-03 16:24] #2523 closed, assigned to jfbu

[2016-05-03 16:34] tk0miya commented on #2492
Fixed at 4789ef8.
Thank you for reporting!

[2016-05-03 16:34] #2492 closed, assigned to tk0miya

[2016-05-03 22:54] anirbanroydas opened #2526 "ReadTheDocs+Sphinx : sphinx documentation of my github repo not building on ReadTheDocs"
I have been trying to build my github repo having sphinx documentation files on readthedocs.org to host it there, but every time it is giving me this error:

**NOTE  :**  I have already tried to do `make html` and found it to be working locally.
**Github repo :** [https://github.com/anirbanroydas/sphinxSimDoc](https://github.com/anirbanroydas/sphinxSimDoc)

**The following build process and error

[2016-05-04 16:23] TimKam commented on #2449
@alpharder I created a minimal working example based on your RST snippet. There, everything works fine.

[2016-05-04 20:09] alpharder commented on #2449
@TimKam Thanks for your reply. The full RST of the page can be found here: https://raw.githubusercontent.com/cscart/docs/4.3.x/user_guide/look_and_feel/changing_attributes/store_closed.rst

However, our documentation is large and this is not the only article that faces the issue described above. Can the issue be caused by the fact that we have hundreds of articles?

[2016-05-04 20:47] brianjking commented on #2526
@anirbanroydas Looks like it's failing not in the html deployment, but in the PDF or ePub creation on readthedocs.org. Have you tried to create this locally? Have you disabled PDF & epub on readthedocs.org to see if you can deploy without those features?

[2016-05-04 21:40] kiwifb commented on #2522
I was wanting to open a similar issue here. We encountered a similar problem in sage-on-gentoo in issue https://github.com/cschwan/sage-on-gentoo/issues/416. My diagnostic is that the system folder for .mo is not skipped when it should. My solution is https://github.com/cschwan/sage-on-gentoo/blob/33f4d5e220006f1a4848dd40a1d75d47838d1211/dev-python/sphinx/files/sphinx-1.4.1-locale_dir.patch
but I

[2016-05-04 22:33] TimKam commented on #2449
With just this file, it's still fine. Are you able to break the problem down to a clean build that includes not more than a handful of short articles?

[2016-05-05 00:02] shimizukawa commented on #2522
sphinx.po under installed sphinx/locale directory have to be excluded from `compile_catalogs` target. I'll fix it.

[2016-05-05 01:23] kiwifb commented on #2522
I see, so my fix is overly broad, which is something I was afraid of.

[2016-05-05 01:50] hqmonaro commented on #1725
Are you seeing locale errors like the one below along with the 'ascii' codec error?

[code]

I had to enable the en_US.UTF-8 locale to solve this. On Arch Linux I uncommented the above entry from `/etc/locale.gen` and executed `sudo locale-gen`. After doing this I had no issue.

[2016-05-05 03:39] JohnVillalovos commented on #971
I put up a pull request to do this:

https://github.com/sphinx-doc/sphinx/pull/2527

[2016-05-05 06:11] anirbanroydas commented on #2526
@brianjking  Yes you are right, I did not try `make latex` or `make latexpdf` locally. So I went ahead and tried those commands and I get the same error locally.

Moreover, even with those build errors in readthedocs, since my html is successfully built, so the html site is accessible. Since I have enabled pdf in readthedocs, its trying to build latex too, and I am sure disabling those will give m

[2016-05-05 07:18] tk0miya commented on #2526
Thank you for reporting. I could reproduce the issue with your repository.
This issue is caused by the section having only images.

I fixed this at 7c0b7e1.

Thanks,

[2016-05-05 07:18] #2526 closed, assigned to tk0miya

[2016-05-05 07:36] tk0miya commented on #2449
In my envrionment, I can also search the document::

[code]

Searching results:
- close storefront: Matched
- "close storefront": Unmatched
- Access key to temporarily closed store: Matched
- "Access key to temporarily closed store": Unmatched
- Settings → General: Unmatched
- Settings General: Matched

It seems quoted keywords do not work. But it almost work fine.

Could you check your results an

[2016-05-05 07:43] anirbanroydas commented on #2526
@tk0miya  Thanks for fixing. What did you mean by **"you could reproduce the issue with my repository"**?

[2016-05-05 08:04] tk0miya commented on #2521
Sorry for inconvenience. This comes from #1024. It seems this is unexpected behavior.
But I don't know the good way to fix this.
@techtonik @shimizukawa Do you have any idea to fix this error?

Thanks,

[2016-05-05 08:35] shimizukawa commented on #2521
The feature depends on GNU make functionality, so it doesn't work with BSD make.
IMO, we should remove the friendly message to keep simple. Simple way is not friendly than now, but it is not confusable.

[2016-05-05 13:09] techtonik commented on #2521
Those system-dependent runners should be replaced by Python script.

[2016-05-05 13:10] techtonik commented on #2521
I don't know why there is Makefile dependency at all. If somebody needs cross-platform Pythonic solution, it is better use SCons etc.

[2016-05-05 15:28] tk0miya commented on #2526
It means I reproduced the issue with your repository located at https://github.com/anirbanroydas/sphinxSimDoc .
I downloaded and builded it locally. And then I get the same error.

[2016-05-05 15:35] shimizukawa commented on #2522
Fixed. @wwguo @kiwifb please check a changed behavior with latest stable code if you have chance.

[2016-05-05 15:44] tk0miya commented on #2510
MEMO: #1916 is similar to this.

[2016-05-05 15:48] tk0miya commented on #2511
That's a good point :-)

[2016-05-05 16:39] anirbanroydas commented on #2526
Okay. Thanks a lot. I'll upgrade sphinx once the bug fix is released.

[2016-05-05 20:07] cmdcolin commented on #2445
I might want to apply replacements in markdown for example (using recommonmark or similar), so it would be actually nice to preserve some way to do replacements on non RST.

I wasn't actually even getting the rst_epilog to work on markdown though so I am not sure if it's just me or not but this would be a nice-to-have for markdown :)

[2016-05-05 21:36] kiwifb commented on #2522
Fixes the issue for me.

[2016-05-06 01:20] shimizukawa commented on #2522
@kiwifb Thanks!

[2016-05-06 02:17] tk0miya commented on #2488
Now I close this issue.
Please reopen again if you want to discuss more.

Thanks,

[2016-05-06 02:59] tk0miya commented on #2525
Yes, you're right. The top-level section is always removed on latex builder. And `toctree_only` option ignores non-TOC tree elements on startdocs. The reference manual says:

I don't know why and it is a bit strange to me. But LaTeX builder behaves like that since 0.3 (ref: 9fc2a9b7ad3421c8e7db4e64986413689a6d7c22).

[2016-05-06 05:51] wwguo commented on #2522
Fixes for me too. Thanks!

[2016-05-06 05:51] #2522 closed, assigned to shimizukawa

[2016-05-06 09:06] lehmannro commented on #2488
I don't think the discussion here was finished, albeit the original goal of allowing "custom builders to be passed in" has now changed.

[2016-05-06 09:12] lehmannro commented on #2488
_(My reply from our off-list discussion.)_

My one and only concern with this PR is API design.  The `sphinx.application.Sphinx()` object is part of our external contract with developers such as you, and isn't something hidden in a dark shed where we don't care about design questions.  There are three reasons I consider this change bad, or at least trending towards a bad direction:
- **Clarity**:

[2016-05-06 14:00] eshellman opened #2528 "include license in pdf and epub products"
The sphinx documentation does not even comply with its own license!

This is an issue both for the sphinx documentation and the documentation system. If you look at the documentation output for sphinx itself, there is no indication of the license (which appears to be BSD based on the license on this repo) but only an "All Rights Reserved" copyright statement. This can results in overly restrictive

[2016-05-06 17:48] mgifford commented on #2371
Epubcheck is at Version 4.0.1 now I think.

Here are some of the errors I'm getting.

WARNING: Irregular DOCTYPE: found '-//W3C//DTD XHTML 1.0 Transitional//EN', expecting '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">'. in epub-cover.html
WARNING: hyperlink to resource outside spine '_images/noun_5983_cc.svg' in principles.html on line 21

ERROR

[2016-05-06 17:49] mgifford commented on #1376
Not sure if we should close this issue and move to this other one:
https://github.com/sphinx-doc/sphinx/issues/2371

[2016-05-07 10:48] tony commented on #2488
I'd like to expand on that.

I've tried this last week and found it breaks a lot of tests. It seems mostly due to test infrastructure around the class assuming builder will be ready.  There are so many cases where tests infer builder is already set up. It makes it difficult to separate if its merely breaking test behavior or could break other things.

What do you think about this approach? It look

[2016-05-08 01:39] jcea opened #2530 "make latexpdf and hiperlinks: "LaTeX Error: Counter too large.""
Sphinx 1.4.1 here. Latex as included in Debian Jessie.

After spending many hours trying to isolate a minimal testcase, I have this file:

[code]

When doing "make latexpdf" I get this error:

[code]

If I have less that 27 links, no problem. If I have more but no "warning" directive, no problem.

With my configuration, hiperlinks are converted to footnotes. That is, "latex_show_urls = 'footnote'"

[2016-05-08 01:43] jcea opened #2531 "make latexpdf: Repeated footnotes for repeated links."
When I have a document with several repeated links, I have "latex_show_urls = 'footnote'" in my "conf.py", the generated pdf will contain a footnote per link in the document. I would expect Sphinx to create a footnote for every DIFFERENT link only.

Example:

[code]

"make latexpdf" will generate a document with 27 footnotes, instead of a single footnote referenced from 27 places inside the docume

[2016-05-08 16:12] TimKam commented on #1618
The search results would be much better if one:
- removed all markup (i.e. headings, images, bold and italic print) when building the .txt files.
- built the .txt files as part of the normal html build and places them in the `_sources` directory of the build.

Is there any downside in doing this by default?

[2016-05-08 17:27] lehmannro commented on #1618
I'm pretty sure lots of machinery in Sphinx assumes there's only ever one build happening per runtime, so doing `text` as part of `html` might be both, wasteful in terms of build time and complex to implement.

[2016-05-08 17:46] TimKam commented on #1618
Thanks for the info. Regarding the build of the txt file, a small customization of the makefile can do the trick.

Still, it would be nice if one could produce more "search-friendly" .txts. What do you think?

Currently, we run some custom script to remove the remaining markup.
I suppose this might be a relatively common problem Sphinx users have.

[2016-05-09 01:11] #2304 closed, assigned to nobody

[2016-05-09 13:18] brianjking commented on #2386
Okay, I figured out the "Edit on Github" portion a while ago and thought I'd share my fixes here for anyone else looking to accomplish this.

I've also documented this on my [StackOverflow](http://stackoverflow.com/questions/36019670/removing-the-edit-on-github-link-when-using-read-the-docs-sphinx-with-readthed/36723647#36723647) question.

Assuming you're using the ReadTheDocs default theme this

[2016-05-09 13:18] #2386 closed, assigned to nobody

[2016-05-09 18:24] tony commented on #2488
After peeking more deeply, I've created a proof of concept for moving `self._init_builder` to `self.build`. https://github.com/tony/sphinx/tree/defer-init-build

[code]

With two examples I've tried, one, my "programatic" access of Sphinx with the custom builder, as well as doing as `make html` with another sphinx project ([tmux](https://github.com/tony/tmuxp)), both were able to build fine.

We'v

[2016-05-10 09:22] andreacassioli opened #2535 "weird alignment"
I have a code like this:

[code]

All ref point to sections, whose titles are uppercase names (fairly long indeed).

I generate tex for it, which is

[code]

Strangely the final output shows me padded test as shown below

![screenshot from 2016-05-10 11 22 08](https://cloud.githubusercontent.com/assets/6704112/15141677/8079566a-16a1-11e6-879f-6dd1757da3d7.png)

Is it intended? That looks ugly!

[2016-05-10 13:33] vitaut opened #2536 ""assert parentSymbol" when referring to a non-existent symbol in the C++ domain"
The following code

[code]

causes an assertion failure:

[code]

The full log is

[code]

Removing `.. cpp:namespace:: foo` makes assertion go away.

[2016-05-10 19:48] jfbu commented on #2530
HI, this is caused because the warning type admonition is done in `1.4.1` using a minipage. The good news is that current stable branch for 1.4.2 does not use a minipage anymore. The bad news is that it still uses minipage numbering for footnotes, which uses letters hence crashes beyond footnote number 26. Thus your issue will happen still with 1.4.2 (if nothing is changed until release). To go ar

[2016-05-11 09:39] Rutzmoser commented on #2479
I have the same issue. It does not show up with Sphinx 1.3.1 but all subsequent releases.

[2016-05-11 18:13] cdwilson opened #2537 "ReST external links not working with sphinx.ext.napoleon"
I tried the napoleon extension for the first time using the example from http://www.sphinx-doc.org/en/stable/ext/example_numpy.html#example-numpy and I'm getting the error:

`example_numpy.py:docstring of sphinxtest.example_numpy:3: ERROR: Unknown target name: "numpy documentation howto".`

However, if I move the target `.. _NumPy Documentation HOWTO:` before the reference, the error goes away:

[

[2016-05-11 18:29] cdwilson commented on #2537
Adding an additional empty line after the attributes section appears to fix this issue:

[code]

Is there a requirement to have 2 or more blank lines after each section?

[2016-05-12 10:27] zsquareplusc commented on #2536
Getting this error too with Sphinx 1.4.1. Worked fine in Sphinx 1.3.4 which I had installed previously. Now it crashes when outputting the files, not even producing an usable documentation.

[code]

[2016-05-12 19:09] alflanagan opened #2539 "TypeError: Cannot change parameter count from 1 to 3"
Attempting to autogenerate docs for a module with type hinting. See output below, and attached error log, conf.py, and index.rst.

May be related to sphinx-doc/sphinx#2519

[code]

[sphinx-err-6va5a25y.txt](https://github.com/sphinx-doc/sphinx/files/262067/sphinx-err-6va5a25y.txt)
[sphinx_config.zip](https://github.com/sphinx-doc/sphinx/files/262078/sphinx_config.zip)

[2016-05-13 00:30] jakobandersen commented on #2536
Thanks for reporting! The issue was with lookup of nested names where two consecutive names are the same (e.g., "foo::foo" and "PhonyNameDueToError::PhonyNameDueToError").

[2016-05-13 00:30] #2536 closed, assigned to nobody

[2016-05-13 00:32] RobRuana commented on #2537
Thanks for reporting, I'll look at the docs as soon as I get a chance!

[2016-05-13 09:31] andreacassioli opened #2540 "date on latex front page use different font"
I have noticed that the project year displayed on the front page of the latex doc uses a different font than the one used for the title

![screenshot from 2016-05-13 11 19 07](https://cloud.githubusercontent.com/assets/6704112/15243549/8fba3740-18fc-11e6-8234-ea8560dac46d.png)

In my `conf.py`

[code]

I set `fontpkg` to `''` so to use Computer Modern fonts. My guess is that setting does not appli

[2016-05-13 15:12] Drachenfels opened #2541 "Sphinx 1.4+ and block literals in Returns with sphinx-napoleon don't work anymore"
Hi guys,

I am not perfectly sure if it's bug, or some change that I didn't catch after reading changelog.

I am using this example as template:

http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

To be exact this part of the guide:

The `Returns` section supports any reStructuredText formatting, including literal blocks::

My code looks as follows (documentation of functi

[2016-05-13 17:15] jfbu commented on #2540
The date uses the document "roman" font, whereas the other things use the bold sans-serif document font (aka `\py@HeaderFamily`). As a work-around to get this to be used for the date too :

[code]

or, simpler, `'\\sffamily\\bfseries\\maketitle\\normalfont'` which does the same thing if you don't customize from the preamble the `\py@HeaderFamily` macro.

[2016-05-13 17:50] jquast commented on #2429
As the author of the random code on the internet in question, I apologize!

(Unfortunately I posted using an anonymous account on stack overflow, I cannot revise or fix this answer.)

[2016-05-13 20:42] andreacassioli commented on #2540
Thank you it works!
I didn't realised I could use that option.

However I find a bit misleading that changing the font affect the title but not the date! Isn't it a bug somehow?

[2016-05-13 20:55] jfbu commented on #2540
This is how `\maketitle` is defined in `sphinxmanual.cls` and `sphinxhowto.cls`. Arguably, the date should also have been typeset using `\py@HeaderFamily`.

Perhaps it is a bug, but on the bright side this feature allows us to customize separately the font for date, although it is in the non obvious way I indicated.

[2016-05-14 02:36] hamishwillee commented on #2429
@jquast I read a sarcastic post somewhere that: "code you find somewhere on the internet is always better than well crafted code you create yourself". In other words "buyer beware". Your code snippet certainly saved me a bit of time.

[2016-05-14 13:57] jwilk opened #2544 "Bad regexp in Chinese search"
Hi @enhao!

`sphinx/search/zh.py` contains this:

[code]

But the `\u` sequence is supported by the re module only since Python 3.3. In previous versions this regexp is equivalent to:

[code]

which is definitely not what you wanted.

But even in Python 3.3+, the regexp looks dubious to me. The variable name is `latin1_letters`, but the regexp matches a sequence of (not necessarily Latin 1) alphan

[2016-05-14 16:51] andreacassioli commented on #2540
Sure,
I understand.

My point is that either it is clear from the docs that  fontpkg does not affect the date, or the date must have the same font as the title.

Customizing is always good, but the default behavior in this case seems counter intuitive to me.

[2016-05-14 19:13] cesarcruz commented on #979
@shimizukawa have you tried with this `sphinx-apidoc -o docs . tests/*`? it seem to works.

[2016-05-14 21:22] pburdine commented on #2167
I see the same thing.

For example:

[code]

In other places I used rst replacements like:

[code]

In the first example, in the PDF output it shows up like a normal code block (black border, syntax highlighting, etc), but the second example doesn't

In the .tex file for the marked up parsed-literal it looks like:

[code]

But in the parsed-literal with the substitution, it renders like:

[code]

[2016-05-15 01:14] shimizukawa commented on #979
Thanks. (but this is not my posts. I just copied them from Bitbucket.. anyhow, thanks!)

[2016-05-15 17:29] twmacro commented on #2479
I get this too. I rolled sphinx back to 1.3.1 ... but is there a work-around for later versions?

[2016-05-16 02:25] eshellman opened #2545 "epub spine and toc are in different order"
epubs built by sphinx cannot be loaded to KDP (Amazon) because the spine and toc are not in the same order. The issue is discussed here: http://www.mobileread.com/forums/showthread.php?s=87209496c36420aee0544932c0aa2c0f&t=254453&page=2

It looks to me like the best way to fix this by generating the spine in sphinx.builders.epub.EpubBuilder.build_navpoints and passing it to sphinx.builders.epub.Epu

[2016-05-16 07:14] andreacassioli commented on #2018
Sounds no one reacted on this. I will close the issue.

[2016-05-16 09:28] mgifford commented on #2545
I ran into this issue too. I think it's a problem in pushing to other platforms too. I think it was Lulu or Barnes & Noble that failed with me.

[2016-05-16 09:30] mgifford commented on #1731
Related issue https://github.com/sphinx-doc/sphinx/issues/2371

[2016-05-16 09:30] mgifford commented on #1317
Related issue https://github.com/sphinx-doc/sphinx/issues/2371

[2016-05-16 09:33] mgifford commented on #1733
Did this get fixed in the last release @shimizukawa

[2016-05-16 09:34] mgifford commented on #1655
Any progress on this. There are way more https sites now it seems than a year ago.

[2016-05-16 09:36] mgifford commented on #1562
Surely though the default themes that come with Shinx should be valid html5 though, right? Isn't this issue mostly about cleaning up the defaults rather than alternative themes?

[2016-05-16 09:39] shimizukawa commented on #1733
Not yet. It is caused by docutils implementation. For now we have no idea to tweak it from sphinx code.

[2016-05-16 09:41] mgifford commented on #1733
I don't know this project well enough. I'm a PHP guy when it boils down to it. Where is the docutils code managed? Where is the community behind it?

[2016-05-16 09:43] shimizukawa commented on #1655
Actually, no progress. I think sphinx should use `requests` to fix this problem, but it's a big change.

[2016-05-16 09:44] shimizukawa commented on #1733
Here: http://docutils.sourceforge.net/

[2016-05-16 10:25] mgifford commented on #1733
Oh dear.. It's on SF.net & last release was on 2014-07-06. Not a good sign.

[2016-05-16 11:30] kjmeagher opened #2546 "sphinx-apidoc does not find ".so" files"
`recurse_tree()` only looks for files with extension `.py` and `.pyx`. Compiled python modules with the extension `.so` work perfectly fine with sphinx automodule but are not found by by `recurse_tree()`. Simply adding `.so` to the search path would be problematic because it would not properly handle situation where there is a directory and a `.so` file with the same name.

I note that refactoring

[2016-05-16 12:21] pburdine opened #2547 "Higher levels of :maxdepth: is ignored in latexpdf output"
If creating a manual in PDF output, it defaults to a maximum depth of 3 for `{secnumdepth}`.  The writer should set this based on the `:maxdepth:` value in the main TOC.  In order to get more than 3 levels deep of numbering in Sphinx 1.4.1, you need to add a line similar to the following in the preamble:

`\setcounter{secnumdepth}{9}`

[2016-05-16 13:26] tk0miya commented on #1655
@shimizukawa In master branch, we already use `requests` to check links at #2389.
Does this help this issue?

[2016-05-16 13:41] tk0miya commented on #2544
We can merge the fix if someone confirms it works.

[2016-05-16 13:42] tk0miya commented on #2541
@RobRuana Could you check this please?

[2016-05-16 14:06] tk0miya commented on #2547
Since 1.4, LaTeX writer refers the `:maxdepth:` value from main TOC.
Could you check its behavior please?

[2016-05-16 14:38] pburdine commented on #2547
Yes, I have a main TOC defined as:

[code]

Under that I can put the following:

[code]

The above also works when nesting toctrees to more than 3 levels deep.

When done, only headings 1-3 have numbering.  See attached screen shot
![headings missing numbering](https://cloud.githubusercontent.com/assets/14918001/15292662/f977464e-1b38-11e6-9d59-5641e0f3d4cb.png)

[2016-05-16 14:47] pburdine commented on #2167
It looks like this is related to the following code in the latex writer:

[code]

The same if statement can be seen in the html writer:

[code]

I don't know enough about the code to determine what triggers:
`if node.rawsource != node.astext()`
Maybe someone who knows this better can comment on this.

[2016-05-16 14:53] tk0miya commented on #2018
I think this idea is not bad. I will add the option in future version.
(I don't have enough time to do this. so I can't say when it will come)

[2016-05-16 15:03] tk0miya commented on #2167
Indeed, it is strange for me that parsed-liateral block having substituion is not highlighted.

BTW, I prefer to highlight parsed-literal as far as possible.

[2016-05-16 15:20] jfbu commented on #2547
LaTeX standard classes report and article have no finer subdivision than subparagraph. In the case of your example, using `'manual'` in `latex_documents` , the Heading 5 is at paragraph level.

You can get it numbered in the TOC by setting `secnumdepth` counter to at least 4.

[code]

but it will not be numbered in the pdf due to the settings in `sphinx.sty`. You also need to add to preamble (this

[2016-05-16 15:25] jfbu commented on #2547
Oh, I had overlooked the

[code]

in your `.. toctree`.  This explains what I observed naturally copying pasting your code. As I said, in LaTeX it does not make sense to have the tocdepth larger than 5 (in general) but it does not hurt either.

[2016-05-16 17:15] paulromano opened #2549 "PythonDomain.resolve_xref incorrectly matches ivars to class methods"
This issue was originally described in a [stackoverflow post](http://stackoverflow.com/questions/31784830/sphinx-ivar-tag-goes-looking-for-cross-references) and has gone unanswered for a while. If an `:ivar:` has the same name as a method in a different class, a cross reference is incorrectly created. Furthermore, if two classes have methods of the same name as the `:ivar:`, a warning is raised sa

[2016-05-16 17:39] baldurk opened #2550 "HTML Help external links open in viewer"
Currently when you have an external link then build the text to htmlhelp the chm viewer will open that external link in its own window. This usually goes quite badly since the internal viewer is still running some ancient version of IE, and it's almost certainly not what's wanted.

The workaround for this is to add `target="_blank"` to external links when building for htmlhelp. I can do this manua

[2016-05-16 17:44] pburdine commented on #2547
Ok, thank you for the explanation.  I already had figured the part about `\setcounter{secnumdepth}{x}`, but I didn't realize that that by default the level 5 heading (`paragraph`) wasn't numbered.

I find it strange that be default, if `secnumdepth`is set to `6`, then the `subparagraph`has numbering turned on and is a larger font than a depth of `5`.

We are looking at converting some of our Word

[2016-05-16 18:25] jfbu commented on #2547
Yes, it appears that `sphinx.sty` is lacking the configuration for `subparagraph`.

Furthermore the `paragraph` configuration forces non-numbered paragraphs, even if `secnumdepth` is `4` or `5`. This looks wrong. I will make a PR, probably.

Note that `\titleformat` has a "`label`" argument, but it is displayed only if the value of `secnumdepth` is high enough for that sectioning unit.

Yes, there

[2016-05-16 18:33] andreacassioli commented on #2167
Guys thank you for your effort.
I remember there was a discussion on the G group (I cannot find it anymore...) about this: If I am not wrong some of the Sphinx team said that it was hard to decide how to pygmentize the parsed text. It seems that now if there is some transformation in place the text is not highlighted. Is this correct?

That sounds very limiting....

[2016-05-16 19:06] jfbu commented on #2547
The `maxdepth` option to `toctree` directive affects LaTeX `tocdepth` counter, not `secnumdepth`. Unnumbered headings to not look very good in TOCs usually (with LaTeX defaults) thus if `maxdepth` is set to `4` or higher, then the user should use `'preamble'` key to set secnumdepth to `3`, `4` or `5` (for numbering subsubsection, paragraph, or subparagraph in the body of document).

[2016-05-16 21:00] RobRuana commented on #2541
Thanks, I'll take a look!

[2016-05-16 23:54] shimizukawa commented on #1655
Oh, I hadn't realized that.. Thanks!

[2016-05-16 23:54] #1655 closed, assigned to nobody

[2016-05-17 16:28] cpitclaudel opened #2554 "The default implementation of _resolve_any_reference interates of domain.roles instead of domain.object_types"
This is the code:

[code]

Shouldn't this be `domain.object_types`? The `resolve_xref` method of `Domain`s takes object types, not roles (they often match, which may explain why this currently works in most cases).

[2016-05-17 17:22] cpitclaudel commented on #2554
Actually, I think I got confused between reference types (which are roles) and object types; sorry.

[2016-05-17 17:22] #2554 closed, assigned to nobody

[2016-05-17 20:17] togakushi opened #2555 "UnicodeEncodeError occurs in cross-reference anything"
UnicodeEncodeError occurs when using the Japanese in cross-reference anything.

index.rst

[code]

To `make html` this file.

output of `make html`

[code]

/tmp/sphinx-err-dtkwk1.log

[code]

This was thought to be a warning.

For example,

[code]

[2016-05-18 00:42] jakobandersen commented on #2555
Thanks for reporting. It should be fixed in 'stable' now.

[2016-05-18 00:42] #2555 closed, assigned to nobody

[2016-05-18 06:43] jfbu commented on #2517
Fixed at 0f0d5058185ce252961ce672d3697655fbde691c

[2016-05-18 06:43] #2517 closed, assigned to nobody

[2016-05-18 12:47] Drachenfels commented on #2541
@RobRuana I have prepared  demo that may help you pinpoint problem. All you need to do is to git clone, pip install Sphinx and then execute ./generate_docs.sh. There will be warning about Returns section.

https://github.com/Drachenfels/sphinx-bug-example

Screenshot that demonstrates bug, only first opening curly bracket is part of Returns section.

![20160518134853](https://cloud.githubuserconte

[2016-05-18 14:06] togakushi commented on #2555
thank you for fix!!

error no longer occurs.
looking forward to the next release.

[2016-05-18 22:28] cdwilson opened #2557 "autodoc mock imports the entire module hierarchy when mock importing a submodule"
I'm trying to mock the import of a platform specific submodule `app.plugin.win64`, but I would like to have autodoc generate documentation for `app` and `app.plugin` parent modules.

`conf.py`:

[code]

`autodoc.py` appears to recursively walk up the module hierarchy generating mock objects until there is a mock object for each node in the hierarchy:

[code]

This generates:

[code]

autodoc autom

[2016-05-19 10:24] lepistone commented on #2521
Hi! Personally I think Makefiles are just fine and this one does its job nicely, no need to reinvent the wheel to have everything in python.

But the error message makes things actually harder with BSD make (including Macs) so I think #1024 should just be reverted.

Thanks!

EDIT: the error without #1024 is just

[code]

it looks fine to me.

[2016-05-19 11:49] thorade commented on #2412
Thanks for fixing this.
I also had to restart my computer after updating sphinx to see the effect.

[2016-05-19 12:16] jtojnar opened #2558 "Error when compiling Python 3 docs to DevHelp"
When trying to build DevHelp docs for Python using

[code]

build fails:

[code]

[2016-05-20 10:19] soupault commented on #2474
@lehmannro do you have any preferences regarding the configuration of this feature?
Should it be available via [standard API](https://github.com/scikit-image/scikit-image/blob/master/doc/source/conf.py#L304-L305)? Does it make sense to set some default value for timeout (e.g., 5-10 minutes).

[2016-05-20 15:14] cpitclaudel opened #2560 "Documentation of `index` node is wrong"
It currently says:

[code]

However, the `visit_index` method of the `TexinfoTranslator` unpacks a 5-tuple:

[code]

[2016-05-20 15:33] cpitclaudel opened #2561 "Info builder crashes when a footnote contains a link"
Hi,

With a clean project created by `sphinx-quickstart` and all default options, the following document causes `make info` to crash:

[code]

The error is as follows:

[code]

And here is the full trace:

[code]

Let me now if I can provide more info!

[2016-05-20 15:35] lakhman opened #2562 "If a role content is empty, it's never called? - How can I show a warning "empty role on line 12"?"
Say I have the following role which converts an icon role into an inline font awesome icon:

[code]

[code]
## Issue

[code]

If the content with backticks is empty, I would like to decide what to do with the role (output a empty node, throw a warning, place a default icon).

Am I missing something?

The `:download:` role does this, but I'm finding it confusing as to who it's implemented. It throw

[2016-05-20 16:22] tk0miya commented on #2521
Hi all,
Finally, I reverted #1024 and keep makefile simple.

Thank you for your comments.

[2016-05-20 16:22] #2521 closed, assigned to nobody

[2016-05-20 16:41] tk0miya commented on #2562
Maybe, we can't handle that. The warning message of `:download:` is come from docutils; the parser of reST.
http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#interpreted-text

I am sorry that I couldn't be of any help to you.

[2016-05-20 17:10] techtonik commented on #2521
@tk0miya did you revered make.bat changes? Why?

[2016-05-21 01:09] tk0miya commented on #2521
I think there is no reason to revert make.bat. Because this problem is caused from combination of BSD make and Makefile. make.bat is not related.

[2016-05-21 01:54] NiklasRosenstein opened #2564 "Recursion error with self-referencing toctree"
**Sphinx v1.4.1** &ndash; In `index.rst` I have a toctree like this:

[code]

and this results in a recursion error when building.

[code]

I can get around this recursion error using `Documentation <self>` instead of `Documentation <index>`, but I feel like this should either error gracefully or be supported and have the same effect as using `<self>`.

[2016-05-21 02:03] tk0miya commented on #2519
Now #2532 is merged. So I close this.
Thanks,

[2016-05-21 02:03] #2519 closed, assigned to nobody

[2016-05-21 02:36] jat255 opened #2565 "Sphinx autosummary creates long lines instead of wrapping text"
When using the autosummary extension, there is a problem with the resulting output if the short function description is longer than just a few words. See here for an example from one of my packages:

![image](https://cloud.githubusercontent.com/assets/1278301/15445922/e52f7f8a-1eda-11e6-9c04-78d7a3bbfff6.png)

This isn't so much a problem when building web documentation, since there is a scroll ba

[2016-05-21 02:49] tk0miya commented on #2470
In my short investigation:

It seems the `typing` package does not support python 2.x environment.
At least, `typing.get_type_hints()` does not work. I got following stacktrace from Sphinx:

[code]

[2016-05-21 02:52] tk0miya commented on #2470
Fixed at 20b3da5.
Sphinx ignores the `typing` package on py2.x.

Thank you for reporting!

[2016-05-21 02:52] #2470 closed, assigned to nobody

[2016-05-21 12:35] andreacassioli opened #2566 "some latex default_elements note accessible"
Looking at the source code it seems `default_elements` options for `latex` are many more than those documented and actually accessible.

I have tried to set `contentsname` but nothing happen. It seems to me that values in `latex_elements` in `conf.py` are processed in a way some values are discarded or ignored.

Is this on purpose?

[2016-05-21 16:15] cpitclaudel commented on #894
I'm confused by this change: although this adds a rule to call xelatex, the generated .tex files are not xelatex-compatible, are they? They use inputenc, fontenc, and babel instead of polyglossia. Did I miss something?

[2016-05-21 23:42] tk0miya commented on #2565
In my short investigation:

In LaTeX, apidoc generates tables as longtable having following table spec:

[code]

So all texts cannot break lines in the table.

It will be fixed by using `{p{0.5\linewidth}p{0.5\linewidth}` to the table spec.

[2016-05-22 10:13] rossengeorgiev commented on #1609
@neothemachine what version are you using? Doesn't work for me on neither py2 or py3 with latest version from master

[2016-05-22 10:47] letmaik commented on #1609
@rossengeorgiev See https://pythonhosted.org/rawpy/api/enums.html Uses sphinx 1.4

[2016-05-22 12:10] rossengeorgiev commented on #1609
@naokisatoname That's strange. I get no members listed, even with `:undoc-members:`. If I specify a docstring to any member the value is showing as `None`. If I list members with `:members: a b c` those members show up in docs as expected with their correct value.

Python3 with `sphinx 1.5a0`

[2016-05-22 15:07] voetsjoeba opened #2568 "Makefile: 12: *** recipe commences before first target. Stop."
The autogenerated Makefile produced by `sphinx-quickstart` contains a syntax error that manifests when the check for the SPHINXBUILD command fails. Verified w/GNU make versions 3.82 and 4.0 on resp. CentOS and Ubuntu 14.04.

To reproduce (on a system that does not yet have sphinx installed):

[code]

The problem happens because of the tab character used to indent the `$(error ...)` line:

[code]

[2016-05-22 15:51] tk0miya commented on #2568
The warning will be removed in next stable release.
More details, see #2521 .

Thank you for reporting.

[2016-05-22 15:51] #2568 closed, assigned to nobody

[2016-05-22 15:53] voetsjoeba commented on #2568
Thx, sorry for the dup.

[2016-05-22 16:09] andreacassioli opened #2569 "Not informative exception message"
I have just stumbled across an exception whose message does not give much information:

[code]

Note that the log provides a long stack trace, but if one has a certain number of `only` directive it might be hard to figure out which one is offending.

What about including the conditional that causes the exception to be risen?

[2016-05-22 18:12] thoth291 commented on #856
I actually added autoclass and autofunction and other options and flags to be printed by format_directive function in my own copy of apidoc.py. Works as expected.
But I agree that having a bit more flexibility like proposed by @posita would be very much appreciated.

[2016-05-23 00:23] shimizukawa commented on #894
For now, I have no idea for about 1.5 release. I want to release this autumn.

[2016-05-23 01:20] tk0miya commented on #2564
Thank you for reporting.
It was already fixed at 5744c533611d667e11eb6b95934f388ac851f0b5.
It warns the recursion and ignores the definitions.

[2016-05-23 01:20] #2564 closed, assigned to nobody

[2016-05-23 03:16] tk0miya commented on #2518
I fixed the warning at 37882b9.
It seems the condition does not have special meaning as @lehmannro said.

Thank you for reporting.

[2016-05-23 03:16] #2518 closed, assigned to tk0miya

[2016-05-23 04:38] cpitclaudel opened #2570 "Feature request: add a way to include objects in table of contents"
Hi,

Thanks for this very nice package. After quite a bit of looking around, I haven't found a way to make subclasses of `ObjectDescription` appear in the table of contents. Is there a way to do this? The closest I could find was wrapping the object returned by the `run` method in `ObjectDescription` into a `section` node, but this requires me to add a `title` node before each object description,

[2016-05-23 07:50] rossengeorgiev commented on #1609
After looking into the sphinx source code, I notice that if it looks up the members using `__dict__`, doesn't contain any members. However, if I add `:inherited-members:`, it will lookup the members using `dir()`, which will in fact return the members. Works for me on py2.7 with sphinx 1.4 and py3.4 with sphinx 1.5a1.

Adding `:inherited-members:` will show `Enum` members as expected, including do

[2016-05-23 08:22] lepistone commented on #2521
Yup, `make.bat` looks unrelated. Sorry for the confusion!

[2016-05-23 08:55] ghost opened #2571 "Sphinx does not produce signature of python functions and methods"
## Problem: Strange Sphinx Autodoc Warnings

When I built the documentation from my Python code using the **sphinx** extensions **autodoc** and **napoleon**, I always found the doc _without the signature of functions, methods_.
Simultaneously, sphinx gave me a strange warning for each of my python code structures.

[code]

But: **build succeeded, 369 warnings** .

Unable to find a solution for thi

[2016-05-23 09:22] tht13 opened #2572 "Autosummary does not pass through autodoc-process-docstring as Documentation describes"
The sphinx [documentation](http://www.sphinx-doc.org/en/stable/ext/autosummary.html?highlight=autosummary#directive-autosummary) states that autosummaries should be passed through the [autodoc-process-signature](http://www.sphinx-doc.org/en/stable/ext/autodoc.html#event-autodoc-process-signature) event. However this does not seem to be happening for me. Looking at the code in https://github.com/sp

[2016-05-23 10:54] andreacassioli commented on #2569
I guess it is here, `sphinx/util/tags.py, line 66`

[code]

[2016-05-23 13:40] tk0miya commented on #2569
Could you paste the full traceback? And tell me the condition for `only` directive please.

[2016-05-23 14:34] tk0miya commented on #2571
Thank you for reporting.

Now, Sphinx on py27 ignores the `typing` package.
More detail, see 20b3da5cf6aa4917301b2db2259bc78c3e20a122.

Thanks,

[2016-05-23 14:34] #2571 closed, assigned to nobody

[2016-05-24 02:34] tk0miya commented on #2558
Fixed at    b4df918.
Thank you for reporting!

[2016-05-24 02:34] #2558 closed, assigned to nobody

[2016-05-24 02:39] tk0miya commented on #2561
Fixed at    5e6dbe1.
Thank you for reporting!

[2016-05-24 02:39] #2561 closed, assigned to nobody

[2016-05-24 02:42] tk0miya commented on #2560
Fixed at 881455c.
Thank you for reporting.

[2016-05-24 02:51] tk0miya commented on #2463
Now #2516 is merged.

[2016-05-24 02:51] #2463 closed, assigned to nobody

[2016-05-24 02:55] tk0miya commented on #2494
Sorry for late response.

It seems `config.py` in sphinx, not `conf.py`.
Could you show me your `conf.py` on project directory?
It is placed near `Makefile` or `index.rst`.

Thanks,

[2016-05-24 05:31] tk0miya commented on #2560
Reopen for updating docstrings in detail

[2016-05-24 05:57] cpitclaudel commented on #2560
Wonderful, thanks!

[2016-05-24 08:21] tk0miya commented on #894
@cpitclaudel I don't know what is **xelatex-compatible**. but now we can build the generated .tex files using xelatex command, and can customize the settings using `conf.py`.

[code]

Of course, I know the generated .tex file is not optimized for XeTeX as you said. So we have to discuss about it and become it better.
If you have any ideas, please post it to #2513 or new issues. Any opinions and PR

[2016-05-24 08:53] ghost commented on #2513
Note that I put a fully working xelatex configuration for sphinx in https://github.com/sphinx-doc/sphinx/issues/1923, including preamble with font setup, utf8 input and polyglossia etc.  Would that be useful as an example?

I think it would be fairly reasonable to default to Tex Gyre Termes, given that it's in all common TeX distributions.  It's certainly present in Debian/Ubuntu, and in TeXLive/M

[2016-05-24 13:38] Paebbels commented on #1567
Is there any progress at `docutils` regarding this issue?

I consider this a bug, because
- there is no sense to create a table for only one line.
- having more then 10 footnotes will cause a miss-alignment of columns

Moreover, it's questionable why it creates tables, because the tables are used for styling and not for data presentation.

This is an example, generated by sphinx + docutils: One HT

[2016-05-24 13:53] Paebbels commented on #2258
Are you referring to the following behavior?

![docutils_bug3](https://cloud.githubusercontent.com/assets/956109/15506134/acf8bb06-21c6-11e6-8588-65643a99a729.PNG)

Sphinx (+ docutils) seams to inserts a paragraph for a list item (`<li>`-tag), if it contains other elements then simple text. But this behavior is not consequent / deterministic. See this example:

![docutils_bug4](https://cloud.githu

[2016-05-24 14:58] tk0miya commented on #2565
Fixed at 4c2d679.
Thank you for reporting!

[2016-05-24 14:58] #2565 closed, assigned to nobody

[2016-05-24 15:06] jat255 commented on #2565
Great, thanks for the quick fix!

On Tue, May 24, 2016, 10:58 AM Takeshi KOMIYA notifications@github.com
wrote:

[2016-05-24 15:06] vitaut commented on #2536
Thanks, @jakobandersen. This particular example is fixed, but I still get the same error in another one:

[code]

Here's the stack trace:

[code]

[2016-05-24 15:49] cpitclaudel commented on #2513
I've used the following myself:

[code]

@rleigh-dundee I didn't need to set fonts explicitly. Should I have?

[2016-05-24 16:00] ghost commented on #2513
@cpitclaudel I don't think they need setting explicitly, but if you don't then you get the OpenType version of Computer Modern (or at least, I think that was the case last time I tried it).  I might be wrong on that count--I set this up back in 2012 and haven't played with the settings much since.

[2016-05-24 16:12] vitaut commented on #2536
I'll try to come up with another test case.

[2016-05-24 16:57] tk0miya commented on #2547
Oh, sorry. I confused `secnumdepth` with `tocdepth`.
Indeed, Sphinx does not set `secnumdepth` automatically. It would be nice if `:maxdepth:` option affects to `secnumdepth` too.

BTW, I merged #2551 into stable now. So `paragraph` and `subparagraph` will be numbered.

[2016-05-24 21:03] rweickelt commented on #2258
Yes. That's the issue.

[2016-05-24 21:09] gordonje opened #2574 "Why does sphinx replace underscores w/ hyphens in page anchors?"

[2016-05-25 08:27] andreacassioli commented on #2569
Hi @tk0miya
I have moved on the issue, but I remember the problem was I misspelled a tag including some forbidden character, say `-`. Fixed that it was fine.

I am using a custom `only` directive (maybe you remember I opened an issue on the fact that `only` does parse the content even if the condition is false...). But I still call the base system for the evaluation.

My point is that the error me

[2016-05-25 08:28] andreacassioli commented on #2574
That is a good question I asked my self as well...

[2016-05-25 08:43] tk0miya commented on #2574
It is a rule of docutils; the core library of Sphinx. It normalizes underscores to hyphens.

More details, please refer the comment of `make_id()`:
http://docutils.sourceforge.net/docutils/nodes.py

[2016-05-25 10:05] lehmannro commented on #2574
Please note this issue tracker is used for discussing defects and improvements to Sphinx;  general development questions are better suited to the [sphinx-dev](https://groups.google.com/d/forum/sphinx-dev) or [sphinx-users](https://groups.google.com/d/forum/sphinx-users) mailing list.

There are several reasons to generally use hyphens over underscores in URLs, see [_Why are dashes preferred?_ on S

[2016-05-25 10:05] #2574 closed, assigned to nobody

[2016-05-25 10:24] andreacassioli commented on #2428
I experienced something similar in the past, but now it seems to work for me. Is it still an issue? If so, could you link the image as well? Otherwise you should close the request.

[2016-05-25 11:33] andreacassioli commented on #1297
Definitely!

I just stumble across the graphiz case...

[2016-05-25 11:45] andreacassioli opened #2575 "wrong alignment for graphiz generated graphs"
I have just realized that using Latex a graph generated using graphviz without caption is not centered, while with the caption is.

However, if the target is HTML the graph is never centered (actually there is no align option...)

[2016-05-25 12:52] ipiqueras opened #2578 "Intersphinx causes exception on appending auth handler"
A simple uri with username and password causes interphinx to generate an exception when calling to urllib2.build_opener:

In `conf.py`:

[code]

Provokes:

WARNING: intersphinx inventory 'http://ipiq:pass@example.com/objects.inv' not fetchable due to &lt;type 'exceptions.TypeError'&gt;: expected BaseHandler instance, got &lt;type 'list'&gt;

Seems to be a problem of packing arguments before callin

[2016-05-25 14:11] tk0miya commented on #2445
Fixed at 9cd5ba9.

BTW, `rst_prolog` is not related with substitution feature directly.
It is a feature of reStructured Text itself. so I think new feature is needed to substitute for markdown or other format.
Now, Sphinx emits `source-read` event for third party extensions. It might support to make extensions which supports substitution on markdowns.

[2016-05-25 14:11] #2445 closed, assigned to nobody

[2016-05-25 14:13] tk0miya commented on #2560
shimizukawa added comments as 03af1ca.
Now I close this.

[2016-05-25 14:13] #2560 closed, assigned to shimizukawa

[2016-05-25 14:20] vitaut commented on #2536
Nevermind, the issue was that pip was installing wrong version of sphinx. Thanks for a quick fix, @jakobandersen.

[2016-05-25 14:21] tk0miya commented on #2578
This problem is already fixed at #2398.
It will be released soon. Please wait next version.

Thank you for reporting.

[2016-05-25 14:21] #2578 closed, assigned to nobody

[2016-05-25 16:14] jputrino opened #2579 "It is possible to use sphinx.ext.autosectionlabel with sphinx.ext.intersphinx?"
I'd like to use the autosectionlabel and intersphinx extensions to easily cross-reference related but separate documentation sets. Currently, I'm only able to cross-reference via intersphinx if I've explicitly created the section header. Do you plan to support using autosectionlabel with intersphinx?

Example:
In f5-openstack-agent/docs/index.rst, I manually added the `.. _home:` section label. Wh

[2016-05-25 16:48] tk0miya commented on #2569
Thank you for additional report.

I think your extension should handle the exceptions from `sphinx.util.tags` and display human readable error messages.
`sphinx.util.tags` is designed as internal library to evaluate conditions. So it raises several exceptions to represent many errors. The `ValueError` you said is a part of exceptions the module throws.

For example, `SphinxEnvironment.process_only

[2016-05-25 17:01] tk0miya commented on #1297
Nowadays, the `:caption:` option makes common sense to set captions to any objects like graphviz, code-block and so on.
So I think this is already resolved.

@andreacassioli Do you still have any problem about this?

[2016-05-25 18:08] gordonje commented on #2574
Thanks for the prompt responses. @tk0miya, you def pointed me at what I was looking for.

[2016-05-25 18:42] papadokolos opened #2580 "resolve_references() doesn't pass fromdocname parameter to the "missing-reference" event"
## Background Information: (refer here if needed)

Sphinx is having troubles resolving some of the references generated from my C++ code with the help of Doxygen, breathe, and .rst files.

I found out that the reason for this is that sometimes `node["reftarget"]`'s value is missing the namespace as a prefix. e.g. node["reftarget"] == "Foo" instead of "namespace::Foo". The weird thing about it, is

[2016-05-25 22:20] meisterchecho opened #2581 "The search doesn't work if language="es" (spanish)"
hi guys, search words using language="es" in the config file doesn't work. This is my output

Running Sphinx v1.4.1
loading translations [es]... done
loading pickled environment... done
building [mo]: targets for 0 po files that are out of date
building [html]: targets for 21 source files that are out of date
updating environment: [config changed] 21 added, 0 changed, 0 removed
reading sources...

[2016-05-26 01:20] jakobandersen commented on #2580
Unfortunately I don't know enough about environment.py to evaluate your suggestion. However, if there is a lookup bug in the C++ domain I would very much like to fix it. The domain should keep track of namespaces in order to resolve references. Do you have an example where the problem can be reproduced? (Or is the code you mention available somewhere?)

[2016-05-26 04:09] tk0miya commented on #2581
In my short investigation:

With no language settings, the `searchindex.js` has lowercased terms:

[code]

But, with `language='es'`, the index file has non lowercased terms:

[code]

It seems the terms are not lowercased in Spanish environment.

@shibukawa Can I make them lowercase before storing into indices?
It seems that the terms are not lowercased in some languages.

[2016-05-26 04:49] tk0miya commented on #2566
I think no special reason for that.
But, IMO, providing many customizable points makes LaTeX writer complicated.
It will increase maintenance cost.

In case of `contentsname`, Sphinx allows to set `contentsname` through `:caption:` option of toctree directive.
Are there any reason not to use it or to override forcely?

[2016-05-26 06:31] tk0miya commented on #2530
I got same error with stable branch.

I think it would be nice if `\thempfootnote` is defined by default.
@jfbu What do you think?

[2016-05-26 06:37] andreacassioli commented on #2566
Hi @tk0miya ,

thank you as usual for your help. To be honest I have not realised that content could be override by the toctree caption.

I understand that to many options make things complicated, but it is also not clear how to customize more the output. I know I can use the preamble, but it is not clear what could conflict with Sphinx generated code.

[2016-05-26 07:27] andreacassioli commented on #1297
@tk0miya

indeed now I can set a caption, but graphs has not the same options that images/figures. And there is something fishy with alignment, see #2575

[2016-05-26 07:56] jfbu commented on #2530
@tk0miya as Sphinx generates footnotes with `[Number]` in latex source, independent of whether the footnote is located in a context rendered by minipage (*), and the `[Number]` is part of a continuous numbering across document, I agree it is better to have `\def\thempfootnote{\arabic{mpfootnote}}` as default.

anyway, besides the 26 max problem, it is odd to have for example a  `\footnote[5]` in a

[2016-05-26 08:04] jfbu opened #2582 "LaTeX writer inserts extra space before `\footnote` in produced latex code"
With this

[code]

in index.rst and `latex_show_urls = 'footnote'` in conf.py one gets

[code]

in produced latex file. The first `\footnote` has a space before it, contrarily to the second one, which was automatically generated.

I think second is the correct one, and first footnote should look like `hello\footnote...` not `hello \footnote`.

[2016-05-26 08:09] tk0miya commented on #1297
Agreed. but that is different issues with this. this issue said that it would be nice if figure directive makes graphviz and other components captionable (like `figure` environment on LaTeX).
But, now sphinx provides `:caption:` option to some directives individually.

In fact, our approach is different from expects, but we've accomplished the purpose.
So I want to close this issue now.

BTW, what

[2016-05-26 08:30] jfbu commented on #2530
about

sorry I was too quick, it is more complicated due to multi-pass `framed` environment. One would need to use the `\makesavenoteenv{framed}` using loaded package `footnote.sty` like `sphinx.sty` already does with `tabulary`. But `footnote.sty` has bugs, and better would be to use more recent http://www.ctan.org/pkg/footnotehyper which could be shipped with sphinx. Anyway, sorry for digression

[2016-05-26 11:55] #2512 closed, assigned to nobody

[2016-05-26 12:01] tk0miya commented on #2581
I discussed with shibukawa and fixed this at 9226513.
Thank you for reporting.

[2016-05-26 12:01] #2581 closed, assigned to tk0miya

[2016-05-26 12:59] meisterchecho commented on #2581
thank you! great job! :+1: for sphinx.

[2016-05-26 15:32] tk0miya commented on #2547
Now, `:maxdepth:` option affects to `secnumdepth` automatically in master branch. It will be included in next major release (maybe in autumn).

BTW, sphinx now supports 8 sectioning units. You want to use all of them, set `latex_toplevel_sectioning = 'parts'` in your conf.py. Then, you can use `part` unit as a toplevel.

Thanks,

[2016-05-26 16:06] tk0miya commented on #2582
This is not a bug. it is specification of reStructured Text.
It comes from the space between `hello` and `[#]_`, not generated by Sphinx.

You can remove it in several ways:

(1) Escaping spaces manually: use `\` (escaped space) to separator of footnote marks:

[code]

(2) Use `trim_footnote_reference_space` option in your conf.py:
More details, please refer http://docutils.sourceforge.net/docs/us

[2016-05-26 16:32] papadokolos commented on #2580
Thank you for your quick reply!

The actual code is not available :crying_cat_face:
I'm working on an example to reproduce the problem. It will probably take me a day or two. I'll update here when it's finished.

[2016-05-26 21:04] avylove opened #2583 "Failures running tests - test_build_latex"
I'm trying to create an updated RPM (1.4.1 pulled from PyPi) for Fedora as the current one is based on 1.3.1. I had to add a lot of dependencies, mostly .sty files that weren't required previously. I managed to get down to one error and two failures.

The error is a parsing error in test_build_html.py, line 981, in test_enumerable_node
    etree = ET.parse(fp, parser)
    ParseError: mismatched ta

[2016-05-27 14:39] tk0miya commented on #2384
Thank you for reporting.
I fixed it.

[2016-05-27 14:39] #2384 closed, assigned to nobody

[2016-05-27 15:54] tk0miya commented on #2504
I think your case is unusual for me. so, personally, recordings and sanity checks are no needed.

[2016-05-27 20:23] lehmannro commented on #2504
Well, we don't want to be the next [bumblebee](https://github.com/MrMEEE/bumblebee-Old-and-abbandoned/issues/123), so I think sanity checks wouldn't hurt. :-)

[2016-05-28 01:37] tk0miya commented on #2382
Fixed at ca8aec9.
Thank you for reporting!

[2016-05-28 01:37] #2382 closed, assigned to nobody

[2016-05-28 04:08] tk0miya commented on #2504
Ah, I understand that. The sanity check will guard users from suicide.
I will accept the changes if any pull request has come.

[2016-05-28 06:32] tk0miya commented on #2383
Note:

Input:

[code]

Output:
![2016-05-28 15 16 56](https://cloud.githubusercontent.com/assets/748828/15625637/60d70004-24e9-11e6-9003-421233c2d0d6.png)

[2016-05-28 06:33] tk0miya commented on #2383
Fixed at b74b9cb.
Thanks,

[2016-05-28 06:33] #2383 closed, assigned to nobody

[2016-05-28 08:23] tk0miya commented on #2535
Here is an example to reproduce the problem.

[code]

Result:
![2016-05-28 15 34 13](https://cloud.githubusercontent.com/assets/748828/15625643/acf56f34-24e9-11e6-808e-84ef56d3c781.png)

[2016-05-28 08:23] tk0miya commented on #2506
Is `edit_on_github` you said downloaded from https://gist.github.com/mgedmin/6052926 ?

It seems the module has conflicted with `sphinx.ext.viewcode`.
`_module/index.html` is generated as a index of modules if you use `sphinx.ext.viewcode`. But it causes the error in `edit_on_github` because the page does not have doctree.

[2016-05-28 10:28] tk0miya commented on #2575
I added `:align:` option to directives in `sphinx.ext.graphviz`.
Thank you for reporting

[2016-05-28 10:28] #2575 closed, assigned to tk0miya

[2016-05-28 10:36] tk0miya commented on #2579
I can refer the section by its name locally using `sphinx.ext.autosectionlabel` and `sphinx.ext.intersphinx`.

Did you enable `sphinx.ext.autosectionlabel` on `f5-openstack-lbaasv2-driver` ?
The extension creates labels to each section automatically as its name suggests. So refered project has to load it.

[2016-05-28 12:57] tk0miya commented on #2540
I agree this is a bug.
@jfbu Could you fix this when you have a time?

[2016-05-28 13:27] cnobile2012 commented on #2506
Yes that's the link to the code I used. However, as it turns out
readthedocs.io automatically adds an "Edit on GitHub" link, so I'm just
using what they give me now--it's much easier.

On Sat, May 28, 2016 at 4:23 AM, Takeshi KOMIYA notifications@github.com
wrote:

##

---

Carl J. Nobile (Software Engineer)

## carl.nobile@gmail.com

[2016-05-28 13:50] ctb opened #2587 "sphinx-quickstart seems to generate invalid toctree directive maxdepth?"
Running through stuff for a tutorial at PyCon, and found this in sphinx 1.4.1

sphinx-quickstart generates an index.rst that includes

[code]

but when I then place a .rst file after maxdepth, I get

[code]

I can only get test.rst to render when I remove maxdepth.

What am I doing wrong here? :) And is sphinx-quickstart generating an invalid index.rst or am I missing something?

thx!

[2016-05-28 13:55] ctb commented on #2587
Ahh! I figured it out. There needs to be a newline after :maxdepth:. Apologies.

[2016-05-28 13:55] #2587 closed, assigned to nobody

[2016-05-28 15:18] tk0miya commented on #2506
This is not a bug of Sphinx, so I close this now.
Thanks,

[2016-05-28 15:18] #2506 closed, assigned to nobody

[2016-05-28 15:39] tk0miya opened #2588 "test-autosummary warns "nested tables are not yet implemented.""
`test-autosummary`; a testcase for `sphinx.ext.autosummary` causes warning on building LaTeX document at stable branch:

[code]

[2016-05-28 17:23] ericholscher opened #2589 "Single page HTML doesn't output toctree"
The singlehtml builder should still generate the top-level TOC Tree, but it should link to the relative headers in the HTML on that single page.

[2016-05-28 17:44] avylove commented on #2583
After a lot of digging I found the problem was with '\usepackage[utf8]{inputenc}'

If I used latin1, removed the line, or saved the tex source with a different encoding, it would succeed. What I found in researching was inputenc isn't used for UTF8 in xelatex and lualatex because the compilers natively handle UTF8. When used with these compilers it results in existing control characters being trea

[2016-05-28 20:18] georgefx commented on #2504
I hacked together a sanity check which checks if BUILDDIR is a subdirectory of the Makefile directory (CURDIR), or more precisely, it checks if BUILDDIR is below CURDIR in the filesystem hierarchy and that BUILDIR and CURDIR are not identical. Here is the draft:

[code]

I you know a cleaner way to do this in a Makefile, let me know. Otherwise, I would recommend to make the clean rule a call to th

[2016-05-29 02:22] tk0miya commented on #2583
Note: I will close this after discussion about #2590.

[2016-05-29 03:40] tk0miya commented on #2535
Note: This is not only for hyperlinks, but normal text is aligned like above.
So it seems this is a default behavior of TeX layouting.

[code]

Result:
![2016-05-29 12 39 32](https://cloud.githubusercontent.com/assets/748828/15631259/7203aaa6-259a-11e6-8b3f-f8297b8696c2.png)

[2016-05-29 05:57] tk0miya commented on #2566
I agree with you. It's not easy and clear. I would like to improve latex writer and its documents.
Please tell me your ideas, issues and so on.

Thank you always.

[2016-05-29 05:57] #2566 closed, assigned to nobody

[2016-05-29 06:55] nmat commented on #2505
I have tried to reproduce this on a win environment using cygwin but can't reproduce it either.

[2016-05-29 08:08] tk0miya commented on #2497
Fixed at b81f24e.
Thank you for reporting.

[2016-05-29 08:08] #2497 closed, assigned to nobody

[2016-05-29 08:52] GadgetSteve commented on #1912
One suggestion might be to allow the setting of an alternate dot tool such as one of the on-line graphviz processing tools, e.g.: http://www.webgraphviz.com/ and extending the graphviz extension to include using it if a local graphviz dot tool is not found. I personally would suggest having a configuration tag graphviz_allow_web so that the user has the option of enabling it.

[2016-05-29 09:28] nmat opened #2593 "Using .. list-table:: creates error on generating Latex pdf"
To reproduce:

[code]

The reason I have set this up in this way is to be able to have 2 images on the same line. Right next to each other. Generating the html works but pdf gives the following error:

`! LaTeX Error: Not in outer par mode.`

`See the LaTeX manual or LaTeX Companion for explanation.`

`l.280 \hline\end{tabulary}`

I am using MikTex also with 1.4.2 of sphinx

[2016-05-29 09:43] nmat opened #2594 "Latexpdf and miktex creates no contents tree and blank pages"
When generating the latexpdf using miktex the contents page is empty.

Also before and after the content page there is 1 respectively 2 empty pages.

Miktex version: pdfTeX, Version 3.14159265-2.6-1.40.16 (MiKTeX 2.9)
Sphinx: 1.4.2

It does however tell me that it is running: sphinx-build -b latex -d _build/doctrees   . _build/latex

[2016-05-29 09:49] nmat opened #2595 "Latexpdf and miktex does not respect :align: right"
I have a document with:

[code]

Which would in html align the image on the right but keep text on the left. In the PDF the image is rendered but takes up the whole width. The text is also rendered with the paragraph but is written above the image also being aligned to the left. Creating the affect of image being in the background then having text above the image. So its not following how html wou

[2016-05-29 10:43] nmat commented on #2593
http://www.tex.ac.uk/FAQ-ouparmd.html

[2016-05-29 11:52] lehmannro commented on #2504
Hm, I think "must be a directory below the the root of Sphinx" is an unnecessarily strict requirement — writing to `/tmp/...` is perfectly fine.  (FWIW, the easier phrasing of your proposal is "does ABSBUILDDIR start with CURDIR," which can be implemented using `$(findstring`_`find`_`,`_`in`_`)`.)

I see two options:
- Only do a very basic sanity check, e.g. `.`, `..` and `<empty string>` (no path

[2016-05-29 12:45] georgefx commented on #2504
I agree on "BUILDDIR must be a directory below the the root of Sphinx" is an unnecessarily strict requirement.
However, BUILDDIR should not be allowed to be a parent of CURDIR. Tihnk about `BUILDDIR := /home/georg`. It is easy enough to do this by accident, i.e. a failed path completion, and the result of `make clean` is disastrous.
The first option (basic sanity check) is not good enough IMHO.

R

[2016-05-29 15:16] tk0miya commented on #2530
I added the definition of `\thempfootnote` at e3e827e.
So this will be resolved with the issue.

Note: we still have many themes to improve footnotes:
- numbering rule of footnotes; manually numbered footnotes and auto numbered
- scope of footnote numbers
- position of footnotes defined inside admonitions
- switching footnote counter (cf. a, b, c...) in adomonitions

I will post a new issue and cl

[2016-05-29 15:23] tk0miya commented on #549
Now I close this.
Please reopen if you have any opinions.

[2016-05-29 15:23] #549 closed, assigned to nobody

[2016-05-29 15:25] tk0miya commented on #2228
Now I close this issue. because it is out of our control.

[2016-05-29 15:25] #2228 closed, assigned to nobody

[2016-05-29 15:29] tk0miya commented on #2441
It seems resolved. Now I close this.
Thanks,

[2016-05-29 15:29] #2441 closed, assigned to nobody

[2016-05-29 15:37] tk0miya commented on #2505
Any updates? I will close this if no one can reproduce this.

[2016-05-29 15:38] tk0miya commented on #2525
It seems resolved. Now I close this.
Thanks,

[2016-05-29 15:38] #2525 closed, assigned to nobody

[2016-05-30 01:51] tk0miya commented on #2595
I found another bug; `width` option of figure directive does not work if `align` option specified at same time.
Is this related with the bug?
I fixed it at da3d368961f8eb75b28d231718bf4e53194d9c16.

Could you try it if possible.

[2016-05-30 04:14] tk0miya commented on #2594
Sphinx uses `openright` document-class option in LaTeX by default. It specifies all chapters begin on a right-hand page.

If you want to switch the behavior, please give `openany` to `extraclassoptions` option.

[code]

Thanks,

[2016-05-30 04:17] tk0miya commented on #2595
In addition, LaTeX does not recognize `px` as a unit of width. Please use `cm`, `em` or other units to express length.

[2016-05-30 04:17] tk0miya commented on #2593
I'll take a look

[2016-05-30 06:01] GadgetSteve opened #2597 "Warnings not shown in colour"
Attempting to add some graphviz processing to a project I was mystified that it didn't seem to be working - eventually I noticed that I had the warning:

But it was lost even though I had colour output:
![screenshot](https://cloud.githubusercontent.com/assets/5593690/15640833/08bef0ec-2634-11e6-9404-9a63b265b505.png)

Please consider at least colour coding, when colour output is available, warning

[2016-05-30 06:11] gm6 opened #2598 "latexpdf figure numbering "0.1", "0.2" "0.3" when using "howto" documentclass"
Hi,
How to change the figure numbering from "0.1", "0.2" "0.3" ... to "1", "2" "3" ...
Any idea? Thank you!

[2016-05-30 06:35] nmat commented on #2597
Coloring output is not something that is built in to sphinx I believe. Instead this is part of colormake and bash shell options.

Standard make only gives standard coloring. AFAIK I would not consider this a bug on sphinx end.

[2016-05-30 06:49] GadgetSteve commented on #2597
@nmat : I would consider this more of a feature request - I am sure that there is a way to get colour make to highlight warnings - I'll do some digging.

[2016-05-30 06:51] nmat commented on #2597
Yes you can. But it is different on different systems. So yes in this case then it would be considered a feature request rather than a bug. But as mentioned there are packages for make to color the output and to set the prompt to do it based on rules.

It is the developers choice.

[2016-05-30 07:02] andreacassioli commented on #2535
@tk0miya

Well, there is something fishy anyway: I have tried the following

[code]

If you run on `pdflatex` You will see the first block is correctly aligned, whereas the second is not. This is due to margin overflow and fact that tex does not know how to hypenize the long words (they are clearly not English...).

But in our case it sounds like some words are kind of right aligned, or better the

[2016-05-30 07:04] andreacassioli commented on #1297
@tk0miya

I see your fix for the graphiz align. Great! Thanks a lot again.

For me you can close the issue.

[2016-05-30 07:04] andreacassioli commented on #2569
OK,
thanks

[2016-05-30 07:04] #2569 closed, assigned to nobody

[2016-05-30 07:12] GadgetSteve commented on #2597
@nmat : There is colour inserted (conditionally) to messages in both cmdline.py and quickstart.py the warning messages are currently output in application.py by the method _log which has a standard destination of self._warning which defaults to stderr a similar check to those in cmdline to ensure that the output is going to a colour compatible device could conditionally colour warnings in a device

[2016-05-30 07:13] #1297 closed, assigned to nobody

[2016-05-30 07:13] tk0miya commented on #1297
:-)

[2016-05-30 08:58] nmat commented on #2594
Maybe this should be added to the quickstart conf.py then for easier getting started with latex?

I have not tested it yet. Will have to test it when I get home.

[2016-05-30 09:45] georgefx commented on #2504
I implemented "Prohibit any parent path to the Sphinx root (ie. any prefix of it.)" using `$(patsubst ...)`. patsubst patterns are actually anchored to the beginning of the tested string:

[code]

Draft for testing if CURDIR is below BUILDIR and if CURDIR is equal to BUILDDIR:

[code]

Test:

[code]

Test Makefile (beware make metaprogramming):

[code]

[2016-05-30 11:03] GadgetSteve opened #2600 "Enhancement: Add Graphviz option to specify image filename for diagram"
Currently the graphviz extension names the output file using the rule:

[code]

Which is fine for avoiding possible clashes of names but results in image files with names such as: graphviz-88cfa414d22dd3242c19a9cb35b8312723e8386c.svg which is not very user friendly.

It would be nice to have a graphviz_name option within the diagram tag to specify the desired output name of a given diagram.

[2016-05-30 15:06] tk0miya commented on #2600
Sphinx uses the filename as cache key also. It enables to regenerate the image only if diagram or options are changed on incremental updates.
So renaming the generated image is not good to me.

[2016-05-30 15:35] tk0miya commented on #2598
Really? In my environment, I can't reproduce that. Could you share your project or small examples?

[2016-05-30 17:19] jfbu commented on #2582
@tk0miya thanks I should have checked docutils documentation first. Your hints solve my problem. I close now.

[2016-05-30 17:19] #2582 closed, assigned to nobody

[2016-05-30 18:10] jfbu commented on #2530
@tk0miya making working hyperlinked (clickable) footnotes from code captions, from inside tables, etc..., is another thorny issue for pdf output, it works for some constructs but not all. But before making effort on this for tables, the way Sphinx does tables in LaTeX probably needs reviewing. (unfortunately `tabu` package is still awaiting its announced update)

[2016-05-30 19:02] nmat commented on #2594
Hello again,

I did try to set this and run latexpdf on my windows 10 machine but "table of contents" is still not generated.

[2016-05-30 19:02] nmat commented on #2595
Tested with cm on both html and latex. Seems to work just fine now.

[2016-05-30 19:10] jfbu commented on #2540
sorry for having missed 1.4.2 release. The PR #2601 changes the font for the date to use the same as for title etc...  Also for author address, which  `sphinx.sty` allows to define in LaTeX via use of `\authoraddress` command, and the command can switch to another font if wanted.

[2016-05-30 22:11] jantman opened #2602 "autodoc type links broken for Python builtins"
I can't be exactly sure if this is the fault of Sphinx or Python itself, but if the latter, then either Sphinx needs changes or documentation examples.

I have quite a number of projects that make use of autodoc to process docstrings like the following:

[code]

As of May 21st, this was working correctly, though it would link `list` to the [function reference](https://docs.python.org/library/funct

[2016-05-30 22:25] solidsnack commented on #1861
+1

[2016-05-30 22:57] barbara-sfx opened #2603 "Artifacts when using include:: with orphaned file"
## Details
- Project URL: private on rtd.com
- Build URL (if applicable):
- Read the Docs username (if applicable):

I wanted to include a file in other files, without including the former in the toctree, so I put :orphan: at top of the file.
## Expected Result

The included file shows up as expected.
## Actual Result

The included file shows up with:

   orphan:

at the top of the included text.

[2016-05-31 00:55] tk0miya commented on #2595
Please close this issue if it's okay.

[2016-05-31 00:56] tk0miya commented on #2594
Oh, sorry. I've misread the problem. I'll take a look later.

[2016-05-31 01:35] tk0miya commented on #2535
Sphinx tries to control margins using following settings (defined at sphinx.sty):

[code]

I added this setings into your example, then it aligns like sphinx does.
I don't know what this does.

[2016-05-31 01:37] tk0miya commented on #2535
Note: the settings are appeared since the beginning of  the latex writer: https://github.com/sphinx-doc/sphinx/commit/3d74adea2595f35994093091410bc8607bd49f74#diff-1d5cb1825858bd97a9964854a60eb331R130

[2016-05-31 02:32] tk0miya commented on #2540
Don't mind, it was scheduled release. We would release minor fixes at 4-6 weeks intervals.
But 1.4.3 will be released soon (maybe within a few days), because 1.4.2 has packaging problem...

Anyway, #2601 looks good. Let's merge into next release :-)

[2016-05-31 07:07] andreacassioli commented on #2535
As far as I know those settings are used to define front/rear pages so that the left and right margins changes accordingly. This is the case with book class, because you want to consider the binding.

https://en.wikibooks.org/wiki/LaTeX/Page_Layout

Setting to zero might have been a way to use book to generate pdf with equal margins even with the book class.

[2016-05-31 07:43] jfbu commented on #2540
I have merged #2601.

[2016-05-31 07:51] gm6 commented on #2598
Hi, I should mention that I am using Jinja2-2.8 MarkupSafe-0.23 Pygments-2.1.3 docutils-0.12 sphinx-1.2.3, since I am testing https://github.com/jterrace/sphinxtr. It doesn't work with Sphinx 1.3.x or newer versions. Any suggestions?

[2016-05-31 08:34] jfbu commented on #2535
Regarding initial TeX layout problem, yes I confirm this is TeX behaviour: when it does not know where to hyphenate, it will stretch available white spaces. But typically it does not move things too long to next line, if there is not enough stretching possible, the too long thing overflows into right margin.
If we add

[code]

inside preamble (the only difference from latex default is added `\allo

[2016-05-31 09:02] jfbu commented on #2535
@tk0miya regarding

[code]

you can see its effect by adding `\usepackage{layout}` to latex preamble and `\layout` command after `\begin{document}`, and commenting out these lines in `sphinx.sty`.

The produced pdf will then graphically document the various page layout parameters. The `\paperwidth` is set by LaTeX depending on option passed to document class: `a4paper`, `letterpaper`, ... (default

[2016-05-31 11:44] tk0miya commented on #2603
I think it is meaningless to mark the included document as orphaned.
Actually, it is not orphaned.
So I just made a new pull request #2605. It suppresses the warnings if the document is already included.

It will help this case.

[2016-05-31 12:29] tk0miya commented on #2598
I try to reproduce using bare sphinx-1.2.3. But it works fine.
It seems this is not a bug of Sphinx, and might be a bug of sphinxtr.

[2016-05-31 12:34] tk0miya commented on #2540
This has been resolved. I close now.

[2016-05-31 12:34] #2540 closed, assigned to jfbu

[2016-05-31 14:30] tk0miya commented on #2602
`https://docs.python.org/objects.inv`; the inventory file which the project refers has been move to `https://docs.python.org/2/objects.inv`. But `sphinx.ext.intersphinx` does not recognize the redirection. Then, it generates hyperlinks starts with `https://docs.python.org/` instead of `https://docs.python.org/2/`.
So the hyperlinks has been broken.

It will be fixed after #2606 is applied.

As a w

[2016-05-31 14:33] tk0miya commented on #2583
Reviewing at #2590 is over.
Now I close this.

Thank you for reporting and contribution!

[2016-05-31 14:33] #2583 closed, assigned to nobody

[2016-05-31 14:34] jantman commented on #2602
Cool, thanks soooooo much!!! I spent hours trying to trace down what the problem was, but I missed that.

[2016-05-31 15:29] gm6 commented on #2598
Thank you for your time! I agree. I'll dig the "sphinxtr" deeper later :)

[2016-05-31 15:34] tk0miya commented on #2598
Now I close this once.
Please reopen if you get more information.

Thank you for reporting.

[2016-05-31 15:34] #2598 closed, assigned to nobody

[2016-05-31 17:38] papadokolos commented on #2580
Well, I found out that I was working with an old vesion of Sphinx (1.3b2 to be exact)...
Updating to the newest version (1.4.2) seems to fix the problem of resolving namespaces, at least in the case I've specified in the **_Background Information**_ section (the extension i've written still manages to reduce the number of warnings of unresolved references, but I didn't encounter its affect in the

[2016-05-31 17:53] nmat commented on #2595
Is fixed now and confirmed.

[2016-05-31 17:53] #2595 closed, assigned to nobody

[2016-05-31 17:57] nmat commented on #2594
I tested it a bit more now.

The build of the pdf failed. Now what I did is the below:
1. Clean build (the build fails on the tabular problems in #2593
2. Running: `make latexpdf` a second time creates the table of contents

Whats note worthy is that.

On first run the latexpdf creates 2 blank pages and 2 table of contents pages.

1 blank page is after the first page.

2nd blank page is after the

[2016-06-01 02:48] jakobandersen commented on #2580
No problem. The domain will try to resolve everything, also `std::` stuff, which may contribute a lot of warnings. However, if you find unresolved references that should have been resolved, please open an issue.

[2016-06-01 02:48] #2580 closed, assigned to jakobandersen

[2016-06-01 02:53] MarcoKoch opened #2607 "C++, link classes in :exception: info fields to the respective class documentation"
I often have a setup like this:

[code]

With more complex interfaces, the exception class is often documented on an other page than the functions and classes that throw the exception. It would be nice if the mention of `MyException` in the documentation of `foo` would link to the documentation of `MyException`.

[2016-06-01 15:29] yingwei13mei opened #2609 "When excute "make html" to generate the full web page of "http://scikit-learn.org" pops up ERROR"
I wanted to generate the full web page of "http://scikit-learn.org" under the guide of "scikit-learn-master\doc\README.md", there are the error message:
D:\scikit-learn-master\doc>make html
Running Sphinx v1.3.1

Exception occurred:
  File "D:\Anaconda3\lib\subprocess.py", line 1220, in _execute_child
    startupinfo)

I opened up D:\Anaconda3\lib\subprocess.py found line 1220 was that winapi crea

[2016-06-01 16:33] tk0miya commented on #2593
In my short investigation:

Surely it comes from a figure inside a table.
It was rendered as following LaTeX code:

[code]

In my poor LaTeX knowledge, using `minipage` instead figure environment is better way to avoid the error.
But, to use minipage, we have to measure the images as LaTeX units (cf. in, pt, bp, etc.).
I will continue investigation to fix this problem.

Thanks,

@jfbu Could you gi

[2016-06-01 17:52] nmat commented on #2593
or maybe have a better way to align images in a table like format?

[2016-06-01 22:36] cholcombe973 opened #2610 "Safari rendering issue"
Not sure if this is sphinx or just safari being weird.  This http://pythonhosted.org/ceph_api/ceph_api.html#ceph_api.ceph_command.MdsCommand.fs_set looks fine on firefox, chrome on linux but my friend says it looks very weird on Safari/macbook.  Here's a picture: [Safari pic](https://plus.google.com/photos/albums/pvkas10pdmg6ls6r2gsnorqq5b18tr76c?pid=6291355655087916658&oid=105169085652175712547)

[2016-06-02 00:26] jakobandersen commented on #2607
Thanks for reporting, however when I try the example `MyException` becomes a link (same when splitting the declarations into separate pages). With which version of Sphinx do you observe the problem?

[2016-06-02 01:54] tk0miya commented on #2610
It seems any permission is needed to see your picture. Could you make it public or upload here?

BTW, I looked the page using firefox, chrome and safari. But it seems almost same for me in all browsers.
Here is a picture of chrome:
![2016-06-02 10 48 51](https://cloud.githubusercontent.com/assets/748828/15731415/f1d5ed9e-28af-11e6-84e7-bea2abfbb550.png)

Are you saying the default value of `valid_

[2016-06-02 02:01] tk0miya commented on #2609
It seems the error comes from `github_link` extension in scikit-learn-master module.

[code]

It is not a part of sphinx. it might be made by scikit-learn project.
Could you ask about the error to scikit learn project please?

Thanks,

[2016-06-02 02:01] #2609 closed, assigned to nobody

[2016-06-02 03:52] xuhdev opened #2611 "Mobile browser support of the classic theme"
Currently the classic theme does not optimize for mobile browsers. It would be a nice feature to support.

[2016-06-02 04:41] tk0miya commented on #2611
+1

[2016-06-02 08:21] kyrias opened #2612 "Source signature key"
A list of keys that are allowed to sign source releases on PyPI should be listed on the website and preferably also in the repository.

Without the keys that are allowed to sign releases listed somewhere trusted signing sources is pointless since there is no way to verify that the key is correct.

[2016-06-02 08:26] jfbu commented on #2593
It is not possible to use LaTeX figure environment inside a table. However I found a work-around, somewhat heuristically. It is quite complicated due to other things done by Sphinx like using `\capstart` to get the hyperlinks to point to top of picture, not to caption. But the hardest is that `tabulary` makes two passes. I have a heuristic way to detect if we are in first pass, hence I can inhibit

[2016-06-02 08:28] jfbu commented on #2593
@tk0miya I forgot to say you can't put a `figure` environement inside a `minipage` either. This is why my patch redefines `figure` environment. It uses `minipage` because of `\caption` which does things which are not possible in a table cell, if not hidden in `minipage`.

[2016-06-02 08:39] jfbu commented on #2593
This might be better:

[code]

it perturbates less the cells in first tabulary pass, as it inhibits counter stepping (using pre-existing patch done by amsmath to LaTeX counters) rather than suppressing completely the caption (this was my first intention but I had a problem and forgot about it later).

[2016-06-02 09:39] kyrias commented on #2612
(Though, for them to be listed on the website to be of any significance, it would also have to have https support.)

[2016-06-02 11:35] yingwei13mei commented on #2609
thanks a lot

[2016-06-02 13:07] jfbu commented on #2593
@nmat if you don't need captions you could use `image` directive, as in;

[code]

This will produce LaTeX using `\includegraphics`  which is not problematic inside a LaTeX table/tabular like environment, contrarily to the `figure` environment.

[2016-06-02 13:10] cholcombe973 commented on #2610
Yeah that looks correct.  Yes I was referring to the valid_range overflowing.  :)  Sorry about the permissions.  I wasn't sure if that would share properly.  Here's the image:
![screen shot 2016-06-01 at 6 32 35 pm](https://cloud.githubusercontent.com/assets/3058195/15745730/3de24bc4-2888-11e6-84a8-0e009ec769c6.png)

It appears to match your image.  On Linux firefox it looks like this:
![fs-set](h

[2016-06-02 15:29] tk0miya commented on #2610
It might browsers could not find good line breaking point because the default value is built from consecutive characters. It will be folded automatically if there are any spaces in the value.

In this case, this problem comes from `sphinx.ext.autodoc`. It should add the spaces to the default value.

I will take a look later.

[2016-06-02 16:04] tk0miya commented on #2593
@jfbu Thank you for comment and great macro :-)
Your macro works almost good. but it does not work inside longtable. (after rewriting to  `\AtBeginEnvironment{longtable}`)

the longtable causes following error:

[code]

I will investigate the error later :-)

[2016-06-02 16:32] jfbu commented on #2593
This issue is solved by moving `\let\captionold\caption` to start of longtable environment.

[code]

But the problem is that with `tabulary` I exploited the fact that it gives to `\linewidth` a suitable value in the cell, not so for `longtable` (I have not fully checked),  hence there is no obvious choice for the minipage width. Will investigate too :-)

[2016-06-02 17:06] jfbu commented on #2593
A possible approach would be for longtable to do

[code]

and have the LaTeX writer add suitable `\setlength{\PICTUREWIDTH}{...}` just before the `figure` environment. I guess the LaTeX writer must have possibility to examine width as it may be passed as option ? then it can initialize the `\PICTUREWIDTH` (or a better name !) for that specific picture. We need a `\newlength\PICTUREWIDTH` in sphinx

[2016-06-02 17:06] jfbu commented on #2593
@tk0miya I initially used `\minipage/\endminipage` but it seems ok with `\begin{minipage}/\end{minipage}` as well.

[2016-06-02 17:23] jfbu commented on #2593
@tk0miya  above I said something misleading about `\linewidth` in `tabulary`. In fact, `tabulary` with `L` columns computes the final cell widths as being proportional to their initial natural width.

Thus using `\linewidth` in minipage means all pictures appear as having equal widths, independently of their real original widths.

Hence, I think the (hoped-for) method using `\PICTUREWIDTH` should

[2016-06-02 17:43] jfbu opened #2614 "Some tables in PDF output will end up shifted if user sets non zero \parindent in preamble"
The LaTeX writer may use  depending on circumstances `tabular`,  `tabulary`,  `threeparttable`or  `longtable` environment for tables. But when this table is at top level in document, `tabular` and `tabulary` will obey the `\parindent`. This does not show because by default Sphinx sets globally `\parindent` to zero. But a user may wish to use non-zero value. Then all full width tables set by `tabul

[2016-06-03 00:25] tk0miya commented on #2603
I merged #2605. so you don't need to add orphaned mark to each included file.
So this issue was solved with other approach.

Now I close this. Please reopen if you still have any problems.

Thank you for reporting.

[2016-06-03 00:25] #2603 closed, assigned to nobody

[2016-06-03 06:23] jfbu commented on #2614
Fix at e95f6a9, I close now.

[2016-06-03 06:23] #2614 closed, assigned to jfbu

[2016-06-03 12:36] AlexEshoo commented on #2594
An artefact of LaTeX is that you need to run at least twice to get all those references correct in the pdf. That is why the table of contents is not building properly on the first go. the Makefile should be edited in a way to assure that pdflatex is invoked at least twice to build it correctly automatically.

Also I am experiencing the same issue on both windows and debian

[2016-06-03 12:40] tk0miya commented on #2602
Now #2606 is merged. It will be detect redirection automatically.

Thank you for reporting!

[2016-06-03 12:40] #2602 closed, assigned to nobody

[2016-06-03 14:18] tk0miya commented on #2593
@jfbu Thank you for great macros. I arrange them and make a PR #2615.
Could you review it please? It allows to specify the width using `:figwidth:` option.

BTW, it would be nice if the physical width of images from the files. Some image formats support to specify DPI values, so it is able to convert px to physical length.
It makes easy to adjust minipage to size of images.

[2016-06-03 14:28] MarcoKoch commented on #2607
Ah, sorry. I tested my example code again and it actually gives me a link too. I'm using Sphinx 1.4.2.

I usually have my exception classes in a namespace, like `MyNamespace::MyException`. When documenting the exception in the `:exception:` info field, the double colons confuse Sphinx. I thus escape them like `:exception MyNamespace\:\:MyException:`.

Before writing the issue, I did a quick test w

[2016-06-03 14:36] tk0miya commented on #2612
Now sphinx-doc.org is hosted on readthedocs.org. It provides pages by plain HTTP.
So it is better to put pubkeys on the repository in our project.

But I don't know way to open to the public my key on repository.
Do you know any examples on other projects?
I would appreciate it if you could give advice for me.

Thanks,

[2016-06-03 15:08] tk0miya commented on #2539
It seems the attached project could not build because source codes are not included.
So I could not reproduce the bug.

BTW, the error log says the error is raised on importing your source codes.

[code]

It might it is related with typing module.
Could you check it please?

[2016-06-03 15:40] tk0miya commented on #2610
Finally, I found the cause of the error.
The docstring of `fs_set` has very long the definition of default value which has no spaces.
https://github.com/cholcombe973/ceph-api/blob/master/ceph_api/jewel/ceph_command.py#L775

Could you add some spaces here? It would be fixed.

[2016-06-03 15:59] tk0miya commented on #2594
@nmat Could you add `openany` option? It would remove empty pages you said.
BTW, did you see two table of contents in PDF? It's strange for me. Could you show me your document?

@alenz33 At this moment, sphinx invokes `pdflatex` multiple times by default. So you do not need to edit the Makefile.

[2016-06-03 16:24] AlexEshoo commented on #2594
What is the control sequence that causes `pdflatex` to be run multiple times? When I run `make latexpdf` command I only see `pdflatex` run once and I am missing my table of contents afterward.

[2016-06-03 16:26] tk0miya opened #2616 "Improve footnotes on LaTeX"
There are some themes to improve footnotes on LaTeX
- numbering rule of footnotes; manually numbered footnotes and auto numbered
- scope of footnote numbers (per chapter, per section, per page and so on)
- position of footnotes defined inside admonitions
- switching footnote counter (cf. a, b, c...) in adomonitions (discussed in #2530)
- making working hyperlinked (clickable) footnotes from code c

[2016-06-03 16:27] tk0miya commented on #2530
I made #2616. so I close this now.

Thank you for reporting!

[2016-06-03 16:27] #2530 closed, assigned to nobody

[2016-06-03 16:35] nmat commented on #2594
openany did not remove the empty pages.IMO I believe this is a problem of multiple things.
1. The tabulary issue
2. The generating of table of contents when first fails due to tabulary issue

So in this case it would be best to test it when tabulary issue is fixed to try and get no errors from that first.

[2016-06-03 16:59] jfbu commented on #2594
@alenz33 have you tried doing `make latex` and then go to build repertory and manually issue `pdflatex`?  perhaps `pdflatex` fails with an error, then `make latexpdf` would indeed do only one compilation.

[2016-06-03 17:00] jfbu commented on #2594
@AlexEshoo see previous comment.

@alenz33 sorry for pinging you by error on this.

[2016-06-03 17:08] jfbu commented on #2593
sorry for series of forced updates on my branch showing up above. See https://github.com/sphinx-doc/sphinx/compare/stable...jfbu:figure-in-table which builds upon @tk0miya initial commit in PR #2615.

[2016-06-03 17:16] nmat commented on #2593
Further information:

I have tested with image instead of figure without the text under it. And it works.

The caption text would be nice to still have as a feature.

[2016-06-03 17:18] nmat commented on #2594
I now ran this so that there are no errors in the document.

Now the table of content is generated.

2 blank pages + one more page named Contents: is still being created though.

This is a test of completely removing the whole latex/ build directory. So the document is built from scratch completely.

[2016-06-03 17:25] jfbu commented on #2593
@nmat the underlying problem is that `figure` directive uses in LaTeX output the `figure` environment which is a "floating" environment which must be at top level. Using `image` directive means LaTeX will use only the `\includegraphics` command but not wrap it in a `figure` environment. This loses indeed (without extra effort) possibility of a caption. It seems with @tk0miya we are close to a work

[2016-06-03 17:47] ericholscher opened #2617 "Replacements output the incorrect line number"
This might be an RST bug, but with this in my conf.py:

[code]

And then this file:

[code]

The incorrect reference is reported as:

[code]

Which says line 18, when it is actually line 12. This is because of the rst substitution, but with a longer file in a real use case, it makes it almost impossible to find the actual line the bug is on.

[2016-06-03 17:51] AlexEshoo commented on #2594
@jfbu I am getting an error on build `make: *** [foo.pdf] Error 1` but then it says build finished and there is a PDF output. Theres a few latex package warnings throughout could these, but should those affect this error?

Edit:

I found the source of the error code, I had some problems with the syntax in my custom preamble that caused pdflatex to exit with a nonzero error code. Now that it is res

[2016-06-03 18:08] nmat commented on #2593
@jfbu that is really good news. Let me know if there is anything I should test.

I am willing to help with testing to see if I can create scenarios for this type of usage with figures.

[2016-06-03 19:37] barbara-sfx commented on #2595
The fact that LaTeX doesn't recognize px seems like - if not a bug - at least a feature request. So now i have to go through and figure out how to rework all my px entries into cm or em or whatever. Consider this, from https://www.w3.org/Style/Examples/007/units.en.html#units:

In fact, CSS requires that 1px must be exactly 1/96th of an inch in all printed output. CSS considers that printers, unli

[2016-06-03 19:57] barbara-sfx commented on #2617
The title of this issue is too limiting (although we thought that was the initial problem, which I reported to Eric).

I see errors in files that do not contain replacements/substitutions at all - the line numbers are just way off. Most recently, they generally add 20 to the line number.

The attached dummy file (saved as rst locally, obviously) with an error at line 13, shows an error at line 33.

[2016-06-03 20:23] barbara-sfx commented on #2617
P.S. I do have rst_prolog in my conf.py, which is in fact 20 lines long. So it appears that is getting added to the line count before the error is generated. (Thanks to @ericholscher for suggesting that was the problem.)

[2016-06-03 20:32] jfbu commented on #2594
@AlexEshoo good to know ;-)

[2016-06-03 21:24] jfbu commented on #2595
Actually LaTeX does recognize px. Many documentation do not mention it, as it is not part of TeX/LaTeX but implemented by the engine pdftex, and only "recently" (in TeX sense), i.e. since 2005:

But the default is 72px=1in (in other terms, this is a "big point", or bp in LaTeX terms). To set the default to 96px=1in (which means 4px=3bp) you can add this to conf.py in `latex_elements`:

[code]

Unf

[2016-06-03 21:52] jfbu commented on #2595
@barbara-sfx see PR #2618 which tries to allow using px in  `:width:` option of figure and image directives, for LaTeX output too.

[2016-06-03 22:25] barbara-sfx commented on #2595
Thanks @jfbu. I will look into these options.

[2016-06-04 13:48] tk0miya opened #2620 "Improve tables on LaTeX"
At this moment, sphinx uses four types of macros to create tables:
- threeparttable
- longtable
- tabular
- tabulary

To make sphinx simple, it would be nice we move to one or two package to create tables.

[2016-06-04 20:49] jandicke commented on #2522
I'm new to Python and Sphinx, and it's possible I did something wrong. Yesterday I installed Sphinx on my Macbook Pro (OS X 10.11.5). Trying to build my first document ended up with:

[code]

So I replaced the three files mentioned above with the code I got when I moved to https://github.com/sphinx-doc/sphinx/commit/26fecafb4920a8d9dacaa9e3614bf182ce12696a and copied and pasted the source code of

[2016-06-05 00:11] tk0miya commented on #2522
This has fixed at Sphinx-1.4.2. It seems version of sphinx you used is 1.4.1.
Could you update it to 1.4.2 and try again?

[2016-06-05 02:56] kiwifb commented on #777
Resurrecting the discussion. Using `trivlist` sounds ok to me. Looking at the doc that would also means that some of the lengths are set to 0 automatically so a few (but not all) `\setlength` statements could be removed.

[2016-06-05 03:02] jakobandersen commented on #2607
Do you have an example where it fails? I tried the following example, and variations of it, but the exception field is properly converted into a link.

[code]

[2016-06-05 05:24] tk0miya commented on #2593
Now I merged #2615 now. It will be fixed in next stable release (I will work it today!).
Please reopen if you get same trouble in next stable release.

Thank you for reporting!

[2016-06-05 05:24] #2593 closed, assigned to tk0miya

[2016-06-05 06:01] MarcoKoch commented on #2607
I tracked this down a bit. The problem I am experiencing seems to actually be that the `:cpp:namespace::` directive is ignored when the links are created:

[code]

[2016-06-05 07:04] tk0miya commented on #2617
It seems substitution is not related with the increase of line numbers.
In the case above, the `rst_prolog` has 6 lines. Simply, these lines affects to the line numbers.

In `sphinx.io.SphinxFileInput.read()`, sphinx simply prepends `rst_prolog` to the file contents before parsing reST.
This confuses the following processors.

To resolve this, we have to adjust line numbers if any `rst_prolog` is

[2016-06-05 08:39] jfbu commented on #777
yes using `trivlist` is definitely feasible, avoids the check for nesting depth done by `list` and if needed (I have not looked closerly) we can always add some of the things done by `list` and not by `trivlist` either at begin or end. I can work on this tomorrow.

[2016-06-05 08:55] tk0miya commented on #2594
I just released sphinx-1.4.3. It includes the fix for figures in table.
Could you try this again please?

I think this problem comes from crash of LaTeX. so it might be resolved in newest release.

[2016-06-05 09:56] tk0miya commented on #2550
I try to fix this, but I don't have a windows environment.
Could you check this branch please? https://github.com/tk0miya/sphinx/tree/2550_external_links_on_htmlhelp

BTW, is it common sense for all htmlhelp users to change external hyperlinks to `target=_blank` as default behavior of Sphinx?
Any configuration is needed?

[2016-06-05 10:13] tk0miya commented on #2442
I don't know the behavior is intentional or not.

Now sphinx provides `add_stylesheet()` API to add css files.
But `html_context["css_files"]` is undocumented internal key to manage css files. I think it is not proper way to add CSS files.
So your problem is unexpected, but undefined behavior.

Any reason to use `html_context["css_files"]` instead of `add_stylesheet()`?

[2016-06-05 10:48] jandicke commented on #2522
Thanks a lot! I don't know what exactly went wrong. Maybe Macport executed an autoupdate I dIdn't recognize, and I updated the 1.4.2 version files by mistake. Nevertheless: I deleted and installed the system again, and I got a working 1.4.2 version. :)

[2016-06-05 12:52] nmat commented on #2594
I tested it and works fine. I can verify it here.

@jfbu could you maybe do a double check before I close the ticket?

[2016-06-05 14:45] nmat commented on #2594
@tk0miya should I open a different ticket for the blank pages?

[2016-06-05 15:05] tk0miya commented on #363
The specification of image directives says...
- `image` directive generates inline images
- `figure` directive generates figures which is float in page-based media
  http://docutils.sourceforge.net/docs/ref/rst/directives.html#image

So this is not needed changes.
Please use `figure` directive instead to wrap text around the images.

[2016-06-05 15:05] #363 closed, assigned to nobody

[2016-06-05 15:15] tk0miya commented on #910
Now sphinx defines and uses `SphinxShadowBox` to represent topic node.

[2016-06-05 15:15] #910 closed, assigned to nobody

[2016-06-05 15:18] tk0miya commented on #1534
Now #2343 is merged. This is already resolved.

[2016-06-05 15:18] #1534 closed, assigned to nobody

[2016-06-05 15:25] tk0miya commented on #1856
Since 1.4, we replaced `\emph` macro with `\crossref`.
Thanks,

[2016-06-05 15:25] #1856 closed, assigned to nobody

[2016-06-05 15:38] tk0miya commented on #1868
Is this fixed in recent release?
The ticket you linked is closed now, and current document seems good.

[2016-06-05 15:42] tk0miya commented on #1937
Since 1.4, sphinx provides `latex_toplevel_sectioning` to do that.
This might be resolved.

Thanks,

[2016-06-05 15:42] #1937 closed, assigned to nobody

[2016-06-05 15:52] tk0miya commented on #2138
To introduce your package, we need to refactor whole of latex writer.
But we don't have enough time to do that.
So I decided we don't switch to PyLaTeX at this moment.

Thank you for proposal.

[2016-06-05 15:52] #2138 closed, assigned to nobody

[2016-06-05 16:02] tk0miya commented on #2594
@nmat Yes, please!

[2016-06-05 16:41] #2430 closed, assigned to nobody

[2016-06-05 16:43] tk0miya commented on #2430
To keep sphinx-core simple, KaTeX module should be implemented as an extension.
Thank you for proposal.

[2016-06-05 16:46] jfbu commented on #2594
@nmat I think you can close this ticket if your problem is solved. I have no access to a Windows environment, hence to MikTeX. Blank table of contents is sign first LaTeX run failed and make rule stopped. The .toc file is written when LaTeX reaches end of document, if something gets wrong before it may not be written and next run even if done manually will have blank table of contents.

[2016-06-05 16:47] tk0miya commented on #2505
Now I close this.
Please reopen if you get the warning.

Thanks,

[2016-06-05 16:47] #2505 closed, assigned to nobody

[2016-06-05 16:48] tk0miya commented on #2449
Any updates? I will close this if no one can reproduce this.

[2016-06-05 18:18] nmat commented on #2594
Closing issue and creating a blank pages issue instead. Thanks @tk0miya and @jfbu

[2016-06-05 18:18] #2594 closed, assigned to nobody

[2016-06-05 18:20] nmat opened #2622 "Latex produces empty pages after title and table of contents"
Reported before. Empty pages are created using miktex and latexpdf during make process.

Even if make goes through.

[2016-06-05 19:44] jfbu commented on #2622
is it possible you try to present minimal rst source creating the problem ?

[2016-06-05 19:51] nmat commented on #2622
@jfbu sorry I am not following?

[2016-06-05 20:37] jfbu commented on #2622
@nmat perhaps I missed something from your original report, I will check. But I can not reproduce your problem without appropriate source which I can use. (assuming this is not a MikTeX issue).

[2016-06-05 20:40] nmat commented on #2622
This could be only miktex related. I am not 100% sure. Should I try to build it on linux also?

[2016-06-05 20:46] jfbu commented on #777
Initially I thought from comment by @kiwifb the issue was with Verbatim, and I self-assigned to me. I fixed that but this only spares one level of nesting. Reading the whole thread I realized the issue was more general, related to lists. The package enumitem was mentioned, but the simplest would be to remove from LaTeX's `\list` code the check for depth. Then the above commit would be unneeded. An

[2016-06-05 20:52] jfbu commented on #2622
as far as I know MikTeX is very much alike TeXLIve, in so far as packages are fetched from CTAN. It is very rare a problem is only with MikTeX. I am quite confident all packages used by Sphinx for LaTeX are the same on MikTeX and TeXLive, if both are up-to-date. It would be useful if you can reduce the problematic document to a minimal project. Because apart from concluding that pdflatex compilati

[2016-06-05 21:22] nmat commented on #2622
I can make it simple really.
1. Created a new directory
2. Ran the quickstart (standard settings) no changes in conf.py
3. In index.rst I added

testing/index.rst
1. In testing/index.rst I added a simple header and paragraph

Ran the latexpdf and boom several pages of empty information.

NOTE also that I use 2 spaces for indenting in the rst files.

Build output: https://gist.github.com/nmat/273a2

[2016-06-05 21:52] jfbu commented on #2622
I did reproduce your issue following your instructions.

Remove in index.rst the line above `.. toctree::` containing the word  `Contents:`.

I never observed it because I have not used for a long time the quickstart script. I always copy an earlier project skeleton. Instead.

Does this fix it for you ?

[2016-06-05 21:58] nmat commented on #2622
It did fix the content header page not generated as blank.....but there are still other pages that are blank. :/

[2016-06-05 22:05] jfbu commented on #2622
With

[code]

you get rid of blank pages needed by default for `manual`, which is that chapters open on odd pages.

I observe only one blank page after first one of table of contents.

This is no bug  I think, but probably standard behaviour of `report` LaTeX class.

Perhaps `howto` in `latex_documents` in conf.py is more suited to your needs ?

[2016-06-05 22:11] jfbu commented on #2622
ah ok I see some code including

[code]

after table of contents in `sphinxmanual.cls`. It is late here, I will investigate another time the code above which looks strange, because `\cleardoublepage` should do the job by itself.

[2016-06-05 22:13] nmat commented on #2622
makes sense. Yeah I tested it. And still get 1 blank page after header and one after contents.

So it did remove a lot but still kept a few blank pages. Late here also. so will continue tomorrow.

If you want to talk directly to me then I am on IRC also.

[2016-06-05 22:14] jfbu commented on #2622
seems like `sphinxmanual.cls` does not obey `openany` option for first chapter after table of contents, hence you possibly found a Sphinx bug. I will investigate tomorrow.

[2016-06-05 22:50] kiwifb commented on #777
No luck. I am doing a serial build to disentangle things and give you a clean output, that will take a little while.

[2016-06-06 00:29] #2562 closed, assigned to nobody

[2016-06-06 00:48] lakhman opened #2625 "PicklingError: Can't pickle class `docutils.parsers.rst.directives.html.meta` attribute lookup failed"
When I use the meta directive, on my home page (index.rst) it works fine, but when I use it in a document I get the following error:

[code]

This is what I'm including at the top of my rst fle.

[code]

I use it in my template like so:

[code]

From my understanding, it can't serialize something, any ideas how to debug this or trace it down?

I think it's down to this extension i'm using (i remov

[2016-06-06 01:17] kiwifb commented on #777
[code]

I can provide the log if necessary or any other files you may need.

[2016-06-06 01:21] tk0miya commented on #2625
Sphinx replaces meta nodes to `sphinx.addnodes.meta` class because the original meta node of docutils could not be serializable.
https://github.com/sphinx-doc/sphinx/blob/1.4.3/sphinx/environment.py#L792
But it seems the original node is used in your environment.

Please track down who generates the node.

[2016-06-06 02:10] lakhman commented on #2625
great, that helps and makes sense!

I did a search on the ablog extension, this is the only `meta` info I found:
https://github.com/abakan/ablog/blob/devel/ablog/post.py#L223

I set a breakpoint on line 792 where we change the class of meta to addnodes.meta, it doesn't seem to throw any errors there.

[code]

The error happens after line 732 on line 136, It seems like it can read all the meta tags

[2016-06-06 06:38] nmat commented on #2547
If this is going to be in 1.5 then might be good to add the 1.5 milestone on the issue? (just to keep track?)

[2016-06-06 06:52] tk0miya commented on #2547
This issue has some toipcs:
- paragraph and subparagraph could not have any section numbers (#2551, fixed in stable)
- `:maxdepth:` option affects `secnumdepth` (fixed in master branch)
- Sphnx supports only 8 sectioning units at most.

The last topic is not fixed yet. but I don't fix it and close this issue if nobody requests.

[2016-06-06 07:09] jfbu commented on #777
Thank you for trying PR #2624. Your project has no issue with `make latexpdf` on `1.4.3`?

[2016-06-06 07:14] jfbu commented on #777
well,  my question was silly because you surely have earlier reported "too deeply nested". But perhaps there were other issues than the "too deeply nested" one. I don't see how `Missing \endcsname inserted` can arise from PR #2624, but I will think if I get time.

[2016-06-06 07:33] kiwifb commented on #777
Actually I probably should run a check with pure 1.4.3. That issue as been going on for a long time and I don't know how many people did try runs apart from me at this stage.

[2016-06-06 08:19] kiwifb commented on #777
Well that's interesting same error.

[code]

So we have moved from the nesting issue. Going with `trivlist` in sphinx 1.4.1 got things build. Checking with 1.4.3.

[2016-06-06 08:55] kiwifb commented on #777
Same error when replacing list by trivlist in 1.4.3 so it must be something new.

[2016-06-06 09:18] jfbu commented on #2622
I have possibly fixed it, can you test PR #2626 ?
- you must use `'extraclassoptions': 'openany',` in `latex_elements`,
- to avoid the issue with the `Contents:` line in `index.rst`, you should set sixth element of `latex_documents` to `True`:

[code]

This way you can still have `Contents:` in html output.

@tk0miya shouldn't default value of sixth element to `latex_documents` be `True`? the `Con

[2016-06-06 10:19] jfbu commented on #777
Thank you for reporting.
- I suppose it fails also with 1.4.2 ? (many latex changes occurred from 1.4.1 to 1.4.2)
- can you do `make latex` go to build repertory, add a `\errorcontextlines10` line near top of latex file, then launch `pdflatex` manually and report here the first error message with all its context (say about 20 lines)
- ideally if you had a small project exhibiting the issue and whi

[2016-06-06 11:08] nmat commented on #2622
Verified and works here.

Both solutions fixes blank pages and also the extra content while still keeping html content.

Nicely done!

[2016-06-06 11:19] jfbu commented on #2622
@nmat good to know, thanks.

[2016-06-06 11:39] tk0miya commented on #2625
Oh, sorry. I've misread your error log. I understand your error happened at `Environment.topickle()`.
My comment above is wrong. The line 792 is not related with this error. Sorry for confuse you.

It's more strange to me. In sphinx, nobody stores meta nodes into environment object.
I don't have good idea to track down. As a first step, it is good to inspect the environment object (`self` in the l

[2016-06-06 16:10] #2625 closed, assigned to nobody

[2016-06-06 16:11] mgeier commented on #2442
I think the one obvious way for a "normal" user to provide custom settings to Sphinx is defining variables (e.g. `html_title` or `latex_elements`) in `conf.py`.

OTOH, the one obvious way for "extension writers" to extend (and "enhance") the user-specified settings is to use the [application API](http://www.sphinx-doc.org/en/stable/extdev/appapi.html) from the extension's `setup()` function, e.g.

[2016-06-06 16:28] willingc commented on #2442
@tk0miya Let me add a bit of background on the request. Project Jupyter/IPython notebooks rely on using @mgeier's nbsphinx package for including notebooks in Sphinx documentation. This workflow has worked really well for us except for unexpected CSS rendering breakage from time to time. The devs on Sphinx, ReadTheDocs (@ericholscher, @agjohnson), and nbsphinx are doing great work. I'm wondering wh

[2016-06-06 16:53] jfbu opened #2629 "memoir class crashes LaTeX"
Using

[code]

in conf.py leads to correct header of latex source:

[code]

but then compilation fails:

[code]

There is some special support code in  sphinx.sty, sphinxmanual.cls and sphinxhowto.cls for memoir class. But currently it does not work. Should Sphinx really support memoir ?

[2016-06-06 17:09] ericholscher commented on #2442
Sounds like what folks want is just another setting like `css_files` that you can set, and it has the same outcome as doing:

[code]

Personally I don't think the extension solution is bad, and allows full access to the app API, which a settings file doesn't support.

You extension could easily include the `add_stylesheet` call, so users would never had to set it.

[2016-06-06 17:51] nmat commented on #2622
Should I close the ticket?

[2016-06-06 18:24] AlexEshoo opened #2630 "Latex sphinx.sty Notice Enviroment formatting problems"
The notice environments appear to have some problems when inserted into enumerated lists in latex. When the notice fields that invoke the lightbox command, the bottom rule line is offset back to the top level indentation, which is not the indentation level of a quoted item in the list. The length, however is correct.

I renewed the command in my preamble and I was able to move the `\rule` generate

[2016-06-06 18:49] jfbu commented on #2622
@nmat keep it open please until PR is reviewed and perhaps merged. I have modified it substantially, does latest version still work for you ?

[2016-06-06 19:02] jfbu commented on #2630
Thanks for reporting. I see the problem. Lists in LaTeX are implemented using what is called a `\parshape` which affects only paragraphs. The  `\vbox` does not initiate a paragraph, the `\noindent\rule` does. Earlier code had `\noindent` but then we must control the `\parskip`. This version avoided that (because it has other aspects). I will work on a fix. (most probably taking into account `\@tot

[2016-06-06 19:29] phdru opened #2631 "AttributeError: BuildEnvironment instance has no attribute 'included'"
Hi! I have upgraded to 1.4.3 and got a strange error:

[code]

Strange because I don't see where `included` was deleted from `self`. Not sure if it's properly initialized.

[2016-06-06 19:42] AlexEshoo opened #2632 "Warning directives fail in quote environment latex build"
When building the pdf from sphinx generated latex, `pdflatex` will exit with nonzero error code if a `\notice{warning}` environment (or any other directive which uses the `\py@heavybox` command in `sphinx.sty`)is wrapped in a `\begin{quote}` environment and is part of an enumerated list. This can be the case with the following rst markup:

[code]

producing the following latex code:

[code]

pdfla

[2016-06-06 19:48] jandicke opened #2633 "latexpdf and phpdomain"
I installed phpdomain 0.1.4 for Sphinx 1.4.2 (Macbook Pro OS X 10.11.5) and added it to the conv.py of my project:

`extensions = [
    'sphinx.ext.todo',
    'sphinx.ext.imgmath',
    'sphinxcontrib.phpdomain'
]`

Creating HTML documents via "make html" works fine, using "make latexpfs" ends up with the following error message:

`Exception occurred:
  File "/opt/local/Library/Frameworks/Python.fr

[2016-06-06 20:44] phdru commented on #2631
Got it. The attribute hasn't been restored from pickle. I removed old pickles (*.doctree) and successfullly rebuilt my docs.

[2016-06-06 20:44] #2631 closed, assigned to nobody

[2016-06-06 21:15] jfbu commented on #2630
fixed at b5261d5. Does this work for you ?

[2016-06-06 21:20] nmat commented on #2622
Yes the latest version works just fine.

[2016-06-06 21:21] nmat commented on #2622
Will keep it open until it is commited and pushed. Nice work @jfbu

[2016-06-06 21:49] jfbu commented on #2632
fixed at 18eb553. Can you check ok with you ?

[2016-06-06 21:57] jfbu commented on #2622
Thanks @nmat for patience in explaining the problem and checking proposed fixes 👍

[2016-06-06 22:49] akolechkin opened #2634 "Update jquery to latest from 1.x"
Sphinx has jquery version 1.11.1 which is out of dated and needs to be updated to latest version.

https://github.com/jquery/jquery/issues/2432
http://blog.jquery.com/2016/01/08/jquery-2-2-and-1-12-released/

[2016-06-06 23:44] AlexEshoo commented on #2632
This works for me, thanks!

[2016-06-06 23:44] AlexEshoo commented on #2630
This works for me, Thanks!

[2016-06-07 01:49] AlexEshoo opened #2635 "Latex code directives produce inconsistent frames based on viewing resolution"
When using the regular `::` code directive or the `code-block` directive, the generated formatting of the frame around the code is inconsistent a pdf viewer based on what level of zoom the user is set to. Is this due to the thickness of the frame?

See following images

76%
![76pct](https://cloud.githubusercontent.com/assets/8216513/15843455/4643819c-2c30-11e6-88cb-46fb61ec4c48.PNG)

100%
![100pct

[2016-06-07 02:09] tk0miya commented on #2633
Since sphinx-1.4, the structure of indices are changed.
It seems phpdomain does not support it.
Please let author of the extension know that.

BTW, I created a PR #2636 to avoid the crashes if extensions are old.
It will be cleared if it is merged.

[2016-06-07 04:33] tk0miya commented on #2633
Now I merged #2636. (Thanks to @shimizukawa !)

Thank you for reporting.

[2016-06-07 04:33] #2633 closed, assigned to nobody

[2016-06-07 04:36] tk0miya commented on #2634
Thank you for letting us know.
I will do that until next release.

[2016-06-07 06:48] andreacassioli commented on #2635
Hi, I experience the same using `code-block` and `literal-include`. It seems viewer issue, but I still wondering whether it may also be elated with the package used for code blocks.

Related to #2450 ?

[2016-06-07 07:26] jfbu commented on #2635
This is a viewer + device issue, probably the same indeed as the one reported at #2450. Until recently I wasn't aware of it because on my mac os laptop I never see it, whether using Adobe Reader or Skim or Preview. On a desktop mac I again have no problem with Skim/Preview or whatever uses mac PDF libraries, but the issue you describes shows with Adobe Reader: the frames are partial until I zoom a

[2016-06-07 07:52] jfbu commented on #2635
From

[code]

and make latexpdf, then opening on Mac OS desktop with Skim at "real size", or any other zoom factor, I get correct

![capture d ecran 2016-06-07 a 09 40 39](https://cloud.githubusercontent.com/assets/2589111/15849852/dfbaacb0-2c94-11e6-9cb4-a918f05103a6.png)

However opening the same file in Adobe Reader, again at "real size", I get

![capture d ecran 2016-06-07 a 09 40 08](https://

[2016-06-07 08:30] jandicke commented on #2633
Thank you!

[2016-06-07 08:48] andreacassioli opened #2637 "toctree_only options does not work in 1.4.2"
According to  http://www.sphinx-doc.org/en/stable/config.html#confval-latex_documents I have set  `toctree_only` option to `True`.

However the following code

[code]

Produces pdf that after the content table has a page with the text `This document provides general information.`

Well it sounds the option is just ignored....

[2016-06-07 08:52] nmat commented on #2622
You are most welcome! I will try to help as much as I can with testing.

[2016-06-07 09:05] jfbu commented on #2630
Thanks for reporting. I am closing now.

[2016-06-07 09:05] #2630 closed, assigned to nobody

[2016-06-07 09:05] jfbu commented on #2632
Thanks for reporting ! I am closing now.

[2016-06-07 09:05] #2632 closed, assigned to nobody

[2016-06-07 09:12] tk0miya commented on #2622
@jfbu I think the sixth element of `latex_documents` a.k.a `toctree_only` is too complicated for users.
It ignores all contents in the `startdoc`. Then users should write contents to except `startdoc`s.

So it is not good for me to enable it by default

[2016-06-07 09:17] tk0miya commented on #2637
Really? In my environment, it works surely.

Here is `toctree_only=False` (by default)
[test.pdf](https://github.com/sphinx-doc/sphinx/files/302208/test.pdf)

Here is `toctree_only=True`
[test.pdf](https://github.com/sphinx-doc/sphinx/files/302207/test.pdf)

[code]

[2016-06-07 09:28] andreacassioli commented on #2637
Oh my!
I should take a day off...it definitely works!

You know, I literally put

[code]

in the `latex_elements` dictionary!

BTW: passing something unexpected to the dictionary generates no warning, is this OK?

[2016-06-07 10:15] tk0miya commented on #2637
Not so good. Users did not notice the settings are invalid.
So it would be nice if emitting warnings.

[2016-06-07 10:25] tk0miya commented on #2637
In addition, master branch is good to add warnings.
The warnings break compatibility. Because the additional warnings make crashes `sphinx-build` if `-W` option is specified.

Once, I've received much reports from who influenced by new warnings...

[2016-06-07 10:53] jfbu commented on #2635
Can you check PR #2638. It seems to work on my device. But I will not have access to this desktop machine for some days, and can test on linux box only tomorrow.

The sphinx.sty controls completely the drawing of code frames if on single page, or the first part is split on pages. The rest uses standard `\fcolorbox` from package `xcolor`. Probably that package already applies the technique I added

[2016-06-07 11:05] jwilk commented on #2544
BTW, this bug was found using [pydiatra](https://github.com/jwilk/pydiatra).

[2016-06-07 12:36] AlexEshoo commented on #2635
I tried that PR you made and it seems to work on my windows machine. I was unable to reproduce the output I was seeing before with any level of zoom. Seems to be a good fix.

[2016-06-07 12:43] AlexEshoo commented on #2635
Is there any way for me to renew this in the preamble of the document or am I stuck with editing sphinx.sty to solve this issue? The server I work on will be sticking with a particular version of sphinx for a while and I want to have a way to resolve some of these problems before an update. Since it is not a command, however, i assume I cannot use \renewcommand in my preamble to renew it.

[2016-06-07 13:00] andreacassioli commented on #2637
OK.
Anyway, I'll close the issue.

[2016-06-07 13:00] #2637 closed, assigned to nobody

[2016-06-07 13:29] pfalcon commented on #2150
@andreacassioli : Thanks for making noise and please don't drop the cause, it should be pronounced well that implementation of only:: in Sphinx is SEVERELY BROKEN. I spent a night yesterday unbreaking it for our usecase (which is getting non-existing (i.e. filtered out) stuff also out of genindex and search index). When doing my work, I tried to preserve compatibility with existing usecases of onl

[2016-06-07 13:36] jnothman commented on #777
Getting the same `\endcsname` and `Verbatim` issue as @kiwifb trying to build scikit-learn user guide with latexpdf in sphinx 1.4.2 and 1.4.3. I suspect this isn't the small project you're looking for :/

However, the error occurs with `Verbatim` in a `notice` environment or a `SphinxShadowBox`, and goes away when that environment is removed, so it may be simple for you to produce a minimal failin

[2016-06-07 13:50] pfalcon commented on #2150
Well, now I remember why I went my way: to make it warning-clean, e.g. avoid stuff like:

[code]

(wipy is referenced in only:: chunk).

[2016-06-07 13:53] pfalcon commented on #2150
Also bunch of:

[code]

[2016-06-07 13:57] pfalcon commented on #2150
Well, the latter is a result of my monkey-patching implementation.

[2016-06-07 14:46] tk0miya commented on #2629
Oh, it's my mistake for naming. I used very popular words to define the macro.
It causes the conflict. It's not my intension.
So we have to rename it ane make it unique.

Is there good naming custom or techniques for LaTeX packages?

[2016-06-07 16:28] tk0miya commented on #2637
FYI: I added the warning at e3b817d.

[2016-06-07 16:34] jfbu commented on #2629
@tk0miya there is no namespace with TeX/LaTeX macros (in the future LaTeX3 will perhaps improve a bit the situation, making it mandatory for package authors to pick up a prefix for all macros).

It was typical of twenty years ago that people were using common words such as `\formula`, `\bold`, `\num`, `\link`, not only for user interface but also internally. Sometimes it is successful like `\forea

[2016-06-07 16:45] jfbu commented on #2635
@AlexEshoo you can add this to your conf.py (sorry for length ;-) )

[code]

[2016-06-07 16:50] jfbu commented on #2635
In previous comment, I initially forgot the important `\makeatletter/\makeatother`.

[2016-06-07 17:01] jfbu commented on #2635
Let me comment more about underlying issue here which was already reported at #2450 (sorry @andreacassioli  for having thought it was not in Sphinx's reach). Using the following source

[code]

in index.rst I have then made screenshots of a small section of a top frame, with either Acrobat Reader or with Skim (a PDF viewer for Mac OS X). This is on my laptop where actually Acrobat had no issues wi

[2016-06-07 17:15] jfbu commented on #2635
sorry the Skim screenshot was not large enough I was in a train and must have been fooled by some ambient light effet, here it is, more alike the two Adobe ones,

![capture d ecran 2016-06-07 a 19 11 30](https://cloud.githubusercontent.com/assets/2589111/15867469/ca9b26f8-2ce3-11e6-8472-6d3d06dddacc.png)

there is a transition in the blue, but less pronounced as with Adobe. Anyway sorry for not ve

[2016-06-07 17:24] jfbu commented on #2629
I have another question: the sphinx doc for latex options has

[code]

and the quickstart conf.py has

[code]

I thus naively tried 'memoir' as fifth element. But in fact it should be done with `'docclass'`. On the other hand `'docclass'` is said later in the doc to be among

[code]

is it still correct that `'docclass'` key is set by an other option ? I do not quite understand the Python syntax o

[2016-06-07 17:30] jfbu commented on #2632
For the record the following pure LaTeX example show the problem:

[code]

and as Warning directives use `framed` package the issue arose. It would arise also in a list environment but I have not understood how to write reStructuredText which puts a warning directive as unique thing in a list item. If there is something before, there will be no issue (because it all boils done to the fact that LaT

[2016-06-07 17:37] jfbu commented on #2622
@tk0miya yes I understand. If quickstart script wrote something `(put here some optional contents)` rather than `Contents:` it would be more obvious to users when they do make latexpdf the first time why they get something funny after table of contents. When one sees a blank page with "Contents:" one may take time to understand it comes from `index.rst`.

I think when I first started with Sphinx I

[2016-06-07 18:05] pburdine opened #2639 "Version 1.4.3 introduces new requirement for iftex.sty"
This looks like it may have been the result of #2590.

After updating from 1.4.1 to 1.4.3, when trying to build PDF output, the following error is displayed:
`! LaTeX Error: File`iftex.sty' not found.`

As a work around, you can download the .sty file from https://www.ctan.org/tex-archive/macros/latex/contrib/iftex?lang=en and then use the `latex_additional_files` option to include it in the build

[2016-06-07 18:22] jfbu commented on #777
ah! sorry to everyone. This should be  `\begin{minipage}`  not `\begin{\minipage}`. This is only  a typo, but obviously with big consequences :-(( very sorry about this. I will correct very soon on stable branch.

[2016-06-07 18:44] jfbu commented on #777
I have fixed the sub-issue reported by @jnothman and @kiwifb at d4a9997 (on stable branch). With apologies, bad commit was 68becb1. I will merge the fix also into PR #2624 which is mentioned in the current thread.

[2016-06-07 19:14] jfbu opened #2640 "1.4.2 LaTeX crashes if code-block inside warning directive."
Following

[code]

causes a crash. Sorry.

[2016-06-07 19:17] jfbu commented on #777
@jnothman @kiwifb sadly there is another issue besides the typo with code-blocks inside warning admonitions. Reported at #2640. Will work on it (it's all my fault as I committed the new code for warning admonitions).

[2016-06-07 19:22] birkenfeld commented on #2639
If the file is not present in "usual" TeX distributions, it must be shipped with Sphinx.

This may well be the reason for a quick 1.4.4. No reason to be afraid of "release often".

[2016-06-07 20:35] nmat commented on #2639
I got this problem when I had the tex installed for cygwin and old miktex.

What I did as a workaround is to remove anything tex related in cygwin and install miktex new release: http://mirrors.ctan.org/systems/win32/miktex/setup/basic-miktex-2.9.5997-x64.exe and then it worked.

Not sure if you are using windows or not.

[2016-06-07 20:55] pfalcon commented on #2150
Ok, so I put up couple of monkey-patches to unbreak Sphinx' to do the right thing, in the shape of "extensions", so they can be easily used by the users: https://github.com/pfalcon/sphinx_sane_only .

Maintainers: please fix the illogical behavior upstream.

[2016-06-07 21:00] jfbu commented on #2640
Really tough latex debugging.

[2016-06-07 21:06] jfbu commented on #777
I have fixed the extra LaTeX issue at PR #2641. It was again related to the minipage thing but in a subtle way. Rather than `\begin{minipage}/\end{minipage}`, the code should have used `\minipage/\endminipage` due to some idiosyncrasy of original Verbatim environment. I have fixed it a slightly different way. @jnothman, @kiwifb, is this is better for you ? (I have merged the fix into PR #2624 whic

[2016-06-07 21:22] jfbu commented on #2450
@andreacassioli sorry for not more seriously handle this back then: on my laptop I could not reproduce the problem. Should be fixed by PR #2638.

[2016-06-07 22:19] jnothman commented on #2640
I don't doubt it. Thanks very much, though.

[2016-06-07 22:27] kiwifb commented on #777
I will give it a try soonish. Sorry for not being more responsive, as with jnothman, sage is not the small project you are looking for.

[2016-06-07 23:52] kiwifb commented on #777
No improvements, same message when applying the new PR #2624.

[code]

[2016-06-08 02:14] tk0miya commented on #2639
Sorry for inconvenience. I will work it and release new package in this weekend.
Thank you for reporting.

Note: It comes from #2590.

[2016-06-08 06:37] jfbu commented on #2640
Merged into stable branch at 5ba3293. In the future, a better way should be used by sphinx.sty for its fancyvrb extended Verbatim. Rather than preserving original in OriginalVerbatim and patch the Verbatim (with the hidden constraint that no `\begin{foo}` could be used --  fixed by this PR), it should use new name like SphinxVerbatim and leave Verbatim to original; by the way fancyvrb provides fac

[2016-06-08 06:37] #2640 closed, assigned to nobody

[2016-06-08 08:18] andreacassioli commented on #2150
Hi @pfalcon , thanks for the extensive replies!

Yes my use case is exactly that of avoiding annoying warning and sometimes errors related to missing files. I also think it is a waist of time compiling code that should not.

I see your implementation is very neat!I didn't think to inherit from the original Only class....my monkey patching was wrong as it did not preserver section depth and lead to

[2016-06-08 09:19] jfbu commented on #2632
Finally I fixed it better at e323295. Else, in an enumerated list, the framed warning could be printed above the item label.

[2016-06-08 09:38] #2622 closed, assigned to jfbu

[2016-06-08 11:26] andreacassioli opened #2642 "leftmost border missing in table (maybe docutils issue..)"
Hi,
I have a notice that in some tables the leftmost border is missing in the latex output. For instance the code

[code]

generates
![screenshot from 2016-06-08 13 21 49](https://cloud.githubusercontent.com/assets/6704112/15892822/4b7eca3e-2d7c-11e6-8524-6cfb2a33f624.png)

Maybe related to #2635 ?

[2016-06-08 13:04] tk0miya commented on #2150
The extension has strong restriction to order of building.
It ignores the conditions if you build continuously with multiple builders (cf. `make html latexpdf`).
You needs to call `make clean` before switching to another builder.

[2016-06-08 13:09] tk0miya commented on #2642
It seems your specification was wrong.

[code]

Add left border mark `|` to your tabularcolumns like following:

[code]

[2016-06-08 13:09] #2642 closed, assigned to nobody

[2016-06-08 13:32] pfalcon commented on #2150
Yes, that's noted in README. So, I personally don't think it's suitable for mainline - well, not for merging to the core for sure, maybe it would fit sphinx.ext . As I mentioned above, I initially went a different way to resolve the issue - that was not creating index and search index entries immediately, instead store them in the node properties, then have an extra pass after process_only_nodes()

[2016-06-08 13:33] tk0miya commented on #2631
Thank you for reporting.
I noticed that I'd forgotten to increment ENV_VERSION from this issue.

[2016-06-08 13:59] MichaelMarcialis opened #2645 "Meta Directive & Open Graph"
I'm currently using the `meta` directive to generate appropriate meta descriptions on my Sphinx pages.

[code]

I'd also like to create Open Graph descriptions for each page, using the same description value in the `meta` directive.

[code]

Unfortunately, I'm a bit new to Sphinx and I don't know how to obtain this value from the RST source and inject it into my template. Does anyone know of a way

[2016-06-08 16:06] jfbu commented on #777
@kiwifb thanks for trying, and sorry to hear it fails. This is same error as before, are you sure the `\begin{\minipage}`  is correctly replaced by `\begin{minipage}` in new sphinx.sty ? I can't until tomorrow afternoon, but if I get time by then I will try to see if I can clone the sage repo or sage doc repo and see for myself. (I hope my laptop has enough disk space ;-) )

[2016-06-08 21:36] kiwifb commented on #777
It is not. It is very bizarre when I look at #2624 I did `wget  https://github.com/sphinx-doc/sphinx/pull/2624.patch` and I got the individual commits from that, and in the first commit I got

[code]

so no replacement. When I look at file changed on the same PR I see:

[code]

So I am guessing the change from `\minipage` to `minipage` is something I didn't catch by just patching with the commits.

[2016-06-08 21:56] jfbu commented on #777
Perhaps I made it complicated for you getting a correct patch as I merged stable multiple times into this topic branch. Simplest would be if you git clone https://github.com/jfbu/sphinx.git and checkout its latex_avoidtoodeeplynested branch. In the Makefile of your project you can then set SPHINXBUILD   = /path/to/clone/sphinx/sphinx-build.py.

(I should have rebased my topic branch on stable; as

[2016-06-08 22:08] kiwifb commented on #777
I just made the small `minipage` change for now. `sage` is unfortunately a complicated beast and I wouldn't recommend you to try to build it and its documentation for debugging `sphinx` unless you are an experienced sage developer.

As it is, I am the developer of sage-on-gentoo so it is a bit easier for me to pull this kind of things but I still install a patched sphinx as my system wide one for

[2016-06-08 22:17] kiwifb commented on #777
OK different error but after what you say I'd better test out your branch

[code]

[2016-06-08 22:19] jfbu commented on #777
If you have a clone of sphinx-doc you can add this at bottom of .git/config file

[code]

and then **[edit]** <strike>`git fetch jfbu`, `git checkout jfbu/latex_avoidtoodeeplynested` could possibly work (I am no git expert).</strike>

[code]

followed by `git checkout latex_avoidtoodeeplynested`should do it

[2016-06-08 22:20] jfbu commented on #777
The kind of latest error you get may be among the things recently fixed in sphinx-doc stable branch.

[2016-06-08 22:24] kiwifb commented on #777
OK, I need to do some other stuff but I'll try ASAP. I can package a git branch in Gentoo that is not an issue but thanks for the advice (which is almost correct but not quite I think).

[2016-06-08 22:44] pfalcon commented on #2150
Ok, so in attempt to make it at least formally mergeable into mainline, I switched names used in a project to not be driven by the frustration with this issue. New repo is https://github.com/pfalcon/sphinx_selective_exclude . It still would be better if this was fixed properly in the core, but if for example nothing changes on that front in next half-year, then maybe including such an extension as

[2016-06-08 22:52] jnothman commented on #2351
At master, I'm getting code generated like:

[code]

That `%` without a newline is a problem

[2016-06-08 23:10] jnothman opened #2646 "Math with paragraph break broken in latex"
At master, the following

[code]

generates

[code]

which breaks with

[code]

This was previously (e.g. sphinx==1.3.1)

[code]

[2016-06-09 01:12] kiwifb commented on #777
Pulled your repo, switched to the branch, build, install. Rebuilding sage's documentation:

[code]

new error...

[2016-06-09 01:36] jnothman commented on #777
us too: yours looks like it could be another instance of #2646

[2016-06-09 01:44] kiwifb commented on #777
Yes looks like it. I'll join the discussion over there to get updates.

[2016-06-09 01:45] kiwifb commented on #2646
Just joining the thread since I have bumped on it in #777.

[2016-06-09 02:31] tk0miya commented on #2351
@jnothman Thank you for reporting.
stable branch has same error. so I fixed it on stable.
It will be merged master later.

[2016-06-09 02:37] jnothman commented on #2351
Thanks for the fast fix!

[2016-06-09 03:06] tk0miya commented on #2646
It comes from the math directive contains two empty lines. Until 1.4.4, it did not accept multiple empty lines.
I fixed it at b3e82fa.
As a workaround, please make these empty lines single.

Thank you for reporting.

[2016-06-09 03:06] #2646 closed, assigned to nobody

[2016-06-09 03:50] kiwifb commented on #2646
Yeah, this time it builds. Thank you.

[2016-06-09 06:37] jfbu commented on #777
@kiwifb I rebased the underlying topic branch on my repo for PR #2624 onto latest stable. This in order to create safer diff patch. But you will need `-f` for next fetch. Sorry about this ... I hope your build will succeed soon !

[2016-06-09 07:29] jfbu commented on #2640
@jnothman it was tough for me because the thrown error looked like some other issues with nested lists, but in the end it was due to using \OriginalVerbatim/\endOriginalVerbatim syntax which does not set the "current environment" , and the Verbatim part was fooled by surrounding \begin{minipage}/\end{minipage} (*)  failed to identify its ending and executed some code where it should never have bee

[2016-06-09 08:22] kiwifb commented on #777
It succeeded with your branch and the the fix associated with #2646. The rebasing will make it easier to package it for other people to use it though.

[2016-06-09 08:44] andreacassioli commented on #2150
Thanks @pfalcon and @tk0miya .

I think an extension is already a big step forward. The caching issue is critical of course, but I think that a good and sound conditional is important as well.

For my purposes, I do not mind loosing caching, as I actually always rebuild all docs. But I see the point.

My question is: is there any way to mark a directive to be `cache unfriendly`, pretty much as we

[2016-06-09 10:32] jnothman commented on #777
Thank you! the current stable branch is compiling scikit-learn's
documentation again.

On 9 June 2016 at 18:22, François Bissey notifications@github.com wrote:

[2016-06-09 11:19] jfbu commented on #777
@kiwifb @jnothman big relief ...

[2016-06-09 11:46] shimizukawa commented on #2001
@pinsardfr you have 2 problems. Please correct as:
1. use `= None` instead `'None'`.
2. use

[code]

instead of

[code]

[2016-06-09 11:46] #2001 closed, assigned to nobody

[2016-06-10 11:55] #2511 closed, assigned to nobody

[2016-06-10 14:17] pburdine commented on #2167
In #2173 @lehmannro said:

This explains what I am seeing, not sure if this is the cause of what @andreacassioli sees.

[2016-06-10 17:06] jfbu commented on #2635
Fix at af7d561 has been merged into stable, which will be released as 1.4.4. Thanks to @AlexEshoo  and @andreacassioli for reporting. Closing now.

[2016-06-10 17:06] #2635 closed, assigned to nobody

[2016-06-10 17:07] jfbu commented on #2450
Thanks for reporting ! finally fixed as part of upcoming 1.4.4 release. Closing now.

[2016-06-10 17:07] #2450 closed, assigned to nobody

[2016-06-10 17:26] jfbu commented on #777
Reopening because b2be594 only addresses partially the issue. Together with PR #2651 when it will be merged, the situation with code-blocks will be that they are allowed at maximal nesting depth within lists/quotes. With latex defaults if no list package is loaded, this is 6 levels of nesting.

Memo: by default latex allows 4 levels of enumerated lists, 4 levels of labeled lists, and 6 levels tota

[2016-06-11 05:43] Chaitya62 opened #2658 "make html gives error on windows 10 with Python 3.4.4 and Sphinx 1.4.3"
[code]

[2016-06-11 05:46] tk0miya commented on #2658
It seems same as #2609. This might be a bug of `github_link.py` made by scikit-learn project.
Could you ask about the error to scikit learn project please?

Thanks,

[2016-06-11 05:46] #2658 closed, assigned to nobody

[2016-06-11 07:20] Chaitya62 commented on #2658
Cool  thanks a lot

[2016-06-11 08:06] Chaitya62 commented on #2609
@yingwei13mei did you find the solution to this please let me know!

[2016-06-11 11:15] tk0miya commented on #2609
Note: This was filed to the scikit-learn project as https://github.com/scikit-learn/scikit-learn/issues/6860 .

[2016-06-11 14:00] tk0miya commented on #2639
Now I bundled iftex.sty at fc3bfbca5c33bd2c2d17210a033ca7769c761e0e.
In addition, I found some more problem on building PDF on ubuntu precise. more details, see #2659.

Thank you for reporting

[2016-06-11 14:00] #2639 closed, assigned to tk0miya

[2016-06-11 15:54] Chaitya62 commented on #2609
Thanks a lot ! Once again

[2016-06-11 17:33] jfbu commented on #777
I am reopening for the same reason.     4a0b283 only fixes to the extent that code-blocks are now allowed at deepest level, but nothing is changed to LaTeX defaults regarding max nesting of lists and quotes.

[2016-06-12 05:56] #2541 closed, assigned to RobRuana

[2016-06-12 05:59] RobRuana commented on #2541
Wow, an entire example project to demonstrate the bug! Excellent bug report :)

Many thanks!

[2016-06-12 13:53] andreacassioli opened #2662 "Improving assertions"
I have just got the following assertion:

[code]

Even looking at the stack trace I have no idea whether it is my fault (I am customizing a domain and therefore potentially doing something wrong...) or there is an issue. I would suggest to:
- do not put assertion in logical and

[code]

but split in two separate ones:

[code]

This way is clear which one is offending.
- It might be more informativ

[2016-06-12 15:10] jakobandersen opened #2665 "Domain specific annotation of pending_xrefs made by fields."
The C++ domain is annotating each pending_xref with information of which scope the xref should be resolved in. While trying to fix #2607 I couldn't find a way to annotate the pending_xrefs created for fields.
The following example illustrates the problem, both with the C++ and Python domain.

[code]

Is there a mechanism I didn't notice? Otherwise, my best suggestion is that the field uses the dom

[2016-06-12 15:20] jakobandersen commented on #2607
Thanks a lot for the example! I have fixed the part that made the following not work.

[code]

However, the bug you found extends to the other domains and probably requires some additional changes, so I have opened another issue for that part.

[2016-06-12 16:39] alexsr opened #2666 "C++ class constructor is not referenceable via :cpp:func:"
The reference to a constructor instead is a reference to the class itself.
I.e.:

[code]

This issue could have been introduced in #2133 since this issue seems to be the exact opposite.

[2016-06-12 18:03] jfbu opened #2667 "latex image-in-section test fails"
steps to reproduce,

[code]

gives

[code]

This correspond to source

[code]

with

[code]

as conf.py.

The problem is with things like

[code]

in latex, because at some point width becomes WIDTH which is not recognized as a valid key. This does not happen without the

[code]

in the preamble.

[2016-06-12 20:52] RobRuana commented on #2537
Yes, there is a requirement for sections to have two blank lines, unless the section is indented. I think what happened is that the `Attributes` section looks like it is indented even though it isn't, because the `module_level_variable1` description is so long.

Great catch, I'll update the docs as needed!

[2016-06-12 20:55] #2537 closed, assigned to RobRuana

[2016-06-13 04:15] tk0miya commented on #2665
Agreed. Any callbacks to domains are needed to create pending_xrefs for fields.

BTW,

[code]

I believe this is a bug of python domain.
In python domain, `py:class` and `py:exception` updates the context::

[code]

This behavior has problem as you said. The context is reset after nested definition. Because they simply override the context.

[code]

It should be better if the contexts work like a

[2016-06-13 06:20] pletnes opened #2670 "sphinx-build crashes with "raise EOFError" on "make html""
I'm trying to use the `autodoc` extension to generate nice, browsable API docs for a python library, but `sphinx-build` crashes. Error message on screen:

[code]

Removing the 'sphinx.ext.autodoc' extension from `conf.py` removes the error message, and beautiful HTML output is produced. Unfortunately, autodoc is not generated (naturally)..

The log file is attached.
[sphinx-err-JESPyR.log.txt](htt

[2016-06-13 07:26] tk0miya commented on #2667
The units for width and heights are not important in the test case.
So please rewrite them to right units like `mm`, `em` and so on.

[2016-06-13 07:38] tk0miya commented on #2662
I wonder does separated assertion really help us.
At least for me, the separation does not help me. The assertion let me know only the structure of doctree was wrong. It never let me know the doctree was generated.
Could you tell me any examples which the separation works better?

[2016-06-13 08:05] jfbu opened #2671 "image directive may lead to inconsistent vertical (and horizontal) spacing in pdf output"
currently, latex re-defines `\includegraphics` to check if image fits in line width, and if it is too large, use `width=\linewidth` option so that it fits perfectly. But the code in that case uses `\hbox` which does not initiate a new paragraph, contrarily to original `\includegraphics`. This means that no parskip glue is inserted. Also if user has set non-zero parindent it is not obeyed. Thus inc

[2016-06-13 08:41] tardyp opened #2673 "WARNING: 4 column based index found"
Since upgrade to 1.4.4, I got a bunch of following error in my docs:
https://travis-ci.org/buildbot/buildbot/jobs/137072146

WARNING: 4 column based index found. It might be a bug of extensions you use: [('single', u'Resource Type; collection', u'rtype-collection', u'rtype-collection')]

Not sure exactly what this error means

[2016-06-13 08:43] jfbu commented on #2667
memo: this test was added at 62c4976 and modified at 7c0b7e1.

[2016-06-13 08:57] ghost opened #2674 "Feature request: Adjustable colour/thickness of border/rule in latex admonitions"
Referring to sphinx.sty, and the `lightbox` and `heavybox` commands that determine the style of latex admonitions.
**This feature request:**
- Add colour and rule thickness arguments to the lightbox command.
- Add colour and box border thickness arguments to the heavybox command.

The defaults will keep the current stylings (black and 0.5pt rules/box).
This will allow these commands to be renewcom

[2016-06-13 10:57] ghost commented on #2620
I'd add a vote for `longtabu`.

[2016-06-13 12:02] jfbu commented on #2674
I can work on it. Default for heavybox is currently with 1pt width frame.

[2016-06-13 12:19] jfbu commented on #2616
also the problem of allowing code-blocks in footnotes.

edit: this was fixed at b8e0e93 (Sphinx 1.5)

[2016-06-13 13:38] jmckenna commented on #2639
Thank you Komiya-san, 1.4.4 fixes issues on Precise (newfloat.sty & iftex.sty).

[2016-06-13 16:29] mgeier commented on #2442
@ericholscher Sure, the extension could easily use `add_stylesheet()`, and that's exactly what the function was made for. But in this issue I'm not talking about extensions, I'm talking about having to abuse extension-features as a normal user.

And yes, a `css_files` option (or similar) that does _not_ overwrite existing CSS settings would solve the issue. From a user's perspective I see no reaso

[2016-06-13 18:07] jfbu commented on #2674
I have given it a start at https://github.com/jfbu/sphinx/tree/jfbu_customizablenoticeborders which is on top of current master branch of main repo.

It answers your feature request but doing it I realized it probably should be better to customize separately say warning and caution directives, or hint and note for the "light" admonitions. This is feasible. As usual I have had some problems in choo

[2016-06-13 20:53] jfbu commented on #2629
Two things are needed for the user wishing to use memoir class:
- use the PR #2675 and add <strike>`latex_macros_onlywithprefix = True`</strike> `latex_keep_old_macro_names=False` in conf.py
- use the `howto` class, not `manual`. Indeed `sphinxmanual.cls` uses environment `titlepage` in `\maketitle` and this causes another clash with memoir. Here is extract from its doc:

`sphinxmanual.cls` mentio

[2016-06-14 00:09] hamishwillee commented on #1918
Another problem example is to search for version numbers/periods. For example, if I search for [APM 2.5](http://ardupilot.org/copter/search.html?q=APM+2.5&check_keywords=yes&area=default#) nothing shows up - but "APM 2" works fine.

I suspect the indexing routine splits on non word characters and possibly also omits short strings - so basically APM would be in the index, but 2.5 would not match an

[2016-06-14 06:23] jakobandersen commented on #2666
Thanks for finding this. It was indeed a introduced by the commit you mentioned. It should be fixed in 'stable' now.

[2016-06-14 06:23] #2666 closed, assigned to nobody

[2016-06-14 06:47] andreacassioli commented on #2662
Well,
you know from the very beginning what fails. That looks a bit like unit testing, i.e. you check the smallest condition.

In my opinion it would be also great to print out some kind of info to have some guess about what went wrong. I mean, I looked at the log, but it just gave me a 20 line stack trace....what to do with that?

Exceptions may not be what you want because you want Sphinx to sto

[2016-06-14 07:06] andreacassioli opened #2676 "Error with verbatim text in literalinclude caption Sphinx 1.4.4"
I have the following

[code]

If I generate Tex and build a PDF using pdflatex I get

[code]

That basically complaints about

[code]

It seems that removing the verbatim string from the caption solves the issue.

This worked fine in 1.4.3.

[2016-06-14 07:17] jfbu commented on #2676
oh sorry, that's my fault with <strike>bad interaction of</strike> the recent change at 82758b1 <strike>with the set-up to break long code lines. The set-up is already in place at the time of the caption, hence the problem.</strike> Will fix.

[2016-06-14 07:39] jfbu commented on #2676
actually, although indeed the cause is the change at 82758b1, my initial diagnostic was wrong, it is a general issue of inline code inside captions, not only the ones for literalinclude or code-block.

[code]

Fix in the way.

[2016-06-14 08:09] jfbu commented on #2676
The cause was in PR#2627 addition to `\code` of the "fragile" macro `\@noligs` from the LaTeX kernel. Fixed at      8608387. Does this work for you ?

[2016-06-14 15:58] pburdine opened #2677 "\end{Verbatim} block needs to be on its ownline to work with latexdiff"
When I create `.tex` files with Sphinx and try to diff them using `latexdiff`, I get the following message:

[code]

I found a forum post somewhere that `latexdiff` can't handle the end of an environment unless it is on its own line.  Using the following `sed` command, it appears to fix it:

[code]

Then the following works as expected:

[code]

I understand that this is not a Sphinx bug, but is t

[2016-06-14 16:54] jfbu commented on #2677
This also applies to `figure` environment. I noticed that today with `\end{figure}` while testing another issue. This could be fixed at level of LaTeX writer.

[2016-06-14 17:36] jfbu commented on #2677
could you give an example of rst source giving rise to a latex file which does not have all `\end{Verbatim}`'s on their own lines ? I can't reproduce it so far.

[2016-06-14 18:09] lehmannro commented on #2662
I think the mechanism you're looking for is `assert ..., "some meaningful info"`.

IMO the [source](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/writers/html.py#L210) is unreadable enough that any way of making it clearer would be welcome.  I'm not sure splitting up the assert is useful either since it seems to be some larger assertion that's being done there (I don't understand it enou

[2016-06-14 18:15] pburdine commented on #2677
Ok, I double checked, I mis-characterized the issue.  The `\end{Verbatim}` is already on its own line, eg I can see the following in my original `.tex` file:

[code]

So the above looks clean.  After it goes through latexdiff it becomes:

[code]

If I preprocess the file with the `sed` command, it inserts an extra blank line before `\end{Verbatim}`, the output from `latexdiff` becomes:

[code]

I

[2016-06-14 18:37] mixmastamyk opened #2678 "epub xhtml error"
Hi,

iBooks is choking on my sphinx (1.4.4) epub, complaining at this line (last line of snippet):

[code]

I believe it is because the doctype is xhtml and a br tag should be `<br/>`.

[2016-06-14 18:39] #2678 closed, assigned to nobody

[2016-06-14 20:02] mixmastamyk commented on #2678
Sorry, this was in my macro :(.

[2016-06-14 20:14] jfbu commented on #2677
sadly, I have no experience with latexdiff. All I can say is that it is a requirement of fancyvrb package that `\end{Verbatim}` <strike> is alone</strike> is last on its line. <strike>Seems latexdiff does not take this into account.</strike> I don't know the exact cause of the problem.

quickly looking at latexdiff doc (http://www.ctan.org/pkg/latexdiff) I read

[2016-06-14 20:21] jfbu commented on #2677
Sphinx can not systematically add a blank line before `\end{Verbatim}` as this will create a corresponding blank line at bottom of framed literal block in pdf output.

[2016-06-14 20:34] pburdine commented on #2677
Makes sense.  I just can't figure why the first 20 or so are good.  At least now if anyone runs into this same issue they will know a workaround even if it does add an extra line here and there.

[2016-06-15 01:58] tk0miya commented on #2677
As a workaround, following script will help you:

[code]

Please append this script to your `conf.py`. It will be append a blank line to all literal blocks on building latex document.
I don't know this resolves your latexdiff problem or not. But I wish this helps the investigation :-)

[2016-06-15 02:27] tk0miya commented on #2662
I agree to adding good message :-)

BTW, I can't understand what the assertion expects. It expects "the reference node under the non-TextElement must have only one image node". So we have to know what it really expects before adding  message.

[2016-06-15 03:02] tk0miya commented on #2673
Since Sphinx-1.4, the structure of index has changed to 5 columns based.
This warning means any extensions you use don't support new structure.

As a quick look, BBDomain creates old 4 column based index: https://github.com/buildbot/buildbot/blob/master/master/docs/bbdocs/ext.py#L74

[2016-06-15 03:09] tk0miya commented on #2674
Good idea!
It would be nice if we can set up styles for each admonition directive.

In feature version, I want to introduce theming feature to LaTeX writer like HTML's.
I believe this would be a first step of it.

[2016-06-15 03:18] tk0miya commented on #2670
It's a bit strange. The error happened on loading `sphinx/pycode/Grammar-py*-sphinx*.pickle`. These are a part of sphinx package and never be rewritten.
Please check if they are not broken.

[2016-06-15 05:52] jfbu commented on #2677
@tk0miya  for some reason this seems to change all `Verbatim` into `allttt` environments, hence literal-blocks are not framed in output.(and without language highlighting...)

[2016-06-15 06:05] jfbu commented on #2677
Attached patch makes LaTeX writer always add a blank line before `\end{Verbatim}`, then it patches the execution of `\end{Verbatim}` to reverse the extra whitespace. Does not apply inside tables, because there original Verbatim is used which is harder to patch without after effects.

[forlatexdiff.txt](https://github.com/sphinx-doc/sphinx/files/315505/forlatexdiff.txt)

In my brief testing, this s

[2016-06-15 07:43] jfbu commented on #2629
Fix by #2675, at 5510653 on stable branch (future 1.4.5).

[2016-06-15 07:43] #2629 closed, assigned to nobody

[2016-06-15 10:14] kyrias commented on #2612
https://github.com/SirCmpwn/sway is one example

[2016-06-15 11:04] pletnes commented on #2670
After downgrading sphinx from 1.4.1 to 1.3.5 (py 2.7.11 for both), the problem disappears. Some regression bug? The error takes place even on a trivial one-file project.

[2016-06-15 11:27] tk0miya commented on #2677
Ah, you're right. I missed to rewrite `node.rawsource`.

[code]

Thanks,

[2016-06-15 13:30] tk0miya commented on #2629
Sorry. I've missed your question.

The framework for docclass is very complicated.

The 5th element of `latex_document` is used for an argument of `\documentclass` definition.
As a special case, the value equals to `howto` or `manual`, then `sphinxhowto` or `sphinxmanual` is used for the definition.

BTW, what the `docclass` key of `latex_elements` is used for? The answer is the value of `\sphinxd

[2016-06-15 13:36] ghost opened #2679 "[docs] They don't mention `float` package needed for figure_align='H' latex option"
Came across a problem with some, not all, latex builds failing with:
`! LaTeX Error: Unknown float option H'`

I'd set `figure_align='H'` in conf.py but assumed it hadn't worked. It's just that some TeX Live versions ignore it, some don't. Solution is to add `\usepackage{float}` to the preamble. This should be checked and added to the docs beside the text for figure_align when the 'H' setting is m

[2016-06-15 15:48] tk0miya commented on #2670
Oh, sorry. I said it wrong.

The `sphinx/pycode/Grammar-py*-sphinx*.pickle` are generated at first execution of autodoc. So please remove these files and invoke sphinx again after upgrading.
Please let me know if you get same error after removal it.

[2016-06-15 16:11] AlexEshoo opened #2680 "Feature Request: Todo extension should output todo list when todo_include_todos is false"
I think there should be a way to get all the todo directive entries in a document without having to have them show up in the documentation. Currently if `todo_include_todos` is set to False, then there is no todo output generated and `.. todolist::` doesnt generate any output either. This behavior is okay, I don't want my todo items showing up in my documents but I want a way to see whats left to

[2016-06-15 16:17] AlexEshoo opened #2681 "Tabbing in code-block directive is reflected in output"
When tabbing in the code-block directive, the output is also tabbed. Note that in the example I used spaces, which does not affect it, but tabbing does. Example:

[code]

The resulting output would be tabbed before the `print`. I think this is unintentional behavior.

[2016-06-15 16:34] #2676 closed, assigned to nobody

[2016-06-15 17:09] jfbu commented on #2681
isn't there a blank line line:

[code]

Without the line `make html` gives a warning. Surpringly `make latex` doesn't. Which target do you use ? (in pdf output I see nothing at all if no blank line and no tabbing if a blank line in rest source --- on stable branch).

[code]

this has four tabs, and pdf output has no tabbing.

[2016-06-15 17:11] jfbu commented on #2681
but I do see spacing in pdf output starting with at least two lines, like

[code]

This sounds reasonable enough.

[2016-06-15 17:17] jfbu commented on #2681
admittedly a bit hard to understand latex file

[code]

which has 29 spaces before print, where the original had (after indentation) 4 tabs. Second line was

[code]

and got converted to

[code]

strange...

[2016-06-15 17:28] jfbu commented on #2629
Yes, thanks. Sorry about a comment I have suppressed now, which was wrong. My use case was with
`'docclass': 'memoir',` in `latex_elements` and

[code]

then latex file starts with

[code]

and the `sphinxhowto.cls` loads `memoir` class, as this seems how it should be. Is not possible with `manual` because of `titlepage` issue. In your example with `memoir`, it is `memoir` class which loads  `sphi

[2016-06-15 17:59] jfbu commented on #2679
Memo: suppression of `float` happened at a1240d2 (1.3.4. fix #2147). But indeed `newfloat` does not provide `H`. (PR #2660 proposes removal of `newfloat` which is to define new float environments, not to enhance existing ones). Either re-use `float`, or it is also possible to let Sphinx intercept `H` specifier. In that case we don't need a floating environment. We can use `capt-of` package, alread