[2017-01-25 06:08] buger commented on #3367
Yeah, I totally understand your intentions, but Sphinx used in LOT of
projects. Some of them are critical.
Even if I specify the version of let's say grpc, and grpc internally just
use the latest version of Sphinx, without explicitly setting its version,
it will break like above (that is exactly what happened).

And even tiny changes in your dependencies, like specifying exact version,
can break p

[2017-01-25 09:11] katsar0v opened #3369 "Error: Sphinx requires at least Python 2.7 or 3.4 to run."
Subject: Running sphinx-build

### Problem
- Trying to use Sphinx with PyPy

#### Procedure to reproduce the problem
sphinx-build
[code]
Error: Sphinx requires at least Python 2.7 or 3.4 to run.
[code]

[2017-01-25 09:32] mitya57 commented on #3367
You should either use *both* requests and Sphinx from Ubuntu, or *both* from PyPI. Just `pip3 install --upgrade requests` if you want the latter variant. (That said, I highly recommend either passing `--user`, or doing that in a virtualenv, to make sure you don't break any system packages.)

[2017-01-25 13:58] leture opened #3370 "Caption of code-block directive not picked up for translation in 1.5.2"
I have the following directive:

    .. code-block:: json
        :caption: Grundlegender Aufbau der JSON-Datenstruktur für eine Objektliste

        {
          "count": 118,
          "next": "https://emco.descript.de/api/jobs/?page=2",
          "previous": null,
          "results": [

          ]
        }

After calling make gettext "Grundlegender Aufbau der JSON-Datenstruktur für eine Objek

[2017-01-25 15:45] tk0miya commented on #3369
Could you tell me the version of pypy you used?

[2017-01-25 15:54] tk0miya commented on #3370
Sorry for inconvenience.
As a quick look, it seems the 4d6d8ae3691202c2da77e2d846ea2d09b21e29d8 causes the problem.
I'll take a look later.

[2017-01-25 16:57] tk0miya commented on #3370
Fixed at 1a24886.
Thank you for reporting.

[2017-01-25 16:57] #3370 closed, assigned to nobody

[2017-01-25 17:33] leture commented on #3370
Thank you for the quick fix!

[2017-01-25 17:53] tk0miya commented on #3367
In #3310 case, Sphinx-1.5.1 has been crashed with older requests package. So I can't downgrade the requirements.
To resolve this conflicts, I will try to modify our code to use older version of requests package.
Then it would bring no conflicts with ubuntu's package.

So, at this moment, please upgrade your requests package if you want to use the feature of Sphinx-1.5. if not, please pin the Sphin

[2017-01-25 22:08] jbqubit commented on #1918
Seems like similar behavior is reported in multiple Issues. #3270  #2989 #2930  #2989

[2017-01-26 03:56] tk0miya commented on #3366
In my short investigation:
The option directive uses following regexp to parse given option:
[code]
At present, it does not contain `+` sign. So `-ObjC++` is recognized as `-ObjC` option having `++` argument. Then it is a cause of the duplication warning.
To fix this, I would add `+` sign to the regexp. In my local, it works fine.

BTW, now we can use only `-.?@#_` signs for option name. This mean

[2017-01-26 04:02] tk0miya commented on #3366
Side note:
I don't list up `=` character to the unsupported signs for option name with intent.
It is used for a delimiter of option name and argument. So it means Sphinx cannot use `=` sign for an option name. I think it is a restriction of Sphinx.

[2017-01-26 04:14] tk0miya commented on #2341
Note:
In `sphinx-build`, we use `language` variable in `conf.py` to determine the display language.
But, in `sphinx-quickstart`, `conf.py` is not generated yet. so we have to use other way to determine the language.

IMO, `$LANG` or any other locale envvars are good to do that.

At same time, it might help to fill the default `language` value of `conf.py`.
I believe it is very helpful for beginner

[2017-01-26 06:21] tk0miya commented on #3368
Is there any example or minimal producible project?
I can't reproduce the problem...

[2017-01-26 06:47] tk0miya commented on #3364
In my short investigation, it might be a bug of `raw_input()` function of Python.

I'd tested following code in narrow window:
[code]
[code]

As a ad-hoc fix, we should use other way to display prompt like following:
[code]

@shimizukawa Do you know any good solution?

[2017-01-26 06:56] shimizukawa commented on #3364
IMO, print(msg) + input() without msg is good solution for a while.

[2017-01-26 07:16] katsar0v commented on #3369
**PyPy3.3 v5.5**

[2017-01-26 12:08] marco-buttu commented on #3357
I am also interested in this feature. For my book I solved haking the Sphinx code (it was Sphinx 1.3), and now I have the following structure:

![sphinx_parts](https://cloud.githubusercontent.com/assets/3822393/22329252/bd463288-e3c0-11e6-922f-cfd099a5503e.png)

This is the parts toc:

![sphinx_parts_toc](https://cloud.githubusercontent.com/assets/3822393/22329518/e288e1b6-e3c1-11e6-8262-3860fbe04

[2017-01-26 18:49] szlinjia commented on #3368
@tk0miya
Thanks for reply. I had solved the problem. This is not a sphinx issue. The error due to sphinx working under Flask framework.

The Flask runs in context mechanism, where _app_ctx_stack and _request_ctx_stack are in use to maintain configure information for application. By default, uwsgi will push an app in _app_ctx_stack when it receives a request but _app_ctx_stack is empty.  The proble

[2017-01-27 03:27] tk0miya commented on #3369
The release announcement of pypy3.3-5.5.0 says it has compatibility with python 3.3.
But Sphinx no longer supports python3.3 since Sphinx-1.5.
If you want to use Sphinx with pypy, please use Sphinx-1.4.x series.

Thanks,

[2017-01-27 03:27] #3369 closed, assigned to nobody

[2017-01-27 07:23] katsar0v commented on #3369
....

[2017-01-27 15:53] riccardomurri commented on #2549
me too -- seeing the issue also with `:param list foo:`

[2017-01-28 16:55] arcivanov commented on #3368
This the same issue as #3280. Sphinx is generally unable to document modules that cannot be loaded without an application-specific configuration context, such as Django, Flask etc.

[2017-01-28 17:29] arcivanov commented on #3280
Based on the latest sphinx master the error is gone and module loading warnings are emitted instead. This behavior seems appropriate.
[code]

[2017-01-28 17:29] #3280 closed, assigned to nobody

[2017-01-28 17:31] arcivanov commented on #3280
I believe this is related to #1061, #2336, #3235

[2017-01-28 19:33] marco-buttu commented on #3338
@tk0miya unfortunately it is a core problem, not just of the doctest extension :( I got where the problem is (look at the description above), and I also have a test that fails. How can we proceed? Can I send I pull request with just the test that fails, and after I work on the bug fix?

[2017-01-28 22:28] jfbu commented on #3288
Reopening because there is an issue here with Sphinx markup `\multirow{2}{*}` which does not take into account if user employed ``.. tabularcolumns::`` directive. The `*` according to `multirow` documentation sets its parameter text to natural width. Perhaps this means it can not wrap (not looked at source code -- yep, that's it actually). Although `multirow` is old package it got to 2.0 last Sept

[2017-01-28 22:37] jfbu commented on #3288
`multirow` LaTeX package being only 5015 bytes, we could distribute it with Sphinx and then use `{=}` rather than `{*}` (need to investigate). But one would need to know if current multirow would work ok with 2013 TeX Live for example. Quick look suggests yes.

[2017-01-29 03:26] tk0miya commented on #3368
I don't know how to document flask apps with bare Sphinx.
But `sphinxcontrib.autohttp.flask` might help you.
https://pythonhosted.org/sphinxcontrib-httpdomain/#module-sphinxcontrib.autohttp.flask

[2017-01-29 04:18] tk0miya commented on #3367
As a experimental, I try to support requests-2.0.0 at 14a864a.
It will be released as 1.5.3.
Please try it.

Thanks,

[2017-01-29 04:18] #3367 closed, assigned to tk0miya

[2017-01-29 04:31] tk0miya commented on #3364
Fixed at 678cc3d :-)
Thanks!

[2017-01-29 04:31] #3364 closed, assigned to shimizukawa, tk0miya

[2017-01-29 04:33] tk0miya commented on #3361
About cell size (cell width), you can use `:widths:` option to specify the widths manually.
But no way to modify text orientation.

AFAIK, there are no way for HTML builder too.
What did you mean "html style"? If you mean CSS, you can use TeX macros to do that (I'm not good at it...)

[2017-01-29 04:42] tk0miya commented on #3358
Thanks,
It looks like you've used autodocs to generate document.
Have you rewritten `inspect` module in your code?

As I said, the `inspect` module is provided by python. So your case; the AttributeError is very strange.
I think somebody rewrite the `inspect` module on demand.
As a quick look, Sphinx does not rewrite it.

In addition, please show me your full stacktrace on error. It's important to

[2017-01-29 05:10] tk0miya commented on #3352
It seems not a bug of Sphinx.
Thanks,

[2017-01-29 05:10] #3352 closed, assigned to nobody

[2017-01-29 06:00] jilljenn opened #3371 "Lack of float support for right-aligned SVG figures in HTML documents (maybe a missing CSS class)"
Subject: Lack of float support for right-aligned SVG figures in HTML documents (maybe a missing CSS class)

### Problem
- Whenever I have a right-aligned SVG figure in my HTML document, it lacks the `float: right` property, allowing text to flow around the figure.

#### Procedure to reproduce the problem

    .. figure:: /_static/riken.gif
       :align: right

    (Some text)

    .. image:: /_st

[2017-01-29 08:41] jfbu commented on #2620
[Docutils 0.13](http://docutils.sourceforge.net/RELEASE-NOTES.html) has new ``:align:`` [option for tables](http://docutils.sourceforge.net/docs/ref/rst/directives.html#tables). Is there some plan for Sphinx to support it generally speaking ? currently a table with more than 30 rows will automatically use longtable which centers, but shorter tables are rendered by tabulary + threeparttable and as

[2017-01-29 08:56] jfbu commented on #2620
Also, shouldn't Sphinx LaTeX support natively the  `:widths:`  option, rather than require used of custom ``tabularcolumns`` directive ?

I am asking this because situation with tables on LaTeX side is very complicated with many packages not all compatible and not fully satisfying, with ``tabu`` package unmaintained and its author said next release will break former syntax etc... hence it looks mo

[2017-01-29 09:03] jfbu commented on #2620
about ``tabularcolumns`` I understand it allows LaTeX syntax which ``:widths:`` would not accept, but it would be nice if ``:widths:`` can also be understood and obeyed by latex as it is by html.

[2017-01-29 10:04] jfbu commented on #3356
@uchida what do you think is best decision to make about ``\addtolength{\textheight}{-2\baselineskip}``? Should it be removed ?

Thanks for the reference to pxjahyper, I have it on my TL2016 v0.2 and also v0.2 in my TeXLive 2013. Hence once Sphinx requires TL2013 or equivalent, it can be used (or even earlier if shipped with Sphinx). But all I understand from doc is the date ``2012/05/27`` ;-)

(s

[2017-01-29 14:50] #3303 closed, assigned to nobody

[2017-01-30 09:09] daiger14 commented on #3361
I used `:widths:` in table but in latex output like you see doesn't have effect. You can check my example of project.

[2017-01-30 13:35] uchida commented on #3356
I think `\addtolength{\textheight}{-2\baselineskip}` should be removed.

I'm not expert for Japanese typesetting and pLaTeX, but I think I could give some comments:
"zw" is a abbreviation for "zenkaku width", here "zenkaku" means fullwidth, see [Halfwidth and fullwidth forms - Wikipedia](https://en.wikipedia.org/wiki/Halfwidth_and_fullwidth_forms) for ref.
Most Japanese characters(Hiragana, Kataka

[2017-01-30 16:59] tk0miya commented on #3361
Ah, sorry. It's my mistake.
Please use `tabularcolumns` directive instead.
[code]
http://www.sphinx-doc.org/en/1.5.1/markup/misc.html

[2017-01-31 02:46] tk0miya commented on #3371
It seems you're using `image` directive for SVG image. Please use `figure` directive instead.
[code]

Then you'll see right-aligned SVG image.

Input:
[code]
Output:
![2017-01-31 11 44 02](https://cloud.githubusercontent.com/assets/748828/22450558/d54b9452-e7aa-11e6-95b7-2d06144e5669.png)

[2017-01-31 09:26] sriv commented on #747
Hi - is there a way I can enable `lineanchors` without changing sphinx code? Happy to write my own override as an extension. thanks.

[2017-01-31 09:28] daiger14 commented on #3361
Thank you for your help Takeshi!

[2017-01-31 09:28] #3361 closed, assigned to nobody

[2017-01-31 10:39] bomb-on opened #3375 "Problem with rendering Sphinx substitutions"
Subject: Problem with rendering Sphinx substitutions

### Problem
I am trying to use [sphinxcontrib.httpdomain](https://pythonhosted.org/sphinxcontrib-httpdomain/) in my project and I defined my ['routing table'](https://pythonhosted.org/sphinxcontrib-httpdomain/http-routingtable.html) like this:

[code]

I also defined few simple substitutions which I use throughout my docs, e.g.:
[code]

When I

[2017-01-31 10:50] bomb-on opened #3376 "Adding auto-generated page to toctree"
Subject: Adding auto-generated page to toctree

### Problem
I tried to put a link to the ['routing table'](https://pythonhosted.org/sphinxcontrib-httpdomain/http-routingtable.html) page generated by [`sphinxcontrib.httpdomain`](https://pythonhosted.org/sphinxcontrib-httpdomain/) extension into my `toctree`:

[code]

but I got an error:
[code]

Is it possible to somehow link the routing table page

[2017-01-31 12:39] tk0miya commented on #3376
Thank you for proposal.
We'll consider the feature in #2354 and #1800.

Thanks,

[2017-01-31 12:39] #3376 closed, assigned to nobody

[2017-01-31 12:44] tk0miya commented on #3375
The options for directive are processed by the directive itself.
Sphinx does not control them.
So please ask that to sphinxcontrib-httpdomain project.

Thanks,

[2017-01-31 12:44] #3375 closed, assigned to nobody

[2017-01-31 14:51] tk0miya commented on #747
As a ad-hoc, you can use following code. It gives line anchors if you set label to the code-blocks.
[code]

Note: pygments generates anchors like `[label]-NNN`. so it gets conflict if you have same labels.
We have to take care to the conflicts when we will update our HTML builder.

[2017-01-31 15:31] jfbu commented on #3356
Thanks @uchida ! I have looked at the `jsbook.cls` and also `jreport.cls` and both arrange text width to be an integer multiple of some unit (1zw for `jsbook.cls` in one-column mode and width of ``\char\euc"A1A1`` for `jreport.cls`, not tested if same thing in practice, for some reasons there are only a few  uses of `zw` unit in `jreport.cls`), and the text height to be an integer multiple of base

[2017-01-31 16:01] jfbu commented on #3356
to be more precise, for some reason `jreport.cls` does a final truncation of the width and height to an integer multiple of the (TeX)  `pt` unit. Perhaps because it uses integer multiple of (TeX) `pt` everywhere (except on looking briefly `\footnotesep`)

[2017-01-31 17:09] tk0miya commented on #2620
No plans. But it does not means Sphinx never supports the option. Simply, we're too busy to plan new features.
Could you file it please? I will take a look later.

[2017-01-31 17:25] sriv commented on #747
@tk0miya - Thank you very much for this snippet. It serves my need, with one small addition. I had to also add `kwargs.setdefault('anchorlinenos', True)` in the `highlight_block` method.

Previously, I attempted to set the `html_formatter` of the `PygmentsBridge` class to a custom one, which would set `anchorlinenos` to `True`, but I couldn't find an easy way to set `lineanchors`. Your suggestion

[2017-01-31 17:54] szlinjia commented on #3368
@arcivanov
how do make sphinx work for a running flask app? For now I just runs sphinx by using sphinx-build and I believe that's in build time

@tk0miya
that autohttp.flask  ext works. Thanks.

[2017-01-31 20:07] arcivanov commented on #3368
@szlinjia The current dev version stopped crashing and simply skips documenting the modules it can't load.

I don't use Flask, I use Django but the issue is the same - you have to allow a module to be loaded without an application. So you might need to stub-out the app or have

[code]

It's ugly, but so far, because Sphinx actually loads and executes the modules instead of introspecting them, ther

[2017-01-31 20:52] jfbu opened #3377 "Add support for Docutils 0.13 `:align:` option for tables"
[Docutils 0.13](http://docutils.sourceforge.net/RELEASE-NOTES.html) has new ``:align:`` [option for tables](http://docutils.sourceforge.net/docs/ref/rst/directives.html#tables).  Could Sphinx add support for it ?

[2017-01-31 20:58] jfbu opened #3378 "Add LaTeX support for ``:widths:`` option to table directives"
Currently, afaik one must use ``.. tabularcolumns::`` directive to specify alternate widths for table columns for LaTeX output. This is LaTeX only directive which allows LaTeX mark-up like ``|p{2cm}|p{3cm}|`` or even more complicated with ``\dimexpr``, etc ... But native ``:widths:`` option to table directive is supported by HTML writer. Could it get supported by LaTeX writer too ? syntax is less

[2017-01-31 21:07] jfbu commented on #2620
done at #3377. As per ``:widths:`` option I assigned myself #3378 as this is for LaTeX writer specifically.

[2017-02-01 03:41] tk0miya commented on #3338
reST spec says directive block is a subsequent indented text.

But it seems your directive content is deeper than the directive option. reST expects directive blocks starts with same indent level. So this is a mistake of mark up.
Please remove a space of directive content or add a space to directive option.

[2017-02-01 04:52] tk0miya commented on #3377
Sphinx uses table directives (table, csv-table and list-table) from docutils' implementation.
We don't modify them.
So you can just use that option by upgrading docutils.

What I said in #2620 is `:width:` support on LaTeX builder. Let's do it in #3378.

[2017-02-01 05:28] #3368 closed, assigned to nobody

[2017-02-01 08:59] marco-buttu commented on #3338
You are right, I did not know that specification :-) I am sorry for your loosing of time, thansk

[2017-02-01 08:59] #3338 closed, assigned to nobody

[2017-02-01 14:35] jfbu commented on #3377
But it seems neither HTML nor LaTeX builder currently respond to the use of the ``:align:`` option in my brief testing.
[code]

I am not actually sure how it is entended to render, I mean with respect to text flow. (I have not tested yet with docutils itself) (but my testing was with Sphinx + docutils 0.13.1)

[2017-02-01 14:58] jfbu commented on #3377
ah sorry, yes html  produces corresponding mark-up:

    <table border="1" class="docutils align-right" id="id1">

but the issue is there with the LaTeX writer which ignores this `:align:` option.

[2017-02-01 15:00] #3378 closed, assigned to jfbu

[2017-02-01 15:05] tk0miya commented on #3377
Oh, sorry. I was confused with `:align:` and `:widths:`. I'll take a look.

[2017-02-02 05:54] tk0miya commented on #825
Documented at #3373. Thank you @TimKam !

[2017-02-02 05:54] #825 closed, assigned to nobody

[2017-02-02 05:54] tk0miya commented on #2303
Documented at #3373.

[2017-02-02 05:54] #2303 closed, assigned to nobody

[2017-02-02 06:18] tk0miya commented on #3357
I made example for my extension. Could you check this please?
[3357.tar.gz](https://github.com/sphinx-doc/sphinx/files/746954/3357.tar.gz)

[2017-02-02 15:52] alexlenail opened #3382 "How to use github pages from master /docs folder elegantly with sphinx"
### Problem

What I'd like to do is in the `master` branch of my github repo, have a `/docs` directory which within it, has a sphinx project. I'd like to be able to update the docs with only a  `cd docs`  and `make html`. Github pages doesn't allow you to choose arbitrary directories, otherwise I would set github pages to use `/docs/build/html`.

My principal question is: is it possible to use the

[2017-02-02 17:53] jfbu commented on #3361
Sphinx 1.6 will obey ``:widths:`` option to table directives, for LaTeX output (ref #3379, #3381), thus sparing use of ``tabularcolumns`` in simple cases. With current code such tables will always occupy full line width, though, but perhaps some way will be found so that it becomes useful option also for tables which are naturally narrower than linewidth. But currently tables (when they are equipp

[2017-02-02 19:38] szlinjia opened #3384 "autodoc support packages"
Subject: autodoc support packages

### Problem
- I currently working on a project with tons of python files. I used autodoc extension to extract docstring from each file. But I don't want sphinx generate html from rst file for each module. Because this project is being added/removed/modified files everyday by multiple persons.  Maintaining rst file for each module would be painful for the project

[2017-02-02 22:50] TimKam commented on #3382
It's generally disputable whether committing build results is elegant.

This question aside, here's a solution:

1. In your project config, choose to use the `docs` folder for your GitHub Pages.

2. Change the Sphinx build directory in your `Makefile`for example as follows:

[code]

    In my attempts, I couldn't keep `_build`, probably because GitHub Pages didn't like the underscore `_` prefix.

[2017-02-03 02:50] tk0miya commented on #3382
Sorry, this is a bug tracker of Sphinx, not a forum.
Please move https://groups.google.com/forum/#!forum/sphinx-users .

BTW, I feel `BUILDDIR = .` is dangerous. It causes documents lost by `make clean`...
So I recommend to use `BUILDDIR = build/` or other directories (not having underscores).

Please let me know if you get a good way to do that. I will add it to our document.

Thanks,

[2017-02-03 03:01] tk0miya commented on #3377
At last year, I made a pull request for this problem: #2323.
At that moment, docutils did not support `:align:` option. So the PR includes patches to the table directives. But they are not needed now. So I will update that.

[2017-02-03 04:34] tk0miya commented on #3384
How about `sphinx.ext.autosummary`?
http://www.sphinx-doc.org/en/1.5.1/ext/autosummary.html

[2017-02-03 08:38] jfbu commented on #3377
I see... a kind of "boomerang" in action here !

[2017-02-03 14:34] weshouman opened #3385 "IndexError: list index out of range"
Subject: Html Documentation generation failure

### Problem
- Html documentation generation fails with an ambiguous message.

#### Procedure to reproduce the problem
- Generate XML doxygen documentation for [TagainiJisho](https://github.com/Gnurou/tagainijisho)
- Setup [Breathe](https://github.com/michaeljones/breathe/) in the ```conf.py```
- Run ```make html```

#### Error logs / results
[code]
#

[2017-02-03 14:52] weshouman commented on #3385
This was due to abusing the doxygenindex directive.

Following was my ```index.rst``` file:

[code]

[2017-02-03 14:53] weshouman commented on #3385
Shall this issue be left open till the error gets a better error_message?

[2017-02-03 15:11] alexlenail commented on #3382
Sorry @tk0miya ! Thanks @TimKam ! The redirect idea was what I was missing.

[2017-02-03 16:01] tk0miya commented on #3385
Unfortunately, it seems the error is happened inside breathe extension.
Could you report this to their project?

[code]

Thanks,

[2017-02-03 16:01] #3385 closed, assigned to nobody

[2017-02-03 19:04] jfbu commented on #3356
Memo: since 1.5 (2aace8d), Sphinx latex writer uses `jreport` Japanese LaTeX class if docclass is `'howto'` and language `'ja'`. But `jreport` does not recognize `letterpaper` option, which is the Sphinx default. At the same time, also since 1.5 (34f1ce1), Sphinx latex style uses `geometry` package. The latter recognizes the `letterpaper` global option and it does set the paper dimensions accordin

[2017-02-03 22:24] uchida commented on #3356
FYI, latex3/graphics-def#1 seems to be related to `pdf:pagesize`.

[2017-02-03 23:25] jfbu commented on #3356
@uchida thanks ! that is very extensive discussion indeed... I have now pulled together a PR addressing this matter of the two baselines removed from text area. It is at #3387.

[2017-02-04 13:57] petarmaric commented on #1136
I'd find this feature useful as well, any idea how we can achieve this?

[2017-02-04 18:09] marco-buttu commented on #3357
Your example works fine :-) In my book, apparentely with the same structure as your example, I do not get the number of the chapter. It is assigned to the first section of the chapter... I will investigate and I will tell you. Do you think you will add the extension to the other builtin Sphinx extensions? Thank you very much!

[2017-02-04 21:59] jfbu commented on #3356
@uchida the `jsclasses` have a surprising handling of `\mag` which means that all dimensions must be multiplied by `\inv@mag` by default **except** the `zw` dimension ! This means that it is not possible to set up a user interface and allowing use of  `in`, `cm`, ...  and at the same time `zw` if not going into input parsing, which is close to impossible if the user is allowed to also pass a dimen

[2017-02-05 10:01] ianychoi opened #3392 ""releasename" in latex_elements is not working"
### Problem

According to http://www.sphinx-doc.org/en/1.5.2/config.html (even http://www.sphinx-doc.org/en/latest/config.html ),  #1782, and #1966, Sphinx supports to redefine releasename by specifying the name in latex_elements.

However, it does not work and using renewcommand for "releasename" also does not work.

From my investigation, nothing for making use of "releasename" is in sphinx/writ

[2017-02-05 11:43] jfbu commented on #3392
Thanks for report, in my short investigation the problem is in the latex writer which overrides the user setting and uses the translation of `Release` according to language.

Here is a temporary (in the sense of "will not be needed once the issue is fixed...", not in the sense "will stop working after a while") work-around:
[code]
You must TeX-escape the chosen release name. Can you try it ?

[2017-02-05 12:10] jfbu commented on #1136
Related #3393

[2017-02-05 12:26] ianychoi commented on #3392
@jfbu I confirm that your workaround works well. Thanks a lot for this workaround and also your fix on upstream!

[2017-02-05 14:47] tk0miya commented on #3357
As I said above, I feel my extension is too adhoc. So I would not like to add it to sphinx-core.

[2017-02-05 15:35] shimizukawa commented on #3366
IMO, it is nice if every `string.punctuation` characters were accepted exclude `=` char.

[2017-02-05 16:15] jfbu opened #3394 "When ``'pointsize'`` is not ``10pt`` Japanese ``'manual'`` badly renders in PDF"
Subject: when ``'pointsize'`` is used, the paper dimensions get wrong with ``'manual'`` class.

Test file (I picked up some random Japanese text...)

[code]

with
[code]
and ``'manual'`` docclass and ``'ja' `` language.

### Problem
- The output is bad:

![capture d ecran 2017-02-05 a 17 04 22](https://cloud.githubusercontent.com/assets/2589111/22627577/f3937e92-ebc5-11e6-93b4-8ead229042f5.png)

T

[2017-02-05 16:48] jfbu commented on #3394
(the issue was illustrated with `21pt` for drama, but it is also there for `12pt`)

[2017-02-05 16:54] jfbu commented on #3356
@uchida : #3387 works around the bad interaction of ``geometry`` and ``jsbook.cls``. I have not tested but I hope that  the problem at https://github.com/latex3/graphics-def/pull/1 which applies to older ``graphicx`` drivers (``dvipdfmx, dvipdfm``) is fixed because ``geometry`` will put its special latest in the ``dvi``. At any rate, the problem is fixed for people with up-to-date TeX installation

[2017-02-05 20:56] jfbu commented on #3392
Thanks for report and feedback ! Next 1.5.3 release fixes it: but I will add something to the docs to recall the TeX must be escaped, like in your example the underscores.

Closing now, thanks !

Fixed at 20dc524 and docs updated at 80e39e4

[2017-02-05 20:56] #3392 closed, assigned to nobody

[2017-02-06 14:35] markperfectsensedigital opened #3398 "No highlighting on less snippet"
Good morning to all --

Using sphinx to generate HTML from rst files. I want to apply highlighting to a `less` snippet as indicated in the following code segment.

[code]
I get a build error `/Users/snazzy/Documents/docs/base/all.rst:46: WARNING: Could not lex literal_block as "less". Highlighting skipped.` However, this same snippet receives highlighting on the pygments demo site: http://pygments

[2017-02-06 15:13] markperfectsensedigital commented on #3398
Disregard, I now see that pygments does not decode this snippet correctly.

[2017-02-06 15:13] #3398 closed, assigned to nobody

[2017-02-06 17:41] jfbu commented on #3356
fixed at 09324bd and parent commits (refs #3387)

[2017-02-06 17:41] #3356 closed, assigned to nobody

[2017-02-06 17:42] jfbu commented on #3394
fixed at 09324bd and parent commits (#3387)

[2017-02-06 17:42] #3394 closed, assigned to jfbu

[2017-02-07 04:20] uchida commented on #3356
@jfbu good job!
And just to note about `\mag`, in recent jsclasses has `nomag` option in texjporg/jsclasses#3 (discussion in Japanese), but seems experimental, use `true*` is best in the present.

[2017-02-07 07:42] FRidh opened #3400 "make-mode: use sys.argv[0] instead of `sys.executable + "sphinx-build ..."`"
### Problem
`make-mode` invokes `python sphinx-build arguments`. In our distribution we wrap all executable files and this is now broken because `sphinx-build` assumes it can just run `python sphinx-build`

#### Procedure to reproduce the problem
[code]
e.g.

#### Error logs / results
[code]
What you see here is the contents of our wrapper.

#### Expected results
If `sphinx-build` is an executable

[2017-02-07 10:06] jfbu commented on #3356
@uchida thanks for feedback ! I indicated [here in the latex docs](http://www.sphinx-doc.org/en/stable/latex.html#latexsphinxsetuphmargin) about possibility of `nomag`, not knowing then it was [relatively recent](https://github.com/texjporg/jsclasses/pull/3/commits/72f0150b3063617ab1f7610bb2d0ec8030dd4245) addition to the Japanese standard classes.

While studying `jsbook.cls` I was a bit worried

[2017-02-07 10:26] jfbu commented on #3356
OMG... some code I had prepared in another branch was forgotten at merge time, so I have now added it at eb1e9e0. I think it is the thing to do. Perhaps it should be wrapped in a test for geometry package having been loaded.

[2017-02-07 15:30] benjaminweb opened #3401 "Feature: List functions/modules with toctree or autosummary"
Subject: I cannot create a toctree for functions/constants in a dedicated file.

### Problem
is described on http://stackoverflow.com/questions/9770756/sphinx-list-of-functions-in-a-module#comment70804061_9807193

[2017-02-07 16:37] Blendify opened #3402 "Feature request: the ability to suppress missing download files."
Subject: Feature request: the ability to suppress missing download files.

### Problem
Our project has some files that are only on our server and therefore not available for local compiles.
It would be nice to be able to suppress the warning instead.

#### Procedure to reproduce the problem
- Add `:download:` but link to a not existent file
- Compile
#### Error logs / results
[code]

#### Expected

[2017-02-08 04:49] akshaybabloo opened #3406 "Unwanted text when using sphinx-quickstart"
### Problem
I am trying to create a new documentation but when I do that I get some unwanted numbers and question marks

[code]

#### Procedure to reproduce the problem
[code]

### Environment info
- OS: Windows 10
- Python version: 3.5
- Sphinx version: 1.5.1

[2017-02-08 06:35] #3248 closed, assigned to nobody

[2017-02-08 12:46] rhelmot commented on #1592
I would like to bump this and request that it be made a priority to someone. This is a pretty obnoxious bug affecting our docs.

If it's simple, I can do it myself, but I'll need a few pointers on where to start.

[2017-02-08 12:50] GabrielDelepine commented on #3295
I am still experiencing this issue with the version `1.5.2`.
I had to keep using the version `1.4.8` (because `1.5.1` gives the same error).

I am using [pyinstaller](https://pythonhosted.org/PyInstaller/index.html) to package sphinx to a stand-alone binary.

This is the way I am using:

[code]

After following this way, I get a stand-alone binary and I can reproduce the bug describe above.

[2017-02-08 12:53] rhelmot opened #3408 "Types are matched case-insensitively"
Disclaimer: I'm using sphinx pretty much exclusively for autodoc and don't know a whole lot about the underlying structure.

When I mark an element as having a type with `:rtype x:` or `:type x:` or `:param x name:`, `x` is matched case-insensitively against the types that may be linked to. This is a problem in my project since I have a class named `Int`, but many functions take a parameter of typ

[2017-02-09 01:48] rakhimov commented on #2832
How to set the background row color for the table head?

[2017-02-09 02:59] tk0miya commented on #3406
Could you try the checker pasted at #1820?

[2017-02-09 03:08] akshaybabloo commented on #3406
This is the output:

[code]

But `colorama` is installed on my system and above text were in green color.

[2017-02-09 03:55] #3402 closed, assigned to nobody

[2017-02-09 03:55] tk0miya commented on #3402
Fixed at 2968ef3. It will be released as next major release.
Thank you for reporting!

[2017-02-09 03:57] tk0miya commented on #3406
@shimizukawa Could you check this please?

[2017-02-09 04:53] Blendify commented on #3402
Thank you

[2017-02-09 05:16] shimizukawa commented on #3406
OK, I'll check at this night (just now I don't have Win10 env)

[2017-02-09 06:09] rakhimov opened #3410 "Special chars in `release` var break the html search"
This is silly but it was hard bug to track.
Automatically getting the release version with git and forgetting to trim the output
results in subtle failure of the html search.
[code]
Testing with a raw string with a newline character reveals the problem.

P.S. Probably this is documented somewhere, but I couldn't find.

[2017-02-09 07:21] tk0miya commented on #3410
I'd like to reproduce at my local, but I don't have the implementation of`check_output()` function.
Could you show me reproducible example?

[2017-02-09 07:22] rakhimov commented on #3410
@tk0miya try

[code]

[2017-02-09 07:23] tk0miya commented on #3410
Thanks, I'll take a look

[2017-02-09 07:26] rakhimov commented on #3410
The ``check_output`` is from ``subprocessor``,
but the implementation shouldn't be the cause.
The output seems to be new-line terminate from check_output.

[2017-02-09 07:52] tk0miya commented on #3410
I reproduced.
I found warning from Chrome: `Uncaught SyntaxError: Invalid or unexpected token`.

With default theme, Sphinx generates following script. But it is invalid.
[code]

We have to replace the return-code to any other character (like white space).

[2017-02-09 07:52] jfbu commented on #2832
You can try this in conf.py.
[code]
This does not answer directly your question because it colours the cells not the row, but may be functionally equivalent in default situation. Perhaps it will help you.

The LaTeX advice at [wikibook](https://en.wikibooks.org/wiki/LaTeX/Tables#Colors) of using `\rowcolors` has issues : does not work with longtable header, forces repeated use at each table becaus

[2017-02-09 08:04] rakhimov commented on #2832
Thanks @jfbu !
It indeed does the trick.

[2017-02-09 16:14] shimizukawa commented on #3406
I got it.
@akshaybabloo please try `pip install pyreadline` to avoid the problem.

Actually, this problem is fixed by #3364 and next version (1.5.3 and 1.6) will be shipped with the fix.

[2017-02-09 19:30] jfbu opened #3411 "improve width of tables in PDF, if ``:widths:`` option in use"
Currently on Sphinx master branch, the Docutils 0.13 new ``:widths:`` [option for table](https://sourceforge.net/p/docutils/patches/120) is implemented via a tabular or a longtable environment with Sphinx custom `\X` column specifier. This column specifier specifies the width of the column as a fraction of `\linewidth`. This is not satisfying, obviously, when the table is a small one, as the colum

[2017-02-09 21:28] jfbu commented on #3411
The [tabu](http://www.ctan.org/pkg/tabu) package is now five years old and its `X` column type, together with `spread 0pt` has the possibility to implement the integers from the ``:widths:`` Docutils colspec while escaping the need for an explicit target width, which was described at length above.

The package also provides a longtabu allowing page-breaks; but quick investigation shows there is so

[2017-02-10 02:44] akshaybabloo commented on #3406
Yes! That worked thanks.

[2017-02-10 02:44] #3406 closed, assigned to shimizukawa

[2017-02-10 09:08] Wrzlprmft opened #3412 "literalinclude: Combining :start-after: and :lines: results in an empty code"
Using the `:start-after:` and `:lines:` options of `literalinclude` always yields an empty code line and not the expected result.

### Minimal example

* `index.rst`, the main documentation file:

[code]

* `example.py`, the example to be included:

[code]

* `conf.py`:

[code]

I compile by calling `sphinx-build . out` in the folder containing the above files. There is no error message.

In the o

[2017-02-10 10:31] jfbu commented on #3412
indeed, using ``:lines:`` is not compatible with using ``:start-after:``, as testing shows. The [doc](http://www.sphinx-doc.org/en/1.5.2/markup/code.html) does present the two as alternatives, but perhaps it should say an explicit word about incompatibility (I don't know if incompatibility is intended).

Also, if made compatible decision should be done whether ``:lines:`` still refers to absolute

[2017-02-10 11:45] Wrzlprmft commented on #3412
Well, if it is, I feature-request this to be changed.

[2017-02-10 13:29] jfbu commented on #3412
work around is simply to make sure your line selection contains the lines with the tags looked for by start-after or end-before

[code]

and

[code]

Gives:

![capture du 2017-02-10 14-28-43](https://cloud.githubusercontent.com/assets/2589111/22828391/48d11dc6-ef9d-11e6-9d92-6577782efd79.png)

but as said above `:lines:` currently requires absolute line numbers from top of file. Explanation of obs

[2017-02-10 13:39] jfbu commented on #3412
notwithstanding possible additional changes, I improved docs at 839e924 regarding current situation, thanks for report !

[2017-02-10 13:52] Wrzlprmft commented on #3412
Sadly, the entire point of `:start-after:` is that you can modify whatever comes before this point (e.g., a docstring) without having to adapt the line numbers in `literalinclude`.

[2017-02-10 13:52] jfbu commented on #3412
I will make a PR

[2017-02-10 14:10] GabrielDelepine commented on #3295
Does anyone have a feedback about it ? Should I open a new issue ? Probably yes I guess

[2017-02-11 02:14] #3377 closed, assigned to nobody

[2017-02-11 05:55] tk0miya commented on #3295
I don't know what the pyinstaller does inside. So I can't help you...

[2017-02-11 14:50] szabolcsdombi commented on #1810
Have you found the answer?

[2017-02-11 15:13] martin-ueding commented on #1810
Not really, I just have a `Makefile` that then copies those files for me. Not really nice, but it seems to work.

[2017-02-11 15:52] tk0miya commented on #1810
Hi,

It was reported as https://github.com/sphinx-doc/sphinx/issues/1810 .
But, unfortunately it is not fixed yet.
Please send us pull request if you are interested in :-)

Thanks,

Takeshi KOMIYA

2017-02-12 0:13 GMT+09:00 Martin Ueding <notifications@github.com>:

[2017-02-11 16:23] tk0miya commented on #2305
Now it is implemented at #3405.
Check it out!

[2017-02-11 16:23] #2305 closed, assigned to nobody

[2017-02-11 16:24] tk0miya commented on #1303
We are discussed about this at #3377.
Finally we decided not to make tables as float.

Thank you for proposal.

[2017-02-11 16:24] #1303 closed, assigned to nobody

[2017-02-11 17:15] szabolcsdombi commented on #1810
added 2 lines to the `conf.py`

[code]

**copy works fine with the css files**

*source/_static/css/custom.css* is copied to the *build/html/_static/css/custom.css*

[2017-02-11 17:15] tk0miya commented on #3358
Any updates?

[2017-02-11 17:17] tk0miya commented on #3371
Now I close this because it's not a bug.
Please reopen if you still have same problem.

Thanks,

[2017-02-11 17:17] #3371 closed, assigned to nobody

[2017-02-11 17:19] tk0miya commented on #3384
Now I close this issue because it's not a bug of Sphinx.
Please feel free to reopen if needed.

[2017-02-11 17:19] #3384 closed, assigned to nobody

[2017-02-13 03:07] tk0miya commented on #3411
FYI:

We can distinguish them by using `table_node['classes']`.
If user specified the spec, the `colwidths-given` is added into the classes list.

[2017-02-13 03:30] tk0miya commented on #1810
`add_stylesheet()` has same problem: #2090.

[2017-02-13 05:12] navhaxs opened #3418 "Nature theme CSS needs updating"
After upgrading to the latest version of Sphinx, the Nature theme has some CSS issues.

### Problem
- The `Go`` search button is misaligned
- The "parameters" text looks squished (generated from `.. param` syntax)

See screenshot of latest Sphinx 1.5.2 (on left) compared to Sphinx 1.3.1 (on right):
<img width="1391" alt="untitled" src="https://cloud.githubusercontent.com/assets/5162718/22871474/46

[2017-02-13 12:00] jfbu commented on #3411
ah thanks, I had wrongly thought `colwidths-given` was always present in case `grid` because default is `auto`, not `grid`.

[2017-02-13 19:50] mixmastamyk commented on #3357
Hi, yes it works here.  However I was hoping for a structure where I could use multiple toctrees with different captions and consecutive numbers.  The way you've organized your Parts makes them very important, front and center, so to speak.  But for my book the Parts are not the most important part, haha.

[2017-02-14 00:38] syee opened #3420 "Cannot create Sphinx build directory"
Subject:  Cannot create Sphinx build directory

### Problem
I'm using a virtualenv. My 'pip freeze' is identical to the pip freeze of another venv that was able to successfully create the build directory. I also have all the same files as the other environment. This is a delightful "works on my local machine but not anywhere else" situation. I think there may be an issue with the autoapi.extension

[2017-02-14 01:08] syee commented on #3420
Sorry I figured it out. There was an exception on my end.

[2017-02-14 01:08] #3420 closed, assigned to nobody

[2017-02-14 17:01] #3366 closed, assigned to shimizukawa, tk0miya

[2017-02-14 17:03] tk0miya commented on #3366
Fixed at b9bba67 and baa065f.
Only `+` sign is allowed in stable branch to keep compatibility. It will be released as 1.5.3.
And all punctuations are allowed in master branch.

Thank you for reporting.

[2017-02-14 17:15] TimKam opened #3421 "gettext builder: translate list-table captions"
### Problem
- The gettext builder doesn't translate list-table captions

#### Procedure to reproduce the problem
Run the gettext build with a doc set containing this .rst snippet.
[code]

#### Error logs / results
No message ID is created for the table caption, in our example _Supported JavaScript libraries_.

#### Expected results
A message ID is created for the table caption, in our example _Sup

[2017-02-15 09:41] ax3l commented on #701
I worked around this today by creating a symlink inside my rst sources via `ln -s`:
[code]
[code]

be aware that you can commit symlinks in git.

[2017-02-15 11:23] tk0miya commented on #3410
Fixed at 387588a.
Thank you for reporting

[2017-02-15 11:23] #3410 closed, assigned to nobody

[2017-02-15 12:14] tk0miya commented on #3319
It seems big changes are needed to fix this (refs: #3067).
So I move the mileston to 1.6 release.

[2017-02-15 12:17] tk0miya commented on #2985
@hhsprings ping

[2017-02-15 12:40] bilderbuchi commented on #701
Note that that probably won't work on Windows.

[2017-02-15 14:33] lruzicka opened #3424 "Sphinx to AsciiDoc converter"
Subject: Create a Sphinx to AsciiDoc converter

### Problem
- Although there are some third-party RST to asciidoc converters, none are able to produce flawless output that would allow to use the documentation written in Sphinx rst to create a similar tree in AsciiDoc.  Unfortunately, for me, it is exactly what I need to do and there is no way I could change the workflow.

#### Procedure to reprodu

[2017-02-15 16:58] tk0miya commented on #3424
Sphinx is designed to be extensible on several levels. The builder is an extension what you want.
Unfortunately, it seems there are no builders for asciidoc.

So if you make asciidoc-builder, then you'll be able to convert your docs to asciidoc format.
http://www.sphinx-doc.org/en/stable/extdev/index.html

Thanks,

[2017-02-15 17:01] tk0miya commented on #3424
I marked this as "wontfix" because our policy is small sphinx-core and many 3rd party extensions.
So it should not be added the builder into sphinx-core.

[2017-02-15 17:01] #3424 closed, assigned to nobody

[2017-02-15 20:52] ghost opened #3426 "Expose build option for only building intersphinx object inventory."
Subject: sphinx-build needs to expose a build option which only builds the intersphinx object inventory for the specified project.

### Problem
Given two projects: {A, B}
Given both projects are using the intersphinx extension
Given that both projects are built using the same build system

You cannot add an anchor like ".. _B-anchor:" to B and a link like ":ref:`B <B:B-anchor>`" to A in the same c

[2017-02-16 05:07] willcharlton commented on #2018
@tk0miya - I just ran into this same issue. Can you give an estimate of when this might become available?

[2017-02-16 10:13] tk0miya commented on #2018
Not planned. We are always welcome your PR.

[2017-02-16 12:59] brechtm opened #3427 "Different output created on Windows"
### Problem
Rendering the Sphinx documentation on Windows produces different output from other platforms. Specifically, the documentation generated for the `Sphinx.warn` function is different. On Windows, the representation of the default `colorfunc` includes a memory address.

This image illustrates the difference (red = Windows, green = macOS/Linux):
![warn](https://cloud.githubusercontent.com/a

[2017-02-16 13:26] brechtm commented on #3427
This can be fixed by adding the `re.IGNORECASE` flag to [memory_address_re](/sphinx-doc/sphinx/blob/6fa0262802a09050e09445c9fd630c69b5ad1204/sphinx/util/inspect.py#L27). On Windows, memory addresses use uppercase letters.

[2017-02-17 03:22] tk0miya commented on #3427
Fixed at 79b7c46.
Thank you for reporting!

[2017-02-17 03:22] #3427 closed, assigned to nobody

[2017-02-17 04:01] other-mickk commented on #2952
A quick heads-up, I suspect the fix caused the following behaviour if a user attempts e.g. a ```:cpp:any:`void` ``` reference:

[code]

In comparison a user attempting to refer to ```:cpp:type:`void` ``` will see this as a result:

[code]

I don't know if that merits another issue.

[2017-02-17 04:02] tk0miya commented on #3426
To build inventory data is almost same as building HTML in processing of Sphinx. So I feel I wonder is there any worth to make the option.
How about build the your document as HTML once to build the inventories even if there are errors?

[2017-02-17 08:00] #3412 closed, assigned to nobody

[2017-02-17 08:03] jfbu commented on #3412
Thank you for your reporting ! Sphinx 1.6 will interpret ``:lines:`` in a way relative to ``:start-after:`` if present.

[2017-02-17 10:06] jfbu opened #3428 "xetex build tests fail due to fontspec v2.6 defining ``\strong``"
latest update to [fontspec](http://www.ctan.org/pkg/fontspec) defines ``\strong``. This causes build failure for PDF output when ``latex_engine= 'xelatex'``

[code]

fortunately, Sphinx anticipated this some time ago ;-)

[code]
Hence, default configuration for ``xelatex`` should do this  ``latex_keep_old_macro_names=False``. The problem will also arise with ``lualatex`` if it uses ``fontspec``. C

[2017-02-17 10:08] jfbu commented on #3428
fontspec link: https://github.com/wspr/fontspec/commit/f3f4132305f75e5913f5ac893083d5d43c690e46

[2017-02-18 05:46] LivInTheLookingGlass opened #3431 "Guidance on documenting Events for EventEmitters"
Subject: It is unclear how to document Events in EventEmitters, either in Javascript or Python

### Problem

When creating events with the exact same syntax as I do in Javascript, the Python domain does not parse this as a method. This means that it does not generate an HTML ID that I can link to.

So this works:

[code]

And this does not:

[code]

#### Procedure to reproduce the problem
[code]

[2017-02-18 06:28] LivInTheLookingGlass commented on #3431
@jfhbrook, you may be interested in this

[2017-02-18 09:43] jfbu commented on #3428
the immediate problem is fixed at b0a5ec1 for 1.5.3 release. Discussion on future policy continues at #3429.

[2017-02-18 10:05] #3428 closed, assigned to nobody

[2017-02-18 13:58] tk0miya commented on #3431
`js:function` and `py:function` take a signature of the functions.
http://www.sphinx-doc.org/en/stable/domains.html#python-signatures

It seems your examples are not correct signatures.

Note: JS domain parses the signatures with loose rules. As a result, `js2p.mesh.mesh_socket Event 'connect'` is recognized as the function name.

[2017-02-18 16:24] tk0miya commented on #882
This is related with #723. And it seems already resolved.

[2017-02-18 16:24] #882 closed, assigned to nobody

[2017-02-18 16:26] tk0miya commented on #3177
ping @shimizukawa
Is this resolved? Or there is anything to do yet?

[2017-02-18 21:36] LivInTheLookingGlass commented on #3431
I recognize that they aren't correctly formatted signatures. Unfortunately I don't know of a way to represent these with correct signatures in the sphinx framework. The syntax I gave above is an admittedly hacky way that happens to work in one domain but not the other.

[2017-02-18 22:34] jfbu commented on #2344
Perhaps some interface should be made more official to pass more options to the LaTeX document class alongside papersize and pointsize (one can abuse pointsize to include more options like ``'pointsize': '10pt,openany'``.) There is a ``classoptions`` which is listed as

In fact in the LaTeX writer code overwrites the contents in case of Japanese document and define it to be ``,dvipdfmx``. But when

[2017-02-19 12:44] afiaux opened #3432 "Broken reference to label in included file (PDF output)"
### Problem
Labels in files included using `.. include:: file.rst` cannot be referenced from the parent document, nor from other included files.

The references are displayed as the name of the label in the PDF output instead of a clickable link with the name of the section. The problem is present with `:ref:` and `:numref:`.

The problem is not present in the HTML output where the references are

[2017-02-19 14:49] jfbu commented on #3432
You should use ``toctree`` directive like this (this is ``section1.rst`` file)

[code]

and the ``subsec1.rst`` file

[code]

Is there some special reason why you use ``include`` ?

[2017-02-19 14:55] jfbu commented on #3432
ah sorry I see HTML and LaTeX builder diverge here in behaviour. What I said is ok for LaTeX as the toctree inclusion is done by explicit file inclusion. For HTML it creates a local TOC which is not equivalent to what you try to achieve with ``include``. I am too focused on LaTeX...

[2017-02-19 15:17] afiaux commented on #3432
Hi, thanks a lot for your quick response.

The reason I'm using `.. include::` instead of `.. toctree::` is that I have a huge appendix (hundred of pages) that I need to split among several files. And unfortunately `.. toctree::` does not work in the LaTeX appendices (`latex_appendices` in `conf.py`).

If `toctree::` is supposed to work in appendices, I can open another bug as this would also fix

[2017-02-19 15:41] jfbu commented on #3432
if I understand correctly ``section1.rst`` in fact was trying to include different portions of what is destined to be a single appendix in latex PDF output. In that  case you could try following mark-up:

[code]

but do not use ``latex_appendices``. From brief look at LaTeX builder code, I also get impression ``toctree`` (by design) does not work there. I tested make latexpdf and make singlehtml t

[2017-02-19 16:02] afiaux commented on #3432
Thanks a lot, the `raw:: latex` solution fixed my problem. I can now have appendices split among several files with working references.

So if you consider that this is the way that appendices should be used and not with `latex_appendices`, feel free to close this bug.

Thank you again for your help!

[2017-02-19 16:18] jfbu commented on #3432
Keeping this opened awaiting enlightenment by experts ;-)

1. I am not sure about aim of ``latex_appendices``, documentation is lacking. I observe they do work well with ``:ref:`` role.  But each appendix file has to be marked ``:orphan:`` else a warning is emitted. Perhaps they should not generate these warnings as they are declared explicitely in ``latex_appendices``.

2. Your main issue was abo

[2017-02-20 02:19] tk0miya commented on #3408
I can't reproduce with following notation:
[code]
conf.py:
[code]

Could you show me your project or reproducible small example?

[2017-02-20 02:32] tk0miya commented on #3432
It seems the included docs are processed twice. So you'd seen the "duplicate label" warnings.
1. As a part of section1.rst. Sphinx considers included docs (subsec1.rst and subsec2.rst) as part of parent document. So `probref` label is defined at section1.
2. On the other hand, Sphinx searches the files named `*.rst`. As a result, subsec2.rst is processed as the document. This causes the problem. T

[2017-02-20 03:14] rhelmot commented on #3408
oh shit, I tried to reproduce this myself and failed until I realized that the bad link in my project (seen here: http://angr.io/api-doc/simuvex.html#simuvex.engines.successors.SimSuccessors) is actually a link to a *module* named int, making this a duplicate of https://github.com/sphinx-doc/sphinx/issues/1592

my comment on that issue stands :)

[2017-02-20 03:14] #3408 closed, assigned to nobody

[2017-02-20 04:55] tk0miya commented on #3431
Please refer the document for domains:
http://www.sphinx-doc.org/en/stable/domains.html

Basically, it is same as the definitions of functions or classes on each language.

Anyway, it seems this is not a bug of Sphinx. So I close this now.
Thanks,

[2017-02-20 04:58] tk0miya commented on #3330
Now I'm closing this issue.
Please reopen if you still have the problem.

Thanks,

[2017-02-20 04:58] #3330 closed, assigned to nobody

[2017-02-20 04:58] tk0miya commented on #3358
Now I'm closing this issue.
Please reopen if you still have the problem.

Thanks,

[2017-02-20 04:58] #3358 closed, assigned to nobody

[2017-02-20 05:05] LivInTheLookingGlass commented on #3431
@tk0miya, what I'm trying to figure out is if there's any way to do this within sphinx at all. It seems that there is not, even though this is a fairly common feature in libraries.

I have read all the relevant documentation. I have tried numerous ways to work within the system to do this. I was hoping that you had one which I did not try, or that you would decide to add this functionality to sphi

[2017-02-20 06:04] tk0miya commented on #3349
+1
As a quick look, it seems your proposal is right.

Note: We should add testcase for the `IndexBuilder.load()` (and other methods).

[2017-02-20 06:48] JoeVirtual opened #3433 "Highlighting of a jinja2 template/code-block fails if the % modulo operator is present"
### Problem
The highlighting of a jinja2 template/code-block fails if the `%` modulo operator is present.
I am not sure if the problem is caused by the `Pygments` lexer or by `Sphinx` itself.

#### Procedure to reproduce the problem
[code]
The  `%` modulo operator in the part `{{ loop.index % 10 }}` triggers the failure.

#### Error logs / results
[code]

#### Expected results
The highlighting sho

[2017-02-20 07:06] jfbu commented on #3432
+1 @tk0miya. So it seems the correct procedure in the context of `latex_appendices` would be something like this

[code]

for a file ``appendice1.rst`` which is listed in ``latex_appendices``. But I needed to add ``:orphan:`` else there is a warning, and if this file is named ``appendice1.rst.txt`` there is an error.

But this ``latex_appendices`` means Appendix files are destined purely for LaTeX

[2017-02-20 13:17] tk0miya commented on #3433
It's a bug of pygments. The module operator causes parsing error:
[code]

Please report your case to their project.

Thanks,

[2017-02-20 13:17] #3433 closed, assigned to nobody

[2017-02-20 14:01] tk0miya commented on #3431
Both domains use function declaration on each language.
Are these valid function declaration?
[code]
Unfortunately I don't know `pyee.EventEmitter`. But, AFAIK, python might not allow such a declaration.

[2017-02-20 14:08] tk0miya commented on #3408
Okay, I understand. I'll take a look the issue later.

[2017-02-20 14:36] tk0miya commented on #2344
As a quick look, it seems `extraclassoptions` is not documented, a private option.
[code]

So we can deprecate it and replace with new option as you like.

[2017-02-20 15:39] LivInTheLookingGlass commented on #3431
So what I'm trying to figure out is how to document a user-defined function which is fed to my object's `on()` method. So they would say `on('connect', some_function)`.

Node.js documents this [like so](https://nodejs.org/api/net.html#net_event_connection).

In the sphinx tool, the closest I've found is declaring a function with an invalid signature. This works in the Javascript domain, but not Py

[2017-02-20 17:16] jbking opened #3437 "Unnecessary '{}' for '\item' in latex output"
### Problem
- The latex builder output of list has unnecessary `{}` just after `\item`. The `\item` doesn't allow `{}` as their attribute.

#### Procedure to reproduce the problem

Source

[code]

#### Error logs / results

[code]

#### Expected results

[code]

### Environment info
- OS: Mac
- Python version: 3.5.1
- Sphinx version: f21cfa7117423c78b8345ac1ece49b913f18b1d7

[2017-02-20 18:30] LivInTheLookingGlass commented on #3431
My current workaround is to use text replacement, and throw raw html ids into the function declarations. This is obviously not ideal, but it's the only solution I'm aware of for the moment.

[2017-02-20 18:46] jfhbrook commented on #3431
No real horse in this race, but commenting because I'm curious to see how this plays out.

So as far as EventEmitter goes, it's just a tiny pubsub library, so you would subscribe to an event with `some_ee.on('some_event', some_handler)` and then publish the event with `ee.emit('some_event', some_payload)`. If you've used node.js, it's a mostly-straight reimplementation of the EventEmitter there. I

[2017-02-20 19:57] jfbu commented on #3437
Thanks for reporting. It probably has to do with protecting a ``[`` from regular text from being mis-interpreted as ``\item`` 's optional argument. The ``{}`` does not create a change in output (the end of line space is swallowed because it will be a space at start of a line). Does this cause a problem in your Sphinx builds ?

[2017-02-21 04:57] jbking commented on #3437
(Indeed, this is a minor case and just compiled rubbish can be ignored by latex itself technically)

In my sphinx builds, No. But in our related project, Yes.
It cause a problem with application using the latex build output as source. Our case is Omega-T. This latex importer parsing source well.
So translate source becomes `{} apple` (editable `{}` as apart of that).
My opinion is **use gettext**

[2017-02-21 06:54] tk0miya commented on #3349
Fixed at #3434.
Thank you for reporting!

[2017-02-21 06:54] #3349 closed, assigned to nobody

[2017-02-21 08:48] jfbu opened #3438 "``test_gettext_dont_rebuild_mo`` fails at my locale (mac os x 10.9.5)"
Subject: gettext test fails at my locale

[code]

### Environment info
- OS: Mac 10.9.5
- Python version: 3.5.2
- Sphinx version: 1.6 (master at 71d0f50)

For some time now in previous weeks I have observed this failed test
at my locale but I am not good at
understanding underlying reason, which is surely something simple ;-)

[2017-02-21 15:32] erikrose commented on #662
I'm working on an autodoc equivalent for JS: https://pypi.python.org/pypi/sphinx-js/. It extracts JSDoc-style comments (by running JSDoc at Sphinx build time and eating its JSON output) and supports functions and basic classes, along with various info field types (returns, params, throws). It already works well enough to document my fairly complex ES6-based project: https://mozilla.github.io/fatho

[2017-02-21 17:36] benjaminweb opened #3439 "Feature Request: Side Notes to Paragraphs"
It's a question of taste whether side notes to paragraphs ease the legibility of a text and lower the entry barrier for the reader to skim the text to locate the right information.

It might be as dangerous as beneficial to implement such a thing.

Mockup:
![side note mockup](https://cloud.githubusercontent.com/assets/1290837/23176471/65d778ce-f863-11e6-9b75-1f51755df784.png)

I make reference to

[2017-02-21 18:18] stephan-gh commented on #2345
Any news on this issue? This issue is still present in Sphinx 1.5.2 and is quite difficult to bypass because the locale codes used by Sphinx seem to be rather inconsistent: Most languages use the two letter locale code but others like `nb_NO` or `uk_UA` use the full locale code even though no other variant is supported.

It works fine for the main Sphinx translations but not for the JavaScript sea

[2017-02-21 20:01] Blendify opened #3440 "CSS is different between HTML and SingleHTML"
Subject:  When we compile a single html page for the [Blender documentation](https://developer.blender.org/project/view/53/) we get results that inconsistent with https://docs.blender.org/manual/

### Problem

When we run singlehtml we get a couple of difference compared to multipage html:

- captions are different
- links are on their own line

#### Procedure to reproduce the problem
[code]

####

[2017-02-21 20:02] polyzen commented on #3439
Another example: https://edwardtufte.github.io/tufte-css/

[2017-02-22 01:43] tk0miya commented on #3440
Thank you for reporting.
I'll take a look.

Did you check which styles causes this? Let me know if you know that. It is very helpful for me :-)

[2017-02-22 01:56] tk0miya opened #3441 "Sphinx-1.5.3 release plan"
Hello maintainers,

It's time to monthly release. I'd like to ship new stable version at this weekend.
There are a few issues on 1.5.3 milestone. Please check and fix them until this weekdays (if possible).
https://github.com/sphinx-doc/sphinx/milestone/29

Please let me know if you have important or critical issues for the release.
I'll help you and consider postponement of the release.

We've ad

[2017-02-22 01:59] tk0miya commented on #3441
Note: I can make time for release at Sunday afternoon JST.

[2017-02-22 02:14] Blendify commented on #3440
What do you mean by styles? Themes? or Markup?

[2017-02-22 07:40] ofek opened #3442 "Add HTML to main document/body"
I'm using the Alabaster theme and have been stuck on this for an entire day. How exactly do you add content (in this case next/prev) after rendered page? I have this:

`/_templates/layout.html`
[code]

The issue here is it replaces the footer. How can this be added right after/be part of the main rendered text?

[2017-02-22 08:10] jfbu commented on #3288
Finally, it is proposed at #3435 Sphinx's own macros as replacement for package `multirow`. With this PR your table renders (on US letter size paper) as:

![capture d ecran 2017-02-22 a 09 05 11](https://cloud.githubusercontent.com/assets/2589111/23202393/0c57cbf2-f8de-11e6-9907-924ffef85898.png)

You can always for delicate tables use ``.. tabularcolumns`` directive for specifying manually column

[2017-02-22 08:22] methane opened #3443 "Please remove "POT-Creation-Date" from pot files."
I use git for manage pot files produced by gettext builder.

Since gettext builder produce 'POT-Creation-Date' header [1], `git diff` shows all pot files are
changed while even when no original text is changed.

To solve this issue, I removed the header by sed [2].  But I think I'm not only one who
using git to manage pot files.
Removing the date header (or adding option to remove it) help people

[2017-02-22 08:39] HFriberg opened #3444 "TeX escaping ≥ and ≤"
The non-strict greater than and smaller than symbols, ≥ and ≤, are not defined in the TeX builder of Sphinx. I've studied the case and found that the perhaps best solution is having these definitions in the preamble:
[code]

I wanted to contribute this to Sphinx, but the question is where? Should this go into the `ADDITIONAL_SETTINGS` of [sphinx/writers/latex.py](https://github.com/sphinx-doc/sphi

[2017-02-22 10:02] jfbu commented on #3444
Thanks for the suggestion ! The [texescape](https://github.com/sphinx-doc/sphinx/blob/6fa0262802a09050e09445c9fd630c69b5ad1204/sphinx/util/texescape.py) will apply to all engines, hence is not appropriate: with xetex and luatex you can input character as is with OpenType font, even in math mode with package unicode-math.

The [latex.py](https://github.com/sphinx-doc/sphinx/blob/71d0f5069f16bd1fe3f

[2017-02-22 10:23] jfbu commented on #3444
by the way, for the specific case you mentioned you can use `\\usepackage[utf8x]{inputenc}`  for the ``'inputenc'`` key of ``latex_elements`` dictionary.

[2017-02-22 10:54] jfbu commented on #3444
ah sorry, `utf8x` option causes `\DeclareUnicodeCharacter` macro to be redefined and (in my brief investigation) it then wants decimal not hexadecimal input. As Sphinx puts ``\\DeclareUnicodeCharacter{00A0}{\\nobreakspace}`` in LaTeX file this causes bug.

It appears that with `utf8x`, one should do `\\DeclareUnicodeCharacter{160}{\\nobreakspace}`.
Currently, Sphinx user must use template approach

[2017-02-22 11:01] jfbu opened #3445 "setting ``'inputenc'`` key to ``\\usepackage[utf8x]{inputenc}`` leads to failed PDF build"
The `utf8x` option to `inputenc` causes a re-definition of ``\DeclareUnicodeCharacter``. It now wants decimal, not hexadecimal input. As a result the

[code]
in [latex.py](https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/writers/latex.py) causes make latexpdf to fail. It should do `\\DeclareUnicodeCharacter{160}{\\nobreakspace}` when `utf8x` option has been processed by `inputenc`... or rat

[2017-02-22 11:47] HFriberg commented on #3444
Thank you! I see the French redefinition is a complicating factor and will just stick to my `'preamble'` key in conf.py (sorry for not mentioning that I already knew this trick).

I seem to recall horrors with utf8x (although I forgot why), but the newunicodechar package is a very nice suggestion I will make use of. Great thanks also for mentioning the experimental templating feature in tex, but I

[2017-02-22 12:59] jfbu commented on #3442
I am not good at templates but perhaps this does the trick

[code]

(I looked at alabaster source files at my locale to check original layout.html). Perhaps I do not position well the ``{% endblock %}`` for ``{% block body %}``.

[2017-02-22 15:24] jfbu opened #3447 "when assigning longtable class to table for PDF, it may render "horizontally" and overflow in right margin"
### Problem

Table overflows in margin when assigned longtable class, paradoxically this happens when table does not contain "problematic" contents like lists...

#### Procedure to reproduce the problem
[code]

#### Error logs / results

![capture d ecran 2017-02-22 a 16 19 07](https://cloud.githubusercontent.com/assets/2589111/23217944/1bc5093c-f91b-11e6-8606-04b56855e7ca.png)

#### Expected resu

[2017-02-22 16:13] tk0miya commented on #3444
It's difficult question. Surely there are many unicode characters. so it is hard to incorporate all of them into sphinx-core.
But, as you said, these characters cause the errors with non unicode support LaTeX engines; pdflatex and platex.

So it would be nice to add the characters to `texescape.py` when we receive issue. I know it is not a perfect way. But it saves our time.

BTW, fundamentally, i

[2017-02-22 17:54] ofek commented on #3442
Brilliant, thank you!

[2017-02-23 06:25] tk0miya commented on #3440
I meant stylesheet (CSS).

[2017-02-23 07:27] tk0miya commented on #3440
It seems a style for `.toctree-wrapper * a` causes the problem. It is defined in sphinx_rtd_theme.
It is defined as `display: block`. So all hyperlinks under the `.toctree-wrapper` elements are treated as block level.

But I don't know why this list is surrounded in `.toctree-wrapper` element. I'll investigate it later.
As a adhoc way, please stop to use the style.

[2017-02-23 07:52] HFriberg-mosek commented on #3053
I wrote this simple extension and it helped me identify 12 cases of faulty directive syntax in our codebase. But I understand your point @tk0miya, it may more apparent as a docutils feature.

[code]

[2017-02-23 09:02] ujsxn opened #3448 "sphinx-apidoc: the generated html won't change, remain the same"
I changed the code and comment, remove the entire _build, make, but the generated html remain the same, even I delete it.

### Environment info
- OS: Mac Sierra 10.12.3 (16D32)
- Python version: 2.7.13
- Sphinx version: Sphinx (1.5.2)

[2017-02-23 15:06] tk0miya commented on #3440
Hmm... it have also surrounded in older version (I confirmed with Sphinx-1.3.6).
I don't know this is a specification or not. But, this is not a bug at least.

I believe this is a bug of sphinx_rtd_theme.
Please report this to their project.

Thanks,

[2017-02-23 15:25] tk0miya commented on #3448
Sorry, I can't reproduce your problem.
Could you share me an example?

[2017-02-23 15:41] tk0miya commented on #3442
I close this because it seems resolved.
Thanks,

[2017-02-23 15:41] #3442 closed, assigned to nobody

[2017-02-23 15:49] tk0miya commented on #3439
LGTM. It's good idea.
It would be nice if someone realize this as a third party extension. Then we'll consider merge it into sphinx-core.

[2017-02-23 15:56] tk0miya commented on #2345
Thank you for comment. But, unfortunately there are no updates.
We always welcome your help. Could you send us pull request (with testcodes if possible) ?

[2017-02-23 17:02] tk0miya commented on #3438
It might the `bom.mo` is not updated.
The reference of `os.utime()` says:

https://docs.python.org/2.7/library/os.html#os.utime

[2017-02-23 17:07] jfbu commented on #3438
I see, and I forgot to say it is a transient phenomenon. Sometimes the test fails, sometimes it does not. I am not good at obtaining the detailed specs of my `stat()` on mac os x 10.9.5 ... as this seems this system specific, should I close this ?

[2017-02-23 17:15] tk0miya commented on #3438
Fixed at 13a48d3. Please check it out.
Please reopen if not resolved.

[2017-02-23 17:30] jfbu commented on #3438
@tk0miya this fixed it on master branch and on stable I also got make test succeed for that test however there is currently a problem with failed ``test_import_classes``:

[code]

do you need more info ?

[2017-02-23 17:33] jfbu commented on #3438
failed test is actually ``test_ext_inheritance_diagram.py``

[2017-02-23 18:01] jfbu commented on #3438
ah ok it appears I had a stray ``foo.py`` file in my sphinx repertory at top level coming from master, and still there after having git checkout stable. Removing foo.py makes the test pass

[code]
I may have messed up things at some point with git.

[2017-02-23 18:01] #3438 closed, assigned to nobody

[2017-02-23 20:14] barbara-sfx commented on #3439
Have you tried the sidebar directive? http://docutils.sourceforge.net/docs/ref/rst/directives.html#sidebar

[2017-02-24 02:47] tk0miya opened #3450 "&nbsp is appeared in EPUB docs"
### Problem
- `&nbsp;` entity is appeared in EPUB docs. It is not allowed in EPUB (XHTML5).

#### Procedure to reproduce the problem
[code]

#### Error logs / results
The generated EPUB file contains `&nbsp;` entity
[code]

#### Expected results

It should be represented as SPACE character (0x20) or `&#32;`.

[2017-02-24 03:39] tk0miya commented on #3450
Note: `docutils.writers.html4css1.Writer` generates `&nbsp;` entity

- on `encode()` method (for `0xA0`; non breaking space)
- on `visit_entry()` method if the table cell is empty

[2017-02-24 04:12] shibukawa commented on #3450
[code]

makes ``&rarr;``

[2017-02-24 08:50] ujsxn commented on #3448
https://github.com/ujsxn/wechat-master

you could pull my code, build the doc, then delete the WxApi in official.py, then rebuild, the doc remain the same.

[2017-02-24 08:51] ujsxn commented on #3448
Maybe there is cache or backup something, but I didn't find the document about that...

[2017-02-24 09:27] shibukawa commented on #3450
Field-list that has more than [limit of field name count](http://docutils.sourceforge.net/docs/user/config.html#field-name-limit) characters (default 14)

```:abcdefghijklmnopqrstuvwxyz: fieldlist```

makes ``&nbsp;``

[2017-02-24 09:42] shibukawa commented on #3450
Option-list that has more than [limit of option name count](http://docutils.sourceforge.net/docs/user/config.html#option-limit) characters (default 14)

[code]

makes ``&nbsp;``

[2017-02-24 09:46] nmattia opened #3451 "HTML infers copyright date instead of using today from conf.py"
Subject: <what happen when you do on which document project>

### Problem
- The HTML builder doesn't not seem to rely on `conf.py`'s  `today` value for setting the date. This is apparent when the copyright is displayed at the bottom of the page. Not only might the user not want to use the current system date for the copyright notice, but some systems (like [nix](https://nixos.org/nix/)) hard code

[2017-02-24 11:29] shibukawa commented on #3418
Great report! Your screenshot is very nice to know the detail.

Could you add reST source file too? I will check with other themes too.

Thank you.

[2017-02-24 12:46] #3450 closed, assigned to nobody

[2017-02-24 14:50] tk0miya commented on #3451
Sorry, I don't know about "nix". But Sphinx does not use `today` for the last updated.
`today`  is used only for the substitution in reST notation.

I think your expectation is wrong.

[2017-02-24 14:59] jfbu opened #3453 "Sphinx repo own ``make clean`` should remove ``doc/_build`` if empty"
Subject: when issuing ``make clean`` at top level of a checkout of Sphinx's own git repo, it stops if ``doc/_build/`` exists, even if empty.

#### Procedure to reproduce the problem
[code]

The problem is that this stops prior to doing

[code]

which possibly make cause problems (I imagine) if I go on with ``make test``

(in fact I had such a problem possibly while doing ``make test`` on various c

[2017-02-25 02:58] tk0miya commented on #3418
I fixed the alignment of search button at 4e8c622.
But I don't fixed the folding of parameter label yet, because I could not reproduce it.

[2017-02-25 05:46] tk0miya commented on #3453
Fixed at 341986c.
it should be removed. so I simply use `rm -rf doc/_build/`.

[2017-02-25 05:46] #3453 closed, assigned to nobody

[2017-02-25 06:05] tk0miya commented on #3448
It seems this is a problem for loading path of python.
In your `conf.py`, you added `../webchat` into sys.path, and you try to document `wechat.official` module in `wechat.rst`.
[code]
[code]

But, python and sphinx could not load `wechat.official` module from the directory. `wechat/official.py` should be placed at relative path from the sys.path.
So you should add `..` directory to your sys.path.

[2017-02-25 06:35] shimizukawa opened #3458 "Sphinx should contain the testing utilities under tests/ as sphinx.testing"
### Goal

- `sphinx.testing` provides test utilities of pytest for sphinx and newly 3rd party extensions
- `sphinx-testing` provides test utilities of nose for traditional 3rd party extensions

### Background

Now a day, sphinx using pytest for unit testing and testing utilities are provided under `tests/`. Unfortunately, developers of sphinx extension can not use the utilities if they want to use

[2017-02-25 06:48] tk0miya commented on #3431
Reopened for discussing.

In javascript domain, function describes only a function of JavaScript. In this case, `on` is corresponded.
In the domain, `connect` and `some_function` are treated as arguments simply.

There are no type to describe "events" and "event handlers" on JavaScript domain.
AFAIK they are commonly used techniques, but they are not a term of JavaScript language.

So if you want

[2017-02-25 07:17] tk0miya commented on #3458
+1. We don't have enough time both `tests/` utilities and `sphinx-testing`. As a result, `sphinx-testing` is not maintained at this moment and not released v1.0 yet...
So providing self-hosted testing framework is very worthy, and it will also save our time.

[2017-02-25 08:17] tk0miya commented on #3070
Now we are testing with Ubuntu 14.04 on Travis CI. It seems no error now.
Here is what we should do before release:

- check some style files should be still bundled (or use TeXLive 2013's)
- update default settings for LuaLaTeX
- Remove needless `\phantomsection`

[code]

Anything else?

[2017-02-25 08:20] tk0miya commented on #3070
Now we don't say about the support version of TeX distro.
Through this opportunity, it would be better to make clear it.

[2017-02-25 08:35] tk0miya commented on #3400
Fixed at #3459. Now sphinx does not invoke sub process on make-mode.
Thank you for reporting.

[2017-02-25 08:35] #3400 closed, assigned to nobody

[2017-02-25 11:37] jfbu commented on #3070
``\phantomsection``'s handled at f3e071a

[2017-02-25 11:53] jfbu commented on #3070
regarding ``sphinx/texinputs/needspace.sty`` it is categorized by TeXLive in ``collection latexextra``.

[code]

I am not sure how distros handles things vz TeXLive categorizing, but anyhow ``needspace`` is very small  (35 lines including blank lines and comments) hence I think Sphinx can go on bundling it even if it is included at least since 2010 in TeXLive. I should check which LaTeX style file

[2017-02-25 12:43] jfbu commented on #3070
as a quick look I gathered these as immediate dependencies of Sphinx LaTeX:

    alltt amsmath amssymb amstext babel capt-of cmap color eqparbox fancyhdr fancyvrb float fncychap fontenc fontspec footnote framed geometry graphicx hypcap hyperref inputenc kvoptions longtable makeidx multirow needspace parskip polyglossia tabulary textcomp threeparttable times titlesec upquote wrapfig xcolor

this do

[2017-02-25 12:45] jfbu commented on #3070
The ``xcolor`` being in ``latex-recommended``  the test for existence in ``sphinx.sty`` should presumably be dropped and ``xcolor`` always loaded rather than simply ``color``.

edit: no this is wrong, cf https://github.com/sphinx-doc/sphinx/issues/3070#issuecomment-282547501.

``xcolor`` is indeed in TeXLive 2013's ``latexrecommended`` collection but not in the ``texlive-latex-recommended`` of Ubu

[2017-02-25 13:53] jfbu commented on #3070
updated docs at dbf9608

I wonder however if this this best place for it.

@tk0miya maybe it is not Debian, but Ubuntu which should be mentioned. Not owning a Linux box I am a bit lost with wheezy, jessie, stretch versus saucy, trusty, etc...

ah ok Ubuntu uses I think basically Debian packaging of TeXLive but has its own release dates thus for example trusty has [texlive-luatex (2013.20140215-1)]

[2017-02-25 21:56] navhaxs commented on #3418
okay, I can reproduce with this sphinx project: https://github.com/navhaxs/sphinx-test

[2017-02-26 04:29] tk0miya commented on #3418
Thanks, but I still could not reproduce. What browser did you use?
I checked it with Chrome, Firefox and Safari.

Note: the folding style (`hyphens`) was added since #3276 . It is intentional. So we need to change carefully.

[2017-02-26 04:31] tk0miya commented on #3418
I partially fixed the alignment of button at 1.5.3.
But the folding problem will be fixed at 1.5.4.

[2017-02-26 04:39] tk0miya commented on #3441
Hey guys, this is Sunday afternoon. Are you ready for release?
I will release the package soon after the remaining issues are resolved.

[2017-02-26 04:43] #3421 closed, assigned to tk0miya

[2017-02-26 06:10] navhaxs commented on #3418
I had resized the browser to a small width during testing (both Chrome and Safari).

Since the hyphens are intentional, then I think this issue can be closed. 👍

[2017-02-26 07:51] jfbu commented on #3441
great !

[2017-02-26 08:34] jfbu commented on #3445
fixed at e3fb7d2

[2017-02-26 08:34] #3445 closed, assigned to jfbu

[2017-02-26 09:37] tk0miya commented on #3441
I'd released the package. But I have a trouble in upload translations.
So the release process is not finished yet.

From now on, I'm away from keyboard during 4-5 hours. After that, I'll continue the remaining work.

[2017-02-26 10:47] jfbu commented on #3070
I have updated LaTeX builder docs at 7f1b9c0, reverting dbf9608 which used config.rst rather than builders.rst location in the documentation.

Again updated at ff700ae.

Ubuntu packaging does not correspond one to one to TeXLive similar named collections. For example trusty's [texlive-latex-recommended](http://packages.ubuntu.com/trusty/all/texlive-latex-recommended/filelist) is much smaller than

[2017-02-26 12:21] jfbu commented on #3070
@tk0miya shouldn't we add ``latex-xcolor`` as new requirement for travis, because ``xcolor.sty`` is neither in [texlive-latex-recommended](http://packages.ubuntu.com/trusty/texlive-latex-recommended) nor in [texlive-latex-extra](http://packages.ubuntu.com/trusty/texlive-latex-extra) of Ubuntu/trusty ? But most users of LaTeX presumably have ``xcolor``. Although not those perhaps which don't use La

[2017-02-26 16:07] tk0miya commented on #3441
Now I finished all of release works.

To maintainers and developers,
Thank you always!

I feel v1.6 is becoming very good. Certainly, we're moving forward step by step.
So let's improve with our pace.

Thanks :-)

[2017-02-26 16:07] #3441 closed, assigned to nobody

[2017-02-26 18:51] suunni-zz opened #3469 "support for patent bibtex"
Subject: In sphinxcontrib.bibtex, getting error for @Patent type entries
### Problem
Parsing of bibtex throws error for Style not found for @Patent entries

[code]

#### Procedure to reproduce the problem
[code]

#### Error logs / results

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
-
[sphinx-err-RORfZI.txt](https://github.com/sphinx-doc/sphinx/fil

[2017-02-26 20:49] abathur opened #3471 "logging ref.* subtypes"
Apologies if I'm just bringing up known issues.

I'm playing around with the logging module (and mostly loving it!) but it's led me into some documentation holes, slippery semantics, and potential issues.

Here are the ref types cited in the documentation for ``suppress_warnings`` with the corresponding ``dangling_warnings`` definition:

type.subtype | definition
------------ | --------------
ref.

[2017-02-26 22:24] jfbu opened #3472 "smart quotes getting wrong in latex (at least with list of strings via autoattribute)"
Subject: when compiling Sphinx's own docs to LaTeX, one finds this mark-up

    = {[}'image/svg+xml', `image/png', `image/gif', `image/jpeg'{]}

in the Builders section. This comes from an

       .. autoattribute:: supported_image_types

and the class variable in the Python code is

        supported_image_types = ['image/svg+xml', 'image/png',
                                 'image/gif', 'image

[2017-02-27 01:31] ujsxn commented on #3448
yes, it is, I had installed the wechat for try,

    Wand (0.4.4)
    wechat (0.4.16)
    wheel (0.29.0)

and I set the

    sys.path.insert(0, os.path.abspath('..'))

It works fine!

thanks very much!

[2017-02-27 01:31] #3448 closed, assigned to nobody

[2017-02-27 03:11] tk0miya commented on #3469
Thank you for reporting, but this is Sphinx project, not bibtex's. so we can't help the error for sphinxcontrib-bibtex.
Please report this to thier project.

Thanks,

[2017-02-27 03:11] #3469 closed, assigned to nobody

[2017-02-27 04:14] tk0miya commented on #3471
At present, the status of `suppress_warnings` is experimental. So it is still in develop and unstable.
We are adding the types and sub-types each time we received issues.

1. Yes, I'd designed `ref.*` is used for reference-warnings (including (mainly?) missing-reference). About `any` ref, it is not simply added yet.
2. Simply not updated yet. In addition, as you saw, I'm not good at English. So up

[2017-02-27 07:13] vmalloc opened #3474 "Version 1.5.3 breaks projects using floats for version/release"
Before 1.5.3, projects using floats for version/release worked fine. 1.5.3 started breaking for such projects, which I don't think a bugfix release should do:

[code]

[2017-02-27 22:32] thijstriemstra commented on #3234
I'm still seeing this problem with 1.5.3 and python 3.5.3:

[code]

And the error message is not really helpful..

[2017-02-27 22:37] thijstriemstra commented on #3234
When I add a print on [line 127](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/intersphinx.py#L127) it shows something with zlib and also the bare value error:

[code]

[code]

Commenting out the check completely gives a new error:

[code]

Any idea @tk0miya?

[2017-02-28 03:23] tk0miya commented on #3474
Sphinx expects the type of `release` is str.
Did you ever seen such warning on building?
[code]

It had been accepted until 1.5.2 by chance.

[2017-02-28 03:24] #3474 closed, assigned to nobody

[2017-02-28 06:05] cocoatomo opened #3477 "Less description about make-mode"
Subject: Sphinx project document has less description about make-mode.

### Problem
- Description about make-mode is too short to understand what make-mode is and how --use-make-mode affects.

link to source file: https://github.com/sphinx-doc/sphinx/blame/5d715cb14877058f9586e92c0f5f224bce56ff81/doc/invocation.rst#L131

#### Procedure to reproduce the problem
Open http://www.sphinx-doc.org/en/sta

[2017-02-28 09:53] jfbu commented on #3437
Sometimes ``{}`` can be used for quite legitimate LaTeX purposes and we can not a priori restrict Sphinx LaTeX syntax because of external application. In this special case the code path is there from very beginnings 3d74ade, with this comment:

[code]

but next commit https://github.com/sphinx-doc/sphinx/commit/c5580ebd9115dc8dd1e76a8ac25cea95bc3db2ce#diff-c524933be923016c87a9da437a0e7537R576 adde

[2017-02-28 10:22] jfbu commented on #3437
as a possible workaround for your project you might do this monkey-patching
in ``conf.py``:

[code]

but it may break extensions or other things and might be frowned upon by the
Python authorities (I am the LaTeX consultant here ;-) )

[2017-02-28 11:31] jessetan opened #3479 "stub-columns have no effect in LaTeX output"
List-tables are much easier to type in than rst grid tables or "simple" tables, see [list-table in rst documentation](http://docutils.sourceforge.net/docs/ref/rst/directives.html#list-table)
These support an option `stub-columns` to mark a column as one that contains header cells:

[code]

This works fine with HTML output:
![html](https://cloud.githubusercontent.com/assets/3284111/23403566/ef00431

[2017-02-28 11:52] jfbu commented on #2344
in the end I got used to ``'extraclassoptions'``, thus simplest is to make it public interface at #3480. I couldn't figure if it was introduced at 4f08d04 for needs of a specific extension (in which case public use could annoy extension).

[2017-02-28 12:13] jfbu commented on #3479
Thanks ! if implemented this should probably use ``\sphinxstyletstub`` (or like name) with possibly a two arguments macro, first argument being column number.

out of curiosity: is there use for multiple stub columns ?

and it seems stub entries are often layered (for example [this reference](http://www.journals.uchicago.edu/cont/prep-table)) and I wonder if Docutils list-table supports that.

asi

[2017-02-28 14:51] s7726 opened #3482 "typing causing stack overflow jython"
Subject: Attempting to run `sphinx-quickstart-script.py`

### Problem
- Using jython to run `sphinx-quickstart-script.py` producing

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- Appears to be related to #ceec82451bfbefc0f

#### Expected results
I expect the quickstart document structure to be setup.

### Reproducible project / your project
- Running `sphinx-qu

[2017-02-28 14:58] tk0miya commented on #3482
Thank you for reporting, but it might be a bug of typing module.
could you report this to their project?

Thanks,

[2017-02-28 14:58] #3482 closed, assigned to nobody

[2017-02-28 15:03] #2344 closed, assigned to nobody

[2017-02-28 15:15] tk0miya commented on #3437
Our primary target is latex compilers. It would be much better if we can also support third party tools. But, if it is hard to support them, it is not necessary.
Is there any worries or side effects to use `\relax`? If none, I agree to move it (of course, Omega-T also supports it).

[2017-02-28 15:21] jfbu commented on #3437
Replacing `{}` by `\relax` has no side effect. One only has to be careful to leave space after `\relax<space>` in case by anychange some letter comes immediately (but I think most of the time the list item will have an initial `\n`  from Docutils node processing). It if makes Omega-T happy, I have no objection. On the other hand there are circumstances where a `\relax` would make things more compl

[2017-02-28 15:46] tk0miya commented on #3437
Hmm... surely complex tables might cause some problems.
I'd like to avoid to be complicated the implementation (especially around tables) if possible.

@jbking can you use the workaround which @jfbu describes?

[2017-02-28 16:12] tk0miya commented on #3234
Hmm, more investigation is needed.
Can you share me the problematic objects.inv?

In addition, could you file a new issue?
This is already closed. so this is not good at for management.

[2017-02-28 17:42] tk0miya commented on #3479
Note: this is classified as a bug. But we'd refactored the tables much on master branch.
So it is hard to merge to master branch if we'll fix this on stable branch.
Therefore I decided to fix this on master branch.

[2017-02-28 20:49] ccmaymay commented on #3174
What release will this fix appear in?

[2017-02-28 20:59] RobRuana commented on #3174
This should appear in sphinx versions 1.5 and higher.

[2017-02-28 22:12] ccmaymay commented on #3174
It looks to me like neither [1.5](https://github.com/sphinx-doc/sphinx/archive/1.5.tar.gz) nor [1.5.3](https://github.com/sphinx-doc/sphinx/archive/1.5.3.tar.gz) has the change from f45fe6fc (e.g., by looking at [the last line of sphinx/ext/napoleon/__init__.py](https://github.com/sphinx-doc/sphinx/blob/f45fe6fc8ca95f5b71b57b0ab80a3a44560c0295/sphinx/ext/napoleon/__init__.py#L467))?  (I didn't loo

[2017-02-28 22:20] jfbu commented on #3174
the commit is in master branch which is preparation for 1.6 release. It is not as of today in stable branch which is preparation for 1.5.4 release. I imagine it was merged into master at a time when the 1.5 pre-release branch existed and for some reason never made it to it, so it has stuck in master since.

[2017-02-28 23:45] ccmaymay commented on #3174
That's disappointing, this is a very useful feature for some auto-generated code.  Is there a mechanism to get it released in 1.5.x?

[2017-03-01 00:12] RobRuana commented on #3174
I'll cherry pick it as soon as I get home!

[2017-03-01 01:06] tk0miya commented on #3472
It might be related with `sphinx.util.smartypants`.
It provides following regexp.
[code]

[2017-03-01 03:28] #3440 closed, assigned to nobody

[2017-03-01 03:34] RobRuana commented on #3174
Ok, 1.5.3 was just released, but I'll make sure it's in the next release – either 1.5.4 or 1.6.

[2017-03-01 09:10] shibukawa commented on #739
Mobi format is very old. AZW1 is based on HTML5/CSS3 (very similar to epub) and it is generated via kindlegen command. So we should support valid HTML5 first.

#3464

[2017-03-01 09:15] tk0miya commented on #685
At present, sphinx uses `epub` theme to generate EPUB files.
And it does not have footers.
IMO, To split docs are helpful enough (cf. page breaks, chapters and so on).

So it seems already resolved. I'm closing this.
Thanks,

[2017-03-01 09:15] #685 closed, assigned to nobody

[2017-03-01 09:16] shibukawa commented on #921
Alabaster template supports mobile browser.

[2017-03-01 12:33] NikitaEgorov opened #3484 "Highlighting skipped for C#"
Subject: Add c# ``code-block``

### Problem
WARNING: Could not lex literal_block as "C#". Highlighting skipped.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
WARNING: Could not lex literal_block as "C#". Highlighting skipped.

### Environment info
- Python version: 2.7
- Sphinx version: 1.5.2

[2017-03-01 15:09] tk0miya commented on #3484
I don't know the syntax of C#, but pygments causes parsing error for your example:
[code]
[code]

If it's valid, it might be a bug of pygments.
Thanks,

[2017-03-01 15:10] tk0miya commented on #921
Right, this is already resolved. So I close this now.
Thanks,

[2017-03-01 15:10] #921 closed, assigned to nobody

[2017-03-01 15:12] tk0miya commented on #739
Thank you for comment. I don't know about AZW1.
Anyway it is not important to bundle the builders. So I close this now.
Thanks,

[2017-03-01 15:12] #739 closed, assigned to nobody

[2017-03-01 15:15] tk0miya commented on #3418
Thank you for comment.
In my investigation, it is intentional behavior.
So I determined not to fix it.

Thank you for reporting.

[2017-03-01 15:15] #3418 closed, assigned to nobody

[2017-03-01 17:05] eine opened #3487 "Add linked reference to a program option through an intersphinx inventory file"
### Problem
I am trying to add external references to a documentation. References to sections are properly found and linked. However, references to options are found, but no link is created.

#### Procedure to reproduce the problem
- Add the following line to `conf.py`

[code]
- Add these to the body of `index.rst`:
[code]

#### Error logs / results
- http://poc-devfork.readthedocs.io/en/intertest

[2017-03-01 17:57] NikitaEgorov commented on #3484
@tk0miya

It'is valid syntax of c#
https://msdn.microsoft.com/library/dn961160.aspx

[2017-03-01 19:58] #1574 closed, assigned to nobody

[2017-03-01 19:59] thijstriemstra opened #3488 "objects.inv ValueError"
Subject: `ValueError` for `luma.core` package.

### Problem
It seems that Sphinx generates a corrupted `objects.inv` file for the https://github.com/rm-hull/luma.core project.

#### Procedure to reproduce the problem
- checkout the code and install the package:
[code]
go to the doc directory and build the project.

[code]
#### Error logs / results
The generated `objects.inv` throws an error for in

[2017-03-01 19:59] thijstriemstra commented on #3234
thanks for the feedback @tk0miya, I opened #3488.

[2017-03-01 20:34] thijstriemstra commented on #3488
Commenting out the following option:

[code]

Introduces some new prints during build:

[code]

But the resulting .inv file still throws a `ValueError`.

[2017-03-01 21:02] rm-hull commented on #3488
The header part shows as:

[code]

If you edit this to get rid of the newline so it reads

[code]

Then the following output is produced:

[code]

This can be tracked down to the version in [luma.core](https://github.com/rm-hull/luma.core) having a newline in it - this should now be squashed in https://github.com/rm-hull/luma.core/commit/119ddf9822e6293b2d1c326c3c6610d7d659cc17

[2017-03-01 21:06] thijstriemstra commented on #3488
thanks for the research @rm-hull!

@tk0miya this is something that should be fixed in Sphinx no?

[2017-03-01 22:01] jfbu commented on #3288
Closing now because this is fixed for 1.6 release at 74b4650. Thanks for the report.

[2017-03-01 22:01] #3288 closed, assigned to jfbu

[2017-03-01 22:40] jfbu opened #3489 "bullet list rendered "opened up""
Subject: why is some list at top of CHANGES rendered with paragraphs ?

### Problem

http://www.sphinx-doc.org/en/master/changes.html#deprecated
renders "opened up". I don't understand why from reST source, it does not look
different from similar mark-up elsewhere.

#### Error logs / results

[code]
#### Expected results
list items do not use ``<p>`` tags

### Environment info
- Sphinx version: ma

[2017-03-01 22:59] NikitaEgorov commented on #3484
Create issue for pygments

https://bitbucket.org/birkenfeld/pygments-main/issues/1334/highlighting-error-for-c

[2017-03-01 23:52] Stewori commented on #3482
This is a bug in Jython 2.7.0 and I fixed it some weeks ago, see http://bugs.jython.org/issue2515. You can (hopefully) assert this using our recent soft release candidate linked at  https://sourceforge.net/p/jython/mailman/message/35692550.

[2017-03-02 03:29] tk0miya commented on #3489
Until docutils-0.13, its HTML writer removes `<p>` tag from list items if it contains only one paragraph.
And the HTML writer of Sphinx extends docutils'. In addition, readthedocs.org uses old docutils by default.

On the other hand, since docutils-0.13, CSS is used for the list compaction.

see `html_compact_lists` option (sphinx) and `compact-lists` option (docutils)
http://www.sphinx-doc.org/en

[2017-03-02 04:38] tk0miya commented on #3488
Thank you for quite detail investigation!
Fixed at 3a3cec7.

[2017-03-02 04:38] #3488 closed, assigned to nobody

[2017-03-02 07:50] shimizukawa commented on #2073
fixed by #3490

[2017-03-02 07:50] shimizukawa commented on #3443
fixed by #3490

[2017-03-02 07:50] #2073 closed, assigned to nobody

[2017-03-02 08:34] jfbu commented on #3489
Thanks for info, I have reduced to MWE:

[code]

The pseudoxml output shows each list item always is ``<paragraph>`` but the ``html`` output

[code]

With ``html_compact_lists = False`` all items have ``<p>`` tag, but with ``html_compact_lists = True`` (default), these circumstances lead to some ``<p>`` tags.

docutils 0.13.1, python 3.5.2, tested with classic and alabaster themes.

The result is

[2017-03-02 08:37] jfbu commented on #3489
ah http://docutils.sourceforge.net/docs/user/config.html#compact-lists does indeed make me think it is simply my misunderstanding. Well in that case, DocUtils behaviour under ``--compact-lists`` option is very counter-intuitive.

![capture d ecran 2017-03-02 a 09 43 11](https://cloud.githubusercontent.com/assets/2589111/23499509/b5a9164e-ff2c-11e6-979b-9f35b6cf6813.png)

[2017-03-02 08:55] jfbu commented on #3489
The description in Sphinx docs of ``html_compact_lists``

[code]

is hard to understand. In the example above, pseudoxml gives
[code]
and this counts as only one paragraph for the compact lists option of Docutils. But I see one paragraph + a sublist. This makes behaviour in the end very surprising.

[2017-03-02 09:00] jessetan opened #3491 "Inconsistent vertical space around table and longtable in PDF"
### Problem
The vertical whitespace above and below a table is different from a longtable (explicitely set using `:class:` or implicitly by having more than 30 rows)

#### Procedure to reproduce the problem
Generate a PDF from the following rst:
[code]

#### Results
![table vertical space](https://cloud.githubusercontent.com/assets/3284111/23499779/c78199a8-ff2d-11e6-9c8a-91826d2307f6.png)

In the

[2017-03-02 10:17] jfbu commented on #3491
Thanks for report this is due to two different LaTeX packages used, in the first case ``threeparttable``  and in second case ``longtable``. This is not only difference, if you try with

     This is a table with a very long title very long indeed

you will see in first case it is wrapped to table width, which it is not in second case (well, I just learn now from its docs that longtable wraps the c

[2017-03-02 10:50] jfbu commented on #3491
I realize I have focused on below caption space only. I will examine above caption space later ... perhaps you can already get information on LaTeX fora.

The problem as you can see is that any hack like the one I indicated for longtable (and the investigation and testing time it requires) will be made useless if we change LaTeX packages. Worse, there may be some packages out there hacking around

[2017-03-02 14:10] jessetan commented on #3491
Thanks for your detailed explanation. I agree that this is something to look at when deciding which packages to use, rather than trying to fix it now.
For now we'll most likely just use longtable for most tables and live with any spacing differences we have.

[2017-03-02 14:21] jfbu commented on #3489
Before closing let me add for demonstration an illustrative example

[code]

A single change, deeply nested, has on effet on top level items, under ``html_compact_lists = True`` default, in accordance with DocUtils default behaviour.

![capture d ecran 2017-03-02 a 15 13 57](https://cloud.githubusercontent.com/assets/2589111/23510706/e8864130-ff5a-11e6-9dc7-0de552779507.png)

It is hard to underst

[2017-03-02 14:24] jfbu commented on #3489
closed via docs made more precise at  4119439

[2017-03-02 14:24] #3489 closed, assigned to nobody

[2017-03-02 15:01] tuomas2 opened #3494 "Function/class signatures fail with Py3 style annotations and typing.TYPE_CHECKING"
### Problem and how to reproduce

Function/class signatures do not work properly when using Py3 style annotations, and type definitions are conditionally imported using typing.TYPE_CHECKING.

Minimal example:
[code]
I use autodoc to write documentation about Test class in my index.rst:

[code]

This causes the following error

Documentation does not display class initialization signature (nor any

[2017-03-02 15:51] tk0miya commented on #3487
Thank you for reporting.
Fixed at 811df6b.

[2017-03-02 15:51] #3487 closed, assigned to nobody

[2017-03-02 16:59] tk0miya commented on #2371
Now experimental HTML5 writer is introduced at master branch.
With it, epubcheck emits no warnings.
[code]

[2017-03-02 16:59] #2371 closed, assigned to nobody

[2017-03-02 17:00] tk0miya commented on #1562
An experimental HTML5 writer is now introduced at #3464.
Thanks,

[2017-03-02 17:01] tk0miya commented on #1733
An experimental HTML5 writer is now introduced at #3464.
Thanks,

[2017-03-02 17:01] tk0miya commented on #2376
An experimental HTML5 writer is now introduced at #3464.
Thanks,

[2017-03-02 17:01] #2376 closed, assigned to nobody

[2017-03-02 17:03] shibukawa commented on #1562
I tested, but there are three errors:

[code]

1. Fix theme template
2. Fix table caption with ``<caption>`` tag

[2017-03-02 17:04] tk0miya commented on #1562
Oh, I jumped to conclusions. Reopened.

[2017-03-02 17:05] tk0miya commented on #3287
An experimental HTML5 writer is now introduced at #3464.
Thanks,

[2017-03-02 17:11] tk0miya commented on #3287
Unfortunately, new HTML5 writer also has same issue (refs: #1562)

[2017-03-02 17:12] tk0miya commented on #1733
Unfortunately, new HTML5 writer also has same issue (refs: #1562)

[2017-03-02 17:29] jfbu opened #3496 "latex longtable's last column may be much wider than its contents"
### Problem

For LaTeX PDF output, last column of a table with longtable class may be
much wider than its contents.

#### Procedure to reproduce the problem

make latexpdf on project with rst source as below

#### Error logs / results

![capture d ecran 2017-03-02 a 18 33 30](https://cloud.githubusercontent.com/assets/2589111/23519384/ff1b6b0c-ff76-11e6-8960-b63395f1f7cb.png)

even worse with only

[2017-03-02 17:37] Paebbels commented on #3487
Does this also fix #2822?

[2017-03-02 18:12] shibukawa commented on #1733
I reported to docutils. https://sourceforge.net/p/docutils/bugs/312/

[2017-03-02 18:15] shibukawa commented on #1562
* #3495
* https://sourceforge.net/p/docutils/bugs/312/

[2017-03-02 19:36] return42 commented on #3212
I like to see this bug reopend. It is only fixed for a v1.5 patch level. A patch level for 1.3 and 1.4 is also needed.

To fix downwards, I recomend to fix the requirement `docutils>=0.11` (https://github.com/sphinx-doc/sphinx/blob/1.4.9/setup.py#L47) and stick at `docutils==0.11`.

I also recomend to stick docutils for the future in a new sphinx 1.5 patch level to current `docutils==0.13.1` (http

[2017-03-02 23:13] jfbu commented on #3491
I am sorry for having given very detailed explanation on a secondary question (space between caption and table)... As per your original queries about space before and after table, here is why I can say:

- threeparttable

  * above caption: there is 18 pt (baselineskip + parskip) from previous base line to top of T of Table. Customizable by threeparttable user: no. Must manually insert vspace.

[2017-03-02 23:50] shibukawa commented on #1733
There is working around for adding reference-name to tables.

Adding id by using name parameter keep away from invalid HTML now.

[code]

[2017-03-03 03:34] tk0miya opened #3499 "Upgrading mypy"
### Problem
- New mypy has been released
- Now sphinx pins the version of typed-ast package. That conflicts with new mypy package
- New mypy emits a lot of type warnings

#### Error logs / results
See the log at Travis: https://travis-ci.org/sphinx-doc/sphinx/jobs/207234233#L584
[code]

#### Expected results
Clear all warnings!

[2017-03-03 04:30] tk0miya commented on #3499
As a workaround, I determined to pin mypy to old version (refs: #3500).
I'll try to upgrade mypy to latest one later.

[2017-03-03 04:40] #1733 closed, assigned to nobody

[2017-03-03 09:08] #3496 closed, assigned to nobody

[2017-03-03 13:58] tk0miya commented on #3212
Sorry, 1.4 and 1.5 are already outdated. We maintain only stable release.
Thanks,

[2017-03-03 14:05] tk0miya commented on #1562
Fixed at #3495. Thank you @shibukawa san!

[2017-03-03 14:05] #1562 closed, assigned to shimizukawa

[2017-03-03 14:07] tk0miya commented on #3487
Thanks!

[2017-03-03 14:07] tk0miya commented on #2822
Thank you for reporting.
Fixed at 811df6b.

[2017-03-03 14:07] #2822 closed, assigned to nobody

[2017-03-03 14:16] tk0miya commented on #2268
Note:
To be robust, we should not inspect the results of pygments. This is testcases for Sphinx, not for pygments. So we should not be care of the highlighted codes in our tests.

[2017-03-03 14:33] return42 commented on #3212
1.5 is outdated? ... I guess you mean 1.3 and 1.4 is outdated and you only maintain a HEAD version along your `stable branch` ... right?

[2017-03-03 15:01] #3499 closed, assigned to nobody

[2017-03-03 15:07] tk0miya commented on #3432
It seems not a bug of Sphinx. So I close this now.
Thanks,

[2017-03-03 15:07] #3432 closed, assigned to nobody

[2017-03-03 15:11] tk0miya commented on #3451
Any updates?
I think this is not a bug of sphinx.
So I'd like to close this.

[2017-03-03 15:11] tk0miya commented on #3484
Thanks,
It seems this is not a bug of Sphinx.
So I close this now.

Thank you for reporting.

[2017-03-03 15:11] #3484 closed, assigned to nobody

[2017-03-03 15:15] tk0miya commented on #3212
Ah, sorry. 1.3 and 1.4 are outdate. 1.5 is still alive.

[2017-03-03 15:53] #3451 closed, assigned to nobody

[2017-03-03 15:54] nmattia commented on #3451
Not relevant to me anymore, happy to close. Thanks for your input.

[2017-03-03 21:38] willcharlton opened #3503 "Sphinx throws exception when using certain extensions."
Subject: Installed `sphinxcontrib-fulltoc`, Sphinx throws exception during make.

### Problem
I had been using sphinx docs on a project for some time and I needed to uses the `sphinxcontrib-fulltoc` extension. Once I installed it my `make html` commands would throw the attached exception. I removed this extension and the problem went away.

#### Procedure to reproduce the problem
[code]

#### Erro

[2017-03-04 01:05] shibukawa commented on #1376
#3464 fix almost all errors except the following ones:

[code]

[2017-03-04 02:33] tk0miya commented on #3503
I feel fulltoc extension causes the problem. So I think this is not a bug of Sphinx.
Could you report this to their project?
Thanks,

[2017-03-04 02:33] #3503 closed, assigned to nobody

[2017-03-04 12:48] bfrk commented on #3472
I have a problem here with syntax descriptions that might be related. For instance, the keyword "entry" in

[code]

gets rendered as

[code]

in the latex output.

[2017-03-04 14:46] tk0miya commented on #3472
@bfrk it might be a bug of smartypants processing.
It is similar to this issue, but it is not related problem.
So please file a new issue.

Thank you for reporting

[2017-03-04 15:28] abathur opened #3506 "Some admonitions in HTML writer don't pass the node argument to depart_admonition"
### Problem
In the HTML writer, the methods depart_attention, depart_caution, depart_danger, depart_error, depart_hint, depart_important, and depart_tip all fail to pass the node method to depart_admonition, limiting the ability of extensions that subclass the html writer to customize these particular admonitions. I'll submit a PR shortly.

[2017-03-04 16:58] bfrk opened #3507 "Regression: wrong quotes in latex output for productionlist directive"
To give an example, the keyword "entry" in

[code]

gets rendered as

[code]

in the latex output. I am seeing this with version 1.5.2, whereas the output generated by version 1.3 is fine.

[2017-03-04 17:00] jfbu commented on #3491
The problem is fixed at #3504 for 1.6 release. It introduces following macros:
[code]
which can be renewcommand'd from ``'preamble'`` key of [latex_elements](http://www.sphinx-doc.org/en/master/config.html#confval-latex_elements). Probably some interface via ``'sphinxsetup'`` key will be added.

The ``\sphinxtablepre`` and ``\sphinxtablepost`` can hold negative dimensions. They serve as adjustment

[2017-03-04 17:03] jfbu commented on #3491
Thanks for reporting, this will close automatically when #3504 is merged.

[2017-03-04 17:13] tk0miya commented on #3070
Sorry for late response. I'm checking the comments from above since now.

About `needspace.sty`:
Basically, I prefer to lessen bundled packages. Because we'll have to check updates of them if bundled.
I understand bundling package will bring us stable library. But, at same time, pinning the version also brings stagnation to the software. I believe we should follow the newest packages and interface

[2017-03-04 17:19] tk0miya commented on #3070
About `xcolor`:
+1 for adding!

[2017-03-04 17:24] #3491 closed, assigned to nobody

[2017-03-04 17:25] Paebbels opened #3508 "Improvement for `include` directive"
I'm using a lot of include directives and replacements in my `rst_prolog` variable, which is defined in `conf.py`. I would like to store the variable content in an external file like `prolog.inc`, which is located in the root directory of my documentation, and reference the `prolog.inc` in the `rst_prolog` variable.

When I do so, I get messages from ReST files, that they couldn't find `prolog.inc

[2017-03-04 17:30] tk0miya commented on #3070
As conclusion, we are already finished this issue. I feel it was almost your work, thanks @jfbu !
Is there any remaining work?
If none, I'll close this.

[2017-03-04 17:34] jfbu commented on #3070
Your patience with my intertwined comments above need to have been great! I was verbose as usual but here because my perspective was purely TeXLive one at first. But Ubuntu Debian packaging uses latex-recommended not in same sense as TeXLive latexrecommended.

- about avoiding to bundle packages, I fully agree. Regarding needspace I wrote my comments at time I had not yet clear view of Debian late

[2017-03-04 17:42] tk0miya commented on #3070
Thank you for quick response.
Okay, I'll do them tomorrow.

In Japan, it's night (at 3 AM), so I'm going to bed from now. Good night :-)

[2017-03-04 18:02] jfbu commented on #3070
@tk0miya I should have done earlier, I took care of it now (crossing fingers I don't cause again failed Travis test of master ...). Sleep is most important for brain !

[2017-03-04 18:04] jfbu commented on #3070
memo: find some perhaps more satisfying font configuration for xelatex/lualatex.

[2017-03-04 22:53] meshiguge opened #3510 "make gettext error"
### Problem
- <hi, when use  `make gettext `  in my docs, "startswith"  error caused:

anyone knows how to do ? thanks

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

### Environment info
- OS: <mac >
- Python version: anaconda/lib/python2.7
- Sphinx version: Sphinx v1.2.3

[2017-03-05 01:02] tk0miya commented on #3510
Could you update your Sphinx to latest one (v1.5.3) and try it again?
v1.2.3 is too long and no longer maintained.

[2017-03-05 01:09] tk0miya commented on #3508
Please use `/foo.inc` instead. Sphinx considers the path stats with `/` as a relative path from the source directory (document root).

[2017-03-05 01:29] Paebbels commented on #3508
Oh. Thanks.

[2017-03-05 01:29] #3508 closed, assigned to nobody

[2017-03-05 01:42] Paebbels opened #3511 "Adding more unicode characters to the generated *.tex file"
The generated `*.tex` file already contains a section for additional Unicode characters like this:

[code]

However, I need to add more characters, to build my documentation on my local machine. The build on ReadTheDocs seems to have no problems like this. I find it annoying to patch this 3.5 MiB file by hand to insert more characters before I launch the next translation step (starting pdflatex).

[2017-03-05 02:10] tk0miya commented on #3511
You can overwrite it through `latex_elements['utf8extra']`.
Now it is defined as following by default (in stable HEAD):
[code]

Please write code in your `conf.py`.

IMO, it is better to use unicode-supported LaTeX engine (XeTeX or LuaTeX).
Supporting utf8 characters are very tired work.
refs: #3444

[2017-03-05 02:13] tk0miya commented on #3506
Note: this is happened only in master branch. It might be contaminated in refactoring (sorry...)

[2017-03-05 02:13] Paebbels commented on #3511
Is LuaTeX a replacement without side effect for pdflatex? I'm on Windows with a Miktex (2.9 x86_64) installation.

I'm using a translated `Makefile` as `make.ps1` which triggers `... -b latex`. `luatex` is not an option in the provided makefile.

[2017-03-05 02:19] tk0miya commented on #3511
Sorry, I don't know that because I'm not an expert of TeX.
And we Japanese usually uses pTeX series (which is specialized to Japanese processing).

[2017-03-05 02:22] abathur commented on #3506
No worries. I just bumped into it while working on multi-building.

[2017-03-05 02:36] Paebbels commented on #3511
OK. I have started LuaLaTeX, but it stops with unknown control sequence errors.

I also tried XeLaTeX that worked and generated the expected PDF file without adding more Unicode characters.

As this is nice to know, but non of the flows is supported on RTD. So I'll stick to manually adding characters to the preamble as propose in the first answer.

[2017-03-05 02:36] #3511 closed, assigned to nobody

[2017-03-05 02:51] Paebbels opened #3512 "Images from external URL are not displayed in LaTeX output."
I'm using dynamically rendered images from online services like [Shields.io](http://shields.io/) in my documentation. This works fine in the HTML version created locally and on RTD. However, these images are not visible in the also generated PDF file.

According to [Builders](http://www.sphinx-doc.org/en/stable/builders.html#builders), the latex builder only supports pdf, png and jpg formats. So I

[2017-03-05 08:01] jfbu commented on #3511
Hi @Paebbels ! I am not familiar with it but there might be a pdflatex alternative which is `utf8x` option to `inputenc`.

[code]

It has capacity of handling on the fly Unicode characters, you can also use ``\DeclareUnicodeCharacter``  but beware the first argument which must either be a decimal number or if hexadecimal with an initial ``"`` (its syntax diverges from the ``\DeclareUnicodeCharacte

[2017-03-05 08:34] tk0miya commented on #3512
Unfortunately, it is not supported at present.
I have a plan to support it on nearly release.
Please wait for while.

[2017-03-05 08:38] #3506 closed, assigned to nobody

[2017-03-05 08:39] jfbu commented on #3511
About using LuaTeX, this is option only if using always latest TeX install. Indeed, it evolved a lot over the last five years and only recently reached `1.0`  status. And this will be in TeXLive 2017, the TeXLive 2016 (which generally does not update binaries during its yearly life span) still has earlier version, which is beta version. Many backwards incompatible changes happened over the years b

[2017-03-05 09:14] Paebbels commented on #3511
I have an up-to-date Miktex installation. LuaLaTeX reports:

[2017-03-05 09:46] jfbu opened #3513 "Should commit messages updating CHANGES use ``PR#xxxx`` or ``PR #xxxx`` ?"
Often we add commits to update CHANGES (because including the change in PR's often lead to merge conflicts, so it is simpler to modify CHANGES directly on master or stable HEAD after merge). I see many such entries are worded

    Update CHANGES for PR#xxxx

as there is no space after PR, this prevents github interface to create a link from the commit message to the PR. I am wondering if this is d

[2017-03-05 09:51] jfbu commented on #3511
Thus, you are all clear for LuaLaTeX use ! but did you use LuaLaTeX via ``latex_engine = 'lualatex'`` in the ``conf.py`` or manually on the tex file produced by Sphinx without such config ? in the latter case you would need to add ``\usepackage{luatex85}`` to the tex file preamble.

[2017-03-05 10:37] tk0miya commented on #3070
Can I close this?

[2017-03-05 10:44] tk0miya commented on #3513
It is used since bitbucket era (cf. b6452fe0819fe4c5b9d23beca8a6b166efa9515e).
There are no special reason to use it now.
+1 for changing.

[2017-03-05 11:00] jfbu commented on #3070
+1 for close. Basic migration is done. Choosing defaults fonts for xelatex/lualatex is further matter.

[2017-03-05 11:27] tk0miya opened #3516 "Proposal: Invite shibukawa as a new commiter"
### Proposal
- I'd like to invite @shibukawa as a new commiter / maintainer of our project
- He had contributed many works until now
    - Improve search engine (index, stemmer and so on)
    - Add HTML5 builder
    - Improve EPUB builder to pass epubcheck
    - and so on
* He had commited about 60 times ever
* He is a founder of Sphinx-users.jp (Sphinx local users group in Japan)

He had help us

[2017-03-05 11:34] tk0miya commented on #3070
Okay, now I close this :-)
I feel LaTeX writer is much improved in 1.6. Thank you for all your work!

[2017-03-05 11:34] #3070 closed, assigned to nobody

[2017-03-05 11:36] tk0miya commented on #3516
ping @birkenfeld @shimizukawa

[2017-03-05 13:48] shimizukawa commented on #3516
:+1:

[2017-03-06 04:43] jbking commented on #3516
:+1:

[2017-03-06 09:31] Lucky-coding opened #3521 "TypeError: 'type' object is not iterable"
I make a class like this:

[code]

After run ,it is:

[code]

How can I solve this problem? Thank you.

[2017-03-06 21:38] meshiguge commented on #3510
@tk0miya, KOMIYA  san, I have updated to latest one, and error still caused.

[2017-03-06 22:37] meshiguge opened #3522 "auto generate rst files without docstring"
could we generate the real rst files from python docsting, and then build html without dostring files ?

[2017-03-07 01:23] tk0miya commented on #3522
AFAIK, there are no way to do that.

BTW, here is issues for Sphinx, not a forum.
Please move to sphinx-users list if you'd like to question.
https://groups.google.com/forum/#!forum/sphinx-users

[2017-03-07 01:23] #3522 closed, assigned to nobody

[2017-03-07 01:24] tk0miya commented on #3521
Hmm? How is this relate with Sphinx?
It seems simply a bug of your script.

[2017-03-07 01:39] tk0miya commented on #3510
Could you paste the stacktrace of latest Sphinx?
And could you share your project if possible? I'd like to reproduce it in my local.

[2017-03-07 07:35] jbking commented on #3437
The patch seems to be enough for us.
And I didn't know this has very old history...

I will ask my team and trying to apply it. Thanks. (and sorry for late)

[2017-03-07 09:03] jfbu commented on #3437
@jbking I am glad the patch works for you.

In https://github.com/sphinx-doc/sphinx/issues/3437#issuecomment-283068521 I was unclear and induced @tk0miya into thinking I was still making reference to this specific issue while I was in fact making a general comment that it is not always convenient to avoid ``{}`` in LaTeX output by replacing it by ``\relax``. For your issue, we could do the replace

[2017-03-07 11:57] jakobandersen commented on #2952
Thanks, it should be fixed for almost all cases in stable now.

[2017-03-07 13:28] usaturn commented on #3516
:+1:

[2017-03-07 17:32] bfrk opened #3524 "NameError: name 'latex_elements' is not defined"
It says I should report this so I do.

I was getting deprecation warnings:

`WARNING: latex_paper_size is deprecated. Use latex_elements['papersize'] instead.`

So I did that: removed `latex_paper_size` and added `latex_elements['papersize'] = 'a4'`. This got me:

[code]

The mentioned file contains this:

[code]

[2017-03-07 17:33] bfrk commented on #3524
Note: I was making the change in conf.py.

[2017-03-07 18:38] jfbu commented on #3524
Thanks for report, maybe message should be improved.

Indeed when conf.py is read there is no `latex_elements` Python dict. Thus, either use

[code]

or

[code]

syntax. The sphinx-quickstart script adds such a definition by default with commented out contents for the dict.

[2017-03-07 18:57] jfbu commented on #3513
OK, I will start leaving a space after PR in future.

[2017-03-07 18:57] #3513 closed, assigned to nobody

[2017-03-07 19:01] Blendify opened #3526 "Captions for markup should be rendered using the <caption> and <figcaption> tags"
Subject: I was looking into fixing https://github.com/rtfd/sphinx_rtd_theme/issues/292 and found the caption is rendered using <caption> and <figcaption> tags like tables do.

#### Procedure to reproduce the problem
Using the following markup should use the  <caption> and <figcaption> tags
[code]

[code]

#### Expected results
Results should render the text using the <caption> and <figcaption> ta

[2017-03-07 19:09] jfbu commented on #3507
Thanks for this !

First bad commit is 82758b1 (PR #2627, Sphinx 1.4.4). This commit already got a number of follow-ups... I will look, thanks. In a way it may be (sort of) intended because rendering of curly double quotes is font dependent (mono space font here for inline literal).

(what is going on is that the commit prevents the formation of the ```` `` ```` and ``''`` ligatures in the TeX fon

[2017-03-07 20:16] jfbu commented on #3507
Classifying this as a bug, because the intent of PR #2627 (and needed subsequent commits) was to obtain in inline literals same as in literal blocks regarding quotes. This does not happen for double quotes which are Pygmentized in literal blocks, hence immune to the standard LaTeX verbatim set-up applied there and which PR #2627 transferred to inline literals. But in inline literals double quotes

[2017-03-07 21:21] swiesend commented on #2840
As this answer wasn't very satisfying to me I investigated further and found the following solution.

It is possible to use the `AutoStructify` transformations from `recommonmark` for that purpose. The `AutoStructify` transformations enrich the markdown syntax with .rst capabilities:

https://recommonmark.readthedocs.io/en/latest/#autostructify

One may create a symbolic link to the `README.md` an

[2017-03-07 21:47] lubo commented on #2557
Hi, I came across the same problem. Any update ?

[2017-03-07 22:02] jfbu commented on #3472
@tk0miya the new issue was filed as #3507, it is unrelated to this one.

[2017-03-08 09:17] TormodLandet commented on #2720
This is still a problem, but I am seeing some strange interaction with images.

An image which is linked to several times will have the second link show up as "_images/subdir1/image.png", but the image is located in "_images/image.png" and the first ".. image::" directive shows the correct link. These are obviously the same image, so they should not be treated as different with duplicate names. I

[2017-03-08 09:54] bfrk commented on #3524
Thanks. As you can see I am not very fluent in Python... I would have thought the dictionary gets created automatically when I assign to a key (as it would in Perl IIRC).

[2017-03-08 10:00] bfrk commented on #3507
Thanks for looking into this. (Note this is not critical for me, I guess most of my users look only at the html).

[2017-03-08 10:47] TormodLandet commented on #2720
The following fixed this, but it probably only works on stable, not master due to self.app.status_iterator vs status_iterator

[code]

Do you want a pull request?

[2017-03-09 05:17] tk0miya commented on #3516
Finally, he joined to our project.
Welcome @shibukawa!

Your first mission is updating AUTHORS file.
https://github.com/sphinx-doc/sphinx/blob/master/AUTHORS#L6

[2017-03-09 05:25] tk0miya commented on #3516
Thank you for all voting supporters :-)
We'll continue improving Sphinx with powerful developers.

Enjoy documentation!

[2017-03-09 05:46] tk0miya commented on #3526
This is a mixed and very complex problem. To resolve this, we have to check following problems step by step.

* The caption of figures are generated by docutils, not Sphinx
* The caption of code-blocks are generated by Sphinx
* Sphinx-1.5 does not support HTML5 yet

The first one needs to update our code. Sphinx uses `<div>` tag to represent the caption of code-blocks.

And second one needs to upd

[2017-03-09 05:50] tk0miya commented on #3526
In this issue, we should consider to use `<caption>` tag for code-blocks.
Other problem should be/will be resolved in other issues.

[2017-03-09 06:06] Blendify commented on #3526
I would say that for figures it does not matter much. but for code blocks it would be nice to use `caption-side: bottom`

[2017-03-09 14:13] jfbu opened #3532 "Figure or literal block captions in cells of short tables cause havoc in PDF output"
Subject: when a table cell contains a ``figure`` directive, and is rendered in LaTeX via ``threeparttable``, the figure caption is used as table caption and there are other nefarious consequences.

#### Error logs / results

![capture du 2017-03-09 14-51-45](https://cloud.githubusercontent.com/assets/2589111/23753105/78ee1ed2-04d8-11e7-96dc-541f02c89a2a.png)

### Reproducible project / your projec

[2017-03-09 17:44] birkenfeld commented on #3516
Welcome!

[2017-03-09 18:57] stefano-maggiolo opened #3533 "Moving from Sphinx 1.3.1 to 1.5.3 breaks LaTeX compilation of links rendered as code"
Hi! Not urgent as we just used a workaround, but in case you care...

We have an [extension](https://github.com/cms-dev/cms/blob/17a924e333025bc4e70e675731f09cf8a8305313/docs/gh_links.py#L44) that creates a link to a file in our GitHub repo, and renders it as code.

With 1.3.1 it worked. With 1.5.3 I get errors like these:
[code]

I get the same error both locally (stock TeXlive distro in Ubuntu 1

[2017-03-09 19:57] jfbu commented on #3533
Can you please paste lines 485 to 495 of the `foo.tex` document raising error message like you reported ?

actually  I expect this is from https://github.com/cms-dev/cms/blob/17a924e333025bc4e70e675731f09cf8a8305313/docs/Running%20CMS.rst#configuring-cms

Currently I can not get same LaTeX error, but I do observe (expected) problems with for example this

    \sphinxcode{\href{https://github.com/c

[2017-03-09 20:08] jfbu commented on #3533
I expect this to have same causes as those which gave #3200 (fixed at #3206). The `\hyperref` (or rather here `\href`) dislikes "active" characters (this is TeXnical...).

Perhaps the  [encode_uri](https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/writers/latex.py#L2205)  in LaTeX writer should get is `\detokenize`. But needs evaluation.

[2017-03-09 22:17] jfbu commented on #3524
Thanks for reporting. I don't see immediately how to make a concise warning which would convey information that `latex_elements` is not yet in existence in `conf.py`'s namespace when executed. My best candidate is:

    WARNING: latex_paper_size is deprecated. Define a latex_elements dict with a 'papersize' key.

Ideas anyone ?

[2017-03-09 22:49] stefano-maggiolo commented on #3533
Looks similar. The offending tex is: ```\sphinxcode{\href{https://github.com/cms-dev/cms/tree/v1.3.dev0/config/}{config/}}```

[2017-03-09 22:50] stefano-maggiolo commented on #3533
[I already updated the repo to remove the code formatting from that macro, that's probably why you weren't seeing it.]

[2017-03-10 05:46] avijitnsec opened #3535 "Issue while building sphinx doc"
Subject: <what happen when you do on which document project>

### Problem
-
Trying to build django doc
#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Env

[2017-03-10 08:14] meshiguge commented on #3510
@tk0miya actually, I want  to "make gettext" for the `docs` in [Lasagne](https://github.com/Lasagne/Lasagne) , and exception always caused.

[2017-03-10 08:14] meshiguge commented on #3510
Exception occurred:
  File "/Users/xx/anaconda/lib/python2.7/posixpath.py", line 54, in isabs
    return s.startswith('/')
AttributeError: StringList instance has no attribute 'startswith'
The full traceback has been saved in /var/folders/hq/x053v2n52fbbkyd99d_46ywh0000gn/T/sphinx-err-qs42mB.log, if you want to report the issue to the developers.
Please also report this if it was a user error, so

[2017-03-10 08:25] jfbu commented on #3507
fixed at 94e9d3e (#3527) for upcoming 1.5.4. Thanks for reporting.

[2017-03-10 08:25] #3507 closed, assigned to nobody

[2017-03-10 08:50] jfbu commented on #3533
no I downloaded the `gh_links.py` extension in the version you linked to initially. Not knowing which reST source to use I tried https://github.com/cms-dev/cms/blob/17a924e333025bc4e70e675731f09cf8a8305313/docs/Running%20CMS.rst#configuring-cms which generates

    \sphinxcode{\href{https://github.com/cms-dev/cms/tree/v1/config/}{config/}}

Then I added manually what you indicated

    \sphinxcode

[2017-03-10 09:12] jfbu commented on #3533
ah, I reproduce your error in an `sphinxalltt` environment. Was your link rendered as code originally inside contents of a  ``parsed-literal`` directive ?

[2017-03-10 09:57] jfbu commented on #3533
arrrgh, apologies, all my testing was on a project I used for issue #3200 and it was left with `latex_elements`  setting `'sphinxsetup': 'inlineliteralwraps=false'` which explains why I did not see the failed LaTeX run. This being said; `'inlineliteralwraps=false'`  is not a cure to your issue as although the LaTeX build completes, the hyperlink is wrong.

[2017-03-10 10:00] f0k commented on #3510
Can confirm that this happens in Lasagne, both with Sphinx 1.2.3 and 1.5.3.
To reproduce (hope this covers everything):
[code]

<details>
<summary>stack trace</summary>

[code]
</details>

[2017-03-10 10:37] stefano-maggiolo commented on #3533
Hi @jfbu - just to set expectations, I am fine with the current workaround (just render the link with the regular style). Thanks for looking into it!

[2017-03-10 11:32] jfbu commented on #3533
Sorry in advance if I am a bit longish here, but I am documenting for future, as immediate all-around fix does not present itself in an obvious way.

The underlying issue is that inline literals, using `\sphinxcode` macro, do not only achieve a style (use mono space font) but also do things like allowing TeX to insert linebreaks at some locations where it would not, or make sure backquote is rende

[2017-03-10 11:58] NikitaEgorov opened #3537 "IE Compatibility Mode"
Please add
``<meta http-equiv="X-UA-Compatible" content="IE=Edge" />``
to <head>
for IE

[2017-03-10 12:06] jfbu commented on #3533
I forgot to say the obvious:

Just use ``'preamble'`` as above but with

    \protected\def\sphinxcode#1{\texttt{#1}}

if you want to revert to Sphinx LaTeX 1.3.1 behaviour in this regard.

This may be the simpler solution for your use-case, but you lose wrapping at line-breaks and non-curly single quotes in PDF output for inline literals

[2017-03-10 14:51] tk0miya commented on #3535
Sorry, please ask to django team how to build the docs.
It seems this is not a bug of Sphinx. because `snippet_with_filename` is not a part of Sphinx.
I guess djangodoc extends Sphinx by itself, and that causes the error.

Thanks,

[2017-03-10 14:51] #3535 closed, assigned to nobody

[2017-03-10 15:08] jfbu commented on #3533
It seems I need to talk a lot before acting. I have fixed this issue at PR #3538. Thanks for reporting.

[2017-03-10 17:53] tk0miya commented on #3510
As a quick look, it seems this is a bug of numpydoc.
I can reproduce bug with following project:
[code]
[code]
[code]

It works fine if I remove `numpydoc` extension.
Please report this to the numpydoc project.

Thanks,

[2017-03-10 17:54] tk0miya commented on #3510
@meshiguge Did you use `numpydoc` extension? If true, it might be a bug of the extension.

[2017-03-10 18:30] f0k commented on #3510
Indeed, removing `numpydoc` from Lasagne's Sphinx configuration gets rid of the exception. Thank you for pointing us in the right direction! Updating numpydoc to the latest version doesn't help. Seems they do something that plays well with regular documentation building in Sphinx, but not with gettext.

Now the question is if the error is in numpydoc or in the gettext builder. With `make SPHINXOPT

[2017-03-10 20:11] roxannemoslehi opened #3539 "Only directive blocks headers from being in TOC"
Subject: Only directive blocks headers from being in TOC

### Problem
- If you use the "only directive" to flag off some content, any headers inside that directive won't show up in the TOC.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
When you run:
[code]
The generated TOC at the top of the page looks like this:

**CONTENTS:**

- Title1
- Title3

#### Expected results

[2017-03-11 05:19] techtonik commented on #2073
Thanks, @shimizukawa. Is it 1.6 that will get this released?

[2017-03-11 08:40] tk0miya commented on #2073
No, #3490 is merged into stable branch. So it will be released as 1.5.4.

[2017-03-11 09:01] tk0miya commented on #3443
Reopened because it seems wrong fix.

[2017-03-11 10:17] tk0miya commented on #3510
I still don't understand how gettext builder work well, but I feel it's a bug of gettext.
`StringList` is usually used only for internal use (mainly on directive processing). So it's strange to see it outside of directive.

[2017-03-11 12:16] wjakob opened #3542 "Sphinx has difficulties with expressions in C++ types"
### Problem
Consider the following Sphinx snippet below. The first line is parsed without problems. The second one results in an error message. It appears that Sphinx stumbles over the "!" (boolean negation) expression.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
Sphinx should parse the second line as well.

### Environment info
- OS: Ma

[2017-03-11 13:12] shibukawa opened #3543 "latexmk error"
Subject: latexmk error

### Problem
- Fail creating PDF via latexpdf command on master branch

#### Procedure to reproduce the problem

I added CI setting of creating PDF. Summary is:

* Install Ubuntu 16.04LTS
* Install texlive texlive-latex-extra texlive-lang-cjk python-pip make via apt.
* Install Sphinx from master branch.

* Last succeeded build was: March 5th 17:43 UTC
* Build failed when Mar

[2017-03-11 13:20] tk0miya commented on #3543
Since #3082, we use `latexmk` command to build PDF.
so you need to install latexmk package.
http://packages.ubuntu.com/xenial/latexmk

[2017-03-11 13:21] #3543 closed, assigned to nobody

[2017-03-11 13:21] shibukawa commented on #3543
Thank you

[2017-03-11 14:30] jfbu commented on #3543
The merged PR #3082 contained an update to the builders docs (19558c9), but I had not yet updated CHANGES, now done at 538f55e. By the way, perhaps the info at 19558c9 should be moved to location more visible in Sphinx docs ?

[2017-03-11 15:11] tk0miya commented on #3543
Okay, let's add "dependency" section to CHANGES file.

[2017-03-11 15:18] tk0miya commented on #3539
Sorry, "only" directive was not designed to control section. This behavior is specification.
(refs: #2132)

[2017-03-11 15:22] #3539 closed, assigned to nobody

[2017-03-11 15:56] jfbu commented on #3533
fixed at 3128a43 for Sphinx 1.5.4. Please re-open in case <strike>for</strike> of (!) further problems.

[2017-03-11 15:56] #3533 closed, assigned to nobody

[2017-03-11 18:05] goerz commented on #2044
You can put a monkeypatch in the `conf.py` of your project that fixes this problem:

    from sphinx.ext.autodoc import (
        ClassLevelDocumenter, InstanceAttributeDocumenter)

    def iad_add_directive_header(self, sig):
        ClassLevelDocumenter.add_directive_header(self, sig)

    InstanceAttributeDocumenter.add_directive_header = iad_add_directive_header

Currently, instance attributes

[2017-03-11 19:31] jfbu commented on #2832
Just to mention here that table templates were introduced at 976fc32 on master branch for Sphinx 1.6 release and will be modifiable by user (2a37b0e). This will make it easier for user knowing well LaTeX to customize tables: for example with `table` option passed to `xcolor` package, the templates could contain `\rowcolors` command and thus get coloring of rows; indeed this `xcolor` provided `\row

[2017-03-11 20:36] goerz opened #3545 "Add templating support to sphinx-apidoc"
The `sphinx-apidoc` utility has some shortcomings, including

* For modules with a lot of members, there is no overview of the members. The resulting page is very hard to navigate.
* If modules expose imported objects through `__all__`, `apidoc` creates stubs for both the exporting module and the module where the object was originally defined. This leads to duplicate references. It is generally ha

[2017-03-11 20:38] goerz commented on #9
To the extent that this refers to `apidoc`, this could be solved by adding templating support, see #3545

[2017-03-11 21:57] jfbu opened #3546 "A ``;`` in a literal block causes failed PDF build with xelatex, TL2015, and French language"
Subject: PDF build fails with a LaTeX error

### Problem
[code]

#### Procedure to reproduce the problem

``index.rst``:

[code]

``conf.py``:

[code]

#### Error logs / results

see above

#### Expected results

``make latexpdf`` succeeds.

### Environment info
- OS: mac os x 10.9.5
- Python version: 3.5.3
- Sphinx version: 1.5.3
- TeXLive 2015

[2017-03-11 22:06] jfbu commented on #3546
This appears to be a bug <strike>in the French module of polyglossia,</strike> which does not exist anymore in TeXLive 2016, updated in March 2017. *edit: it may have been rather a bug in xetex itself, see next comment*

I compile to PDF with no problem on TeXLive 2016:

[code]

The deprecation warning is caused by current `fontspec` having already defined `\strong` macro.

(With Sphinx 1.5.2 and

[2017-03-11 22:31] jfbu commented on #3546
actually it might have been a bug in ``xetex`` itself, because there is absolutely no difference between ``polyglossia.sty`` and ``gloss-french.ldf`` of my TL2015 versus TL2016. On the other hand the TeX-trace differ and this seems  to come from ``xetex`` itself which went from version ``0.99992`` to  ``0.99996``. (handling of ``\discretionary`` TeX primitive) I have not researched more.

(I remov

[2017-03-12 00:26] prjemian opened #3547 "existing project documentation won't build with 1.5.1 or 1.5.3: the linkcheck problem"
### Problem
This is a problem with 1.5.1 & 1.5.3, but not a problem with 1.4.8.

    Could not import extension sphinx.builders.linkcheck (exception: No module named exceptions)
Makefile:53: recipe for target 'html' failed

This is the Makefile line that fails:
https://github.com/prjemian/punx/blob/cache_45/docs/Makefile#L53

Chances are good that this report is related to this existing discussion

[2017-03-12 01:31] fireattack opened #3548 "The built-in sphinxdoc theme is not the same as the one used on doc website"
I am using `html_theme = 'sphinxdoc'` parameter in the conf.py, but the result is very different from the one shown on http://www.sphinx-doc.org/en/stable/contents.html

From the document http://www.sphinx-doc.org/en/stable/theming.html it says:

While it does have similar layout, the color scheme is quite different.

Did I miss something obvious?

[2017-03-12 01:55] tk0miya commented on #3547
It seems you're mocking `requests` module in your conf.py. That causes this issue...
Since 1.5, Sphinx depends on the module.

Please use "autodoc_mock_imports" instead.
http://www.sphinx-doc.org/en/stable/ext/autodoc.html#confval-autodoc_mock_imports

[2017-03-12 01:55] #3547 closed, assigned to nobody

[2017-03-12 02:00] tk0miya commented on #3548
Hmm... it seems the description is wrong.
Our document uses its original theme named `sphinx13`, not sphinxdoc.
https://github.com/sphinx-doc/sphinx/tree/master/doc/_themes/sphinx13

I don't know difference with them. I'll take a look later.
Thank you for reporting.

[2017-03-12 02:02] fireattack commented on #3548
Oh, thanks!

[2017-03-12 02:10] #3348 closed, assigned to nobody

[2017-03-12 03:46] jakobandersen commented on #2607
Fixed with PR #3528.

[2017-03-12 03:46] #2607 closed, assigned to jakobandersen

[2017-03-12 03:46] jakobandersen commented on #2665
Fixed with PR #3528.

[2017-03-12 03:46] #2665 closed, assigned to nobody

[2017-03-12 06:10] jakobandersen commented on #3542
Thanks for reporting this. The parsing of non-type expressions is very simplistic, but I have extended the hax to cover this case as well. Unfortunately that means that the ``T`` (or any other name in the non-type template argument) in the problematic line is still not a link.

[2017-03-12 06:15] #3542 closed, assigned to jakobandersen

[2017-03-12 12:37] fireattack opened #3549 ""fixFirefoxAnchorBug" function in doctools.js causes navigating problem in Chrome"
### Problem

There is [a function](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/static/doctools.js_t#L184) in `doctools.js`:

[code]

This function was supposed to fix [an anchor bug in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=645075). It used to have a condition of `$.browser`, so it will only be applied to Firefox; but now this function is removed in JQuery s

[2017-03-12 14:43] jfbu commented on #3546
Closing as this is (was) a bug of xetex, not of Sphinx. Please update your TeX installation: the bug does not show with XeTeX 0.99996.

[2017-03-12 14:43] #3546 closed, assigned to nobody

[2017-03-13 04:02] lsaffre commented on #2144
I started to try to write a show case that demonstrates the problem. But it is not easy. I will post my showcase here when i got it to work.

[2017-03-13 07:55] jfbu opened #3551 "PDF info dictionary is lacking author and title data"
Subject: PDF (from ``make latexpdf``) does not contain any author or title attributes in its info dictionary.

#### Procedure to reproduce the problem

Any project. For example with
[code]

in `conf.py`. The information correctly displays on title page but does not make it to the PDF file info dictionary.

#### Diagnosis

The ``sphinxmanual.cls`` and ``sphinxhowto.cls`` contain code using ``\pdfin

[2017-03-13 13:18] pawamoy opened #3552 "[linkcheck] UnboundLocalError: local variable 'code' referenced before assignment (case sensitive)"
Subject: Linkchecking URL fails when case change (even if URL is case-insensitive)

### Problem
- For example, link-checking http://KeyCut.readthedocs.io/en/latest/ will fail (with exception and traceback, making the builder unable to terminate), when http://keycut.readthedocs.io/en/latest/ will succeed. Going to http://KeyCut.readthedocs.io/en/latest/ will correctly redirect to http://keycut.read

[2017-03-13 17:16] remyleone commented on #2990
Hello I got a similar problem trying to launch the linkcheck builder on the linux kernel tree. I get the same results with both python 2.7/3.5 on last stable sphinx:

[2017-03-14 04:01] Blendify commented on #1567
any news here?

[2017-03-14 14:16] haroonrashid235 opened #3553 "Error running sphinx-build docs docs/_build for Stringray documentation"
Error Log :
[code]

[2017-03-15 01:35] tk0miya commented on #3553
It seems "your `conf.py`" depends on stingray package. Please install it.
And, ask how to build the document to the owner of document.
This is not a bug of Sphinx.

Thanks,

[2017-03-15 01:35] #3553 closed, assigned to nobody

[2017-03-15 01:54] RobRuana commented on #3174
FYI: this will be in the 1.5.4 release

[2017-03-15 15:25] shibukawa commented on #2720
Thank you. Yes, we want to PR. But for master branch.

Your code affects current behavior. So it should be in 1.6. A potential issue is a link URL for the file would be changed. If any other websites link to the file directly, it becomes 404.

So could you rewrite your code based on master branch and put a comment to "Incompatible changes" section in CHANGES file?

[2017-03-15 17:04] TormodLandet commented on #2720
Pull request created. Now, lets see what travis thinks about it ...

[2017-03-16 02:40] shibukawa opened #3558 "Auto numbering of footnote doesn't check missing"
Subject: <what happen when you do on which document project>

### Problem

- Sphinx doesn't report footnote mismatch for auto numbering items.

[code]

[code]

#### Expected results

I hope to get warning messages with the first sample. And I'd like to have extra strict mode (produce errors instead of warnings).

[2017-03-16 07:56] GadgetSteve opened #3559 "Glossary Enhancement: Filter Glossary/Glossaries"
Subject: Glossary likely to contain redundant terms or needs to be specific for __every__ project.

### Problem
- At the moment every defined term in the glossary is included whether there is a matching `:term:` or not - this means that every project needs to have a unique glossary, or to reference a common glossary without _possibly_ many redundant terms.

#### Procedure to reproduce the problem

[2017-03-16 08:58] lasomethingsomething opened #3561 "Sharing info about docker-sphinx-doc, a Docker image for Sphinx"
### Problem => Offering

Hello: My colleague created [this Docker image](https://github.com/zalando/docker-sphinx-doc/) a while back. Wondering if some folks from the Sphinx community might want to take a look and give us feedback, use it, etc.

[2017-03-16 14:16] lsaffre commented on #2144
Yes, you were right, this problem is fixed with #2336. I do have another problem yet, but it seems to be only with the functools.partial function. I will create a new ticket for this.

[2017-03-16 14:16] #2144 closed, assigned to nobody

[2017-03-16 23:19] Blendify commented on #3559
I would be against automatically remove glossary definitions unless it is hidden behind an option.

[2017-03-17 11:40] HFriberg-mosek opened #3564 "Letter-dependent html-classes in index"
An index consist of letters, each letter has entries, and each entry has subentries. Sphinx already have entry-dependent html-classes for all entry-children (that is, subentries), but have no letter-dependent html-classes for all letter-children (that is, entries and subentries) making letter-specific customizations difficult. I request this possibility.

**Motivation**
The way we want to use our

[2017-03-17 16:17] GadgetSteve commented on #3559
@Blendify - I have no problem with auto-hide glossary terms if not used  being option selected.

[2017-03-18 05:38] tk0miya commented on #3561
Sorry, this is issue list of sphinx. here is not "community".
Please move to sphinx-users list: https://groups.google.com/forum/#!forum/sphinx-users

Thanks,

[2017-03-18 05:38] #3561 closed, assigned to nobody

[2017-03-18 06:02] usaturn commented on #1677
I'm sorry for the late reply.
This is a matter of HTML theme. Currently, because Python 3's document uses a different theme, I think that the problem has been solved, so I will close it.

Thank you.

[2017-03-18 06:02] #1677 closed, assigned to nobody

[2017-03-18 06:10] tk0miya commented on #3558
Unfortunately, it's not a bug.

You'll also be not warned even if you use manually-numbered footnotes.
[code]

These footnotes are defined, but not referenced. So this is valid behavior.
I know this is unexpected behavior and users might miss often.
So I changed this to an enhancement.

[2017-03-18 07:18] shimizukawa commented on #1827
Please try it. There is no process to start hacking ;) ...However we probably will not have the feature into Sphinx itself.
So to have that feature on docs.python.org you will need to implement the feature and suggest it to the Python documentation team.

[2017-03-18 07:18] #1827 closed, assigned to nobody

[2017-03-18 07:35] tk0miya commented on #1677
Note: Now Sphinx uses "alabaster" theme by default. The "classic" theme which py2 doc uses is an optional one.
I know these theme is not perfect for ALL of docs. But you can customize them with your own stylesheet.

So I recommend you to customize the width of sidebar in python-doc project.

[2017-03-18 08:44] tk0miya commented on #3065
Fixed by #3520.

[2017-03-18 08:44] #3065 closed, assigned to nobody

[2017-03-18 08:45] tk0miya commented on #3319
Fixed by #3520.
Finally, it will be fixed in 1.5.4.

[2017-03-18 08:45] #3319 closed, assigned to nobody

[2017-03-18 08:55] tk0miya commented on #1567
No updates. We have tons of issues now. So we could not work only for this. if you want to fix this earlier, please send us pull request. We're always welcome your PR :-)

[2017-03-18 08:58] tk0miya commented on #2990
@sieben It seems your problem is same as #3552.
If not, could you file a new issue please? This is already closed issue even if it is similar.

[2017-03-18 09:20] tk0miya commented on #3552
Fixed at 2dae11a.
Thank you for reporting!

[2017-03-18 09:20] #3552 closed, assigned to nobody

[2017-03-18 11:58] tk0miya commented on #2985
Unfortunately, I can't reproduce this yet. So I close this now.
Please let me know if you still get same error.

Thanks,

[2017-03-18 11:58] #2985 closed, assigned to nobody

[2017-03-18 13:10] tk0miya commented on #3559
-1: I feel a bit strange because this means Sphinx removes automatically the contents which user marked up. I think it is worthy even if not referenced. If not intended, users may remove the entry from glossary.

In your case, your glossary is shared between multiple project. I think it is not common situation.
I propose to make the feature as a 3rd party's extension.

[2017-03-18 15:06] tk0miya opened #3566 "Providing official docker image"
To use Sphinx simply, it would be nice if we provides official docker image.
Does anyone have example or idea?

* which base image?
* what package should we install?
* how to test it?
* Is it contains TeXLive? it is very large...

[2017-03-18 15:06] getreu opened #3567 "latexpdf backend does not support document subtitle"
### latexpdf backend does not support document subtitle

The issue and some workaround was first described in this post:
[How do I add a subtitle](https://groups.google.com/forum/#!topic/sphinx-users/yVcIsn_Hc24)

Consider the following ReStructuredText input

[code]

It renders to

![screenshot_2017-03-18_17-24-02](https://cloud.githubusercontent.com/assets/579082/24073409/fc83f004-0bff-11e7-80a3

[2017-03-18 18:07] gorgitko opened #3568 "napoleon: how to escape special characters (literals)"
How to escape literals like `\n` in docstrings? According to [this](http://thomas-cokelaer.info/tutorials/sphinx/rest_syntax.html#inline-markup-and-special-characters-e-g-bold-italic-verbatim), it should be done by double backquotes, i.e. ` ``\n`` `, but that doesn't work.

[2017-03-18 18:18] gorgitko commented on #3568
Oh, of course, I have to treat the docstring as raw string (`r"""docstring"""`).

[2017-03-18 18:20] #3568 closed, assigned to nobody

[2017-03-18 22:17] jfbu commented on #2693
fixed as consequence of 4fb01ca

[2017-03-18 22:17] #2693 closed, assigned to nobody

[2017-03-18 23:05] dylanmc commented on #2715
I just started getting error when I upgrade to sphinx-build version 1.5.3, but wasn't with 1.4.8.

[2017-03-18 23:13] jfbu commented on #2715
@dylanmc do you mean the error like reported at top of this issue? if not please open new issue. In both cases, please try to identify which portion of your reST source corresponds in LaTeX file to location of first error and communicate that information so that we can reproduce the error.

[2017-03-19 00:16] dylanmc commented on #2715
Yes, it was the error at the top of the issue, as if the UTF-8 for accented characters was getting mangled.
However, when I did a "make clean", which removed the .build directory, and make again, things started working, which is odd, but there you go. I guess "make clean" after a major version upgrade is a reasonable thing to expect to have to do.

[2017-03-19 02:25] nathaniel0402 opened #3569 "an exception was raised up when i run "make html" in the project "pycodestyle""
Subject: an exception was raised up when i run "make html" in the project "pycodestyle"

### Problem
- an exception was raised up when i run "make html" in the project "pycodestyle"

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
build the html doc

### Reproducible project / your project
- pr

[2017-03-19 04:11] tk0miya commented on #3569
It seems `sphinx_rtd_theme` is not installed. Please install it before building docs.
Since sphinx-1.5, we dropped it from dependencies.

If pycodestyle does not depend to it, please let them know.
Thanks,

[2017-03-19 04:12] #3569 closed, assigned to nobody

[2017-03-19 04:39] tk0miya commented on #3567
What did you mean "does not support the subtitle"? Please let me in detail.
Certainly, Sphinx skips first section title (in this case, "Title"). But following subtitle is rendered as PDF. So I can't understand your problem.

[2017-03-19 06:28] GadgetSteve commented on #3559
@tk0miya I would disagree that this is not a common situation - I am sure that there are many of us who are working for companies where they will have the situation where there are company wide, divisional and departmental acronyms as well as project specific acronyms. Additionally, there are language specific and discipline specific entries to consider.  The other use case that I hope that this w

[2017-03-19 10:39] getreu commented on #3567
When I run the following code with `rst2pdf`
[code]
I get the desired result:
![screenshot_2017-03-19_12-18-46](https://cloud.githubusercontent.com/assets/579082/24080088/433a0150-0ca0-11e7-8e09-6a09edff1ae5.png)
The string `Subtitle` is placed under the string `Title` on the title page with a smaller font.

Now I try with Sphinx:

This is my input

index.rst
[code]

body.rst
[code]

`make html` i

[2017-03-19 10:59] jfbu commented on #2715
I am not sure if this is what happened here, but auxiliary files of LaTeX compilation remain in the build repertory. If you upgrade Sphinx and then execute  a PDF build, only the `.tex` file gets rewritten and the first LaTeX run will be with the auxiliary files (`.aux`, `.toc`, index files) from the last run which was done with earlier Sphinx. This, in itself, can in some contexts lead to failed

[2017-03-19 15:38] WeaverThree opened #3570 "PEP 484 type hints using typing module are awful to read"
Subject: PEP 484 type hints using typing module are awful to read

### Problem
- Sphinx's autodoc system currently includes 'typing.' before every single reference to one of that module's members. In pretty much all other cases I'd think this would be desirable, but here it really detracts from the intent of type annotations.
- Problem is only somewhat ugly with individual uses of these hinting to

[2017-03-20 09:09] remyleone commented on #2990
When I've tried using the master version of sphinx I've gotten this error:

[2017-03-20 13:55] tk0miya commented on #2990
It seems your error is happened at your conf.py. It might be a bug of your conf.py. Could you check it please?

And, I say repeatedly, please file a NEW issue. This is closed issue.

[2017-03-20 16:11] tk0miya commented on #3566
https://github.com/tk0miya/sphinx-docker is my playground :-)

I used Ubuntu 16.04 LTS.

Please refer my Dockerfile.

Not tested yet.

I separated containers for each builders. Only pdf image contains TeXLive.

[2017-03-20 16:13] tk0miya commented on #3431
Closed again.

[2017-03-20 16:13] #3431 closed, assigned to nobody

[2017-03-20 16:16] tk0miya commented on #3510
I'd investigated carefully, but I can't reproduce without numpydoc. So I think this might be a bug of numpydoc.
So I close this now.
Thanks,

[2017-03-20 16:16] #3510 closed, assigned to nobody

[2017-03-20 16:17] tk0miya commented on #3521
Now I close this because it seems not a bug of Sphinx.
Thanks,

[2017-03-20 16:17] #3521 closed, assigned to nobody

[2017-03-20 21:53] jfbu commented on #3567
The html output is not fully satisfying, why is `subtitle` linked in the sidebar holding the TOC ? it does suggest `subtitle` is a sectioning command, not part of the title.

The PDF title does not come from what is put in the first title, it comes from the `latex_documents` variable, for example:

[code]

In theory one should be able to use it this way:
[code]
to generate a LaTeX sub-title. But t

[2017-03-21 03:39] getreu opened #3574 "Sphinx does not follow Docutil's title and subtitle definition"
When I run the following code with
[code]
Running `rst2html` I get the desired result

![screenshot_2017-03-21_05-26-36](https://cloud.githubusercontent.com/assets/579082/24131377/140a8a1e-0df7-11e7-83df-9dbca8d10999.png)

The string `Subtitle` is placed under the string `Title` on the title page with a smaller font.

The `rst2pdf` output is also ok:

![screenshot_2017-03-19_12-18-46](https://clou

[2017-03-21 03:50] getreu commented on #3567
@jfbu

I opened #3574 for this

[2017-03-21 07:13] jfbu commented on #3574
The context of my remark was at #3567 in the comparison done there at your top post of html vs latexpdf. There isn't a single reference to ``subtitle`` in [Sphinx docs](http://www.sphinx-doc.org/en/stable/contents.html). The [reStructuredText](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#document-structure) reference seems to be more indicative than prescriptive. Sphinx diver

[2017-03-21 07:34] getreu commented on #3574
## Title and subtitles in Docutils

[title and subtitle definition in Docutils](http://docutils.sourceforge.net/docutils/transforms/frontmatter.py)

[DocTitle](http://docutils.sourceforge.net/docutils/transforms/frontmatter.py) for details.

## Subtitle in Docbook

[subtitle in docbook](http://docbook.org/tdg/en/html-ng/subtitle.html)

[2017-03-21 07:43] getreu commented on #3574
@jfbu
I think Sphinx should be coherent with Docutils in this matter.

I think you are right. I suggest changing the headline of this issue.
"Sphinx does not follow Docutil's title and subtitle definition".

[2017-03-21 10:15] Znni opened #3575 "Problems with pdflatex in a Turkish document built with sphinx has reappeared"
The problem described in this issue [https://github.com/sphinx-doc/sphinx/issues/2397](https://github.com/sphinx-doc/sphinx/issues/2397) has reappeared in newer versions of Sphinx.

It seems that this commit [https://github.com/sphinx-doc/sphinx/commit/308d3ae](https://github.com/sphinx-doc/sphinx/commit/308d3ae) broke the Turkish pdflatex transformation. In my Turkish .tex file it now reads

\if\

[2017-03-21 12:23] jfbu commented on #3575
Thanks for catching this and very sorry for inconvenience. I committed at 308d3ae and earlier at  85b9547 completely buggy TeX code which made it into 1.5 release, I must have abused energizers at that time.

Fixed at aa03441 for 1.5.4 release. Thanks for reporting.

[2017-03-21 12:23] #3575 closed, assigned to jfbu

[2017-03-21 12:24] jfbu commented on #3575
Of course, reopen if fix does not work for you. LaTeX babel evolved over the years, and sometimes one has issues with a language module evolution.

[2017-03-21 14:24] tk0miya commented on #3567
Thanks for clarification. I understood what you mean.

Unfortunately, Sphinx does not support a "subtitle". Sphinx recognizes it as a mere second level section. So it is appeared in TOC as a section.
In detail, Sphinx always uses `doctitle_xform: False` on parsing reST.
http://docutils.sourceforge.net/docs/user/config.html#doctitle-xform
https://github.com/sphinx-doc/sphinx/blob/1.5.3/sphinx/envir

[2017-03-21 17:34] bitprophet commented on #3351
I've struggled with this forever myself; honestly a bit surprised a ticket hasn't existed before now. Not a Sphinx internals developer, but the approach in #3425 is the sort of approach I would have tried if I'd attempted my own PR 👍

[2017-03-21 18:04] lasomethingsomething commented on #3561
Thank you + done :)

[2017-03-22 01:34] tk0miya opened #3579 "Sphinx-1.5.4 release plan"
Hi maintainers,

It's time to monthly release. I'd like to ship new stable version at first weekend of Apr.
There is only one issue on 1.5.4 milestone. And it will be fixed until target day.
https://github.com/sphinx-doc/sphinx/milestone/30

We've added 2 new features and fixed 13 bugs since last release.
I always appreciate your great work.

[2017-03-22 16:40] moorchegue commented on #1836
+1!

[2017-03-22 19:58] jputrino opened #3580 "indented code blocks and bulleted lists in auto numbered lists treated as block quotes"
Subject: Should all indented elements be tagged as blockquotes?

Note - When I refer to indents, I'm talking about the standard 4 spaces (not tabs).

### Problem
In a sphinx project that's in a private github repo (sorry!), I often use auto-numbered lists for sets of tasks. The tasks often include a code-block or a bulleted list of sub-tasks. In order to make the auto-numbering work, you have to i

[2017-03-22 21:16] jfbu commented on #3580
Perhaps I am missing something but I don't quite get why you don't use this mark-up:
[code]

where the code-block is not additionally indented hence avoiding the blockquote. Yes it is part of the item, but it is not needed for blockquote to not interrupt automatic numbering. The above works fine with automatic numbering.

[2017-03-22 21:39] jputrino commented on #3580
@jfbu, I guess I just didn't try the right number of spaces. I may have been thinking about it too literally. O_o
Thanks for your help!

[2017-03-22 21:39] #3580 closed, assigned to nobody

[2017-03-23 00:12] eric-wieser commented on #1451
Related to #519, and #1462?

[2017-03-23 10:10] jfbu commented on #3551
@tk0miya at #3567 I discovered that things like `\large` if used in `latex_documents` for PDF title caused failed PDF build, even though as explained here the `\pdfinfo` use fails to fill in the PDF Document Information Dictionary due to hyperref overwriting it.

I have pushed now a commit at 895014c to fix this secondary issue on stable branch, but
in this commit I leave in commented out lines ho

[2017-03-23 10:30] jfbu commented on #3567
At 1.5.4 one will be able to do this:

[code]

(or  ``...\\\\{\\LARGE Subtitle}`` for more spacing between main Title and Subtitle.)

to set-up a subtitle especially for PDF output. As this will be inserted as latex code, recall to use suitable LaTeX escapes (for example for the underscore) and either use raw Python strings or double the backslashes.

This should have been possible earlier (and is

[2017-03-23 10:30] #3567 closed, assigned to nobody

[2017-03-23 13:41] tk0miya commented on #3574
As I said in #3567, this is an intentional behavior.
https://github.com/sphinx-doc/sphinx/issues/3567#issuecomment-288093991

[2017-03-23 14:20] eric-wieser commented on #519
I think the bug here is in [these lines](https://github.com/sphinx-doc/sphinx/blob/554199d30e418f72f215fae65924b47249d2544c/sphinx/ext/autodoc.py#L1315-L1316) - we should be calling `sphinx.util.rst.escape` here instead - and possibly in other places in this file too...

[2017-03-24 01:46] tk0miya commented on #519
Hmm? why is this marked "wontfix"? I feel this is a bug of Sphinx.

@eric-wieser are you still getting this problem? If so, I will reopen this and try to fix it.

[2017-03-24 02:19] tk0miya commented on #3551
Now we don't have raw text (not marked up with LaTeX macros). So the only way is replacing and removing macros in Sphinx side::
[code]
I know this has side-effects. But I believe many case goes well.

[2017-03-24 08:38] jfbu commented on #3551
Thanks @tk0miya, if you feel `&` is correct multilingual separator, then I will use it. In detail, I will use `\& ` mark-up (with  a space) because:
- hyperref will transform `\&` in `\textampersand` which will then be transformed to ``UTF-16BE`` encoding at least for non-Japanese. (Sphinx passes option `pdfencoding=unicode` to hyperref for non-Japanese documents). The `\&` form does not swallow s

[2017-03-24 09:58] eric-wieser commented on #519
@tk0miya: I think this problem still exists, but I wasn't actually experiencing it myself - only my module names had trailing underscores. Either way, it needs a test, even if it is now working.

[2017-03-24 10:11] eric-wieser opened #3583 "BUG: test_apidoc and test_setup_command do not respect SPHINX_TEST_TEMPDIR"
These both contain code like

[code]

Which loads `tempdir` as `C:\Users\<me>\AppData\Local\Temp\pytest-of-<me>\pytest-15\test_pep_0420_disabled_top_lev0`, despite saying `Temporary files will be placed in C:\Users\<me>\Repos\forks\sphinx\tests\build`

[2017-03-25 07:25] shimizukawa commented on #1762
There is no way to do it from sphinx side because there is no syntax to provide 'title' information for internal links.

For example, some of reference that is generated by sphinx role (i.e. `:ref:` role with intersphinx extension) will generate `<a>` tag with `title` attribute. In this way, although you can let the extended notation output the title attribute, it will be difficult to add the info

[2017-03-25 07:25] #1762 closed, assigned to nobody

[2017-03-25 08:23] shimizukawa commented on #1824
I think you mentioned about autodoc.

IMO, such detection is difficult. However, if that is possible we are waiting for your contribution!
Now I close this issue, but please make Pull Request at any time.

[2017-03-25 08:23] #1824 closed, assigned to nobody

[2017-03-25 13:07] tk0miya commented on #3583
@shimizukawa could you check this please?

[2017-03-25 13:29] tk0miya commented on #519
Okay, I reopened this for investigation.
We have to confirm this is still happened or not.
It would be nice if anybody help us. We always need your help!

[2017-03-25 13:37] eric-wieser commented on #519
I think that there's some ambiguity in the issue report here. Does the underscore go missing from the signature (bug) or parameter description (wontfix)?

[2017-03-25 13:47] tk0miya commented on #519
I don't know what is happened. I'd just looked the issue after you mentioned.
I'll investigate later in next week (if I have time...)

[2017-03-26 01:37] tk0miya commented on #1679
Sorry for very late response.

The `toctree()` function returns the toctree rendered as HTML. You can't modify it in template side.

So you have to write an extension to do that.
Sphinx providees `html-page-collect` event to add template variables from an extension.
http://www.sphinx-doc.org/en/stable/extdev/appapi.html#event-html-page-context

The implementation of `toctree()` function is here. P

[2017-03-26 01:37] #1679 closed, assigned to nobody

[2017-03-26 03:01] #1451 closed, assigned to nobody

[2017-03-26 05:17] tk0miya opened #3586 "Sphinx-1.6 release plan"
Hi maintainers,

According to our time based release policy, I'd propose you to release next major version in this June.
What do you think about the schedule?
I know there are still many issues for the release. So I might reconsider the schedule or the milestone of these issues.
https://github.com/sphinx-doc/sphinx/milestone/23

Personally, I feel the master branch has grown so much since last maj

[2017-03-26 05:22] tk0miya commented on #3586
My proposal (rough schedule)

# Plan A:
* Mid of May: feature freeze, call for translation and release 1.6a1
* End of May: release 1.6a2 (if needed)
* Mid of June: release 1.6 final

# Plan B:
* End of May: feature freeze, call for translation and release 1.6a1
* Mid of June: release 1.6a2 (if needed)
* End of June: release 1.6 final

.. note::

   We usually call for translation for collaborators

[2017-03-26 09:14] #3108 closed, assigned to nobody

[2017-03-26 09:15] tk0miya commented on #3108
Fixed.
Thank you for reporting!

[2017-03-26 09:21] #3221 closed, assigned to nobody

[2017-03-26 15:52] eric-wieser commented on #1052
Isn't this implemented already? Stackoverflow seemed to think so

[2017-03-27 00:10] shimizukawa commented on #3586
I agreed to release 1.6 in June.
And I also agreed to skip alpha.

BTW, I think 1.6a1 a2 in your both of plans must be 1.6b1 and b2.

[2017-03-27 07:03] yu-liang-dev opened #3588 "unnecessary <p class="first"> inserted between <li> , <a> , <td> when generate translated html"
### Problem

unnecessary `<p class="first">`  inserted between `<li>` when generate translated html

#### Procedure to reproduce the problem

I translated some text in .po file like this:

![image](https://cloud.githubusercontent.com/assets/9611408/24343997/00b7dab6-12fc-11e7-95e3-171ebb800b67.png)

then use sphinx-intl to build and sphinx-build to generate html

[code]

finally, some unnecessary

[2017-03-27 11:44] veox commented on #2128
`:imported-members:` works for me when the package's `__init__.py` imports classes from sub-modules; the classes are meant as an interface to the module's provided functionality. E.g.:

[code]

-----

@amueller As I understand, you want to document [sub-modules in scikit-learn's `__all__`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/__init__.py#L60), correct?.. JIC, I haven't

[2017-03-27 14:50] amueller commented on #2128
I think what I wanted to do is possible in 1.3.2. I'm not sure how it related to that flag.

[2017-03-27 22:15] jfbu commented on #3579
@tk0miya For 1.5.4 release we currently have this in CHANGES

    Features added
    --------------

    * . . .
    * latex macros for directional double quotes (refs #3527)

but the feature will be removed at 1.6 when PR #3562 is merged (use of Docutils smartquotes). Already I removed at 39bce2f the documentation for the latex macros from #3527, perhaps also I should remove the above line in "fe

[2017-03-28 03:41] nwf commented on #701
For the LaTeX builder, I think LaTeX's \addcontentsline command could be coerced into service, though it would have to be emitted at the correct point in the resulting document.  I have no idea how singlehtml does its thing, but I assume the mechanism for getting the LaTeX builder to emit \addcontentsline could be ported over.

[2017-03-28 07:41] jfbu commented on #701
@nwf I have read the thread and don't quite get if for LaTeX the matter is to include in the produced PDF a link, from the TOC, to some external resource. If that is what is at stake, it can be achieved using a suitable `\addtocontents`, at a suitable location in the document (as you said).  But one can not use `\addcontentsline` because the latter is patched by hyperref to create *internal* hyper

[2017-03-28 08:12] jfbu commented on #3586
I too agree that alpha step could be skipped. in practice for LaTeX I feel there has been much refactoring  (particularly around tables, but there  is also new configuration for xelatex and lualatex and choice of fonts remains to be done) and I expect to anticipate feature freeze late April at latest so that in May I have some time to make final review with the hope not too many projects worldwide

[2017-03-28 09:40] veox commented on #2128
Is the issue OK to close then ? ;)

[2017-03-28 12:13] jfbu commented on #2104
@Jeonghum Since Sphinx 1.4.2, hyperref is loaded with `pdfencoding=unicode`  (done at commit 0f0d505), except if using `platex` engine (used for Japanese). Is this issue with Korean language fixed since 1.4.2 and can we thus close it?

[2017-03-28 14:30] amueller commented on #2128
Let's close as I don't have time to investigate now and the original problem is solved. We can always reopen.

[2017-03-28 14:30] #2128 closed, assigned to nobody

[2017-03-29 03:28] getreu commented on #3574
Thank you for the workaround in the upcoming  release 1.5.4 described
[here](https://github.com/sphinx-doc/sphinx/issues/3567#issuecomment-288677681).

BTW: I think, it would be preferable not to repeat the document title in ``latex_documents`` at all. This introduces redundancy.

In addition Docutils defines a ``meta`` directive. For the moment it is used for generating html meta data only. But c

[2017-03-29 13:13] tk0miya commented on #3586
Thank you for comment.

TL;DR

* We need to reconsider the plan because @jfbu will be absent after the release
* I propose Plan C (release in Mid of May) and Plan D (release in Sept)
* IMO, either is fine for me. So I feel Plan D is a bit better.

Okay, your absent is absolutely most important schedule! (Personally, I believe OSS activity should not affect to real life!)
Based on that, we should r

[2017-03-29 13:58] tk0miya opened #3591 "apidoc and autosummary does not support east-asian characters"
refs: https://github.com/sphinx-doc/sphinx/pull/3585#discussion_r108050337

@eric-wieser
Please let me know where you found the similar problem in apidoc.
I'll take a look

[2017-03-29 14:04] eric-wieser commented on #3591
Apidoc has a `make_heading` function, or something similar

[2017-03-29 14:05] eric-wieser commented on #3591
Also, I suspect it works just fine, and just warns about heading underlines being too short

[2017-03-29 14:30] tk0miya commented on #3591
Thank you for letting me know.
I'll fix it later.

[2017-03-29 17:10] shibukawa commented on #3586
I like Plan C

[2017-03-29 20:27] jfbu commented on #3586
@tk0miya congratulations on very clear explanation of the pros and cons of Plans C and D. Both are fine with me.

The TeXLive release cycle is at http://www.tug.org/texlive/. If Sphinx 1.6 is released mid-May, we still will have had time to make test it with TeXLive 2017 (I will install the pretest of TeXLive 2017, as TL2016 will stop getting updates from CTAN at Apr'16, they will go only to the T

[2017-03-29 23:26] electronwill commented on #192
+1. It would be great if Sphinx search results displayed the text seen in the rendered page and not the source!

[2017-03-29 23:53] Andne opened #3592 "Errors due to forward/backslash in test suite"
### Problem
I've been trying to work on an improvement to intersphinx but am getting confused by errors in the test suite on windows.  These appear to be false negatives, most often due to path separator issues.  More details below, is this something that should be corrected?  Based on what I'm seeing, I suspect runs on windows may at times generate paths with mixed separators, but I haven't inves

[2017-03-30 01:54] tk0miya commented on #3592
Thank you for reporting. But I don't have windows PC. So I can't fix it.
If possible, could you send us pull request to fix it?

ping @shimizukawa, please take a look if you have time now.

[2017-03-30 02:06] tk0miya commented on #192
Nothing changed because we don't have enough time.
It would be nice if anyone sends us PR for this :-)

[2017-03-30 02:06] Andne commented on #3592
I can work on fixing it, but I need to know which way is best.  I see two main options:
1. Update the tests to expect the generated path specifiers, least impact on the code itself but maybe not ideal.
2. Add logic to normalize URI's as needed in the code.  The simplest way I know to do this is add `uri = uri.replace(path.sep, '/')` before writing the uri to the files.  Feels a bit hackish to me,

[2017-03-30 02:08] tk0miya commented on #1052
Indeed, it seems already added.
I'm closing this.

[2017-03-30 02:08] #1052 closed, assigned to nobody

[2017-03-30 02:39] shimizukawa commented on #3586
👍 to plan C

There is large diff of master and stable already. I think it makes annoying us to develop

[2017-03-30 07:42] TormodLandet commented on #2720
Is there anything else I should do about this now, or will it be included in the next release? I believe I have answered/fixed all concerns
@shibukawa @tk0miya

[2017-03-30 12:39] tk0miya commented on #3586
Okay, let's go with Plan C!

[2017-03-30 12:40] tk0miya commented on #3588
It is a well-known behavior of docutils (a library for reST).
http://docutils.sourceforge.net/FAQ.html#how-are-lists-formatted-in-html

You can see it even without translation.
[code]

To disable it, please specify `html_compact_lists` option to `False`.
http://www.sphinx-doc.org/en/stable/config.html#confval-html_compact_lists

Thanks,

[2017-03-30 13:48] yu-liang-dev commented on #3588
@tk0miya
Thank you for your help. But I think this question is not caused by ``html_compact_lists``. and this question is also in `<a>` or `<td>`.

I did an experiment about it.

I have three untranslated `<li>` and three translated `<li>`.
Then use ``make -e SPHINXOPTS="-D language='zh-CN'" html`` to generate HTML.

![image](https://cloud.githubusercontent.com/assets/9611408/24506291/93596016-158

[2017-03-30 14:02] yulin-li opened #3594 "raw directive trims newline character from the last line of its contents"
Subject: <what happen when you do on which document project>

### Problem
When I built my project to latex, an error occurred that \begin{itemize} didn't start with a new line. So, the ``item`` can't display correctly in PDF.

#### Procedure to reproduce the problem
Here's my source code:
[code]
And the result:
[code]

#### Expected results

[code]

### Environment info
- Windows
- Python version:

[2017-03-30 14:21] tk0miya commented on #3592
Sorry, I can't say comments because I don't know what error happened.
What I know is 25 errors are happened in windows.

Could you show me the detail of errors? then I will help you.

[2017-03-30 14:36] Andne commented on #3592
I'll have to see if I can get the full results, it tends to exceed the scroll-back on my command window, I've been having to run a single test file at a time in order to know what I'm working on.

Some of the ones I have started to look into appear to just be string mismatches where expected contained `/` and actual contained `\`.  Off the top of my head, I know that some in `test_intl.py` and one

[2017-03-30 15:04] tk0miya commented on #3594
The latex writer of Sphinx expects block level elements should have a following empty line. So it outputs `\begin{itemize}` without a newline.
But, in this case, `raw` directive generates a inline node. It does not have the empty line.

It seems the combination of them causes this issue.

As a quick look, docutils handles a raw node like following:
[code]
It inserts a newline if the node satisfies

[2017-03-30 15:10] tk0miya commented on #3592
If my memory is correct, Sphinx usually uses `/` for docnames and URLs. And either is fine for paths.
So it is important what purpose the string is used for.
(So I'd like to know where the error happened.)

[2017-03-30 15:43] jfbu commented on #3594
Note that (at least since Sphinx 1.4 and presumably earlier versions as well) Sphinx by itself always adds a `\n` after the closure of a `Verbatim` environment.

So this issues arises from `.. raw:: latex`. I use this directive often myself for matters of quick testing and I am aware it does not add a new line character. I usually simply add a `\relax` additional line to the contents of the `.. ra

[2017-03-30 15:49] jfbu commented on #3594
@Harlan-pku side note, one should not escape backslashes in raw directive. This should be

[code]

Besides: since Sphinx 1.5, you don't need `OriginalVerbatim`. Just use `Verbatim` if you want the un-modified environment from `fancyvrb`.

[2017-03-30 16:02] jfbu commented on #3594
The `\begin{itemize}` does *not* have to start on a new line. But the `\end{Verbatim}` should be on a line of its own, that's typical of verbatim environments. And of course, Sphinx latex writer does it.

There is no bug of Sphinx here, but only a  problem of mark-up in usage of `raw` directive.

During recent developments of Sphinx latex writer attention has been paid whenever it made sense to st

[2017-03-30 16:06] stephenfin opened #3595 "[documentation] Compare Sphinx vs. docutils"
I'm trying to document the various directives Sphinx supports, but I'm getting a bit lost in identifying which directives are provided by Sphinx and which ones are provided by docutils. There don't appear to be any good guides that provide a summary of the relationship between Sphinx and docutils.

I'd love some help understanding how the two are related, and think this is something that should pr

[2017-03-30 16:11] jfbu commented on #3594
@tk0miya regarding the bullet list handler, I am confused: the code your comment is the one from Docutils latex writer, not the one from Sphinx latex writer ...

ah, probably you meant that as Docutils inserts `%\n` for bullet list it could fit with `raw` not inserting a final `\n` on its own. But, I want to point out that `\end{Verbatim}%` is not legal and would cause failed PDF build, so even wi

[2017-03-30 16:47] barbara-sfx commented on #3595
This page http://www.sphinx-doc.org/en/stable/rest.html#directives mentions "Directives added by Sphinx are described in Sphinx Markup Constructs."  http://www.sphinx-doc.org/en/stable/markup/index.html#sphinxmarkup

The latter also notes at the bottom "More markup is added by Sphinx Domains."  http://www.sphinx-doc.org/en/stable/domains.html#domains

hth

[2017-03-30 16:53] barbara-sfx commented on #3588
I've been seeing this in tables, with both class="first" and "last", when a cell has >1 paragraph, just never got around to asking about it and I can't find that class defined anywhere. Can I make it go away?

[code]

[2017-03-30 16:54] jfbu commented on #3579
I have removed the line in CHANGES at 3ff68db for 1.5.4 release. It feels better as 1.6 will not have the said latex macros.

[2017-03-30 19:13] lilisha100 commented on #3579
The problem mentioned here (https://github.com/sphinx-doc/sphinx/issues/2226) still exists in the released 1.5.3.

In the mathax.py file in 1.5.3, from line 32 to line 33:

    if node['nowrap']:
        self.body.append(self.encode(node['latex']))

Codes to add math delimiters are missing. It should be:

    if node['nowrap']:
        self.body.append(self.builder.config.mathjax_display[0] +

[2017-03-31 02:06] tk0miya commented on #3579
Could you file a new issue?
This issue is used for planning. Not bug reporting.

[2017-03-31 04:16] Andne commented on #3592
Here's the list of assertions from a full test run:
[code]

I guess not as many as I thought have path errors in them.  A lot seem to have something to do with a missing extension/module.  Towards the end several have mis-matched slashes though.  I'm a little unsure why `test_intl.py` has its backslashes escaped though.

[2017-03-31 06:16] jfbu commented on #3594
A substitution declaration can use `raw` directive allowing to insert inline raw LaTeX code. Then, we do not want that Sphinx adds systematically a `\n` because this could mean an extra space in horizontal mode. We can not use `%\n` because in the context of @Harlan-pku's example this would mean `\end{Verbatim}%` which causes failed PDF build.

In conclusion for `raw` directive in LaTeX, it is imp

[2017-03-31 08:07] mgeier commented on #3594
@jfbu OK, that makes sense. But how can I insert a trailing `\n` in the LaTeX output if I want to?

Or is the `\relax` work-around really bullet-proof?

[2017-03-31 13:09] jfbu commented on #3594
@mgeier I see no way to insert a trailing `\n` from use of `raw` directive. I also see no way to insert an ascii character 32 (space) after `\relax` to be sure `\relaxFOO` problem does not arise. But,

1. a character after the raw directive will start a new paragraph hence the `\n` will be inserted avoiding the `\relaxFOO` potential problem

2. but if you do need systematic use of these raw direct

[2017-03-31 13:24] jfbu commented on #3594
Note that this is `\1`  (the digit 1, or any other digit) not, `\l` (the letter ell). Saying this in case your fonts make the difference not clear.

[2017-03-31 17:44] jfbu commented on #3588
@barbara-sfx this looks like some other problem, can you open other issue with the corresponding source in reStructuredText ?

[2017-03-31 18:05] lilisha100 opened #3596 "Math is not HTML-encoded when :nowrap: is given (jsmath, mathjax)"
The problem mentioned here (#2226) still exists in the released 1.5.3.

In the mathax.py file in 1.5.3, from line 32 to line 33:

     if node['nowrap']:
              self.body.append(self.encode(node['latex']))

Codes to add math delimiters are missing. It should be:

    if node['nowrap']:
        self.body.append(self.builder.config.mathjax_display[0] +
                     self.encode(node['l

[2017-03-31 18:07] lilisha100 commented on #3579
Added: https://github.com/sphinx-doc/sphinx/issues/3596

[2017-03-31 20:19] jfbu commented on #3588
@kozzzx I reproduced your problem. Whenever one builds an internationalized html, the compact list setting is ignored and the `<p>` tags are added. Moreover, only the list items with the translated strings get the `<p>` tag (of course with ``html_compact_lists = False`` all `<li>` items get the `<p>` tag).

The latter behaviour is even more disconcerting than the usual one from Docutils where, if

[2017-03-31 20:43] jfbu commented on #3596
<strike>Confirmed.</strike> Thanks for reporting, your fix appears to work in my brief testing. But this isn't part of Sphinx I am familiar with.

**edit** my initial impression was wrong. The problem #2226 was another one. But the reST snippet there is wrong, because it should have had the `\[..\]`. It is up to user when `:nowrap:` option is used to provide a math environment, which can be `\[..\

[2017-04-01 03:51] tk0miya commented on #3594
Sorry. the bullet list handler is docutils'.

`rst2latex.py` (docutils) generates following LaTeX code.
[code]
[code]

The writer inserts
* a newline after raw node
* a line contains only `%` before itemize

I don't know the second one help this case, but it might help similar case.

BTW, I prefer to docutils' approach which switches the style of raw nodes from inline element to block one automati

[2017-04-01 03:55] tk0miya commented on #3588
Oh, I'm sorry. It's my wrong. I'll also take a look later.
@jfbu thank you for your help!

[2017-04-01 08:41] jfbu commented on #3594
I don't know what is the exact scope of the discussion here: the raw directive should be only for end user, right? an extension should have better means of modifying latex output than using raw nodes, shouldn't it directly write to the latex output? Regarding raw directive, scattered remarks:

1. currently we can do

[code]
   with the effect to produce ``abcdefghi`` in LaTeX and ``abcghi`` in oth

[2017-04-01 08:55] jfbu commented on #3594
In brief, it is ok with me if raw directive appends a trailing `\n` to the last line of its contents. This may fit better to user expectation, independently of builder, that raw contents are inserted "as is", and the last line of contents morally should have a `\n` at its end. (I understand trailing spaces are trimmed, but that's other thing).

On the other hand, I would be more reluctant to raw d

[2017-04-01 09:37] mgeier commented on #3594
@jfbu Thanks for your detailed explanations!

I've added `\relax` in https://github.com/spatialaudio/nbsphinx/pull/107 and I've added `%` in the beginning of raw LaTeX directives in https://github.com/spatialaudio/nbsphinx/commit/f0a40072acf157b9334be1f1a5ab37e43374301f.

This seems to work without problems now, thanks a lot for your help!

Not in my case, since my extension [nbsphinx](http://nbsp

[2017-04-01 09:55] jfbu commented on #3596
@lilisha100 I have looked more closely.

Sorry, but I think your fix is not the correct one and that there is no issue, but the user must use correct mark-up. Indeed this is what the documentation says [here](http://www.sphinx-doc.org/en/stable/ext/math.html#module-sphinx.ext.imgmath) with this example:

[code]

Thus the at #2226 example should be marked-up this way:
[code]

If we patch the https:

[2017-04-01 10:07] jfbu commented on #2226
Remark:

the markup

[code]

is incorrect. It should be

[code]

Indeed, `:nowrap:` is explained [here](http://www.sphinx-doc.org/en/stable/ext/math.html#directive-math) and it says that the math environment is to be provided by user.

Notice that for example `a_b^c` will cause failed PDF build via LaTeX, if not wrapped in `\[a_b^c\]`.

Besides, html MathJaX display is also wrong without the `\[..

[2017-04-01 10:10] jfbu commented on #3596
Closing as this is not a bug. The documentation [here](http://www.sphinx-doc.org/en/stable/ext/math.html#directive-math) says that the math environment is to be inserted explicitly by user in the mark-up.

[2017-04-01 10:10] #3596 closed, assigned to nobody

[2017-04-01 10:28] jfbu commented on #3594
@mgeier yes I looked now at https://github.com/spatialaudio/nbsphinx  and how you use the raw directive for various outputs. I had in mind only a LaTeX extension, as the raised issue looked like a pure LaTeX one.

Ok, glad the patches you added fixed your issues. I was hesitant but @tk0miya and you have now convinced me that indeed the Sphinx implementation of the `raw` directive should insert tra

[2017-04-02 03:15] Paebbels commented on #3559
Is there a warning reported if a glossary entry was never referenced? That would be a first start for users to find abandoned entries. Likewise, is there a warning if a term references a non existing entry?

[2017-04-02 05:23] Blendify commented on #3559
No

Yes

However, for some projects, like one of my own, we do this on purpose to give the reader a broad knowledge of concepts from our documentation.

[2017-04-02 05:58] Paebbels commented on #3559
I think Sphinx should emit a warning on unused resources like glossary entries. Moreover, a warning control to disable certain warnings is also missing.

@Blendify can you name or send me the name of your Documentation if it's online? I'm writing a huge documentation on my own which is now grown to 270 rst files and generates circa 800 PDF pages on ReadTheDocs. I would like to see how others organ

[2017-04-02 07:37] tk0miya commented on #3579
Hi all,
I will start to release at 2 or 3 hours later!

[2017-04-02 08:18] tk0miya commented on #3588
It seems the nodes for translated paragraph are marked as "translated".

Original psuedoxml:
[code]
Translated pseudoxml:
[code]

In addition, the docutils considers them as not compactable paragraph.
(In detail, please refer `docutils.writers.html4css1.HTMLTranslator.should_be_compact_paragraph()`)

@shimizukawa Why these nodes are marked as "translated"? Where are the attribute used? I think the

[2017-04-02 09:41] tk0miya commented on #3594
@jfbu I think you are mistaken about the interpretation of raw directive.

Docutils; the original implementation of reST processor, recognizes a raw directive both in-line element and block-level element (especially in LaTeX writer).
For example, with substitution syntax, it behaves as in-line as you said:
[code]
[code]

But, it behaves as block level element without substitution:
[code]
[code]

N

[2017-04-02 09:49] tk0miya commented on #3579
It's time to release!

[2017-04-02 10:51] tk0miya commented on #3579
I finished releasing.
Thank you always!

[2017-04-02 10:51] #3579 closed, assigned to nobody

[2017-04-02 11:11] tk0miya commented on #3592
Thanks!
Surely, I feel it is better to use `posixpath.join()` to represent paths using slash.
@shimizukawa do you have any opinions?

On the other hand, I don't know why loading parsermod failed. It should be investigated more.

[2017-04-02 11:23] tk0miya commented on #3595
Thanks @barbara-sfx,
AFAIK there are no *good* documents which compares Sphinx and docutils.
So it would be nice if you update/improve our document with your results.

Thanks,

[2017-04-02 11:23] #3595 closed, assigned to nobody

[2017-04-02 11:26] nvgoldin opened #3597 "UnboundLocalError: local variable 'prefix' referenced before assignment"
### Problem
With the new version(1.5.4), sphinx-build fails for me with:
[code]

The full traceback:
[code]

#### Procedure to reproduce the problem
Did not isolate the issue yet. It worked before the new version was pushed.

### Reproducible project / your project
- http://github.com/lago-project/lago
clone and run make docs with the new version.

### Environment info
- OS: CentOS 7.2
- Python ve

[2017-04-02 12:59] tk0miya commented on #3597
Sorry for inconvenience. I'll take a look.

[2017-04-02 14:09] tk0miya commented on #3597
Fixed at 57019c2.

It was caused by this notation:
[code]
The `py:attribute` directive expects an argument is a name in python.
http://www.sphinx-doc.org/en/stable/domains.html#directive-py:attribute

The UnboundLocalError is raised when the argument is invalid name.

[2017-04-02 14:09] #3597 closed, assigned to nobody

[2017-04-02 14:09] alex commented on #3597
Will a release be happening soon, or should we pin for now?

[2017-04-02 14:17] jfbu commented on #3579
+1 @tk0miya

[2017-04-02 14:34] jfbu commented on #3594
@tk0miya thanks for clarifying. Am I correct : your analysis is that in the [nbsphinx](https://github.com/spatialaudio/nbsphinx) case the raw node was placed outside of a paragraph in reST source, hence it should have been treated as block level, and if it had been so it would not have been trimmed in latex output of the newline character of its last line, and @Harlan-pku would have had no issue t

[2017-04-02 15:01] tk0miya commented on #3597
I will release it within a day. Please wait a moment.

[2017-04-02 15:20] alex commented on #3597
Thank you!

On Sun, Apr 2, 2017 at 11:01 AM, Takeshi KOMIYA <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: D1B3 ADC0 E023 8CA6

[2017-04-02 15:37] tk0miya commented on #3594
No, what I told is the case of docutils. As reported, Sphinx does not treat the non-substituted raw nodes as block-level. It **always** treats them as inline level elements.
docutils is a reference implementation of reStructuredText processor. Hence the behavior of Sphinx is a kind of bug, i think.

[2017-04-02 15:55] tk0miya opened #3598 "Sphinx-1.5.5 release plan"
Hi maintainers,

Unfortunately, major bug (#3597) was found in Sphinx-1.5.4. It fails to build the document which is able to build with v1.5.3. So I will ship a bug fix release within a day (if no bugs more).

Note:
I know #3597 is raised in a bit rare case. so it might be a minor bug. But, historically, sphinx is used for the documents of python programs. So I feel it is minor, but important bug.

[2017-04-02 16:49] nvgoldin commented on #3597
@tk0miya - thanks for the quick response!

[2017-04-03 03:12] shirou opened #3599 "Mathjax CDN will be shutting down"
Subject: Mathjax CDN will be shutting down

### Problem

Mathjax CDN will be shutting down at April 30, 2017. See https://www.mathjax.org/cdn-shutting-down/

[Sphinx uses Mathjax CDN](https://github.com/sphinx-doc/sphinx/blob/bf3f9ef3ecc94067a2f9b17f2c863e723cf3e7af/sphinx/ext/mathjax.py#L77) as a default URL, so I think we should change to another place.

There are two options.

a. Change to anot

[2017-04-03 03:19] shirou commented on #3599
Sorry, I found `Because MathJax (and the necessary fonts) is very large, it is not included in Sphinx.` in the [document](http://www.sphinx-doc.org/en/stable/ext/math.html?highlight=mathjax#module-sphinx.ext.mathjax).

So, only available options is a. I will make a PR later.

[2017-04-03 04:30] JelleZijlstra opened #3600 "Crash in Python doc build"
Subject: Crash on CPython docs, https://github.com/python/cpython/pull/967

### Problem
- Sphinx crashed with an UnboundLocalError.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- https://travis-ci.org/python/cpython/jobs/217938088

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zi

[2017-04-03 10:39] bgeron commented on #2226
Fair remark. I simply gave the smallest possible example, but maybe it was unrealistically small.

[2017-04-03 13:21] MatthieuPERIN commented on #741
Any news on this feature / bugfix ?

[2017-04-03 15:19] #3599 closed, assigned to nobody

[2017-04-03 15:21] tk0miya commented on #3600
It was already fixed. (refs: #3597)
Thank you for contribution!

[2017-04-03 15:21] #3600 closed, assigned to nobody

[2017-04-03 16:01] tk0miya commented on #3598
Just released!

[2017-04-03 16:01] #3598 closed, assigned to tk0miya

[2017-04-03 16:22] jfbu commented on #3594
@tk0miya I think you misunderstood my misunderstanding ;-) and that I tend to agree with you that non-substituted raw nodes should be treated as block-level.

[2017-04-04 06:59] jfbu opened #3606 "MathJax should be loaded with async attribute"
It is possible and seems recommended (see the [MathJax CDN change announcement](https://www.mathjax.org/cdn-shutting-down/)) to use the ``async`` attribute for the loading of MathJaX from CDN resource.

This is not done currently,and as explained https://github.com/sphinx-doc/sphinx/pull/3602#issuecomment-291370524:

From [w3schools page](https://www.w3schools.com/tags/att_script_async.asp), HTML5

[2017-04-05 09:59] Skeen commented on #2973
Most linting or other checking tools, have ignore statements for this kind of deal.

Simple being able to add a line like:

    .. sphinx.ext.autosectionlabel NOLABEL
    Example
    -------

Would be sufficient for me.

Alternatively merging #3388 would also fix the issue.

[2017-04-05 21:16] bhardwajhp opened #3608 "error while building Linux html documentation"
Subject: error while building Linux html documentation

### Problem
@localhost linux]$ make htmldocs
  SPHINX  htmldocs --> file:///home/der/workspace/c-cpp/linux/linux/Documentation/output
  DOT     Documentation/media/uapi/v4l/pipeline.dot
  PARSE   include/uapi/linux/dvb/audio.h
  PARSE   include/uapi/linux/dvb/ca.h
  PARSE   include/uapi/linux/dvb/dmx.h
  PARSE   include/uapi/linux/dvb/fronten

[2017-04-06 00:57] tk0miya commented on #3608
`sphinx.util.pycompat.execfile_` was introduced at 1.2 (ref: 05718e4a1).
Please upgrade your Sphinx to new one.

Note: Now we are supporting Sphinx-1.5.x series only. So I recommend you to upgrade to latest one.

[2017-04-06 00:57] #3608 closed, assigned to nobody

[2017-04-06 02:11] tk0miya commented on #2973
Agreed, #3388 is better solution for this case.
I will take a look later (if I have spare time...)

[2017-04-06 10:55] orenbenkiki opened #3610 "Support for @overload in Python"
Sphinx ignores the type signature of methods which use @overload in Python.
Granted, support for @overload in normal classes is very new (as of mypy version 0.501, March 2017).
At any rate:

### Problem

The automatically-generated documentation lists just the final concrete signature, which has no types, instead of listing the typed signatures.

#### Procedure to reproduce the problem
[code]

###