[2018-01-04 16:53] mennamorato commented on #4340
Thank you so much! Here is the output, my environment has not changed in many months and v1.5.5 works perfectly fine.
![image](https://user-images.githubusercontent.com/1237638/34574586-da627438-f145-11e7-81c5-637020179dfb.png)

[2018-01-05 01:23] tk0miya commented on #4340
It seems a bug of disqus module: see https://github.com/Robpol86/sphinxcontrib-disqus/pull/7

[2018-01-05 01:35] tk0miya commented on #4340
note: disqus extension tries to import `SphinxError` from `sphinx.application` module.
But officially it is placed at `sphinx.errors` module.
http://www.sphinx-doc.org/en/stable/extdev/appapi.html#sphinx.errors.SphinxError

[2018-01-05 02:33] mennamorato commented on #4340
ahhh!  Thank you !

[2018-01-05 02:33] #4340 closed, assigned to nobody

[2018-01-05 05:35] tk0miya opened #4378 "skipsdist option bothers developers."
### Problem
- Since #4338, `skipsdist` option was introduced to our tox.ini
- Surely, it makes our test faster
- But it bothers local development

#### Procedure to reproduce the problem
[code]

#### Expected results
- tox should refer latest source code

### Environment info
- OS: Mac
- Python version: All version
- Sphinx version: master branch

[2018-01-05 05:46] tk0miya commented on #4378
I think `skipsdist` is very useful on CI servers, because it is invoked at disposable environment.
But local devleopment is not. It uses same environment for many time.

So I think `usedevelop` option is better for local development. It is a bit faster than making sdist package:

Time to update environment (usedevelop):
[code]

Time to update environment (no options):
[code]

Ref: Time to update e

[2018-01-05 05:57] tk0miya commented on #4378
I guess `.[test,websupport]` on deps section installs Sphinx itself. And tox does not update source code because of `skipsdist` option.

@stephenfin Any idea?

[2018-01-05 11:03] stephenfin commented on #4378
Ah, good catch. I'm ok using `usedevelop` and can submit a patch, if it would help?

[2018-01-05 11:28] hameerabbasi opened #4379 "Autosummary doesn't detect toctree rst files with members named 'data'"
Subject: Autosummary causes issues with members named 'data'

### Problem
- Autosummary doesn't detect toctree files with members named 'data'

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
It should detect and link the member named `data`. The other member named `test_function` is detected fine.

### Reproducible project / your project
[sp

[2018-01-05 13:25] tk0miya commented on #4378
Thanks, I'll do it later.

BTW, do you know the way to switch `skipsdist` and `usedevelop`? In Travis CI, `skipsdist` is much better. So it would be nice if we can switch only on Travis CI.

[2018-01-05 13:48] tk0miya commented on #4361
It seems there are no objection for X-Day. So I will release 1.6.6 in this weekend (after #4360 merged).

note: this is issues for 1.6.6 milestone. Some might be postponed to 1.6.7.
https://github.com/sphinx-doc/sphinx/milestone/39

[2018-01-05 14:13] #4378 closed, assigned to nobody

[2018-01-05 14:56] tk0miya commented on #1880
@davidh-ssec Thank you for your help.
As you commented, it seems this is a bit strange. So I close this issue now.

Please feel free to reopen if somebody get same trouble.
Thanks,

[2018-01-05 14:56] #1880 closed, assigned to nobody

[2018-01-06 07:46] jfbu commented on #4142
Closing because bd139453c96864646c0b7b1bf2f30b12587cb235 disables Smart Quotes for Japanese (refs: #4360; Sphinx 1.6.6)

[2018-01-06 07:46] #4142 closed, assigned to nobody

[2018-01-06 07:47] jfbu commented on #4357
Sphinx 1.6.6. will not apply Smart Quotes to ``man`` builder output.

[2018-01-06 07:47] jfbu commented on #4359
Fixed at bd139453c96864646c0b7b1bf2f30b12587cb235

[2018-01-06 07:47] #4359 closed, assigned to nobody

[2018-01-06 07:48] marshallward commented on #4357
Fantastic, thanks for the update!

[2018-01-07 03:21] #4334 closed, assigned to nobody

[2018-01-07 08:14] usaturn commented on #2964
This bug was fixed. Thank you.

[code]

[code]

[2018-01-07 08:14] #2964 closed, assigned to nobody

[2018-01-07 08:44] takuan-osho commented on #1647
I cloned https://github.com/pcav/faunalia-website, add `html_last_updated_fmt = '%d %b %Y'` and `language = 'fr'` in conf.py, and `make html` with `-P` in `$ALLSPHINXOPTS`. But no exception occurred.

The versions of sphinx and extension are here:

[code]

In the case of sphinx 1.6.5, there is no exception occurred too.

[2018-01-07 12:10] shimizukawa commented on #1003
moved to https://github.com/sphinx-doc/sphinxcontrib-websupport/issues/11

[2018-01-07 12:10] #1003 closed, assigned to shimizukawa

[2018-01-07 12:26] shimizukawa commented on #4081
How about `brown` ?

[2018-01-07 12:30] tk0miya commented on #4081
In ASCII colorseq, `brown` is very similar to `yellow`. so I think it is not good for this case.
I think `red` is a bit better.

[2018-01-07 13:57] shimizukawa commented on #4183
How about `~= 3.6`?
https://www.python.org/dev/peps/pep-0440/#version-specifiers

`~=` is supported from setuptools-8.0 that was released at Dec 13, 2014.

[2018-01-07 14:39] takuan-osho commented on #3270
FYI: I tried to reproduce this issue with cloning and using [Blender Manual](https://developer.blender.org/diffusion/BM/), but I couldn't reproduce it. I follewed [this instruction](https://github.com/sphinx-doc/sphinx/issues/3270#issuecomment-338394164).

## Environment info

- OS: macOS 10.12.6
- Python version: 3.6.3
- Sphinx version: 1.6.5

Because I couldn't build blender manual with Sphinx 1

[2018-01-07 15:11] jbking commented on #4028
Docutils's smart quote only works with preceding space like separator. `a "foo"` has a space preceding opening double quote, but `"foo"` doesn't. Look at https://sourceforge.net/p/docutils/code/HEAD/tree/trunk/docutils/docutils/utils/smartquotes.py#l692
 The "context" is not important in this case.

[2018-01-07 15:39] Blendify commented on #3270
I will try again this week with updated sources.

On Sun, Jan 7, 2018 at 9:40 AM, SHIMIZU Taku <notifications@github.com>
wrote:

--
Aaron Carlisle

Picture taker | Bit cruncher | Pixel pusher | Document writer |
Project administrator for the Blender 3D Documentation Project

[2018-01-07 16:18] timhoffm opened #4390 "Consistent and semantic CSS for signatures"
## Subject: Consistent and semantic CSS for signatures

I propse to introduce a consistent set of semantic CSS classes for easier styling of the signature.

### Current state

Example signature:
<dt id="matplotlib.axes.Axes.vlines">
<code class="descclassname">Axes.</code>
<code class="descname">vlines</code>
<span class="sig-paren">(</span>
<em>x</em>, <em>y</em>, <em>linestyles='solid'</em>
<spa

[2018-01-07 17:58] anntzer commented on #4028
The regex includes "\s" ie whitespace characters, which in python is defined as `[ \t\n\r\f\v]` and unicode whitespace.
I'm not sure where "beginning of string" is handled but just creating an file with just
[code]
and running `rst2html --smart-quotes=yes` on it shows that this case is also correctly handled.

So I don't believe it's (solely) a docutils issues as described above...

[2018-01-07 23:48] tk0miya commented on #4361
All issues are resolved now (or postponed to 1.6.7).
So I will release it tonight (maybe 21:00-23:00 in JST)!

[2018-01-08 00:31] tk0miya commented on #4093
Fixed by #4389
Thank you for reporting!

[2018-01-08 00:31] #4093 closed, assigned to nobody

[2018-01-08 02:37] shimizukawa commented on #4081
+1

[2018-01-08 02:45] tk0miya commented on #2174
@Psirus Have you still been in trouble with newest Sphinx?
If not, I will close this. Please let me know your status.

[2018-01-08 03:01] tk0miya commented on #4183
@shimizukawa Good point!
I posted new PR #4393  to follow PEP-440.

@dhermes what do you think about this?

[2018-01-08 03:07] raybellwaves opened #4394 "ipython warning"
First time using `sphinx` so apologize for any lack of information.

Subject: typing `ipython` on my console brings up a `sphinx` warning. TL;DR: possibly due to `conda` installation installing version 1.6.3 (I see 1.6.5 is released now).

### Problem
Not a major problem in the slightest. Just trying to understand it a bit better.
Typing `ipython` gives a Warning from `sphinx`. I'm surprised/don't

[2018-01-08 03:27] tk0miya commented on #4394
It is a deprecation message for sphinx extensions. I don't know why it is emitted on invoking ipython.
But I guess any sphinx extensions are called and uses deprecated interfaces.

You can investigate what module emits it using `PYTHONWARNINGS` envvar like `PYTHONWARNINGS=error ipython`.
https://docs.python.org/3/using/cmdline.html#envvar-PYTHONWARNINGS

[2018-01-08 03:48] tk0miya commented on #4211
Hello maintainers,

It's time to feature freeze. Are you ready? If no objection, I'll call feature freeze in next weekend (Jan 14th) and release Sphinx-1.7b1.
Basically, any new feature is not allowed for 1.7 after that.
So please let me know if you are in working. We can adjust schedule :-)

Of course any bug fixes are always accepted, and changes for 1.8 is also okay.

[2018-01-08 05:08] #4081 closed, assigned to nobody

[2018-01-08 05:12] usaturn commented on #1938
@arthurlogilab

Please try first in the latest environment.

Please describe the environment you tried next.

- OS
- Python version
- `freeze freeze` result
- the content of the command you hit

In addition, please describe the contents and situation of the error.

[2018-01-08 05:32] usaturn commented on #1922
@jibalamy

Thank you for giving me a suggestion.
If you do not mind, can you give me a pull request?
Thank you.

[2018-01-08 05:38] tk0miya commented on #1922
I just made a very simple PR #4396 for this.
@jibalamy could you try this please?

[2018-01-08 05:39] scottleibrand commented on #3800
Could anyone clarify what the path forward is for projects experiencing the sphinx 1.6 and recommonmark 0.4.0 incompatibility described in this issue?  I do see that this issue was closed, but I'm not sure what @tk0miya meant by "the linking feature has been dropped from recommonmark", and https://github.com/rtfd/recommonmark/issues/73 doesn't really provide any clues.  For now, I've done the same

[2018-01-08 07:49] Psirus commented on #2174
No trouble; it works under 1.6.5. Thank you.

[2018-01-08 08:00] jfbu commented on #4394
can you confirm your version of ipython (well I do see 6.2.1) in your post. The issue you report was fixed [upstream](https://github.com/ipython/ipython/pull/10668) and I can not reproduce your issue in a virtualenv with sphinx==1.6.3 and ipython==6.2.1. Perhaps try to re-install IPython.

[2018-01-08 08:12] tk0miya opened #4398 "Proposal: Change release and tag model"
### Problem
- The document of sphinx is published as x.y.z, not x.y
    - ex. http://www.sphinx-doc.org/en/1.6.5/

#### Expected results
- All the documents are published as x.y

### Proposal

- Add a tag `x.y` to latest release of `x.y` series
    - The tag will be moved on each minor release
- Give a `x.y.0` version to first major release package (cf. 1.7.0)
    - So far the first major releases

[2018-01-08 08:15] tk0miya commented on #4398
@shimizukawa @stephenfin @jfbu This is my proposal for branch and tag model discussed at #4211.
What do you think? IMO, it is simple and easy to go for us to arrange tag rules.

[2018-01-08 08:17] jfbu commented on #4394
to be sure, locate and check contents of file

    lib/python3.6/site-packages/IPython/sphinxext/ipython_directive.py

in your Anaconda install. It is buggy if it contains the line

    from sphinx.util.compat import Directive

The upstream fix is in ipython 6.2.1. and was also backported to ipython 6.2.0.

[2018-01-08 08:24] tk0miya commented on #2174
Thank you for confirmation.
This issue was already fixed. so I close this now :-)

[2018-01-08 08:24] #2174 closed, assigned to nobody

[2018-01-08 11:21] ghost opened #4400 "Support for !(...) matcher"
### Problem

It would be nice to have support for something like `!(pattern-list)` (documented [here](https://www.gnu.org/software/bash/manual/bashref.html#Pattern-Matching)) where `pattern-list` is `(foo|bar|quaz)` etc.

### Use-case

The use-case would be something like this:

[code]

### Test-case

The test-cases would probably look like:

[code]

Of course I'm probably just missing an obvious

[2018-01-08 11:44] sensorario opened #4401 "Error exportin"
Subject: <what happen when you do on which document project>

### Problem

Maybe I've some trouble with `conf.py` configuration.

#### Procedure to reproduce the problem

[code]

#### Error logs / results

[code]
#### Expected results

Just a pdf

### Reproducible project / your project

[code]

### Environment info
- OS: MacOsX 10.12.6
- Python version: 3.6
- Sphinx version: Sphinx (sphinx-build)

[2018-01-08 11:51] tk0miya commented on #4401
Unfortunately, rst2pdf does not support python3. This is not a bug.
Thanks,

[2018-01-08 11:51] #4401 closed, assigned to nobody

[2018-01-08 12:15] lorengordon commented on #3800
@scottleibrand Have you tried [m2r](https://github.com/miyakogi/m2r)? We've been able to remove `recommonmark` entirely, replaced with `m2r`. Recommonmark issues don't seem to get much attention or support, so probably worth moving on.

[2018-01-08 12:36] tk0miya commented on #4361
It's time to release!

[2018-01-08 12:44] tk0miya commented on #4361
🎉
I just released 1.6.6
https://pypi.python.org/pypi/Sphinx

Thank you for all your work!

[2018-01-08 12:44] #4361 closed, assigned to nobody

[2018-01-08 13:32] shimizukawa commented on #4398
+1.

On our development scale, I think that it is appropriate to operate only the 2 branches rather than having many past branches.

[2018-01-08 14:42] Zac-HD commented on #4211
I was hoping to get #4243 merged - it's been done for months and just needs review.  I've even rebased the merge conflicts away recently!

[2018-01-08 15:05] stephenfin commented on #4398
A (soft 😄) -1.

I completely understand the reason not to have many past branches: we simply do not have the bandwidth. Given that you folks are the maintainers, any change here is going to overwhelmingly impact you. However, tags are supposed to represent a single point in time and I'm not sure about moving them. To me, it sounds like force pushing. I'd like to propose one of the two below option

[2018-01-08 16:42] jfbu commented on #4398
I would propose to create the `x.y` tag only when `x.y+1.0` is released. For example future 1.7 will have its first release as `1.7.0`, and only then will a `1.6` tag be created, as an alias to either `1.6.6` or  `1.6.7` if there is an `1.6.7` at the time of `1.7.0`. This way we never move  the tags targets.

Hence during life-time of `1.7.x` series there is no `1.7` tag, but `1.7.0`, `1.7.1`, ...

[2018-01-08 16:51] tk0miya commented on #4398
For document use, `stable/X.Y` branch is not good. readthedocs uses the branch name for URL like
`http://www.sphinx-doc.org/en/{branch_name}/`. So `stable/X.Y` becomes `http://www.sphinx-doc.org/en/stable/X.Y/` (I've never tested the branch having slash in its name).
So I think simply `X.Y` is better for this case.

Do you know good bot service for this?

Current document already says "You are not

[2018-01-08 17:09] tk0miya commented on #4398
I think this is not much changed from now. Using `x.y` tag or branch gives us fixed URL for document.

For example, I just released 1.6.6 today. As a result, the URL for latest document of 1.6 series has been changed from http://www.sphinx-doc.org/en/1.6.5/ to http://www.sphinx-doc.org/en/1.6.5/ .
It means the URL is often changed (almost monthly) and hard to index to search engine.

Either tags a

[2018-01-08 17:30] stephenfin commented on #4398
No, this is perfect. I never noticed this before! It could do with being a bit more obvious (perhaps the entire width of the document) but that's a future change. Good to know!

That's a good point. I don't notice this on docs.openstack.org because they're not hosted on readthedocs.org. For my own projects, it seems the tag is "slugified" and all non-alphanumeric characters replaced with a hyphen.

[2018-01-09 03:25] justinfx opened #4402 "base64 data image uris are being copied and converted to local embed paths"
Subject: Images using base64 encoded data uris are being converted to local embed paths

### Problem
When upgrading from sphinx 1.4.4 to 1.6.5 I have found a change in behaviour for image nodes that are using base64 encoded svgs, as data uris. Where previously they had preserved the data uri value, they are now being copied to the doctree images/embeded/<hash>.svg location. This breaks my existing

[2018-01-09 03:45] justinfx commented on #4402
It appears that `sphinx.builders.Builder.supported_data_uri_images` is a new magic undocumented property that fixes my issue if I set it to `True` on my custom builder class:

[code]

Is this the expected usage, if I am creating a markdown builder and I want to be able to support data uri images?

[2018-01-09 10:38] ArtFlag opened #4403 "contents local does not include content of 'only' directive"
### Problem

[code]
Does not generate links to titles that are inside an "only" block.

#### Procedure to reproduce the problem

Content:

[code]

Output:
![screen shot 2018-01-09 at 11 34 00](https://user-images.githubusercontent.com/25686502/34716934-9fe2e4ba-f531-11e7-8b98-d3fbbad1c7bd.png)

#### Expected results
![screen shot 2018-01-09 at 11 34 59](https://user-images.githubusercontent.com/25

[2018-01-09 16:29] tk0miya commented on #4402
Yes, the image translation feature follows `supported_data_uri_images`.

Surely, we need to update docs for the attributes.

[2018-01-09 16:33] tk0miya commented on #4400
Why do you want to such complicated match? Please tell me your concrete use case.
I can't understand why `fedora/gettingstarted` is placed under `fedora/` directory.

[2018-01-09 16:35] tk0miya commented on #4394
jfbu, thank you for your comment.
It seems this is already resolved on upstream.

Anyway, this is not a bug of Sphinx. So I close this now.
Thanks,

[2018-01-09 16:35] #4394 closed, assigned to nobody

[2018-01-09 17:01] tk0miya commented on #4398
Good to know. But I feel strange for `stable-` suffix for URL. Of course, we'll see the suffix on version switching interface like (`stable-1.6`, `stable-1.5`, `stable-1.4`...)
![2018-01-10 1 46 57](https://user-images.githubusercontent.com/748828/34732297-34a41fd0-f5a8-11e7-9c9b-f6c8c7009473.png)

I'd like to say again, I feel `X.Y` is better for readthedocs.

Hmm? tags are not immutable. It can

[2018-01-09 17:13] tk0miya commented on #3800
I just read this commit. It says the feature is deprecated.
https://github.com/rtfd/recommonmark/commit/8baf238562c2f7c9bea603e352c3a94f51905a3e

I don't know good way, but it seems recommonmark will drops the doc reference in nearly future. So you should find another tool.

[2018-01-09 18:01] tgurr opened #4408 "sphinx 1.6.6 fails test_metadata.py::test_docinfo"
Subject: sphinx 1.6.6 fails test_metadata.py::test_docinfo

### Problem
- running the tests both Python 2.7 and 3.6 run into a test failure

#### Error logs / results
[code]
### Environment info
- OS: Linux
- Python version: 2.7 and 3.6
- Sphinx version: 1.6.6

I saw there's a lot going on regarding the smartquotes so maybe it's related(?).

[2018-01-09 18:42] timhoffm opened #4409 "Config: add_function_parentheses and default_role=any"
## Config: add_function_parentheses and default_role=any

The config parameter `add_function_parentheses` applies to ``:meth:`Cls.method` `` and ``:meth:`method` ``.

I would have expected that it also applies to `` `Cls.method` ``, `` `func` `` when the the `default_role` is set to "any" or "obj". However, in these cases parentheses are never added, independent of  `add_function_parentheses`.

Is

[2018-01-09 20:18] ghost commented on #4400
Fair enough. I'll hoist it out.

[2018-01-09 20:18] #4400 closed, assigned to nobody

[2018-01-10 08:04] rjarry commented on #2557
@MakersF,

Maybe you can trick mock import by adding this in your `conf.py` file:

[code]

That way, this module will not be mocked since it is already in `sys.modules`.

This obviously works only if `company.A` does NOT depend on `company.B`.

[2018-01-10 13:21] raybellwaves commented on #4394
Thanks for your teachings

[2018-01-10 20:56] srstsavage commented on #3132
Another +1 here, this would help us avoid duplicating content when building docs for products make up of various collections of subcomponents.

[2018-01-11 01:21] weaverba137 commented on #3920
I've had a chance to run a few tests on this.  This is with Sphinx 1.6.3.  Here's a dummy Python module in a package:

[code]
The module gets imported by Sphinx via:
[code]
and the conf.py file contains:
[code]
When I build the documentation, Sphinx uses the real yaml module installed in my environment (*i.e.* `yaml == 3.12` is actually printed), and the `foobar` module is mocked up (*i.e.* import

[2018-01-11 13:51] tk0miya commented on #2557
@shimizukawa Why do we need to mock `a` module? PEP 302 only says `spam` module is **imported** before `spam.ham` is imported. It does not mention to **mock**.

I feel mocking `a.b` module and its descendants is very simple. Is there any reason to mock ancestor modules?

[2018-01-11 14:35] rjarry commented on #2557
@tk0miya maybe we can "try" to import it before mocking it. If it fails with an ImportError, we mock it, otherwise we get the normal module.

Here is an example:

[code]

[2018-01-11 16:26] tk0miya commented on #2557
I'd like to know why `MockImporter` mocks `a` module. The instruction from user is mocking `a.b`, not `a`. So I feel raising ImportError is much simple and understandable if importing `a` failed.
If user want to mock whole of `a` module, `a` should be used for `autodoc_mock_imports`.

With current implementation, giving `a.b` is almost same as `a`. I know we can import specific modules before mock

[2018-01-11 16:45] rjarry commented on #2557
I believe that the whole idea was to have similar behavior with the older implementation of `autodoc_mock_imports` (mocking ancestors was here before #2961).

I agree that it would be better not to do this but it may surprise existing users. I can submit a PR with a change that only mocks the specified modules (not their ancestors) if that suits you. We need to warn people about this in release no

[2018-01-11 16:54] thomascobb commented on #2755
I made a start on extracting type comments in another project, could be useful as a starting point for you:

https://github.com/dls-controls/annotypes/blob/master/annotypes/_calltypes.py#L81

I only attempt to parse comments where they exactly match the number of arguments given to the function, otherwise ast parsing would have been required rather than just tokenizing and comparing the type strin

[2018-01-11 19:41] dbkinder opened #4412 "upgrade jquery included with Sphinx (to version 3.1.2)"
jquery 3.1.1+ includes a [fix for reporting the offset of zero-sized elements](https://github.com/jquery/jquery/issues/3167)

### Problem
When you place a label in a document ``.. label_here:`` before a heading, the HTML that's generated by Sphinx is an empty span:  ``<span id="label-here"></span>``.  A jquery reference to retrieve position information for this empty span  such as ``.offset().top`

[2018-01-12 00:12] MakersF commented on #2557
In my case it was a namespace module, but I do age with Takeshi that the
current behavior is surprising: at the moment mocking 'a' and 'a.b' are the
same, while the user is clearly stating something different (s/he is when
typing more to specify the full name of the module to mock).

I would personally opt for only mocking 'a.b' (and maybe descending
modules, but that might be tricky) if that's wh

[2018-01-12 01:27] tk0miya commented on #4412
Thank you for letting me know! I'll do that in next release.

[2018-01-12 02:46] tk0miya commented on #2557
@rjarry Thank you for explanation and quick work. I understand. Surely, old mock code had also mocked ancestors.
I believe new behavior is much simple and easy to understand.
Of course we need to add some option to support old behavior to keep compatibility for a while.
@shimizukawa what do you think?

[2018-01-12 11:08] 0phoff opened #4415 "autodoc classifies inherited classmethods as regular methods"
Subject: autodoc classifies inherited _classmethods_ as _regular methods_

### Problem
- When a class inherits _classmethods_, they are marked as _regular methods_ in the documentation
- This might also be a problem with _staticmethods_ (not tested)

#### Expected results
Correctly mark them as _classmethods_ (correct CSS class).

### Reproducible project / your project
Code file
[code]
Documentat

[2018-01-12 15:56] tk0miya commented on #4415
autodoc uses `parent.__dict__` to check the type of methods:
https://github.com/sphinx-doc/sphinx/blob/3b01697e11445ddfeda891aa53d410259fab6163/sphinx/ext/autodoc/__init__.py#L1262-L1268

But it does not work for derived classes.
we need to check `im_self` or `__self__` attribute.

Note:
https://github.com/russianidiot/isclassmethod.py/blob/master/isclassmethod/__init__.py

[2018-01-12 18:15] ghost opened #4418 "Add spacing after comment hash for commented-out code without real comments."
Since there is nothing to differentiate from.
For example:
[code]

[2018-01-12 18:20] ghost opened #4419 "Use double pound # for real comments to differentiate it from commented-out code."
For example:
[code]

[2018-01-12 19:04] trebawa opened #4420 "Docs conflict on use of rst_prolog and rst_epilog"
Subject: Sphinx docs conflict on use of `rst_prolog` and `rst_epilog` for substitutions

### Problem
- The [ReST Primer states](https://github.com/sphinx-doc/sphinx/blame/master/doc/rest.rst#L447) that `rst_prolog` should be used for substitutions that are to be included in all documents, whereas the [build config doc states](https://github.com/sphinx-doc/sphinx/blame/master/doc/config.rst#L174) t

[2018-01-12 19:32] eric-wieser opened #4421 "Make sphinx.ext a namespace package"
Making `sphinx.ext` a [namespace package](https://packaging.python.org/guides/packaging-namespace-packages/) would make it possible for third parties to distribute extensions under the namespace `sphinx.ext.<theirpackage>`

[2018-01-12 21:45] skirpichev opened #4422 "No way to override "alias of" text, generated by autodoc"
Autodoc has problems with resolving references in such text, if the referenced class belongs to the different module, see #2437.

Before #4176 it was possible to workaround this with the currentmodule directive, e.g. [here](https://github.com/diofant/diofant/blame/e1a1e532/docs/modules/domains.rst#L53), where this was done to resolve reference to ANP class from polyclasses.  Unfortunately, this wa

[2018-01-13 02:27] tk0miya commented on #3848
In 1.6.6, we introduce a new option `smartquotes` to disable the feature.
http://www.sphinx-doc.org/en/stable/config.html#confval-smartquotes

Thanks,

[2018-01-13 02:27] #3848 closed, assigned to nobody

[2018-01-13 02:39] shimizukawa commented on #2557
I reconsidered the behavior of mock. Ignoring compatibility with previous Sphinx, I think that it is better to match the behavior of mock to `unittest.mock`.
Certainly PEP-302 says "Parents are imported", but that is not the basis for mocking parents.

Then, I +1 to the new behavior.

[2018-01-13 03:03] tk0miya commented on #2557
@shimizukawa Thank you for comment. I'll go to change the behavior with @rjarry 's help :-) (see #4413)

[2018-01-13 03:13] tk0miya commented on #3943
I think this is already fixed at current master. So I close this now.
Please let me know if you still get same error.

Thanks,

[2018-01-13 03:13] #3943 closed, assigned to nobody

[2018-01-13 05:26] #4183 closed, assigned to nobody

[2018-01-13 05:27] tk0miya commented on #4183
Now I merged #4393. So please use `~=` operator. It will be released as 1.7.
Thanks,

[2018-01-13 06:19] #3570 closed, assigned to nobody

[2018-01-13 07:24] vlotorev commented on #3848
Great, thanks.

[2018-01-13 10:45] tk0miya commented on #4421
-1; We already use `sphinxcontrib` namespace

[2018-01-13 10:53] shimizukawa commented on #4421
IMO, namespace package introduces technical complexity. In order to avoid this problem, I heard that Django and Pyramid avoid using namespace package.

[2018-01-13 13:10] #4079 closed, assigned to nobody

[2018-01-13 14:44] timhoffm commented on #4256
There are two different philosophies for a config file:

1. **Short:** Make it really short and include only the most common options. The advantage is that the user can easily see the active options. On the downside, it's more difficult to add options because you have to look them up in the manual. This heavily relies on the html documentation as an additional resource. I've attached a possible co

[2018-01-13 14:58] jfbu commented on #4071
Concrete test file

[code]

The back references in index linkto page 1 but they should be to page 2.

[2018-01-13 16:34] tk0miya commented on #4256
Sphinx has a lot of options. So I think shorter one is better for our docs instead completeness.
http://www.sphinx-doc.org/en/latest/config.html

[2018-01-13 17:03] timhoffm commented on #4256
Just FYI, jupyter notebook has a similar amount of options and they have decided for the complete approach. Their config is 600+ lines.

Given that options may change over time, I now slightly tend towards the short approach. A previously generated complete file might not be complete (or even correct) for later versions of Sphinx.

[2018-01-13 17:10] tk0miya commented on #4420
8 yrs ago vs 9 yrs ago... They are too old.
Both are okay for substitution. so they should be rewritten.

[2018-01-14 00:37] tk0miya commented on #4408
Thank you for reporting. This might be related with the order of testing.
I'll investigate it later.

[2018-01-14 00:42] tk0miya commented on #4418
Please let me know what version do you use?
https://github.com/sphinx-doc/sphinx/blob/f3f829664dce9ed8b236ffdb1d909524096d3b76/sphinx/templates/quickstart/conf.py_t#L96

It seems current sphinx already behaves as you said.

[2018-01-14 00:43] tk0miya commented on #4419
Why is it needed? I don't think it is needed.

[2018-01-14 05:55] baileyparker commented on #2468
Just ran into this and the suggestion by @simonklb indeed works. Just to clarify, the full incantation is something like:

[code]

(Assuming in your `index.rst` you include `source/*`, which requires `:glob:`)

Then, your coverage results are in `docs/_build/{c.txt,python.txt,undoc.pickle}`.

IMO, this is a pretty foolish default. I'd even go as far to say that this is *never* what you want when y

[2018-01-14 06:46] #4418 closed, assigned to nobody

[2018-01-14 06:50] ghost commented on #4419
To conform to PEP 8.

[2018-01-14 14:05] #2557 closed, assigned to shimizukawa

[2018-01-14 14:15] tk0miya commented on #4419
`pycodestyle` and `flake8` warns it is not good:
[code]

So we've used empty line to differentiate them.

[2018-01-14 14:31] #3620 closed, assigned to nobody

[2018-01-14 14:33] tk0miya commented on #3620
Fixed by #4295.
Thank you for reporting!

[2018-01-14 15:04] rpuntaie opened #4431 "latex "Undefined control sequence \\hlineSomeText" for make in latex output"
The reason is in line 1476 of writers/latex.py:

[code]

A space needs to be added to ``\\hline``.

[2018-01-14 15:12] tk0miya commented on #4398
I think nobody objects to this rule.  So I will release next major release as `1.7.0`.

[2018-01-14 15:12] #4137 closed, assigned to nobody

[2018-01-14 15:22] jfbu commented on #4431
Thanks for reporting. Usually text in first cell of new row starts a new paragraph hence a ``\n`` is automatically inserted. Can you show us how rest sources are for this table and which version of Sphinx you are using?

[2018-01-14 15:24] jfbu commented on #4431
We can use ``'\\hline '``  but this requires tests update, hence I would like to know concrete case needing this.

[2018-01-14 15:34] tk0miya commented on #4211
Hi maintainers,

Today is X-DAY. Are you ready? I'll call feature freeze and ship 1.7b1 within 24 hours. More accurate, I will do that at Jan 16th 12:00 pm (UTC).
If you are still working, please let me know. I can postpone the schedule if it is important.

Note: Here is an issue list for 1.7
https://github.com/sphinx-doc/sphinx/milestone/32

At feature freeze, I will make `1.7-release` branch. Af

[2018-01-14 15:37] tk0miya commented on #3998
Fixed by #4218
Thank you for reporting!

[2018-01-14 15:38] #3998 closed, assigned to nobody

[2018-01-14 15:51] #4419 closed, assigned to nobody

[2018-01-14 16:36] tk0miya commented on #4211
I propose you to merge #4271 after feature freeze. It is almost reviewed, but the value of option is not determined yet. I think this is minor fix and it does not break our code.

[2018-01-14 16:57] rpuntaie commented on #4431
[code]

[2018-01-14 17:04] rpuntaie opened #4432 "no separate paragraph, but rst lines separated by empty line"
This

[code]

results in one line instead of two paragraphs for latex output.

[code]

[2018-01-14 17:24] jfbu commented on #4431
Thanks! I will add the space as workaround, but this seems to reveal some deeper lying bug.

Indeed from

[code]

I get this pseudoxml

[code]

which looks fine but creates the  `\hlineA`  in latex output. On the other hand, from

[code]

I get similar

[code]

which gives a non problematic ``\hline\nA`` in latex output.

@tk0miya can you look at this?

[2018-01-14 18:39] jfbu commented on #4432
This shows in Sphinx 1.6.5 but is already fixed in 1.6.6. Can you try updating Sphinx?

[2018-01-14 18:45] jfbu commented on #4432
This was already fixed at https://github.com/sphinx-doc/sphinx/commit/29c62c64f5dfd989cca00028fff8936a324873b9 (#4208) for 1.6.6 release. Thanks for reporting!

duplicate of #4206

[2018-01-14 18:45] #4432 closed, assigned to nobody

[2018-01-14 23:07] jibalamy commented on #1922
Hello,

I've just tested, and it seems ok :)

Best regards,
Jean-Baptiste Lamy
MCF, LIMICS, Université Paris 13

[2018-01-15 01:10] tk0miya commented on #1896
Sorry for very late response.
Since 1.3, autosummary avoids imported members by default. see #1061.

[2018-01-15 01:10] #1896 closed, assigned to nobody

[2018-01-15 01:15] #1922 closed, assigned to nobody

[2018-01-15 02:02] tk0miya commented on #4246
Now #4246 is merged. It will be release as 1.7.
Thank you for your contribution!

[2018-01-15 02:02] #4246 closed, assigned to nobody

[2018-01-15 05:05] ofloveandhate commented on #3132
i would like this, too.

[2018-01-15 07:41] jfbu commented on #4211
I am not working on features at this time; #4430 adds a new confval, but it may to some extent be considered as bugfix, hence merge decision can be postponed.

[2018-01-15 10:20] rpuntaie opened #4434 "pure numbers as link targets produce warning"
[code]

warns about

[code]

but, if prefixing each 03234 by `a` character there is no such warning.

I don't see a reason why numbers alone should not work the same in this context.

`rst2html.py` does not produce a warning.

[2018-01-15 11:06] stephenfin commented on #4398
Yeah, I agree. Let's go with `X.Y`. Can we please use branches though? More on this below...

Right, but we can also do this with branches.

[code]

This is basically a force push and, as we know, force pushes shouldn't be done on shared branches. I think doing this for tags is a bad idea that will cause pain for people. I'd really like to avoid this.

What do you mean by "introduce branches"?

Su

[2018-01-15 11:07] stephenfin commented on #4398
Agreed. `1.7.0` it is. 🎆

[2018-01-15 12:56] tk0miya commented on #4211
Okay, the effect of #4430 is only limited for LaTeX writer. Go with 1.7b2.

[2018-01-15 12:57] tk0miya commented on #4211
I'm starting release work.

[2018-01-15 13:34] tk0miya commented on #4211
I just released 1.7.0b1 now.
https://pypi.python.org/pypi/Sphinx/1.7.0b1

[2018-01-15 15:44] tk0miya commented on #4434
Thank you for reporting.

At present, Sphinx expects labels are not digit.
https://github.com/sphinx-doc/sphinx/blob/a9f949e8580fbd685b8b334a875852f2ad65de8a/sphinx/domains/std.py#L610-L614

Note: this code was added at 910e488e39.

[2018-01-15 20:42] Blendify opened #4438 "Mathbase.py: math with labels with whitespace cause html error"
Subject: When math elements have labels with spaces html validators are unhappy

### Problem
Issue happens here: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/ext/mathbase.py#L89 but also other areas in that file where `id` is set,

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
It should convert whitespace from the label to use da

[2018-01-15 20:59] Blendify opened #4439 "Make script_files deprecated to?"
Subject: script_files should be made depricated

### Problem
Since `css_files` was made deprecated in 83d3fd2c365f314877086c72eef79df2c43da69d Should `script_files` also be made deprecated?

#### Procedure to reproduce the problem
N/a

#### Error logs / results
N/a

#### Expected results
`script_files` marked as deprecated.

### Reproducible project / your project
N/a

### Environment info
- OS: N

[2018-01-16 02:09] danielecook opened #4440 "Fetch raw parsed docstring data"
Is there a way to use napoleon to parse a Google docstring and return a datastructure of the parsed parameters?

I've played around with the GoogleDocstring function but I can't seem to get it to return anything.

[2018-01-16 03:50] shimizukawa commented on #4211
Thank you for the great work!

On Mon, Jan 15, 2018 at 10:34 PM Takeshi KOMIYA <notifications@github.com>
wrote:

[2018-01-16 11:53] zhaojiedi1992 opened #4441 "In sphinx, I can easily use toctree to generate the document tree, the file-level hyperlink provided is also easy to use, do not know if there are automatically generated number. I want to give each section an automatic number, so that the document is more layered"
Subject: <what happen when you do on which document project>

### Problem
- <Detail of problem>

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
<Describe what to actually do>

### Reproducible project / your project
- <link to your project, or attach zipped small project sample>

### Environme

[2018-01-16 11:58] zhaojiedi1992 commented on #4441
I find solution

[2018-01-16 11:59] zhaojiedi1992 commented on #4441
i find solution

[2018-01-16 11:59] #4441 closed, assigned to nobody

[2018-01-16 15:36] robtaylor commented on #3306
Anyone got any half-formed patches for this or workarounds? Hitting the same problem

[2018-01-16 15:47] tk0miya commented on #4439
Yes, I think so. But we still modify it inside HTML theme. so we have to refactor it first.
So I marked this as 1.8 milestone.

[2018-01-16 15:49] aalemayhu commented on #3306
@robtaylor We ended up using a separate CSS file and it seems to work as expected. Not sure if useful for you but see https://github.com/cilium/cilium/commit/ea56d2efb0e44ee5a8d1ae3b2d8258c2e4d88111

[2018-01-16 15:56] robtaylor commented on #3306
Worked around by adding this to source/_static/theme_overrides.css:

.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight'] {
    font-size: 12px;
    line-height: 1.5;
    display: block;
    overflow: auto;
    color: #404040;
    padding: 12px 12px;
}

.codeblock,div[class^='highlight'] {
    padding: 0;
}

[2018-01-16 21:58] Kilo59 commented on #3145
Has this issue been abandoned?

[2018-01-16 22:05] Paebbels commented on #3145
Sorry, I haven't had time to continue on this PR. You can take over and finish it if you like. It's hard to fulfill all requirements drawn up by sphinx-doc.

[2018-01-16 23:25] UseNameIsTaken opened #4443 "disabling smartquotes caused exception"
Subject: <what happen when you do on which document project>

I tried to disable smartquotes to prevent "--" from being changed to "-" via the "docutils.conf" and "conf.py" settings. The theme used was alasbaster.

### Problem
- <Detail of problem>

#### Procedure to reproduce the problem
to reproduce the problem:

add a docutils.conf file with the followings:
"
[restructuredtext parser]
smart_quo

[2018-01-17 06:38] #4443 closed, assigned to nobody

[2018-01-17 10:57] Letme commented on #2375
Sounds like same as: #3132

[2018-01-17 10:58] Letme commented on #3132
+1 here - It would make for a lot cleaner build if we could specify multiple source directories in conf.py (and a lot more portable).

[2018-01-17 12:08] tk0miya commented on #2375
It seems there many comments in #3132. So I close this instead.
Thanks,

[2018-01-17 12:08] #2375 closed, assigned to nobody

[2018-01-17 15:01] tk0miya commented on #4438
Absolutely this is a bug.
Thank you for reporting

[2018-01-17 15:53] dhellmann opened #4446 "sphinx-apidoc 1.6.6 does not list packages when __init__.py is empty"
Subject: generating API docs for packages with empty __init__.py doesn't work because they do not appear in the submodules toctree list.

### Problem
- Under sphinx 1.6.5 if a package had an empty __init__.py it still had a file generated for its documentation and that package still appeared in the toctree list. That meant the manually managed toctree only needed to include the "modules" file and

[2018-01-17 15:54] dhellmann commented on #4446
It looks like 2d99648e9982325bbd670da11df5f809e3134284 introduced this change.

[2018-01-17 16:06] ericholscher opened #4447 "Sphinx gives TOCTree error on explicit titles"
### Problem

When I have a document with an explicit title in the `toctree` directive, or an rst `.. title::` directive, Sphinx still warns about no title:

[code]

#### Procedure to reproduce the problem

Create a `toctree` that links to a document with an explicit title defined.

#### Error logs / results
[code]

#### Expected results

I want it to not warn me when I have given things an explici

[2018-01-17 16:06] ericholscher commented on #4447
cc @plaindocs

[2018-01-17 16:32] mwoehlke opened #4448 "External references are not resolved in TOC tree sidebar"
Let's say I have a document like:

[code]

In the *body* of the document, the reference title is resolved as expected. (Let's say for example that the document title is "Describe Some Page Here". Then, in the body, the heading appears as "Describe Some Page Here".) However, in the sidebar TOC, the heading appears as "some-page". That is, the TOC uses the raw text of the reference, rather than the

[2018-01-17 20:37] dhellmann commented on #4446
#4449 should fix the problem on the stable branch and #4450 should fix it on master.

[2018-01-18 09:28] jfbu commented on #4431
@tk0miya I have identified the root cause at https://github.com/sphinx-doc/sphinx/blob/1.6.6/sphinx/writers/latex.py#L1481

This then causes removal of `\n` at https://github.com/sphinx-doc/sphinx/blob/1.6.6/sphinx/writers/latex.py#L1502

I recall that https://github.com/sphinx-doc/sphinx/blob/1.6.6/sphinx/writers/latex.py#L1481 survived big refactoring of table handling by latex writer, but here

[2018-01-18 09:32] jfbu commented on #4211
#4431 is a blocker see https://github.com/sphinx-doc/sphinx/issues/4431#issuecomment-358588311

(should be fixed at #4452)
(has been merged to stable at d3058f462de8abc514e662270d3df62b08f953f9)

[2018-01-18 09:41] stephenfin commented on #4211
As is #4446, IMO

[2018-01-18 12:07] TimoMorris opened #4451 "Inconsistent documentation for sphinx-apidoc"
[invocation.rst.txt](https://github.com/sphinx-doc/sphinx/files/1642740/invocation.rst.txt)
[sphinx-apidoc.rst.txt](https://github.com/sphinx-doc/sphinx/files/1642741/sphinx-apidoc.rst.txt)

Subject: the documentation for the standard sphinx-apidoc call is inconsistent across different locations, on two points that already have potential for confusion

### Problem
The 'signature' for the sphinx-ap

[2018-01-18 14:54] tk0miya commented on #4211
Ah, I'm very sorry. I'd forgotten to call for translation.

[2018-01-18 15:06] tk0miya commented on #4431
I think it is better to fix this on 1.7.x if big refactoring needed.
Anyway, I'll take a look later.

[2018-01-18 15:10] jfbu commented on #4431
@tk0miya it appears it was caused by my oversight, I kept two lines unneedlessly at #3435. PR at #4452

[2018-01-18 19:05] stephenfin commented on #4451
I'll take a look at this tomorrow, @tk0miya, if you don't get to it first

[2018-01-18 19:14] stephenfin commented on #4259
I can take this, seeing as I broke it. It's an issue with docutils' use of global state - we should either make `sphinx.application.Application` a singleton or, better, store that global state as part of the `sphinx.application.Application` or `sphinx.registry.Registry` objects.

[2018-01-18 21:06] jsamr opened #4454 "Feature request: support ABNF grammar in productionlist"
## Feature
Provide support for [Augmented Backus Naur Form [rfc5234]](https://tools.ietf.org/html/rfc5234) syntax in production list. The `grammar` option could have the following values:
- `abnf-5234` for [rfc5234](https://tools.ietf.org/html/rfc5234)
- `abnf`, alias for `abnf-5234`
- `abnf-4234` for [rfc4234](https://tools.ietf.org/html/rfc4234)
- `ebnf` for [ISO-14977](https://www.cl.cam.ac.uk/

[2018-01-19 05:25] tk0miya commented on #4415
I found staticmethods on subclass are also classified as method.

[2018-01-19 05:42] tk0miya commented on #4408
@tgurr I try to fix this by #4456.
Could you check this please?

[2018-01-19 10:24] 0phoff commented on #4415
Thank you for the quick respons! :+1:
While it is not that important, it did frustrate me quite a bit... :stuck_out_tongue_closed_eyes:

[2018-01-19 11:21] tk0miya commented on #4412
Fixed by #4453.
Thank you for reporting :-)

[2018-01-19 11:21] #4412 closed, assigned to nobody

[2018-01-19 12:57] tgurr commented on #4408
@tk0miya

Thank you very much, however I'm afraid your fix doesn't seem to do the trick for me. I've applied the patch from your pull request to 1.6.6 and still get:

[code]

[2018-01-19 15:34] tk0miya commented on #4438
Fixed by #4457
Thank you for reporting

[2018-01-19 15:34] #4438 closed, assigned to nobody

[2018-01-19 15:48] tk0miya commented on #4454
+0; I can accept it if anyone makes a PR for it.

[2018-01-19 17:02] tk0miya commented on #4451
@stephenfin thanks, could you fix this if you have time :-)

[2018-01-19 17:23] #4415 closed, assigned to nobody

[2018-01-20 05:01] tk0miya opened #4459 "parallel mode of sphinx-build could not detect duplicated labels"
### Problem
- Sphinx could not detect duplicated labels with `-j N` option

#### Procedure to reproduce the problem
Here is my Dockerfile.
[code]

#### Error logs / results
On non-parallel mode, there are 5 warnings for duplicated label.
[code]

On the other hand, with `-j` option, there are no warnings.
[code]

#### Expected results
- Sphinx have to work same even if parallel mode

### Reproducib

[2018-01-20 05:11] tk0miya commented on #4459
There are comment about duplication on domain. I think we have to check and warn duplications at here.
https://github.com/sphinx-doc/sphinx/blob/020c51532bc70289926797e878856997415cd2f8/sphinx/domains/std.py#L549-L571

[2018-01-20 05:22] tk0miya opened #4460 "Add way to let Sphinx know the data structure of an extension has changed."
### Problem
- There are no way to let Sphinx-core know the data structure has changed from extensions.
- It causes errors on incremental build if extensions are updated.

#### Procedure to reproduce the problem
- Modify the data structure of extension
- Upgrade the extension
- Do incremental build

#### Error logs / results
- Sphinx crashes.

#### Expected results
- Add way to notify the version o

[2018-01-20 05:57] tk0miya commented on #4460
On loading environment, Sphinx only checks `ENV_VERSION`. It should be also check the version of extensions.
https://github.com/sphinx-doc/sphinx/blob/020c51532bc70289926797e878856997415cd2f8/sphinx/environment/__init__.py#L101-L117

For example, it might be nice to add `ENV_VERSION` to extension's metadata.
[code]

[2018-01-20 08:10] tk0miya commented on #4422
+1; it's enough reasonable!

[2018-01-20 08:16] skirpichev commented on #4422
@tk0miya, not sure if this is still relevant now, after #2437 is fixed.

Ability to override autogenerated text is important only if it's broken, but that shouldn't be the case anymore.

[2018-01-20 09:24] jfbu commented on #4431
Fixed at https://github.com/sphinx-doc/sphinx/pull/4452/commits/9aca29a7816c8989a7d67356f270c255cca3c2bb. Thanks for reporting!

[2018-01-20 09:24] #4431 closed, assigned to nobody

[2018-01-20 10:07] #2437 closed, assigned to nobody

[2018-01-20 11:20] tk0miya commented on #4434
Fixed by #4461
Thank you for reporting!

[2018-01-20 11:20] #4434 closed, assigned to nobody

[2018-01-20 13:12] stephenfin commented on #4451
@MarmiteFox There seems to be some issue with the attachment and I'm receiving the following error:

    $ curl -L https://github.com/sphinx-doc/sphinx/files/1642741/sphinx-apidoc.rst.txt
    curl: (35) error:1408F10B:SSL routines:ssl3_get_record:wrong version number

It could be my connection at fault. In any case, could you upload these to gist.github.com and share the link here?

[2018-01-20 15:45] tk0miya commented on #4408
Hmm, okay. It seems my patch was wrong.
To investigate in detail, could you let me know the result of `tox -e py36 tests/test_metadata.py` and `tox -e py36 tests/test_metadata.py -- -k test_docinfo` with pure Sphinx-1.6.6?

Note: Please replace `-e py36` option by python you usually use.

If both succeeded, the error is raised only on full test. So it would been caused by order of testcases.
If no

[2018-01-20 15:54] tk0miya commented on #4451
just FYI: I can download them from chrome on mac.

[2018-01-20 16:11] tk0miya commented on #4259
Yes, that is purpose of the registry class. Now I'm going to move components step by step.
The nodes are next target of my refactoring.

[2018-01-20 16:19] tk0miya commented on #4259
Note: docutils is designed to store components in global. So essentially it is hard to change not to store all status in global.
But I try to keep the effects to limited scopes with "write back" techniques.
For example, `sphinx.util.docutils:sphinx_domain()` goes to restore the registered directive and roles after processing.
https://github.com/sphinx-doc/sphinx/blob/3413590edd75af664f46b2fcd5e50c

[2018-01-20 17:03] tk0miya commented on #4422
I don't think this is workaround for #2437. This is enough useful for documentation.

[2018-01-20 17:35] TimoMorris commented on #4451
@stephenfin here they are:
invocation: https://gist.github.com/MarmiteFox/1efd6828795445e0513deeec9453beb8
sphinx-apidoc: https://gist.github.com/MarmiteFox/b0e638a32a729a89a5afcf76a91a9083

[2018-01-20 23:05] stephenfin commented on #4451
I've resolved this in #4464. I already removed `invocation.rst` in 9b7525d47df40c1e5d63ec4ee2fdbc51d35bf1ea (which will be part of 1.7) so only the man page needed updates.

[2018-01-20 23:16] stephenfin opened #4470 "'python -msphinx' calls deprecated 'sphinx.main' function"
This was missed in 89f9c7cab74298a243ac409c26d25eb2b137bf03. This is proposed for `1.7-release` as this would be a regression.

[2018-01-21 03:06] tk0miya commented on #4470
Fixed by #4471

[2018-01-21 03:06] #4470 closed, assigned to nobody

[2018-01-21 03:20] #4451 closed, assigned to nobody

[2018-01-21 03:21] tk0miya commented on #4451
Fixed by #4464. Thank you for reporting!

[2018-01-21 07:08] tk0miya commented on #3947
Fixed by #4271
Thank you for proposal

[2018-01-21 07:08] #3947 closed, assigned to nobody

[2018-01-21 11:26] stephenfin opened #4472 "DOCUMENTATION_OPTIONS is not defined"
Subject: Generated docs are showing console errors

### Problem
- After building docs the standard way (`tox -e docs`), I see the below errors in the console.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

#### Expected results
There shouldn't be an issues.

### Reproducible project / your project
- N/A

### Environment info
- OS: Fedora 27 (Linux)
- Python vers

[2018-01-21 12:03] tk0miya commented on #4472
That would be fixed by #4473. Could you try it please?

[2018-01-21 12:10] tk0miya commented on #4447
At present, Sphinx does not refers title metadata. toctree only refers first section of the document.

-0 for supporting it. I don't know how many used. But I feel it is minor...

Note:

http://docutils.sourceforge.net/docs/ref/rst/directives.html#metadata-document-title

[2018-01-21 13:11] tk0miya commented on #4398
We have two ways to manage `X.Y` series; branches and tags. Both are almost same. So I feel either is fine.
The my last worry about using branch is that developers can send PRs to old branches.

You'd said like following:

But I don't know good one to do that. So I don't agree to adopt using branches.
I think it is last piece for adoption.

Note: we don't have any servers. so it would be nice if w

[2018-01-21 13:12] tk0miya commented on #4472
Fixed by #4473

[2018-01-21 13:12] #4472 closed, assigned to nobody

[2018-01-21 14:00] stephenfin commented on #4398
@tk0miya I'll research and find one. If there isn't one, I write one myself. We use them for OpenStack so they do exist.

In the interim, is the `1.7-release` branch a temporary one?

[2018-01-21 14:37] tk0miya opened #4474 "Proposal: Integrate source_suffix and source_parsers"
### Problem
- Now Sphinx has two confvals to control filetypes of documents; `source_suffix` and `source_parsers`
- `source_suffix` are used to discovery target files on srcdir
- Since 1.3, `source_parsers` was introduced to add new parsers (ex. recommonmark) for specific filetypes (ex. `*.md`)
    - The users who want to use external parsers have to specify both `source_suffix` and `source_parser

[2018-01-21 14:45] tk0miya commented on #4398
Thanks, but we don't have any servers and 💰 . So it would be nice if we can freely use it.
It might go well if the tooling works on CI servers.

Yes, this branch is temporary. We've usually used such named branch during pre-release.

[2018-01-21 15:15] jfbu commented on #4398
For people reading this thread, anything merged (only) to master branch now will not be released before 1.8.0, which is next major after upcoming one 1.7.0. When 1.7.0 is released it will become new stable branch, for bug fixes. Patches which will have been merged to master in the interim period will not be in that stable branch but only in the master branch. Already now a priori PRs merged to 1.7

[2018-01-21 15:24] shimizukawa commented on #4474
Looks great!

[2018-01-21 18:11] tk0miya commented on #4375
It seems `/usr/bin/sphnx-*` are hyperlink to `/usr/share/sphinx/scripts/python*/sphinx-*`.
[code]
I think you can use Sphinx with python3 if you add `/usr/share/sphinx/scripts/python3` to PATH.

I think this is packaging problem, not Sphinx itself. So I recommend you to report this to Debian project.

[2018-01-21 20:35] plaindocs commented on #4447
Right, but according to my understanding, using

[code]

Provides an explicit title of `An explicit title` to `foo.rst` so should not trigger the warning?

[2018-01-22 04:24] gtristan commented on #4375
if the user has to setup any special environment to specify which API to use, it is not truely parallel installable.

Parallel installability would just require that your entry point be accessible under a different name (something like sphinx3-build would work), for access via python imports this is not an issue because of how people generally install into versioned subdirectories of a python inst

[2018-01-22 10:01] stephenfin opened #4476 "Not possible to update individual 'po' files"
### Problem
`sphinx-build` allows you to pass a list of filenames, which should ensure that only these files are rebuilt. This appears to work as expected. However, if you also have i18n features enabled, then it seems you should be able to build message catalogs at the same time, as seen [here](https://github.com/sphinx-doc/sphinx/blob/1.7.0b1/sphinx/application.py#L327). Unfortunately, this appe

[2018-01-22 10:22] stephenfin commented on #4476
I applied the following hacky change to try and see what's going on.

[code]

This yields the following output.

[code]

There are two things to note here.

1. I had to strip the `doc/` prefix from the provided path, because otherwise the domains would never match. This appears to be a bug.

[code]

2. Even with that patch applied, I still didn't see the files rebuilt.

[code]

    This is because

[2018-01-22 10:28] stephenfin commented on #4476
Final comments. We seem to be running translation twice: once during the `sphinx.application.Application._init_i18n` function, and another time during the `sphinx.application.Application.build` function (via a call to `sphinx.builders.Builder.compile_specific_catalogs`). I'm not sure I really get the purpose of the former. Some improved docstrings here would be much appreciated.

[2018-01-22 10:34] stephenfin opened #4477 "Build fails after building specific files"
### Problem
If you pass `[FILENAMES, ...]` to `sphinx-build`, a subsequent call _without_ this argument will fail.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

The issue is this line in the log of the third call to `sphinx-build`.

[code]

#### Expected results
There should be no warnings and all files should be rebuilt.

### Reproducible project / your projec

[2018-01-22 10:41] stephenfin commented on #4375
@tk0miya Not quite. You can test this by installing via pip.

[code]

Installing the Python3 version has caused the old, Python 2 version to be overwritten. Whatever about packaging on other environments, this is a bug with out installation script, IMO.

@tk0miya I'm still working on this, btw. I want to solve it as part of a unified `sphinx` executable (we will have a `sphinx`, `sphinx2`, `sphinx

[2018-01-22 11:03] jfbu opened #4478 "Disturbing warning ``unsupported build info format in ..., building all``"
#### Procedure to reproduce the problem

Take any project and issue

[code]

The second run issues this Warning

[code]

#### Expected results

A useful warning or none.

### Environment info

- OS: Mac 10.9.5
- Sphinx version: 1.6.6
- Python version: 3.6.4 (CPython)
- Docutils version: 0.14
- Jinja2 version: 2.10

[2018-01-22 17:18] TomasTomecek opened #4479 "sphinx picks up block quotes even with `.. code-block:: none`"
### Problem
I am using `autoclass` extensions and I have some terminal output sample in a class' method, which looks like this:

[code]

Unfortunately, sphinx picks this as block quotes and produces following warnings:
[code]

Is there a way to turn off block quotes? I tried quoting them but that didn't really help. After a bit of reading, it seems the issue is smart quotes of docutils.

[Here's t

[2018-01-22 18:00] jfbu commented on #4479
Does escaping the backslashes help you?

[code]

![capture d ecran 2018-01-22 a 18 59 46](https://user-images.githubusercontent.com/2589111/35236141-88023736-ffa6-11e7-8149-a17d0b6ba873.png)

[2018-01-22 19:18] stephenfin commented on #4479
As @jfbu notes, you can escape this to resolve the issue. Alternatively, make the block a raw string with the `r` prefix.

    def method(self):
        r"""
        Get logs from...
        """

[2018-01-22 19:19] stephenfin commented on #4478
Looks like a dupe of #4477

[2018-01-22 19:21] stephenfin commented on #4474
Looks good! Only one request: use `restructuredtext` for the `txt` extension. As far as I know, docutils still suggests using this extension for rST files.

[2018-01-22 22:55] jfbu commented on #4478
@stephenfin indeed it does :) quite a coincidence! I should have paid more attention to recent issues. I will mark this as duplicate, as I expect fix of #4477 will also fix this. Thanks for pointing it out!

[2018-01-23 06:35] tk0miya commented on #4476
I think 2. is not a bug. .po files are not target of rebuild.
Is there reason to rebuild them again? The compilation of .po files is not related with Sphinx documentation directly. So I don't think the rebuild is not needed.

But 1. might be a bug. If .mo files not exists, we have to compile them before building docs.

[2018-01-23 06:39] tk0miya commented on #4474
-0; either is okay, but I personally prefer to `.rst` for reST files. It is better to use more appropriate file extension to me.

Anyway, it is not related with this directly. So I'd like to separate your proposal and this change.

[2018-01-23 08:21] TomasTomecek commented on #4479
And the whole time I thought the issue is quotes, not backslashes.

You guys are geniuses, thank you so much!

(not sure if it makes sense to update the documentation so that others won't be so confused as I was)

[2018-01-23 08:21] #4479 closed, assigned to nobody

[2018-01-23 09:33] jfbu commented on #4479
For info, these warnings originate in [Docutils](http://docutils.sourceforge.net/docs/index.html), not Sphinx. I am not sure why  Docutils 's warning refers to a "Block quote" rather than a "Literal block", perhap I should dig into internals to learn something. And, here the user quiproquo was between "quote" as in "block quote" (for indenting a quoted text) and "quote" as in "left and right quote

[2018-01-23 09:48] TomasTomecek commented on #4479
Should we file an issue on docutils then?

[2018-01-23 10:01] vegarab opened #4481 "Build fails during eclim (aur) build: Babel data files not available"
Subject: Build fails during eclim (aur) buid: Babel data files not available

Not sure if this is where you'd want this issue, as it might be regarding eclim.. however error told me to post here.

### Problem
- RunTime error on build when trying to build [eclim (aur package)](https://aur.archlinux.org/packages/eclim/) towards eclipse-java with jdk8
- The babel data files are not available.

#### P

[2018-01-23 10:42] stephenfin commented on #4476
I could be using the wrong terminology here (I've never worked with Sphinx's translation machinery before and the documentation assumes a lot of pre-requisite knowledge which I don't have). `po` files are generated by `gettext` and modified by a user and then `.mo` files are written by Sphinx...right? What I'm referring to are these lines.

[code]

From [here](https://github.com/sphinx-doc/sphinx/

[2018-01-23 10:47] stephenfin commented on #4474
What I'm referring to is this:

[code]

If we're defining a default for this attribute, please use `'.txt': 'restructuredtext'` or don't assign anything for `.txt`.

Also, how about dropping the leading `.` from the extensions (e.g. `txt` instead of `.txt`)? I can comment on the pull request once it's there.

[2018-01-23 11:33] tk0miya opened #4482 "Proposal: Allow to switch parsers on parsing document"
### Problem
- There are some container document formats that contains different mark up texts inside single document.
    - Jupyter is one of them.
- On parsing them, it would be nice if we can switch parsers
    - For example, Jupyter document can contain both reST text and Markdown text.
    - At present, Sphinx uses a parser of containers to translate fragments of the document.
    - In detail,

[2018-01-23 11:37] tk0miya commented on #4481
The error also says this is an issue related with installation.
How did you install babel package?

FYI: babel is one of dependency packages of Sphinx.

[2018-01-23 11:41] vegarab commented on #4481
I've tried to install Sphinx and Babel from the Arch central repo with pacman, and with pip2 before attempting to install eclim. I always get the exact same build error.

[2018-01-23 11:49] tk0miya commented on #4476
Yes, your understanding is right.

In my understanding, it is used for first compilation, not re-compilation.
Certainly, this compiles .po files to .mo files. I think it is useful for document who doesn't have `.mo` files on there repository. For example, document of Sphinx also doesn't have `.mo` files on repository.
On the other hand, the `.mo` files is not changed even if Sphinx rebuilds docs.

[2018-01-23 12:00] tk0miya commented on #4474
At present, only `.rst` is a target of Sphinx. So I would not like to assign `.txt`.

+0; no opinion, but I'll welcome PR for that.

Note: I think users will not modify `source_suffix` with this change. so I don't think the removal of dot is not important.

[2018-01-23 13:30] tk0miya commented on #4375
What do you mean "API"? Python version?

[2018-01-23 14:56] TomAugspurger commented on #4230
I had a try at this as well, with  https://github.com/jorisvandenbossche/pandas-test-docs but didn't see the improvement @jorisvandenbossche found. Writing the API doc pages was as slow in with 1.7b as with `1.6.*`, which is slower than `1.5.*`

Version | time
------ | -----
1.5  | 31.47
1.7b | 63.23

I'll try to profile the slowdown next week.

[2018-01-23 16:01] stephenfin commented on #4474
Cool. Just please don't assign `.txt` to Markdown. That's my point 😄

[2018-01-23 16:03] stephenfin commented on #4230
@TomAugspurger Are you sure you're starting from a fresh environment each time? You should be deleting the entire build directory including doctrees.

If you do have time to profile this, it would be much appreciated.

[2018-01-23 16:06] tk0miya commented on #4474
Yes, of course. We don't provide markdown parser. So it will cause crashes if we do that.

[2018-01-23 16:42] cank commented on #4446
Downgrading to 1.6.5 is indeed a workaround to this.

```pip install sphinx==1.6.5```

[2018-01-23 17:05] gtristan commented on #4375
In this case yes, sorry i tend to use the word API loosely but its also a loosely defined term, and usually used when discussing stability, i.e relying in the interfaces to remain compatible for downstreams which depend on consistency (in this case, python projects who have build scripts which directly invoke sphinx CLI by name, and expect it to continue working indefinitely).

It is in this sense

[2018-01-24 09:30] MingfeiPan commented on #3295
reinstall 1.5.2,  work perfectly in macox 10.12.3 with python 2.7.13

[2018-01-24 10:16] jfbu commented on #4479
I have opened a [Docutils issue](https://sourceforge.net/p/docutils/bugs/341/).

For what a Block quote is see [here](http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#block-quotes)

[2018-01-24 12:24] tk0miya opened #4484 "Proposal: Roadmap to Sphinx-2.0"
### Goal of 2.0

* Make APIs and configuration items stable and public.
    * Remove deprecated APIs and configuration variables so far and make our code simple
* Drop old environment supports
    * Python 2
    * Ubuntu 14.04 (EOL)
        * Start to use 16.04 as a standard version
    * docutils-0.12
    * TeXLive 2014 (or 2015?)
* Split unmaintained or less used builders and extensions to exter

[2018-01-24 14:42] TomasTomecek commented on #4479
thank you!

[2018-01-24 16:02] tk0miya opened #4490 "The result of format_annotation() has been changed with python 3.7.0a4+"
### Problem
- The result of format_annotation() has been changed with python 3.7.0a4+.

#### Procedure to reproduce the problem
- Run tests of Sphinx with python 3.7.0a4+

#### Error logs / results
https://travis-ci.org/sphinx-doc/sphinx/jobs/332762559#L2003

[2018-01-24 16:06] tk0miya commented on #4490
Since py370a4+, the implementation of `typing` module has been changed (ref: https://github.com/python/cpython/pull/4906)
[code]
[code]

For this reason, the result of `format_annotation()` has been changed.
[code]
There are `+`, `-` and `~` prefix on annotation.

[2018-01-24 16:08] tk0miya commented on #4490
Note: I just pushed workarounds for this;  #4488 and #4489 to pass test cases temporarily.

[2018-01-24 16:14] tk0miya commented on #4477
Fixed by #4480.
Thank you for reporting

[2018-01-24 16:14] #4477 closed, assigned to nobody

[2018-01-24 16:15] tk0miya commented on #4478
Fixed by #4480.
Thank you for reporting

[2018-01-24 16:15] #4478 closed, assigned to nobody

[2018-01-24 18:24] oleksandr-pavlyk opened #4492 "New in 1.7: samefile check against smartypants in flake8 plugin raises OSError"
Subject: OSError raised in flake8 plugin during a work-around `samefile` check

While making a [filesame comparison to smartypants.py](https://github.com/sphinx-doc/sphinx/blob/1.7-release/utils/checks.py#L51) in the flake8 plugin an `OSError` is being raised.

Consequentialy, build of scikit-image fails due to error in `flake8`  run when sphinx 1.7.0b1 is used with error ``OSError: [Errno 2] No s

[2018-01-24 23:37] shimizukawa commented on #4484
Cool!

[2018-01-25 05:21] shirou opened #4493 "'Values' object has no attribute 'pep_references' missing with 1.7.0b1"
Subject: 'Values' object has no attribute 'pep_references' in 1.7.0b1

### Problem

When I sphinx-build 1.7.0b1 with old environment, build stopped which AttributeError

Perhaps, this is related to `recommonmark`.

#### Procedure to reproduce the problem
[code]

#### Error logs / results

At first, I got this `smartquotes_locales` error.
[code]

But after retry, I got new error.

[code]

#### Expe

[2018-01-25 16:26] tk0miya commented on #4492
@stephenfin could you check this please?
It seems `utils` package is installed globally. This is not good. As you mentioned in `setup.py`, it is better to use `flake8:local-plugins` instead.

[2018-01-26 04:14] tcaduser opened #4497 "make latexpdf fails on table"
Subject: latexpdf fails on this table

### Problem

pdf compilation fails on this table.  If I remove one of the lines in the second row, it compiles fine.

#### Procedure to reproduce the problem

Run the attached example as part of a sphinx project.

[code]

#### Error logs / results
It looks like the \hline from latex doesn't have any space to the first word in the next cell.  I can't find any

[2018-01-26 07:37] jfbu commented on #4497
Thanks for reporting and for the test case, this is a duplicate of #4431 and it has been fixed in stable branch at d3058f4 (for 1.6.7 if the latter is released or for 1.7). The 1.7.0b1 did not get the patch but of course 1.7.0b2 will have it.

[2018-01-26 07:37] #4497 closed, assigned to nobody

[2018-01-26 12:48] sakazu310 opened #4500 "solve : [collapsiblesidebar] Doesn’t work with “stickysidebar” in classic theme."
In the [document](http://www.sphinx-doc.org/en/stable/theming.html),
[code]

However, we can use both by adding following:

In **conf.py** [html_theme_options] ,
[code]

In **classic.css**
[code]

[2018-01-26 12:57] shirou commented on #4493
Sorry, after first error, the error was changed.

[code]

to reproduce
https://gist.github.com/shirou/252693be49ad642ef65a1f8371c186b6

It may be an recommonmark issue.

[2018-01-26 13:07] juh2 opened #4501 "epub3 validation error caused by sphinx.ext.inheritance_diagram"
Subject: I am validating a project with an inheritance-diagram

### Problem
- When validating the epub with epubcheck 4.0.2 I get a validation error.

#### Procedure to reproduce the problem

Simply build a diagram eg.

[code]

#### Error logs / results
[code]

#### Expected results

validation without errors

### Environment info
- OS: <Unix/Linux/Mac/Win/other with version>
- Python version: 3.5

[2018-01-26 13:42] jfbu commented on #4493
Commenting out from conf.py's setup(app)

    app.add_transform(AutoStructify)

allows your minimal example to compile.

[2018-01-26 13:59] shirou commented on #4493
Wehn I remove `AutoStructify`, success to build and code-highting also works.

I wonder `add_transform(AutoStructify)` is not required although it is in the document. But anyway, it works for me and it is recommonmark issue and not related to Sphinx itself directly.

Thank you!

[2018-01-26 14:14] EricG-Personal commented on #3545
I would love to see this implemented as well.

[2018-01-26 14:19] goerz commented on #3545
I will get back to this at some point, eventually..

[2018-01-26 14:26] stephenfin commented on #4446
I think this can be closed now, @tk0miya? It was resolved in #4449 so I've guessing this will be fixed in 1.6.7 and 1.7

[2018-01-26 14:35] dhellmann commented on #4446
@stephenfin it wasn't clear to me whether #4450 (on master) is still needed to ensure we don't have a regression. I'm not familiar with the sphinx development workflow.

[2018-01-26 23:09] stephenfin commented on #4484
Surely 18.04? That will be released in a few months (2018-04).

I'd be a little nervous about this one. I agree that some builders could/should definitely be moved, but extensions are a whole other game. We should definitely discuss this at length. It will be controversial, but I think the biggest thing we could and should split out is `sphinx.ext.autodoc` and related extensions/utilities.

---

T

[2018-01-27 05:13] tk0miya commented on #4446
I'll close this after merging #4449 to 1.7-release branch.

[2018-01-27 05:36] tk0miya commented on #4484
Thank you for comment!

Basically, we use active Ubuntu LTS to determine what version of tooling we have to support (ex, TeXLive).
At 2019-04, Ubuntu 14.04 will go EOL. So I meant moving 16.04 for our base version of Ubuntu.

Okay, let's discuss it. This is only my proposal, so it is not determined yet.

Sounds good. +1!!

Sorry, I don't have plan for visiting for now.
In any case, I can't speak E

[2018-01-27 05:40] tk0miya commented on #4493
Reopened for investigation.
I'd like to know where the error comes from. I think the change is not intended on 1.7.

[2018-01-27 06:02] tk0miya commented on #4501
Hmm? HTML5 spec says the href attribute is optional.

I have to know why epubcheck warns this.

[2018-01-27 06:33] tk0miya opened #4503 "codecov.io for Sphinx does not work"
### Problem
- codecov.io for Sphinx does not work: https://codecov.io/gh/sphinx-doc/sphinx
- It was added by #4337

#### Error logs / results
https://codecov.io/gh/sphinx-doc/sphinx/commit/fd2425238e5407b5caf9b3f8d9e7840de7dc6583
[code]

#### Expected results
Works fine or disable it.

[2018-01-27 06:34] tk0miya commented on #4503
@stephenfin could you check this please? What should I do?

[2018-01-27 12:10] shibukawa commented on #4501
I am checking the issue. inheritance-diagram extension calls graphviz extension inside it. The HTML fragments that includes <area> tags is generated via Graphviz and imported at the following location. To fix the issue, we have to parse the HTML and modify the content.

https://github.com/sphinx-doc/sphinx/blob/stable/sphinx/ext/graphviz.py#L257

[2018-01-27 15:19] tk0miya commented on #4446
Now merged into 1.7-release and master.
Thanks!

[2018-01-27 17:08] tk0miya commented on #3917
Fixed by #4504
Thank you for reporting

[2018-01-27 17:08] #3917 closed, assigned to nobody

[2018-01-27 17:12] tk0miya commented on #4490
Fixed by #4502

[2018-01-27 17:12] #4490 closed, assigned to nobody

[2018-01-27 18:37] tk0miya commented on #4398
ping @shimizukawa
Do you have time for such changing? AFAIK there are some tasks around tags/branch models (transifex, readthedocs and so on). If you don't have, we can't move to new model.
So please let me know that.

[2018-01-27 23:01] Suzumizaki commented on #4484
Hello, I'm back from breaking about several years.

How do you think about perfect (not PARTIAL!) Japanese language support?
I made some extension against Sphinx 1.3, listed below URL:
http://h12u.com/sphinx/index.html

That includes:
- User defined sort order to list in the index pages
- Yomigana based sort order feature
- (HTML5 output, with filenames and anchors written in unicode characters di

[2018-01-28 02:52] shimizukawa commented on #4398
I understood the conclusion in this discussion as follows..

branches:

- `master`: next major release that accept new features.
- `stable`: current stable release that only accept bug fixes.
- `X.Y-release`: feature freeze for a next major release (that removed after major releasing)

tags:

- `X.Y`: Point to latest release of X.Y series to build doc on RTD (en)
- `vX.Y.Z`: release tag.

I think

[2018-01-28 04:07] tebanep commented on #2022
Something like:

cd docs/
rsync -R **/.htaccess _build/

Could be used to copy .htaccess files inside subdirectories.

[2018-01-28 04:24] tk0miya commented on #4492
Fixed by #4498.
Please test HEAD of 1.7-release branch or wait for 1.7b2.
Thank you for reporting

[2018-01-28 04:24] #4492 closed, assigned to nobody

[2018-01-28 05:07] tk0miya commented on #4398
@shimizukawa almost right

This is not determined yet. We might use branches for this purpose if we find good tooling.
(see my comment above: https://github.com/sphinx-doc/sphinx/issues/4398#issuecomment-359247403)

I'd like to choose tag to manage series if no tooling found within a week (because we have new major release soon!).

Note: I don't mean this choice does not prevent to move branch mod

[2018-01-28 05:26] tk0miya commented on #4484
@Suzumizaki Thank you for proposal. That sounds good.
But I'd like not to promise the target release of them. Because we don't have enough time to work for Sphinx.
I know your proposal is enough good and worthy. So I can promise you to work in my best.

Please send us PRs for them. I'll review them step by step. Always welcome :-)

[2018-01-28 10:07] yapale commented on #4201
pip  uninstall markupsafe
pip  install markupsafe==0.23

solved the problem

[2018-01-28 11:01] stephenfin commented on #4398
I'm still investigating this. I want to write one myself using [hubot](hubot.github.com) but I haven't had time. How about using `X.Y` branches and then deleting the branch and replacing it with an `X.Y` tag at EOL? That way we don't break references and don't move tags about.

[2018-01-28 11:12] tk0miya commented on #3952
Fixed by #4511.
Thank you for reporting

[2018-01-28 11:12] #3952 closed, assigned to nobody

[2018-01-28 12:04] tk0miya commented on #4275
Fixed by #4510.
Thank you for reporting!

[2018-01-28 12:04] #4275 closed, assigned to nobody

[2018-01-28 12:15] #4460 closed, assigned to nobody

[2018-01-28 12:50] tk0miya commented on #4375
Thanks, I understand what you mean and what you want.
I know python version is related with autodoc builds. But I feel it is too much to make Sphinx parallel installable for this case. How about using virtualenv or `pythonX -m sphinx` instead?

[2018-01-28 12:56] tk0miya commented on #4398
Sounds good. It seems very easy and simple.
What we should do is renaming stable to `X.Y` branch and replace it by tag on next major release.
Any tooling is not needed. That's perfect.
+1 for your idea.

@shimizukawa any opinion?

[2018-01-28 12:58] josephcslater commented on #2022
This was actually patched by [#2237](https://github.com/sphinx-doc/sphinx/pull/2237) and is no longer an issue.

The "problem" with your solution is it adds another step to the build process, beyond `make html` and is something that users would have to learn to add. Thus the patch is better as it supports the default assumption by users that files indeed are copied.

[2018-01-28 13:07] shimizukawa commented on #4398
+10!

[2018-01-28 13:26] tk0miya commented on #4211
We have some updates on 1.7-release branch. So I'll ship a next beta release in a few days (maybe tomorrow).
And I'll ship final release on this weekend (Feb 3-4th) or next one (Feb 10-11th).

Please let me know your opinion.
Thank you always for your help.

[2018-01-28 13:26] gtristan commented on #4375
That is an option, i think @stephenfin mentioned something similar on irc, and that it will become a possibility in a later release after he breaks the internal python api we would have to call in that module.

As i understand it, its not yet a possibility, or there is an upcomming api break which means i should just wait for now.

[2018-01-28 15:57] tk0miya commented on #4500
Could you send us a PR please?
Then I'll check it later.

[2018-01-28 16:03] tk0miya commented on #4481
Hmm... sorry, I'm not good at both babel and Arch Linux. Please ask to the babel project about the message.
Thanks,

[2018-01-28 16:53] tk0miya commented on #4353
I'm closing this now because it seems no updates.
Feel free to reopen this if you still have this problem.

Thanks,

[2018-01-28 16:53] #4353 closed, assigned to nobody

[2018-01-28 16:53] tk0miya commented on #4348
I'm closing this now because it seems no updates.
Feel free to reopen this if you still have this problem.

Thanks,

[2018-01-28 16:53] #4348 closed, assigned to nobody

[2018-01-28 16:55] tk0miya commented on #4277
It seems nobody know the best settings.
But #3947 is added now. So let's improve it.
I'm closing this now because of #3947.

Thanks,

[2018-01-28 16:55] #4277 closed, assigned to nobody

[2018-01-28 16:56] tk0miya commented on #4264
I'm closing this now because it seems no updates.
Feel free to reopen this if you still have this problem.

Thanks,

[2018-01-28 16:56] #4264 closed, assigned to nobody

[2018-01-28 16:57] tk0miya commented on #4190
I'm closing this now because it seems no updates.
Feel free to reopen this if you still have this problem.

Thanks,

[2018-01-28 16:57] #4190 closed, assigned to nobody

[2018-01-28 17:00] tk0miya commented on #3892
I'm closing this now because it seems no updates.
Feel free to reopen this if you still have this problem.

Thanks,

[2018-01-28 17:00] #3892 closed, assigned to nobody

[2018-01-28 17:00] tk0miya commented on #3887
I'm closing this now because it seems no updates.
Feel free to reopen this if you still have this problem.

Thanks,

[2018-01-28 17:00] #3887 closed, assigned to nobody

[2018-01-28 17:05] tk0miya commented on #4244
PR is always welcome :-)

[2018-01-28 17:08] tk0miya commented on #4219
-1; we don't have enough time to implement it. Please make it as an extension.

[2018-01-28 22:56] Suzumizaki commented on #4484
Thanks @tk0miya, I have a question.

How to send you "PRs" as you say? For example, do you mean the normal pull request is NOT enough?

[2018-01-29 11:51] stephenfin commented on #4484
PR = pull request 🙂

[2018-01-29 11:52] stephenfin commented on #4503
I'll have a look at this this week. I suspect it's something to do with `pytest-cov` and how we're calling it, personally

[2018-01-29 12:07] tk0miya opened #4514 "graphviz: same map id is assigned for different graphs"
### Problem
- When the document has multiple graphviz graphs
- same map id is assigned for them

#### Procedure to reproduce the problem
[code]

#### Error logs / results
Following HTML is generated. There are multiple `<map>` tags having `id="#%3"`. `usemap` attribute is also.
[code]

#### Expected results
- Generate valid HTML and correct clickable maps

### Environment info
- OS: Mac
- Python v

[2018-01-29 12:08] tk0miya commented on #4514
Note:
`%3` is comes from graphviz (see https://gitlab.com/graphviz/graphviz/issues/1327).
Anyway Sphinx should assign better IDs to every graphs.

[2018-01-29 12:13] tk0miya commented on #4484
Yes, I meant normal pull requests 😄

[2018-01-29 13:14] tk0miya commented on #4493
Fixed by #4512.
Thank you for reporting

[2018-01-29 13:14] #4493 closed, assigned to tk0miya

[2018-01-29 14:17] tk0miya commented on #4402
Updated by #4517
Thank you for reporting!

[2018-01-29 14:18] #4402 closed, assigned to nobody

[2018-01-29 15:18] tk0miya commented on #4501
Fixed by #4515
Thank you for reporting!

[2018-01-29 15:18] #4501 closed, assigned to nobody

[2018-01-29 15:18] tk0miya commented on #4514
Fixed by #4515

[2018-01-29 15:18] #4514 closed, assigned to nobody

[2018-01-29 15:47] codingjoe opened #4520 "Subpackage not in toc"
Subject: Subpackage not in toc

### Problem
In [this commit](https://github.com/sphinx-doc/sphinx/commit/023dad6c6697b551a0a6a5f952a895185bce178c) it seems, there was a bug introduce. The bug does is the reverse of what the commit is trying to achieve.
Subpackages in version `Sphinx (sphinx-apidoc) 1.6.6` are only picked up if they DO NOT contain a `__init__.py` file. Which doesn't make them packa

[2018-01-29 15:58] tk0miya commented on #4209
Fixed by #4519
Thank you for reporting!

[2018-01-29 15:58] #4209 closed, assigned to nobody

[2018-01-29 16:43] tk0miya opened #4522 "epub document is not rebuilt even if config changed"
### Problem
- epub builder does not rebuild the document even if config changed.

#### Procedure to reproduce the problem
[code]

#### Expected results
- epub builder goes to rebuild when config changed

[2018-01-29 16:47] tk0miya commented on #4520
Is this related with #4449? If true, it was already fixed at HEAD of stable branch.
Could you try it please?

[2018-01-30 00:36] Suzumizaki commented on #4484
@stephenfin @tk0miya Hahaha... Thanks, and sorry. I understand.

I also cannot start suddenly now, but I will try to. later!

[2018-01-30 01:45] tk0miya commented on #4058
Fixed by #4247.
Thank you for reporting

[2018-01-30 08:40] jorisvandenbossche commented on #4058
I am not the original reporter of the issue, but to me it seems that his enhancement request was more broad than what #4247 fixed (expose more variables to autosummary).

[2018-01-30 12:15] tk0miya commented on #4230
I investigated what happened in writing (in `Builder._write_serial()`):
[code]

As a result, I got following profile:
[code]

This result says `new_document()` is too heavy. Certainly, it is called on `SphinxTransformer.apply()`.

Furthermore, I also tested how heavy the function is.
This is a comparison it with instantiation of document node.
[code]

I think this is a cause of slowdown.

[2018-01-30 12:26] tk0miya commented on #4230
Note: This is my dockerfile for this issue:
[code]

[2018-01-30 12:44] tk0miya commented on #4211
I'd worked for #4230 yesterday and today. So I don't release 1.7.0b2 yet.
But I almost finished work about it on #4523. so I can ship it tomorrow.

Because of the late of beta2, I'd like to release the 1.7.0 final on next weekend (Feb 10-11th).
In Japan, I and @shimizukawa will have hack-day in 11th. It's good chance to work to me.

[2018-01-30 12:53] tk0miya opened #4524 "1.6.7 release plan"
February will be coming soon. so it's time to stable release. (1.6.6 was shipped at Jan 8th).
I know its support term is very short because next major release will be also coming. But I feel it is better to flush stable fixes before major release.
We already have some fixes on stable branch:
https://github.com/sphinx-doc/sphinx/blob/f92aed1367a914f50311fe2288aba22cf0b903cd/CHANGES#L19-L28

I'll do

[2018-01-30 13:54] tk0miya commented on #4230
On my local, #4523 resolves this problem. Could you try it please?
(I will release 1.7.0b2 including #4523 tomorrow)

Please let me know if it is still slow.

[2018-01-30 14:16] tk0miya commented on #4398
It seems everyone gets agreed, right?

[2018-01-30 14:20] jorisvandenbossche commented on #4230
@tk0miya Thanks a lot for looking into this. I will try it out.

[2018-01-30 14:24] tk0miya commented on #4058
oh, I'd misunderstood. Thanks,

[2018-01-30 15:24] tk0miya commented on #4520
Ah, sorry. it is not related with this.
[code]

[2018-01-30 16:27] jorisvandenbossche commented on #4230
I tried this out, but I unfortunately cannot test it, as it appears that sphinx dev version is not building our docs correctly. Almost all API doc pages are empty (and thus do build faster .. but without being good comparison).

The reason seems to be that in the docstring pages generated by autosummary, all occurences of `.. automethod:: Series.abs` are changed in `.. autodata:: abs`, which then

[2018-01-30 16:45] jorisvandenbossche commented on #4230
So trying to look through the log output of sphinx 1.7.
I see the following (when reading the source of generated/pandas.Series):

[code]

It clearly mentions 'method' in that last line, but, it writes a file with `autodata`, resulting in an error in the next step when reading the generated (in the above step) file 'generated/pandas.Series.abs':

[code]

---

As a comparison, the equivalent bits o

[2018-01-30 16:50] stephenfin commented on #4484
Yes, but we will not be starting 2.0 development for another few months. Why not wait until 18.04 is out instead of 16.04?

[2018-01-30 17:10] tk0miya commented on #4474
Now #4483 is merged. Thank you for comment!

[2018-01-30 17:10] #4474 closed, assigned to tk0miya

[2018-01-31 01:27] tk0miya commented on #4230
It seems generated HTML files does not change between 1.7.0b1 and latest.
It might be related with #4198 (also included in 1.7.0b1).

[2018-01-31 01:50] tk0miya commented on #4230
This is my dockerfile for the investigation.
[code]

And below is a result of diff between 1.7.0b1 and 1.7-release branch (HEAD).
[code]

[2018-01-31 04:58] tk0miya commented on #4484
What I called "standard version" is used to determine what version of tooling we should support. It also uses for testing. We've chosen oldest ubuntu LTS for it. At present, the standard version is 14.04.

So moving to 18.04 means relatively new toolings are not supported.
For example, 18.04 provides python-3.6.3. therefore py35 support is dropped.
https://packages.ubuntu.com/ja/bionic/python3

[2018-01-31 11:00] stephenfin commented on #4484
Oh, where is this actually used? I imagine we'll still be using Travis for our CI tests so there's not reason we have to drop py35. FWIW, I develop and test on Fedora (27 at the moment) which comes with multiple Python versions 😄

[2018-01-31 11:41] #4230 closed, assigned to nobody

[2018-01-31 11:52] tk0miya commented on #4484
It is used both testing and decision of support tooling. I don't understand why do you want to move "standard version" to 18.04.

Note: I don't know "standard version" is good wording. criteria? base version? support platform? Anyway, I wrote its purpose on last message.

[2018-01-31 12:01] tk0miya commented on #4019
Is there anything I can do for this?
I also would like to fix this, but I don't know how to reproduce.

[2018-01-31 12:04] jorisvandenbossche commented on #4230
@tk0miya shall I open a new issue for the API docs problem?

[2018-01-31 12:28] dpizetta commented on #4019
Hi, I can submit my PR. The problem is that I don't figure out what is the real cause of the problem. So I can't create a test for it. I'm using this fix, and I didn't find any problem with it. For me, this is just a logic problem (return of match is None), and it still keeps warning about the not found module. May you can accept the PR. Any other ideas?
[code]

[2018-01-31 12:50] tk0miya commented on #4230
ah, sorry. I closed this unintentionally (on merging to master).
anyway I think this issue was fixed by #4523.
so could you file a new issue please? I'll take a look later.

Thanks,

[2018-01-31 13:16] tk0miya commented on #4019
I noticed invalid modname causes an AttributeError.
[code]
[code]

@dpizetta could you make a PR please?

[2018-01-31 13:42] #4522 closed, assigned to nobody

[2018-01-31 14:44] jorisvandenbossche opened #4531 "API doc pages generation with autosummary broken for pandas with 1.7b"
### Problem

The API pages in the pandas documentation that are generated by `autosummary` pages are no longer building correctly

The reason seems to be that in the docstring pages generated by autosummary, all occurences of `.. automethod:: Series.abs` are changed in `.. autodata:: abs`, which then fails to fetch the docstrings, resulting in empty pages.

See also https://github.com/sphinx-doc/s

[2018-02-01 03:32] shirou commented on #4493
I confirmed this problem is not occured on 1.7.0b2. Thank you so much!

[2018-02-01 09:18] ghtmtt opened #4533 "Transifex documentation not updated with last version"
Hi,

I did not find any answer to this problem and I hope there is the right place to raise this topic.

### Problem
I have a sphinx project (https://github.com/ghtmtt/DataPlotly/help) connected with a Transifex resource in order to provide translations (https://www.transifex.com/dataplotly/dataplotly-manual/dashboard/).

#### Procedure to reproduce the problem
Until some time ago I was able to us

[2018-02-01 10:42] ghtmtt commented on #4533
Ok guys, I solved the issue and it was my fault/misunderstanding.

Actually there not problems with new files added **but** if you have set up transifex (and the related config file) **before** adding new `rst` files you have to add this file in `.tx/config`.

Transifex is not recognizing them automatically.

Sorry for the noise, I'll close the issue.

[2018-02-01 10:42] #4533 closed, assigned to nobody

[2018-02-01 15:11] tk0miya commented on #4531
Thank you for reporting. I'll take a look later!

[2018-02-01 17:25] abchenson opened #4534 "autosummary not listing attributes"
Subject: autosummary not listing attributes
### Problem
- On 1.6.6, when a class is included in an autosummary list witht the `:toctree:` option set, the generated page does not have an attribute list.  Class, instance and property attributes are all missing despite being present if autoclass is used.

- To me, it's a bug that autoclass and autosummary behave differently with respect to what items

[2018-02-01 17:42] abchenson commented on #4534
This similar to an old issue: https://github.com/sphinx-doc/sphinx/issues/3257
But different in that (a) all attributes are missing and (b) it's pointed out that autoclass works fine but class pages generated by autosummary do not do the same thing
there also https://github.com/sphinx-doc/sphinx/issues/4280 which is similar and has a suggestion for solving but has not seen any response

[2018-02-02 02:08] timhoffm commented on #3907
basically, you can adapt the css to include

[code]

[2018-02-02 07:57] thomasmansencal commented on #344
#1444 might fix the issue for classes but I unfortunately still have the issue for module attributes, `:automodule:` gives correct output for reference.

A mediocre workaround I found is to forcibly set the `__doc__` field, e.g.:

[code]

This is very limited because quite a lot of Python objects have read-only `__doc__` attribute and it will then break `:automodule:`.

Here is a playground zip fi

[2018-02-02 10:07] rowanG077 commented on #3132
Is this planned at all? I have the same use case as @zygoloid. We generate a part of our rst file and the other part is in our source directory. Currently we copy the entire source docs directory to the build directory and then build it using sphinx but we would really like to use autobuild to view our documentation in real-time. There is no solution for me right now but this feature would fix tha

[2018-02-02 11:54] ephracis opened #4535 "Cannot include dynamic list of files"
Subject: Error when using include inside jinja template

### Problem
Using `.. include::` inside a `.. jinja::` block results in error.

#### Procedure to reproduce the problem
[code]

#### Error logs / results

[code]

#### Expected results
The build should complete without errors and the build should include all files in the list.

### Environment info
- OS: Linux and Mac
- Python version: 2.7
-

[2018-02-02 12:27] tk0miya commented on #4534
I guess #4247 resolved this issue. Could you try 1.70b2 please?

[2018-02-02 15:25] tk0miya commented on #4531
I just make #4536 to fix this. Please try it out.

[2018-02-02 15:28] #4019 closed, assigned to nobody

[2018-02-02 15:33] tk0miya commented on #4535
`jinja` directive is not sphinx's. Could you report this to the extension's project?

[2018-02-02 15:33] abchenson commented on #4534
This is an improvement: class variables and properties are now showing up in the attributes list.  But autoclass and autosummary are still showing different lists of attributes, and the list of attributes of autosummary is incomplete, because it misses out instance attributes which are included by autoclass.  Might have something to do with what daphtdazz says the the answer here https://stackover

[2018-02-02 16:03] tk0miya commented on #344
@KelSolaar what version of sphinx do you use? Latest Sphinx considers the string after assignment is a docstring of the variable.

[2018-02-02 16:10] tk0miya commented on #3132
We don't have any plan for this. So I set milestone as "some future version".
Any PRs are always welcome.

Thanks,

[2018-02-02 16:57] jorisvandenbossche commented on #4230
I re-did timings with 1.5.6, 1.6.6, and 1.7 (release branch):

Version | time
-- | --
1.5 | 35 - 37 s
1.6 | 1m20 - 1m28
1.7b | 45 - 47s

So current 1.7 release branch is indeed a lot faster as 1.6, although not fully as fast as 1.5 (I think that will enable us to use 1.7 for building the pandas docs)

[2018-02-02 19:33] thomasmansencal commented on #344
I was using *1.5.7*, upgraded to *1.6.6* and it breaks:

[code]

[2018-02-02 19:52] thomasmansencal commented on #344
I quickly commented the conditional block in `python2.7/logging/__init__.py` to have the build passing and still same output `:autosummary:` does not use the docstrings:

Autosummary
---
![image](https://user-images.githubusercontent.com/99779/35751987-290d66b6-08bf-11e8-89a0-1212e81aef5c.png)

![image](https://user-images.githubusercontent.com/99779/35752008-3ff94fe8-08bf-11e8-918f-f7851abd657f.p

[2018-02-02 20:01] thomasmansencal commented on #344
The same exception is raised by 1.7.0b2, performing the build by commenting the conditional block in `python2.7/logging/__init__.py` unfortunately yields same output:

Autosummary
---

![image](https://user-images.githubusercontent.com/99779/35752376-9d2fb1c4-08c0-11e8-9a1d-c11caaef7e8c.png)

[2018-02-03 00:03] njsmith opened #4538 "regression in 1.7.0b2: sphinx.ext.autodoc.Options moved"
In previous releases, `from sphinx.ext.autodoc import Options` worked. This was treated as a public API by both sphinx's internal extensions (e.g. `sphinx.ext.autosummary` did this), and also external extensions like sphinxcontrib-asyncio and sphinxcontrib-trio (https://github.com/python-trio/sphinxcontrib-trio/issues/7). In 1.7.0b2, the `Options` class has moved to `sphinx.ext.autodoc.directive`,

[2018-02-03 01:01] tk0miya commented on #2869
I think reST spec might help you.
http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#escaping-mechanism

Personally, I don't use `*` and `**` for param notations.

[2018-02-03 01:04] tk0miya commented on #2903
It seems this was already fixed by https://github.com/sphinx-doc/sphinx/commit/ae1f523d52cc42d4836e1408846d4b18434b1f3a.
So I'm closing this now.

Thanks,

[2018-02-03 01:04] #2903 closed, assigned to nobody

[2018-02-03 03:01] tk0miya opened #4539 "autodoc emits warnings for partialmethods"
### Problem
- autodoc emits warnings for partialmethods

#### Procedure to reproduce the problem
Call `autoclass` for a class having partialmethod like following:
[code]
[code]

#### Error logs / results
[code]

#### Expected results
Not warned.

### Environment info
- OS: Linux
- Python version: 3.6
- Sphinx version: 1.7.0b2

[2018-02-03 03:05] tk0miya commented on #2823
I confirmed. It seems you can do it with variable comment. How about this?
[code]

[2018-02-03 04:56] tk0miya commented on #2815
We have to consider how to describe (or represent) singledispatch-ed functions.

* Should we display argspec of each overload function?
* Should we display docstring of them?
* How to mention to them? link? make a list?
* Should overload functions be displayed under `automodule`?

[2018-02-03 06:19] tk0miya commented on #2645
It looks like the issue is fixed. But it is not released yet.
Let's take a look again after the release.

[2018-02-03 06:23] tk0miya commented on #2490
It seems new javasphinx has been released.
So this is completely fixed now!

[2018-02-03 06:23] #2490 closed, assigned to shimizukawa

[2018-02-03 08:04] tk0miya commented on #2275
With python-2.7.14 and sphinx-1.6.6, it works fine.
[code]

I don't know when this was fixed. Anyway, this issue is no longer needed.
So I'm closing this now.

Thank you for reporting!

[2018-02-03 08:04] #2275 closed, assigned to nobody

[2018-02-03 08:26] #2852 closed, assigned to nobody

[2018-02-03 08:26] tk0miya commented on #2852
Fixed by #4537
Thank you for reporting!

[2018-02-03 08:27] tk0miya commented on #2372
Fixed by #4541
Thank you for reporting!

[2018-02-03 08:27] #2372 closed, assigned to nobody

[2018-02-03 08:32] tk0miya commented on #4531
Fixed by #4536. Closed.

[2018-02-03 08:32] #4531 closed, assigned to nobody

[2018-02-03 08:33] tk0miya commented on #4538
Okay, I'll do it later.
Thanks,

[2018-02-03 08:38] tk0miya commented on #4230
Good to know.
I think next tuning point is autodoc module. But it is too complicated to me. So it might be in 2.0 or 3.0.
Anyway, thank you for reporting. Please let me know if you have another trouble. I'll do my best :-)

[2018-02-03 08:40] #4539 closed, assigned to nobody

[2018-02-03 08:40] tk0miya commented on #4539
Fixed by #4540.

[2018-02-03 12:15] anntzer commented on #2815
The original suggestion was to have a separate entry for each function and link them to one another, but I'm sure there are better ways to do this.

[2018-02-03 12:19] tk0miya commented on #344
It seems `data.Data.__len__()` is invalid. why does it requires an argument? And why not returns length?
[code]

[2018-02-03 12:27] tk0miya commented on #344
Oh, sorry. I'd confused with autodoc. certainly autosummary does not refer the docstring.

[2018-02-03 12:41] TomAugspurger commented on #4230
Thank you for tracking it down!

On Sat, Feb 3, 2018 at 8:39 AM, Takeshi KOMIYA <notifications@github.com>
wrote:

[2018-02-03 13:05] tk0miya commented on #2815
If developers uses same name for overload functions like following, it will be overrided in namespace.
[code]
In this case, autodoc cannot make a entry for `int` handler.

And I also worried about defining overload functions at other module:
[code]

In my quick investigation, it seems the overload function does not have any special attribute. So it is hard to distinguish them from normal functions

[2018-02-03 13:08] tk0miya commented on #4534
oh, sorry. I must study about autosumary... (I'm not good at it)

[2018-02-03 18:03] rowanG077 opened #4543 "tests aren't all passing in master branch"
Subject: test is failing with python 3.5

### Problem
Running tests after cloning master branch results in a failed unit test.

#### Procedure to reproduce the problem
I followed the procedure to setup dev environment like detailed in https://github.com/sphinx-doc/sphinx/blob/master/CONTRIBUTING.rst, I used the following command `tox -e py35`

#### Error logs / results
[code]

#### Expected result

[2018-02-03 20:56] thomasmansencal commented on #344
@tk0miya : Ah good catch, it is when I created the example, I copy-pasted the `__contains__` method to generate the missing methods. I have updated my example, `__iter__` was also broken.

I'm having issues trying to document attributes that are directly defined from `dict`:

[code]

I have started to pepper my code with explicit assignments to `__doc__` but cases like above  or even documenting f

[2018-02-04 00:19] eflanigan00 commented on #3909
@tk0miya can you tag this with proposal?
Unless there is a way to do this already

[2018-02-04 00:31] eflanigan00 commented on #4309
Testing with a fresh download of MathJax/config/default.js seems to work fine.
I think anaconda doesn't ship with the full mathjax to support what I'm trying to do.

This is what I need:

    mathjax_path = 'file://C:/ProgramData/Anaconda3/Lib/site-packages/notebook/static/components/MathJax/MathJax.js?config=default.js'

[2018-02-04 00:31] #4309 closed, assigned to nobody

[2018-02-04 00:43] eflanigan00 commented on #4003
@tk0miya can we reopen this as a feature request? This is a feature I would use a lot. Even if it isn't implemented right away I think it should be a long term goal to support this.

[2018-02-04 05:58] tk0miya commented on #4543
Could you let me know the revision of python you used?
We uses 3.5.4 for our testing. And it works fine.

[2018-02-04 06:23] tk0miya commented on #3942
reopend. because this should be fixed by basic theme, not user custom style.

[2018-02-04 09:26] gplanansky commented on #3270
I do not see this issue with 1.6.3 (provided with an anaconda3 package).   I do not have observations for other versions (than 1.5.2).

[2018-02-04 09:36] gplanansky commented on #3270
I no longer see this issue using  Sphinx version 1.6.5  an anaconda3
package

   python --version
   Python 3.6.3 :: Anaconda, Inc.

On Sat, Oct 21, 2017 at 6:51 AM, Takeshi KOMIYA <notifications@github.com>
wrote:

[2018-02-04 09:44] tk0miya commented on #1685
Indeed. Closed.

[2018-02-04 09:44] #1685 closed, assigned to nobody

[2018-02-04 13:50] tk0miya commented on #4538
Fixed by #4547
Thank you for reporting!

[2018-02-04 13:50] #4538 closed, assigned to nobody

[2018-02-04 14:19] tk0miya commented on #4503
Fixed by #4542.

[2018-02-04 14:19] #4503 closed, assigned to nobody

[2018-02-04 14:20] eflanigan00 commented on #3942
I am not sure if what the default is. But I think the default should be center for tables.

[2018-02-04 14:24] #3942 closed, assigned to nobody

[2018-02-04 16:08] tk0miya commented on #4524
just released!
https://pypi.python.org/pypi/Sphinx

The next target is 1.7.0 :-) Thank you always!

[2018-02-04 16:08] #4524 closed, assigned to nobody

[2018-02-04 16:37] tk0miya commented on #3942
@eflanigan00 reasonable, but it is another topic. Please file a new issue.
Thanks,

[2018-02-04 16:43] tk0miya commented on #4003
IMO, best layouting is not a goal of reST and Sphinx. I think this is one of them. So -1 for adding this to Sphinx.
But Sphinx and reST provides many extension points for developers. So my opinion don't prevent you to develop an extension to do that.

[2018-02-04 16:44] rowanG077 commented on #4543
I have updated my post it's python 3.5.3. I also installed python 3.6.3 and it works fine with that release.

[2018-02-04 16:49] tk0miya commented on #3909
I just tagged.

I don't know such package, but you can do that via `add_index_to_domain()` API.
http://www.sphinx-doc.org/en/master/extdev/appapi.html#sphinx.application.Sphinx.add_index_to_domain

[2018-02-04 16:54] tk0miya commented on #344
Not planned. I just realized this problem at your comment. So I tagged this as a task for 1.8. But I'm beginner of autosummary, so I can't say it will be fixed in 1.8.

[2018-02-04 16:57] eflanigan00 commented on #4003
@tk0miya I have never developed an extension for sphinx. Can you explain the best way to approach that?

[2018-02-04 17:01] eflanigan00 opened #4550 "Tables should be centered by default."
In general having all tables pushed to the left is an undesirable behaviour.
Tables should be centred by default and the user should be able to align them the the left or right if desired.

See #3942

[2018-02-04 19:31] arekbulski opened #4553 "Question: Can a page have two code listings side-by-side?"
I have a page that has pairs of code listings (kind of like input/output pairs). **Would it be possible to show these two code listings in 2 columns, side by side?** I realise that long lines would pose a problem, soft wrap versus cutoff, but thats a secondary issue.
https://construct.readthedocs.io/en/latest/compilation.html#motivation

[2018-02-04 20:05] gboeing opened #4554 "mock imports failing"
Subject: Mock imports are failing when building documentation

### Problem

I have been using sphinx to building docs for [OSMnx](https://github.com/gboeing/osmnx) for a year. It always worked fine. Recently it started failing.

When I run it and do not use `autodoc_mock_imports`:

[code]

Everything works fine because I have the imported modules installed locally:

[code]

After running the above

[2018-02-04 22:53] rowanG077 opened #4555 "How to get URI from a ref name."
Subject: In an extension I want to make use of existing references and allow a user to cross reference. The plugin in question outputs svg so directly keeping the ref in the result won't work. So what I want to do is translate an rst fragment to the output it would represent in the output. For instance if I would pass
``  `google <www.google.com>`_`` It would the return the correct format for the

[2018-02-05 02:06] tk0miya commented on #4555
It is resolved inside docutils. So I can't help you...

[2018-02-05 02:07] tk0miya commented on #4555
anyway, this is an issues for Sphinx, not forum.
Please move to sphinx-dev group; https://groups.google.com/forum/#!forum/sphinx-dev.

Thanks,

[2018-02-05 02:07] #4555 closed, assigned to nobody

[2018-02-05 02:17] tk0miya commented on #4554
[code]
Why don't you mock whole of matplotlib? This message says that matplotlib tried to import numpy, but it failed because numpy was mocked.

[code]
On the other hand, latter message says importing pandas was failed. this is a bit strange because it seems you'd set pandas as mock_imports.

[2018-02-05 02:21] tk0miya commented on #4553
Sphinx does not support that. But there might be any third party extension supports that.
Thanks,

Note: this is an issue list for Sphinx, not forum.
Please post questions to sphinx-users group; https://groups.google.com/forum/#!forum/sphinx-users

[2018-02-05 02:21] #4553 closed, assigned to nobody

[2018-02-05 05:31] tk0miya commented on #4550
Personally, I love it. But it seems `rst2html` does not center the table by default. So we have to introduce this carefully.

[2018-02-05 05:40] tk0miya commented on #4543
I made a PR #4556 for this. Could you check this please?

[2018-02-05 05:40] tk0miya commented on #4543
Note: I confirmed this by 3.5.2. And confirmed it is fixed.

[2018-02-05 05:45] tk0miya opened #4557 "mathjax_path and jsmath_path expects its value is an URL"
### Problem
- see #4309 in detail

#### Expected results
- Update our docs in detail
- Or rename it to `mathjax_url` instead.

[2018-02-05 05:53] tk0miya commented on #3907
@timhoffm seems good!
@fredrik-johansson what about this technique?

[2018-02-05 06:39] thomasmansencal commented on #344
Thanks @tk0miya! I found a related problem that I will document in another issue.

[2018-02-05 14:09] KajKandler commented on #3976
I needed to only downgrade sphinx for installing sphinxcontrib-spelling. Afterwards I was able to upgrade to sphinx version 1.6.7 again and it appears to do no harm

[2018-02-05 14:20] rowanG077 commented on #4543
Yes it is fixed.

[2018-02-05 16:28] tk0miya commented on #4543
Thank you for confirmation. Merged :-)

[2018-02-05 17:03] stephenfin commented on #4484
Oh, just so that we're using the latest and greatest LTS distro. It seemed silly to use an older version when a newer one exists. Perhaps I am missing something. It is not a big deal either.

[2018-02-05 19:11] Dubrzr opened #4559 "How to customly render the html of the TocTree?"
Subject: I want to create a custom rendering of the TocTree with the StandaloneHTMLBuilder

### Problem
The current {{toc}} or {{toctree()}} directives generates html but I want it to respect the following format (with maxdepth=2):

[code]

What would be the best way to change the TocTree rendering?

### Reproducible project / your project
I am creating my own Sphinx template, a preview is availab

[2018-02-06 02:40] eflanigan00 commented on #4550
@tk0miya do you know if this proposed update would center Bokeh plots also?

[2018-02-06 05:50] tk0miya commented on #4550
I don't know. I've never used it.

[2018-02-06 06:00] tk0miya commented on #4559
Unfortunately, its structure is hard coded in HTML builder.
So it is hard to modify it. The only way is replacing the builder by custom one.

[2018-02-06 07:26] thomasmansencal opened #4563 "Incorrect end of line punctuation detection with "autosummary"."
Subject: `autosummary` incorrectly detects end of line punctuation.

### Problem
When using `autosummary` with a docstring featuring *et al.*, the sentence is cut after the dot.
`using *Kang et al. (2002)* method.` is trimmed as follows: `using *Kang et al.`

#### Procedure to reproduce the problem
Such a docstring is not only problematic but will also raise a collateral warning:

[code]

#### Err

[2018-02-06 09:19] stephenfin commented on #4484
I've been thinking a little more on this, and I don't think we should release 2.0 until spring 2020. The reason for this is `autodoc`. That currently supports Python 2.7 and Python 2.7 is not deprecated until 2020. If we drop Python 2.7 support before then, we will leave anyone who's still using Python 2.7 high and dry despite the fact that it is indeed supported. If we wait until 2.7 is final EOL

[2018-02-06 10:39] Dubrzr commented on #4559
Thank you for your answer :)

Can you tell me where exactly this HTML is hardcorded in the builder so that I can create my own builder? I have hard times finding it in the following file: https://github.com/sphinx-doc/sphinx/blob/master/sphinx/builders/html.py

[2018-02-06 11:38] tk0miya commented on #4559
Please refer this. ToC is built as doctree once at here. After that, it is converted to HTML at HTML builder (`render_partial()`).
https://github.com/sphinx-doc/sphinx/blob/master/sphinx/environment/adapters/toctree.py#L49

[2018-02-06 11:49] Dubrzr commented on #4559
Thank you, I'll try to work something out!

[2018-02-06 12:15] tk0miya commented on #4484
If we'll use latest LTS for testing, how do you confirm Sphinx works fine with old version?
IMO, we should use it for testing to confirm working.
Of course, I'm okay to use latest one partially (or use older one partially). But we have to use it for testing at least one if we support it.

Yes, it's difficult question. But, TBH, I can't imagine who uses py27 and latest Sphinx.
I understand there ar

[2018-02-06 14:06] jakobandersen opened #4564 "rst_prolog/rst_epilog not working on master"
Subject: ``rst_prolog`` and ``rst_epilog`` are not added to files

### Problem
A bit of git bisect shows that 2b6c8b33be0e66160c6f5d14fd78c7a47e3389b0 is the problematic commit. I guess that somehow it interacts badly with #2445.

#### Procedure to reproduce the problem
Create a new project with ``sphinx-quickstart`` and to ``conf.py`` assign some code to ``rst_prolog``/``rst_epilog``, say
[code]

[2018-02-06 17:35] stephenfin commented on #4484
OK, that's a good point. If it's only for testing, then 16.04 works. I personally use Fedora so it's good to have a spread of base OSes. The main issue I do see with 16.04 is my comment in `tox.ini` about waiting for 18.04. That means we'll have to wait another two years for this 😞

Either of these would be suitable for me. I just want to make sure we don't leave Python 2.7 users in the lurch with

[2018-02-07 10:24] fhadzi opened #4572 "How to render contentinfo"
Subject: How to render contentinfo

### Problem
- How to render contentinfo (placed in footer) in e.g. pdf format (using Ctrl+P on a page)?

[2018-02-07 12:07] abchenson opened #4573 "new autodoc warnings on 1.7.0b2"
Subject: new autodoc warnings on 1.7.0b2
### Problem
- on switching from 1.6.6 to 1.7.0b2, modules which were previously being documented properyl by autosummary are now throwing warnings and failing to compile properly:
e.g. for a method mock_code.mock_mod1.aaa.aaa_a in class mock_code.mock_mod1.aaa,
[code]
The command being used is
[code]
.  This works fine on 1.6.6, generating and linking the f

[2018-02-07 13:07] tk0miya commented on #4573
Thank you for reporting.
It would be nice if you can provide a minimal reproducible example.

Thanks,

[2018-02-07 13:36] tk0miya commented on #4572
This is an issue list for Sphinx, not a forum.
Please wait for a response of sphinx-users group.

Thanks,

[2018-02-07 13:36] #4572 closed, assigned to nobody

[2018-02-07 13:59] aszekMosek opened #4574 "vertical space before equation in latex"
It seems to me that equations without a label are written to the latex source as

[code]
and equations with a label as:

[code]

The extra empty line before ``phantomsection`` starts a paragraph and causes an unnecessarily large vertical space before ``equation``, unlike for ``equation*`` where it is OK.

Removing the empty line fixes the problem.

Also, I'm not sure ``phantomsection`` is necessar

[2018-02-07 16:25] tk0miya commented on #4484
Please wait for two years. It is too aggressive to request upgrading to 18.04 for all developers.

[2018-02-07 16:26] tk0miya commented on #4484
Is there any comment for supporting py27?

[2018-02-07 16:31] matrixise opened #4575 "sphinx-build in parallel with -j N is slow"
Subject: no big difference with or without parallel -j N

### Problem

With -j N where N = 4
[code]
Where -j is not used
[code]
Here is my patch for the number of CPU
[code]
#### Expected results
I don't think there is a big difference, and you?

### Reproducible project / your project
https://github.com/matrixise/cpython/tree/perf-sphinx-build-parallel

### Environment info
- OS: Linux
- Python v

[2018-02-07 17:17] tk0miya commented on #4575
Thank you for reporting.
The `-j` option is still in experimental. So more optimization is needed.
http://www.sphinx-doc.org/en/stable/invocation.html#cmdoption-sphinx-build-j

I'll take a look if I have a time.

[2018-02-07 17:19] abchenson opened #4576 "slow running sphinx in large project"
Subject: slow running sphinx in large project
### Problem

We have a sphinx project with about 300 rst files ( about 200 generated stubs, e.g. for each member of each class etc. comparable to pandas docs, 60k lines in the non generated pages).  The build takes over 12mins and each file takes over a second to write, using up most of that time.  This single file writing time is the concern as it see

[2018-02-07 17:53] abchenson commented on #4573
[example.tar.gz](https://github.com/sphinx-doc/sphinx/files/1704147/example.tar.gz)

This minimal example is based on running sphinx-quicktstart, adding what I need to conf.py for autosummary to work, and some breif mocked up code. Switching between 1.6.6. and 1.7.0b and running make html switches a warning on and off, the same warning I was seeing lots of examples of in a big project (when runnin

[2018-02-07 18:36] bgeron opened #4577 "Enumerated sublists with explicit start render wrong in LaTeX"
### Problem

The following renders wrong in LaTeX:

[code]

**Expected / HTML rendering**: visually similar to source code

**Wrong / current LaTeX PDF rendering**:

[code]

The problem is that "Second item" was never labelled "5" in the RST source.

The generated LaTeX source for this is as follows:

[code]

**Expected LaTeX output**: ... `\setcounter{enumii}{4}` (rather than `enumi`).

### Envir

[2018-02-07 18:38] bgeron commented on #4577
Mildly related: #1431

[2018-02-07 20:25] matrixise commented on #4575
hi @tk0miya

yep, I have read the experimental status of this command, but was added in 1.2 and but I use sphinx 1.6.7.

so, I wanted to use this feature for the build of the doc of Python.

the join of the `ParallelTask` is too long, few seconds. Maybe because the list of files to handle is very big.

[2018-02-08 03:32] tk0miya commented on #4575
Yes, it was added long ago. But no one can modify it. (I never use it...)
So any pull requests are welcome :-)

[2018-02-08 04:41] tk0miya commented on #4573
It seems this was fixed by #4536.
Could you try the latest 1.7-release branch?

You can install it with following command:
[code]

[2018-02-08 09:36] stephenfin commented on #4484
From my perspective, I would like to support this until 2020. This would probably mean we should wait to drop it until 3.0?

[2018-02-08 10:58] abchenson commented on #4573
Yes the release version works, didn't realise it was the same as that issue.  Thanks for your help!

[2018-02-08 15:24] atodorov opened #4581 "Excluded modules still included by apidoc"
Subject: I have a command which excludes some modules and that works with Sphinx 1.6.6 but fails with 1.6.7

### Problem
I think the issue I'm seeing was caused by https://github.com/sphinx-doc/sphinx/pull/4449

#### Procedure to reproduce the problem
[code]

The Makefile specifies:

[code]

#### Expected results

Excluded modules are not included by apidoc

### Reproducible project / your project

[2018-02-08 16:34] abchenson opened #4582 "variable types missing for autosummary"
Subject: variable types missing for autosummary in current version
### Problem
- in Sphinx 1.7.0b autosummary genarates nice summaries for the attributes in a class, where you can include a type and description and they both appear. E.g. if you have
[code]
in your class the summary in the output shows int italicised and with a hyphen.
In Sphinx-1.8.0.dev20180208 (which fixes another issue #4536 wi

[2018-02-08 16:41] abchenson commented on #4534
Thanks for your work on autosummary here and elsewhere!  Do you have a time estimate for including instance attributes in the autosummary attributes similarly to autoclass?  I might be able to submit a PR for this (or find someone to help!) if it is not going to interfere with what you are doing.

[2018-02-08 18:20] stephenfin opened #4583 "RFE: Use a changelog tool instead of 'CHANGES'"
I've been looking at integrating [reno](https://pypi.python.org/pypi/reno) for the Sphinx documentation, instead of the monolithic `CHANGES` file. The way we do our stable branches, as discussed in #4398 and #4211, means we can't currently use this tool (more discussion [here](https://bugs.launchpad.net/reno/+bug/1588309)).

I'm yet to evaluate [towncrier](https://pypi.python.org/pypi/towncrier) a

[2018-02-08 20:58] jfbu commented on #4583
I have had occasion to fix CHANGES entries a posteriori. Currently it is indeed better if PRs do not include a CHANGES entry and maintainers add it after merging. This does not work badly and details of merged PRs can be found on the github site.

As as side remark, commit messages are not always much detailed, from what little experience observing Sphinx development over the last two years I have

[2018-02-09 00:18] Zac-HD commented on #4484
I would really like to drop it, like Django.  (but please use the `python_requires` keyword in setup.py; see django/django#9413).

I think it would be better to make Sphinx 2.0 require Python 3, but continue bugfixes for the last 1.x release until 2020 for Python 2.  Again, Django is doing something very similar with their LTS plan.

[2018-02-09 09:19] stephenfin commented on #4583
To be clear, a tool like `reno` does not use git commit messages - it uses specific files included as part of the release. See [here](https://review.openstack.org/#/c/541728/9/releasenotes/notes/aarch64-minimum-libvirt-version-86331e5282effbf0.yaml) for example. Ditto for *towncrier*.

The main reason I was looking for this is to prevent merge conflicts. This is a reason I don't currently make mod

[2018-02-09 10:42] jessetan commented on #4003
There is a [tutorial for writing an extension for Sphinx](http://www.sphinx-doc.org/en/stable/extdev/tutorial.html), but you can also copy things from one of the [Sphinx extensions on GitHub](https://github.com/topics/sphinx-extension) and expand from there.
The code that handles the subfig commands in sphinxtr is here: https://github.com/jterrace/sphinxtr/blob/master/extensions/subfig.py

I've gi

[2018-02-09 13:55] tk0miya commented on #4534
Unfortunately, I don't have time for it now. So PR is welcome!

[2018-02-09 23:03] dbkinder commented on #2683
@eric-wieser @michaeljones @jakobandersen Any hope of handling these unnamed nested struct/union members better?  We've got developers using these constructs more often across other projects and the resulting doxygen and sphinx/breathe output around these constructs is not usable. Obi-wan(s), you're our only hope.

[2018-02-10 02:51] #4573 closed, assigned to nobody

[2018-02-10 03:30] tk0miya opened #4586 "Replace old release tags to vX.Y.Z format"
### Problem
- According to new branch and tag model (#4398), old release tags are replaced with new one.
- Add series tag (`X.Y`) to the latest release for each series.

#### Expected results
- All tags are replaced to new format
- All docs are published with new series tag (`X.Y`)

I will work this on releasing 1.7.

[2018-02-10 03:31] tk0miya commented on #4398
Now this model was mentioned at `CONTRIBUTING.rst` (see #4566).

And I made remaining tasks as #4565 and #4586.
So I'm closing this now.

Thank you!

[2018-02-10 03:31] #4398 closed, assigned to nobody

[2018-02-10 03:38] tk0miya commented on #4211
Hi maintainers,

Do you have any remaining tasks or worries for 1.7 release?
This weekend is X-DAY of the release. I will work on the release in 12th Feb in JST. So please finish your work until then.
As usual, we can adjust the date if you still have any jobs. So please let me know about it.

Note: This is remaining issues for 1.7 milestone. I will work on some of them as possible, but I would po

[2018-02-10 06:10] tk0miya opened #4587 "Make HTML5 writer default"
### Problem
- Since 1.6, HTML5 writer was added
- Making it default writer of HTML builder
- And making HTML4 optional (while we supports docutils-1.2, a.k.a 2.0)

### Action

- Check the rendered HTML is fine for some themes.
- Remove tests for html4 writer (then our testing becomes faster!)
- Update HTML builder to switch default writer
- Add way to use HTML4 builder manually

[2018-02-10 11:27] jfbu commented on #4583
My message was confused, but deep inside I had understood that `reno` did not use commit messages (I admit not to know yet what `reno` is); I had at back of my mind the one bit of experience I have had with PR (for latex internationalization of the doc) on the CPython repo. I had to follow guidelines for inclusion of some blurb in news file. It was a constraint which made it more complicated for m

[2018-02-10 15:55] Dubrzr commented on #4559
I fixed it like this: https://github.com/FutureIsTech/Data-Science/blob/master/custombuilder/custombuilder.py#L114

Hope this will be easier in future releases!
Thanks again

[2018-02-11 00:23] ostrokach commented on #2738
@RobRuana Thanks for your explanation regarding output of docs with and without type annotations.

I was wondering if there is a way to get the `param1 (int): The first parameter` types of annotations even if you are using Python 3.5+ typehints? The nice thing about this output is that `int` can actually be a link to the package where `int` is defined, using intersphinx (this is nice for more comp

[2018-02-11 05:21] shimizukawa commented on #4586
I'm taking over this issue.

STEPS (updated)

1. add `vX.Y.Z` tags for all `X.Y.Z`
2. **force** add `X.Y` document tags for all major versions.
3. build RTD pages for all `X.Y`
4. remove old `X.Y.Z` release tags (must not remove old `X.Y` that were already overwritten by STEP2).
5. remove old `X.Y.Z` RTD pages.

[2018-02-11 05:22] shimizukawa commented on #4586
`git tag --format="%(objectname:short)  %(authordate:short)%(taggerdate:short)  %(refname:short)" --sort=authordate`
[code]

[tags-new.txt](https://github.com/sphinx-doc/sphinx/files/1714059/tags-new.txt)

[2018-02-11 05:22] tk0miya commented on #4027
Fixed by #4042 and #4591

[2018-02-11 05:22] #4027 closed, assigned to nobody

[2018-02-11 05:49] shimizukawa commented on #4586
check
[code]

force update
[code]

check
[code]

[2018-02-11 05:53] shimizukawa commented on #4586
I'm waiting some commit to get new tags on RTD ;)

[2018-02-11 06:24] tk0miya commented on #4520
With #4334, apidoc certainly ignores `parent.child` module if it doesn't have any elements under its namespace.
Please let me know your opinion.
What document should we generate for `parent.child`?

Note: #4449 fixed the problem if `parent/child/__init__.py` is empty but there are more modules under `parent.child` namespace.

[2018-02-11 07:43] jfbu commented on #4211
@tk0miya sorry for late response, please do go ahead. I apologize for not moving forward issues resolution regarding latex, but at this time I can not at all work on Sphinx and can't tell exactly when I will have some time. Good luck for the hard work of release.

[2018-02-11 08:39] tk0miya commented on #4581
Note: I reproduced this with following Dockerfile:
[code]

[2018-02-11 09:02] shimizukawa commented on #4586
Done.

Unfortunately, `1.0` and `1.1` aren't built because current RTD is passing `-T` option and the option introduced since `sphinx-1.2`. So, I'm disabling document version `1.0(.8)` and `1.1(.3)`.

![image](https://user-images.githubusercontent.com/151623/36071651-22b0ced8-0f55-11e8-8935-06195b2325bd.png)

[2018-02-11 09:15] shimizukawa commented on #4586
done.

[2018-02-11 09:16] shimizukawa commented on #4586
done

[2018-02-11 09:21] shimizukawa commented on #4586
Please sync your local git repository with github to remove old `X.Y.Z` tags.

Below command is useful to do it ;)
[code]
refs. https://stackoverflow.com/questions/1841341/remove-local-git-tags-that-are-no-longer-on-the-remote-repository

[2018-02-11 09:47] shimizukawa commented on #4583
As a case, major projects such as pip (https://github.com/pypa/pip/pull/4346) and tox (https://github.com/tox-dev/tox/pull/615) are introducing towncrier. I believe that towncrier has the potential to become a de facto standard in the future. However, IMO, it is doubtful whether it matches the current Sphinx development team. At least not now.

[2018-02-11 10:28] tk0miya commented on #4586
LGTM!

[2018-02-11 18:34] jschueller opened #4596 "TypeError: issubclass() arg 1 must be a class"
Some commits to master today (2018/2/11) broke my builds does the following ring a bell?
[code]
I'll try to bisect tomorrow.

[2018-02-11 20:18] jschueller commented on #4596
seems related to https://github.com/sphinx-doc/sphinx/pull/4589

[2018-02-12 01:59] tk0miya commented on #4581
Fixed by #4592
Thank you for reporting!

[2018-02-12 01:59] #4581 closed, assigned to nobody

[2018-02-12 02:00] tk0miya commented on #4586
@shimizukawa It seems this task was finished, right?
If true, please close this issue.

[2018-02-12 03:03] shimizukawa commented on #4586
ok.

[2018-02-12 03:03] #4586 closed, assigned to shimizukawa, tk0miya

[2018-02-12 07:06] tk0miya commented on #4211
@jfbu don't mind. Let's do them on latter release. I always appreciate your work!

[2018-02-12 07:06] tk0miya commented on #4211
From now on, I'm starting a new release. Wait a moment :-)

[2018-02-12 07:55] tk0miya commented on #4211
released!
https://pypi.python.org/pypi/Sphinx/1.7.0

Thank you for all your work!

[2018-02-12 07:55] #4211 closed, assigned to nobody

[2018-02-12 09:05] shimizukawa commented on #4211
🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

[2018-02-12 11:58] #4596 closed, assigned to nobody

[2018-02-12 12:04] jschueller commented on #4596
Is this issue present in 1.7.0 ?

[2018-02-12 12:07] tk0miya commented on #4596
Yes, this condition (and deprecation warning) is only in master.

[2018-02-12 12:49] codingjoe commented on #4520
@tk0miya this is still a major bug and effects all packages that implement django commands, as they are in `mangement/commands/`.
I still consider this wrong behavior, because a package that has a subpackage is not empty, because it has a package in it.
I think you should revert the commit. I don't see why someone would want to omit empty packages anyways. This could be an opt-in/out but no defaul

[2018-02-12 13:02] tk0miya commented on #4276
ping.
I will close this after a while if no comment more.

[2018-02-12 13:22] tk0miya commented on #4269
+1 for subclasses of `enum.Enum`. It's reasonable.

[2018-02-12 13:55] rahasurana opened #4600 "Links to inherited functions don't work"
ASubject: Links to functions inherited from parent class in derived class don't work

### Problem
- I'm currently using sphinx-epytext as migration from epydoc to sphinx until the source code is updated and i'm stuck with the below "simple" issue.
Consider the simple inheritance below:

ABC1.py:

[code]
ABC2.py:

[code]
Now when the documentation for both the files are generated, the directive lin

[2018-02-12 14:51] dilyanpalauzov opened #4602 "Table of Content and `self`"
The attached file contains in `x.rst`:
[code]
and in `y.rst`:
[code]
Sphinx 1.6.7 warns with:

According to my understanding a self-reference under `..toctree::` shall not be by filename, but with the `self` keyword.  However if you check the generated files, the menu in `x.html` is

hence referencing as wanted all elements on the current page, while the menu in z.html is:

and the sub-sections do

[2018-02-12 15:23] Hallam1995 opened #4604 "Sphinx - Problem with CSS and 'make html' command"
I have a sphinx project and some .rst files. I am using the read_the_docs theme for sphinx. When i run 'make html', my CSS resets and anything I add to the HTML pages in my text editor do not save when I run 'make html' again.

Basically, nothing saves when I do 'Make html' after adding new content to the .rst file. All of the custom CSS that I add just doesn't saves and it reverts to what it was

[2018-02-12 16:47] tgurr commented on #4408
Sorry for the lack of response, but currently we don't have tox and it's dependencies packaged on our distribution yet so for now I'm not able to provide the requested information.

[2018-02-12 16:48] eric-wieser commented on #4421
`sphinxcontrib` was what I was looking for, thanks

[2018-02-12 16:48] #4421 closed, assigned to nobody

[2018-02-12 17:36] tk0miya commented on #4408
How do you run the tests? I'd like to know the result of `tests/test_metadata.py`, so please give any options to your test runner to invoke the specific test case.

[2018-02-12 20:43] asmeurer opened #4606 ""Unexpected indentation" warnings from :members:"
Since Sphinx updated to 1.7.0, our SymPy docs started failing. We have the setting enabled in our docs to turn warnings into errors.

We have gotten many errors like

[code]

It turns out the source of the error has nothing to do with the method in question (which doesn't even have a docstring). The problem is that we used

[code]

instead of

[code]

This is requiring changes across our entire do

[2018-02-12 20:57] asmeurer commented on #4606
Apparently the "one warning at a time" behavior is a result of our use of the `-W` flag. It would be nice if all warnings were shown, even if they are interpreted as errors at the end of the build.

[2018-02-12 22:50] deoren opened #4608 "epub format generated from Sphinx v1.7.0 rejected by Google Play Books (but not epub from Sphinx 1.6.7)"
I built an epub from commit ba99c2fe797039319192a900e273f850610ff518 (master branch) of the [rsyslog documentation project](https://github.com/rsyslog/rsyslog-doc). Using Sphinx 1.6.7 Google Play Books had no problems importing the file. With 1.7.0, the epub was rejected.

I've included the the results from epubcheck 3.0.1 below. Please let me know if you'd like the epub files produced by each ver

[2018-02-13 05:24] njsmith opened #4609 "Many new and bogus "nitpick" warnings when upgrading to sphinx 1.7.0"
### Problem

When building my docs nitpicky mode enabled, with sphinx 1.7.0 (but not 1.6.7), I get tons of new warnings, many of which look obviously bogus.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

If we run the exact same commands, but using sphinx==1.6.7, then the build completes successfully with no warnings.

Note that "CapacityLimiter-like object" and

[2018-02-13 05:43] njsmith commented on #4609
Ah, the `py:class reference target not found: None` thing seems to be coming from lines like:

[code]

(This is Google docstring format being processed via `sphinx.ext.napolean`.)

On 1.6.7, this was fine... it looks like it resolved via intersphinx to https://docs.python.org/3/library/constants.html#None
Is this an intentional change e.g. switching from using `:py:obj:` to `:py:class:`? If so I c

[2018-02-13 06:00] tk0miya commented on #4604
Did you modify the generated HTML directly? Sphinx does not refer them, and it simply overrides it on `make html`. So please do not modify them directly.

You can add custom CSS by following step:

1. Create custom CSS as a independent file under `_static/` directory (ex. `_static/mystyle.css`).
2. Add the following code into your `conf.py` to enable the custom CSS file.

[code]

[2018-02-13 06:01] tk0miya commented on #4608
Thank you for reporting. It seems this is caused by #3997.
I'll take a look in detail later.

[2018-02-13 06:01] tk0miya commented on #4606
It seems this problem is a combination of two issues.

At first, `autodoc_inherit_docstrings` feature has been added since 1.7 (for details, please refer our [manual](http://www.sphinx-doc.org/en/master/ext/autodoc.html#confval-autodoc_inherit_docstrings)).
As a result, a docstring of super class is also used for methods of subclasses automatically. For example, the docstring of `sympy.codegen.cfu

[2018-02-13 06:06] tk0miya commented on #4602
Unfortunately, `self` keyword does not work from its beginning. It is a well known bug.

Please use `contents` directive instead
http://docutils.sourceforge.net/docs/ref/rst/directives.html#table-of-contents

[2018-02-13 06:10] deoren commented on #4608
@tk0miya Thanks! Please let me know if you need any additional info or would like me to test anything on my end.

[2018-02-13 06:51] asmeurer commented on #4606
Thank you. My top priority was to fix CI build failures in master, so I didn't focus too much on the actual documentation build itself. I'll see if I can fix it correctly, if someone else doesn't do it first.

I think there is a bug here, which is that the error reporting from Sphinx is not very good. It would help a lot if it named the actual function that the docstring came from (Function.eval i

[2018-02-13 11:44] Hallam1995 commented on #4604
I've added this and its made a difference so I'm on the right track thanks. However, since I can't edit the HTML files directly since 'make html' just overrides it, how do I add a navigation bar to the top of my HTML page? I've got it in the css but that's just for the design of it. Can I add stuff like this in the .rst file?

[2018-02-13 12:54] tk0miya commented on #4600
I confirm the cross reference works fine with following files:

index.rst
[code]
conf.py
[code]

I suppose your trouble is came from a bug of epytext.

[2018-02-13 13:04] tk0miya commented on #4520
The reverting causes broken toctree again (see #4334). So only my concern is what document should be generated for `parent.child`. empty page? only a title?
We need to discuss about it.

[2018-02-13 13:25] tk0miya commented on #4608
I made a bug fix; #4610. Could you check this please if possible?

[2018-02-13 14:27] deoren commented on #4608
I'm going to guess that there is a much easier way to do this, but to test I did the following:

1. `pip install sphinx --user`
1. `cd $HOME/.local/lib/python2.7/site-packages`
1. `wget https://github.com/sphinx-doc/sphinx/commit/7cf1520c10302ffadc5adc704f0623c07391cff8.patch`
1. `nano 4610.patch`
1. Remove changelog diff
1. `patch -p1 < 4610.patch`
1. `cd $HOME/Desktop`
1. `git clone https://gith

[2018-02-13 15:31] tk0miya commented on #4609
The behavior was changed at #3927. At present, `:type:` and related fields are considered as class.
So please rewrite you `nitpick_ignore` settings to `:py:class:`.

In addition, autodoc uses docstrings of super class by default:
http://www.sphinx-doc.org/en/master/ext/autodoc.html?highlight=autodoc#confval-autodoc_inherit_docstrings
Some warnings are came from this options. So I think this should

[2018-02-13 15:31] #4609 closed, assigned to nobody

[2018-02-13 15:34] tk0miya commented on #4608
Thank you for confirmation :-)

[2018-02-13 15:34] tk0miya commented on #4608
Merged. It will be released as 1.7.1
Thank you for reporting!

[2018-02-13 15:34] #4608 closed, assigned to nobody

[2018-02-13 15:44] tk0miya commented on #4606
Absolutely. The messages should be improved.

Yes please!

[2018-02-13 15:53] tk0miya opened #4611 "Run epubcheck as a testing"
### Problem
- Sphinx-1.7.0 generates invalid epub file (see #4608)
- We don't test that generated epub file is correct

#### Expected results
Run epubcheck as a part of testing.

[2018-02-13 16:40] deoren commented on #4608
Awesome, thank *you* for fixing this.

[2018-02-13 20:05] asmeurer opened #4614 "Sphinx should show all warnings with -W"
When using the `-W` flag to turn warnings into errors, the first warning will result in an error and cause the build to stop. It would be nice if all warnings were shown, as without using -W.

This was first mentioned at https://github.com/sphinx-doc/sphinx/issues/4606

[2018-02-13 21:45] bnmnetp opened #4615 "sphinx-build dies under 1.7.0"
Subject: upgrading to 1.7 causes build to die, reverting to 1.6.3 restores function

### Problem
1.7.0 build dies, same command works on 1.6.3

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

#### Expected results
build the document

### Reproducible project / your project
https://github.com/RunestoneInteractive/thi

[2018-02-14 01:12] tk0miya commented on #4260
Fixed by #4599.
Thank you for reporting!

[2018-02-14 01:12] #4260 closed, assigned to nobody

[2018-02-14 13:40] agzimmerman opened #4617 "sphinx-quickstart: error: the following arguments are required: PROJECT_DIR"
Subject: sphinx-quickstart invocation doc seems incorrect.

### Problem
I am trying to use Sphinx (version 1.7) for the first time. I am following the [First steps guide](http://www.sphinx-doc.org/en/1.7/tutorial.html) and the [ReadTheDocs Getting Started guide](https://docs.readthedocs.io/en/latest/getting_started.html), both of which say to enter only
`sphinx-quickstart`

But this returns

[The

[2018-02-14 13:46] tk0miya commented on #4615
With following Dockerfile, I don't see the such error.
[code]
console log (tail)
[code]

Could you check your trouble again?

[2018-02-14 14:07] tk0miya commented on #4614
What is different from the behavior without `-W` option? If not given, Sphinx shows all warnings during build.

[2018-02-14 14:08] codingjoe commented on #4520
I would simply not omit empty packages. I would add them. So yes, empty file with a title.
If you don't want a file for your empty package, remove the package, right?

[2018-02-14 15:11] #4604 closed, assigned to nobody

[2018-02-14 15:15] Hallam1995 opened #4618 "Creating a html navigation bar within Sphinx"
Hi, I recently put forward an issue on here about my html pages which was fixed, many thanks.

However, I've now come across something I'm not sure about. I am wanting to add a horizontal navigation bar to the top of my html pages that are created with Sphinx, however, due to the fact that I can't edit the html files themselves since Sphinx ignores this on 'make html', is there anyway i can do thi

[2018-02-14 15:29] bnmnetp commented on #4615
Yes, you are right.

I should have tried to run the sphinx-build command manually before I reported this problem.   Running sphinx-build manually does work.

However, I have a wrapper program that runs sphinx-build through paver.  which works perfectly with 1.6.3 but fails with the message I reported for 1.7.0.  So there must be some new incompatibility with paver or sphinxcontrib-paverutils that

[2018-02-14 15:51] walikha opened #4619 "Different template for the index page"
I am creating documentation site using Sphinx. I would like to create a home/index page that has a completely different style and structure than the actual pages in the site. By default, all Sphinx pages build using the same configured template which has the same style and structure. How can I achieve this?

[2018-02-14 16:37] tk0miya commented on #4619
This is a list of issues for Sphinx, not a forum.
Please move to sphinx-users group
https://groups.google.com/forum/#!forum/sphinx-users

Thanks,

[2018-02-14 16:40] tk0miya commented on #4618
This is a list of issues for Sphinx, not a forum.
Please move to sphinx-users group
https://groups.google.com/forum/#!forum/sphinx-users

Thanks,

[2018-02-14 16:59] tk0miya commented on #4617
Sorry for inconvenience. It's a bug of quickstart command.
I just made a bug fix #4621.

Please give path as an argument until fixed.
Thanks,

[2018-02-14 18:23] bnmnetp commented on #4615
OK, I'm pretty sure this is due to #3668 (The arguments has changed of main functions for each command) and its impact on sphinx-contrib/paverutils

[2018-02-14 19:13] #4618 closed, assigned to nobody

[2018-02-14 20:11] asmeurer commented on #4614
Taking the example from #4606

**With `-W`**

[code]

**Without `-W`**

[code]

Having the full list of warnings is better, because it allows you to fix them all at once without rerunning Sphinx.

[2018-02-14 22:22] Mark90 commented on #3132
Well, I thought about giving the PR a shot so did some looking around. I see about 108 usages of `Sphinx.srcdir` (232 when counting tests). All of these locations would have to be changed to take into account not just one, but multiple extra directories. I now understand the complexity point made by @shimizukawa and don't think anyone will care enough to implement this.

I'll stick with my workaro

[2018-02-15 03:04] njsmith commented on #4609
That does seem to have fixed it, thanks!

[2018-02-15 06:10] Syntaf opened #4623 "Sphinx.build_main no longer exists in 1.7.0"
It doesn't seem there was any mention of this in the changelog, and i'm not aware of a replacement for `sphinx.build_main`. What can I replace this command with for > 1.7.0?

### Problem
- As of 1.7.0, `sphinx.build_main` no longer exists and present a problem for repositories which use this function to build documentation within a script.

#### Procedure to reproduce the problem
[code]

#### Erro

[2018-02-15 08:39] matrixise commented on #4575
@tk0miya why not for a PR ;-) but seriously busy with others projects... I wanted to use this feature for the build of CPython on Travis. Have a nice day.

[2018-02-15 13:54] tk0miya commented on #4623
Oh, sorry. The removal is not intended. Certainly, structures has been changed since 1.7. But, according to our deprecation policy, we should not have removed it immediately.
I'd like to add it again in next release. But it will emit deprecation warning.
So I propose you to switch to `sphinx.cmd.build.buid_main()`

[2018-02-15 14:36] kohr-h commented on #4623
There seem to be more changes in the `build_main` function. Before 1.7, calling `build_main(['-b html', srcdir, outdir])` would work, but it fails in 1.7 with the error
[code]
Note the extra space before "html", I think that's why it's not recognized as "html" builder. Probably the parser just strips off the `'-b'` and forgets to strip away whitespace.

A fix is to instead invoke `build_main(['-b'

[2018-02-15 15:19] tk0miya commented on #4614
Okay, I understand.
+1; it's good for CI.

[2018-02-15 15:41] tk0miya commented on #2442
I'd like to add a new config value `html_javascripts` to do this.
What do you think? Please let me know your opinion. See #4595.

Thanks,

[2018-02-15 15:47] tk0miya commented on #4623
The argv format is used for the argument of `build_main()`. I think `'-b html'` is not an argv format. It is same as `sphinx-build '-b html' srcdir outdir`.
Certainly, we switched the option parser from optparse to argparse. The behavior might be changed at that time. But I don't think it is a bug of `build_main()`.

[2018-02-15 16:54] tk0miya commented on #4615
OMG. Thank you for letting me know. I try to fix it in #4624. I think it would fix this problem.

[2018-02-15 16:56] kohr-h commented on #4623
Yes, I was curious what kind of change that was. I didn't assume it was a bug, just a change of behavior that requires the options to be passed slightly differently.

Note that I did test `build_main(['-b', 'html', srcdir, outdir])` with Sphinx 1.6, and that didn't work. So there one had to use `'-b html'` (or something else, at least not `'-b', 'html'`).

[2018-02-15 17:12] tk0miya commented on #4623
Until Sphinx-1.6, `build_main()` ignores the first argument (see #4615). so `build_main(['-b', 'html', srcdir, outdir])` is same as `sphinx-build html srcdir outdir`.
On the other hand, `build_main(['-b html', srcdir, outdir])` is same as `sphinx-build srcdir outdir`.

Note: new interface since 1.7 (`sphinx.cmd.build.buid_main()`) does not ignores the first argument.

[2018-02-15 18:05] mgeier commented on #2442
@tk0miya That's great! I'm just not sure about the names of the configuration options.

I'm not a native speaker, but `html_javascripts` sounds a bit weird to me.
What about `html_javascript_files` or `html_js_files`?

And correspondingly `html_css_files`?

[2018-02-15 18:14] ashafer01 commented on #3866
I came across this issue because I deliberately had created a "canonical path" for user import in my project, which obviously created the 'more than one target found' warning. I ended up adapting @tliron's response to override `find_obj` instead so that it would always resolve the desired path if it was found there:

[code]

[2018-02-15 18:15] kohr-h commented on #4623
Oh, that explains it. Thanks!

Alright, then `travis-sphinx` should only provide the extra option for sphinx 1.7 and higher.

[2018-02-15 20:35] epruesse commented on #850
+1

[2018-02-15 21:51] pgerber commented on #2505
I ran into the same issue. In my case the cause was a `rst_prolog = ".. include:: /global.rst"` in `conf.py` which inserted the include at the beginning of the document. I was able to resolve the issue by appending the include to the document instead (`rst_epilog = …`).

[2018-02-16 01:28] tk0miya commented on #2505
@pgerber I'd like to know your case in detail. Could you file a new issue please?
Especially, I'd like to know how you can reproduce it.

[2018-02-16 01:43] tk0miya commented on #4623
I'll fix both problem in #4624. But `sphinx.main()` is still marked as deprecated. so I recommend you to move `sphinx.cmd.build.build_main()`.

Note: new `build_main()` is also not a public interface. so we can't promise you that it's stable.

[2018-02-16 11:42] tk0miya commented on #2442
Let's discuss in #4595. Then other reviewer will see your comment.

Note: I don't mind about wording. I'm also not native. But we have to consider that it also accepts URLs of JS (or CSS). I feel `_files` suffix is not good for URLs.

[2018-02-16 11:43] tk0miya commented on #4520
I'd not made a empty package ever, so I don't have strong opinion for this.
I feel both skipping the package and creating empty page are natural. So either behavior is fine to me.

@zufallsgenerator what do you think?

[2018-02-16 12:12] zufallsgenerator commented on #4520
I'd say in that case, keep it as it is.

On 16 Feb 2018 12:43, "Takeshi KOMIYA" <notifications@github.com> wrote:

[2018-02-16 13:27] nowox opened #4628 "Invalid section numbering"
Subject: The document title should not always be numbered

### Problem
With a file such as

[code]

I am expecting to see

[code]

Unfortunately, the document title is also numbered which does not make any sense here.

[code]

To show that I am not the only one to think that way, if you look at how GitHub render ReST files here:

https://github.com/nowox/sphinx-fix-sectnum/blob/master/index.rst

Y

[2018-02-16 13:27] bnmnetp commented on #4615
OK, I'm a little confused -- #3668 was listed as an incompatible change in the release notes.  That change broke paverutils.  Paverutils had been successfully working around the "bug" fixed by #3668 for years...   After some investigation I can see that it is a very small change to paverutils.

But, it also looks like you are undoing some of what #3668 "fixed". I'm happy either way, but I don't wa

[2018-02-16 13:59] codingjoe commented on #4520
I guess you mean we should keep the behavior. Ok, that means we omit empty packages but do not consider a package empty if it does have a sub-package underneath.

[2018-02-16 15:37] cocoatomo opened #4630 "Order on msgids included in sphinx.pot is not deterministic"
Subject: Order on msgids in sphinx.pot has difference even if its content has no essential changes

### Problem
- When .pot files are managed with VCS (such as Git), difference without essential changes bother project manager.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
- https://github.com/python/python-docs-ja/commit/e23b4d3b310353073f1ba60b08160d8da09425db#diff-45

[2018-02-16 17:28] tk0miya opened #4632 "1.7.1 release plan"
It seems there are some CLI interface problems (see #4617, #4624, #4615).
I think they are critical. So I'd like to release 1.7.1 soon.
I will work for it in this weekend. So X-DAY will be in a few days (maybe Sunday to Wednesday).

Any comments?

[2018-02-17 04:10] tk0miya commented on #4615
At that time, I didn't think `main()` functions are used by third parties. So I modified its interface at #3668 and didn't list it to incompatible changes. Sorry for my lack of imagine.

On the other hand, we decide to move the `sphinx.main()` functions to `sphinx.cmd.build` package since 1.7. As a result, `sphinx.main()` is marked as deprecated, and it will be removed in Sphinx-2.0.

In #4624, I'

[2018-02-17 05:24] tk0miya commented on #4628
In sphinx, `--no-doc-title` option of docutils is set (note: internal name is `doctitle_xform`). The reason of that is a conflict with toctree.

FYI: Without `--no-doc-title`, docutils promotes a top-level section title to document title. As a result, `sectnum` directive does not assign a number to it. But it means Sphinx does not treat it as section.

[2018-02-17 05:26] tk0miya commented on #4628
I don't know this is a specification or not. But it seems difficult to support it to me.

[2018-02-17 06:24] tk0miya commented on #4617
Fixed by #4621
Thank you for reporting!

[2018-02-17 06:24] #4617 closed, assigned to nobody

[2018-02-17 09:58] return42 opened #4635 "Is http://docutils.sourceforge.net dead?"
Does anyone know what happens with http://docutils.sourceforge.net ?
There is just a blank page with one line: `Project web is currently offline pending the final migration of its data to our new datacenter.` Is it only to me?

[2018-02-17 10:05] Paebbels commented on #2258
Any progress on this issue?

[2018-02-17 12:55] tk0miya commented on #2258
Nothing chnaged. PR is always welcome :-)

[2018-02-17 12:58] tk0miya commented on #4635
I don't know. Please ask sourceforge or docutils project.
This is Sphinx project.

[2018-02-17 12:58] #4635 closed, assigned to nobody

[2018-02-17 14:09] return42 commented on #4635
I did, but the docutils ML there ignores mails?!?. Anyway, we all (and http://www.sphinx-doc.org also) refer this url since the beginning, or try a google search, nothing works anymore. No matter what I asked, I never got a feedback from David Goodger and the virus centrifugally named sourceforge is annoying. With all respect to David, but IMO this project is no longer well maintained ... may be i

[2018-02-17 14:31] tk0miya commented on #4635
Why are you posting here? This is an issue list of Sphinx, not docutils'.
We are not maintainers of docutils. So we can't answer anything to you, unfortunately.

[2018-02-17 14:35] return42 commented on #4635
Sorry, I thought you are interested in, that your links no longer work.

[2018-02-17 14:59] tk0miya commented on #4611
As a trial, I ran it with following Dockerfile:
[code]
And I got following result. We have to fix them all before enabling epubcheck.
[code]

[2018-02-17 15:04] tk0miya commented on #4611
Oh, sorry. I have to use HEAD of 1.7 branch:
[code]
This is result of HEAD of 1.7:
[code]

[2018-02-17 15:56] tk0miya commented on #4611
Hmm... it seems `opf:scheme` is not allowed in EPUB3.

In EPUB2:

http://www.idpf.org/epub/20/spec/OPF_2.0.1_draft.htm#Section2.2.10

In EPUB3:

http://www.idpf.org/epub/30/spec/epub30-publications.html#sec-opf-dcidentifier

In EPUB3.1:

http://www.idpf.org/epub/31/spec/epub-packages.html#sec-opf-dcidentifier

[2018-02-17 16:04] tk0miya commented on #4635
The message says they're in migration now. So it will be recovered after a while.
So we don't mind. Please let us know if the migration will continue for a long time.

Thanks,

[2018-02-18 05:51] tk0miya commented on #4033
In my short investigation:

* We need to parse dot files to know the path of images
* We have to rewrite the dot code if the graph depends on images in different directories (only same directory is allowed).

I think that is a bit tough work...

[2018-02-18 08:31] tk0miya commented on #4615
Fixed #4624. Thank you for reporting!

[2018-02-18 08:31] #4615 closed, assigned to nobody

[2018-02-18 08:31] tk0miya commented on #4623
Fixed #4624. Thank you for reporting!

[2018-02-18 08:31] #4623 closed, assigned to nobody

[2018-02-18 09:15] Silmathoron opened #4641 "External link in TOC cannot contain "?""
Including external links in the TOC doesn't work if these links contain question marks (e.g. php).

#### Example

[code]

The GitHub links works fine, but not the Other.

#### Error logs / results
[code]

Is there an already existing way to solve this? If not, is there a way to fix it

### Environment info
- OS: Linux Mint 18.3
- Python version: 2.7.12
- Sphinx version: 1.6.6 and 1.7

[2018-02-18 09:16] tk0miya commented on #4611
With #4640, epubcheck says okay for sphinx.
So I'd like to update our Dockerfiles after merged.

[2018-02-18 11:04] jab commented on #79
+1. IMO showing methods inherited from `object` adds a lot of noise to what is otherwise a very useful feature.

How about making `:inherited-members:` hide methods inherited from `object` by default, but letting users opt into showing those if actually desired?

[2018-02-18 12:52] brechtm opened #4643 "Why is add_node() limited to built-in builders?"
I was looking into rendering the Open Data Kit with the rinoh builder. The project defines a custom `video` directive that only generates output when using the HTML builder. See the [add_node() call in video.py](https://github.com/opendatakit/docs/blob/bef9a746138d43058c6789d2639af6695d8c65a7/video.py#L144).

I was hoping that if the rinoh builder would set a `default_translator_class`, that addin

[2018-02-18 13:21] #3626 closed, assigned to brechtm

[2018-02-18 13:57] tk0miya commented on #4641
This comes from the combination of `:glob:` option and URL containing `?`.
I fixed this in #4644.

[2018-02-18 14:15] tk0miya commented on #4643
I think it is not limited. It's simply a bug. And, I believe #4605 will fix it.

Yes, it is used to the translator class by default.
And extensions can override it using `app.set_translator()` API.

[2018-02-18 17:18] #4543 closed, assigned to nobody

[2018-02-18 21:31] Silmathoron commented on #4641
Ok, looking forward to 1.7.1 then, thanks!

[2018-02-19 01:49] #4630 closed, assigned to nobody

[2018-02-19 02:03] tk0miya commented on #4251
The original python doc is marked up like following:
[code]
(at https://github.com/python/cpython/blob/master/Doc/library/pdb.rst)

It seems docstring is not used (or converted by another tool).

[code]
This docstring is interpreted as below:
[code]

As a result, the third line (starts with "Quit from ...") is treated as indented suddenly.
Please update your docstring to correct one.

Thanks,

Not

[2018-02-19 02:07] tk0miya commented on #4255
In sphinx, docname is a string which indicates a document path relative from srcdir. And it does not contain any file-suffix.

Certainly, our docs does not mention about the word. So we need to update it. I think glossary is needed.

[2018-02-19 08:53] Jellby opened #4648 ""rubric" should create an unnumbered \paragraph in latex mode"
I use `.. rubric` to create a heading with no number and no entry in TOC. It works fine in HTML, but in the latex output I get something like:

[code]

which makes no sense. I wanted it unnumbered and got a full set of numbers.

I think `.. rubric` should just create `\paragraph*{...}` instead of `\paragraph{...}`. (Changing "secnumdepth" is not an option, as I have other paragraphs (and subparagr

[2018-02-19 11:04] zufallsgenerator commented on #4520
Sorry, I answered on the go (through an e-mail) and didn't get read the entire context. I now understand @codingjoe 's concern about the django commands that are in subfolders.

I think the entire reason why this is so hard to reason about, is the conditions that says that files that contain less or equal than 2 bytes should be skipped. Removing this check removes the need for a lot of special cas

[2018-02-19 11:36] cruggieri opened #4649 "Broken Search"
### Problem
- Broken Search

build docs with: $make html works as a charm. Pointing docs via webserver is working fine, but search doesn't works:
- cannot find any numbers: index.rst contain "1234567", which is displayed on browser,but if I search it no results displayed. This happen also with IP Address, and others numbers;
- Lots of words with dots doesn't appear: if I search www.example.com, se

[2018-02-19 13:46] cruggieri commented on #4649
Made another test in this enviroment:
OS: Linux Ubuntu 16.04
Python version: 3.5
Sphinx version: 1.7.0

A little better. Now I can find hostnames. But problem is still present serching numbers.
"1234567" as simple text in index.rst doesn't appear.

[2018-02-19 13:46] tk0miya commented on #4563
Fixed by #4637.
Thank you for reporting!

[2018-02-19 13:46] #4563 closed, assigned to nobody

[2018-02-19 14:27] tk0miya commented on #4577
Fixed by #4639.
Thank you for reporting!

[2018-02-19 14:27] #4577 closed, assigned to nobody

[2018-02-19 14:47] ArtFlag commented on #4403
Hi,

Can we tag this as a bug, unless I'm wrong?

[2018-02-19 16:17] bgeron commented on #4577
Thanks for fixing!

[2018-02-19 16:51] tk0miya commented on #4641
Now #4644 is merged.
Thank you for reporting!

[2018-02-19 16:51] #4641 closed, assigned to nobody

[2018-02-19 19:15] polyzen commented on #4632
Please also update http://www.sphinx-doc.org/en/stable/changes.html

[2018-02-20 05:04] raybellwaves opened #4654 "sphinx-apidoc question"
Subject: First time sphinx user, so have a basic question.

### Question
I'm using sphinx for the first time for a small project I started: https://github.com/raybellwaves/cfanalytics

I was able to follow the readthedocs.org [get started page](https://docs.readthedocs.io/en/latest/getting_started.html).

I'm now trying to document and show the API.

I then tried
`sphinx-apidoc -o source/ ../cfana

[2018-02-20 08:55] tockrock opened #4655 "Incomplete localization strings in Polish and Chinese"
Subject: Incomplete localization strings in Polish and Chinese

I can't suggest the improved strings, but would like to mention it here.

- [x] Missing `%r`
https://github.com/sphinx-doc/sphinx/blob/9a82e1098b1827f25773b1fb11dda64d6db136a8/sphinx/locale/pl/LC_MESSAGES/sphinx.po#L1293-L1296

- [x] `%%(cel)e` should be `%%(target)s`?
https://github.com/sphinx-doc/sphinx/blob/9a82e1098b1827f25773b1fb

[2018-02-20 09:45] codingjoe commented on #4520
True, this is a more realistic example to reproduce the problem.
[code]

[2018-02-20 09:52] codingjoe commented on #4520
Ok, I will open a PR about it. I don't know if I can finish it today, but I'll try to get it done EOW.

[2018-02-20 11:52] tk0miya commented on #4632
@polyzen stable branch is not used now. So please refer changes of master branch:
http://www.sphinx-doc.org/en/master/changes.html

[2018-02-20 11:58] tk0miya commented on #4632
Sorry, I have a plan in this Wednesday. I'll do it in Thursday or Friday.

[2018-02-20 12:10] zufallsgenerator commented on #4520
Actually, it's a bit more complicated than I thought, because of the new feature with wildcard excludes  (#930) that has been added since #4334 .

[2018-02-20 13:47] tk0miya commented on #4655
Thank you for reporting. I fixed the second one. But I can't for others...

[2018-02-20 14:03] tk0miya commented on #4649
@shibukawa could you check this please?

[2018-02-20 14:05] tk0miya commented on #4655
I just call a help for sphinx-users list:
https://groups.google.com/forum/#!topic/sphinx-users/yDac7FnK4wc

I hope somebody help us :-)

[2018-02-20 14:16] tk0miya commented on #4654
This is an issue list of Sphinx, not a forum.
Please post a question to sphinx-users list: https://groups.google.com/forum/#!forum/sphinx-users
I think many sphinx users will help you.

FYI: I think toctree is good for your case.
http://www.sphinx-doc.org/en/master/markup/toctree.html

[2018-02-20 14:30] tk0miya commented on #4648
+1; reasonable.

The reST definition says it is not a part of document structure.

I don't know `\paragraph*{...}` is best. But I can say `\paragraph{...} is not good.

Note: We have to change the behavior carefully. This might be a bug. But it is longly used behavior, so it is like an incompatible change. It might be needed a migration path.

[2018-02-20 14:31] tk0miya commented on #4648
@Jellby it would be nice if you use our issue template on next time. An input example is very helpful for me.

[2018-02-20 15:56] tk0miya commented on #1373
Since 1.5, we started to use `requests` library for linkcheck.
At same time, we also verify TLS certifications.
http://www.sphinx-doc.org/en/master/config.html#confval-tls_verify

So I think this was already resolved.
Thanks,

[2018-02-20 15:56] #1373 closed, assigned to nobody

[2018-02-20 16:06] tk0miya commented on #1469
I think this is not a bug. `:event:` is a custom object type for sphinx document. It's not standard one. So you need to set up your project to refer it.

I copied from some implementations from `sphinx/docs/conf.py` like following:
[code]

Then, I can refer events correctly.

[2018-02-20 16:06] #1469 closed, assigned to nobody

[2018-02-20 16:12] tk0miya commented on #1453
I can't reproduce this bug. It would be nice if anyone has reproducible example.

[2018-02-20 16:14] tk0miya commented on #1452
It seems not a bug of plot_directive. And @dietmarw says it was already fixed.
So I'm closing this now.

Thanks,

[2018-02-20 16:14] #1452 closed, assigned to nobody

[2018-02-20 16:20] tk0miya commented on #1432
This was already fixed by https://github.com/sphinx-doc/sphinx/commit/2c5c54aa67869ca5d3ae36f8392b6ab170c20c9a

Thanks,

[2018-02-20 16:20] #1432 closed, assigned to nobody

[2018-02-20 16:27] tk0miya commented on #1415
I think this is not a bug. `source-read` event is emitted before parsing. It simply gives a content of the source file. If you'd like to get parsed document, please use `doctree-read` instead.

Note: there are no way to get plain text after processing `include` directive. The directive works on parsing phase. so the result is not a plain text.

[2018-02-20 16:27] #1415 closed, assigned to nobody

[2018-02-20 16:31] tk0miya commented on #1435
Here is an attached patch (salvaged from bitbucket):
[code]

[2018-02-20 16:34] tk0miya commented on #1479
It seems this works fine with latest release.
I don't know when this was fixed.
So I'm closing this now.

Thanks,

[2018-02-20 16:34] #1479 closed, assigned to nobody

[2018-02-20 16:43] tk0miya commented on #1723
refs: #161

[2018-02-20 16:49] tk0miya commented on #1799
It seems this is an installation problem of jinja2 library.
Please let me know if you still have this problem.

Thanks, and sorry for very very late response.

[2018-02-20 16:49] #1799 closed, assigned to nobody

[2018-02-20 17:09] dilyanpalauzov commented on #4602
Does `contents` allow referencing the current file and other files at the same time, so that it is used not only for rendering, but also for updating the global table of content structure?

[2018-02-20 17:30] tk0miya commented on #4554
Any updates? I think this is not a bug of Sphinx.
So I'd like to close this.

[2018-02-20 17:31] tk0miya commented on #4535
I'm closing this now because this is not a bug of Sphinx.
Thanks,

[2018-02-20 17:31] #4535 closed, assigned to nobody

[2018-02-20 17:31] tk0miya commented on #4481
I'm closing this now because this is not a bug of Sphinx.
Thanks,

[2018-02-20 17:31] #4481 closed, assigned to nobody

[2018-02-20 17:33] gboeing commented on #4554
fixed it with a conda env: https://github.com/gboeing/osmnx/pull/126

[2018-02-20 17:33] #4554 closed, assigned to nobody

[2018-02-20 17:34] tk0miya commented on #4375
I marked this as wontfix.
Thank you for your proposal!

[2018-02-20 17:34] #4375 closed, assigned to nobody

[2018-02-20 17:35] #4276 closed, assigned to nobody

[2018-02-20 20:55] raybellwaves commented on #4654
Thanks a lot. I'll close this. Mind it I make a quick PR to add the google-group url into the README? I was looking for something like this to post

[2018-02-20 20:55] #4654 closed, assigned to nobody

[2018-02-21 12:26] m-aciek commented on #4655
In first (Polish) case it should be:
[code]

[2018-02-21 12:51] dilyanpalauzov opened #4660 "__repr__(), util.object_description() and ext.autodoc.add_directive_header()"
Calling autodoc with undoc-members invokes eventually `sphinx.ext.autodoc.add_directive_header()` which calls `sphinx.util.object_description()`, which calls `repr(object)`, which in turn calls `__repr__()` on the parameter.

`Django.db.models.query.__repr__()` tries to connect to the underlying database and throws django.db.utils.OperationalError "Connection refused" when it has bad luck.  In suc

[2018-02-21 18:57] tony commented on #4229
I don't think ``html_scaled_image_link`` is sufficient because I want to preserve the link behavior by default. I want to opt-out of the link for scaled images.

So I like the ``:nolink:`` idea.

[2018-02-21 23:40] kohr-h opened #4662 "`any` refs with `:std:term` targets crash when an ambiguity is encountered"
Since 1.7, `any` targets raise a `KeyError` in [this line](https://github.com/sphinx-doc/sphinx/blob/f8bb40ab308b5daacfe45979a4e42fa82f8ef8ed/sphinx/transforms/post_transforms/__init__.py#L138) since apparently, the `Element` object in question has no `'reftitle'` attribute.

[Here](https://travis-ci.org/odlgroup/odl/jobs/344544774)'s a link to a failing Travis build, although the error message is

[2018-02-22 05:43] tockrock commented on #4655
Sent a pull request with the suggestion from @m-aciek

[2018-02-22 11:37] ederag opened #4664 "Reading objects.inv fails again in 1.7.0."
### Problem
- Reading PyQt5 remote `objects.inv`, adapting from [this answer](https://stackoverflow.com/a/36831198/3565696) failed.
But it is not limited to PyQt5. The command
`python -m sphinx.ext.intersphinx 'http://python-eve.org/objects.inv'`
fails with the same error, although it was claimed to work with 1.6.2 in [this comment](https://stackoverflow.com/questions/30939867/how-to-properly-writ

[2018-02-22 12:11] tk0miya commented on #4655
@m-aciek @tockrock Thanks!

[2018-02-22 14:58] tk0miya commented on #4662
Is there any procedure to reproduce?

[2018-02-22 16:00] tk0miya commented on #3127
Note: Similar to #4576.

We need to reproduce the situation to investigate this.

[2018-02-22 16:19] tk0miya commented on #274
Since Sphinx-1.6, we're switched to docutils' smartypants feature (a.k.a. smart_quotes).
It supports multiple languages. So I think this is already resolved.

[2018-02-22 16:19] #274 closed, assigned to nobody

[2018-02-22 16:31] kohr-h commented on #4662
Well, there may be, but I can't think of an easy way to generate a minimal example. If you know any, or if you can point me to a unit test that I could look into in order to test handling of glossary terms, I'd be grateful to learn.

[2018-02-23 13:57] tk0miya commented on #4664
Fixed by #4665

[2018-02-23 13:57] #4664 closed, assigned to nobody

[2018-02-23 13:57] tk0miya commented on #4664
Thank you for reporting!

[2018-02-23 14:29] tk0miya commented on #4662
Fixed by #4666
Thank you for reporting.

[2018-02-23 14:29] #4662 closed, assigned to nobody

[2018-02-23 14:37] tk0miya commented on #4632
From now on, I start packaging.

[2018-02-23 14:46] tk0miya commented on #4632
Released!
https://pypi.python.org/pypi/Sphinx

[2018-02-23 14:46] #4632 closed, assigned to nobody

[2018-02-23 17:42] tk0miya commented on #820
Recently our policy is making sphinx-core simple and smart.
So I'm closing this now.
Thanks,

[2018-02-23 17:42] #820 closed, assigned to nobody

[2018-02-23 20:10] ViktorHaag opened #4669 "sphinx.build_main and sphinx.make_main deprecated, but throw NameError"
Subject: Attempts to directly invoke sphinx.build_main() or sphinx.make_main() result in NameError

### Problem
- I have a wrapper script that directly invokes sphinx.make_main(); with Sphinx 1.7.1 this now results in a NameError exception instead of just the intended deprecation warning.

#### Procedure to reproduce the problem

Attempt to directly call the (now deprecated) sphinx.make_main().

#

[2018-02-23 20:20] ViktorHaag commented on #4669
Note, I have migrated my wrapper code to invoke from sphinx.cmd.build.make_main(), and the move of the entry point seems fine to me -- I only think that this change between 1.7.0 and 1.7.1 should warn but necessarily break. If maintainers feel this is unwarranted and want to simply close this issue, that's fine.

Related issues: #4615 and #4623

[2018-02-23 20:26] kohr-h commented on #4662
Oh great, thanks a lot @tk0miya!

[2018-02-24 01:57] tk0miya commented on #991
I can't reproduce the error. So I'm closing this now.
Please file a new issue if you still have this problem.
Thanks,

[2018-02-24 01:57] #991 closed, assigned to nobody

[2018-02-24 02:03] tk0miya commented on #988
It seems this is already fixed at latest version. Closing.

[2018-02-24 02:03] #988 closed, assigned to nobody

[2018-02-24 02:13] tk0miya commented on #980
It seems this is already fixed at latest version. Closing.

[2018-02-24 02:13] #980 closed, assigned to nobody

[2018-02-24 02:15] tk0miya commented on #1136
It seems this was fixed by #3393. Closing.

[2018-02-24 02:15] #1136 closed, assigned to nobody

[2018-02-24 02:30] tk0miya commented on #4643
I think this is resolved by #4605.
Please let me know if it still does not work well.
Thanks,

[2018-02-24 02:30] #4643 closed, assigned to nobody

[2018-02-24 02:44] tk0miya commented on #937
It seems working with latest version. Closing.

[2018-02-24 02:44] #937 closed, assigned to nobody

[2018-02-24 02:49] tk0miya commented on #726
Note: I found a similar post for customization of mathjax.
https://github.com/sphinx-doc/sphinx/issues/969#issuecomment-151689150

[2018-02-24 09:54] zufallsgenerator commented on #4520
I am working on a fix. Will push today.

[2018-02-24 10:53] zufallsgenerator commented on #4520
(Pull request)(https://github.com/sphinx-doc/sphinx/pull/4670) added, should probably go to master and then 1.7.1
@codingjoe  I think I've solved it already, so don't put unnecessary work in if you find my solution acceptable.

[2018-02-24 16:12] tk0miya commented on #4669
OMG, that is not intended...

[2018-02-24 16:53] TimKam commented on #3477
#3938 fixed this ~half a year ago. I think this can be closed @tk0miya.

[2018-02-25 02:19] tk0miya commented on #3477
Right! Closing now:)

[2018-02-25 02:19] #3477 closed, assigned to shimizukawa

[2018-02-25 02:32] #4188 closed, assigned to nobody

[2018-02-25 02:32] #4244 closed, assigned to nobody

[2018-02-25 17:14] rddaz2013 opened #4677 ".. raw:: latex is not includes with sphinx 1.7"
Subject: .. raw:: latex is not include with sphinx 1.7

### Problem
- content after ".. raw:: latex" is not includes with sphinx 1.7

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]

### Environment info
- OS: '3.6.1 |Anaconda custom (64-bit)| (default, May 11 2017, 13:09:58) \n[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]'
- Sphinx version: 1.7.0
- <Extra tools e.g.: Bro

[2018-02-26 09:37] 13steinj opened #4678 "Behavior when documenting a __slots__ attribute is unexpected"
Subject: Behavior when documenting a __slots__ attribute is unexpected

### Problem
When using autodoc to document a class with a `__slots__` attribute, some unexpected behavior occurs. Slots _can_ be members of both the class and the object, however this only occurs if they are initialized in the class definition, however they do not have to be, and in this case are instance variables only, if th

[2018-02-26 15:01] rpuntaie opened #4679 "literal text got colored python keywords"
In

[code]

``is`` and ``not`` are colored.

Sphinx 1.7.1

[2018-02-26 15:29] tk0miya commented on #4679
This is not a bug. By default, `highlight_language` is set as `python3`.
http://www.sphinx-doc.org/en/master/config.html#confval-highlight_language

[2018-02-26 18:25] proland commented on #4446
This appears to be broken again in 1.7

[2018-02-26 19:37] pinepain commented on #3215
After carefully reading `conf.py` what @shimizukawa provided in the project example, I noticed that you have to add `sphinxcontrib.phpdomain` to the list of extensions. It looks like quite common misunderstanding for newcomers, so I'd like to cover this case with pointing at it:

In case you hit the same issue like I did, having something like

[code]

in your `conf.py` should help.

[2018-02-26 20:39] rpuntaie commented on #4679
It is a reasonable default for

[code]

or

[code]

but one cannot apply any coloring for my example above.
That is rather to be treated like the text enclosed in double backticked

[code]

Your link doesn't say anything about my example.

[2018-02-27 01:41] tk0miya commented on #4679
In reST, both `::` notation and `.. code::` directive are used for creating "literal-block".
http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html#literal-blocks
http://docutils.sourceforge.net/docs/ref/rst/directives.html#code

In Sphinx, they are also treated as same.

[2018-02-27 01:50] tk0miya commented on #4677
On my local, it seems working fine.
Could you show me an example of reST file and generated .tex file please?

[2018-02-27 01:51] tk0miya commented on #3215
Hmm... it seems the document of phpdomain does not mention about `conf.py`.
http://pythonhosted.org/sphinxcontrib-phpdomain/#install

I guess it was reason of this issue.

[2018-02-27 02:19] shahzebsiddiqui opened #4680 "asciinema video support"
I would like to add asciinema https://asciinema.org/ video into my documentation. I don't know if there is a way to embed the video so you can view it inside the documentation. I dont want to link to the page since that defeats the purpose of this issue request.

Please see https://asciinema.org/docs/embedding for more details on asciinema embedding support

[2018-02-27 06:55] rpuntaie commented on #4679
From http://docutils.sourceforge.net/docs/ref/rst/directives.html#code

    The "code" directive constructs a literal block.

"code is a literal block" does not mean that all literal blocks are code.

    If the code language is specified, the content is parsed by the Pygments syntax highlighter

So there should be no default coloring for ``.. code::``.

This was about the code diretive.
It doesn'

[2018-02-27 08:08] stupidchen opened #4681 "TypeError happened when running sphinx-build"
Subject: TypeError happened when running sphinx-build

### Problem

When running sphinx-build a TypeError was raised. Nothing was output except .doctree

#### Procedure to reproduce the problem
[code]

#### Error logs / results

[code]

### Environment info
- OS: Windows 7
- Python version: 3.6.2 (CPython)
- Sphinx version:  1.7.1
- Docutils version: 0.14
- Jinja2 version: 2.10

[2018-02-27 08:17] stupidchen commented on #4681
Here is the code raised the exeception:

`tokens = date_format_re.split(format)`

It seems that format are bytes. Thus before it use re to split the format it should decode the format to text string. I changed the code as below and then sphinx-build works well:

`tokens = date_format_re.split(format.decode('utf-8'))`

[2018-02-27 09:31] juh2 opened #4682 "role any does not work with intersphinx"
### Problem

```any:`Builder` ``` does not link to sphinx.builders.Builder

#### Procedure to reproduce the problem

In conf.py

[code]

In test.rst

[code]

#### Error logs / results
[code]

#### Expected results

Link to sphinx.builders.Builder

### Environment info
- OS: <Linux
- Python version:  3.5.3
- Sphinx version: 1.7.1

[2018-02-27 12:44] joelanders opened #4683 "Toctree not being translated"
[First reported in the Google Group, I'm opening an issue here on request](https://groups.google.com/forum/#!topic/sphinx-users/BMK0zWylFhQ)

### Problem
Not all of a `toctree`'s text is being translated.

Given an example `.rst`:
[code]
running `sphinx-build gettext` produces a `.pot` with a `msgid`/`msgstr` pair for "Contents:" but not "Explicit Title" or "External Link".

It's somewhat avoidabl

[2018-02-28 08:33] jorisvandenbossche opened #4685 "A lot of spurious warnings after upgrading 1.7.0 -> 1.7.1"
On the pandas doc build on travis, once it started using 1.7.1, there are a lot of warnings in the log output like (see eg https://travis-ci.org/pandas-dev/pandas/jobs/347059156, but there is a lot of other noise in the log output):

[code]

that were not there before (with 1.7.0).
It might be that those warnings are trying to warn for actual cases where there is a problem with this. But, the prob

[2018-02-28 09:38] dcalvin opened #4686 "Getting "tuple index out of range error" when generating PDF>"
Subject: <Getting ` tuple index out of range` error when generating PDF>

### Problem
failed to generating PDF after I firstly installed LaTex and used it with Sphinx. Begging for help. Thanks in advance.

#### Procedure to reproduce the problem
[code]

#### Error logs / results
[code]
- <public link of unexpected result if you have>

### Environment info
- OS:  Windows 10
- Python version: 2.7.13

[2018-02-28 13:10] tk0miya commented on #4446
Confirmed with following Dockerfile:
[code]

Sorry, I might made a bug on merging...  I'll take a look later.

[2018-02-28 13:16] tk0miya commented on #4686
`latex_document` should be a list of tuple which has **5 or 6 elements**. I think this is configuration error. Please read our document and update it.
http://www.sphinx-doc.org/en/master/config.html#confval-latex_documents

[2018-02-28 13:17] tk0miya commented on #4683
+1

[2018-02-28 13:40] tk0miya commented on #4680
-1; It would be nice if this is implemented as Sphinx extension, not sphinx-core.

[2018-02-28 13:43] tk0miya commented on #4681
How did you set up `html_last_updated_fmt` in conf.py? I guess it is set bytes object.

[2018-02-28 13:59] tk0miya commented on #4682
How about adding module?
[code]

[2018-02-28 14:02] #4669 closed, assigned to nobody

[2018-02-28 14:04] tk0miya commented on #4669
Fixed by #4672.
Thank you for reporting

[2018-02-28 14:19] tk0miya commented on #1031
-1; As Jon commented, autodoc imports the module on documenting.

[2018-02-28 14:19] #1031 closed, assigned to nobody

[2018-02-28 14:31] tk0miya commented on #1063
Certainly, module global variables not having docstring is not documented even if `:undoc-members:`.

[2018-02-28 15:20] tk0miya commented on #1042
I think parenthesis should be stripped in both case. So I made a PR #4687 .

[2018-02-28 15:35] kovax opened #4688 "Error to download remote images having long URL"
Subject: Build was triggered manually

https://readthedocs.org/projects/cristalise-kernel/builds/6818449/

### Problem

OSError: [Errno 36] File name too long: '/home/docs/checkouts/readthedocs.org/user_builds/cristalise-kernel/checkouts/latest/_build/doctrees-epub/images/https/www.planttext.com/plantuml/img/VLAnJiCm4Dtz5IUpWLpHjIfH4LqwWK2T48CRcyGeYIFx0aAb_yx5IUmKYKxHtRrtxzsBDnwbmwwk6Df2OwaT71ayII

[2018-02-28 15:38] lsaffre commented on #4563
It seems that this fix caused a regression: now when I have a docstring "blabla, i.e. blablabla", autosummary trims it to "blabla, i." I'll create issue #4689 for this.

[2018-02-28 15:43] tk0miya commented on #1582
Did anyone report to python project? Is there anything to do from Sphinx side?
It seems both are still not registered to 3.6 docs.

[2018-02-28 15:46] lsaffre opened #4689 "autosummary unexpectedly strips docstrings containing "i.e.""
When I have a docstring "blabla, i.e. blablabla", autosummary trims it to "blabla, i."
Until 1.7.0 (before #4563 was fixed) autosummary truncated to "blabla, i.e.". Both truncations are a problem.

To reproduce the problem, write the following function in a module which is documented using autosummary:
[code]

[2018-02-28 16:06] tk0miya commented on #1641
With Sphinx-1.7, this problem is already resolved. It supports `print_function` feature.
So I'm closing this now.
Thanks,

[2018-02-28 16:06] #1641 closed, assigned to nobody

[2018-02-28 16:08] tk0miya commented on #1208
-1; docstring is standard way to add description for functions.

[2018-02-28 16:08] #1208 closed, assigned to nobody

[2018-02-28 16:09] tk0miya commented on #1202
+0; I don't know `$NAME` is best, but that's nice if there are standard envvars for authors.

[2018-02-28 16:24] tk0miya commented on #1349
I think this is a problem of CSS (a.k.a. kerning). I feel adding very small margin (ex. `0.1em`) will resolve this.
I don't know my idea is good enough or not.

Note: this might be a hint.
https://bytes.com/topic/html-css/answers/548616-preventing-italics-text-hitting-next-character

[2018-02-28 16:28] tk0miya commented on #1394
It seems this is already fixed (I confirmed with 1.7.1). So I'm closing this now.

[2018-02-28 16:28] #1394 closed, assigned to nobody

[2018-02-28 16:34] tk0miya commented on #1407
@ericholscher Do you remember this problem is resolved now? Sorry, this is very old issue. But I'm cleaning old issues now. So please let me know if you remember something about this.
I guess this is already resolved at present.
Thanks,

[2018-02-28 16:37] tk0miya commented on #1423
At present, the errored line is not left. The `import_object()` function is much refactored after reporeted. So we can't reproduce the error now.
So I'm closing this now.
Pelase let me know if you still have this problem.

Thanks,

[2018-02-28 16:37] #1423 closed, assigned to nobody

[2018-02-28 16:40] bsipocz commented on #1582
@tk0miya - I can't recall the details but most probably I added that workaround PR for astropy and didn't report it upstream myself.

[2018-02-28 17:23] tk0miya commented on #1506
Your implementation of decorator hides a original docstring of the method. This is problem of target code, not autodoc.
Please use `functools.wraps()` to keep docstring of original method.

Thanks,

[2018-02-28 17:23] #1506 closed, assigned to nobody

[2018-02-28 17:24] tuchfarber opened #4692 "Bad translation is causing compilemessages issue"
Subject: Running compilemessages on a project that depends on Sphinx causes an error due to a bad translation.

### Problem
- A translation in the zh_CN locale has a mismatch of formatting variables. The message_id has 2 and the translation only has 1, causing an error.

#### Procedure to reproduce the problem
1. Create a django project that has Sphinx as a dependency
2. Run `python manage.py comp

[2018-03-01 01:55] stupidchen commented on #4681
@tk0miya

`html_last_updated_fmt` was set below in conf.py:

[code]

I try to get the value and type of `html_last_updated_fmt` in the same environment:

[code]

I think `html_last_updated_fmt` is a text string.

[2018-03-01 03:43] ericholscher commented on #1407
I'm not sure. I think it can be closed though, and I will re-open another issue if it happens again!

[2018-03-01 08:02] tk0miya commented on #4655
I noticed there is one more invalid translation.
https://github.com/sphinx-doc/sphinx/blob/d48e1ef9e5d2fda22b48e25d5f2289b19b919b31/sphinx/locale/zh_CN/LC_MESSAGES/sphinx.po#L265-L268

[2018-03-01 08:12] tk0miya commented on #4688
Sorry for inconvenience.

The error is caused at downloading remote images. It seems github wiki uses hash codes for its URL:
https://github.com/cristal-ise/kernel/wiki/Lookup

[2018-03-01 08:40] tk0miya commented on #4692
I'm closing this because this is duplicated with #4655.
Anyway, thank you for reporting!

[2018-03-01 08:40] #4692 closed, assigned to nobody

[2018-03-01 08:42] kovax commented on #4688
This is not a mistake, I use plantuml to draw diagrams to document the software. Check this URL:

https://www.planttext.com/plantuml/img/VLAnJiCm4Dtz5IUpWLpHjIfH4LqwWK2T48CRcyGeYIFx0aAb_yx5IUmKYKxHtRrtxzsBDnwbmwwk6Df2OwaT71ayIInX_IC4FDjAzzMyjqDT_-rjRIrD4xedDW66qNsX6moJD12lfL5ADs-LVaUH9Hac3nwTp14UAkdzgB2UkbdMsmFnWiuq1RI37algm5lfI0-M74YRvwMf55ppcK5O0UTiKloN4041VYP1Kp4QvxUB1J7ZOIkWF2b85g-60I_29zqP6Nm

[2018-03-01 09:48] astrofrog commented on #4689
I am seeing a related issue in a number of packages - for example I have a method with the following as the first line of the docstring:

[code]

causes warnings such as:

[code]

Is this the same underlying problem or shall I open a separate issue?

[2018-03-01 11:28] Kurara commented on #1114
Althought this is old and closed, I would like to say that I had the same problem which was resolved by deleting _build cache as you suggested.

[2018-03-01 13:50] tk0miya commented on #4685
Thank you for reporting. The warnings are emitted on creating autosummary tables. But it is not a problem of markups.
That's only bug of autosummary.

[2018-03-01 13:53] jorisvandenbossche commented on #4685
And thanks for fixing!

[2018-03-01 14:16] lsaffre commented on #4689
I see these warnings as well with 1.7.1 and they equally seem to be
caused by the the autosummary table, but I'd say that they are worth a
separate issue.

On 01/03/18 11:48, Thomas Robitaille wrote:

[2018-03-01 14:21] tk0miya commented on #4689
@astrofrog The problem you mentioned is already reported as #4685. And I'm working for it. Please wait a moment.

[2018-03-01 14:27] tk0miya commented on #4688
Yes, I know this is a bug of Sphinx. I'll work for it later.

[2018-03-01 14:31] tk0miya commented on #1407
Thank you for comment. Okay, I'm closing this now :-)

[2018-03-01 14:31] #1407 closed, assigned to nobody

[2018-03-01 14:35] tk0miya commented on #1582
Thank you for comment. I think there are nothing to do from sphinx side.
So I'm closing this now.
Thanks,

[2018-03-01 14:35] #1582 closed, assigned to nobody

[2018-03-01 16:31] tk0miya commented on #4681
The type of return value of `subprocess.Popen()` is different between py2 and py3.
[code]
[code]

And it seems your document is built with `python3`. So it `html_last_update_fmt` is a bytes data.
So please decode it before assignment.

Note: I guess you used `python2` on investigation in last comment. Because there was "print statement" in console log.

[2018-03-02 01:44] stupidchen commented on #4681
@tk0miya Thanks for your answer. I think the reason your found is right. Can I just change default Python version to make Sphinx works correctly?

P.S. I can't found `python3` command in the environment and the deafult version of `python` command is 2.7.14. But I found `Python/Python36/Scripts` and `Python/Python36` in environment variables(ORIGINAL_PATH and PATH).

[2018-03-02 09:27] PatrickMassot commented on #4649
Another example: searching for "calc" in [Theorem proving in Lean](https://leanprover.github.io/theorem_proving_in_lean/search.html?q=calc&check_keywords=yes&area=default) returns a couple of result but completely misses [a full subsection](https://leanprover.github.io/theorem_proving_in_lean/quantifiers_and_equality.html#calculational-proofs) whose title contains "calc" and whose body contains 13

[2018-03-02 10:00] kovax commented on #4688
Currently this error stops the entire build, and if I go to the project link I see nothing:

http://cristalise-kernel.readthedocs.io/en/latest/

I would expect to get most of my docs imported even there was an error. Is it correct? Do I miss some other steps? Would it be possible to generate the docs even if there was an error?

[2018-03-02 13:53] brechtm commented on #4643
Thanks @tk0miya. I'll report back here once I've had the time to try it.

[2018-03-02 14:23] jfbu opened #4701 "Misplaced ``<div>`` in viewcode html output since Sphinx 1.7.0"
Image shows it:

![capture d ecran 2018-03-02 a 15 13 27](https://user-images.githubusercontent.com/2589111/36902950-81851e38-1e2c-11e8-91fb-30f2bf1a4d92.png)

there is an extra line above the final one of the procedure, and the html source (in ``_build/html/_modules/foo.html``) looks like this

[code]

the closing ``</div>`` is mis-placed (not at end of last line but at end of previous one).

Thi

[2018-03-02 14:38] jfbu commented on #4677
On simple project I see no problem either.

[2018-03-02 14:51] rddaz2013 commented on #4677
aftermate from #3594

works in my old env...

now i need

[2018-03-02 15:03] jfbu commented on #4701
First bad commit appears to be 8683823536505aef3b96627ce9ea4784d5385eb0 (PR #3937)

[2018-03-02 15:10] jfbu commented on #4677
@rddaz2013 It worked really? I thought rst directives had to be followed by empty line after options. Thus, seems old syntax was working by chance. I don't see if you have correct indentation here but I guess you do.

[2018-03-02 15:34] tk0miya commented on #4685
Note: I made following Dockerfile to build docs of pandas module.

[code]

[2018-03-02 15:48] tk0miya commented on #4688
In Sphinx-1.7, the very long image URL causes Sphinx crashed.
So please pin the version of Sphinx to 1.6.x or more older version.

[2018-03-02 15:54] tk0miya commented on #4649
@PatrickMassot The searching of Sphinx goes exact match. It seems Chapter 4.3 does not contain the "calc" word. I know highlighting is not good. It behaves like partial match. That's very confusable.

[2018-03-02 15:59] tk0miya commented on #4681
Sphinx is installed as python package. Therefore the python version is determined at installation.
So please use `pip` command of python2 to install Sphinx.

[2018-03-02 16:20] rddaz2013 commented on #4677
For my 'Latex' -documents i have a submission page - that was just gone now after the update to 1.7.
Nothing serious - but confusing the moment I discovered the missing pages in the report.

It may be that my preprocessing of the rst / markdown file is the real cause. One part adding a "\n" into the block and now not anymore.

Can be closed..
Sorry for the inconvenience

[2018-03-02 16:34] tk0miya commented on #4685
Fixed by #4696.
Thank you for reporting.

[2018-03-02 16:34] #4685 closed, assigned to nobody

[2018-03-02 17:13] stupidchen commented on #4681
@tk0miya OK! Thanks for your help!

[2018-03-02 17:13] #4681 closed, assigned to nobody

[2018-03-02 21:58] PatrickMassot commented on #4649
The title of the section does not contain the full word but the body contains it a lot.

[2018-03-03 05:58] #4677 closed, assigned to nobody

[2018-03-03 10:58] tk0miya commented on #3290
-1; I think this is not important for Sphinx. It's not correct opts object for apidoc. The interface is not public one. So I'd like to keep as is.

[2018-03-03 17:33] tk0miya commented on #3037
@shimizukawa It seems this was already fixed. Can I close this?

[2018-03-04 01:55] shimizukawa commented on #3037
Thanks for excavating! It seems I forgot to close.

[2018-03-04 01:55] #3037 closed, assigned to shimizukawa

[2018-03-04 03:11] tk0miya commented on #2823
I think autodoc can document partial-methods. So I'm closing this now.
Thanks,

[2018-03-04 03:11] #2823 closed, assigned to nobody

[2018-03-04 03:21] tk0miya commented on #3075
Sorry for late response and inconvenience.

This is incompatible change since 1.4 (see #2320).
After the change, the `entries` was changed to a list of `entryname, (links, subitems, key)`.

AFAIK, there were no migration path. So could you update your theme please?

Thanks,

[2018-03-04 18:18] RemiDav opened #4708 "Error: path is on mount 'C:', start on mount 'D:'"
### Problem
In Spyder, Sphinx crashes when using modules on both C: and D: drive (Windows).

[code]

#### Procedure to reproduce the problem
Just load modules from C: and D:.
Working directory in D:.
Have the auto-help loading in spyder activated (loads help when writing a left parenthesis)
Write code calling a function, example: range()

#### Expected results
help loading normally

### Environmen

[2018-03-04 23:06] RemiDav commented on #4708
Note: Reinstalling completely anaconda solved it. I am afraid to update now.
Anyone reproduced it ?

[2018-03-05 12:29] tk0miya commented on #4708
The message is not Sphinx's. I guess the error is came from spyder.

[2018-03-05 12:55] tk0miya commented on #4649
@PatrickMassot It seems your case is not same as this issue says. Please file a new issue, and please let me know in detail. I'd like to know what you expect.

[2018-03-05 15:10] ederag commented on #4664
Confirmed, it works fine with 1.7.1. Congratulations !

[2018-03-05 17:17] stratakis opened #4710 "python2 tests on Fedora, fail with import error on Sphinx 1.7+"
### Problem
On the Fedora build system, when invoking the tests under python2 with `make test` some tests fail with <ImportError: No module named websupport> . Full build log is attached. The sphinxcontrib-websupport is packaged for Fedora and pulled during build. There is no failure when invoking the tests under python3.

#### Procedure to reproduce the problem
Unfortunately it wasn't possible fo

[2018-03-05 20:16] PatrickMassot opened #4711 "Search sections"
### Problem
- Searching fails to find a word in code blocks

#### Procedure to reproduce the problem

Go to https://leanprover.github.io/theorem_proving_in_lean/ search for calc

#### Error logs / results
-  https://leanprover.github.io/theorem_proving_in_lean/search.html?q=calc&check_keywords=yes&area=default

Build says
[code]

#### Expected results
I expected to see a link to https://leanprover

[2018-03-05 20:17] PatrickMassot commented on #4649
@tk0miya Thank you. I've opened:  #4711 with a guess of what goes wrong (the word appears only in code snippets).

[2018-03-06 06:56] tk0miya commented on #4711
I guess you'd like to search sections. But, in current implementation, the Sphinx search is based on document, not section. The search result already contains "4. Quantifiers and Equality" document.
So I think this is feature enhancement. Is my understanding right?

[2018-03-06 07:08] tk0miya commented on #4710
What can I help you with? It looks there are no `sphinx.writers.websupport` on building.

[2018-03-06 08:08] PatrickMassot commented on #4711
Sorry, I could swear the section did not appear in the results but you are right: it's because it's a section inside a web page. Indeed it would be an enhancement to display sections in the search result page, but there is no bug.

[2018-03-06 11:20] stratakis commented on #4710
It seems that sphinx.writers.websupport is indeed there while building however the tests are not able to discover it. During the testing phase of the build (but before invoking `make test`) I also invoked the interpreter and imported the module successfully. Adjusted PYTHONPATH as well but the same issue. Will try to debug further.

[2018-03-06 14:45] tk0miya commented on #2091
It seems the `scipy` module is not documented.
[code]

On the other hand, `numpy` module is documented.
https://github.com/numpy/numpy/blob/master/doc/source/reference/index.rst

If you'd like to refer them, please ask to each project.
Thanks,

[2018-03-06 14:45] #2091 closed, assigned to nobody

[2018-03-06 14:56] tk0miya commented on #1728
Sorry for very late response.

-1: I think sphinx-core should have minimum features as possible. IMO, this is not required feature for all of document.

But I feel this is very useful for some users. So +1 for providing this as 3rd party extension.
I think sphinx-core should be slim and should have only commonly used features.

[2018-03-06 14:57] #1806 closed, assigned to nobody

[2018-03-06 14:58] tk0miya commented on #1806
We'll track this issue in #759.
Thank you for reporting

[2018-03-06 14:59] tk0miya commented on #1851
+1: reasonable.

[2018-03-06 15:01] tk0miya commented on #1872
It seems this was already resolved. I confirmed with 1.7.1.
Thanks,

[2018-03-06 15:01] #1872 closed, assigned to nobody